<div id="open-modal" class="modal-window timeout-modal">
	<div>
		<h2>Your session is about to expire.</h2>
		<p>There has been no interaction with MyService for a while. Please choose to stay logged in or to logoff. Otherwise, you will be logged off automatically in <b>60 seconds</b>.</p>
		<div class="modal-buttons">
			<button class="uikit-btn floated uikit-btn--tertiary" onclick="window.location.href = '/'">Log off</button>
			<button class="uikit-btn floated " onclick="window.location.href = '#modal-close'">Stay logged in</button>
		</div>
	</div>
</div>


