<div id="open-coc-ai-delete-modal" class="modal-window">
	<div>
		<a href="#modal-close" title="Close" class="modal-close">Close</a>
		<h2>Delete this transaction?</h2>
		<p>All changes will be deleted.</p>
		<div class="modal-buttons">
			<button class="uikit-btn" onclick="window.location.href = '/auth/profile/income-assets'">Delete</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
		</div>
	</div>
</div>
