<%- include(templates+"header", {
  claim: "Profile - income &amp; assets",
  heading: "Review and submit"
}) %>


<%- include(components+"review-submit", {
    claim_title: "Change of address",
    categories: [
      {
        title: "Your new address",
        edit_url: "/auth/profile/residential-address/residential-address-01",
        data: [
        {
          q: "New residential address",
          a: "220 Seview parade<BR/>Launceston<BR/>TAS 2477<BR/>Australia"
        }
      ]
      },
      {
        title: "Your living arrangements",
        edit_url: "/auth/profile/residential-address/residential-address-02",
        data: [
        {
          q: "Which of the following best describes your new living arrangements?",
          a: "In residential aged care home (nursing home) which provides nursing care"
        },
        {
          q: "What is the name of the nursing home or hostel?",
          a: "Seaview aged care"
        },
        {
          q: "Did you pay an accommodation bond or charge?",
          a: "Yes"
        },
        {
          q: "How much did you pay?",
          a: "$435,000"
        },
        {
          q: "How much do you pay ongoing for your accommodation?",
          a: "$500 monthly"
        },
        {
          q: "Date you started paying?",
          a: "21/04/2020"
        }
      ]
      },
      {
        title: "About the move",
        edit_url: "/auth/profile/residential-address/residential-address-03",
        data: [
        {
          q: "Date of move",
          a: "21/04/2020"
        },
        {
          q: "Is the move permanent?",
          a: "Yes"
        },
        {
          q: "Who else will be moving to the new address?",
          a: "(none selected)"
        }
      ]
      },
      {
        title: "About your previous home",
        edit_url: "/auth/profile/residential-address/residential-address-04",
        data: [
        {
          q: "Did you own your previous home?",
          a: "Owned and now sold"
        },
        {
          q: "Sale price",
          a: "$1,232,000.00"
        },
        {
          q: "Net profit",
          a: "$1,192,455.32"
        },
        {
          q: "Settlement date",
          a: "28/04/2020"
        },
        {
          q: "Do you intend to purchase a new home within the next 12 months?",
          a: "No - I do not intend to purchase a new home within the next 12 months"
        }
      ]
      },
        {
        title: "Financial circumstances",
        edit_url: "/auth/profile/residential-address/residential-address-05",
        data: [
        {
          q: "Have your financial circumstances changed?",
          a: "Yes"
        }
      ]
      }
    ]
  }) %>

  <div class="pagination pagination--ss-reverse-order margin-above--extra" id="pagination440">

    <p class="margin-below--large">By clicking <b>submit</b> you confirm this information is truthful and accurate.</p>
    
    <a href="/auth/profile/residential-address/documents" class="uikit-btn uikit-btn--tertiary">Previous</a>
  
    <a href="#open-coc-ai-delete-modal" class="uikit-btn uikit-btn--tertiary">Delete transaction</a>
  

<div class="floated">
  
    <a href="/auth/profile/residential-address/submitted" class="uikit-btn ">Submit</a>
  
</div>
</div>


<%- include(templates+"footer") %>
<%- include(partials+"content/modals/coc-ia-delete-modal") %>
<%#- include("review-ss") %>
