<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Forgot password - create new password | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="index-treatment">Home</a>
          </li>
          <li>
            <a href="/auth/profile">Update profile</a>
          </li>
          <li>Change password</li>
        </ul>
      </nav>
      <h1>Create new password</h1>
      <div class="has-error has-error-server breakout" id="error-empty-fields" style="display: none">
        <h2>
          <a name="heading-error" class="heading-error">The following fields need fixing:</a>
        </h2>
        <ul>
          <li>
            <a href="#password">Password</a>
          </li>
          <li>
            <a href="#password-reenter">Re-enter password</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div id="form-group-password" class="form-group">
            <label class="uikit-text-input__label" for="password">Password
              <span id="password-error" class="input-error-message" aria-live="polite"> Password must be at least 8 characters and contain a mix of alphanumeric characters and at
                least one symbol</span>
            </label>
            <input class="uikit-text-input password" name="password" id="password" type="password" value="" required>
            <button class="uikit-btn uikit-btn--tertiary show-password" value="Show">Show</button>
          </div>
          <div id="form-group-password-reenter" class="form-group">
            <label class="uikit-text-input__label" for="password-reenter">Re-enter password
              <span id="password-reenter-error" class="input-error-message" aria-live="polite"> Re-enter password must be at least 8 characters and contain a mix of alphanumeric
                characters and at least
                one symbol</span>
            </label>
            <input class="uikit-text-input password" name="password-reenter" id="password-reenter" type="password" value="" required>
            <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
          </div>
          <div class="pagination">
            <button class="uikit-btn btnSavePassword">Change password</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'profile'">Cancel</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tip--wrapper">
            <img src="../../../docs/images/ico-tip-blue.svg" class="heading-icon" alt="Tip icon">
            <h3>Passwords</h3>
            <p>Your password must:</p>
            <ul>
              <li>Be at least 8 characters in length</li>
              <li>Contain at least 1 lowercase and 1 uppercase letter</li>
              <li>Contain at least 1 special character (!@#$%^&*.?)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include(partials+"footer") %>
  <script>
    $(document).ready(function () {

      // Show / hide hidden field
      $(".show-password").click(function () {
        if ($(".password").attr("type") == "password") {
          $(".password").attr("type", "text");
          $(".show-password").text('Hide').button("refresh");

        } else {
          $(".password").attr("type", "password");
          $(".show-password").val('Show');
          $(".show-password").text('Show').button("refresh");
        }
      });

      // Client side field validation

      // Client validation masquerading as server side
      $(".btnSavePassword").click(function () {
        if ($('#password').val() == '' && ($('#password-reenter').val() == '')) {
          $("#error-empty-fields").toggle("fast");
          $("#form-group-password").addClass("has-error");
          $('html, body').animate({
            scrollTop: $('#error-empty-fields').position().top
          }, 'fast');
          $(".heading-error").focus();
        }
      });

      $("#password").focusout(function () {
        $("#form-group-password").addClass("has-error");
      });
      $("#password-reenter").focusout(function () {
        $("#form-group-password-reenter").addClass("has-error");
      });


    });
  </script>
</body>

</html>