<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../partials/header-topbar.ejs %>
  <% include ../../partials/header-authenticated.ejs %>

  <main>
    <section>
      <div class="container" id="main-content">
        <% include ../../partials/breadcrumb-profile-email.ejs %>
        <h1>Change email address</h1>
        <p>Your email address is a primary form of identification for your MyService account. For security purposes, we require you to verify your identity using one of the options
          below.</p>
        <div class="row">
          <div class="col-sm-12">
            <label class="uikit-text-input__label" for="idtype">Confirm your identity using</label>
            <select class="uikit-text-input" name="idtype" id="idtype" type="text" value="">
              <option selected>-- Select a form of identification --</option>
              <option value="id01">Australian driver licence</option>
              <option value="id02">Medicare card</option>
            </select>

            <!-- Driver Licence -->
            <fieldset class="id-types id-licence" style="display: none">
              <legend>Australian driver licence</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="state">State or Territory driver licence issued</label>
                <select class="uikit-text-input input-half" name="state" id="state" type="text" value="">
                  <option selected>-- Select state or territory --</option>
                  <option name="act">Australian Capital Territory</option>
                  <option name="nsw">New South Wales</option>
                  <option name="nt">Northern Territory</option>
                  <option name="qld">Queensland</option>
                  <option name="sa">South Australia</option>
                  <option name="tas">Tasmania</option>
                  <option name="vic">Victoria</option>
                  <option name="wa">Western Australia</option>
                </select>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="licence-number">Driver licence number</span>
                </label>
                <input class="uikit-text-input input-half" name="licence-number" id="licence-number" type="text" value="">
              </div>
            </fieldset>

            <!-- Medicare -->
            <fieldset class="id-types id-medicare" style="display: none">
              <legend>Medicare card</legend>
              <img src="/docs/images/medicare-card.jpg"
                alt="Medicare card showing the card number, IRN number located to the left of the name on the card, and an expiry date in the format MM/YYYY" />
              <div class="form-group">
                <label class="uikit-text-input__label" for="medicare-number">Medicare card number</span>
                </label>
                <input class="uikit-text-input input-half" name="medicare-number" id="medicare-number" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="irn">Individual Reference Number (IRN)</span>
                </label>
                <input class="uikit-text-input dd" name="irn" id="irn" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="expiry-dd">Expiry date
                  <span class="hint">(MM / YYYY)</span>
                </label>
                <input class="uikit-text-input mm" type="text" name="medicare-expiry-mm" id="medicare-expiry-mm" maxlength="2"> /
                <input class="uikit-text-input yyyy" type="text" name="medicare-expiry-yyyy" id="medicare-expiry-yyyy" maxlength="4">
              </div>
            </fieldset>

            <div class="pagination">
              <button class="uikit-btn btnSavePassword btnNext">Next</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'profile'">Cancel</button>
            </div>

          </div>
    </section>
  </main>
  </div>
  </div>

  <% include ../../partials/footer.ejs %>
  <script>
    $('.btnNext').click(function () {
      location.href = '/change-email';
    });

    // Choose POI fieldset
    var IdType = jQuery('#idtype');
    var select = this.value;
    IdType.change(function () {
      // Test if a POI is open already, to display warning modal
      if ($(this).val() == 'id01') {
        $('.id-types').hide();
        $('.id-licence').show();
      }
      if ($(this).val() == 'id02') {
        $('.id-types').hide();
        $('.id-medicare').show();
      }
    });
  </script>
</body>

</html>