<head>
  <% include ../../partials/head.ejs %>
</head>         

  <%- include("../../partials/form_partials.ejs", {
  "forms": [
    {
      "type": "select",
      "config": {
        "label": "Gender",
        "hint": "Please select the option closest to how you identify",
        "tooltip": {
          "label": "Hello",
          "text": "NO"
        },
        "id": "",
        "options": [
          "Select Your Gender",
          "Male",
          "Female",
          "Other"
        ]
      }
    }
  ]
}); %>

<h1>ignore</h1>
<h1>ignore</h1>
<h1>ignore</h1>
                <div class="uikit-text-input__label-wrapper--inline-block">
                  <label class="uikit-text-input__label" id="question_gender">Will there be a co-owner/borrower of the property?</label>
                </div>
                <div class="tooltip">
                  <div id="question_gender__label" class="tooltip__control" tabindex="0" role="button" aria-controls="question_gender--message" aria-expanded="false">
                    <div class="tooltip__label tooltip__label--icon-only">
                      <a>co-owner</a>
                    </div>
                    <div class="tooltip__tab"></div>
                  </div>
                  <div id="question_gender--message" class="tooltip__content" aria-labelledby="question_gender--label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">

                      A
                        <b>co-owner</b> is someone who shares ownership of the property. Their name will be on the property title deed.
                      A
                        <b>co-borrower</b> is someone you plan to sign the loan with. Their name will appear on the mortgage documents.

                      <div class="tooltip__close" role="button" tabindex="0">Close</div>
                    </div>
                  </div>
                </div>
<% include ../../partials/footer.ejs %>

<%- include("../../partials/form_partials.ejs", {
    "forms": [
    {
      "type": "checkbox",
      "config": {
        "tooltip": {
          "label": "Gender help",
          "text": "Currently we only accept...",
          "only_icon": true
        },
        "label": "Which of the following are you doing on the weekend?",
        "hint": "(select all that apply)",
        "boxes": [
          "Cricket",
          "Video Games",
          "Cooking",
          "Netflix",
          "Sleeping"
        ]
    }
  }
  ]
}); %>