<header class="uikit-header">
  <div class="container">
      <h1>MyService<sup class="beta large">Beta</sup></h1>
      <ul>
        <li class="header-home"><a href="/auth">Home</a></li>
        <li class="header-profile"><a class="nav-active" href="/auth/profile">My profile</a></li>
      </ul>
    </div>
  </div>
</header>