<header class="uikit-header">
  <div class="container">
      <h1>MyService<sup class="beta large">Beta</sup></h1>
      <button id="toggle" aria-expanded="false">Menu</button>
      <ul id="menu">
        <li class="header-home"><a class="nav-active" href="/auth">Home</a></li>
        <li class="header-profile"><a href="/auth/profile">My profile</a></li>
      </ul>
    </div>
  </div>
</header>