<header class="uikit-header uikit-header--dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a href="/">
            <img src="docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" />
            <div class="separator"></div>
            <h1>MyService<sup class="beta large">Beta</sup></h1>
          </a>
          <ul>
            <li class="header-profile"><a href="profile">My profile</a></li>
            <li class="header-signout"><a href="/">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>