<header class="uikit-header uikit-header--dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="/">
          <img src="/docs/images/logo-dva.svg" alt="Home - Department of Veteran's Affairs - logo" />
          <div class="separator"></div>
          <h1>MyService
            <sup class="beta large">Beta</sup>
          </h1>
        </a>
      </div>
    </div>
  </div>
</header>