<div id="state-switcher">
  <h3>Page states</h3>
  <%- include(partials+"components/form-partials/radio", {
    boxes: [
      {
        text: "Review",
        toggle: "#review-table__toggle",
        modifiers: ["checked"]
      },
      {
        text: "No review",
      }
    ]

  }) %>
  <h3>Toggle currently serving</h3>
  <%- include(partials+"components/form-partials/checkbox", {
  boxes: [
  {
    text: "serving",
    toggle: "#declaration-toggle",
    modifiers: ["checked"]
  }
  ]
}) %>
</div>

<script>
  $(document).ready(function () {

    /* --- State switcher --- */

    /* Toggle switcher */
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });
  });
</script>
