<div id="state-switcher">
  <h3>State switcher</h3>

  <div class="form-group review__table">
    <h4>User details</h4>
    <p class="uiToolKitCheckBox">
      <label class="uikit-control-input" for="is-recipient">
        <input class="uikit-control-input__input" type="checkbox" id="is-recipient" name="message box">
        <span class="uikit-control-input__text">Income support recipient</span>
      </label>
    </p>
    
</div>

<script>

  $(document).ready(function () {
    /* Toggle switcher */
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('#is-recipient').prop('checked', true);
    $("#is-recipient").click(function (e) {
      if ($("#is-recipient").prop("checked") == true) {
        $(".homepage__column--income-support").show();
        $(".homepage__column--card").css("display", "none");
      } else {
        $(".homepage__column--income-support").hide();
        $(".homepage__column--card").css("display", "flex");
      }
    })

    /* Greeting */

    function updateGreeting() {
      var myDate = new Date();
      var hrs = myDate.getHours();
      var greet;
      if (hrs < 12)
        greet = 'Good morning';
      else if (hrs >= 12 && hrs <= 17)
        greet = 'Good afternoon';
      else if (hrs >= 17 && hrs <= 24)
        greet = 'Good evening';
      document.getElementById('lblGreetings').innerHTML = greet;
    }

  });

  //helper function to capitalize the first letter in a string

  function jsUcfirst(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }
  
</script>