<!DOCTYPE html>
<html class="js" lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Home | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
	<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
	<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
	<% include ../global/partials/header-topbar.ejs %>
	<% include ../global/partials/header-authenticated--home.ejs %>
	<main>
		<div class="authenticated-home">
			<section>
			  <div class="container" id="main-content">
				<h1>Welcome Robert Johnson</h1><br>
			  </div>
			</section>

			<div class="container">
			  <section class="widget">    
				<div class="widget-header">
				<h2 style="padding-bottom:1.2em;"><img src="../../../docs/images/ico-claims.svg" alt=""> Claim activity <button class="uikit-btn uikit-btn--tertiary widget-btn floated" onclick="window.location.href = 'claims'" style="font-weight:normal; margin-left:1em;">See all claims</button><button class="uikit-btn widget-btn floated" onclick="window.location.href = 'claim1'">Add claim</button></h2>
				
				</div>
				<div class="row widget-content widget--justclaims">
				  <div class="col-md-12">
					<table class="table-claims">
					  <tr>
						<th class="activity">Most recent claims</th>
						<th class="actions">Actions</th>
					  </tr>
					  <tr>
						<td>
						  <p class="status-icon status-incomplete">
							Subacromial Bursitis of the Shoulder<br />
							<span>Incomplete <em>&ndash; 24 days remaining</em></span>
						  </p>
						</td>
						<td class="actions"><button class="uikit-btn uikit-btn--tertiary">Resume</button>&nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Delete</button></td>
					  </tr>
					  <tr>
						<td>
						  <p class="status-icon status-approved">
							Mental Health Treatment (NLHC)<br />
							<span>Approved <em>&ndash; 4 Jan 2018</em></span>
						  </p>
						</td>
						<td class="actions"><button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button></td>
					  </tr>
					  <tr>
						<td>
						  <p class="status-icon status-submitted">
							Internal derangement of the knee<br />
							<span>Submitted <em>&ndash; 3 Jan 2018</em></span>
						  </p>
						</td>
						<td class="actions"><button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'viewClaimDetail'">View</button></td>
					  </tr>
					</table>
				  </div>
				</div>
			  </section>

			  <div class="row">

				<div class="col-md-6">
				  <section class="widget">
					<div class="widget-header">   
					<h2><img src="../../../docs/images/ico-card.svg" alt=""> Health card</h2>
					</div>
					<div class="widget-content">
					<p>Your Health Card was updated on 4 Jan 2018.</p>
					<ul>
					  <li><a href="#">What is covered?</a></li>
					  <li><a href="#">How to use your card</a></li>
					</ul>
					</div>
				  </section>      
				</div>

				<div class="col-md-6">
				  <section class="widget">
					<div class="widget-header">     
						<h2><img src="../../../docs/images/ico-needs.svg" alt=""> Needs assessment</h2>
					</div>
				   <div class="widget-content">
				   <p>Your last Needs Assessment was submitted on 31 Jan 2017.</p>
					<p>Access medical treatment, rehabilitation, home or vehicle modifications, or compensation for your accepted conditions.</p>
					<button class="uikit-btn" onclick="window.location.href = 'needs1'">Start a needs assessment</button>
					  </div>
				  </section>      
				</div>
			  </div>
			</div><!-- container -->     
		</div>
	</main>
	<% include ../auth/partials/modal-deleteclaim.ejs %>
	<% include ../global/partials/footer.ejs %>
	

</body>
</html>