<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-authenticated.ejs %>
      <main>
        <div class="authenticated-home section-feature section-feature--bg">
          <section>
            <div class="container" id="main-content">
              <h1>
                <span class="heading" style="font-size:20px; border-bottom:2px solid orange;">Welcome Robert Johnson</span>
              </h1>
              <br>
            </div>
          </section>

          <div class="container">
            <section class="widget">
              <div class="widget-header">
                <h2>
                  <span class="widget-header__title">
                    <img src="../../../docs/images/ico-claims.svg" alt="">Claim activity
                  </span>
                  <span class="widget-actions floated">

                    <button class="uikit-btn small widget-btn " onclick="window.location.href = '/claims'">Add claim</button>
                  </span>
                </h2>

              </div>
              <div class="row widget-content widget--justclaims">
                <div class="col-md-12">
                  <table class="table-claims table-responsive">
                    <thead>
                      <tr>
                        <th class="widget-activity">Most recent claims</th>
                        <th class="widget-actions">Actions</th>
                      </tr>
                    </thead>
                    <tr>
                      <td>
                        <p class="status-icon status-incomplete">
                          Permanent Impairment Lifestyle Questionnaire
                          <br />
                          <span>Incomplete
                            <em>&ndash; 24 days remaining</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/pi-claim2'">Start</button>
                        <!-- <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Withdraw</button> -->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="status-icon status-incomplete">
                          Subacromial Bursitis of the Shoulder
                          <br />
                          <span>Incomplete
                            <em>&ndash; 24 days remaining</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary">Resume</button>
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Delete</button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="status-icon status-approved">
                          Mental Health Treatment (NLHC)
                          <br />
                          <span>Approved
                            <em>&ndash; 4 Jan 2018</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="status-icon status-submitted">
                          Internal derangement of the knee
                          <br />
                          <span>Submitted
                            <em>&ndash; 3 Jan 2018</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimDetail'">View</button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="status-icon status-approved">
                          Education assistance for Lee Gall
                          <br />
                          <span>Approved
                            <em>&ndash; 3 Jan 2018</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimDetailStudent'">View</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="container">
          <h2 class="margin-above margin-below--none">
            <center>
              <b>What would you like to do?</b>
            </center>
          </h2>

          <div class="flex-container flex-container--wrap hover-effect">

            <div class="flex-item flex-item--centred card card--medium">
              <a href="/needs1">
                <figure>
                  <img class="card__image" src="../../../docs/images/ico-db-needs.svg" alt="">
                </figure>
                <h2 class="card__title">
                  <span>Get treatment and support</span>
                </h2>
              </a>
              <p class="card__supporting-text">Has your condition changed? Tell us more about your needs at any time.</p>
            </div>

            <div class="flex-item flex-item--centred card card--medium">
              <a href="/healthcard-home">
                <figure>
                  <img class="card__image" src="../../../docs/images/ico-db-card.svg" alt="">
                </figure>
                <h2 class="card__title">
                  <span>View your health card</span>
                </h2>
              </a>
              <p class="card__supporting-text">See accepted conditions covered by your DVA Health Card.</p>
            </div>

            <div class="flex-item flex-item--centred card card--medium">
              <a href="/profile">
                <figure>
                  <img class="card__image" src="../../../docs/images/ico-db-profile.svg" alt="">
                </figure>
                <h2 class="card__title">
                  <span>Review your profile</span>
                </h2>
              </a>
              <p class="card__supporting-text">Keep your profile up to date so we can help you.</p>
            </div>
          </div>
        </div>

      </main>
      <% include ../auth/partials/modal-deleteclaim.ejs %>
        <% include ../global/partials/footer.ejs %>


</body>

</html>