<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid landing-page landing-page-authenticated uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include header-authenticated-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Welcome <span class="pt-current-user-name-full"></span></h1>
        <p>This is your MyService home page where you can access your claims and profile information.</p>
      </div>
    </section>

    <section class="feature">
      <div class="container no-cover">
        <div class="row">
          <div class="col-sm-6">
            <div class="cta-card">
              <h2>
                <img src="../../../docs/images/ico-add-blue.svg" alt="Add claim" /> Compensation claim</h2>
              <button class="uikit-btn" onclick="window.location.href = '/claim1'">Add claim</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="cta-card">
              <h2>
                <img src="../../../docs/images/ico-mental-health-blue.svg" alt="Request treatment" />
                <strong>Free</strong> mental health treatment</h2>
              <button class="uikit-btn" onclick="window.location.href = '/health-card0'">Request treatment</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container tile-pad">
      <h2>My claims</h2>
      <div class="card">
        <span class="card-status-icon"></span>
        <h3>Chronic fatigue syndrome</h3>
        <div class="lower-details">
          <p class="card-status">
            <strong>Incomplete</strong>
            <br /> 15 July 2017
          </p>
          <button class="uikit-btn small">Resume cover</button>
        </div>
      </div>

      <div class="card">
        <span class="card-status-icon"></span>
        <h3>Internal derangement of the knee</h3>
        <div class="lower-details">
          <p class="card-status">
            <strong>Incomplete</strong>
            <br /> 14 July 2017
          </p>
          <button class="uikit-btn small">Resume cover</button>
        </div>
      </div>

      <div class="card">
        <span class="card-status-icon card-status-icon-submitted"></span>
        <h3>physical injury due to munitions discharge or cut or stab...</h3>
        <div class="lower-details">
          <p class="card-status">
            <strong>Submitted</strong>
            <br /> 10 July 2017
          </p>
          <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverDetail'">View cover</button>
        </div>
      </div>

      <div class="card">
        <span class="card-status-icon card-status-icon-submitted"></span>
        <h3>Lumbah spondylosis</h3>
        <div class="lower-details">
          <p class="card-status">
            <strong>Submitted</strong>
            <br /> 10 July 2017
          </p>
          <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverDetail'">View cover</button>
        </div>
      </div>

      <div class="card done">
        <span class="card-status-icon card-status-icon-submitted"></span>
        <h3>Sleep apnoea</h3>
        <div class="lower-details">
          <p class="card-status">
            <strong>Submitted</strong>
            <br /> 8 July 2017
          </p>
          <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewNLHCCoverDetail'">View cover</button>
        </div>
      </div>

      <div class="card done">
        <span class="card-status-icon card-status-icon-submitted"></span>
        <h3>NLHC</h3>
        <div class="lower-details">
          <p class="card-status">
            <strong>Submitted</strong>
            <br /> 14 July 2017
          </p>
          <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewNLHCCoverDetail'">View cover</button>
        </div>
      </div>
    </div>

  </main>

  <% include ../../partials/footer.ejs %>


</body>

</html>