<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>


  <style>
    #preloader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 80px;
      background: #EEEFEF url('/docs/images/logo-myservice-onboarding.svg') center center no-repeat;
      background-size: 300px;
      transition: all 0.3s ease-in-out;
    }

    #preloader:before {
      content: "";
      position: absolute;
      top: calc(50% + 60px);
      left: calc(50% - 5px);
      width: 43px;
      height: 43px;
      border-radius: 100%;
      border: 1px dashed #1057a7;
      animation: spinner 3s infinite linear;
      box-sizing: border-box;
    }

    @keyframes spinner {
      0% {
        transform: rotate(0deg)
      }

      100% {
        transform: rotate(360deg)
      }
    }

  </style>


</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-onboarding-page") %>



  <main>
    <section>
      <div class="section-feature section-feature--full-height">
        <div id="preloader"></div>

      </div>
    </section>
  </main>


  <script>
    setTimeout(function () {
      window.location.href = '/auth/'
    }, 4000);

  </script>
</body>

</html>
