<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../partials/header-version.ejs %>
  <% include header-authenticated-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Welcome <span class="pt-current-user-name-full"></span></h1>
        <p>This is your MyService dashboard where you can check the status of your cover or request additional cover.</p>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="page-preloader">
          <img src="../../../docs/images/waiting-gray-fat.svg">
        </div>
      </div>
      <!-- container -->
    </section>
  </main>



  <% include ../../partials/footer.ejs %>

</body>

</html>