<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Home | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<nav class="uikit-skip-link">
		<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
	</nav>
	<% include ../global/partials/header-topbar.ejs %>
		<% include ../global/partials/header-authenticated--home.ejs %>
			<main>
				<div class="authenticated-home">
					<section>
						<div class="container" id="main-content">
							<h1>Welcome Robert Johnson</h1>
							<br>
						</div>
					</section>

					<div class="container">
						<section class="widget">
							<div class="widget-header">
								<h2 style="padding-bottom:1.2em;">
									<img src="../../../docs/images/ico-claims.svg" alt=""> Claim activity
									<button class="uikit-btn widget-btn floated" onclick="window.location.href = 'claim1'">Add claim</button>
								</h2>
							</div>
							<div class="row widget-content">
								<div class="col-md-12 widget--noclaims">
									<p class="text-fullwidth">To get started, add a claim for your service-related injury or condition.</p>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div>
					<div class="container">
						<div class="flex-container flex-container--wrap">


							<div class="flex-item flex-item--centred card card--medium">
								<a href="/health-card1">
									<figure>
										<img class="card__image" src="../../../docs/images/ico-db-treatment.svg" alt="">
									</figure>
									<h2 class="card__title">
										<span>Access free treatment</span>
									</h2>
								</a>
								<p class="card__supporting-text">Get immediate mental health treatment without the need to claim.</p>
							</div>


							<div class="flex-item flex-item--centred card card--medium">
								<a href="/needs1">
									<figure>
										<img class="card__image" src="../../../docs/images/ico-db-needs.svg" alt="">
									</figure>
									<h2 class="card__title">
										<span>How we can help you</span>
									</h2>
								</a>
								<p class="card__supporting-text">Has your condition changed? Tell us more about your needs at any time.</p>
							</div>

							<div class="flex-item flex-item--centred card card--medium">
								<a href="/healthcard-home">
									<figure>
										<img class="card__image" src="../../../docs/images/ico-db-card.svg" alt="">
									</figure>
									<h2 class="card__title">
										<span> Health card</span>
									</h2>
								</a>
								<p class="card__supporting-text">View accepted conditions covered by your health card.</p>
							</div>

							<div class="flex-item flex-item--centred card card--medium">
								<a href="/profile">
									<figure>
										<img class="card__image" src="../../../docs/images/ico-db-profile.svg" alt="">
									</figure>
									<h2 class="card__title">
										<span>Review your profile</span>
									</h2>
								</a>
								<p class="card__supporting-text">Keep your profile up to date so we can help you.</p>
							</div>

							<!-- <div class="flex-item flex-item--centred card card--medium">
								<a href="/profile">
									<figure>
										<img class="card__image" src="../../../docs/images/ico-db-profile.svg" alt="">
									</figure>
									<h2 class="card__title">
										<span> Review your profile</span>
									</h2>
								</a>
								<p class="card__supporting-text">Keep your profile up to date so we can help you.</p>
							</div>
						</div> -->


						</div>
					</div>
			</main>
			<% include ../global/partials/footer.ejs %>
</body>

</html>