<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page landing-page-authenticated uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include header-authenticated-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Welcome Robert Johnson</h1>
        <p>This is your MyService dashboard where you can check the status of your cover or request additional cover.</p>
      </div>
    </section>

    <section class="feature">      
      <div class="container no-cover">
        <div class="no-cover-card">
          <a href="#" onclick="window.location.href = '/cover-step1'">
            Add cover
          </a>
        </div>
        <div class="no-cover-content">
          <h2>Get started by adding a request for cover</h2>
          <p>You can save at any time and finish it later.</p>
        </div>
      </div>      
    </section>

    <div class="container tile-pad">
      <h2>Support services we offer</h2>

      <div class="row">
        <div class="col-md-6">
          <div class="tile--wrapper">
            <img src="../../../docs/images/ico-medical2.svg" alt="Medical services icon">
          <h3><a href="/medical-services">Medical services</a></h3>
          <p>Medical treatment and programs to help with your accepted service related conditions.</p>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="tile--wrapper">
            <img src="../../../docs/images/ico-everyday2.svg" alt="Everyday care icon">
          <h3><a href="/everyday-care">Everyday care</a></h3>
          <p>Services for household needs, personal care, and home or vehicle modifications.</p>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="tile--wrapper">
            <img src="../../../docs/images/ico-financial2.svg" alt="Financial support icon">
          <h3><a href="/financial-support">Financial support</a></h3>
          <p>Income replacement and compensation for your accepted service related conditions.</p>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="tile--wrapper">
            <img src="../../../docs/images/ico-career2.svg" alt="Career guidance icon">
          <h3><a href="/career-guidance">Career guidance</a></h3>
          <p>Help finding a job, training, and worksite assessments to improve your post ADF career.</p>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="tile--wrapper">
            <img src="../../../docs/images/ico-family2.svg" alt="Counselling and family services icon">
          <h3><a href="/family-and-counselling">Counselling and family services</a></h3>
          <p>Counselling and group programs to help you and your family with mental health care.</p>
          </div>
        </div>
        
      </div><!-- row -->
    </div>


  </main>

  <% include ../global/partials/footer.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>