<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../partials/header-version.ejs %>
  <% include header-authenticated-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Welcome <span class="pt-current-user-name-full"></span></h1>
        <p>This is your MyService dashboard where you can check the status of your claims or request additional cover.</p>
      </div>
    </section>

    <section>
      <div class="container">
        <h2>Incomplete</h2>
        <div class="start-three">
          <div class="start-four">

            <div class="card">
              <span class="card-status-icon"></span>
              <h3>Sleep apnoea</h3>
              <div class="lower-details">
                <p class="card-status">Started on
                  <br /> 2017-06-21
                </p>
                <button class="uikit-btn small">Resume cover</button>
              </div>
            </div>

            <div class="card">
              <span class="card-status-icon"></span>
              <h3>Chronic fatigue syndrome</h3>
              <div class="lower-details">
                <p class="card-status">Started on
                  <br /> 2017-06-21
                </p>
                <button class="uikit-btn small">Resume cover</button>
              </div>
            </div>

            <a class="card card-add-cover" href="#" onclick="window.location.href = '/cover-step1'">
              <span class="lower-details">Add cover</span>
            </a>

          </div>
          <!-- start-three -->

          <h2>Submitted
            <span>(last 14 days displayed)</span>
          </h2>
          <div class="start-three">
            <div class="start-four">

              <div class="card active">
                <span class="card-status-icon card-status-icon-done"></span>
                <h3>Sleep apnoea</h3>
                <div class="lower-details">
                  <p class="card-status">Started on
                    <br /> 2017-06-30
                  </p>
                  <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
                </div>
              </div>

              <div class="card active">
                <span class="card-status-icon card-status-icon-done"></span>
                <h3>Lumbah spondylosis</h3>
                <div class="lower-details">
                  <p class="card-status">Started on
                    <br /> 2017-06-30
                  </p>
                  <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
                </div>
              </div>

              <div class="card active">
                <span class="card-status-icon card-status-icon-done"></span>
                <h3>Internal derangement of the knee</h3>
                <div class="lower-details">
                  <p class="card-status">Started on
                    <br /> 2017-06-30
                  </p>
                  <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
                </div>
              </div>

            </div>
            <!-- start-three -->
            <div class="start-three">

              <div class="card active">
                <span class="card-status-icon card-status-icon-done"></span>
                <h3>Classical migrane</h3>
                <div class="lower-details">
                  <p class="card-status">Started on
                    <br /> 2017-06-30
                  </p>
                  <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
                </div>
              </div>

            </div>
            <!-- start-four -->
            <div class="start-four">

              <div class="card active">
                <span class="card-status-icon card-status-icon-done"></span>
                <h3>Classical migrane</h3>
                <div class="lower-details">
                  <p class="card-status">Started on
                    <br /> 2017-06-30
                  </p>
                  <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
                </div>
              </div>

            </div>
            <!-- start-four -->

            <div class="card active">
              <span class="card-status-icon card-status-icon-done"></span>
              <h3>Internal derangement of the knee</h3>
              <div class="lower-details">
                <p class="card-status">Started on
                  <br /> 2017-06-30
                </p>
                <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
              </div>
            </div>

          </div>
          <!-- start-three -->
        </div>
        <!-- start-four -->

      </div>
      <!-- container -->
    </section>
  </main>



  <% include ../../partials/footer.ejs %>

</body>

</html>