<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <% include header-authenticated-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Welcome Robert Johnson</h1>
        <p>This is your MyService dashboard where you can check the status of your cover or request additional cover.</p>
      </div>
    </section>
    <% include cover/partials/alert-incomplete-claims.ejs %>

    <section>
      <div class="container">
        <h2>My cover</h2>
        <a class="card card-add-cover" href="#" onclick="window.location.href = '/cover-step1'">
          <span class="lower-details">Add cover</span>
        </a>
        
        <div class="card">
          <span class="card-status-icon"></span>
          <h3>Chronic fatigue syndrome</h3>
          <div class="lower-details">
            <p class="card-status"><strong>Incomplete</strong><br />
            15 July 2017
            </p>
            <button class="uikit-btn small">Resume cover</button>
          </div>
        </div>

        <div class="card">
          <span class="card-status-icon"></span>
          <h3>Internal derangement of the knee</h3>
          <div class="lower-details">
            <p class="card-status"><strong>Incomplete</strong><br />
            14 July 2017
            </p>
            <button class="uikit-btn small">Resume cover</button>
          </div>
        </div>

        <div class="card">
          <span class="card-status-icon card-status-icon-submitted"></span>
          <h3>physical injury due to munitions discharge or cut or stab...</h3>
          <div class="lower-details">
            <p class="card-status"><strong>Submitted</strong><br />
            10 July 2017
            </p>
            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverDetail'">View cover</button>
          </div>
        </div>

        <div class="card">
          <span class="card-status-icon card-status-icon-submitted"></span>
          <h3>Lumbah spondylosis</h3>
          <div class="lower-details">
            <p class="card-status"><strong>Submitted</strong><br />
            10 July 2017
            </p>
            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverDetail'">View cover</button>
          </div>
        </div>

        <div class="card done">
          <span class="card-status-icon card-status-icon-submitted"></span>
          <h3>Sleep apnoea</h3>
          <div class="lower-details">
            <p class="card-status"><strong>Submitted</strong><br />
            8 July 2017
            </p>
            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewNLHCCoverDetail'">View cover</button>
          </div>
        </div>       

        <div class="card done">
          <span class="card-status-icon card-status-icon-submitted"></span>
          <h3>NLHC</h3>
          <div class="lower-details">
            <p class="card-status"><strong>Submitted</strong><br />
            14 July 2017
            </p>
            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewNLHCCoverDetail'">View cover</button>
          </div>
        </div>       
        
    </section>
  </main>
  
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script src="/docs/js/main.js"></script>

  <% include ../global/partials/footer.ejs %>

</body>
</html>