<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Home | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<nav class="uikit-skip-link">
		<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
	</nav>
	<% include ../global/partials/header-topbar.ejs %>
		<% include ../global/partials/header-authenticated.ejs %>
			<main>
				<div class="authenticated-home section-feature section-feature--bg">
					<section>
						<div class="container" id="main-content">
							<h1>
								<span class="heading" style="font-size:20px; border-bottom:2px solid orange;">Welcome Robert Johnson</span>
							</h1>
							<br>
						</div>
					</section>

					<div class="container">
						<section class="widget">
							<div class="widget-header">
								<h2>
									<span class="widget-header__title">
										<img src="../../../docs/images/ico-claims.svg" alt="">Claim activity
									</span>
									<span class="widget-actions floated">
										<button class="uikit-btn small widget-btn" onclick="window.location.href = '/claims'">Add claim</button>
									</span>
								</h2>
							</div>
							<div class="row widget-content">
								<div class="col-md-12 widget--noclaims">
									<p class="text-fullwidth">Making a claim is the first step to accessing entitlements.
										<a href="/claims">Add a claim</a> to get started.</p>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div>
					<div class="container">
						<h2 class="margin-above margin-below--none">
							<center>
								<b>What would you like to do?</b>
							</center>
						</h2>
						<div class="flex-container flex-container--wrap">


							<div class="flex-item flex-item--centred card card--medium">
								<a href="/health-card1">
									<figure>
										<img class="card__image" src="../../../docs/images/ico-db-treatment.svg" alt="">
									</figure>
									<h2 class="card__title">
										<span>Access free treatment</span>
									</h2>
								</a>
								<p class="card__supporting-text">Get immediate mental health treatment without the need to claim.</p>
							</div>

							<div class="flex-item flex-item--centred card card--medium">
								<a href="/profile">
									<figure>
										<img class="card__image" src="../../../docs/images/ico-db-profile.svg" alt="">
									</figure>
									<h2 class="card__title">
										<span>Review your profile</span>
									</h2>
								</a>
								<p class="card__supporting-text">Keep your profile up to date so we can help you.</p>
							</div>

						</div>
					</div>
			</main>

			<% include ../global/partials/footer.ejs %>
</body>

</html>