<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
	<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
	<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
	<% include ../global/partials/header-topbar.ejs %>
	<% include ../global/partials/header-authenticated--home.ejs %>
	<main>
		<div class="authenticated-home">
			<section>
			  <div class="container" id="main-content">
				<h1>Welcome Robert Johnson</h1><br>
			  </div>
			</section>

			<div class="container">
			  <section class="widget">
				<div class="widget-header">   
				<h2><img src="../../../docs/images/ico-claims.svg" alt=""> Claims</h2>
				</div>
				<div class="row widget-content">
				  <div class="col-sm-8 widget--noclaims">
					<p>To get started, add a claim for your service-related injury or condition.</p>
					<button class="uikit-btn widget-btn" onclick="window.location.href = 'claim1'">Add claim</button>
				  </div>
				  <div class="col-sm-4">
					<h3>Do you need mental health treatment?</h3>
					<p>We will pay for this under <a class="external-link" href="#">non-liability health care</a> arrangements.</p>
<!--					<p>All you need to do is submit a request and we will send you a <a class="external-link" href="#">DVA White card</a> to cover the cost of treatment.</p>-->
					<button class="uikit-btn uikit-btn--secondary" onclick="window.location.href = 'health-card1'">Access mental health treatment</button>
				  </div>
				</div>
			  </section>
			</div>      
		</div>
	</main>
	<% include ../global/partials/footer.ejs %>
</body>
</html>