<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <% include header-authenticated-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Welcome Robert Johnson</h1>
        <p>This is your MyService dashboard where you can check the status of your claims or request additional cover.</p>
      </div>
    </section>

    <section>
      <div class="container">
        <h2>Incomplete</h2>
        <div class="start-three">
        <div class="start-four">

          <a class="card card-add-cover" href="#" onclick="window.location.href = '/cover-step1'">
            <span class="lower-details">Add cover</span>
          </a>
          
        </div><!-- start-three -->


      </div><!-- container -->
    </section>
  </main>

  <% include ../global/partials/footer.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>