<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

  <style>
    .flex-item>a {
      border-bottom: 2px solid #3C5894;
      font-size: 14px
    }

    .flex-item.flex-item--centred.card.card--medium.hover-element>a {
      font-size: 16px;
      line-height: 100%;
      margin: 1em;
    }

    #help-button {
      display: none !important;
    }

    .accordion-toppanel--wrapper {
      background-color: #DBDBDB;
    }

    .topbar-controls a {
      font-family: 'Arial' !important;
      font-weight: 700;
      background-color: transparent !important;
      color: #212121;
    }

    a.logout span.switch-user {
      color: #0C5845 !important;
      border-bottom: solid 1px #1B7991 !important;
      left: 0;
      margin: auto;
      padding: .77em 0;
      position: absolute;
      right: 0;
      font-family: 'Arial' !important;
      font-weight: 700;
      background-color: transparent !important;
    }

    a,
    .mygov-sr,
    .mygov-sr:hover,
    .uikit-body .login-mygov::after,
    .uikit-body .login-mygov:hover {
      background-image: none;
      /* background-color: #0C5845 !important; */
      color: #000000;
    }

    ul.menu,
    ul.menu li,
    ul.menu li a {
      background: none;
      color: #000000;
    }

    .card__title {
      font-family: Roboto Slab;
      font-weight: 700;
      text-align: left;
    }

    .card a {
      font-family: Open Sans;
      font-weight: 600;
      float: left;
    }

    .card__supporting-text {
      text-align: left;
      font-family: Open Sans;
      font-size: 20px;
      padding: 0;
      padding-left: 1em;
    }

    .flex-item {
      margin: 0;
      border-radius: 0;
    }

    .container.welcome {
      background-color: #223C72;
      min-height: 212px;
      margin-top: 1.3em;
    }

    .section-feature {
      background: none !important;
      border: none !important;
    }


    #update-profile {
      background-color: #FBCA3F !important;
      font-family: Open Sans !important;
      color: #000000 !important;
      border: none !important;
      clear: both;
      float: left;
      display: block;
      margin-top: 1em;
      margin-left: 3em;
    }

    .no-background,
    p.no-background {
      background-color: transparent !important;
      border: none;
      display: block;
      float: left;
    }

    .welcome-message {
      color: #ffffff;
      font-family: Roboto Slab;
      font-size: 20px;
      font-weight: normal;
      margin: 0 auto !important;
      padding-top: 2.5em;
      padding-left: 2.5em;
    }

    section.widget.no-background {
      margin-left: 4em;
    }

    .widget .widget-header {
      border: none;
    }

    .uikit-grid .container {
      width: 100% !important;
    }

    .container.welcome {
      background-image: url(../../../docs/images/new-blue-v-background.svg);
      background-repeat: no-repeat;
      background-position-x: 0;
      background-position-y: -70px;
      background-size: 400px 400px;
    }



    .activity-clock {
      width: 57.474px;
      height: 50.058px;
    }

    .money-laptop,
    .transport-seatbelt {
      display: block;
      width: 125.081px;
      height: 109.635px;
      clear: both;
      margin: 0 auto;
      padding-top: 1em;

    }

    .hightlighted-features h2 {
      clear: both;
      text-align: center;
      padding-left: 5em !important;
    }

    .activity-clock,
    .activity-clock h2 {
      padding-top: 1em;
      float: left !important;
      padding-left: 1em;
    }

    .hightlighted-features h2 {
      padding: 0;
      float: left !important;
      margin-block-start: 0 !important;
      margin-block-end: 0 !important;
      margin-inline-start: 0 !important;
      margin-inline-end: 0 !important;
      font-family: Roboto Slab;
    }

    .hightlighted-features .flex-item {
      opacity: 1 !important;
    }

    .claims-button {
      clear: both;
      font-family: Open Sans;
      font-weight: 500;
      border: 2px solid navy !important;
      border-radius: 10px;
      padding: 1em;
    }

    h2#claim-activity-heading {
      clear: none;
      float: left !important;
      padding-top: 0.75em;
      padding-left: 0.5em !important;
      font-family: Roboto Slab;
    }

    .transport-heading,
    .transport-heading span {
      clear: both;
      display: block;
    }

    .card__supporting-text-feature {
      clear: both;
    }

    #claims-button {
      margin-left: 5em;
    }

    #transport-button {
      margin-left: 6em;
    }

    .claim-info-text {
      text-align: left !important;
      margin-right: 1em !important;
      padding-left: 4em !important;
    }

    .claim-approved {
      background-image: url(../../../docs/images/new-icon-green-tick.svg);
      background-repeat: no-repeat;
      background-size: 8%;
      background-position-x: 25px;
    }


    .claim-submitted {
      background-image: url(../../../docs/images/new-icon-blue-right-arrow.svg);
      background-repeat: no-repeat;
      background-size: 8%;
      background-position-x: 25px;
    }

    .accordion-toppanel--wrapper {
      border: none !important;
    }

    .logout__text:hover {
      background: transparent;
    }

    .switch__text {
      color: #0C5845;
      background-image: url(../../../docs/images/new-icon-green-man.svg);
      background-repeat: no-repeat;
      margin-left: -3em !important;
      padding-left: 1em !important;
      padding-right: 1em;
      width: 136px;
    }

    .switch__text:hover {
      background-image: url(../../../docs/images/new-icon-green-man.svg);
    }

    .switch__text,
    .help__text,
    .logout__text {
      border: 0;
      left: 0;
      margin: auto;
      padding: .77em 0;
      position: absolute;
      right: 0;
    }

    .switch__text:hover,
    .help__text:hover,
    .logout__text:hover {
      background-color: transparent;
    }

    a.login-mygov {
      background-color: #0C5845 !important;
    }

    .switch-user img {
      margin-top: 3px;
      padding-left: 1em;
      padding-top: 0;
      margin-left: 3em;
      height: 17px;
    }
  </style>


</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
  <% include ../global/partials/header-authenticated.ejs %>
  <main>
    <div class="authenticated-home section-feature section-feature--bg">


      <div class="container welcome">



        <div class="container welcome">
          <section class="widget no-background">
            <!-- <div class="widget-header no-background"> -->

            <p class="widget-header__title welcome-message">
              Hi, Millie <br>
              We need you to tell us a little more about yourself, so that<br>
              we can provide the services that are right for you.
            </p>
            <!-- <span class="widget-actions floated"> -->
            <button id="update-profile" class="uikit-btn small widget-btn update-profile" onclick="window.location.href = '/claims'">Update my profile</button>
            <!-- </span> -->

            <!-- </div> -->
            <div class="row widget-content widget--justclaims">
              <div class="col-md-12">
                <!-- <p id="no-claims" class="text-fullwidth" style="display: none;">Making a claim is the first step to accessing entitlements. -->
                <!-- <a href="/claims">Add a claim</a> -->
                </p>

                <table id="claims" class="table-claims table-responsive" style="">
                  <thead>
                    <tr>
                      <th class="widget-activity">Most recent claims</th>
                      <th class="widget-actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="qs-claim" style="display: none;">
                      <td>
                        <p class="status-icon status-approved">
                          Qualifying Service
                          <br>
                          <span>Approved
                            <em>– 3 May 2018</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'qs-claimdetail'">View</button>
                      </td>
                    </tr>
                    <tr id="incap-claim" style="">
                      <td>
                        <p class="status-icon status-incomplete">
                          Incapacity Payments
                          <br>
                          <span>Incomplete
                            <!-- <em>&ndash; Action Required</em> -->
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'incap-resume'">Resume</button>
                        <!-- <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'incap-summary'">View</button> -->
                        <!-- <button class="uikit-btn small uikit-btn--tertiary" id="button-withdrawclaimmodal">Withdraw</button> -->
                      </td>
                    </tr>
                    <tr id="incap-claim-submitted" style="display: none;">
                      <td>
                        <p class="status-icon status-submitted">
                          Incapacity Payments
                          <br>
                          <span>Submitted
                            <em>– 27 November 2018</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'incap-summary'">View</button>
                      </td>
                    </tr>
                    <tr id="lsq-claim" style="display: none;">
                      <td>
                        <p class="status-icon status-incomplete">
                          Permanent Impairment Lifestyle Assessment
                          <br>
                          <span>Incomplete
                            <em>– 3 May 2018</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'pi-lsq-start'">Resume</button>
                      </td>
                    </tr>
                    <tr id="lsq-claim-submitted" style="display: none;">
                      <td>
                        <p class="status-icon status-submitted">
                          Permanent Impairment Lifestyle Assessment
                          <br>
                          <span>Submitted
                            <em>– 3 May 2018</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewPI-LSQ-detail'">View</button>
                      </td>
                    </tr>
                    <tr id="nlhc-claim-approved" style="display: none;">
                      <td>
                        <p class="status-icon status-approved">
                          Mental Health Treatment (NLHC)
                          <br>
                          <span>Approved
                            <em>– 3 May 2018</em>
                          </span>
                        </p>
                      </td>
                      <td class="widget-actions">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </section>
        </div>



      </div>
    </div>



    <!-- highlighted features-->
    <div class="flex-container flex-container--wrap hover-container hightlighted-features">


      <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
        <img class="activity-clock" src="../../../docs/images/new-icon-claim-activity.svg" />
        <h2 id="claim-activity-heading">
          <span>Claim activity</span>
        </h2>

        <p class="card__supporting-text-feature"></p>

        <p class="claim-info-text claim-approved">Your claim for free mental
          health treatment has been
          <strong>approved.</strong></p>

        <p class="claim-info-text claim-submitted">Your claim for Initial Liability
          has been <strong>submitted.</strong></p>

        <a class="claims-button" href="/veteran-card-eligibility">See my claims</a>
      </div>

      <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
        <img class="money-laptop" src="../../../docs/images/new-icon-payments.svg" />
        <h2 class="">
          <span>Payments</span>
        </h2>
        </a>
        <p class="card__supporting-text-feature">Your next payment amount of<br>
          <strong>$638.64</strong> will be paid on<br>
          Tuesday 22 January, 2019</p>

        <a class="claims-button" id="claims-button" href="/veteran-card-eligibility">Manage my payments</a>
      </div>



      <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
        <img class="transport-seatbelt" src="../../../docs/images/new-icon-transport.svg" />
        <h2 class="transport-heading">
          <span>Transport</span>
        </h2>

        <p class="card__supporting-text-feature">Book your next trip online.</p>

        <a class="claims-button" id="transport-button" href="/veteran-card-eligibility">Book transport</a>
      </div>


    </div>


    <div>
      <div class="container margin-below--extra">

        <h2 class="margin-above margin-below--none ss-align--center" style="font-family: 'Roboto Slab', serif!important; color: #000000!important;">
          <span style="font-family: 'Roboto Slab', serif!important; color: #000000!important;">Access treatment, support and compensation</span>
        </h2>
        <div class="flex-container flex-container--wrap hover-container">


          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
            <h2 class="card__title">
              <span>Get support for your
                service related
                injury or condition</span>
            </h2>

            <p class="card__supporting-text"></p>

            <a href="/veteran-card-eligibility">Claim for Initial Liability</a>
          </div>

          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
            <h2 class="card__title">
              <span>Access benefits
                provided by businesses &
                community organisations
                using your Veteran Card</span>
            </h2>

            <p class="card__supporting-text"></p>

            <a href="/veteran-card-eligibility">Find out how</a>
          </div>

          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">

            <h2 class="card__title">
              <span>Get free mental
                health treatment</span>
            </h2>

            <p class="card__supporting-text"></p>

            <a href="#">Make a claim</a>
          </div>

          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
            <h2 class="card__title">
              <span>About to discharge
                from the ADF?</span>
            </h2>
            </a>
            <p class="card__supporting-text">We can help.</p>

            <a href="/veteran-card-eligibility">Discover the services right for you</a>
          </div>

          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
            <h2 class="card__title">
              <span>Have you got a home loan
                or are looking to buy?</span>
            </h2>

            <p class="card__supporting-text">You may be entitled to
              some financial assistance.</p>

            <a href="/veteran-card-eligibility">Find out more</a>
          </div>

          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
            <h2 class="card__title">
              <span>Is your capacity to work being affected by your condition?</span>
            </h2>

            <p class="card__supporting-text">Access financial assistance.</p>

            <a href="/veteran-card-eligibility">Claim for Incapacity Payments</a>
          </div>


        </div>

      </div>
  </main>

  <% include ../global/partials/footer.ejs %>
</body>
<script>

  $(document).ready(function () {
    localStorage.clear();

    var user = getUrlParameter('user');
    if (user) {
      localStorage.setItem('user', user);
    }

    $("#claims").hide();
    $("#qs-claim").hide();
    $("#nlhc-claim-approved").hide();
    $("#incap-claim").hide();
    $("#incap-claim-submitted").hide();
    $("#lsq-claim").hide();
    $("#lsq-claim-submitted").hide();

    if (localStorage.getItem('user') === 'QSuser') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#nlhc-claim-approved").hide();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $("#qs-claim").show();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }
    else if (localStorage.getItem('user') === 'LSQuser') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#lsq-claim-submitted").hide();
      $("#lsq-claim").show();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").hide();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }
    else if (localStorage.getItem('user') === 'LSQuser-submitted') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").show();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }
    else if (localStorage.getItem('user') === 'INCAPuser-incomplete') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#incap-claim").show();
      $("#incap-claim-submitted").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }
    else if (localStorage.getItem('user') === 'INCAPuser-submitted') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").show();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }

    else if (localStorage.getItem('user') === 'NLHCuser-approved') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#incap-claim").hide();
      $("#incap-claim-submitted").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $("#nlhc-claim-approved").show();
      $("#nlhc-access").hide();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }
    else {
      $("#no-claims").show();
      $("#claims").hide();
      $("#qs-claim").hide();
    }
  });

  $(document).ready(function () {
    const hoverContainer = document.getElementsByClassName('hover-container')[0]
    const hoverElements = document.getElementsByClassName('hover-element')

    Array.prototype.forEach.call(hoverElements, hoverElement => {
      hoverElement.addEventListener('mouseover', (event) => {
        hoverElement.classList.add('hover-element--active')
      })

      hoverElement.addEventListener('mouseout', (event) => {
        hoverElement.classList.remove('hover-element--active')
      })
    })

    hoverContainer.addEventListener('mouseover', (event) => {
      if (event.target !== hoverContainer) {
        hoverContainer.classList.add('hover-container--faded')
      }
    })

    hoverContainer.addEventListener('mouseout', (event) => {
      hoverContainer.classList.remove('hover-container--faded')
    })
  });

</script>

</html>