<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <% include header-authenticated-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Welcome Robert Johnson</h1>
        <p>This is your MyService dashboard where you can check the status of your claims or request additional cover.</p>
      </div>
    </section>

  <main>
    <section>
      <div class="container" id="main-content">
        <h2>Incomplete</h2>

        <div class="card-status">
            <div class="card">
              <span class="card-status-icon"></span>
              <h3>Sleep apnoea</h3>
              <p class="card-status">Started on<br />
              2017-06-21
              </p>
              <button class="uikit-btn small">Resume cover</button>
            </div>

            <div class="card">
              <span class="card-status-icon"></span>
              <h3>Chronic fatigue syndrome</h3>
              <p class="card-status">Started on<br />
              2017-06-21
              </p>
              <button class="uikit-btn small">Resume cover</button>
            </div>

            <a href="#" onclick="window.location.href = '/cover-step1'">
              <div class="card card-add-cover">
                Add cover
              </div>
            </a>
          </div><!-- card-status -->

          <h2>Submitted <span>(last 14 days displayed)</span></h2>
          <div class="card active">
            <span class="card-status-icon card-status-icon-done"></span>
            <h3>Sleep apnoea</h3>
            <p class="card-status">Started on<br />
            2017-06-30
            </p>
            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
          </div>

          <div class="card active">
            <span class="card-status-icon card-status-icon-done"></span>
            <h3>Lumbah spondylosis</h3>
            <p class="card-status">Started on<br />
            2017-06-30
            </p>
            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
          </div>

          <div class="card active">
            <span class="card-status-icon card-status-icon-done"></span>
            <h3>Internal derangement of the knee</h3>
            <p class="card-status">Started on<br />
            2017-06-30
            </p>
            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
          </div>

          <div class="card active">
            <span class="card-status-icon card-status-icon-done"></span>
            <h3>Classical migrane</h3>
            <p class="card-status">Started on<br />
            2017-04-04
            </p>
            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
          </div>

        <div class="card active">
          <span class="card-status-icon card-status-icon-done"></span>
          <h3>Classical migrane</h3>
          <p class="card-status">Started on<br />
          2017-04-04
          </p>
          <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
        </div>

        <div class="card active">
          <span class="card-status-icon card-status-icon-done"></span>
          <h3>Internal derangement of the knee</h3>
          <p class="card-status">Started on<br />
          2017-04-04
          </p>
          <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = 'viewCoverSummary'">View cover</button>
        </div>

      </div><!-- container -->
    </section>
  </main>

  <% include ../global/partials/footer.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>