<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
	<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
	<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
	<% include ../global/partials/header-topbar.ejs %>
	<% include ../global/partials/header-authenticated--home.ejs %>
	<main>
		<div class="authenticated-home">
			<section>
			  <div class="container" id="main-content">
				<h1>Welcome Robert Johnson</h1><br>
			  </div>
			</section>

			<div class="container">	  
		  		<section class="widget">    
					<div class="widget-header">
						<h2 style="padding-bottom:1.2em;"><img src="../../../docs/images/ico-claims.svg" alt=""> Claim activity <button class="uikit-btn widget-btn floated" onclick="window.location.href = 'claim1'">Add claim</button></h2>
					</div>
					<div class="row widget-content">
				  		<div class="col-md-12 widget--noclaims">
							<p>To get started, add a claim for your service-related injury or condition.</p>
				 		</div>
					</div>
			    </section>
			</div>
			
			<div class="container widget-mini">
				<div class="col-sm-4"><img src="../../../docs/images/ico-db-claims.svg" alt=""><h2>Manage my claims</h2></div>
				<div class="col-sm-4"><img src="../../../docs/images/ico-db-needs.svg" alt=""><h2>Discover entitlements</h2></div>
				<div class="col-sm-4"><img src="../../../docs/images/ico-db-card.svg" alt=""><h2>View my health card</h2></div>
				<div class="col-sm-4"><img src="../../../docs/images/ico-db-profile.svg" alt=""><h2>Update my profile</h2></div>
				<div class="col-sm-4"><img src="../../../docs/images/ico-db-treatment.svg" alt=""><h2>Access free treatment</h2></div>
				<div class="col-sm-4"></div>
			</div>
		</div>
	</main>
	<% include ../global/partials/footer.ejs %>
</body>
</html>