<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid landing-page-authenticated uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../partials/header-topbar.ejs %>
  <% include ../../partials/header-authenticated.ejs %>
  <main>

    <section class="hero-auth">
      <div class="container" id="main-content">
        <h1>Welcome <span class="pt-current-user-name-full"></span></h1>
        <p class="text-fullwidth">This is your MyService home page where you can access your claims and profile information.</p>
      </div>
    </section>

    <section class="feature">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="cta-card">
              <h2>
                <img src="../../../docs/images/ico-add-grey.svg" alt="Add claim" /> Compensation claim</h2>
              <button class="uikit-btn" onclick="window.location.href = '/claim1'">Add claim</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="cta-card">
              <h2>
                <img src="../../../docs/images/ico-mental-health-grey.svg" alt="Request treatment" /> Access mental health treatment</h2>
              <button class="uikit-btn" onclick="window.location.href = '/health-card0'">Add cover</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container tile-pad">
      <h2>My claims</h2>
      <p class="text-fullwidth">Started and submitted claims appear here. Unsubmitted claims are removed after
        <strong>90 days</strong>.</p>
    </div>

  </main>
  <% include ../../partials/footer.ejs %>

</body>

</html>