<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page landing-page-authenticated uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include header-authenticated-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Welcome Robert Johnson</h1>
        <p>This is your MyService dashboard where you can check the status of your claim or make an additional claim.</p>
      </div>
    </section>

    <section class="feature">      
      <div class="container no-cover">
        <div class="no-cover-card">
          <a href="#" onclick="window.location.href = '/cover-step1'">Add cover</a>
        </div>
        <div class="no-cover-content">
          <h2>Get started by adding a claim</h2>
          <p>You can save at any time and finish it later.</p>
        </div>
      </div>      
    </section>

    <div class="container tile-pad">
      <div class="row">
        <div class="col-md-6">
          <h2>What is MyService?</h2>
          <p>MyService is an online claims processing portal that streamlines and simplifies the way you make DVA claims.</p>
          <p>If you are a current or former ADF member, you can use MyService to access health and support services offered by the DVA.</p>
        </div>
        <div class="col-md-6">
          <h2>Why use MyService?</h2>
          <p>With MyService you can:</p>
          <ul>
            <li>claim for a condition related to your service</li>
            <li>access free mental health treatment</li>
            <li>manage your personal details</li>
            <li>view your DVA health card</li>
            <li>find health services that are right for you</li>
          </ul>
        </div>
      </div>
    </div>

  </main>

  <% include ../global/partials/footer.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>