<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page landing-page-authenticated uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include header-authenticated-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Welcome Robert Johnson</h1>
        <p>This is your MyService dashboard where you can check the status of your claim or make an additional claim.</p>
      </div>
    </section>

    <section class="feature">      
      <div class="container no-cover">
        <div class="no-cover-card">
          <a href="#" onclick="window.location.href = '/cover-step1'">Add claim</a>
        </div>
        <div class="no-cover-content">
          <h2>Get started by adding a claim</h2>
          <p>You can save at any time and finish it later.</p>
        </div>
      </div>      
    </section>

    <div class="container tile-pad">
    </div>

  </main>

  <% include ../global/partials/footer.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>