<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <% include header-authenticated.ejs %>

  <main>
    <section>
      <div class="container" id="main-content">
        <h1>Welcome <em>given name</em></h1>
        <button class="uikit-btn" onclick="window.location.href = '/cover-step1'">Add cover</button>
        <h2>Incomplete</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <h3>Sleep apnoea</h3>
              <p class="card-status">Started on<br />
              2017-03-21
              </p>
              <button class="uikit-btn uikit-btn--tertiary">Resume cover</button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <h3>Sleep apnoea</h3>
              <p class="card-status">Started on<br />
              2017-03-21
              </p>
              <button class="uikit-btn uikit-btn--tertiary">Resume cover</button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <h3>Internal derangement of the knee</h3>
              <p class="card-status">Started on<br />
              2017-04-03
              </p>
              <button class="uikit-btn uikit-btn--tertiary">Resume cover</button>
            </div>
          </div>
        </div><!-- row -->
        <p><a href="viewCoverSummary">Anxiety disorder</a></p>
      </div>
    </section>
  </main>

  <% include ../global/partials/footer.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>
