<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Home | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <% include ../../partials/header-mygov.ejs %>
  <main>
    <div class="container">

      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-above--extra margin-below--extra">
            <div class="pt-claim-type--normal margin-above--extra">
              <div class="margin-above ie-success-animation">
                <img src="" alt="Success tick icon">
              </div>
              <div class="margin-above submitted-animation">
                <% include ../../partials/animations/submitted.ejs %>
              </div>
              <div class="cantered-item transition-content transition-content--open animation-start">
                <h1>We’re linking your DVA account to myGov</h1>
              </div>
            </div>
            <div class="transition-content animation-end">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your account is linked to myGov</h1>
                <h2 class="ss-align--center">From now on you can login to your account directly using your myGov&nbsp;login&nbsp;details</h2>
              </div>
            </div>
          </div>


          <div class="pagination margin-below--none">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'http://mygov.gov.au'">Go to myGov</button>
            <button class="uikit-btn floated" onclick="window.location.href = '/auth/onboarding'">Continue with DVA</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <% include ../../partials/footer-mygov.ejs %>

  <script>
    setTimeout(function () {
      var animationStartElement = document.getElementsByClassName('animation-start')[0];
      var animationEndElement = document.getElementsByClassName('animation-end')[0];

      animationStartElement.className = animationStartElement.className.replace(/(?:^|\s)transition-content--open(?!\S)/g, '');
      animationEndElement.className += ' transition-content--open';
    }, 2800);

  </script>
</body>

</html>
