<!DOCTYPE html>
<html class="js"
      lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width"
        name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css"
        rel="stylesheet">
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link"
       href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-onboarding-page.ejs %>
      <main>
        <section>
          <div class="container margin-below">
            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                <h1 class="margin-below--none">Department of Veterans' Affairs </h1>
                <p>Select the credentials you would like to link with myGov </p>
                <div class="mys-radio-group mys-radio-group--cols-3 margin-below">
                  <label class="mys-radio">
                    <input id=""
                           class="mys-radio__control"
                           type="radio"
                           name="mygov-linking"
                           value="mygov-linking--myservice">
                    <span class="mys-radio__box mys-radio__box--large">
                      <img class="mys-radio__icon"
                           src="../../../../docs/images/ico-folder.svg">
                      <span>MyService</span>
                    </span>
                  </label>

                  <label class="mys-radio">
                    <input id=""
                           class="mys-radio__control"
                           type="radio"
                           name="mygov-linking"
                           value="mygov-linking--myaccount">
                    <span class="mys-radio__box mys-radio__box--large">
                      <img class="mys-radio__icon"
                           src="../../../../docs/images/ico-folder.svg">
                      <span>MyAccount </span>
                    </span>
                  </label>

                  <label class="mys-radio">
                    <input id=""
                           class="mys-radio__control"
                           type="radio"
                           name="mygov-linking"
                           value="mygov-linking--code">
                    <span class="mys-radio__box mys-radio__box--large">
                      <img class="mys-radio__icon"
                           src="../../../../docs/images/ico-folder.svg">
                      <span>Activation code</span>
                    </span>
                  </label>
                </div>

                <div class="transition-content pt-myaccount-selected">

                  <div class="form-group margin-below field  pt-username">
                    <label class="uikit-text-input__label"
                           for="myaccount-username">Username
                      <span class="input-error-message">Enter your username rather than your email address</span>
                    </label>
                    <input class="uikit-text-input input-half"
                           name="myaccount-username"
                           id="myaccount-username"
                           type="email"
                           value="">
                    <br />
                    <a href=""
                       class="pt-myaccount-forgot">Forgot username</a>

                  </div>
                  <div class="form-group margin-below">
                    <label class="uikit-text-input__label"
                           for="myaccount-password">Password</label>
                    <input class="uikit-text-input input-half"
                           name="myaccount-password"
                           id="myaccount-password"
                           type="password"
                           value="">
                    <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
                    <br />
                    <a href=""
                       class="pt-myaccount-forgot">Forgot password</a>
                  </div>
                  <div class="pagination">
                    <button class="uikit-btn uikit-btn--block uikit-btn--tertiary"
                            onclick="">Cancel</button>
                    <div class="floated">
                      <button class="uikit-btn uikit-btn--block pt-myaccount-next"
                              onclick="location.href='onboarding';">Next</button>
                    </div>
                  </div>

                </div>


                <div class="transition-content pt-myservice-selected">
                  <div class="form-group margin-below field  pt-username">
                    <label class="uikit-text-input__label"
                           for="myservice-username">Email
                    </label>
                    <input class="uikit-text-input input-half"
                           name="myservice-username"
                           id="myservice-username"
                           type="email"
                           value="">
                    <br />
                    <a href=""
                       class="pt-myservice-forgot">Forgot email</a>

                  </div>
                  <div class="form-group margin-below">
                    <label class="uikit-text-input__label"
                           for="myservice-password">Password</label>
                    <input class="uikit-text-input input-half"
                           name="myservice-password"
                           id="myservice-password"
                           type="password"
                           value="">
                    <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
                    <br />
                    <a href=""
                       class="pt-myservice-forgot">Forgot password</a>
                  </div>
                  <div class="pagination">
                    <button class="uikit-btn uikit-btn--block uikit-btn--tertiary"
                            onclick="">Cancel</button>
                    <div class="floated">
                      <button class="uikit-btn uikit-btn--block pt-myservice-next"
                              onclick="location.href='onboarding';">Next</button>
                    </div>
                  </div>
                </div>

                <div class="transition-content pt-linking-code-selected">
                  <div class="form-group margin-below">
                    <label class="uikit-text-input__label"
                           for="linking-code">Enter your activation code
                    </label>

                    <input class="uikit-text-input input-half"
                           name="linking-code"
                           type="text"
                           value="">
                  </div>

                  <div class="pagination">
                    <button class="uikit-btn uikit-btn--block uikit-btn--tertiary"
                            onclick="">Cancel</button>
                    <div class="floated">
                      <button class="uikit-btn uikit-btn--block pt-linking-code-next"
                              onclick="location.href='onboarding';">Next</button>
                    </div>
                  </div>

                </div>

                <div class="transition-content pt-myaccount-forgot-details">

                  <div class="timebox--wrapper margin-below">
                    <img src="../../../docs/images/ico-phone-blue.svg"
                         alt="Phone icon">
                    <p>Can't remember your username and/or password?
                    </p>
                    <p>Call us on 1234982374 and we'll give you an activation code.</p>
                  </div>
                  <div class="form-group margin-below">
                    <label class="uikit-text-input__label"
                           for="activation-code">Activation code
                    </label>
                    <input class="uikit-text-input input-half"
                           name="activation-code"
                           type="text"
                           value="">
                  </div>

                  <div class="pagination">
                    <button class="uikit-btn uikit-btn--block uikit-btn--tertiary"
                            onclick="">Cancel</button>
                    <div class="floated">
                      <button class="uikit-btn uikit-btn--block"
                              onclick="">Next</button>
                    </div>
                  </div>
                </div>
                <div class="transition-content transition-content--open pt-no-account">
                  <a href="onboarding">I don't have an account with DVA</a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </section>
      </main>

      <% include ../global/partials/footer-limbo.ejs %>



        <script>
          $(document).ready(function ($) {

            $('input[name="mygov-linking"]').prop('checked', false);

            $(".show-password").click(function () {

              var passwordField = $(this).closest('.form-group').find('input');
              if ($(passwordField).attr("type") == "password") {
                $(passwordField).attr("type", "text");
                $(this).text('Hide');

              } else {
                $(passwordField).attr("type", "password");
                $(this).val('Show');
                $(this).text('Show');
              }
            });

            function initLinking() {
              $('.pt-myaccount-selected').removeClass('transition-content--open');
              $('.pt-myservice-selected').removeClass('transition-content--open');
              $('.pt-linking-code-selected').removeClass('transition-content--open');
              $('.pt-myaccount-forgot-details').removeClass('transition-content--open');
              $('.pt-no-account').removeClass('transition-content--open');

            }

            $('input[name=mygov-linking]').change(function () {

              if (this.value === 'mygov-linking--myaccount') {
                initLinking();
                $('.pt-myaccount-selected').toggleClass('transition-content--open');

                $("#myaccount-username").keyup(function () {
                  if (this.value.indexOf('@') > -1) {
                    $(this).closest(".field").addClass("has-error");
                  } else {
                    $(this).closest(".field").removeClass("has-error");
                  }
                });

                $('.pt-myaccount-forgot').click(function (e) {
                  e.preventDefault();
                  initLinking();
                  $('.pt-myaccount-forgot-details').toggleClass('transition-content--open');
                });

              } else if (this.value === 'mygov-linking--myservice') {
                initLinking();
                $('.pt-myservice-selected').toggleClass('transition-content--open');

              } else if (this.value === 'mygov-linking--code') {
                initLinking();
                $('.pt-linking-code-selected').toggleClass('transition-content--open');
              }
            });

          });
        </script>

</body>

</html>