<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-onboarding-page.ejs %>
      <main>
        <section>
          <div class="section-feature margin-above--none margin-below--none">
            <div class="container ss-align--center" style="height:400px;">

              <h1>Guts</h1>
            </div>
          </div>
        </section>
      </main>

      <% include ../global/partials/footer-limbo.ejs %>

</body>

</html>