<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-onboarding-page.ejs %>
      <main>
        <section>
          <div class="container">
            <div class="row margin-below ss-align--center">
              <div class="col-sm-12">
                <h1 class="margin-below--none">Link your DVA account to MyGov</h1>
                <h2 class="margin-above--none">If you don't already have an account with DVA you can register for one now.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
                <a id="myservice-btn" class="uikit-btn uikit-btn--block uikit-btn--tertiary transition-content transition-content--open">Link a
                  <img src="../../docs/images/ico-myservice-chevron.svg" width="16" style="padding-left:3px;">
                  <font color=#1057a7>MyService</font> account</a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                <div id="myservice-content" class="transition-content border-all">
                  <div class="row ss-align--center margin-above margin-below">
                    <div class="col-sm-offset-2 col-sm-8 ss-align">
                      <div class="form-group margin-below">
                        <h3 class="ss-align--center margin-above--none">Enter your MyService login details</h3>
                        <hr class="margin-above--none margin-below--mid">
                        <label class="uikit-text-input__label" for="myservice-username">Email
                        </label>
                        <input class="uikit-text-input" name="myservice-username" id="myservice-username" type="email" value="">
                        <br />
                        <a href="" class="pt-myservice-forgot">Forgot email</a>
                      </div>
                      <div class="form-group margin-below">
                        <label class="uikit-text-input__label" for="myservice-password">Password</label>
                        <input class="uikit-text-input" name="myservice-password" id="myservice-password" type="password" value="">
                        <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
                        <br />
                        <a href="" class="pt-myservice-forgot">Forgot password</a>
                      </div>
                      <hr class="margin-above--none margin-below--none">
                      <div class="ss-align--center">
                        <button id="myservice-cancel-btn" class="uikit-btn uikit-btn--tertiary" onclick="">Cancel</button>
                        <button class="uikit-btn pt-myservice-next" onclick="location.href='onboarding';">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
                <a id="myaccount-btn" class="uikit-btn uikit-btn--block uikit-btn--tertiary transition-content transition-content--open">Link using MyAccount</a>
              </div>
            </div>

            <div class="row">
              <div class="col-md-offset-2 col-md-8">
                <div id="myaccount-content" class="transition-content border-all">
                  <div class="row ss-align--center margin-above margin-below">
                    <div class="col-sm-offset-2 col-sm-8 ss-align">
                      <div class="form-group margin-below field  pt-username">
                        <h3 class="ss-align--center margin-above--none">Enter your MyAccount login details</h3>
                        <hr class="margin-above--none margin-below--mid">
                        <label class="uikit-text-input__label" for="myaccount-username">Username
                          <span class="input-error-message">Enter your username rather than your email address</span>
                        </label>
                        <input class="uikit-text-input" name="myaccount-username" id="myaccount-username" type="email" value="">
                        <br />
                        <a href="" class="pt-myaccount-forgot">Forgot username</a>
                      </div>
                      <div class="form-group margin-below">
                        <label class="uikit-text-input__label" for="myaccount-password">Password</label>
                        <input class="uikit-text-input" name="myaccount-password" id="myaccount-password" type="password" value="">
                        <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
                        <br />
                        <a href="" class="pt-myaccount-forgot">Forgot password</a>
                      </div>
                      <hr class="margin-above--none margin-below--none">
                      <div class="ss-align--center">
                        <button id="myaccount-cancel-btn" class="uikit-btn uikit-btn--tertiary" onclick="">Cancel</button>
                        <button class="uikit-btn pt-myservice-next" onclick="location.href='onboarding';">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>






            <div id="existing-new-divider" class="row transition-content transition-content--open">
              <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <hr class="margin-above margin-below--mid">
              </div>
            </div>

            <div class="row ss-align--center">
              <div class="col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">
                <a href="/register" id="new-account-btn" class="uikit-btn uikit-btn--tertiary uikit-btn--block transition-content transition-content--open">Register a new account</a>
              </div>
            </div>

            <div id="new-nom-rep-btn" class="row ss-align--center margin-above margin-below--extra transition-content transition-content--open">
              <div class="col-sm-12">
                <a href="#">I have an activation code</a>
              </div>
            </div>

            <div class="row ss-align--center margin-below--extra">
              <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
                <div id="new-nom-rep-content" class="transition-content ss-align--center border-all">
                  <div class="margin-above margin-below">
                    <div class="form-group margin-below">
                      <label class="uikit-text-input__label" for="linking-code">Enter your activation&nbsp;code</label>
                      <input class="uikit-text-input input-half ss-align--center" name="linking-code" type="text" value="">
                    </div>
                    <button class="uikit-btn uikit-btn--tertiary" id="new-nom-rep-cancel-btn" onclick="">Cancel</button>
                    <button class="uikit-btn pt-linking-code-next" onclick="location.href='onboarding';">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

        </section>
      </main>

      <% include ../global/partials/footer-limbo.ejs %>



        <script>
          $(document).ready(function ($) {

            $('input[name="mygov-linking"]').prop('checked', false);

            $(".show-password").click(function () {

              var passwordField = $(this).closest('.form-group').find('input');
              if ($(passwordField).attr("type") == "password") {
                $(passwordField).attr("type", "text");
                $(this).text('Hide');

              } else {
                $(passwordField).attr("type", "password");
                $(this).val('Show');
                $(this).text('Show');
              }
            });

            function initLinking() {
              $('.pt-myaccount-selected').removeClass('transition-content--open');
              $('.pt-myservice-selected').removeClass('transition-content--open');
              $('.pt-linking-code-selected').removeClass('transition-content--open');
              $('.pt-myaccount-forgot-details').removeClass('transition-content--open');
              $('.pt-no-account').removeClass('transition-content--open');

            }

            $('input[name=mygov-linking]').change(function () {

              if (this.value === 'mygov-linking--myaccount') {
                initLinking();
                $('.pt-myaccount-selected').toggleClass('transition-content--open');

                $("#myaccount-username").keyup(function () {
                  if (this.value.indexOf('@') > -1) {
                    $(this).closest(".field").addClass("has-error");
                  } else {
                    $(this).closest(".field").removeClass("has-error");
                  }
                });

                $('.pt-myaccount-forgot').click(function (e) {
                  e.preventDefault();
                  initLinking();
                  $('.pt-myaccount-forgot-details').toggleClass('transition-content--open');
                });

              } else if (this.value === 'mygov-linking--myservice') {
                initLinking();
                $('.pt-myservice-selected').toggleClass('transition-content--open');

              } else if (this.value === 'mygov-linking--code') {
                initLinking();
                $('.pt-linking-code-selected').toggleClass('transition-content--open');
              }
            });

          });

          $("#myservice-btn").click(function () {
            $("#myservice-content").toggleClass("transition-content--open");
            $("#myservice-btn").toggleClass("transition-content--open");
            $("#myaccount-btn").toggleClass("transition-content--open");
            $("#existing-new-divider").toggleClass("transition-content--open");
            $("#new-nom-rep-btn").toggleClass("transition-content--open");
            $("#new-account-btn").toggleClass("transition-content--open");
            $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
          });

          $("#myservice-cancel-btn").click(function () {
            $("#myservice-content").toggleClass("transition-content--open");
            $("#myservice-btn").toggleClass("transition-content--open");
            $("#myaccount-btn").toggleClass("transition-content--open");
            $("#existing-new-divider").toggleClass("transition-content--open");
            $("#new-nom-rep-btn").toggleClass("transition-content--open");
            $("#new-account-btn").toggleClass("transition-content--open");
            $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
          });

          $("#myaccount-btn").click(function () {
            $("#myaccount-content").toggleClass("transition-content--open");
            $("#myservice-btn").toggleClass("transition-content--open");
            $("#myaccount-btn").toggleClass("transition-content--open");
            $("#existing-new-divider").toggleClass("transition-content--open");
            $("#new-nom-rep-btn").toggleClass("transition-content--open");
            $("#new-account-btn").toggleClass("transition-content--open");
            $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
          });

          $("#myaccount-cancel-btn").click(function () {
            $("#myaccount-content").toggleClass("transition-content--open");
            $("#myservice-btn").toggleClass("transition-content--open");
            $("#myaccount-btn").toggleClass("transition-content--open");
            $("#existing-new-divider").toggleClass("transition-content--open");
            $("#new-nom-rep-btn").toggleClass("transition-content--open");
            $("#new-account-btn").toggleClass("transition-content--open");
            $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
          });

          $("#new-nom-rep-btn").click(function () {
            $("#new-nom-rep-content").toggleClass("transition-content--open");
            $("#new-nom-rep-btn").toggleClass("transition-content--open");
            $("#new-account-btn").toggleClass("transition-content--open");
            $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
          });

          $("#new-nom-rep-cancel-btn").click(function () {
            $("#new-nom-rep-content").toggleClass("transition-content--open");
            $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
            $("#new-nom-rep-btn").toggleClass("transition-content--open");
            $("#new-account-btn").toggleClass("transition-content--open");
          });

          // $("#new-account-btn").click(function () {
          //   $("#new-account-content").toggleClass("transition-content--open");
          //   $("#new-account-btn").hide();
          //   $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
          // });

        </script>

</body>

</html>