<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a href="/auth" class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-onboarding-page.ejs %>

      <main>
        <section>
          <div class="section-feature margin-above--none margin-below--none">
            <div class="container">

              <div class=" ss-align--center">
                <h2 class="margin-below margin-below--medium">
                  <b>Hi Robert, we are improving the way you claim for DVA support and services.</b>
                </h2>

              </div>



              <div class="row">
                <!-- MyService -->
                <div class="hover-effect">
                  <div class="col-sm-offset-1 col-sm-5 card card--white">
                    <a href="/auth">
                      <div class="">
                        <img src=" ../../docs/images/logo-myservice-onboarding.svg " width="80% " alt="MyService logo
                        " title="MyService " class="margin-above ">
                        <p class="margin-below--small ">A new way to claim.
                          <br>Get access to treatment and support.</p>
                        <span tabindex="0" class="uikit-btn uikit-btn--tertiary margin-below">Go to MyService</span>
                      </div>
                    </a>
                  </div>


                  <div class="col-sm-5 card card--white">
                    <a href="/auth">
                      <div class=" ">
                        <img src="../../docs/images/logo-myaccount-onboarding.png" width="80% " alt="MyAccount logo
                        " title="MyAccount " class="margin-above ">
                        <p class="margin-below--small ">Soon to be phased out
                          <br>and moved to MyService.</p>
                        <span tabindex="0" href="/auth" class="uikit-btn uikit-btn--tertiary margin-below">Go to MyAccount</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>


            </div>
            <div class="ss-align--center">
              <h3 class="margin-below margin-below--medium ss-align--center font-weight-normal">MyService will eventually replace MyAccount.
                <br>Switch between MyAccount and MyService to get the support you need.</h3>
            </div>
            <div class="container margin-above ss-align--center">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 ">
                  <a id="comparison-button" class="uikit-btn accordion accordion--button ">What's changed?
                    <span class="accordion__trigger accordion__trigger--closed accordion__trigger--white"></span>
                  </a>
                  <div class="ss-align--center">
                    <h4>Find out where to go to get the support you need</h4>
                  </div>
                  <div id="comparison-table" class="transition-content margin-above--large">
                    <table class="table-responsive feature-set">
                      <thead>
                        <tr>
                          <th>Things you can do
                          </th>
                          <th class="ss-align--center">MyService</th>
                          <th class="ss-align--center">MyAccount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="feature-set__sub-heading">
                          <td colspan=3>
                            <b>Claims</b>
                          </td>
                        </tr>
                        <tr>
                          <td>Access free mental health treatment</td>
                          <td class="feature-set__yes feature-set__yes--green">
                            <a href="/auth ">
                              <span class="sr">MyService</span>
                            </a>
                          </td>
                          <td class="feature-set__no"></td>
                        </tr>
                        <tr>
                          <td>Claim for your injury or illness</td>
                          <td class="feature-set__yes feature-set__yes--green">
                            <a href="/auth ">
                              <span class="sr">MyService</span>
                            </a>
                          </td>
                          <td class="feature-set__no"></td>
                        </tr>

                        <tr>
                          <td>Claim for education assistance</td>
                          <td class="feature-set__yes feature-set__yes--green">
                            <a href="/auth ">
                              <span class="sr">MyService</span>
                            </a>
                          </td>
                          <td class="feature-set__no"></td>
                        </tr>
                        <tr>
                          <td>Claim for Permanent Impairment compensation</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>Claim for reimbursement</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr class="feature-set__sub-heading">
                          <td colspan=3>
                            <b>Payments</b>
                          </td>
                        </tr>
                        <tr>
                          <td>View payments</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>Request an advance payment</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr class="feature-set__sub-heading ">
                          <td colspan=3>
                            <b>Health card</b>
                          </td>
                        </tr>
                        <tr>
                          <td>View your health card information</td>
                          <td class="feature-set__yes feature-set__yes--green">
                            <a href="/auth ">
                              <span class="sr">MyService</span>
                            </a>
                          </td>
                          <td class="feature-set__no"></td>
                        </tr>
                        <tr>
                          <td>Request a replacement health card</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>View your approved conditions</td>
                          <td class="feature-set__yes feature-set__yes--green">
                            <a href="/auth ">
                              <span class="sr">MyService</span>
                            </a>
                          </td>
                          <td class="feature-set__no"></td>
                        </tr>

                        <tr class="feature-set__sub-heading ">
                          <td colspan=3>
                            <b>Profile</b>
                          </td>
                        </tr>
                        <tr>
                          <td>Update your profile</td>
                          <td class="feature-set__yes feature-set__yes--green">
                            <a href="/auth ">
                              <span class="sr">MyService</span>
                            </a>
                          </td>
                          <td class="feature-set__no"></td>
                        </tr>
                        <tr>
                          <td>Notify us of overseas travel</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>Update your income and assets</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr class="feature-set__sub-heading ">
                          <td colspan=3>
                            <b>Transport</b>
                          </td>
                        </tr>
                        <tr>
                          <td>Book transport</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>View your travel history</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr class="feature-set__sub-heading ">
                          <td colspan=3>
                            <b>Other</b>
                          </td>
                        </tr>
                        <tr>
                          <td>Request official letters</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>Plan for your commemoration</td>
                          <td class="feature-set__no"></td>
                          <td class="feature-set__yes ">
                            <a href="/auth ">
                              <span class="sr">MyAccount</span>
                            </a>
                          </td>
                        </tr>
                        <tr class="feature-set__ss-hide">
                          <td></td>
                          <td>
                            <a href="/auth" class="uikit-btn uikit-btn--tertiary margin-below ">Go to MyService</a>
                          </td>
                          <td>
                            <a href="/auth" class="uikit-btn uikit-btn--tertiary margin-below ">Go to MyAccount</a>
                          </td>
                        </tr>
                        <tr class="feature-set__ss-show">
                          <td colspan="2">
                            <a href="/auth" class="uikit-btn uikit-btn--tertiary">Go to MyService</a>
                            <a href="/auth" class="uikit-btn uikit-btn--tertiary">Go to MyAccount</a>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <% include ../global/partials/footer-limbo.ejs %>
        <script>
          // $('#comparison-table').hide();
          $("#comparison-button").click(function () {
            $("#comparison-table").toggleClass("transition-content--open");
            $(this).find('.accordion__trigger').toggleClass('accordion__trigger--closed');
          });


          $(".toggle-arrow ").click(function () {
            $(".simple-accordion ").toggleClass('simple-accordion--open simple-accordion--closed');
          });
        </script>
</body>

</html>