<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-onboarding-page.ejs %>

      <main>
        <section>
          <div class="section-feature margin-above--none margin-below--none" style="border-top:1px solid #cccccc;">
            <div class="container">

              <div class=" ss-align--center">
                <h2 class="margin-below--mid">
                  <b>Hi Robert, we are improving the way you claim for DVA support and services.</b>
                </h2>

              </div>


              <div class="row">


                <!-- MyService -->
                <div class="hover-effect">
                  <div class="col-sm-offset-1 col-sm-5 card card--white">
                    <a href="">
                      <div class="">
                        <img src=" ../../docs/images/logo-myservice-onboarding.svg " width="80% " alt="MyService logo
                        " title="MyService " class="margin-above ">
                        <p class="margin-below--small ">An easier way to claim.
                          <Br>Get access to treatment and support.</p>
                        <button class="uikit-btn uikit-btn--tertiary margin-below ">Go to MyService</button>
                      </div>
                    </a>
                  </div>


                  <div class="col-sm-5 card card--white">
                    <a href=" ">
                      <div class=" ">
                        <img src="../../docs/images/logo-myaccount-onboarding.png " width="80% " alt="MyAccount logo
                        " title="MyAccount " class="margin-above ">
                        <p class="margin-below--small ">Soon to be decomissioned
                          <br>and it's features moved to MyService.</p>
                        <button class="uikit-btn uikit-btn--tertiary margin-below ">Go to MyAccount</button>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container ss-align--center ">
            <!-- <div class="ss-align--center ">
                  <h2 class="margin-below--none ">
                    <b>What do you need to do?</b>
                  </h2>
                  <p class="ss-align--center ">A feature set comparison table</p>
                </div> -->


            <div class="col-sm-offset-1 col-sm-10 ">


              <button id="comparison-button " class="uikit-btn uikit-btn--drop-down ">What service is right for me?</button>

              <div id="comparison-table " class="margin-above--large " style="display:none; ">
                <table class="table-responsive feature-set ">
                  <thead>
                    <tr>
                      <th>Things you can do
                      </th>
                      <th class="ss-align--center ">MyService</th>
                      <th class="ss-align--center ">MyAccount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Claims</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Access free mental health treatment</td>
                      <td class="feature-set__yes--green ">
                        <a href="/auth ">
                          <span>MyService</span>
                        </a>
                      </td>
                      <td class="feature-set__no "></td>
                    </tr>
                    <tr>
                      <td>Claim for your injury or illness</td>
                      <td class="feature-set__yes--green ">
                        <a href="/auth ">
                          <span>MyService</span>
                        </a>
                      </td>
                      <td class="feature-set__no "></td>
                    </tr>

                    <tr>
                      <td>Claim for education assistance</td>
                      <td class="feature-set__yes--green ">
                        <a href="/auth ">
                          <span>MyService</span>
                        </a>
                      </td>
                      <td class="feature-set__no "></td>
                    </tr>
                    <tr>
                      <td>Claim for Permanent Impairment compensation</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Claim for reimbursment</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Payments</b>
                      </td>
                    </tr>
                    <tr>
                      <td>View payments</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Request an advance payment</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Health card</b>
                      </td>
                    </tr>
                    <tr>
                      <td>View your health card information</td>
                      <td class="feature-set__yes--green ">
                        <a href="/auth ">
                          <span>MyService</span>
                        </a>
                      </td>
                      <td class="feature-set__no "></td>
                    </tr>
                    <tr>
                      <td>Request a replacement health card</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>View your approved conditions</td>
                      <td class="feature-set__yes--green ">
                        <a href="/auth ">
                          <span>MyService</span>
                        </a>
                      </td>
                      <td class="feature-set__no "></td>
                    </tr>

                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Profile</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Update your profile</td>
                      <td class="feature-set__yes--green ">
                        <a href="/auth ">
                          <span>MyService</span>
                        </a>
                      </td>
                      <td class="feature-set__no "></td>
                    </tr>
                    <tr>
                      <td>Notify us of overseas travel</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Update your income and assets</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Transport</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Book transport</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>View your travel history</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="feature-set__sub-heading ">
                      <td colspan=3>
                        <b>Other</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Request official letters</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Plan for your commemoration</td>
                      <td class="feature-set__no "></td>
                      <td class="feature-set__yes ">
                        <a href="/auth ">
                          <span>MyAccount</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <button class="uikit-btn uikit-btn--tertiary margin-below ">Go to MyService</button>
                      </td>
                      <td>
                        <button class="uikit-btn uikit-btn--tertiary margin-below ">Go to MyAccount</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="ss-align--center ">
                <h3 class="margin-above ss-align--center " style="font-weight:normal; ">MyService will eventually replace MyAccount.
                  <br>Switch between MyAccount and MyService to get the support you need.</h3>
              </div>
            </div>
          </div>
          </div>
          </div>
        </section>
      </main>

      <% include ../global/partials/footer-limbo.ejs %>
        <script>
          $("#comparison-button ").click(function () {
            $("#comparison-table ").toggle("fast ");
          });


          $(".toggle-arrow ").click(function () {
            $(".simple-accordion ").toggleClass('simple-accordion--open simple-accordion--closed');
          });
        </script>
</body>

</html>