<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-authenticated.ejs %>

      <main>
        <section>
          <div class="container" id="main-content">
            <div class="row">
              <div class="col-sm-3">
                  <ul class="secondary-navigation">
                    <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="profile">Personal details</a>
                    </li>
                    <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="profile-contact">Contact details</a>
                    </li>
                    <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="profile-account">Account settings</a>
                    </li>
                    <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="profile-history">Service history</a>
                    </li>
                     <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="profile-relationships">Relationships</a>
                    </li>
                    <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="profile-account">Income and assets</a>
                    </li>
                    <li class="secondary-navigation__item secondary-navigation__item--active">
                      <a class="secondary-navigation__link" href="profile-bank">Bank details</a>
                    </li>
                    <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="nr-agreements-clean">Representative agreements</a>
                    </li>
                    <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="profile-contact">Overseas travel</a>
                    </li>
                    <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="profile-account">Honours and military awards</a>
                    </li>
                    <li class="secondary-navigation__item">
                      <a class="secondary-navigation__link" href="profile-history">Commemoration preferences</a>
                    </li>
                  </ul>
              </div>
              <div class="col-sm-9">
                <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
                  <ul class="uikit-link-list uikit-link-list--inline">
                    <li>
                      <a href="/auth">Home</a>
                    </li>
                    <li>
                      <a href="profile">My profile</a>
                    </li>
                    <li>Bank details</li>
                  </ul>
                </nav>

                <h2>Bank details</h2>
                <% include ../global/partials/bank-account-details.ejs %>

                  <div class="pagination">
                    <button class="uikit-btn call-toast">Save</button>
                  </div>

              </div>
        </section>
        <a href="#" style="display: none">
          <div class="toast">
            <p role="alert">Profile updated</p>
          </div>
        </a>
      </main>


      <% include ../global/partials/footer.ejs %>
        <script>

          // autotab between BSB fields
          $("#bsb").keyup(function () {
            if (this.value.length == this.maxLength) {
              $(this).next('#bsb').focus();
            }
          });

          // PI messages
          $("#aus-yes").click(function () {
            $(".aus-no").hide();
            $(".aus-yes").show("fast");
          });
          $("#aus-no").click(function () {
            $(".aus-yes").hide();
            $(".aus-no").show("fast");
          });

          // Toast message execution
          $('.call-toast').click(function () {
            $('body,html').animate({
              scrollTop: 0
            }, 100);
            // hack to reset focus to top of page
            document.body.setAttribute('tabindex', '0');
            document.body.focus();
            document.body.removeAttribute('tabindex');
            $("#toast__message").show("slow");
          });

          $("#toast__message").click(function () {
            $("#toast__message").hide("slow");
          });

        </script>
</body>

</html>
