<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-topbar.ejs %>
  <% include ../global/partials/header-authenticated.ejs %>
  
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row">
          <div class="col-sm-3 secondary-navigation">
            <h1>My profile</h1>
            <ul>
              <li><a href="profile">Personal details</a></li>
              <li><a href="profile-contact">Contact details</a></li>
              <li><a href="profile-account">Account settings</a></li>
              <li class="active"><a href="profile-bank">Bank details</a></li>
              <li><a href="profile-history">Service history</a></li>
<!--              <li><a href="profile-assets">Income and assets</a></li>-->
            </ul>
          </div>
          <div class="col-sm-9">
            <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
              <ul class="uikit-link-list uikit-link-list--inline">
                <li><a href="/auth">Home</a></li>
                <li><a href="profile">My profile</a></li>
                <li>Bank details</li>
              </ul>
            </nav>
            
            <h2>Bank details</h2>
            <% include ../global/partials/bank-account-details.ejs %>
            
            <div class="pagination">
            	<button class="uikit-btn btnSaveProfile">Save</button>            
			</div>
          
          </div>
        </section>
        <a id="toast-message" href="#" style="display: none">
          <div class="toast">
            <p role="alert">Profile updated</p>
          </div>
        </a>
      </main>
  
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script src="/docs/js/main.js"></script>
  <% include ../global/partials/footer.ejs %>
  <script>

	// autotab between BSB fields 
	$("#bsb").keyup(function () {
		if (this.value.length == this.maxLength) {
		  $(this).next('#bsb').focus();
		}
	});

	// PI messages
	$( "#aus-yes" ).click(function() {
	  $( ".aus-no" ).hide();
	  $( ".aus-yes" ).show("fast");
	});
	$( "#aus-no" ).click(function() {
	  $( ".aus-yes" ).hide();
	  $( ".aus-no" ).show("fast");
	});
	
	// Toast message execution
    $('.btnSaveProfile').click(function() {
      $('body,html').animate({
        scrollTop : 0
      }, 100);
      // hack to reset focus to top of page
      document.body.setAttribute('tabindex','0');
      document.body.focus();
      document.body.removeAttribute('tabindex');
      $("#toast-message").show("slow");
    });

    $( "#toast-message" ).click(function() {
      $("#toast-message").hide("slow");
    });

  </script>
</body>
</html>
