<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-topbar.ejs %>
  <% include ../global/partials/header-authenticated--profile.ejs %>
  
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row">
          <div class="col-sm-3 secondary-navigation">
            <h1>My profile</h1>
            <ul>
              <li><a href="profile">Personal details</a></li>
              <li><a href="profile-contact">Contact details</a></li>
              <li><a href="profile-account">Account settings</a></li>
<!--              <li><a href="profile-bank">Bank details</a></li>-->
              <li class="active"><a href="profile-history">Service history</a></li>
<!--              <li><a href="profile-assets">Income and assets</a></li>-->
            </ul>
          </div>
          <div class="col-sm-9">
            <% include ../global/partials/breadcrumb-profile-history.ejs %>
            <fieldset class="fieldset-margin-top">
              <legend>Service history</legend>              
              <label for="pmkeys" class="uikit-text-input__label">PMKeyS number</label>
                <p>20122550</p>                
              <div class="form-group">
                <label for="enlistment" class="uikit-text-input__label"><span>Enlistment date</span></label>
                <p>13 / 10 / 2006</p>
              </div>
              <table>
                <thead><tr><th>Branch of service</th><th>Start date</th><th>End date</th><th>Operations</th></tr></thead><tbody><tr><td>Royal Australian Navy</td><td>13 / 10 / 2006</td><td>14 / 01 / 2007</td><td></td></tr><tr><td>Royal Australian Navy</td><td>15 / 01 / 2007</td><td>29 / 02 / 2008</td><td></td></tr><tr><td>Royal Australian Navy</td><td>01 / 03 / 2008</td><td><em>(Currently in service)</em></td><td><p><!-- react-text: 1826 -->11 / 08 / 2008<!-- /react-text --><!-- react-text: 1827 --> to <!-- /react-text --><!-- react-text: 1828 -->27 / 09 / 2008<!-- /react-text --><br><!-- react-text: 1830 -->Operation RESOLUTE<!-- /react-text --></p><p><!-- react-text: 1832 -->20 / 06 / 2009<!-- /react-text --><!-- react-text: 1833 --> to <!-- /react-text --><!-- react-text: 1834 -->15 / 11 / 2009<!-- /react-text --><br><!-- react-text: 1836 -->Operation SLIPPER<!-- /react-text --></p><p><!-- react-text: 1838 -->12 / 11 / 2012<!-- /react-text --><!-- react-text: 1839 --> to <!-- /react-text --><!-- react-text: 1840 -->13 / 12 / 2012<!-- /react-text --><br><!-- react-text: 1842 -->Operation RESOLUTE<!-- /react-text --></p></td></tr></tbody>
              </table>
            </fieldset>

          </div>
        </div>
      </section>
      <a id="toast-message" href="#" style="display: none">
        <div class="toast">
          <p role="alert">Profile updated</p>
        </div>
      </a>
    </main>
  </div>
  
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script src="/docs/js/main.js"></script>
  <% include ../global/partials/footer.ejs %>
  <script>
    $('.btnSaveProfile').click(function() {
      $('body,html').animate({
        scrollTop : 0
      }, 100);
      // hack to reset focus to top of page
      document.body.setAttribute('tabindex','0');
      document.body.focus();
      document.body.removeAttribute('tabindex');
      $("#toast-message").show("slow");
    });

    $( "#toast-message" ).click(function() {
      $("#toast-message").hide("slow");
    });
  </script>
</body>
</html>
