<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile: Payment destination | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-authenticated.ejs %>

      <main>
        <section>
          <div class="container margin-above--large" id="main-content">
            <div class="row">
              <div class="col-sm-3">
                <ul class="secondary-navigation">
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile">Personal details</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-contact">Contact details</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-account">Account settings</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-history">Service history</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-relationships">Relationships</a>
                  </li>
                  <!-- <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-account">Income and assets</a>
                  </li> -->
                  <li class="secondary-navigation__item secondary-navigation__item--active">
                    <a class="secondary-navigation__link" href="profile-payment">Payment destination</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="nr-list">Representations</a>
                  </li>
                  <!-- <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-contact">Overseas travel</a>
              </li>
              <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-account">Honours and military awards</a>
              </li> -->
                  <!-- <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-history">Commemoration preferences</a>
              </li> -->
                </ul>
              </div>

              <div class="col-sm-9">
                <h1 class="margin-above--none margin-below--small">Payment destination</h1>
              </div>
              <!-- Summary card -->
              <div id="bank-accounts-summary" class="plain-text-info col-sm-8 margin-above--none">
                <div class=" review__wrapper">
                  <div class="review__content--item boxed">
                    <!-- <div id="container">
                      <div class="change-to-primary">blah1</div>
                      <div class="change-to-primary">blah2</div>
                      <div class="change-to-primary">blah3</div>
                      <div class="change-to-primary">blah4</div>
                      <div class="change-to-primary">blah5</div>
                    </div> -->
                    <div>
                      <button class="uikit-btn uikit-btn--tertiary small floated" id="editCard">&nbsp;Edit&nbsp;</button>
                    </div>
                    <div class="review__table">
                      <div class="tr">
                        <div class="td" style="padding-bottom:10px;"><b>Account name</b></div>
                        <div class="td">Rebecca Orange</div>
                      </div>
                      <div class="tr">
                        <div class="td" style="padding-bottom:10px;"><b>Account number</b></div>
                        <div class="td">1289 12345</div>
                      </div>
                      <div class="tr">
                        <div class="td" style="padding-bottom:10px;"><b>BSB number</b></div>
                        <div class="td">939 000</div>
                      </div>
                      <div class="tr">
                        <div class="td"><b>Institution name</b></div>
                        <div class="td">AMP</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uikit-page-alerts uikit-page-alerts--warning" id="alert-payment-1" role="alert">
                  <p>Changes to your payment destination will not take effect immediately. Do not close any accounts until you have received a payment to the new account.</p>
                </div>
                <hr class="margin-below--none">
                <p>To redirect payments to an overseas account please complete the appropriate form.</p>
              </div>
              <!-- Open card -->
              <div id="bank-accounts-card" class="boxed margin-above--large margin-below--large col-sm-8" style="display: none;">
                <!-- <div id="card-details" class="margin-below--large">
                  <h2><span class="font-weight-heavy">Bank account</span></h2>
                </div> -->
                <div class="form-group">
                  <label class="uikit-text-input__label" for="Input field">Account name</label>
                  <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="Rebecca Orange" required aria-required="true">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="bsb">BSB
                    <span class="hint">(XXX - XXX)</span>
                  </label>
                  <input class="uikit-text-input bsb" type="text" name="bsb" id="bsb-1" maxlength="3" required aria-required="true" aria-label="3 digit BSB" maxlength="3" value="939" size="3">                  -
                  <input class="uikit-text-input bsb" type="text" name="bsb" id="bsb-1" maxlength="3" required aria-required="true" aria-label="3 digit BSB" maxlength="3" value="112" size="3">
                </div>
                <div>
                  <label class="uikit-text-input__label" for="Input field">Financial institution</label>
                  <div class="fa-2x" id="spinner"><i class="fas fa-spinner fa-pulse" style="color:#1057a7;"></i><span class="hint"> Looking up BSB...</span>
                  </div>
                  <!-- <p id="financial-institution-provide">BSB not provided</p> -->
                  <p id="financial-institution-amp">AMP</p>
                  <p id="financial-institution-none">BSB not found. If you are sure you have entered a valid BSB please call VAN to proceed.</p>

                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="Input field">Account number</label>
                  <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="1289 12345" required aria-required="true">
                </div>
                <div class="uikit-page-alerts uikit-page-alerts--warning" id="alert-payment" role="alert">
                  <p>Changes to your payment destination will not take effect immediately. Do not close any accounts until you have received a payment to the new account.</p>
                </div>
                <hr>
                <div id="buttonset2" class="form-group margin-above--none">
                  <button class="uikit-btn" id="saveCard">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="cancelCard">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>
              <!-- Open card --end -->

            </div>
          </div>
        </section>
      </main>
      <% include ../global/partials/footer.ejs %>
        <script>
          $(Document).ready(function () {

            $(document).keypress(function (e) {
              switch (e.which) {
                case 49:
                  hideUgly();
                  break;
                case 50:
                  showUgly();
                  break;
                default:
              }
            });

            function showUgly() {
              // $(".partner ").show();
              // $(".partner-label ").text("Our ");
            }

            function hideUgly() {
              // $(".partner ").hide();
              // $(".partner-label ").text("My ");
            }

          });

          $("#editCard").click(function () {
            $("#bank-accounts-card").show("fast");
            $("#bank-accounts-summary").hide();
          });

          $("#saveCard").click(function () {
            $("#bank-accounts-card").hide();
            $("#bank-accounts-summary").show("fast");
            $("#alert-payment-1").show("fast");
          });

          $("#cancelCard").click(function () {
            $("#bank-accounts-card").hide();
            $("#bank-accounts-summary").show("fast");
          });
          $("#spinner").hide();
          $("#financial-institution-none").hide();
          $("#alert-payment-1").hide();

          //Automatic tab feature for BSB 
          $(".bsb").keyup(function () {
            if (this.value.length == this.maxLength) {
              $(this).next('.bsb').focus();
            }
          });

          //Loading icon feature
          $(".bsb").keyup(function () {
            if (this.value == 111) {

              $("#spinner").show();

              setTimeout(function () {
                $("#financial-institution-none").hide();
                $('#spinner').fadeOut(180);
              }, 1800);

              setTimeout(function () {
                $("#financial-institution-none").hide();
                $("#financial-institution-amp").fadeIn(205);
              }, 2005);

            } else {

              $("#spinner").show();
              setTimeout(function () {
                $('#spinner').fadeOut(180);
                $("#financial-institution-amp").hide();
              }, 1800);

              setTimeout(function () {
                $("#financial-institution-amp").hide();
                $("#financial-institution-none").fadeIn(205);
              }, 2005);
            }
          });

          $(".change-to-primary").click(function () {
            $(this).parent().prepend($(this));
          });

        </script>


</body>

</html>