<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-authenticated--profile.ejs %>

      <main>
        <section>
          <div class="container" id="main-content">
            <div class="row">
              <div class="col-sm-3 secondary-navigation">
                <h1>My profile</h1>
                <ul>
                  <li>
                    <a href="profile">Personal details</a>
                  </li>
                  <li class="active">
                    <a href="profile-contact">Contact details</a>
                  </li>
                  <li>
                    <a href="profile-account">Account settings</a>
                  </li>
                  <!--              <li><a href="profile-bank">Bank details</a></li>-->
                  <li>
                    <a href="profile-history">Service history</a>
                  </li>
                  <!--              <li><a href="profile-assets">Income and assets</a></li>-->
                </ul>
              </div>
              <div class="col-sm-9">
                <% include ../global/partials/breadcrumb-profile.ejs %>

                  <div class="expanel">
                    <div class="expanel-row expanel-header">
                      <legend>Contact details</legend>
                    </div>
                    <div class="expanel-row">
                      <div class="expanel-title">Email address</div>
                      <div class="expanel-description">
                        <div class="expanel-uneditable title-uneditable-div">
                          <div class="expanel-form-value">
                            <span id="email-span">rjohnson@email.com</span>
                          </div>
                          <div class="expanel-btn">
                            <button class="uikit-btn uikit-btn--tertiary small edit-email-button">Change</button>
                          </div>
                        </div>
                        <div class="expanel-uneditable email-editable-div" style="display:none;">
                          <div class="expanel-form-field">
                            <!-- TO DO  -->
                          </div>
                          <div class="expanel-btn">

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="expanel-row has-error">
                      <div class="expanel-title">Home phone number
                        <span class="hint">(optional)</span>
                        <!-- <span class="hint display-block">Please include your area code (for example, "03" for Victoria)</span> -->
                      </div>
                      <div class="expanel-description">
                        <div class="expanel-uneditable home-uneditable-div">
                          <div class="expanel-form-value">
                            <span id="home-span"></span>
                          </div>
                          <div class="expanel-btn">
                            <button class="uikit-btn uikit-btn--tertiary small edit-home-button">Change</button>
                          </div>
                        </div>
                        <div class="expanel-editable home-editable-div" style="display:none;">
                          <!-- <p>Please include your area code (for example, "03" for Victoria)</p> -->

                          <div class="expanel-form-field">
                            <span class="hint display-block">Please include your area code (for example, "03" for Victoria)</span>
                            <span id="phone-error" class="input-error-message" aria-live="polite">Enter a valid home phone number</span>
                            <input class="uikit-text-input" name="home-phone" id="home-phone" type="phone" value="">
                          </div>
                          <div class="expanel-btn">
                            <button class="uikit-btn uikit-btn--tertiary small cancel-home-button">Cancel</button>
                            <button class="uikit-btn small save-home-button">Save</button>
                            <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="expanel-row">
                      <div class="expanel-title">Mobile phone number
                        <span class="hint">(optional)</span>
                      </div>
                      <div class="expanel-description">
                        <div class="expanel-uneditable mobile-uneditable-div">
                          <div class="expanel-form-value">
                            <span id="mobile-span">0402111222</span>
                          </div>
                          <div class="expanel-btn">
                            <button class="uikit-btn uikit-btn--tertiary small edit-mobile-button">Change</button>
                          </div>
                        </div>
                        <div class="expanel-editable mobile-editable-div" style="display:none;">
                          <div class="expanel-form-field">
                            <input class="uikit-text-input" name="mobile-phone" id="mobile-phone" type="phone" value="0402111222">
                          </div>
                          <div class="expanel-btn">
                            <button class="uikit-btn uikit-btn--tertiary small cancel-mobile-button">Cancel</button>
                            <button class="uikit-btn small save-mobile-button">Save</button>
                            <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="expanel-row">
                      <div class="expanel-title">Postal address</div>
                      <div class="expanel-description">
                        <div class="expanel-uneditable postal-uneditable-div">
                          <div class="expanel-form-value">
                            <span id="address0-span" style="display:none;"></span>
                            <span id="address1-span">86 High Street</span>
                            <span id="address2-span" style="display:none;"></span>
                            <br/>
                            <span id="town-span">Warooka</span>
                            <span id="town-span">SA</span>
                            <span id="pcode-span">5577</span>
                            <br/>
                            <span id="country-span">Australia</span>
                          </div>
                          <div class="expanel-btn">
                            <button class="uikit-btn uikit-btn--tertiary small edit-postal-button">Change</button>
                          </div>
                        </div>
                        <div class="expanel-editable postal-editable-div" style="display:none;">
                          <div class="expanel-form-field">
                            <div class="form-group">
                              <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
                              <select id="postalAddr.country" name="postalAddr.country">
                                <option value="Australia" selected>Australia</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <div class="field">
                                <label class="uikit-text-input__label" for="residentialAddr.addressPrefix">
                                  Building name or address prefix
                                  <span class="hint">(optional)</span>
                                </label>
                                <input type="text" id="residentialAddr.addressPrefix" name="residentialAddr.addressPrefix" class="uikit-text-input" aria-required="false"
                                  maxlength="38" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="field">
                                <label class="uikit-text-input__label" for="residentialAddr.addressLine1">
                                  <!-- react-text: 1753 -->Address line 1
                                  <!-- /react-text -->
                                </label>
                                <input type="text" id="residentialAddr.addressLine1" name="residentialAddr.addressLine1" class="uikit-text-input" aria-required="true"
                                  maxlength="38" value="86 High Street">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="field">
                                <label class="uikit-text-input__label" for="residentialAddr.addressLine2">
                                  <!-- react-text: 1759 -->Address line 2
                                  <!-- /react-text -->
                                  <span class="hint">
                                    <!-- react-text: 1761 -->
                                    <!-- /react-text -->
                                    <!-- react-text: 1762 -->(optional)
                                    <!-- /react-text -->
                                  </span>
                                </label>
                                <input type="text" id="residentialAddr.addressLine2" name="residentialAddr.addressLine2" class="uikit-text-input" aria-required="false"
                                  maxlength="38" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="field">
                                <label class="uikit-text-input__label" for="residentialAddr.town">
                                  <!-- react-text: 1768 -->Town
                                </label>
                                <input type="text" id="residentialAddr.town" name="residentialAddr.town" class="uikit-text-input" aria-required="true" maxlength="17"
                                  value="WAROOKA">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="uikit-text-input__label" for="residentialAddr.postcode">
                                Postcode
                              </label>
                              <input type="text" id="residentialAddr.postcode" name="residentialAddr.postcode" class="uikit-text-input input-small yyyy"
                                aria-required="true" maxlength="4" value="5577">
                            </div>
                            <div class="form-group">
                              <label class="uikit-text-input__label" for="residentialAddr.state">
                                State or territory
                              </label>
                              <select id="residentialAddr.state" name="residentialAddr.state">
                                <option value="">-- Select state or territory --</option>
                                <option value="ACT">Australian Capital Territory</option>
                                <option value="NSW">New South Wales</option>
                                <option value="NT">Northern Territory</option>
                                <option value="QLD">Queensland</option>
                                <option value="SA">South Australia</option>
                                <option value="TAS">Tasmania</option>
                                <option value="VIC">Victoria</option>
                                <option value="WA">Western Australia</option>
                              </select>
                            </div>
                          </div>
                          <div class="expanel-btn">
                            <button class="uikit-btn uikit-btn--tertiary small cancel-postal-button">Cancel</button>
                            <button class="uikit-btn small save-postal-button">Save</button>
                            <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="expanel-row">
                      <div class="expanel-title">Residential address</div>
                      <div class="expanel-description">
                        <div class="expanel-uneditable residential-uneditable-div">
                          <div class="expanel-form-value">
                            <!-- <label class="uikit-control-input"> -->
                            <!-- <input type="checkbox" class="uikit-control-input__input" name="sameAsPostal" value="on" checked> -->
                            <span class="uikit-control-input__text">Same as postal address</span>
                            <!-- </label> -->
                          </div>
                          <div class="expanel-btn">
                            <button class="uikit-btn uikit-btn--tertiary small edit-residential-button">Change</button>
                          </div>
                        </div>
                        <div class="expanel-editable residential-editable-div" style="display:none;">
                          <div class="expanel-form-field">
                            <!-- TO DO  -->
                          </div>
                          <div class="expanel-btn">
                            <button class="uikit-btn uikit-btn--tertiary small cancel-residential-button">Cancel</button>
                            <button class="uikit-btn small save-residential-button">Save</button>
                            <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <!-- ----------------------------- OLD VERSION ----------------------------------------------------------------------- -->

              <div class="container" id="main-content">
                <div class="row">

                  <div class="col-sm-9">

                    <fieldset class="fieldset-margin-top">
                      <legend>Contact details</legend>
                      <div class="form-group">
                        <label for="email" class="uikit-text-input__label">Email address</label>
                        <p style="margin-bottom:0.8em;">rjohnson@email.com</p>
                        <button class="uikit-btn uikit-btn--tertiary small">Change email address</button>
                      </div>

                      <div class="form-group">
                        <label class="uikit-text-input__label" required for="home-phone">Home phone number
                          <span class="hint">(optional)</span>
                          <span class="hint display-block">Please include your area code (for example, "03" for Victoria)</span>
                        </label>
                        <input class="uikit-text-input" name="home-phone" id="home-phone" type="phone" value="">
                      </div>
                      <div class="form-group">
                        <label class="uikit-text-input__label" required for="mobile-phone">Mobile phone number
                          <span class="hint">(optional)</span>
                        </label>
                        <input class="uikit-text-input" name="mobile-phone" id="mobile-phone" type="phone" value="0402111222">
                      </div>

                    </fieldset>

                    <hr />

                    <div class="row">
                      <div class="col-sm-6">
                        <fieldset>
                          <legend>Postal address</legend>
                          <div class="form-group">
                            <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
                            <select id="postalAddr.country" name="postalAddr.country">
                              <option value="Australia" selected>Australia</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <div class="field">
                              <label class="uikit-text-input__label" for="residentialAddr.addressPrefix">
                                <!-- react-text: 1744 -->Building name or address prefix
                                <!-- /react-text -->
                                <span class="hint">
                                  <!-- react-text: 1746 -->
                                  <!-- /react-text -->
                                  <!-- react-text: 1747 -->(optional)
                                  <!-- /react-text -->
                                </span>
                              </label>
                              <input type="text" id="residentialAddr.addressPrefix" name="residentialAddr.addressPrefix" class="uikit-text-input" aria-required="false"
                                maxlength="38" value="">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="field">
                              <label class="uikit-text-input__label" for="residentialAddr.addressLine1">
                                <!-- react-text: 1753 -->Address line 1
                                <!-- /react-text -->
                              </label>
                              <input type="text" id="residentialAddr.addressLine1" name="residentialAddr.addressLine1" class="uikit-text-input" aria-required="true"
                                maxlength="38" value="86 High Street">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="field">
                              <label class="uikit-text-input__label" for="residentialAddr.addressLine2">
                                <!-- react-text: 1759 -->Address line 2
                                <!-- /react-text -->
                                <span class="hint">
                                  <!-- react-text: 1761 -->
                                  <!-- /react-text -->
                                  <!-- react-text: 1762 -->(optional)
                                  <!-- /react-text -->
                                </span>
                              </label>
                              <input type="text" id="residentialAddr.addressLine2" name="residentialAddr.addressLine2" class="uikit-text-input" aria-required="false"
                                maxlength="38" value="">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="field">
                              <label class="uikit-text-input__label" for="residentialAddr.town">
                                <!-- react-text: 1768 -->Town
                                <!-- /react-text -->
                              </label>
                              <input type="text" id="residentialAddr.town" name="residentialAddr.town" class="uikit-text-input" aria-required="true" maxlength="17"
                                value="WAROOKA">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="uikit-text-input__label" for="residentialAddr.postcode">
                              <!-- react-text: 1774 -->Postcode
                              <!-- /react-text -->
                            </label>
                            <input type="text" id="residentialAddr.postcode" name="residentialAddr.postcode" class="uikit-text-input input-small yyyy"
                              aria-required="true" maxlength="4" value="5577">
                          </div>
                          <div class="form-group">
                            <label class="uikit-text-input__label" for="residentialAddr.state">
                              <!-- react-text: 1780 -->State or territory
                              <!-- /react-text -->
                            </label>
                            <select id="residentialAddr.state" name="residentialAddr.state">
                              <option value="">-- Select state or territory --</option>
                              <option value="ACT">Australian Capital Territory</option>
                              <option value="NSW">New South Wales</option>
                              <option value="NT">Northern Territory</option>
                              <option value="QLD">Queensland</option>
                              <option value="SA">South Australia</option>
                              <option value="TAS">Tasmania</option>
                              <option value="VIC">Victoria</option>
                              <option value="WA">Western Australia</option>
                            </select>
                          </div>
                        </fieldset>
                      </div>

                      <div class="col-sm-6">
                        <fieldset>
                          <legend>Residential address</legend>
                          <p>
                            <label class="uikit-control-input">
                              <input type="checkbox" class="uikit-control-input__input" name="sameAsPostal" value="on" checked disabled=True>
                              <span class="uikit-control-input__text">Same as postal address</span>
                            </label>
                          </p>
                        </fieldset>
                      </div>

                    </div>
                    <div class="pagination">
                      <button class="uikit-btn call-toast">Save</button>
                    </div>
                  </div>
        </section>
        <a href="#" style="display: none">
          <div class="toast">
            <p role="alert">Profile updated</p>
          </div>
        </a>
      </main>
      </div>
      </div>

      <script src="/docs/js/jquery-3.2.1.min.js"></script>
      <script src="/docs/js/main.js"></script>
      <% include ../global/partials/footer.ejs %>
        <script>
          $('.call-toast').click(function () {
            $('body,html').animate({
              scrollTop: 0
            }, 100);
            // hack to reset focus to top of page
            document.body.setAttribute('tabindex', '0');
            document.body.focus();
            document.body.removeAttribute('tabindex');
            $("#toast__message").show("slow");
          });

          $("#toast__message").click(function () {
            $("#toast__message").hide("slow");
          });
        </script>


        <script>

          // mimic functionality need after a save button is pressed
          // to disable all edit buttons to allow for saving time
          var fewSeconds = 2;

          // // When the edit field is cicked for email 
          // $(".edit-email-button").click(function () {
          //   $(".email-editable-div").show();
          //   $(".save-email-button").show();
          //   $(".edit-email-button").hide();
          //   $(".title-uneditable-div").hide();
          //   // disable other edit fields
          //   $('.edit-email-button, .edit-mobile-button, .edit-postal-button, .edit-residential-button').prop('disabled', true);
          // });


          // // When the cancel field is cicked for title
          // $(".cancel-email-button").click(function () {
          //   $(".email-editable-div").hide();
          //   $(".save-email-button").hide();
          //   $(".edit-email-button").show();
          //   $(".email-uneditable-div").show();
          //   // re-enable other edit fields
          //   $('.edit-email-button, .edit-mobile-button, .edit-postal-button, .edit-residential-button').prop('disabled', false);
          // });

          // When the edit field is clicked for home phone number
          $(".edit-home-button").click(function () {
            $(".home-editable-div").show();
            $(".save-home-button").show();
            $(".edit-home-button").hide();
            $(".home-uneditable-div").hide();
            // disable other edit fields
            $('.edit-email-button, .edit-mobile-button, .edit-postal-button, .edit-residential-button').prop('disabled', true);
          });

          // When the save field is clicked for home phone number
          $(".save-home-button").click(function () {

            var btn = $(".save-home-button, .cancel-home-button");
            btn.prop('disabled', true);
            $('.waiting-animation').show();
            setTimeout(function () {
              btn.prop('disabled', false);

              $(".home-editable-div").hide();
              $(".save-home-button").hide();
              $(".edit-home-button").show();
              $(".home-uneditable-div").show();
              var home_new = $("#home-phone").val();
              $("#home-span").html(home_new)
              // re-enable other edit fields
              $('.edit-email-button, .edit-mobile-button, .edit-postal-button, .edit-residential-button').prop('disabled', false);
              $('.waiting-animation').hide();
            }, fewSeconds * 1000);
          });

          // When the cancel field is clicked for home phone number
          $(".cancel-home-button").click(function () {
            $(".home-editable-div").hide();
            $(".save-home-button").hide();
            $(".edit-home-button").show();
            $(".home-uneditable-div").show();
            // re-enable other edit fields
            $('.edit-email-button, .edit-mobile-button, .edit-postal-button, .edit-residential-button').prop('disabled', false);
          });

          // When the edit field is clicked for mobile phone number
          $(".edit-mobile-button").click(function () {
            $(".mobile-editable-div").show();
            $(".save-mobile-button").show();
            $(".edit-mobile-button").hide();
            $(".mobile-uneditable-div").hide();
            // disable other edit fields
            $('.edit-home-button, .edit-email-button, .edit-postal-button, .edit-residential-button').prop('disabled', true);
          });

          // When the save field is cicked for mobile phone number
          $(".save-mobile-button").click(function () {

            var btn = $(".save-home-button, .cancel-home-button");
            btn.prop('disabled', true);
            $('.waiting-animation').show();
            setTimeout(function () {
              btn.prop('disabled', false);
              $(".mobile-editable-div").hide();
              $(".save-mobile-button").hide();
              $(".edit-mobile-button").show();
              $(".mobile-uneditable-div").show();
              var mobile_new = $("#mobile-phone").val();
              $("#mobile-span").html(mobile_new)
              // re-enable other edit fields
              $('.edit-home-button, .edit-email-button, .edit-postal-button, .edit-residential-button').prop('disabled', false);
              $('.waiting-animation').hide();
            }, fewSeconds * 1000);
          });

          // When the cancel field is cicked for mobile phone number
          $(".cancel-mobile-button").click(function () {
            $(".mobile-editable-div").hide();
            $(".save-mobile-button").hide();
            $(".edit-mobile-button").show();
            $(".mobile-uneditable-div").show();
            // re-enable other edit fields
            $('.edit-home-button, .edit-email-button, .edit-postal-button, .edit-residential-button').prop('disabled', false);
          });


          // When the edit field is clicked for postal address
          $(".edit-postal-button").click(function () {
            $(".postal-editable-div").show();
            $(".save-postal-button").show();
            $(".edit-postal-button").hide();
            $(".postal-uneditable-div").hide();
            // disable other edit fields
            $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-residential-button').prop('disabled', true);
          });

          // When the save field is cicked for postal address
          $(".save-postal-button").click(function () {
            var btn = $(".save-home-button, .cancel-home-button");
            btn.prop('disabled', true);
            $('.waiting-animation').show();
            setTimeout(function () {
              btn.prop('disabled', false);

              $(".postal-editable-div").hide();
              $(".save-postal-button").hide();
              $(".edit-postal-button").show();
              $(".postal-uneditable-div").show();

              // re-enable other edit fields
              $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-residential-button').prop('disabled', false);

              $('.waiting-animation').hide();
            }, fewSeconds * 1000);
          });

          // When the cancel field is cicked for postal address
          $(".cancel-postal-button").click(function () {
            $(".postal-editable-div").hide();
            $(".save-postal-button").hide();
            $(".edit-postal-button").show();
            $(".postal-uneditable-div").show();
            // re-enable other edit fields
            $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-residential-button').prop('disabled', false);
          });


          // When the edit field is clicked for residential address
          $(".edit-residential-button").click(function () {
            $(".residential-editable-div").show();
            $(".save-residential-button").show();
            $(".edit-residential-button").hide();
            $(".residential-uneditable-div").hide();
            // disable other edit fields
            $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-postal-button').prop('disabled', true);
          });

          // When the save field is cicked for residential address
          $(".save-residential-button").click(function () {
            var btn = $(".save-home-button, .cancel-home-button");
            btn.prop('disabled', true);
            $('.waiting-animation').show();
            setTimeout(function () {
              btn.prop('disabled', false);
              $(".residential-editable-div").hide();
              $(".save-residential-button").hide();
              $(".edit-residential-button").show();
              $(".residential-uneditable-div").show();

              // re-enable other edit fields
              $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-postal-button').prop('disabled', false);
              $('.waiting-animation').hide();
            }, fewSeconds * 1000);
          });

          // When the cancel field is cicked for residential address
          $(".cancel-residential-button").click(function () {
            $(".residential-editable-div").hide();
            $(".save-residential-button").hide();
            $(".edit-residential-button").show();
            $(".residential-uneditable-div").show();
            // re-enable other edit fields
            $('.edit-email-button, .edit-home-button, .edit-mobile-button, .edit-postal-button').prop('disabled', false);
          });


        </script>
</body>

</html>