<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Profile | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<nav class="uikit-skip-link">
		<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
	</nav>
	<% include ../global/partials/header-topbar.ejs %>
		<% include ../global/partials/header-authenticated--profile.ejs %>

			<main>
				<section>
					<div class="container" id="main-content">
						<div class="row" style="padding-top:1em">
							<div class="col-sm-3 secondary-navigation">
								<ul>
									<li class="active">
										<a href="profile">Personal details</a>
									</li>
									<li>
										<a href="profile-contact">Contact details</a>
									</li>
									<li>
										<a href="profile-account">Account settings</a>
									</li>
									<li>
										<a href="profile-history">Service history</a>
									</li>
								</ul>
							</div>
							<div class="col-sm-9">
								<h1 class="margin-above margin-above--none">Personal details</h1>
								<div class="profile-table">
									<div class="row profile-row">
										<div class="col-sm-10 col-xs-8 description-fields">
											<div class="row">
												<div class="col-sm-4 title-field">Title</div>
												<div class="col-sm-8 uneditable title-uneditable-div">
													<span id="title-span">Not specified</span>
												</div>
												<div class="col-sm-8 editable title-editable-div" style="display:none;">
													<select class="uikit-text-input" name="title" id="title" type="text" value="">
														<option>-- Select title --</option>
														<option selected="">Not specified</option>
														<option>Commissioner</option>
														<option>Dame</option>
														<option>Emeritus Professor</option>
														<option>Honourable Mr Justice</option>
														<option>Matron</option>
														<option>Miss</option>
														<option>Monsignor</option>
														<option>Mr</option>
														<option>Mr Justice</option>
														<option>Mrs</option>
														<option>Ms</option>
														<option>Reverend Mr</option>
														<option>Right Reverend Monsignor</option>
													</select>
													<button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
													<button class="uikit-btn small save-title-button">Save</button>
													<div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
												</div>
											</div>
										</div>
										<div class="col-sm-2 col-xs-4 change-button">
											<button class="uikit-btn uikit-btn--tertiary small edit-title-button">Change</button>
										</div>
									</div>
									<div class="row profile-row">
										<div class="col-sm-10 col-xs-8 description-fields">
											<div class="row">
												<div class="col-sm-4 title-field">Highest rank acheived</div>
												<div class="col-sm-8 uneditable rank-uneditable-div">
													<span id="rank-span">Wing Commander</span>
												</div>
												<div class="col-sm-8 editable rank-editable-div" style="display:none;">
													<select class="uikit-text-input" name="highest-rank" id="highest-rank" type="text" value="">
														<option>-- Select rank --</option>
														<option value="Able Seaman" selected>Able Seaman</option>
														<option value="Acting Sub Lieutenant">Acting Sub Lieutenant</option>
														<option value="Admiral">Admiral</option>
														<option value="Air Chief Marshal">Air Chief Marshal</option>
														<option value="Air Commodore">Air Commodore</option>
														<option value="Air Marshal">Air Marshal</option>
														<option value="Air Vice Marshal">Air Vice Marshal</option>
														<option value="Aircraftman">Aircraftman</option>
														<option value="Aircraftwoman">Aircraftwoman</option>
														<option value="Bombardier">Bombardier</option>
														<option value="Brigadier">Brigadier</option>
														<option value="Captain">Captain</option>
														<option value="Chief Petty Officer">Chief Petty Officer</option>
														<option value="Colonel">Colonel</option>
														<option value="Commander">Commander</option>
														<option value="Commodore">Commodore</option>
														<option value="Corporal">Corporal</option>
														<option value="Flight Lieutenant">Flight Lieutenant</option>
														<option value="Flight Sergeant">Flight Sergeant</option>
														<option value="Flying Officer">Flying Officer</option>
														<option value="General">General</option>
														<option value="General Sir">General Sir</option>
														<option value="Group Captain">Group Captain</option>
														<option value="Lance Bombardier">Lance Bombardier</option>
														<option value="Lance Corporal">Lance Corporal</option>
														<option value="Leading Aircraftman">Leading Aircraftman</option>
														<option value="Leading Aircraftwoman">Leading Aircraftwoman</option>
														<option value="Leading Seaman">Leading Seaman</option>
														<option value="Lieutenant">Lieutenant</option>
														<option value="Lieutenant Colonel">Lieutenant Colonel</option>
														<option value="Lieutenant Commander">Lieutenant Commander</option>
														<option value="Lieutenant General">Lieutenant General</option>
														<option value="Lieutenant General Sir">Lieutenant General Sir</option>
														<option value="Major">Major</option>
														<option value="Major General">Major General</option>
														<option value="Major General Sir">Major General Sir</option>
														<option value="Midshipman">Midshipman</option>
														<option value="Non-Commissioned Officer Cadet">Non-Commissioned Officer Cadet</option>
														<option value="Officer Cadet">Officer Cadet</option>
														<option value="Petty Officer">Petty Officer</option>
														<option value="Pilot Officer">Pilot Officer</option>
														<option value="Private">Private</option>
														<option value="Rear Admiral">Rear Admiral</option>
														<option value="Regimental Sergeant Major">Regimental Sergeant Major</option>
														<option value="Seaman">Seaman</option>
														<option value="Second Lieutenant">Second Lieutenant</option>
														<option value="Sergeant">Sergeant</option>
														<option value="Squadron Leader">Squadron Leader</option>
														<option value="Staff Sergeant">Staff Sergeant</option>
														<option value="Sub Lieutenant">Sub Lieutenant</option>
														<option value="Vice Admiral">Vice Admiral</option>
														<option value="Vice Admiral Sir">Vice Admiral Sir</option>
														<option value="Warrant Officer">Warrant Officer</option>
														<option value="Warrant Officer Class 1">Warrant Officer Class 1</option>
														<option value="Warrant Officer Class 2">Warrant Officer Class 2</option>
														<option value="Warrant Officer of the Air Force">Warrant Officer of the Air Force</option>
														<option value="Warrant Officer of the Navy">Warrant Officer of the Navy</option>
														<option value="Wing Commander">Wing Commander</option>
													</select>
													<button class="uikit-btn uikit-btn--tertiary small cancel-rank-button">Cancel</button>
													<button class="uikit-btn small save-rank-button">Save</button>
													<div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
												</div>
											</div>
										</div>
										<div class="col-sm-2 col-xs-4 change-button">
											<button class="uikit-btn uikit-btn--tertiary small edit-rank-button">Change</button>
										</div>
									</div>
									<div class="row profile-row">
										<div class="col-sm-10 col-xs-8 description-fields">
											<div class="row">
												<div class="col-sm-4 title-field">Name</div>
												<div class="col-sm-8 uneditable">
													<span>Robert Johnson</span>
												</div>
											</div>
										</div>
										<div class="col-sm-2 col-xs-4 change-button">
											<div class="description-locked"></div>
										</div>
									</div>
									<div class="row profile-row">
										<div class="col-sm-10 col-xs-8 description-fields">
											<div class="row">
												<div class="col-sm-4 title-field">Date of birth</div>
												<div class="col-sm-8 uneditable">
													<span>01 / 09 / 1970</span>
												</div>
											</div>
										</div>
										<div class="col-sm-2 col-xs-4 change-button">
											<div class="description-locked"></div>
										</div>
									</div>
									<div class="row profile-row">
										<div class="col-sm-10 col-xs-8 description-fields">
											<div class="row">
												<div class="col-sm-4 title-field">Relationship status</div>
												<div class="col-sm-4 uneditable relationship-uneditable-div">
													<span id="relationship-span">Married</span>
												</div>
												<div class="col-sm-9 editable relationship-editable-div" style="display:none;">
													<select class="uikit-text-input" name="relationship" id="relationship" type="text" value="">
														<option>-- Select status --</option>
														<option selected="">Not specified</option>
														<option value="Defacto">Defacto</option>
														<option value="Divorced">Divorced</option>
														<option value="Married" selected>Married</option>
														<option value="Partner Deceased">Partner Deceased</option>
														<option value="Separated">Separated</option>
														<option value="Single">Single</option>
														<option value="Unable to Live Together (medical reason)">Unable to Live Together (medical reason)</option>
														<option value="Widowed">Widowed</option>
													</select>
													<button class="uikit-btn uikit-btn--tertiary small cancel-relationship-button">Cancel</button>
													<button class="uikit-btn small save-relationship-button">Save</button>
													<div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
												</div>
											</div>
										</div>
										<div class="col-sm-2 col-xs-4 change-button">
											<button class="uikit-btn uikit-btn--tertiary small edit-relationship-button">Change</button>
										</div>
									</div>
								</div>
							</div>
							<br>
							<br>

							<!-- <button class="uikit-btn" onclick="window.location.href = '#open-modal-unsaved-changes'">Test modal</button> -->
							<% include ../auth/partials/modal-unsaved-changes.ejs %>

								<br>
								<br>

						</div>
				</section>

			</main>

			<% include ../global/partials/footer.ejs %>

				<script>

					// mimic functionality need after a save button is pressed
					// to disable all edit buttons to allow for saving time
					var fewSeconds = 2;

					// When the edit field is cicked for title
					$(".edit-title-button").click(function () {
						$(".title-editable-div").show();
						$(".save-title-button").show();
						$(".edit-title-button").hide();
						$(".title-uneditable-div").hide();
						// disable other edit fields
						$('.edit-rank-button, .edit-relationship-button').prop('disabled', true);
					});

					// When the save field is cicked for title
					$(".save-title-button").click(function () {

						var btn = $(".save-title-button, .cancel-title-button");
						btn.prop('disabled', true);
						$('.waiting-animation').show();
						setTimeout(function () {
							btn.prop('disabled', false);
							var title_new = $("#title").val();
							$("#title-span").html(title_new)
							// re-enable other edit fields
							$('.edit-rank-button, .edit-relationship-button').prop('disabled', false);
							$(".title-editable-div").hide();
							$(".save-title-button").hide();
							$(".edit-title-button").show();
							$(".title-uneditable-div").show();
							$('.waiting-animation').hide();
						}, fewSeconds * 1000);
					});

					// When the cancel field is cicked for title
					$(".cancel-title-button").click(function () {
						$(".title-editable-div").hide();
						$(".save-title-button").hide();
						$(".edit-title-button").show();
						$(".title-uneditable-div").show();
						// re-enable other edit fields
						$('.edit-rank-button, .edit-relationship-button').prop('disabled', false);
					});

					// When the edit field is cicked for rank
					$(".edit-rank-button").click(function () {
						$(".rank-editable-div").show();
						$(".save-rank-button").show();
						$(".edit-rank-button").hide();
						$(".rank-uneditable-div").hide();
						// disable other edit fields
						$('.edit-title-button, .edit-relationship-button').prop('disabled', true);
					});

					// When the save field is cicked for rank
					$(".save-rank-button").click(function () {

						var btn = $(".save-rank-button, .cancel-rank-button");
						btn.prop('disabled', true);
						$('.waiting-animation').show();
						setTimeout(function () {
							btn.prop('disabled', false);

							$(".rank-editable-div").hide();
							$(".save-rank-button").hide();
							$(".edit-rank-button").show();
							$(".rank-uneditable-div").show();
							var rank_new = $("#highest-rank").val();
							$("#rank-span").html(rank_new)
							// re-enable other edit fields
							$('.edit-title-button, .edit-relationship-button').prop('disabled', false);
							$('.waiting-animation').hide();
						}, fewSeconds * 1000);
					});

					// When the cancel field is cicked for rank
					$(".cancel-rank-button").click(function () {
						$(".rank-editable-div").hide();
						$(".save-rank-button").hide();
						$(".edit-rank-button").show();
						$(".rank-uneditable-div").show();
						// re-enable other edit fields
						$('.edit-title-button, .edit-relationship-button').prop('disabled', false);
					});

					// When the edit field is cicked for relationship status
					$(".edit-relationship-button").click(function () {
						$(".relationship-editable-div").show();
						$(".save-relationship-button").show();
						$(".edit-relationship-button").hide();
						$(".relationship-uneditable-div").hide();
						// disable other edit fields
						$('.edit-title-button, .edit-rank-button').prop('disabled', true);
					});

					// When the save field is cicked for relationship status
					$(".save-relationship-button").click(function () {

						var btn = $(".save-relationship-button, .cancel-relationship-button");
						btn.prop('disabled', true);
						$('.waiting-animation').show();
						setTimeout(function () {
							btn.prop('disabled', false);
							$(".relationship-editable-div").hide();
							$(".save-relationship-button").hide();
							$(".edit-relationship-button").show();
							$(".relationship-uneditable-div").show();
							var relationship_new = $("#relationship").val();
							$("#relationship-span").html(relationship_new)
							// re-enable other edit fields
							$('.edit-title-button, .edit-rank-button').prop('disabled', false);
							$('.waiting-animation').hide();
						}, fewSeconds * 1000);
					});

					// When the cancel field is cicked for relationship status
					$(".cancel-relationship-button").click(function () {
						$(".relationship-editable-div").hide();
						$(".save-relationship-button").hide();
						$(".edit-relationship-button").show();
						$(".relationship-uneditable-div").show();
						// re-enable other edit fields
						$('.edit-title-button, .edit-rank-button').prop('disabled', false);
					});



				</script>

</body>

</html>