<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile: Payment destination | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar.ejs %>
    <% include ../global/partials/header-authenticated.ejs %>

      <main>
        <section>
          <div class="container margin-above--large" id="main-content">
            <div class="row">
              <div class="col-sm-3">
                <ul class="secondary-navigation">
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile">Personal details</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-contact">Contact details</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-account">Account settings</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-history">Service history</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-relationships">Relationships</a>
                  </li>
                  <!-- <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="profile-account">Income and assets</a>
                  </li> -->
                  <li class="secondary-navigation__item secondary-navigation__item--active">
                    <a class="secondary-navigation__link" href="profile-payment">Payment destination</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="nr-list">Representations</a>
                  </li>
                  <!-- <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-contact">Overseas travel</a>
              </li>
              <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-account">Honours and military awards</a>
              </li> -->
                  <!-- <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-history">Commemoration preferences</a>
              </li> -->
                </ul>
              </div>

              <div class="col-sm-9">
                <h1 class="margin-above--none">Payment destination</h1>
              </div>
              <!-- Summary card -->
              <div id="bank-accounts-summary" class="plain-text-info col-sm-8">
                <div class=" review__wrapper">
                  <div class="review__content--item boxed">
                    <div>
                      <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard()">&nbsp;Edit&nbsp;</button>
                    </div>
                    <div class="review__table">
                      <div class="tr">
                        <div class="td" style="padding-bottom:10px;"><b>Account name</b></div>
                        <div class="td">Rebecca Orange</div>
                      </div>
                      <div class="tr">
                        <div class="td" style="padding-bottom:10px;"><b>Account number</b></div>
                        <div class="td">1289 12345</div>
                      </div>
                      <div class="tr">
                        <div class="td" style="padding-bottom:10px;"><b>BSB number</b></div>
                        <div class="td">939 000</div>
                      </div>
                      <div class="tr">
                        <div class="td" style="padding-bottom:10px;"><b>Institution name</b></div>
                        <div class="td">AMP</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Open card -->
              <div id="bank-accounts-card" class="boxed margin-above--large margin-below--large col-sm-8" style="display: none;">
                <div id="card-details" class="margin-below--large">
                  <h2><span class="font-weight-heavy">Bank account</span></h2>
                </div>
                <hr>
                <div id="buttonset2 " class="form-group margin-above--none ">
                  <button id="addButton " class="uikit-btn " onclick="addSummary('bank-accounts');">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn
                uikit-btn--tertiary " onclick="cancelCard(); ">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>
              <!-- Open card --end -->


            </div>
          </div>
        </section>
      </main>
      <% include ../global/partials/footer.ejs %>
        <script>
          $(Document).ready(function () {

            $(document).keypress(function (e) {
              switch (e.which) {
                case 49:
                  hideUgly();
                  break;
                case 50:
                  showUgly();
                  break;
                default:
              }
            });

            function showUgly() {
              // $(".partner ").show();
              // $(".partner-label ").text("Our ");
            }

            function hideUgly() {
              // $(".partner ").hide();
              // $(".partner-label ").text("My ");
            }

          });

          $("#editCard").click(function () {
            $("#bank-accounts-card").show("fast");
            $("#bank-accounts-summary").hide();

          });
        </script>
</body>

</html>