<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-topbar.ejs %>
  <% include ../global/partials/header-authenticated.ejs %>
  
  <main>
    <section>
      <div class="container" id="main-content">
        <% include ../global/partials/breadcrumb-profile-contact.ejs %>
        <h1>Contact details</h1>
        <div class="row">
          <div class="col-sm-3 secondary-navigation">
            <p class="sr">Navigation</p>
            <ul>
              <li><a href="profile">Personal details</a></li>
              <li><a href="profile-account">Account details</a></li>
              <li class="active"><a href="profile-contact">Contact details</a></li>
              <li><a href="profile-history">Service history</a></li>
            </ul>
          </div>
          <div class="col-sm-9">

          <fieldset>
            <legend>Australian phone numbers</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" required for="mobile-phone">Mobile <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="mobile-phone" id="mobile-phone" type="phone" value="0402111222">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" required for="home-phone">Home  <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="home-phone" id="home-phone" type="phone" value="">
            </div>
          </fieldset>

          <hr />

          <div class="row">
            <div class="col-sm-6">
              <fieldset>
                <legend>Postal address</legend>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
                  <select id="postalAddr.country" name="postalAddr.country">
                    <option value="Australia" selected>Australia</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="field">
                    <label class="uikit-text-input__label" for="residentialAddr.addressPrefix"><!-- react-text: 1744 -->Building name or address prefix<!-- /react-text --><span class="hint"><!-- react-text: 1746 --> <!-- /react-text --><!-- react-text: 1747 -->(optional)<!-- /react-text --></span></label>
                    <input type="text" id="residentialAddr.addressPrefix" name="residentialAddr.addressPrefix" class="uikit-text-input" aria-required="false" maxlength="38" value="">
                  </div>
                </div>
                <div class="form-group">
                  <div class="field">
                    <label class="uikit-text-input__label" for="residentialAddr.addressLine1"><!-- react-text: 1753 -->Address line 1<!-- /react-text --></label>
                    <input type="text" id="residentialAddr.addressLine1" name="residentialAddr.addressLine1" class="uikit-text-input" aria-required="true" maxlength="38" value="86 High Street">
                  </div>
                </div>
                <div class="form-group">
                  <div class="field">
                    <label class="uikit-text-input__label" for="residentialAddr.addressLine2"><!-- react-text: 1759 -->Address line 2<!-- /react-text --><span class="hint"><!-- react-text: 1761 --> <!-- /react-text --><!-- react-text: 1762 -->(optional)<!-- /react-text --></span></label>
                    <input type="text" id="residentialAddr.addressLine2" name="residentialAddr.addressLine2" class="uikit-text-input" aria-required="false" maxlength="38" value="">
                  </div>
                </div>
                <div class="form-group">
                  <div class="field">
                    <label class="uikit-text-input__label" for="residentialAddr.town"><!-- react-text: 1768 -->Town<!-- /react-text --></label>
                    <input type="text" id="residentialAddr.town" name="residentialAddr.town" class="uikit-text-input" aria-required="true" maxlength="17" value="WAROOKA">
                  </div>
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddr.postcode"><!-- react-text: 1774 -->Postcode<!-- /react-text --></label>
                  <input type="text" id="residentialAddr.postcode" name="residentialAddr.postcode" class="uikit-text-input input-small yyyy" aria-required="true" maxlength="4" value="5577">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddr.state"><!-- react-text: 1780 -->State or territory<!-- /react-text --></label>
                  <select id="residentialAddr.state" name="residentialAddr.state">
                    <option value="">-- Select state or territory --</option>
                    <option value="ACT">Australian Capital Territory</option>
                    <option value="NSW">New South Wales</option>
                    <option value="NT">Northern Territory</option>
                    <option value="QLD">Queensland</option>
                    <option value="SA">South Australia</option>
                    <option value="TAS">Tasmania</option>
                    <option value="VIC">Victoria</option>
                    <option value="WA">Western Australia</option>
                  </select>
                </div>
              </fieldset>
            </div>

            <div class="col-sm-6">
              <fieldset>
                <legend>Residential address</legend>
                <p>
                  <label class="uikit-control-input">
                    <input type="checkbox" class="uikit-control-input__input" name="sameAsPostal" value="on" checked><span class="uikit-control-input__text">Same as postal address</span>
                  </label>
                </p>
                </fieldset>
            </div>

          </div>
          <div class="pagination">
            <button class="uikit-btn btnSaveProfile">Save</button>            
          </div>
        </div>
      </section>
      <a id="toast-message" href="#" style="display: none">
        <div class="toast">
          <p role="alert">Profile updated</p>
        </div>
      </a>
    </main>
  </div>
</div>
  
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script src="/docs/js/main.js"></script>
  <% include ../global/partials/footer.ejs %>
  <script>
    $('.btnSaveProfile').click(function() {
      $('body,html').animate({
        scrollTop : 0
      }, 100);
      // hack to reset focus to top of page
      document.body.setAttribute('tabindex','0');
      document.body.focus();
      document.body.removeAttribute('tabindex');
      $("#toast-message").show("slow");
    });

    $( "#toast-message" ).click(function() {
      $("#toast-message").hide("slow");
    });
  </script>
</body>
</html>
