<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>My profile | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<nav class="uikit-skip-link">
		<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
	</nav>
	<% include ../global/partials/header-topbar.ejs %>
		<% include ../global/partials/header-authenticated.ejs %>

			<main>
				<section>
					<div class="container" id="main-content">
						<div class="row margin-above margin-below--extra">
							<div class="col-sm-3 secondary-navigation">
								<ul>
									<li>
										<a href="profile">Personal details</a>
									</li>
									<li>
										<a href="profile-contact">Contact details</a>
									</li>
									<li>
										<a href="profile-account">Account settings</a>
									</li>
									<li class="active">
										<a href="profile-history">Service history</a>
									</li>
								</ul>
							</div>
							<div class="col-sm-9">
								<h1 class="margin-above--none">Service history</h1>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, aliquid laboriosam? Quasi illum voluptates veritatis suscipit corrupti, accusamus necessitatibus esse nemo
									maxime eos, repellat earum, atque molestias perspiciatis magnam tempora?</p>
								<div class="profile-table margin-below--extra" role="list">
									<div class="row profile-row" role="listitem">
										<div class="col-sm-9 col-xs-7 description-fields">
											<div class="row">
												<div class="col-sm-4 title-field">Service ID</div>
												<div class="col-sm-8 uneditable">
													<span>20122550</span>
												</div>
											</div>
										</div>
										<div class="col-sm-3 col-xs-5 change-button">
											<button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Change</button>
										</div>
									</div>
									<div class="row profile-row" role="listitem">
										<div class="col-sm-9 col-xs-7 description-fields">
											<div class="row">
												<div class="col-sm-4 title-field">Enlistment date</div>
												<div class="col-sm-8 uneditable">
													<span>13 / 10 / 2006</span>
												</div>
											</div>
										</div>
										<div class="col-sm-3 col-xs-5 change-button">
											<button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Change</button>
										</div>
									</div>
									<div class="row profile-row" role="listitem">
										<div class="col-sm-9 col-xs-7 description-fields">
											<div class="row">
												<div class="col-sm-4 title-field">Highest rank acheived</div>
												<div class="col-sm-8 uneditable rank-uneditable-div">
													<span id="rank-span">Wing Commander</span>
												</div>
												<div class="col-sm-8 editable rank-editable-div" style="display:none;">
													<select class="uikit-text-input" name="highest-rank" id="highest-rank" type="text" value="">
														<option>-- Select rank --</option>
														<option value="Able Seaman" selected>Able Seaman</option>
														<option value="Acting Sub Lieutenant">Acting Sub Lieutenant</option>
														<option value="Admiral">Admiral</option>
														<option value="Air Chief Marshal">Air Chief Marshal</option>
														<option value="Air Commodore">Air Commodore</option>
														<option value="Air Marshal">Air Marshal</option>
														<option value="Air Vice Marshal">Air Vice Marshal</option>
														<option value="Aircraftman">Aircraftman</option>
														<option value="Aircraftwoman">Aircraftwoman</option>
														<option value="Bombardier">Bombardier</option>
														<option value="Brigadier">Brigadier</option>
														<option value="Captain">Captain</option>
														<option value="Chief Petty Officer">Chief Petty Officer</option>
														<option value="Colonel">Colonel</option>
														<option value="Commander">Commander</option>
														<option value="Commodore">Commodore</option>
														<option value="Corporal">Corporal</option>
														<option value="Flight Lieutenant">Flight Lieutenant</option>
														<option value="Flight Sergeant">Flight Sergeant</option>
														<option value="Flying Officer">Flying Officer</option>
														<option value="General">General</option>
														<option value="General Sir">General Sir</option>
														<option value="Group Captain">Group Captain</option>
														<option value="Lance Bombardier">Lance Bombardier</option>
														<option value="Lance Corporal">Lance Corporal</option>
														<option value="Leading Aircraftman">Leading Aircraftman</option>
														<option value="Leading Aircraftwoman">Leading Aircraftwoman</option>
														<option value="Leading Seaman">Leading Seaman</option>
														<option value="Lieutenant">Lieutenant</option>
														<option value="Lieutenant Colonel">Lieutenant Colonel</option>
														<option value="Lieutenant Commander">Lieutenant Commander</option>
														<option value="Lieutenant General">Lieutenant General</option>
														<option value="Lieutenant General Sir">Lieutenant General Sir</option>
														<option value="Major">Major</option>
														<option value="Major General">Major General</option>
														<option value="Major General Sir">Major General Sir</option>
														<option value="Midshipman">Midshipman</option>
														<option value="Non-Commissioned Officer Cadet">Non-Commissioned Officer Cadet</option>
														<option value="Officer Cadet">Officer Cadet</option>
														<option value="Petty Officer">Petty Officer</option>
														<option value="Pilot Officer">Pilot Officer</option>
														<option value="Private">Private</option>
														<option value="Rear Admiral">Rear Admiral</option>
														<option value="Regimental Sergeant Major">Regimental Sergeant Major</option>
														<option value="Seaman">Seaman</option>
														<option value="Second Lieutenant">Second Lieutenant</option>
														<option value="Sergeant">Sergeant</option>
														<option value="Squadron Leader">Squadron Leader</option>
														<option value="Staff Sergeant">Staff Sergeant</option>
														<option value="Sub Lieutenant">Sub Lieutenant</option>
														<option value="Vice Admiral">Vice Admiral</option>
														<option value="Vice Admiral Sir">Vice Admiral Sir</option>
														<option value="Warrant Officer">Warrant Officer</option>
														<option value="Warrant Officer Class 1">Warrant Officer Class 1</option>
														<option value="Warrant Officer Class 2">Warrant Officer Class 2</option>
														<option value="Warrant Officer of the Air Force">Warrant Officer of the Air Force</option>
														<option value="Warrant Officer of the Navy">Warrant Officer of the Navy</option>
														<option value="Wing Commander">Wing Commander</option>
													</select>
													<button class="uikit-btn uikit-btn--tertiary small cancel-rank-button">Cancel</button>
													<button class="uikit-btn small save-rank-button">Save</button>
													<div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
												</div>
											</div>
										</div>
										<div class="col-sm-3 col-xs-5 change-button">
											<button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-rank-button">Change</button>
										</div>
									</div>

								</div>

								<section class="widget">
									<div class="widget-header">
										<h2>
											<span class="widget-header__title">Service history</span>
											<span class="widget-actions floated">
												<button id="add-period" class="uikit-btn small widget-btn">Add period</button>
											</span>
										</h2>
									</div>
									<div class="row widget-content widget--justclaims">
										<div class="col-md-12">
											<table class="table-claims table-responsive">
												<thead>
													<tr>
														<th class="widget-activity">Service period</th>
														<th class="widget-actions">Actions</th>
													</tr>
												</thead>
												<tbody id="period-history"></tbody>
											</table>
										</div>
									</div>
								</section>

							</div>
						</div>
					</div>
				</section>
				<a href="#" style="display: none">
					<div class="toast">
						<p role="alert">Profile updated</p>
					</div>
				</a>
			</main>
			</div>


			<% include ../global/partials/footer.ejs %>

				<div id="templates">
					<div id="period-template">
						<tr>
							<td>
								<p class="status-icon status-incomplete">
									<span class="branch"></span>
									<span class="range"></span>
									<br />
									<span class="status"></span>
								</p>
							</td>
							<td class="widget-actions">
								<button class="uikit-btn small uikit-btn--tertiary view">View</button>
								<button class="uikit-btn small uikit-btn--tertiary edit">Edit</button>
								<button class="uikit-btn small uikit-btn--tertiary delete">Delete</button>
							</td>
						</tr>
					</div>
				</div>

				<script>
					var SERVICE_HISTORY = 'serviceHistory';

					function urlParameter(pUrl, pName) {
						var name = pName.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
						var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
						var results = regex.exec(pUrl);
						return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
					};

					function deleteWarning(pIndex) {

					}
					debugger
					if (!urlParameter(window.location.search, 'continue')) {
						localStorage.removeItem(SERVICE_HISTORY);
					}

					var serviceHistoryDefault = {
						periods: []
					};

					var serviceHistory = localStorage.getItem(SERVICE_HISTORY);
					if (serviceHistory) {
						serviceHistory = JSON.parse(serviceHistory);
					} else {
						serviceHistory = serviceHistoryDefault;
					}

					var periodTemplate = document.getElementById('period-template');
					var periodHistoryTarget = document.getElementById('period-history');
					serviceHistory.periods.forEach(function (pPeriod, pIndex) {
						var periodElement = periodTemplate.firstElementChild.cloneNode(true);

						periodElement.getElementsByClassName('branch')[0].innerHTML = pPeriod.branch;
						periodElement.getElementsByClassName('status')[0].innerHTML = pPeriod.status;
						periodElement.getElementsByClassName('range')[0].innerHTML = pPeriod.start + ' - ' + pPeriod.end;
						periodElement.getElementsByClassName('view')[0].onclick = function () {
							window.location.href = '/service-period-overview?period=' + pIndex;
						};
						periodElement.getElementsByClassName('edit')[0].onclick = function () {
							window.location.href = '/service-period-1?period=' + pIndex;
						};
						periodElement.getElementsByClassName('delete')[0].onclick = function () {
							deleteWarning(pIndex);
						};

						periodHistoryTarget.appendChild(periodElement);
					});

					var periodDefault = {
						branch: null,
						startDay: null,
						startMonth: null,
						startYear: null,
						endDay: null,
						endMonth: null,
						endYear: null,
						operations: [],
						documents: [],
						details: null
					};
					document.getElementById('add-period').onclick = function () {
						var nextIndex = serviceHistory.periods.length
						serviceHistory[nextIndex] = periodDefault;
						localStorage.setItem(SERVICE_HISTORY, JSON.stringify(serviceHistory));
						window.location.href = '/service-period-1?period=' + nextIndex;
					}

				</script>
</body>

</html>