<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Profile | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-topbar.ejs %>
  <% include ../global/partials/header-authenticated--profile.ejs %>

  <main>
    <section>
      <div class="container" id="main-content">
        <% include ../global/partials/breadcrumb-profile.ejs %>
        <h1>My profile</h1>
        <div class="row">
          <div class="col-sm-3 secondary-navigation">
            <p class="sr">Navigation</p>
            <ul>
              <li class="active"><a href="profile">Personal details</a></li>
              <li><a href="profile-contact">Contact details</a></li>
              <li><a href="profile-account">Account settings</a></li>
              <li><a href="profile-history">Service history</a></li>
            </ul>
          </div>
          <div class="col-sm-9">
            <fieldset>
              <legend>Personal details</legend>
              <div class="form-group title">
                <div class="field">
                  <label class="uikit-text-input__label" for="title"><!-- react-text: 496 -->Title<!-- /react-text --></label><select id="title" name="title"><option value=""></option><option value="Abbot">Abbot</option><option value="Acting Sub Lieutenant (Retd)">Acting Sub Lieutenant (Retd)</option><option value="Admiral (Retd)">Admiral (Retd)</option><option value="Air Chief Marshal (Retd)">Air Chief Marshal (Retd)</option><option value="Air Commodore (Retd)">Air Commodore (Retd)</option><option value="Air Marshal (Retd)">Air Marshal (Retd)</option><option value="Air Vice Marshal (Retd)">Air Vice Marshal (Retd)</option><option value="Alderman">Alderman</option><option value="Ambassador">Ambassador</option><option value="Archbishop">Archbishop</option><option value="Archdeacon">Archdeacon</option><option value="Associate Professor">Associate Professor</option><option value="Baron">Baron</option><option value="Baroness">Baroness</option><option value="Bishop">Bishop</option><option value="Brigadier (Retd)">Brigadier (Retd)</option><option value="Brother">Brother</option><option value="Canon">Canon</option><option value="Captain (Retd)">Captain (Retd)</option><option value="Cardinal">Cardinal</option><option value="Chaplain">Chaplain</option><option value="Chief Inspector">Chief Inspector</option><option value="Colonel (Retd)">Colonel (Retd)</option><option value="Commander (Retd)">Commander (Retd)</option><option value="Commissioner">Commissioner</option><option value="Commodore (Retd)">Commodore (Retd)</option><option value="Constable">Constable</option><option value="Consul">Consul</option><option value="Count">Count</option><option value="Countess">Countess</option><option value="Dame">Dame</option><option value="Deacon">Deacon</option><option value="Deaconess">Deaconess</option><option value="Dean">Dean</option><option value="Deputy Superintendent">Deputy Superintendent</option><option value="Director">Director</option><option value="Doctor">Doctor</option><option value="Dr">Dr</option><option value="Earl">Earl</option><option value="Emeritus Professor">Emeritus Professor</option><option value="Engineer">Engineer</option><option value="Father">Father</option><option value="Flight Lieutenant (Retd)">Flight Lieutenant (Retd)</option><option value="Flying Officer (Retd)">Flying Officer (Retd)</option><option value="General (Retd)">General (Retd)</option><option value="General Sir (Retd)">General Sir (Retd)</option><option value="Governor">Governor</option><option value="Group Captain (Retd)">Group Captain (Retd)</option><option value="His Excellency">His Excellency</option><option value="His Honour Judge">His Honour Judge</option><option value="Honourable Doctor">Honourable Doctor</option><option value="Honourable Mr Justice">Honourable Mr Justice</option><option value="Honourable Sir">Honourable Sir</option><option value="Judge">Judge</option><option value="Justice">Justice</option><option value="Lady">Lady</option><option value="Lieutenant (Retd)">Lieutenant (Retd)</option><option value="Lieutenant Colonel (Retd)">Lieutenant Colonel (Retd)</option><option value="Lieutenant Commander (Retd)">Lieutenant Commander (Retd)</option><option value="Lieutenant General (Retd)">Lieutenant General (Retd)</option><option value="Lord">Lord</option><option value="Madam">Madam</option><option value="Madame">Madame</option><option value="Major (Retd)">Major (Retd)</option><option value="Major General (Retd)">Major General (Retd)</option><option value="Major General Sir (Retd)">Major General Sir (Retd)</option><option value="Manager">Manager</option><option value="Master">Master</option><option value="Matron">Matron</option><option value="Mayor">Mayor</option><option value="Mayoress">Mayoress</option><option value="Midshipman (Retd)">Midshipman (Retd)</option><option value="Miss">Miss</option><option value="Monsignor">Monsignor</option><option value="Most Reverend">Most Reverend</option><option value="Mother">Mother</option><option value="Mr" selected>Mr</option><option value="Mrs">Mrs</option><option value="Ms">Ms</option><option value="Mx">Mx</option><option value="No Preferred Title">No Preferred Title</option><option value="Nurse">Nurse</option><option value="Officer Cadet (Retd)">Officer Cadet (Retd)</option><option value="Pastor">Pastor</option><option value="Pilot Officer (Retd)">Pilot Officer (Retd)</option><option value="Professor">Professor</option><option value="Professor Sir">Professor Sir</option><option value="Rabbi">Rabbi</option><option value="Rear Admiral (Retd)">Rear Admiral (Retd)</option><option value="Rector">Rector</option><option value="Reverend">Reverend</option><option value="Reverend Brother">Reverend Brother</option><option value="Reverend Canon">Reverend Canon</option><option value="Reverend Doctor">Reverend Doctor</option><option value="Reverend Father">Reverend Father</option><option value="Reverend Mr">Reverend Mr</option><option value="Reverend Professor">Reverend Professor</option><option value="Right Honourable">Right Honourable</option><option value="Right Reverend">Right Reverend</option><option value="Right Reverend Monsignor">Right Reverend Monsignor</option><option value="Senator">Senator</option><option value="Senior">Senior</option><option value="Sergeant Major (Retd)">Sergeant Major (Retd)</option><option value="Sir">Sir</option><option value="Sister">Sister</option><option value="Sister Superior">Sister Superior</option><option value="Squadron Leader (Retd)">Squadron Leader (Retd)</option><option value="Staff Cadet">Staff Cadet</option><option value="Station Master">Station Master</option><option value="Sub Lieutenant (Retd)">Sub Lieutenant (Retd)</option><option value="Superintendent">Superintendent</option><option value="Swami">Swami</option><option value="The Honourable">The Honourable</option><option value="The Venerable">The Venerable</option><option value="Veteran">Veteran</option><option value="Vice Admiral (Retd)">Vice Admiral (Retd)</option><option value="Vice Admiral Sir (Retd)">Vice Admiral Sir (Retd)</option><option value="Viscount">Viscount</option><option value="Wing Commander (Retd)">Wing Commander (Retd)</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="field">
                  <label class="uikit-text-input__label" for="highestRank"><!-- react-text: 501 -->Highest rank achieved<!-- /react-text --></label><select id="highestRank" name="highestRank"><option value=""></option><option value="Able Seaman" selected>Able Seaman</option><option value="Acting Sub Lieutenant">Acting Sub Lieutenant</option><option value="Admiral">Admiral</option><option value="Air Chief Marshal">Air Chief Marshal</option><option value="Air Commodore">Air Commodore</option><option value="Air Marshal">Air Marshal</option><option value="Air Vice Marshal">Air Vice Marshal</option><option value="Aircraftman">Aircraftman</option><option value="Aircraftwoman">Aircraftwoman</option><option value="Bombardier">Bombardier</option><option value="Brigadier">Brigadier</option><option value="Captain">Captain</option><option value="Chief Petty Officer">Chief Petty Officer</option><option value="Colonel">Colonel</option><option value="Commander">Commander</option><option value="Commodore">Commodore</option><option value="Corporal">Corporal</option><option value="Flight Lieutenant">Flight Lieutenant</option><option value="Flight Sergeant">Flight Sergeant</option><option value="Flying Officer">Flying Officer</option><option value="General">General</option><option value="General Sir">General Sir</option><option value="Group Captain">Group Captain</option><option value="Lance Bombardier">Lance Bombardier</option><option value="Lance Corporal">Lance Corporal</option><option value="Leading Aircraftman">Leading Aircraftman</option><option value="Leading Aircraftwoman">Leading Aircraftwoman</option><option value="Leading Seaman">Leading Seaman</option><option value="Lieutenant">Lieutenant</option><option value="Lieutenant Colonel">Lieutenant Colonel</option><option value="Lieutenant Commander">Lieutenant Commander</option><option value="Lieutenant General">Lieutenant General</option><option value="Lieutenant General Sir">Lieutenant General Sir</option><option value="Major">Major</option><option value="Major General">Major General</option><option value="Major General Sir">Major General Sir</option><option value="Midshipman">Midshipman</option><option value="Non-Commissioned Officer Cadet">Non-Commissioned Officer Cadet</option><option value="Officer Cadet">Officer Cadet</option><option value="Petty Officer">Petty Officer</option><option value="Pilot Officer">Pilot Officer</option><option value="Private">Private</option><option value="Rear Admiral">Rear Admiral</option><option value="Regimental Sergeant Major">Regimental Sergeant Major</option><option value="Seaman">Seaman</option><option value="Second Lieutenant">Second Lieutenant</option><option value="Sergeant">Sergeant</option><option value="Squadron Leader">Squadron Leader</option><option value="Staff Sergeant">Staff Sergeant</option><option value="Sub Lieutenant">Sub Lieutenant</option><option value="Vice Admiral">Vice Admiral</option><option value="Vice Admiral Sir">Vice Admiral Sir</option><option value="Warrant Officer">Warrant Officer</option><option value="Warrant Officer Class 1">Warrant Officer Class 1</option><option value="Warrant Officer Class 2">Warrant Officer Class 2</option><option value="Warrant Officer of the Air Force">Warrant Officer of the Air Force</option><option value="Warrant Officer of the Navy">Warrant Officer of the Navy</option><option value="Wing Commander">Wing Commander</option>
                  </select>
                </div>
              </div><label class="uikit-text-input__label" for="name">Name</label>
              <p>Robert Johnson</p><label class="uikit-text-input__label" for="dob">Date of birth</label>
              <p>23 / 05 / 1994</p>
              <div class="form-group">
                <div class="field">
                  <label class="uikit-text-input__label" for="relationship"><!-- react-text: 515 -->Relationship status<!-- /react-text --></label><select id="relationship" name="relationship"><option value=""></option><option value="Defacto">Defacto</option><option value="Divorced">Divorced</option><option value="Married" selected>Married</option><option value="Partner Deceased">Partner Deceased</option><option value="Separated">Separated</option><option value="Single">Single</option><option value="Unable to Live Together (medical reason)">Unable to Live Together (medical reason)</option><option value="Widowed">Widowed</option>
                  </select>
                </div>
              </div>
            </fieldset>      
            <div class="pagination">
              <button class="uikit-btn btnSaveProfile">Save</button>            
            </div>
      </div>
    </section>
    <a id="toast-message" href="#" style="display: none">
      <div class="toast">
        <p role="alert">Profile updated</p>
      </div>
    </a>
  </main>

  <% include ../global/partials/footer.ejs %>
  <script>
    $('.btnSaveProfile').click(function() {
      $('body,html').animate({
        scrollTop : 0
      }, 100);
      // hack to reset focus to top of page
      document.body.setAttribute('tabindex','0');
      document.body.focus();
      document.body.removeAttribute('tabindex');
      $("#toast-message").show("slow");
    });

    $( "#toast-message" ).click(function() {
      $("#toast-message").hide("slow");
    });
  </script>

</body>
</html>
