<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service history</title>
  <% include ../../partials/head.ejs %>
  <style>
    #templates {
      display: none;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../partials/header-topbar.ejs %>
  <% include ../../partials/header-claims.ejs %>
  <% include ../../partials/header-nom-rep.ejs %>
  <main>
    <div class="container" id="main-content">
      <h1>
        <span class="heading">Service period</span>
      </h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur mollitia veritatis minima molestias debitis impedit ducimus excepturi ea, quo sequi dolore corrupti
        ipsa
        iure minus amet recusandae itaque enim qui?</p>
      <div class="row">
        <div class="col-sm-7">

          <div class="form-group">
            <label class="uikit-text-input__label" for="branch">Branch</label>
            <select class="uikit-text-input input-half" name="branch" id="branch" type="text" value="">
              <option selected>-- Select branch --</option>
              <option>Navy</option>
              <option>Air Force</option>
              <option>Army</option>
            </select>
          </div>

          <div class="form-group">
            <label class="uikit-text-input__label">Start date
              <span class="hint">(dd / mm / yyyy)</span>
            </label>
            <input class="uikit-text-input dd" id="start-day" type="text" name="start-day" maxlength="2" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" id="start-month" type="text" name="start-month" maxlength="2" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" id="start-year" type="text" name="start-year" maxlength="4" aria-label="4 digit year">
          </div>

          <div class="form-group">
            <label class="uikit-text-input__label">End date
              <span class="hint">(dd / mm / yyyy)</span>
            </label>
            <input class="uikit-text-input dd" id="end-day" type="text" name="end-day" maxlength="2" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" id="end-month" type="text" name="end-month" maxlength="2" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" id="end-year" type="text" name="end-year" maxlength="4" aria-label="4 digit year">
          </div>

        </div>
      </div>
      <div class="pagination">
        <button id="previous" class="uikit-btn uikit-btn--tertiary" onclick="history.back()">Previous</button>
        <button id="cancel" class="uikit-btn uikit-btn--tertiary">Cancel</button>
        <div class="floated">
          <button id="exit" class="uikit-btn uikit-btn--tertiary">Save and exit</button>
          <button id="next" class="uikit-btn">Save and next</button>
        </div>
      </div>
    </div>
    <div class="toast-container"></div>
  </main>

  <% include ../../partials/footer.ejs %>

  <div id="modal" class="modal-window">
    <div>
      <a href="#modal-close" title="Close" class="modal-close">Close</a>
      <h2>Exit to service details?</h2>
      <p>Changes may not be saved</p>
      <div class="modal-buttons">
        <button id="modal-ok" class="uikit-btn">OK</button>
        <button id="modal-cancel" class="uikit-btn uikit-btn--tertiary cancel">Cancel</button>
      </div>
    </div>
  </div>

  <div id="templates">
    <button id="toast-template" class="uikit-btn toast" role="alert" type="button">
      <div class="toast__type toast__type--success">
        <span class="sr">Success</span>
      </div>
      <div class="toast__message">
        <p>Success message goes here.</p>
      </div>
    </button>
  </div>

  <script>
    var SERVICE_HISTORY = 'serviceHistory';

    function urlParameter(pName) {
      var name = pName.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(window.location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    function getServiceHistory() {
      return JSON.parse(localStorage.getItem(SERVICE_HISTORY));
    }

    function setServiceHistory(pData) {
      return localStorage.setItem(SERVICE_HISTORY, JSON.stringify(pData));
    }

    function getElementByClassName(pRootElement, pClassName) {
      return pRootElement.getElementsByClassName(pClassName)[0];
    }

    function renderToast(pType, pMessage) {
      var toastElement = document.getElementById('toast-template').cloneNode(true);
      toastElement.removeAttribute('id');
      toastElement.getElementsByClassName('toast__type')[0].classList.add('toast__type--' + pType.toLowerCase());
      toastElement.getElementsByClassName('sr')[0].innerText = pType;

      toastElement.getElementsByClassName('toast__message')[0].innerHTML = '<p>' + pMessage + '</p>';
      document.getElementsByClassName('toast-container')[0].appendChild(toastElement);

      toastElement.onclick = function () {
        toastElement.parentElement.removeChild(toastElement);
      }
    }

    function setSelect(pElement, pValue) {
      if (pValue) {
        pElement.value = pValue;
      } else {
        pElement.selectedIndex = 0;
      }
    }

    function setInput(pElement, pValue) {
      pElement.value = pValue ? pValue : '';
    }

    function renderLayout() {
      var periodIndex = parseInt(urlParameter('period'));
      var period = getServiceHistory().periods[periodIndex];

      setSelect(document.getElementById('branch'), period.branch);
      setInput(document.getElementById('start-day'), period.startDay);
      setInput(document.getElementById('start-month'), period.startMonth);
      setInput(document.getElementById('start-year'), period.startYear);
      setInput(document.getElementById('end-day'), period.endDay);
      setInput(document.getElementById('end-month'), period.endMonth);
      setInput(document.getElementById('end-year'), period.endYear);

      var toastType = urlParameter('toastType');
      var toastMessage = urlParameter('toastMessage');
      if (toastType && toastMessage) {
        renderToast(toastType, toastMessage);
      }
    }

    function getInputValues() {
      return {
        branch: document.getElementById('branch').value,
        startDay: document.getElementById('start-day').value,
        startMonth: document.getElementById('start-month').value,
        startYear: document.getElementById('start-year').value,
        endDay: document.getElementById('end-day').value,
        endMonth: document.getElementById('end-month').value,
        endYear: document.getElementById('end-year').value
      }
    }

    function setPeriod() {
      var periodIndex = parseInt(urlParameter('period'));
      var servieHistory = getServiceHistory();
      var period = servieHistory.periods[periodIndex];
      servieHistory.periods[periodIndex] = Object.assign(period, getInputValues());
      setServiceHistory(servieHistory);
    }

    document.getElementById('next').onclick = function () {
      setPeriod();
      window.location.href = '/service-period-2?period=' + urlParameter('period');
    };

    document.getElementById('exit').onclick = function () {
      setPeriod();
      var toastMessage = encodeURIComponent('Service history successfully updated');
      window.location.href = '/profile-history?continue=true&toastType=Success&toastMessage=' + toastMessage;
    };

    document.getElementById('previous').onclick = function () {
      setPeriod();
      window.location.href = '/service-period-1?period=' + urlParameter('period');
    };

    document.getElementById('cancel').onclick = function () {
      document.getElementById('modal').classList.add('modal-visible');
    };

    document.getElementById('modal-ok').onclick = function () {
      window.location.href = '/profile-history?continue=true';
    };

    document.getElementById('modal-cancel').onclick = function () {
      document.getElementById('modal').classList.remove('modal-visible');
    };

    renderLayout();

  </script>
</body>

</html>
