<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <% include ../../partials/head.ejs %>

  <style>
    .hide-fields>div {
      display: none;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../partials/header-topbar.ejs %>
  <% include ../../partials/header-claims.ejs %>
  <% include ../../partials/header-nom-rep.ejs %>
  <main>
    <div class="container" id="main-content">
      <h1>
        <span class="heading">Service history</span>
      </h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur mollitia veritatis minima molestias debitis impedit ducimus excepturi ea, quo sequi dolore corrupti
        ipsa
        iure minus amet recusandae itaque enim qui?</p>
      <div class="row">
        <div class="col-sm-7">

          <div class="form-group">
            <label class="uikit-text-input__label" for="serviceid">Do you have a service ID?
              <span class="hint">optional</span>
            </label>
            <div class="row">
              <div class="col-sm-4">
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="serviceid" value="pmkeys">
                    <span class="uikit-control-input__text">PMKeys</span>
                  </label>
                </p>
              </div>
              <div class="col-sm-4">
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="serviceid" value="serviceno">
                    <span class="uikit-control-input__text">Service number</span>
                  </label>
                </p>
              </div>
              <div class="col-sm-4">
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="serviceid" value="neither">
                    <span class="uikit-control-input__text">neither</span>
                  </label>
                </p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="uikit-text-input__label" for="serviceno">Service number</label>
            <input class="uikit-text-input input-half" name="serviceno" type="text" value="">
          </div>

          <div class="form-group">
            <label class="uikit-text-input__label" for="enlistment">Enlistment date</label>
            <input class="uikit-text-input input-half" name="enlistment" type="text" value="">
          </div>

          <div class="form-group">
            <label class="uikit-text-input__label" for="rank">Highest rank</label>
            <input class="uikit-text-input input-half" name="rank" type="text" value="">
          </div>

        </div>
      </div>
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/'">Save and exit</button>
          <button class="uikit-btn" onclick="window.location.href='/'">Save and next</button>
        </div>
      </div>
    </div>
  </main>

  <% include ../../partials/footer.ejs %>


</body>

</html>