<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Service history</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<nav class="uikit-skip-link">
		<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
	</nav>
	<% include ../global/partials/header-topbar.ejs %>
		<% include ../global/partials/header-claims.ejs %>
			<main>
				<div class="container" id="main-content">
					<h1>
						<span class="heading">Service period</span>
					</h1>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur mollitia veritatis minima molestias debitis impedit ducimus excepturi ea, quo sequi dolore corrupti ipsa
						iure minus amet recusandae itaque enim qui?</p>
					<div class="row">
						<div class="col-sm-7">

							<div class="form-group">
								<label class="uikit-text-input__label" for="branch">Branch</label>
								<select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
									<option selected>-- Select title --</option>
									<option>Navy</option>
									<option>Air Force</option>
									<option>Army</option>
								</select>
							</div>

							<div class="form-group">
								<label class="uikit-text-input__label">Start date
									<span class="hint">(dd / mm / yyyy)</span>
								</label>
								<input class="uikit-text-input dd" type="text" name="start-day" maxlength="2" aria-label="2 digit day"> /
								<input class="uikit-text-input mm" type="text" name="start-month" maxlength="2" aria-label="2 digit month"> /
								<input class="uikit-text-input yyyy" type="text" name="start-year" maxlength="4" aria-label="4 digit year">
							</div>

							<div class="form-group">
								<label class="uikit-text-input__label">End date
									<span class="hint">(dd / mm / yyyy)</span>
								</label>
								<input class="uikit-text-input dd" type="text" name="end-day" maxlength="2" aria-label="2 digit day"> /
								<input class="uikit-text-input mm" type="text" name="end-month" maxlength="2" aria-label="2 digit month"> /
								<input class="uikit-text-input yyyy" type="text" name="end-year" maxlength="4" aria-label="4 digit year">
							</div>

						</div>
					</div>
					<div class="pagination">
						<button class="uikit-btn uikit-btn--tertiary" onclick="history.back()">Previous</button>
						<button id="cancel" class="uikit-btn uikit-btn--tertiary">Cancel</button>
						<div class="floated">
							<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/profile-history'">Save and exit</button>
							<button class="uikit-btn" onclick="window.location.href='/service-period-2'">Save and next</button>
						</div>
					</div>
				</div>
			</main>

			<% include ../global/partials/footer.ejs %>

				<div id="modal" class="modal-window">
					<div>
						<a href="#modal-close" title="Close" class="modal-close">Close</a>
						<h2>Exit to service details?</h2>
						<p>Changes may not be saved</p>
						<div class="modal-buttons">
							<button class="uikit-btn" onclick="window.location.href = '/profile-history'">OK</button>
							<button class="uikit-btn uikit-btn--tertiary cancel">Cancel</button>
						</div>
					</div>
				</div>

				<script>
					document.getElementById('cancel').addEventListener('click', () => {
						document.getElementById('modal').classList.add('modal-visible')
					})

					document.getElementById('modal').getElementsByClassName('modal-close')[0].addEventListener('click', () => {
						document.getElementById('modal').classList.remove('modal-visible')
					})
					document.getElementById('modal').getElementsByClassName('cancel')[0].addEventListener('click', () => {
						document.getElementById('modal').classList.remove('modal-visible')
					})
				</script>
</body>

</html>