<%- include(templates+"header", {title: "test", heading: "Living arrangements"}) %>

<div class="mys-file-uploads__items">
  <div>
  </div>
  <input class="file-upload display-none" type="file" aria-label="fileUpload0">
  <div>
    <div class="modal-window modal-window-0" visible="showModal">
      <div>
        <a class="modal-close" href="javascript:void(0);" title="Close">Close</a>
        <h2>This will delete the file permanently.</h2>
        <p>Are you sure you want to remove the selected file?</p>
        <div class="modal-buttons">
          <button class="uikit-btn modal-window-0-delete" type="button" id="delete"> Delete file </button>
          <button class="uikit-btn modal-window-0-cancel uikit-btn--tertiary" type="button" id="cancel"> Cancel </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table-responsive table-responsive--no-border">
    <tbody>
      <tr class="accordion accordion--open">
        <td class="file-status file-status--uploaded"><span class="sr"> Success </span></td>
        <td><span><b>Confirmation of qsaqsa asqasq's enrolment</b></span>
          <span class="accordion-title__details">For example a letter of acceptance or Confirmation of Enrolment (COE) document from the institution.</span>
        </td>
        <td class="right td-mobile-hidden">
        </td>
        <td class="td-mobile-hidden"></td>
        <td><a class="accordion__trigger accordion__trigger--open" href="javascript:void(0);" aria-expanded="true"><span class="sr">Toggle accordion</span></a></td>
      </tr>
      <tr class="tr--file-upload">
        <td class="td-mobile-hidden"></td>
        <td colspan="2" class="td--no-padding">
          <div class="file-upload file-upload--no-margin">
            <label class="file-upload__label"><span class="file-upload__document"><a class="file-upload__file-name file-upload__file-name--uploaded" href="javascript:void(0);">DVA_NODE-DVA_WEB-C526583.pdf</a></span></label>
          </div>
        </td>
        <td class="td--no-padding">
          <span class="file-upload__button"><button class="uikit-btn small uikit-btn--tertiary file-upload--remove-btn" type="button">Remove</button>
          </span></td>
      </tr>
      <tr class="tr--file-upload">
        <td class="td-mobile-hidden"></td>
        <td colspan="2" class="td--no-padding">
          <div class="file-upload file-upload--no-margin">
            <label class="file-upload__label"><span class="file-upload__document"><a class="file-upload__file-name file-upload__file-name--uploaded" href="javascript:void(0);">DVA_NODE-DVA_WEB-C526583.pdf</a></span></label>
          </div>
        </td>
        <td class="td--no-padding">
          <span class="file-upload__button"><button class="uikit-btn small uikit-btn--tertiary file-upload--remove-btn" type="button">Remove</button>
          </span></td>
      </tr>
      <tr>
        <td></td>
        <td class="td--no-padding">
          <div class="file-upload file-upload--no-margin accordion-title__details">
            <input class="file-upload__input" type="file" id="uploadAnother0">
            <label class="file-upload__label" for="uploadAnother0">
              <span class="file-upload__button">
                <button class="uikit-btn small uikit-btn--another-file" type="button">
                  Add another
                </button>
              </span>
            </label>
          </div>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
  
<%- include(templates+"footer") %>
