<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Dependent children"
}) %>

<script src="https://smtpjs.com/v3/smtp.js">
</script>

<button onclick="sendEmail()">Emailing</button>

<script>


  //Token generated hides user credentials
  //I've created an email account to send emails from the prototype
  //Contact me if you require the password.
  function sendEmail() {
    Email.send({
      SecureToken: "997d8caf-ea37-45f9-a6a7-75f607b4bd28",
      Host: "smtp.gmail.com",
      Username: "myservice.prototype@gmail.com",
      Password: "Myserviceoh.012",
      To: 'myservice.prototype@gmail.com',
      From: "hello123@smtp.js",
      Subject: "This is the subject",
      Body: "And this is the body"
    }).then(
      message => alert(message)
    );
  }
</script>


<%- include(templates+"footer") %>