<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Dependent children"
}) %>

<script src="https://smtpjs.com/v3/smtp.js">
</script>

<button onclick="sendEmail()">Emailing</button>

<script>


  //Token generated hides user credentials
  //I've created an email account to send emails from the prototype
  //Contact me if you require the password.
  function sendEmail() {
    Email.send({
      SecureToken: "77a12ba0-77c1-4f11-a28d-3b7aeb077676",
      To: 'myservice.prototype@gmail.com',
      From: "myservice.prototype@gmail.com",
      Subject: "This is the subject",
      Body: "And this is the body"
    }).then(
      message => alert(message)
    );
  }
</script>


<%- include(templates+"footer") %>