<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Dependent children"
}) %>

<script src="https://smtpjs.com/v3/smtp.js">
</script>

<button onclick="sendEmail()">Emailing</button>

<script>


  //Token generated hides user credentials
  //I've created an email account to send emails from the prototype
  //Contact me if you require the password.
  function sendEmail() {
    Email.send({
      SecureToken: "fa664b42-cf04-49a5-b293-6e3beb319ab9 P",
      To: 'myservice.prototype@gmail.com',
      From: "hellotest@smtp.com",
      Subject: "This is the subject",
      Body: "And this is the body"
    }).then(
      message => alert('mail sent')
    );
  }
</script>


<%- include(templates+"footer") %>