<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Dependent children"
}) %>

<section class="claims-page">
  <!--bindings={
  "ng-reflect-ng-if": "true",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
  <!---->
  <mysvc-claim-list _nghost-c24="" ng-reflect-claim-summaries="[object Object],[object Object">
    <div class="transactions-table__wrapper">
      <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">17 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000097359</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">17 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000097375</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">17 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000097376</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">17 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000097404</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><button _ngcontent-c24="" class="uikit-btn small uikit-btn--borderless" type="button"> View </button>
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">16 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000097182</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><button _ngcontent-c24="" class="uikit-btn small uikit-btn--borderless" type="button"> View </button>
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">13 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000096876</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">13 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000096877</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">13 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000096794</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><button _ngcontent-c24="" class="uikit-btn small uikit-btn--borderless" type="button"> View </button>
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">12 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000096514</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">In Progress</p>
              <p _ngcontent-c24="" class="details">12 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000096631</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="[object Object]" style="display: none;">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">11 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000096319</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><button _ngcontent-c24="" class="uikit-btn small uikit-btn--borderless" type="button"> View </button>
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="[object Object]" style="display: none;">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">10 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000096073</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="[object Object]" style="display: none;">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">03 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000094967</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="[object Object]" style="display: none;">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">03 March 2020</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000095021</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="[object Object]" style="display: none;">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">04 December 2019</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000084588</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="[object Object]" style="display: none;">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">04 December 2019</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000084589</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
      <div _ngcontent-c24="" class="container-fluid" ng-reflect-ng-style="[object Object]" style="display: none;">
        <div _ngcontent-c24="" class="row">
          <div _ngcontent-c24="" class="col-md-12 uikit-grid" id="claim-activity">
            <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
            <div _ngcontent-c24="" class="col-md-3 col-xs-3 flex-item-1 status">
              <p _ngcontent-c24="" class="main">Approved</p>
              <p _ngcontent-c24="" class="details">06 July 2019</p>
            </div>
            <!---->
            <div _ngcontent-c24="" class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title"
              ng-reflect-ng-class="col-md-4 col-xs-4 uikit-grid f">
              <p _ngcontent-c24="" class="main">Income and assets update</p>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <p _ngcontent-c24="" class="details">Claim ID: 3000045650</p>
            </div>
            <div _ngcontent-c24="" class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions"
              ng-reflect-ng-class="col-md-5 col-xs-5 flex-item-3 ">
              <!--bindings={
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false",
  "ng-reflect-ng-if-else": "[object Object]"
}-->
              <!--bindings={
  "ng-reflect-mysvc-has-permissions": "Update_Online_Claim_Lodgement"
}-->
              <!---->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
    </div>
    <!----><button _ngcontent-c24="" class="uikit-btn uikit-btn small margin-above margin-below" id="show-more-button"
      type="button"> Show more </button>
  </mysvc-claim-list>

  <!---->
</section>

<%- include(templates+"footer") %>