<%- include(templates+"header", {title: "test", heading: "Living arrangements"}) %>

<%#- include(forms+"submitting", {
  type: "in-progress",
  submitting_text: "We're submitting your claim for an increase to your Disability Pension",
  submitted_text: `Your claim for an increase to your Disability Pension has been <b>submitted</b>`,
  supporting_text: `<h3>We will contact you within 14 days to discuss your claim.</h3>`
}) %> 

<%- include(templates+"footer") %>
