<%- include(templates+"header", {title: "test", heading: "Living arrangements"}) %>

<div class="mys-file-uploads__items">
    <table class="table-responsive table-responsive--no-border table--break-all">
        <tbody>
            <!--bindings={
"ng-reflect-ng-for-of": "[object Object]"
}-->
            <!---->
            <mysvc-document-upload-row claimtype="STUDENT" _nghost-c30=""
                ng-reflect-title-text="Confirmation of Samit Smith's "
                ng-reflect-explanation-text="For example a letter of accept" ng-reflect-second-explanation-text=""
                ng-reflect-initial-open-state="true" ng-reflect-count-of-others="0" ng-reflect-claim-type="STUDENT"
                ng-reflect-category="enrolment" ng-reflect-post-submission="false" ng-reflect-tooltip-message=""
                data-id="ancenrolment">
                <!---->
            </mysvc-document-upload-row>
            <tr _ngcontent-c30="" class="accordion accordion--open" ng-reflect-klass="accordion"
                ng-reflect-ng-class="[object Object]">
                <td _ngcontent-c30="" class="file-status file-status--uploaded" ng-reflect-klass="file-status"
                    ng-reflect-ng-class="[object Object]"><span _ngcontent-c30="" class="sr"> Success </span></td>
                <td _ngcontent-c30="" class="file-upload__summary"><span _ngcontent-c30=""><b
                            _ngcontent-c30="">Confirmation of Samit Smith's enrolment</b></span>
                    <!--bindings={
"ng-reflect-ng-if": "",
"ng-reflect-ng-if-else": "[object Object]"
}--><span _ngcontent-c30="" class="accordion-title__details">For example a letter of acceptance or Confirmation of
                        Enrolment (COE) document from the institution.</span>
                    <!---->
                    <!--bindings={
"ng-reflect-ng-for-of": ""
}-->
                    <!--bindings={
"ng-reflect-ng-for-of": ""
}-->
                    <!--bindings={}-->
                </td>
                <td _ngcontent-c30="" class="right td-mobile-hidden" colspan="2"></td>
                <input _ngcontent-c30="" class="file-upload display-none" tabindex="-1" type="file"
                    aria-label="fileUpload0">
            </tr>
            <!--bindings={
"ng-reflect-ng-for-of": "[object Object]"
}-->
            <tr _ngcontent-c30="" class="tr--file-upload">
                <td _ngcontent-c30="" class="td-mobile-hidden"></td>
                <td _ngcontent-c30="" class="td--no-padding" colspan="2">
                    <div _ngcontent-c30="" class="file-upload" ng-reflect-klass="file-upload"
                        ng-reflect-ng-class="[object Object]">
                        <label _ngcontent-c30="" class="file-upload__label"><span _ngcontent-c30=""
                                class="file-upload__document"><a _ngcontent-c30=""
                                    class="file-upload__file-name file-upload__file-name--uploaded"
                                    href="javascript:void(0);">arrow-rigfasdfaskjfhsakjfhsakdjfhdsakfjhfkjdsahfkasdjfhsadkjfhsdkfjahfkjsahfkdsjfhaskfjahfkjhfkdjhdaksfjhakjdfhkfjhakjfhfksjfhkajsfhjasfsadht-01.png</a></span></label>
                    </div>
                </td>
                <td _ngcontent-c30="" class="td--no-padding"><span _ngcontent-c30="" class="file-upload__button"><button
                            _ngcontent-c30="" class="uikit-btn small uikit-btn--tertiary file-upload--remove-btn"
                            type="button" ng-reflect-disabled="false">Remove</button></span></td>
            </tr>
            <tr _ngcontent-c30="">
                <td _ngcontent-c30="" class="td-mobile-hidden"></td>
                <td _ngcontent-c30="" class="td--no-padding" colspan="2">
                    <div _ngcontent-c30="" class="file-upload accordion-title__details">
                        <input _ngcontent-c30="" class="file-upload__input" type="file" id="uploadAnother0">
                        <label _ngcontent-c30="" class="file-upload__label" for="uploadAnother0"><span _ngcontent-c30=""
                                class="file-upload__button">
                                <!--bindings={
"ng-reflect-ng-if": "true"
}--><button _ngcontent-c30="" class="uikit-btn small uikit-btn--another-file" ng-reflect-disabled="false"
                                    type="button">Add another</button>
                                <!--bindings={
"ng-reflect-ng-if": "false"
}--></span></label>
                    </div>
                </td>
            </tr>
            <mysvc-modal _ngcontent-c30="" _nghost-c11="" ng-reflect-config="[object Object]">
                <div _ngcontent-c11="" class="modal-window modal-window-0" visible="showModal"
                    ng-reflect-klass="modal-window" ng-reflect-ng-class="[object Object]">
                    <div _ngcontent-c11="">
                        <!--bindings={
"ng-reflect-ng-if": "true"
}--><a _ngcontent-c11="" class="modal-close" href="javascript:void(0);" title="Close" tabindex="-1">Close</a>
                        <h2 _ngcontent-c11="">This will delete the file permanently.</h2>
                        <p _ngcontent-c11="" ng-reflect-ng-class="[object Object]">Are you sure you want to remove the
                            selected file?</p>
                        <!--bindings={}-->
                        <div _ngcontent-c11="" class="modal-buttons">
                            <!--bindings={
"ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
                            <!---->
                            <button _ngcontent-c11="" class="uikit-btn modal-window-0-delete" type="button"
                                ng-reflect-klass="uikit-btn" ng-reflect-ng-class="[object Object]" id="delete"
                                tabindex="-1"> Delete file </button>&nbsp;
                            <!---->
                            <button _ngcontent-c11="" class="uikit-btn modal-window-0-cancel uikit-btn--tertiary"
                                type="button" ng-reflect-klass="uikit-btn" ng-reflect-ng-class="[object Object]"
                                id="cancel" tabindex="-1"> Cancel </button>&nbsp; </div>
                    </div>
                </div>
            </mysvc-modal>
            <!---->
        </tbody>
    </table>
</div>

<%- include(templates+"footer") %>