<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
  <p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav><%include header-blank.ejs %>
  <main>
    <section>
      <div class="container" id="main-content">
        <h1>Verify postal address</h1>
        <p>Accurate and current address details help us process your claims more quickly.</p>
        <div class="tip--wrapper addressView">
          <p><strong>Michael Johnson</strong><br />
          10 Hodgeson Ln<br />
          Narooma NSW 2546</p>
          <button class="uikit-btn uikit-btn--tertiary small btnEdit">Edit address</button>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="fullPostalAddress" style="display: none">
              <fieldset>
                <legend>Edit postal address</legend>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="street">Unit / street</label> 
                  <input class="uikit-text-input" id="street" name="street" type="text" value="10 Hodgeson Ln">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="suburb">Suburb</label> 
                  <input class="uikit-text-input" id="suburb" name="suburb" type="text" value="NAROOMA">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="postcode">Postcode</label> <input class="uikit-text-input input-small" id="postcode" maxlength="4" name="postcode" type="text" value="2546">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="state">State or territory</label> 
                  <select class="uikit-text-input input-half" name="state" id="state" type="text" value="">
                    <option selected>-- Select state or territory --</option>
                    <option name="act">Australian Capital Territory</option>
                    <option name="nsw">New South Wales</option>
                    <option name="nt">Northern Territory</option>
                    <option name="qld">Queensland</option>
                    <option name="sa">South Australia</option>
                    <option name="tas">Tasmania</option>
                    <option name="vic">Victoria</option>
                    <option name="wa">Western Australia</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="country">Country</label> 
                  <input class="uikit-text-input input-half" id="country" name="country" type="text" value="Australia">
                </div>
                <button class="uikit-btn uikit-btn--tertiary small uikit-btn--borderless no-left-margin btnCancelAddress">Cancel</button>
              </fieldset>
            </div>

          </div>
        </div>

      <div class="pagination">
        <button class="uikit-btn btnNext" onclick="window.location.href = '/auth'">Save and next</button>
      </div>
      </div>
    </section>
  </main><%include ../global/partials/footer.ejs %>
  <script src="/docs/js/jquery-effects.js"></script> 
  <script src="/docs/js/main.js"></script> 
  <script src="/docs/js/jquery-3.2.1.min.js"></script> 
  <script>
      $( ".btnEdit" ).click(function() {
        $( ".fullPostalAddress" ).show("fast");
        $( ".addressView" ).hide("fast");
      });
      $( ".btnCancelAddress" ).click(function() {
        $( ".fullPostalAddress" ).hide();
        $( ".addressView" ).show("fast");
      });

  </script>
</body>
</html>