<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
  <p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav><%include header-blank.ejs %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div id="progressbar">
          <div id="percentage"></div>
        </div>

        <!-- verify for dva path -->
        <div class="showForVerify" style="display: none">
          <h1>Verify your details</h1>
          <p>Please ensure the following details are up to date. Accurate and complete details help us process your claims quickly.</p>
          <div class="row">
            <div class="col-sm-12">
              <fieldset>
                <legend>Title and rank</legend>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="title">Title<br />
                  <span class="hint"> Used for correspondence (optional)</span></label>
                  <select class="uikit-text-input input-half" id="title" name="title">
                    <option>-- Select title --</option>
                    <option>Commissioner</option>
                    <option>Dame</option>
                    <option>Emeritus Professor</option>
                    <option>Honourable Mr Justice</option>
                    <option>Matron</option>
                    <option>Miss</option>
                    <option>Monsignor</option>
                    <option selected>Mr</option>
                    <option>Mr Justice</option>
                    <option>Mrs</option>
                    <option>Ms</option>
                    <option>Reverend Mr</option>
                    <option>Right Reverend Monsignor</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="highest-rank">Highest rank achieved</label> <select class="uikit-text-input input-half" id="highest-rank" name="highest-rank">
                    <option>
                      -- Select rank --
                    </option>
                    <option selected>
                      Wing Commander
                    </option>
                    <option>
                      ...
                    </option>
                    <option>
                      ...
                    </option>
                  </select>
                </div>
              </fieldset>

              <div class="typeAheadAddress">
                <fieldset>
                  <legend>Postal address</legend>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="addressLookup">Starting typing your address</label> <input class="uikit-text-input" id="addressLookup" name="addressLookup" type="text" value="10 Hodgeson Ln, NAROOMA NSW 2546">
                  </div>
                  <button class="uikit-btn uikit-btn--tertiary small btnShowFullAddress">Can't find address?</button>
                </fieldset>
              </div>
              <div class="fullAddress" style="display: none">
                <fieldset>
                  <legend>Postal address</legend>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="street">Unit / street</label> 
                    <input class="uikit-text-input" id="street" name="street" type="text" value="10 Hodgeson Ln">
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="suburb">Suburb</label> <input class="uikit-text-input" id="suburb" name="suburb" type="text" value="NAROOMA">
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="postcode">Postcode</label> <input class="uikit-text-input input-small" id="postcode" maxlength="4" name="postcode" type="text" value="2546">
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="state">State / territory</label> <select class="uikit-text-input input-half" id="state" name="state">
                      <option>-- Select state or territory --</option>
                      <option selected>New South Wales</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="country">Country</label> <input class="uikit-text-input input-half" id="country" name="country" type="text" value="Australia">
                  </div>
                  <button class="uikit-btn uikit-btn--tertiary small uikit-btn--borderless btnShowTypeAheadAddress">Cancel</button>
                </fieldset>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="pmkeys-question">Is your residential address the same?</label>
                <div class="radio-toggle">
                  <label class="on label-left" for="residential-yes"><input id="residential-yes" checked name="residential-address" type="radio"><span>Yes</span></label> <label class="off label-right" for="residential-no"><input id="residential-no" name="residential-address" type="radio"><span>No</span></label>
                </div>
              </div>
            </div>
          </div>
        </div><!-- dva -->





        <!-- add for service num -->
        <div class="showForAdd" style="display: none">
          <h1>Service details</h1>
          <p>Please ensure the following details are up to date. Accurate and complete details help us process your claims quickly.</p>
          <div class="row">
            <div class="col-sm-12">
              <fieldset>
                <legend>Service history</legend>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="highest-rank">Highest rank achieved</label> 
                  <select class="uikit-text-input input-half" id="highest-rank" name="highest-rank">
                    <option selected>-- Select rank --</option>
                    <option>Wing Commander</option>
                    <option>......</option>
                  </select>
                </div>
              </fieldset>

                <div class="serviceDetailsEdit1">
                  <div class="service-details clearfix">
                    <div class="period">
                      Period <span>1</span>
                    </div>
                    <div class="add-service">
                      <div class="form-group">
                        <label class="uikit-text-input__label" for="period1-branch">Branch of service</label> 
                        <select class="uikit-text-input" id="period1-branch" name="period1-branch">
                          <option selected>-- Select service --</option>
                          <option>Air Force</option>
                          <option>Army</option>
                          <option>Navy</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <div class="floated-date margin-right-3em">
                          <label class="uikit-text-input__label" for="start-dd">Start date <span class="hint">(DD / MM / YYYY)</span></label> 
                          <input aria-label="2 digit day" aria-required="true" class="uikit-text-input dd" id="start-dd" maxlength="2" name="start-dd" required="" type="text" value=""> / 
                          <input aria-label="2 digit month" aria-required="true" class="uikit-text-input mm" id="start-mm" maxlength="2" name="start-mm" required="" type="text" value=""> / 
                          <input aria-label="4 digit year" aria-required="true" class="uikit-text-input yyyy" id="start-yyyy" maxlength="4" name="start-yyyy" required="" type="text" value="">
                        </div>
                        <div class="floated-date">
                          <label class="uikit-text-input__label" for="end-dd">End date <span class="hint">(DD / MM / YYYY)</span></label> 
                          <input aria-label="2 digit day" aria-required="true" class="uikit-text-input dd" id="end-dd" maxlength="2" name="end-dd" required="" type="text" value=""> / 
                          <input aria-label="2 digit month" aria-required="true" class="uikit-text-input mm" id="end-mm" maxlength="2" name="end-mm" required="" type="text" value=""> / 
                          <input aria-label="4 digit year" aria-required="true" class="uikit-text-input yyyy" id="end-yyyy" maxlength="4" name="end-yyyy" required="" type="text" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="uikit-btn uikit-btn--tertiary small btnAddService2">Add another period of service</button>
                </div>

            </div>
          </div>
        </div><!-- service num -->

        <div class="pagination">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'change-password'">Previous</button>&nbsp; <button class="uikit-btn floated btnNext" onclick="window.location.href = '/auth'">Save and next</button>
        </div>
      </div>
    </section>
  </main><%include ../global/partials/footer.ejs %>
  <script src="/docs/js/jquery-effects.js"></script> 
  <script src="/docs/js/main.js"></script> 
  <script src="/docs/js/jquery-3.2.1.min.js"></script> 
  <script>
     $(function() {
       // Progress percentage
       document.getElementById("percentage").style.width = "98%";
     
       // Toggle button logic
       $(".btnSaveServiceDetails1").click(function() {
         $(".serviceDetails2").show("fast");
         $(".serviceDetailsEdit1").hide("fast");
         $(".operations").show("fast");
       });
       $(".btnAddService3").click(function() {
         $(".btnAddService3").hide("fast");
         $(".serviceDetailsEdit2").show("fast");
       });
       $(".serviceDetailsEdit2Cancel2").click(function() {
         $(".serviceDetailsEdit2").hide("fast");
       });
       $(".btnSaveServiceDetails2").click(function() {
         $(".serviceDetails3").show("fast");
         $(".serviceDetailsEdit2").hide("fast");
       });
       $(".btnShowFullAddress").click(function() {
         $(".fullAddress").show("fast");
         $(".typeAheadAddress").hide("fast");
         $(".btnShowFullAddress").hide("fast");
       });
       $(".btnShowTypeAheadAddress").click(function() {
         $(".fullAddress").hide("fast");
         $(".typeAheadAddress").show("fast");
         $(".btnShowFullAddress").show("fast");
       });
       

       // Show / hide service details
       $("#dva-no").click(function() {
         $(".pmkeys-question").show("fast");
         $(".enter-dva-number").hide("fast");
       });


       // Show read only service history for DVA only
       if (localStorage.pathType == "dva-only") {
         $( ".showForAdd" ).hide();
         $( ".showForVerify" ).show();
       }

       // Show edit service history for service number
       if (localStorage.pathType == "service-number") {
         $( ".showForAdd" ).show();
         $( ".showForVerify" ).hide();
       }

      // Prefill
      $("#start-dd").val(localStorage.myEnlistmentDd);
      $("#start-mm").val(localStorage.myEnlistmentMm);
      $("#start-yyyy").val(localStorage.myEnlistmentYyyy);

     });
  </script>
</body>
</html>