<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My profile | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <% include header-blank.ejs %>
  
  <main>
    <section>
      <div class="container" id="main-content">
      <h1>Last step</h1>
      <p>Please take a moment to check a few details.</p>
      <div class="row">
        <div class="col-sm-12">
          <fieldset>
            <legend>Verify your service details</legend>
            <div class="form-group title">
              <label class="uikit-text-input__label" for="title">Title</label>
              <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                <option>-- Select title --</option>
                <option>Commissioner</option>
                <option>Dame</option>
                <option>Emeritus Professor</option>
                <option>Honourable Mr Justice</option>
                <option>Matron</option>
                <option>Miss</option>
                <option>Monsignor</option>
                <option selected>Mr</option>
                <option>Mr Justice</option>
                <option>Mrs</option>
                <option>Ms</option>
                <option>Reverend Mr</option>
                <option>Right Reverend Monsignor</option>
              </select>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="highest-rank">Highest rank achieved</label>
              <select class="uikit-text-input input-half" name="highest-rank" id="highest-rank" type="text" value="">
                <option>-- Select rank --</option>
                <option selected>Wing Commander</option>
                <option>...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd">Enlistment date <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="enlistment-dd" id="enlistment-dd" maxlength="2" required aria-required="true" aria-label="2 digit day" value="12"> /
              <input class="uikit-text-input mm" type="text" name="enlistment-mm" id="enlistment-mm" maxlength="2" required aria-required="true" aria-label="2 digit month" value="1"> /
              <input class="uikit-text-input yyyy" type="text" name="enlistment-yyyy" id="enlistment-yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year" value="1987">
            </div>          
            <table>
              <legend>Service history</legend>
              <thead>
                <tr>
                  <th>Branch of service</th>
                  <th>Start date</th>
                  <th>End date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Navy</td>
                  <td>12 / 1 / 1987</td>
                  <td>20 / 10 / 1995</td>
                </tr>
                <tr>
                  <td>Army</td>
                  <td>5 / 2 / 1995</td>
                  <td>12 / 6 / 1999</td>
                </tr>
                <tr>
                  <td colspan="3"><a href="">Incomplete or incorrect?</a></td>
                </tr>
              </tbody>
            </tr>
          </table>
          </fieldset>

          <fieldset>
            <legend>Postal address</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="street">Unit / street</label>
              <input class="uikit-text-input" name="street" id="street" type="text" value="10 Paradise Rd">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="suburb">Suburb</label>
              <input class="uikit-text-input" name="suburb" id="suburb" type="text" value="South Mugga">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="postcode">Postcode</label>
              <input class="uikit-text-input input-small" name="postcode" id="postcode" type="text" maxlength="4" value="2540">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="state">State / territory</label>
              <select class="uikit-text-input input-half" name="state" id="state" type="text" value="">
                <option>-- Select state or territory --</option>
                <option selected>New South Wales</option>
                <option>...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="country">Country</label>
              <input class="uikit-text-input input-half" name="country" id="country" type="text" value="Australia">
            </div>
          </fieldset>

          <fieldset>
            <legend>Residential address</legend>
            <p>
              <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="checkbox" name="sameAddress" checked>
                <span class="uikit-control-input__text"> Same as postal address</span>
              </label>
            </p>
          </fieldset>        

          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'change-password'">Previous</button>&nbsp; 
            <button class="uikit-btn floated btnNext" onclick="window.location.href = '/auth'">Next</button>
          </div>
    </section>

  </main>

  <% include ../global/partials/footer.ejs %>
</body>
</html>