<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <main>
        <section>


          <div class="section-feature">
            <div id="main-content" class="container">
              <h1 class="margin-below--small margin-above--small">
                <span class="heading">Lots of circles</span>
              </h1>
            </div>
          </div>

          <div class="section-feature--separator">
            <div class="container">
            </div>
          </div>
          <div class="container">

    <!-- <ul>
      <li class="passed">Step #1</li>
      <li class="passed">Step #2</li>
      <li class="passed">Step #3</li>
      <li class="current">Step #4<br><small><i>Description of the step</i></small></li>
      <li>Step #5</li>
      <li>Step #6</li>
      <li>Step #7</li>
    </ul> -->
    <div class="info-timeline">
      <ul>
        <li><span class="timeline-circle">1</span><span class="timeline-text-box">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">2</span><span class="timeline-text-box">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">3</span><span class="timeline-text-box">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">4</span><span class="timeline-text-box">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
      </ul>
    </div>
  </div><br />

            <% include ../partials/dhoas-start-modal.ejs %>


        </section>
      </main>
      <% include ../../../global/partials/footer.ejs %>


<script>
  $(function() {
    $('svg g circle, svg g text').on('click', function() {
      $('svg g.active').removeClass('active');
      $(this).parent('svg g').addClass('active');
    });
  });
  </script>
</body>


</html>
