<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">

  <style>

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <main>
        <section>


          <div class="section-feature">
            <div id="main-content" class="container">
              <h1 class="margin-below--small margin-above--small">
                <span class="heading">Lots of circles</span>
              </h1>
            </div>
          </div>

          <div class="section-feature--separator">
            <div class="container">
            </div>
          </div>
          <div class="container">
            <aside id="nav">
            <nav>
    <div class="info-timeline">
      <ul>
        <li><span class="timeline-circle active">1</span><span class="timeline-text-box" id="1">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">2</span><span class="timeline-text-box" id="2">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">3</span><span class="timeline-text-box" id="3">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">4</span><span class="timeline-text-box" id="4">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">1</span><span class="timeline-text-box" id="5">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">2</span><span class="timeline-text-box" id="6">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">3</span><span class="timeline-text-box" id="7">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">4</span><span class="timeline-text-box" id="8">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">1</span><span class="timeline-text-box" id="9">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">2</span><span class="timeline-text-box" id="10">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">3</span><span class="timeline-text-box" id="11">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
        <li><span class="timeline-circle">4</span><span class="timeline-text-box" id="12">You will receive your Veteran Card in the mail. This can take up to 3 weeks</span></li>
      </ul>
    </div>
  </nav>
</aside>
  </div>
  <br />

            <% include ../partials/dhoas-start-modal.ejs %>


        </section>
      </main>
      <% include ../../../global/partials/footer.ejs %>


<script>
$(window).on('scroll', function() {
  $('.timeline-circle').each(function() {
      if($(window).scrollTop() >= $(this).position().top) {
          var id = $(this).attr('id');
          $('li span.timeline-circle').removeClass('active');
          $(this).addClass('active');
      }
  });
});
  </script>
</body>


</html>
