<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Diagnosis | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-claims.ejs %>
  <% include ../partials/help-button.ejs %>
  <main> 
      <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Diagnosis</span></h1>
      <p>All fields are required unless marked (optional).</p>
 	
      <!-- Diagnoisis -->
   		<div id="diagnosis">
  		<fieldset>
    		<div class="form-group">
    			<label class="uikit-text-input__label" for="tags">What did your medical practitioner diagnose you with? <span class="hint display-block"> <span class="display-block"><em>Example: 'Acute meniscal tear of the knee'</em>.</span></span></label>
          <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
    		</div>
  		</fieldset>
              
      <fieldset>
        <legend class="legend-label">Did the condition occur on a specific date?</legend>
        <div class="radio-toggle">
          <label class="on label-left" for="single-yes"><input id="single-yes" type="radio" name="single-event"><span>Yes</span></label>
          <label class="off label-right" for="single-no"><input id="single-no" type="radio" name="single-event"><span>No</span></label>
        </div>
      </fieldset>

      <div class="single-incident" style="display:none;">
        <fieldset>        
          <div class="form-group">
              <label class="uikit-text-input__label" for="dd-single">When did it happen? <span class="hint display-block">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single" maxlength="4" required aria-required="true" aria-label="4 digit year">
          </div>
        </fieldset>
      </div>

      <div class="over-time" style="display:none;">
        <fieldset>        
          <div class="form-group">
              <label class="uikit-text-input__label" for="dd-over-time">Approximately when did you start noticing symptoms? <span class="hint display-block">(MM / YYYY)</span></label>
              <input class="uikit-text-input mm" type="text" name="mm-over-time" id="mm-over-time" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-over-time" id="yyyy-over-time" maxlength="4" required aria-required="true" aria-label="4 digit year">
          </div>
        </fieldset>
      </div>
		</div>

    <h2>Upload your GP or Specialist's medical report (recommended)</h2>
        
    <fieldset>
        <div class="tip--wrapper">
            <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">
            <h3>What we need:</h3>
            <ul>
                <li>Your <strong>medical diagnosis</strong> will help us assess your claim.</li>
                <li>Providing <strong>receipts</strong> will help us reimburse your diagnosis costs.</li>
                <li>Providing supporting documents will help us assess your claim. Supporting documents may include:
                    <ul>
                        <li>medical imaging and/or reports (X-Rays and MRIs)</li>
                        <li>test results</li>
                        <li>other medical reports</li>
                    </ul>
                </li>
            </ul>
            <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
        </div>

        <!-- Document list--> 

        <div class="upload-list">
        <h3>Uploads</h3>
        <table class="document-uploads">
            <tr>
                <th>Document title</th>
                <th class="centred">Actions</th>
            </tr>
            <tr>
                <td><a href="#">My-Diagnosis.pdf (3.5 MB PDF)</a></td>
                <td class="centred"><button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-removefile-modal'">Delete</button></td>
            </tr>
        </table>
        <button class="uikit-btn uikit-btn--tertiary btnUpload">Upload a document</button>
        </div>
    </fieldset>

    <div class="pagination">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Previous</button>
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
      <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim1'">Save and exit</button>&nbsp;
          <button class="uikit-btn btnNext" onclick="window.location.href = '/claim3'">Save and next</button>
      </div>
    </div>
    <% include ../partials/cancel-modal.ejs %>
	<% include ../partials/removefile-modal.ejs %>

    </div>



  </main>
   
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-ui.min.js"></script>

	<script>
	
	// Progress percentage
    document.getElementById("percentage").style.width = "25%";
		
	$("#single-yes").click(function() {
    $( ".single-incident" ).show("fast");
    $( ".over-time" ).hide();
  });
  $("#single-no").click(function() {
    $( ".single-incident" ).hide();
    $( ".over-time" ).show("fast");
  });

	$( "#doctor-no" ).click(function() {
		sessionStorage.setItem('nodiagnosis',true);
    	$( "#condition" ).show("fast");
		$( "#diagnosis" ).hide();
  	});
	$( "#doctor-yes" ).click(function() {
		sessionStorage.setItem('yesdiagnosis',true);
		$( "#diagnosis" ).show("fast");
    	$( "#condition" ).hide();
  	});
		


  // Autocomplete, jQuery UI dependency
  $( function() {
    var availableTags = [
    "Accommodation disorder",
    "Achilles tendinopathy and bursitis",
    "Acquired cataract",
    "Acquired pes planus",
    "Acute articular cartilage tear",
    "Acute lymphoid leukaemia",
    "Acute meniscal tear of the knee",
    "Acute myeloid leukaemia",
    "Acute pancreatitis",
    "Acute sinusitis",
    "Acute stress disorder",
    "Adenocarcinoma of the kidney",
    "Adhesive capsulitis of the shoulder",
    "Adjustment disorder",
    "Alcohol dependence and alcohol abuse",
    "Alkaptonuria",
    "Allergic rhinitis",
    "Alpha-1 antitrypsin deficiency",
    "Alzheimer-type dementia",
    "Anal fissure",
    "Analgesic nephropathy",
    "Animal envenomation",
    "Ankylosing spondylitis",
    "Anxiety disorder",
    "Aortic stenosis",
    "Asbestosis",
    "Asthma",
    "Atherosclerotic peripheral vascular disease",
    "Atrial fibrillation",
    "Atrial flutter",
    "Benign prostatic hyperplasia",
    "Bipolar disorder",
    "Blepharitis",
    "Bronchiectasis",
    "Caisson disease",
    "Cardiomyopathy",
    "Carotid arterial disease",
    "Carpal tunnel syndrome",
    "Cerebral meningioma",
    "Cerebrovascular accident",
    "Chicken pox",
    "Chloracne",
    "Cholelithiasis",
    "Chondromalacia patella",
    "Chronic bronchitis and emphysema",
    "Chronic fatigue syndrome",
    "Chronic gastritis",
    "Chronic lymphoid leukaemia",
    "Chronic myeloid leukaemia",
    "Chronic pancreatitis",
    "Chronic sinusitis",
    "Cigar smoking",
    "Cirrhosis of the liver",
    "Clonorchiasis",
    "Cluster headache syndrome",
    "Coeliac disease",
    "Colorectal adenoma",
    "Colorectal adenomatous polyp or familial adenomatous polyposis",
    "Conductive hearing loss",
    "Congenital cataract",
    "Conjunctivitis",
    "Contact dermatitis",
    "Creutzfeldt-Jakob disease",
    "Deep vein thrombosis",
    "Dengue fever",
    "Dental caries",
    "Depressive disorder",
    "Diabetes mellitus",
    "Dislocation",
    "Diverticular disease of the colon",
    "Drug dependence and drug abuse",
    "Effects of lightning",
    "Epicondylitis",
    "Epilepsy",
    "Erectile dysfunction",
    "External bruise",
    "External burn",
    "Familial adenomatous polyposis",
    "Fibrosing interstitial lung disease",
    "Fracture",
    "Gastric ulcer and duodenal ulcer",
    "Gastro-oesophageal reflux disease",
    "Gauchers disease",
    "General heuristics",
    "Gingivitis",
    "Gout",
    "Haemorrhoids",
    "Hallux valgus",
    "Heart block",
    "Hepatitis A",
    "Hepatitis B",
    "Hepatitis C",
    "Hepatitis D",
    "Hepatitis E",
    "Herpes zoster",
    "Hiatus hernia",
    "Hodgkins lymphoma",
    "Hookworm disease",
    "Horseshoe kidney",
    "Hypertension",
    "Inflammatory bowel disease",
    "Influenza",
    "Ingrowing nail",
    "Inguinal hernia",
    "Internal derangement of the knee",
    "Intervertebral disc prolapse",
    "Irritable bowel syndrome",
    "Ischaemic heart disease",
    "Joint instability",
    "Labral tear",
    "Lipoma",
    "Loss of teeth",
    "Lumbar Spondylosis",
    "Macular degeneration",
    "Malaria",
    "Malignant melanoma of the skin",
    "Malignant neoplasm of the bile duct",
    "Malignant neoplasm of the bladder",
    "Malignant neoplasm of the bone or articular cartilage",
    "Malignant neoplasm of the brain",
    "Malignant neoplasm of the breast",
    "Malignant neoplasm of the cerebral meninges",
    "Malignant neoplasm of the colorectum",
    "Malignant neoplasm of the endometrium",
    "Malignant neoplasm of the gallbladder",
    "Malignant neoplasm of the larynx",
    "Malignant neoplasm of the liver",
    "Malignant neoplasm of the lung",
    "Malignant neoplasm of the nasopharynx",
    "Malignant neoplasm of the oesophagus",
    "Malignant neoplasm of the oral cavity oropharynx and hypopharynx",
    "Malignant neoplasm of the pancreas",
    "Malignant neoplasm of the prostate",
    "Malignant neoplasm of the renal pelvis and ureter",
    "Malignant neoplasm of the stomach",
    "Malignant neoplasm of the thyroid gland",
    "Malignant neoplasm of the urethra",
    "Malignant neoplasm of unknown primary site",
    "Marfan syndrome",
    "Menieres disease",
    "Mesothelioma",
    "Metatarsalgia",
    "Migraine",
    "Mitral valve prolapse",
    "Morbid Obesity",
    "Motor neurone disease",
    "Multiple sclerosis",
    "Myelodysplastic disorder",
    "Myeloma",
    "Myopia and hypermetropia and astigmatism",
    "NAAAD and aortic aneurysm",
    "Nephrolithiasis",
    "Non melanotic malignant neoplasm of the skin",
    "Non-covered condition",
    "Non-Hodgkins lymphoma",
    "Obesity",
    "Opisthorchiasis",
    "Osteoarthritis",
    "Osteogenesis imperfecta",
    "Osteoporosis",
    "Otitis externa",
    "Otitis media",
    "Otosclerosis",
    "Pagets disease of bone",
    "Panic disorder",
    "Parkinsons disease and parkinsonism",
    "Peripheral neuropathy",
    "Personality Disorder",
    "Pes Planus",
    "Physical injury due to munitions discharge cut stab abrasion and laceration",
    "Pinguecula",
    "Pipe smoking",
    "Plantar fasciitis",
    "Pleural plaque",
    "Polymyalgia rheumatica",
    "Porphyria cutanea tarda",
    "Posttraumatic stress disorder",
    "Presbyopia",
    "Pruritus ani",
    "Psoriasis",
    "Psoriatic arthropathy",
    "Pterygium",
    "Pulmonary thromboembolism",
    "Reiters syndrome",
    "Renal artery atherosclerotic disease",
    "Retinal vascular occlusive disease",
    "Rheumatic heart disease",
    "Rheumatoid arthritis",
    "Rotator cuff syndrome",
    "Schizophrenia",
    "Scrub typhus",
    "Seborrhoeic dermatitis",
    "Seborrhoeic keratosis",
    "Sensorineural hearing loss",
    "Shin splints",
    "Sleep apnoea",
    "Smoking",
    "Soft tissue sarcoma",
    "Solar keratosis",
    "Spasmodic torticollis",
    "Spondylolisthesis and spondylolysis",
    "Spondyloses",
    "Sprain and strain",
    "Subarachnoid haemorrhage",
    "Suicide or attempted suicide",
    "Tension-type headache",
    "Thromboangiitis obliterans",
    "Tinea of the skin",
    "Tinnitus",
    "Trigeminal neuralgia",
    "Ureteric calculus",
    "Varicose veins of the lower limb",
    "Vascular dementia",
    "Wilsons disease"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
    });


	</script>

</body>
</html>