<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: How did it happen? | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar.ejs %>
        <% include ../../../global/partials/header-claims.ejs %>
            <% include ../partials/help-button.ejs %>
                <main>
                    <div class="container" id="main-content">
                        <div id="progressbar">
                            <div id="percentage"></div>
                        </div>
                        <h1>Upload documents</h1>

                        <fieldset>
                            <div class="tip--wrapper">
                                <h2>What we need</h2>
                                <!--            <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">-->
                                <p>Your
                                    <strong>medical diagnosis</strong> (GP or Specialist's medical report) will help us assess your
                                    claim. Use the upload section to provide us with a digital photo or copy of your Report.</p>
                                <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
                                <h3>Other supporting documents</h3>
                                <p>Providing
                                    <strong>supporting documents</strong> will help us assess your claim. Supporting documents may
                                    include:</p>
                                <ul>
                                    <li>Providing receipts will help us reimburse your diagnosis costs.</li>
                                    <li>reports from medical imaging (X-Rays and MRIs)</li>
                                    <li>test results</li>
                                    <li>other medical reports</li>
                                    <li>Incident report (Sentinel report)</li>
                                    <li>Authority to Participate in Civilian Sport</li>
                                    <li>Hazardous Material Exposure Report</li>
                                    <li>Training programs/itineraries</li>
                                </ul>
                            </div>

                            <!-- Document list-->

                            <div class="upload-list">
                                <h3>Uploads</h3>
                                <table class="document-uploads">
                                    <tr>
                                        <th>Document title</th>
                                        <th class="centred">Actions</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">My-Diagnosis.pdf (3.5 MB PDF)</a>
                                        </td>
                                        <td class="centred">
                                            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-removefile-modal'">Delete</button>
                                        </td>
                                    </tr>
                                </table>
                                <button class="uikit-btn btnUpload">Upload a document</button>
                            </div>
                        </fieldset>



                        <div class="pagination">
                            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim1'">Previous</button>
                            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                            <div class="floated">
                                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim2'">Save and exit</button>
                                <button class="uikit-btn btnNext" onclick="window.location.href = '/claim3'">Save and next</button>
                            </div>
                        </div>
                        <% include ../partials/cancel-modal.ejs %>
                            <% include ../partials/removefile-modal.ejs %>
                    </div>

                </main>

                <% include ../../../global/partials/footer.ejs %>
                    <% include ../partials/panel-help.ejs %>

                        <script>

                            // Progress percentage
                            // document.getElementById("percentage").style.width = "30%";
                            document.getElementById("percentage").style.width = "25%";
                        </script>

</body>

</html>