<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Diagnosis | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main> 
      <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Diagnosis</span></h1>
      <p>All fields are required unless marked (optional).</p>
 	
      <!-- Diagnoisis -->
   		<div id="diagnosis">
  		<fieldset>
    		<div class="form-group">
    			<label class="uikit-text-input__label" for="type-diagnosis">What did your medical practitioner diagnose you with? <span class="hint display-block"> <span class="display-block"><em>Example: 'Acute meniscal tear of the knee'</em>.</span></span></label>
    			<input class="uikit-text-input" name="type-diagnosis" id="type-diagnosis" type="text" value="">
    		</div>
  		</fieldset>

      <fieldset>
        <legend class="legend-label">Did the condition occur on a specific date?</legend>
        <div class="radio-toggle">
        <label class="on label-left" for="single-yes"><input id="single-yes" type="radio" name="single-event"><span>Yes</span></label>
        <label class="off label-right" for="single-no"><input id="single-no" type="radio" name="single-event"><span>No</span></label>
        </div>
      </fieldset>

      <div class="single-incident" style="display:none;">
        <fieldset>        
          <div class="form-group">
              <label class="uikit-text-input__label" for="dd-single">When did it happen? <span class="hint display-block">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single" maxlength="4" required aria-required="true" aria-label="4 digit year">
          </div>
        </fieldset>
      </div>

      <div class="over-time" style="display:none;">
        <fieldset>        
          <div class="form-group">
              <label class="uikit-text-input__label" for="dd-over-time">Approximately when did you start noticing symptoms? <span class="hint display-block">(MM / YYYY)</span></label>
              <input class="uikit-text-input mm" type="text" name="mm-over-time" id="mm-over-time" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-over-time" id="yyyy-over-time" maxlength="4" required aria-required="true" aria-label="4 digit year">
          </div>
        </fieldset>
      </div>
		</div>

		<!--
    <fieldset>
        <legend class="legend-label">Did you serve on any of the following operations? <span class="hint display-block">Select all that apply.</span></legend>
        <div class="form-group">
            <label class="uikit-text-input__label"></label>
            <p>
                <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="checkbox" name="needs-set4" value="spouse/partner.">
                <span class="uikit-control-input__text">Australian Merchant Mariner service in World War 2</span>
                </label>
            </p>
            <p>
                <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="checkbox" name="needs-set4" value="child.">
                <span class="uikit-control-input__text"> Australian Police service in a UN Peacekeeping mission</span>
                </label>
            </p>
            <p>
                <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="checkbox" name="needs-set4" value="ability to interact in social situations (for example, with friends and family)">
                <span class="uikit-control-input__text">British Nuclear Testing</span>
                </label>
            </p>
        </div>
    </fieldset>
  -->
		
    <h2>Upload your GP or Specialist's medical report (optional)</h2>
        
    <fieldset>
        <div class="tip--wrapper">
            <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">
            <h3>What we need:</h3>
            <ul>
                <li>Your <strong>medical diagnosis</strong> will help us assess your claim.</li>
                <li>Providing <strong>receipts</strong> will help us reimburse your diagnosis costs.</li>
                <li>Providing supporting document will help us assess your claim. Supporting documents may include:
                    <ul>
                        <li>medical imaging and/or reports (X-Rays and MRIs)</li>
                        <li>test results</li>
                        <li>other medical reports</li>
                    </ul>
                </li>
            </ul>
            <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
        </div>

        <!-- Document list--> 

        <div class="upload-list">
        <h3>Uploads</h3>
        <table class="document-uploads">
            <tr>
                <th>Document title</th>
                <th class="centred"></th>
            </tr>
            <tr>
                <td colspan="2">No documents uploaded</td>
            </tr>
        </table>
        <button class="uikit-btn uikit-btn--tertiary btnUpload">Upload a document</button>
        </div>
    </fieldset>

    <div class="pagination">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'" disabled>Previous</button>
      <button class="uikit-btn uikit-btn--tertiary uikit-btn--borderless" onclick="window.location.href = '#open-modal'">Cancel</button>
      <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim1'">Save</button>&nbsp;
          <button class="uikit-btn btnNext" onclick="window.location.href = '/claim3'">Save and next</button>
      </div>
    </div>
    <% include ../partials/cancel-modal.ejs %>


    </div>



  </main>
  
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

	<script>
	
	// Progress percentage
    document.getElementById("percentage").style.width = "25%";
		
	$("#single-yes").click(function() {
    $( ".single-incident" ).show("fast");
    $( ".over-time" ).hide();
  });
  $("#single-no").click(function() {
    $( ".single-incident" ).hide();
    $( ".over-time" ).show("fast");
  });

	$( "#doctor-no" ).click(function() {
		sessionStorage.setItem('nodiagnosis',true);
    	$( "#condition" ).show("fast");
		$( "#diagnosis" ).hide();
  	});
	$( "#doctor-yes" ).click(function() {
		sessionStorage.setItem('yesdiagnosis',true);
		$( "#diagnosis" ).show("fast");
    	$( "#condition" ).hide();
  	});
		
	</script>

</body>
</html>