<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Diagnosis | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-claims.ejs %>
  <% include ../partials/help-button.ejs %>
  <main> 
      <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Diagnosis</span></h1>
      <p>All fields are required unless marked (optional).</p>
 	
      <div class="tip--wrapper tip-diagnosis">
        <div class="row">
          <div class="col-sm-7">
            <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">
            <h3>Important</h3>
            <p>Start typing the medical term provided by your medical practitioner then <strong>select from the list</strong> of options presented.</p>
            <p>In most cases, selecting a condition will simplify the claim process.</p>
          </div>
          <div class="col-sm-5">
            <p>Example: selecting <em>Tinnitus</em><br />
              <img class="figure" src="../../../docs/images/diagnosis-selection.png" alt="Form field showing selected condition" />
            </p>
          </div>
        </div>
      </div>

      <!-- Diagnoisis -->
   		<div id="diagnosis">
      <fieldset>
        
        <!-- toggle option
        <legend class="legend-label">What side of your body is affected?</legend>
        <div class="radio-toggle">
          <label class="on label-left" for="body-left"><input id="body-left" type="radio" name="body-side"><span>Left</span></label>
          <label class="off label-middle" for="body-right"><input id="body-right" type="radio" name="body-side"><span>Right</span></label>
          <label class="off label-middle" for="body-both"><input id="body-both" type="radio" name="body-side"><span>Both</span></label>
          <label class="off label-right" for="body-other"><input id="body-other" type="radio" name="body-side"><span>Other</span></label>
        </div>
      -->


        <div class="form-group">
          <label class="uikit-text-input__label" for="bodypart">What side of your body is affected?</label>
          <div class="row">
            <div class="col-sm-2">
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="bodypart">
                  <span class="uikit-control-input__text">Left</span>
                </label>
              </p>
            </div>
            <div class="col-sm-2">
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="bodypart">
                  <span class="uikit-control-input__text">Right</span>
                </label>
              </p>
            </div>
            <div class="col-sm-2">            
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="bodypart">
                  <span class="uikit-control-input__text">Both</span>
                </label>
              </p>
            </div>
            <div class="col-sm-2">
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="bodypart">
                  <span class="uikit-control-input__text">Other</span>
                </label>
              </p>
            </div>
          </div>
        </div>


        <div class="form-group select-diagnosis">
          <label class="uikit-text-input__label" for="tags">What did your medical practitioner diagnose you with?</label>
          <select name="combobox" id="combobox">
            <option value="">Select one...</option>
            <option value="001">Accommodation disorder</option>
            <option value="002">Achilles tendinopathy and bursitis</option>
            <option value="003">Acquired cataract</option>
            <option value="004">Acquired pes planus</option>
            <option value="005">Acute articular cartilage tear</option>
            <option value="006">Acute lymphoid leukaemia</option>
            <option value="007">Acute meniscal tear of the knee</option>
            <option value="008">Acute myeloid leukaemia</option>
            <option value="009">Acute pancreatitis</option>
            <option value="010">Acute sinusitis</option>
            <option value="011">Acute stress disorder</option>
            <option value="012">Adenocarcinoma of the kidney</option>
            <option value="013">Adhesive capsulitis of the shoulder</option>
            <option value="014">Adjustment disorder</option>
            <option value="015">Alcohol dependence and alcohol abuse</option>
            <option value="016">Alkaptonuria</option>
            <option value="017">Allergic rhinitis</option>
            <option value="018">Alpha-1 antitrypsin deficiency</option>
            <option value="019">Alzheimer-type dementia</option>
            <option value="020">Anal fissure</option>
            <option value="021">Analgesic nephropathy</option>
            <option value="022">Animal envenomation</option>
            <option value="023">Ankylosing spondylitis</option>
            <option value="024">Anxiety disorder</option>
            <option value="025">Aortic stenosis</option>
            <option value="026">Asbestosis</option>
            <option value="027">Asthma</option>
            <option value="028">Atherosclerotic peripheral vascular disease</option>
            <option value="029">Atrial fibrillation</option>
            <option value="030">Atrial flutter</option>
            <option value="031">Benign prostatic hyperplasia</option>
            <option value="032">Bipolar disorder</option>
            <option value="033">Blepharitis</option>
            <option value="034">Bronchiectasis</option>
            <option value="035">Caisson disease</option>
            <option value="036">Cardiomyopathy</option>
            <option value="037">Carotid arterial disease</option>
            <option value="038">Carpal tunnel syndrome</option>
            <option value="039">Cerebral meningioma</option>
            <option value="040">Cerebrovascular accident</option>
            <option value="041">Chicken pox</option>
            <option value="042">Chloracne</option>
            <option value="043">Cholelithiasis</option>
            <option value="044">Chondromalacia patella</option>
            <option value="045">Chronic bronchitis and emphysema</option>
            <option value="046">Chronic fatigue syndrome</option>
            <option value="047">Chronic gastritis</option>
            <option value="048">Chronic lymphoid leukaemia</option>
            <option value="049">Chronic myeloid leukaemia</option>
            <option value="050">Chronic pancreatitis</option>
            <option value="051">Chronic sinusitis</option>
            <option value="052">Cigar smoking</option>
            <option value="053">Cirrhosis of the liver</option>
            <option value="054">Clonorchiasis</option>
            <option value="055">Cluster headache syndrome</option>
            <option value="056">Coeliac disease</option>
            <option value="057">Colorectal adenoma</option>
            <option value="058">Colorectal adenomatous polyp or familial adenomatous polyposis</option>
            <option value="059">Conductive hearing loss</option>
            <option value="060">Congenital cataract</option>
            <option value="061">Conjunctivitis</option>
            <option value="062">Contact dermatitis</option>
            <option value="063">Creutzfeldt-Jakob disease</option>
            <option value="064">Deep vein thrombosis</option>
            <option value="065">Dengue fever</option>
            <option value="066">Dental caries</option>
            <option value="067">Depressive disorder</option>
            <option value="068">Diabetes mellitus</option>
            <option value="069">Dislocation</option>
            <option value="070">Diverticular disease of the colon</option>
            <option value="071">Drug dependence and drug abuse</option>
            <option value="072">Effects of lightning</option>
            <option value="073">Epicondylitis</option>
            <option value="074">Epilepsy</option>
            <option value="075">Erectile dysfunction</option>
            <option value="076">External bruise</option>
            <option value="077">External burn</option>
            <option value="078">Familial adenomatous polyposis</option>
            <option value="079">Fibrosing interstitial lung disease</option>
            <option value="080">Fracture</option>
            <option value="081">Gastric ulcer and duodenal ulcer</option>
            <option value="082">Gastro-oesophageal reflux disease</option>
            <option value="083">Gauchers disease</option>
            <option value="084">General heuristics</option>
            <option value="085">Gingivitis</option>
            <option value="086">Gout</option>
            <option value="087">Haemorrhoids</option>
            <option value="088">Hallux valgus</option>
            <option value="089">Heart block</option>
            <option value="090">Hepatitis A</option>
            <option value="091">Hepatitis B</option>
            <option value="092">Hepatitis C</option>
            <option value="093">Hepatitis D</option>
            <option value="094">Hepatitis E</option>
            <option value="095">Herpes zoster</option>
            <option value="096">Hiatus hernia</option>
            <option value="097">Hodgkins lymphoma</option>
            <option value="098">Hookworm disease</option>
            <option value="099">Horseshoe kidney</option>
            <option value="100">Hypertension</option>
            <option value="101">Inflammatory bowel disease</option>
            <option value="102">Influenza</option>
            <option value="103">Ingrowing nail</option>
            <option value="104">Inguinal hernia</option>
            <option value="105">Internal derangement of the knee</option>
            <option value="106">Intervertebral disc prolapse</option>
            <option value="107">Irritable bowel syndrome</option>
            <option value="108">Ischaemic heart disease</option>
            <option value="109">Joint instability</option>
            <option value="110">Labral tear</option>
            <option value="111">Lipoma</option>
            <option value="112">Loss of teeth</option>
            <option value="113">Lumbar Spondylosis</option>
            <option value="114">Macular degeneration</option>
            <option value="115">Malaria</option>
            <option value="116">Malignant melanoma of the skin</option>
            <option value="117">Malignant neoplasm of the bile duct</option>
            <option value="118">Malignant neoplasm of the bladder</option>
            <option value="119">Malignant neoplasm of the bone or articular cartilage</option>
            <option value="120">Malignant neoplasm of the brain</option>
            <option value="121">Malignant neoplasm of the breast</option>
            <option value="122">Malignant neoplasm of the cerebral meninges</option>
            <option value="123">Malignant neoplasm of the colorectum</option>
            <option value="124">Malignant neoplasm of the endometrium</option>
            <option value="125">Malignant neoplasm of the gallbladder</option>
            <option value="126">Malignant neoplasm of the larynx</option>
            <option value="127">Malignant neoplasm of the liver</option>
            <option value="128">Malignant neoplasm of the lung</option>
            <option value="129">Malignant neoplasm of the nasopharynx</option>
            <option value="130">Malignant neoplasm of the oesophagus</option>
            <option value="131">Malignant neoplasm of the oral cavity oropharynx and hypopharynx</option>
            <option value="132">Malignant neoplasm of the pancreas</option>
            <option value="133">Malignant neoplasm of the prostate</option>
            <option value="134">Malignant neoplasm of the renal pelvis and ureter</option>
            <option value="135">Malignant neoplasm of the stomach</option>
            <option value="136">Malignant neoplasm of the thyroid gland</option>
            <option value="137">Malignant neoplasm of the urethra</option>
            <option value="138">Malignant neoplasm of unknown primary site</option>
            <option value="139">Marfan syndrome</option>
            <option value="140">Menieres disease</option>
            <option value="141">Mesothelioma</option>
            <option value="142">Metatarsalgia</option>
            <option value="143">Migraine</option>
            <option value="144">Mitral valve prolapse</option>
            <option value="145">Morbid Obesity</option>
            <option value="146">Motor neurone disease</option>
            <option value="147">Multiple sclerosis</option>
            <option value="148">Myelodysplastic disorder</option>
            <option value="149">Myeloma</option>
            <option value="150">Myopia and hypermetropia and astigmatism</option>
            <option value="151">NAAAD and aortic aneurysm</option>
            <option value="152">Nephrolithiasis</option>
            <option value="153">Non melanotic malignant neoplasm of the skin</option>
            <option value="154">Non-covered condition</option>
            <option value="155">Non-Hodgkins lymphoma</option>
            <option value="156">Obesity</option>
            <option value="157">Opisthorchiasis</option>
            <option value="158">Osteoarthritis</option>
            <option value="159">Osteogenesis imperfecta</option>
            <option value="160">Osteoporosis</option>
            <option value="161">Otitis externa</option>
            <option value="162">Otitis media</option>
            <option value="163">Otosclerosis</option>
            <option value="164">Pagets disease of bone</option>
            <option value="165">Panic disorder</option>
            <option value="166">Parkinsons disease and parkinsonism</option>
            <option value="167">Peripheral neuropathy</option>
            <option value="168">Personality Disorder</option>
            <option value="169">Pes Planus</option>
            <option value="170">Physical injury due to munitions discharge cut stab abrasion and laceration</option>
            <option value="171">Pinguecula</option>
            <option value="172">Pipe smoking</option>
            <option value="173">Plantar fasciitis</option>
            <option value="174">Pleural plaque</option>
            <option value="175">Polymyalgia rheumatica</option>
            <option value="176">Porphyria cutanea tarda</option>
            <option value="177">Posttraumatic stress disorder</option>
            <option value="178">Presbyopia</option>
            <option value="179">Pruritus ani</option>
            <option value="180">Psoriasis</option>
            <option value="181">Psoriatic arthropathy</option>
            <option value="182">Pterygium</option>
            <option value="183">Pulmonary thromboembolism</option>
            <option value="184">Reiters syndrome</option>
            <option value="185">Renal artery atherosclerotic disease</option>
            <option value="186">Retinal vascular occlusive disease</option>
            <option value="187">Rheumatic heart disease</option>
            <option value="188">Rheumatoid arthritis</option>
            <option value="189">Rotator cuff syndrome</option>
            <option value="190">Schizophrenia</option>
            <option value="191">Scrub typhus</option>
            <option value="192">Seborrhoeic dermatitis</option>
            <option value="193">Seborrhoeic keratosis</option>
            <option value="194">Sensorineural hearing loss</option>
            <option value="195">Shin splints</option>
            <option value="196">Sleep apnoea</option>
            <option value="197">Smoking</option>
            <option value="198">Soft tissue sarcoma</option>
            <option value="199">Solar keratosis</option>
            <option value="200">Spasmodic torticollis</option>
            <option value="201">Spondylolisthesis and spondylolysis</option>
            <option value="202">Spondyloses</option>
            <option value="203">Sprain and strain</option>
            <option value="204">Subarachnoid haemorrhage</option>
            <option value="205">Suicide or attempted suicide</option>
            <option value="206">Tension-type headache</option>
            <option value="207">Thromboangiitis obliterans</option>
            <option value="208">Tinea of the skin</option>
            <option value="209">Tinnitus</option>
            <option value="210">Trigeminal neuralgia</option>
            <option value="211">Ureteric calculus</option>
            <option value="212">Varicose veins of the lower limb</option>
            <option value="213">Vascular dementia</option>
            <option value="214">Wilsons disease</option>
          </select>
          <button class="uikit-btn uikit-btn--borderless no-diagnosis">Can't find diagnosis?</button>
        </div>
        <div class="form-group free-text-diagnosis" style="display: none">
          <label class="uikit-text-input__label" for="custom-diagnosis">Type your diagnosis</label>
          <input class="uikit-text-input" name="custom-diagnosis" id="custom-diagnosis" type="text" value=""><button class="uikit-btn uikit-btn--borderless diagnosis-list">Back</button>
        </div>
      </fieldset>
      <fieldset>
        <legend class="legend-label">Did the condition occur on a specific date?</legend>
        <div class="radio-toggle">
          <label class="on label-left" for="single-yes"><input id="single-yes" type="radio" name="single-event"><span>Yes</span></label>
          <label class="off label-right" for="single-no"><input id="single-no" type="radio" name="single-event"><span>No</span></label>
        </div>
      </fieldset>

      <div class="single-incident" style="display:none;">
        <fieldset>        
          <div class="form-group">
              <label class="uikit-text-input__label" for="dd-single">When did it happen? <span class="hint display-block">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single" maxlength="4" required aria-required="true" aria-label="4 digit year">
          </div>
        </fieldset>
      </div>

      <div class="over-time" style="display:none;">
        <fieldset>        
          <div class="form-group">
              <label class="uikit-text-input__label" for="dd-over-time">Approximately when did you start noticing symptoms? <span class="hint display-block">(MM / YYYY)</span></label>
              <input class="uikit-text-input mm" type="text" name="mm-over-time" id="mm-over-time" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-over-time" id="yyyy-over-time" maxlength="4" required aria-required="true" aria-label="4 digit year">
          </div>
        </fieldset>
      </div>
		</div>


    <div class="pagination">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Previous</button>
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
      <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim1'">Save and exit</button>&nbsp;
          <button class="uikit-btn btnNext" onclick="window.location.href = '/claim2'">Save and next</button>
      </div>
    </div>
    <% include ../partials/cancel-modal.ejs %>
	<% include ../partials/removefile-modal.ejs %>

    </div>



  </main>
   
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>


  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	
	// Progress percentage
    // document.getElementById("percentage").style.width = "25%";
    document.getElementById("percentage").style.width = "12.5%";
		
	$("#single-yes").click(function() {
    $( ".single-incident" ).show("fast");
    $( ".over-time" ).hide();
  });
  $("#single-no").click(function() {
    $( ".single-incident" ).hide();
    $( ".over-time" ).show("fast");
  });

	$( "#doctor-no" ).click(function() {
		sessionStorage.setItem('nodiagnosis',true);
    	$( "#condition" ).show("fast");
		$( "#diagnosis" ).hide();
  	});
	$( "#doctor-yes" ).click(function() {
		sessionStorage.setItem('yesdiagnosis',true);
		$( "#diagnosis" ).show("fast");
    	$( "#condition" ).hide();
  	});
		
  // Diagnosis entry
  $(".no-diagnosis").click(function() {
    $( ".free-text-diagnosis" ).show("fast");
    $( ".select-diagnosis" ).hide();
    $("#custom-diagnosis").focus();
  });
  $(".diagnosis-list").click(function() {
    $( ".free-text-diagnosis" ).hide();
    $( ".select-diagnosis" ).show("fast");
    $("#combobox").focus();
  });


  // Type ahead with text filter
  $( function() {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );

        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },

      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";

        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          //.addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .addClass ("typeahead")
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            classes: {
              "ui-tooltip": "ui-state-highlight"
            }
          });

        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },

          autocompletechange: "_removeIfInvalid"
        });
      },

/*      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;

        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .on( "mousedown", function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .on( "click", function() {
            input.trigger( "focus" );

            // Close if already visible
            if ( wasOpen ) {
              return;
            }

            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
*/
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },

      _removeIfInvalid: function( event, ui ) {

        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }

        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });

        // Found a match, nothing to do
        if ( valid ) {
          return;
        }

        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " did not match" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },

      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });

    $( "#combobox" ).combobox();
    $( "#toggle" ).on( "click", function() {
      $( "#combobox" ).toggle();
    });
  });
  </script>

</body>
</html>