<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Permanent Impairment compensation | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
    <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
    <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
    <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
    <% include ../partials/help-button.ejs %>
    <main> 
    <div class="container" id="main-content">
    <div id="progressbar">
        <div id="percentage"></div>
    </div>
    <h1>Permanent impairment compensation</h1>
    
    <div class="form-group">
		<label class="uikit-text-input__label" for="radio-buttons">After receiving treatment for my condition, I expect to have:</label>
		<p class="uiToolKitCheckBox">
			<label class="uikit-control-input">
				<input class="uikit-control-input__input" type="radio" name="radio-ex">
				<span class="uikit-control-input__text">a full recovery with no ongoing impairment</span>
			</label>
		</p>
		<p class="uiToolKitCheckBox">
			<label class="uikit-control-input">
				<input class="uikit-control-input__input" type="radio" name="radio-ex">
				<span class="uikit-control-input__text">a minor ongoing impairment</span>
			</label>
		</p>
		<p class="uiToolKitCheckBox">
			<label class="uikit-control-input">
				<input class="uikit-control-input__input" type="radio" name="radio-ex">
				<span class="uikit-control-input__text">a moderate or significant ongoing impairment</span>
			</label>
		</p>
	</div>
								
    <hr>
    
    <div class="tip--wrapper">
    	<p>If your claim for liability is accepted, you may be entitled to receive <a href="https://www.dva.gov.au/factsheet-mrc07-permanent-impairment-compensation-payments" rel="external" target="_black">permanent&nbsp;impairment&nbsp;compensation</a> if:</p>
    	<ul style="margin-bottom:20px;">
    		<li>after treatment you still have an impairment or lifestyle rescriction;</li>
    		<li>the impairment or restriction is likely to continue indefinitely; and</li>
    		<li>your condition has stabilised.</li>
    	</ul>

    	<p>The process invloves one or multiple medical assessments to determine the level of impairment or lifestyle restriction.</p>
    </div>


   <hr>
   
    <fieldset>
      <legend>Would you like to apply for permanent impairment compensation?<span class="hint"></span></legend>
      <div class="radio-toggle">
        <label class="on label-left" for="leaving-yes"><input id="leaving-yes" type="radio" name="leaving-adf"><span>Yes</span></label>
        <label class="off label-right" for="leaving-no"><input id="leaving-no" type="radio" name="leaving-adf"><span>No</span></label>
      </div>
    </fieldset>
        
    

    <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim3'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary uikit-btn--borderless" onclick="window.location.href = '#open-modal'">Cancel</button>
        <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim4'">Save and exit</button>&nbsp;
            <button class="uikit-btn btnNext" onclick="window.location.href = '/claim5'">Save and next</button>
        </div>
    </div>
    <% include ../partials/cancel-modal.ejs %>
    </div>

  </main>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

	<script>
	
	// Progress percentage
    document.getElementById("percentage").style.width = "75%";
    
    // Show and hide needs list
    $( "#leaving-yes" ).click(function() {
      $( ".needs-list" ).show("fast");
    });
    $( "#leaving-no" ).click(function() {
      $( ".needs-list" ).show("fast");
    });
    $( "#not-listed" ).click(function() {
      $( ".not-listed-above" ).toggle("fast");
      $( "#new-item" ).focus();
    });
	
	</script>

</body>
</html>