<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Review and submit | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
    <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
    <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
    <% include ../../../global/partials/header-version.ejs %>
    <% include ../../header-authenticated.ejs %>
    <% include ../partials/help-button.ejs %>
    <main> 
    <div class="container" id="main-content">
    <div id="progressbar">
        <div id="percentage"></div>
    </div>
    <h1>Review and submit</h1>
    <table class="cover-detail">
      <caption>Diagnosis <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/claim1'">Change</button></caption>

      <thead>
        <tr>
          <th>What have you been medically diagnosed with?</th>
          <td>lumbar spondylosis</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Did the condition occur on a specific date?</th>
          <td>Yes</td>
        </tr>
        <tr>
          <th>When did it happen?</th>
          <td>12 / 12 / 2005</td>
        </tr>
        <tr>
          <th>GP or Specialist's medical report</th>
          <td>
            <ul>
              <li><a href="#">Report-scan.doc (114 KB JPG)</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="cover-detail">
      <caption>How did it happen? <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/claim3'">Change</button></caption>
        <tr>
          <th>Which statement best describes how your condition happened?</th>
          <td>
            <ul>
              <li>injury to the affected shoulder</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>Provide a brief description of what led to your condition</th>
          <td>test</td>
        </tr>
        <tr>
          <th>Upload supporting documents</th>
          <td>
            <ul>
              <li><a href="#">MRI.jpg (1,240 KB JPG)</a></li>
            </ul>
          </td>
        </tr>
    </table>

    <table class="cover-detail">
      <caption>How have you been affected? <button class="uikit-btn uikit-btn--tertiary floated small floated--always" onclick="window.location.href = '/claim4'">Change</button></caption>
      <thead>
        <tr>
          <th>As a result of my condition, I require..</th>
          <td>
            <ul>
              <li>modifications to my home or vehicle</li>
              <li>other: I cannot drive so I need a taxi once a week to buy groceries.</li>
            </ul>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>I am interested in...</th>
          <td>
            <ul>
              <li>getting a new job.</li>
              <li>work experience.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>My condition has impacted my...</th>
          <td>
            <ul>
              <li>ability to interact in social situations (Eg. interacting with friends and family).</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Nominee (optional)</h2>
    <p class="nominee-intro">You can nominate another person (for example, a family member or advocate) to receive claim updates and make enquiries on your behalf.</p>
    <div class="nominee-details-container" style="display:none;">
      <p>All nominee fields are required.</p>
      <div class="nominee-details">
          <div class="form-group">
            <label class="uikit-text-input__label" for="nominee-name">Nominee's full name</label>
            <input class="uikit-text-input input-half" name="nominee-name" id="nominee-name" type="text" value="">
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="nominee-number">Nominee's phone number</label>
            <input class="uikit-text-input input-half" name="nominee-number" id="nominee-number" type="text" value="">
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="nominee-email">Nominee's email</label>
            <input class="uikit-text-input input-half" name="nominee-email" id="nominee-email" type="text" value="">
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="nominee-address">Nominee's address</label>
            <input class="uikit-text-input" name="nominee-address" id="nominee-address" type="text" value="">
          </div>
      </div>
    </div>
    <button id="btnAddNominee" class="uikit-btn small uikit-btn--tertiary">Add a nominee</button>
    <button id="btnCancelNominee" class="uikit-btn small uikit-btn--borderless" style="display: none">Cancel</button>

    <div class="pagination">
    <p>By clicking <strong>submit claim</strong> you confirm this information is truthful and accurate.</p>
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim4'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary uikit-btn--borderless" onclick="window.location.href = '#open-modal'">Cancel</button>
        <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim5'">Save and exit</button>&nbsp;
            <button class="uikit-btn btnNext" onclick="window.location.href = '/claim6'">Submit claim</button>
        </div>
    </div>
    <% include ../partials/cancel-modal.ejs %>
    </div>

  </main>
  
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

	<script>
	
	// Progress percentage
    document.getElementById("percentage").style.width = "95%";
    
    $("#btnAddNominee").click(function() {
      $( ".nominee-details-container" ).show("fast");
      $( "#btnAddNominee" ).hide();
      $( "#btnCancelNominee" ).show("fast");
      $( "#nominee-name" ).focus();
    });
    $("#btnCancelNominee").click(function() {
      $( ".nominee-details-container" ).hide("fast");
      $( "#btnCancelNominee" ).hide();
      $( "#btnAddNominee" ).show();
    });
    $(".nominee-save").click(function() {
      $( ".nominee-details" ).hide();
      $( ".toast-saved" ).show("fast");
      $(".nominee-intro").hide("fast");
    });
    $( ".message-close" ).click(function() {
      $(".nominee-details-container").hide("fast");
    });
	
	</script>

</body>
</html>