<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Review and submit | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar.ejs %>
        <% include ../../../global/partials/header-claims.ejs %>
            <% include ../partials/help-button.ejs %>
                <main>
                    <div class="container" id="main-content">
                        <div id="progressbar">
                            <div id="percentage"></div>
                        </div>
                        <h1>
                            <img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon"> Submitted</h1>
                        <div class="timebox--wrapper">
                            <img src="../../../docs/images/ico-phone-blue.svg" alt="Phone icon">
                            <p>
                                <strong>We will contact you within 7 days to discuss how we can help you.</strong>
                            </p>
                        </div>
                        <% include ../../../global/partials/five-star-rating-component.ejs %>

                            <div class="pagination">
                                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim1'">Add another claim</button>
                                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile'">Update profile</button>
                                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Back to home</button>
                            </div>
                    </div>

                </main>

                <% include ../../../global/partials/footer.ejs %>
                    <% include ../partials/panel-help.ejs %>

                        <script>

                            // Progress percentage
                            document.getElementById("percentage").style.width = "100%";
                        </script>

</body>

</html>