<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Start | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  
  <div id="page-title">
	  <div class="container">
	  <div id="progressbar" style="display:none;"><div id="percentage"></div></div>
	  	<h1>Add claim</h1>
	  </div>
  </div>
  <main> 
    <div class="container" id="main-content">

<!-- Mental Health condition -->
		<div id="mentalhealth">
		<fieldset>
		<label class="uikit-text-input__label" for="mentalhealth-yes">Is this claim for a mental health condition?</label>
		<div class="radio-toggle">		
			<label class="on label-left" for="mentalhealth-yes"><input id="mentalhealth-yes" type="radio" name="mental-health"><span>Yes</span></label>
			<label class="off label-right" for="mentalhealth-no"><input id="mentalhealth-no" type="radio" name="mental-health"><span>No</span></label>
		</div>
		</fieldset>
   		</div>
  
 <!-- Seen a doctor question -->
    	<div id="doctor" style="display:none;">
     	<fieldset>
			<label class="uikit-text-input__label" for="diagnosis-yes">Have you seen a GP or Specialist about your condition?</label>
			<div class="radio-toggle">
			<label class="on label-left" for="doctor-yes"><input id="doctor-yes" type="radio" name="dva-doctor"><span>Yes</span></label>
			<label class="off label-right" for="doctor-no"><input id="doctor-no" type="radio" name="dva-doctor"><span>No</span></label>
			</div>
		</fieldset>
		</div>
		
 <!-- Diagnoisis -->
 		<div id="diagnosis" style="display:none;">
		<fieldset>
		<div class="form-group">
			<label class="uikit-text-input__label" for="type-diagnosis">What is your diagnosis?<br><span class="hint">Enter the term your GP or Specialist used to describe your condition. Example: 'Acute meniscal tear of the knee'.</span></label>
			<input class="uikit-text-input" name="type-diagnosis" id="type-diagnosis" type="text" value="">
		</div>
		</fieldset>
		</div>
		
 <!-- Condition name (no diagnosis) -->
 		<div id="condition" style="display:none;">
		<fieldset>
		<div class="form-group">
			<label class="uikit-text-input__label" for="type-diagnosis">What is your condition?</label>
			<input class="uikit-text-input" name="type-diagnosis" id="type-diagnosis" type="text" value="">
		</div>
		</fieldset>
		</div>
		
 <!-- Mental Health claim -->
 		<div id="mentalhealth-claim" style="display:none;">
			<div class="breakout-light">
				<h3>You can access free treatment for mental health conditions.</h3>
				<p>When you submit this claim, we will send you a DVA health card (White Card). If you already have a card, you will be able to use it immediately. If you access free treatment, you can still make a claim for compensation later.</p>
			</div>
		</div>
         

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Cancel</button>
        <button class="uikit-btn floated btnNext" onclick="window.location.href = '/claim-step2'">Save and next</button>
        <button class="uikit-btn floated btnSubmit" onclick="window.location.href = '/claim-nlhc-submitted'" style="display:none;">Submit claim</button>
      </div>
      <% include ../partials/cancel-modal.ejs %>
    </div>

  </main>
  
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

	<script>
	
	// Progress percentage
    document.getElementById("percentage").style.width = "20%";
		
	// If you've come to this page straight from claim-step6, show the mental health question
	if("anotherclaim" in sessionStorage){
        $( "#mentalhealth" ).show();
		$( "#doctor" ).hide();
		$( "#condition" ).hide();
		$( "#diagnosis" ).hide();
    }
	// Show and hide condition name field
  	$( "#mentalhealth-no" ).click(function() {
		$( "#progressbar" ).slideDown("fast");
    	$( "#doctor" ).show("fast");
		$( "#mentalhealth-claim" ).hide();
		$( ".btnNext" ).show();
		$( ".btnSubmit" ).hide();
  	});
		
	// Show and hide condition name field
  	$( "#mentalhealth-yes" ).click(function() {
		$( "#progressbar" ).slideUp("fast");
    	$( "#doctor" ).hide();
		$( "#condition" ).hide();
		$( "#diagnosis" ).hide();
		$( "#mentalhealth-claim" ).show("fast");
		$( ".btnNext" ).hide();
		$( ".btnSubmit" ).show();
  	});
	
	$( "#doctor-no" ).click(function() {
		sessionStorage.setItem('nodiagnosis',true);
    	$( "#condition" ).show("fast");
		$( "#diagnosis" ).hide();
  	});
	$( "#doctor-yes" ).click(function() {
		sessionStorage.setItem('yesdiagnosis',true);
		$( "#diagnosis" ).show("fast");
    	$( "#condition" ).hide();
  	});
		
		
    // If you've come to this page straight from claim-nlhc-approved, hide the mental health question
    if("nlhc" in sessionStorage){
		$( "#progressbar" ).show();
		$( "#mentalhealth" ).hide();
		$( "#doctor" ).show();  
		$( "#condition" ).hide();
		$( "#diagnosis" ).hide();
    } else {
		$( "#mentalhealth" ).show();
    };
	
	</script>

</body>
</html>