<!DOCTYPE html>
<html class="js" lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Claims | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
	<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
	<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
	<% include ../../../global/partials/header-topbar.ejs %>
	<% include ../../../global/partials/header-authenticated--claims.ejs %>

	<main>
	<section>
		<div class="container" id="main-content">
			<h1 style="margin-bottom:0.4em;">Claims</h1>
		</div>
	</section>
	
	<section>
		<div style="background:#eeeeee; height:300px; margin-bottom:3em; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;">
			<center><h2>Start a new claim</h2></center>
			<div class="container add-claims--box">
				<div class="row">
					<div class="col-sm-4"><h3>Initial liability</h3></div>
					<div class="col-sm-4"><h3>Permanent impairment</h3></div>
					<div class="col-sm-4"><h3>Student payments</h3></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
	  		<h2>Claim activity</h2>
		  <section class="widget">    
			<div class="row widget-content widget--justclaims">
			  <div class="col-md-12">
				<table class="table-claims">
				  <tr>
				    
					<th class="activity">Activity</th>
					<th class="type">Type</th>
					<th class="actions">Actions</th>
				  </tr>
				  <tr>
					<td>
					  <p class="status-icon status-incomplete">
						Subacromial Bursitis of the Shoulder<br />
						<span>Incomplete <em>&ndash; 24 days remaining</em></span>
					  </p>
					</td>
				    <td class="type">Initial liability</td>
					<td class="actions"><button class="uikit-btn">Open</button>&nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Delete</button></td>
				  </tr>
				  <tr>
					<td>
					  <p class="status-icon status-approved">
						Internal derangement of the knee<br />
						<span>Approved <em>&ndash; 4 Jan 2018</em></span>
					  </p>
					</td>
				    <td class="type">Permanent Impairment</td>
					<td class="actions"><button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button></td>
				  </tr>
				  <tr>
					<td>
					  <p class="status-icon status-approved">
						Mental Health Treatment (NLHC)<br />
						<span>Approved <em>&ndash; 4 Jan 2018</em></span>
					  </p>
					</td>
					<td class="type">Non&nbsp;liability&nbsp;Health&nbsp;Care</td>
					<td class="actions"><button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button></td>
				  </tr>
				  <tr>
					<td>
					  <p class="status-icon status-submitted">
						Internal derangement of the knee<br />
						<span>Submitted <em>&ndash; 3 Jan 2018</em></span>
					  </p>
					</td>
					<td class="type">Initial liability</td>
					<td class="actions"><button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'viewClaimDetail'">View</button></td>
				  </tr>
				  <tr>
					<td>
					  <p class="status-icon status-rejected">
						Acute meniscal tear of the knee<br />
						<span>Rejected <em>&ndash; 11 Nov 2017</em></span>
					  </p>
					</td>
					<td class="type">Initial liability</td>
					<td class="actions"><button class="uikit-btn uikit-btn--tertiary">Appeal</button>&nbsp;<button class="uikit-btn uikit-btn--tertiary">View</button>&nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Delete</button></td>
				  </tr>
				  <tr>
					<td>
					  <p class="status-icon status-approved">
						Student payment<br />
						<span>Approved <em>&ndash; 4 Jan 2017</em></span>
					  </p>
					</td>
					<td class="type">Student payment</td>
					<td class="actions"><button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button></td>
				  </tr>
				  
				</table>

			  </div>
			</div>
		  </section>
		</div><!-- container --> 
	</section>
	</main>

  <% include ../../../global/partials/footer.ejs %>


</body>
</html>
