<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Bank details | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
    <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
    <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
    <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
    <% include ../partials/help-button.ejs %>
    <main> 
    <div class="container" id="main-content">
    <div id="progressbar"><div id="percentage"></div></div>
    <h1>Bank details <span>(optional)</span></h1>
    
    <div class="tip--wrapper line-break-after">
        <p class="text-fullwidth no-space-after">If your claim for liability is accepted you may be entitled to a <a class="external-link" href="https://www.dva.gov.au/factsheet-is18-veterans-supplement">veterans supplement</a> or other <a class="external-link" href="https://www.dva.gov.au/benefits-and-payments/compensation">compensation payments</a>. If eligible, these payments will be deposited into your nominated bank account.</p>
    </div>
    

<!--
    <h4><b>My bank details</b> &nbsp; <a href="#open-bankmodal">Update</a></h4>
    <p>Robert Johnson's AU<br>Commonwealth Bank account<br>Account number: xxxx xxxx<br>BSB: xxx - xxx</p>
-->


    <% include ../../../global/partials/bank-account-details.ejs %>
    
    <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim5'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Save and exit</button>&nbsp;
            <button class="uikit-btn btnNext" onclick="window.location.href = '/claim7'">Save and next</button>
        </div>
    </div>

    <% include ../partials/cancel-modal.ejs %>
    </div>

  </main>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

	<script>
	
	// Progress percentage
    document.getElementById("percentage").style.width = "75%";

    // autotab between BSB fields 
    $("#bsb").keyup(function () {
        if (this.value.length == this.maxLength) {
          $(this).next('#bsb').focus();
        }
    });

    // PI messages
	$( "#aus-yes" ).click(function() {
      $( ".aus-no" ).hide();
	  $( ".aus-yes" ).show("fast");
    });
    $( "#aus-no" ).click(function() {
	  $( ".aus-yes" ).hide();
      $( ".aus-no" ).show("fast");
    });

	</script>

</body>
</html>