<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Submitted | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  
   <div id="page-title">
	  <div class="container">
	  <div id="progressbar"><div id="percentage"></div></div>
	  <h1><img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon">Submitted</h1>  
	  </div>
  </div>
  
  <main>
    <section>
		<div class="container" id="main-content">
			<div class="breakout-light" id="submitted-nlhc-claim" style="padding:1.4em; padding-left:2em;">
				<h3>We will contact you within 3 weeks to discuss how we can help you.</h3>
			</div>
			<br>
			<% include ../../../global/partials/five-star-rating-component.ejs %>
			<div class="pagination">
				<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'" title="Go to the MyService home page">Back to home</button>
				<button class="uikit-btn floated" id="btnClaim" title="Go to the Add Claim page">Add another claim</button>
			</div>
		</div>
    </section>
  </main>

  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  
  <% include ../../../global/partials/footer.ejs %>
  
  <script>
	// Add another claim button
	// Adding 'anotherclaim' to session storage so if user clicks the 'Add another claim' button they will be asked if its a mental health condition. This is essentially overriding the nlhc-claim in session storage. Might not be the best way to manage this logic.
    $('#btnClaim').click(function() {
      sessionStorage.setItem('anotherclaim',true);
      location.href = '/claim-step1';
    });
	  
	// Progress percentage
	document.getElementById("percentage").style.width = "100%";
	  
  </script>
</body>
</html>
