<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-authenticated.ejs %>
  <div class="container" id="main-content">
    <div class="column-nav">
      <% include ../../../global/partials/nav-claims.ejs %>
    </div>
    <div class="column-content">
      <h1>Claims</h1>
      
    </div><!-- column-content -->
  </div><!-- main-content -->

  <% include ../../../global/partials/footer.ejs %>

</body>
</html>