<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Review and submit | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">

            <div class="claim--submitted">
              <h1>

              </h1>




            </div>

            <div class="claim--success">
              <h1>We're accessing your claim application</h1>

              <p>Stay on this page and we'll let you know the outcome very shortly.</p>


              <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewbox="8 8 53 53">
                <path id="successAnimationResult" fill="#D8D8D8" d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z"
                />
                <circle id="defaultAnimationCircle" cx="35" cy="35" r="24" stroke="#eee" stroke-width="3" stroke-linecap="round" fill="transparent"
                />
                <circle id="successAnimationCircle" cx="35" cy="35" r="24" stroke="#979797" stroke-width="3" stroke-linecap="round" fill="transparent"
                />
                <polyline id="successAnimationCheck" stroke="#979797" stroke-width="2" points="23 34 34 43 47 27" fill="transparent" />
              </svg>



            </div>





            <div class="claim--success">
              <h1>We're accessing your claim application</h1>

              <p>Stay on this page and we'll let you know the outcome very shortly.</p>


              <svg viewBox="0 0 100 77" xmlns="http://www.w3.org/2000/svg" width="180" height="180" fill-rule="evenodd" clip-rule="evenodd"
                stroke-linejoin="round" stroke-miterlimit="1.414">
                <path class="chev-2" d="M46.8.2c.4 0 29.1 24.4 29.1 24.4l-8.6 8.6L30.9 2.5S43.5.2 46.8.2z" fill="url(#_Linear1)" fill-rule="nonzero"
                />
                <path class="chev-3" d="M29.1 24.5C28.8 24.5 0 48.9 0 48.9l8.6 8.6L45 26.8s-12.6-2.3-15.9-2.3z" fill="url(#_Linear2)" fill-rule="nonzero"
                />
                <path class="chev-4" d="M42.6 24.3c3.6 0 4.6-.2 7.7 2.3 9.3 7.8 25.6 22.7 25.6 22.7L67 57.2s-23.5-21-33.8-29.3c-2.5-2.1-4.1-3.3-4.1-3.3s5.9-.1 10.2-.2c1.4 0 2.5-.1 3.3-.1z"
                  fill="url(#_Linear3)" fill-rule="nonzero" />
                <path class="chev-1" d="M33.3 0c-3.6 0-4.6-.2-7.7 2.3C16.3 10 0 25 0 25l8.9 7.8s23.5-21 33.8-29.3C45.2 1.4 46.8.2 46.8.2s-6-.1-10.3-.2h-3.2z"
                  fill="url(#_Linear4)" fill-rule="nonzero" />
                <defs>
                  <linearGradient id="_Linear1" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="scale(46.271) rotate(42.839 .51 .838)">

                    <stop offset="0" stop-color="#387cc0">
                      <animate attributeName="stop-color" values="#387cc0; #05bab9; #387cc0;" dur="1s" repeatCount="indefinite"></animate>
                    </stop>

                    <stop offset="1" stop-color="#05bab9">
                      <animate attributeName="stop-color" values="#05bab9; #387cc0; #05bab9;" dur="1s" repeatCount="indefinite"></animate>
                    </stop>

                  </linearGradient>


                  <linearGradient id="_Linear2" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="scale(66.035) rotate(-60.321 .801 .23)">

                    <stop offset="0" stop-color="#fcd127">
                      <animate attributeName="stop-color" values="#fcd127; #f8961d; #fcd127;" dur="1s" repeatCount="indefinite"></animate>
                    </stop>

                    <stop offset="1" stop-color="#f8961d">
                      <animate attributeName="stop-color" values="#f8961d; #fcd127; #f8961d;" dur="1s" repeatCount="indefinite"></animate>
                    </stop>

                  </linearGradient>

                  <linearGradient id="_Linear3" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="scale(-47.395) rotate(45 .633 -2.32)">

                    <stop offset="0" stop-color="#e9487b">
                      <animate attributeName="stop-color" values="#e9487b; #f9a12e; #e9487b;" dur="1s" repeatCount="indefinite"></animate>
                    </stop>

                    <stop offset="1" stop-color="#f9a12e">
                      <animate attributeName="stop-color" values="#f9a12e; #e9487b; #f9a12e;" dur="1s" repeatCount="indefinite"></animate>
                    </stop>

                  </linearGradient>


                  <linearGradient id="_Linear4" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="scale(-50.003) rotate(-38.991 -.419 1.018)">

                    <stop offset="0" stop-color="#8dc641">
                      <animate attributeName="stop-color" values="#8dc641; #2ab34b; #8dc641;" dur="1s" repeatCount="indefinite"></animate>
                    </stop>

                    <stop offset="1" stop-color="#2ab34b">
                      <animate attributeName="stop-color" values="#2ab34b; #8dc641; #2ab34b;" dur="1s" repeatCount="indefinite"></animate>
                    </stop>


                  </linearGradient>


                </defs>
              </svg>


              <!-- 

              <svg width="336px" height="195px">
                <defs>
                  <linearGradient id="logo-gradient" x1="50%" y1="0%" x2="50%" y2="100%">

                    <stop offset="0%" stop-color="#7A5FFF">
                      <animate attributeName="stop-color" values="#7A5FFF; #01FF89; #7A5FFF" dur="1s" repeatCount="indefinite"></animate>
                    </stop>

                    <stop offset="100%" stop-color="#01FF89">
                      <animate attributeName="stop-color" values="#01FF89; #7A5FFF; #01FF89" dur="1s" repeatCount="indefinite"></animate>
                    </stop>

                  </linearGradient>

                </defs>

                <g>
                  <path fill="url('#logo-gradient')" d="M315.69646,6.17948262 C328.855897,-3.88648819 332.169516,-0.795739865 323.113707,13.0582738 L217.327474,174.895153 C208.264469,188.760175 193.218185,188.990964 183.71996,175.409636 L126.769111,93.9767151 L12.5417619,181.728698 C-0.593710633,191.81966 -3.91947426,188.74917 5.1230211,174.855879 L110.403975,13.0975513 C119.44219,-0.789163345 134.468377,-1.03753706 143.966601,12.5437917 L200.917445,93.9767151 L315.69646,6.17948262 Z"></path>
                </g>
              </svg> -->



            </div>




            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim1'">Add another claim</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile'">Update profile</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Back to home</button>
            </div>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>

            <script>

              // $(".claim--success").hide();
              $(".claim--submitted").hide();

            </script>

</body>

</html>