<!DOCTYPE html>
<html class="js"
      lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width"
        name="viewport">
  <title>Add claim: Review and submit | MyService</title>
  <link href="docs/css/main.css"
        rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link"
       href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container"
               id="main-content">


            <div class="row">
              <div class="col-md-offset-2 col-md-8">

                <div class="claim-end">

                  <!-- submitted start -->
                  <% if (query.claimType != "cbd") { %>
                    <div class="pt-claim-type--normal">
                      <div class="margin-above ie-success-animation">
                        <img src="../../../docs/images/ico-submitted.svg"
                             alt="Success tick icon">
                      </div>
                      <div class="margin-above submitted-animation">
                        <% include ../../../global/partials/animation-submitted.ejs %>
                      </div>
                      <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                        <h1>We're submitting your claim application</h1>

                      </div>
                    </div>
                    <% } %>
                      <!-- submitted end -->

                      <!-- success start -->
                      <% if (query.claimType == "cbd") { %>
                        <div class="pt-claim-type--cbd">
                          <div class="margin-above ie-success-animation">
                            <img src="../../../docs/images/ico-tick-green.svg"
                                 alt="Success tick icon">
                          </div>

                          <div class="margin-above success-animation">
                            <% include ../../../global/partials/animation-success.ejs %>
                          </div>


                          <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                            <h1>We're assessing your claim application</h1>
                            <p>Stay on this page and we'll let you know the outcome very shortly.</p>
                          </div>
                        </div>
                        <% } %>


                          <div class="transition-content pt-claim-animation-end">
                            <% if (query.claimType == "cbd") { %>
                              <div class="pt-claim-type--cbd">
                                <h1 class="cantered-item">Success! Your claim is
                                  <span class="font-weight-heavy"> approved</span>
                                </h1>
                              </div>
                              <% } else { %>
                                <div class="pt-claim-type--normal">
                                  <h1 class="cantered-item">Your claim is
                                    <span class="font-weight-heavy"> submitted</span>
                                  </h1>
                                </div>
                                <% } %>

                                  <!-- To be reinstated at a later date -->
                                  <h3 class="cantered-item">Claim ID is 12345678</h3>

                                  <div class="timebox--wrapper margin-below">
                                    <img src="../../../docs/images/ico-phone-blue.svg"
                                         alt="Phone icon">
                                    <p>
                                      <strong>We will contact you in the next XX days to discuss the support we can offer you.</strong>
                                    </p>
                                  </div>

                                  <% if (query.claimType == "cbd") { %>
                                    <div class="pt-claim-type--cbd">
                                      <p>We will also send you a DVA health card (if you don't already have one), which you
                                        can use to cover the cost of treatment for [insert condition]. If you have any questions
                                        or concerns, please contact
                                        <a href="">MyServiceSupport@dva.gov.au</a>
                                      </p>
                                    </div>
                                    <% } %>

                                      <% include ../../../global/partials/five-star-rating-component.ejs %>
                          </div>

                </div>


                <div class="pagination">
                  <button class="uikit-btn uikit-btn--tertiary"
                          onclick="window.location.href = '/claim1'">Add another claim</button>
                  <button class="uikit-btn uikit-btn--tertiary"
                          onclick="window.location.href = '/profile'">Update profile</button>
                  <button class="uikit-btn uikit-btn--tertiary"
                          onclick="window.location.href = '/index-claims'">Back to home</button>
                </div>

              </div>
            </div>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>

            <script>

              // $('.success-animation').hide();
              var timeDelay = 3500
              if (localStorage.getItem('claimType') === 'cbd') {
                timeDelay = 5500;
              }
              setTimeout(
                function () {
                  $(".pt-claim-animation-start").toggleClass("transition-content--open");
                  $(".pt-claim-animation-end").toggleClass("transition-content--open");
                }, timeDelay);


            </script>

</body>

</html>