<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Diagnosis | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main> 
      <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Diagnosis</span></h1>

 
 <!-- Seen a doctor question -->
	<div id="doctor">
 	<fieldset>
		<label class="uikit-text-input__label" for="diagnosis-yes">Have you seen a GP or Specialist about your condition?</label>
		<div class="radio-toggle">
		<label class="on label-left" for="doctor-yes"><input id="doctor-yes" type="radio" name="dva-doctor"><span>Yes</span></label>
		<label class="off label-right" for="doctor-no"><input id="doctor-no" type="radio" name="dva-doctor"><span>No</span></label>
		</div>
	</fieldset>
	</div>
		
 <!-- Diagnoisis -->
 		<div id="diagnosis" style="display:none;">
		<fieldset>
		<div class="form-group">
			<label class="uikit-text-input__label" for="type-diagnosis">What is your diagnosis? <span class="hint display-block">Enter the term your GP or Specialist used to describe your condition. <span class="display-block"><em>Example: 'Acute meniscal tear of the knee'</em>.</span></span></label>
			<input class="uikit-text-input" name="type-diagnosis" id="type-diagnosis" type="text" value="">
		</div>
		</fieldset>
    <fieldset>
        <!--<p><strong>What best describes your injury or condition?</strong></p>
        <p>
            <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="radio" name="condition">
                <span class="uikit-control-input__text"><span class="hint">From a single incident or accident</span></span>
            </label>
        </p>
        <p>
            <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="radio" name="condition">
                <span class="uikit-control-input__text"><span class="hint">A condition with no specific start date</span></span>
            </label>
        </p>
        <hr />
        -->
        <div class="form-group">
            <label class="uikit-text-input__label" for="dd-enlistment">When did it happen, or when did you first notice it happening? <span class="hint display-block">(DD / MM / YYYY)</span></label>
            <input class="uikit-text-input dd" type="text" name="dd-enlistment" id="dd-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="text" name="mm-enlistment" id="mm-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="text" name="yyyy-enlistment" id="yyyy-enlistment" maxlength="4" required aria-required="true" aria-label="4 digit year">
        </div>
      </fieldset>
		</div>
		
 <!-- Condition name (no diagnosis) -->
 		<div id="condition" style="display:none;">
		<p>Display relevant info - ie: why a diganosis is required and if it's mental health <a href="#">go there instead</a></p>
		</div>
		
    <div class="pagination">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'" disabled>Previous</button>
      <button class="uikit-btn uikit-btn--tertiary uikit-btn--borderless" onclick="window.location.href = '#open-modal'">Cancel</button>
      <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim1'">Save</button>&nbsp;
          <button class="uikit-btn btnNext" onclick="window.location.href = '/claim2'">Save and next</button>
      </div>
    </div>
    <% include ../partials/cancel-modal.ejs %>


    </div>



  </main>
  
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

	<script>
	
	// Progress percentage
    document.getElementById("percentage").style.width = "15%";
		
	
	$( "#doctor-no" ).click(function() {
		sessionStorage.setItem('nodiagnosis',true);
    	$( "#condition" ).show("fast");
		$( "#diagnosis" ).hide();
  	});
	$( "#doctor-yes" ).click(function() {
		sessionStorage.setItem('yesdiagnosis',true);
		$( "#diagnosis" ).show("fast");
    	$( "#condition" ).hide();
  	});
		
	</script>

</body>
</html>