<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Review and submit | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">

            <div class="claim--submitted">
              <h1>

              </h1>




            </div>

            <div class="claim--success">
              <h1>We're accessing your claim application</h1>

              <p>Stay on this page and we'll let you know the outcome very shortly.</p>


              <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewbox="-5 -5 100 100">
                <path id="successAnimationResult" fill="#D8D8D8" d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z"
                />
                <circle id="defaultAnimationCircle" cx="35" cy="35" r="24" stroke="#eee" stroke-width="3" stroke-linecap="round" fill="transparent"
                />
                <circle id="successAnimationCircle" cx="35" cy="35" r="24" stroke="#979797" stroke-width="3" stroke-linecap="round" fill="transparent"
                />
                <polyline id="successAnimationCheck" stroke="#979797" stroke-width="2" points="23 34 34 43 47 27" fill="transparent" />
              </svg>



            </div>



            <div class="claim--success">
              <h1>We're accessing your claim application</h1>

              <p>Stay on this page and we'll let you know the outcome very shortly.</p>


              <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.8 58.2">
                <style>
                </style>
                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="32.665" y1="-5.699" x2="66.594" y2="25.763">
                  <stop offset="0" stop-color="#387cc0" />
                  <stop offset="1" stop-color="#05bab9" />
                </linearGradient>
                <path d="M46.8.2c.4 0 29.1 24.4 29.1 24.4l-8.6 8.6L30.9 2.5S43.5.2 46.8.2z" fill="url(#SVGID_1_)" />
                <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="13.492" y1="53.644" x2="46.188" y2="-3.728">
                  <stop offset=".011" stop-color="#fcd127" />
                  <stop offset="1" stop-color="#f8961d" />
                </linearGradient>
                <path d="M29.1 24.5C28.8 24.5 0 48.9 0 48.9l8.6 8.6L45 26.8s-12.6-2.3-15.9-2.3z" fill="url(#SVGID_2_)" />
                <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="68.985" y1="53.43" x2="35.472" y2="19.917">
                  <stop offset="0" stop-color="#e9487b" />
                  <stop offset=".828" stop-color="#f9a12e" />
                </linearGradient>
                <path d="M42.6 24.3c3.6 0 4.6-.2 7.7 2.3 9.3 7.8 25.6 22.7 25.6 22.7L67 57.2s-23.5-21-33.8-29.3c-2.5-2.1-4.1-3.3-4.1-3.3s5.9-.1 10.2-.2c1.4 0 2.5-.1 3.3-.1z"
                  fill="url(#SVGID_3_)" />
                <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="36.706" y1="1.831" x2="-2.159" y2="33.293">
                  <stop offset="0" stop-color="#8dc641" />
                  <stop offset="1" stop-color="#2ab34b" />
                </linearGradient>
                <path d="M33.3 0c-3.6 0-4.6-.2-7.7 2.3C16.3 10 0 25 0 25l8.9 7.8s23.5-21 33.8-29.3C45.2 1.4 46.8.2 46.8.2s-6-.1-10.3-.2h-3.2z"
                  fill="url(#SVGID_4_)" />
              </svg>


            </div>




            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim1'">Add another claim</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile'">Update profile</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Back to home</button>
            </div>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>

            <script>

              // $(".claim--success").hide();
              $(".claim--submitted").hide();

            </script>

</body>

</html>