<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-authenticated.ejs %>
      <main>
        <section>

          <div class="section-feature">
            <div id="main-content" class="container">
              <h1 class="margin-below--small margin-above--small">
                <span class="heading">Claims</span>
              </h1>
              <p class="text-fullwidth">Access treatment and support so you can manage your health and support those you&nbsp;care&nbsp;for.</p>
            </div>
          </div>

          <div class="section-feature--separator">
            <div class="container">
              <div class="row">
                <ul class="secondary-navigation secondary-navigation--inline">
                  <li class="secondary-navigation__item secondary-navigation__item--active">
                    <a class="secondary-navigation__link" href="claims-make">Make a claim</a>
                  </li>
                  <li class="secondary-navigation__item">
                    <a class="secondary-navigation__link" href="claims-manage">Manage your claims</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="container margin-above margin-below--extra" id="claim-activity">
            <h2 class="ss-align--center">
              <span class="font-weight-heavy">Access treatment and support</span>
            </h2>

            <div class="flex-container flex-container--wrap hover-container">
              <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
                <div class="margin-above margin-below">
                  <a href="claim1">
                    <h2 class="card__title">
                      <span>Initial Liability</span>
                    </h2>
                    <p class="card__supporting-text">Access treatment and support if you have an injury or condition resulting from your service.</p>
                    <button class="uikit-btn uikit-btn--borderless">Make a claim</button>
                  </a>
                </div>
              </div>
              <div class="flex-item flex-item--centred card card--medium hover-element">
                <div class="margin-above margin-below">
                  <a href="claim1">
                    <h2 class="card__title">
                      <span>Mental health treatment</span>
                    </h2>
                    <p class="card__supporting-text">Get immediate mental health treatment at no cost to you.</p>
                    <button class="uikit-btn uikit-btn--borderless">Access now</button>
                  </a>
                </div>
              </div>
              <div class="flex-item flex-item--centred card card--medium hover-element">
                <div class="margin-above margin-below">
                  <a href="claim1">
                    <h2 class="card__title">
                      <span>Education assistance</span>
                    </h2>
                    <p class="card__supporting-text">Get help with the cost of education for your family.</p>
                    <button class="uikit-btn uikit-btn--borderless">Make a claim</button>
                  </a>
                </div>
              </div>

            </div>
          </div>

        </section>
      </main>
      <% include ../../../global/partials/footer.ejs %>

        <script>

          function goToByScroll(id) {
            id = id.replace("-link", "");
            $('html,body').animate({
              scrollTop: $("#" + id).offset().top
            },
              'slow');
          }

        </script>

</body>


</html>