<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Fluid div example | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link href="docs/css/fontawesome/css/all.css" rel="stylesheet">

</head>

<body class="uikit-body uikit-grid uikit-refactor claims-page">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-authenticated-alt-icons.ejs %>
  <% include ../../../global/partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Fluid div example</span>
        </h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 uikit-grid">
            <div class="margin-below--large">
              <div class="col-md-9 uikit-grid flex-item-1-top margin-above--large">
                <h2 class="claim-heading">Manage and track your claims</h2>
              </div>
              <div class="col-md-3 flex-item-2-top margin-above--large">
                <button id="scroll-to-claim" class="uikit-btn uikit-btn--primary" onclick="scrollToAdd();">&nbsp;Make a claim&nbsp;</button>
              </div>
            </div>

            <!-- <div class="row widget-content widget--justclaims"> -->
            <!-- <div class="col-md-12 margin-below--none widget--justclaims padding-none"> -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 uikit-grid" id="claim-activity">
                  <div class="col-md-3 col-xs-3 flex-item-1 status-flag">
                    <p><a class="flag-text">Documents required</a></p>
                  </div>
                  <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title-status">
                    <p class="main">Education assistance</p>
                    <p class="details">Claim ID: 33657809</p>
                  </div>
                  <div class="col-md-5 col-xs-5 flex-item-3 claim-actions-status claim-actions">
                    <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                    <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                    <button class="uikit-btn small uikit-btn--borderless">View</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 uikit-grid" id="claim-activity">

                  <div class="col-md-3 col-xs-3 flex-item-1 status">
                    <p class="main">Submitted</p>
                    <p class="details">18 Sep 2018</p>
                  </div>
                  <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                    <p class="main">Initial liability</p>
                    <p>Compartment syndrome</p>
                    <p class="details">Claim ID: 33657809</p>
                  </div>
                  <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                    <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                    <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                    <button class="uikit-btn small uikit-btn--borderless">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <!--row-->
    </section>
    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/dhoas-start-modal.ejs %>
</body>

</html>