<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Request a replacement Health card | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <div id="progressbar">
              <div id="percentage">
                <p id="percentage_value"></p>
              </div>
            </div>

            <div class="col-md-offset-2 col-md-8 margin-above">
              <h1 class="ss-align--center">Replacement Health card</h1>

              <div class="margin-below--extra">
                <div class="form-group ss-align--center">
                  <label class="uikit-text-input__label" for="reason">
                    <h3>Why do you need a replacement card?</h3>
                  </label>
                  <select class="uikit-text-input input-half" id="reason" name="reason" type="text" value="">
                    <option selected>-- Select a reason --</option>
                    <option value="damaged">My card is damaged</option>
                    <option value="stolen">My card was stolen</option>
                    <option value="lost">I lost my card</option>
                    <option value="moved">I have moved interstate</option>
                    <option value="other">Other</option>
                  </select>
                </div>

                <div id="damaged" class="uikit-page-alerts uikit-page-alerts--info action-group__reveal--closed">
                  <p>You can continue to use your existing card until your replacement card arrives. Your card number will stay the same but your card expiry date will be updated.
                  </p>
                </div>

                <div id="stolen-lost" class="uikit-page-alerts uikit-page-alerts--info action-group__reveal--closed">
                  <p>Your card number will stay the same. The expiry date on your card will be updated.
                  </p>
                </div>

                <!-- <div id="continue" class="margin-above action-group__reveal--closed">
                  <p>Choose
                    <b>'Submit request'</b> to continue.</p>
                </div> -->
              </div>


              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel request</button>
                <div class="floated">
                  <button class="uikit-btn" onclick="window.location.href = '/healthcard-replacement-success'">Submit request</button>
                </div>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>

          </div>
        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>

            <script>

              // Progress percentage
              document.getElementById("percentage").style.width = "80%";
              document.getElementById("percentage_value").textContent = "80%";

              // Show/Hide info boxes based on reason for needing a replacement card

              $("#reason").change(function () {
                if ($('#reason :selected').val() == "damaged") {
                  $("#damaged").removeClass('action-group__reveal--closed');
                  $("#damaged").addClass('action-group__reveal--open');
                } else {
                  $("#damaged").removeClass('action-group__reveal--open');
                  $("#damaged").addClass('action-group__reveal--closed');
                }
              });

              $("#reason").change(function () {
                if ($('#reason :selected').val() == "stolen") {
                  $("#stolen-lost").removeClass('action-group__reveal--closed');
                  $("#stolen-lost").addClass('action-group__reveal--open');
                } else {
                  $("#stolen-lost").removeClass('action-group__reveal--open');
                  $("#stolen-lost").addClass('action-group__reveal--closed');
                }
              });

              // $("#reason").change(function () {
              //   if ($('#reason').val()) {
              //     $("#continue").removeClass('action-group__reveal--closed');
              //     $("#continue").addClass('action-group__reveal--open');
              //   }
              // });

            </script>

</body>

</html>