<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Diagnosis | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-claims.ejs %>
  <% include ../partials/help-button.ejs %>
  <main> 
      <div class="container" id="main-content">
      <h1><img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon"> Approved for mental health cover</h1>
      <p>New cards can take up to 3 weeks to arrive. Existing cards take 2 working days to update. If you get treatment before your card arrives keep your receipts so you can request reimbursement from DVA.</p>
      <div class="tip--wrapper">
        <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">
        <h2>Next steps</h2>
        <ul>
          <li>Talk to your GP about mental health.</li>
          <li>If you have a diagnosis and your condition relates to service, you can apply for compensation from the <a href="/index-claims">home page</a>.</li>
          <li>Make sure <a href="/#ProfileScreen">your postal address</a> is up-to-date.</li>
          <li>Find out about <a href="https://www.dva.gov.au/providers/dva-health-cards#whitecard">DVA Health Card</a>.</li>
        </ul>
      </div>
      <hr />
      <div class="support-box breadkout">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3"><img src="../../docs/images/logo-vvcs.png"><br><strong>1800&nbsp;011&nbsp;046</strong><br><a href="http://www.vvcs.gov.au/">Veterans and Veterans Families Counselling Service</a>
        <div class="space-before"><button class="uikit-btn uikit-btn--tertiary small vvcs-panel-btn">Request a call back</button></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3"><img src="../../docs/images/logo-defence.png"><br><strong>1800&nbsp;628&nbsp;036</strong><br><a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">ADF Mental Health All Hours Support Line</a></div>
        <div class="col-xs-12 col-sm-6 col-md-3"><img src="../../docs/images/logo-lifeline.png"><br><strong>13&nbsp;11&nbsp;14</strong><br><a href="https://www.lifeline.org.au/">Lifeline</a></div>
        <div class="col-xs-12 col-sm-6 col-md-3"><img src="../../docs/images/logo-1800respect.png"><br><strong>1800&nbsp;737&nbsp;732</strong><br><a href="https://www.1800respect.org.au">National Sexual Assault, Domestic and Family Violence Counselling Service</a></div>
      </div>  
    </div>
      
<!--
      <div class="breakout-light" id="submitted-nlhc-claim">      
        <strong>HMAS Harman, 129 Bonshaw Road, Jerrabomberra ACT 2619</strong><button onclick="window.location.href = '/profile'" class="uikit-btn uikit-btn--tertiary" style="float:right; margin-top:-12px;">Update address</button>
      </div>
      -->

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile'">Update profile</button>&nbsp;
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>
      </div>
      </div>
      <% include ../partials/cancel-modal.ejs %>


    </div>



  </main>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>


  <script>
  
  // Progress percentage
    document.getElementById("percentage").style.width = "15%";
    
  $("#single-yes").click(function() {
    $( ".single-incident" ).show("fast");
    $( ".over-time" ).hide();
  });
  $("#single-no").click(function() {
    $( ".single-incident" ).hide();
    $( ".over-time" ).show("fast");
  });

  $( "#doctor-no" ).click(function() {
    sessionStorage.setItem('nodiagnosis',true);
      $( "#condition" ).show("fast");
    $( "#diagnosis" ).hide();
    });
  $( "#doctor-yes" ).click(function() {
    sessionStorage.setItem('yesdiagnosis',true);
    $( "#diagnosis" ).show("fast");
      $( "#condition" ).hide();
    });
    
  </script>

</body>
</html>