<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Diagnosis | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main> 
      <div class="container" id="main-content">
      <h1><img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon">Approved for treatment</h1>
      <h2 style="padding-top:0px; margin-top:0px;">You can now access mental health treatment using your DVA health card (White Card).</h2>
      <p>If you access treatment before your card arrives, keep your receipts and we will reimburse you later. We will send your card to:</p>
      <div class="breakout-light" id="submitted-nlhc-claim">      
        <strong>HMAS Harman, 129 Bonshaw Road, Jerrabomberra ACT 2619</strong><button onclick="window.location.href = '/profile'" class="uikit-btn uikit-btn--tertiary" style="float:right; margin-top:-12px;">Update address</button>
      </div>
      <h3>Applying for compensation</h3>
      <p>If you have a medical diagnosis you can apply for compensation from the <a href="#">home page</a>.</p>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile'">Update profile</button>&nbsp;
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>
      </div>
      </div>
      <% include ../partials/cancel-modal.ejs %>


    </div>



  </main>
  
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

	<script>
	
	// Progress percentage
    document.getElementById("percentage").style.width = "15%";
		
	$("#single-yes").click(function() {
    $( ".single-incident" ).show("fast");
    $( ".over-time" ).hide();
  });
  $("#single-no").click(function() {
    $( ".single-incident" ).hide();
    $( ".over-time" ).show("fast");
  });

	$( "#doctor-no" ).click(function() {
		sessionStorage.setItem('nodiagnosis',true);
    	$( "#condition" ).show("fast");
		$( "#diagnosis" ).hide();
  	});
	$( "#doctor-yes" ).click(function() {
		sessionStorage.setItem('yesdiagnosis',true);
		$( "#diagnosis" ).show("fast");
    	$( "#condition" ).hide();
  	});
		
	</script>

</body>
</html>