<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Incapacity Payments | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Claim for Incapacity Payments</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-above--extra margin-below--extra">

            <div id="instructions">
              <p>Adjust this page URL to experience this claim flow as different user groups:</p>
              <ol>
                <li>Still serving<br><b><a href="/incap-start?user=still-serving">?user=still-serving</a></b></li>
                <li>Active Reservist<br><b><a href="/incap-start?user=still-serving-reservist">?user=still-serving-reservist</a></b></li>
                <li>Former serving, service history known<br><b><a href="/incap-start?user=former-serving-service-history-known">?user=former-serving-service-history-known</a></b></li>
                <li>Former serving, service history known, active Reservist service history<br><b><a href="/incap-start?user=former-serving-service-history-known-reservist">?user=former-serving-service-history-known-reservist</a></b></li>
                <li>Former serving, service history unknown<br><b><a href="/incap-start?user=former-serving-service-history-unknown">?user=former-serving-service-history-unknown</a></b></li>
              </ol>
            </div>

            <!-- STILL SERVING USERS -->

            <fieldset id="user-stillserving">
              <div class="form-group">
                <legend class="legend-label">Are you likely to leave the ADF in the next 3 months?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="leaving-yes">
                    <input id="leaving-yes" type="radio" name="leaving-adf">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="leaving-no">
                    <input id="leaving-no" type="radio" name="leaving-adf">
                    <span>No</span>
                  </label>
                </div>

                <div class="form-group leaving-date" style="display:none;">
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="dd-single">When are you leaving?
                      <span>(optional)</span>
                      <span class="hint display-block">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                </div>

                <div class="form-group leaving-type margin-above" style="display:none;">
                  <label class="uikit-text-input__label" for="discharge-reason">Reason for leaving</label>
                  <select class="uikit-text-input input-half" id="discharge-reason" name="discharge-reason">
                    <option>-- Select a type --</option>
                    <option>Medical discharge</option>
                    <option>Administrative discharge</option>
                    <option>Resignation</option>
                    <option>Other</option>
                  </select>
                </div>

            </fieldset>

            <!-- What condition are you claiming for? -->
            <div id="conditions" class="margin-below--large">
              <div class="form-group">
                <h4 class="uikit-text-input__label margin-above--large margin-below" for="checkbox-buttons">Select the conditions that relate to this claim for Incapacity
                  Payments <div class="tooltip">
                    <div id="tt1-label" class="tooltip__control" tabindex="0" role="button" aria-controls="tt1-message" aria-expanded="false">
                      <div class="tooltip__label tooltip__label--icon-only">
                        <a>What are Incapacity Paymentst?</a>
                      </div>
                      <div class="tooltip__tab"></div>
                    </div>
                    <div id="tt1-message" class="tooltip__content" aria-labelledby="tt1-label" role="region" tabindex="-1" aria-hidden="true">
                      <div class="tooltip__message">Incapacity benefits are payments for economic loss due to the inability (or reduced ability) to work because of a condition
                        that has been accepted as service related under Initial Liability.</div>
                      <div class="tooltip__close" role="button" tabindex="0">Close</div>
                    </div>
                  </div>
                  <span class="hint display-block">You will need to provide medical evidence to support this claim.</span></h4>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="checkbox-1">
                    <span class="uikit-control-input__text">lumbar spondylosis</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="checkbox-2">
                    <span class="uikit-control-input__text">tinnitus</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="checkbox-3">
                    <span class="uikit-control-input__text">hearing loss</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="checkbox-4">
                    <span class="uikit-control-input__text">depression</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="checkbox-5">
                    <span class="uikit-control-input__text">solar keratosis</span>
                  </label>
                </p>
              </div>

              <div class="form-group">
                <div class="tooltip">
                  <div id="tt1-label" class="tooltip__control" tabindex="0" role="button" aria-controls="tt1-message" aria-expanded="false">
                    <div class="tooltip__label">
                      <a>I can't see my condition in this list</a>
                    </div>
                    <div class="tooltip__tab"></div>
                  </div>
                  <div id="tt1-message" class="tooltip__content" aria-labelledby="tt1-label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">Your condition may not be eligible for this payment due to the time the injury occured or it may not be approved yet. For more
                      information call
                      <a href="tel:1800-555-254">1800 555 254</a> or contact your delegate.</div>
                    <div class="tooltip__close" role="button" tabindex="0">Close</div>
                  </div>
                </div>
              </div>

            </div>




            <!-- FORMER SERVING USERS with unkown service history -->

            <fieldset id="user-formerserving">
              <div class="form-group">
                <legend class="legend-label">Have you ever been a member of the Permanent Forces?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="permanentADF-yes">
                    <input id="permanentADF-yes" type="radio" name="permanent-adf">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="permanentADF-no">
                    <input id="permanentADF-no" type="radio" name="permanent-adf">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <div id="Reservist" class="form-group" style="display:none;">
                <legend class="legend-label">Have you ever been a member of the active Reserves?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="reserves-yes">
                    <input id="reserves-yes" type="radio" name="reserves-adf">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="reserves-no">
                    <input id="reserves-no" type="radio" name="reserves-adf">
                    <span>No</span>
                  </label>
                </div>
              </div>
            </fieldset>

            <!-- FORMER SERVING USERS with Reservist service history -->
            <div id="pmkeys-former-reservist">
              <div class="uikit-page-alerts uikit-page-alerts--info">
                <p>Our records indicate you have served in the active Reserves.</p>
              </div>
            </div>

            <div id="q1" class="form-group" style="display:none;">
              <legend class="legend-label">Have you earned any income as a Reservist? (you would have a Reservist payslip if you have)</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="q1-yes">
                  <input id="q1-yes" type="radio" name="q1-adf">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="q1-no">
                  <input id="q1-no" type="radio" name="q1-adf">
                  <span>No</span>
                </label>
              </div>
            </div>

            <div id="ReservistChecklist" class="form-group user-formerservingpmkeys">
              <p>Tell us more about your service history in the Reserves.</p>
              <h4>Choose any that apply:</h4>
              <div class="margin-below--mid">
                <div class="uikit-text-input__label-wrapper--inline-block">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="cfts" id="cfts">
                    <span class="uikit-control-input__text">I performed a period of continuous full-time service in the Reserves</span>
                  </label>
                </div>
                <div class="tooltip">
                  <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                    <div class="tooltip__label tooltip__label--icon-only">
                      <a>CFTS help</a>
                    </div>
                    <div class="tooltip__tab"></div>
                  </div>
                  <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">You may have been deployed on continuous full-time service, or undertaken a continuous full-time service contract. </div>
                    <div class="tooltip__close" role="button" tabindex="0">Close</div>
                  </div>
                </div>
              </div>
              <div class="margin-below--mid">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input reservistquestions" type="checkbox" name="civilianemployment" id="civilianemployment">
                  <span class="uikit-control-input__text">I have made civilian earnings whilst in the Reserves</span>
                </label>
              </div>
            </div>



            <!-- FORMER SERVING USERS with known service history -->
            <div id="servicehistoryknown">
              <p>This user group will not see this page.</p>
            </div>

            <!-- Save and next -->
            <div class="form-group save-and-next" style="display:none;">
              <p>Choose <b>save and next</b> to continue</p>
            </div>

          </div>

          <!-- <div>
            <p>Still serving ADF members can claim for:
              <ul>
                <li>Loss of allowance</li>
                <li>Loss of career progression</li>
              </ul>
            </p>
          </div>
          <div>
            <p>Reservists can also claim for:
              <ul>
                <li>Loss of earning whilst on CFTS</li>
                <li>Loss of Reserve earnings</li>
                <li>Loss of civilian income</li>
              </ul>
            </p>
          </div>
          <div>
            <p>Former serving ADF members can also claim for:
              <ul>
                <li>Ongoing incapacity payments</li>
              </ul>
            </p>
          </div> -->

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Back to Claims</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>

          <!-- <div class="pagination"><a href="/incap-start">Back to start</a></div> -->

        </div>
      </div>
    </div>

    <% include ../partials/cancel-modal.ejs %>

  </main>

  <% include ../../../global/partials/footer.ejs %>


  <script>




    $(Document).ready(function () {

      localStorage.clear();

      var user = getUrlParameter('user');
      if (user) {
        localStorage.setItem('user', user);
      }
      var servicehistory = getUrlParameter('servicehistory');
      if (servicehistory) {
        localStorage.setItem('servicehistory', servicehistory);
      }
      var servicetype = getUrlParameter('servicetype');
      if (servicetype) {
        localStorage.setItem('servicetype', servicetype);
      }

      $("#instructions").show();
      $("#user-stillserving").hide();
      $("#user-formerserving").hide();
      $("#pmkeys-former-reservist").hide();
      $(".user-formerservingpmkeys").hide();
      $("#reservist").hide();
      $("#servicehistoryknown").hide();
      $("#conditions").hide();



      if (localStorage.getItem('user') === 'still-serving') {
        $("#instructions").hide();
        $("#conditions").hide();
        $("#user-stillserving").show();
        $("#user-formerserving").hide();
        $("#pmkeys-former-reservist").hide();
        $(".user-formerservingpmkeys").hide();
        $("#reservist").hide();
        $("#servicehistoryknown").hide();
      }
      else if (localStorage.getItem('user') === 'former-serving-service-history-unknown') {
        $("#instructions").hide();
        $("#conditions").show();
        $("#user-stillserving").hide();
        $("#user-formerserving").show();
        $("#pmkeys-former-reservist").hide();
        $(".user-formerservingpmkeys").hide();
        $("#reservist").hide();
        $("#servicehistoryknown").hide();
      }
      else if (localStorage.getItem('user') === 'former-serving-service-history-known') {
        $("#instructions").hide();
        $("#conditions").show();
        $("#user-stillserving").hide();
        $("#user-formerserving").hide();
        $("#pmkeys-former-reservist").hide();
        $(".user-formerservingpmkeys").hide();
        $("#reservist").hide();
        $("#servicehistoryknown").hide();
      }
      else if (localStorage.getItem('user') === 'former-serving-service-history-known-reservist') {
        $("#instructions").hide();
        $("#conditions").show();
        $("#user-stillserving").hide();
        $("#user-formerserving").hide();
        $("#pmkeys-former-reservist").show();
        $(".user-formerservingpmkeys").show();
        $("#reservist").hide();
        $("#servicehistoryknown").hide();
      }
      else if (localStorage.getItem('user') === 'still-serving-reservist') {
        $("#instructions").hide();
        $("#conditions").show();
        $("#user-stillserving").hide();
        $("#user-formerserving").hide();
        $("#pmkeys-former-reservist").hide();
        $(".user-formerservingpmkeys").hide();
        $("#reservist").show();
        $("#servicehistoryknown").hide();
      }

      else {
        $("#instructions").show();
        $("#conditions").hide();
        $("#user-stillserving").hide();
        $("#user-formerserving").hide();
        $("#pmkeys-reservist").hide();
        $(".user-formerservingpmkeys").hide();
      }

      $("#btnNext").click(function () { window.location.href = "/incap-1" });

      // Still serving contextual questions

      $("#leaving-yes").click(function () {
        $(".leaving-date").show("fast");
        $(".leaving-type").show("fast");
        $(".save-and-next").hide();
      });
      $("#leaving-no").click(function () {
        $(".leaving-date").hide();
        $(".leaving-type").hide();
        $(".save-and-next").show("fast");
      });

      // Former serving contextual questions

      $("#permanentADF-yes").click(function () {
        $("#Reservist").show("fast");
        $(".save-and-next").hide();
      });
      $("#leaving-no").click(function () {
        $("#Reservist").hide();
        $(".save-and-next").show("fast");
      });



    });
  </script>

</body>

</html>