<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Incapacity Payments | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">

        <!-- Progress bar -->
        <div class="col-xs-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Employment</p>
              </li>
              <li class="progress-step progress-step--done">
                <a href="incap-b-2">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Medical<br />Practitioners</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Rehabilitation</p>
              <li class="progress-step progress-step--done">
                <a href="incap-b-4">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Other Benefits</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Nominated<br />representative</p>
              </li>
              <li class="progress-step progress-step">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Bank details</p>
              </li>
              <li class="progress-step progress-step--last">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Compensation <br />Damages&nbsp;Action</p>
              </li>
            </ul>
          </nav>
        </div>

        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Other Benefits</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <h3 class="margin-below--mid">Do you, or did you, receieve a superannuation benefit from Commonwealth Superannuation Corporation (CSC) as a pension, lump sum or both?</h3>

            <!-- Radio/Switch -->
            <legend class="legend-label"></legend>
            <div class="form-group receieve-other-benefits">
              <div class="radio-toggle">
                <label class="on label-left" for="receieve-other-benefits-yes">
                  <input id="receieve-other-benefits-yes" type="radio" name="receieve-other-benefits-yes">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="receieve-super-no">
                  <input id="receieve-other-benefits-no" type="radio" name="receieve-other-benefits-no">
                  <span>No</span>
                </label>
              </div><!-- end Radio/Switch -->

              <!-- Yes flow start -->
              <!-- .soft-heading -->
              <!-- checkboxes -->
              <div id="type-of-member" class="form-group type-of-member">
                <div class="form-group soft-heading">
                  <label class="uikit-text-input__label" for="sop">Full-time members
                  </label>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                      <span class="uikit-control-input__text">DFRDB</span>
                    </label>
                  </div>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                      <span class="uikit-control-input__text">MSBS</span>
                    </label>
                  </div>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                      <span class="uikit-control-input__text">ADF</span>
                    </label>
                  </div>
                </div>

                <div id="type-of-member" class="form-group type-of-member">
                  <div class="form-group soft-heading">
                    <label class="uikit-text-input__label" for="sop">Part-time members
                    </label>
                    <div class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                        <span class="uikit-control-input__text">CSS</span>
                      </label>
                    </div>
                    <div class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                        <span class="uikit-control-input__text">PSS</span>
                      </label>
                    </div>
                  </div>

                  <div class="form-group soft-heading">
                    <label class=" uikit-text-input__label" for="course-name">Other</label>
                    <input class="uikit-text-input" name="course-name" id="course-name" type="text" value="" required="" aria-required="true">
                  </div>

                </div><!-- checkboxes 1 -->


                <h3 class="margin-below--mid">Type of benefit</h3>

                <!-- checkboxes -->
                <div id="type-of-member" class="form-group type-of-member">
                  <div class="form-group soft-heading">
                    <label class="uikit-text-input__label" for="sop">Invalidity class
                    </label>
                    <div class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                        <span class="uikit-control-input__text">A</span>
                      </label>
                    </div>
                    <div class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                        <span class="uikit-control-input__text">B</span>
                      </label>
                    </div>
                    <div class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                        <span class="uikit-control-input__text">C</span>
                      </label>
                    </div>
                  </div>

                  <div id="type-of-member" class="form-group type-of-member">
                    <div class="form-group soft-heading">
                      <!-- <label class="uikit-text-input__label" for="sop">Part-time members
                      </label> -->
                      <div class="uiToolKitCheckBox">
                        <label class="uikit-control-input">
                          <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                          <span class="uikit-control-input__text">Age Retirement</span>
                        </label>
                      </div>
                      <div class="uiToolKitCheckBox">
                        <label class="uikit-control-input">
                          <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                          <span class="uikit-control-input__text">20 year service</span>
                        </label>
                      </div>
                    </div>



                  </div><!-- checkboxes 1 -->




                  <h3 class="margin-below--mid">Have you received a lump sum of any payment or all of your supperannuation benefit from either the Commonwealth Supperannuation
                    Fund (CSC), DFRDB, or MSBS?</h3>

                  <!-- Radio/Switch -->
                  <legend class="legend-label"></legend>
                  <div class="form-group receieve-other-benefits">
                    <div class="radio-toggle">
                      <label class="on label-left" for="">
                        <input id="" type="radio" name="">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="">
                        <input id="" type="radio" name="">
                        <span>No</span>
                      </label>
                    </div><!-- end Radio/Switch -->












                  </div> <!-- receieve-other-benefits -->
                </div> <!-- Yes flow end -->


                <div class="pagination pagination--ss-reverse-order">
                  <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev" onclick="window.location.href = '/incap-annual-part-b-4'">Previous</button>
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Cancel claim</button>
                  <div class="floated">
                    <button class="uikit-btn uikit-btn--tertiary">Save and exit</button>
                    <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/incap-annual-part-b-6'">Save and next</button>
                  </div>
                </div>
              </div>

              <% include ../partials/cancel-modal.ejs %>
            </div>




            <!-- Yes flow -->
            <div class="superannuation-benefit-received" style="display:none;">

              <!-- Check boxes x 2 groups - 2 / 3 options -->
              <!-- Subheading - Other -->
              <!-- textfield -->

              <h3 class="margin-below--mid">Type of benefit </h3>
              <!-- Check boxes x 1 group - 5 options -->

              <h3 class="margin-below--mid">Have you received a lump sum payment of any or all of your supperannuation benefits from either the Commonwealth Superannuation
                Coporation (CSC), DFRDB or MSBS?</h3>
              <legend class="legend-label"></legend>
              <div class="form-group receieve-benefit-group">
                <div class="radio-toggle">
                  <label class="on label-left" for="ccc-yes">
                    <input id="ccc-benefit-yes" type="radio" name="ccc-benefit">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="receieve-benefit-no">
                    <input id="ccc-benefit-no" type="radio" name="ccc-benefit">
                    <span>No</span>
                  </label>
                </div>
                <p></p>
                <div class="form-group">


                  <legend class="legend-label">
                  </legend>

                  <div class="radio-toggle">
                    <label class="on label-left" for="ddd-super-yes">
                      <input id="ddd-super-yes" type="radio" name="ddd">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="ddd-no">
                      <input id="ddd-super-no" type="radio" name="ddd">
                      <span>No</span>
                    </label>
                  </div>

                  <!-- Yes flow -->
                  <!-- Subheading - Provide details -->

                  <label class="uikit-text-input__label" for="eee" style="font-weight:500">Provide
                    details
                  </label>
                  <!-- text area -->
                  <textarea id="iii" name="iiii" rows="4"></textarea>





                  <h3 class="margin-below--mid">Has your Commonwealth Superannuation Corporation (CSC) pension been reclassified in the last year?</h3>
                  <!-- Radio/Switch -->
                  <!-- Hint text - You wil need to upload a copy of the most recent advice received from the Commonwealth Superannuation COrporation (CSC) -->
                  <legend class="legend-label"></legend>
                  <div class="form-group">
                    <div class="radio-toggle">
                      <label class="on label-left" for="zzz-yes">
                        <input id="zzz-yes" type="radio" name="zzz">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="zzz-no">
                        <input id="zzz-no" type="radio" name="zzz">
                        <span>No</span>
                      </label>
                    </div>




                    <!-- Heading -  -->
                    <h3 class="margin-below--mid">Have you received any of your benefits early due to early retirement, financial hardship or medical grounds (eg Employer
                      Productivity Benefit Payment)?</h3>
                    <!-- Radio/Switch -->
                    <legend class="legend-label"></legend>
                    <div class="form-group">
                      <div class="radio-toggle">
                        <label class="on label-left" for="qqq-yes">
                          <input id="qqq-yes" type="radio" name="qqq">
                          <span>Yes</span>
                        </label>
                        <label class="off label-right" for="qqq-no">
                          <input id="qqq-no" type="radio" name="qqq">
                          <span>No</span>
                        </label>
                      </div>






                      <!-- Heading -  -->
                      <h3 class="margin-below--mid">Have you rolled-over a superannuation benefit from a Commonwealth funded superannuation scheme (eg DRFDB, MSBS, CSS, PSS)
                        other than detailed above</h3>
                      <!-- Radio/Switch -->
                      <legend class="legend-label"></legend>
                      <div class="form-group">
                        <div class="radio-toggle">
                          <label class="on label-left" for="ppp-yes">
                            <input id="ppp-yes" type="radio" name="ppp">
                            <span>Yes</span>
                          </label>
                          <label class="off label-right" for="ppp-no">
                            <input id="ppp-no" type="radio" name="ppp">
                            <span>No</span>
                          </label>
                        </div>





                        <!-- Heading -  -->
                        <h3 class="margin-below--mid">Do you receive benefits from a Commonwealth Department or Authority (eg Centrelink, Disability Pension/Income Support
                          Supplement from DVA)?</h3>
                        <!-- Radio/Switch -->
                        <div class="radio-toggle">
                          <label class="on label-left" for="kkk-yes">
                            <input id="kkk-yes" type="radio" name="kkk">
                            <span>Yes</span>
                          </label>
                          <label class="off label-right" for="kkk-no">
                            <input id="kkk-no" type="radio" name="kkk">
                            <span>No</span>
                          </label>
                        </div>
                        <!-- Yes flow -->
                        <!-- Subheading - Provide details -->
                        <!-- text area -->
                        <div class="form-group">
                          <label class="uikit-text-input__label" for="damages-action-details" style="font-weight:500">Provide
                            details
                          </label>
                          <textarea id="damages-action-details" name="damages-action-details" rows="4"></textarea>
                        </div> <!-- end .form-group 4 -->

                      </div> <!-- end .form-group 3 -->
                    </div> <!-- end of other benefits section -->


                  </div> <!-- end .form-group 1 -->



                </div> <!-- end .form-group 2 -->




              </div> <!-- end .receieve-benefit-group -->
























  </main>

  <% include ../../../global/partials/footer.ejs %>

  <script>
    $(function () {

      // work history funcionality
      $(document).on('click', '.receieve-super #receieve-super-yes, #receieve-super-yes > span', function () {
        $(".superannuation-benefit-received").show("fast");
      });

      $(document).on('click', 'receieve-super #receieve-super-no, #receieve-super-no > span', function () {
        $(".superannuation-benefit-received").hide("fast");
      });
    });

  </script>

</body>

</html>