<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Incapacity Payments | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Service History</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-above--extra margin-below--extra">

            <div class="form-group">
              <label class="uikit-text-input__label" for="nomrep-name">Your service number</label>
              <input class="uikit-text-input input-half" name="nomrep-name" id="nomrep-name" type="text" value="">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="dd-discharge">Enlistment date
                <span class="hint">(dd / mm / yyyy)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-enlistment" id="dd-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-enlistment" id="mm-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-enlistment" id="yyyy-enlistment" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="dd-discharge">Date of discharge <span class="hint">(dd / mm / yyyy)</span><span class="hint display-block">If you
                  transferred to Reserves, provide the date of transfer</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-discharge" id="dd-discharge" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-discharge" id="mm-discharge" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-discharge" id="yyyy-discharge" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>

            <div class="form-group margin-above">
              <label class="uikit-text-input__label" for="discharge-reason">Reason for discharge</label>
              <select class="uikit-text-input input-half" id="discharge-reason" name="discharge-reason">
                <option>-- Select a type --</option>
                <option>Medical</option>
                <option>Administrative</option>
                <option>Resignation</option>
                <option>Other</option>
              </select>
            </div>

            <div class="form-group margin-above">
              <label class="uikit-text-input__label" for="rank">Rank at date of discharge</label>
              <select class="uikit-text-input input-half" id="rank" name="rank">
                <option>-- Select a rank --</option>
                <option>Sergeant</option>
                <option>Officer</option>
                <option>Corporal</option>
              </select>
            </div>

            <div class="form-group margin-above">
              <label class="uikit-text-input__label" for="paygroup">Paygroup and increment at date of discharge</label>
              <select class="uikit-text-input input-half" id="paygroup" name="paygroup">
                <option>-- Select a pay group --</option>
                <option>One</option>
                <option>Two</option>
                <option>Three</option>
              </select>
            </div>

          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Back to Claims</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>

        </div>


      </div>
    </div>

    <% include ../partials/cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../global/partials/footer.ejs %>


  <script>




    $(Document).ready(function () {
      $("#btnPrev").click(function () { window.location.href = "/incap-2" });
      $("#btnNext").click(function () { window.location.href = "/incap-4" });

      // Show and hide needs list
      $("#leaving-yes").click(function () {
        $(".leaving-date").show("fast");
        $(".save-and-next").hide();
      });
      $("#leaving-no").click(function () {
        $(".leaving-date").hide();
        $(".save-and-next").show("fast");
      });

    });
  </script>

</body>

</html>