<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claim summary | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Review and submit</span>
        </h1>
      </div>
    </div>

    <div class="container margin-above">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-below--extra">
            <h2 style="border-bottom: 1px solid #cccccc;">Loss of earnings</h2>
            <p>&#10003;&nbsp;&nbsp; I lost allowances whilst serving<br>
              &#10003;&nbsp;&nbsp; I am/was earning less in my civilian employment than I was in the ADF<br>
              &#10003;&nbsp;&nbsp; I am currently unemployed
            </p>

            <h2 style="border-bottom: 1px solid #cccccc;">Your conditions</h2>
            <p>Lumbar spondylosis<br>
              Depression</p>

            <div class="margin-above--extra margin-below--extra ss-align--center">
              <h2>This page is currently under construction</h2>
            </div>
          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Back to claims</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Submit claim</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>


  <% include ../../../global/partials/footer.ejs %>

  <script>
    $(Document).ready(function () {
      localStorage.clear();
      $("#btnPrev").click(function () { window.location.href = "/incap-progress-d" });
      $("#btnNext").click(function () { window.location.href = "/incap-submitted" });
    });
  </script>

</body>

</html>