<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Incapacity Payments | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Claim for Incapacity Payments</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

          <div class="margin-above--extra margin-below--extra">

            <div id="instructions">
              <p>Adjust this page URL to experience this claim flow as different user groups:</p>
              <ol>
                <li>Still serving<br><b><a href="/incap-start?user=still-serving">?user=still-serving</a></b></li>
                <li>Active Reservist<br><b><a href="/incap-start?user=still-serving-reservist">?user=still-serving-reservist</a></b></li>
                <li>Former serving, service history known<br><b><a href="/incap-start?user=former-serving-service-history-known">?user=former-serving-service-history-known</a></b></li>
                <li>Former serving, service history known, active Reservist service history<br><b><a href="/incap-start?user=former-serving-service-history-known-reservist">?user=former-serving-service-history-known-reservist</a></b></li>
                <li>Former serving, service history unknown<br><b><a href="/incap-start?user=former-serving-service-history-unknown">?user=former-serving-service-history-unknown</a></b></li>
              </ol>
            </div>

            <!-- STILL SERVING USERS -->
            <fieldset id="user-stillserving">
              <div class="form-group">
                <legend class="legend-label">Are you likely to leave the ADF in the next 3 months?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="stillserving-leaving-yes">
                    <input id="stillserving-leaving-yes" type="radio" name="leaving-adf">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="stillserving-leaving-no">
                    <input id="stillserving-leaving-no" type="radio" name="leaving-adf">
                    <span>No</span>
                  </label>
                </div>
                <div class="form-group leaving-date" style="display:none;">
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="dd-single">When are you leaving?
                      <span>(optional)</span>
                      <span class="hint display-block">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                </div>
            </fieldset>

            <!-- STILL SERVING RESERVIST USERS -->
            <div id="pmkeys-active-reservist">
              <div class="uikit-page-alerts uikit-page-alerts--info">
                <p>Our records indicate you are serving in the active Reserves. If this is incorrect, <a href="">contact us</a>.</p>
              </div>
              <div id="reservist-income" class="form-group">
                <legend class="legend-label">Have you earned any income as a Reservist?<span class="hint display-block">(you will need to provide a Reservist payslip as evidence)</span></legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="reservist-income-yes">
                    <input id="reservist-income-yes" type="radio" name="reservist-income">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="reservist-income-no">
                    <input id="reservist-income-no" type="radio" name="reservist-income">
                    <span>No</span>
                  </label>
                </div>
              </div>
            </div>
            <fieldset id="user-stillserving-reservist">
              <div class="form-group">
                <legend class="legend-label">Are you likely to leave the Reserves in the next 3 months?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="reserves-leaving-yes">
                    <input id="reserves-leaving-yes" type="radio" name="leaving-reserves">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="reserves-leaving-no">
                    <input id="reserves-leaving-no" type="radio" name="leaving-reserves">
                    <span>No</span>
                  </label>
                </div>
                <div class="form-group" style="display:none;">
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="dd-single">When are you leaving?
                      <span>(optional)</span>
                      <span class="hint display-block">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single-reserves" maxlength="2" required aria-required="true" aria-label="2 digit day">&nbsp;/
                    <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single-reserves" maxlength="2" required aria-required="true" aria-label="2 digit month">&nbsp;/
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single-reserves" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                </div>
            </fieldset>






            <!-- FORMER SERVING USERS with unkown service history -->

            <fieldset id="user-formerserving">
              <div class="form-group">
                <legend class="legend-label">Have you ever been a member of the Permanent Forces?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="permanentADF-yes">
                    <input id="permanentADF-yes" type="radio" name="permanent-adf">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="permanentADF-no">
                    <input id="permanentADF-no" type="radio" name="permanent-adf">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <div id="Reservist" class="form-group" style="display:none;">
                <legend class="legend-label">Have you ever been a member of the active Reserves?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="reserves-yes">
                    <input id="reserves-yes" type="radio" name="reserves-adf">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="reserves-no">
                    <input id="reserves-no" type="radio" name="reserves-adf">
                    <span>No</span>
                  </label>
                </div>
              </div>
            </fieldset>



            <!-- FORMER SERVING USERS with Reservist service history -->
            <div id="pmkeys-former-reservist">
              <h3>To identify what you can claim for, we need to know a little more about your time in&nbsp;the&nbsp;Reserves.</h3>
              <div class="uikit-page-alerts uikit-page-alerts--info reservist-message">
                <p>Our records indicate you have served in the active Reserves. If this is not correct <a href="">contact us</a></p>
              </div>
              <div id="former-reservist-income" class="form-group">

                <legend class="legend-label">Did you earn any income as a Reservist?<span class="hint display-block">(you will need to provide a Reservist payslip as evidence)</span></legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="former-reservist-income-yes">
                    <input id="former-reservist-income-yes" type="radio" name="former-reservist-income">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="former-reservist-income-no">
                    <input id="former-reservist-income-no" type="radio" name="former-reservist-income">
                    <span>No</span>
                  </label>
                </div>
              </div>
            </div>


            <!-- FORMER SERVING USERS with known service history -->
            <div id="servicehistoryknown">
              <p>This user group will not see this page.</p>
            </div>

            <div id="thanks" class="form-group">
              <div class="uikit-page-alerts uikit-page-alerts--success reservist-message">
                <p>Thanks! Please continue with your claim.</p>
              </div>
              <hr>
            </div>

            <div id="lostincome" class="form-group">
              <h4>Tell us about the lost earnings you are claiming for &nbsp;<div class="tooltip">
                  <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                    <div class="tooltip__label tooltip__label--icon-only">
                      <a>Lost earnings help</a>
                    </div>
                    <div class="tooltip__tab"></div>
                  </div>
                  <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">Should we define the term 'lost earnings'?</div>
                    <div class="tooltip__close" role="button" tabindex="0">Close</div>
                  </div>
                </div><span class="hint display-block">Choose all that apply. You can choose more than one:</span></h4>

              <div class="margin-below--mid lostincome stillserving">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="lossofallowance" id="lossofallowance">
                  <span class="uikit-control-input__text">I lost allowances whilst serving</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome stillserving">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="lossofcareerprogression" id="lossofcareerprogression">
                  <span class="uikit-control-input__text">I suffered a loss in my career progression</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome reserves">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired doctorrequired workerscomprequired" type="checkbox" name="lossofreserve" id="lossofreserve">
                  <span class="uikit-control-input__text">I lost earnings in my Reserve employment</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome reserves">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired employmentrequired doctorrequired workerscomprequired" type="checkbox" name="lossofcivilianemployment" id="lossofcivilianemployment">
                  <span class="uikit-control-input__text">I lost earnings in my civilian employment whilst serving in the Reserves</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome reserves">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired doctorrequired workerscomprequired" type="checkbox" name="lossofcfts" id="cfts">
                  <span class="uikit-control-input__text">I lost earnings whilst on a continuous full-time service (CFTS) contract</span>
                </label>
              </div>


              <div class="margin-below--mid lostincome transitioning">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired employmentrequired doctorrequired" type="checkbox" name="likelyearnless" id="likelyearnless">
                  <span class="uikit-control-input__text">I will likely be earning less in my civilian employment than I am now</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome transitioning">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired doctorrequired" type="checkbox" name="likelyunemployed" id="likelyunemployed">
                  <span class="uikit-control-input__text">I will likely be unemployed after I discharge</span>
                </label>
              </div>

              <div class="margin-below--mid lostincome dischargedreserves">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired doctorrequired workerscomprequired" type="checkbox" name="unemployed-reserves-past" id="unemployed-reserves-past">
                  <span class="uikit-control-input__text">After discharging from the Reserves, I was unemployed</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome formerserving-past">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired doctorrequired workerscomprequired" type="checkbox" name="unemployed-past" id="unemployed-past">
                  <span class="uikit-control-input__text">I was unemployed for a period after leaving the ADF</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome formerserving-now">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired doctorrequired workerscomprequired" type="checkbox" name="unemployed-now" id="unemployed-now">
                  <span class="uikit-control-input__text">I am currently unemployed</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome dischargedreserves">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired employmentrequired doctorrequired workerscomprequired" type="checkbox" name="earningless-reserves-past" id="earningless-reserves-past">
                  <span class="uikit-control-input__text">After discharging from the Reserves, I lost earnings in my civilian employment</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome formerserving-past">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired employmentrequired doctorrequired workerscomprequired" type="checkbox" name="earningless-past" id="earningless-past">
                  <span class="uikit-control-input__text">I was earning less in my civilian employment than I was when I was still serving</span>
                </label>
              </div>
              <div class="margin-below--mid lostincome formerserving-now">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input ilrequired employmentrequired doctorrequired workerscomprequired" type="checkbox" name="earningless-now" id="earningless-now">
                  <span class="uikit-control-input__text">I am currently earning less in my civilian employment than I was when I was still serving</span>
                </label>
              </div>
            </div>


            <!-- Ineligible to claim -->
            <div class="form-group ineligible" style="display:none;">
              <div class="uikit-page-alerts uikit-page-alerts--error reservist-message">
                <p>It is unlikely you are eligible to claim. You may wish to cancel this claim.</p>
              </div>
            </div>

            <!-- Save and next -->
            <div class="form-group save-and-next" style="display:none;">
              <p>Choose <b>save and next</b> to continue</p>
            </div>

          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Back to Claims</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>

          <!-- <div class="pagination"><a href="/incap-start">Back to start</a></div> -->

        </div>
      </div>
    </div>

    <% include ../partials/cancel-modal.ejs %>

  </main>

  <% include ../../../global/partials/footer.ejs %>


  <script>




    $(Document).ready(function () {

      localStorage.clear();

      var user = getUrlParameter('user');
      if (user) {
        localStorage.setItem('user', user);
      }
      var servicehistory = getUrlParameter('servicehistory');
      if (servicehistory) {
        localStorage.setItem('servicehistory', servicehistory);
      }
      var servicehistorypage = getUrlParameter('servicehistorypage');
      if (servicehistorypage) {
        localStorage.setItem('servicehistorypage', servicehistorypage);
      }
      var approvedcondition = getUrlParameter('approvedcondition');
      if (approvedcondition) {
        localStorage.setItem('approvedcondition', approvedcondition);
      }
      var employmentpage = getUrlParameter('employmentpage');
      if (employmentpage) {
        localStorage.setItem('employmentpage', employmentpage);
      }
      var doctorpage = getUrlParameter('doctorpage');
      if (doctorpage) {
        localStorage.setItem('doctorpage', doctorpage);
      }
      var workerscomppage = getUrlParameter('workerscomppage');
      if (workerscomppage) {
        localStorage.setItem('workerscomppage', workerscomppage);
      }

      $("#instructions").show();
      $("#user-stillserving").hide();
      $("#user-stillserving-reservist").hide();
      $("#reservist").hide();
      $("#user-formerserving").hide();
      $("#pmkeys-active-reservist").hide();
      $("#pmkeys-former-reservist").hide();
      $("#servicehistoryknown").hide();
      $("#thanks").hide();
      $("#lostincome").hide();
      $(".lostincome").hide();
      localStorage.setItem('approvedcondition', 'not-required');
      localStorage.setItem('servicehistorypage', 'not-required');
      localStorage.setItem('employmentpage', 'not-required');
      localStorage.setItem('doctorpage', 'not-required');
      localStorage.setItem('workerscomppage', 'not-required');

      if (localStorage.getItem('user') === 'still-serving') {
        $("#instructions").hide();
        $("#user-stillserving").show();
        $("#user-formerserving").hide();
        $("#pmkeys-former-reservist").hide();
        $("#servicehistoryknown").hide();
        localStorage.setItem('servicehistory', 'known');
      }

      else if (localStorage.getItem('user') === 'still-serving-reservist') {
        $("#instructions").hide();
        $("#pmkeys-active-reservist").show();
        localStorage.setItem('servicehistory', 'known');
      }

      else if (localStorage.getItem('user') === 'former-serving-service-history-known') {
        $("#instructions").hide();
        $("#user-stillserving").hide();
        $("#user-stillserving-reservist").hide();
        $("#user-formerserving").hide();
        $("#pmkeys-former-reservist").hide();
        $("#servicehistoryknown").hide();
        $("#lostincome").show();
        $(".stillserving").show();
        $(".formerserving-past").show();
        $(".formerserving-now").show();
        localStorage.setItem('user', 'still-serving');
        localStorage.setItem('servicehistory', 'known');
      }

      else if (localStorage.getItem('user') === 'former-serving-service-history-known-reservist') {
        $("#instructions").hide();
        $("#user-stillserving").hide();
        $("#user-stillserving-reservist").hide();
        $("#user-formerserving").hide();
        $("#pmkeys-former-reservist").show();
        $("#servicehistoryknown").hide();
        localStorage.setItem('servicehistory', 'known');
      }

      else if (localStorage.getItem('user') === 'former-serving-service-history-unknown') {
        $("#instructions").hide();
        $("#user-stillserving").hide();
        $("#user-stillserving-reservist").hide();
        $("#user-formerserving").show();
        $("#pmkeys-former-reservist").hide();
        $("#servicehistoryknown").hide();
        localStorage.setItem('servicehistory', 'unkown');
      }

      else {
        $("#instructions").show();
        $("#conditions").hide();
        $("#user-stillserving").hide();
        $("#user-formerserving").hide();
        $("#pmkeys-reservist").hide();
      }

      $("#btnNext").click(function () { window.location.href = "/incap-1" });

      // Still serving contextual questions

      $("#stillserving-leaving-yes").click(function () {
        $(".leaving-date").show();
        $("#lostincome").show();
        $(".stillserving").show();
        $(".transitioning").show();
        localStorage.setItem('user', 'still-serving-transitioning');
      });
      $("#stillserving-leaving-no").click(function () {
        $(".leaving-date").hide();
        $("#lostincome").show();
        $(".stillserving").show();
        $(".transitioning").hide();
        localStorage.setItem('user', 'still-serving');
      });

      // Reserves contextual questions

      $("#reservist-income-yes").click(function () {
        $("#user-stillserving-reservist").show();
        localStorage.setItem('user', 'still-serving-reservist');
      });
      $("#reservist-income-no").click(function () {
        $("#user-stillserving-reservist").show();
        localStorage.setItem('user', 'still-serving');
      });

      $("#reserves-leaving-yes").click(function () {
        $(".reserves-leaving-date").show("fast");
        $("#lostincome").show();
        $(".stillserving").show();
        $(".reserves").show();
        $(".transitioning").show();
        localStorage.setItem('user', 'still-serving-reservist-transitioning');
        if ($('#reservist-income-no').is(':checked')) {
          $(".reserves").hide();
        };
        if ($('#reservist-income-yes').is(':checked')) {
          $(".reserves").show();
        };
      });
      $("#reserves-leaving-no").click(function () {
        $(".reserves-leaving-date").hide();
        $("#lostincome").show();
        $(".stillserving").show();
        $(".reserves").show();
        $(".transitioning").hide();
        localStorage.setItem('user', 'still-serving-reservist');
        if ($('#reservist-income-no').is(':checked')) {
          $(".reserves").hide();
        };
        if ($('#reservist-income-yes').is(':checked')) {
          $(".reserves").show();
        };
      });


      // Former serving with Reservist service history contextual questions

      $("#former-reservist-income-yes").click(function () {
        $("#lostincome").show();
        $(".stillserving").show();
        $(".reserves").show();
        $(".dischargedreserves").show();
        $(".formerserving-past").hide();
        $(".formerserving-now").show();
        $("#thanks").show();
        localStorage.setItem('user', 'former-serving-reservist');
      });
      $("#former-reservist-income-no").click(function () {
        $("#lostincome").show();
        $(".stillserving").show();
        $(".reserves").hide();
        $(".dischargedreserves").hide();
        $(".formerserving-past").show();
        $(".formerserving-now").show();
        $("#thanks").show();
        localStorage.setItem('user', 'former-serving');
      });


      // Former serving with unkown service history contextual questions

      $("#permanentADF-yes").click(function () {
        $("#Reservist").show("fast");
        localStorage.setItem('user', 'former-serving');
      });
      $("#permanentADF-no").click(function () {
        $("#Reservist").show("fast");
        localStorage.setItem('user', 'ineligible');
      });

      $("#reserves-yes").click(function () {
        $("#lostincome").show();
        $(".stillserving").show();
        $(".reserves").show();
        $(".dischargedreserves").show();
        $(".formerserving-past").hide();
        $(".formerserving-now").show();
        $(".ineligible").hide();
        if (localStorage.getItem('user') === 'ineligible') {
          localStorage.setItem('user', 'former-reservist');
        };
        if (localStorage.getItem('user') === 'former-serving') {
          localStorage.setItem('user', 'former-serving-reservist');
        };
      });
      $("#reserves-no").click(function () {
        $("#lostincome").show();
        $(".stillserving").show();
        $(".reserves").hide();
        $(".dischargedreserves").hide();
        $(".formerserving-past").show();
        $(".formerserving-now").show();
        if (localStorage.getItem('user') === 'ineligible') {
          localStorage.setItem('user', 'ineligible');
          $(".ineligible").show();
          $("#lostincome").hide();
        };
        if (localStorage.getItem('user') === 'former-reservist') {
          localStorage.setItem('user', 'ineligible');
          $(".ineligible").show();
          $("#lostincome").hide();
        };
        if (localStorage.getItem('user') === 'former-serving') {
          localStorage.setItem('user', 'former-serving');
          $(".ineligible").hide();
          $("#lostincome").show();
        };
        if (localStorage.getItem('user') === 'former-serving-reservist') {
          localStorage.setItem('user', 'former-serving');
          $(".ineligible").hide();
          $("#lostincome").show();
        };

      });


      // NEED SOME MORE LOGIC - If the user is not a member of permanent forces or Reserves, they are not eligible to claim. If the user is not a member of permanent forces but they have been in the active Reserves, loss of allowance and loss of career progression should be hidden

      $("#btnNext").click(function () {
        if ($('input.ilrequired').is(':checked')) {
          localStorage.setItem('approvedcondition', 'required');
        };
        if ($('input.servicehistoryrequired').is(':checked')) {
          localStorage.setItem('servicehistorypage', 'required');
        };
        if ($('input.employmentrequired').is(':checked')) {
          localStorage.setItem('employmentpage', 'required');
        };
        if ($('input.doctorrequired').is(':checked')) {
          localStorage.setItem('doctorpage', 'required');
        };
        if ($('input.workerscomprequired').is(':checked')) {
          localStorage.setItem('workerscomppage', 'required');
        };
        if (localStorage.getItem('user') === 'still-serving-reservist-transitioning') {
          localStorage.setItem('servicehistorypage', 'required');
        };

      });

    });
  </script>

</body>

</html>