<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Incapacity Payments | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Claim for Incapacity Payments</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <div>
              <div id="progressbar">
                <div id="percentage">
                  <p id="percentage_value">0% complete</p>
                </div>
              </div>
              <p style="padding-top:0.4em;">0% complete</p>
            </div>

            <div class="wrapper">

              <div class="half">
                <div class="tab">
                  <input id="tab-one" type="checkbox" name="tabs" checked>
                  <!-- [checked] open accordian by default-->
                  <label for="tab-one">Nominated Representative</label>
                  <div class="tab-content">
                    <!--start of question 1-->
                    <div class="mys-file-uploads__items">
                      <div class="mys-file-uploads__item-border">
                        <div class="mys-file-uploads__item mys-file-uploads__item--required">
                          <div class="mys-file-uploads__l-status">
                            <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                              <div class="mys-file-uploads__status-icon"></div>
                              <div class="mys-file-uploads__status-sr">Success</div>
                            </div>
                          </div>
                          <div class="mys-file-uploads__info">
                            <div class="mys-file-uploads__info-item">
                              <div class="mys-file-uploads__value">
                                <div><strong>Question 1</strong></div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                <div>Status: <strong><i>incomplete</i></strong></div>
                              </div>
                            </div>
                          </div>
                          <div class="mys-file-uploads__item-actions">
                            <button class="uikit-btn small">Edit</button>
                          </div>
                        </div>
                      </div>
                      <!--start of question 2-->
                      <div class="mys-file-uploads__items">
                        <div class="mys-file-uploads__item-border">
                          <div class="mys-file-uploads__item mys-file-uploads__item--required">
                            <div class="mys-file-uploads__l-status">
                              <div class="mys-file-uploads__status mys-file-uploads__status--success">
                                <div class="mys-file-uploads__status-icon"></div>
                                <div class="mys-file-uploads__status-sr">Success</div>
                              </div>
                            </div>
                            <div class="mys-file-uploads__info">
                              <div class="mys-file-uploads__info-item">
                                <div class="mys-file-uploads__value">
                                  <div><strong>Question 2</strong></div>
                                  <div>Aenean maximus vel dui scelerisque pharetrasapien elementum eros.</a>
                                    <div>Status: <strong><i>Completed</i></strong></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mys-file-uploads__item-actions">
                              <button class="uikit-btn small">Change</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab">
                    <input id="tab-two" type="checkbox" name="tabs" checked>
                    <!-- [checked] open accordian by default-->
                    <label for="tab-two">Service History</label>
                    <div class="tab-content">
                      <!--start of question 3-->
                      <div class="mys-file-uploads__items">
                        <div class="mys-file-uploads__item-border">
                          <div class="mys-file-uploads__item mys-file-uploads__item--required">
                            <div class="mys-file-uploads__l-status">
                              <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                                <div class="mys-file-uploads__status-icon"></div>
                                <div class="mys-file-uploads__status-sr">Success</div>
                              </div>
                            </div>
                            <div class="mys-file-uploads__info">
                              <div class="mys-file-uploads__info-item">
                                <div class="mys-file-uploads__value">
                                  <div><strong>Question 3</strong></div>
                                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                  <div>Status: <strong><i>incomplete</i></strong></div>
                                </div>
                              </div>
                            </div>
                            <div class="mys-file-uploads__item-actions">
                              <button class="uikit-btn small">Edit</button>
                            </div>
                          </div>
                        </div>
                        <!--start of question 4-->
                        <div class="mys-file-uploads__items">
                          <div class="mys-file-uploads__item-border">
                            <div class="mys-file-uploads__item mys-file-uploads__item--required">
                              <div class="mys-file-uploads__l-status">
                                <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                                  <div class="mys-file-uploads__status-icon"></div>
                                  <div class="mys-file-uploads__status-sr">Success</div>
                                </div>
                              </div>
                              <div class="mys-file-uploads__info">
                                <div class="mys-file-uploads__info-item">
                                  <div class="mys-file-uploads__value">
                                    <div><strong>Question 4</strong></div>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                    <div>Status: <strong><i>Not required</i></strong></div>
                                  </div>
                                </div>
                              </div>
                              <div class="mys-file-uploads__item-actions">
                                <button class="uikit-btn small" disabled>Disabled</button>
                              </div>
                            </div>
                          </div>
                          <!--start of question 5-->
                          <div class="mys-file-uploads__items">
                            <div class="mys-file-uploads__item-border">
                              <div class="mys-file-uploads__item mys-file-uploads__item--required">
                                <div class="mys-file-uploads__l-status">
                                  <div class="mys-file-uploads__status mys-file-uploads__status--success">
                                    <div class="mys-file-uploads__status-icon"></div>
                                    <div class="mys-file-uploads__status-sr">Success</div>
                                  </div>
                                </div>
                                <div class="mys-file-uploads__info">
                                  <div class="mys-file-uploads__info-item">
                                    <div class="mys-file-uploads__value">
                                      <div><strong>Question 5</strong></div>
                                      <div>Aenean maximus vel dui scelerisque pharetrasapien elementum eros.</a>
                                        <div>Status: <strong><i>Completed</i></strong></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="mys-file-uploads__item-actions">
                                  <button class="uikit-btn small">Change</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="tab">
                      <input id="tab-three" type="checkbox" name="tabs" checked>
                      <!-- [checked] open accordian by default-->
                      <label for="tab-three">Lost income</label>
                      <div class="tab-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur
                          illo
                          obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="pagination pagination--ss-reverse-order">
                  <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Back to Claims</button>
                  <div class="floated">
                    <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Back to Claims</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext" disabled>Review and submit</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <% include ../partials/cancel-modal.ejs %>

  </main>

  <% include ../../../global/partials/footer.ejs %>


  <script>
    $(Document).ready(function () {
      localStorage.clear();
      $("#btnNext").click(function () { window.location.href = "/incap-review" });

      // Progress percentage
      document.getElementById("percentage").style.width = "0%";
      document.getElementById("percentage_value").textContent = "0%";
    });
  </script>

</body>

</html>