<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>LSA Calculator</title>
	<link href="docs/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="src/js/jautocalc.js"></script>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<nav class="uikit-skip-link">
		<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
	</nav>
	<% include ../../../global/partials/header-topbar.ejs %>
		<% include ../../../global/partials/header-claims.ejs %>
			<main is="main-content ">
				<div class="container margin-below--extra">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
    					<h1 class="margin-above margin-below">
    						<span class="heading">LSA Calculator</span>
    					</h1>
            </div>
          </div>
<title> JavaScript Loan Calculator </title>
<table>
  <tr><th>Enter Loan Data:</th>
    <td></td>
	<!-- <th>Loan Balance, Cumulative Equity, and Interest Payments</th></tr> -->
	<tr><td>Amount of the loan ($):</td>
	<td><input id="amount" onchange="calculate();"></td>
	<!-- <td rowspan=8>
	  <canvas id="graph" width="400" height="250"></canvas></td> -->
  </tr>
	<tr><td>Annual interest (%):</td>
	  <td><input id="apr" onchange="calculate();"></td></tr>
	<tr><td>Repayment period (years):</td>
	  <td><input id="years" onchange="calculate();"></td>
	<tr>
    <!-- <td>Zipcode (to find lenders):</td>
	  <td><input id="zipcode" onchange="calculate();"></td> -->
	<tr><th>Approximate Payments:</th>
	  <td><button onclick="calculate();">Calculate</button></td></tr>
	<tr><td>Monthly payment:</td>
	  <td>$<span class="output" id="payment"></span></td></tr>
	<tr><td>Total payment:</td>
	  <td>$<span class="output" id="total"></span></td></tr>
	<tr><td>Total interest:</td>
	  <td>$<span class="output" id="totalinterest"></span></td></tr>
	
	</table>
  </main>
<% include ../../../global/partials/footer.ejs %>
  </body>
  </html>
