<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-authenticated.ejs %>
      <main>
        <section>


          <div class="section-feature">
            <div id="main-content" class="container">
              <h1 class="margin-below--small margin-above--small">
                <span class="heading">Lump sum advance request</span>
              </h1>
            </div>
          </div>

          <div class="section-feature--separator">
            <div class="container">
            </div>
          </div>


          <div class="container margin-above margin-below--extra" id="claim-activity">

            <!-- <div class="ss-align--center">
              <h2>
                <span class="font-weight-heavy">Manage and track your claims</span>
              </h2>
              <p class="text-fullwidth">If you can't see your claim below it may be in
                <a href="#open-myaccount-modal">MyAccount</a>
              </p>
            </div> -->
            <div id="validation" class="field">
            	<label class="uikit-text-input__label">
            		how much you want?
            		<span class="input-error-message">Amount needs to be inbetween Min and Max amount</span>
            	</label>
            	<input class="amount uikit-text-input input-half ng-invalid ng-dirty ng-touched" type="text">
            </div>
            <br />

            <div class="form-group">
						<!-- <input class="days" type="text" name="txt"/> -->
						<p>You will receive $<span class="hint" id="total"></span> less now</p>

						<p>your current payment is <span class="hint">$</span><input class="current" type="text" value="600.00"></p>
						<p> your new payment will be $<span class="hint" id="currentTotal"></span></p>

            <p> Min amount is $<span class="hint" id="minTotal">300</span></p>
            <p> Max amount is $<span class="hint" id="maxTotal">1100</span></p>

            <div class="form-group">
              <!-- <a href="/panel-feedbacksubmitting"><button id="submit" class="uikit-btn btnNext">Submit feedback</button></a> -->
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/lump-sum-advance-request'">Back to lump sum advance request</button>
            </div>

            <% include ../partials/dhoas-start-modal.ejs %>

          </div>
        </div>

        </section>
      </main>
      <% include ../../../global/partials/footer.ejs %>

        <script>
								$(".amount").each(function() {
									$(this).keyup(function(){
										Calculate();
									});
								});

								function Calculate() {
									var total = 0;
                  var minTotal = $("#minTotal").html();
                  var maxTotal = $("#maxTotal").html();
                  var validation = ("#validation");
									$(".amount").each(function() {
								// validate
										if(!isNaN(this.value) && this.value.length!=0) {
											total += parseFloat(this.value);
											currentTotal += parseFloat(this.value);
										}
                    if (total < minTotal || total > maxTotal){
                      $("#validation").addClass("has-error");
                    } else{
                      $("#validation").removeClass("has-error");
                    }
									});
								//decimal
								var cost = total / 13;
								$("#total").html(cost.toFixed(2));

								var newcost = $(".current").val() - cost.toFixed(2);
								$("#currentTotal").html(newcost);
								}

        </script>

</body>


</html>
