<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-authenticated.ejs %>
    <main is="main-content ">
      <section>

        <div class="section-feature">
          <div id="main-content" class="container">
            <h1 class="margin-below--small margin-above--small">
              <span class="heading">Request a lump sum advance</span>
            </h1>
          </div>
        </div>

<div class="container margin-above margin-below--extra" id="claim-activity">
  <h3 class="margin-below">
                <span class="font-weight-heavy">This request is for a one-off lump sum to be repayed back in 13 fortnights through your pension payment.</span>
              </h3>
        <form>

  <div class="form-group">
    <legend class="legend-label">Minimum amount</legend>
      <span class="hint"> $456.90</span>
  </div>

  <div class="form-group">
    <legend class="legend-label">Maximum amount</legend>
      <span class="hint"> $1256.90</span>
  </div>

<div class="form-group" >
  <legend class="legend-label">How much do you want to receive as a lump sum?</legend>
    <p class="panel-margin uiToolKitCheckBox">
        <input aria-required="true" class="uikit-text-input input-half" id="Input field" name="Input field" required="" type="text" value="">
    </p>

</div>

  <div class="form-group">
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/lump-sum-advance-history'">View lump sum history</button>
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/payments'">Back to payments</button>
    <button class="uikit-btn btnNext floated" onclick="window.location.href = '/lump-sum-advance-review'">Save and review</button>
  </div>
</div>
</section>
    </main>
      <% include ../../../global/partials/footer.ejs %>


</body>


</html>
