<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claim for Veteran Card submitted | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

  <main>
    <div class="container" id="main-content">
      <div class="row">
        <!-- <div class="col-md-offset-1 col-md-10"> -->
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="../../../docs/images/ico-tick-green-outline.svg" alt="Success tick icon">
              </div>
              <div class="margin-above success-animation">
                <% include ../../../global/partials/animation-success.ejs %>
              </div>
              <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                <h1>We're submitting your request for a lump sum advanced payment</h1>
              </div>
            </div>

            <div class="transition-content pt-claim-animation-end margin-below--extra">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your request for a lump sum advance payment has been
                  <span class="font-weight-heavy"> approved</span>
                </h1>
              </div>
              <hr class="orange-divider">


              <div class="container margin-above margin-below--extra" id="claim-activity">
                <section class="margin-above">
                  <div class="row widget-content widget--justclaims">
                    <div class="col-md-12">
                      <p>This amount will be paid within 3 business days. It will be recovered from your pension over 13 weeks. To pay this amount back earlier, please call 1800 555 254</p>
                    </div>
                  </div>
                  <hr>
                  <legend class="legend-label">24 hour counselling and support services</legend>
                  <div class="row">
                    <div class="col-md-3">
                      <a href="http://www.vvcs.gov.au/" target="_blank">
                        <img class="mys-support-services__logo" src="../docs/images/logo-vvcs.png">
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp" target="_blank">
                        <img class="mys-support-services__logo" src="../docs/images/logo-defence.png">
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="https://www.lifeline.org.au/" target="_blank">
                        <img class="mys-support-services__logo" src="/docs/images/logo-lifeline.png">
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="https://www.1800respect.org.au" target="_blank">
                        <img class="mys-support-services__logo" src="/docs/images/logo-1800respect.png">
                      </a>
                    </div>
                  </div>
                </section>

                <hr>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/payments'">Back to payments</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/lump-sum-advance-history'">View lump sum advance history</button>
                <button class="uikit-btn btnNext floated" onclick="window.location.href = '/lump-sum-advance-request'">Request another lump sum</button>

            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </main>

  <% include ../../../global/partials/footer.ejs %>


  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

  </script>

</body>

</html>
