<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Replacement Health card request | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<nav class="uikit-skip-link">
		<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
	</nav>
	<% include ../../../global/partials/header-topbar.ejs %>
		<% include ../../../global/partials/header-claims.ejs %>
			<main>
				<div class="claim-end margin-above--extra">
					<div class="container">

						<div class="row">
							<div class="col-md-offset-2 col-md-8">

								<div class="cantered-item ie-success-animation">
									<img src="../../../docs/images/tick-green-outline.svg" alt="Success tick icon">
								</div>
								<div class="cantered-item success-animation">
									<% include ../../../global/partials/animation-success.ejs %>
								</div>
								<div class="cantered-item transition-content transition-content--open">
									<h1>We're submitting your request for a lump sum advanced payment</h1>
								</div>
								<div class="cantered-item transition-content">
									<h1>Your request for a lump sum advance payment has been
										<span class="font-weight-heavy"> approved</span>
									</h1>
									<hr class="orange-divider">
								</div>

							</div>
						</div>

						<div class="row transition-content">
							<div class="col-md-offset-1 col-md-10">
								<h3>The amount requested will be available in your bank account within 3 business days.</h3>
								<p>It will be reduced from your pension over 13 fortnights. If you haven't received this payment or you have any issues, please call <a href="tel:1800 555 254">1800 555 254</a>
								</p>

								<div class="pagination ss-align--right">
									<button class="uikit-btn" onclick="window.location.href = '/payments'">Back to payments</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</main>

			<% include ../../../global/partials/footer.ejs %>


					<script>
						function hasClass(pElement, pClass) {
							return pElement.className.split(' ').some(function (pItem) {
								return pItem === pClass;
							})
						}

						function removeClass(pElement, pClass) {
							var className = pElement.className;

							pElement.className = className.split(' ').filter(function (pItem) {
								return pItem !== pClass;
							}
							).join(' ');
						}

						function addClass(pElement, pClass) {
							if (!hasClass(pElement, pClass)) {
								pElement.className += (' ' + pClass);
							}
						}

						setTimeout(function () {
							const elmentClassName = 'transition-content';
							const visibleClassName = 'transition-content--open';
							const elements = document.getElementsByClassName(elmentClassName);

							Array.prototype.forEach.call(elements, function (pElement) {
								if (hasClass(pElement, visibleClassName)) {
									removeClass(pElement, visibleClassName);
								} else {
									addClass(pElement, visibleClassName);
								}
							})
						}, 3000);
					</script>

</body>

</html>
