<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
    <main>
      <section>
        <div class="section-feature">
          <div class="container" id="main-content">

            <h1 class="margin-below--small ss-align--center margin-above--small">
              <span class="heading">Request a lump sum advance</span>
            </h1>
          </div>
        </div>

        <div class="section-feature--separator">
          <div class="container">
          </div>
        </div>

<div class="container margin-above margin-below--extra" id="claim-activity">
  <h3 class="margin-below">
    <span class="font-weight-heavy">This one-off payment is repaid by deductions from your pension over 13 fortnights.</span>
  </h3>
      <!-- <div class="uikit-page-alerts" role="alert">
        <p>Please ensure that you can meet your continuing living expenses on your reduced income during the repayment period.</p>
      </div> -->

<hr>

  <div id="request1" class="lsa-currency-bg lsa-amount-request border-all border-top__thick--blue uikit-body">
    <div class="row requestBox" id="requestAmountBox">
      <h3 style="margin-top:0;">Amount you can request</h3>
        <div class="col-md-2 col-sm-3 col-xs-3">
          <span class="hint">Minimum</span>
              $<span class="hint" id="minTotal">456.90</span>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2"><span class="pipe">&#124;</span>

        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
          <span class="hint">Maximum</span>
              $<span class="hint" id="maxTotal">1256.90</span>
        </div>
        <!-- <div class="col-md-7">
        </div> -->
      </div>
    </div>

<div class="form-group" >
  <div id="validation" class="field">
    <label class="uikit-text-input__label">
      How much do you want to request as a lump sum?
      <span class="input-error-message">Amount needs to be inbetween Min and Max amount</span>
    </label>
    <input id="ddlTechnolgy" name="Technology" class="amount uikit-text-input input-half ng-invalid ng-dirty ng-touched" type="text">
  </div>
</div>
<div class="container margin-above margin-below--extra" id="claim-activity">
  <section>

    <div class="form-group">
    <p style="display:none;">You will receive $<span class="hint" id="total"></span> less now</p>

</section>
<div class="row">
  <div class="col-md-3">
    <span class="hint">Current pension amount</span>
  </div>
  <div class="col-md-9">
    <legend class="legend-label">$<input class="current" type="hidden" value="640.45" readonly>640.45 / fortnight</legend>
  </div>
</div>
<div style="display:none;" class="row" id="newPensionAmount">
  <div class="col-md-3">
    <span class="hint">New pension amount</span>
  </div>
  <div class="col-md-9">
    <legend class="legend-label" id="txtName" name="Name"></legend>
  </div>
</div>

<div class="pagination">
  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/payments'">Back to payments</button>
  <div class="floated">
    <input class="uikit-btn btnNext" type="button"  id="btnQueryString" value="Save and review" disabled="disabled"/>
    <!-- style="display:none;" -->
  </div>
</div>

    </main>
      <% include ../../../global/partials/footer.ejs %>
<!-- keyup -->
          <script>
          $(".amount").each(function() {
            $(this).focusout(function(){
              Calculate();
            });
          });

          function Calculate() {
            var total = 0;
            var minTotal = $("#minTotal").html();
            var maxTotal = $("#maxTotal").html();
            var validation = ("#validation");
            $(".amount").each(function() {
              $("#btnQueryString").prop('disabled',true);
          // validate
              if(!isNaN(this.value) && this.value.length!=0) {
                total += parseFloat(this.value);
                txtName += parseFloat(this.value);
              }
              if (total < minTotal || total > maxTotal){
                $("#validation").addClass("has-error");
                $("#newPensionAmount").hide();
                $("#btnQueryString").prop('disabled',true);
                // $("#btnQueryString").hide();
              } else{
                $("#validation").removeClass("has-error");
                $("#newPensionAmount").show();
                $("#btnQueryString").prop('disabled',false);
                // $("#btnQueryString").show();
              }
            });
          var cost = total / 13;
          $("#total").html(cost.toFixed(2));

          var newcost = $(".current").val() - cost.toFixed(0);
          $("#txtName").html('$' + newcost + ' / fortnight');
          }

          $(function () {
                  $("#btnQueryString").bind("click", function () {
                      var url = "lump-sum-advance-review?name=" + encodeURIComponent($("#txtName").html()) + "&technology=" + encodeURIComponent($("#ddlTechnolgy").val());
                      window.location.href = url;
                  });
              });

          </script>
</body>


</html>
