<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <main>
        <section>
          <div class="section-feature">
            <div class="container" id="main-content">

              <h1 class="margin-below--small ss-align--center margin-above--small">
                <span class="heading">Review and submit</span>
              </h1>
            </div>
          </div>

          <div class="section-feature--separator">
            <div class="container">
            </div>
          </div>


          <div class="container margin-above margin-below--extra" id="claim-activity">
            <h3 class="margin-below"><span class="font-weight-heavy">Your request</span></h3>
            <section>
              <div class="row">
  							<div class="col-md-3">
  								<span class="hint">Requested lump sum amount</span>
  							</div>
  							<div class="col-md-9">
  								<legend id="lblData2" class="legend-label"></legend>
  							</div>
  						</div>
              <div class="row">
  							<div class="col-md-3">
  								<span class="hint">Current pension amount</span>
  							</div>
  							<div class="col-md-9">
  								<legend class="legend-label">$640.45 / fortnight</legend>
  							</div>
  						</div>
  						<div class="row ">
  							<div class="col-md-3">
  								<span class="hint">New pension amount</span>
  							</div>
  							<div class="col-md-9">
  								<legend id="lblData" class="legend-label"></legend>
  							</div>
  						</div>
              <div class="row panel-margin">
  							<div class="col-md-3">
  								<span class="hint">Final repayment</span>
  							</div>
  							<div class="col-md-9">
  								<legend class="legend-label">29 December 2018</legend>
  							</div>
  						</div>
              <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/lump-sum-advance-request'">Edit lump sum amount</button>
              <div class="uikit-page-alerts" role="alert">
                <h4>Important things to know</h4>
                <ul>
                  <li>The amount requested will be available in your bank account within 3 business days.</li>
                  <li>Please ensure that you can meet your continuing living expenses on your reduced income during the repayment period.</li>
                  <li>This one-off payment is repaid by deductions from your pension over 13 fortnights.</li>
                </ul>
              </div>
              <!-- <span id = "lblData"></span> -->
            </section>
            <hr>
            <div class="form-group">
    						<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/lump-sum-advance-request'">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/payments'">Cancel</button>
                <button class="uikit-btn btnNext floated" onclick="window.location.href = '/lump-sum-advance-submitted'">Submit lump sum request</button>
    					</div>

            <% include ../partials/dhoas-start-modal.ejs %>

          </div>

        </section>
      </main>
      <% include ../../../global/partials/footer.ejs %>

      <script>
      var queryString = new Array();
    $(function () {
        if (queryString.length == 0) {
            if (window.location.search.split('?').length > 1) {
                var params = window.location.search.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;
                }
            }
        }
        if (queryString["name"] != null && queryString["technology"] != null) {
            var newAmount = "";
            var requestAmount = "";
              newAmount += queryString["name"];
              requestAmount += queryString["technology"];
                $("#lblData").html(newAmount);
                $("#lblData2").html('$' + requestAmount);
            if(requestAmount.indexOf('.') != -1){
              $("#lblData2").html('$' + requestAmount);
            }else{
              $("#lblData2").html('$' + requestAmount + '.00');
            }
        }
    });
      </script>

</body>


</html>
