<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
    <main>
      <section>
        <div class="section-feature">
          <div class="container" id="main-content">

            <h1 class="margin-below--small margin-above--small">
              <span class="heading">Request a lump sum advance</span>
            </h1>
          </div>
        </div>

        <div class="section-feature--separator">
          <div class="container">
          </div>
        </div>

<div class="container margin-above margin-below--extra" id="claim-activity">
  <h3 class="margin-below">
    <span class="font-weight-heavy">This one-off payment is repaid by deductions from your pension over 13 fortnights.</span>
  </h3>
        <p>Please ensure that you can meet your continuing living expenses on your reduced income during the repayment period. This <a href="https://www.dva.gov.au/dvaforms/Documents/D0557.pdf" target="_blank" rel="external">income/expenses calculator</a> can be used to assist you in calculating the amount of lump sum advance you can afford.</p>
<button id="show1">Show 1</button>
<button id="show2">Show 2</button>
<button id="show3">Show 3</button>
<button id="show4">Show 4</button>
<hr>

  <div id="request1" class=" uikit-body" style="display:none;">
    <div class="row requestBox" id="requestAmountBox">
      <h3 style="margin-top:0;">Amount you can request</h3>
        <div class="col-md-2 ">
          <span class="hint">Minimum</span>
            <legend class="legend-label">$456.90</legend>
        </div>
        <div class="col-md-1"><span class="pipe">&#124;</span>

        </div>
        <div class="col-md-2 ">
          <span class="hint">Maximum</span>
            <legend class="legend-label">$1256.90</legend>
        </div>
        <div class="col-md-7">
        </div>
      </div>
    </div>

<div class="form-group" id="request2" style="display:none;">
  <legend class="legend-label">Min. amount <span class="hint">$453.87</span></legend>
  <legend class="legend-label">Max. amount <span class="hint">$1253.87</span></legend>
</div>
<div class="form-group" id="request3" style="display:none;">
  <legend class="legend-label">Min. amount </legend><span class="hint">$453.87</span>
  <legend style="margin-top:10px;" class="legend-label">Max. amount </legend><span class="hint">$1253.87</span>
</div>
<div class="form-group" id="request4" style="display:none;">
  <span class="hint">Min. amount </span><legend class="legend-label">$453.87</legend>
  <span class="hint">Max. amount </span><legend class="legend-label">$1253.87</legend>
</div>

<div class="form-group" >
  <legend class="legend-label">How much do you want to receive as a lump sum?</legend>
    <p class="panel-margin uiToolKitCheckBox">
        $ <input aria-required="true" class="uikit-text-input input-half" id="Input field" name="Input field" required="" type="text" value="" style="width: 6em;">
    </p>

</div>
  <hr>
  <div class="form-group">
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/payments'">Back to payments</button>
    <button class="uikit-btn btnNext floated" onclick="window.location.href = '/lump-sum-advance-review'">Save and review</button>
  </div>
</div>
</section>
    </main>
      <% include ../../../global/partials/footer.ejs %>

                <script>
                $("#show1").click(function () {
                  $("#request1").show("fast");
                  $("#request2").hide();
                  $("#request3").hide();
                  $("#request4").hide();
                  $("#request1").toggleClass("testbg lsa-amount-request border-all border-top__thick--blue");
                });
                $("#show2").click(function () {
                  $("#request2").show("fast");
                  $("#request1").hide();
                  $("#request3").hide();
                  $("#request4").hide();
                  $("#request2").toggleClass("testbg lsa-amount-request border-all border-top__thick--blue");
                });
                $("#show3").click(function(){
                  $("#request1").hide();
                  $("#request2").hide();
                  $("#request4").hide();
                  $("#request3").show("fast");
                  $("#request3").toggleClass("testbg lsa-amount-request border-all border-top__thick--blue");
                });
                $("#show4").click(function() {
                  $("#request1").hide();
                  $("#request2").hide();
                  $("#request3").hide();
                  $("#request4").show("fast");
                  $("#request4").toggleClass("testbg lsa-amount-request border-all border-top__thick--blue");
                });

                </script>
</body>


</html>
