<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
    <main>
      <section>
        <div class="section-feature">
          <div class="container" id="main-content">

            <h1 class="margin-below--small margin-above--small">
              <span class="heading">Request a lump sum advance</span>
            </h1>
          </div>
        </div>

        <div class="section-feature--separator">
          <div class="container">
          </div>
        </div>

<div class="container margin-above margin-below--extra" id="claim-activity">
  <h3 class="margin-below">
    <span class="font-weight-heavy">This one-off payment is repaid by deductions from your pension over 13 fortnights.</span>
  </h3>
        <p>Please ensure that you can meet your continuing living expenses on your reduced income during the repayment period.</p>

<hr>

  <div id="request1" class="lsa-currency-bg lsa-amount-request border-all border-top__thick--blue uikit-body">
    <div class="row requestBox" id="requestAmountBox">
      <h3 style="margin-top:0;">Amount you can request</h3>
        <div class="col-md-2 ">
          <span class="hint">Minimum</span>
            <legend class="legend-label">$456.90</legend>
        </div>
        <div class="col-md-1"><span class="pipe">&#124;</span>

        </div>
        <div class="col-md-2 ">
          <span class="hint">Maximum</span>
            <legend class="legend-label">$1256.90</legend>
        </div>
        <div class="col-md-7">
        </div>
      </div>
    </div>



<div class="form-group" >
  <legend class="legend-label">How much do you want to request as a lump sum?</legend>
    <p class="panel-margin uiToolKitCheckBox">
        $ <input aria-required="true" class="uikit-text-input input-half" id="Input field" name="Input field" required="" type="text" value="" style="width: 6em;">
    </p>

</div>
  <hr>
  <div class="form-group">
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/payments'">Back to payments</button>
    <button class="uikit-btn btnNext floated" onclick="window.location.href = '/lump-sum-advance-review'">Save and review</button>
  </div>
</div>
</section>
    </main>
      <% include ../../../global/partials/footer.ejs %>

                <script>


                </script>
</body>


</html>
