<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Manage your Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <main>
        <section>
          <div class="section-feature">
            <div class="container" id="main-content">

              <h1 class="margin-below--small margin-above--small">
                <span class="heading">Review and submit</span>
              </h1>
            </div>
          </div>

          <div class="section-feature--separator">
            <div class="container">
            </div>
          </div>


          <div class="container margin-above margin-below--extra" id="claim-activity">
            <h3 class="margin-below"><span class="font-weight-heavy">Your request</span></h3>
            <section>
              <div class="row">
  							<div class="col-md-3">
  								<span class="hint">Requested lump sum amount</span>
  							</div>
  							<div class="col-md-9">
  								<legend class="legend-label">$600.00</legend>
  							</div>
  						</div>
              <div class="row">
  							<div class="col-md-3">
  								<span class="hint">Current pension amount</span>
  							</div>
  							<div class="col-md-9">
  								<legend class="legend-label">$640.45 / fortnight</legend>
  							</div>
  						</div>
  						<div class="row ">
  							<div class="col-md-3">
  								<span class="hint">New pension amount</span>
  							</div>
  							<div class="col-md-9">
  								<legend class="legend-label">$601.24 / fortnight</legend>
  							</div>
  						</div>
              <div class="row panel-margin">
  							<div class="col-md-3">
  								<span class="hint">Final repayment</span>
  							</div>
  							<div class="col-md-9">
  								<legend class="legend-label">29 December 2018</legend>
  							</div>
  						</div>
              <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/lump-sum-advance-request'">Edit lump sum amount</button>
              <div class="uikit-page-alerts" role="alert">
                <h4>Important things to know</h4>
                <ul>
                  <li>The amount requested will be available in your bank account within 3 business days.</li>
                  <!-- <li>Deductions related to this lump sum advance will cease from payday 29 December 2018.</li> -->
                  <li>You can find out more about lump sum advance payments and calculations <a target="_blank" href="https://www.dva.gov.au/factsheet-is115-lump-sum-advance">here</a></li>
                </ul>

              </div>

            </section>
            <hr>
            <div class="form-group">
    						<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/lump-sum-advance-request'">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/payments'">Cancel</button>
                <button class="uikit-btn btnNext floated" onclick="window.location.href = '/lump-sum-advance-submitted'">Submit lump sum request</button>
    					</div>

            <% include ../partials/dhoas-start-modal.ejs %>

          </div>

        </section>
      </main>
      <% include ../../../global/partials/footer.ejs %>

      <script>
      </script>

</body>


</html>
