<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Permanent Impairment | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar.ejs %>
        <% include ../../../global/partials/header-claims.ejs %>
            <% include ../partials/help-button.ejs %>
                <main>
                    <div class="section-feature border-bottom border-bottom--mild">
                        <div class="container">
                            <h1 class="margin-below--none margin-above--none">
                                <span class="heading">Personal relationships</span>
                            </h1>
                            <p class="margin-above--mid margin-below--none" style="max-width:100%;">This section is about...</p>
                        </div>
                    </div>
                    <div class="container" id="main-content">


                        <div class="pagination">
                            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-start'">Previous</button>
                            <div class="floated">
                                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Save and exit</button>&nbsp;
                                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/pi-claim2'">Save and next</button>
                            </div>
                        </div>
                    </div>

                </main>

                <% include ../../../global/partials/footer.ejs %>
                    <% include ../partials/panel-help.ejs %>

                        <script>
                        </script>

</body>

</html>