<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Permanent Impairment | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
<% include ../../../global/partials/header-topbar.ejs %>
<% include ../../../global/partials/header-claims.ejs %>
<% include ../partials/help-button.ejs %>
<main>
    <div class="container" id="main-content">
        <div id="progressbar"><div id="percentage"></div></div>
        <h1>Permanent impairment lifestyle questionnaire</h1>
        <div id="optional-fields-message">This questionnaire helps determine your compensation needs and if you need help at work, around the home or getting around.<br /><br />
            This questionnaire includes 5 sections. We ask you to assess how your impairment has affected different aspects of your life. At the end of each section you will give yourself an impact rating.<br /><br />
            Each section should take around 5 to 10 minutes to complete.
        </div>

        <h1>Personal</h1>
        <div id="optional-fields-message">How you get on with other people. This includes your family, friends and people you meet for the first time.</div>
        <fieldset>
            <legend class="legend-label">Does your condition or injury affect how you relate to other people?</legend>
            <div class="radio-toggle">
                <label class="on label-left" for="personal-rel-yes"><input id="personal-rel-yes" type="radio" name="personal-rel-affected"><span>Yes</span></label>
                <label class="off label-right" for="personal-rel-no"><input id="personal-rel-no" type="radio" name="personal-rel-affected"><span>No</span></label>
            </div>
        </fieldset>

        <div class="form-group" style="display:none;" id="dropContainer1">
            <div class="form-group" style="display:none;" id="drop1">
                <fieldset>
                    <legend class="legend-label">Does it affect your family life?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="fam-life-yes"><input id="fam-life-yes" type="radio" name="fam-life-affected"><span>Yes</span></label>
                        <label class="off label-right" for="fam-life-no"><input id="fam-life-no" type="radio" name="fam-life-affected"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="drop2">
                <fieldset>
                    <legend class="legend-label">Does it affect your relationship with your partner?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="partner-spouse-yes"><input id="partner-spouse-yes" type="radio" name="partner-spouse-rel"><span>Yes</span></label>
                        <label class="off label-right" for="partner-spouse-no"><input id="partner-spouse-no" type="radio" name="partner-spouse-rel"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="drop3">
                <fieldset>
                    <legend class="legend-label">Does it affect your sexual feelings or ability?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="sexual-feelings-yes"><input id="sexual-feelings-yes" type="radio" name="sexual-feelings-abilities"><span>Yes</span></label>
                        <label class="off label-right" for="sexual-feelings-no"><input id="sexual-feelings-no" type="radio" name="sexual-feelings-abilities"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="drop4">
                <fieldset>
                    <legend class="legend-label">Does it affect your social life?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="social-interactions-yes"><input id="social-interactions-yes" type="radio" name="social-interactions"><span>Yes</span></label>
                        <label class="off label-right" for="social-interactions-no"><input id="social-interactions-no" type="radio" name="social-interactions"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="drop5">
                <fieldset>
                    <legend class="legend-label">Has there been a change in your relationships due to any medication or treatment?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="med-impact-yes"><input id="med-impact-yes" type="radio" name="med-impact"><span>Yes</span></label>
                        <label class="off label-right" for="med-impact-no"><input id="med-impact-no" type="radio" name="med-impact"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="drop6">
                <fieldset>
                    <legend class="legend-label">Do you now find it difficult to talk about your problems with other people?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="talk-problems-yes"><input id="talk-problems-yes" type="radio" name="talk-problems"><span>Yes</span></label>
                        <label class="off label-right" for="talk-problems-no"><input id="talk-problems-no" type="radio" name="talk-problems"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="drop7">
                <fieldset>
                    <legend class="legend-label">Does your mood now make it harder to get along with other people?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="mood-yes"><input id="mood-yes" type="radio" name="mood"><span>Yes</span></label>
                        <label class="off label-right" for="mood-no"><input id="mood-no" type="radio" name="mood"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div id="moreinfo" style="display: none;">
                <h2>Rate the impact on your lifestyle using the scale below, from One (unaffected) to Seven (extremely affected).</h2>
                <p class="sub-fields-message">For example, Susan has depression and finds most relationships unsatisfying, including previous relationships with friends and family. She is spending a lot less time socialising than she did before she had depression. She has given herself a lifestyle rating of 4 for personal relationships.</p>
                <fieldset>
                    <div class="radio-toggle">
                        <label class="label-left" for="personal-rel-rating-1"><input id="personal-rating-1" type="radio" name="personal-rating"><span>One</span></label>
                        <label class="label-middle" for="personal-rating-2"><input id="personal-rating-2" type="radio" name="personal-rating"><span>Two</span></label>
                        <label class="label-middle" for="personal-rating-3"><input id="personal-rating-3" type="radio" name="personal-rating"><span>Three</span></label>
                        <label class="label-middle" for="personal-rating-4"><input id="personal-rating-4" type="radio" name="personal-rating"><span>Four</span></label>
                        <label class="label-middle" for="personal-rating-5"><input id="personal-rating-5" type="radio" name="personal-rating"><span>Five</span></label>
                        <label class="label-middle" for="personal-rating-6"><input id="personal-rating-6" type="radio" name="personal-rating"><span>Six</span></label>
                        <label class="label-right" for="personal-rating-7"><input id="personal-rating-7" type="radio" name="personal-rating"><span>Seven</span></label>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <label class="uikit-text-input__label" for="textArea">Overall, how do you think your injury or condition affects your personal relationships?</label>
                        <textarea id="textArea" name="statementText" rows="8" placeholder="Tell us more about why you answered yes or no for these questions."></textarea>
                    </div>
                </fieldset>
            </div>
        </div>


        <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim1'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/pi-claim2'" disabled>Save and next</button>
            </div>
        </div>
        <% include ../partials/cancel-modal.ejs %>
    </div>

</main>

<% include ../../../global/partials/footer.ejs %>
<% include ../partials/panel-help.ejs %>

<script>

    // Progress percentage

    document.getElementById("percentage").style.width = "0%";

    // Show and hide options
    $( "#personal-rel-yes" ).click(function() {
        $( "#drop1" ).show("fast");
        $("#btnNext").prop('disabled', false);
        $( "#dropContainer1" ).show("fast");
    });
    $( "#personal-rel-no" ).click(function() {
        $( "#drop1" ).hide();
        $( "#moreinfo" ).hide();
        $("#btnNext").prop('disabled', false);
        $( "#dropContainer1" ).hide();
    });

    $( "#fam-life-yes, #fam-life-no" ).click(function() {
        $( "#drop2" ).show("fast");
    });

    $( "#partner-spouse-yes" ).click(function() {
        $( "#drop3" ).show("fast");
        $( "#drop4" ).hide();
    });
    $( "#partner-spouse-no" ).click(function() {
        $( "#drop3" ).hide();
    });

    $( "#sexual-feelings-yes, #sexual-feelings-no, #partner-spouse-no" ).click(function() {
        $( "#drop4" ).show("fast");
    });

    $( "#social-interactions-yes, #social-interactions-no" ).click(function() {
        $( "#drop5" ).show("fast");
    });

    $( "#med-impact-yes, #med-impact-no" ).click(function() {
        $( "#drop6" ).show("fast");
    });

    $( "#talk-problems-yes, #talk-problems-no" ).click(function() {
        $( "#drop7" ).show("fast");
    });

    $( "#mood-yes, #mood-no" ).click(function() {
        $( "#moreinfo" ).show("fast");
    });

</script>

</body>
</html>