<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Permanent Impairment | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
<% include ../../../global/partials/header-topbar.ejs %>
<% include ../../../global/partials/header-claims.ejs %>
<% include ../partials/help-button.ejs %>
<main>
    <div class="container" id="main-content">
        <div id="progressbar"><div id="percentage"></div></div>
        <h1>Employment</h1>
        <div id="optional-fields-message">How your condition or injury affects your current job or your ability to work.</div>

        <fieldset>
            <legend class="legend-label">Does your condition or injury affect your ability to work?</legend>
            <div class="radio-toggle">
                <label class="on label-left" for="work-ability-yes"><input id="work-ability-yes" type="radio" name="work-ability"><span>Yes</span></label>
                <label class="off label-right" for="work-ability-no"><input id="work-ability-no" type="radio" name="work-ability"><span>No</span></label>
            </div>
        </fieldset>

        <div class="form-group" style="display:none;" id="dropContainer1">
            <div class="form-group" style="display:none;" id="drop1">
                <fieldset>
                    <legend class="legend-label">Have you had to stop working because of this?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="work-stopped-yes"><input id="work-stopped-yes" type="radio" name="work-stopped"><span>Yes</span></label>
                        <label class="off label-right" for="work-stopped-no"><input id="work-stopped-no" type="radio" name="work-stopped"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="dropContainer1a">
                <div class="form-group stopped-working" style="display:none;" id="drop2">
                    <fieldset>
                        <legend class="legend-label">Are there things at work you can't do anymore because of your condition or injury?</legend>
                        <div class="radio-toggle">
                            <label class="on label-left" for="tasks-stopped-yes"><input id="tasks-stopped-yes" type="radio" name="tasks-stopped"><span>Yes</span></label>
                            <label class="off label-right" for="tasks-stopped-no"><input id="tasks-stopped-no" type="radio" name="tasks-stopped"><span>No</span></label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group stopped-working" style="display:none;" id="drop3">
                    <fieldset>
                        <legend class="legend-label">Have you had to make any changes at work so that you can complete your job?</legend>
                        <div class="radio-toggle">
                            <label class="on label-left" for="work-changes-yes"><input id="work-changes-yes" type="radio" name="work-changes"><span>Yes</span></label>
                            <label class="off label-right" for="work-changes-no"><input id="work-changes-no" type="radio" name="work-changes"><span>No</span></label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group stopped-working" style="display:none;" id="drop4">
                    <fieldset>
                        <legend class="legend-label">Have you had to change your duties?</legend>
                        <div class="radio-toggle">
                            <label class="on label-left" for="duties-changed-yes"><input id="duties-changed-yes" type="radio" name="duties-changed"><span>Yes</span></label>
                            <label class="off label-right" for="duties-changed-no"><input id="duties-changed-no" type="radio" name="duties-changed"><span>No</span></label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group stopped-working" style="display:none;" id="drop5">
                    <fieldset>
                        <legend class="legend-label">Have you had to take time off?</legend>
                        <div class="radio-toggle">
                            <label class="on label-left" for="time-off-yes"><input id="time-off-yes" type="radio" name="time-off"><span>Yes</span></label>
                            <label class="off label-right" for="time-off-no"><input id="time-off-no" type="radio" name="time-off"><span>No</span></label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group stopped-working" style="display:none;" id="drop6">
                    <fieldset>
                        <legend class="legend-label">Have you changed the number of hours you work?</legend>
                        <div class="radio-toggle">
                            <label class="on label-left" for="work-hours-yes"><input id="work-hours-yes" type="radio" name="work-hours"><span>Yes</span></label>
                            <label class="off label-right" for="work-hours-no"><input id="work-hours-no" type="radio" name="work-hours"><span>No</span></label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group stopped-working" style="display:none;" id="drop7">
                    <fieldset>
                        <legend class="legend-label">Have you had to make modifications to your work environment?</legend>
                        <div class="radio-toggle">
                            <label class="on label-left" for="environment-mods-yes"><input id="environment-mods-yes" type="radio" name="environment-mods"><span>Yes</span></label>
                            <label class="off label-right" for="environment-mods-no"><input id="environment-mods-no" type="radio" name="environment-mods"><span>No</span></label>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group" style="display:none;" id="dropContainer2">
            <div class="form-group stopped-working" style="display:none;" id="drop8">
                <fieldset>
                    <legend class="legend-label">Are you currently looking for work?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="work-looking-yes"><input id="work-looking-yes" type="radio" name="work-looking"><span>Yes</span></label>
                        <label class="off label-right" for="work-looking-no"><input id="work-looking-no" type="radio" name="work-looking"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group looking-for-work" style="display:none;" id="drop9">
                <fieldset>
                    <legend class="legend-label">Would you like to work in the future?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="work-future-yes"><input id="work-future-yes" type="radio" name="work-future"><span>Yes</span></label>
                        <label class="off label-right" for="work-future-no"><input id="work-future-no" type="radio" name="work-future"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group looking-for-work" style="display:none;" id="drop10">
                <fieldset>
                    <legend class="legend-label">Are you currently involved in a DVA return to work program?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="return-program-yes"><input id="return-program-yes" type="radio" name="return-program"><span>Yes</span></label>
                        <label class="off label-right" for="return-program-no"><input id="return-program-no" type="radio" name="return-program"><span>No</span></label>
                    </div>
                </fieldset>
            </div>
        </div>

        <fieldset>
            <div class="form-group">
                <label class="uikit-text-input__label" for="textArea">Overall, how has your injury or condition affected your ability to work?</label>
                <textarea id="textArea" name="statementText" rows="8"></textarea>
            </div>
        </fieldset>

        <div id="optional-fields-message">Rate the impact on your lifestyle using the scale below, from 1 (unaffected) to 7 (extremely affected).</div>
        <p class="sub-fields-message">For example, Sonia suffers from depression and can only speak to her partner. She believes her depression
            severely impacts the way she can relate to anyone else outside of her immediate family. Her rating is 5.</p>
        
        <fieldset>
            <div class="radio-toggle">
                <label class="label-left" for="employment-rating-1"><input id="employment-rating-1" type="radio" name="employment-rating"><span>One</span></label>
                <label class="label-middle" for="employment-rating-2"><input id="employment-rating-2" type="radio" name="employment-rating"><span>Two</span></label>
                <label class="label-middle" for="employment-rating-3"><input id="employment-rating-3" type="radio" name="employment-rating"><span>Three</span></label>
                <label class="label-middle" for="employment-rating-4"><input id="employment-rating-4" type="radio" name="employment-rating"><span>Four</span></label>
                <label class="label-middle" for="employment-rating-5"><input id="employment-rating-5" type="radio" name="employment-rating"><span>Five</span></label>
                <label class="label-middle" for="employment-rating-6"><input id="employment-rating-6" type="radio" name="employment-rating"><span>Six</span></label>
                <label class="label-right" for="employment-rating-7"><input id="employment-rating-7" type="radio" name="employment-rating"><span>Seven</span></label>
            </div>
        </fieldset>


        <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim4'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim1'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" onclick="window.location.href = '/pi-review'">Save and next</button>
            </div>
        </div>
        <% include ../partials/cancel-modal.ejs %>
    </div>

</main>

<% include ../../../global/partials/footer.ejs %>
<% include ../partials/panel-help.ejs %>

<script>

    // Progress percentage

    document.getElementById("percentage").style.width = "80%";

    // Show and hide options
    $( "#work-ability-yes" ).click(function() {
        $( "#dropContainer1" ).show("fast");
        $( "#drop1" ).show("fast");
    });
    $( "#work-ability-no" ).click(function() {
        $( "#dropContainer1" ).hide();
        $( "#dropContainer2" ).hide();
    });

    $( "#work-stopped-yes" ).click(function() {
        $( "#dropContainer1a" ).show("hide");
        $( "#dropContainer2" ).hide();
        $( "#drop2" ).show("fast");
    });
    $( "#work-stopped-no" ).click(function() {
        $( "#dropContainer1a" ).hide();
        $( "#dropContainer2" ).show("fast");
        $( "#drop8" ).show("fast");
    });

    $( "#tasks-stopped-yes, #tasks-stopped-no" ).click(function() {
        $( "#drop3" ).show("fast");
    });

    $( "#work-changes-yes, #work-changes-no" ).click(function() {
        $( "#drop4" ).show("fast");
    });

    $( "#duties-changed-yes, #duties-changed-no" ).click(function() {
        $( "#drop5" ).show("fast");
    });

    $( "#time-off-yes, #time-off-no" ).click(function() {
        $( "#drop6" ).show("fast");
    });

    $( "#work-hours-yes, #work-hours-no" ).click(function() {
        $( "#drop7" ).show("fast");
    });

    $( "#work-hours-yes, #work-hours-no" ).click(function() {
        $( "#dropContainer2" ).show("fast");
        $( "#drop8" ).show("fast");
    });

    $( "#work-looking-yes" ).click(function() {
        $( "#drop9" ).hide();
        $( "#drop10" ).show("fast");
    });

    $( "#work-looking-no" ).click(function() {
        $( "#drop10" ).hide();
        $( "#drop9" ).show("fast");
    });

</script>

</body>
</html>