<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Permanent Impairment | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
<% include ../../../global/partials/header-topbar.ejs %>
<% include ../../../global/partials/header-claims.ejs %>
<% include ../partials/help-button.ejs %>
<main>
    <div class="container" id="main-content">
        <div id="progressbar"><div id="percentage"></div></div>
        <h1>Domestic activities <span>(Step 4 of 6)</span></h1>
        <div id="optional-fields-message">How you complete jobs around the house, such as cleaning, cooking, gardening or house repairs.</div>

        <fieldset>
            <legend class="legend-label">Does your condition or injury affect how you perform jobs around the house?</legend>
            <div class="radio-toggle">
                <label class="on label-left" for="house-jobs-yes"><input id="house-jobs-yes" type="radio" name="house-jobs"><span>Yes</span></label>
                <label class="off label-right" for="house-jobs-no"><input id="house-jobs-no" type="radio" name="house-jobs"><span>No</span></label>
            </div>
        </fieldset>

        <div class="form-group" style="display:none;" id="dropContainer1">
            <div class="form-group" style="display:none;" id="drop1">
                <fieldset>
                    <legend class="legend-label">Are there any jobs or activities around the house that you've stopped because of this?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="jobs-stopped-yes"><input id="jobs-stopped-yes" type="radio" name="jobs-stopped"><span>Yes</span></label>
                        <label class="off label-right" for="jobs-stopped-no"><input id="jobs-stopped-no" type="radio" name="jobs-stopped"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="drop2">
                <fieldset>
                    <legend class="legend-label">Are there any jobs or activities around the house that you find difficult to do or take longer than they used to?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="difficult-jobs-yes"><input id="difficult-jobs-yes" type="radio" name="difficult-jobs"><span>Yes</span></label>
                        <label class="off label-right" for="difficult-jobs-no"><input id="difficult-jobs-no" type="radio" name="difficult-jobs"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="drop3">
                <fieldset>
                    <legend class="legend-label">Because of your condition or injury, do you need help with usual jobs around the house, such as cleaning, cooking or gardening?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="jobs-help-yes"><input id="jobs-help-yes" type="radio" name="jobs-help"><span>Yes</span></label>
                        <label class="off label-right" for="jobs-help-no"><input id="jobs-help-no" type="radio" name="jobs-help"><span>No</span></label>
                    </div>
                </fieldset>
            </div>
        </div>

        <div id="moreinfo" style="display: none;">
            <h2>Rate the impact on your lifestyle using the scale below.</h2>
            <p class="sub-fields-message">For example, during her service, Lauren became an amputee and is in a wheelchair. She now depends on help to complete jobs around the house and garden. Because of her permanent impairment she has chosen 'may need help around the house'.</p>

            <fieldset>
                <div class="radio-toggle">
                    <label class="label-left" for="personal-rating-1"><input id="personal-rating-1" type="radio" name="personal-rating"><span>Sometimes affected</span></label>
                    <label class="label-middle" for="personal-rating-2"><input id="personal-rating-2" type="radio" name="personal-rating"><span>Difficulty with heavier tasks</span></label>
                    <label class="label-middle" for="personal-rating-3"><input id="personal-rating-3" type="radio" name="personal-rating"><span>Unable to do heavy tasks</span></label>
                    <label class="label-middle" for="personal-rating-4"><input id="personal-rating-4" type="radio" name="personal-rating"><span>Unable to do normal tasks</span></label>
                    <label class="label-middle" for="personal-rating-5"><input id="personal-rating-5" type="radio" name="personal-rating"><span>Limited to light tasks</span></label>
                    <label class="label-middle" for="personal-rating-6"><input id="personal-rating-6" type="radio" name="personal-rating"><span>May need help with tasks</span></label>
                    <label class="label-right" for="personal-rating-7"><input id="personal-rating-7" type="radio" name="personal-rating"><span>Need help with all tasks</span></label>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="uikit-text-input__label" for="textArea">Overall, how has your injury or condition affected how you manage jobs around your home?</label>
                    <textarea id="textArea" name="statementText" rows="8" placeholder="Tell us more about why you answered yes or no for these questions."></textarea>
                </div>
            </fieldset>
        </div>


        <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim3'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim1'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/pi-claim5'" disabled>Save and next</button>
            </div>
        </div>
        <% include ../partials/cancel-modal.ejs %>
    </div>

</main>

<% include ../../../global/partials/footer.ejs %>
<% include ../partials/panel-help.ejs %>

<script>

    // Progress percentage

    document.getElementById("percentage").style.width = "66.4%";

    var allOptionNames = [
        $("input[name=jobs-stopped]"),
        $("input[name=difficult-jobs]"),
        $("input[name=jobs-help]")];

    function changeProp(obj, prop, propVal) {
        $.each(obj, function(index, value) {
            value.prop(prop, propVal);
        });
    };

    // Show and hide options
    $( "#house-jobs-yes" ).click(function() {
        $( "#drop1, #dropContainer1" ).show("fast");
        $("#btnNext").prop('disabled', false);
        changeProp(allOptionNames, 'disabled', false);
    });
    $( "#house-jobs-no" ).click(function() {
        $( "#dropContainer1, #moreinfo" ).hide();
        $("#btnNext").prop('disabled', false);
        changeProp(allOptionNames, 'disabled', true);
        changeProp(allOptionNames, 'checked', false);
        $("#drop1, #drop2, #drop3, #moreinfo, #dropContainer1").hide();
    });

    $( "#jobs-stopped-yes, #jobs-stopped-no" ).click(function() {
        $( "#drop2" ).show("fast");
    });

    $( "#difficult-jobs-yes, #difficult-jobs-no" ).click(function() {
        $( "#drop3" ).show("fast");
    });

    $( "#jobs-help-yes, #jobs-help-no" ).click(function() {
        $( "#moreinfo" ).show("fast");
    });

</script>

</body>
</html>