<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Permanent Impairment | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
<% include ../../../global/partials/header-topbar.ejs %>
<% include ../../../global/partials/header-claims.ejs %>
<% include ../partials/help-button.ejs %>
<main>
    <div class="container" id="main-content">
        <div id="progressbar"><div id="percentage"></div></div>
        <h1>Recreational activities</h1>
        <div id="optional-fields-message">This could include:
            <ul>
                <li>going to the movies</li>
                <li>playing sport</li>
                <li>hobbies like camping or music</li>
                <li>reading or watching television</li>
                <li>volunteer work</li>
                <li>visiting or having friends visit.</li>
            </ul></div>

        <fieldset>
            <legend class="legend-label">Does your condition or injury affect your involvement in recreational activities?</legend>
            <div class="radio-toggle">
                <label class="on label-left" for="rec-act-yes"><input id="rec-act-yes" type="radio" name="recreation-activities"><span>Yes</span></label>
                <label class="off label-right" for="rec-act-no"><input id="rec-act-no" type="radio" name="recreation-activities"><span>No</span></label>
            </div>
        </fieldset>

        <div class="form-group" style="display:none;" id="dropContainer1">
            <div class="form-group" style="display:none;" id="drop1">
                <fieldset>
                    <legend class="legend-label">Have you given up any activities because of this?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="quit-act-yes"><input id="quit-act-yes" type="radio" name="quit-activities"><span>Yes</span></label>
                        <label class="off label-right" for="quit-act-no"><input id="quit-act-no" type="radio" name="quit-activities"><span>No</span></label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group" style="display:none;" id="drop2">
                <fieldset>
                    <legend class="legend-label">Do you experience any interference with recreational activities caused by your condition or injury?</legend>
                    <div class="radio-toggle">
                        <label class="on label-left" for="int-act-yes"><input id="int-act-yes" type="radio" name="interference-activities"><span>Yes</span></label>
                        <label class="off label-right" for="int-act-no"><input id="int-act-no" type="radio" name="interference-activities"><span>No</span></label>
                    </div>
                </fieldset>
            </div>
        </div>

        <fieldset>
            <div class="form-group">
                <label class="uikit-text-input__label" for="textArea">Overall, how has your injury or condition affected your involvement in recreational activities?</label>
                <textarea id="textArea" name="statementText" rows="8"></textarea>
            </div>
        </fieldset>

        <div id="optional-fields-message">Rate the impact on your lifestyle using the scale below, from 1 (unaffected) to 7 (extremely affected).</div>
        <p class="sub-fields-message">For example, Sonia suffers from depression and can only speak to her partner. She believes her depression
            severely impacts the way she can relate to anyone else outside of her immediate family. Her rating is 5.</p>
        <fieldset>
            <div class="radio-toggle">
                <label class="label-left" for="recreational-rating-1"><input id="recreational-rating-1" type="radio" name="recreational-rating"><span>One</span></label>
                <label class="label-middle" for="recreational-rating-2"><input id="recreational-rating-2" type="radio" name="recreational-rating"><span>Two</span></label>
                <label class="label-middle" for="recreational-rating-3"><input id="recreational-rating-3" type="radio" name="recreational-rating"><span>Three</span></label>
                <label class="label-middle" for="recreational-rating-4"><input id="recreational-rating-4" type="radio" name="recreational-rating"><span>Four</span></label>
                <label class="label-middle" for="recreational-rating-5"><input id="recreational-rating-5" type="radio" name="recreational-rating"><span>Five</span></label>
                <label class="label-middle" for="recreational-rating-6"><input id="recreational-rating-6" type="radio" name="recreational-rating"><span>Six</span></label>
                <label class="label-right" for="recreational-rating-7"><input id="recreational-rating-7" type="radio" name="recreational-rating"><span>Seven</span></label>
            </div>
        </fieldset>


        <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim2'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim1'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" onclick="window.location.href = '/pi-claim4'">Save and next</button>
            </div>
        </div>
        <% include ../partials/cancel-modal.ejs %>
    </div>

</main>

<% include ../../../global/partials/footer.ejs %>
<% include ../partials/panel-help.ejs %>

<script>

    // Progress percentage

    document.getElementById("percentage").style.width = "40%";

    // Show and hide options
    $( "#rec-act-yes" ).click(function() {
        $( "#dropContainer1" ).show("fast");
        $( "#drop1" ).show("fast");
    });
    $( "#rec-act-no" ).click(function() {
        $( "#dropContainer1" ).hide();
    });

    $( "#quit-act-yes, #quit-act-no" ).click(function() {
        $( "#drop2" ).show("fast");
    });


</script>

</body>
</html>