<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Lifestyle Questionnaire, Review and Submit | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar.ejs %>
        <% include ../../../global/partials/header-claims.ejs %>
            <% include ../partials/help-button.ejs %>
                <main>
                    <div id="main-content" class="section-feature border-bottom--mild">
                        <div class="container">
                            <h1 class="margin-below--none margin-above--none">
                                <span class="heading">Review and submit</span>
                            </h1>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 margin-above--large">
                                <h2>
                                    <img src="../../../../docs/images/ico-folder.svg"> You have chosen for DVA to make a decision based only on your medical reports.</h2>
                                <p>This means we will give you a Lifestyle Rating based on your the medical reports provided
                                    for your accepted conditions. A Lifestyle Rating is an average score assessing how your
                                    lifestyle has been affected by your conditions. It helps us determine your level of impairment
                                    and your compensation.
                                </p>

                                <p>If you would like DVA to make a decision for you, click
                                    <b>submit</b> if you would like proceed.</p>


                                <p>Otherwise, it's not too late to
                                    <a href="/pi-lsq-claim1">complete a Lifestyle Questionnaire</a> and tell us how your impairment is impacting your
                                    life.
                                </p>


                            </div>
                        </div>

                        <div class="pagination">
                            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-lsq-start'">Previous</button>
                            <div class="floated">
                                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth?user=LSQuser'">Save and exit</button>&nbsp;
                                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/pi-lsq-claim7'">Submit</button>
                            </div>
                        </div>
                        <% include ../partials/cancel-modal.ejs %>
                    </div>

                </main>

                <% include ../../../global/partials/footer.ejs %>
                    <% include ../partials/panel-help.ejs %>

                        <script>

                        </script>

</body>

</html>