<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Permanent Impairment Review | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
<% include ../../../global/partials/header-topbar.ejs %>
<% include ../../../global/partials/header-claims.ejs %>
<% include ../partials/help-button.ejs %>
<main>
    <div class="container" id="main-content">
        <div id="progressbar"><div id="percentage"></div></div>
        <h1>Review and submit</h1>
        <table class="cover-detail">
            <caption>Personal <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/pi-claim1'">Change</button></caption>

            <thead>
            <tr>
                <th>Are your personal relationships affected?</th>
                <td>Yes</td>
            </tr>
            </thead>
            <tbody>
            <!-- Only show if above answer is 'Yes' -->
            <tr>
                <th>Does your impairment affect your family life?</th>
                <td>Yes</td>
            </tr>
            <tr>
                <th>Does your impairment affect your relationship with your partner or spouse?</th>
                <td>No</td>
            </tr>
            <tr>
                <th>Does your impairment affect your sexual feelings or abilities?</th>
                <td>No</td>
            </tr>
            <tr>
                <th>Have your social interactions changed?</th>
                <td>No</td>
            </tr>
            <tr>
                <th>Does your medication have an impact on your personal relationships?</th>
                <td>No</td>
            </tr>
            <tr>
                <th>Please tell us how your impairment impacts your personal relationships</th>
                <td>Lorem ipsum</td>
            </tr>
            <!-- //Only show if above answer is 'Yes' -->
            </tbody>
        </table>


        <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim4'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim1'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" onclick="window.location.href = '/pi-submitted'">Submit claim</button>
            </div>
        </div>
        <% include ../partials/cancel-modal.ejs %>
    </div>

</main>

<% include ../../../global/partials/footer.ejs %>
<% include ../partials/panel-help.ejs %>

<script>

    // Progress percentage

    document.getElementById("percentage").style.width = "100%";


</script>

</body>
</html>