<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Add claim: Permanent Impairment Review | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
<% include ../../../global/partials/header-topbar.ejs %>
<% include ../../../global/partials/header-claims.ejs %>
<% include ../partials/help-button.ejs %>
<main>
    <div class="container" id="main-content">
        <div id="progressbar"><div id="percentage"></div></div>
        <h1>Review and submit</h1>
        <div id="optional-fields-message">Please review the responses you have given and feel free to make any adjustments necessary. Once you
        are happy with the result, please submit the form and a delegate with be in touch about the next steps.</div>

        <h2>Personal <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '/pi-claim1'">Edit</button></h2>

        <fieldset>
            <legend class="legend-label">Does your condition or injury affect how you relate to other people?</legend>
            <input type="text" name="personal-rel-affected" id="personal-rel-affected" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does it affect your family life?</legend>
            <input type="text" name="fam-life-affected" id="fam-life-affected" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does it affect your relationship with your partner?</legend>
            <input type="text" name="partner-spouse-rel" id="partner-spouse-rel" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does it affect your sexual feelings or ability?</legend>
            <input type="text" name="sexual-feelings-abilities" id="sexual-feelings-abilities" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does it affect your social life?</legend>
            <input type="text" name="social-interactions" id="social-interactions" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Has there been a change in your relationships due to any medication or treatment?</legend>
            <input type="text" name="med-impact" id="med-impact" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you now find it difficult to talk about your problems with other people?</legend>
            <input type="text" name="talk-problems" id="talk-problems" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does your mood now make it harder to get along with other people?</legend>
            <input type="text" name="mood" id="mood" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does your mood now make it harder to get along with other people?</legend>
            <textarea id="textArea" name="statementText" rows="8" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis mattis nibh. Quisque nunc sapien, porttitor vitae eleifend a, viverra sed elit. Donec vulputate quam in fringilla eleifend. Duis id elementum elit, malesuada tincidunt nibh. Donec sem purus, interdum eget enim a, ultrices porttitor magna. Nunc ac libero metus. Etiam ac risus dignissim, ornare quam eget, porta nulla. Fusce id vulputate massa, vel cursus nibh.

Nulla ipsum odio, sodales sed ullamcorper non, congue ut mi. Etiam id auctor massa, mattis mollis massa. Phasellus faucibus rutrum eros, vitae commodo tortor mattis eu. Nulla cursus dolor ut dolor tempus elementum. Morbi pharetra et nunc non eleifend. Vestibulum facilisis euismod fermentum. Sed eget elit rutrum enim tristique congue sit amet non nisl. Maecenas cursus convallis nisi ac volutpat. In ut urna tincidunt, interdum dui rhoncus, lobortis mi. Nullam ornare nisi eu ante faucibus mollis. Proin enim lacus, porta vitae erat nec, dapibus accumsan justo. Praesent pellentesque iaculis diam nec vehicula. Phasellus bibendum quis elit ut lacinia. In magna turpis, lacinia eu feugiat sed, ullamcorper at erat. Aenean a hendrerit sapien, eget consequat dolor. Donec tortor velit, faucibus vitae felis nec, consequat pellentesque risus.

Integer dictum odio vel orci vehicula ornare. In hac habitasse platea dictumst. Vivamus ut rutrum ex, non ultricies orci. Proin fringilla ac nunc vitae scelerisque. Nulla quis luctus justo, et efficitur tortor. Sed faucibus quam sed eleifend dignissim. Cras ut turpis sit amet mi euismod bibendum vel eget orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras tincidunt dui eget magna vestibulum, non tempus quam vestibulum. Maecenas et dignissim diam, sed sodales eros. Praesent ullamcorper dui a molestie semper. Phasellus tincidunt bibendum urna eget blandit. Donec interdum elit id tincidunt ultrices. Donec blandit magna non dui bibendum faucibus.

Nulla ultricies maximus viverra. Etiam id turpis non diam venenatis gravida et a tortor. Suspendisse nec dui justo. Mauris sit amet nulla eu tellus tempor pharetra a in magna. Nullam euismod augue vitae purus rhoncus fermentum. Suspendisse potenti. Phasellus molestie risus ipsum. Praesent in semper ante. Sed bibendum orci in dolor pharetra tempus. Nulla ultrices semper pulvinar. Nunc quis risus varius, pellentesque ex non, elementum quam. Fusce neque ex, vulputate ac mi at, sollicitudin laoreet lorem. Nam quis diam ornare lectus vehicula iaculis non ut quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nulla facilisi. Integer magna dolor, congue ut blandit ut, suscipit a nulla. Curabitur rutrum, odio nec tristique dignissim, erat velit scelerisque elit, non pretium arcu ipsum quis dui. Vestibulum in nisl a quam laoreet mollis vitae non lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare velit sodales arcu interdum semper. Mauris facilisis tortor quis malesuada facilisis. Nulla vel ex tortor. Suspendisse potenti. Aenean eu gravida massa.</textarea>
        </fieldset>

        <fieldset>
            <legend class="legend-label">You indicated that your injury or condition does not affect your personal relationships.</legend>
            <div class="radio-toggle disabled">
                <label class="label-left" for="personal-rating-1"><input id="personal-rating-1" type="radio" disabled name="personal-rating" checked><span>One</span></label>
                <label class="label-middle" for="personal-rating-2"><input id="personal-rating-2" type="radio" disabled name="personal-rating"><span>Two</span></label>
                <label class="label-middle" for="personal-rating-3"><input id="personal-rating-3" type="radio" disabled name="personal-rating"><span>Three</span></label>
                <label class="label-middle" for="personal-rating-4"><input id="personal-rating-4" type="radio" disabled name="personal-rating"><span>Four</span></label>
                <label class="label-middle" for="personal-rating-5"><input id="personal-rating-5" type="radio" disabled name="personal-rating"><span>Five</span></label>
                <label class="label-middle" for="personal-rating-6"><input id="personal-rating-6" type="radio" disabled name="personal-rating"><span>Six</span></label>
                <label class="label-right" for="personal-rating-7"><input id="personal-rating-7" type="radio" disabled name="personal-rating"><span>Seven</span></label>
            </div>
        </fieldset>

        <h2>Mobility <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '/pi-claim2'">Edit</button></h2>

        <fieldset>
            <legend class="legend-label">Do you have any problems getting around due to physical conditions or injuries?</legend>
            <input type="text" name="physical-mobility" id="physical-mobility" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you have trouble with certain exercises such as running, walking or skipping?</legend>
            <input type="text" name="exercises" id="exercises" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you need the help of an aid such as a walking stick or wheelchair?</legend>
            <input type="text" name="require-aids" id="require-aids" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you need household fittings to help you with your physical mobility?</legend>
            <input type="text" name="house-fittings" id="house-fittings" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you need personal assistance to help you move around?</legend>
            <input type="text" name="move-assistance" id="move-assistance" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you need household assistance now with activities that you could previously perform?</legend>
            <input type="text" name="house-assistance" id="house-assistance" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you have any challenges driving a car?</legend>
            <input type="text" name="car-challenge" id="car-challenge" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you need help to travel on public transport?</legend>
            <input type="text" name="pub-transport" id="pub-transport" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Are you restricted to a room or a chair?</legend>
            <input type="text" name="restricted" id="restricted" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do these restrictions affect your family?</legend>
            <input type="text" name="restrictions-fam" id="restrictions-fam" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you have any problems getting around due to psychological conditions?</legend>
            <input type="text" name="psych-mobility" id="psych-mobility" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you find it difficult to leave the house due to these psychological conditions?</legend>
            <input type="text" name="psych-house" id="psych-house" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do these psychological conditions have an affect on your family?</legend>
            <input type="text" name="psych-family" id="psych-family" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does your mood now make it harder to get along with other people?</legend>
            <textarea id="textArea" name="statementText" rows="8" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis mattis nibh. Quisque nunc sapien, porttitor vitae eleifend a, viverra sed elit. Donec vulputate quam in fringilla eleifend. Duis id elementum elit, malesuada tincidunt nibh. Donec sem purus, interdum eget enim a, ultrices porttitor magna. Nunc ac libero metus. Etiam ac risus dignissim, ornare quam eget, porta nulla. Fusce id vulputate massa, vel cursus nibh.

Nulla ipsum odio, sodales sed ullamcorper non, congue ut mi. Etiam id auctor massa, mattis mollis massa. Phasellus faucibus rutrum eros, vitae commodo tortor mattis eu. Nulla cursus dolor ut dolor tempus elementum. Morbi pharetra et nunc non eleifend. Vestibulum facilisis euismod fermentum. Sed eget elit rutrum enim tristique congue sit amet non nisl. Maecenas cursus convallis nisi ac volutpat. In ut urna tincidunt, interdum dui rhoncus, lobortis mi. Nullam ornare nisi eu ante faucibus mollis. Proin enim lacus, porta vitae erat nec, dapibus accumsan justo. Praesent pellentesque iaculis diam nec vehicula. Phasellus bibendum quis elit ut lacinia. In magna turpis, lacinia eu feugiat sed, ullamcorper at erat. Aenean a hendrerit sapien, eget consequat dolor. Donec tortor velit, faucibus vitae felis nec, consequat pellentesque risus.

Integer dictum odio vel orci vehicula ornare. In hac habitasse platea dictumst. Vivamus ut rutrum ex, non ultricies orci. Proin fringilla ac nunc vitae scelerisque. Nulla quis luctus justo, et efficitur tortor. Sed faucibus quam sed eleifend dignissim. Cras ut turpis sit amet mi euismod bibendum vel eget orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras tincidunt dui eget magna vestibulum, non tempus quam vestibulum. Maecenas et dignissim diam, sed sodales eros. Praesent ullamcorper dui a molestie semper. Phasellus tincidunt bibendum urna eget blandit. Donec interdum elit id tincidunt ultrices. Donec blandit magna non dui bibendum faucibus.

Nulla ultricies maximus viverra. Etiam id turpis non diam venenatis gravida et a tortor. Suspendisse nec dui justo. Mauris sit amet nulla eu tellus tempor pharetra a in magna. Nullam euismod augue vitae purus rhoncus fermentum. Suspendisse potenti. Phasellus molestie risus ipsum. Praesent in semper ante. Sed bibendum orci in dolor pharetra tempus. Nulla ultrices semper pulvinar. Nunc quis risus varius, pellentesque ex non, elementum quam. Fusce neque ex, vulputate ac mi at, sollicitudin laoreet lorem. Nam quis diam ornare lectus vehicula iaculis non ut quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nulla facilisi. Integer magna dolor, congue ut blandit ut, suscipit a nulla. Curabitur rutrum, odio nec tristique dignissim, erat velit scelerisque elit, non pretium arcu ipsum quis dui. Vestibulum in nisl a quam laoreet mollis vitae non lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare velit sodales arcu interdum semper. Mauris facilisis tortor quis malesuada facilisis. Nulla vel ex tortor. Suspendisse potenti. Aenean eu gravida massa.</textarea>
        </fieldset>

        <fieldset>
            <legend class="legend-label">You indicated that your injury or condition does not affect your personal relationships.</legend>
            <div class="radio-toggle disabled">
                <label class="label-left" for="mobility-rating-1"><input id="mobility-rating-1" type="radio" disabled name="mobility-rating" checked><span>One</span></label>
                <label class="label-middle" for="mobility-rating-2"><input id="mobility-rating-2" type="radio" disabled name="mobility-rating"><span>Two</span></label>
                <label class="label-middle" for="mobility-rating-3"><input id="mobility-rating-3" type="radio" disabled name="mobility-rating"><span>Three</span></label>
                <label class="label-middle" for="mobility-rating-4"><input id="mobility-rating-4" type="radio" disabled name="mobility-rating"><span>Four</span></label>
                <label class="label-middle" for="mobility-rating-5"><input id="mobility-rating-5" type="radio" disabled name="mobility-rating"><span>Five</span></label>
                <label class="label-middle" for="mobility-rating-6"><input id="mobility-rating-6" type="radio" disabled name="mobility-rating"><span>Six</span></label>
                <label class="label-right" for="mobility-rating-7"><input id="mobility-rating-7" type="radio" disabled name="mobility-rating"><span>Seven</span></label>
            </div>
        </fieldset>

        <h2>Recreational activities <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '/pi-claim2'">Edit</button></h2>

        <fieldset>
            <legend class="legend-label">Does your condition or injury affect your involvement in recreational activities?</legend>
            <input type="text" name="recreation-activities" id="recreation-activities" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Have you given up any activities because of this?</legend>
            <input type="text" name="quit-activities" id="quit-activities" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Do you experience any interference with recreational activities caused by your condition or injury?</legend>
            <input type="text" name="interference-activities" id="interference-activities" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does your mood now make it harder to get along with other people?</legend>
            <textarea id="textArea" name="statementText" rows="8" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis mattis nibh. Quisque nunc sapien, porttitor vitae eleifend a, viverra sed elit. Donec vulputate quam in fringilla eleifend. Duis id elementum elit, malesuada tincidunt nibh. Donec sem purus, interdum eget enim a, ultrices porttitor magna. Nunc ac libero metus. Etiam ac risus dignissim, ornare quam eget, porta nulla. Fusce id vulputate massa, vel cursus nibh.

Nulla ipsum odio, sodales sed ullamcorper non, congue ut mi. Etiam id auctor massa, mattis mollis massa. Phasellus faucibus rutrum eros, vitae commodo tortor mattis eu. Nulla cursus dolor ut dolor tempus elementum. Morbi pharetra et nunc non eleifend. Vestibulum facilisis euismod fermentum. Sed eget elit rutrum enim tristique congue sit amet non nisl. Maecenas cursus convallis nisi ac volutpat. In ut urna tincidunt, interdum dui rhoncus, lobortis mi. Nullam ornare nisi eu ante faucibus mollis. Proin enim lacus, porta vitae erat nec, dapibus accumsan justo. Praesent pellentesque iaculis diam nec vehicula. Phasellus bibendum quis elit ut lacinia. In magna turpis, lacinia eu feugiat sed, ullamcorper at erat. Aenean a hendrerit sapien, eget consequat dolor. Donec tortor velit, faucibus vitae felis nec, consequat pellentesque risus.

Integer dictum odio vel orci vehicula ornare. In hac habitasse platea dictumst. Vivamus ut rutrum ex, non ultricies orci. Proin fringilla ac nunc vitae scelerisque. Nulla quis luctus justo, et efficitur tortor. Sed faucibus quam sed eleifend dignissim. Cras ut turpis sit amet mi euismod bibendum vel eget orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras tincidunt dui eget magna vestibulum, non tempus quam vestibulum. Maecenas et dignissim diam, sed sodales eros. Praesent ullamcorper dui a molestie semper. Phasellus tincidunt bibendum urna eget blandit. Donec interdum elit id tincidunt ultrices. Donec blandit magna non dui bibendum faucibus.

Nulla ultricies maximus viverra. Etiam id turpis non diam venenatis gravida et a tortor. Suspendisse nec dui justo. Mauris sit amet nulla eu tellus tempor pharetra a in magna. Nullam euismod augue vitae purus rhoncus fermentum. Suspendisse potenti. Phasellus molestie risus ipsum. Praesent in semper ante. Sed bibendum orci in dolor pharetra tempus. Nulla ultrices semper pulvinar. Nunc quis risus varius, pellentesque ex non, elementum quam. Fusce neque ex, vulputate ac mi at, sollicitudin laoreet lorem. Nam quis diam ornare lectus vehicula iaculis non ut quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nulla facilisi. Integer magna dolor, congue ut blandit ut, suscipit a nulla. Curabitur rutrum, odio nec tristique dignissim, erat velit scelerisque elit, non pretium arcu ipsum quis dui. Vestibulum in nisl a quam laoreet mollis vitae non lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare velit sodales arcu interdum semper. Mauris facilisis tortor quis malesuada facilisis. Nulla vel ex tortor. Suspendisse potenti. Aenean eu gravida massa.</textarea>
        </fieldset>

        <fieldset>
            <legend class="legend-label">You indicated that your injury or condition does not affect your personal relationships.</legend>
            <div class="radio-toggle disabled">
                <label class="label-left" for="recreational-rating-1"><input id="recreational-rating-1" type="radio" disabled name="recreational-rating" checked><span>One</span></label>
                <label class="label-middle" for="recreational-rating-2"><input id="recreational-rating-2" type="radio" disabled name="recreational-rating"><span>Two</span></label>
                <label class="label-middle" for="recreational-rating-3"><input id="recreational-rating-3" type="radio" disabled name="recreational-rating"><span>Three</span></label>
                <label class="label-middle" for="recreational-rating-4"><input id="recreational-rating-4" type="radio" disabled name="recreational-rating"><span>Four</span></label>
                <label class="label-middle" for="recreational-rating-5"><input id="recreational-rating-5" type="radio" disabled name="recreational-rating"><span>Five</span></label>
                <label class="label-middle" for="recreational-rating-6"><input id="recreational-rating-6" type="radio" disabled name="recreational-rating"><span>Six</span></label>
                <label class="label-right" for="recreational-rating-7"><input id="recreational-rating-7" type="radio" disabled name="recreational-rating"><span>Seven</span></label>
            </div>
        </fieldset>

        <h2>Domestic activities <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '/pi-claim2'">Edit</button></h2>

        <fieldset>
            <legend class="legend-label">Does your condition or injury affect how you perform jobs around the house?</legend>
            <input type="text" name="house-jobs" id="house-jobs" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Are there any jobs or activities around the house that you've stopped because of this?</legend>
            <input type="text" name="jobs-stopped" id="jobs-stopped" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Are there any jobs or activities around the house that you find difficult to do or take longer than they used to?</legend>
            <input type="text" name="difficult-jobs" id="difficult-jobs" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Because of your condition or injury, do you need help with usual jobs around the house, such as cleaning, cooking or gardening?</legend>
            <input type="text" name="jobs-help" id="jobs-help" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does your mood now make it harder to get along with other people?</legend>
            <textarea id="textArea" name="statementText" rows="8" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis mattis nibh. Quisque nunc sapien, porttitor vitae eleifend a, viverra sed elit. Donec vulputate quam in fringilla eleifend. Duis id elementum elit, malesuada tincidunt nibh. Donec sem purus, interdum eget enim a, ultrices porttitor magna. Nunc ac libero metus. Etiam ac risus dignissim, ornare quam eget, porta nulla. Fusce id vulputate massa, vel cursus nibh.

Nulla ipsum odio, sodales sed ullamcorper non, congue ut mi. Etiam id auctor massa, mattis mollis massa. Phasellus faucibus rutrum eros, vitae commodo tortor mattis eu. Nulla cursus dolor ut dolor tempus elementum. Morbi pharetra et nunc non eleifend. Vestibulum facilisis euismod fermentum. Sed eget elit rutrum enim tristique congue sit amet non nisl. Maecenas cursus convallis nisi ac volutpat. In ut urna tincidunt, interdum dui rhoncus, lobortis mi. Nullam ornare nisi eu ante faucibus mollis. Proin enim lacus, porta vitae erat nec, dapibus accumsan justo. Praesent pellentesque iaculis diam nec vehicula. Phasellus bibendum quis elit ut lacinia. In magna turpis, lacinia eu feugiat sed, ullamcorper at erat. Aenean a hendrerit sapien, eget consequat dolor. Donec tortor velit, faucibus vitae felis nec, consequat pellentesque risus.

Integer dictum odio vel orci vehicula ornare. In hac habitasse platea dictumst. Vivamus ut rutrum ex, non ultricies orci. Proin fringilla ac nunc vitae scelerisque. Nulla quis luctus justo, et efficitur tortor. Sed faucibus quam sed eleifend dignissim. Cras ut turpis sit amet mi euismod bibendum vel eget orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras tincidunt dui eget magna vestibulum, non tempus quam vestibulum. Maecenas et dignissim diam, sed sodales eros. Praesent ullamcorper dui a molestie semper. Phasellus tincidunt bibendum urna eget blandit. Donec interdum elit id tincidunt ultrices. Donec blandit magna non dui bibendum faucibus.

Nulla ultricies maximus viverra. Etiam id turpis non diam venenatis gravida et a tortor. Suspendisse nec dui justo. Mauris sit amet nulla eu tellus tempor pharetra a in magna. Nullam euismod augue vitae purus rhoncus fermentum. Suspendisse potenti. Phasellus molestie risus ipsum. Praesent in semper ante. Sed bibendum orci in dolor pharetra tempus. Nulla ultrices semper pulvinar. Nunc quis risus varius, pellentesque ex non, elementum quam. Fusce neque ex, vulputate ac mi at, sollicitudin laoreet lorem. Nam quis diam ornare lectus vehicula iaculis non ut quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nulla facilisi. Integer magna dolor, congue ut blandit ut, suscipit a nulla. Curabitur rutrum, odio nec tristique dignissim, erat velit scelerisque elit, non pretium arcu ipsum quis dui. Vestibulum in nisl a quam laoreet mollis vitae non lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare velit sodales arcu interdum semper. Mauris facilisis tortor quis malesuada facilisis. Nulla vel ex tortor. Suspendisse potenti. Aenean eu gravida massa.</textarea>
        </fieldset>

        <fieldset>
            <legend class="legend-label">You indicated that your injury or condition does not affect your personal relationships.</legend>
            <div class="radio-toggle disabled">
                <label class="label-left" for="domestic-rating-1"><input id="domestic-rating-1" type="radio" disabled name="domestic-rating" checked><span>One</span></label>
                <label class="label-middle" for="domestic-rating-2"><input id="domestic-rating-2" type="radio" disabled name="domestic-rating"><span>Two</span></label>
                <label class="label-middle" for="domestic-rating-3"><input id="domestic-rating-3" type="radio" disabled name="domestic-rating"><span>Three</span></label>
                <label class="label-middle" for="domestic-rating-4"><input id="domestic-rating-4" type="radio" disabled name="domestic-rating"><span>Four</span></label>
                <label class="label-middle" for="domestic-rating-5"><input id="domestic-rating-5" type="radio" disabled name="domestic-rating"><span>Five</span></label>
                <label class="label-middle" for="domestic-rating-6"><input id="domestic-rating-6" type="radio" disabled name="domestic-rating"><span>Six</span></label>
                <label class="label-right" for="domestic-rating-7"><input id="domestic-rating-7" type="radio" disabled name="domestic-rating"><span>Seven</span></label>
            </div>
        </fieldset>

        <h2>Employment <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '/pi-claim2'">Edit</button></h2>

        <fieldset>
            <legend class="legend-label">Does your condition or injury affect your ability to work?</legend>
            <input type="text" name="work-ability" id="work-ability" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Have you had to stop working because of this?</legend>
            <input type="text" name="work-stopped" id="work-stopped" value="No" disabled>
        </fieldset>

        <!-- // START The following only needs to be displayed if the answer above is "No" -->
        <fieldset>
            <legend class="legend-label">Are there things at work you can't do anymore because of your condition or injury?</legend>
            <input type="text" name="tasks-stopped" id="tasks-stopped" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Have you had to make any changes at work so that you can complete your job?</legend>
            <input type="text" name="work-changes" id="work-changes" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Have you had to change your duties?</legend>
            <input type="text" name="duties-changed" id="duties-changed" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Have you had to take time off?</legend>
            <input type="text" name="time-off" id="time-off" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Have you changed the number of hours you work?</legend>
            <input type="text" name="work-hours" id="work-hours" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Have you had to make modifications to your work environment?</legend>
            <input type="text" name="environment-mods" id="environment-mods" value="Yes" disabled>
        </fieldset>
        <!-- // END The following only needs to be displayed if the answer above is "No" -->

        <fieldset>
            <legend class="legend-label">Are you currently looking for work?</legend>
            <input type="text" name="work-looking" id="work-looking" value="No" disabled>
        </fieldset>

        <!-- // START The following only needs to be displayed if the answer above is "No" -->
        <fieldset>
            <legend class="legend-label">Would you like to work in the future?</legend>
            <input type="text" name="work-future" id="work-future" value="Yes" disabled>
        </fieldset>
        <!-- // END The following only needs to be displayed if the answer above is "No" -->

        <fieldset>
            <legend class="legend-label">Are you currently involved in a DVA return to work program?</legend>
            <input type="text" name="return-program" id="return-program" value="Yes" disabled>
        </fieldset>

        <fieldset>
            <legend class="legend-label">Does your mood now make it harder to get along with other people?</legend>
            <textarea id="textArea" name="statementText" rows="8" disabled>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis mattis nibh. Quisque nunc sapien, porttitor vitae eleifend a, viverra sed elit. Donec vulputate quam in fringilla eleifend. Duis id elementum elit, malesuada tincidunt nibh. Donec sem purus, interdum eget enim a, ultrices porttitor magna. Nunc ac libero metus. Etiam ac risus dignissim, ornare quam eget, porta nulla. Fusce id vulputate massa, vel cursus nibh.

Nulla ipsum odio, sodales sed ullamcorper non, congue ut mi. Etiam id auctor massa, mattis mollis massa. Phasellus faucibus rutrum eros, vitae commodo tortor mattis eu. Nulla cursus dolor ut dolor tempus elementum. Morbi pharetra et nunc non eleifend. Vestibulum facilisis euismod fermentum. Sed eget elit rutrum enim tristique congue sit amet non nisl. Maecenas cursus convallis nisi ac volutpat. In ut urna tincidunt, interdum dui rhoncus, lobortis mi. Nullam ornare nisi eu ante faucibus mollis. Proin enim lacus, porta vitae erat nec, dapibus accumsan justo. Praesent pellentesque iaculis diam nec vehicula. Phasellus bibendum quis elit ut lacinia. In magna turpis, lacinia eu feugiat sed, ullamcorper at erat. Aenean a hendrerit sapien, eget consequat dolor. Donec tortor velit, faucibus vitae felis nec, consequat pellentesque risus.

Integer dictum odio vel orci vehicula ornare. In hac habitasse platea dictumst. Vivamus ut rutrum ex, non ultricies orci. Proin fringilla ac nunc vitae scelerisque. Nulla quis luctus justo, et efficitur tortor. Sed faucibus quam sed eleifend dignissim. Cras ut turpis sit amet mi euismod bibendum vel eget orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras tincidunt dui eget magna vestibulum, non tempus quam vestibulum. Maecenas et dignissim diam, sed sodales eros. Praesent ullamcorper dui a molestie semper. Phasellus tincidunt bibendum urna eget blandit. Donec interdum elit id tincidunt ultrices. Donec blandit magna non dui bibendum faucibus.

Nulla ultricies maximus viverra. Etiam id turpis non diam venenatis gravida et a tortor. Suspendisse nec dui justo. Mauris sit amet nulla eu tellus tempor pharetra a in magna. Nullam euismod augue vitae purus rhoncus fermentum. Suspendisse potenti. Phasellus molestie risus ipsum. Praesent in semper ante. Sed bibendum orci in dolor pharetra tempus. Nulla ultrices semper pulvinar. Nunc quis risus varius, pellentesque ex non, elementum quam. Fusce neque ex, vulputate ac mi at, sollicitudin laoreet lorem. Nam quis diam ornare lectus vehicula iaculis non ut quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nulla facilisi. Integer magna dolor, congue ut blandit ut, suscipit a nulla. Curabitur rutrum, odio nec tristique dignissim, erat velit scelerisque elit, non pretium arcu ipsum quis dui. Vestibulum in nisl a quam laoreet mollis vitae non lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare velit sodales arcu interdum semper. Mauris facilisis tortor quis malesuada facilisis. Nulla vel ex tortor. Suspendisse potenti. Aenean eu gravida massa.</textarea>
        </fieldset>

        <fieldset>
            <legend class="legend-label">You indicated that your injury or condition does not affect your personal relationships.</legend>
            <div class="radio-toggle disabled">
                <label class="label-left" for="employment-rating-1"><input id="employment-rating-1" type="radio" disabled name="employment-rating" checked><span>One</span></label>
                <label class="label-middle" for="employment-rating-2"><input id="employment-rating-2" type="radio" disabled name="employment-rating"><span>Two</span></label>
                <label class="label-middle" for="employment-rating-3"><input id="employment-rating-3" type="radio" disabled name="employment-rating"><span>Three</span></label>
                <label class="label-middle" for="employment-rating-4"><input id="employment-rating-4" type="radio" disabled name="employment-rating"><span>Four</span></label>
                <label class="label-middle" for="employment-rating-5"><input id="employment-rating-5" type="radio" disabled name="employment-rating"><span>Five</span></label>
                <label class="label-middle" for="employment-rating-6"><input id="employment-rating-6" type="radio" disabled name="employment-rating"><span>Six</span></label>
                <label class="label-right" for="employment-rating-7"><input id="employment-rating-7" type="radio" disabled name="employment-rating"><span>Seven</span></label>
            </div>
        </fieldset>

        <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim4'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/pi-claim1'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" onclick="window.location.href = '/pi-submitted'">Submit claim</button>
            </div>
        </div>
        <% include ../partials/cancel-modal.ejs %>
    </div>

</main>

<% include ../../../global/partials/footer.ejs %>
<% include ../partials/panel-help.ejs %>

<script>

    // Progress percentage

    document.getElementById("percentage").style.width = "100%";


</script>

</body>
</html>