<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-authenticated.ejs %>
  <main>
    <section>
      <div id="main-content" class="section-feature section-feature--bg margin-above--none padding-above--mid padding-below--mid">
        <div class="container">
          <h1 class="margin-below--small margin-above--small">
            <span class="heading">Representative agreements</span>
          </h1>

          <div class="skip-link padding-above--none
              small-handheld-skip">
            <button class="uikit-btn uikit-btn--tertiary margin-below" id="claim-activity-link">See all claims</button>
          </div>
        </div>
      </div>
      </div>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <h2>
          These are the people you represent abc xyz etc
        </h2>
        <section class="widget">

          <div class="row widget-content widget--justclaims">
            <div class="col-md-12">
              <table class="table-claims table-responsive">
                <thead>
                  <tr>
                    <th class="widget-activity">Representees</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                </thead>
                <!-- Show this initially ('show-instance-action-required')
                  and the one below ('show-instance-withdrawn') after it is withdrawn-->

                <tr class="status-action-required show-instance-action-required">
                <tr>
                  <td>
                    <p class="status-icon status-submitted">
                      John Wilson<span><strong><em>&nbsp;Roles tags go here</em></strong></span>
                      <br />
                      <span>Status here
                        <em>&ndash; 10 January 2019</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/viewServicePensionDetail'">View</button>
                  </td>
                </tr>
                <td>
                  <p class="status-icon status-in-progress">
                    Mary Jones<span><strong><em>&nbsp;Roles tags go here</em></strong></span>
                    <br />
                    <span>Status here
                      <em>&ndash; 27 April 2018</em>
                    </span>
                  </p>
                </td>
                <td class="widget-actions">
                  <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'updateClaimInProgress'">Upload</button>
                  <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimInProgress'">View</button>
                  <button class="uikit-btn small uikit-btn--tertiary" id="button-withdrawclaimmodal">Withdraw</button>
                </td>
                </tr>

                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      Alice Thompson<span><strong><em>&nbsp;Roles tags go here</em></strong></span>
                      <br />
                      <span>AStatus here
                        <em>&ndash; 3 May 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'qs-claimdetail'">Manage</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-incomplete">
                      Jane Benson<span><strong><em>&nbsp;Roles tags go here</em></strong></span>
                      <br />
                      <span>Status here
                        <em>&ndash; 27 April 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'afi-claim1'">Resume</button>
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Withdraw</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="status-icon status-rejected">
                      Peter Smith<span><strong><em>&nbsp;Roles tags go here</em></strong></span>
                      <br />
                      <span>Status here
                        <em>&ndash; 27 April 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimRejected'">View</button>
                  </td>
                </tr>
                <tr class="show-instance-withdrawn">
                  <td>
                    <p class="status-icon status-withdrawn">
                      Harold Townsend<span><strong><em>&nbsp;Roles tags go here</em></strong></span>
                      <br />
                      <span>Status here
                        <em>&ndash; 3 Jan 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewClaimWithdrawn'">View</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>


        </section>

        <% include ../partials/dhoas-start-modal.ejs %>

      </div>

    </section>
  </main>
  <% include ../../../global/partials/footer.ejs %>

  <script>
    $(".toggle-arrow").click(function () {
      $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
    });

    function goToByScroll(id) {
      id = id.replace("-link", "");
      $('html,body').animate({
        scrollTop: $("#" + id).offset().top
      },
        'slow');
    }
    $("#claim-activity-link").click(function (e) {
      e.preventDefault();
      goToByScroll($(this).attr("id"));
    });


    $("#entitlements").change(function () {
      if ($('#entitlements :selected').val() == "veterancard") {
        $("#entitlement-vc").removeClass('action-group__reveal--closed');
        $("#entitlement-vc").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-vc").removeClass('action-group__reveal--open');
        $("#entitlement-vc").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "mentalhealth") {
        $("#entitlement-mh").removeClass('action-group__reveal--closed');
        $("#entitlement-mh").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-mh").removeClass('action-group__reveal--open');
        $("#entitlement-mh").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "education") {
        $("#entitlement-student").removeClass('action-group__reveal--closed');
        $("#entitlement-student").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-student").removeClass('action-group__reveal--open');
        $("#entitlement-student").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "incap") {
        $("#entitlement-incap").removeClass('action-group__reveal--closed');
        $("#entitlement-incap").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-afi").removeClass('action-group__reveal--open');
        $("#entitlement-afi").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "afi") {
        $("#entitlement-afi").removeClass('action-group__reveal--closed');
        $("#entitlement-afi").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-afi").removeClass('action-group__reveal--open');
        $("#entitlement-afi").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "dhoas") {
        $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--closed');
        $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--open');
        $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "sp") {
        $("#entitlement-sp").removeClass('action-group__reveal--closed');
        $("#entitlement-sp").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-sp").removeClass('action-group__reveal--open');
        $("#entitlement-sp").addClass('action-group__reveal--closed');
      }
    });
  </script>

</body>


</html>