<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Before you start | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

        <!-- Page heading -->
        <h1 class="ss-align--center">
          <span class="heading">Before you get started</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <p class="text-fullwidth ss-align--center margin-above--large"><strong>Are the following details up to date?</strong> <br> If unsure then review before continuing.</p>

            <!-- <p class="text-fullwidth ss-align--center">You can update your contact details in
              <a href="/profile-contact">My profile</a>
            </p> -->

            <div class="container margin-below--extra">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

                  <div class="profile-table">
                    <div class="row profile-row">
                      <div class="col-sm-12 description-fields">
                        <div class="row">
                          <div class="col-sm-6 col-md-5 title-field">Personal details</div>
                          <div class="col-sm-6 col-md-7">
                            <span class="text-float-right"> (last updated 23/08/2018)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row profile-row">
                      <div class="col-sm-12 description-fields">
                        <div class="row">
                          <div class="col-sm-6 col-md-5 title-field">Contact details</div>
                          <div class="col-sm-6 col-md-7">
                            <span class="text-float-right">(last updated 23/08/2018)</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row profile-row">
                      <div class="col-sm-12 description-fields">
                        <div class="row">
                          <div class="col-sm-6 col-md-5 title-field">Bank details</div>
                          <div class="col-sm-6 col-md-7">
                            <span class="text-float-right"> (last updated 15/05/2016)</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- <div class="ss-align--center display-block padding-above padding-below">
                    <div class="display-inline-block">Name</div>
                    <div class="display-inline-block">Robert Johnson</div>
                  </div> -->

                </div>
              </div>
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 margin-above--extra">
                  <div class="pagination ss-align--center">
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile-contact'">Review my details</button>
                    <button class="uikit-btn uikit-btn--primary" onclick="window.location.href = '/sp-progress-a'">Next</button>
                  </div>
                </div>
              </div>
            </div>



          </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../partials/cancel-modal.ejs %>
      <% include ../../../global/partials/footer.ejs %>


        <script>
        </script>


</body>

</html>