<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Payment details | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <main id="main-content">
        <div class="container">
          <div id="progressbar">
            <div id="percentage">
              <p id="percentage_value"></p>
            </div>
          </div>

          <h1>
            <span class="heading">Payment details</span>
          </h1>
          <h2 class="margin-above--large">
            <span class="font-weight-heavy">Payment details information</span>
          </h2>
          <div class="bank-details-container">
            <div class="col-xs-12 col-sm-8 col-lg-6 boxed">
              <% include ../../../global/partials/bank-account-details.ejs %>
            </div>
          </div>

          <!-- bottom page navigation -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-claim-contact'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Save and exit</button>
              <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-financial-details'">Save and next</button>
            </div>
          </div>
          <% include ../partials/cancel-modal.ejs %>
        </div>

      </main>

      <% include ../../../global/partials/footer.ejs %>


        <script>

          // Progress percentage
          document.getElementById("percentage").style.width = "60%";
          document.getElementById("percentage_value").textContent = "60%";

        </script>


</body>

</html>