<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Service Pension - Personal assets | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-NJXGk7R+8gWGBdutmr+/d6XDokLwQhF1U3VA7FhvBDlOq7cNdI69z7NQdnXxcF7k" crossorigin="anonymous">
    <style>
        /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: absolute;
        /* Stay in place */
        z-index: 2;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: none;
        /* Enable scroll if needed */
    }

    .modalbg {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: none;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.6);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        border-radius: .3em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #ffffff;
        margin: 7% auto;
        /* 15% from the top and centered */
        padding: 30px;
        border: 1px solid #888;
        width: 680px;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* key value grid */
    .key-value {
        clear: both;
    }

    .key {
        float: left;
        width: 150px;
    }

    .key h4 {
        margin: 0;
    }

    .value {
        float: left;
        width: 300px;
    }
    </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar-new.ejs %>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="container margin-above--none">
                <!-- Progress bar -->
                <div class="col-md-12">
                    <nav>
                        <ul class="progress-container">
                            <li class="progress-step progress-step--done">
                                <a href="sp-c1-financial-assets">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Financial assets</p></a>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="sp-c2-personal-assets">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Personal assets</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step--active">
                                <a href="sp-c3-real-estate">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Real estate</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c4-income">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Income</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c5-payments">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Payments</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c6-superannuation">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Superannuation</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step--last">
                                <a href="sp-c7-other-items">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Other items</p>
                  </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Page heading -->
            <h1 class="margin-above--none ss-align--center"><span class="heading">Personal assets</span></h1>
        </div>
        <section>
            <div class="container margin-above margin-below--extra">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 margin-below--large">
                        <hr class="margin-below--none">
                        <div>
                            <h2 class="margin-above--none" style="float; left; width: 400px; display: inline-block;" ><icon class="fal fa-list-alt" style="font-size: 1.3em; vertical-align: -15%;"></icon>&nbsp;&nbsp;My personal assets</h2>
                            <div id="add-anchor-link-return" style="cursor: pointer; float:right; display: none;">
                                <p style="margin-top: 10px;">
                                    <icon class="fal fa-plus-circle" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;Add another asset
                                </p>
                            </div>
                        </div>
                        <div id="add-anchor-link-start" style="cursor: pointer;">
                            <p class="margin-above--extra ss-align--center">
                                <icon class="fal fa-plus-circle" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;Add asset
                            </p>
                        </div>
                        <!-- summary start -->
                        <div id="home-contents-1-summary" class="plain-text-info" style="display:none;">
                            <div class="review__wrapper">
                                <div class="review__content--item boxed row">
                                    <div class="review__content--label col-sm-10">
                                        <h2 class="margin-above--none" ><icon class="fal fa-couch" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Home contents</span></h2>
                                        <div class="key-value-group margin-above">
                                            <div class="key"><h4>Market value</h4>
                                            </div>
                                            <div class="value">$28,000.00
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit">&nbsp;Edit &nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- summary end -->
                        <!-- card start -->
                        <div id="home-contents-1-start" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-couch" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Home contents</span></h2>
                            <div id="card-details" class="margin-below--large">
                                <div id="sp-c1-gift-b">
                                    <div class="form-group margin-above--large">
                                        <label class="uikit-text-input__label" for="tags">What is the market value of your home contents? <BR /><span class="hint">The amount you would get if you attempted to sell your home content. It is not the replacement or insured value. The value will be set at $10,000 if you leave this blank.</span></label>
                                        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="home-contents-1-start-add">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-start-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="home-contents-1-edit" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-couch" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Home contents</span></h2>
                            <div id="card-details" class="margin-below--large">
                                <div id="sp-c1-gift-b">
                                    <div class="form-group margin-above--large">
                                        <label class="uikit-text-input__label" for="tags">What is the market value of your home contents? <BR /><span class="hint">The amount you would get if you attempted to sell your home content. It is not the replacement or insured value. The value will be set at $10,000 if you leave this blank.</span></label>
                                        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="$28,000.00" required aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="home-contents-1-edit-add">&nbsp;&nbsp;&nbsp; Update &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-edit-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <div id="add-options">
                            <hr>
                            <h2 id="add-options" class="margin-above--none margin-below--none ss-align--center"><span class="font-weight-heavy">Personal assets</span></h2>
                            <span class="hint display-block ss-align--center">Add your personal assets so we can calculate your payments.</span>
                            <div class="flex-container flex-container--wrap hover-container">
                                <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
                                    <a class="card-container">
                    <h2 class="card__title"><icon class="fal fa-umbrella" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;
                      <span class="font-weight-heavy">Life insurance</span>
                    </h2>
                    <p class="card__supporting-text text-fullwidth">Conventional life insurance, whole of life, endowment and pure endowment policies.</p>
                    <div class="card__button">
                      <button class="uikit-btn uikit-btn--tertiary small">Add
                      </button>
                    </div>
                  </a>
                                </div>
                                <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
                                    <a class="card-container">
                    <h2 class="card__title"><icon class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;
                      <span class="font-weight-heavy">Vehicles</span>
                    </h2>
                    <p class="card__supporting-text text-fullwidth">Cars, trucks, trailers, caravans, motorbikes, boats etc.</p>
                    <div class="card__button">
                      <button class="uikit-btn uikit-btn--tertiary small">Add
                      </button>
                    </div>
                  </a>
                                </div>
                                <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="sp-c3-home-contents-add">
                                    <a class="card-container">
                                        <h2 class="card__title">
                                            <icon class="fal fa-couch" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;
                                            <span class="font-weight-heavy">Home contents</span>
                                        </h2>
                                        <p class="card__supporting-text text-fullwidth">The market value of your home contents.</p>
                                        <div class="card__button">
                                            <button class="uikit-btn uikit-btn--tertiary small">Add</button>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
                                    <a class="card-container">
                    <h2 class="card__title">
                        <icon class="fal fa-ellipsis-h" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;
                      <span class="font-weight-heavy">Other personal assets</span>
                    </h2>
                    <p class="card__supporting-text text-fullwidth">Get help with the cost of education for your family.</p>
                    <div class="card__button">
                      <button class="uikit-btn uikit-btn--tertiary small">Add
                      </button>
                    </div>
                  </a>
                                </div>
                                <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
                                    <a class="card-container">
                    <h2 class="card__title">
                        <icon class="fal fa-ellipsis-h" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;
                      <span class="font-weight-heavy">Other personal assets</span>
                    </h2>
                    <p class="card__supporting-text text-fullwidth">Get help with the cost of education for your family.</p>
                    <div class="card__button">
                      <button class="uikit-btn uikit-btn--tertiary small">Add
                      </button>
                    </div>
                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <BR /><BR /><BR /><BR />
                <!-- end gift 1 summary -->
                <!-- bottom page navigation -->
                <div class="pagination">
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-c1-financial-assets'">Previous</button>
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                    <div class="floated">
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Save and exit</button>
                        <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-c3-real-estate'">Save and next</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../../../global/partials/footer.ejs %>
    <script>
    $(Document).ready(function() {

        // page navigation
        $("#add-anchor-link-start").click(function() {
            $('html, body').animate({
                scrollTop: $("#add-options").offset().top
            }, 1000);
        });
        $("#add-anchor-link-return").click(function() {
            $('html, body').animate({
                scrollTop: $("#add-options").offset().top
            }, 1000);
        });

        // home contents start
        $('#sp-c3-home-contents-add').click(function() {
            hideAll();
            $("#home-contents-1-start").show();
            $('html, body').animate({
                scrollTop: $("#main-content").offset().top
            }, 1000);
        });
        $('#home-contents-1-start-add').click(function() {
            hideAll();
            $("#home-contents-1-summary").show();
            $("#add-options").show();
            $("#add-anchor-link-return").show();
        });
        $('#home-contents-1-start-cancel').click(function() {
            hideAll();
            $("#add-options").show();
            $("#add-anchor-link-start").show();
        });
        // home content edit
        $('#home-contents-1-summary-edit').click(function() {
            hideAll();
            $("#home-contents-1-edit").show();
            $("#add-options").show();
        });
        $('#home-contents-1-summary-edit').click(function() {
            hideAll();
            $("#home-contents-1-edit").show();
            $("#add-options").show();
        });
        $('#home-contents-1-edit-add').click(function() {
            hideAll();
            $("#home-contents-1-summary").show();
            $("#add-options").show();
            $("#add-anchor-link-return").show();
        });
        $('#home-contents-1-edit-cancel').click(function() {
            hideAll();
            $("#home-contents-1-summary").show();
            $("#add-options").show();
            $("#add-anchor-link-return").show();
        });

        function hideAll() {
            $("#home-contents-1-start").hide();
            $("#home-contents-1-summary").hide();
            $("#home-contents-1-edit").hide();
            $("#add-options").hide();
            $("#add-anchor-link-start").hide();
            $("#add-anchor-link-return").hide();

        }

    });

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    (function($) {
        $.fn.goTo = function() {
            $('html, body').animate({
                scrollTop: $(this).offset().top + 'px'
            }, 0);
            // $('html, body').animate({
            //     scrollTop: $(this).offset().top + 'px'
            // }, 'slow');
            return this; // for chaining...
        }
    })(jQuery);
    </script>
</body>

</html>