<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Service Pension - Financial details | Property &amp; business</title>
    <link href="docs/css/main.css" rel="stylesheet">
    <<link rel="stylesheet" href="/src/font/fontawesome/css/all.css">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar-new.ejs %>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="container margin-above--none">
                <!-- Progress bar -->
                <div class="col-md-12">
                    <nav>
                        <ul class="progress-container">
                            <li class="progress-step progress-step">
                                <a href="sp-c1">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Savings</p></a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c2">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Investments</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c3">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Income</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step--active">
                                <a href="sp-c4">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Property &amp; businesses</p>
                  </a>
                            </li>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c5">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Other assets</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step--last">
                                <a href="sp-c6">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Additional circumstances</p>
                  </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Page heading -->
            <h1 class="margin-above--none ss-align--center"><span class="heading">Property &amp; businesses</span></h1>
        </div>
        <section>
            <div class="container margin-above margin-below--extra">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 margin-below--large">
                        <div id="user-list">
                            <hr class="margin-below--none">
                            <h2 class="margin-above--none" style="float; left; width: 400px; display: inline-block;" ><icon class="fal fa-list-alt" style="font-size: 1.3em; vertical-align: -15%;"></icon>&nbsp;&nbsp;My property &amp; businesses</h2>
                            <div id="add-anchor-link-return" style="cursor: pointer; float:right; display: none;">
                                <p style="margin-top: 10px;">
                                    <icon class="fal fa-plus-circle" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;Add another property or businesses
                                </p>
                            </div>
                        </div>
                        <div id="add-anchor-link-start" style="cursor: pointer;">
                            <p class="margin-above--extra ss-align--center">
                                <icon class="fal fa-plus-circle" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;Add property or businesses
                            </p>
                        </div>
                        <!-- CARDS START -->
                        <!-- CARDS END -->
                        <!-- CATEGORY TILES START -->
                        <div id="add-options">
                            <hr>
                            <h2 id="add-options" class="margin-above--none margin-below--none ss-align--center"><span class="font-weight-heavy">Property &amp; businesses</span></h2>
                            
                            <span class="hint display-block ss-align--center">Add all properties and businesses belonging to you and/or your partner.</span>
                            <div class="flex-container flex-container--wrap hover-container">
                                <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="sp-c-home-contents-add">
                                    <a class="card-container">
                                        <h2 class="card__title">
                                            <icon class="fal fa-briefcase" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;
                                            <span class="font-weight-heavy">Real estate</span>
                                        </h2>
                                        <p class="card__supporting-text text-fullwidth">Properties other than the home you live in.</p>
                                        <div class="card__button">
                                            <button class="uikit-btn uikit-btn--tertiary small">Add</button>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="sp-c-home-contents-add">
                                    <a class="card-container">
                                        <h2 class="card__title">
                                            <!-- <icon class="fal fa-user-alt-slash" style="font-size: 1.7em; vertical-align: -15%;"></icon> -->
                                            <icon class="fal fa-store" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;
                                            <span class="font-weight-heavy">Businesses</span>
                                        </h2>
                                        <p class="card__supporting-text text-fullwidth">Sole trader, partnership, private trust and private company businesses.</p>
                                        <div class="card__button">
                                            <button class="uikit-btn uikit-btn--tertiary small">Add</button>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="sp-c-home-contents-add">
                                    <a class="card-container">
                                        <h2 class="card__title">
                                            <icon class="fal fa-tractor" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;
                                            <span class="font-weight-heavy">Farm</span>
                                        </h2>
                                        <p class="card__supporting-text text-fullwidth">Rural farm or hobby farm property.</p>
                                        <div class="card__button">
                                            <button class="uikit-btn uikit-btn--tertiary small">Add</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <BR /><BR /><BR /><BR />
                <!-- end gift 1 summary -->
                <!-- bottom page navigation -->
                <div class="pagination">
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-c3'">Previous</button>
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                    <div class="floated">
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Save and exit</button>
                        <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-c5'">Save and next</button>
                    </div>
                </div>
        </section>
    </main>
    <% include ../../../global/partials/footer.ejs %>
    <script>
    $(Document).ready(function() {

        var vehicleAdded;
        var homeContentsAdded;

        /* PAGE NAVIGATION START */

        $("#add-anchor-link-start").click(function() {
            $('html, body').animate({
                scrollTop: $("#add-options").offset().top
            }, 1000);
        });
        $("#add-anchor-link-return").click(function() {
            $('html, body').animate({
                scrollTop: $("#add-options").offset().top
            }, 1000);
        });

        /* PAGE NAVIGATION END */

        var listItems;

        function updateUserList() {
            listItems = 0;
            if (vehicleAdded) {
                $("#vehicles-1-summary").show();
                listItems++;
            };
            if (homeContentsAdded) {
                $("#home-contents-1-summary").show();
                listItems++;
            };
            if (listItems > 0) {
                $("#add-anchor-link-start").hide();
                $("#add-anchor-link-return").show();
            } else {
                $("#add-anchor-link-start").show();
                $("#add-anchor-link-return").hide();
            }
        }

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

    });
    </script>
</body>

</html>