<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Representative | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <a href="sp-my-details">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">My details</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-dependant">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Childern</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-la">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Living arrangements</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active">
                  <a href="sp-claim-contact">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Representative</p>
                  </a>
                </li>
                <li class="progress-step progress-step--last">
                  <a href="sp-payment-details">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Payment details</p>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Representative</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Page content -->

            <div class="margin-above--large">
              <p>You can nominate someone to receive updates and query about this claim on your behalf. They will not be able to access your account, view other claim statuses or access
                other personal information.</p>
            </div>

            <div class="margin-below--large form-group">
              <label class="uikit-text-input__label margin-above--large" for="radio-buttons">Do you want a representative to act on your behalf?</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="rep-act-behalf">
                  <span class="uikit-control-input__text">No?</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="rep-act-behalf" id="rep-grant-yes-claim-only">
                  <span class=" uikit-control-input__text">Yes, for this claim only</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="rep-act-behalf" id="rep-grant-yes-future-dva">
                  <span class="uikit-control-input__text">Yes, for all future dealing with DVA</span>
                </label>
              </p>
            </div>
            <div class="form-group boxed" id="claim-contact-details">
              <h3>
                <span class="font-weight-heavy">Representatives details</span>
              </h3>

              <div class="title-field">Title</div>
              <select class="uikit-text-input" name="title" id="title" type="text" value="">
                <option>-- Select title --</option>
                <option selected="">Not specified</option>
                <option>Miss</option>
                <option>Mr</option>
                <option>Mrs</option>
                <option>Ms</option>
                <option>Other</option>
              </select>

              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">First name</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">Last name</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">Address line 1</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">Address line 2</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">Suburb</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">State</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">Postcode</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">Phone number (office hours)</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
            </div>

            <!-- [B] -->
            <div id="rep-grant">
              <label class="uikit-text-input__label margin-above--large" for="radio-buttons">Which of the following would you like to grant your representative?</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="radio-occupy" id="rep-grant-attorney">
                  <span class="uikit-control-input__text">Power of attorney</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="radio-occupy" id="rep-grant-trustee">
                  <span class="uikit-control-input__text">Trustee</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="radio-occupy" id="rep-grant-agent">
                  <span class="uikit-control-input__text">Agent</span>
                </label>
              </p>
            </div>
            <div class="uikit-page-alerts" role="alert" id="B1">
              <p>You will need to attach a certified copy of the <strong>Power of Attorney</strong> in the documents section </p>
            </div>
            <div class="uikit-page-alerts" role="alert" id="B2">
              <p>You will need to complete the Appoinment of trustee form (D2505)</p>
            </div>
            <div class="uikit-page-alerts" role="alert" id="B3">
              <p>You will need to complete the Application of appointment agent (D2693)</p>
            </div>
          </div>
          <!-- bottom page navigation -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/sp-la'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/claims'">Save and exit</button>
              <button class="uikit-btn btnNext" onclick="window.location.href='/sp-payment-details'">Save and next</button>
            </div>
          </div><!-- bottom page navigation end -->
          <% include ../partials/cancel-modal.ejs %>
        </div> <!-- col-md-12 end -->
      </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../../../global/partials/footer.ejs %>


      <script>
        $("#claim-contact-details").hide();
        $("#rep-grant").hide();
        $("#B1").hide();
        $("#B2").hide();
        $("#B3").hide();

        //Show A
        $("#rep-grant-yes-claim-only").click(function () {
          $("#claim-contact-details").show("fast");
          $("#rep-grant").hide("fast");
        });

        //Show B
        $("#rep-grant-yes-future-dva").click(function () {
          $("#claim-contact-details").show("fast");
          $("#rep-grant").show("fast");
        });

        $("#rep-grant-attorney").click(function () {
          $("#B1").show("");
          $("#B2").hide("");
          $("#B3").hide("");
        });

        $("#rep-grant-trustee").click(function () {
          $("#B1").hide("");
          $("#B2").show("");
          $("#B3").hide("");
        });

        $("#rep-grant-agent").click(function () {
          $("#B1").hide("");
          $("#B2").hide("");
          $("#B3").show("");
        });


      </script>
</body>

</html>