<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Service Pension - Financial assets | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-NJXGk7R+8gWGBdutmr+/d6XDokLwQhF1U3VA7FhvBDlOq7cNdI69z7NQdnXxcF7k" crossorigin="anonymous">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar-new.ejs %>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="container margin-above--none">
                <!-- Progress bar -->
                <div class="col-md-12">
                    <nav>
                        <ul class="progress-container">
                            <li class="progress-step progress-step--active">
                                <a href="sp-c1-financial-assets">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Financial assets</p></a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c2-personal-assets">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Personal assets</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c3-real-estate">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Real estate</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c4-income">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Income</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c5-payments">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payments</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step">
                                <a href="sp-c6-superannuation">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Superannuation</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step--last">
                                <a href="sp-c7-other-items">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Other items</p>
                  </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <h1 class="margin-above--none ss-align--center"><span class="heading">Financial assets</span></h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 margin-below--large">
                    <!-- Page content -->
                    <h2 class="margin-above--large margin-below">Tell us about your financial assets. This information helps us to calculate your payments.</h2>
                    <h3 class="margin-below--none">Add each of the following that you currently hold.</h3>
                    <span class="hint display-block margin-below--none"> You may add one or more of each type.</span>
                    <div id="sp-c1-options" class="form-group margin-above" style="max-width:1000px;">
                        <div class="radio-tile--group">
                            <label class="radio-tile">
                                <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-piggy-bank fa-3x"></icon><BR/>Bank accounts</span>
                            </label>
                            <label class="button-tile">
                                <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-chart-line fa-3x"></icon><BR/>Shares</span>
                            </label>
                            <label class="button-tile">
                                <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-chart-pie fa-3x"></icon><BR/>Managed investments</span>
                            </label>
                            <label class="button-tile">
                                <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-file-certificate fa-3x"></icon><BR/>Bonds &amp; investments</span>
                            </label>
                            <label class="button-tile">
                                <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-handshake fa-3x"></icon><BR/>Money loaned</span>
                            </label>
                            <label class="button-tile">
                                <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-archive fa-3x"></icon><BR/>Other investments</span>
                            </label>
                            <label class="button-tile">
                                <input id="sp-c-gift" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-gift fa-3x"></icon><BR/>Gifts (deprived assets)</span>
                            </label>
                            <label class="button-tile">
                                <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-money-bill-wave-alt fa-3x"></icon><BR/>Cash held</span>
                            </label>
                            <label class="button-tile">
                                <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-file-invoice fa-3x"></icon><BR/>Funeral bonds</span>
                            </label>
                            <label class="button-tile">
                                <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                                <span><icon class="fal fa-receipt fa-3x"></icon><BR/>Pre-paid funeral</span>
                            </label>
                        </div>
                    </div>
                    <!-- card -->
                    <div id="card1" class="boxed margin-above margin-below">
                        <h2 class="margin-above--none" ><span class="font-weight-heavy">Gifts (deprived assets)</span></h2>
                        <div class="uikit-page-alerts" role="alert">
                            A gift is any cash, assets or property you and/or your partner have given away, surrendered, or sold for less than its market value within the last five years. It includes forgiven loans and shares in private companies.
                        </div>
                        <div id="employment-details-current">
                            <div id="employment-type" class="form-group margin-below">
                                <label class="uikit-text-input__label" for="rank">Type of employment</label>
                                <select class="uikit-text-input input-half" id="employment" name="employment">
                                    <option>-- Select your type of employment --</option>
                                    <option>Full-time</option>
                                    <option>Part-time</option>
                                    <option>Self-employed</option>
                                    <option>Partnership</option>
                                    <option>Contract</option>
                                    <option>Casual</option>
                                </select>
                            </div>
                            <div id="employer" class="form-group">
                                <label class="uikit-text-input__label" for="employer-name">Name of employer <span class="hint">(business name)</span></label>
                                <input class="uikit-text-input input-half" name="employer-name" id="employer-name" type="text" value="">
                            </div>
                            <div class="form-group margin-above">
                                <label class="uikit-text-input__label" for="employer-phone">Contact phone number <span class="hint display-block">Include your area code (for example,
                      '03' for Victoria)</span>
                                </label>
                                <input class="uikit-text-input input-half" name="employer-phone" id="employer-phone" type="text" value="" required="" aria-required="true">
                            </div>
                            <div class="form-group margin-above">
                                <label class="uikit-text-input__label" for="employment-hours-worked">
                                    How many hours do you work per week?
                                    <span class="hint display-block">If your hours change, average them out over a 4 week period</span>
                                </label>
                                <input class="uikit-text-input yyyy" type="text" name="hours-worked" id="hours-worked" maxlength="3" required aria-required="true" aria-label="2 digit hours">
                                &nbsp;hours&nbsp;per&nbsp;week
                            </div>
                            <div class="form-group margin-above">
                                <label class="uikit-text-input__label" for="employment-earnings">
                                    What are you total weekly earnings? <span class="hint">(before tax)</span>
                                    <span class="hint display-block">If your earnings change, average them out over a 4 week period</span>
                                </label>
                                &nbsp;<input class="uikit-text-input input-half" name="employment-earnings" id="employment-earnings" type="text" value="" required="" aria-required="true">
                            </div>
                            <div class="form-group current-job">
                                <legend class="legend-label">Is this your current job?</legend>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="currentjob-yes">
                                        <input id="currentjob-yes" type="radio" name="currentjob">
                                        <span>Yes</span>
                                    </label>
                                    <label class="off label-right" for="currentjob-no">
                                        <input id="currentjob-no" type="radio" name="currentjob">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group date-started margin-above" style="display:none;">
                                <label class="uikit-text-input__label" for="dd-employmentstart">When did you start working here?
                                    <span class="hint">(dd / mm / yyyy)</span>
                                </label>
                                <input class="uikit-text-input dd" type="text" name="dd-employmentstart" id="dd-employmentstart" maxlength="2" required aria-required="true" aria-label="2 digit day">
                                /
                                <input class="uikit-text-input mm" type="text" name="mm-employmentstart" id="mm-employmentstart" maxlength="2" required aria-required="true" aria-label="2 digit month">
                                /
                                <input class="uikit-text-input yyyy" type="text" name="yyyy-employmentstart" id="yyyy-employmentstart" maxlength="4" required aria-required="true" aria-label="4 digit year">
                            </div>
                            <div class="form-group date-started-ended margin-above" style="display:none;">
                                <label class="uikit-text-input__label" for="dd-employmentstart">What dates did you work here?
                                    <span class="hint">(dd / mm / yyyy)</span>
                                </label>
                                <div>
                                    Start date &nbsp;&nbsp;<input class="uikit-text-input dd" type="text" name="dd-employmentstart" maxlength="2" required aria-required="true" aria-label="2 digit day">
                                    /
                                    <input class="uikit-text-input mm" type="text" name="mm-employmentstart" maxlength="2" required aria-required="true" aria-label="2 digit month">
                                    /
                                    <input class="uikit-text-input yyyy" type="text" name="yyyy-employmentstart" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                </div>
                                <div>
                                    End date &nbsp;&nbsp;&nbsp;&nbsp;<input class="uikit-text-input dd" type="text" name="dd-employmentend" maxlength="2" required aria-required="true" aria-label="2 digit day">
                                    /
                                    <input class="uikit-text-input mm" type="text" name="mm-employmentend" maxlength="2" required aria-required="true" aria-label="2 digit month">
                                    /
                                    <input class="uikit-text-input yyyy" type="text" name="yyyy-employmentend" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                </div>
                            </div>
                            <div id="buttonset2" class="form-group margin-above--extra">
                                <button class="uikit-btn" id="sp-saveCard">&nbsp;&nbsp;&nbsp; Done &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="sp-cancelCard">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div> <!-- end content -->
                <!-- bottom page navigation -->
                <div class="pagination">
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-progress-c'">Previous</button>
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                    <div class="floated">
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Save and exit</button>
                        <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-c2-personal-assets'">Save and next</button>
                    </div>
                </div>
                <% include ../partials/cancel-modal.ejs %>
            </div> <!-- row end -->
        </div> <!-- container end -->
    </main>
    <% include ../../../global/partials/footer.ejs %>
    <script>
    $(Document).ready(function() {
        hideAll();
        $('#sp-c-gift').click(function() {
            $("#sp-c1-options").hide("fast");
            $("#card1").show("fast");
        });
        $('#sp-cancelCard').click(function() {
            $("#sp-c1-options").show("fast");
            $("#card1").hide("fast");
        });
        $('#sp-saveCard').click(function() {
            $("#sp-c1-options").show("fast");
            $("#card1").hide("fast");
        });
        function hideAll() {
            // $("#card1").hide();
        }
    });
    </script>
</body>

</html>