<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Claim contact | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <a href="sp-my-details">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">My details</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-dependant">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Childern</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-la">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Living arrangements</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active">
                  <a href="sp-claim-contact">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Claim contact</p>
                  </a>
                </li>
                <li class="progress-step progress-step--last">
                  <a href="sp-payment-details">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Payment details</p>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Claim contact</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Page content -->

            <fieldset class="margin-above--large">
              <legend class="legend-label margin-above--large">Do you want a contact to act on your behalf for this claim?</legend>
              <span class="uikit-btn--help">The representative you provide here can only be a contact for this claim.</span>
              <div class="radio-toggle">
                <label class="on label-left" for="cc-yes">
                  <input id="cc-yes" type="radio" name="cc">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="cc-no">
                  <input id="cc-no" type="radio" name="cc">
                  <span>No</span>
                </label>
              </div>
            </fieldset>

            <fieldset>
              <legend class="legend-label margin-above--large">Will the claim contact represent you for income and asset decisions?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="cc-decision-yes">
                  <input id="cc-decision-yes" type="radio" name="cc-decision">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="cc-decision-no">
                  <input id="cc-decision-no" type="radio" name="cc-decision">
                  <span>No</span>
                </label>
              </div>
            </fieldset>

            <div>
              <p class="legend-label margin-above--mid">What is the claim contact’s relationship to you?</p>
              <p> (Select list with huge number of options) </p>
            </div>

            <h3 class="margin-above--large">
              <span class="font-weight-heavy">Claim contact</span>
            </h3>
            <div class="form-group" id="claim-contact-details">
              <div class="title-field">Title</div>
              <select class="uikit-text-input" name="title" id="title" type="text" value="">
                <option>-- Select title --</option>
                <option selected="">Not specified</option>
                <option>Miss</option>
                <option>Mr</option>
                <option>Mrs</option>
                <option>Ms</option>
                <option>Other</option>
              </select>

              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">Family name</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="tags">Given name(s)</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="tags">Contact number</label>
              <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
            </div>
          </div>

          <!-- bottom page navigation -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-la'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Save and exit</button>
              <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-payment-details'">Save and next</button>
            </div>
          </div><!-- bottom page navigation end -->
          <% include ../partials/cancel-modal.ejs %>
        </div> <!-- col-md-12 end -->
      </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../../../global/partials/footer.ejs %>
</body>

</html>