<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Dependants | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Children</p>
                  </a>
                </li>
                <li class="progress-step ongoing-only">
                  <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                </li>
                <li class="progress-step">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </li>
                <li class="progress-step ongoing-only">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Representative</p>
                </li>
                <li class="progress-step progress-step--last">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Dependants</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">Dependent children</span>
            </h2>

            <p>List all dependent children (of you and/or your partner) who meet the following conditions: </p>
            <ul>
              <li>Under 16 years old</li>
              <li>Aged 16-22 and in full time education</li>
            </ul>
            <div class="uikit-page-alerts" role="alert">
              <p>Dependent means that you are legally responsible for the day-to-day care, welfare and development of a child who is in your care or wholly or substantially in your
                care.
              </p>
            </div>
            <button class="uikit-btn uikit-btn--tertiary" id="add-child">Add child</button>
            <div class="form-group margin-above">

              <!-- Dependent child details -->
              <div class="form-group boxed" id="sp-dependant-details">
                <fieldset>
                  <legend class="legend-label"></legend>
                  <div class="form-group">
                    <h3>Dependent child details</h3>
                    <label class="uikit-text-input__label margin-above">What is the child’s date of birth?
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                    <label class="uikit-text-input__label margin-above--mid" for="tax-number">Given name</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">
                    <label class="uikit-text-input__label" for="tax-number">Surname</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">

                  </div>
                </fieldset>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="toggle-buttons">Is the child at school?</label>
                  <div class="radio-toggle">
                    <label class="on label-left" for="dependent-school-yes">
                      <input id="dependent-school-yes" type="radio" name="dependent-school">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="dependent-school-no">
                      <input id="dependent-school-no" type="radio" name="dependent-school">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="Input field">Gross fortnightly income</label>
                  <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="$0.00" required aria-required="true">
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="toggle-buttons">Is this child in full-time education?</label>
                  <div class="radio-toggle">
                    <label class="on label-left" for="fulltime-education-yes">
                      <input id="fulltime-education-yes" type="radio" name="fulltime-education">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="fulltime-education-no">
                      <input id="fulltime-education-no" type="radio" name="fulltime-education">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <div class="uikit-page-alerts" role="alert" id="full-time-ed-notification">
                  <p>Only add childern over 16 years if currently in full time education</p>
                </div>



              </div>

              <!-- bottom page navigation -->
              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/sp-partner'">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
                <div class="floated">
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/claims'">Save and exit</button>
                  <button class="uikit-btn btnNext" onclick="window.location.href='/sp-residency'">Save and next</button>
                </div>
              </div><!-- bottom page navigation end -->
              <% include ../partials/cancel-modal.ejs %>
            </div><!-- form-group end -->
          </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../../../global/partials/footer.ejs %>


      <script>
        $("#sp-dependant-details").hide();
        $("#sp-dependant-details-2nd").hide();
        $("#child-birth-cert").hide();
        $("#child-birth-cert-2nd").hide();

        $("#add-child").click(function () {
          $("#sp-dependant-details").show("fast");
          $("#child-birth-cert").show("fast");
        });

        $("#dep-child-no").click(function () {
          $("#sp-dependant-details").hide("fast");
        });

        $("#add-child").click(function () {
          $("#sp-dependant-details-2nd").show("fast");
        });

        $("#delete-child").click(function () {
          $("#sp-dependant-details-2nd").hide("fast");
        });



      </script>


</body>

</html>