<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Dependants | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Dependent children</p>
                  </a>
                </li>
                <li class="progress-step ongoing-only">
                  <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                </li>
                <li class="progress-step">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </li>
                <li class="progress-step ongoing-only">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Claim representative</p>
                </li>
                <li class="progress-step progress-step--last">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Dependent children</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <div class="margin-above--extra margin-below--extra">
              <p><strong>Add any dependent children (of you and/or your partner) who are:</strong></p>
              <ul>
                <li>Under 16 years of age, or</li>
                <li>16-22 years or age and in full time education</li>
              </ul>
              <div class="uikit-page-alerts" role="alert">
                <p>Dependent means that you are legally responsible for the day-to-day care, welfare and development of a child who is in your care or wholly or substantially in your
                  care.
                </p>
              </div>
              <button class="uikit-btn uikit-btn--tertiary" id="add-child">Add child</button>

              <!-- Dependent child details -->
              <div class="form-group margin-above">
                <div class="boxed" id="sp-dependant-details">

                  <legend class="legend-label font-weight-heavy" style="font-size:1.3em">Dependent child details</legend>
                  <div class="form-group">
                    <label class="uikit-text-input__label margin-above">What is the child’s date of birth?
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <p id="demo"></p>
                    <input name="birthday" id="DoB" type="date" maxlength="10" required>
                    <button class="uikit-btn uikit-btn--tertiary" onclick="checkAge()">Submit</button>
                  </div>

                  <!-- less than 16 -->
                  <div id="under-16">
                    <label class="uikit-text-input__label margin-above--mid" for="tax-number">Given name</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">
                    <label class="uikit-text-input__label" for="tax-number">Surname</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">
                    <label class="uikit-text-input__label margin-above" for="toggle-buttons">Is the child at school?</label>
                    <div class="radio-toggle">
                      <label class="on label-left" for="dependent-school-yes">
                        <input id="dependent-school-yes" type="radio" name="dependent-school">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="dependent-school-no">
                        <input id="dependent-school-no" type="radio" name="dependent-school">
                        <span>No</span>
                      </label>
                    </div> <!-- end of less than 16 -->

                    <!-- [B] in school -->
                    <div class="form-group" id="child-school">
                      <label class="uikit-text-input__label" for="Input field">Gross fortnightly income</label>
                      <span style="font-size: 1.4em">$</span> <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" style="max-width: 100px;" value="0.00"
                        required aria-required="true">
                    </div>
                  </div>
                  <!------ Over 16 and less than 22 ------>
                  <div class="form-group" id="over-16">
                    <label class="uikit-text-input__label" for="toggle-buttons">Is this child in full-time education?</label>
                    <div class="radio-toggle">
                      <label class="on label-left" for="fulltime-education-yes">
                        <input id="fulltime-education-yes" type="radio" name="fulltime-education">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="fulltime-education-no">
                        <input id="fulltime-education-no" type="radio" name="fulltime-education">
                        <span>No</span>
                      </label>
                    </div>

                    <!-- [C] -->
                    <div class="uikit-page-alerts" role="alert" id="full-time-ed-notification">
                      <p>Only add childern over 16 years if currently in full time education</p>
                    </div>

                    <!-- [D] -->
                    <div id="full-time-ed-yes">
                      <label class="uikit-text-input__label margin-above--mid" for="tax-number">Given name</label>
                      <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">
                      <label class="uikit-text-input__label" for="tax-number">Surname</label>
                      <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">
                      <label class="uikit-text-input__label" for="toggle-buttons">Does this child receive any government payments?</label>
                      <div class="radio-toggle">
                        <label class="on label-left" for="dependent-gov-payments-yes">
                          <input id="dependent-gov-payments-yes" type="radio" name="dependent-gov-payments">
                          <span>Yes</span>
                        </label>
                        <label class="off label-right" for="dependent-gov-payments-no">
                          <input id="dependent-gov-payments-no" type="radio" name="dependent-gov-payments">
                          <span>No</span>
                        </label>
                      </div>
                    </div>

                    <!-- [E] -->
                    <div id="gov-payments" class="margin-above--large">
                      <div class="form-group">
                        <label class="uikit-text-input__label" for="Input field">Type of payment</label>
                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                      </div>
                      <label class="uikit-text-input__label" for="Input field">Gross fortnightly income</label>
                      <span style="font-size: 1.4em">$</span> <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" style="max-width: 100px;" value="0.00"
                        required aria-required="true">
                    </div> <!-- end of [e] -->
                  </div><!-- end of Over 16 and less than 22 -->

                  <!-- over 22 -->
                  <div id="over-22">
                    <div class="uikit-page-alerts" role="alert">
                      <p>Only add dependant children under 22 years</p>
                    </div>
                  </div>


                  <!-- [Default] -->
                  <div id="default" class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="Input field">Other gross fortnightly income (optional) </label>
                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
                    <div class="uikit-page-alerts" role="alert">
                      <p>You will need to attach a birth certificate for this child in the documents section.</p>
                    </div>
                  </div><!-- end of Default -->

                </div>
              </div> <!-- end of dependent child details -->
            </div> <!-- end of page content -->
            <!-- bottom page navigation -->
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/sp-partner'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/claims'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href='/sp-residency'">Save and next</button>
              </div>
            </div><!-- bottom page navigation end -->
            <% include ../partials/cancel-modal.ejs %>
          </div><!-- form-group end -->
        </div> <!-- col-md-12 end -->
      </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../../../global/partials/footer.ejs %>

      <script>

        $("#sp-dependant-details").hide();
        $("#sp-dependant-details-2nd").hide();
        $("#child-birth-cert").hide();
        $("#child-birth-cert-2nd").hide();
        $("#child-school").hide();
        $("#over-16").hide();
        $("#under-16").hide();
        $("#over-22").hide();
        $("#default").hide();
        $("#full-time-ed-notification").hide();
        $("#full-time-ed-yes").hide();
        $("#gov-payments").hide(); //if yes show E

        $("#fulltime-education-no").click(function () {
          $("#default").hide();
        });

        $("#dependent-gov-payments-yes").click(function () {
          $("#gov-payments").show("fast");
        });

        $("#dependent-gov-payments-no").click(function () {
          $("#gov-payments").hide("fast");
        });

        $("#add-child").click(function () {
          $("#sp-dependant-details").show("fast");
          $("#child-birth-cert").show("fast");
        });

        $("#add-child").click(function () {
          $("#sp-dependant-details").show("fast");
          $("#child-birth-cert").show("fast");
        });

        $("#dependent-school-no").click(function () {
          $("#child-school").show("fast");
          $("#default").hide();
        });

        $("#dependent-school-yes").click(function () {
          $("#child-school").hide("fast");
          $("#default").show("fast");
        });

        $("#fulltime-education-no").click(function () {
          $("#full-time-ed-notification").show("fast");
          $("#full-time-ed-yes").hide("fast");
        });

        $("#fulltime-education-yes").click(function () {
          $("#full-time-ed-notification").hide("fast");
          $("#full-time-ed-yes").show("fast");
        });

      </script>

      <script>
        function checkAge() {
          var birthDate = new Date(document.getElementById("DoB").value);
          var today = new Date();

          if (today >= new Date(birthDate.getFullYear() + 16, birthDate.getMonth(), birthDate.getDate())) {
            $("#over-16").show();
            $("#under-16").hide();
            $("#over-22").hide();
            $("#default").show();
          } else {
            $("#over-16").hide();
            $("#under-16").show();
            $("#default").show();
          }
          if (today >= new Date(birthDate.getFullYear() + 22, birthDate.getMonth(), birthDate.getDate())) {
            $("#over-16").hide();
            $("#under-16").hide();
            $("#over-22").show();
            $("#default").hide();
          }
        }

      </script>

</body>

</html>