<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Dependants | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Children</p>
                  </a>
                </li>
                <li class="progress-step ongoing-only">
                  <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                </li>
                <li class="progress-step">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </li>
                <li class="progress-step ongoing-only">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Representative</p>
                </li>
                <li class="progress-step progress-step--last">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Dependants</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">Dependent children</span>
            </h2>

            <p>List all dependent children (of you and/or your partner) who meet the following conditions: </p>
            <ul>
              <li>Under 16 years old</li>
              <li>Aged 16-22 and in full time education</li>
            </ul>
            <div class="uikit-page-alerts" role="alert">
              <p>Dependent means that you are legally responsible for the day-to-day care, welfare and development of a child who is in your care or wholly or substantially in your
                care.
              </p>
            </div>
            <button class="uikit-btn uikit-btn--tertiary" id="add-child">Add child</button>
            <div class="form-group margin-above">

              <!--fieldset>
                <p>[Default if not partnered]</p>
                <legend class="legend-label">Do you have any dependent children aged up to 22?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="dep-child-yes">
                    <input id="dep-child-yes" type="radio" name="dep-child">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="dep-child-no">
                    <input id="dep-child-no" type="radio" name="dep-child">
                    <span>No</span>
                  </label>
                </div>
              </fieldset-->

              <!-- hidden for demostration-->
              <!--fieldset>
                <P>[Default if partnered]</P>
                <legend class="legend-label">Do you and / or your partner have any dependent children aged up to 22?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="dep-child-yes">
                    <input id="dep-child-yes" type="radio" name="dep-child">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="dep-child-no">
                    <input id="dep-child-no" type="radio" name="dep-child">
                    <span>No</span>
                  </label>
                </div>
              </fieldset-->

              <!-- Dependent child details -->
              <div class="form-group boxed" id="sp-dependant-details">
                <fieldset>
                  <legend class="legend-label"></legend>

                  <h3>Dependent child details</h3>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="tax-number">Given name</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">
                    <label class="uikit-text-input__label" for="tax-number">Middle name</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">
                    <label class="uikit-text-input__label" for="tax-number">Surname</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">
                    <label class="uikit-text-input__label margin-above">Date of birth
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>

                  <!--legend class="legend-label margin-above">Gender</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="gender-yes">
                        <input id="gender-yes" type="radio" name="gender-names">
                        <span>Female</span>
                      </label>
                      <label class="off label-right" for="gender-no">
                        <input id="gender-no" type="radio" name="gender-names">
                        <span>Male</span>
                      </label>
                    </div-->

                  <div class="form-group margin-above" id="dependant-school"></div>
                  <fieldset>
                    <legend class="legend-label">Is the child currently attending an educational institution?
                      <span class="hint">(optional)</span>
                      <span class="hint display-block">Please select any that apply</span>
                    </legend>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="school">
                        <span class="uikit-control-input__text">School</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="tafe">
                        <span class="uikit-control-input__text">TAFE</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="subsidy" id="uni">
                        <span class="uikit-control-input__text">University</span>
                      </label>
                    </p>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="subsidy" id="none">
                        <span class="uikit-control-input__text">None of the above</span>
                      </label>
                    </p>
                    <legend class="legend-label margin-above">Does this child currently have a paying job of any sort</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="dependent-child-yes">
                        <input id="dependent-child-yes" type="radio" name="dependent-child">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="dependent-child-no">
                        <input id="dependent-child-no" type="radio" name="dependent-child">
                        <span>No</span>
                      </label>
                    </div>
                    <div class="uikit-page-alerts" role="alert" id="child-birth-cert">
                      <p>You will be asked to submit a certified copy of the birth certificate/extract for each child in the ‘Required documents’ section.</p>
                    </div>
              </div>

              </fieldset><!-- End Dependent child details -->
              <button class="uikit-btn uikit-btn--tertiary" id="add-child">Add 2nd dependant details</button>
            </div>

            <!---------- 2nd Dependent child details ------------>
            <div class="form-group margin-above" id="sp-dependant-details-2nd">
              <fieldset>
                <legend class="legend-label">Please add each dependent child aged 22 years or less</legend>

                <h3>Dependent child details</h3>
                <div class="row col-md-8">
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="tax-number">Given name</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">

                    <label class="uikit-text-input__label" for="tax-number">Middle name</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">

                    <label class="uikit-text-input__label" for="tax-number">Surname</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">

                    <label class="uikit-text-input__label margin-above">Date of birth
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>

                  <!--legend class="legend-label margin-above">Gender</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="gender-yes">
                        <input id="gender-yes" type="radio" name="gender-names">
                        <span>Female</span>
                      </label>
                      <label class="off label-right" for="gender-no">
                        <input id="gender-no" type="radio" name="gender-names">
                        <span>Male</span>
                      </label>
                    </div-->

                  <div class="form-group margin-above" id="dependant-school"></div>
                  <fieldset>
                    <legend class="legend-label">Is the child currently attending an educational institution?
                      <span class="hint">(optional)</span>
                      <span class="hint display-block">Please select any that apply</span>
                    </legend>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="school">
                        <span class="uikit-control-input__text">School</span>
                      </label>
                    </p>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="tafe">
                        <span class="uikit-control-input__text">TAFE</span>
                      </label>
                    </p>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="subsidy" id="uni">
                        <span class="uikit-control-input__text">University</span>
                      </label>
                    </p>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="subsidy" id="none">
                        <span class="uikit-control-input__text">None of the above</span>
                      </label>
                    </p>

                    <legend class="legend-label margin-above">Does this child currently have a paying job of any sort</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="dependent-child-yes">
                        <input id="dependent-child-yes" type="radio" name="dependent-child">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="dependent-child-no">
                        <input id="dependent-child-no" type="radio" name="dependent-child">
                        <span>No</span>
                      </label>
                    </div>
                </div>
                <p>You will be asked to submit a certified copy of the birth certificate/extract for each child in the ‘Required documents’ section.</p>
                <button class="uikit-btn uikit-btn--tertiary" id="delete-child">Delete dependant details</button>
                </fieldset><!-- 2nd End Dependent child details -->
            </div>

            <!-- bottom page navigation -->
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/sp-partner'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/claims'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href='/sp-residency'">Save and next</button>
              </div>
            </div><!-- bottom page navigation end -->
            <% include ../partials/cancel-modal.ejs %>
          </div><!-- form-group end -->
        </div> <!-- col-md-12 end -->
      </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../../../global/partials/footer.ejs %>


      <script>
        $("#sp-dependant-details").hide();
        $("#sp-dependant-details-2nd").hide();
        $("#child-birth-cert").hide();
        $("#child-birth-cert-2nd").hide();

        $("#add-child").click(function () {
          $("#sp-dependant-details").show("fast");
          $("#child-birth-cert").show("fast");
        });

        $("#dep-child-no").click(function () {
          $("#sp-dependant-details").hide("fast");
        });

        $("#add-child").click(function () {
          $("#sp-dependant-details-2nd").show("fast");
        });

        $("#delete-child").click(function () {
          $("#sp-dependant-details-2nd").hide("fast");
        });



      </script>


</body>

</html>