<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Living arrangements | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Children</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active">
                  <a href="sp-la">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Living arrangements</p>
                  </a>
                </li>
                <li class="progress-step ongoing-only">
                  <a href="sp-claim-contact">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Representative</p>
                  </a>
                </li>
                <li class="progress-step progress-step--last">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Living arrangements</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">Your living arrangements</span>
            </h2>

            <div class="form-group margin-above">
              <div class="col-lrg-12">
                <!-- current relationship status questions -->
                <fieldset id="living-arrangements">
                  <div class="form-group">

                    <label class="uikit-text-input__label" for="radio-buttons">Which of the following best describes where you live?</label>

                    <p class="uiToolKitCheckBox margin-above">
                      <label class="uikit-control-input" id="op1-la">
                        <input id="single" class="uikit-control-input__input" type="radio" value="tenant" name="radio-la">
                        <span class="uikit-control-input__text">In a home you (and/or your partner) own </span><span class="help-field">This includes paying it off (mortgage)</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op2-la">
                        <input id="in-care-res" class="uikit-control-input__input" value="in-care" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In a home you (and/or your partner) own jointly with another person or organisation</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox" id="op3-la">
                      <label class="uikit-control-input">
                        <input id="defacto" class="uikit-control-input__input" type="radio" value="retirement-village" name="radio-la">
                        <span class="uikit-control-input__text">In a retirement village or independent living unit</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox" id="op4-la">
                      <label class="uikit-control-input">
                        <input id="granny-flat" class="uikit-control-input__input" value="granny-flat" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In residential aged care home (nursing home) which provides nursing care </span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox" id="op5-la">
                      <label class="uikit-control-input">
                        <input id="widowed" class="uikit-control-input__input" value="providing-care" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">Providing Care</span> <span class="help-field">In a hospital or home for people with disabilities</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op6-la">
                        <input id="widowed" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In accommodation which you have the right to use free for life
                        </span><span class="help-field">Such as a granny flat</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op7-la">
                        <input id="widowed" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In private rental accommodation, caravan park or moored craft </span>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op8-la">
                        <input id="married-separated" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In a relocatable home</span> <span class="help-field">Such as a home situated in a village or caravan park where you
                          are paying site fees </span>
                      </label>
                    </p>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op9-la">
                        <input id="married-separated" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In a place where you pay private board and lodging </span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op10-la">
                        <input id="married-separated" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In free accommodation</span> <span class="help-field">Such as living with relatives</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op11-la">
                        <input id="married-separated" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In a home owned by a private trust</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op12-la">
                        <input id="married-separated" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In a home owned by a private company</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op13-la">
                        <input id="married-separated" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">Other</span><span class="help-field">Please describe</span>
                      </label>
                    </p>
                  </div>
                </fieldset>

                <!-- [A] Option 1 -->
                <div id="option-1-a">
                  <h2>Give details about your accommodation in the retirement village </h2>
                  <fieldset>
                    <div class="form-group" id="date-separation">
                      <label class="uikit-text-input__label">On what date did you move in to this accommodation?
                        <span class="hint">(dd / mm / yyyy)</span>
                      </label>
                      <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                      <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                      <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                    </div>
                </div>
                </fieldset>

                <fieldset>
                  <legend class="legend-label">Did you pay an entry contribution?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="pay-contribution-yes">
                      <input id="aus-citizen-yes" type="radio" name="aus-citizen">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="aus-citizen-no">
                      <input id="aus-citizen-no" type="radio" name="aus-citizen">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>

                <div id="pay-contribution-how-much">
                  <label class="uikit-text-input__label" for="tags">How much?</label>
                  <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                </div>

                <label class="uikit-text-input__label" for="tags">How much do you pay ongoing for your accommodation?</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">

                <fieldset>
                  <div class="form-group" id="date-separation">
                    <label class="uikit-text-input__label">Date you started paying?
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
              </div>
              </fieldset>

              <fieldset>
                <legend class="legend-label">Does this include meals?</legend>
                <div class="radio-toggle">
                  <label class="off label-right" for="include-meals-no">
                    <input id="aus-citizen-no" type="radio" name="include-meals">
                    <span>No</span>
                  </label>
                  <label class="on label-left" for="include-meals-yes">
                    <input id="include-meals-yes" type="radio" name="include-meals">
                    <span>Yes</span>
                  </label>
                </div>
              </fieldset>
              <div class="uikit-page-alerts" role="alert">
                <p>You will need to attach a certified coy of the entry agreement in the documents section</p>
              </div>
            </div>
          </div>  <!--end of [A] Option 1 --> 


          <!-- [B] Option 2 -->
          <div id="option-1-b">
            <h2>Give details about your accommodation in the nursing home or hostel</h2>
            <label class="uikit-text-input__label" for="tags">What is the name of the nursing home or hostel?</label>
            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
          </div> <!-- end of [B] Option 2 -->


        </div> <!-- end of col-lrg-12 -->
      </div><!-- end of form-group -->

      <!-- bottom page navigation -->
      <div class="pagination ">
        <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/sp-residency' ">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='#open-modal' ">Cancel claim</button>
        <div class="floated ">
          <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/claims' ">Save and exit</button>
          <button class="uikit-btn btnNext " onclick="window.location.href='/sp-claim-contact' ">Save and next</button>
        </div>
      </div><!-- bottom page navigation end -->
      <% include ../partials/cancel-modal.ejs %>
        </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
        </div> <!-- container end -->
    </main>

    <% include ../../../global/partials/footer.ejs %>
      <script>
        $("#tenant").hide();
        $("#in-care-resident").hide();
        $("#retirement-village").hide();
        $("#life-intertest-granny-flat").hide();
        $("#providing-care").hide();
        $("#temp-accommodation").hide();
        $("#partner-living-arrangements").hide();
        $("#living-elsewhere").hide();
        $("#return-residence-not-returning-details").hide();

        $("#op1-la").click(function () {
          $("#tenant").show("fast");
          $("#in-care-resident").hide("fast");
          $("#retirement-village").hide("fast");
          $("#life-intertest-granny-flat").hide("fast");
          $("#providing-care").hide("fast");
          $("#temp-accommodation").hide("fast");
          $("#partner-living-arrangements").hide("fast");
          $("#living-elsewhere").hide("fast");
        });

      </script>

</body>

</html>