<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Living arrangements | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Childern</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active">
                  <a href="sp-la">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Living arrangements</p>
                  </a>
                </li>
                <li class="progress-step ongoing-only">
                  <a href="sp-claim-contact">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Claim contact</p>
                  </a>
                </li>
                <li class="progress-step progress-step--last">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Living arrangements</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">Your living arrangements</span>
            </h2>
            <div class="form-group margin-above">
              <div class="col-lrg-12">
                <!-- current relationship status questions -->
                <fieldset id="living-arrangements">
                  <div class="form-group">

                    <label class="uikit-text-input__label" for="radio-buttons">Which of the following best describes your living arrangements?</label>

                    <p class="uiToolKitCheckBox margin-above">
                      <label class="uikit-control-input" id="op1-la">
                        <input id="single" class="uikit-control-input__input" type="radio" value="tenant" name="radio-la">
                        <span class="uikit-control-input__text">Tenant</span><span class="help-field">Eg: Renting or lodging</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op2-la">
                        <input id="in-care-res" class="uikit-control-input__input" value="in-care" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In care resident</span><span class="help-field">Eg: Care facility, Community based care, Family/friend</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox" id="op3-la">
                      <label class="uikit-control-input">
                        <input id="defacto" class="uikit-control-input__input" type="radio" value="retirement-village" name="radio-la">
                        <span class="uikit-control-input__text">Retirement village </span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox" id="op4-la">
                      <label class="uikit-control-input">
                        <input id="granny-flat" class="uikit-control-input__input" value="granny-flat" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">Life interest or granny flat</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox" id="op5-la">
                      <label class="uikit-control-input">
                        <input id="widowed" class="uikit-control-input__input" value="providing-care" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">Providing Care</span> <span class="help-field">Moved address to provide care for someone else</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op6-la">
                        <input id="widowed" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">Temporary accommodation</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op7-la">
                        <input id="widowed" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">Living in own home</span><span class="help-field">Including mobile home</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input" id="op8-la">
                        <input id="married-separated" class="uikit-control-input__input" type="radio" name="radio-la">
                        <span class="uikit-control-input__text">In free accommodation</span> <span class="help-field">Such as living with relatives</span>
                      </label>
                    </p>
                  </div>
                </fieldset>

                <!-- [A] Tenant -->
                <div id="tenant" class="margin-above--large">
                  <label class="uikit-text-input__label" for="tenant">To whom are you paying rent?</label>
                  <input class="uikit-text-input input-half" name="tenant" type="text" value="">

                  <label class="uikit-text-input__label" for="tenant">What amount of rent are you paying?</label>
                  <input class="uikit-text-input input-half" style="width:100px; float:left; margin-bottom:30px;" name="tenant" type="text" value="$0.00">
                  <div class="title-field">per
                    <select class="uikit-text-input" style="width:100px; margin-top: 20px; margin-left:5px;" name="title" id="title" type="text" value="">
                      <option> Select </option>
                      <option>Week</option>
                      <option>Month</option>
                      <option>Year</option>
                    </select></div>
                </div><!-- end of A -->

                <!-- [B] In care resident -->
                <div id="in-care-resident" class="margin-above form-group">
                  <fieldset>
                    <label class="uikit-text-input__label" for="radio-buttons">Select the type of care:</label>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="community-care" name="type-of-care" value="tenant">
                        <span class="uikit-control-input__text">Community based care</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="high-level-care" name="type-of-care">
                        <span class="uikit-control-input__text">Approved facility – high level care</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="low-level-care" name="type-of-care">
                        <span class="uikit-control-input__text">Approved facility – low level care</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="non-gov-care" name="type-of-care">
                        <span class="uikit-control-input__text"> Non-government subscribed care</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="family-friend-care" name="type-of-care">
                        <span class="uikit-control-input__text"> Family/Friend</span>
                      </label>
                    </p>
                  </fieldset>

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label">Date you moved into care:
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </fieldset>

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">How long will you be in care?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="longterm-perm" name="how-long-care">
                        <span class="uikit-control-input__text">Long term / permanently</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="shortterm-respitecare" name="how-long-care">
                        <span class="uikit-control-input__text">Short term / respite care</span>
                      </label>
                    </p>
                  </fieldset>
                  <label class="uikit-text-input__label" for="paying-rent-accommodation">Are you paying rent or accommodation fees?</label>
                  <input class="uikit-text-input input-half" name="paying-rent-accommodation-fees" type="text" value="$0.00">

                  <label class="uikit-text-input__label" for="tenant">Name of carer:</label>
                  <input class="uikit-text-input input-half" name="retirement-village-bond" type="text" value="">

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">What accommodation / care payments are you making?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="bond-lumpsum" name="radio-payments">
                        <span class="uikit-control-input__text"> Bond - lump sum</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="bond-lumpsum-periodic" name="radio-payments">
                        <span class="uikit-control-input__text">Bond - lump sum and periodic payment</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" value="periodic-payments" type="radio" name="radio-payments">
                        <span class="uikit-control-input__text">Periodic payment</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="charge" name="radio-payments">
                        <span class="uikit-control-input__text">Charge</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" value="none" type="radio" name="radio-payments">
                        <span class="uikit-control-input__text">None</span>
                      </label>
                    </p>
                  </fieldset>

                  <label class="uikit-text-input__label" for="paying-rent-accommodation">What was the amount of bond or entry contribution paid (if any):</label>
                  <input class="uikit-text-input input-half" name="paying-rent-accommodation-fees" type="text" value="$0.00">

                </div><!-- end of [B] In care resident -->

                <!-- [C] Retirement village -->
                <div id="retirement-village">
                  <label class="uikit-text-input__label">Date you moved in:
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                  <fieldset class="form-group margin-above">
                    <legend class="legend-label">Are you paying rent / accommodation fees?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="retirement-village-rent-yes">
                        <input id="retirement-village-rent-yes" type="radio" value="yes" name="retirement-village-rent">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="retirement-village-rent-no">
                        <input id="retirement-village-rent-no" type="radio" value="no" name="retirement-village-rent">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">What accommodation / care payments are you making?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" value="bond-lumpsum-making" type="radio" name="radio-payments-making">
                        <span class="uikit-control-input__text"> Bond - lump sum</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" value="bond-lumpsum-periodic-making" name="radio-payments-making">
                        <span class="uikit-control-input__text">Bond - lump sum and periodic payment</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-payments-making" value="periodic-making">
                        <span class="uikit-control-input__text">Periodic payment</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-payments-making">
                        <span class="uikit-control-input__text">Charge</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-payments-making" value="none-making">
                        <span class="uikit-control-input__text">None</span>
                      </label>
                    </p>
                  </fieldset>

                  <label class="uikit-text-input__label" for="tenant">What was the amount of bond or entry contribution paid (if any):</label>
                  <input class="uikit-text-input input-half" name="retirement-village-bond" type="text" value="$0.00">
                </div><!-- end of [C] Retirement village -->

                <!-- [D] Life interest or granny flat  -->
                <div id="life-intertest-granny-flat">
                  <label class="uikit-text-input__label margin-above">Date you moved in:
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                  <fieldset class="form-group margin-above">
                    <legend class="legend-label">Did you pay a sum of money or transfer any assets to another person or organisation in return for this accommodation for life?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="granny-flat-accom-yes">
                        <input id="granny-flat-accom-yes" type="radio" value="yes" name="granny-flat-accom">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="granny-flat-accom-no">
                        <input id="granny-flat-accom-no" value="no" type="radio" name="granny-flat-accom">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>
                </div><!-- end of [D] Life interest or granny flat  -->

                <!-- [E] Providing care  -->
                <div id="providing-care">
                  <label class="uikit-text-input__label margin-above">Date you moved in:
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label margin-above" for="tenant">Name of person cared for:</label>
                    <input class="uikit-text-input input-half" name="retirement-village-bond" type="text" value="">
                    <label class="uikit-text-input__label" for="radio-buttons">What accommodation / care payments are you making?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="person-care-payments" value="long-term-person-care-payments">
                        <span class="uikit-control-input__text">Long term / permanently</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="person-care-payments" value="short-term-person-care-payments">
                        <span class="uikit-control-input__text">Short term / respite care</span>
                      </label>
                    </p>
                  </fieldset>

                  <label class="uikit-text-input__label margin-above">When do you expect to leave?
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                </div> <!-- end of [E] Providing care  -->

                <!-- [F] Temporary accomodation -->
                <div id="temp-accommodation">

                  <label class="uikit-text-input__label margin-above" for="temp-accommodation">What are your temporary living arrangements?</label>
                  <input class="uikit-text-input input-half" name="temp-accomm" type="text" value="">

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">What are your temporary living arrangements?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="temp-accomm" value="temp-accomm-renting">
                        <span class="uikit-control-input__text">Renting</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="temp-accomm" value="temp-accomm-free">
                        <span class="uikit-control-input__text">Free accommodation</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="temp-accomm" value="temp-accomm-other">
                        <span class="uikit-control-input__text">Other</span>
                      </label>
                    </p>
                  </fieldset>

                  <label class="uikit-text-input__label margin-above">When did you leave your residence?
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">When do you expect to return to your residence?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="return-residence" value="return-residence-date">
                        <span class="uikit-control-input__text">On this date:</span>
                      </label>
                      <!-- on this date selection -->
                      <div id="return-date">
                        <label class="uikit-text-input__label margin-above">When do you expect to return to your residence?
                          <span class="hint">(dd / mm / yyyy)</span>
                        </label>
                        <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                        <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                        <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                      </div><!-- end of on this date selection -->
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="return-residence" value="return-residence-unknown">
                        <span class="uikit-control-input__text">Unknown</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="return-residence" value="return-residence-not-returning">
                        <span class="uikit-control-input__text">I do not expect to return</span>
                      </label>
                    </p>

                    <fieldset id="return-residence-not-returning-details">
                      <div class="form-group">
                        <label class="uikit-text-input__label" for="textArea">Provide details</label>
                        <textarea id="textArea" name="statementText" rows="3"></textarea>
                      </div>
                    </fieldset>
                  </fieldset>
                </div><!-- end of [F] Temporary accomodation -->


                <!-- [G] Partner living arrangements -->
                <div id="partner-living-arrangements">
                  <h2>Partner living arrangements</h2>
                  <fieldset class="form-group margin-above">
                    <legend class="legend-label">Does your partner live at a different address because of age or ill health?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="partner-living-yes">
                        <input id="partner-living-yes" type="radio" value="yes" name="partner-living">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="partner-living-no">
                        <input id="partner-living-no" value="no" type="radio" name="partner-living">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>

                  <div class="form-group margin-above" id="return-residence-not-returning-details">
                    <label class="uikit-text-input__label" for="textArea">Provide details</label>
                    <textarea id="textArea" name="statementText" rows="3"></textarea>
                  </div>

                  <h2>Home ownership</h2>
                  <fieldset class="form-group margin-above">
                    <legend class="legend-label">Have you sold your home in last 2 years? </legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="home-ownership-sold-yes">
                        <input id="home-ownership-sold-yes" type="radio" value="yes" name="home-ownership-sold">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="home-ownership-sold-no">
                        <input id="home-ownership-sold-no" value="no" type="radio" name="home-ownership-sold">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">Do you own your own home (either purchased outright or have a mortgage), but you or your partner live
                      somewhere else?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="own-home" value="own-home-rented">
                        <span class="uikit-control-input__text">Home rented to someone else</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="own-home" value="own-home-rent-occupied-free">
                        <span class="uikit-control-input__text">Occupied rent free</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="own-home" value="own-home-occupied-carer">
                        <span class="uikit-control-input__text">Occupied by the carer of a family member(s)</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="own-home" value="own-home-left-vacant">
                        <span class="uikit-control-input__text">Left vacant</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="own-home" value="own-home-damaged-living-elsewhere">
                        <span class="uikit-control-input__text">Home damaged living elsewhere</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="own-home" value="own-home-destroyed">
                        <span class="uikit-control-input__text">Home destroyed</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="own-home" value="own-home-living-elsewhere">
                        <span class="uikit-control-input__text">Living elsewhere</span>
                      </label>
                    </p>
                  </fieldset>
                </div><!-- end of [G] Partner living arrangements -->

                <!-- [H] Living elsewhere -->
                <div id="living-elsewhere">

                  <label class="uikit-text-input__label" for="tenant">How much rent do you receive?</label>
                  <input class="uikit-text-input input-half" style="width:100px; float:left; margin-bottom:30px;" name="tenant" type="text" value="$0.00">
                  <div class="title-field">per
                    <select class="uikit-text-input" style="width:100px; margin-top: 20px; margin-left:5px;" name="title" id="title" type="text" value="">
                      <option> Select </option>
                      <option>Week</option>
                      <option>Month</option>
                      <option>Year</option>
                    </select></div>

                  <fieldset class="form-group margin-above">
                    <legend class="legend-label">Is the rental money being used to pay for accommodation charge for you and/or your partner in an aged care facility?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="rental-money-yes">
                        <input id="rental-money-yes" type="radio" value="yes" name="rental-money">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="rental-money-no">
                        <input id="rental-money-no" value="no" type="radio" name="rental-money">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>

                  <div id="return-date">
                    <label class="uikit-text-input__label margin-above">What date was the property let?
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div><!-- end of date selection -->

                  <fieldset class="form-group margin-above">
                    <legend class="legend-label">Is there any mortgage on the property?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="property-mortgage-yes">
                        <input id="property-mortgage-yes" type="radio" value="yes" name="property-mortgage">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="property-mortgage-no">
                        <input id="property-mortgage-no" value="no" type="radio" name="property-mortgage">
                        <span>No</span>
                      </label>
                    </div>
                    <label class="uikit-text-input__label margin-above" for="property-mortgage">What is the amount owing?</label>
                    <input class="uikit-text-input input-half" name="property-mortgage-owing" type="text" value="">
                  </fieldset>

                </div> <!-- end of [H] Living elsewhere -->


              </div> <!-- end of col-lrg-12 -->
            </div><!-- end of form-group -->

            <!-- bottom page navigation -->
            <div class="pagination ">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/sp-residency' ">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='#open-modal' ">Cancel claim</button>
              <div class="floated ">
                <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/claims' ">Save and exit</button>
                <button class="uikit-btn btnNext " onclick="window.location.href='/sp-claim-contact' ">Save and next</button>
              </div>
            </div><!-- bottom page navigation end -->
            <% include ../partials/cancel-modal.ejs %>
          </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../../../global/partials/footer.ejs %>
      <script>
        $("#tenant").hide();
        $("#in-care-resident").hide();
        $("#retirement-village").hide();
        $("#life-intertest-granny-flat").hide();
        $("#providing-care").hide();
        $("#temp-accommodation").hide();
        $("#partner-living-arrangements").hide();
        $("#living-elsewhere").hide();
        $("#return-residence-not-returning-details").hide();

        $("#op1-la").click(function () {
          $("#tenant").show("fast");
          $("#in-care-resident").hide("fast");
          $("#retirement-village").hide("fast");
          $("#life-intertest-granny-flat").hide("fast");
          $("#providing-care").hide("fast");
          $("#temp-accommodation").hide("fast");
          $("#partner-living-arrangements").hide("fast");
          $("#living-elsewhere").hide("fast");
        });

        $("#op2-la").click(function () {
          $("#tenant").hide("fast");
          $("#in-care-resident").show("fast");
          $("#retirement-village").hide("fast");
          $("#life-intertest-granny-flat").hide("fast");
          $("#providing-care").hide("fast");
          $("#temp-accommodation").hide("fast");
          $("#partner-living-arrangements").hide("fast");
          $("#living-elsewhere").hide("fast");
        });

        $("#op3-la").click(function () {
          $("#tenant").hide("fast");
          $("#in-care-resident").hide("fast");
          $("#retirement-village").show("fast");
          $("#life-intertest-granny-flat").hide("fast");
          $("#providing-care").hide("fast");
          $("#temp-accommodation").hide();
          $("#partner-living-arrangements").hide("fast");
          $("#living-elsewhere").hide("fast");
        });

        $("#op4-la").click(function () {
          $("#tenant").hide("fast");
          $("#in-care-resident").hide("fast");
          $("#retirement-village").hide("fast");
          $("#life-intertest-granny-flat").show("fast");
          $("#providing-care").hide("fast");
          $("#temp-accommodation").hide("fast");
          $("#partner-living-arrangements").hide("fast");
          $("#living-elsewhere").hide("fast");
        });


        $("#op5-la").click(function () {
          $("#tenant").hide("fast");
          $("#in-care-resident").hide("fast");
          $("#retirement-village").hide("fast");
          $("#life-intertest-granny-flat").hide("fast");
          $("#providing-care").show("fast");
          $("#temp-accommodation").hide("fast");
          $("#partner-living-arrangements").hide("fast");
          $("#living-elsewhere").hide("fast");
        });

        $("#op6-la").click(function () {
          $("#tenant").hide("fast");
          $("#in-care-resident").hide("fast");
          $("#retirement-village").hide("fast");
          $("#life-intertest-granny-flat").hide("fast");
          $("#providing-care").hide("fast");
          $("#temp-accommodation").show("fast");
          $("#partner-living-arrangements").hide("fast");
          $("#living-elsewhere").hide("fast");
        });

        $("#op7-la").click(function () {
          $("#tenant").hide("fast");
          $("#in-care-resident").hide("fast");
          $("#retirement-village").hide("fast");
          $("#life-intertest-granny-flat").hide("fast");
          $("#providing-care").hide("fast");
          $("#temp-accommodation").hide("fast");
          $("#partner-living-arrangements").show("fast");
          $("#living-elsewhere").hide("fast");
        });

        $("#op8-la").click(function () {
          $("#tenant").hide("fast");
          $("#in-care-resident").hide("fast");
          $("#retirement-village").hide("fast");
          $("#life-intertest-granny-flat").hide("fast");
          $("#providing-care").hide("fast");
          $("#temp-accommodation").hide("fast");
          $("#partner-living-arrangements").hide("fast");
          $("#living-elsewhere").show("fast");
        });

      </script>

</body>

</html>