<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Living arrangements | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Childern</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active">
                  <a href="sp-la">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Living arrangements</p>
                  </a>
                </li>
                <li class="progress-step ongoing-only">
                  <a href="sp-claim-contact">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Claim contact</p>
                  </a>
                </li>
                <li class="progress-step progress-step--last">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Living arrangements</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">Your living arrangements</span>
            </h2>
            <div class="form-group margin-above">
              <div class="col-lrg-12">
                <!-- current relationship status questions -->
                <fieldset id="living-arrangements">
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="radio-buttons">Which of the following best describes your living arrangements?</label>
                    <p class="uiToolKitCheckBox margin-above">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Tenant</span><span class="help-field">Eg: Renting or lodging</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="in-care-res" class="uikit-control-input__input" type="radio" name="radio-in-care">
                        <span class="uikit-control-input__text">In care resident</span><span class="help-field">Eg: Care facility, Community based care, Family/friend</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="defacto" class="uikit-control-input__input" type="radio" name="radio-retirement-village">
                        <span class="uikit-control-input__text">Retirement village </span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="partner-not-living" class="uikit-control-input__input" type="radio" name="radio-life-flat">
                        <span class="uikit-control-input__text">Life interest or granny flat</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="widowed" class="uikit-control-input__input" type="radio" name="radio-providing-care">
                        <span class="uikit-control-input__text">Providing Care</span> <span class="help-field">Moved address to provide care for someone else</span>
                      </label>
                    </p>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="widowed" class="uikit-control-input__input" type="radio" name="radio-temp-accom">
                        <span class="uikit-control-input__text">Temporary accommodation</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="widowed" class="uikit-control-input__input" type="radio" name="radio-own-home">
                        <span class="uikit-control-input__text">Living in own home</span><span class="help-field">Including mobile home</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="married-separated" class="uikit-control-input__input" type="radio" name="radio-free-accom">
                        <span class="uikit-control-input__text">In free accommodation</span> <span class="help-field">Such as living with relatives</span>
                      </label>
                    </p>
                  </div>
                </fieldset>

                <!-- [A] Tenant -->
                <div id="tenant" class="margin-above--large">
                  <label class="uikit-text-input__label" for="tenant">To whom are you paying rent?</label>
                  <input class="uikit-text-input input-half" name="tenant" type="text" value="">

                  <label class="uikit-text-input__label" for="tenant">What amount of rent are you paying?</label>
                  <input class="uikit-text-input input-half" style="width:100px; float:left; margin-bottom:30px;" name="tenant" type="text" value="$0.00">
                  <div class="title-field">per
                    <select class="uikit-text-input" style="width:100px; margin-top: 20px; margin-left:5px;" name="title" id="title" type="text" value="">
                      <option> Select </option>
                      <option>Week</option>
                      <option>Month</option>
                      <option>Year</option>
                    </select></div>
                </div><!-- end of A -->

                <!-- [B] In care resident -->
                <div id="in-care-resident" class="margin-above form-group">
                  <fieldset>
                    <label class="uikit-text-input__label" for="radio-buttons">Select the type of care:</label>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-community">
                        <span class="uikit-control-input__text">Community based care</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-high-level">
                        <span class="uikit-control-input__text">Approved facility – high level care</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-low-level">
                        <span class="uikit-control-input__text">Approved facility – low level care</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-non-gov">
                        <span class="uikit-control-input__text"> Non-government subscribed care</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-family-friend">
                        <span class="uikit-control-input__text"> Family/Friend</span>
                      </label>
                    </p>
                  </fieldset>

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label">Date you moved into care:
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </fieldset>

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">How long will you be in care?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Long term / permanently</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Short term / respite care</span>
                      </label>
                    </p>
                  </fieldset>
                  <p>Are you paying rent or accommodation fees?</p>
                  <p>Name of carer:</p>

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">What accommodation / care payments are you making?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text"> Bond - lump sum</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Bond - lump sum and periodic payment</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Periodic payment</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Charge</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">None</span>
                      </label>
                    </p>
                  </fieldset>

                  <p>What was the amount of bond or entry contribution paid (if any):</p>

                </div><!-- end of [B] In care resident -->

                <!-- [C] Retirement village -->
                <div id="retirement-village">
                  <label class="uikit-text-input__label">Date you moved in:
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                  <fieldset class="form-group margin-above">
                    <legend class="legend-label">Are you paying rent / accommodation fees?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="retirement-village-rent-yes">
                        <input id="retirement-village-rent-yes" type="radio" name="retirement-village-rent">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="retirement-village-rent-no">
                        <input id="retirement-village-rent-no" type="radio" name="retirement-village-rent">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>

                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">What accommodation / care payments are you making?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text"> Bond - lump sum</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Bond - lump sum and periodic payment</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Periodic payment</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Charge</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">None</span>
                      </label>
                    </p>
                  </fieldset>

                  <label class="uikit-text-input__label" for="tenant">What was the amount of bond or entry contribution paid (if any):</label>
                  <input class="uikit-text-input input-half" name="retirement-village-bond" type="text" value="$0.00">
                </div><!-- end of [C] Retirement village -->

                <!-- [D] Life interest or granny flat  -->
                <div id="granny-flat">
                  <label class="uikit-text-input__label margin-above">Date you moved in:
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                  <fieldset class="form-group margin-above">
                    <legend class="legend-label">Did you pay a sum of money or transfer any assets to another person or organisation in return for this accommodation for life?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="granny-flat-accom-yes">
                        <input id="granny-flat-accom-yes" type="radio" name="granny-flat-accom">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="granny-flat-accom-no">
                        <input id="granny-flat-accom-no" type="radio" name="granny-flat-accom">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>
                </div><!-- end of [D] Life interest or granny flat  -->

                <!-- [E] Providing care  -->
                <div id="providing-care">
                  <label class="uikit-text-input__label margin-above">Date you moved in:
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                  <label class="uikit-text-input__label margin-above" for="tenant">Name of person cared for:</label>
                  <input class="uikit-text-input input-half" name="retirement-village-bond" type="text" value="">
                  <fieldset class="form-group margin-above">
                    <label class="uikit-text-input__label" for="radio-buttons">What accommodation / care payments are you making?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Long term / permanently</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Short term / respite care</span>
                      </label>
                    </p>
                  </fieldset>

                  <label class="uikit-text-input__label margin-above">When do you expect to leave?
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                </div> <!-- end of [E] Providing care  -->
              </div>
            </div>

            <!-- bottom page navigation -->
            <div class="pagination ">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/sp-residency' ">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='#open-modal' ">Cancel claim</button>
              <div class="floated ">
                <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/claims' ">Save and exit</button>
                <button class="uikit-btn btnNext " onclick="window.location.href='/sp-claim-contact' ">Save and next</button>
              </div>
            </div><!-- bottom page navigation end -->
            <% include ../partials/cancel-modal.ejs %>
          </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../../../global/partials/footer.ejs %>

</body>

</html>