<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Service Pension - Living arrangements | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar-new.ejs %>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="container margin-above--none">
                <!-- Progress bar -->
                <div class="col-md-12">
                    <nav>
                        <ul class="progress-container">
                            <li class="progress-step progress-step--done">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">My details</p>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Dependent children</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step--active">
                                <a href="sp-la">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Living arrangements</p>
                  </a>
                            </li>
                            <li class="progress-step ongoing-only">
                                <a href="sp-claim-contact">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Claim representative</p>
                  </a>
                            </li>
                            <li class="progress-step progress-step--last">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Payment details</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Page heading -->
            <h1 class="margin-above--none ss-align--center">
          <span class="heading">Living arrangements</span>
        </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Page content -->
                    <div class="form-group margin-above">
                        <div class="col-lrg-12">
                            <div class="margin-above--extra margin-below--extra">
                                <!-- current relationship status questions -->
                                <fieldset id="living-arrangements">
                                    <div class="form-group">
                                        <label class="uikit-text-input__label" for="radio-buttons">Which of the following best describes where you live?</label>
                                        <p class="uiToolKitCheckBox margin-above" >
                                            <label class="uikit-control-input">
                                                <input id="op1-la" class="uikit-control-input__input" type="radio" value="tenant" name="radio-la">
                                                <span class="uikit-control-input__text">In a home you <span id="sp-la-partnerRef-01">(and/or your partner)</span> own </span><span class="help-field">This includes paying it off (mortgage)</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op2-la" class="uikit-control-input__input" value="in-care" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In a home you <span id="sp-la-partnerRef-02">(and/or your partner)</span> own jointly with another person or organisation</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox" >
                                            <label class="uikit-control-input">
                                                <input id="op3-la" class="uikit-control-input__input" type="radio" value="retirement-village" name="radio-la">
                                                <span class="uikit-control-input__text">In a retirement village or independent living unit</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox" >
                                            <label class="uikit-control-input">
                                                <input id="op4-la" class="uikit-control-input__input" value="granny-flat" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In residential aged care home (nursing home) which provides nursing care </span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op5-la" class="uikit-control-input__input" value="providing-care" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In a hospital or home for people with disabilities</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op6-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In accommodation which you have the right to use free for life
                        </span><span class="help-field">Such as a granny flat</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op7-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In private rental accommodation, caravan park or moored craft </span>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op8-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In a relocatable home</span> <span class="help-field">Such as a home situated in a village or caravan park where you
                          are paying site fees </span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op9-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In a place where you pay private board and lodging</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op10-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In free accommodation</span> <span class="help-field">Such as living with relatives</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op11-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In a home owned by a private trust</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op12-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">In a home owned by a private company</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="op13-la" class="uikit-control-input__input" type="radio" name="radio-la">
                                                <span class="uikit-control-input__text">Other</span><span class="help-field">Please describe</span>
                                            </label>
                                        </p>
                                    </div>
                                </fieldset>
                                <!-- Option 3 -->
                                <div id="op3-la-content">
                                    <h2>Give details about your accommodation in the retirement village </h2>
                                    <fieldset>
                                        <div class="form-group" id="date-separation">
                                            <label class="uikit-text-input__label">On what date did you move in to this accommodation?
                                                <span class="hint">(dd / mm / yyyy)</span>
                                            </label>
                                            <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                                            <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                                            <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend class="legend-label">Did you pay an entry contribution?</legend>
                                        <div class="radio-toggle">
                                            <label class="on label-left" for="pay-contribution-yes">
                                                <input id="pay-contribution-yes" type="radio" name="pay-contribution">
                                                <span>Yes</span>
                                            </label>
                                            <label class="off label-right" for="pay-contribution-no">
                                                <input id="pay-contribution-no" type="radio" name="pay-contribution">
                                                <span>No</span>
                                            </label>
                                        </div>
                                    </fieldset>
                                    <div class="form-group margin-above" id="sp-la-op3-howMuch">
                                        <label class="uikit-text-input__label" for="tags">How much?</label>
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
                                    </div>
                                    <div class="form-group margin-above" id="sp-la-op3-howMuchOngoing">
                                        <label class="uikit-text-input__label" for="tags">How much do you pay ongoing for your accommodation?</label>
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 8em;">per &nbsp;&nbsp;<input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 8em;">
                                    </div>
                                    <div class="form-group margin-above" id="sp-la-op3-dateStartedPaying">
                                        <label class="uikit-text-input__label">Date you started paying?
                                            <span class="hint">(dd / mm / yyyy)</span>
                                        </label>
                                        <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                                        <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                                        <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                    </div>
                                    <fieldset id="sp-la-op3-includeMeals" class="margin-above">
                                        <legend class="legend-label">Does this include meals?</legend>
                                        <div class="radio-toggle">
                                            <label class="on label-left" for="include-meals-yes">
                                                <input id="include-meals-yes" type="radio" name="include-meals">
                                                <span>Yes</span>
                                            </label>
                                            <label class="off label-right" for="include-meals-no">
                                                <input id="include-meals-no" type="radio" name="include-meals">
                                                <span>No</span>
                                            </label>
                                        </div>
                                    </fieldset>
                                    <div class="uikit-page-alerts" role="alert">
                                        <p>You will need to attach a certified coy of the <span>entry agreement</span> in the documents section</p>
                                    </div>
                                </div>
                                <!-- Option 4 -->
                                <div id="op4-la-content">
                                    <h2>Give details about your accommodation in the nursing home or hostel</h2>
                                    <div class="form-group margin-above" id="sp-la-op4-name">
                                        <label class="uikit-text-input__label" for="tags">What is the name of the nursing home or hostel?</label>
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                    </div>
                                    <fieldset id="sp-la-op4-bond" class="margin-above">
                                        <legend class="legend-label">Did/do you pay an accommodation bond or charge?</legend>
                                        <div class="radio-toggle">
                                            <label class="on label-left" for="sp-la-op4-bond-yes">
                                                <input id="sp-la-op4-bond-yes" type="radio" name="sp-la-op4-bond">
                                                <span>Yes</span>
                                            </label>
                                            <label class="off label-right" for="sp-la-op4-bond-no">
                                                <input id="sp-la-op4-bond-no" type="radio" name="sp-la-op4-bond">
                                                <span>No</span>
                                            </label>
                                        </div>
                                    </fieldset>
                                    <div class="form-group margin-above" id="sp-la-op4-howMuch">
                                        <label class="uikit-text-input__label" for="tags">How much?</label>
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
                                    </div>
                                    <div class="form-group margin-above" id="sp-la-op4-howMuchOngoing">
                                        <label class="uikit-text-input__label" for="tags">How much do you pay ongoing for your accommodation?</label>
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 8em;">per &nbsp;&nbsp;<input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 8em;">
                                    </div>
                                    <div class="form-group margin-above" id="sp-la-op4-dateStartedPaying">
                                        <label class="uikit-text-input__label">Date you started paying?
                                            <span class="hint">(dd / mm / yyyy)</span>
                                        </label>
                                        <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                                        <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                                        <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                    </div>
                                    <div class="uikit-page-alerts" role="alert" id="sp-la-op4-alert">
                                        <p>You will need to attach a certified copy of the Accommodation Bond or the Accommodation Charge Agreement in the documents section.</p>
                                    </div>
                                </div>
                                <!-- Option 5 -->
                                <div id="op5-la-content">
                                    <h2>Give details about your accommodation in the hospital or home</h2>
                                    <div class="form-group margin-above" id="sp-la-op5-alert-dateStartedPaying">
                                        <label class="uikit-text-input__label">Date you started paying?
                                            <span class="hint">(dd / mm / yyyy)</span>
                                        </label>
                                        <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                                        <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                                        <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                    </div>
                                    <div class="uikit-page-alerts" role="alert" id="sp-la-op5-alert">
                                        <p>You will need to attach a certified copy of the accommodation agreement or other relevant documentation in the documents section.</p>
                                    </div>
                                </div>
                                <!-- Option 6 -->
                                <div id="op6-la-content">
                                    <h2>Give details about your accommodation</h2>
                                    <fieldset id="sp-la-op6-paySum" class="margin-above">
                                        <legend class="legend-label">Did you pay a sum of money or transfer any assets to another person or organisation in return for this accommodation for life?</legend>
                                        <div class="radio-toggle">
                                            <label class="on label-left" for="sp-la-op6-paySum-yes">
                                                <input id="sp-la-op6-paySum-yes" type="radio" name="sp-la-op6-paySum">
                                                <span>Yes</span>
                                            </label>
                                            <label class="off label-right" for="sp-la-op6-paySum-no">
                                                <input id="sp-la-op6-paySum-no" type="radio" name="sp-la-op6-paySum">
                                                <span>No</span>
                                            </label>
                                        </div>
                                    </fieldset>
                                    <div id="sp-la-op6-additional">
                                        <div class="form-group margin-above" id="sp-la-op6-howMuch">
                                            <label class="uikit-text-input__label" for="tags">Name of person of organization</label>
                                            <input class="uikit-text-input" name="tags" id="tags" type="text" value=""">
                                        </div>
                                        <div class=" form-group margin-above" id="sp-la-op6-organisation">
                                            <label class="uikit-text-input__label" for="tags">Address of person or organization</label>
                                            <input class="uikit-text-input" name="tags" id="tags" type="text" value=""">
                                            <input class=" uikit-text-input" name="tags" id="tags" type="text" value=""">
                                        </div>
                                        <div class=" form-group margin-above" id="sp-la-op6-dateStartedPaying">
                                            <label class="uikit-text-input__label">Date paid/transferred
                                                <span class="hint">(dd / mm / yyyy)</span>
                                            </label>
                                            <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                                            <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                                            <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                        </div>
                                        <div class="form-group margin-above" id="sp-la-op6-amount">
                                            <label class="uikit-text-input__label" for="tags">Amount paid</label>
                                            <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
                                        </div>
                                        <div class="form-group margin-above" id="sp-la-op6-or">
                                            <label class="uikit-text-input__label" for="tags">OR</label>
                                        </div>
                                        <div class="form-group margin-above" id="sp-la-op6-whatAssets">
                                            <label class="uikit-text-input__label" for="tags">What assets were transferred?</label>
                                            <input class="uikit-text-input" name="tags" id="tags" type="text" value=""">
                                            <input class=" uikit-text-input" name="tags" id="tags" type="text" value=""">
                                        </div>
                                         <div class=" form-group margin-above" id="sp-la-op6-marketValue">
                                            <label class="uikit-text-input__label" for="tags">Market value of assets transferred</label>
                                            <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
                                        </div>
                                    </div>
                                </div>
                                <!-- Option 7 8 9 -->
                                <div id="op789-la-content">
                                    <h2>Give details</h2>
                                    <!-- <fieldset id="sp789-la-paymentType"> -->
                                    <div class="form-group">
                                        <label class="uikit-text-input__label" for="radio-buttons">Type of payment</label>
                                        <p class="uiToolKitCheckBox margin-above">
                                            <label class="uikit-control-input">
                                                <input id="sp-la-op789-type-01" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                <span class="uikit-control-input__text">Public housing</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="sp-la-op789-type-02" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                <span class="uikit-control-input__text">Private rent</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="sp-la-op789-type-03" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                <span class="uikit-control-input__text">Caravan park site fees</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="sp-la-op789-type-04" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                <span class="uikit-control-input__text">Relocatable home site fees</span>
                                            </label>
                                        </p>
                                        <p class="uiToolKitCheckBox">
                                            <label class="uikit-control-input">
                                                <input id="sp-la-op789-type-05" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                <span class="uikit-control-input__text">Mooring fees</span>
                                            </label>
                                        </p>
                                    </div>
                                    <div class="form-group margin-above" id="sp-la-op789-howMuch">
                                        <label class="uikit-text-input__label" for="tags">How much do you pay?</label>
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 8em;">per &nbsp;&nbsp;<input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 8em;">
                                    </div>
                                    <div class="form-group margin-above" id="sp-la-op789-whoTo">
                                        <label class="uikit-text-input__label" for="tags">Who do you pay it to?</label>
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                    </div>
                                    <!-- </fieldset> -->
                                    <div class="uikit-page-alerts" role="alert">
                                        <p>You will need to attach a certified copy of your latest lease or tenancy agreement in the documents section.</p>
                                        <p>If you don’t have one, you may attach a certified copy of the latest rent receipt. Make sure the name and address of the person to whom you pay is written on the receipt.</p>
                                    </div>
                                </div>
                                <!-- Option 10 -->
                                <div id="op10-la-content">
                                    <h2>Give details of the provider of the free accommodation</h2>
                                    <div class="form-group margin-above" id="sp-la-op789-howMuch">
                                        <label class="uikit-text-input__label" for="tags">Name</label>
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                    </div>
                                    <div class="form-group margin-above" id="sp-la-op789-whoTo">
                                        <label class="uikit-text-input__label" for="tags">Relationship to you</label>
                                        <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                    </div>
                                    <fieldset>
                                        <div class="form-group" id="date-separation">
                                            <label class="uikit-text-input__label">On what date did you move in to this accommodation?
                                                <span class="hint">(dd / mm / yyyy)</span>
                                            </label>
                                            <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                                            <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                                            <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                        </div>
                                    </fieldset>
                                    <legend>Address</legend>
                                    <% include ../../../global/partials/address-residential.ejs %>
                                </div>
                                <!-- Option 11 -->
                                <!-- Option 12 -->
                                <!-- Option 13 -->
                                <div id="op13-la-content">
                                    <label class="uikit-text-input__label" for="tags">Provide details</label>
                                    <textarea name="test">
                                    </textarea>
                                </div>
                                <div id="sp-la-partner">
                                    <h2 class="margin-above--large">Partner living arrangements</h2>
                                    <fieldset>
                                        <legend class="legend-label">Does your partner live at a different address because of age or ill health?</legend>
                                        <div class="radio-toggle">
                                            <label class="on label-left" for="sp-la-partnerAddress-yes">
                                                <input id="sp-la-partnerAddress-yes" type="radio" name="sp-la-partnerAddress">
                                                <span>Yes</span>
                                            </label>
                                            <label class="off label-right" for="sp-la-partnerAddress-no">
                                                <input id="sp-la-partnerAddress-no" type="radio" name="sp-la-partnerAddress">
                                                <span>No</span>
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of col-lrg-12 -->
            </div><!-- end of form-group -->
            <!-- bottom page navigation -->
            <div class="pagination ">
                <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/sp-residency' ">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='#open-modal' ">Cancel claim</button>
                <div class="floated ">
                    <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/claims' ">Save and exit</button>
                    <button class="uikit-btn btnNext " onclick="window.location.href='/sp-claim-contact' ">Save and next</button>
                </div>
            </div><!-- bottom page navigation end -->
            <% include ../partials/cancel-modal.ejs %>
        </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
        </div> <!-- container end -->
    </main>
    <% include ../../../global/partials/footer.ejs %>
    <script>
    $(Document).ready(function() {

        hideAll();

        /* op1 */
        $("#op1-la").click(function(e) {
            hideAll();
        });
        /* op2 */
        $("#op2-la").click(function() {
            hideAll();
        });
        /* op3 */
        $("#op3-la").click(function() {
            console.log("op3")
            hideAll();
            $("#op3-la-content").show("fast");
        });
        $("#pay-contribution-yes").click(function() {
            $("#sp-la-op3-howMuch").show("fast");
        });
        $("#pay-contribution-no").click(function() {
            $("#sp-la-op3-howMuch").hide("fast");
        });
        /* op4 */
        $("#op4-la").click(function() {
            console.log("op4")
            hideAll();
            $("#op4-la-content").show("fast");
        });
        $("#sp-la-op4-bond-yes").click(function() {
            $("#sp-la-op4-howMuch").show("fast");
            $("#sp-la-op4-alert").show("fast");
        });
        $("#sp-la-op4-bond-no").click(function() {
            $("#sp-la-op4-howMuch").hide("fast");
            $("#sp-la-op4-alert").hide("fast");
        });
        /* op5 */
        $("#op5-la").click(function() {
            hideAll();
            $("#op5-la-content").show("fast");
        });
        /* op6 */
        $("#op6-la").click(function() {
            hideAll();
            $("#op6-la-content").show("fast");
        });
        $("#sp-la-op6-paySum-yes").click(function() {
            $("#sp-la-op6-additional").show("fast");
        });
        $("#sp-la-op6-paySum-no").click(function() {
            $("#sp-la-op6-additional").hide("fast");
        });
        /* op789 */
        $("#op7-la").click(function() {
            console.log("fdgdfg");
            hideAll();
            $("#op789-la-content").show("fast");
        });
        $("#op8-la").click(function() {
            hideAll();
            $("#op789-la-content").show("fast");
        });
        $("#op9-la").click(function() {
            hideAll();
            $("#op789-la-content").show("fast");
        });
        $("#sp-la-op789-type-01").click(function() {
            $("#sp-la-op789-whoTo").hide("fast");
        });
        $("#sp-la-op789-type-02").click(function() {
            $("#sp-la-op789-whoTo").show("fast");
        });
        $("#sp-la-op789-type-03").click(function() {
            $("#sp-la-op789-whoTo").show("fast");
        });
        $("#sp-la-op789-type-03").click(function() {
            $("#sp-la-op789-whoTo").show("fast");
        });
        $("#sp-la-op789-type-04").click(function() {
            $("#sp-la-op789-whoTo").show("fast");
        });
        /* op10 */
        $("#op10-la").click(function() {
            hideAll();
            $("#op10-la-content").show("fast");
        });
        /* op11 */
        $("#op11-la").click(function() {
            hideAll();
        });
        /* op12 */
        $("#op12-la").click(function() {
            hideAll();
        });
        /* op13 */
        $("#op13-la").click(function() {
            hideAll();
            $("#op13-la-content").show("fast");
        });

        var partner = false;
        $(document).keypress(function(e) {
            switch (e.which) {
                case 49:
                    partner = false;
                    $("#sp-la-partnerRef-01").hide();
                    $("#sp-la-partnerRef-02").hide();
                    $("#sp-la-partner").hide();
                    break;
                case 50:
                    partner = true;
                    $("#sp-la-partnerRef-01").show();
                    $("#sp-la-partnerRef-02").show();
                    $("#sp-la-partner").show();
                    break;
                default:
            }
        });

        function hideAll() {
            if (!partner) {
                $("#sp-la-partnerRef-01").hide();
                $("#sp-la-partnerRef-02").hide();
                $("#sp-la-partner").hide();
            };
            /* op3 */
            $("#op3-la-content").hide("fast");
            $("#sp-la-op3-howMuch").hide("fast");
            /* op4 */
            $("#op4-la-content").hide("fast");
            $("#sp-la-op4-howMuch").hide("fast");
            $("#sp-la-op4-alert").hide("fast");
            /* op5 */
            $("#op5-la-content").hide("fast");
            /* op6 */
            $("#op6-la-content").hide("fast");
            $("#sp-la-op6-additional").hide("fast");
            /* op789 */
            $("#op789-la-content").hide("fast");
            $("#sp-la-op789-whoTo").hide("fast");
            /* op10 */
            $("#op10-la-content").hide("fast");
            /* op11 */
            /* op12 */
            /* op13 */
            $("#op13-la-content").hide("fast");
        }
    });
    </script>
</body>

</html>