<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - My home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <main id="main-content">
        <div class="container">
          <div id="progressbar">
            <div id="percentage">
              <p id="percentage_value"></p>
            </div>
          </div>

          <h1>
            <span class="heading">My home</span>
          </h1>
          <h2 class="margin-above--large">
            <span class="font-weight-heavy">My home information</span>
          </h2>
          <div class="form-group margin-above" id="ageChildern">
            <label class="uikit-text-input__label" for="radio-buttons">Do you have any dependant childern</label>
            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input" id="op1">
                <input class="uikit-control-input__input" type="radio" name="radio-age">
                <span class="uikit-control-input__text">Under 16 years of age</span>
              </label>
            </p>
            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input" id="op2">
                <input class="uikit-control-input__input" type="radio" name="radio-age">
                <span class=" uikit-control-input__text ">16 - 22 years of age</span>
              </label>
            </p>

            <!-- bottom page navigation -->
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-residency'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-claim-contact'">Save and next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

      </main>

      <% include ../../../global/partials/footer.ejs %>


        <script>
          // Progress percentage
          document.getElementById("percentage ").style.width = "20% ";
          document.getElementById("percentage_value ").textContent = "20% ";

          $("#refinance-reason ").hide();
          $("#specify ").hide();
          $("#why-lodge ").hide();

          $("#purpose label ").click(function () {
            if ($(this).children('input').val() == "refinance ") {
              $("#refinance-reason ").show();
            } else {
              $("#refinance-reason ").hide();
              $("#why-refinance ").val(" ");
            }
          });

          $("#occupancy label ").click(function () {
            if ($(this).children('input').val() == "other ") {
              $("#specify ").show();
            } else {
              $("#specify ").hide();
              $("#specify-occupancy ").val(" ");
            }
          });

          $("#dhoas ").click(function () {
            $("#why-lodge ").toggle();
          });

        </script>


</body>

</html>