<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Partner | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor"></body>
<noscript>
  <p role="alert">This website needs JavaScript to work properly.</p>
</noscript>
<nav class="uikit-skip-link">
  <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
</nav>
<% include ../../../global/partials/header-topbar-new.ejs %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--active">
                <a href="sp-my-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </a>
              </li>
              <li class="progress-step">
                <a href="sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Partner</p>
                </a>
              </li>
              <li class="progress-step ongoing-only employed">
                <a href="sp-dependant">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Children</p>
                </a>
              </li>
              <li class="progress-step ongoing-only">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Residency</p>
              </li>
              <li class="progress-step">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Living arrangements</p>
              </li>
              <li class="progress-step ongoing-only">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Representative</p>
              </li>
              <li class="progress-step progress-step--last">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Payment details</p>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">My details</span>
      </h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- Page content -->
          <div class="form-group margin-above--large">

            <label class="uikit-text-input__label" for="radio-buttons">What is your preferred contact method?</label>
            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input" id="op1">
                <input class="uikit-control-input__input" type="radio" name="radio-contact">
                <span class="uikit-control-input__text">Email</span>
              </label>
            </p>
            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input" id="op2">
                <input class="uikit-control-input__input" type="radio" name="radio-contact">
                <span class="uikit-control-input__text">Postal mail</span>
              </label>
            </p>
            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input" id="op3">
                <input class="uikit-control-input__input" type="radio" name="radio-contact">
                <span class="uikit-control-input__text">Phone</span>
              </label>
            </p>
          </div>

          <fieldset>
            <legend class="legend-label">Do you currently hold a Commonwealth Seniors Health Card (CSHC) from Centrelink?</legend>
            <div class="radio-toggle">
              <label class="on label-left" for="cshc-yes">
                <input id="cshc-yes" type="radio" name="cshc">
                <span>Yes</span>
              </label>
              <label class="off label-right" for="cshc-no">
                <input id="cshc-no" type="radio" name="cshc">
                <span>No</span>
              </label>
            </div>
          </fieldset>




          <!-- bottom page navigation -->
          <div class="pagination ">
            <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/sp-progress-b' ">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='#open-modal' ">Cancel claim</button>
            <div class="floated ">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/sp-start' ">Save and exit</button>
              <button class="uikit-btn btnNext " onclick="window.location.href='/sp-partner' ">Save and next</button>
            </div>
          </div><!-- bottom page navigation end -->
          <% include ../partials/cancel-modal.ejs %>
        </div> <!-- col-md-12 end -->
      </div> <!-- row end -->
    </div> <!-- container end -->
  </main>

  <% include ../../../global/partials/footer.ejs %>


    <script>

      $(Document).ready(function () {
        $("#other-name-details ").hide();

        // Show and hide needs list
        $("#other-names-yes ").click(function () {
          $("#other-name-details ").show("fast ");
        });
        $("#other-names-no ").click(function () {
          $("#other-name-details ").hide("fast ");
        });
      });

    </script>
    </body>

</html>