<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - My details | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--active">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </li>
                <li class="progress-step">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step ongoing-only employed">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Childern</p>
                </li>
                <li class="progress-step ongoing-only">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Residency</p>
                </li>
                <li class="progress-step">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </li>
                <li class="progress-step ongoing-only">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Representative</p>
                </li>
                <li class="progress-step progress-step--last">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center col-md-12">
          <span class="heading">My details</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">My details</span>
            </h2>

            <div class="form-group margin-above" id="sp-my-details">
              <fieldset>
                <legend class="legend-label">Are you a registered member of the Pension Bonus Scheme?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="pbs-yes">
                    <input id="pbs-yes" type="radio" name="pbs-adf">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="pbs-no">
                    <input id="pbs-no" type="radio" name="pbs-adf">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>

              <fieldset>
                <legend class="legend-label">Do you currently hold a Commonwealth Seniors Health Card (CSHC) from Centrelink or DVA?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="cshc-yes">
                    <input id="cshc-yes" type="radio" name="cshc-adf">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="cshc-no">
                    <input id="cshc-no" type="radio" name="cshc-adf">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
              <div class="row col-md-8">
                <div class="form-group">
                  <label class="uikit-text-input__label" for="tax-number">What is your tax file number?</label>
                  <input class="uikit-text-input input-half" name="tax-number" id="tax-number" type="text" value="">
                </div>
              </div>

              <fieldset>
                <legend class="legend-label">Have you ever been known by any other names?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="other-names-yes">
                    <input id="other-names-yes" type="radio" name="other-names">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="other-names-no">
                    <input id="other-names-no" type="radio" name="other-names">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>

            <div id="other-name-details">
              <div class="form-group">
                <label class="uikit-text-input__label" for="other-name">Other name</label>
                <input class="uikit-text-input input-half" name="other-name" id="other-name" type="text" value="">
              </div>
            </div>

            <!-- bottom page navigation -->
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-partner'">Save and next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>
    </main>

    <% include ../../../global/partials/footer.ejs %>


      <script>

        $(Document).ready(function () {
          $("#other-name-details").hide();

          // Show and hide needs list
          $("#other-names-yes").click(function () {
            $("#other-name-details").show("fast");
          });
          $("#other-names-no").click(function () {
            $("#other-name-details").hide("fast");
          });
        });

      </script>
</body>

</html>