<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Payment details | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <!-- Progress bar -->
          <div class="col-md-12">
            <nav>
              <ul class="progress-container">
                <li class="progress-step progress-step--done">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Partner</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-partner">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Children</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-residency">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Residency</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-la">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Living arrangements</p>
                  </a>
                </li>
                <li class="progress-step progress-step--done">
                  <a href="sp-claim-contact">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Representative</p>
                  </a>
                </li>
                <li class="progress-step progress-step--active progress-step--last">
                  <a href="sp-payment-details">
                    <span class="progress-step__icon"></span>
                    <p class="progress-step-label">Payment details</p>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Payment details</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <h2 class="margin-above--large">
              <span class="font-weight-heavy">Your payment details</span>
            </h2>
            <label class="uikit-text-input__label" for="tags">Your tax file number</label>
            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">

            <div class="uikit-page-alerts" role="alert">
              <p><strong>Do not have or do not know your Tax File Number?</strong></p>
              <p>DVA can help you get your Tax File Number from the Australian Taxation Office — you must complete a <strong>Tax file number application or enquiry form NAT 1432</strong></p>
              </p>
            </div>
            <h3>Your account</h3>
            <div class="bank-details-container">
              <div class="col-xs-12 col-sm-8 col-lg-6 margin-below--large">
                <% include ../../../global/partials/bank-account-details.ejs %>
              </div>
            </div>

            <fieldset>
              <legend class="legend-label">Use the same account for your partner’s payment?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="partner-account-yes">
                  <input id="partner-account-yes" type="radio" name="partner-account">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="partner-account-no">
                  <input id="partner-account-no" type="radio" name="partner-account">
                  <span>No</span>
                </label>
              </div>
            </fieldset>

            <!-- Partner account -->
            <div id="partner-account-details">
              <h2 class="margin-above--large">
                <span class="font-weight-heavy">Your partner’s account</span>
              </h2>

              <div class="bank-details-container">
                <div class="col-xs-12 col-sm-8 col-lg-6 margin-below--large">
                  <% include ../../../global/partials/bank-account-details.ejs %>
                </div>
              </div>
            </div>

            <!-- bottom page navigation -->
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-representative'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-progress-c'">Save and next</button>
              </div>
            </div><!-- bottom page navigation end -->
            <% include ../partials/cancel-modal.ejs %>
          </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../../../global/partials/footer.ejs %>


      <script>
        $("#partner-account-details").hide();
        $("#partner-account-details").hide();
        $("#partner-account-details").hide();
        $("#partner-account-details").hide();

        $("#partner-account-yes").click(function () {
          $("#partner-account-details").show("fast");
        });

        $("#partner-account-no").click(function () {
          $("#partner-account-details").hide("fast");
        });

      </script>


</body>

</html>