<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>My details | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/cancel-modal.ejs %>
        <main id="main-content">
          <div class="container">
            <div id="progressbar">
              <div id="percentage">
                <p id="percentage_value"></p>
              </div>

            </div>
            <h1>
              <span class="heading">Claim details</span>
            </h1>

            <h2 class="margin-above--large">
              <span class="font-weight-heavy">My details</span>
            </h2>
            <div class="form-group margin-above" id="purpose">
              <label class="uikit-text-input__label" for="radio-buttons">What is your preferred contact method?</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op1">
                  <input class="uikit-control-input__input" type="radio" name="radio-purpose">
                  <span class="uikit-control-input__text">Moblie</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-purpose">
                  <span class="uikit-control-input__text">Home phone</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op3">
                  <input class="uikit-control-input__input" type="radio" name="radio-purpose">
                  <span class="uikit-control-input__text">Email</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op4">
                  <input class="uikit-control-input__input" type="radio" name="radio-purpose" value="refinance">
                  <span class="uikit-control-input__text">Other</span>
                </label>
              </p>
            </div>

            <div class="form-group form-group--secondary" id="refinance-reason">
              <label class="uikit-text-input__label" for="why-refinance">Please detail</label>
              <textarea id="why-refinance" name="why-refinance" rows="3" value=""></textarea>
            </div>

            <div class="margin-below--large form-group">
              <div id="occupancy">
                <label class="uikit-text-input__label margin-above--large" for="radio-buttons">Are you an Australian citizen?</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                    <span class="uikit-control-input__text">Yes</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                    <span class="uikit-control-input__text">No</span>
                  </label>
                </p>
              </div>

              <div class="margin-below--large form-group">
                <div id="occupancy">
                  <label class="uikit-text-input__label margin-above--large" for="radio-buttons">Are you currently residing in Australia?</label>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                      <span class="uikit-control-input__text">Yes</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                      <span class="uikit-control-input__text">No</span>
                    </label>
                  </p>
                </div>

                <div class="margin-below--large form-group">
                  <div id="occupancy">
                    <label class="uikit-text-input__label margin-above--large" for="radio-buttons">What is your country of birth?</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                        <span class="uikit-control-input__text">Yes</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                        <span class="uikit-control-input__text">No</span>
                      </label>
                    </p>
                  </div>

                  <div class="margin-below--large form-group">
                    <div id="occupancy">
                      <label class="uikit-text-input__label margin-above--large" for="radio-buttons">Have you ever been known by any other names?</label>
                      <p class="uiToolKitCheckBox">
                        <label class="uikit-control-input">
                          <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                          <span class="uikit-control-input__text">Yes</span>
                        </label>
                      </p>
                      <p class="uiToolKitCheckBox">
                        <label class="uikit-control-input">
                          <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                          <span class="uikit-control-input__text">No</span>
                        </label>
                      </p>
                    </div>

                    <div class="margin-below--large form-group">
                      <div id="occupancy">
                        <label class="uikit-text-input__label margin-above--large" for="radio-buttons">What is your tax file number?</label>
                        <p class="uiToolKitCheckBox">
                          <label class="uikit-control-input">
                            <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                            <span class="uikit-control-input__text">Yes</span>
                          </label>
                        </p>
                        <p class="uiToolKitCheckBox">
                          <label class="uikit-control-input">
                            <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                            <span class="uikit-control-input__text">No</span>
                          </label>
                        </p>
                      </div>

                      <!-- bottom page navigation -->
                      <div class="pagination">
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Previous</button>
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                        <div class="floated">
                          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Save and exit</button>
                          <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-partner'">Save and next</button>
                        </div>
                      </div>
                      <% include ../partials/cancel-modal.ejs %>
                    </div>
        </main>

        <% include ../../../global/partials/footer.ejs %>


          <script>
            // Progress percentage
            document.getElementById("percentage").style.width = "20%";
            document.getElementById("percentage_value").textContent = "20%";

            $("#refinance-reason").hide();
            $("#specify").hide();
            $("#why-lodge").hide();

            $("#purpose label").click(function () {
              if ($(this).children('input').val() == "refinance") {
                $("#refinance-reason").show();
              } else {
                $("#refinance-reason").hide();
                $("#why-refinance").val("");
              }
            });

            $("#occupancy label").click(function () {
              if ($(this).children('input').val() == "other") {
                $("#specify").show();
              } else {
                $("#specify").hide();
                $("#specify-occupancy").val("");
              }
            });

            $("#dhoas").click(function () {
              $("#why-lodge").toggle();
            });

          </script>
</body>

</html>