<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Partner | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor"></body>
<noscript>
  <p role="alert">This website needs JavaScript to work properly.</p>
</noscript>
<nav class="uikit-skip-link">
  <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
</nav>
<% include ../../../global/partials/header-topbar-new.ejs %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <a href="sp-my-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">My details</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <a href="sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Partner</p>
                </a>
              </li>
              <li class="progress-step">
                <a href="sp-dependant">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Children</p>
                </a>
              </li>
              <li class="progress-step">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Residency</p>
              </li>
              <li class="progress-step">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Living arrangements</p>
              </li>
              <li class="progress-step">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Represnetive</p>
              </li>
              <li class="progress-step progress-step--last">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Payment details</p>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Partner</span>
      </h1>
    </div> <!-- container end -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- Page content -->
          <h2 class="margin-above--large">
            <span class="font-weight-heavy">Relationship status</span></h2>
          <div class="form-group margin-above">
            <div class="col-lrg-12">
              <!-- current relationship status questions -->
              <fieldset id="relationship-status">
                <div class="form-group">
                  <label class="uikit-text-input__label" for="radio-buttons">What is your current relationship status?</label>
                  <p class="uiToolKitCheckBox margin-above">
                    <label class="uikit-control-input">
                      <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Single</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input id="married" class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Married and currently living together</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input id="defacto" class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">In a de facto relationship and currently living together</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input id="partner-not-living" class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Have a partner, but unable to live together because of ill health or infirmity</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input id="divorced" class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Divorced</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input id="widowed" class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Widowed</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input id="married-separated" class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Separated</span>
                    </label>
                  </p>
                </div>
              </fieldset>

              <!-- A -->
              <div class="form-group" id="date-marriage">
                <fieldset>
                  <label class="uikit-text-input__label">Date of marriage
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </fieldset>
                <div class="uikit-page-alerts" role="alert" id="A1">
                  <p>You will need to attach a copy of your <strong>marriage certified</strong> in the documents section </p>
                </div>
              </div>

              <!-- B -->
              <div class="form-group" id="date-living-together">
                <fieldset>
                  <label class="uikit-text-input__label">Date commenced living together
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </fieldset>
                <div class="uikit-page-alerts" role="alert" id="A1">
                  <p>If registered you may attach a copy of the <strong>registration certificate</strong> in the documents section</p>
                </div>
              </div>

              <!-- C -->
              <div class="form-group" id="date-not-together">
                <fieldset>
                  <label class="uikit-text-input__label">Period unable to live together
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <span>From </span><input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year"> to
                  <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

                  <div class="margin-below--mid">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" name="or-indefinite" id="or-indefinite">
                      <span class="uikit-control-input__text">OR indefinite</span>
                    </label>
                </fieldset>
                </div>
              </div>

              <!-- D -->
              <div id="divorced-date">
                <fieldset>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label">Date of divorce
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                </fieldset>
              </div>

              <!-- E -->
              <div class="form-group" id="deceased-partner">
                <label class="uikit-text-input__label" for="tags">Name of deceased partner</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                <fieldset>
                  <div class="form-group" id="date-partners-death">
                    <label class="uikit-text-input__label">Date of partner’s death
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="deceasedStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="deceasedStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="deceasedStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </fieldset>
                </div>

                <!-- F -->
                <fieldset>
                  <div class="form-group" id="date-separation">
                    <label class="uikit-text-input__label">Date of separation
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                    <div class="uikit-page-alerts" role="alert">
                      <p>You will need to attach a <strong>Separation from Partner form</strong> </p>
                    </div>
                  </div>
                </fieldset>

                <!-- G -->
                <div class="form-group" id="partner-details">
                  <h2>Partner details</h2>
                  <div class="title-field">Title</div>
                  <select class="uikit-text-input title-width" name="title" id="title" type="text" value="">
                    <option>-- Select title --</option>
                    <option selected="">Not specified</option>
                    <option>Miss</option>
                    <option>Mr</option>
                    <option>Mrs</option>
                    <option>Ms</option>
                    <option>Other</option>
                  </select>

                  <div class="form-group">
                    <label class="uikit-text-input__label" for="tags">Family name</label>
                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                  </div>

                  <div class="form-group">
                    <label class="uikit-text-input__label" for="tags">Given name(s)</label>
                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                  </div>


                  <div class="uikit-text-input__label-wrapper--inline-block">
                    <legend class="uikit-text-input__label legend-label" id="question_gender">Has your partner ever used or been known by other names?</legend>
                  </div>
                  <div class="tooltip">
                    <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                      <div class="tooltip__label tooltip__label--icon-only">
                        <a>Other names helo help</a>
                      </div>
                      <div class="tooltip__tab"></div>
                    </div>
                    <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                      <div class="tooltip__message">For example: name at birth, maiden name, previous married name.</div>
                      <div class="tooltip__close" role="button" tabindex="0">Close</div>
                    </div>
                  </div>
                  <div class="radio-toggle">
                    <label class="on label-left" for="other-names-yes">
                      <input id="other-names-yes" name="other-names" type="radio">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="other-names-no">
                      <input id="other-names-no" name="other-names" type="radio">
                      <span>No</span>
                    </label>
                  </div>

                  <!--fieldset>
                    <legend class="legend-label">Gender</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="gender-yes">
                        <input id="gender-yes" type="radio" name="gender-names">
                        <span>Female</span>
                      </label>
                      <label class="off label-right" for="gender-no">
                        <input id="gender-no" type="radio" name="gender-names">
                        <span>Male</span>
                      </label>
                    </div>
                  </fieldset-->

                  <fieldset>
                    <div class="form-group margin-above--large">
                      <label class="uikit-text-input__label">Partner’s date of birth
                        <span class="hint">(dd / mm / yyyy)</span>
                      </label>
                      <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                      <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                      <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                    </div>
                  </fieldset>

                  <fieldset>
                    <legend class="legend-label">Is your partner’s home address the same as your own?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="aus-citizen-yes">
                        <input id="aus-citizen-yes" type="radio" name="aus-citizen">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="aus-citizen-no">
                        <input id="aus-citizen-no" type="radio" name="aus-citizen">
                        <span>No</span>
                      </label>
                    </div>

                    <div class="form-group" id="partners-home-address">
                      <label class="uikit-text-input__label" for="tags">Address line 1</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                      <label class="uikit-text-input__label" for="tags">Address line 2</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                      <label class="uikit-text-input__label" for="tags">Suburb</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                      <label class="uikit-text-input__label" for="tags">State</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                      <label class="uikit-text-input__label" for="tags">Postcode</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                    </div>

                    <legend class="legend-label margin-above--large">Is your partner’s postal address the same as your own?</legend>
                    <div class=" radio-toggle">
                      <label class="on label-left" for="aus-postal-yes">
                        <input id="aus-postal-yes" type="radio" name="aus-postal">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="aus-postal-no">
                        <input id="aus-postal-no" type="radio" name="aus-postal">
                        <span>No</span>
                      </label>
                    </div>

                    <legend class="legend-label margin-above--large">Does your partner currently hold a Commonwealth Seniors Health Card (CSHC) from Centrelink?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="partner-csh-yes">
                        <input id="partner-csh-yes" type="radio" name="partner-csh">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="partner-csh-no">
                        <input id="partner-csh-no" type="radio" name="partner-csh">
                        <span>No</span>
                      </label>
                    </div>

                    <!-- [H] CSHC -->
                    <div id="partner-cshc-details">
                      <label class="uikit-text-input__label margin-above--large" for="crn">What is the Customer Reference Number (CRN) on the card?</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">

                      <legend class="legend-label margin-above--large">Is your partner receiving (or applying for) a payment from Centrelink?
                      </legend>
                      <p>This includes for example, age pension, disability support pension, ABSTUDY, payments under the New Enterprise Incentive Scheme (NEIS)</p>
                      <div class="radio-toggle">
                        <label class="on label-left" for="partner-centrelink-yes">
                          <input id="partner-centrelink-yes" type="radio" name="partner-centrelink">
                          <span>Yes</span>
                        </label>
                        <label class="off label-right" for="partner-centrelink-no">
                          <input id="partner-centrelink-no" type="radio" name="partner-centrelink">
                          <span>No</span>
                        </label>
                      </div>
                    </div> <!-- end of [I] CSHC -->

                    <!-- [I] Partner payment type -->
                    <div id="partner-payment-type">

                      <label class="uikit-text-input__label margin-above--large" for="tags">Payment type</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                      <label class="uikit-text-input__label margin-above--large" for="tags">Amount received per fortnight</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="$0.00">
                      <label class="uikit-text-input__label margin-above--large" for="tags">Customer Reference Number (CRN)</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                      <label class="uikit-text-input__label margin-above--large">Date of application
                        <span class="hint">(dd / mm / yyyy)</span>
                      </label>
                      <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                      <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                      <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                      <label class="uikit-text-input__label" for="tags">Regional office</label>
                      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                    </div><!-- end of [J] Partner payment type -->

                </div><!-- end of partner details -->
                </fieldset>

                <!--div class="row col-md-8">
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="tax-number">What is your partner’s tax file number?</label>
                    <input class="uikit-text-input input-half" name="tax-number" id="partner-tax-number" type="text" value="">
                  </div>
                </div-->

                <!--fieldset>
                  <legend class="legend-label">Does your partner wish to apply for partner service pension?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="partner-sp-yes">
                      <input id="partner-sp-yes" type="radio" name="partner-sp">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="partner-sp-no">
                      <input id="partner-sp-no" type="radio" name="partner-sp">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
              </div-->

                <!-- J -->
                <div class="form-group" id="partner-details-other">
                  <fieldset>
                    <legend class="legend-label">Excluding this claim, is your partner currently in receipt of, or has your partner previously received, or is your partner applying
                      for any of the following (select all that apply):</legend>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="dva-payments">
                        <span class="uikit-control-input__text">DVA payments</span>
                      </label>
                    </p>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="centrelink">
                        <span class="uikit-control-input__text">Centrelink payments</span>
                      </label>
                    </p>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="adf-payments">
                        <span class="uikit-control-input__text">Australian Defence Force Compensation</span>
                      </label>
                    </p>

                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="checkbox" name="other-comp">
                        <span class="uikit-control-input__text">Other compensation</span>
                      </label>
                    </p>
                  </fieldset>

                  <fieldset>
                    <legend class="legend-label">Is your partner blind or visually impaired?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="partner-blind-yes">
                        <input id="partner-blind-yes" type="radio" name="partner-blind">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="partner-blind-no">
                        <input id="partner-blind-no" type="radio" name="partner-blind">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>
                </div>

                <!-- bottom page navigation -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="pagination">
                      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/sp-my-details'">Previous</button>
                      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel</button>
                      <div class="floated">
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/claims'">Save and exit</button>
                        <button class="uikit-btn btnNext" onclick="window.location.href='/sp-dependant'">Save and next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- bottom page navigation end -->
              <% include ../partials/cancel-modal.ejs %>
            </div><!-- form-group end -->
          </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
      </div> <!-- container end -->
  </main>

  <% include ../../../global/partials/footer.ejs %>

    <script>
      $("#date-marriage").hide();
      $("#date-living-together").hide();
      $("#date-not-together").hide();
      $("#deceased-partner").hide();
      $("#date-separation").hide();
      $("#partner-details").hide();
      $("#partner-details-other").hide();
      $("#partners-home-address").hide();
      $("#partner-payment-type").hide();
      $("#partner-cshc-details").hide();
      $("#divorced-date").hide();


      $("#partner-centrelink-yes").click(function () {
        $("#partner-payment-type").show("fast");
      });

      $("#partner-csh-yes").click(function () {
        $("#partner-cshc-details").show("fast");
      });

      $("#single").click(function () {
        $("#date-marriage").hide("fast");
        $("#date-living-together").hide("fast");
        $("#date-not-together").hide("fast");
        $("#deceased-partner").hide("fast");
        $("#date-separation").hide("fast");
        $("#partner-details").hide("fast");
        $("#partner-details-other").hide("fast");
        $("#divorced-date").hide("fast");
      });

      $("#married").click(function () {
        $("#date-marriage").show("fast");
        $("#partner-details").show("fast");
        $("#date-living-together").hide("fast");
        $("#date-not-together").hide("fast");
        $("#deceased-partner").hide("fast");
        $("#date-separation").hide("fast");
        $("#partner-details-other").hide("fast");
        $("#divorced-date").hide("fast");
      });

      $("#defacto").click(function () {
        $("#date-living-together").show("fast");
        $("#partner-details").show("fast");
        $("#date-marriage").hide("fast");
        $("#date-not-together").hide("fast");
        $("#deceased-partner").hide("fast");
        $("#date-separation").hide("fast");
        $("#partner-details-other").hide("fast");
        $("#divorced-date").hide("fast");
      });

      $("#partner-not-living").click(function () {
        $("#date-not-together").show("fast");
        $("#partner-details").show("fast");
        $("#date-marriage").hide("fast");
        $("#date-living-together").hide("fast");
        $("#deceased-partner").hide("fast");
        $("#date-separation").hide("fast");
        $("#partner-details-other").hide("fast");
        $("#divorced-date").hide("fast");
      });


      $("#divorced").click(function () {
        $("#deceased-partner").hide("fast");
        $("#date-marriage").hide("fast");
        $("#date-living-together").hide("fast");
        $("#date-not-together").hide("fast");
        $("#date-separation").hide("fast");
        $("#divorced-date").show("fast");
        $("#partner-details").hide("fast");
        $("#partner-details-other").hide("fast");
      });

      $("#widowed").click(function () {
        $("#deceased-partner").show("fast");
        $("#date-marriage").hide("fast");
        $("#date-living-together").hide("fast");
        $("#date-not-together").hide("fast");
        $("#date-separation").hide("fast");
        $("#partner-details").hide("fast");
        $("#partner-details-other").hide("fast");
        $("#divorced-date").hide("fast");
      });

      $("#married-separated").click(function () {
        $("#date-marriage").hide("fast");
        $("#date-living-together").hide("fast");
        $("#date-not-together").hide("fast");
        $("#deceased-partner").hide("fast");
        $("#date-separation").show("fast");
        $("#partner-details").hide("fast");
        $("#partner-details-other").hide("fast");
        $("#divorced-date").hide("fast");
      });


      $("#aus-citizen-no").click(function () {
        $("#partners-home-address").show("fast");
      });

      $("#aus-citizen-yes").click(function () {
        $("#partners-home-address").hide("fast");
      });

      $("#partner-sp-no").click(function () {
        $("#partner-details-other").show("fast");
      });

      $("#partner-sp-no").click(function () {
        $("#partner-details-other").hide("fast");
      });

    </script>
    </body>

</html>