<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <title>Service Pension - Getting started | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="/src/font/fontawesome/css/all.css" />
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content"
        >Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar-new.ejs %>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <h1 class="margin-above--none ss-align--center">
          <span class="heading">Service history</span>
        </h1>
        </div>
        <div class="container" style="background:transparent;">
            <div class="row">
                <div class="col-md-12">
                    <!-- Page content -->
                    <div class="col-md-8 col-md-offset-2">
                        <div class="margin-above--extra margin-below--extra">
                            <div id="message">
                                <h2 class="margin-below--none">Tell us about your service history</h2>
                                <p>
                                    This will help us to assess whether you have the required
                                    qualifying service.
                                </p>
                            </div>
                            <button class="uikit-btn" id="add-service">Add service</button>
                            <!-- Service period card -->
                            <div id="service-period-card" class="boxed margin-above margin-below--large" style="display: none">
                                <h2 class="margin-above--none"><icon class="fal fa-calendar-star" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Service period</span></h2>
                                <div id="card-details" class="margin-below--large">
                                    <div id="sp-c1-gift-b">
                                        <p>Tell us about your service history. If you have broken service (for example have transferred to a different branch or additional reservist service) add your first service period here. Add any additional service periods in a separate step.</p>
                                        <div class="form-group margin-above--large">
                                            <label class="uikit-text-input__label" for="Input field">Service number</label>
                                            <input class="uikit-text-input input-half" name="service_number" id="service_number" type="text" value="123 456 789 K" required aria-required="true" />
                                        </div>
                                        <div class="form-group margin-above--large">
                                            <label class="uikit-text-input__label" for="radio-buttons">Type of service</label>
                                            <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                                                <option>-- Select a type --</option>
                                                <option>Permanent</option>
                                                <option>Reservist</option>
                                            </select>
                                        </div>
                                        <div class="form-group margin-above--large">
                                            <label class="uikit-text-input__label" for="date">Date of enlistment
                                                <span class="hint">(dd / mm / yyyy)</span>
                                            </label>
                                            <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day" />
                                            /
                                            <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month" />
                                            /
                                            <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year" />
                                        </div>
                                        <div class="form-group margin-above--large">
                                            <label class="uikit-text-input__label" for="date">Date of discharge
                                                <span class="hint">(dd / mm / yyyy)</span>
                                            </label>
                                            <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day" />
                                            /
                                            <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month" />
                                            /
                                            <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year" />
                                            &nbsp;&nbsp;&nbsp;&nbsp;OR&nbsp;&nbsp;&nbsp;&nbsp;<label class="uikit-control-input">
                                                <input class="uikit-control-input__input" type="checkbox" name="" id="">
                                                <span class="uikit-control-input__text">Still serving</span>
                                            </label>
                                        </div>
                                        <div class="form-group margin-above--large">
                                            <label class="uikit-text-input__label" for="radio-buttons">Branch of service</label>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input class="uikit-control-input__input" type="radio" name="radio-ex" />
                                                    <span class="uikit-control-input__text">Navy</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input class="uikit-control-input__input" type="radio" name="radio-ex" />
                                                    <span class="uikit-control-input__text">Army</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input class="uikit-control-input__input" type="radio" name="radio-ex" />
                                                    <span class="uikit-control-input__text">Airforce</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input class="uikit-control-input__input" type="radio" name="radio-ex" />
                                                    <span class="uikit-control-input__text">Allied or Commonwealth forces</span>
                                                </label>
                                            </p>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group margin-above--none">
                                        <button id="service-period-add" class="uikit-btn">
                                            &nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;
                                        </button>
                                        &nbsp;<button id="service-period-cancel" class="uikit-btn uikit-btn--tertiary">
                                            &nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- SP card end -->
                            <!-- SP summary card -->
                            <div id="service-period-summary" class="sp-summary plain-text-info" style="display: none;">
                                <div class="row">
                                    <div class="review__content--label col-sm-10">
                                        <h2>Navy</h2>
                                        <p class="margin-below--none">Permanent</p>
                                        <p class="margin-below--none margin-above--mid">12/11/1998 &mdash; 14/01/2015</p>
                                    </div>
                                    <div class="col-sm-2" style="margin: 0; text-align: right;"><button class="uikit-btn uikit-btn--tertiary small reversed">&nbsp;Edit&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <!-- SP summary card end -->
                            <!-- OP card -->
                            <div id="operation-card" class="boxed margin-above margin-below--large" style="display: none;">
                                <h2 class="margin-above--none">
                    <icon class="fal fa-map-marker-alt" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Operation</span></h2>
                                <div id="card-details" class="margin-below--large">
                                    <div id="sp-c1-gift-b">
                                        <form id="myForm">
                                            <div class="form-group margin-above--large">
                                                <label class="uikit-text-input__label" for="drop-down">Operation name
                                                    <br />
                                                    <span class="hint display-block">Select an item from the list.</span>
                                                </label>
                                                <input type="reset" style="display:none">
                                                <select class="uikit-text-input input-half" id="operation-name" name="drop-down" onchange="typeSelected()">
                                                    <option selected="selected">-- Select an operation --</option>
                                                    <option>Vietnam</option>
                                                    <option>Submarine special operations</option>
                                                    <option>Eastern/middle/southern africa</option>
                                                    <option>Western asia/persian gulf</option>
                                                    <option>Iraq/kuwait</option>
                                                    <option>Operations jural, provide comfort, bolton, southern watch, northern watch</option>
                                                    <option>Cambodia/laos/thailand</option>
                                                    <option>Yugoslavia</option>
                                                    <option>Operation solace</option>
                                                    <option>Operation damask vi</option>
                                                    <option>Operation tamar</option>
                                                    <option>Operations faber/stabilise/warden/tanager/citadel</option>
                                                    <option>Operation husky</option>
                                                    <option>Operation slipper</option>
                                                    <option>Operation falconer</option>
                                                    <option>Operation palate</option>
                                                    <option>Operation catalyst</option>
                                                    <option>Operation palate ii</option>
                                                    <option>Operation paladin</option>
                                                    <option>Operations riverbank/kruger</option>
                                                    <option>Libya</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                            <div class="form-group margin-above--large" id="operation-other" style="display: none;">
                                                <label class="uikit-text-input__label" for="tags">What was the name of the operation?</label>
                                                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
                                            </div>
                                            <div class="form-group margin-above--large">
                                                <label class="uikit-text-input__label" for="date">Start date
                                                    <span class="hint">(dd / mm / yyyy)</span>
                                                </label>
                                                <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                                                <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                                                <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                            </div>
                                            <div class="form-group margin-above--large">
                                                <label class="uikit-text-input__label" for="date">End date
                                                    <span class="hint">(dd / mm / yyyy)</span>
                                                </label>
                                                <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                                                <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                                                <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                                            </div>
                                        </form>
                                    </div>
                                    <hr>
                                    <div id="buttonset2" class="form-group margin-above--none">
                                        <button class="uikit-btn" id="operation-add">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="operation-cancel">&nbsp;&nbsp;&nbsp;
                                            Cancel &nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <!-- End OP card -->
                            <!-- OP summary card -->
                            <div id="ops" style="display: none;">
                                <div id="op-summary" class="op-summary-container">
                                    <div id="timeline" class="timeline"></div>
                                    <div class="op-summary plain-text-info" >
                                        <div class="row">
                                            <div class="review__content--label col-sm-10">
                                                <h2>Operation Slipper</h2>
                                                <p class="margin-below--none margin-above--none">13/12/2006 &mdash; 07/01/2007</p>
                                            </div>
                                            <div class="col-sm-2" style="margin: 0; text-align: right;"><button class="uikit-btn uikit-btn--tertiary small">&nbsp;Edit&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End OP summary card -->
                            <button class="uikit-btn uikit-btn--tertiary margin-above" id="add-operation" style="margin: 19px 0 0 33px; display: none;">&nbsp;Add operation / warlike service
                            </button>
                            <div id="add-service-period-footer" class="margin-above--mid" style="display: none;">
                                <div style="height: 1px; background-color: #1057a7;" class="margin-below--mid"></div>
                                <button id="add-service-period-btn" class="uikit-btn uikit-btn--borderless" style="margin-left: 0 !important;">
                                    <icon class="far fa-plus-circle" style="font-size: 1.3em; vertical-align: -10%; color: #1057a7;"></icon>
                                    &nbsp;Add another service period&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- bottom page navigation -->
                    <div class="pagination">
                        <div id="footer-buttons-mask" style="background-color: #ffffff; opacity: .5; position: absolute; width: 100%; height: 100%; z-index: 10; display: none;"></div>
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">
                            Previous
                        </button>
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">
                            Cancel claim
                        </button>
                        <div class="floated">
                            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-qs'">
                                Save and exit
                            </button>
                            <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-progress-b'">
                                Save and next
                            </button>
                        </div>
                    </div>
                </div>
                <!-- col-md-12 end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </main>
    <% include ../partials/cancel-modal.ejs %>
    <% include
    ../../../global/partials/footer.ejs %>
</body>
<script>
$(Document).ready(function() {

    /* Clicks on 'add service' button */
    $("#add-service").click(function() {
        hideAll();
        $("#footer-buttons-mask").show();
        $("#service-period-card").show("fast");
    });

    /* Clicks add */
    $("#service-period-add").click(function() {
        hideAll();
        $("#service-period-summary").show("fast");
        $("#add-operation").show();
        $("#add-service-period-footer").show();
        $("html, body").animate({
                scrollTop: $("#main-content").offset().top
            },
            1000
        );
    });

    /* Clicks cancel */
    $("#service-period-cancel").click(function() {
        hideAll();
        $("#add-service").show();
        $("#message").show();
        $("html, body").animate({
                scrollTop: $("#main-content").offset().top
            },
            1000
        );
    });

    /* Clicks on 'add operation' button */
    $("#add-operation").click(function() {
        hideAll();
        $("#footer-buttons-mask").show();
        $("#operation-card").show("fast");
    });

    /* Clicks 'add' in operation card */
    var firstSummaryAdded = false;
    $('#operation-add').click(function() {
        hideAll();
        $("#ops").show();
        $("#add-service-period-footer").show();
        $("#service-period-summary").show("fast");
        $("#add-operation").show();
        $("#add-service-period-footer").show();
        $("#timeline-1").show();
        $('html, body').animate({
            scrollTop: $("#main-content").offset().top
        }, 1000);
        if (firstSummaryAdded) {
            $('#op-summary').clone().appendTo('#ops');
        }
        firstSummaryAdded = true;
    });

    /* Clicks 'cancel' in operation card */
    $('#operation-cancel').click(function() {
        hideAll();
        $("#ops").show();
        $("#add-service-period-footer").show();
        $("#service-period-summary").show("fast");
        $("#add-operation").show();
        $("#add-service-period-footer").show();
        $("#timeline-1").show();
        $('html, body').animate({
            scrollTop: $("#main-content").offset().top
        }, 1000);
        if (firstSummaryAdded) {
            $('#op-summary').clone().appendTo('#ops');
        }
        firstSummaryAdded = true;
    });

    function hideAll() {
        $("#timeline-1").hide();
        $("#footer-buttons-mask").hide();
        $("#ops").hide();
        $("#add-service").hide();
        $("#service-period-card").hide();
        $("#message").hide();
        $("#service-period-summary").hide();
        $("#add-operation").hide();
        $("#add-service-period-footer").hide();
        $("#operation-card").hide();
    }
});
</script>

</html>