<!DOCTYPE html>
<html class="js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <title>Service Pension - Getting started | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="/src/font/fontawesome/css/all.css" />
  </head>

  <body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
      <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
      <a class="uikit-skip-link__link" href="#main-content"
        >Skip to main content</a
      >
    </nav>
    <% include ../../../global/partials/header-topbar-new.ejs %>
    <main>
      <div
        id="main-content"
        class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below"
      >
        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Service history</span>
        </h1>
      </div>
      <div class="container" style="background:pink;">
        <div class="row">
          <div class="col-md-12">
            <!-- Page content -->
            <div class="col-md-8 col-md-offset-2">
              <div class="margin-above--extra margin-below--extra">
                <h2 class="margin-below--none">
                  Tell us about your service history
                </h2>
                <p>
                  This will help us to assess whether you have the required
                  qualifying service.
                </p>
                <button class="uikit-btn" id="add-sp-start-button">
                  Add service
                </button>
                <!-- Adding new service period card -->
                <div
                  id="adding-sp-1"
                  class="boxed margin-above margin-below--large"
                  style="display: none"
                >
                  <h2 class="margin-above--none">
                    <icon
                      class="fal fa-calendar-star"
                      style="font-size: 1.7em; vertical-align: -15%;"
                    ></icon
                    >&nbsp;&nbsp;<span class="font-weight-heavy"
                      >Service period</span
                    >
                  </h2>
                  <div id="card-details" class="margin-below--large">
                    <div id="sp-c1-gift-b">
                      <div class="form-group margin-above--large">
                        <label class="uikit-text-input__label" for="Input field"
                          >Service number</label
                        >
                        <input
                          class="uikit-text-input input-half"
                          name="service_number"
                          id="service_number"
                          type="text"
                          value="123 456 789 K"
                          required
                          aria-required="true"
                        />
                      </div>
                      <div class="form-group margin-above--large">
                        <label
                          class="uikit-text-input__label"
                          for="radio-buttons"
                          >Type of service</label
                        >
                        <select
                          class="uikit-text-input input-half"
                          id="drop-down"
                          name="drop-down"
                        >
                          <option>-- Select a type --</option>
                          <option>Permanent</option>
                          <option>Reservist</option>
                        </select>
                      </div>
                      <div class="form-group margin-above--large">
                        <label class="uikit-text-input__label" for="date"
                          >Date of enlistment
                          <span class="hint">(dd / mm / yyyy)</span>
                        </label>
                        <input
                          class="uikit-text-input dd"
                          type="text"
                          name="dd-date"
                          id="dd-date"
                          maxlength="2"
                          required
                          aria-required="true"
                          aria-label="2 digit day"
                        />
                        /
                        <input
                          class="uikit-text-input mm"
                          type="text"
                          name="mm-date"
                          id="mm-date"
                          maxlength="2"
                          required
                          aria-required="true"
                          aria-label="2 digit month"
                        />
                        /
                        <input
                          class="uikit-text-input yyyy"
                          type="text"
                          name="yyyy-date"
                          id="yyyy-date"
                          maxlength="4"
                          required
                          aria-required="true"
                          aria-label="4 digit year"
                        />
                      </div>
                      <div class="form-group margin-above--large">
                        <label class="uikit-text-input__label" for="date"
                          >Date of discharge
                          <span class="hint">(dd / mm / yyyy)</span>
                        </label>
                        <input
                          class="uikit-text-input dd"
                          type="text"
                          name="dd-date"
                          id="dd-date"
                          maxlength="2"
                          required
                          aria-required="true"
                          aria-label="2 digit day"
                        />
                        /
                        <input
                          class="uikit-text-input mm"
                          type="text"
                          name="mm-date"
                          id="mm-date"
                          maxlength="2"
                          required
                          aria-required="true"
                          aria-label="2 digit month"
                        />
                        /
                        <input
                          class="uikit-text-input yyyy"
                          type="text"
                          name="yyyy-date"
                          id="yyyy-date"
                          maxlength="4"
                          required
                          aria-required="true"
                          aria-label="4 digit year"
                        />
                      </div>
                      <div class="form-group margin-above--large">
                        <label
                          class="uikit-text-input__label"
                          for="radio-buttons"
                          >Branch of service</label
                        >
                        <p class="uiToolKitCheckBox">
                          <label class="uikit-control-input">
                            <input
                              class="uikit-control-input__input"
                              type="radio"
                              name="radio-ex"
                            />
                            <span class="uikit-control-input__text">Navy</span>
                          </label>
                        </p>
                        <p class="uiToolKitCheckBox">
                          <label class="uikit-control-input">
                            <input
                              class="uikit-control-input__input"
                              type="radio"
                              name="radio-ex"
                            />
                            <span class="uikit-control-input__text">Army</span>
                          </label>
                        </p>
                        <p class="uiToolKitCheckBox">
                          <label class="uikit-control-input">
                            <input
                              class="uikit-control-input__input"
                              type="radio"
                              name="radio-ex"
                            />
                            <span class="uikit-control-input__text"
                              >Airforce</span
                            >
                          </label>
                        </p>
                        <p class="uiToolKitCheckBox">
                          <label class="uikit-control-input">
                            <input
                              class="uikit-control-input__input"
                              type="radio"
                              name="radio-ex"
                            />
                            <span class="uikit-control-input__text"
                              >Allied or Commonwealth forces</span
                            >
                          </label>
                        </p>
                      </div>
                      <!--  <div class="form-group margin-above--large">
                        <label class="uikit-text-input__label" for="toggle-buttons">Do you have operational history for this service period?</label>
                        <div class="radio-toggle">
                          <label class="on label-left" for="operational-yes">
                            <input id="operational-yes" type="radio" name="operational">
                            <span>Yes</span>
                          </label>
                          <label class="off label-right" for="operational-no">
                            <input id="operational-no" type="radio" name="operational">
                            <span>No</span>
                          </label>
                        </div>
                      </div> -->
                      <div
                        id="operational-yes-note"
                        class="margin-above--large"
                        style="display: none"
                      >
                        You can add your operations in the next step.
                      </div>
                      <div
                        id="operational-no-note"
                        class="margin-above--large"
                        style="display: none"
                      >
                        <!--  <p>Add service period</b> to continue.</p> -->
                      </div>
                    </div>
                    <hr />
                    <div
                      id="add-service-period"
                      class="form-group margin-above--none"
                    >
                      <button class="uikit-btn" id="service-period-add-btn">
                        &nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;
                      </button>
                      &nbsp;<button
                        class="uikit-btn uikit-btn--tertiary"
                        id="service-period-cancel-btn"
                      >
                        &nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- bottom page navigation -->
            <div class="pagination">
              <button
                class="uikit-btn uikit-btn--tertiary"
                onclick="window.location.href = '/sp-start'"
              >
                Previous
              </button>
              <button
                class="uikit-btn uikit-btn--tertiary"
                onclick="window.location.href = '#open-modal'"
              >
                Cancel claim
              </button>
              <div class="floated">
                <button
                  class="uikit-btn uikit-btn--tertiary"
                  onclick="window.location.href = '/sp-qs'"
                >
                  Save and exit
                </button>
                <button
                  class="uikit-btn btnNext"
                  onclick="window.location.href = '/sp-progress-b'"
                >
                  Save and next
                </button>
              </div>
            </div>
          </div>
          <!-- col-md-12 end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </main>
    <% include ../partials/cancel-modal.ejs %> <% include
    ../../../global/partials/footer.ejs %>
  </body>
  <script>
    $(Document).ready(function() {
      $("#sp-1").hide();

      //show card
      $("#add-sp-start-button").click(function() {
        $("#adding-sp-1").show("fast");
        $("#add-sp-start-button").hide();
        $("#sp-1-summary").show("fast");
        $("#sp-1").hide();
      });

      // add service period [START]
      $("#service-history-add").click(function() {
        $("#sp-1").show("fast");
        $("html, body").animate(
          {
            scrollTop: $("#main-content").offset().top
          },
          1000
        );
        $("#adding-sp-1").hide();
        $("#add-sp-start-button").show("fast");
      });

      // operational
      $("#operational-yes").click(function() {
        // $("#operational-no-note").hide();
        $("#operational-yes-note").show("fast");
      });
      $("#operational-no").click(function() {
        $("#operational-yes-note").hide();
        // $("#operational-no-note").show("fast");
      });

      // add service period
      $("#service-period-add-btn").click(function() {
        var operations = $("#operational-yes").is(":checked");
        if (operations) {
          window.location.href = "/sp-qs-1?operations=true";
        } else {
          window.location.href = "/sp-qs-1?operations=false";
        }
      });

      $("#service-period-cancel-btn").click(function() {
        $("#adding-sp-1").hide("fast");
        $("#add-sp-start-button").show("fast");
      });
    });
  </script>
</html>
