<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Getting started | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-NJXGk7R+8gWGBdutmr+/d6XDokLwQhF1U3VA7FhvBDlOq7cNdI69z7NQdnXxcF7k" crossorigin="anonymous">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>
    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Qualifying service</span>
        </h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Page content -->

            <div class="col-md-8 col-md-offset-2">
              <div class="margin-above--extra margin-below--extra">
                <p class="margin-below--none"><strong>Tell us about your service history</strong></p>
                <p>You can add multiple service periods if necessary</p>
                <!-- <button class="uikit-btn" id="add-sp-start-button">Add service period</button> -->

                <!-- 1st period -->
                <div id="sp-1">
                  <div id="sp-1-summary" class="plain-text-info">
                    <div class="row">
                      <div class="review__content--label col-sm-10">
                        <h2>Navy</h2>
                        <p class="margin-below--none">Permanent</p>
                        <p class="margin-below--none margin-above--mid">12/11/2006 &mdash; 14/01/2015</p>
                      </div>
                      <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit">&nbsp;Edit &nbsp;</button>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-1a"></div>
                  <!-- 1st operation -->
                  <div id="op-1">
                    <div id="op-1-summary" class="plain-text-info">
                      <div class="row">
                        <div class="review__content--label col-sm-10">
                          <h2>Operation Slipper</h2>
                          <p class="margin-below--none margin-above--none">13/12/2006 &mdash; 07/01/2007</p>
                        </div>
                        <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit">&nbsp;Edit &nbsp;</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-1a"></div>
                  <!-- 2nd operation -->
                  <div id="op-2">
                    <div id="op-1-summary" class="plain-text-info">
                      <div class="row">
                        <div class="review__content--label col-sm-10">
                          <h2>Operation Blue</h2>
                          <p class="margin-below--none margin-above--none">01/11/2013 &mdash; 06/08/2014</p>
                        </div>
                        <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit">&nbsp;Edit &nbsp;</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="timeline-1a"></div>
                  <div class="add-savings">
                    <span>
                      <icon class="fal fa-plus-circle" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;Add operations
                    </span>
                  </div>
                  <div id="sp-1">
                    <div id="sp-1-summary" class="plain-text-info">
                      <div class="row">
                        <div class="review__content--label col-sm-10">
                          <h2>Navy</h2>
                          <p class="margin-below--none">Permanent</p>
                          <p class="margin-below--none margin-above--mid">12/11/2006 &mdash; 14/01/2015</p>
                        </div>
                        <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit">&nbsp;Edit &nbsp;</button>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-1a"></div>
                    <div class="add-savings">
                      <span>
                        <icon class="fal fa-plus-circle" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;Add operations
                      </span>
                    </div>
                    <hr>
                    <button class="uikit-btn margin-below--extra" id="add-service-period">Add service period</button>
                  </div>





                  <!-- Adding new service period card -->
                  <div id="adding-op-1" class="boxed margin-above margin-below--large">
                    <h2 class="margin-above--none">
                      <icon class="fal fa-couch" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Operation Name</span></h2>
                    <div id="card-details" class="margin-below--large">
                      <div id="sp-c1-gift-b">
                        <div class="form-group">
                          <label class="uikit-text-input__label" for="drop-down">Drop-down
                            <br />
                            <span class="hint display-block">Select an item from the list.</span>
                          </label>
                          <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                            <option>-- Select an item --</option>
                            <option>Item 1</option>
                            <option>Item 2</option>
                            <option selected>Item 3</option>
                            <option>Item 4</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="uikit-text-input__label" for="date">Start date
                            <span class="hint">(DD / MM / YYYY)</span>
                          </label>
                          <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                          <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                          <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                        </div>
                        <div class="form-group">
                          <label class="uikit-text-input__label" for="date">End date
                            <span class="hint">(DD / MM / YYYY)</span>
                          </label>
                          <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                          <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                          <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                        </div>
                      </div>

                      <hr>

                      <div id="buttonset2" class="form-group margin-above--none">
                        <button class="uikit-btn" id="service-history-add">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-start-cancel">&nbsp;&nbsp;&nbsp;
                          Cancel &nbsp;&nbsp;&nbsp;</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- bottom page navigation -->
              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                <div class="floated">
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-qs'">Save and exit</button>
                  <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-progress-b'">Save and next</button>
                </div>
              </div>
            </div> <!-- col-md-12 end -->
          </div> <!-- row end -->
        </div> <!-- container end -->
    </main>
    <% include ../partials/cancel-modal.ejs %>
      <% include ../../../global/partials/footer.ejs %>
</body>

<script>

  //show card 
  $('#add-sp-start-button').click(function () {
    $("#adding-sp-1").show("fast");
    $("#add-sp-start-button").hide();
    $("#sp-1-summary").show("fast");
    $("#sp-1").hide();
    servicePeriodAdded = true;
  });

  // add service period [START]
  $('#service-history-add').click(function () {
    $("#sp-1").show("fast");
    $('html, body').animate({
      scrollTop: $("#main-content").offset().top
    }, 1000);
    $("#adding-sp-1").hide();
    $("#add-sp-start-button").show("fast");
  });

  // add another service period [START]
  $('#service-history-add').click(function () {
    $("#sp-1").show("fast");
    $('html, body').animate({
      scrollTop: $("#main-content").offset().top
    }, 1000);
    $("#adding-sp-1").hide("fast");
  });

  });

  // adding operations

</script>



</html>