<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Residency | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Residency</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Page content -->
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">Residency Information</span>
            </h2>
            <div class="form-group margin-above" id="ageChildern">
              <label class="uikit-text-input__label" for="radio-buttons">Which of the following are you:</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op1">
                  <input class="uikit-control-input__input" type="radio" name="radio-age">
                  <span class="uikit-control-input__text">An Australian citizen</span>
                </label>
              </p>

              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-age">
                  <span class=" uikit-control-input__text ">The holder of a permanent visa</span>
                </label>
              </p>

              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-age">
                  <span class=" uikit-control-input__text ">The holder of a special purpose visa</span>
                </label>
              </p>

              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-age">
                  <span class=" uikit-control-input__text ">The holder of a special category visa</span>
                </label>
              </p>

              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-age">
                  <span class=" uikit-control-input__text ">A refugee or a former refugee</span>
                </label>
              </p>

              <div class="form-group margin-above" id="sp-dependant">
                <fieldset>
                  <legend class="legend-label">Are you living permanently in Australia?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="child-yes">
                      <input id="child-yes" type="radio" name="pbs-adf">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="pbs-no">
                      <input id="pbs-no" type="radio" name="pbs-adf">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>

                <div class="form-group margin-above" id="sp-dependant">
                  <fieldset>
                    <legend class="legend-label">Where you born in Australia?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="child-yes">
                        <input id="child-yes" type="radio" name="pbs-adf">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="pbs-no">
                        <input id="pbs-no" type="radio" name="pbs-adf">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>


                  <div class="form-group margin-above" id="sp-dependant">
                    <fieldset>
                      <legend class="legend-label">Have you moved to or returned to live in Australia in the last 12 months?</legend>
                      <div class="radio-toggle">
                        <label class="on label-left" for="child-yes">
                          <input id="child-yes" type="radio" name="pbs-adf">
                          <span>Yes</span>
                        </label>
                        <label class="off label-right" for="pbs-no">
                          <input id="pbs-no" type="radio" name="pbs-adf">
                          <span>No</span>
                        </label>
                      </div>
                    </fieldset>

                    <!-- bottom page navigation -->
                    <div class="pagination">
                      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-dependant'">Previous</button>
                      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                      <div class="floated">
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claims'">Save and exit</button>
                        <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-la'">Save and next</button>
                      </div>
                    </div>
                    <% include ../partials/cancel-modal.ejs %>
                  </div>

    </main>

    <% include ../../../global/partials/footer.ejs %>


      <script>
        // Progress percentage
        document.getElementById("percentage ").style.width = "20% ";
        document.getElementById("percentage_value ").textContent = "20% ";
      </script>


</body>

</html>