<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Service Pension - Getting started | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar-new.ejs %>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <!-- Page heading -->
            <h1 class="margin-above--none ss-align--center">
          <span class="heading">About your claim</span>
        </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-above--extra margin-below--extra">

                        <!-- Page content -->

                        <!-- what are you applying for -->
                        <div class="form-group margin-above--extra">
                            <legend class="legend-label">What are you applying for?</legend>
                            <div class="radio-tile--group">
                                <label class="radio-tile">
                                    <input id="pensionType-invalidity" class="sr" type="radio" name="pensionType" value="invaliditiy">
                                    <span><img src="../../../../docs/images/ico-user-nonserving.svg" alt="non-serving icon">Invalidity service pension</span>
                                </label>
                                <label class="radio-tile">
                                    <input id="pensionType-age" class="sr" type="radio" name="pensionType" value="age">
                                    <span><img src="../../../../docs/images/ico-user-nonserving.svg" alt="non-serving icon">Age service pension</span>
                                </label>
                            </div>
                        </div>

                        <!-- [A] Show if <58 -->
                        <div id="younger">
                            <div class="uikit-page-alerts" role="alert">
                                <p>You are too young to apply for Age service pension.</p>
                            </div>
                        </div>

                        <!-- [B] Show if >58 && <60 -->
                        <div id="close">
                            <div class="uikit-page-alerts" role="alert">
                                <p>Age pension is available at 60 and does not require medical evidence.</p>
                                <p>Call VAN for advice on the best option for you.</p>
                            </div>
                        </div>

                        <!-- [C] Show if 60+ -->
                        <div class="uikit-page-alerts" role="alert" id="older">
                            <p>You cannot apply for Invalidity service pension if you are over 60 years of age.</p>
                            <p>Apply for Age service pension instead</p>
                        </div>

                        <!-- Invalidity -->
                        <div class="form-group margin-above--large" id="sp-start-whatGrounds">
                            <label class="uikit-text-input__label" for="radio-buttons">On what grounds are you applying for Invalidity Pension?</label>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op1">
                                    <input class="uikit-control-input__input" type="radio" name="radio-contact">
                                    <span class="uikit-control-input__text">Totally and Permanently Incapacitated (TPI) or Special Rate Disability Pension (SRDP)</span>
                                    <span class="help-field">Only select this option if you are entitled to disability pension at the TPI rate or Special Rate Disability Pension)</span>
                                </label>
                            </p>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op2">
                                    <input class="uikit-control-input__input" type="radio" name="radio-contact">
                                    <span class="uikit-control-input__text">Blind</span>
                                </label>
                            </p>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op3">
                                    <input class="uikit-control-input__input" type="radio" name="radio-contact">
                                    <span class="uikit-control-input__text">Neither</span>
                                </label>
                            </p>
                        </div>

                        <!-- who are you applying for? -->
                        <div class="form-group margin-above--large" id="sp-start-who">
                            <legend class="legend-label">Who are you applying for?</legend>
                            <div class="radio-tile--group">
                                <label class="radio-tile">
                                    <input id="pensionWho-single" class="sr" type="radio" name="pensionWho" value="single">
                                    <span><img src="../../../../docs/images/ico-user-nonserving.svg" alt="non-serving icon">Myself</span>
                                </label>
                                <label class="radio-tile">
                                    <input id="pensionWho-double" class="sr" type="radio" name="pensionWho" value="double">
                                    <span><img src="../../../../docs/images/ico-user-nonserving.svg" alt="non-serving icon">Me and my partner</span>
                                </label>
                            </div>
                        </div>

                        <!-- PBS -->
                        <div class="form-group margin-above" id="sp-start-pbs">
                            <legend class="legend-label ">Are you a registered member of the Pension Bonus Scheme? <span class="hint">(optional)</span></legend>
                            <div class="radio-toggle">
                                <label class="on label-left" for="cshc-yes">
                                    <input id="cshc-yes" type="radio" name="cshc">
                                    <span>Yes</span>
                                </label>
                                <label class="off label-right" for="cshc-no">
                                    <input id="cshc-no" type="radio" name="cshc">
                                    <span>No</span>
                                </label>
                            </div>
                        </div>

                        <div  id="benefits" style="display:none;">
                        <div class="form-group margin-above--large">
                          <label class="uikit-text-input__label" for="sop">Do you have any of the following benefits?<span class="hint"> (optional)</span>
                            <span class="hint display-block">Select all that apply.</span>
                          </label>
                          <div class="uiToolKitCheckBox">
                            <label class="uikit-control-input">
                              <input class="uikit-control-input__input check_box" type="checkbox" data-ptag="op1-cl" id="op1-cl" name="checkbox">
                              <span class="uikit-control-input__text">Commonwealth Seniors Health Card</span>
                            </label>
                          </div>
                          <div class="uiToolKitCheckBox">
                            <label class="uikit-control-input">
                              <input class="uikit-control-input__input check_box" type="checkbox" data-ptag="op2-cl" id="op2-cl" name="checkbox">
                              <span class="uikit-control-input__text">Receiving or applied for a Centrelink payment</span>
                            </label>
                          </div>
                        </div>


                        <!-- CRN text box -->
                        <div style="display:none;" class="form-group margin-above" id="crn">
                          <label class="uikit-text-input__label" for="tags">What is the your Customer Reference Number (CRN)?</label>
                          <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
                          <!-- <p>Choose <b>save and next</b> to continue.</p> -->
                        </div>

                    </div>
                  </div> <!-- col-md-12 end -->


                    </div>

                    <div class="pagination">
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-progress-a'">Previous</button>
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                        <div class="floated">
                            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Save and exit</button>
                            <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-progress-b'">Save and next</button>
                        </div>
                    </div>

                </div> <!-- col-md-12 end -->
            </div> <!-- row end -->
        </div> <!-- container end -->
    </main>
    <% include ../partials/cancel-modal.ejs %>
    <% include ../../../global/partials/footer.ejs %>
    <script>
    $(Document).ready(function() {

        hideAll();

        $("#pensionType-invalidity").click(function() {
            hideAll();
            switch (ageMode) {
                case "younger":
                    $("#sp-start-whatGrounds").show("fast");
                    $("#sp-start-pbs").show("fast");
                    console.log("gfdgdfg");
                    break;
                case "close":
                    $("#close").show("fast");
                    break;
                case "older":
                    $("#older").show("fast");
                    break;
            }
        });

        $("#pensionType-age").click(function() {
            hideAll();
            switch (ageMode) {
                case "younger":
                    $("#younger").show("fast");
                    break;
                case "close":
                    $("#sp-start-who").show("fast");
                    break;
                case "older":
                    $("#sp-start-who").show("fast");
                    break;
            }
        });
        $("#pensionWho-single").click(function() {
            $("#sp-start-pbs").show("fast");
            $("#benefits").show("fast");
        });
        $("#pensionWho-double").click(function() {
            $("#sp-start-pbs").show("fast");
            $("#benefits").show("fast");
        });

        $("#pensionType-invalidity").click(function(){
          $("#benefits").hide();
        });


        $('.check_box').change(function(){
            if($('.check_box:checked').length==0){
                $('#crn').hide();
            }else{
                $('#crn').show("fast");
                $('.check_box:checked').each(function(){
                    $('#'+$(this).attr('data-ptag')).hide();
                });
            }

        });

        function hideAll() {
            $("#younger").hide();
            $("#close").hide();
            $("#older").hide();
            $("#sp-start-who").hide();
            $("#sp-start-pbs").hide();
            $("#sp-start-whatGrounds").hide();
        }
        var ageMode = "close";
        $(document).keypress(function(e) {
            switch (e.which) {
                case 49:
                    ageMode = "younger"
                    break;
                case 50:
                    ageMode = "close"
                    break;
                case 51:
                    ageMode = "older"
                    break;
                default:

            }
        });
    });
    </script>
</body>

</html>
