<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Getting started | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <main id="main-content">
        <div class="container">
          <div id="progressbar">
            <div id="percentage">
              <p id="percentage_value"></p>
            </div>

          </div>
          <h1>
            <span class="heading">Getting started</span>
          </h1>
          <div class="col-md-8">
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">Questions</span>
            </h2>
            <!-- relationship questions -->
            <div class="form-group margin-above" id="relationship">
              <label class="uikit-text-input__label" for="radio-buttons">What is your current relationship status?</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op1">
                  <input class="uikit-control-input__input" type="radio" name="radio-relationship">
                  <span class="uikit-control-input__text">Married</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-relationship">
                  <span class="uikit-control-input__text">Single</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op3">
                  <input class="uikit-control-input__input" type="radio" name="radio-relationship">
                  <span class="uikit-control-input__text">Separated</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op4">
                  <input class="uikit-control-input__input" type="radio" name="radio-relationship" value="relationship">
                  <span class="uikit-control-input__text">Other</span>
                </label>
              </p>
            </div>

            <div class="form-group form-group--secondary" id="relationship-reason">
              <label class="uikit-text-input__label" for="why-relationship">Please detail why</label>
              <textarea id="why-relationship" name="why-relationship" rows="3" value=""></textarea>
            </div>
            <!-- dependant questions -->
            <div class="margin-below--large form-group">
              <div id="occupancy">
                <label class="uikit-text-input__label margin-above--large" for="radio-buttons">Do you have any dependant children aged up to 22?</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                    <span class="uikit-control-input__text">Yes</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                    <span class="uikit-control-input__text">No</span>
                  </label>
                </p>
              </div>

              <!-- invalidity questions -->
              <div class="form-group margin-above" id="invalidity">
                <label class="uikit-text-input__label" for="radio-buttons">Are you applying for the service pensoin on the basis of invalidity?</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" id="op1">
                    <input class="uikit-control-input__input" type="radio" name="radio-invalidity" value="invalidity">
                    <span class="uikit-control-input__text">Yes</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" id="op2">
                    <input class="uikit-control-input__input" type="radio" name="radio-invalidity">
                    <span class="uikit-control-input__text">No</span>
                  </label>
                </p>
              </div>
              <div class="form-group form-group--secondary" id="invalidity-reason">
                <label class="uikit-text-input__label" for="why-invalidity">On what grounds are you applying for invalidity?</label>
                <textarea id="why-invalidity" name="why-invalidity" rows="3" value=""></textarea>
              </div>

              <!-- blind questions -->
              <div class="form-group margin-above" id="blind">
                <label class="uikit-text-input__label" for="radio-buttons">Are you blind or visually impaired?</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" id="op1">
                    <input class="uikit-control-input__input" type="radio" name="radio-blind">
                    <span class="uikit-control-input__text">Yes</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" id="op2">
                    <input class="uikit-control-input__input" type="radio" name="radio-blind">
                    <span class="uikit-control-input__text">No</span>
                  </label>
                </p>
              </div>

              <!-- other-payments questions -->
              <div class="form-group margin-above" id="other-payments">
                <label class="uikit-text-input__label" for="radio-buttons">Excluding this claim, are you currently in receipt, or have previously received, or are you applying for benefits/
                  payments from DVA, Centrelink or other compensation. (Including compensation from Australian Defence Force or other compensation resulting injury, illness or accident.)</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" id="op1">
                    <input class="uikit-control-input__input" type="radio" name="radio-other-payments">
                    <span class="uikit-control-input__text">Yes</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" id="op2">
                    <input class="uikit-control-input__input" type="radio" name="radio-other-payments">
                    <span class="uikit-control-input__text">No</span>
                  </label>
                </p>
              </div>
            </div>
          </div>
          <!-- bottom page navigation -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Save and exit</button>
              <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-profile'">Save and next</button>
            </div>

            <% include ../partials/cancel-modal.ejs %>
      </main>

      <% include ../../../global/partials/footer.ejs %>


        <script>
          // Progress percentage
          document.getElementById("percentage").style.width = "20%";
          document.getElementById("percentage_value").textContent = "20%";

          $("#relationship-reason").hide();
          $("#invalidity-reason").hide();

          $("#relationship label").click(function () {
            if ($(this).children('input').val() == "relationship") {
              $("#relationship-reason").show();
            } else {
              $("#relationship-reason").hide();
              $("#why-relationship").val("");
            }
          });

          $("#invalidity label").click(function () {
            if ($(this).children('input').val() == "invalidity") {
              $("#invalidity-reason").show();
            } else {
              $("#invalidity-reason").hide();
              $("#why-invalidity").val("");
            }
          });

        </script>


</body>

</html>