<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Getting started | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">About your claim</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <!--h2 class="margin-above--large">
              <span class="font-weight-heavy">About your claim </span>
            </h2-->
            <div class="form-group pt-flow--student pt-flow--claimant margin-above--large">
              <legend class="legend-label">What are you applying for?</legend>
              <div class="radio-tile--group">
                <label class="radio-tile">
                  <input id="confirmStudentOrClaimant-student" class="sr" type="radio" name="confirmStudentOrClaimant" value="student">
                  <span>
                    <img src="../../../../docs/images/ico-user-nonserving.svg" alt="non-serving icon">Invalidity service pension
                  </span>
                </label>

                <label class="radio-tile">
                  <input id="confirmStudentOrClaimant-guardian" class="sr" type="radio" name="confirmStudentOrClaimant" value="guardian">
                  <span>
                    <img src="../../../../docs/images/ico-user-nonserving.svg" alt="non-serving icon"> Age service pension
                  </span>
                </label>
              </div>
            </div>

            <!-- [A] Show if 60+ -->
            <div class="uikit-page-alerts" role="alert" id="60-plus">
              <p>You cannot apply for Invalidity service pension if you are over 60 years of age.</p>
              <p>Apply for Age service pension instead</p>
            </div>

            <!-- [B] Show if <60 -->
            <div id="60-under">
              <div class="uikit-page-alerts" role="alert">
                <p>Age pension is available at 60 and does not reuire medical evidence.</p>
                <p>Call VAN for advice on the best option for you.</p>
              </div>


            </div>

            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-progress-a'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-progress-b'">Save and next</button>
              </div>
            </div>
          </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../partials/cancel-modal.ejs %>
      <% include ../../../global/partials/footer.ejs %>
        <script>

          $(Document).ready(function () {
            $("#invalidity-pension-yes").hide();

            // Show and hide needs list
            $("#invalidity-yes").click(function () {
              $("#invalidity-pension-yes").show("fast");
            });
            $("#invalidity-no").click(function () {
              $("#invalidity-pension-yes").hide("fast");
            });
          });
        </script>


</body>

</html>