<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Getting started | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Getting started</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">Getting started</span>
            </h2>
            <div class="form-group margin-above" id="sp-start">
              <label class="uikit-text-input__label" for="radio-buttons">What is your preferred contact method?</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op1">
                  <input class="uikit-control-input__input" type="radio" name="radio-contact">
                  <span class="uikit-control-input__text">Email</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-contact">
                  <span class="uikit-control-input__text">Postal mail</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op3">
                  <input class="uikit-control-input__input" type="radio" name="radio-contact">
                  <span class="uikit-control-input__text">Phone</span>
                </label>
              </p>
            </div>

            <fieldset>
              <legend class="legend-label">Are you applying for the service pension on the basis of invalidity?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="invalidity-yes">
                  <input id="invalidity-yes" type="radio" name="invalidity">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="invalidity-no">
                  <input id="invalidity-no" type="radio" name="invalidity">
                  <span>No</span>
                </label>
              </div>
            </fieldset>

            <fieldset>
              <legend class="legend-label">Are you blind or visually impaired?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="blind-yes">
                  <input id="blind-yes" type="radio" name="blind">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="blind-no">
                  <input id="blind-no" type="radio" name="blind">
                  <span>No</span>
                </label>
              </div>
            </fieldset>

            <fieldset>
              <legend class="legend-label">Excluding this claim, are you currently in receipt of, or have you ever previously received, or are you applying for benefits or payments
                from DVA, Centrelink or other compensation. (Including compensation from Australian Defence Force or other compensation resulting injury, illness or accident.)</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="excluding-claim-yes">
                  <input id="excluding-claim-yes" type="radio" name="excluding-claim">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="excluding-claim-no">
                  <input id="excluding-claim-no" type="radio" name="excluding-claim">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
            <!-- bottom page navigation -->
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-progress'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-my-details'">Save and next</button>
              </div>

              <% include ../partials/cancel-modal.ejs %>
    </main>

    <% include ../../../global/partials/footer.ejs %>


      <script>
        // Progress percentage
        document.getElementById("percentage").style.width = "5%";
        document.getElementById("percentage_value").textContent = "5%";

        $("#relationship-reason").hide();
        $("#invalidity-reason").hide();

        $("#relationship label").click(function () {
          if ($(this).children('input').val() == "relationship") {
            $("#relationship-reason").show();
          } else {
            $("#relationship-reason").hide();
            $("#why-relationship").val("");
          }
        });

        $("#invalidity label").click(function () {
          if ($(this).children('input').val() == "invalidity") {
            $("#invalidity-reason").show();
          } else {
            $("#invalidity-reason").hide();
            $("#why-invalidity").val("");
          }
        });

      </script>


</body>

</html>