<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Getting started | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">About your claim</span>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- Page content -->
            <h2 class="margin-above--large">
              <span class="font-weight-heavy">About your claim</span>
            </h2>
            <div class="form-group margin-above" id="sp-start">




              
              <label class="uikit-text-input__label" for="radio-buttons">What is your preferred contact method?</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op1">
                  <input class="uikit-control-input__input" type="radio" name="radio-contact">
                  <span class="uikit-control-input__text">Email</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-contact">
                  <span class="uikit-control-input__text">Postal mail</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op3">
                  <input class="uikit-control-input__input" type="radio" name="radio-contact">
                  <span class="uikit-control-input__text">Phone</span>
                </label>
              </p>
            </div>

            <fieldset>
              <legend class="legend-label">Are you applying for the service pension on the basis of invalidity?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="invalidity-yes">
                  <input id="invalidity-yes" type="radio" name="invalidity">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="invalidity-no">
                  <input id="invalidity-no" type="radio" name="invalidity">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
            <!-- invalidity-yes -->
            <fieldset id="invalidity-pension-yes">
              <div class="form-group">
                <label class="uikit-text-input__label" for="radio-buttons">On what grounds are you applying for invalidity pension?</label>
                <p class="uiToolKitCheckBox margin-above">
                  <label class="uikit-control-input">
                    <input id="same-solicitor" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">TPI/SDRP</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="same-solicitor" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Blind</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="same-solicitor" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">other</span>
                  </label>
                </p>
              </div>
            </fieldset>

            <fieldset>
              <legend class="legend-label">Are you blind or visually impaired?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="blind-yes">
                  <input id="blind-yes" type="radio" name="blind">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="blind-no">
                  <input id="blind-no" type="radio" name="blind">
                  <span>No</span>
                </label>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group margin-above" id=""></div>
              <fieldset>
                <legend class="legend-label">Excluding this claim, are you currently in receipt of, or have you ever previously received, or are you applying for any of the following
                  <span class="hint display-block">Please select any that apply</span>
                </legend>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="dva">
                    <span class="uikit-control-input__text">DVA payments</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="centrelink">
                    <span class="uikit-control-input__text">Centrelink payments</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="adfc">
                    <span class="uikit-control-input__text">Australian Defence Force Compensation </span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="other-comp">
                    <span class="uikit-control-input__text">Other compensation</span>
                  </label>
                </p>
              </fieldset>
              <!-- bottom page navigation -->
              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-progress'">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                <div class="floated">
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/sp-start'">Save and exit</button>
                  <button class="uikit-btn btnNext" onclick="window.location.href = '/sp-progress-b'">Save and next</button>
                </div>
              </div>
          </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
      </div> <!-- container end -->
    </main>

    <% include ../partials/cancel-modal.ejs %>
      <% include ../../../global/partials/footer.ejs %>
        <script>

          $(Document).ready(function () {
            $("#invalidity-pension-yes").hide();

            // Show and hide needs list
            $("#invalidity-yes").click(function () {
              $("#invalidity-pension-yes").show("fast");
            });
            $("#invalidity-no").click(function () {
              $("#invalidity-pension-yes").hide("fast");
            });
          });
        </script>


</body>

</html>