<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Student Claim</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
    <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
    <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
    <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
    <% include ../partials/help-button.ejs %>
    <main> 
    <div class="container" id="main-content">
    <div id="progressbar"><div id="percentage"></div></div>
    <h1>Student Claims (Step 4: Financial details)</h1>
    <div id="optional-fields-message">All fields are required unless marked (optional).</div>
    

    <fieldset>

        <div class="form-group">
            <label class="uikit-text-input__label" for="toggle-buttons">Have you ever received an Income Support Bonus for the student from Centrelink?</label>
            <div class="radio-toggle">
              <label class="on label-left" for="yes"><input id="yes" type="radio" name="toggle-buttons"><span>Yes</span></label>
              <label class="off label-right" for="no"><input id="no" type="radio" name="toggle-buttons"><span>No</span></label>
            </div>
        </div>

        <div class="form-group">
            <label class="uikit-text-input__label" for="toggle-buttons">Have you ever received any other Centrelink benefit for the student?</label>
            <div class="radio-toggle">
              <label class="on label-left" for="yes"><input id="yes" type="radio" name="toggle-buttons"><span>Yes</span></label>
              <label class="off label-right" for="no"><input id="no" type="radio" name="toggle-buttons"><span>No</span></label>
            </div>
        </div>

        <div class="form-group">
            <label class="uikit-text-input__label" for="toggle-buttons">Are you currently receiving any payment from Centrelink?</label>
            <div class="radio-toggle">
              <label class="on label-left" for="yes"><input id="yes" type="radio" name="toggle-buttons"><span>Yes</span></label>
              <label class="off label-right" for="no"><input id="no" type="radio" name="toggle-buttons"><span>No</span></label>
            </div>
        </div>

        <div class="form-group">
            <label class="uikit-text-input__label" for="Input field">What type of payment do you receive?</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>

        <div class="form-group">
            <label class="uikit-text-input__label" for="Input field">Rate of payment (per fortnight)</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>   

        <div class="form-group">
            <label class="uikit-text-input__label" for="Input field">Centrelink Customer Reference Number</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>   

        <div class="form-group">
            <label class="uikit-text-input__label" for="Input field">Tax File Number</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>   

        <div class="form-group">
            <label class="uikit-text-input__label" for="toggle-buttons">Would you like to have your education allowance taxed?</label>
            <div class="radio-toggle">
              <label class="on label-left" for="yes"><input id="yes" type="radio" name="toggle-buttons"><span>Yes</span></label>
              <label class="off label-right" for="no"><input id="no" type="radio" name="toggle-buttons"><span>No</span></label>
            </div>
        </div>

        <div class="form-group">
            <label class="uikit-text-input__label" for="Input field">How much would you like taxed per fortnight?</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>  

        <h2>Bank details</h2>

        <div class="form-group">
            <label class="uikit-text-input__label" for="Input field">Account Name</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>  

        <div class="form-group">
            <label class="uikit-text-input__label" for="Input field">BSB</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>  

        <div class="form-group">
            <label class="uikit-text-input__label" for="Input field">Account Number</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>  




    </fieldset>
    
    
    

    <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/studentclaim3'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/studentclaim5'">Save and exit</button>&nbsp;
            <button class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim5'">Save and review</button>
        </div>
    </div>
    <% include ../partials/cancel-modal.ejs %>
    </div>

  </main>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

	<script>
	
	// Progress percentage
    // document.getElementById("percentage").style.width = "75%";
    document.getElementById("percentage").style.width = "80%";


	
	</script>

</body>
</html>