<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student support</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-authenticated.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <h1>Student support</h1>

            <p>Support is available for students who are in or were in the care of a veteran who is severely injured or deceased.
              If eligible, students aged 5 to 25 years old can apply for financial support, guidance and counselling to help
              with their education.</p>
            <p>This application is for student education allowance and rental assistance payments.</p>

            <p>Estimated completion time: 15 minutes</p>



            <!-- <div class="">

              <h2>Eligibility basics</h2>
              <ul>
                <li> Under 16 years</li>
                <li>Between 16 and 25 undertaking full time education (including Australian Apprenticeships, Traineeships and
                  Cadetships)
                </li>
                <li>The child of a current or former member of the Australian Defence Force </li>

              </ul>
            </div> -->



            <div class="uikit-page-alerts uikit-page-alerts--info">

              <h3>Things you may need</h3>
              <p class="margin-below--mid"> Students may need:</p>
              <ul>
                <li> birth certificate</li>
                <li> rental agreement</li>
                <li> proof of study</li>
              </ul>

              <p>Carers may need proof of care.</p>

              <ul>
                <li> proof of care</li>
              </ul>

            </div>
            <!-- <h3>Contact</h3> -->
            <p> For more information
              <strong>call 133 254 </strong>and ask for the students team.
            </p>

            <div class="row pagination">
              <div class="grids col-sm-3">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim3'">Back to home</button>

              </div>



              <div class="grids col-sm-9">
                <button id="claimant" class="uikit-btn btnNext floated" onclick="window.location.href = '/studentpreeligibility'"> Apply for student support</button>

              </div>
            </div>




          </div>
          <% include ../partials/cancel-modal.ejs %>


            </div>



        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>




            </script>

</body>

</html>