<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">

            <h1>Document uploads</h1>
            <div>
              <p>Please upload the documents below.
                <br> Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>
            </div>


            <fieldset class="hide-fields">


              <% include ../partials/uploads-full-width.ejs %>

            </fieldset>




            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/index-claims'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" onclick="window.location.href='/studentclaim5'">Save and review</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>

              // Progress percentage
              // document.getElementById("percentage").style.width = "88%";











            </script>

</body>

</html>