<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Student Claim</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../global/partials/header-topbar.ejs %>
        <% include ../../../global/partials/header-claims.ejs %>
            <% include ../partials/help-button.ejs %>
                <main>
                    <div class="container" id="main-content">
                        <div id="progressbar">
                            <div id="percentage"></div>
                        </div>
                        <h1>Student Claims (Step 3: Living arrangements)</h1>
                        <div id="optional-fields-message">All fields are required unless marked (optional).</div>


                        <fieldset>

                            <div class="form-group" id="studyawayfromhomeqst" style="display:none;">
                                <label class="uikit-text-input__label" for="toggle-buttons">Will the student be living away from home this year?</label>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="yes">
                                        <input id="yes" type="radio" name="toggle-buttons">
                                        <span>Yes</span>
                                    </label>
                                    <label class="off label-right" for="no">
                                        <input id="no" type="radio" name="toggle-buttons">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" id="livingwhere" style="display:none;">
                                <label class="uikit-text-input__label" for="radio-buttons">Where will the student be living this year?</label>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">With partner/friends away from home</span>
                                    </label>
                                </p>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">Student is studying away from home</span>
                                    </label>
                                </p>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">Student is homeless</span>
                                    </label>
                                </p>
                            </div>

                            <div class="form-group" id="livingwhere-student" style="display:none;">
                                <label class="uikit-text-input__label" for="radio-buttons">Where will you be living this year?</label>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">At home</span>
                                    </label>
                                </p>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">Away from home</span>
                                    </label>
                                </p>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">I am homeless</span>
                                    </label>
                                </p>
                            </div>

                            <div class="form-group" id="rentstartdate" style="display:none;">
                                <label class="uikit-text-input__label" for="date">Date you began living at a new rental address
                                    <span class="hint">(DD / MM / YYYY)</span>
                                </label>
                                <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                                <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                                <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true"
                                    aria-label="4 digit year">
                            </div>

                            <div class="form-group" id="rentpaymenttype" style="display:none;">
                                <label class="uikit-text-input__label" for="radio-buttons">What type of accommodation payment do you make?</label>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">Rent to a private landlord or real estate agent</span>
                                    </label>
                                </p>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">Money for a room in a boarding house</span>
                                    </label>
                                </p>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">Money to an education institution e.g. student accommodation</span>
                                    </label>
                                </p>
                                <p class="uiToolKitCheckBox">
                                    <label class="uikit-control-input">
                                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                                        <span class="uikit-control-input__text">Other (please specify)</span>
                                    </label>
                                </p>
                            </div>

                            <div class="form-group" id="landlordname" style="display:none;">
                                <label class="uikit-text-input__label" for="Input field">Name of entity to whom rent is paid </label>
                                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                            </div>

                            <div class="form-group" id="landlordaddress" style="display:none;">
                                <label class="uikit-text-input__label" for="Input field">Their address </label>
                                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                            </div>

                            <div class="form-group" id="landlordnumber" style="display:none;">
                                <label class="uikit-text-input__label" for="Input field">Their contact number </label>
                                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                            </div>

                            <div class="form-group" id="shareaccomqst" style="display:none;">
                                <label class="uikit-text-input__label" for="toggle-buttons">Do you share accommodation with anybody?</label>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="yes">
                                        <input id="yes" type="radio" name="toggle-buttons">
                                        <span>Yes</span>
                                    </label>
                                    <label class="off label-right" for="no">
                                        <input id="no" type="radio" name="toggle-buttons">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" id="housematenumber" style="display:none;">
                                <label class="uikit-text-input__label" for="Input field">How many people do you share with? </label>
                                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                            </div>

                            <div class="form-group" id="partnerrentassistanceqst" style="display:none;">
                                <label class="uikit-text-input__label" for="toggle-buttons">Does your partner currently receive any rent assistance from another source?</label>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="yes">
                                        <input id="yes" type="radio" name="toggle-buttons">
                                        <span>Yes</span>
                                    </label>
                                    <label class="off label-right" for="no">
                                        <input id="no" type="radio" name="toggle-buttons">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" id="fortnightlyrentcharged" style="display:none;">
                                <label class="uikit-text-input__label" for="Input field">How much is the total fortnightly rent charged? </label>
                                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                            </div>

                            <div class="form-group" id="fortnightlyamountpaid" style="display:none;">
                                <label class="uikit-text-input__label" for="Input field">How much do you pay per fortnight? </label>
                                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                            </div>

                            <div class="form-group" id="mealqst" style="display:none;">
                                <label class="uikit-text-input__label" for="toggle-buttons">Do you receive meals as part of your accommodation costs?</label>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="yes">
                                        <input id="yes" type="radio" name="toggle-buttons">
                                        <span>Yes</span>
                                    </label>
                                    <label class="off label-right" for="no">
                                        <input id="no" type="radio" name="toggle-buttons">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" id="mealamount" style="display:none;">
                                <label class="uikit-text-input__label" for="Input field">How much of the payment is for meals? </label>
                                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                            </div>


                        </fieldset>




                        <div class="pagination">
                            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/studentclaim2'">Previous</button>
                            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                            <div class="floated">
                                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Save and exit</button>&nbsp;
                                <button class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim4'">Save and next</button>
                            </div>
                        </div>
                        <% include ../partials/cancel-modal.ejs %>
                    </div>

                </main>

                <% include ../../../global/partials/footer.ejs %>
                    <% include ../partials/panel-help.ejs %>

                        <script>

                            // Progress percentage
                            // document.getElementById("percentage").style.width = "75%";
                            document.getElementById("percentage").style.width = "60%";


                            if ("veteranFlow" in sessionStorage) {
                                $("#studyawayfromhomeqst").show();
                                $("#livingwhere").hide();
                                $("#livingwhere-student").hide();
                                $("#rentstartdate").hide();
                                $("#rentpaymenttype").hide();
                                $("#landlordname").hide();
                                $("#landlordaddress").hide();
                                $("#landlordnumber").hide();
                                $("#shareaccomqst").hide();
                                $("#housematenumber").hide();
                                $("#partnerrentassistanceqst").hide();
                                $("#fortnightlyrentcharged").hide();
                                $("#fortnightlyamountpaid").hide();
                                $("#mealqst").hide();
                                $("#mealamount").hide();

                            }

                            if ("studentFlow" in sessionStorage) {
                                $("#studyawayfromhomeqst").hide();
                                $("#livingwhere").hide();
                                $("#livingwhere-student").show();
                                $("#rentstartdate").show();
                                $("#rentpaymenttype").show();
                                $("#landlordname").show();
                                $("#landlordaddress").show();
                                $("#landlordnumber").show();
                                $("#shareaccomqst").show();
                                $("#housematenumber").show();
                                $("#partnerrentassistanceqst").show();
                                $("#fortnightlyrentcharged").show();
                                $("#fortnightlyamountpaid").show();
                                $("#mealqst").show();
                                $("#mealamount").show();
                            }

                            if ("claimantFlow" in sessionStorage) {
                                $("#studyawayfromhomeqst").show();
                                $("#livingwhere").show();
                                $("#livingwhere-student").hide();
                                $("#rentstartdate").hide();
                                $("#rentpaymenttype").hide();
                                $("#landlordname").hide();
                                $("#landlordaddress").hide();
                                $("#landlordnumber").hide();
                                $("#shareaccomqst").hide();
                                $("#housematenumber").hide();
                                $("#partnerrentassistanceqst").hide();
                                $("#fortnightlyrentcharged").hide();
                                $("#fortnightlyamountpaid").hide();
                                $("#mealqst").hide();
                                $("#mealamount").hide();

                            }

                        </script>

</body>

</html>