<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">

  <style>
    .pt-flow--veteran,
    .pt-flow--student,
    .pt-flow--claimant {
      display: none;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <div id="progressbar">
              <div id="percentage"></div>
            </div>
            <h1>Study details
              <span>(Student claims)</span>
            </h1>
            <fieldset>

              <!-- 10 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant" id="studyLevel">
                <legend class="legend-label" id="question_id10"></legend>
                <select id="studentLevelOfStudy" class="uikit-text-input input-half">
                  <option value="">-- Select a level --</option>
                  <option value="primary">Primary</option>
                  <option value="secondary">Secondary</option>
                  <option value="tertiary">Tertiary</option>
                  <option value="apprenticeship">Apprenticeship</option>

                </select>

              </div>

              <!-- 10 a) -->
              <div class="form-group  pt-flow--veteran pt-flow--student pt-flow--claimant uikit-page-alerts pt-noLongerEligible">
                <p id="question_id10a"></p>
              </div>

              <!-- 11 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPrimary pt-showIfSecondary" id="studentGradeThisYear">
                <label class="uikit-text-input__label" for="studentGradeThisYearSelect" id="question_id11"></label>

                <select class="uikit-text-input input-half" id="studentGradeThisYearSelect">
                  <option>-- Select an item --</option>
                  <option value="0">Kindergarten</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                  <option value="5"> 5</option>
                  <option value="6"> 6</option>
                  <option value="7"> 7</option>
                  <option value="8"> 8</option>
                  <option value="9"> 9</option>
                  <option value="10"> 10</option>
                  <option value="11"> 11</option>
                  <option value="12"> 12</option>
                </select>
              </div>

              <!-- 12 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPrimary pt-showIfSecondary" id="schoolName">
                <label class="uikit-text-input__label" for="schoolNameInput" id="question_id12"></label>
                <input class="uikit-text-input input-half" id="schoolNameInput" name="schoolNameInput" type="text" value="" required aria-required="true">
              </div>





              <!-- 13 -->
              <!-- <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPrimary pt-showIfSecondary" id="schoolAddress">
                <label class="uikit-text-input__label" for="schoolAddressInput" id="question_id13"></label>
                <input class="uikit-text-input input-half" id="schoolAddressInput" name="schoolAddressInput" type="text" value="" required
                  aria-required="true">
              </div> -->

              <!-- 14 -->
              <!-- <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPrimary pt-showIfSecondary" id="schoolNumber">
                <label class="uikit-text-input__label" for="schoolNumberInput" id="question_id14"></label>
                <input class="uikit-text-input input-half" id="schoolNumberInput" name="schoolNumberInput" type="text" value="" required
                  aria-required="true">
              </div> -->

              <!-- 15 -->
              <!-- <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <legend class="legend-label" id="question_id15"> </legend>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="typeOfEducation" value="general">
                    <span class="uikit-control-input__text">Currently studying or planning to study</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="typeOfEducation" value="apprenticeship">
                    <span class="uikit-control-input__text">Currently undertaking or have accepted a full-time Australian Apprenticeship</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="typeOfEducation" value="school-apprenticeship">
                    <span class="uikit-control-input__text">Currently undertaking an Australian School-based Apprenticeship</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="typeOfEducation" value="none">
                    <span class="uikit-control-input__text">None of the above</span>
                  </label>
                </p>
              </div> -->

              <!-- 16 -->
              <!-- <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <label class="uikit-text-input__label" for="studyingWhere" id="question_id16"></label>
                <select class="uikit-text-input input-half" id="studyingWhere" name="studyingWhere">
                  <option>-- Select --</option>
                  <option>ACT</option>
                  <option>NSW</option>
                  <option>NT</option>
                  <option>QLD</option>
                  <option>SA</option>
                  <option>TAS</option>
                  <option>VIC</option>
                  <option>WA</option>
                </select>
              </div> -->

              <!-- 17 -->
              <!-- <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <label class="uikit-text-input__label" for="studyingCourse" id="question_id17"></label>
                <input class="uikit-text-input input-half" name="studyingCourse" id="studyingCourse" type="text" value="" required aria-required="true">
              </div> -->

              <!-- 18 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <label class="uikit-text-input__label" for="courseCode" id="question_id18"></label>
                <input class="uikit-text-input input-half" name="courseCode" id="courseCode" type="text" value="" required aria-required="true">
              </div>

              <!-- 21 c-->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <legend class="legend-label" id="question_id21c"></legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="yes" type="radio" name="enroleStatus" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input id="no" type="radio" name="enroleStatus" value="no">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <!-- 10 a) -->
              <div class="form-group  pt-flow--veteran pt-flow--student pt-flow--claimant uikit-page-alerts pt-noLongerEligibleTwo">
                <p id="question_id21ci"></p>
              </div>

              <!-- 19 -->
              <!-- <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <legend class="legend-label" id="question_id19"></legend>
                <input class="uikit-text-input dd" type="text" placeholder="dd" name="courseStartDate-dd" id="courseStartDate-dd" maxlength="2"
                  required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" placeholder="mm" name="courseStartDate-mm" id="courseStartDate-mm" maxlength="2"
                  required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" placeholder="yyyy" name="courseStartDate-yyyy" id="courseStartDate-yyyy"
                  maxlength="4" required aria-required="true" aria-label="4 digit year">
              </div> -->

              <!-- 20 -->
              <!-- <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <legend class="legend-label" id="question_id20"></legend>
                <input class="uikit-text-input mm" type="text" placeholder="mm" name="courseEndDate-mm" id="courseEndDate-mm" maxlength="2"
                  required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" placeholder="yyyy" name="courseEndDate-yyyy" id="courseEndDate-yyyy" maxlength="4"
                  required aria-required="true" aria-label="4 digit year">
              </div> -->

              <!-- 21 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <legend class="legend-label" id="question_id21"></legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="yes" type="radio" name="studyLoad" value="full-time">
                    <span>Full Time</span>
                  </label>
                  <label class="off label-right">
                    <input id="no" type="radio" name="studyLoad" value="part-time">
                    <span>Part Time</span>
                  </label>
                </div>
              </div>

              <!-- upload evidence  -->





              <!-- 21a -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPartTime">
                <label class="uikit-text-input__label" for="partTimeExplination" id="question_id21a">Please provide a brief statement explaining the need to study part-time </label>
                <textarea id="partTimeExplination" name="partTimeExplination" rows="4"></textarea>
              </div>

              <!-- 21b -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPartTime">
                <legend class="legend-label" id="question_id21b"></legend>
                <input class="uikit-text-input mm" type="text" placeholder="mm" name="courseReturnDate-mm" id="courseReturnDate-mm" maxlength="2"
                  aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" placeholder="yyyy" name="courseReturnDate-yyyy" id="courseReturnDate-yyyy"
                  maxlength="4" aria-label="4 digit year">
              </div>


            </fieldset>


            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Save and exit</button>&nbsp;

                <button class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim4'">Save and next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>


            <script>

              // Progress percentage
              document.getElementById("percentage").style.width = "40%";

            </script>




</body>

</html>