<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">



  <style>
    /* .pt-showIfStudentConfirm,
    .pt-flow--student,
    .pt-flow--claimant {
      display: none;
    } */
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <!-- <div id="progressbar">
              <div id="percentage"></div>
            </div> -->
            <h1>Getting started</h1>

            <div class="row">
              <fieldset class="hide-fields grids col-sm-7">
                <!-- 1 -->


                <!-- 4 -->

                <!-- veteran flow -->
                <div class="form-group pt-flow--veteran pt-flow--claimant pt-student-dob">
                  <label class="uikit-text-input__label" for="date" id="question_id4"></label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" placeholder="dd" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" placeholder="mm" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" placeholder="yyyy" aria-label="4 digit year">
                </div>

                <div class="uikit-page-alerts uikit-page-alerts--error pt-flow--veteran pt-flow--claimant pt-showIfStudentShouldClaimThemselves">
                  Students over the age of 18 are required to claim for themselves.
                </div>

                <div class="uikit-page-alerts uikit-page-alerts--error pt-flow--veteran pt-flow--claimant pt-showIfStudentUnder0">
                  The student must be at least 4 years old in order to continue the claim.
                </div>

                <div class="form-group pt-flow--veteran pt-flow--claimant pt-showIfStudentUnder18">
                  <legend class="legend-label" id="question_id26"></legend>
                  <div class="radio-toggle">
                    <label class="on label-left ">
                      <input type="radio" name="fTBYou" value="yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right ">
                      <input type="radio" name="fTBYou" value="no">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <div class="form-group  uikit-page-alerts uikit-page-alerts--warning pt-flow--veteran pt-showFTBIsBest">
                  You may be better off sticking with Family Tax Benefit. Use
                  <a href="" rel="external">Nick's calculator</a> to decide what's best for you.
                </div>


                <div class="form-group pt-flow--veteran pt-flow--claimant pt-showIfSomeoneElseFTB">
                  <legend class="legend-label"> Does someone else receive Family Tax Benefit for the student</legend>
                  <div class="radio-toggle">
                    <label class="on label-left ">
                      <input type="radio" name="fTBSomeoneElse" value="yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right ">
                      <input type="radio" name="fTBSomeoneElse" value="no">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfCentrelinkCustomer">
                  <label class="uikit-text-input__label" for="centrelinkCRN" id="question_id26a"></label>
                  <input class="uikit-text-input input-half" name="centrelinkCRN" id="centrelinkCRN" type="text" value="">
                </div>

                <div class="form-group pt-flow--veteran pt-flow--claimant pt-showIfStudentBetween16and18">
                  <legend class="legend-label"> Does the student have a Tax File Number</legend>
                  <div class="radio-toggle">
                    <label class="on label-left ">
                      <input type="radio" name="doesStudentHaveTFN" value="yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right ">
                      <input type="radio" name="doesStudentHaveTFN" value="no">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <div class="uikit-page-alerts uikit-page-alerts--error form-group pt-flow--veteran pt-flow--claimant pt-showIfNoFTB">
                  The person receiving Family Tax Benefit will need to complete this claim.
                </div>

                <!-- <div class="uikit-page-alerts uikit-page-alerts--warning form-group pt-flow--veteran pt-flow--claimant pt-showIfNoTFN">
                  Student's over 16 are required to have a Tax File Number in order to receive an education allowance.
                </div> -->

                <!-- student flow -->

              </fieldset>

            </div>


            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/student-assistance-landing'">Back to Home</button>

              <div class="floated">

                <button class="uikit-btn btnNext" onclick="window.location.href='/studentclaim1'">Next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>

              // Progress percentage
              // document.getElementById("percentage").style.width = "20%";











            </script>

</body>

</html>