<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <div id="progressbar">
              <div id="percentage"></div>
            </div>
            <h1>Student Claims (Step 1: Student details)</h1>
            <div id="optional-fields-message">All fields are required unless marked (optional).</div>


            <fieldset class="hide-fields">
              <!-- 1 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant">
                <label class="uikit-text-input__label" for="title" id="question_id1">
                  <!-- all question text is handled in js below due to text changing depending on flow -->
                </label>
                <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                  <option selected>-- Select title --</option>
                  <option>Miss</option>
                  <option>Mr</option>
                  <option>Mrs</option>
                  <option>Ms</option>
                </select>
              </div>

              <!-- 2 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant">
                <label class="uikit-text-input__label" for="firstName" id="question_id2"></label>
                <input class="uikit-text-input input-half" name="firstName" id="firstName" type="text" value="" required aria-required="true">
              </div>

              <!-- 3 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant">
                <label class="uikit-text-input__label" for="lastName" id="question_id3"></label>
                <input class="uikit-text-input input-half" name="lastName" id="lastName" type="text" value="" required aria-required="true">
              </div>

              <!-- 4 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-student-dob">
                <label class="uikit-text-input__label" for="date" id="question_id4">
                  <span class="hint">(DD / MM / YYYY)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true"
                  aria-label="4 digit year">
              </div>

              <!-- 5 -->
              <div class="form-group pt-flow--veteran pt-flow--claimant">
                <label class="uikit-text-input__label" for="relationshipToStudent" id="question_id5"></label>
                <select class="uikit-text-input input-half" name="relationshipToStudent" id="relationshipToStudent" type="text" value="">
                  <option selected>-- Select relationship --</option>
                  <option>Parent</option>
                  <option>Step-parent</option>
                  <option>Foster Parent</option>
                  <option>Adopted Parent</option>
                  <option>Grandparent</option>
                  <option>Guardian</option>
                  <option value="other">Other</option>
                </select>
              </div>

              <!-- 5 a) -->
              <div class="form-group" id="relationshipToStudentOther">
                <label class="uikit-text-input__label" for="relationshipToStudentOtherText" id="question_id5a"> </label>
                <textarea id="relationshipToStudentOtherText" name="relationshipToStudentOtherText" rows="4"></textarea>
              </div>

              <!-- 6 -->
              <div class="form-group pt-flow--veteran pt-flow--claimant pt-studentAge--mature">
                <legend class="legend-label" id="question_id6"></legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="engagedInFullTimeEmployment-yes">
                    <input id="engagedInFullTimeEmployment-yes" type="radio" name="engagedInFullTimeEmployment">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="engagedInFullTimeEmployment-no">
                    <input id="engagedInFullTimeEmployment-no" type="radio" name="engagedInFullTimeEmployment">
                    <span>No</span>
                  </label>
                </div>
              </div>


              <!-- 7 -->
              <div class="form-group pt-flow--student pt-studentAge--mature">
                <legend class="legend-label" id="question_id7"></legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="studentPartneredRelationship-yes">
                    <input id="studentPartneredRelationship-yes" type="radio" name="studentPartneredRelationship">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="studentPartneredRelationship-no">
                    <input id="studentPartneredRelationship-no" type="radio" name="studentPartneredRelationship">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <!-- 8 -->
              <div class="form-group pt-flow--student pt-studentAge--mature">
                <legend class="legend-label" id="question_id8"></legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="studentLivingWithPartner-yes">
                    <input id="studentLivingWithPartner-yes" type="radio" name="studentLivingWithPartner" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="studentLivingWithPartner-no">
                    <input id="studentLivingWithPartner-no" type="radio" name="studentLivingWithPartner" value="no">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <!-- 8 a) -->
              <div class="form-group pt-noLongerEligible">
                <p id="question_id8a"></p>
              </div>

              <!-- 9 -->
              <div class="form-group pt-flow--claimant">
                <label class="uikit-text-input__label" for="veteranRelationshipToStudent" id="question_id9">
                </label>
                <select class="uikit-text-input input-half" id="veteranRelationshipToStudent" name="veteranRelationshipToStudent">
                  <option>-- Select relationship --</option>

                  <option>Parent </option>
                  <option>Step-parent</option>
                  <option>Foster Parent</option>
                  <option>Adopted Parent</option>
                  <option>Grandparent Guardian</option>
                  <option value="other">Other</option>
                </select>
              </div>

              <!-- 9 a -->
              <div class="form-group" id="veteranRelationshipToStudentOther">
                <label class="uikit-text-input__label" for="veteranRelationshipToStudentOtherText" id="question_id9a"></label>
                <textarea id="veteranRelationshipToStudentOtherText" name="veteranRelationshipToStudentOtherText" rows="4"></textarea>
              </div>

              <!-- 9 b -->

              <!-- TODO: Upload supporting doc -->


            </fieldset>




            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/student-assistance-landing'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim2'">Save and next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>

              // Progress percentage
              document.getElementById("percentage").style.width = "20%";











            </script>

</body>

</html>