<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <style>
    .pt-flow--veteran,
    .pt-flow--student,
    .pt-flow--claimant {
      display: none;
    }

    .hide-fields>div {
      display: none;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <!-- <div id="progressbar">
              <div id="percentage"></div>
            </div> -->
            <h1>Financial details

            </h1>

            <div class="row">

              <fieldset class="hide-fields grids col-sm-7">


                <div class="form-group pt-flow--student pt-flow--claimant pt-showIfStudentBetween16and18">
                  <legend class="legend-label"> Do you have a tax file number?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left ">
                      <input type="radio" name="doesStudentHaveTFN" value="yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right ">
                      <input type="radio" name="doesStudentHaveTFN" value="no">
                      <span>No</span>
                    </label>
                  </div>
                </div>


                <div class="form-group  uikit-page-alerts uikit-page-alerts--alert pt-showIfStudentTFN">
                  <p>If your claim is accepted your payment will be taxed. If you're already claiming the tax free threshold
                    for another income, your student payment will be taxed at a higher rate. For more information go to the
                    <a href="https://www.ato.gov.au/" rel="external">
                      Australian Taxation Office website</a> .</p>
                </div>

                <div class="form-group pt-flow--student  margin-below margin-below--none">
                  <h3 class="margin-below margin-below--none">Bank details</h3>
                </div>
                <!-- 28 a -->
                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEducationAllowanceTaxed">
                  <label class="uikit-text-input__label" for="howMuchTax" id="question_id28a"></label>
                  <span class="input-support-text">$</span>
                  <input class="uikit-text-input input-small uikit-text-input--number" name="howMuchTax" id="howMuchTax" type="number">

                </div>


                <div class="form-group pt-flow--student pt-flow--claimant">


                  <fieldset>
                    <!-- Account location -->

                    <!-- Account name -->
                    <div class="form-group">
                      <label class="uikit-text-input__label" for="account-name">Account name </label>
                      <input class="uikit-text-input" name="account-name" id="account-name" type="text" value="" required="" aria-required="true"
                        style="max-width: 22em;">
                    </div>

                    <!-- BSB -->
                    <div class="form-group">
                      <label class="uikit-text-input__label" for="bsb">BSB
                        <span class="hint">(XXX - XXX)</span>
                      </label>
                      <input class="uikit-text-input" type="text" name="bsb" id="bsb" maxlength="3" required="" aria-required="true" aria-label="3 digit BSB"
                        style="width: 3em !important; margin-right: 0 !important"> -
                      <input class="uikit-text-input" type="text" name="bsb" id="bsb" maxlength="3" required="" aria-required="true" aria-label="3 digit BSB"
                        style="width: 3em !important">
                    </div>

                    <!-- Account number -->
                    <div class="form-group margin-below--none">
                      <label class="uikit-text-input__label" for="account-number">Account number </label>
                      <input class="uikit-text-input" name="account-number" id="account-number" type="number" value="" required="" aria-required="true"
                        style="max-width: 22em;">
                    </div>

                </div>



                </fieldset>

                <% include ../partials/uploads-shopping-cart.ejs %>

            </div>
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href = '/studentclaimupload'">Save and next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <script src="/docs/js/students.js"></script>
          <% include ../partials/panel-help.ejs %>

            <script>

              // Progress percentage
              // document.getElementById("percentage").style.width ="75%";
              // document.getElementById("percentage").style.width = "80%";




            </script>

</body>

</html>