<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <div id="progressbar">
              <div id="percentage"></div>
            </div>
            <h1>Check your eligibility</h1>

            <form action="">
              <fieldset class="hide-fields">
                <!-- 1 -->
                <!-- all question text is handled in js below due to text changing depending on flow -->

                <!-- 32
                33a)
                33b)
                34
                35
                36 -->

                <!-- 32 -->
                <div class="form-group pt-flow--student">
                  <legend class="legend-label" id="question_id40"></legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="eligibilityPersonType-student" type="radio" name="eligibilityPersonType">
                      <span>Student</span>
                    </label>
                    <label class="off label-right">
                      <input id="eligibilityPersonType-carer" type="radio" name="eligibilityPersonType">
                      <span>Carer</span>
                    </label>
                  </div>
                </div>

                <!-- 32 -->
                <div class="form-group pt-flow--student">
                  <legend class="legend-label" id="question_id32"></legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="eligibilityFullTimeStudy-yes" type="radio" name="eligibilityFullTimeStudy">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="eligibilityFullTimeStudy-no" type="radio" name="eligibilityFullTimeStudy">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <!-- 33a -->
                <div class="form-group pt-flow--student">
                  <legend class="legend-label" id="question_id33a"></legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="eligibilityCaredForByVeteran-yes" type="radio" name="eligibilityCaredForByVeteran">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="eligibilityCaredForByVeteran-no" type="radio" name="eligibilityCaredForByVeteran">
                      <span>No</span>
                    </label>
                  </div>
                </div>


                <!-- 33b -->
                <div class="form-group pt-flow--veteran pt-flow--claimant">
                  <legend class="legend-label" id="question_id33b"></legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="eligibilityVeteranSignificantlyInjured-yes" type="radio" name="eligibilityVeteranSignificantlyInjured">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="eligibilityVeteranSignificantlyInjured-no" type="radio" name="eligibilityVeteranSignificantlyInjured">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <!-- 34 -->
                <div class="form-group pt-flow--veteran pt-flow--claimant">
                  <legend class="legend-label" id="question_id34"></legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="eligibilityStudentFullTimeStudy-yes" type="radio" name="eligibilityStudentFullTimeStudy">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="eligibilityStudentFullTimeStudy-no" type="radio" name="eligibilityStudentFullTimeStudy">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <!-- 35 -->
                <div class="form-group pt-flow--veteran pt-flow--claimant">
                  <legend class="legend-label" id="question_id35"></legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="eligibilityCareForStudentOrFTB-yes" type="radio" name="eligibilityCareForStudentOrFTB">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="eligibilityCareForStudentOrFTB-no" type="radio" name="eligibilityCareForStudentOrFTB">
                      <span>No</span>
                    </label>
                  </div>
                </div>


                <!-- 36 -->
                <div class="form-group pt-flow--veteran pt-flow--claimant">
                  <legend class="legend-label" id="question_id36"></legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="eligibilityVeteranSignificantlyInjuredDeceased-yes" type="radio" name="eligibilityVeteranSignificantlyInjuredDeceased">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="eligibilityVeteranSignificantlyInjuredDeceased-no" type="radio" name="eligibilityVeteranSignificantlyInjuredDeceased">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <div class="form-group pt-outcome">
                  <p>Outcome:</p>
                  <p class="pt-outcome--yes" id="question_id37"></p>
                  <p class="pt-outcome--maybe" id="question_id38"></p>
                  <p class="pt-outcome--no" id="question_id39"></p>
                </div>

              </fieldset>
            </form>



            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/student-assistance-landing'">Back to Home</button>

              <div class="floated">

                <button class="uikit-btn btnNext" onclick="window.location.href='/studentclaim1'">Next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>

              // Progress percentage
              document.getElementById("percentage").style.width = "20%";











            </script>

</body>

</html>