<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <div>
    <% include ../../../global/partials/header-topbar.ejs %>
  </div>
  <div>
    <% include ../../../global/partials/header-claims.ejs %>
  </div>
  <div>
    <% include ../partials/help-button.ejs %>
  </div>


  <main>
    <div class="container" id="main-content">
      <!-- <div id="progressbar">
        <div id="percentage"></div>
      </div> -->
      <h1 id="question_pageheader1">
      </h1>

      <!-- <div id="optional-fields-message">All fields are required unless marked (optional).</div> -->
      <!-- all question text is handled in js below due to text changing depending on flow -->

      <div class="row">


        <fieldset class="hide-fields grids col-sm-8">

          <!-- 1 -->
          <div class="form-group pt-flow--veteran pt-flow--claimant">
            <label class="uikit-text-input__label" for="title" id="question_id1">

            </label>
            <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
              <option selected>-- Select title --</option>
              <option>Miss</option>
              <option>Mr</option>
              <option>Mrs</option>
              <option>Ms</option>
            </select>
          </div>

          <!-- 2 -->
          <div class="form-group pt-flow--veteran pt-flow--claimant">
            <label class="uikit-text-input__label" for="firstName" id="question_id2"></label>
            <input class="uikit-text-input input-half" name="firstName" id="firstName" type="text" value="">
          </div>

          <!-- 3 -->
          <div class="form-group pt-flow--veteran  pt-flow--claimant">
            <label class="uikit-text-input__label" for="lastName" id="question_id3"></label>
            <input class="uikit-text-input input-half" name="lastName" id="lastName" type="text" value="">
          </div>

          <!-- 4 -->
          <div class="form-group pt-flow--veteran pt-flow--claimant pt-student-dob">
            <label class="uikit-text-input__label" for="date" id="question_id4">
              <span class="hint">(DD / MM / YYYY)</span>
            </label>
            <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" placeholder="dd" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" placeholder="mm" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" placeholder="yyyy" aria-label="4 digit year">
          </div>

          <!-- 5 -->
          <div class="form-group pt-flow--veteran pt-flow--claimant">
            <label class="uikit-text-input__label" for="relationshipToStudent" id="question_id5"></label>
            <select class="uikit-text-input input-half" name="relationshipToStudent" id="relationshipToStudent" type="text" value="">
              <option selected>-- Select relationship --</option>
              <option>Parent</option>
              <option>Step-parent</option>
              <option>Foster Parent</option>
              <option>Adopted Parent</option>
              <option>Grandparent</option>
              <option>Guardian</option>
              <option value="other">Other</option>
            </select>
          </div>

          <!-- 5 a) -->
          <div class="form-group" id="relationshipToStudentOther">
            <label class="uikit-text-input__label" for="relationshipToStudentOtherText" id="question_id5a"> </label>
            <textarea id="relationshipToStudentOtherText" name="relationshipToStudentOtherText" rows="4"></textarea>
          </div>

          <!-- 6 -->
          <div class="form-group pt-flow--veteran pt-flow--claimant pt-studentAge--mature">
            <legend class="legend-label" id="question_id6"></legend>
            <div class="radio-toggle">
              <label class="on label-left" for="engagedInFullTimeEmployment-yes">
                <input id="engagedInFullTimeEmployment-yes" type="radio" name="engagedInFullTimeEmployment">
                <span>Yes</span>
              </label>
              <label class="off label-right" for="engagedInFullTimeEmployment-no">
                <input id="engagedInFullTimeEmployment-no" type="radio" name="engagedInFullTimeEmployment">
                <span>No</span>
              </label>
            </div>
          </div>
          <!-- end veteran flow -->



          <h2 id="question_pageheader1b"></h2>


          <!-- 23 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfNotPrimaryStudent">
            <legend class="legend-label" for="" id="question_id23"></legend>
            <div class="radio-toggle">
              <label class="on label-left">
                <input type="radio" name="studyAwayFromHomeRadio" value="yes">
                <span>Yes</span>
              </label>
              <label class="off label-right">
                <input type="radio" name="studyAwayFromHomeRadio" value="no">
                <span>No</span>
              </label>
            </div>
          </div>


          <!-- 7 -->
          <div class="form-group pt-flow--student pt-studentAge--mature">
            <legend class="legend-label" id="question_id7"></legend>
            <div class="radio-toggle">
              <label class="on label-left">
                <input type="radio" name="studentPartneredRelationship" value="yes">
                <span>Yes</span>
              </label>
              <label class="off label-right">
                <input type="radio" name="studentPartneredRelationship" value="no">
                <span>No</span>
              </label>
            </div>
          </div>

          <!-- 8 -->
          <div class="form-group pt-flow--student pt-studentLivingSameAddress">
            <legend class="legend-label" id="question_id8"></legend>

            <div class="radio-toggle">
              <label class="on label-left">
                <input type="radio" name="studentLivingWithPartner" value="yes">
                <span>Yes</span>
              </label>
              <label class="off label-right">
                <input type="radio" name="studentLivingWithPartner" value="no">
                <span>No</span>
              </label>
            </div>
          </div>

          <!-- 9 a -->
          <div class="form-group" id="veteranRelationshipToStudentOther">
            <label class="uikit-text-input__label" for="veteranRelationshipToStudentOtherText" id="question_id9a"></label>
            <textarea id="veteranRelationshipToStudentOtherText" name="veteranRelationshipToStudentOtherText" rows="4"></textarea>
          </div>
          <!-- 9 b -->

          <!-- 46 -->
          <div class="form-group pt-flow--student">
            <label class="uikit-text-input__label" for="relationshipToVeteran" id="question_id47"></label>
            <select class="uikit-text-input input-half" name="relationshipToVeteran" id="relationshipToVeteran" type="text" value="">
              <option selected>-- Select relationship --</option>
              <option>Child</option>
              <option>Step-child</option>
              <option>Foster child</option>
              <option>Adopted child</option>
              <option>Grandchild</option>

              <option value="other">Other</option>
            </select>
          </div>

          <!-- 48 -->
          <div class="form-group" id="relationshipToStudentOther">
            <label class="uikit-text-input__label" for="relationshipToVeteranOtherText" id="question_id48"> </label>
            <textarea id="relationshipToVeteranOtherText" name="relationshipToVeteranOtherText" rows="4"></textarea>
          </div>

          <br>
          <h2 id="question_pageheader1a"></h2>
          <!-- 41 -->

          <div class="form-group pt-flow--student">
            <label class="uikit-text-input__label" for="veteranTitle" id="question_id41"></label>
            <input class="uikit-text-input input-half" name="veteranTitle" id="veteranTitle" type="text" value="">
          </div>

          <!-- 42 -->
          <div class="form-group pt-flow--student">
            <label class="uikit-text-input__label" for="veteranFirstName" id="question_id42"></label>
            <input class="uikit-text-input input-half" name="veteranFirstName" id="veteranFirstName" type="text" value="">
          </div>

          <!-- 43 -->
          <div class="form-group pt-flow--student">
            <label class="uikit-text-input__label" for="veteranLastName" id="question_id43"></label>
            <input class="uikit-text-input input-half" name="veteranLastName" id="veteranLastName" type="text" value="">
          </div>

          <!-- 44 -->
          <div class="form-group pt-flow--student">
            <label class="uikit-text-input__label" for="date" id="question_id44">
              <span class="hint">(DD / MM / YYYY)</span>
            </label>
            <input class="uikit-text-input dd" type="text" name="veteran-dd-date" id="veteran-dd-date" maxlength="2" placeholder="dd"
              aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="text" name="veteran-mm-date" id="veteran-mm-date" maxlength="2" placeholder="mm"
              aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="text" name="veteran-yyyy-date" id="veteran-yyyy-date" maxlength="4" placeholder="yyyy"
              aria-label="4 digit year">
          </div>

          <!-- 45 -->
          <div class="form-group pt-flow--student">
            <label class="uikit-text-input__label" for="dVAFileNumber" id="question_id45"></label>

            <input class="uikit-text-input input-small" id="dVAFileNumber" name="dVAFileNumber" type="number" value="">
          </div>

          <!-- 46 -->
          <div class="form-group pt-flow--student">
            <label class="uikit-text-input__label" for="pMKeyS" id="question_id46"></label>

            <input class="uikit-text-input input-small" id="pMKeyS" name="pMKeyS" type="number" value="">
          </div>

        </fieldset>

        <% include ../partials/shopping-cart.ejs %>
      </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/index-claims'">Save and exit</button>&nbsp;
          <button class="uikit-btn btnNext" onclick="window.location.href='/studentclaim2'">Save and next</button>
        </div>
      </div>
      <% include ../partials/cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../global/partials/footer.ejs %>
    <% include ../partials/panel-help.ejs %>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>

        // Progress percentage
        // document.getElementById("percentage").style.width = "20%";











      </script>

</body>

</html>