<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Review and submit | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <!-- <div id="progressbar">
              <div id="percentage"></div>
            </div> -->
            <h1>Review and submit</h1>
            <table class="cover-detail">
              <caption>Student Details
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/claim1'">Change</button>
              </caption>

              <thead>
                <tr>
                  <th>Are you married, in a registered or de facto relationship?</th>
                  <td>No</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>What is the Veteran's relationship to you?</th>
                  <td>Parent</td>
                </tr>
                <tr>
                  <th>DVA number</th>
                  <td>122345678</td>
                </tr>
                <tr>
                  <th>PMKeyS</th>
                  <td>122345678</td>
                </tr>
                <tr>
                  <th>First name</th>
                  <td>Stuart</td>
                </tr>
                <tr>
                  <th>Last name</th>
                  <td>Smith</td>
                </tr>
                <tr>
                  <th>Date of Birth</th>
                  <td>29/08/1965</td>
                </tr>
              </tbody>
            </table>

            <table class="cover-detail">
              <caption>Study details
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/claim3'">Change</button>
              </caption>
              <tr>
                <th>What type of education will you undertake this year?</th>
                <td>Secondary</td>
              </tr>
              <tr>
                <th>Where will you be studying?</th>
                <td>Gosford High School</td>
              </tr>
              <tr>
                <th>Expected date of completion</th>
                <td>15/12/2019</td>
              </tr>
            </table>

            <table class="cover-detail">
              <caption>Living arrangements
                <button class="uikit-btn uikit-btn--tertiary floated small floated--always" onclick="window.location.href = '/claim4'">Change</button>
              </caption>
              <thead>
                <tr>
                  <th>Where will you be living this year?</th>
                  <td>At home</td>
                </tr>
              </thead>

            </table>

            <table class="cover-detail">
              <caption>Financial details
                <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/claim5-5'">Change</button>
              </caption>
              <tr>
                <th>Are you currently receiving any payment from Centrelink?</th>
                <td>No</td>
              </tr>
              <tr>
                <th>Tax File Number</th>
                <td>123456789</td>
              </tr>
              <tr>
                <th>Would you like to have your education allowance taxed?</th>
                <td>No</td>
              </tr>

              <tr>
                <th>Account name</th>
                <td>Kate Smith</td>
              </tr>
              <tr>
                <th>BSB</th>
                <td>123-456</td>
              </tr>
              <tr>
                <th>Account number</th>
                <td>1234567809</td>
              </tr>
            </table>


            <div class="pagination">
              <p>By clicking
                <strong>submit claim</strong> you confirm this information is truthful and accurate.</p>
              <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim6'">Submit claim</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>

            <script>

              // Progress percentage
              // document.getElementById("percentage").style.width = "87.5%";

              $("#btnAddNominee").click(function () {
                $(".nominee-details-container").show("fast");
                $("#btnAddNominee").hide();
                $("#btnCancelNominee").show("fast");
                $("#nominee-name").focus();
              });
              $("#btnCancelNominee").click(function () {
                $(".nominee-details-container").hide("fast");
                $("#btnCancelNominee").hide();
                $("#btnAddNominee").show();
              });
              $(".nominee-save").click(function () {
                $(".nominee-details").hide();
                $(".toast-saved").show("fast");
                $(".nominee-intro").hide("fast");
              });
              $(".message-close").click(function () {
                $(".nominee-details-container").hide("fast");
              });

            </script>

</body>

</html>