<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">

  <style>
    .pt-flow--veteran,
    .pt-flow--student,
    .pt-flow--claimant {
      display: none;
    }

    .hide-fields>div {
      display: none;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <!-- <div id="progressbar">
              <div id="percentage"></div>
            </div> -->
            <h1 id="question_pageheaderStudy">

            </h1>
            <div class="row">

              <fieldset class="hide-fields grids col-sm-7">

                <!-- 10 -->
                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant" id="studyLevel">
                  <legend class="legend-label" id="question_id10"></legend>
                  <select id="studentLevelOfStudy" class="uikit-text-input input-half">
                    <option value="">-- Select a level --</option>
                    <option value="primary">Primary / secondary</option>
                    <option value="tertiary">Tertiary</option>
                    <option value="apprenticeship">Apprenticeship / traineeship</option>
                  </select>

                </div>

                <!-- 10 a) -->
                <div class="form-group  pt-flow--veteran pt-flow--student pt-flow--claimant uikit-page-alerts pt-noLongerEligible">
                  <p id="question_id10a"></p>
                </div>

                <!-- 21 c-->
                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                  <legend class="legend-label">
                    <span id="question_id21c"></span>
                    <span class="studentName"></span> enrolled?
                  </legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="yes" type="radio" name="enrolStatus" value="yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="no" type="radio" name="enrolStatus" value="no">
                      <span>No</span>
                    </label>
                  </div>
                </div>
                <!-- 21 c i -->
                <div class="form-group  pt-flow--veteran pt-flow--student pt-flow--claimant uikit-page-alerts uikit-page-alerts--warning pt-noLongerEligibleTwo">
                  <p id="question_id21ci xxx">Notify DVA when
                    <span class="studentName"></span> has enrolled. You can continue your claim, but the claim will not be complete without proof of
                    enrolment.
                  </p>
                </div>



                <!-- 12 -->
                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPrimary pt-showIfSecondary" id="schoolName">
                  <label class="uikit-text-input__label" for="schoolNameInput" id="question_id12"></label>
                  <input class="uikit-text-input input-half" id="schoolNameInput" name="schoolNameInput" type="text" value="" required aria-required="true">
                </div>



                <!-- 11 -->
                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPrimary pt-showIfSecondary" id="studentGradeThisYear">
                  <label class="uikit-text-input__label" for="studentGradeThisYearSelect" id="question_id11"></label>

                  <select class="uikit-text-input input-half" id="studentGradeThisYearSelect">
                    <option>-- Select an item --</option>
                    <option value="0">Kindergarten</option>
                    <option value="1"> 1</option>
                    <option value="2"> 2</option>
                    <option value="3"> 3</option>
                    <option value="4"> 4</option>
                    <option value="5"> 5</option>
                    <option value="6"> 6</option>
                    <option value="7"> 7</option>
                    <option value="8"> 8</option>
                    <option value="9"> 9</option>
                    <option value="10"> 10</option>
                    <option value="11"> 11</option>
                    <option value="12"> 12</option>
                  </select>
                </div>

                <!-- 14 -->


                <!-- 15 -->


                <!-- 16 -->
                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                  <label class="uikit-text-input__label" for="studyingWhere">
                    <span id="question_id16"></span>
                    <span class="studentName"></span> studying?</label>
                  <select class="uikit-text-input input-half" id="studyingWhere" name="studyingWhere">
                    <option>-- Select location --</option>
                    <option> Australian Capital Territory </option>
                    <option> New South Wales </option>
                    <option> Northern Territory </option>
                    <option> Queensland </option>
                    <option> South Australia </option>
                    <option> Tasmania </option>
                    <option> Victoria </option>
                    <option> Western Australia </option>
                    <option value="overseas">Overseas</option>
                  </select>
                </div>


                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                  <label class="uikit-text-input__label" for="institutionName" id="">Institution name</label>
                  <input class="uikit-text-input input-half" name="institutionName" id="institutionName" type="text" value="" required aria-required="true">
                </div>


                <!-- 17 -->
                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                  <label class="uikit-text-input__label" for="studyingCourse" id="question_id17"></label>
                  <input class="uikit-text-input input-half" name="studyingCourse" id="studyingCourse" type="text" value="" required aria-required="true">
                </div>


                <!-- Can't find your institution listed?
> display textfield Institution name but without pulling from Process Direct.
> display textfield Course name/ Degree name (optional) -->
                <!-- 18 -->
                <!-- <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                  <label class="uikit-text-input__label" for="courseCode" id="question_id18"></label>
                  <input class="uikit-text-input input-half" name="courseCode" id="courseCode" type="text" value="" required aria-required="true">
                </div> -->


                <!-- 19 -->


                <div class="form-group pt-flow--veteran pt-flow--claimant pt-showIfEnrolled pt-student-dob ">
                  <label class="uikit-text-input__label" for="date" id=" xxx">
                    <span id="question_id19"></span>

                    <span class="studentName"></span> started studying, or will start studying
                    <span class='hint'>(DD / MM / YYYY)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" placeholder="dd" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" placeholder="mm" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" placeholder="yyyy" aria-label="4 digit year">
                </div>

                <!-- 21 -->
                <div class="form-group pt-flow--veteran  pt-flow--claimant pt-showIfEnrolled">
                  <legend class="legend-label" id="">
                    <span id="question_id21"></span>
                    <span class="studentName"></span> studying full time? </legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="yes" type="radio" name="studyLoad" value="full-time">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="no" type="radio" name="studyLoad" value="part-time">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <!-- 21a -->
                <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfPartTime">
                  <label class="uikit-text-input__label" for="partTimeExplination">
                    <span id="question_id21a"></span>
                    <span class="studentNameApostrophed"> </span> situation.
                    <span id="question_id21ai"></span>
                    <span class="studentName"> </span> studying part time?
                    <span class="hint">(optional)
                      <span class="display-block">For example, health reasons, isolated location, family situation. </span>
                    </span>
                  </label>
                  <textarea id="partTimeExplination" name="partTimeExplination" rows="4"></textarea>
                </div>


              </fieldset>

              <% include ../partials/uploads-shopping-cart.ejs %>
            </div>

            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Save and exit</button>&nbsp;

                <button class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim4'">Save and next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <script src="/docs/js/students.js"></script>
          <% include ../partials/panel-help.ejs %>


            <script>

              // Progress percentage
              // document.getElementById("percentage").style.width = "40%";

            </script>




</body>

</html>