<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <div id="progressbar">
              <div id="percentage"></div>
            </div>
            <h1>Student Claims (Step 1: Student details)</h1>
            <div id="optional-fields-message">All fields are required unless marked (optional).</div>


            <fieldset class="hide-fields">

              <div class="form-group pt-flow--veteran pt-flow--claimant">
                <label class="uikit-text-input__label" for="title">Title</label>
                <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                  <option selected>-- Select title --</option>
                  <option>Miss</option>
                  <option>Mr</option>
                  <option>Mrs</option>
                  <option>Ms</option>
                </select>
              </div>

              <div class="form-group pt-flow--veteran pt-flow--claimant">
                <label class="uikit-text-input__label" for="Input field">Student First Name</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group pt-flow--veteran pt-flow--claimant">
                <label class="uikit-text-input__label" for="Input field">Student Last Name</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group pt-flow--veteran pt-flow--claimant pt-flow--student pt-student-dob">
                <label class="uikit-text-input__label" for="date">Student's Date of birth
                  <span class="hint">(DD / MM / YYYY)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true"
                  aria-label="4 digit year">
              </div>

              <div class="form-group pt-flow--veteran pt-flow--claimant">
                <label class="uikit-text-input__label" for="relationshipToStudent">Your relationship to the student</label>
                <select class="uikit-text-input input-half" name="relationshipToStudent" id="relationshipToStudent" type="text" value="">
                  <option selected>-- Select relationship --</option>
                  <option>Parent</option>
                  <option>Step-parent</option>
                  <option>Foster Parent</option>
                  <option>Adopted Parent</option>
                  <option>Grandparent</option>
                  <option>Guardian</option>
                  <option value="other">Other</option>
                </select>
              </div>

              <div class="form-group" id="relationshipToStudentOther">
                <label class="uikit-text-input__label" for="relationshipToStudentOtherText">Please provide a brief statement explaining how the student came into your care. If relevant, please provide
                  a copy of any standing orders from the Family Court etc. </label>
                <textarea id="relationshipToStudentOtherText" name="relationshipToStudentOtherText" rows="4"></textarea>
              </div>

              <div class="form-group pt-flow--veteran pt-flow--claimant pt-student-age--mature">
                <label class="uikit-text-input__label" for="toggle-buttons">Will the student be engaged in full time employment whilst studying?</label>
                <div class="radio-toggle">
                  <label class="on label-left" for="employmenttype-yes">
                    <input id="employmenttype-yes" type="radio" name="toggle-buttons">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="employmenttype-no">
                    <input id="employmenttype-no" type="radio" name="toggle-buttons">
                    <span>No</span>
                  </label>
                </div>
              </div>



              <div class="form-group pt-flow--student pt-student-age--mature">
                <legend class="legend-label">Are you in a partnered relationship?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="relationshiptype-student-yes">
                    <input id="relationshiptype-student-yes" type="radio" name="trelationshiptype-student-yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="relationshiptype-student-no">
                    <input id="relationshiptype-student-no" type="radio" name="trelationshiptype-student-no">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <div class="form-group pt-flow--student">
                <legend class="legend-label">Will you be living at the same address with your partner whilst studying?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="livingsameaddress-student-yes">
                    <input id="livingsameaddress-student-yes" type="radio" name="livingsameaddress-student" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="livingsameaddress-student-no">
                    <input id="livingsameaddress-student-no" type="radio" name="livingsameaddress-student" value="no">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <div class="form-group pt-nolongereligible">
                <p>You are no longer eligible</p>
              </div>

              <div class="form-group pt-flow--claimant">
                <label class="uikit-text-input__label" for="veteranRelationshipToStudient">What is the Veteran/Member's relationship to the student
                  <br />
                  <select class="uikit-text-input input-half" id="veteranRelationshipToStudient" name="veteranRelationshipToStudient">
                    <option>-- Select relationship --</option>

                    <option>Parent </option>
                    <option>Step-parent</option>
                    <option>Foster Parent</option>
                    <option>Adopted Parent</option>
                    <option>Grandparent Guardian</option>
                    <option value="other">Other</option>
                  </select>
              </div>

              <div class="form-group" id="sharecare" style="display:none;">
                <label class="uikit-text-input__label" for="toggle-buttons">Do you share care of the student with another person?</label>
                <div class="radio-toggle">
                  <label class="on label-left" for="yes">
                    <input id="yes" type="radio" name="toggle-buttons">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="no">
                    <input id="no" type="radio" name="toggle-buttons">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <div class="form-group" id="othercareraddress" style="display:none;">
                <label class="uikit-text-input__label" for="Input field">What is their address?</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group" id="othercarernumber" style="display:none;">
                <label class="uikit-text-input__label" for="Input field">What is their phone number?</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group" id="othercareremail" style="display:none;">
                <label class="uikit-text-input__label" for="Input field">What is their email address?</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group" id="sharecarepercentage" style="display:none;">
                <label class="uikit-text-input__label" for="Input field">What percentage of time is the student in your care?</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group" id="careexplanation" style="display:none;">
                <label class="uikit-text-input__label" for="textArea">Please provide a brief statement explaining how the student came into your care. If relevant, please provide
                  a copy of any standing orders from the Family Court etc. </label>
                <textarea id="textArea" name="statementText" rows="4"></textarea>
              </div>

              <div class="form-group" id="vetrelationshiptoyou" style="display:none;">
                <label class="uikit-text-input__label" for="drop-down">What is the Veteran's relationship to you?
                  <br />
                  <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option>-- Select an item --</option>
                    <option>Parent</option>
                    <option>Guardian</option>
                    <option>Grandparent</option>
                  </select>
              </div>

              <div class="form-group" id="vetfilenumber" style="display:none;">
                <label class="uikit-text-input__label" for="Input field">What is their DVA File Number?
                  <span class="optional-field">(if known)</span>
                </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group" id="vetpmkeys" style="display:none;">
                <label class="uikit-text-input__label" for="Input field">What is their PMKeyS Number?
                  <span class="optional-field">(if known)</span>
                </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group" id="vetfirstname" style="display:none;">
                <label class="uikit-text-input__label" for="Input field">Veteran's First name </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group" id="vetlastname" style="display:none;">
                <label class="uikit-text-input__label" for="Input field">Veteran's Last name </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>

              <div class="form-group" id="vetdob" style="display:none;">
                <label class="uikit-text-input__label" for="date">Veteran's Date of birth
                  <span class="hint">(DD / MM / YYYY)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true"
                  aria-label="4 digit year">
              </div>


            </fieldset>




            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/student-assistance-landing'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim2'">Save and next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>

              // Progress percentage
              document.getElementById("percentage").style.width = "20%";

              // Flows 
              if ("veteranFlow" in sessionStorage) {
                $(".pt-flow--veteran").show();
              }

              if ("studentFlow" in sessionStorage) {
                $(".pt-flow--student").show();
              }

              if ("claimantFlow" in sessionStorage) {
                $(".pt-flow--claimant").show();
              }

              // Calculate studient age
              $(".pt-student-dob > :input").focusout(function () {
                var dobDay = $("#dd-date").val();
                var dobMonth = $("#mm-date").val();
                var dobYear = $("#yyyy-date").val();

                if (dobDay && dobMonth && dobYear) {
                  var dob = dobYear + '-' + dobMonth + '-' + dobDay;
                  dob = new Date(dob);
                  var today = new Date();
                  var age = Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000));
                  console.log(age + ' years old');
                  sessionStorage.removeItem('studentAge');
                  sessionStorage.setItem('studentAge', age);

                  // TODO: make this a seporate funciton asdfasdfasdf
                  if (sessionStorage.getItem('studentAge') > 15) {
                    $(".pt-student-age--mature").show();
                  } else {
                    $(".pt-student-age--mature").hide();
                  }

                }
              });



              $(".pt-student-age--mature").hide();
              $(".pt-nolongereligible").hide();



              $('input[name=livingsameaddress-student]').change(function () {
                console.log('got there');
                if ($('input[name=livingsameaddress-student]:checked').val() === 'yes') {
                  $(".pt-nolongereligible").show();
                  $(".pagination *").hide();
                } else {
                  $(".pt-nolongereligible").hide();
                  $(".pagination").show();
                }
              });


              $("#relationshipToStudent").change(function () {
                var selected_option = $('#relationshipToStudent').val();
                if (selected_option === 'other') {
                  $('#relationshipToStudentOther').show();
                } else {
                  $('#relationshipToStudentOther').hide();
                }
              });

              $("#veteranRelationshipToStudient").change(function () {
                var selected_option = $('#veteranRelationshipToStudient').val();
                if (selected_option === 'other') {
                  $('#veteranRelationshipToStudientOther').show();
                } else {
                  $('#veteranRelationshipToStudientOther').hide();
                }
              });






            </script>

</body>

</html>