<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <div id="progressbar">
              <div id="percentage"></div>
            </div>
            <h1>Document uploads</h1>
            <div id="optional-fields-message">
              <p>Please upload the documents below.
                <br> Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>
            </div>

            <form action="">
              <fieldset class="hide-fields">
                <!-- 1 -->
                <!-- all question text is handled in js below due to text changing depending on flow -->



                <table class="table-responsive table-responsive--no-border">
                  <!-- <thead>
                    <tr>
                      <th>Status</th>
                      <th>Document type</th>
                      <th>Document name</th>

                    </tr>
                  </thead> -->
                  <!-- // list of docs
                  // Proof of relationship = proofOfRelationship
                  // Proof of residence = proofOfResidence
                  // Proof of enrolment = proofOfEnrolment
                  // Part-time study reason = partTimeStudyReason
                  // Tax file number declaration = tFNDeclaraion -->

                  <tr class="display-none pt-proofOfRelationship">
                    <td class="file-status file-status--required">
                      <span>
                        <b>Required</b>
                      </span>
                    </td>
                    <td>
                      <span>
                        <b> Proof of relationship</b>
                      </span>
                      <span class="display-block">For example, birth certificate, adoption order</span>
                    </td>

                    <td class="right">
                      <div class="file-upload">
                        <input type="file" id="file-1" class="file-upload__input" />
                        <label class="file-upload__label" for="file-1">
                          <span class="file-upload__file-name"></span>
                          <span class="uikit-btn small">
                            Upload</span>
                        </label>
                      </div>
                    </td>
                  </tr>

                  <tr class="display-none pt-proofOfResidence">
                    <td class="file-status file-status--required">
                      <span>Required</span>
                    </td>
                    <td>
                      <span>
                        <b>Proof of residence </b>
                      </span>
                      <span class="display-block">For example, rental agreement, utility bill, institution letter</span>
                    </td>


                    <td class="right">
                      <div class="file-upload">
                        <input type="file" id="file-2" class="file-upload__input" />
                        <label class="file-upload__label" for="file-2">
                          <span class="file-upload__file-name"></span>
                          <span class="uikit-btn small">
                            Upload</span>
                        </label>
                      </div>
                    </td>
                  </tr>



                  <tr class="display-none pt-proofOfEnrolment">
                    <td class="file-status file-status--required">

                      <span> Required</span>
                    </td>
                    <td>
                      <span>
                        <b> Proof of enrolment</b>
                      </span>
                      <span class="display-block">For example, school report, Institution letter</span>
                    </td>

                    <td class="right">
                      <div class="file-upload">
                        <input type="file" id="file-3" class="file-upload__input" />
                        <label class="file-upload__label" for="file-3">
                          <span class="file-upload__file-name"></span>
                          <span class="uikit-btn small">
                            Upload</span>
                        </label>
                      </div>
                    </td>
                  </tr>

                  <tr class="display-none pt-partTimeStudyReason">
                    <td class="file-status file-status--required">

                      <span> Required</span>
                    </td>
                    <td>
                      <span>
                        <b>Part-time study reason</b>
                      </span>
                      <span class="display-block">For example, school report, Institution letter</span>

                    </td>

                    <td class="right">
                      <div class="file-upload">
                        <input type="file" id="file-4" class="file-upload__input" />
                        <label class="file-upload__label" for="file-4">
                          <span class="file-upload__file-name"></span>
                          <span class="uikit-btn small">
                            Upload</span>
                        </label>
                      </div>
                    </td>
                  </tr>

                  <tr class="display-none pt-tFNDeclaraion">
                    <td class="file-status file-status--required">

                      <span> Required</span>
                    </td>
                    <td>

                      <span>
                        <b>Tax file number declaration</b>
                      </span>
                      <span class="display-block">For example, medical certificate, court order</span>
                    </td>

                    <td class="right">
                      <div class="file-upload">
                        <input type="file" id="file-5" class="file-upload__input" />
                        <label class="file-upload__label" for="file-5">
                          <span class="file-upload__file-name"></span>
                          <span class="uikit-btn small">
                            Upload</span>
                        </label>
                      </div>
                    </td>
                  </tr>




                </table>




              </fieldset>
            </form>



            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/student-assistance-landing'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/index-claims'">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext" onclick="window.location.href='/studentclaim5'">Save and review</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>

              // Progress percentage
              document.getElementById("percentage").style.width = "88%";











            </script>

</body>

</html>