<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Education Assistance</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-authenticated.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <h1>Student Education Assistance</h1>

            <p>DVA provides financial assistance, student support services and guidance and counselling services for 5 to 25
              year old eligible students. This assistance is available through the Veterans' Children Education Scheme (VCES)
              and the Military Rehabilitation and Compensation Act Education and Training Scheme (MRCAETS) (the Education
              Schemes).
            </p>


            <div class="tip--wrapper">
              <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">
              <h2>What you may need</h2>
              <ul>
                <li>Bank details and TFN</li>
                <li>Student's tertiary education course details</li>
                <li>Student's rental details and documents if living away from home</li>
              </ul>
            </div>

            <p> Estimated completion time: 15 minutes</p>

            <div class="tip--wrapper">
              <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">
              <h2>Important</h2>
              <ul>
                <li>You have
                  <strong>14 days </strong>to submit your claim.</li>
                <li>Submit your claim by
                  <strong>2 February, 2018</strong> to be paid from the earliest possible date if you are eligible.</li>
              </ul>
            </div>

            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/claim3'">Back to home</button>
              <div class="floated">
                <button id="veteran" class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim1'">Start claim (veteran)</button>
                <button id="student" class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim1'">Start claim (student)</button>
                <button id="claimant" class="uikit-btn btnNext" onclick="window.location.href = '/studentclaim1'">Start claim (claimant)</button>
              </div>
            </div>




            <hr />
            <div class="support-box breadkout">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <img src="../../docs/images/logo-vvcs.png">
                  <br>
                  <a href="http://www.vvcs.gov.au/">
                    <span class="external-link external-link-blue">Veterans and Veterans Families Counselling Service</span>
                  </a>
                  <br>
                  <a href="tel:1800011046">
                    <strong>1800&nbsp;011&nbsp;046</strong>
                  </a>
                  <br>
                  <a href="https://www.facebook.com/VVCSsupport/" target="_blank">
                    <img src="/docs/images/ico-facebook-black.svg" style="height:15px;padding-right:0.5em;padding-top:4px" align="left">Find us on Facebook</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <img src="../../docs/images/logo-defence.png">
                  <br>
                  <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">
                    <span class="external-link external-link-blue">ADF Mental Health All Hours Support Line</span>
                  </a>
                  <br>
                  <a href="tel:1800628036">
                    <strong>1800&nbsp;628&nbsp;036</strong>
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <img src="../../docs/images/logo-lifeline.png">
                  <br>
                  <a href="https://www.lifeline.org.au/">
                    <span class="external-link external-link-blue">Lifeline</span>
                  </a>
                  <br>
                  <a href="tel:131114">
                    <strong>13&nbsp;11&nbsp;14</strong>
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <img src="../../docs/images/logo-1800respect.png">
                  <br>
                  <a href="https://www.1800respect.org.au">
                    <span class="external-link external-link-blue">National Sexual Assault, Domestic and Family Violence Counselling Service</span>
                  </a>
                  <br>
                  <a href="tel:1800737732">
                    <strong>1800&nbsp;737&nbsp;732</strong>
                  </a>
                </div>
              </div>
            </div>

            <!--
    <div class="breakout-light" id="submitted-nlhc-claim">      
      <strong>HMAS Harman, 129 Bonshaw Road, Jerrabomberra ACT 2619</strong><button onclick="window.location.href = '/profile'" class="uikit-btn uikit-btn--tertiary" style="float:right; margin-top:-12px;">Update address</button>
    </div>
    -->

            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile'">Update profile</button>&nbsp;
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>
            </div>
          </div>
          <% include ../partials/cancel-modal.ejs %>


            </div>



        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>

              $("#veteran").click(function () {
                sessionStorage.clear();
                sessionStorage.setItem('veteranFlow', true);
              });
              $("#student").click(function () {
                sessionStorage.clear();
                sessionStorage.setItem('studentFlow', true);
              });
              $("#claimant").click(function () {
                sessionStorage.clear();
                sessionStorage.setItem('claimantFlow', true);
              });

            </script>

</body>

</html>