<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Student Claim</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-claims.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>
          <div class="container" id="main-content">
            <div id="progressbar">
              <div id="percentage"></div>
            </div>
            <h1>Student Claims (Step 3: Living arrangements)</h1>
            <div id="optional-fields-message">All fields are required unless marked (optional).</div>


            <fieldset>

              <!-- 22 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant" id="homeAddress">
                <label class="uikit-text-input__label" for="homeAddressInput" id="question_id22"></label>
                <input class="uikit-text-input input-half" id="homeAddressInput" name="homeAddressInput" type="text" value="56 Smith St, Acton ACT 2603">
              </div>

              <!-- 23 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfNotPrimaryStudent">
                <legend class="legend-label" for="" id="question_id23"></legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input type="radio" name="studyAwayFromHomeRadio" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input type="radio" name="studyAwayFromHomeRadio" value="no">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <!-- 23 a -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfNotPrimaryStudent pt-showIfLivingAway">
                <label class="uikit-text-input__label" for="studyAwayFromHomeExplanation" id="question_id23a"></label>
                <select class="uikit-text-input input-half" id="studyAwayFromHomeExplanation" name="studyAwayFromHomeExplanation">
                  <option>-- Select --</option>
                  <option>the student does not have education facilities accessible from home</option>
                  <option>the student is enrolled in a special course approved for the payment of allowances under the Commonwealth
                    Assistance to Isolated Children Scheme
                  </option>
                  <option>the student has a disability</option>
                  <option>the student requires specialised remedical tuition</option>
                  <option>the student is a member of an itinerant family</option>
                  <option>the student's academic needs are not met by local secondary facilities</option>
                  <option>the student's home conditions are deterimental to his/her educational progress</option>
                  <option value="homeless">the student is homeless</option>
                </select>
              </div>

              <!-- 23 a i -->
              <div class="breakout form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfHomeless">
                <p id="question_id23ai"></p>
              </div>

              <!-- 24 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfNotPrimaryStudent pt-showIfLivingAway">
                <legend class="legend-label" id="question_id24"></legend>
                <div class="radio-toggle">
                  <label class="on label-left ">
                    <input type="radio" name="requireRentAssistanceRadio" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right ">
                    <input type="radio" name="requireRentAssistanceRadio" value="no">
                    <span>No</span>
                  </label>
                </div>
              </div>



              <!-- 24 a -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRequireRentAssistance">
                <legend class="legend-label" id="question_id24a"></legend>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="knowRentalDetails" value="yes">
                    <span class="uikit-control-input__text">Yes, I know my rental/boarding details </span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="knowRentalDetails" value="no">
                    <span class="uikit-control-input__text">I intend to rent but don't know the details yet </span>
                  </label>
                </p>
              </div>

              <!-- 24 a 1 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRentAssistanceKnown">
                <legend class="legend-label" id="question_id24a1"></legend>
                <input class="uikit-text-input dd" type="text" placeholder="dd" name="beganLivingNewRentalAddress-dd" id="beganLivingNewRentalAddress-dd"
                  maxlength="2" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" placeholder="mm" name="beganLivingNewRentalAddress-mm" id="beganLivingNewRentalAddress-mm"
                  maxlength="2" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" placeholder="yyyy" name="beganLivingNewRentalAddress-yyyy" id="beganLivingNewRentalAddress-yyyy"
                  maxlength="4" aria-label="4 digit year">
              </div>

              <!-- 24 a 2 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRentAssistanceKnown">
                <legend class="legend-label" id="question_id24a2"></legend>
                <input class="uikit-text-input dd" type="text" placeholder="dd" name="endLivingNewRentalAddress-dd" id="endLivingNewRentalAddress-dd"
                  maxlength="2" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" placeholder="mm" name="endLivingNewRentalAddress-mm" id="endLivingNewRentalAddress-mm"
                  maxlength="2" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" placeholder="yyyy" name="endLivingNewRentalAddress-yyyy" id="endLivingNewRentalAddress-yyyy"
                  maxlength="4" aria-label="4 digit year">
              </div>


              <!-- 24 a 3 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRentAssistanceKnown">
                <legend class="legend-label" id="question_id24a3"></legend>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="typeOfAccommodationPayment" id="typeOfAccommodationPayment"
                      value="private">
                    <span class="uikit-control-input__text">Rent to a private landlord or real estate agent </span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="typeOfAccommodationPayment" id="typeOfAccommodationPayment"
                      value="boarding-house">
                    <span class="uikit-control-input__text">Money for a room in a boarding house</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="typeOfAccommodationPayment" id="typeOfAccommodationPayment"
                      value="student-accommodation">
                    <span class="uikit-control-input__text">Money to an education institution i.e. student accommodation</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="typeOfAccommodationPayment" id="typeOfAccommodationPayment"
                      value="other">
                    <span class="uikit-control-input__text">Other (please specify)</span>
                  </label>
                </p>
              </div>

              <!-- 24 a 3 a -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-typeOfAccommodationPaymentOther">
                <label class="uikit-text-input__label" for="typeOfAccommodationPaymentOther" id="question_id24a3a">Please provide details</label>
                <!-- why is this not picking up from the js array? -->
                <input class="uikit-text-input input-half" id="typeOfAccommodationPaymentOther" name="typeOfAccommodationPaymentOther" type="text"
                  value="">
              </div>


              <!-- 24 a 4 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRentAssistanceKnown">
                <label class="uikit-text-input__label" for="rentPayeeName" id="question_id24a4"></label>
                <input class="uikit-text-input input-half" id="rentPayeeName" name="rentPayeeName" type="text" value="">
              </div>

              <!-- 24 a 5 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRentAssistanceKnown">
                <label class="uikit-text-input__label" for="rentPayeeEmail" id="question_id24a5"></label>
                <input class="uikia `t-text-input input-half" id="rentPayeeEmail" name="rentPayeeEmail" type="text" value="">
              </div>

              <!-- 24 a 6 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRentAssistanceKnown">
                <label class="uikit-text-input__label" for="rentPayeePhone" id="question_id24a6"></label>
                <input class="uikit-text-input input-half" id="rentPayeePhone" name="rentPayeePhone" type="text" value="">
              </div>

              <!-- 24 a 7 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRentAssistanceKnown">
                <label class="uikit-text-input__label" for="rentPayed" id="question_id24a7"></label>
                <span class="input-support-text">$</span>
                <input class="uikit-text-input input-small" id="rentPayed" name="rentPayed" type="number" value="">
              </div>

              <!-- 24 a 8 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfNotPrimaryStudent pt-showIfLivingAway pt-showIfNoPartner">
                <legend class="legend-label" for="" id="question_id24a8"></legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="yes" type="radio" name="sharingResidence" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input id="no" type="radio" name="sharingResidence" value="no">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <!-- 24 a 9 -->
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRentAssistanceKnown">
                <legend class="legend-label" for="" id="question_id24a9"></legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="yes" type="radio" name="mealsInAccommodation" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input id="no" type="radio" name="mealsInAccommodation" value="no">
                    <span>No</span>
                  </label>
                </div>
              </div>

              <!-- 24 a 9 a -->

              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRentAssistanceKnown">
                <label class="uikit-text-input__label" for="mealsInAccommodationHowMuch" id="question_id24a9a"></label>
                <span class="input-support-text">$</span>
                <input class="uikit-text-input input-small uikit-text-input--number" id="mealsInAccommodationHowMuch" name="mealsInAccommodationHowMuch"
                  type="number" value="">
                <span class="uiToolKitCheckBox sop-checkbox">
                  <label class="uikit-control-input uikit-control-input--full">
                    <input class="uikit-control-input__input" type="checkbox" id="sop1" name="sop">
                    <span class="uikit-control-input__text">I don't know</span>
                  </label>
                </span>
              </div>



            </fieldset>




            <div class="pagination ">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/studentclaim2' ">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='#open-modal' ">Cancel claim</button>
              <div class="floated ">
                <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/index-claims' ">Save and exit</button>&nbsp;
                <button class="uikit-btn btnNext " onclick="window.location.href='/studentclaim4' ">Save and next</button>
              </div>
            </div>
            <% include ../partials/cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>


            <script>

              // Progress percentage
              document.getElementById("percentage").style.width = "75%";
            </script>

</body>

</html>