<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Cover summary | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-authenticated.ejs %>

      <main>
        <section>
          <div class="section-feature section-feature--bg section-feature--bg-hero">
            <div class="container" id="main-content">
              <!-- <% include ../partials/breadcrumb-cover-detail.ejs %> -->
              <h1>
                <span class="heading">Claim summary</span>
              </h1>
              <div>

                <span class="file-status--required">
                  Kim's Education Assistance has outstanding actions</span>
              </div>

              <h1>Document uploads</h1>
              <div>
                <p>Please upload the documents below.
                  <br> Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.
                </p>
              </div>


              <fieldset class="hide-fields">


                <% include ../partials/uploads-full-width.ejs %>

              </fieldset>
              <hr/>
              <!-- table class="claim-summary-table table-responsive">
                        <tr>
                          <td>
                            <div class="status-icon status-icon--large status-incomplete page-header">
                              <label>Proof of Milton's enrolment</label>
                              <br/>For example, birth certificate or adoption order</div>
                          </td>
                          <td>
                            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'updateClaimInProgress'">Upload</button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="status-icon status-icon--large status-incomplete page-header"></span>Proof of residence</td>
                          <td>electricity-water-bill.jpg</td>
                        </tr>
                        <tr>
                          <td>
                            <span class="status-icon status-icon--large status-incomplete page-header"></span>
                          </td>
                          <td>Part-time study reason</td>
                          <td>letter-from-my-mum.pdf</td>
                        </tr>
                      </table -->

            </div>

            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Back to home</button>
              <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
            </div>
          </div>

          </div>
          </div>
          </div>

        </section>
      </main>

      <% include ../../../global/partials/footer.ejs %>
        <script src="/docs/js/students.js"></script>
        <script>
          $(document).ready(function () {
            $(".pt-proofOfEnrolment").removeClass("display-none");
            $(".pt-proofOfRelationshipClaimantStudent").removeClass("display-none");
            $("a.accordion__trigger").click(function () {
              $(this).closest(".accordion").toggleClass("accordion--closed accordion--open");
              $(this).closest(".accordion__trigger").toggleClass("accordion--closed accordion--open");
            });
          });
        </script>
</body>

</html>