<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Cover summary | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-authenticated.ejs %>

  <main>
    <section>
      <div class="container" id="main-content">
        <% include ../partials/breadcrumb-cover-detail.ejs %>
        <h1>Request summary</h1>
        
        <div class="summary-box">
        	<div class="summary--header wave">
        		<h2><img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon"> Your request has been approved.</h2>
        	</div>
			<div class="summary--content">
				<h3>Submitted on 23 October 2017</h3>
				<h2>Mental health treatment</h2>
				<p>Approved under our <a href="https://myservice-prototype.herokuapp.com/auth#" rel="external" target="_blank">non-liability health care</a> arrangements.</p>
				<hr>
				<h2>Veterans supplement</h2>
				<p>You may be entitled to the <a href="https://www.dva.gov.au/factsheet-is18-veterans-supplement" rel="external" target="_blank">veterans suppliment</a>. If eligible, we will deposit this fortnightly payment into your nominated bank account.</p>
				<h4><b>Bank details</b></h4>
				<p>Robert Johnson's AU<br>Commonwealth Bank account<br>Account number: xxxx xxxx<br>BSB: xxx - xxx</p>
			</div>	
        </div>
        



        <div class="pagination">
          <button class="uikit-btn" onclick="window.location.href = '/index-claims'">Back to home</button>&nbsp;
          <button class="uikit-btn uikit-btn--tertiary">Print</button>&nbsp;
        </div>
      </div>
    </section>
  </main>

  <% include ../../../global/partials/footer.ejs %>

</body>
</html>
