<%
locals.el = {};
locals.el.items = ["Home","Claims","Payments","Cards","Transport","My Profile","My Account"];
locals.el.icons = ["fa-home","fa-file-edit","fa-calendar-check","fa-money-check","fa-car-side","fa-user-circle","fa-exchange"];
%>

<header class="uikit-header">
  <div class="container">
    <a class="nounderline" href="/auth">
      <img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" />
    </a>
    <button class="toggle" aria-expanded="false">Menu</button>
    <ul class="menu2">
      <% locals.el.items.forEach(function(element, index) {
          itemID = element.replace(/ +/g, '_').replace(/\?/g, '').toLowerCase(); %>
      <li><a>
          <div class="fal <%= locals.el.icons[index] %> fa-2x"></div>
          <div><%= element %></div>
        </a></li>
      <%});%>
    </ul>
  </div>
</header>
