<header class="uikit-header main-nav">
  <div class="container">
    <a href="/auth" class="dock-item" data-long-press-delay="5000">Press and hold me for 5s</a>

    <a class="nounderline" href="/auth">
      <img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" />
    </a>
    <button class="toggle" aria-expanded="false">Menu</button>
    <ul class="menu">
      <li>
        <a class="nav-icon <% if (!!locals.main_nav_active && locals.main_nav_active === 'home' ) { %>nav-active<% } %>" href="/auth"><span
            class="fal fa-home fa-nav-icon"></span><BR />Home</a>
      </li>
      <li>
        <a class="nav-icon <% if (!!locals.main_nav_active && locals.main_nav_active === 'claims' ) { %>nav-active<% } %>" href="/auth/claim"><span
            class="fal fa-file-edit fa-nav-icon"></span><BR />Claims</a>
      </li>
      <li>
        <a class="nav-icon <% if (!!locals.main_nav_active && locals.main_nav_active ==='payments' ) { %>nav-active<% } %>" href="/auth/payments"><span
            class="fal fa-calendar-check fa-nav-icon"></span><BR />Payments</a>
      </li>
      <li>
        <a class="nav-icon  <% if (!!locals.main_nav_active && locals.main_nav_active === 'healthcard-home' ) { %>nav-active <% } %>" href="/auth/healthcard""><span class=" fal
          fa-money-check fa-nav-icon"></span><BR />Cards</a>
      </li>
      <li>
        <a class="nav-icon <% if (!!locals.main_nav_active && locals.main_nav_active === 'travel-home' ) { %>nav-active <% } %>" href="/auth/travel"><span
            class="fal fa-car-side fa-nav-icon"></span><BR />Transport</a>
      </li>
      <li>
        <a class="nav-icon <% if (!!locals.main_nav_active && locals.main_nav_active === 'profile' ) { %>nav-active <% } %>" href="/auth/profile"><span
            class="fal fa-user-circle fa-nav-icon"></span><BR />My
          profile</a>
      </li>
      <li>
        <a class="nav-icon <% if (!!locals.main_nav_active && locals.main_nav_active === 'myaccount' ) { %>nav-active <% } %>" href="#open-myaccount-modal"><span
            class="fal fa-exchange fa-nav-icon"></span><BR />MyAccount</a>
      </li>
    </ul>
  </div>
</header>
