<div class="postalAddressAustralia ">
  <div class="form-group">
    <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
    <select class="uikit-text-input input-half postalCountry" name="postalAddressCountry">
      <option value="Australia" selected>Australia</option>
      <option value="NZ">New Zealand</option>
    </select>
  </div>
  <div class="form-group">
    <div class="field">
      <label class="uikit-text-input__label" for="postalAddressPrefix">
        Building name or address prefix
        <span class="hint">(optional)
        </span>
      </label>
      <input type="text" id="postalAddressPrefix" name="postalAddressPrefix" class="uikit-text-input" aria-required="false" maxlength="38" value="">
    </div>
  </div>
  <div class="form-group">
    <label class="uikit-text-input__label" for="postalAddressLine1">Address line 1</label>
    <input class="uikit-text-input" id="postalAddressLine1" name="postalAddressLine1" type="text" value="">
  </div>
  <div class="form-group">
    <label class="uikit-text-input__label" for="postalAddressLine2">Address line 2
      <span class="hint">(optional)</span>
    </label>
    <input class="uikit-text-input" id="postalAddressLine2" name="postalAddressLine2" type="text" value="">
  </div>

  <div class="form-group">
    <label class="uikit-text-input__label" for="postalAddressTown">Suburb or town</label>
    <input class="uikit-text-input" id="postalAddressTown" name="postalAddressTown" type="text" value="">
  </div>
  <div class="form-group">
    <label class="uikit-text-input__label" for="postalAddressPostcode">Postcode
    </label>
    <input class="uikit-text-input input-small yyyy" id="postalAddressPostcode" maxlength="4" name="postalAddressPostcode" type="text">
  </div>


  <div class="form-group postalAddressInAus">
    <label class="uikit-text-input__label" for="postalAddressState">State or territory</label>
    <select class="uikit-text-input input-half" id="postalAddressState" name="postalAddressState">
      <option> -- Select state or territory -- </option>
      <option> Australian Capital Territory </option>
      <option> New South Wales </option>
      <option> Northern Territory </option>
      <option> Queensland </option>
      <option> South Australia </option>
      <option> Tasmania </option>
      <option> Victoria </option>
      <option> Western Australia </option>
    </select>
  </div>
</div>




<script>
  $(".postalCountry").change(function () {
    if ($('.postalCountry :selected').val() == "Australia") {
      $(".postalAddressInAus").show();
    } else {
      $(".postalAddressInAus").hide();
    }
  });

  // $(".countryResidential").change(function () {
  //   if ($('.countryResidential :selected').val() == "Australia") {
  //     $(".addressInAusRes").show();
  //   } else {
  //     $(".addressInAusRes").hide();

  //   }
  // });


</script>
