<div id="open-withdrawclaimmodal" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">Close</a>
    <h2>This will withdraw the claim permanently.</h2>
    <p>Are you sure you want to stop your claim from progressing?</p>
    <div class="modal-buttons">
      <button class="uikit-btn" onclick="window.location.href = '/auth'">Withdraw claim</button>
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
    </div>
  </div>
</div>