<nav class="uikit-breadcrumbs" aria-label="breadcrumb">
  <ul class="uikit-link-list uikit-link-list--inline">
    <li><a href="/">Home</a></li>
    <li>DHOAS Privacy notification and consent</li>
  </ul>
</nav>