<div id="open-cancelrego-modal" class="modal-window">
	<div>
		<a href="#modal-close" title="Close" class="modal-close">Close</a>
		<h2>This will cancel your registration.</h2>
		<p>Are you sure you want to cancel?</p>
		<div class="modal-buttons">
			<button class="uikit-btn" onclick="window.location.href = '/'">Cancel registration</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Continue registration</button>
			
		</div>
	</div>
</div>
