<div class="grids col-sm-5 side-pannel pt-showIfDocumentUploadShoppingCart">
  <h2 class="heading-highlight">Document uploads</h2>
  <div class="margin-below">
    Please upload the documents below. Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.
  </div>
  <table class="table-responsive table-responsive--no-border table-responsive--always-stacked">
    <% include claims-uploads-tr-data.ejs %>
  </table>
</div>