<div id="open-mygov-modal" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">Close</a>
    <h2>This will take you to myGov</h2>
    <p>Are you sure you want to leave MyService and lose your unsaved&nbsp;changes?</p>
    <div class="modal-buttons">
      <button class="uikit-btn" onclick="window.location.href = 'https://my.gov.au/'">Go to myGov</button>
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
    </div>
  </div>
</div>