<div class="secondary-content" role="contentinfo">
  <div class="container">
    <div class="support-box" style="padding:0px; margin-top:2em; margin-bottom:1em;">
      <h3 style="padding-bottom:0.4em;margin-bottom:2em;border-bottom:1px solid #ccc;">24hr counselling and support</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="/docs/images/logo-vvcs.png" alt="VCCA logo - ring 1800 011 046">
          <br>
          <strong>1800&nbsp;011&nbsp;046</strong>
          <br>
          <a href="http://www.vvcs.gov.au/">Open Arms – Veterans and Families Counselling</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="/docs/images/logo-defence.png" alt="Defence logo - ring 1800 628 036">
          <br>
          <strong>1800&nbsp;628&nbsp;036</strong>
          <br>
          <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">ADF Mental Health All Hours Support Line</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="/docs/images/logo-lifeline.png" alt="Lifeline logo - ring 13 11 14">
          <br>
          <strong>13&nbsp;11&nbsp;14</strong>
          <br>
          <a href="https://www.lifeline.org.au/">Lifeline</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="/docs/images/logo-1800respect.png" alt="1800 respect logo - ring 1800 R-E-S-P-E-C-T">
          <br>
          <strong>1800&nbsp;737&nbsp;732</strong>
          <br>
          <a href="https://www.1800respect.org.au">National Sexual Assault, Domestic and Family Violence Counselling Service</a>
        </div>
      </div>
    </div>
  </div>
</div>