<div role="dialog" aria-hidden="true" aria-labelledby="removeSupportingFileModalTitle" aria-describedby="removeSupportingFileModalDesc" id="open-removeSupportingFile-modal"
  class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close" id="removeSupportingFileModalCloseBtn">Close</a>
    <h3 id="removeSupportingFileModalTitle">Do you want to remove the file?</h3>
    <div id="removeSupportingFileModalDesc">Supporting documents help us to assess your claim</div>
    <div class="modal-buttons">
      <button id="removeSupportingFileModalYesBtn" class="uikit-btn" onclick="window.location.href = '#close-modal'">Yes</button>
      <button id="removeSupportingFileModalNoBtn" class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">No</button>
    </div>
  </div>
</div>

<%
	var modalName = "open-removeSupportingFile-modal";
	var triggerName = "coverRemoveFileBtn";
	var modalElementPrefix = "removeSupportingFileModal";
%>
<% include modal-common.ejs %>