<% include auth-modal-myaccount.ejs %>
<footer class="uikit-footer uikit-footer--gradient" role="contentinfo">
  <div class="container">
    <% include go-to-top.ejs %>
    <div class="row">
      <section class="uikit-footer__end">
        <div class="row">
          <div class="col-sm-4">
            <img src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo">
          </div>
          <div class="col-sm-8">
            <ul class="uikit-link-list uikit-link-list--inline">
              <li>
                <a href="http://www.dva.gov.au/site-information/disclaimer" rel="external">Disclaimer</a>
              </li>
              <li>
                <a href="http://www.dva.gov.au/site-information/privacy" rel="external">Privacy and security</a>
              </li>
              <li>
                <a href="http://www.dva.gov.au/site-information/copyright" rel="external">Copyright</a>
              </li>
              <li>
                <a href="/unauth/terms-and-conditions">Terms of use</a>
              </li>
              <% if (locals.liveFeature.includes('featureMoveFeedback')) { %>
              <li>
                <a href="/auth/claim/panel-feedback">Feedback</a>
              </li>
              <% }  %>
              <li>
                <a href="http://www.dva.gov.au/" rel="external">
                  <strong>Department of Veterans' Affairs</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>
<% include help-panel.ejs %>
<% include prototype/choose-user.ejs %>

<script src="/docs/js/polyfill.js"></script>
<script src="/docs/js/jquery-3.2.1.min.js"></script>
<%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> %>
<script src="/docs/js/js.cookie.js"></script>
<script src="/docs/js/zingtouch.min.js"></script>
<script src="/docs/js/moment.min.js"></script>
<script src="/docs/js/main.js"></script>
<script src="/docs/js/user.js"></script>

<script>
  // Mobile navigation menu
  var toggle = document.querySelector('.toggle');
  var menu = document.querySelector('.menu');
  var menuItems = document.querySelectorAll('.menu li a');

  if (toggle != null) {
    toggle.addEventListener('click', function () {
      if (menu.classList.contains('is-active')) {
        toggle.classList.remove('menu-closed');
        this.setAttribute('aria-expanded', 'false');
        menu.classList.remove('is-active');
      } else {
        toggle.classList.add('menu-closed');
        menu.classList.add('is-active');
        this.setAttribute('aria-expanded', 'true');
        //menuItems[0].focus();
      }
    });
  }

  // Close any toast messages
  $(".message-close").click(function () {
    $(".container-toast").hide("fast");
  });

  // Needed for the "Back to Top" functionality
  $(window).scroll(function () {
    if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
      $('#return-to-top').addClass('visible'); // Fade in the arrow
    } else {
      $('#return-to-top').removeClass('visible'); // Else fade out the arrow
    }
  });

  $('#return-to-top').click(function () { // When arrow is clicked
    $('body,html').animate({
      scrollTop: 0 // Scroll to top of body
    }, 500);
    // hack to reset focus to top of page
    document.body.setAttribute('tabindex', '0');
    document.body.focus();
    document.body.removeAttribute('tabindex');
  });

</script>
