      <h1>Forgot password</h1>
      <p>Enter your email address, we'll send you a code.</p>
      <div class="form-group input-half">
        <label class="uikit-text-input__label" for="email">Email</label>
        <input class="uikit-text-input" name="email" id="email" type="email" value="">
      </div>
      <div class="pagination">
        <button class="uikit-btn" onclick="window.location.href = '/unauth/user/forgot-password-step2'">Next</button> &nbsp; <a href="/">Cancel</a>
      </div>
