      <h1>Enter code</h1>
      <p>Enter the code we sent to your email address.</p>
      <div class="form-group input-half">
        <label class="uikit-text-input__label" for="code">Enter code</label>
        <input class="uikit-text-input input-half" name="code" id="code" type="text" value="">
      </div>
      <div class="pagination">
        <button class="uikit-btn" onclick="window.location.href = '/unauth/user/forgot-password-step3'">Next</button> &nbsp; <a href="/">Cancel</a>
      </div>
