

<%
// v = locals.main_nav_active;
locals.el = {};
locals.el.items = ["Home","Tasks","Claims","Payments","Cards","Transport","Profile","My Account"];
locals.el.itemID = ["home","tasks","claims","payments","healthcard","travel","profile","myaccount"];
locals.el.itemLink = ["/auth","/auth","/auth/claim","/auth/payments","/auth/healthcard","/auth/travel","/auth/profile","#open-myaccount-modal"];
locals.el.icons = ["fa-home","fa-tasks","fa-list-alt","fa-calendar-check","fa-credit-card-blank","fa-car-alt","fa-user-circle","fa-exchange"];
// locals.iconTweaks = ["","","","","vertical-align:-0%;","line-height: -10px;","",""];
// locals.main_nav_active = v;
%>                

<header class="uikit-header">
  <div class="container">
    <a class="nounderline" href="/auth">
      <img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" />
    </a>
    <button class="toggle" aria-expanded="false">Menu</button>
    <ul class="menu">
      <% locals.el.items.forEach(function(element, index) {
          // itemID = element.replace(/ +/g, '_').replace(/\?/g, '').toLowerCase(); 
          itemID = locals.el.itemID[index];
          // iconTweaks = locals.el.iconTweaks[index];
          itemLink = locals.el.itemLink[index];
          var link = "<a href="+itemLink+"";
          if ( (!!locals.main_nav_active && locals.main_nav_active === itemID) ) link += " class='nav-active'"; 
          link += ">";
          %>
          <li id=<%- itemID %>><%- link %><div class="fal <%= locals.el.icons[index] %> fa-2x"></div><div class="name"><%= element %></div></a></li>
      <%});%>
    </ul>
  </div>
</header>

 <script>
    $(Document).ready(function () {
      $( "#travel" ).mouseenter(function() {
        $( this ).find('.icon').removeClass( "fa-car-alt" );
        $( this ).find('.icon').addClass( "fa-car-bump" );
      });
       $( "#travel" ).mouseleave(function() {
        $( this ).find('.icon').addClass( "fa-car-alt" );
        $( this ).find('.icon').removeClass( "fa-car-bump" );
      });
});

</script>

<style>

#myaccount a {
  border-left: 2px solid rgba(255,255,255,.2) !important;
  padding-left: 8px;
}

</style>





