<div class="outage-container pt-banner-service">
  <!-- <div class="container"> -->
  <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">

    <p><strong>Planned outage</strong>

      <br>
      On 01 October 2017 we're performing system upgrades to MyService. This will occur between 10:00 AM AEST 01 October 2017 and 11:00 AM AEST 01 October.</p>

    <!-- </div> -->
  </div>
</div>

<div class="accordion-toppanel--wrapper">
  <div class="container">
    <section class="uikit-accordion accordion-closed">

      <div class="topbar-controls">
        <div class="topbar-controls__left">
          <a class="switch-account-button" href="javascript:void(0);" role="tab">
            <i class="fal fa-user-friends"></i>
            <span class="screen-text-above-zero"><span class="sr">Switch</span></span>
            <span class="screen-text-above-xs">Switch</span>
            <span class="screen-text-above-sm">Switch client account</span>
          </a>
          <!-- 
          <a _ngcontent-c6="" class="switch-account-button" href="javascript:void(0);" role="tab" ng-reflect-klass="switch-account-button" ng-reflect-ng-class="[object Object]">
            <fa-icon _ngcontent-c6="" class="fal fa-user-friends ng-fa-icon" ng-reflect-icon-prop="fal,user-friends" ng-reflect-fixed-width="true"><svg aria-hidden="true"
                focusable="false" data-prefix="fal" data-icon="user-friends" class="svg-inline--fa fa-user-friends fa-w-20 fa-fw" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512">
                <path fill="currentColor"
                  d="M480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm0-160c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zM192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm0-192c44.1 0 80 35.9 80 80s-35.9 80-80 80-80-35.9-80-80 35.9-80 80-80zm80.1 212c-33.4 0-41.7 12-80.1 12-38.4 0-46.7-12-80.1-12-36.3 0-71.6 16.2-92.3 46.9C7.2 341.3 0 363.4 0 387.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-44.8c0-23.8-7.2-45.9-19.6-64.3-20.7-30.7-56-46.9-92.3-46.9zM352 432c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-44.8c0-16.6 4.9-32.7 14.1-46.4 13.8-20.5 38.4-32.8 65.7-32.8 27.4 0 37.2 12 80.2 12s52.8-12 80.1-12c27.3 0 51.9 12.3 65.7 32.8 9.2 13.7 14.1 29.8 14.1 46.4V432zm271.7-114.9C606.4 291.5 577 278 546.8 278c-27.8 0-34.8 10-66.8 10s-39-10-66.8-10c-13.2 0-26.1 3-38.1 8.1 15.2 15.4 18.5 23.6 20.2 26.6 5.7-1.6 11.6-2.6 17.9-2.6 21.8 0 30 10 66.8 10s45-10 66.8-10c21 0 39.8 9.3 50.4 25 7.1 10.5 10.9 22.9 10.9 35.7V408c0 4.4-3.6 8-8 8H416c0 17.7.3 22.5-1.6 32H600c22.1 0 40-17.9 40-40v-37.3c0-19.9-6-38.3-16.3-53.6z">
                </path>
              </svg></fa-icon>
            <span _ngcontent-c6="" class="screen-text-above-zero">
              <span class="sr">Switch</span>
            </span>
            <span _ngcontent-c6="" class="screen-text-above-xs">Switch</span>
            <span _ngcontent-c6="" class="screen-text-above-sm">Switch client account</span>
          </a> -->

          <div class="switch-account-box switch-account-box--hide">
            <ul class="switch-account-box__list">
              <li>
                <a href="/auth?switchFlow=active" class="switch-account-box__link">
                  <strong>John Jones</strong>
                  (enquiring on behalf)</a>
              </li>
              <li>
                <a href="/auth?switchFlow=active" class="switch-account-box__link"><strong>Peter Stead </strong>(enquiring on behalf)
                </a>
              </li>
              <li>
                <a href="/auth?switchFlow=active" class="switch-account-box__link"><strong>John Smith</strong> (act on behalf)
                </a>
              </li>
              <li>
                <a href="/auth?switchFlow=active" class="switch-account-box__link"><strong>Elise Khan</strong> (act on behalf)
                </a>
              </li>
              <li>
                <a href="/auth?switchFlow=active" class="switch-account-box__link"><strong>Made Up Name</strong> (acting on behalf)
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="topbar-controls__right">
          <a aria-controls="accordion" aria-expanded="false" aria-selected="false" class="uikit-accordion__title js-uikit-accordion accordion-toppanel-btn"
            href="javascript:void(0);" role="tab">
            <span class="screen-text-above-zero">24hr <br>support</span>
            <span class="screen-text-above-xs">24hr support</span>
            <span class="screen-text-above-sm">24hr counselling and support services</span>
          </a>
          <a class="login-mygov" href="https://my.gov.au//"><span class="sr">myGov</span></a>
          <a class="logout" href="/"><span class="logout__text">Log out</span></a>
        </div>
      </div>



      <div aria-hidden="true" class="uikit-accordion__body" id="accordion">
        <div class="uikit-accordion__body-wrapper accordion-toppanel-body">
          <div class="mys-support-services">
            <div class="mys-support-services__service">
              <h3 class="screen-text-above-zero">24hr counselling and support services</h3>
              <a href="http://www.vvcs.gov.au/" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-vvcs-reversed.png">
                <span class="external-link external-link-white">Open Arms – Veterans and Families Counselling</span>
              </a>
              <br>
              <a href="tel:1800011046"><strong>1800&nbsp;011&nbsp;046</strong></a>
              <br>
              <a href="" target="_blank">
                <img src="/docs/images/ico-facebook-white.svg" style="height:15px;padding-right:0.6em;padding-top:4px" align="left">Find us on Facebook</a>
              <br>
            </div>
            <div class="mys-support-services__service">
              <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-defence-reversed.png">
                <span class="external-link external-link-white">ADF Mental Health All Hours Support Line</span>
              </a>
              <br>
              <a href="tel:1800628036">
                <strong>1800&nbsp;628&nbsp;036</strong>
              </a>
            </div>
            <div class="mys-support-services__service">
              <a href="https://www.lifeline.org.au/" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-lifeline-reversed.png">
                <span class="external-link external-link-white">Lifeline</span>
              </a>
              <br>
              <a href="tel:131114">
                <strong>13&nbsp;11&nbsp;14</strong>
              </a>
            </div>
            <div class="mys-support-services__service">
              <a href="https://www.1800respect.org.au" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-1800respect-reversed.png">
                <span class="external-link external-link-white">National Sexual Assault, Domestic and Family Violence Counselling Service</span>
              </a>
              <br>
              <a href="tel:1800737732">
                <strong>1800&nbsp;737&nbsp;732</strong>
              </a>
            </div>
          </div>
        </div>
      </div>



    </section>

  </div>
</div>

<style>
  /* putting this here so it doesn't make it in to the codebase */
  .pt-banner-service,
  .pt-banner-nr-rep {
    display: none;
  }
</style>