<header class="uikit-header mys-mygov-header">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<img class="mys-mygov-header--logo" src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" />
			</div>
		</div>
	</div>
</header>