<style>
  .pt-managing-user {
    display: none;
  }

</style>

<div class="pt-managing-user banner banner--info">
  <div class="container banner__container">
    <div class="banner__item banner__item--icon">
      <i class="fal fa-user-circle fa-3x"></i>
    </div>
    <div>
      <h3>You are accessing <span class="pt-current-user-name-full"></span>'s account. Act as though you are <span class="pt-current-user-name-first"></span>.
        <span class="hint display-block">You can return to your own MyService account at anytime.</span></h3>
    </div>
    <div class="banner__item banner__item--float-right">
      <%# <button class="uikit-btn small uikit-bt--full-on-small" href="javascript:void(0);" id="cccreturnProfile"> Return to your MyService</button> %>
    </div>
  </div>
</div>
