<header class="uikit-header landing-page">
  <div class="container">
    <img src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" />
    <img class="logo-myservice" src="../../../docs/images/logo-myservice-reversed.svg" alt="MyService beta - logo" />
  </div>
</header>