

<%
console.log( "--" + locals );
v = locals.main_nav_active;
locals = {};
locals.items = ["Home","Tasks","Claims","Payments","Cards","Transport","Profile","My Account"];
locals.itemID = ["home","tasks","claims","payments","healthcard","travel","profile","myaccount"];
locals.itemLink = ["/auth","/auth","/auth/claim","/auth/payments","/auth/healthcard","/auth/travel","/auth/profile","#open-myaccount-modal"];
locals.icons = ["fa-home","fa-file-edit","fa-file-edit","fa-calendar-check","fa-money-check","fa-car-alt","fa-user-circle","fa-exchange"];
locals.main_nav_active = v;
%>                

<header class="uikit-header">
  <div class="container">
    <a class="nounderline" href="/auth">
      <img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" />
    </a>
    <button class="toggle" aria-expanded="false">Menu</button>
    <ul class="menu">
      <% locals.items.forEach(function(element, index) {
          // itemID = element.replace(/ +/g, '_').replace(/\?/g, '').toLowerCase(); 
          itemID = locals.itemID[index];
          itemLink = locals.itemLink[index];
          var link = "<a href="+itemLink+"";
          if ( (!!locals.main_nav_active && locals.main_nav_active === itemID) ) link += " class='nav-active'"; 
          link += ">";
          %>
          <li id=<%- itemID %>><%- link %><div class="icon fal <%= locals.icons[index] %> fa-2x"></div><div class="name"><%= element %></div></a></li>
      <%});%>
    </ul>
  </div>
</header>

 <script>
    $(Document).ready(function () {
      $( "#travel" ).mouseenter(function() {
        $( this ).find('.icon').removeClass( "fa-car-alt" );
        $( this ).find('.icon').addClass( "fa-car-bump" );
      });
       $( "#travel" ).mouseleave(function() {
        $( this ).find('.icon').addClass( "fa-car-alt" );
        $( this ).find('.icon').removeClass( "fa-car-bump" );
      });
});

</script>

<style>

#myaccount a {
  border-left: 2px solid rgba(255,255,255,.2) !important;
  padding-left: 8px;
}

</style>





