<div class="container-alert-profile container-alert uikit-page-alerts--success">
	<div class="container header-system-message">
	  <div class="uikit-page-alerts uikit-page-alerts--success" role="alert">
	    <a href="#" class="message-close">Dismiss</a>
	    <p><strong>Your email address has been changed.</strong></p>
	  </div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $( ".message-close" ).click(function() {
    $(".container-alert-profile").hide("fast");
  });
</script>