<header class="uikit-header landing-page landing-page--borderless-images landing-page--gradient">
	<div class="container">
		<img src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" />
	</div>
</header>