<header class="uikit-header">
  <div class="container">
    <a class="nounderline" href="/auth">
      <img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" />
    </a>
    <button class="toggle" aria-expanded="false">Menu</button>
    <ul class="menu">

      <li>
        <a class="header-home <% if (!!locals.main_nav_active && locals.main_nav_active === 'home') { %>nav-active<% } %>" href="/auth">Home</a>
      </li>
      <li>
        <a class="header-claims <% if (!!locals.main_nav_active && locals.main_nav_active === 'claim') { %>nav-active<% } %>" href="/auth/claim">Claims</a>
      </li>

      <li>
        <a class="header-payments <% if (!!locals.main_nav_active && locals.main_nav_active === 'payments') { %>nav-active<% } %>" href="/auth/payments">Payments</a>
      </li>

      <li>
        <a class="header-healthcard <% if (!!locals.main_nav_active && locals.main_nav_active === 'healthcard') { %>nav-active<% } %>" href="/auth/healthcard"">Cards</a>
      </li>
      <li>
        <a class=" header-travel <% if (!!locals.main_nav_active && locals.main_nav_active === 'travel') { %>nav-active<% } %>" href="/auth/travel">Transport</a>
      </li>
      <li>
        <a class="header-profile <% if (!!locals.main_nav_active && locals.main_nav_active === 'profile') { %>nav-active<% } %>" href="/auth/profile">My profile</a>
      </li>
      <li>
        <a class="header-myaccount <% if (!!locals.main_nav_active && locals.main_nav_active === 'myaccount') { %>nav-active<% } %>" href="#open-myaccount-modal">MyAccount</a>
      </li>
      <!-- <li>
        <a class="header-profile <% if (!!locals.main_nav_active && locals.main_nav_active === 'myaccount') { %>nav-active<% } %>" href="#open-myaccount-modal">Nom reps</a>
      </li> -->
    </ul>
  </div>
</header>
