<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('maintenance-paid-to-former-partner');">
  <h2 class="card__title">
    <span class="fal fa-hand-holding-usd fa-icons"></span><span class="font-weight-heavy">Maintenance paid to a former partner</span></h2>
  <p class="card__supporting-text text-fullwidth">Add any money you <span class="partner">(and/or your partner)</span> pays to a former partner following a divorce.</p>
  <p class="card__supporting-text text-fullwidth"><BR/>UX done v0.1</p>
  <div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>