<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('foreign-pension');">
        <h2 class="card__title"><span class="fal fa-passport fa-icons"></span><span class="font-weight-heavy">Foreign pension</span></h2><p class="card__supporting-text text-fullwidth">Add any income you <span class="partner">(and/or your partner) </span>receive from a government agency or other organisation outside Australia.</p>
          <p class="card__supporting-text text-fullwidth"><BR/>UX done spec v1.7</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>
