<!-- Summary card -->
<div id="other-payments-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-ellipsis-h-alt fa-icons"></span><span class="font-weight-heavy">Other payments</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('other-payments');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Payment type</b></div>
                    <div class="td">Gifts or royalties</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Payment amount</b></div>
                    <div class="td">$200</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Payment frequency</b></div>
                    <div class="td">Annually</div>
                </div>
                 <div class="tr">
                    <div class="td"><b>Payment received by</b></div>
                    <div class="td">Myself</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="other-payments-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;"><span class="fal fa-ellipsis-h-alt" style="font-size: 1.7em; vertical-align: -20%;"></span><span class="font-weight-heavy">&nbsp;Other payments</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('other-payments');">&nbsp;Delete item&nbsp;</button>
  </div>
  <div id="card-details" class="margin-below--large">
    <h4 class="margin-below--mid margin-above--none">Add any other payments received<span class="partner"> by you and/or your partner</span>.</h4>
        <p class="margin-below--mid">This may include payments such as:</p>
         <ul>
        <li>Gratuities</li>
        <li>Payment in kind, such as non-monetary payments for services</li>
        <li>Income from an estate</li>
        <li>Any other income you have not included elsewhere</li>
      </ul>
    <hr>
    <form id="myForm">
      <input type="reset" style="display:none">
      <div class="form-group">
        <label class="uikit-text-input__label" for="drop-down">Payment type</label>
        <select class="uikit-text-input input-half" id="paymentType" name="drop-down" onchange="typeSelected()">
          <option>-- Select type --</option>
          <option>Gifts or royalties</option>
          <option>Grants or scholarships</option>
          <option>Life interest</option>
          <option>Other income</option>
        </select>
      </div>
      <div class="form-group margin-above--large" id="payment-description" style="display: none;">
        <label class="uikit-text-input__label" for="tags">Payment description</label>
        <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
      </div>
      <div class="form-group margin-above--large partner">
        <label class="uikit-text-input__label" for="drop-down">Payment received by</label>
        <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
          <option>-- Select one --</option>
          <option>Myself</option>
          <option>My partner</option>
          <option>Jointly with my partner</option>
        </select>
      </div>
      <div class="form-group margin-above--large">
        <label class="uikit-text-input__label" for="Input field">Payment amount</label>
        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
      </div>
      <div class="form-group margin-above--large">
        <label class="uikit-text-input__label" for="drop-down">Payment frequency</label>
        <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
          <option>-- Select frequency --</option>
          <option>Weekly</option>
          <option>Fortnightly</option>
          <option>Monthly</option>
          <option>Quarterly</option>
          <option>Half yearly</option>
          <option>Annually</option>
          <option>Once off</option>
        </select>
      </div>
      <div class="form-group margin-above--large">
        <fieldset>
          <label class="uikit-text-input__label">Payment commencement date
            <span class="hint">(DD / MM / YYYY)</span>
          </label>
          <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
          <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
          <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
        </fieldset>
      </div>
    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('other-payments');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
      onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>
<!-- card end -->
<script>
  function typeSelected(event) {
    var field = document.getElementById("payment-description");
    var select = document.getElementById("paymentType");
    var selectedString = select.options[select.selectedIndex].value;
    if (selectedString == "Other income") {
      field.style.display = 'block';
    } else {
      field.style.display = 'none';
    }
  }
</script>