  <div class="panel from-right">
    <div class="panel-header">
      <h2>Log in</h2>
      <a href="#" class="panel-close">Close</a>
    </div>
    <div class="panel-container">
      <div class="panel-content">
        <div class="form-group">
          <label class="uikit-text-input__label" for="email">Email</label>
          <input class="uikit-text-input" name="email" id="email" type="email" value="">
        </div>
        <div class="form-group">
          <label class="uikit-text-input__label" for="password">Password</label>
          <input class="uikit-text-input" name="password" id="password" type="password" value="">
          <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
          <br />
          <a href="/unauth/user/forgot-password-step1-and-2">Forgot your password?</a>
        </div>
        <div class="pagination">
          <button class="uikit-btn" onclick="window.location.href = 'auth'">Log in</button>
          <button class="uikit-btn uikit-btn--tertiary panel-close" onclick="window.location.href = '#'">Cancel</a>
        </div>
      </div>
    </div>
  </div>
