  <div class="panel-home-help from-right">
    <div class="panel-header">
      <h2>How it works</h2>
      <a href="#" class="panel-close">Close</a>
    </div>
    <div class="panel-container">
      <div class="panel-content">
        <p>Serving and non serving members who enlisted in the ADF after 30 June 2004 can use MyService. Request cover in 3 steps:</p>
        <section class="numbered-steps">
          <ol>
            <li>
              <span class="numbers number-1"></span>
              <span class="numbered-steps-content">
                <h3>Register with MyService</h3>
                <p>If you have already registered, simply log in. New registration can take 2-3 business days.</p>
              </span>
            </li>
            <li>
              <span class="numbers number-2"></span>
              <span class="numbered-steps-content">
                <h3>Request cover</h3>
                <p>Have your medical diagnosis ready to upload. Download a <a href="#">diagnosis form</a> for your medical provider here.</p>
              </span>
            </li>
            <li>
              <span class="numbers number-3"></span>
              <span class="numbered-steps-content">
                <h3>Submit your request</h3>
                <p>If we need more information, we will let you know.</p>
              </span>
            </li>
          </ol>
        </section>
        <section class="uikit-callout what-you-need">
          <h2>What you need</h2>
          <ul>
            <li class="ico-key">Your PMKeyS number</li>
            <li class="ico-calendar">Date of enlistment</li>
            <li class="ico-card">Either your current driver's licence or Medicare card</li>
            <li class="ico-docs">A medical diagnosis and any supporting documents</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
