<main class="cd-main-content">

  <!-- <a href="#0" class="cd-btn js-cd-panel-trigger" data-panel="main">Feedback</a> -->
  <!-- your content here -->
</main>

<div class="cd-panel cd-panel--from-right js-cd-panel-main">

  <!-- <div id="help-panel-header" class="panel-header">
      <h2>Help</h2>
      <a href="#" class="panel-close">Close</a>
    </div> -->

  <div id="help-panel-header" class="cd-panel__header panel-header">
    <h2>Feedback</h2>
    <a href="#0" class="js-cd-close panel-close">Close</a>
  </div>

  <div class="cd-panel__container">
    <div class="cd-panel__content">
      <form>

        <div class="form-group">
          <label class="uikit-text-input__label" for="radio-buttons">What type of feedback is this?</label>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-ex">
              <span class="uikit-control-input__text">Compliment</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-ex">
              <span class="uikit-control-input__text">Complaint</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-ex">
              <span class="uikit-control-input__text">Suggestion</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-ex">
              <span class="uikit-control-input__text">Other</span>
            </label>
          </p>
        </div>

        <div class="form-group">
          <label class="uikit-text-input__label">Feedback</label>
          <textarea rows="5"></textarea>
        </div>

        <section class="mys-file-uploads">
          <div class="mys-file-uploads__items">
            <div class="mys-file-uploads__item-border">
              <div class="mys-file-uploads__item">
                <div class="mys-file-uploads__l-status">
                  <div class="mys-file-uploads__status mys-file-uploads__status--success">
                    <div class="mys-file-uploads__status-icon"></div>
                    <div class="mys-file-uploads__status-sr">Success</div>
                  </div>
                </div>
                <div class="mys-file-uploads__info">
                  <div class="mys-file-uploads__info-item">
                    <label class="mys-file-uploads__label">File name</label>
                    <div class="mys-file-uploads__value">
                      <a href="#" class="">My document 111 AAA .png</a>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-actions">
                  <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                </div>
              </div>
            </div>
            <div class="mys-file-uploads__item-border">
              <div class="mys-file-uploads__item">
                <div class="mys-file-uploads__l-status">
                  <div class="mys-file-uploads__status mys-file-uploads__status--success">
                    <div class="mys-file-uploads__status-icon"></div>
                    <div class="mys-file-uploads__status-sr">Success</div>
                  </div>
                </div>
                <div class="mys-file-uploads__info">
                  <div class="mys-file-uploads__info-item">
                    <label class="mys-file-uploads__label">File name</label>
                    <div class="mys-file-uploads__value">
                      <a href="#" class="">My document 222 AAA .png</a>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-actions">
                  <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__uploads-actions">
            <button class="uikit-btn small uikit-btn--tertiary">Add another</button>
          </div>
        </section>


        <!-- <a href="#" onclick="showWhoContacted('whoContacted');"><button class="uikit-btn small ">Submit feedback</button></a> -->

        <div class="form-group">
          <label class="uikit-text-input__label" for="toggle-buttons">Have you already provided this feedback to DVA through other channels?</label>
          <div class="feedback radio-toggle">
            <label class="on label-left" for="yes">
              <input onchange="showWhoContacted('whoContacted');" id="yes" type="radio" name="toggle-buttons">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="no">
              <input onchange="showWhoContacted('whoContacted');" id="no" type="radio" name="toggle-buttons">
              <span>No</span>
            </label>
          </div>
        </div>

        <div id="whoContacted" class="form-group" style="display:none;">
          <label class="uikit-text-input__label" for="radio-buttons">Who did you contact to share this feedback?</label>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-ex">
              <span class="uikit-control-input__text">Secretary</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-ex">
              <span class="uikit-control-input__text">Ombudsman</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-ex">
              <span class="uikit-control-input__text">Minister</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-ex">
              <span class="uikit-control-input__text">Local MP</span>
            </label>
          </p>
          <label class="uikit-text-input__label" for="date">When did you provide this feedback? (optional)
            <span class="hint">(DD / MM / YYYY)</span>
          </label>
          <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> <span class="hint" style="color:#666;">/</span>
          <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> <span class="hint" style="color:#666;">/</span>
          <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
        </div>

        <div class="form-group">
          <label class="uikit-text-input__label" for="togglebuttons1">Are you providing feedback on behalf of someone else?</label>
          <div class="feedback radio-toggle">
            <label class="on label-left" for="behalfYes">
              <input onchange="behalfOfSomeone('behalfSomeone');" id="behalfYes" type="radio" name="togglebuttons1">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="behalfNo">
              <input onchange="behalfOfSomeone('behalfSomeone');" id="behalfNo" type="radio" name="togglebuttons1">
              <!-- onchange="showhideForm(this.value);" name="showform" id="showform"> -->
              <span>No</span>
            </label>
          </div>
        </div>

        <div id="behalfSomeone" class="form-group" style="display:none;">
          <label class="uikit-text-input__label" for="radio-buttons">Name of person you are writing on behalf of</label>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </label>
          </p>
          <label class="uikit-text-input__label" for="radio-buttons">What is your desired outcome?</label>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </label>
          </p>

        </div>

        <div class="form-group">
          <label class="uikit-text-input__label" for="toggle-buttons2">Would you like DVA to contact you about this feedback?</label>
          <div class="feedback radio-toggle">
            <label class="on label-left" for="responseYes">
              <input onchange="responseFromDva('responseDva');" id="responseYes" type="radio" name="toggle-buttons2">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="responseNo">
              <input onchange="responseFromDva('responseDva');" id="responseNo" type="radio" name="toggle-buttons2">
              <span>No</span>
            </label>
          </div>
        </div>


        <div id="responseDva" style="display:none;">
          <div class="form-group">
            <label class="uikit-text-input__label" for="radio-buttons">How would you like us to contact you?</label>

            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input">
                <input class="uikit-control-input__input" value="emailCheck" type="radio" onchange="showhideForm(this.value);" name="showform" id="showform">
                <span class="uikit-control-input__text">Email</span>
              </label>
            </p>

            <div id="email" class="form-group" style="display:none;">
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="me@here.com" required aria-required="true">
            </div>

            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input">
                <input class="uikit-control-input__input" value="phoneCheck" type="radio" onchange="showhideForm(this.value);" name="showform" id="showform">
                <span class="uikit-control-input__text">Phone</span>
              </label>
            </p>

            <div id="phone" class="form-group" style="display:none;">
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="0000000000" required aria-required="true">
            </div>

            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input">
                <input class="uikit-control-input__input" value="letterCheck" type="radio" onchange="showhideForm(this.value);" name="showform" id="showform">
                <span class="uikit-control-input__text">Letter</span>
              </label>
            </p>

            <div id="letter" class="form-group" style="display:none;">
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="Address Line 1" required aria-required="true">
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="Address Line 2" required aria-required="true">
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="Suburb" required aria-required="true">
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="State" required aria-required="true">
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="Post code" required aria-required="true">
            </div>
          </div>
        </div>
        <div class="form-group">
          <a href="#" onclick="toggle_visibility('help-submitted');"><button class="uikit-btn small send">Submit feedback</button></a>
        </div>
        <!-- <div id="help-submitted">This is foo</div> -->
        <!-- <a id="myLink" href="javascript:void(0)" onclick="javascript:myLinkButtonClick();"> -->
        <!-- <button class="uikit-btn small send">Submit feedback</button></a> -->
      </form>
    </div> <!-- cd-panel__content -->
  </div> <!-- cd-panel__container -->
</div>

<div id="help-submitted" class="toast-container" style="display:none;">
  <button class="uikit-btn toast" role="alert" type="button">
    <div class="toast__type toast__type--success">
      <span class="sr">Success</span>
    </div>
    <div class="toast__message">
      <p>Thank you for submitting your enquiry. A DVA staff member will call you back within 2 business days.</p>
    </div>
  </button>
</div>

<script>
  (function () {

    var panelTriggers = document.getElementsByClassName('js-cd-panel-trigger');
    if (panelTriggers.length > 0) {
      for (var i = 0; i < panelTriggers.length; i++) {
        (function (i) {
          var panelClass = 'js-cd-panel-' + panelTriggers[i].getAttribute('data-panel'),
            panel = document.getElementsByClassName(panelClass)[0];

          // open panel when clicking on trigger btn
          panelTriggers[i].addEventListener('click', function (event) {
            event.preventDefault();
            addClass(panel, 'cd-panel--is-visible');
          });
          //close panel when clicking on 'x' or outside the panel
          panel.addEventListener('click', function (event) {
            if (hasClass(event.target, 'js-cd-close') || hasClass(event.target, panelClass)) {
              event.preventDefault();
              removeClass(panel, 'cd-panel--is-visible');
            }
          });
          //close panel when clicking on 'submit button'
          panel.addEventListener('click', function (event) {
            if (hasClass(event.target, 'send') || hasClass(event.target, panelClass)) {
              event.preventDefault();
              removeClass(panel, 'cd-panel--is-visible');
            }
          });

        })(i);
      }
    }

    function hasClass(el, className) {
      if (el.classList) return el.classList.contains(className);
      else return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
    }
    function addClass(el, className) {
      if (el.classList) el.classList.add(className);
      else if (!hasClass(el, className)) el.className += " " + className;
    }
    function removeClass(el, className) {
      if (el.classList) el.classList.remove(className);
      else if (hasClass(el, className)) {
        var reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
        el.className = el.className.replace(reg, ' ');
      }
    }
  })();


  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if (e.style.display == 'block')
      setTimeout(function () { e.style.display = 'none'; }, 1000);
    else
      setTimeout(function () { e.style.display = 'block'; }, 1000);
  }

  function showhideForm(showform) {
    if (showform == "emailCheck") {
      document.getElementById("email").style.display = 'block';
      document.getElementById("phone").style.display = 'none';
      document.getElementById("letter").style.display = 'none';
    }
    if (showform == "phoneCheck") {
      document.getElementById("phone").style.display = 'block';
      document.getElementById("email").style.display = 'none';
      document.getElementById("letter").style.display = 'none';
    }
    if (showform == "letterCheck") {
      document.getElementById("letter").style.display = 'block';
      document.getElementById("email").style.display = 'none';
      document.getElementById("phone").style.display = 'none';
    }
  }

  function showWhoContacted(id) {
    var i = document.getElementById(id);
    if (i.style.display == 'block') { i.style.display = 'none'; }
    else { i.style.display = 'block'; };
  }

  function behalfOfSomeone(id) {
    var x = document.getElementById(id);
    if (x.style.display == 'block') { x.style.display = 'none'; }
    else { x.style.display = 'block'; };
  }
  function responseFromDva(id) {
    var a = document.getElementById(id);
    if (a.style.display == 'block') { a.style.display = 'none'; }
    else { a.style.display = 'block'; };
  }


//   function contactCheck() {
//       if (document.getElementById('emailCheck').checked) {
//           document.getElementById('ifEmail').style.display = 'block';
//       }
//         else   document.getElementById('ifEmail').style.display = 'none';
//                document.getElementById('ifPhone').style.display = 'block';
//       }


</script>