<div class="sr">
  <ol>
    <li>
      <a href="#first-name">Enter a valid given name</a>
    </li>
  </ol>
</div>
<h1>Register
  <span>- step 1 of 3</span>
</h1>
<p>To access MyService we need you to prove your identity. The
  <a href="http://www.dva.gov.au/site-information/privacy">privacy and security</a> of your information is important to us.</p>
<p>All fields are required unless marked (optional).</p>
<div class="row">
  <div class="col-sm-8">
    <fieldset>
      <legend>Personal details</legend>
      <div class="form-group">
        <label class="uikit-text-input__label" for="mobile">Are you an existing DVA client?</label>
        <div class="radio-toggle">
          <label class="on label-left" for="dva-yes">
            <input id="dva-yes" type="radio" name="dva-exising">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="dva-no">
            <input id="dva-no" type="radio" name="dva-exising">
            <span>No</span>
          </label>
        </div>
      </div>

      <!-- start hidden by default -->
      <div class="form-group enter-dva-number" style="display: none">
        <label class="uikit-text-input__label" for="dva-number">DVA number</label>
        <input class="uikit-text-input input-half" name="dva-number" id="dva-number" type="text" value="" required aria-required="true">
      </div>
      <!-- end hidden by default -->

      <div class="form-group">
        <label class="uikit-text-input__label" for="mobile">PMKeyS number</span>
        </label>
        <input class="uikit-text-input input-half" name="pmkeys" id="pmkeys" type="text" value="">
      </div>
      <div class="form-group">
        <label class="uikit-text-input__label" for="mobile">Are you still an ADF member?
          <span class="hint">(includes reservists)</span>
        </label>
        <div class="radio-toggle">
          <label class="on label-left" for="serving-yes">
            <input id="serving-yes" type="radio" name="serving">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="serving-no">
            <input id="serving-no" type="radio" name="serving">
            <span>No</span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="uikit-text-input__label" for="highest-rank">Highest rank achieved</label>
        <input class="uikit-text-input input-half" name="highest-rank" id="highest-rank" type="text" value="" required aria-required="true">
      </div>

      <!-- start hidden by default -->
      <div class="form-group title" style="display: none">
        <% include global-select-list-title.ejs %>

      </div>
      <!-- end hidden by default -->

      <div class="form-group has-error">
        <label class="uikit-text-input__label" for="first-name">Given name (first name)
          <span id="first-name-error" class="input-error-message" aria-live="polite"> Enter a valid given name</span>
        </label>
        <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required aria-required="true">
      </div>
      <div class="form-group">
        <label class="uikit-text-input__label" for="middle-name">Middle name
          <span class="hint">(optional)</span>
        </label>
        <input class="uikit-text-input" name="middle-name" id="middle-name" type="text" value="">
      </div>
      <div class="form-group">
        <label class="uikit-text-input__label" for="last-name">Last name (surname)</label>
        <input class="uikit-text-input" name="last-name" id="last-name" type="text" value="" required aria-required="true">
      </div>
      <div class="form-group">
        <label class="uikit-text-input__label" for="dd">Date of birth
          <span class="hint">(DD / MM / YYYY)</span>
        </label>
        <input class="uikit-text-input dd" type="number" name="dd" id="dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
        <input class="uikit-text-input mm" type="number" name="mm" id="mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy" type="number" name="yyyy" id="yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
      </div>
    </fieldset>
    <div class="pagination">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/'">Back to home</button>
      <button class="uikit-btn floated btnNext" onclick="window.location.href = '/unauth/registration/register-step2'">Next</button>
    </div>
  </div>
  <div class="col-sm-4">

    <div class="tip--wrapper">
      <img src="../../../docs/images/ico-tip-blue.svg" class="heading-icon" alt="Tip icon">
      <h3>You must have:</h3>
      <ul>
        <li>enlisted after
          <strong>30 June 2004</strong>
        </li>
        <li>one day of continuous full-time service</li>
        <li class="ico-key">your PMKeyS number</li>
        <li class="ico-calendar">your date of enlistment</li>
        <li>a valid drivers licence or Medicare card</li>
      </ul>
    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $("#dva-no").click(function () {
    $(".enter-dva-number").hide("fast");
  });
  $("#dva-yes").click(function () {
    $(".enter-dva-number").show("fast");
  });
  $("#serving-yes").click(function () {
    $(".title").hide("fast");
  });
  $("#serving-no").click(function () {
    $(".title").show("fast");
  });
</script>