<!-- 
        I DON'T THINK THIS PARTIAL IS IN USE
        
        <h1>Register <span>- step 2 of 3</span></h1>
      <p>All fields are required unless marked (optional).</p>
      <div class="row">
        <div class="col-sm-8">
          <fieldset>
            <legend>Contact details</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="email">Email address</label>
              <input class="uikit-text-input" name="email" id="email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="confirm-email">Re-enter email address</label>
              <input class="uikit-text-input" name="confirm-email" id="confirm-email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Mobile phone number <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
            </div>
          </fieldset>
          <div class="pagination">
            <p>
              <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="checkbox" name="acknowledge">
                <span class="uikit-control-input__text"> I agree that my provided information is checked with the issuer or Official Record Holder, and stored by DVA. I also agree to the <a href="#TermsAndUseScreen">Terms and Use for MyService</a></span>
              </label>
            </p>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/unauth/registration/register-dva-and-pmkeys2'">Previous</button>
            <button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '/'">Cancel</a>
            <button class="uikit-btn floated btnNext" onclick="window.location.href = 'register-complete'">Register</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tip--wrapper">
           <img src="../../../docs/images/ico-tip-blue.svg" class="heading-icon" alt="Tip icon">
           <h3>You must have:</h3>
            <ul>
              <li>enlisted after <strong>30 June 2004</strong></li>
              <li>one day of continuous full-time service</li>
              <li class="ico-key">your PMKeyS number</li>
              <li class="ico-calendar">your date of enlistment</li>
              <li>a valid drivers licence or Medicare card</li>
            </ul>
          </div>
        </div>
      </div> -->