<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>


<div class="styleguide-draft">This style guide is a draft. It is currently being prepared for DVA endorsement.</div>
<header class="uikit-header">
	<div class="container styleguide-header">
     <div class="row">
     	<div class="col-xs-6"><img class="main-logo" src="../../../docs/images/styleguide/sg-myservice-brandmark-beta.svg" alt="Department of Veterans' Affairs, MyService Beta logo"></div>
     	<div class="col-xs-6 styleguide-header--button"><a class="uikit-btn uikit-btn--primary floated" href="https://myservice-prototype.herokuapp.com" target="_blank">See the prototype</a></div>
     </div>
    </div>
</header>