<div id="open-example-modal" class="modal-window">
	<div>
		<a href="#modal-close" title="Close" class="modal-close">Close</a>
		<h5>MODAL EXAMPLE</h5>
		<h2>This will delete the file permanently.</h2>
		<p>Are you sure you want to remove the selected file?</p>
		<div class="modal-buttons">
			<button class="uikit-btn" onclick="window.location.href = '#modal-close'">Delete file</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#modal-close'">Cancel</button>
		</div>
	</div>
</div>