<%
  locals.el = {};
  locals.el.body_text_profile = "to help us better support you.";
  locals.el.button_text = "Profile";
  locals.el.link = "/auth/profile";
%>

<div class="widget-ang-component">
  <div class="widget-tile widget-profile widget-tile--mobile-hide widget-tile--blue-light" id="widget-profile">
    <a href="">
      <div class="widget-tile__title">
        <span class="widget-tile__title-text"><%- locals.el.button_text %></span>
        <span class="widget-tile__title-icon fa fa-angle-right"></span>
      </div>
      <div class="widget-tile__content profile-content">
        <span class="fa fa-edit"></span><span class="profile-content__message"><span class="tablet-hide">Make sure your profile is up to date, </span><span class="tablet-message"><%- locals.el.body_text_profile %></span></span>
      </div>
    </a>
  </div>
</div>

<script type="text/javascript">
  function updateProfileWidget() {
    if ($("#service-history").prop("checked") == true) {
      // updateProfileWidgetCopy("general");
      sessionStorage.setItem('service_history', true);
    } else {
      // updateProfileWidgetCopy("sh");
      sessionStorage.setItem('service_history', false);
    }
  }
</script>


<script type="text/javascript">
function updateProfileWidgetCopy() {
  totalWidgets++;
}
</script>
