<% if (locals.el.body_text_incomplete) { 
  var body_text_incomplete = locals.el.body_text_incomplete;
}
%>

<% if (locals.el.body_text_submitted) { 
  var body_text_submitted = locals.el.body_text_submitted;
} 
%>

<% if (locals.el.button_text) { 
  var button_text = locals.el.button_text;
} 

%>
<% if (locals.el.link) { 
  var link = locals.el.link;
}
%>

<div class="widget-tile widget-tile-claim" id="widget-claims">
  <div class="widget-tile-container">
    <div id="claims-incomplete"><span class="widget-number" id="text-reflect-incomplete">0</span>
      <%- body_text_incomplete %>
    </div>
    <div id="claims-submitted"><span class="widget-number" id="text-reflect-submitted">0</span>
      <%- body_text_submitted %>
    </div>
    <div class="widget-link">
      <a href="<%-link%>"><%- button_text %></a>
    </div>
  </div>
</div>
