<%
locals.el = {};
locals.el.body_text_task = " tasks";
locals.el.button_text = "View tasks";
locals.el.link = "/auth";
%>

<div class="widget-tile widget-tile-task" id="widget-tasks">
  <div class="widget-tile-container">
    <span class="widget-content"><span class="widget-number" id="text-reflect-task">5</span><%- locals.el.body_text_task  %>
    </span>
    <div class="widget-link">
      <a href="<%-locals.el.link%>"><%- locals.el.button_text %></a>
    </div>
  </div>
</div>


<script>
function updateTasksWidget() {
  var tasks = $("#text-input-tasks").val();
  sessionStorage.setItem('tasks', tasks);
  $("#text-reflect-tasks").val(tasks);
  if (tasks > 0) {
    $("#widget-tasks").show("fast");
    $("#tasks").show();
    totalWidgets++;
  } else {
    $("#widget-tasks").hide("fast");
    $("#tasks").hide();
  }
}
</script>
