<%
locals.el = {};
locals.el.body_text_payment_date = "Paid <span class='hide-on-small'>on the</span> 24/08/2019";
locals.el.body_text_payment_amount = "$256.76";
locals.el.button_text = "View payments";
locals.el.link = "/auth/payments";
%>

<div class="widget-tile widget-tile-payment" id="widget-payment">
  <div class="widget-tile-container">
    <span class="widget-content">
      <%- locals.el.body_text_payment_date %>
    </span><br>
    <span class="widget-number">
      <%- locals.el.body_text_payment_amount %>
    </span><br>
    <div class="widget-link">
      <a href="<%-locals.el.link%>"><%- locals.el.button_text %></a>
    </div>
  </div>
</div>


<script type="text/javascript">
function updatePaymentsWidget() {
  if ($('#payment-received').prop("checked") == true) {
    $("#widget-payment").show("fast");
    $("#payments").show();
    sessionStorage.setItem('payments_received', true);
    totalWidgets++;
  } else {
    $("#widget-payment").hide("fast");
    $("#payments").hide();
    sessionStorage.setItem('payments_received', false);
  }
}
</script>
