<%
locals.el = {};
locals.el.body_text_payment_date = "Paid <span class='hide-on-small'>on the</span> 24/08/2019";
locals.el.body_text_payment_amount = "$256.76";
locals.el.button_text = "Payments";
locals.el.link = "/auth/payments";
%>

<div class="widget-tile widget-tile--blue-mid" id="widget-payment">
  <a href="">
    <div class="widget-tile__title">
      <span class="widget-tile__title-text"><%- locals.el.button_text %></span>
      <span class="widget-tile__title-icon fa fa-angle-right"></span>
    </div>
    <div class="widget-tile__content">
      <div class="widget-tile__content--fullwidth payment-date"><%- locals.el.body_text_payment_date %></di>
        <div class="widget-tile__content--fullwidth payment-amount"><%- locals.el.body_text_payment_amount %></div>
      </div>
    </div>
  </a>
</div>


<script type="text/javascript">
  function updatePaymentsWidget() {
    if ($('#payment-received').prop("checked") == true) {
      $("#widget-payment").show("fast");
      $("#payments").show();
      sessionStorage.setItem('payments_received', true);
      totalWidgets++;
    } else {
      $("#widget-payment").hide("fast");
      $("#payments").hide();
      sessionStorage.setItem('payments_received', false);
    }
  }
</script>
