<%
  locals.el = {};
  locals.el.body_text_profile = "To help us better support you, make sure your profile is up to date.";
  locals.el.button_text = "Profile";
  locals.el.link = "/auth/profile";
%>


<div class="widget-tile widget-tile--mobile-hide widget-tile--blue-light" id="widget-profile">
  <a href="">
    <div class="widget-tile__title">
      <span class="widget-tile__title-text"><%- locals.el.button_text %></span>
      <span class="widget-tile__title-icon fa fa-angle-right"></span>
    </div>
    <div class="widget-tile__content profile-content">
      <span class="fa fa-edit"></span><span><%- locals.el.body_text_profile %> </span>
    </div>
  </a>
</div>

<script type="text/javascript">
  function updateProfileWidget() {
    if ($("#service-history").prop("checked") == true) {
      // updateProfileWidgetCopy("general");
      sessionStorage.setItem('service_history', true);
    } else {
      // updateProfileWidgetCopy("sh");
      sessionStorage.setItem('service_history', false);
    }
  }
</script>


<!-- <script type="text/javascript">
  function updateProfileWidgetCopy(messageType) {
    return;
    var myMessage;
    switch (messageType) {
      case "sh":
        myMessage = "Profile SH";
        break;
      case "general":
        myMessage =
          "To help us better support you, make sure your profile is up to date. <span class='profile-hide'>This allows you to manage your information in one place and have it available when you claim.</span";
        break;
      default:
        break;
    }
    $("#profile-content").html(myMessage);
  }

</script> -->
