<% if (locals.el.body_text_task) { 
  var body_text_task = locals.el.body_text_task;
}
%>

<% if (locals.el.button_text) { 
  var button_text = locals.el.button_text;
} 
%>
<% if (locals.el.link) { 
  var link = locals.el.link;
}
%>

<div class="widget-tile widget-tile-task" id="widget-tasks">
  <div class="widget-tile-container">
    <span class="widget-content"><span class="widget-number" id="text-reflect-task">5</span><%- body_text_task %>
    </span>
    <div class="widget-link">
      <a href="<%-link%>"><%- button_text %></a>
    </div>
  </div>
</div>
