<% if (locals.body_text_profile) { 
  var body_text_profile = locals.body_text_profile;
}
%>

  <% if (locals.button_text) { 
  var button_text = locals.button_text;
} 

%>
    <% if (locals.link) { 
  var link = locals.link;
}
%>

      <div class="widget-tile widget-tile-profile" id="widget-profile">
        <h2 class="widget-header"><span class="font-weight-heavy"></span></h2>

        <p class="widget-content">
          <%- body_text_profile %>
        </p>
        <div>
          <a href="<%-link%>"><%- button_text %></a>
        </div>
      </div>
