<%
locals.el = {};     
locals.el.body_text_incomplete = " incomplete <span class='hide-on-small'>claims</span>";
locals.el.body_text_submitted = " submitted <span class='hide-on-small'>claims</span>";
locals.el.button_text = "View claims";
locals.el.link = "/auth/claim";
%>

<div class="widget-tile widget-tile-claim" id="widget-claims">
  <div class="widget-tile-container">
    <div id="claims-incomplete"><span class="widget-number" id="text-reflect-incomplete">0</span>
      <%- locals.el.body_text_incomplete %>
    </div>
    <div id="claims-submitted"><span class="widget-number" id="text-reflect-submitted">0</span>
      <%- locals.el.body_text_submitted  %>
    </div>
    <div class="widget-link">
      <a href="<%-locals.el.link %>"><%- locals.el.button_text %></a>
    </div>
  </div>
</div>
