<% if (locals.body_text_payment_date) { 
  var body_text_payment_date = locals.body_text_payment_date;
}
%>

  <% if (locals.body_text_payment_amount) { 
  var body_text_payment_amount = locals.body_text_payment_amount;
}
%>

    <% if (locals.body_text_profile) { 
  var body_text_profile = locals.body_text_profile;
}
%>

      <% if (locals.button_text) { 
  var button_text = locals.button_text;
} 

%>
        <% if (locals.link) { 
  var link = locals.link;
}
%>

          <div class="widget-tile widget-tile-payment" id="widget-payment">
            <div class="widget-tile-containter">
              <span class="widget-content">
                <%- body_text_payment_date %>
              </span><br>
              <span class="widget-number">
                <%- body_text_payment_amount %>
              </span><br>
              <span class="widget-content">
                <%- body_text_profile %>
              </span>
              <div>
                <a><%- button_text %></a>
              </div>
            </div>
          </div>
