<div id="welcome-message" class="widget-tile widget-tile--full-width">
  <!-- <h3>Welcome to MyService</h3> -->
  <h3>Welcome to MyService.</h3>
  <p>
    We are working to streamline and modernise the process of claiming. For some claims we have dramatically reduced the amount of information you need to provide. Get started by
    making a claim for the options shown below.
  </p>
</div>
