<%
locals.el = {};
locals.el.body_text_task = " tasks";
locals.el.button_text = "View tasks";
locals.el.link = "/auth";
%>



<div class="widget-tile" id="widget-tasks">
  <div class="widget-tile__left-border"></div>
  <div class="widget-tile__content">
    <div class="widget-tile__title">
      <span><%- locals.el.button_text %><span class="widget-tile__title-icon fa fa-angle-right"></span></span>  
    </div>
  </div>


<script>
function updateTasksWidget() {
  var tasks = $("#text-input-tasks").val();
  sessionStorage.setItem('tasks', tasks);
  $("#text-reflect-tasks").val(tasks);
  if (tasks > 0) {
    $("#widget-tasks").show("fast");
    $("#tasks").show();
    totalWidgets++;
  } else {
    $("#widget-tasks").hide("fast");
    $("#tasks").hide();
  }
}
</script>
