<div id="welcome-message" class="widget-welcome">
  <!-- <h3>Welcome to MyService</h3> -->
  <h3>Welcome to MyService.</h3>
    <p>
   We are working to streamline and modernise the process of claiming. For some claims we have dramatically reduced the amount of information you need to provide. Get started by making a claim for the options shown below. 
  </p>
  <!-- <p><b>Welcome to MyService.</b><BR/>We are delivering on our mission to better support the wellbeing of veterans and their families. This means making it easily accessible and more convenient for you to claim. MyService provides streamline claiming, single sign on to all government services and is better for everyone. Get started by …….</p> -->
  <!-- <p>Omnis voluptatem ad voluptatibus ratione aut doloremque quod dolores. Reprehenderit sed eius sit corrupti architecto enim voluptatem. Inventore voluptatem porro aut ab rerum sapiente. Rerum beatae ad id ratione id aut.</p> -->
</div>