<div id="first-login-message" class="widget-welcome">
  <!-- <h3>Welcome to MyService</h3> -->
  <p><b>Welcome to MyService.</b>
    <BR />DVA's mission is to support the wellbeing of veterans and their families. MyService has been developed to streamline the process of claiming for entitlements.
    We aim to make claiming more intuitive and accessible for all members of the veteran community. We welcome your feedback.
  </p>
  <!-- <p><b>Welcome to MyService.</b><BR/>We are delivering on our mission to better support the wellbeing of veterans and their families. This means making it easily accessible and more convenient for you to claim. MyService provides streamline claiming, single sign on to all government services and is better for everyone. Get started by …….</p> -->
  <!-- <p>Omnis voluptatem ad voluptatibus ratione aut doloremque quod dolores. Reprehenderit sed eius sit corrupti architecto enim voluptatem. Inventore voluptatem porro aut ab rerum sapiente. Rerum beatae ad id ratione id aut.</p> -->
</div>