<div id="welcome-message" class="widget-tile widget-tile--full-width">
  <!-- <h3>Welcome to MyService</h3> -->
  <h3>Welcome to MyService.</h3>
  <p>
    We are working to streamline and modernise the process of claiming. Wherever possible, we have reduced the amount of time it will take to complete your claims. This means you can access services faster. Get started by making a claim from the options shown below.
  </p>
</div>
