<%
locals.el = {};     
locals.el.body_text_incomplete = " incomplete";
locals.el.body_text_submitted = " submitted";
locals.el.button_text = "Claims";
locals.el.link = "/auth/claim";
%>

<div class="widget-tile" id="widget-claims">
  <div class="widget-tile__left-border"></div>
  <div class="widget-tile__content">
    <div class="widget-tile__title">
      <span><%- locals.el.button_text %><span class="widget-tile__title-icon fa fa-angle-right"></span></span>  
    </div>
  </div>
  
  <!--  <span id="claims-incomplete"><span class="widget-number" id="text-reflect-incomplete">0</span><%- locals.el.body_text_incomplete %></span>
   <span id="claims-submitted"><span class="widget-number" id="text-reflect-submitted">0</span><%- locals.el.body_text_submitted  %></span> -->
  <!-- </div> -->
  <!-- </a> -->
</div>


 <script>

$(window).resize(function () {
    var myWidth = $("#widget-claims").width();
    if ( myWidth < 210 ) {
      $("#widget-claims .hide-on-small").hide();
    } else {
    // if ( myWidth < 200 ) {
     $("#widget-claims .hide-on-small").show();
    }
});

function updateClaimsWidget() {
  var incomplete = $("#text-input-incomplete").val();
  $("#text-reflect-incomplete").html(incomplete);
  sessionStorage.setItem('claims-incomplete', incomplete);
  var submitted = $("#text-input-submitted").val();
  $("#text-reflect-submitted").html(submitted);
  sessionStorage.setItem('claims-submitted', submitted);
  if (incomplete > 0) {
    $("#claims-incomplete").show();
  } else {
    $("#claims-incomplete").hide();
  }
  if (submitted > 0) {
    $("#claims-submitted").show();
  } else {
    $("#claims-submitted").hide();
  }
  if (incomplete > 0 || submitted > 0) {
    $("#widget-claims").show("fast");
    totalWidgets++;
  } else {
    $("#widget-claims").hide("fast");
  }
  if (incomplete == 0 && submitted == 0) {
    $("#claims").hide();
  } else {
    $("#claims").show();
  }
}

</script>

