<% if (locals.body_text_task) { 
  var body_text_task = locals.body_text_task;
}
%>

  <% if (locals.button_text) { 
  var button_text = locals.button_text;
} 
%>
    <% if (locals.link) { 
  var link = locals.link;
}
%>

      <div class="widget-tile widget-tile-task" id="widget-tasks">
        <span class="widget-content"><span class="widget-number" id="text-reflect-task">5</span><%- body_text_task %>
        </span>
        <div>
          <a><%- button_text %></a>
        </div>

        </a>
      </div>
