<% if (locals.body_text_incomplete) { 
  var body_text_incomplete = locals.body_text_incomplete;
}
%>

  <% if (locals.body_text_submitted) { 
  var body_text_submitted = locals.body_text_submitted;
} 
%>

    <% if (locals.button_text) { 
  var button_text = locals.button_text;
} 

%>
      <% if (locals.link) { 
  var link = locals.link;
}
%>

        <div class="widget-tile widget-tile-claim" id="widget-claims">
          <!-- Claims -->
          <div id="claims-incomplete"><span class="widget-number" id="text-reflect-incomplete">0</span><%- body_text_incomplete %>
          </div>
          <div id="claims-submitted"><span class="widget-number" id="text-reflect-submitted">0</span><%- body_text_submitted %>
          </div>
          <div>
            <a href="<%-link%>"><%- button_text %></a>
          </div>
        </div>
