<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "Relationship status",
    boxes: [
      "Single",
      "Partnered"
    ],
    id: "sw-relationship-status"
  }); %>

  <%- include(partials+"components/form-partials/checkbox", {
    modifiers: ["hidden"],
    label: "Partner is Australian citizen",
    boxes: [
      "Yes",
    ],
    id: "sw-immigration-status"
  }); %>

  <%- include(partials+"components/form-partials/checkbox", {
  id: "bank-details-known",
  label: "Bank details known",
  boxes: [
    "Yes",
  ]
}); %>

  <%- include(forms+"checkbox", {
    id: "sw-came-from-il",
    label: "Came from IL",
    boxes: [
      "Yes"
    ]
  }) %>

</div>

<script>
  var relationshipStatus;
  var immigrationStatus;
  var cameFromIl;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    var fromIL = localStorage.getItem("came-from-il"); 
    if ( fromIL == "true" ) {
      $("#sw-came-from-il-1").prop("checked", true);
    }

    if (localStorage.getItem("relationship-status") === null || localStorage.getItem("relationship-status") === undefined) localStorage.setItem("relationship-status", "single");
    if (localStorage.getItem("immigration-status") === null || localStorage.getItem("immigration-status") === undefined) localStorage.setItem("immigration-status", "citizen")

    if (localStorage.getItem("relationship-status") === "single") {
      $("#sw-relationship-status-2").prop("checked", false)
      $("#sw-relationship-status-1").prop("checked", true)
    } else {
      $("#sw-relationship-status-1").prop("checked", false)
      $("#sw-relationship-status-2").prop("checked", true)
    }

    if (localStorage.getItem("immigration-status") === "citizen") {
      $("#sw-immigration-status-1").prop("checked", true)
    } else {
      $("#sw-immigration-status-1").prop("checked", false)
    }

    if (localStorage.getItem("came-from-il") === null) {
      localStorage.setItem("came-from-il", "false")
    } else if (localStorage.getItem("came-from-il") === "true") {
      $("#sw-came-from-il-1").prop("checked", true)
    }

    cameFromIl = localStorage.getItem("came-from-il");
    relationshipStatus = localStorage.getItem("relationship-status");
    immigrationStatus = localStorage.getItem("immigration-status");
    $("#bank-details-known-1").prop("checked", true);

    stateSwitcher();

  });

  $("#state-switcher").on("change", "input", function () {
    if ($("#sw-immigration-status-1").prop("checked")) {
      localStorage.setItem("immigration-status", "citizen");
    } else {
      localStorage.setItem("immigration-status", "immigrant");
    }

    immigrationStatus = localStorage.getItem("immigration-status");

    if ($("#sw-relationship-status-1").prop("checked")) {
      localStorage.setItem("relationship-status", "single");
    } else {
      localStorage.setItem("relationship-status", "partnered");
    }


    if ($("#bank-details-known-1").prop("checked")) {
      localStorage.setItem("bank-details-known", "true");
    } else {
      localStorage.setItem("bank-details-known", "false");
    }

    relationshipStatus = localStorage.getItem("relationship-status");

    if ($("#sw-came-from-il-1").prop("checked")) {
      localStorage.setItem("came-from-il", "true")
    } else {
      localStorage.setItem("came-from-il", "false")
    }

    cameFromIl = localStorage.getItem("came-from-il");
    stateSwitcher();
  })






</script>