<%- include(templates+"header", {
  title: "Veteran Payment"
}) %>

  <div class="claim-end">
    <div class="pt-claim-type--normal">
      <div class="margin-above ie-success-animation">
        <img src="/docs/images/ico-tick-green-outline.svg" alt="Success tick icon">
      </div>
      <div class="margin-above submitted-animation">
        <%- include(partials+"components/animations/submitted") %>
      </div>
      <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
        <h1>We're submitting your claim for Veteran Payment</h1>
      </div>
    </div>
    <div class="transition-content pt-claim-animation-end margin-below--extra">
      <div class="pt-claim-type--normal">
        <h1 class="cantered-item">Your claim for Veteran Payment has been
          <span class="font-weight-heavy"> submitted</span>
        </h1>
      </div>
      <hr class="orange-divider">
      <h2 class="ss-align--center"><b>What's next?</b></h2>
      <div class="container">
        <div class="col-sm-offset-1 col-sm-8">
          <ul class="next-steps">
            <li>TBA</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Back to home",
        link: "/auth"
      },
      {
        text: "See your claims",
        link: "/auth/claim"
      }
    ]
  }) %>

  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

  </script>

<%- include(templates+"footer") %>