<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
              label: "Relationship status",
              boxes: [
                "Single",
                "Partnered"
              ],
              id: "relationship-status"
            }); %>

</div>

<script>

  $(document).ready(function () {
    /* --- State switcher --- */
    /* Toggle switcher */
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $("#submitted").prop("checked", true);

    $('#relationship-status-container').change(function () {
      var mySelection = $('input[name=relationship-status]:checked').parent().find("span").text().trim();
      switch (mySelection) {
        case "Single":
          $(".partnered").text("you");
          break;
        case "Partnered":
          $(".partnered").text("you and/or your partner");
          break;
        default:
          break;
      }
    });

  });
</script>
