<%

if (typeof id === "undefined") var id = formPartialsID("time");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>

<style>

.date-picker {
  width: 200px !important;
}
</style>

<div class="form-group">

  <%- generateLabel({
    id,
    modifiers: modifiers.concat(["legendLabel"]),
    label: typeof label !== "undefined" ? label : null,
    hint: typeof hint !== "undefined" ? hint : (modifiers.includes("noDay") ? "(mm / yyyy)" : "(dd / mm / yyyy)"),
    tooltip: typeof tooltip !== "undefined" ? tooltip : null
  }) %>

  <input type="date" name="date" placeholder="select date" class="date-picker">
    
</div>
