<%#
	* info (blue) DEFAULT
	* warning (orange)
	* error (red)
	* success (green)
	* content (white)
%>
<%

if (typeof id === "undefined") var id = formPartialsID("notice");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

var type = type ? `uikit-page-alerts--${type}` : "uikit-page-alerts--info";

%>

<div 
  class="uikit-page-alerts <%- type %>" 
  id="<%- id %>-container" 
  role="alert"
  <%- modifiers.includes("hidden") ? "hidden" : "" %>
  >

  <%- message %>

</div>