<div class="progressbar <%- typeof modifiers !== "undefined" && modifiers.includes("noMarginBelow") ? "margin-below--none" : "margin-below--mid" %> <%- typeof modifiers !== "undefined" && modifiers.includes("marginAbove") ? "margin-above--extra" : "margin-above--none" %>">
  <div class="percentage" style="width: <%- percent %>%;">
    <p class="percentage_value"><%- percent %>%</p>
  </div>
</div>