<div id="progressbar" <%- typeof modifiers !== "undefined" && modifiers.includes("margin-below") ? `class="margin-below"` : "" %> >
  <div id="percentage" style="width: <%- percent %>%;">
    <p id="percentage_value"><%- percent %>%</p>
  </div>
</div>