<%

if (typeof id === "undefined") var id = formPartialsID("time");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>

<style>

.time-selector {
  width: 70px;
  margin: 0;
}
</style>

<div class="form-group" style="margin-left: 20px;"">

  <%- generateLabel({
    id,
    modifiers: modifiers.concat(["legendLabel"]),
    label: typeof label !== "undefined" ? label : null,
    <!-- hint: typeof hint !== "undefined" ? hint : (modifiers.includes("noDay") ? "(mm / yyyy)" : "(dd / mm / yyyy)"), -->
    tooltip: typeof tooltip !== "undefined" ? tooltip : null
  }) %>

    <select class="time-selector time-selector--hours">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option selected="selected">12</option>
    </select>
    <select name="select" class="time-selector time-selector--minutes">
      <option selected="selected">00</option>
      <option>05</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
      <option>30</option>
      <option>35</option>
      <option>40</option>
      <option>45</option>
      <option>50</option>
      <option>55</option>
    </select>
    <select class="time-selector .time-selector--ampm">
      <option>am</option>
      <option selected="selected">pm</option>
    </select>
    
</div>
