<%- include(templates+"header", {
  claim: "Qualifying Service | MyService",
  heading: "Qualifying Service"
}) %>

  <p>
    You have Qualifying Service if you have served in prescribed warlike conflicts as an Australian, British Commonwealth or Allied veteran. This means that you served:
  </p>
  <ul>
    <li>At a time when you incurred actual danger from hostile forces of the enemy (World War 2 or British Commonwealth/Allied veterans in certain conflicts prior to 11 January 1973);</li>
    <li>In defined operational areas during certain time periods (post-World War 2 to 1990s); or</li>
    <li>On an operation declared as warlike (1990s onwards).</li>
  </ul>
   <p>
    For more information please see <a target="_blank" href="https://www.dva.gov.au/financial-support/income-support/qualifying-service" rel="external">DVA Website - Qualifying Service</a>.
  </p>
  <p>
    Veterans with Qualifying Service are eligible for a Gold Card at the age of 70 and may be eligible for the Service Pension at age 60 (subject to income and assets tests).
  </p>
  <p>If you believe you have Qualifying Service, click ‘Next’ to continue.</p>

  

  <%- include(forms+"pagination", {
    customClass: "margin-above--extra",
    pagination: [
      {
        text: "Cancel",
        link: "/auth/"
      },
      {
        text: "Next",
        link: "/auth/claim/qualifying-service/qs1",
        modifiers: ["floated", "primary"],
        id: "btnNext"
      }
    ]
  }) %>

  <%#- include("vrp-state-switcher") %>
  <%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>

  <script type="text/javascript">
    function stateSwitcher() {
      if (sessionStorage.getItem("vrp-known-service-history") === "true") {
        $("#btnNext").attr("href", "/auth/claim/veterancard/vrp3");
      } else {
        $("#btnNext").attr("href", "/auth/claim/veterancard/vrp2");
      }
    }
  </script>