<%- include(templates+"header", {
  claim: "Qualifying Service",
  heading: "Submitted",
  modifiers: ["noHeading"]
}) %>

  <%- include(forms+"submitting", {
    modifiers: ["claimID"],
    type: "submitted",
    submitting_text: "We're submitting your claim for Qualifying Service",
    submitted_text: `Your claim for Qualifying Service has been <b>submitted</b>`,
    supporting_text: `<h3>Your application is being assessed.</h3>
      <p>Your service history is being confirmed. You will then be notififed of the outcome by mail.</p>
    `
  }) %> 

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Back to home",
        link: "/auth"
      }
    ]
  }) %>

<%- include(templates+"footer") %>