<div id="former_name" style="display: none;">
    <table class="mys-table table-responsive border-all border-top__thick--blue">
        <tbody>
            <tr>
                <th class="border-left__thin--white">
                    <label class="uikit-text-input__label" for="date">Given name (first name)</label>
                </th>
                <th>
                    <label class="uikit-text-input__label" for="date">Surname (last name)</label>
                </th>
                <th class="border-right__thin--white"></th>
            </tr>
            <tr id="date-template">
                <td>
                    <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                </td>
                <td>
                    <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                </td>
                <td>
                    <button id="removeDateRow" class="uikit-btn uikit-btn--tertiary small">Remove</button>
                </td>
            </tr>
            <tr class="padding-above--none">
                <td colspan="4" class="padding-above--none ss-align">
                    <button id="add-another-name" onclick="cloneMe()" class="icon-link-button">
                        <span class="icon far fa-plus-circle"></span>
                        <span class="link">Add another name</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>