<%- include(templates+"header", {
  title: "Profile | Partner declaration and consent",
  heading: "Partner declaration and consent"
})%>



<div id="partner-consent">

  <p>You are required to provide your partner's consent in order to provide information on their behalf.
    Follow the steps below to provide your partner's consent to DVA.</p>

  <h3 class="mys h3 margin-below--mid">Steps to provide your partner's consent:</h3>
  <ol>
    <li>Download and complete the <a>partner declaration and consent form</a>.</li>
    <li>Upload the completed form below.</li>
    <li>You will receive email confirmation when the consent has been processed (allow approximately one week).</li>
  </ol>

  <div class="margin-above--large margin-below--mid single-doc-upload">
    <h3 class="mys h3">Upload your completed partner declaration and consent form<span
        class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum file size is
        50MB.</span>
    </h3>
    <hr>
      <div class="form">
        <div class="docs">
          <i class="fal fa-paperclip fa-2x"></i>
          <span>Partner declaration and consent form</span>
        </div>
        <div class="actions">
          <button class="mys-file-uploads__item-button uikit-btn--tertiary small">Attach form</button>
          <button class="uikit-btn small" onclick="doSubmit()">Submit</button>
        </div>
      </div> 
    <hr>
  </div>
 
  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Home",
      link: "/auth/"
    }
    ],
    customClass: ["margin-above--extra"]
  }) %>
      

  </div>




  <div id="consent-pending" hidden>
    <h2 class="mys h2 margin-below--mid" >Your partner consent form has been submitted.</h2>
    <p>Your transaction ID is 45536778.</p>
    <p>You will receive email confirmation when the consent has been processed (allow approximately one week).</p>
    <%- include(forms+"pagination", {
      pagination: [
      {
        text: "Go to home page",
        link: "/auth"
      }
      ],
      customClass: ["margin-above--extra"]
    }) %>
  </div>



</div>


<script>

function doSubmit() {
      $("#consent-pending").show();
      $("#partner-consent").hide();
      $("#relationship-status-container").hide();
  } 


</script>

<%- include(partials+"components/layout/footer") %>
