<%- include(templates+"header", {
  title: "Profile | Partner declaration and consent",
  heading: "Partner declaration and consent"
})%>

<%#- include(partials+"components/form-partials/notice", {
  message: "You are only required to provide this form if applying for a joint claim or need to update your partner's income and assets.",
  id: "not-required-notice"
}); %>

<h2>Partner declaration and consent form</h2>
<p class="margin-below--small">Submit this form if:</p>
<ul>
  <li>You need to update your relationship status, or</li>
  <li>You need to provide your partner's consent to enable you to update details on their behalf.</li>
</ul>

<h2>Steps to provide the form:</h2>
<ol>
  <li>Download the <a>partner declaration and consent form</a>.</li>
  <li>Complete the form.</li>
  <li>Upload the completed form below.</li>
  <li>Your partner will receive a call from DVA requesting their verbal consent.</li>
</ol>

<hr>
<div class="container container--8-column">
  <div class="margin-above--none margin-below--extra">
    <h3>Upload your completed partner declaration and consent form<span class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum file size is
        50MB.</span></h3>

    <!-- <h2 class="margin-above">What we need</h2> -->

    <div class="mys-file-uploads__items">
      <div id="doc-medical" class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item mys-file-uploads__item--required">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--pending">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__value">
                <div><Strong>Partner declaration and consent form</strong></div>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/"
    },
      {
        text: "Next",
        link: "/auth/profile/partner-consent/submitted",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>

  $('#who-else-container input:checkbox').prop('checked', 'true');

</script>

<%- include(partials+"components/layout/footer") %>
<%- include(partials+"content/modals/delete-modal") %>
<%#- include("index-ss") %>