<%- include(templates+"header", {
  claim: "Partner declaration and consent form | Submitting",
  heading: "Partner declaration and consent form",
  modifiers: ["noHeading"]
}) %>

<%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your partner declaration and consent form",
    submitted_text: `Your partner declaration and consent form has been successfully submitted.`,
    supporting_text: `<p><b>Transaction ID: 33654432.</b></p><br/>`
  }) %>

<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Back to home",
      link: "/auth"
    }
    ]
  }) %>

<%- include(templates+"footer") %>