<%- include(templates+"header", {
  claim: "Income &amp; assets | Submitting update",
  heading: "Income &amp; assets",
  modifiers: ["noHeading"]
}) %>

<%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your partner consent update",
    submitted_text: `Your partner consent update has been successfully submitted.`,
    supporting_text: `<p><b>Transaction ID: 33654432.</b></p><br/><p>You transaction will be processed and you will be advised when it has been finalised.</p> `
  }) %>

<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Back to home",
      link: "/auth"
    },
    {
        text: "Back to profile",
        link: "/auth/profile/"
      }
    ]
  }) %>

<%- include(templates+"footer") %>