<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Register: Contact details | MyService</title>
  <% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar-register.ejs %>
  <% include ../../../partials/header-register.ejs %>
  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>

      <div class="ss-align--center">
        <img class="margin-above--large" src=" ../../docs/images/ico-submitted.svg" width="100" alt="Submitted icon">
        <h1 class="margin-above--none margin-below--none">We're confirming your details</h1>
        <h2 class="margin-above--none">Once approved, an activation code will be sent to
          <strong>
            <span class="prefillEmail"></span>
          </strong>
        </h2>
        <div class="col-md-offset-2 col-md-8 margin-below--extra ss-align">
          <h3>Next steps:</h3>
          <ol>
            <li>If you haven't already, you will need to
              <a href="/auth/mygov-login" target="_blank" rel="external">create a MyGov account</a>.
            </li>
            <li>Use the
              <b>activation code</b> from your email to link MyService to MyGov.</li>
            <li>Access MyService through your MyGov account.</li>
          </ol>
          <p class="text-fullwidth">If you don’t receive your activation code by the end of the next business day
            <a href=" ">contact&nbsp;us</a>.</p>
        </div>
      </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/'">Back to home</button>
      </div>

    </div>
  </main>
  <% include ../../../partials/footer.ejs %>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "100%";
    document.getElementById("percentage_value").textContent = "100%";

    // Add more service
    $(".btnAddService").click(function () {
      $("#addService").toggle("fast");
      $(".btnAddService").toggle("fast");
    });
    $(".btnSave").click(function () {
      $("#addService").toggle("fast");
      $("#extraTr").toggle("fast");
      $(".btnAddService").toggle("fast");
    });

    // Prefil
    $(".prefillEmail").html(localStorage.myEmail);
  </script>
</body>

</html>