<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Register: Contact details | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar-register") %>
  <%- include(partials+"header-register") %>
  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>
        <img src="../../../docs/images/ico-email-waiting.svg" alt="Email waiting icon"> Please check your email</h1>
      <p>We have emailed a temporary password to
        <strong>
          <span class="prefillEmail"></span>
        </strong>.</p>
      <fieldset>
        <legend>Log in using your temporary password</legend>
        <div class="form-group">
          <label class="uikit-text-input__label" for="password">Enter the password emailed to you</label>
          <input class="uikit-text-input" name="password" id="password" type="password" value="">
          <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
        </div>
      </fieldset>
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/'">Cancel login</button>
        <button class="uikit-btn" onclick="window.location.href = '/unauth/user/forgot-password-step3'">Log in</button>
      </div>
    </div>
  </main>
  <%- include(partials+"footer") %>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "90%";
    document.getElementById("percentage_value").textContent = "90%";

    // Add more service
    $(".btnAddService").click(function () {
      $("#addService").toggle("fast");
      $(".btnAddService").toggle("fast");
    });
    $(".btnSave").click(function () {
      $("#addService").toggle("fast");
      $("#extraTr").toggle("fast");
      $(".btnAddService").toggle("fast");
    });

    // Prefil
    $(".prefillEmail").html(localStorage.myEmail);
  </script>
</body>

</html>