<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Register: Proof of identity | MyService</title>
  <% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <script>
    window.reallyopen = window.open;
  </script>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar-register.ejs %>
  <% include ../../../partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>
      </div>
      <h1>Register
        <span>(Step 3: Proof of identity)</span>
      </h1>

      <div class="row">
        <div class="col-sm-12">

          <fieldset>
            <legend>Proof of identity 2 of 2</legend>
            <label class="uikit-text-input__label" for="idtype">Register using</label>
            <select class="uikit-text-input" name="idtype" id="idtype" type="text" value="">
              <option selected>-- Select a form of identification --</option>
              <option value="id01">Australian driver licence</option>
              <option value="id03">Australian passport</option>
              <option value="id06">Australian birth certificate</option>
              <option value="id02">Medicare card</option>
              <option value="id07">Australian marriage certificate</option>
              <option value="id05">Certificate of Australian citizenship</option>
            </select>
          </fieldset>


          <!-- Driver Licence -->
          <fieldset class="id-types id-licence" style="display: none;">
            <legend>Australian driver licence</legend>
            <!--<img src="/docs/images/driver-licence-act.png" alt="Sample driver's licence" />-->
            <div class="form-group">
              <label class="uikit-text-input__label" for="state">State or Territory driver licence issued</label>
              <select class="uikit-text-input input-half" name="state" id="state" type="text" value="">
                <option selected>-- Select state or territory --</option>
                <option name="act">Australian Capital Territory</option>
                <option name="nsw">New South Wales</option>
                <option name="nt">Northern Territory</option>
                <option name="qld">Queensland</option>
                <option name="sa">South Australia</option>
                <option name="tas">Tasmania</option>
                <option name="vic">Victoria</option>
                <option name="wa">Western Australia</option>
              </select>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="licence-number">Driver licence number</span>
              </label>
              <input class="uikit-text-input input-half" name="licence-number" id="licence-number" type="text" value="">
            </div>
          </fieldset>

          <!-- Australian passport -->
          <fieldset class="id-types id-passport" style="display: none">
            <legend>Australian passport</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="passport-number">Passport number</label>
              <input class="uikit-text-input input-half" name="passport-number" id="passport-number" type="text" value="">
            </div>
          </fieldset>

          <!-- Birth certificate -->
          <fieldset class="id-types id-birth" style="display: none">
            <legend>Australian birth certificate</legend>
            <div class="uikit-page-alerts" role="alert">
              <p>
                <strong>At least two of the following fields are required.</strong>
              </p>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="birth-registration">Registration number</label>
              <input class="uikit-text-input input-half" name="birth-registration" id="birth-registration" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="birth-registration-dd">Registration issue date
                <span class="hint">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd birth-registration-dd" type="text" name="birth-registration-dd" id="birth-registration-dd" maxlength="2" required
                aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm birth-registration-mm" type="text" name="birth-registration-mm" id="birth-registration-mm" maxlength="2" required
                aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy birth-registration-yyyy" type="text" name="birth-registration-yyyy" id="birth-registration-yyyy" maxlength="4" required
                aria-required="true" aria-label="4 digit year">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="birth-certificate">Certificate number</label>
              <input class="uikit-text-input input-half" name="birth-certificate" id="birth-certificate" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="birth-certificate-dd">Certificate issue date
                <span class="hint">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd birth-certificate-dd" type="text" name="birth-certificate-dd" id="birth-certificate-dd" maxlength="2" required aria-required="true"
                aria-label="2 digit day"> /
              <input class="uikit-text-input mm birth-certificate-mm" type="text" name="birth-certificate-mm" id="birth-certificate-mm" maxlength="2" required aria-required="true"
                aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy birth-certificate-yyyy" type="text" name="birth-certificate-yyyy" id="birth-certificate-yyyy" maxlength="4" required
                aria-required="true" aria-label="4 digit year">
            </div>
          </fieldset>

          <!-- Medicare -->
          <fieldset class="id-types id-medicare" style="display: none">
            <legend>Medicare card</legend>
            <img src="/docs/images/medicare-card.jpg"
              alt="Medicare card showing the card number, IRN number located to the left of the name on the card, and an expiry date in the format MM/YYYY" />
            <div class="form-group">
              <label class="uikit-text-input__label" for="medicare-number">Medicare card number</span>
              </label>
              <input class="uikit-text-input input-half" name="medicare-number" id="medicare-number" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="irn">Individual Reference Number (IRN)</span>
              </label>
              <input class="uikit-text-input dd" name="irn" id="irn" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="expiry-dd">Expiry date
                <span class="hint">(MM / YYYY)</span>
              </label>
              <input class="uikit-text-input mm" type="text" name="medicare-expiry-mm" id="medicare-expiry-mm" maxlength="2"> /
              <input class="uikit-text-input yyyy" type="text" name="medicare-expiry-yyyy" id="medicare-expiry-yyyy" maxlength="4">
            </div>
          </fieldset>

          <!-- Certificate of citizenship -->
          <fieldset class="id-types id-citizenship" style="display: none">
            <legend>Certificate of Australian citizenship</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="acquisition-dd">Certificate acquisition date
                <span class="hint">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd acquisition-dd" type="text" name="acquisition-dd" id="acquisition-dd" maxlength="2" required aria-required="true"
                aria-label="2 digit day"> /
              <input class="uikit-text-input mm acquisition-mm" type="text" name="acquisition-mm" id="acquisition-mm" maxlength="2" required aria-required="true"
                aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy acquisition-yyyy" type="text" name="acquisition-yyyy" id="acquisition-yyyy" maxlength="4" required aria-required="true"
                aria-label="4 digit year">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="citizenship-number">Certificate number
                <span class="hint">(or evidence number)</span>
              </label>
              <input class="uikit-text-input input-half" name="citizenship-number" id="citizenship-number" type="text" value="">
            </div>
          </fieldset>

          <!-- Marriage Certificate-->
          <% include ../../../partials/poi-marriage-certificate.ejs %>


          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/unauth/registration/register-3'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel registration</button>
            <button class="uikit-btn floated btnNext">Next</button>
          </div>

        </div>

      </div>

    </div>
  </main>
  <% include ../../../partials/cancelrego-modal.ejs %>
  <% include ../../../partials/footer.ejs %>
  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "90%";
    document.getElementById("percentage_value").textContent = "90%";

    // Choose POI fieldset
    var IdType = jQuery('#idtype');
    var select = this.value;
    IdType.change(function () {
      // Test if a POI is open already, to display warning modal
      // if ( $('.id-types').css('display') != 'none' ) {
      //   alert('div already open');
      // }
      if ($(this).val() == 'id01') {
        $('.id-types').hide();
        $('.id-licence').show();
      }
      if ($(this).val() == 'id02') {
        $('.id-types').hide();
        $('.id-medicare').show();
      }
      if ($(this).val() == 'id03') {
        $('.id-types').hide();
        $('.id-passport').show();
      }
      if ($(this).val() == 'id04') {
        $('.id-types').hide();
        $('.id-descent').show();
      }
      if ($(this).val() == 'id05') {
        $('.id-types').hide();
        $('.id-citizenship').show();
      }
      if ($(this).val() == 'id06') {
        $('.id-types').hide();
        $('.id-birth').show();
      }
      if ($(this).val() == 'id07') {
        $('.id-types').hide();
        $('.id-marriage').show();
      }
    });

    // Prefill
    $(".first-name").val(localStorage.firstName);
    $(".middle-name").val(localStorage.middleName);
    $(".last-name").val(localStorage.lastName);
    $(".dob-dd").val(localStorage.myDd);
    $(".dob-mm").val(localStorage.myMm);
    $(".dob-yyyy").val(localStorage.myYyyy);

    // Determine which path
    $('.btnNext').click(function () {
      window.reallyopen('/unauth/registration/register-4', '_blank');
      location.href = '/email/email-rego-success';
    });
  </script>


</body>

</html>