<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Register: Personal details | MyService</title>
  <% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar-register.ejs %>
  <% include ../../../partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>
      </div>

      <h1>Register <span>(Step 2: Your details)</span></h1>
      <div class="row">
        <div class="col-sm-12">
          <div id="rank-group" style="display:none;">

            <fieldset>
              <legend>Service details</legend>
              <%# <div class="form-group" id="enlistment-date" style="display:none;">
                <label class="uikit-text-input__label" for="dd-enlistment">Enlistment date
                  <span class="hint">(DD / MM / YYYY)</span>
                  <br>
                  <span class="hint">If unsure of the exact date, call the Defence Service Centre on
                    <a href="tel:1800333362">1800 333 362</a>
                  </span>
                </label>

                <input class="uikit-text-input dd" type="number" name="dd-enlistment" id="dd-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="number" name="mm-enlistment" id="mm-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="number" name="yyyy-enlistment" id="yyyy-enlistment" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </div> %>

              <div class="form-group">
                <div class="row col-xs-12 col-md-8 col-lg-7">
                  <legend class="legend-label">
                    <span id="rank"></span>
                  </legend>

                  <div class="mys-radio-group mys-radio-group--cols-3">

                    <label class="mys-radio">
                      <input class="mys-radio__control" type="radio" name="arm" value="navy">
                      <span class="mys-radio__box">Navy</span>
                    </label>

                    <label class="mys-radio">
                      <input class="mys-radio__control" type="radio" name="arm" value="army">
                      <span class="mys-radio__box">Army</span>
                    </label>

                    <label class="mys-radio">
                      <input class="mys-radio__control" type="radio" name="arm" value="airforce">
                      <span class="mys-radio__box">Air Force</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="highest-rank" id="rank">Highest rank achieved</label>
                <select class="uikit-text-input input-half" id="highest-rank" name="highest-rank">
                  <option selected>
                    -- Select highest rank --
                  </option>
                  <option value=""> --- please select an arm above --- </option>
                </select>
              </div>

              <div class="uikit-page-alerts uikit-page-alerts--info" role="alert" id="rank-info" style="display:none;">
                <!-- <h3 class="uikit-display-1">Accessibility reading</h3> -->
                <p>Your rank of <strong><span id="rank-info-chosen"></span></strong> will be displayed in MyService however while we update our systems all correspondence will be
                  sent as the rank <strong>Private</strong>.</p>
              </div>
            </fieldset>
          </div>
          <fieldset>
            <legend>Personal details</legend>

            <div id="title-group" class="form-group">
              <% include ../../../partials/global-select-list-title.ejs %>
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="first-name">Given name
                <span class="hint">(first name)</span>
              </label>
              <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required aria-required="true">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="middle-name">Middle name
                <span class="hint">(optional)</span>
              </label>
              <input class="uikit-text-input" name="middle-name" id="middle-name" type="text" value="">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="last-name">Surname
                <span class="hint">(last name)</span>
              </label>
              <input class="uikit-text-input" name="last-name" id="last-name" type="text" value="" required aria-required="true">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="dd">Date of birth
                <span class="hint">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd" type="number" name="dd" id="dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="number" name="mm" id="mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="number" name="yyyy" id="yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>

            <div id="pt-gender-fields" class="form-group">
              <% include ../../../partials/gender.ejs %>
            </div>
          </fieldset>

          <div id="contact-group">
            <br>
            <br>
            <fieldset>
              <legend>Contact details</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="email">Email address</label>
                <input class="uikit-text-input" name="email" id="email" type="email" value="">
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="confirm-email">Re-enter email address</label>
                <input class="uikit-text-input" name="confirm-email" id="confirm-email" type="email" value="">
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="phoneHome">Home phone number
                  <span class="hint">(optional)</span>
                  <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
                  <select type="phone" class="uikit-text-input uikit-text-input--select-inline" name="countryCode-home" id="countryCode-home">
                    <% include ../../../partials/phone-areacode.ejs %>
                  </select>
                  <input class="uikit-text-input input-half" name="phoneHome" id="phoneHome" type="phone" value="">
                </label>
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="phoneMobile">Mobile phone number
                  <span class="hint">(optional)</span><br>
                  <select type="phone" class="uikit-text-input uikit-text-input--select-inline" id="countryCode-mobile" name="countryCode-mobile">
                    <% include ../../../partials/phone-areacode.ejs %>
                  </select>
                  <input class="uikit-text-input input-half" name="phoneMobile" id="phoneMobile" type="phone" value="">
                </label>
              </div>
            </fieldset>
          </div>

        </div>


      </div>
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'index'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel registration</button>
        <button class="uikit-btn floated btnNext">Next</button>
      </div>
    </div>
    </div>
  </main>
  <% include ../../../partials/cancelrego-modal.ejs %>
  <% include ../../../partials/footer.ejs %>
  <!-- These are in the footer -->
  <!-- <script src="/docs/js/jquery-effects.js"></script>
          <script src="/docs/js/main.js"></script>
          <script src="/docs/js/jquery-3.2.1.min.js"></script> -->
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "30%";
    document.getElementById("percentage_value").textContent = "30%";

    // Rank wording change if user is still serving
    if ("stillserving" in sessionStorage) {
      document.getElementById('rank').innerHTML = 'Current branch of service';
    } else {
      document.getElementById('rank').innerHTML = 'Latest branch of service';
    };

    if ("stillserving" in sessionStorage) {
      $("#enlistment-date").show();
      $("#rank-group").show();
      $("#title-group").hide();
      $("#pt-gender-fields").hide();
      document.getElementById("percentage").style.width = "40%";
      document.getElementById("percentage_value").textContent = "40%";
    };

    if ("formerserving" in sessionStorage) {
      $("#enlistment-date").hide();
      $("#rank-group").show();
      $("#title-group").show();
      $("#title-group--optional").show();
    };

    if ("pmkeysyes" in sessionStorage) {
      $("#enlistment-date").show();
      $("#pt-gender-fields").hide();
      document.getElementById("percentage").style.width = "40%";
      document.getElementById("percentage_value").textContent = "40%";
    };

    if ("neverserved" in sessionStorage) {
      $("#rank-group").hide();
      $("#title-group").show();
      $("#title-group--optional").hide();
    };

    // Next button
    $('.btnNext').click(function () {
      localStorage.firstName = $('#first-name').val();
      localStorage.middleName = $('#middle-name').val();
      localStorage.lastName = $('#last-name').val();
      localStorage.myDd = $('#dd').val();
      localStorage.myMm = $('#mm').val();
      localStorage.myYyyy = $('#yyyy').val();
      localStorage.myEmail = $('#email').val();

      if ("neverserved" in sessionStorage) {
        location.href = '/unauth/registration/register-7';
      } else if ("formerserving" in sessionStorage && "2poi" in sessionStorage) {
        location.href = '/unauth/registration/register-7';
      } else {
        location.href = '/unauth/registration/register-3';
      }
    });

    // $('#highest-rank').click(function () {
    //   $("#rank-info").show();
    // });

    // Pull in the json content 
    $.ajax({
      url: '/docs/data/rank.json',
      async: false,
      dataType: 'json'
    }).done(function (data) {

      console.log('Content data back');

      var amrSet = [];
      var armArmy = [];
      var armNavy = [];
      var armAirforce = [];

      $.each(data.arm, function (index, element) {
        if (element.army) {
          armArmy = element.army;
        }
        if (element.navy) {
          armNavy = element.navy;
        }
        if (element.airforce) {
          armAirforce = element.airforce;
        }
        console.log(armArmy);
      });

      $select = $('#highest-rank');

      $('input[type=radio][name=arm]').change(function () {
        // alert(this.value);
        $select.empty();
        if (this.value === 'army') {
          amrSet = armArmy;
        }
        if (this.value === 'navy') {
          amrSet = armNavy;
        }
        if (this.value === 'airforce') {
          amrSet = armAirforce;
        }

        $.each(amrSet, function (key, value) {
          $select.append('<option value=' + key + '>' + value + '</option>');
        });

      });

      $("#highest-rank").change(function () {
        // if (500 < windowsize && windowsize < 600) {

        if (22 < this.value && this.value < 30) {
          console.log(this);
          // console.log($(this.text()));

          console.log($("#highest-rank option:selected").text());
          // $("#highest-rank option:selected").text();
          var content = $("#highest-rank option:selected").text();;


          $("#rank-info-chosen").html(content);

          $("#rank-info").show();
        } else {
          $("#rank-info").hide();
        }
      });

      // for (var key in amrSet) {
      //   var content = amrSet[key].replace(/{{studentNameFirstApostrophed}}/g, studentNameFirstApostrophed);
      //   content = content.replace(/{{studentNameFirst}}/g, studentNameFirst);
      //   $("#question_" + key).html(content);
      // }
    });

  </script>
</body>

</html>
