<!-- Summary card -->
<div id="bonds-and-debentures-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-file-certificate fa-icons"></span><span class="font-weight-heavy">Bonds &amp; debentures</span></h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('bonds-and-debentures');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Owner</b></div>
                    <div class="td">Jointly with my partner</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Investment type</b></div>
                    <div class="td">Bonds</div>
                </div>
                 <div class="tr">
                    <div class="td"><b>Country of issue</b></div>
                    <div class="td">Australia</div>
                </div>
                 <div class="tr">
                    <div class="td"><b>Current balance</b></div>
                    <div class="td">$56,788.00</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="bonds-and-debentures-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-file-certificate fa-icons"></span><span class="font-weight-heavy">Bonds &amp; debentures</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary
        small warning floated" onclick="removeSummary('bonds-and-debentures');">&nbsp;Delete item&nbsp;
        </button>
    </div>
    <div id="card-details" class="margin-below--large">
        <h4 class="margin-below--mid margin-above--none">Add any bonds and debentures<span class="partner"> held by you (and/or your partner)</span>.</h4>
        <p>This includes bonds and debentures offered by finance companies, public companies, government or government business enterprises, banks and financial in Australia and
            overseas.</p>
        <p>Do not include friendly society bonds, funeral bonds or insurance bonds.</p>
        <hr>
        <form id="myForm">
            <input type="reset" style="display:none">
            <div class="form-group margin-above--large partner">
                <label class="uikit-text-input__label" for="owner">Owner
                    <br />
                </label>
                <select class="uikit-text-input input-half" id="owner" name="owner">
                    <option selected="selected">-- Select an item --</option>
                    <option>Myself</option>
                    <option>My partner</option>
                    <option>Jointly with my partner</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="owner">Investment type
                    <br />
                </label>
                <select class="uikit-text-input input-half" id="owner" name="owner">
                    <option selected="selected">-- Select an item --</option>
                    <option>Bonds</option>
                    <option>Debentures</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="owner">Country of issue</label>
                <select class="uikit-text-input input-half" id="owner" name="owner">
                    <option>-- Select an item --</option>
                    <option>Australia</option>
                    <option>New Zealand</option>
                    <option>America</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="name-company">Name of the issuing institution</label>
                <input class="uikit-text-input input-half" name="name-company" id="name-company" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="name-company">Certificate or series number</label>
                <input class="uikit-text-input input-half" name="name-company" id="name-company" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Current balance</label>
                <select class="uikit-text-input input-half" style="max-width: 80px;" id="drop-down" name="drop-down">
                    <option>-- Select an item --</option>
                    <option data-symbol="$" data-placeholder="0.00">USD</option>
                    <option data-symbol="€" data-placeholder="0.00">EUR</option>
                    <option data-symbol="£" data-placeholder="0.00">GBP</option>
                    <option data-symbol="¥" data-placeholder="0">JPY</option>
                    <option data-symbol="$" data-placeholder="0.00">CAD</option>
                    <option data-symbol="$" data-placeholder="0.00" selected>AUD</option>
                </select>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
            </div>
            </label>
        </form>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="date-company">Issue date
                <span class="hint">(dd / mm /yyyy)</span>
            </label>
            <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
        </div>
        </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn" onclick="addSummary( 'bonds-and-debentures'); ">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>