<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('other-investments');">
  <h2 class="card__title"><span class="fal fa-file-certificate fa-icons"></span>&nbsp;&nbsp;<span class="font-weight-heavy">Other investments</span></h2>
  <p class="card__supporting-text text-fullwidth">Any other financial investments including gold, silver or platinum bullion, coins or medals that you hold for investment purposes.</p>
  <div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>