<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('foreign-income-and-assets');">
        <h2 class="card__title"><span class="fal fa-ellipsis-h-alt fa-icons"></span><span class="font-weight-heavy">Foreign income &amp; assets</span></h2><p class="card__supporting-text text-fullwidth">Foreign Assets with incoming producing potential.</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>
