<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" onClick="showNewCard('shares');">
    <a class="card-container">
        <h2 class="card__title"><icon class="fal fa-chart-line" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Shares</span></h2><p class="card__supporting-text text-fullwidth">Shares in a public company, whether listed on the Australian Stock Exchange or unlisted.</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
    </a>
</div>
