<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('annuities-and-pensions');">
  <h2 class="card__title"><span class="fal fa-box-usd fa-icons"></span><span class="font-weight-heavy">Income Streams</span></h2>
  <p class="card__supporting-text text-fullwidth">Add any income you recieve from an income stream.</p>
  <div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>