<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('gifts');">
  <h2 class="card__title">
    <span class="fal fa-gifts" style="font-size: 1.7em; vertical-align: -15%;"></span>&nbsp;&nbsp;<span class="font-weight-heavy">Gifts (deprived assets)</span></h2>
  <p class="card__supporting-text text-fullwidth">A situation where you and/or your partner reduce the value of your assets without receiving adequate consideration.</p>
  <div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>