<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" onClick="showNewCard('bank-accounts');">
    <a class="card-container">
        <h2 class="card__title"><icon class="fal fa-university" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Bank accounts</span></h2><p class="card__supporting-text text-fullwidth">Accounts with institutions such as a banks, building societies or credit unions.</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
    </a>
</div>
