<!-- Summary card -->
<div id="businesses-summary" class="plain-text-info" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed row">
      <div class="review__content--label col-sm-10">
        <h2 class="margin-above--none">
          <span class="fal fa-store fa-icons"></span><span class="font-weight-heavy">Businesses</span></h2>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Key</h4>
          </div>
          <div class="value">Value
          </div>
        </div>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Key</h4>
          </div>
          <div class="value">Value
          </div>
        </div>
      </div>
      <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" onClick="editCard('businesses');">&nbsp;Edit&nbsp;</button>
      </div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="businesses-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-store fa-icons"></span><span class="font-weight-heavy">Businesses</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated"
      onclick="removeSummary('businesses');">&nbsp;Delete item&nbsp;
    </button>
  </div>
  <div id="card-details" class="margin-below--large">
    <p class="margin-below--mid margin-above">Involvement you have and/or partner have within the last 5 years for Sole Trader, Partnership, Private Trust and Private Company businesses.</p>
    <form id="myForm">
      <input type="reset" style="display:none">
      <!-- form goes here -->

      <div class="form-group">
        <label class="uikit-text-input__label" for="business-operate">Where does the business/company/trust operate?</label>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input">
            <input class="uikit-control-input__input" type="radio" name="radio-business-operate">
            <span class="uikit-control-input__text">Within Australia</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input">
            <input class="uikit-control-input__input" type="radio" name="radio-business-operate">
            <span class="uikit-control-input__text">Overseas</span>
          </label>
        </p>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="owner">Owner
          <br />
          <span class="hint display-block">Select an item from the list.</span>
        </label>
        <select class="uikit-text-input input-half" id="owner" name="owner">
          <option>-- Select an item --</option>
          <option>You</option>
          <option>Partner</option>
          <option>Jointly</option>
        </select>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="drop-down">Type
          <br />
          <span class="hint display-block">Select an item from the list.</span>
        </label>
        <select class="uikit-text-input input-half" id="company-type" name="drop-down">
          <option>-- Select an item --</option>
          <option value="doc-private-company">Private company</option>
          <option value="doc-private-trust">Private trust</option>
          <option value="doc-disability-trust">Special disability trust</option>
          <option value="doc-partnership-sole-trader">Partnership</option>
          <option value="doc-partnership-sole-trader">Sole trader</option>
        </select>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="name-company">Name of business/company/trust</label>
        <input class="uikit-text-input input-half" name="name-company" id="name-company" type="text" value="" required aria-required="true">
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="type-company">Describe what type of business/company/trust you are operating</label>
        <textarea id="type-company" name="type-company" rows="5"></textarea>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="date-company">Date you Commenced operating the business/company/trust
          <span class="hint">(DD / MM / YYYY)</span>
        </label>
        <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
        <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="date-company-ceased">Date you ceased operating the business/company/trust
          <span class="hint">(DD / MM / YYYY)</span>
        </label>
        <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
        <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
      </div>

      <div id="doc-private-company" class="uikit-page-alerts docs uikit-page-alerts--info" role="alert-private-company">
        <h3 class="uikit-display-1 margin-below--none">Private Company documents</h3><br>
        <p class="margin-above--none margin-below--mid">Please complete Private Company form (D600) and attach in part D.</p>
        <ul>
          <li>The
            <a href="https://www.dva.gov.au/dvaforms/Documents/D0600.pdf">Private Company form (D600) </a>
          </li>
        </ul>
      </div>

      <div id="doc-private-trust" class="uikit-page-alerts docs uikit-page-alerts--info" role="alert-private-trust">
        <h3 class="uikit-display-1 margin-below--none">Private Trust documents</h3><br>
        <p class="margin-above--none margin-below--mid">Please complete Private Trust form (D601) and attach in part D.</p>
        <ul>
          <li>The
            <a href="https://www.dva.gov.au/dvaforms/Documents/D0601.pdf">Private Trust form (D601) </a>
          </li>
        </ul>
      </div>

      <div id="doc-partnership-sole-trader" class="uikit-page-alerts docs uikit-page-alerts--info" role="alert-private-trust">
        <h3 class="uikit-display-1 margin-below--none">Partnership or Sole Trader document</h3><br>
        <p class="margin-above--none margin-below--mid">Please complete details of Business form (D525) and attach in part D.</p>
        <ul>
          <li>The
            <a href="https://www.dva.gov.au/sites/default/files/dvaforms/D0525.pdf">Business form (D525)</a>
          </li>
        </ul>
      </div>

      <div id="doc-disability-trust" class="uikit-page-alerts docs uikit-page-alerts--info" role="alert-private-trust">
        <h3 class="uikit-display-1 margin-below--none">Special Disability Trust documents</h3><br>
        <p class="margin-above--none margin-below--mid">Please complete Special Disability Trust form (D9059) and attach in part D.</p>
        <ul>
          <li>The
            <a href="https://www.dva.gov.au/sites/default/files/dvaforms/D9059.pdf">Special Disability Trust form (D9059)</a>
          </li>
        </ul>
      </div>

    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('businesses');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
      onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>

<script>
  $(function () {
    $('#company-type').change(function () {
      $('.docs').hide();
      $('#' + $(this).val()).show();
    });
  });
</script>