<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('annuities-and-pensions');">
  <h2 class="card__title"><span class="fal fa-box-usd fa-icons"></span><span class="font-weight-heavy">Annuities &amp; pensions</span></h2>
  <p class="card__supporting-text text-fullwidth">Add any income you <span class="partner">and/or your partner</span> receive from an income stream.</p>
  <p class="card__supporting-text text-fullwidth"><BR/>READY FOR REVIEW</p>
  <div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>