<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('cash-held');">
        <h2 class="card__title"><span class="fal fa-money-bill-wave-alt fa-icons"></span><span class="font-weight-heavy">Cash held</span></h2><p class="card__supporting-text text-fullwidth">Notes and coins totalling more than $2,000. Do not include everyday spending.</p>
            <p class="card__supporting-text text-fullwidth"><BR/>WAITING FOR SPEC</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>

