 <!-- SUPERANNUATION START -->
                        <!-- card start -->
                        <div id="superannuation-1-summary" class="plain-text-info" style="display:none;">
                            <div class="review__wrapper">
                                <div class="review__content--item boxed row">
                                    <div class="review__content--label col-sm-10">
                                        <h2 class="margin-above--none" ><icon class="fal fa-piggy-bank" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Superannuation</span></h2>
                                    </div>
                                    <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="superannuation-1-summary-edit">&nbsp;Edit &nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="superannuation-1-start" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-piggy-bank" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Superannuation</span></h2>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="superannuation-1-start-add">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="superannuation-1-start-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="superannuation-1-edit" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-piggy-bank" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Superannuation</span></h2>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="superannuation-1-edit-update">&nbsp;&nbsp;&nbsp; Update &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="superannuation-1-edit-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button><button class="uikit-btn uikit-btn--tertiary" id="superannuation-1-edit-delete" style="background-color: #cc0000; color: #ffffff; float: right">&nbsp;&nbsp;&nbsp;
                                    Delete &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- SUPERANNUATION END -->
                        <!-- card start -->
                        <div id="financial-investments-1-summary" class="plain-text-info" style="display:none;">
                            <div class="review__wrapper">
                                <div class="review__content--item boxed row">
                                    <div class="review__content--label col-sm-10">
                                        <h2 class="margin-above--none" ><icon class="fal fa-file-certificate" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Financial investments</span></h2>
                                        <div class="key-value-group margin-above">
                                            <div class="key"><h4>Type of investment</h4>
                                            </div>
                                            <div class="value">Bullion – Gold, Silver or Platinum</div>
                                        </div>
                                        <div class="key-value-group margin-above">
                                            <div class="key"><h4>Current value</h4>
                                            </div>
                                            <div class="value">$100,000</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="financial-investments-1-summary-edit">&nbsp;Edit &nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="financial-investments-1-start" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-file-certificate" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Financial investments</span></h2>
                            <div id="card-details" class="margin-below--large">
                                <div id="sp-c1-gift-b">
                                    <div class="form-group margin-above--large">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="uikit-text-input__label" for="radio-buttons">Do you (and/or your partner) have any money invested in, or do you receive income from, any other financial investments not declared elsewhere</label>
                                                <p class="uiToolKitCheckBox margin-above">
                                                    <label class="uikit-control-input">
                                                        <input id="insuranceYes" class="uikit-control-input__input" type="radio" name="radio-ex" checked="checked">
                                                        <span class="uikit-control-input__text">Yes</span>
                                                    </label>
                                                </p>
                                                <p class="uiToolKitCheckBox">
                                                    <label class="uikit-control-input">
                                                        <input id="insuranceNo" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                        <span class="uikit-control-input__text">No</span>
                                                    </label>
                                                </p>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="uikit-text-input__label" for="radio-buttons">Who owns this asset?</label>
                                            <p class="uiToolKitCheckBox margin-above">
                                                <label class="uikit-control-input">
                                                    <input id="assetsYou" class="uikit-control-input__input" type="radio" name="radio-ex1" checked="checked">
                                                    <span class="uikit-control-input__text">You</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="assetsPartner" class="uikit-control-input__input" type="radio" name="radio-ex1">
                                                    <span class="uikit-control-input__text">Partner</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="assetsJointly" class="uikit-control-input__input" type="radio" name="radio-ex1">
                                                    <span class="uikit-control-input__text">Jointly</span>
                                                </label>
                                            </p>
                                            <label class="uikit-text-input__label" for="rank">Type of Investment</label>
                                            <select class="uikit-text-input input-half" id="vehicle-type-edit" name="vehicle-type-edit">
                                                <option selected="selected">-- Select --</option>
                                                <option>Bullion – Gold, Silver or Platinum</option>
                                                <option>Coins or Medals (Investment)</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <label class="uikit-text-input__label" for="textArea">Description</label>
                                    <textarea id="textArea" name="textArea" rows="5"></textarea>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Current value</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
                                    </fieldset>
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="financial-investments-1-start-add">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="financial-investments-1-start-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="financial-investments-1-edit" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-file-certificate" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Financial investments</span></h2>
                            <div id="card-details" class="margin-below--large">
                                <div id="sp-c1-gift-b">
                                    <div class="form-group margin-above--large">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="uikit-text-input__label" for="radio-buttons">Do you (and/or your partner) have any money invested in, or do you receive income from, any other financial investments not declared elsewhere</label>
                                                <p class="uiToolKitCheckBox margin-above">
                                                    <label class="uikit-control-input">
                                                        <input id="insuranceYes" class="uikit-control-input__input" type="radio" name="radio-ex2" checked="checked">
                                                        <span class="uikit-control-input__text">Yes</span>
                                                    </label>
                                                </p>
                                                <p class="uiToolKitCheckBox">
                                                    <label class="uikit-control-input">
                                                        <input id="insuranceNo" class="uikit-control-input__input" type="radio" name="radio-ex2">
                                                        <span class="uikit-control-input__text">No</span>
                                                    </label>
                                                </p>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="uikit-text-input__label" for="radio-buttons">Who owns this asset?</label>
                                            <p class="uiToolKitCheckBox margin-above">
                                                <label class="uikit-control-input">
                                                    <input id="assetsYou" class="uikit-control-input__input" type="radio" name="radio-ex1" checked="checked">
                                                    <span class="uikit-control-input__text">You</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="assetsPartner" class="uikit-control-input__input" type="radio" name="radio-ex1">
                                                    <span class="uikit-control-input__text">Partner</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="assetsJointly" class="uikit-control-input__input" type="radio" name="radio-ex1">
                                                    <span class="uikit-control-input__text">Jointly</span>
                                                </label>
                                            </p>
                                            <label class="uikit-text-input__label" for="rank">Type of Investment</label>
                                            <select class="uikit-text-input input-half" id="vehicle-type-edit" name="vehicle-type-edit">
                                                <option>-- Select --</option>
                                                <option selected="selected">Bullion – Gold, Silver or Platinum</option>
                                                <option>Coins or Medals (Investment)</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <label class="uikit-text-input__label" for="textArea">Description</label>
                                    <textarea id="textArea" name="textArea" rows="5">I have a lot of assets worth billions</textarea>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Current value</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="$5,999,999,999">
                                    </fieldset>
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="financial-investments-1-edit-add">&nbsp;&nbsp;&nbsp; Update &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="financial-investments-1-edit-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button><button class="uikit-btn uikit-btn--tertiary" id="financial-investments-1-edit-delete" style="background-color: #cc0000; color: #ffffff; float: right">&nbsp;&nbsp;&nbsp;
                                    Delete&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>



                         <!-- card start -->
                        <div id="home-contents-1-summary" class="plain-text-info" style="display:none;">
                            <div class="review__wrapper">
                                <div class="review__content--item boxed row">
                                    <div class="review__content--label col-sm-10">
                                        <h2 class="margin-above--none" ><icon class="fal fa-couch" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Home contents</span></h2>
                                        <div class="key-value-group margin-above">
                                            <div class="key"><h4>Market value</h4>
                                            </div>
                                            <div class="value">$28,000.00
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit">&nbsp;Edit &nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="home-contents-1-start" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-couch" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Home contents</span></h2>
                            <div id="card-details" class="margin-below--large">
                                <div id="sp-c1-gift-b">
                                    <div class="form-group margin-above--large">
                                        <label class="uikit-text-input__label" for="tags">What is the market value of your home contents? <BR /><span class="hint">The amount you would get if you attempted to sell your home content. It is not the replacement or insured value. The value will be set at $10,000 if you leave this blank.</span></label>
                                        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="home-contents-1-start-add">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-start-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="home-contents-1-edit" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-couch" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Home contents</span></h2>
                            <div id="card-details" class="margin-below--large">
                                <div id="sp-c1-gift-b">
                                    <div class="form-group margin-above--large">
                                        <label class="uikit-text-input__label" for="tags">What is the market value of your home contents? <BR /><span class="hint">The amount you would get if you attempted to sell your home content. It is not the replacement or insured value. The value will be set at $10,000 if you leave this blank.</span></label>
                                        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="$28,000.00" required aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="home-contents-1-edit-add">&nbsp;&nbsp;&nbsp; Update &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-edit-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-edit-delete" style="background-color: #cc0000; color: #ffffff; float: right">&nbsp;&nbsp;&nbsp;
                                    Delete&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="life-insurance-1-summary" class="plain-text-info" style="display:none;">
                            <div class="review__wrapper">
                                <div class="review__content--item boxed row">
                                    <div class="review__content--label col-sm-10">
                                        <h2 class="margin-above--none" ><icon class="fal fa-umbrella" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Life insurance</span></h2>
                                        <div class="key-value-group margin-above">
                                            <div class="key"><h4>Name of insurance company</h4>
                                            </div>
                                            <div class="value">NIB</div>
                                        </div>
                                        <div class="key-value-group margin-above">
                                            <div class="key"><h4>Policy number</h4>
                                            </div>
                                            <div class="value">NI999999B</div>
                                        </div>
                                        <div class="key-value-group margin-above">
                                            <div class="key"><h4>Surrender value</h4>
                                            </div>
                                            <div class="value">$1,000,000</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="life-insurance-1-summary-edit">&nbsp;Edit &nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="life-insurance-1-start" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-umbrella" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Life insurance</span></h2>
                            <div id="card-details" class="margin-below--large">
                                <div id="sp-c1-gift-b">
                                    <p>Includes conventional life insurance, whole of life insurance, endowment insurance and pure endowment insurance policies.</p>
                                    <p>Does not include products such as term insurance, trauma insurance, total and permanent disablement insurance, income protection insurance or business insurance policies, insurance bonds or friendly society bonds.</p>
                                </div>
                                <div id="sp-c1-gift-b">
                                    <div class="form-group margin-above--large">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="uikit-text-input__label" for="radio-buttons">Do you (and/or your partner) have an insurance policy that can be cashed in?</label>
                                                <p class="uiToolKitCheckBox margin-above">
                                                    <label class="uikit-control-input">
                                                        <input id="insuranceYes" class="uikit-control-input__input" type="radio" name="radio-ex" checked="checked">
                                                        <span class="uikit-control-input__text">Yes</span>
                                                    </label>
                                                </p>
                                                <p class="uiToolKitCheckBox">
                                                    <label class="uikit-control-input">
                                                        <input id="insuranceNo" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                        <span class="uikit-control-input__text">No</span>
                                                    </label>
                                                </p>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Name of insurance company</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Policy number</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Surrender value</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="uikit-text-input__label" for="radio-buttons">Who owns this policy ?</label>
                                            <p class="uiToolKitCheckBox margin-above">
                                                <label class="uikit-control-input">
                                                    <input id="insuranceYou" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                    <span class="uikit-control-input__text">You</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="insurancePartner" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                    <span class="uikit-control-input__text">Partner</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="insuranceJoint" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                    <span class="uikit-control-input__text">Jointly</span>
                                                </label>
                                            </p>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="life-insurance-1-start-add">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="life-insurance-1-start-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="life-insurance-1-edit" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-umbrella" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Life insurance</span></h2>
                            <div id="card-details" class="margin-below--large">
                                <div id="sp-c1-gift-b">
                                    <p>Includes conventional life insurance, whole of life insurance, endowment insurance and pure endowment insurance policies.</p>
                                    <p>Does not include products such as term insurance, trauma insurance, total and permanent disablement insurance, income protection insurance or business insurance policies, insurance bonds or friendly society bonds.</p>
                                </div>
                                <div id="sp-c1-gift-b">
                                    <div class="form-group margin-above--large">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="uikit-text-input__label" for="radio-buttons">Do you (and/or your partner) have an insurance policy that can be cashed in?</label>
                                                <p class="uiToolKitCheckBox margin-above">
                                                    <label class="uikit-control-input">
                                                        <input id="insuranceYes" class="uikit-control-input__input" type="radio" name="radio-ex2">
                                                        <span class="uikit-control-input__text">Yes</span>
                                                    </label>
                                                </p>
                                                <p class="uiToolKitCheckBox">
                                                    <label class="uikit-control-input">
                                                        <input id="insuranceEditNo" class="uikit-control-input__input" type="radio" name="radio-ex2" checked="checked">
                                                        <span class="uikit-control-input__text">No</span>
                                                    </label>
                                                </p>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Name of insurance company</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="NIB">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Policy number</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="NI999999B">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Surrender value</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="$1,000,000">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="uikit-text-input__label" for="radio-buttons">Who owns this policy ?</label>
                                            <p class="uiToolKitCheckBox margin-above">
                                                <label class="uikit-control-input">
                                                    <input id="insuranceYou" class="uikit-control-input__input" type="radio" name="radio-ex1">
                                                    <span class="uikit-control-input__text">You</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="insurancePartner" class="uikit-control-input__input" type="radio" name="radio-ex1">
                                                    <span class="uikit-control-input__text">Partner</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="insuranceEditJoint" class="uikit-control-input__input" type="radio" name="radio-ex1" checked="checked">
                                                    <!-- <input class="uikit-control-input__input" type="radio" checked>
                                                <input type="radio" checked="checked"> -->
                                                    <span class="uikit-control-input__text">Jointly</span>
                                                </label>
                                            </p>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="life-insurance-1-edit-add">&nbsp;&nbsp;&nbsp; Update &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="life-insurance-1-edit-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button><button class="uikit-btn uikit-btn--tertiary" id="life-insurance-1-edit-delete" style="background-color: #cc0000; color: #ffffff; float: right">&nbsp;&nbsp;&nbsp;
                                    Delete&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="vehicles-1-summary" class="plain-text-info" style="display:none;">
                            <div class="review__wrapper">
                                <div class="review__content--item boxed row">
                                    <div class="review__content--label col-sm-10">
                                        <h2 class="margin-below--none margin-above--none"><icon class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Vehicle</span></h2>
                                        <div class="key-value-group margin-above">
                                            <div class="key"><h4>Vehicle type</h4>
                                            </div>
                                            <div class="value">Car
                                            </div>
                                        </div>
                                        <div class="key-value-group">
                                            <div class="key"><h4>Description</h4>
                                            </div>
                                            <div class="value">Toyota Corolla 2010
                                            </div>
                                        </div>
                                        <div class="key-value-group">
                                            <div class="key"><h4>Market value</h4>
                                            </div>
                                            <div class="value">$10,000
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="vehicles-1-summary-edit">&nbsp;Edit &nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="vehicles-1-start" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Vehicle</span></h2>
                            <div id="card-details">
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="uikit-text-input__label" for="radio-buttons">Who owns the vehicle?</label>
                                            <p class="uiToolKitCheckBox margin-above">
                                                <label class="uikit-control-input">
                                                    <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                    <span class="uikit-control-input__text">You</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="married" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                    <span class="uikit-control-input__text">Partner</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="defacto" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                    <span class="uikit-control-input__text">Jointly</span>
                                                </label>
                                            </p>
                                        </div>
                                    </fieldset>
                                    <label class="uikit-text-input__label" for="rank">Vehicle type</label>
                                    <select class="uikit-text-input input-half" id="vehicle-type-edit" name="vehicle-type-edit">
                                        <option selected="selected">-- Select type of vehicle --</option>
                                        <option>Boat</option>
                                        <option>Car</option>
                                        <option>Caravan</option>
                                        <option>Motorbike</option>
                                        <option>Trailer</option>
                                        <option>Truck</option>
                                        <option>Other vehicle</option>
                                    </select>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Vehicle make</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Vehicle model</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Vehicle year</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <label class="uikit-text-input__label" for="tags">What is the market value of the vehicle?</label>
                                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                                </div>
                                <div class="form-group margin-above--large">
                                    <label class="uikit-text-input__label" for="tags">Please enter the amount outstanding if any money is owed on this vehicle</label>
                                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="vehicles-1-start-add">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="vehicles-1-start-cancel">&nbsp;&nbsp;&nbsp;
                                    Cancel &nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->
                        <!-- card start -->
                        <div id="vehicles-1-edit" class="boxed margin-above margin-below" style="display: none;">
                            <h2 class="margin-above--none" ><icon class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Vehicle</span></h2>
                            <div id="card-details">
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="uikit-text-input__label" for="radio-buttons">Who owns the vehicle?</label>
                                            <p class="uiToolKitCheckBox margin-above">
                                                <label class="uikit-control-input">
                                                    <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                    <span class="uikit-control-input__text">You</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="married" class="uikit-control-input__input" type="radio" name="radio-ex">
                                                    <span class="uikit-control-input__text">Partner</span>
                                                </label>
                                            </p>
                                            <p class="uiToolKitCheckBox">
                                                <label class="uikit-control-input">
                                                    <input id="defacto" class="uikit-control-input__input" type="radio" name="radio-ex" checked="checked">
                                                    <span class="uikit-control-input__text">Jointly</span>
                                                </label>
                                            </p>
                                        </div>
                                    </fieldset>
                                    <label class="uikit-text-input__label" for="rank">Vehicle type</label>
                                    <select class="uikit-text-input input-half" id="vehicle-type-edit" name="vehicle-type-edit">
                                        <option>-- Select type of vehicle --</option>
                                        <option>Boat</option>
                                        <option selected="selected">Car</option>
                                        <option>Caravan</option>
                                        <option>Motorbike</option>
                                        <option>Trailer</option>
                                        <option>Truck</option>
                                        <option>Other vehicle</option>
                                    </select>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Vehicle make</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="Toyota">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Vehicle model</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="Corolla">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <fieldset>
                                        <label class="uikit-text-input__label">Vehicle year</label>
                                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="2010">
                                    </fieldset>
                                </div>
                                <div class="form-group margin-above--large">
                                    <label class="uikit-text-input__label" for="tags">What is the market value of the vehicle?</label>
                                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="10,000.00" required aria-required="true">
                                </div>
                                <div class="form-group margin-above--large">
                                    <label class="uikit-text-input__label" for="tags">Please enter the amount outstanding if any money is owed on this vehicle</label>
                                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
                                </div>
                            </div>
                            <hr>
                            <div id="buttonset2" class="form-group margin-above--none">
                                <button class="uikit-btn" id="vehicles-1-edit-update">&nbsp;&nbsp;&nbsp; Update &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" id="vehicles-1-edit-cancel">&nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;</button> <button class="uikit-btn uikit-btn--tertiary" id="vehicles-1-edit-delete" style="background-color: #cc0000; color: #ffffff; float: right">&nbsp;&nbsp;&nbsp;
                                    Delete&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                        <!-- card end -->