<!-- Summary card -->
<div id="cash-held-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label col-sm-10">
                <h2 class="margin-above--none">
                        <icon class="fal fa-university" style="font-size: 1.7em; vertical-align: 0%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Cash held</span></h2>
                <div class="key-value-group margin-above">
                    <div class="key">
                        <h4>Account type</h4>
                    </div>
                    <div class="value">Savings account
                    </div>
                </div>
                <div class="key-value-group margin-above">
                    <div class="key">
                        <h4>Account owner</h4>
                    </div>
                    <div class="value">Jointly owned
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" onClick="editCard('cash-held');">&nbsp;Edit&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="cash-held-card" class="boxed margin-above margin-below" style="display: none;">
    <h2 class="margin-above--none" ><icon class="fal fa-university" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Cash held</span></h2>
    <div id="card-details" class="margin-below--large">
        <div id="sp-c1-gift-b">
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="tags">
                    <p class="margin-below--mid">Include term deposit, joint accounts, accounts you hold under any other name or money held in church or charitable development funds within Australia and Overseas.</p>
                </label>
                <p class="margin-below--mid">Include details of the account your pension will be paid into.</p>
                <p>Do NOT include bonds and debentures or any superannuation funds you hold. You will be asked about these in a later question.</p>
            </div>
        </div>
        <fieldset>
            <div class="form-group">
                <label class="uikit-text-input__label" for="radio-buttons">Who owns the account?</label>
                <p class="uiToolKitCheckBox margin-above">
                    <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-bank-owner">
                        <span class="uikit-control-input__text">You</span>
                    </label>
                </p>
                <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                        <input id="married" class="uikit-control-input__input" type="radio" name="radio-bank-owner">
                        <span class="uikit-control-input__text">Your partner</span>
                    </label>
                </p>
                <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                        <input id="defacto" class="uikit-control-input__input" type="radio" name="radio-bank-owner">
                        <span class="uikit-control-input__text">Jointly owned</span>
                    </label>
                </p>
            </div>
        </fieldset>
        <div class="form-group">
            <label class="uikit-text-input__label" for="drop-down">Account type
                <br />
            </label>
            <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                <option>-- Select an item --</option>
                <option>Cash management account</option>
                <option>Cheque account</option>
                <option id="church-account">Church/Charity account</option>
                <option>Savings account</option>
                <option>Term deposit</option>
                <option>Overseas account</option>
            </select>
        </div>
        <div class="bank-details-container">
        </div>
        <div class="form-group">
            <label class="uikit-text-input__label" for="Input field">Current balance </label>
            <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
        </div>
        </label>
        <select class="uikit-text-input input-half" style="max-width: 80px;" id="drop-down" name="drop-down">
            <option>-- Select an item --</option>
            <option data-symbol="$" data-placeholder="0.00">USD</option>
            <option data-symbol="€" data-placeholder="0.00">EUR</option>
            <option data-symbol="£" data-placeholder="0.00">GBP</option>
            <option data-symbol="¥" data-placeholder="0">JPY</option>
            <option data-symbol="$" data-placeholder="0.00">CAD</option>
            <option data-symbol="$" data-placeholder="0.00" selected>AUD</option>
        </select>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button class="uikit-btn" onclick="addSummary('cash-held');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button><button id="deleteButton" class="uikit-btn uikit-btn--tertiary" style="background-color: #cc0000; color: #ffffff; float: right" onclick="removeSummary('bank-accounts');">&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>

