<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('bank-accounts');">
        <h2 class="card__title"><span class="fal fa-university fa-icons"></span><span class="font-weight-heavy">Bank accounts</span></h2><p class="card__supporting-text text-fullwidth">Add all accounts held with institutions such as a banks, building societies or credit unions<span class="partner"> that belong to you (and/or your partner)</span>.</p>
            <p class="card__supporting-text text-fullwidth"><BR/>UX done spec v0.12</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>
