<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('real-estate');">
        <h2 class="card__title"><span class="fal fa-briefcase fa-icons"></span><span class="font-weight-heavy">Real estate</span></h2><p class="card__supporting-text text-fullwidth">Properties other than the home you live in.</p>
            <p class="card__supporting-text text-fullwidth"><BR/>WAITING FOR SPEC</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>
