<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('other-personal-assets');">
  <h2 class="card__title">
    <span class="fal fa-ellipsis-h-alt fa-icons"></span><span class="font-weight-heavy">Other personal assets</span>
  </h2>
  <p class="card__supporting-text text-fullwidth">Any other valuable assets <span class="partner">belonging to you (and/or your partner)</span> such as jewellery, collections and antiques. </p>
  <p class="card__supporting-text text-fullwidth"><BR/>UX done spec v0.2</p>
  <div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>