<!-- Summary card -->
<div id="shares-summary" class="plain-text-info" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed row">
      <div class="review__content--label col-sm-10">
        <h2 class="margin-above--none">
          <span class="fal fa-file-certificate fa-icons"></span>&nbsp;&nbsp;<span class="font-weight-heavy">Shares</span></h2>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Key</h4>
          </div>
          <div class="value">Value
          </div>
        </div>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Key</h4>
          </div>
          <div class="value">Value
          </div>
        </div>
      </div>
      <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" onClick="editCard('shares');">&nbsp;Edit&nbsp;</button>
      </div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="shares-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-file-certificate fa-icons"></span>&nbsp;<span class="font-weight-heavy">Shares</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary
        small warning floated" onclick="removeSummary('shares');">&nbsp;Delete
      item&nbsp;</button>
  </div>
  <div id="card-details" class="margin-below--large">
    <p class="margin-below--mid margin-above"><strong>Add any shares opinions, rights, convertible notes or other
        securities in a public company, whether listed on the Australian Stock Exchange or unlisted that you and or your partner
        own?</strong> </p>
    <p>This includes listed and unlisted shares. It includes shares traded in Australia and overseas markets and in the exempt stock markets. </p>
    <hr>
    <form id="myForm">
      <input type="reset" style="display:none">
      <!-- form goes here -->
      <div class="form-group">
        <label class="uikit-text-input__label" for="owner">Type of Shares
          <br />
        </label>
        <select class="uikit-text-input input-half" id="owner" name="owner">
          <option>-- Select an item --</option>
          <option>Listed</option>
          <option>Unlisted</option>
          <option>Options</option>
          <option>Futures</option>
          <option>Warrants</option>
          <option>Structured product</option>
          <option>Other</option>
        </select>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="name-company">Share code</label>
        <input class="uikit-text-input input-half" name="name-company" id="name-company" type="text" value="" required aria-required="true">
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="name-company">Company Name</label>
        <input class="uikit-text-input input-half" name="name-company" id="name-company" type="text" value="" required aria-required="true">
      </div>


      <div class="form-group">
        <label class="uikit-text-input__label" for="name-company">Total number of shares</label>
        <input class="uikit-text-input input-half" name="name-company" id="name-company" type="text" value="" required aria-required="true">
      </div>

      <div>
        <div class="form-group margin-above--large">
          <label class="uikit-text-input__label legend-label margin-below--none" id="question_gender">Were these shares issued in Australia?
          </label>
        </div>
        <div class="radio-toggle">
          <label class="on label-left" for="shares-yes">
            <input id="shares-yes" name="shares" type="radio">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="shares-no">
            <input id="shares-no" name="shares" type="radio">
            <span>No</span>
          </label>
        </div>
      </div>



    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('shares');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
      onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>