<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('other-payments');">
        <h2 class="card__title"><icon class="fal fa-ellipsis-h-alt" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Other payments</span></h2><p class="card__supporting-text text-fullwidth">Any other payments including: gratuities, payment in kind (such as non-monetary payments for services) and income from an estate.
        </p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>
