<!-- Summary card -->
<div id="self-managed-super-summary" class="plain-text-info" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed row">
      <div class="review__content--label col-sm-10">
        <h2 class="margin-above--none">
          <span class="fal fa-file-certificate fa-icons"></span><span class="font-weight-heavy">Self Managed Super Fund (SMSF)</span></h2>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Key</h4>
          </div>
          <div class="value">Value
          </div>
        </div>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Key</h4>
          </div>
          <div class="value">Value
          </div>
        </div>
      </div>
      <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" onClick="editCard('self-managed-super');">&nbsp;Edit&nbsp;</button>
      </div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="self-managed-super-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-file-certificate fa-icons"></span><span class="font-weight-heavy">Self Managed Super Fund (SMSF)</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated"
      onclick="removeSummary('self-managed-super');">&nbsp;Delete item&nbsp;
    </button>
  </div>
  <div id="card-details" class="margin-below--large">
    <p class="margin-below--mid margin-above ">These are superannuation funds you have setup yourself (also referred to as Do It Yourself or DIY Funds).</p>
    <form id="myForm">
      <input type="reset" style="display:none">
      <!-- form goes here -->
      <div class="form-group">
        <label class="uikit-text-input__label" for="smsf">Are you (and/or your partner) a member of a self managed superannuation fund (SMSF) or a small APRA fund (SAF)?</label>
        <div class="radio-toggle">
          <label class="on label-left" for="yes-smsf">
            <input id="yes-smsf" type="radio" name="smsf">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="no-smsf">
            <input id="no-smsf" type="radio" name="smsf">
            <span>No</span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="radio-account">Who owns the account?</label>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input">
            <input class="uikit-control-input__input" type="radio" name="radio-account">
            <span class="uikit-control-input__text">You</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input">
            <input class="uikit-control-input__input" type="radio" name="radio-account">
            <span class="uikit-control-input__text">Your partner</span>
          </label>
        </p>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="radio-fund">Type of Fund</label>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input">
            <input class="uikit-control-input__input" type="radio" name="radio-fund">
            <span class="uikit-control-input__text">Self-Managed Superannuation Fund (SMSF)</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input">
            <input class="uikit-control-input__input" type="radio" name="radio-fund">
            <span class="uikit-control-input__text">Small APRA fund (SAF)</span>
          </label>
        </p>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="income-stream">Do you (and/or your partner) draw an income stream from the SMSF or SAF in the form of an account-based pension, allocated
          pension, transition to retirement pension, market linked pension, lifetime or life expectancy pension/annuity?</label>
        <div class="radio-toggle">
          <label class="on label-left" for="yes-income-stream">
            <input id="yes-income-stream" type="radio" name="income-stream">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="no-income-stream">
            <input id="no-income-stream" type="radio" name="income-stream">
            <span>No</span>
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="smsf-real-estate">Does the SMSF or SAF hold any real estate?</label>
        <div class="radio-toggle">
          <label class="on label-left" for="yes-smsf-real-estate">
            <input id="yes-smsf-real-estate" type="radio" name="smsf-real-estate">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="no-smsf-real-estate">
            <input id="no-smsf-real-estate" type="radio" name="smsf-real-estate">
            <span>No</span>
          </label>
        </div>
      </div>

      <div class="uikit-page-alerts" role="alert">
        <p>You will need to attach all supporting documents related to the SMSF in the documents section.</p>
      </div>

    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('self-managed-super'); ">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
      onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>