
<!-- Summary card -->
<div id="cash-held-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-money-bill-wave-alt fa-icons"></span><span class="font-weight-heavy">Cash held</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('cash-held');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Owner</b></div>
                    <div class="td">Myself</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Amount</b></div>
                    <div class="td">$3672.00</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="cash-held-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;"><span class="fal fa-money-bill-wave-alt" style="font-size: 1.7em; vertical-align: -15%;"></span>&nbsp;<span class="font-weight-heavy">Cash
                held
            </span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('cash-held');">&nbsp;Delete item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
        <h4 class="margin-below--mid margin-above--none">Add any cash holdings totalling more than $2000<span class="partner"> belonging to you (and/or your partner)</span>.</h4>
        <p class="margin-below--mid">Cash holdings includes coins you have in a safety deposit box, or you are holding instead of putting into a bank account, or someone else is looking after for you totalling more than $2000.</p>
        <p class="margin-below--mid">Do not include cash you have for day-to-day shopping and other day-to-day expenses.</p>
        <hr>
        <form id="myForm">
            <input type="reset" style="display:none">
            <div class="form-group margin-above--large partner">
                <label class="uikit-text-input__label" for="drop-down">Owner</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select an item --</option>
                    <option>Myself</option>
                    <option>My partner</option>
                    <option>Jointly with my partner</option>
                </select>
            </div>
            <div class="form-group margin-above--large" id="market-value">
                <label class="uikit-text-input__label" for="Input field">Amount</label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
            </div>
        </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn" onclick="addSummary('cash-held');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>