<div id="open-modal" class="modal-window">
	<div>
		<h2>Your session is about to expire.</h2>
		<p>You're being automatically logged out due to inactivity. Please choose to stay logged in or to logoff. Otherwise, you will be logged off automatically in <b><font color="red">60 seconds</font></b>.</p>
		<div class="modal-buttons">
			<button class="uikit-btn floated uikit-btn--tertiary" onclick="window.location.href = '/'">Log off</button>
			<button class="uikit-btn floated " onclick="window.location.href = '#modal-close'">Stay logged in</button>
		</div>
	</div>
</div>


