<div id="open-modal-unsaved-changes" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">Close</a>
    <h2>You are editing information on this page</h2>
    <p>Are you sure you want to leave and lose your unsaved changes?</p>
    <div class="modal-buttons">
      <button class="uikit-btn" onclick="window.location.href = '/profile'">Leave page</button>
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Continue editing</button>

    </div>
  </div>
</div>