<select class="uikit-text-input input-half" name="drop-down">
<option selected="">-- Select option --</option>
<option>Admiral</option>
<option>Captain</option>
<option>Lance Bombardier</option>
<option>Warrant Officer of the Air Force</option>
<option>Bombardier</option>
<option>Leading Aircraftwoman</option>
<option>Aircraftwoman</option>
<option>Lt General (Retired)</option>
<option>No Preferred Title</option>
<option>Chief Inspector</option>
<option>Colonel</option>
<option>Commander</option>
<option>Commissioner</option>
<option>Commodore</option>
<option>Dame</option>
<option>Dr</option>
<option>Emeritus Professor</option>
<option>Father</option>
<option>Air Commodore</option>
<option>General</option>
<option>General Sir</option>
<option>Group Captain</option>
<option>His Excellency</option>
<option>His Honour Judge</option>
<option>Honourable Mr Justice</option>
<option>Honourable Doctor</option>
<option>Honourable Sir</option>
<option>Judge</option>
<option>Lady</option>
<option>Air Marshal</option>
<option>Lieutenant Colonel</option>
<option>Lieutenant Commander</option>
<option>Lieutenant</option>
<option>Lord</option>
<option>Lieutenant Colonel (Retired)</option>
<option>Lieutenant Commander (Retired)</option>
<option>Lt General</option>
<option>Lt General Sir</option>
<option>Major General Sir</option>
<option>Major</option>
<option>Air Vice Marshal</option>
<option>Major General</option>
<option>Matron</option>
<option>Miss</option>
<option>Monsignor</option>
<option>Mr</option>
<option>Mr Justice</option>
<option>Mrs</option>
<option>Ms</option>
<option>Professor</option>
<option>Professor Sir</option>
<option>Archdeacon</option>
<option>Rear Admiral</option>
<option>Reverend Professor</option>
<option>Reverend</option>
<option>Reverend Brother</option>
<option>Reverend Canon</option>
<option>Reverend Doctor</option>
<option>Reverend Father</option>
<option>Reverend Mr</option>
<option>Right Reverend</option>
<option>Right Reverend Monsignor</option>
<option>Baroness</option>
<option>Senator</option>
<option>Sir</option>
<option>Squadron Leader (Retired)</option>
<option>Squadron Leader</option>
<option>Surgeon Captain</option>
<option>Surgeon Commander</option>
<option>The Honourable</option>
<option>The Venerable</option>
<option>Vice Admiral</option>
<option>Vice Admiral Sir</option>
<option>Bishop</option>
<option>Wing Commander</option>
<option>Wing Commander (Retired)</option>
<option>Corporal</option>
<option>Lance Corporal</option>
<option>2nd Lieutenant</option>
<option>Private</option>
<option>RSM</option>
<option>Sergeant</option>
<option>Staff Sergeant</option>
<option>Warrant Officer Class 1</option>
<option>Brigadier</option>
<option>Warrant Officer Class 2</option>
<option>Able Seaman</option>
<option>Acting Sub Lieutenant</option>
<option>Chief Petty Officer</option>
<option>Leading Seaman</option>
<option>Midshipman</option>
<option>Petty Officer</option>
<option>Seaman</option>
<option>Sub Lieutenant</option>
<option>Warrant Officer</option>
<option>Canon</option>
<option>Warrant Officer of the Navy</option>
<option>Aircraftman</option>
<option>Air Chief Marshal</option>
<option>Flight Lieutenant</option>
<option>Flight Sergeant</option>
<option>Flying Officer</option>
<option>Leading Aircraftman</option>
<option>Non-Commissioned Officer Cadet</option>
<option>Officer Cadet</option>
<option>Pilot Officer</option>
<option>Brother</option>
<option>Major Retired</option>
</select>