<%#- include(templates+"header", {
  claim: "Education Assistance",
  heading: "Education Assistance"
})  %>
<%- include(partials+"components/form-partials/radio-icon", {
  label: "Select an option to get started",
  id: "stud-student-or-parent-radio",
  boxes: [
    {
      text: "I'm a student",
      icon: {
        icon: "fa-user",
        weight: "fal"
      }
    },
    {
      text: "I'm a parent / guardian of a student",
      icon: {
        icon: "fa-user",
        weight: "fal"
      }
    }
  ]
  }); %>

<div class="uikit-page-alerts uikit-page-alerts--error" role="alert" id="edu-student-alert-u16" hidden>
  <span>Students under the age of 16 need their parent or guardian to make the claim.</span>
</div>
