<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim summary | MyService</title>
  <link href="/docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main>
    <section>
      <div class="section-feature section-feature--bg section-feature--bg-hero">
        <div class="container" id="main-content">

          <h1>
            <span class="heading">Claim summary</span>
          </h1>



          <div class="mys-centred-item receipt-status">
            <h2 class="status-icon status-icon--large status-approved page-header">
              John's Qualifying Service claim has been approved </h2>
          </div>

          <div class="flex-container flex-container--wrap">
            <div class="flex-item flex-item--centred receipt">
              <div class="receipt__heading ">

                <h4 class="right floated margin-below--none margin-above--none padding-below--none ss-align ms-align--right">
                  <b>Claim Id: 123456789</b>
                </h4>

                <h3 class="margin-above--none ss-align">
                  Approved on 3 May 2018
                </h3>

              </div>
              <div class="receipt__content">
                <h2 class="margin-above--none">Qualifying Service</h2>

                <p>Your involvement in warlike or hostile operational service with the Australian Defence Force means you
                  have been approved for Qualifying Service.</p>
                <p>You may be entitled to:
                  <ul>
                    <li>Service Pension at 60 years of age</li>
                    <li>exclusion of DVA Disability Pension income from the calculation of aged care fees</li>
                    <li>Commonwealth Seniors Healthcare Card</li>
                    <li>DVA Gold Card at 70 years of age</li>
                  </ul>
                  For more information go to the
                  <a href="https://www.dva.gov.au/tags/qualifying-service" rel="external">DVA website</a>.
                </p>
              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">See all my claims</button>
                <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
  </main>


  <%- include(partials+"components/layout/footer") %>

</body>

</html>