<%- include(templates+"header", {
  title: "Lump sum advance",
  heading: "Lump sum advance request"
})%>
<main>
  <section>
    <div class="container container--8-column" id="claim-activity">
      <section class="widget margin-above">
        <div class="row widget-content widget--justclaims">
          <div class="col-md-12">
            <table class="table-claims table-responsive">
              <thead>
                <tr>
                  <th class="widget-activity">History of lump sum advance history</th>
                  <th class="widget-actions">Actions</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <p class="status-icon status-approved">
                    <legend class="legend-label" for="radio-buttons">$500 request</legend>
                    <legend class="legend-label" for="radio-buttons">Approved <span class="hint"> - 10 January
                        2018</span></legend>
                  </p>
                </td>
                <td class="widget-actions">
                  <button class="uikit-btn small uikit-btn--tertiary"
                    onclick="window.location.href = 'view'">View</button>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="status-icon status-approved">
                    <legend class="legend-label" for="radio-buttons">$500 request</legend>
                    <legend class="legend-label" for="radio-buttons">Approved <span class="hint"> - 13 May 2018</span>
                    </legend>
                  </p>
                </td>
                <td class="widget-actions">
                  <button class="uikit-btn small uikit-btn--tertiary"
                    onclick="window.location.href = 'view'">View</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>
      <hr>
      <div class="form-group">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/lsa/request'">Back to
          lump sum advance request</button>
      </div>
      <%- include(partials+"content/modals/claims-dhoas-start-modal") %>
    </div>
  </section>
</main>
<%- include(templates+"footer") %>

<script>
  $(".toggle-arrow").click(function () {
    $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
  });

  function goToByScroll(id) {
    id = id.replace("-link", "");
    $('html,body').animate({
      scrollTop: $("#" + id).offset().top
    },
      'slow');
  }
  $("#claim-activity-link").click(function (e) {
    e.preventDefault();
    goToByScroll($(this).attr("id"));
  });

  $("#entitlements").change(function () {
    if ($('#entitlements :selected').val() == "mentalhealth") {
      $("#entitlement-mh").removeClass('action-group__reveal--closed');
      $("#entitlement-mh").addClass('action-group__reveal--open');
    } else {
      $("#entitlement-mh").removeClass('action-group__reveal--open');
      $("#entitlement-mh").addClass('action-group__reveal--closed');
    }
    if ($('#entitlements :selected').val() == "education") {
      $("#entitlement-student").removeClass('action-group__reveal--closed');
      $("#entitlement-student").addClass('action-group__reveal--open');
    } else {
      $("#entitlement-student").removeClass('action-group__reveal--open');
      $("#entitlement-student").addClass('action-group__reveal--closed');
    }
    if ($('#entitlements :selected').val() == "afi") {
      $("#entitlement-afi").removeClass('action-group__reveal--closed');
      $("#entitlement-afi").addClass('action-group__reveal--open');
    } else {
      $("#entitlement-afi").removeClass('action-group__reveal--open');
      $("#entitlement-afi").addClass('action-group__reveal--closed');
    }
    if ($('#entitlements :selected').val() == "dhoas") {
      $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--closed');
      $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--open');
    } else {
      $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--open');
      $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--closed');
    }
  });
</script>

</body>


</html>