<%- include(templates+"header", {
  title: "Lump sum advance",
  heading: "Request a lump sum advance"
})%>
  <main>
    <section>
      <div class="container container--8-column" id="claim-activity">
        <section class="widget margin-above">
          <div class="row widget-content widget--justclaims">
            <div class="col-md-12">
              <table class="table-claims table-responsive">
                <thead>
                  <tr>
                    <th class="widget-activity">Latest lump sum advance requests</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                </thead>
                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      <legend class="legend-label" for="radio-buttons">$600.00 request</legend>
                      <legend class="legend-label" for="radio-buttons">Approved <span class="hint"> - 10 January 2018</span></legend>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <!-- so i have the href location later <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button> -->
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'view'">View</button>
                  </td>
                </tr>

                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      <legend class="legend-label" for="radio-buttons">$348.00 request</legend>
                      <legend class="legend-label" for="radio-buttons">Approved <span class="hint"> - 13 May 2018</span></legend>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'view'">View</button>
                  </td>
                </tr>

              </table>


            </div>
          </div>
        </section>

        <div class="uikit-page-alerts uikit-page-alerts--info panel-margin" role="alert">
          <p>The next date you can make a request is <strong> 21 September 2018.</strong></p>
          <p>To pay this amount back earlier, or if you have issues with your repayments, please call <a href="tel:1800 555 254">1800 555 254</a></p>
        </div>
        <hr>
        <div class="form-group">
          <!-- <a href="/auth/claim/panel-feedbacksubmitting"><button id="submit" class="uikit-btn btnNext">Submit feedback</button></a> -->
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/payments'">Back to payments</button>
        </div>

        <%- include(partials+"content/modals/claims-dhoas-start-modal") %>

      </div>

    </section>
  </main>
  <%- include(templates+"footer") %>


</body>


</html>