<div id="open-delete-modal" class="modal-window">
	<div>
		<h2 class="mys h2 margin-above--none margin-below--mid">Delete commemoration preferences?</h2>
		<p>This action cannot be undone.</p>
		<div class="modal-buttons">
			<button class="uikit-btn" onclick="window.location.href = '/auth/profile/commemoration'">Delete preferences</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
		</div>
	</div>
</div>
