<div class="has-contact">
  <h3>Contact details</h3>

  <%- include(forms+"yes_no", {
    customClass: "contact-details-2",
    label: "Does your partner wish to use your contact details?",
    no_toggle: ".contact-details-block-2"
  }) %>

  <div class="contact-details-block-2" hidden>
    <%- include(forms+"prepop/phone-number", {
      label: "Partner's phone number"
    }) %>

    <%- include(forms+"text", {
      label: "Partner's email address"
    }) %>
  </div>
</div>