<div class="has-contact">
  <h3>Partner's contact details</h3>

  <%- include(forms+"prepop/phone-number", {
      label: "Partner's phone number"
    }) %>

  <%- include(forms+"text", {
      label: "Partner's email address"
    }) %>
</div>