<%- include(forms+"notice", {
  customClass: "divorce-blocker",
  modifiers: ["hidden"],
  type: "error",
  message: `<p>You are unable to continue online, call DVA to discuss your eligibility on <span class="dva-phone"></span>.</p>
            <p>For more information go to <a target="_blank" rel="external" href="https://www.dva.gov.au/factsheet-is126-commonwealth-seniors-health-card">Factsheet IS126 - Commonwealth Seniors Health Card</a>.</p>`
}) %>