<div class="has-contact">
  <h3>Partner's contact details</h3>

  <div class="form-group">
    <label class="uikit-text-input__label" for="phoneHome">Partner's phone number
      <span class="hint">(optional)</span>
      <span class="hint display-block margin-below--none">Please include area code (for example, "03" for Victoria or
        "04" for
        Mobile)</span>
      <select type="phone" class="uikit-text-input uikit-text-input--select-inline" name="countryCode-home"
        id="countryCode-home">
        <%- include(partials+"content/phone-areacode") %>
      </select>
      <input class="uikit-text-input input-half" name="phoneHome" id="phoneHome" type="phone" value="">
    </label>
  </div>

  <%- include(forms+"text", {
      label: "Partner's email address"
    }) %>
</div>