  <span class="wrapText" style="display: block;">
    <h3 class="ui header">
      What have you been medically diagnosed with? (Required)
    </h3>
    <p>
      Enter the term provided by your GP or Specialist used to describe the condition you would like to be covered for, for example 'Acute meniscal tear of the knee'.
    </p>

    <!-- SimpleTypeahead component starts here -->
    <div class="" role="search" aria-label="medical condition dropdown" aria-haspopup="true" aria-autocomplete="listbox" style="z-index: 10;">

      <!-- Could be removed, although could it act as a faded background text before a user types something in? -->
      <label class="ui label hidden" for="medicalCondition">
        medicalCondition
      </label>
      <input type="text" class="uikit-text-input input-half" id="medicalCondition" name="medicalCondition" placeholder="" autocomplete="off" role="presentation" value="achilles tendinopathy and burstitis" />
      <div class="menu transition visible" role="menu" aria-expanded="false">

        <!-- Note that all child elements here are programatically populated using JavaScript.-->
        <div class="item" aria-hidden="true" aria-live="rude"><span role="menuitem" class="ss-typeahead-list-item__value">accommodation disorder</span></div>
        <div class="item" aria-hidden="true" aria-live="rude"><span role="menuitem" class="ss-typeahead-list-item__value">achilles bursitis involving the deep bursa</span></div>

        <!-- Special note for active selected classes: this changes based on Javascript-driven changes -->
        <div class="item active selected" aria-hidden="true" aria-live="rude"><span role="menuitem" class="ss-typeahead-list-item__value">achilles tendinopathy and bursitis</span></div>
        <div class="item" aria-hidden="true" aria-live="rude"><span role="menuitem" class="ss-typeahead-list-item__value">achilles tendinosis</span></div>
        <div class="item" aria-hidden="true" aria-live="rude"><span role="menuitem" class="ss-typeahead-list-item__value">adenosquamous-carcinoma of the stomach</span></div>
        <div class="item" aria-hidden="true" aria-live="rude"><span role="menuitem" class="ss-typeahead-list-item__value">age-related macular degeneration</span></div>
        <div class="item" aria-hidden="true" aria-live="rude"><span role="menuitem" class="ss-typeahead-list-item__value">age-related maculopathy</span></div>
        <div class="item" aria-hidden="true" aria-live="rude"><span role="menuitem" class="ss-typeahead-list-item__value">allergic contact dermatitis</span></div>
      </div>
    </div>

    <div>
      This text should appear behind the dropdown menu options but directly below the input field.
    </div>
  </span>
