          <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
              <ul class="uikit-link-list uikit-link-list--inline">
                <li><a href="/auth">Home</a></li>
                <li><a href="/auth/profile">My profile</a></li>
                <li><a href="profile-assets">Income and assets</a></li>
              </ul>
            </nav>
