<footer class="uikit-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <section class="uikit-footer__end">
            <p class="footer-text"><small>&copy; Commonwealth of Australia</small></p>
          </section>
        </div>
      </div>
    </div>
  </footer>