      <h1>Forgot password</h1>
      <p>To reset your password, enter your email address so we can send you a verification code.</p>
      <div class="form-group input-half">
        <label class="uikit-text-input__label" for="email">Email</label>
        <input class="uikit-text-input" name="email" id="email" type="email" value="">
        <button id="sendcodeBtn" class="uikit-btn uikit-btn--tertiary send-code" onclick="window.location.href = '#open-verification-modal'">Send code</button>
      </div>
      <div class="form-group input-half">
        <label class="uikit-text-input__label" for="code">Enter verification code</label>
        <input class="uikit-text-input input-half" name="code" id="code" type="text" value="">
      </div>
      <div class="pagination">
        <button class="uikit-btn" onclick="window.location.href = '/unauth/user/forgot-password-step3'">Next</button>
        <button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '/'">Cancel</button>
      </div>
