<header class="uikit-header uikit-header--dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <a href="/"><img src="docs/images/logo-dva.svg" alt="Department of Veteran's Affairs logo" /></a>
          <hr class="separator" />
          <h1>MyService<sup class="beta large">Beta</sup></h1>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </header>