<div class="container-alert container-alert-outage uikit-page-alerts--warning">
	<div class="container header-system-message">
	  <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
	    <p><strong>Planned outage</strong></p>
	    <p>On 01 October 2017 we're performing system upgrades to MyService. This will occur between 10:00 AM AEST 01 October 2017 and 11:00 AM AEST 01 October.</p>
	  </div>
	</div>
</div>