<div role="dialog" aria-hidden="true" aria-labelledby="verificationModalTitle" aria-describedby="verificationModalDesc" id="open-verification-modal" class="modal-window">
  <div>
    <a href="#close-modal" title="Close" class="modal-close" id="verificationModalCloseBtn">Close</a>
    <h2 id="verificationModalTitle">Verification code sent</h2>
    <div id="verificationModalDesc">
      <p>If you are a MyService account holder, and your account in not locked, we will send you a MyService verificaion code to the provided email address.</p>
      <p>Please enter your code in the verification code field to continue.</p>
      <p>If you do not receive your verification code within an hour, please contact the department for assistance.</p>
    </div>
    <div class="modal-buttons">
      <button id="verificationModalOkBtn" class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Okay</button>
    </div>
  </div>
</div>

<%
	var modalName = "open-verification-modal";
	var triggerName = "sendcodeBtn";
	var modalElementPrefix = "verificationModal";
%>
<% include modal-common.ejs %>