  <div class="panel from-right">
    <header class="panel-header">
      <h1>Log in</h1>
      <a href="#" class="panel-close">Close</a>
    </header>
    <div class="panel-container">
      <div class="panel-content">
        <div class="form-group">
          <label class="uikit-text-input__label" for="email">Email</label>
          <input class="uikit-text-input" name="email" id="email" type="email" value="">
        </div>
        <div class="form-group">
          <label class="uikit-text-input__label" for="password">Password</label>
          <input class="uikit-text-input" name="password" id="password" type="password" value="" style="width: 70%; display: inline-block"><button class="uikit-btn uikit-btn--tertiary small">Show</button><br />
          <a href="#">Forgot your password?</a>
        </div>
        <div class="pagination">
          <button class="uikit-btn">Log in</button> &nbsp; <a href="#" class="panel-close">Cancel</a>
        </div>
      </div>
    </div> <!-- panel-content -->
  </div> <!-- panel -->