  <div class="panel from-right">
    <div class="panel-header">
      <h2>Log in</h2>
      <a href="#" class="panel-close">Close</a>
    </div>
    <div class="panel-container">
      <div class="panel-content">
        <div class="form-group">
          <label class="uikit-text-input__label" for="email">Email</label>
          <input class="uikit-text-input" name="email" id="email" type="email" value="">
        </div>
        <div class="form-group">
          <label class="uikit-text-input__label" for="password">Password</label>
          <input class="uikit-text-input" name="password" id="password" type="password" value=""><button class="showPassword">Show<span class="sr"> password</span></button><br />
          <a href="#">Forgot your password?</a>
        </div>
        <div class="pagination">
          <button class="uikit-btn">Log in</button> &nbsp; <a href="#" class="panel-close">Cancel</a>
        </div>
      </div>
    </div> <!-- panel-content -->
  </div> <!-- panel -->