            <div class="form-group">
              <label class="uikit-text-input__label" for="first-name">Given name  <span class="hint">(first name)</span></label>
              <input class="uikit-text-input first-name" name="first-name" id="first-name" type="text" value="" required aria-required="true">              
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="middle-name">Middle name <span class="hint">(required if you have one)</span></label>
              <input class="uikit-text-input middle-name" name="middle-name" id="middle-name" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="last-name">Last name  <span class="hint">(surname)</span></label>
              <input class="uikit-text-input last-name" name="last-name" id="last-name" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd">Date of birth <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd dob-dd" type="text" name="dd" id="dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm dob-mm" type="text" name="mm" id="mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy dob-yyyy" type="text" name="yyyy" id="yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>