<div class="provisional-state">
  <div class="container provisional-state-container">
    <div class="provisional-state-item"><img class="provisional-state__icon" src="/docs/images/ico-padlock.svg"></div>
    <div class="">
      <h3>Your account is not quite ready.
        <span class="hint display-block">You can still make a claim while we complete your profile setup.</span></h3>
    </div>
  </div>
</div>