      <h1>Register <span>(Step 2 of 3)</span></h1>
      <p>All fields are required unless marked (optional).</p>
      <div class="row">
        <div class="col-sm-8">
          <fieldset>
            <legend>Contact details</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="email">Email address</label>
              <input class="uikit-text-input" name="email" id="email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="confirm-email">Confirm email address</label>
              <input class="uikit-text-input" name="confirm-email" id="confirm-email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Mobile phone number <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
            </div>
          </fieldset>        
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/register-step1'">Previous</button>&nbsp; <a href="/">Cancel registration</a>&nbsp; 
            <button class="uikit-btn floated btnNext" onclick="window.location.href = '/register-step3'">Next</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="uikit-callout">
            <h2>To be eligible you must:</h2>
            <ul>
              <li>Have enlisted after <strong>30 June 2004</strong></li>
              <li>Been a permanent member of the Australian Defence Force</li>
              <li>Need either a valid driver licence or Medicare card</li>
            </ul>
          </div>
        </div>
      </div>