      <h1>Register <span>(Step 3 of 3)</span></h1>
      <p>All fields are required unless marked (optional).</p>
      <div class="row">
        <div class="col-sm-8">
          <fieldset>
            <legend>Proof of identity</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Are you an existing DVA client?</label>
              <div class="radio-toggle">
                <label class="on label-left" for="yes"><input id="yes" type="radio" name="exising"><span>Yes</span></label>
                <label class="off label-right" for="no"><input id="no" type="radio" name="exising"><span>No</span></label>
              </div>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">PMKeys number</span></label>
              <input class="uikit-text-input input-half" name="pmkeys" id="pmkeys" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="enlistment-dd">Date of enlistment <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="enlistment-dd" id="enlistment-dd" maxlength="2"> /
              <input class="uikit-text-input mm" type="text" name="enlistment-mm" id="enlistment-mm" maxlength="2"> /
              <input class="uikit-text-input yyyy" type="text" name="enlistment-yyyy" id="enlistment-yyyy" maxlength="4">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Register using</label>
              <div class="radio-toggle">
                <label class="on label-left" for="drivers"><input id="drivers" type="radio" name="id"><span>Drivers licence</span></label>
                <label class="off label-right" for="medicare"><input id="medicare" type="radio" name="id"><span>Medicare card</span></label>
              </div>
            </div>
            <div class="drivers-licence" style="display: none">
              <div class="form-group">
                <label class="uikit-text-input__label" for="licence-state">Driver licence State or Territory of issue</span></label>
                <input class="uikit-text-input input-half" name="licence-state" id="licence-state" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="licence-number">Driver licence number</span></label>
                <input class="uikit-text-input input-half" name="licence-number" id="licence-number" type="text" value="">
              </div>
            </div>
          </fieldset>
          <div class="pagination">
            <p>
              <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="checkbox" name="acknowledge">
                <span class="uikit-control-input__text"> I agree that my provided information is checked with the issuer or Official Record Holder, and stored by DVA. I also agree to the <a href="#TermsAndUseScreen">Terms and Use for MyService</a></span>
              </label>
            </p>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/register-step2'">Previous</button>&nbsp; 
            <button class="uikit-btn floated btnNext">Register</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="uikit-callout">
            <h2>To be eligible you must:</h2>
            <ul>
              <li>Have enlisted after <strong>30 June 2004</strong></li>
              <li>Been a permanent member of the Australian Defence Force</li>
              <li>Need either a valid driver licence or Medicare card</li>
            </ul>
          </div>
        </div>
      </div>          