      <h1>Register <span>(Step 3 of 3)</span></h1>
      <p>All fields are required unless marked (optional).</p>
      <div class="row">
        <div class="col-sm-8">
          <fieldset>
            <legend>Proof of identity</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Are you an existing DVA client?</label>
              <div class="radio-toggle">
                <label class="on label-left" for="yes"><input id="yes" type="radio" name="exising"><span>Yes</span></label>
                <label class="off label-right" for="no"><input id="no" type="radio" name="exising"><span>No</span></label>
              </div>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">PMKeys number</span></label>
              <input class="uikit-text-input input-half" name="pmkeys" id="pmkeys" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="enlistment-dd">Date of enlistment <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="enlistment-dd" id="enlistment-dd" maxlength="2"> /
              <input class="uikit-text-input mm" type="text" name="enlistment-mm" id="enlistment-mm" maxlength="2"> /
              <input class="uikit-text-input yyyy" type="text" name="enlistment-yyyy" id="enlistment-yyyy" maxlength="4">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label uikit-control-input__radio" for="id">Register using</label>
              <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="radio" id="drivers" name="id">
                <span class="uikit-control-input__text">Drivers licence</span>
              </label>
              <br />
              <label class="uikit-control-input uikit-control-input--full uikit-control-input__radio">
                <input class="uikit-control-input__input" type="radio" id="medicare" name="id">
                <span class="uikit-control-input__text">Medicare card</span>
              </label>
            </div>

            <!-- start hidden fields -->
            <div class="licence-form" style="display: none">
              <div class="form-group">
                <label class="uikit-text-input__label" for="licence-state">State or Territory drivers licence issued</span></label>
                <input class="uikit-text-input input-half" name="licence-state" id="licence-state" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="licence-number">Driver licence number</span></label>
                <input class="uikit-text-input input-half" name="licence-number" id="licence-number" type="text" value="">
              </div>
            </div>
            <div class="medicare-form" style="display: none">
              <img src="/docs/images/medicare-card.jpg" alt="Sample medicare card" />
              <div class="form-group">
                <label class="uikit-text-input__label" for="medicare-number">Medicare card number</span></label>
                <input class="uikit-text-input input-half" name="medicare-number" id="medicare-number" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="irn">Individual Reference Number (IRN)</span></label>
                <input class="uikit-text-input input-half" name="irn" id="irn" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="expiry-dd">Expiry date <span class="hint">(MM / YYYY)</span></label>
                <input class="uikit-text-input mm" type="text" name="expiry-mm" id="expiry-mm" maxlength="2"> /
                <input class="uikit-text-input yyyy" type="text" name="expiry-yyyy" id="expiry-yyyy" maxlength="4">
              </div>
            </div>
            <!-- end hidden fields -->

          </fieldset>
          <div class="pagination">
            <p>
              <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="checkbox" name="acknowledge">
                <span class="uikit-control-input__text"> I agree that my provided information is checked with the issuer or Official Record Holder, and stored by DVA. I also agree to the <a href="#TermsAndUseScreen">Terms and Use for MyService</a></span>
              </label>
            </p>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/register-step2'">Previous</button>&nbsp; <a href="/">Cancel registration</a>
            <button class="uikit-btn floated btnNext">Register</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="uikit-callout">
            <h2>To be eligible you must:</h2>
            <ul>
              <li>Have enlisted after <strong>30 June 2004</strong></li>
              <li>Been a permanent member of the Australian Defence Force</li>
              <li>Need either a valid driver licence or Medicare card</li>
            </ul>
          </div>
        </div>
      </div>          

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>
        $( "#drivers" ).click(function() {
          $( ".medicare-form" ).hide();
          $( ".licence-form" ).toggle("fast");
        });
        $( "#medicare" ).click(function() {
          $( ".licence-form" ).hide();
          $( ".medicare-form" ).toggle("fast");
        });
      </script>
