<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-authenticated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above">
          <div class="col-sm-3">

            <% include ../../../partials/profile-side-nav.ejs %>
          </div>
          <div class="col-sm-9">
            <% include ../../../partials/breadcrumb-profile-assets.ejs %>
            <h2>Income and assets</h2>

            <div class="summary">
              <h3>Summary</h3>
              <div class="row">
                <div class="col-md-7">
                  <table>
                    <tr>
                      <th style="width: 50%">Pension type:</th>
                      <td style="width: 50%">Service pension</td>
                    </tr>
                    <tr>
                      <th>Residential situation:</th>
                      <td>Home owner</td>
                    </tr>
                    <tr>
                      <td class="callout">$202,137.08
                        <br />
                        <span>total income</span>
                      </td>
                      <td class="callout">$460,399.85
                        <br />
                        <span>total assets</span>
                      </td>
                    </tr>
                  </table>
                  <p>
                    <a href="">Download statement (128KB PDF)</a>
                  </p>
                </div>
                <div class="col-md-5">
                  <h4>Need help?</h4>
                  <p>
                    <span class="ico-email"></span>
                    <b>Email us:</b>
                    <a href="mailto:myservicesupport@dva.gov.au">myservicesupport@dva.gov.au</a>
                    <br>
                    <em>We will endeavour to reply your email within one working day.</em>
                  </p>
                  <p>
                    <span class="ico-phone"></span>
                    <b>Phone us:</b> (02) 6289 4724
                    <br>
                    <em>Monday to Friday 9am to 5pm AEDST.</em>
                  </p>
                  <!--
                  <p>Contact Veterans' Access Network (VAN)</p>
                  <ul>
                    <li>Phone: <strong>133 254</strong> (local)</li>
                    <li>Phone: <strong>1800 555 254</strong> (regional)</li>
                    <li>Email: <a mailto="generalenquiries@dva.gov.au">generalenquiries@dva.gov.au</a></li>
                  </ul>
                -->
                </div>
              </div>
            </div>


            <div class="form-callout">
              <div class="form-group">
                <label class="uikit-text-input__label" for="add-detail">Add income or assets</label>
                <select class="uikit-text-input" id="add-detail" name="add-detail">
                  <option>-- Select income or asset type --</option>
                  <optgroup label="Assets (financial)">
                    <option>Financial institution accounts</option>
                    <option>Shares</option>
                    <option>Managed investments</option>
                    <option>Bonds and Debentures</option>
                    <option>Money loaned</option>
                    <option>Gifts</option>
                    <option value="/profile-financial-other">Other financial assets</option>
                  </optgroup>
                  <optgroup label="Assets (personal)">
                    <option>Life insurance</option>
                    <option>Vehicles</option>
                  </optgroup>
                  <optgroup label="Income / payments">
                    <option>Employment income</option>
                    <option>Purchased annuities and pensions</option>
                  </optgroup>
                  <optgroup label="Other items">
                    <option>Real estate</option>
                    <option value="/profile-farm">Farm</option>
                    <option>Superannuation / rollover funds</option>
                  </optgroup>
                </select>
                <button class="uikit-btn small add-btn" onclick="goToPage()">Add</button>
              </div>
            </div>

            <table class="data-centred">
              <caption>Financial institution account</caption>
              <tr>
                <th style="width: 15%">Institition</th>
                <th style="width: 15%">Account type</th>
                <th style="width: 15%">Account number</th>
                <th style="width: 15%">Owner</th>
                <th style="width: 15%">Balance</th>
                <th style="width: 25%">Actions</th>
              </tr>
              <tr>
                <td>Credit Union</td>
                <td>Club 55</td>
                <td>613552</td>
                <td>Joint</td>
                <td>$12,688</td>
                <td>
                  <button class="uikit-btn uikit-btn--tertiary small">Edit</button>
                  <button class="uikit-btn uikit-btn--tertiary small">Delete</button>
                </td>
              </tr>
              <tr>
                <td>ANZ</td>
                <td>Online Saver</td>
                <td>218123</td>
                <td>Joint</td>
                <td>$57,213</td>
                <td>
                  <button class="uikit-btn uikit-btn--tertiary small">Edit</button>
                  <button class="uikit-btn uikit-btn--tertiary small">Delete</button>
                </td>
              </tr>
            </table>

            <table class="data-centred">
              <caption>Real estate</caption>
              <tr>
                <th style="width: 15%">Type</th>
                <th style="width: 15%">Address</th>
                <th style="width: 15%">Owner</th>
                <th style="width: 15%">Value</th>
                <th style="width: 15%">Balance</th>
                <th style="width: 25%">Actions</th>
              </tr>
              <tr>
                <td>Credit Union</td>
                <td>Club 55</td>
                <td>613552</td>
                <td>Joint</td>
                <td>$12,688</td>
                <td>
                  <button class="uikit-btn uikit-btn--tertiary small">Edit</button>
                  <button class="uikit-btn uikit-btn--tertiary small">Delete</button>
                </td>
              </tr>
              <tr>
                <td>ANZ</td>
                <td>Online Saver</td>
                <td>218123</td>
                <td>Joint</td>
                <td>$57,213</td>
                <td>
                  <button class="uikit-btn uikit-btn--tertiary small">Edit</button>
                  <button class="uikit-btn uikit-btn--tertiary small">Delete</button>
                </td>
              </tr>
            </table>
          </div>
          <!-- row -->

        </div>
      </div>
    </section>
    <a href="#" style="display: none">
      <div class="toast">
        <p role="alert">Profile updated</p>
      </div>
    </a>
  </main>
  </div>

  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script src="/docs/js/main.js"></script>
  <script>
    function goToPage() {
      window.location = document.getElementById("add-detail").value;
    }
  </script>

  <% include ../../../partials/footer.ejs %>
</body>

</html>