<div id="state-switcher">
  <h3>State switcher</h3>

  <h3>Other properties</h3>
  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Postal address updated successfully"
    ],
    id: "po-success",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  // var pageState;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    // $("#page-state-2").prop("checked", true);
    // $('input[name=page-state]').change(function () {
    //   pageState = $(this).val();
    //   stateSwitcher();
    // });
    // stateSwitcher();

  });

  $('#po-success-1').change(function() {
    console.log("ffdgfdg")
    updatePostal();  
  });

  function updatePostal() {
    var myStatus = $("#po-success-1").is(":checked");
    console.log( myStatus );
    if ( myStatus ) {
        $("#postal-update-success").show();
    } else {
      $("#postal-update-success").hide();
    }
  }  
  
  

</script>