.mys-mygov-header {
	background: $white;
	background: linear-gradient(#eee, #fff);
	min-height: 3em;
	padding: .25em 0 0;
	border-bottom:4px solid #1057a7;
}

.mys-mygov-header--logo {
	border: 0;
	height: 3em;
	padding: 1em 0;
}

.mys-mygov-footer {
  background-color:#eeeeee;
  border-top: 4px solid #333;
  margin-top: 72px;
}


