
			padding-bottom: 1em;
			padding-left: floor( ( $uikit-grid-12-gutter-width / 2 ) );
			padding-right: ceil( ( $uikit-grid-12-gutter-width / 2 ) );
		}
	}
	
}

.mys-datalist__title {
	font-weight: 700;

	@include uikit-media('xs') {
		width: 25%;
	}
}

.mys-datalist__action {
	margin-top: 0.5em;

	@include uikit-media('xs') {
		margin: 0;
		width: 25%;
	}
}
