.mys-datalist {
	display: table;
	width: 100%;
	border-collapse: collapse;
	margin: 2em 0;
}

.mys-datalist__item {
	border: 0 solid $gray-mild;
	border-top-width: 1px;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: floor( ( $uikit-grid-12-gutter-width / 2 ) );
	padding-right: ceil( ( $uikit-grid-12-gutter-width / 2 ) );

	&:last-child {
		border-bottom-width: 1px;
	}

	@include uikit-media('xs') {
			display: table-row;
		
		> * {
			display: table-cell;
			border: solid $gray-mild;
			border-width: 1px 0;
			padding-top: 1em;
			padding-bottom: 1em;
			padding-left: floor( ( $uikit-grid-12-gutter-width / 2 ) );
			padding-right: ceil( ( $uikit-grid-12-gutter-width / 2 ) );
		}
	}
	
}

.mys-datalist__title {
	font-weight: 700;

	@include uikit-media('xs') {
		width: 25%;
	}
}

.mys-datalist__action {
	margin-top: 0.5em;

	@include uikit-media('xs') {
		margin: 0;
		width: 25%;
	}
}
