/* This style has been developed to wrap a large radio list of servie opperations. This style is not
 * well thought out should be replaced with a well thought out and repeatable pattern if going into
 * production.
 */

.scrollable-block {
	max-height: 60vh;
	overflow: scroll;
	border: 1px solid $gray-mild;
	padding: 1em;
}