/////////////////////////////////////
//24hr counselling colour contrast //
/////////////////////////////////////
.accordion-toppanel--wrapper {
  .accordion-toppanel-btn--accessible {
    color: $white;
    font-size: 0.9em;

    span {
      color: $white;
    }
  }
}

.uikit-body {
  .accordion-toppanel--wrapper {
    .accordion-toppanel-btn--accessible {
      position: relative;
      i {
        &:before {
          position: absolute;
          font-size: 1rem;
          right: 1.25rem;
          top: 35%;
          transition: transform 0.25s ease-in;
        }
      }

      &:hover,
      &:focus {
        &,
        & span {
          background: $blue-super-light;
          color: $blue-dark;
        }
      }

      &:after,
      &:hover:after,
      &:focus:after {
        content: none !important;
      }
    }
  }
}

.uikit-accordion:not(.accordion-closed) {
  .accordion-toppanel-btn.accordion-toppanel-btn--accessible {
    i {
      &:before {
        transform: rotate(180deg);
      }
    }
  }
}

//////////////////////////////////
//Delete button colour contrast //
//////////////////////////////////
.uikit-btn.warning {
  border-color: crimson !important;
  color: crimson !important;

  &:hover,
  &:focus {
    color: #fff !important;
    background-color: crimson !important;
  }
}