/**********************************
	MyService theme overrides

**********************************/

// 1. Base (UI Kit 2.0)
@import "uikit";

// 2. Utilities (variables and reusables)
@import "myservice-variables";

// 3. Components (micro layout files such as buttons and navigation)
@import "myservice-forms";
@import "myservice-user-feedback";
@import "myservice-navigation";
@import "myservice-typography";
@import "myservice-components";
@import "myservice-sliding-panel-side";
@import "myservice-sliding-panel-top";
// @import "feedback-sliding-panel-side";
@import "myservice-autocomplete";
@import "myservice-star-rating";
@import "myservice-modal";
@import "myservice-waiting";
@import "myservice-widgets";
@import "myservice-expansion-panel";
@import "myservice-tables";
@import "myservice-utilities";
@import "myservice-page-alerts";
@import '_mys-datalist';
@import '_mys-support-services';
@import '_mys-file-uploads';
@import '_address-block';

// 4. Layout (macro layout files such as header and footer)
@import "myservice-header";
@import "myservice-footer";

// 5. Pages (unique styling for specific pages)
@import "myservice-pages-home";
@import "myservice-pages-card";
@import "myservice-pages-dashboard";
@import "myservice-pages-flows";
@import "myservice-print";
@import "myservice-pages-profile";
@import "myservice-pages-incap";
@import "myservice-pages-sp";
@import "myservice-animations";
@import "myservice-staffscreens";
@import 'myservice-howitworks';
@import "_myservice-mygov";

// @import "myservice-timeline-circles-animation";
@import "myservice-benny-cool-animation";
@import "myservice-lsa";
