@import 'uikit';

@import 'myservice-variables';

@import 'myservice-forms';
@import 'myservice-typography';
@import 'myservice-utilities';
@import 'myservice-page-alerts';

$primaryColour: #1759a5;
$secondaryColour: #838359;

body, html {
	margin: 0;
	padding: 0;
}

a > img {
	border: 0;
}

.header {
	background: $primaryColour;
}

.header__container {
	padding: 1.8em 1em;
}

.navigation {
	background: $secondaryColour;
	background: linear-gradient($secondaryColour, lighten($secondaryColour, 20%));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$secondaryColour}', endColorstr='#{lighten($secondaryColour, 20%)}',GradientType=0 ); /* IE6-9 */
	border-top: 2px solid white;
	font-size: 0.7rem;
}



.navigation {
	.navigation__list {
		margin: 0;
		padding: 0;
		max-width: none;
		display: flex;
		justify-content: center;
		align-items: stretch;
		min-height: 3.5em;
		position: relative;
		text-align: center;

		@media (max-width: $uikit-media-sm) {
			display: block;
		}
	}

	.navigation__item {
		text-align: left;
		list-style: none;
		margin: 0;
		display: inline-block;
		display: flex;
		align-items: center;
		width: 18%;

		@media (max-width: $uikit-media-sm) {
			width: 100%;
			border-bottom: 1px solid white;
		}

		&::before {
			content: '';
			position: absolute;
			width: 1px;
			height: 100%;
			background: linear-gradient($secondaryColour, lighten($secondaryColour, 40%));
			top: 0;
		}
	
		&:first-child::before {
			display: none;
		}
	}

	.navigation__link {
		text-align: center;	
		padding: 0.5em 1em;
		display: inline-block;
		color: white;
		border: 0;
		width: 100%;
		box-sizing: border-box;
	}
}

.myaccount-logo {
	width: auto;
	height: 3em;
}

.myaccount-btn {
	max-width: 20em;
	line-height: 1.2em;
	min-height: 4em;
}

.myaccount-btn__mygov {
	height: 1em;
	margin: 0 0.25em;
	vertical-align: middle;
}

.divider {
	height: 1px;
	position: relative;
	margin: 2em 0;
	background: $gray-mild;
	background: radial-gradient(circle, white 5%, $gray-mild 50%);
	width: 100%;

	@media (min-width: $uikit-media-md) {
			width: 1px;
			height: 100%;
			margin: 0 2em;
	}
}

.divider__label {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

@media (min-width: $uikit-media-md) {
	.cssgrid {
		.grid {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
			grid-template-rows: auto auto;
			grid-column-gap: 1rem;
		}
		
		.grid__top-left {
			grid-column: 1;
			grid-row: 1;
		}
		
		.grid__bottom-left {
			grid-column: 1;
			grid-row: 2;
		}
		
		.grid__divider {
			grid-column: 2;
			grid-row: 1 / span 2;
		}
		
		.grid__top-right {
			grid-column: 3;
			grid-row: 1;
		}
		
		.grid__bottom-right {
			grid-column: 3;
			grid-row: 2;
		}
	}

	.no-cssgrid {
		.grid {
			display: flex;
			align-items: stretch;
		}

		.grid__flex {
			width: 50%;
			display: inline-block;
		}
	}
}

.no-break {
	white-space: nowrap;
}

.tint {
	background: $gray-light;
}

.footer {
	padding: 2em 0;
	text-align: center;
	font-size: 0.7rem;
	font-weight: bold;
}

.list, ul.list {
	max-width: initial;
	margin: 0;
	padding: 0;
}

.list__item {
	list-style: none;
}

.list--horizontal {
	.list__item {
		display: inline-block;
		margin: 0 1em 0 0;
	}

	.list__item:last-child {
		margin-right: 0;
	}
}

.list__item {
	.list__link {
		border: 0;
	}
}