@import 'uikit';

@import 'myservice-variables';

@import 'myservice-forms';
@import 'myservice-typography';
@import 'myservice-utilities';

$primaryColour: #1759a5;
$secondaryColour: #838359;

body, html {
	margin: 0;
	padding: 0;
}

.header {
	background: $primaryColour;
}

.header__container {
	padding: 1.8em 1em;
}

.navigation {
	background: $secondaryColour;
	background: linear-gradient($secondaryColour, lighten($secondaryColour, 20%));
	border-top: 2px solid white;
	font-size: 0.7rem;

	.navigation__list {
		margin: 0;
		padding: 0;
		max-width: none;
		display: flex;
		justify-content: center;
	}

	.navigation__item {
		list-style: none;
		padding: 0.5em 1em;
		margin: 0;
		width: 20%;
		text-align: center;
		border-right: 1px solid lighten($secondaryColour, 20%);
		border-image: linear-gradient($secondaryColour, lighten($secondaryColour, 40%)) 1 100%;
		max-width: 14em;

		&:last-child {
			border-right: 0;
		}
	}

	.navigation__link {
		color: white;
		border: 0;
	}
}


.myaccount-logo {
	width: auto;
	height: 3em;
}

.myaccount-btn {
	width: 20em;
}

.myaccount-btn__mygov {
	height: 1em;
	margin: 0 0.25em;
	vertical-align: middle;
}

.no-break {
	white-space: nowrap;
}