@import 'uikit';

@import 'myservice-variables';

@import 'myservice-forms';
@import 'myservice-typography';
@import 'myservice-utilities';

$primaryColour: #1759a5;
$secondaryColour: #838359;

body, html {
	margin: 0;
	padding: 0;
}

.header {
	background: $primaryColour;
}

.header__container {
	padding: 2em 0;
}

.navigation {
	background: $secondaryColour;
	padding: 1em 0;
	border-top: 2px solid white;
}
