@import 'uikit';

@import 'myservice-variables';

@import 'myservice-forms';
@import 'myservice-typography';
@import 'myservice-utilities';
@import 'myservice-page-alerts';

$colour-primary: #1759a5;
$colour-secondary: #838359;


body,
html {
  margin: 0;
  padding: 0;
}

a>img {
  border: 0;
}

.header {
  background: $colour-primary;
}

.header__container {
  padding: 1.8em 1em;
}

.navigation {
  background: $colour-secondary;
  background: linear-gradient($colour-secondary, lighten($colour-secondary, 20%));
  border-top: 2px solid $white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$colour-secondary}', endColorstr='#{lighten($colour-secondary, 20%)}', GradientType=0);
  /* IE6-9 */
  font-size: 0.7rem;

  .navigation__list {
    align-items: stretch;
    display: flex;
    justify-content: center;
    margin: 0;
    max-width: none;
    min-height: 3.5em;
    padding: 0;
    position: relative;
    text-align: center;

    @media (max-width: $uikit-media-sm) {
      display: block;
    }
  }

  .navigation__item {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    text-align: left;
    width: 18%;

    @media (max-width: $uikit-media-sm) {
      border-bottom: 1px solid $white;
      width: 100%;
    }

    &::before {
      background: linear-gradient($colour-secondary, lighten($colour-secondary, 40%));
      content: $content-blank;
      height: 100%;
      position: absolute;
      top: 0;
      width: 1px;
    }

    &:first-child::before {
      display: none;
    }
  }

  .navigation__link {
    border: 0;
    box-sizing: border-box;
    color: $white;
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
    width: 100%;
  }
}

.myaccount-logo {
  height: 3em;
  width: auto;
}

.myaccount-btn {
  line-height: 1.2em;
  max-width: 20em;
  min-height: 4em;
}

.myaccount-btn__mygov {
  height: 1em;
  margin: 0 0.25em;
  vertical-align: middle;
}

.divider {
  background: $gray-mild;
  background: radial-gradient(circle, #fff 5%, $gray-mild 50%);
  height: 1px;
  margin: 2em 0;
  position: relative;
  width: 100%;

  @media (min-width: $uikit-media-md) {
    height: 100%;
    margin: 0 2em;
    width: 1px;
  }
}

.divider__label {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $uikit-media-md) {
  .cssgrid {
    .grid {
      display: grid;
      grid-column-gap: 1rem;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: auto auto;
    }

    .grid__top-left {
      grid-column: 1;
      grid-row: 1;
    }

    .grid__bottom-left {
      grid-column: 1;
      grid-row: 2;
    }

    .grid__divider {
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    .grid__top-right {
      grid-column: 3;
      grid-row: 1;
    }

    .grid__bottom-right {
      grid-column: 3;
      grid-row: 2;
    }
  }

  .no-cssgrid {
    .grid {
      align-items: stretch;
      display: flex;
    }

    .grid__flex {
      display: inline-block;
      width: 50%;
    }
  }
}

.no-break {
  white-space: nowrap;
}

.tint {
  background: $gray-light;
}

.footer {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2em 0;
  text-align: center;
}

.list,
ul.list {
  margin: 0;
  max-width: initial;
  padding: 0;
}

.list__item {
  list-style: none;

  .list__link {
    border: 0;
  }
}

.list--horizontal {
  .list__item {
    display: inline-block;
    margin: 0 1em 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}