.reviews--decisions {

  table-layout: auto;
  width       : 100%;

  .inline-label {
    margin-right: 7px;
  }

  .v-align {
    vertical-align: middle;
  }

  tbody tr:hover {
    cursor          : pointer;
    background-color: $mys-black-3;
  }

  td.selector {
    white-space: nowrap;
    width      : 25% !important;

    &>div {
      display: table-cell;
    }

    .mys.radio-checkbox {
      padding-right : 12px;
      text-align    : center;
      vertical-align: middle;
    }

    .ref {
      font-size     : 14px;
      letter-spacing: 1;
      padding-top   : 3px;
    }
  }

  td.decision-details {
    width: 30%;
  }

  td.description {
    width: 45%;
  }

  tr.selected {
    background-color: $mys-black-3;
    border          : 1px solid $mys-black-30;
  }

  /* Simple CSS for flexbox table on mobile */
  @media(max-width: 1800px) {

    border         : 0;
    border-collapse: collapse;

    thead {
      left      : -9999px;
      position  : absolute;
      visibility: hidden;
    }

    tr {
      display         : flex;
      flex-direction  : row;
      flex-wrap       : wrap;
      margin-bottom   : 20px;
      background-color: #fff;
      border          : 1px solid $mys-black-10;
    }

    td {
      width        : 100% !important;
      padding      : 15px;
      border-bottom: none;
    }

    td.selector {
      border-bottom: 1px solid $mys-black-10;
      padding      : 15px !important;
      width        : 100% !important;
    }

    td.description {
      padding    : 15px !important;
      padding-top: 0px !important;
    }

  }

}

.decisions-table-footer {
  display        : flex;
  justify-content: flex-end;
  align-items    : center;

  .results {
    margin-right: 20px;
  }
}

.reviews.mys-page-preloader {
  min-height    : auto;
  display       : flex;
  flex-direction: column;

  .message {
    margin-top: 5px;
    ;
  }
}

.submitted-reviews {
  td.details {
    width: 30%;
  }
}