
$mys-focus: #C390F9;
$mys-highlight : #f26d04; 
$mys-highlight-dark : #e06504; 
$mys-grey-1: #f3f3f3;
$mys-blue-1: #0F58A7;

$mys-black:rgba(0,0,0,1);
$mys-black-1: rgba(0,0,0,.01);
$mys-black-3: rgba(0,0,0,.03);
$mys-black-5: rgba(0,0,0,.05);
$mys-black-10: rgba(0,0,0,.1);
$mys-black-20: rgba(0,0,0,.2);