/* block of tiles underneath the dashboard widgets */

.homepage__content {
  position: relative;
  width   : 100%;
}

.homepage__content .homepage__icon {
  font-size   : 15px;
  margin-right: 8px;
}

.homepage__content .homepage__divider {
  height          : 2px;
  background-color: #ddd;
  margin          : 27px 15px 6px 0;
}

.homepage__content a {
  text-decoration: none;
  display        : block;
  font-size      : 16px;
  color          : $mys-black;
  border-bottom  : none;
}

.homepage__content a:hover,
.homepage__content a:focus {
  background-color: transparent;
  text-decoration : underline;
}

/* row - container for columns */

.homepage__row {
  display       : flex;
  flex-direction: column;
  padding       : 0;

  @media screen and (min-width: 992px) {
    flex-direction  : row;
    justify-content : space-between;
    background-color: transparent;
    color           : $mys-black;
  }
}

.homepage__row--footer {
justify-content : end;
}

/* column - container for items */

.homepage__column {
  display       : flex;
  flex-wrap     : nowrap;
  flex-direction: column;
  width         : 100%;

  @media screen and (min-width: 992px) {
    margin-left: 20px;
  }
}

.homepage__column:first-child {
  margin-left: 0;
}

.homepage__column li a {
  padding: 5px 10px 5px 0;
}

/* Items - individual tiles that stack within a column */

.homepage__column-item {
  width           : 100%;
  padding         : 15px 15px 15px 15px;
  max-width       : none;
  margin-left     : 0px;
  background-color: $mys-grey-1;
  border-radius   : 2px;
  margin-bottom   : 20px;
}

.homepage__column-item:only-child {
  height: 100%;
}

.homepage__column-item>ul {
  list-style-type: none;
  padding        : 0;
  margin         : 0;
}

.homepage__column-item>li {
  margin : 0;
  display: block;
}

/* Modifiers for specific columns */

.homepage__column--card {
  order: -1;

  @media screen and (min-width: 992px) {
    order: initial;
  }

}

/* Modifiers for specific column items */

/* small card is shown under 'Report changes' for Income Support clients when in desktop view, in mob they see the big card */

#small-card {
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
  }
}

.small-card__container {

  background-color:rgba(255, 255, 255, .35);

  &:hover {
    border: 1px solid #1b7991;
    cursor: pointer;
  }

  .small-card-table {
    font-size       : 14px;
    background-color: transparent;
    box-sizing      : border-box;
    border          : 0;
    border-spacing  : 0;
    width           : 100%;
    td {
      padding: 0 0 5px 0;
    }
    margin-bottom: 0;
  }

  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  .card-link {
    font-size : 14px !important;
    margin-top: 5px;
  }

}

/* --card is shown in mobile for all clients with cards, in desktop for non Income Support clients */

.homepage__column-item--card {

  .my-card__container {
    position : relative;
    max-width: 450px;

    .my-card__image {
      width        : 100%;
      height       : auto;
      box-shadow   : 0 0 3px 1px rgba(119, 119, 119, .35);
      border-radius: 5px;
    }

    .card-text {
      background: transparent;
      position  : absolute;
      font-size : 4vw;

      @media screen and (min-width: 450px) {
        font-size: 20px;
      }

      @media screen and (min-width: 992px) {
        font-size: 14px;
      }
    }

    .card-holder-name {
      top : 40%;
      left: 5%;
      width: 43%;
      line-height: 1.3em;
    }

    .card-number-label {
      top : 40%;
      left: 49%;
    }

    .card-number {
      top : 40%;
      left: 70%;
    }

    .card-expiry-label {
      top        : 58%;
      left       : 49%;
      line-height: 1.1em;
    }

    .card-expiry {
      top : 56%;
      left: 81%;
    }

  }

  .card-link {
    font-size : 14px;
    text-align: right;
    padding   : 3px 0 0 0;
  }

  .card-link i {
    margin-left: 7px;
  }

}