

 .mys-table1--claims {

  th.status {
    width: 15%;
  }
  th.date {
    width: 15%;
  }
  th.description {
    width: 35%;
  }
  th.id {
    width: 10%;
  }
  th.actions {
    width: 25%;
    line-height: 30px;
  }
  
    td {
      padding: 25px 15px 25px 15px;
    }


  .claim-status-icon {
    margin-right: 10px;
  }
  .table-sort{
    margin-left: 5px;
  }



}   

