

 .mys-table1--correspondence {

  .action-icon {
    font-size: 22px;
    color: $blue;
    margin-left: 15px;
    &:hover {
      color: black;
    }
  }

  th:last-child {
    text-align: left;
  }

  td {
    vertical-align: middle;
  }

  tr td:last-child{
    width:1%;
    white-space:nowrap;
}

.uiToolKitCheckBox {
  margin-right: 0;
}

  @media(max-width: 800px) {

    thead {
      visibility: visible;
      left: 0;
position: relative;
    }

    tr {
      margin-bottom   : 0px;
      border-bottom: none;
    }

    th {
      width: 100%;
    }

    td {
      padding : 10px;
      position: relative;
      width   : 100%;
      border  : none;
    }

    td:before {
      content       : none;
      background    : transparent;
      color         : dimgrey;
      font-size     : 12px;
      font-weight   : 600;
      padding       : 10px;
      position      : absolute;
      text-transform: uppercase;
      top           : 0;
      left          : 0;
    }


  }

}   

.correspondence-letters-options {
  padding: 15px;
  background-color: #eee;
  // display              : grid;
  // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // grid-gap             : 20px;
  // button {
  //   height: 40px;
  // }
  .address {

  }
}
.correspondence-letters-address {
  padding: 15px;
  background-color: #ddd;
}