
$mys-focus: #C390F9;
$mys-highlight : #f26d04; 
$mys-highlight-dark : #e06504; 
$mys-grey-1: #f3f3f3;
$mys-blue-1: #0F58A7;

$mys-black:rgba(0,0,0,1);
$mys-black-1: rgba(0,0,0,.01);
$mys-black-3: rgba(0,0,0,.03);
$mys-black-5: rgba(0,0,0,.05);
$mys-black-10: rgba(0,0,0,.1);
$mys-black-20: rgba(0,0,0,.2);
$mys-black-30: rgba(0,0,0,.3);
$mys-black-40: rgba(0,0,0,.4);
$mys-black-50: rgba(0,0,0,.5);
$mys-black-60: rgba(0,0,0,.6);
$mys-black-70: rgba(0,0,0,.7);


/* traffic lights */
$mys-info: #709aca;
$mys-success: #21b448;
$mys-warning: #ff9600;
$mys-error: #D20303;

