.mys-table1--claims {

  th.status-icon {
    width : 5%;
  }
  th.status {
    width : 15%;
  }
  th.date {
    width : 20%;
  }
  th.description {
    width : 30%;
  }
  th.id {
    width: 5%;
  }
  th.actions {
    width: 25%;
  }
  td {
    padding       : 25px 15px 25px 15px;
    vertical-align: text-top;
  }
  .fal {
    font-size: 18px;;
  }
}