.mys-table1--claims {

  th.status {
    width : 15%;
    cursor: pointer;
  }

  th.date {
    width : 15%;
    cursor: pointer;
  }

  th.description {
    width : 35%;
    cursor: pointer;
  }

  th.id {
    width: 10%;
  }

  th.actions {
    width: 25%;
  }

  td.actions {
    line-height: 35px;
  }

  td {
    padding       : 25px 15px 25px 15px;
    vertical-align: text-top;
  }

  td.col-highlight {
    background-color: rgba(0, 0, 0, .025);
  }

  th.col-highlight {
    background-color: rgba(0, 0, 0, .1);
  }

  .claim-status-icon {
    margin-right: 10px;
  }

  .table-sort {
    margin-left: 5px;
    color      : rgba(0, 0, 0, .3);

    &.col-active {
      color: rgba(0, 0, 0, 1);
    }
  }

  .fal {
    font-size: 18px;;
  }
  .fa-ellipsis-h {
    // color: green;
  }
  .fa-check-circle {
    // color: green;
  }
  .fa-edit {

  }

}