 /* Table with header and footer */
 /* Used in reimbursements */
 /* Ref: https://css-tricks.com/making-tables-responsive-with-minimal-css/ */

 .mys-table1 {

   box-sizing         : border-box;
  //  border-collapse    : collapse;
   background         : #fff;
   border             : 1px solid #eee;
   border-spacing     : 0;
   //  margin-bottom  : 1em;
   width              : 100%;

   th {
     border-bottom: 1px solid #ddd;
   }

   td {
     border-bottom: 1px solid #eee;
   }

   tfoot td {
     border-top: 1px solid #eee;
   }

   th, td {
     padding: 15px;
   }

   th:last-child,
   td:last-child {
     text-align: right;
   }

   tfoot td {
     font-weight: bold;
   }

   tbody tr:hover {
     cursor          : pointer;
     background-color: #f8f8f8;
   }

   td.placeholder {
    text-align: left !important;
    font-size : 14px;
    color     : #808080;
  }

  .inline-label {
    font-weight: 600;
  }

  .uikit-btn--borderless {
    margin          : 0 !important;
    background-color: transparent;
    margin-left     : 15px !important;
  }

   /* Simple CSS for flexbox table on mobile */
   @media(max-width: 800px) {

    border: 0;

     thead {
       left      : -9999px;
       position  : absolute;
       visibility: hidden;
     }

     tr {
       display         : flex;
       flex-direction  : row;
       flex-wrap       : wrap;
       margin-bottom   : 20px;
       background-color: #fff;
       border          : 1px solid #ddd;
     }

     td {
       padding : 30px 5px 5px 10px;
       position: relative;
       width   : 50%;
       border  : none;
     }

     td:last-child {
       padding : 5px 5px 10px 10px;
       position: relative;
       width   : 100%;
     }

     tfoot td {
      padding: 15px !important;
    }
     tfoot td:last-child {
      width   : 50%;
    }


     td:before {
       content       : attr(data-title);
       background    : transparent;
       color         : dimgrey;
       font-size     : 12px;
       font-weight   : 600;
       padding       : 10px;
       position      : absolute;
       text-transform: uppercase;
       top           : 0;
       left          : 0;
     }

     td:last-child {
       text-align: left;
     }

     .uikit-btn--borderless {
       margin      : 0 !important;
       margin-right: 15px !important;
     }

   }

 }