.footer-row-right {
  display        : grid;
  justify-content: flex-end;
}

.empty-state {
  min-height: 500px;
  .notice {
    display: flex;
    i {
      margin-right: 10px;
    }
    border               : 1px solid $mys-black-20;
    border-radius        : 5px;
    padding              : 20px;
    align-items          : center;
    background-color     : $mys-black-1;
    a {
      cursor: pointer;
    }
  }
}

.feature-checkbox {
  background-color: $mys-black-5;
  border-radius: 5px;
  padding: 3px 10px 7px 14px !important;
  width: max-content;
  fieldset {
    margin: 0;
    .uiToolKitCheckBox {
      margin-right: 0 !important;
    }
  }
  input {
    padding: 0;
  }
 
}

/* Notice box */

.mys.notice {
    display: flex;
    background-color: rgba( $mys-info, .175 );
    border-left: 4px solid $mys-info;
    border-radius: 0 5px 5px 0;
    padding: 20px 20px 20px 17px;
    margin-bottom: 40px;
    @extend .mys.body;
    i {
      margin-right: 15px;
      color: $mys-info;
      font-size: 34px;
    }
    p:last-child {
      margin: 0;
    }
}
.mys.notice--success {
  background-color: rgba( $mys-success, .175 );
  border-color:  $mys-success;
  i {
    color: $mys-success;
  }
}
.mys.notice--warning {
  background-color: rgba( $mys-warning, .175 );
  border-color:  $mys-warning;
  i {
    color: $mys-warning;
  }
}
.mys.notice--error {
  background-color: rgba( $mys-error, .175 );
  border-color:  $mys-error;
  i {
    color: $mys-error;
  }
}