.cards__wrapper {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap             : 20px;
}

.card-v2__wrapper {

  border       : 1px solid #C4C4C466;
  border-radius: 3px;
  box-shadow   : 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 15px;
  padding-right: 15px;
  min-height           : 100%;
  display              : grid;
  grid-template-rows   : auto 1fr auto;

  &:hover {
    border: 1px solid #1b7991;
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid $mys-focus-purple;
  }

  .card-v2__title {
    text-decoration         : underline;
    text-decoration-skip-ink: true;
    margin-bottom           : 15px;
    margin-top: 20px;
  }

  .card-v2__description {}

  .card-v2__icon {
    text-align: right;
    margin-bottom: 18px;
  }

}