.footer-row-right {
  display        : grid;
  justify-content: flex-end;
}

.empty-state {
  min-height: 500px;

  .notice {
    display: grid;

    i {
      margin-right: 10px;
    }

    border               : 1px solid $mys-black-20;
    border-radius        : 5px;
    padding              : 20px;
    grid-template-columns: repeat(2, max-content);
    align-items          : center;
    background-color     : $mys-black-1;

    a {
      cursor: pointer;
    }
  }
}

.feature-checkbox {
  background-color: $mys-black-5;
  border-radius: 5px;
  padding: 3px 10px 7px 14px !important;
  width: max-content;
  fieldset {
    margin: 0;
    .uiToolKitCheckBox {
      margin-right: 0 !important;
    }
  }
  input {
    padding: 0;
  }
 
}