


h1,h2,h3,h4,h5,h6 {
  &.mys {
    /* reset */
    margin: 0;
    font-size: 18px;
    font-weight: normal;
  }
}

.mys.h1 {
  font-size: 24px;
  font-weight: normal !important;
}
.mys.h2 {
    font-size: 20px;
    font-weight: bold !important;
}
.mys.h4 {
  font-size: 18px;
}