.cards-header {
  display        : flex;
  justify-content: space-between;
  // margin-right: 10px;
  align-items    : baseline;
}

.cards-header-print {
  display              : none;
  grid-template-columns: auto min-content;
  margin-right         : 10px;
  align-items          : center;
}

.print-button {
  color: $blue-mid;

  .icon {
    margin-right: 5px;
  }

  .label {
    text-decoration: underline;
  }

  &:hover {
    background: #5BCBE3;
  }

  cursor      : pointer;
  margin-right: 10px;
}

.cards__wrapper {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap             : 20px;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card-v2__wrapper {
    margin-bottom: 20px;
  }
}

.card-v2__wrapper {
  border            : 1px solid #C4C4C466;
  border-radius     : 3px;
  box-shadow        : 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left      : 15px;
  padding-right     : 15px;
  min-height        : 100%;
  display           : grid;
  grid-template-rows: auto 1fr auto;

  &:hover {
    border: 1px solid #1b7991;
    cursor: pointer;
  }

  &:focus {
    outline      : 3px solid $mys-focus;
    border-radius: 2px
  }

  .card-v2__title {
    text-decoration         : underline;
    text-decoration-skip-ink: true;
    margin-bottom           : 15px;
    margin-top              : 20px;
  }

  .card-v2__description {}

  .card-v2__icon {
    text-align   : right;
    margin-bottom: 18px;
  }

}

.accordion button h3 {
  margin-left: 10px;
}


/* Print */
@media print {
  .cards-header-print {
    display: block;
  }

  .health-card {
    display : block;
    float   : left !important;
    width   : 100%;
    left    : 0;
    position: relative;
  }

  /* Defining all page breaks */
  a {
    page-break-inside: avoid
  }

  blockquote {
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after : avoid;
    page-break-inside: avoid
  }

  img {
    page-break-inside: avoid;
    page-break-after : avoid;
  }

  table,
  pre {
    page-break-inside: avoid
  }

  ul,
  ol,
  dl {
    page-break-before: avoid
  }

  header,
  footer,
  .health-card__order-replacement,
  .health-card .health-card__card-toggle,
  .accordion-toppanel--wrapper,
  .non-breaking-hr,
  .col-sm-3,
  .fa-chevron-right,
  .print-button,
  h1 {
    display: none !important;
  }

  .health-card__extras {
    border-top: 0 !important;
    display   : flex !important;
    background: transparent !important;
  }

  .health-card__image-container {
    display: block !important;
    margin: 20px 0 0 0 !important;
    max-width: 352px;
    max-height: 228px;
    text-align: left !important;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .accordion button h3 {
    margin-left: 0;
    margin-top: 40px;
  }

  .health-card__detail:first-child {
    .accordion button h3 {
      margin-top: 0;
    }
  }

  .accordion-button {
    page-break-after: avoid;
  }

  .accordion-content {
    display: block !important;

    &.hidden {
      display: block;
      opacity: 1;
    }
  }

  .health-card__conditions-list {
    display: flow !important;
  }

  .health-card__card-info {
    margin-bottom: 0 !important;
    display      : block !important;
    background   : transparent !important;

    .health-card__inner-card-info {
      display: flex;
      width  : 100%;
    }
  }

  .card-text {
    background : transparent !important;
    font-size  : 15px !important;
    line-height: 19px !important;
  }

  .health-card__card-name {
    left     : 4.5% !important;
    max-width: 45% !important;
  }

  .health-card__card-number {
    top: 44% !important;
  }

  .health-card__file-no-text {
    top  : 44% !important;
    left : 56% !important;
    right: 0 !important;
  }

  .health-card__expiry-text {
    top  : 55% !important;
    left : 56% !important;
    right: 0 !important;
  }

  .health-card__card-expiry {
    top: 55% !important;
  }

  .health-card__class {
    top: 74% !important;
  }
}