.homepage__content {
  position: relative;
  width   : 100%;
}

.homepage__row {
  display       : flex;
  flex-direction: column;
  padding       : 0 0 25px 0;

  @media screen and (min-width: 992px) {
    flex-direction  : row;
    justify-content : space-between;
    background-color: transparent;
    color           : $mys-black;
  }
}

.homepage__column {
  display         : flex;
  flex-wrap       : wrap;
  flex-direction  : column;
  width           : 100%;
  padding         : 15px;
  max-width       : none;
  margin-left     : 0px;
  margin-bottom   : 20px;
  background-color: $mys-grey-1;
  border-radius   : 2px;

  @media screen and (min-width: 992px) {
    margin-left: 20px;
  }
}

.homepage__column:first-child {
  margin-left: 0;
}

.homepage__column>ul {
  list-style-type: none;
  padding        : 0;
  margin         : 0;
}

.homepage__column>li {
  margin : 0;
  display: block;
}

.homepage__icon {
  font-size   : 15px;
  line-height : -1.5em !important;
  margin-right: 8px;
}

.homepage__content a {
  text-decoration: none;
  display        : block;
  font-size      : 16px;
  color          : $mys-black;
  border-bottom  : none;
  padding        : 5px 10px 5px 0;
}

.homepage__content a:hover,
.homepage__content a:focus {
  background-color: transparent;
  text-decoration : underline;
}

.homepage__column {
  .my-card__container {
    position: relative;
    max-width: 450px;

    .my-card__image {
      width        : 100%;
      height       : auto;
      box-shadow   : 0 0 3px 1px rgba(119, 119, 119, .35);
      border-radius: 5px;
    }

    .card-text {
      background: transparent;
      position  : absolute;
      font-size : 4vw;
      @media screen and (min-width: 450px) {
        font-size: 20px;
      }
      @media screen and (min-width: 992px) {
        font-size: 14px;
      }
    }

    .card-holder-name {
      top: 42%;
      left: 5%;
    }

    .card-number-label {
      top : 42%;
      left: 45%;
    }

    .card-number {
      top : 42%;
      left: 70%;
    }

    .card-expiry-label {
      top : 58%;
      left: 45%;
      line-height: 1.1em;
    }

    .card-expiry {
      top : 58%;
      left: 81%;
    }

  }
}