.reviews--decisions {

  tr {
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
    position      : relative;

    .return-label {
      display: block;
    }
  }

  th:first-child,
  td:first-child {
    white-space: nowrap;
  }

  td:nth-child(3) {
    white-space: nowrap;
  }

  tr.selected {
    background-color: $mys-black-3;
    border          : 1px solid $mys-black-30;
  }

  td.no-label {
    padding: 15px !important;
  }

  /* Simple CSS for flexbox table on mobile */
  @media(max-width: 800px) {

    border         : 0;
    border-collapse: collapse;

    thead {
      left      : -9999px;
      position  : absolute;
      visibility: hidden;
    }

    tr {
      display         : flex;
      flex-direction  : row;
      flex-wrap       : wrap;
      margin-bottom   : 20px;
      background-color: #fff;
      border          : 1px solid $mys-black-10;
    }

    td:first-child {
      padding      : 15px;
      position     : relative;
      width        : 100%;
      border-bottom: 1px solid $mys-black-10;
    }

    td,
    td:last-child {
      padding : 35px 15px 15px 15px;
      position: relative;
      width   : 50%;
      border  : none;
    }

    td:nth-child(4) {
      width: 100% !important;
    }

    td:before {
      content   : attr(data-title);
      background: transparent;
      color     : $mys-black-50;
      @expand .mys.body;
      padding: 15px;
    }

  }

}

.decisions-table-footer {
  display        : flex;
  justify-content: space-between;

  // .other-decision {
  //   justify-self: end;
  // }
}

.reviews.mys-page-preloader {
  min-height    : auto;
  display       : flex;
  flex-direction: column;

  .message {
    margin-top: 5px;
    ;
  }
}