 /* Table with header and footer */
 /* Used in expenses */
 /* Ref: https://css-tricks.com/making-tables-responsive-with-minimal-css/ */

 .mys-table1 {

   box-sizing    : border-box;
   background    : #fff;
   border        : 1px solid #eee;
   border-spacing: 0;
   width         : 100%;

   th {
     border-bottom: 1px solid #ddd;
   }

   td {
     border-bottom: 1px solid #eee;
   }

   tfoot td {
     border-top: 1px solid #eee;
   }

   th,
   td {
     padding: 15px;
   }

   tfoot td {
     font-weight: bold;
   }

   .placeholder {
     cursor          : auto !important;
     background-color: transparent !important;

     td {
       text-align: left !important;
     }

   }

   td.actions {
     line-height: 35px;
   }

   td.col-highlight {
     background-color: $mys-black-30;
   }

   th.col-highlight {
     background-color: $mys-black-10;
   }

   .table-sort {
     margin-left: 5px;
     color      : $mys-black-3;

     &.col-active {
       color: rgba(0, 0, 0, 1);
     }
   }

   th.sortable {
     cursor: pointer;
   }

   a {
     cursor: pointer;
   }

   .inline-label {
     font-weight: 600;
   }

   .uikit-btn--borderless {
     margin          : 0 !important;
     margin-right    : 10px !important;
     background-color: transparent !important;
   }

   .uikit-btn--borderless:hover {
     background-color: $uikit-hover !important;
   }

   .uikit-control-input__text {
     padding: 5px;
   }

   /* Simple CSS for flexbox table on mobile */
   @media(max-width: 800px) {

     border: 0;

     thead {
       left      : -9999px;
       position  : absolute;
       visibility: hidden;
     }

     tr {
       display         : flex;
       flex-direction  : row;
       flex-wrap       : wrap;
       margin-bottom   : 20px;
       background-color: #fff;
       border          : 1px solid #ddd;
     }

     td {
       padding : 30px 5px 5px 10px;
       position: relative;
       width   : 50%;
       border  : none;
     }

     td:last-child {
       padding : 5px 5px 10px 10px;
       position: relative;
       width   : 100%;
     }

     tfoot td {
       padding: 15px !important;
     }

     tfoot td:last-child {
       width: 50%;
     }


     td:before {
       content       : attr(data-title);
       background    : transparent;
       color         : dimgrey;
       font-size     : 12px;
       font-weight   : 600;
       padding       : 10px;
       position      : absolute;
       text-transform: uppercase;
       top           : 0;
       left          : 0;
     }

     td:last-child {
       text-align: left;
     }

     .placeholder {
       border: none;

       td {
         padding   : 0 !important;
         text-align: left;
       }
     }

     .uikit-btn--borderless {
       margin      : 0 !important;
       margin-right: 15px !important;
     }

   }

 }