.return-a {

  td {

    position: relative;

    .return-label {
      display: block;
    }

    .vl {
      border-left: 3px dotted black;
      height     : 120px;
      position   : absolute;
      top        : 36px;
      left       : 21px;
      display    : block;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    .return-date-time {
      margin-left: 20px;

      @media screen and (max-width: 800px) {
        margin-left: 0px;
      }
    }

  }

  @media screen and (max-width: 800px) {
    margin-bottom: 0px !important;
    border-bottom: 0px !important;
  }
  

}

.return-label,
.vl {
  display: none;
}

#tab {
  position: relative;
}

.return-date-time {
  margin-left: 0;
}

select {
  option {
    &:disabled {
      color: rgba(0,0,0,.45);
    }
  }
}