.return-a {

  td {

    position: relative;

    .return-label {
      display: block;
    }

    .vl {
      border-left: 3px dotted black;
      height     : 40px;
      position   : absolute;
      top        : 36px;
      left       : 21px;
      display: block;
    }

    .return-date-time {
      margin-left: 20px;
    }

  }
}

.return-label,
.vl {
  display: none;
}

#tab {
  position: relative;
}

.return-date-time {
  margin-left: 0;
}