 /* Table with header and footer */
 /* Used in reimbursements */
 /* Ref: https://css-tricks.com/making-tables-responsive-with-minimal-css/ */

 .mys-table1 {

   box-sizing: border-box;
   border-collapse: collapse;
   background     : #fff;
   border         : 1px solid #eee;
   border-spacing : 0;
   margin-bottom  : 1em;
   width          : 100%;

   th {
     border-bottom: 1px solid #ddd;
   }

   td {
     border-bottom: 1px solid #eee;
   }

   tbody tr:last-child td {
    border-bottom: 1px solid #ccc;
  }

   td.placeholder {
     text-align: left !important;
     font-size : 14px;
     color     : #bbb;
   }

   .button {
     font-size  : 1.15em;
     margin-left: 10px;
     cursor: pointer;
   }

   th,
   td {
     padding: 15px;
   }

   th:last-child,
   th:nth-last-child(2),
   td:last-child,
   td:nth-last-child(2) {
     text-align      : right;
     white-space: nowrap;
     width: 1px;
   }

   tfoot td {
     font-weight: bold;
   }

   /* Simple CSS for flexbox table on mobile */
   @media(max-width: 800px) {

     border: 0;

     thead {
       left      : -9999px;
       position  : absolute;
       visibility: hidden;
     }

     tr {
       border-bottom : 0;
       display       : flex;
       flex-direction: row;
       flex-wrap     : wrap;
       margin-bottom : 40px;
     }

     td {
       border     : 1px solid;
       margin     : 0 -1px -1px 0;
       padding-top: 35px;
       position   : relative;
       width      : 50%;
     }

     td span {
       display: block;
     }

     td:before {
       content       : attr(data-title);
       background    : #eee;
       color         : dimgrey;
       font-size     : 10px;
       font-weight   : bold;
       padding       : 5px;
       position      : absolute;
       text-transform: uppercase;
       top           : 0;
       left          : 0;
     }

     tfoot td::before {
       display         : none;
       background-color: #eee;
     }

     tfoot td {
       border          : 1px solid;
       padding-top     : 15px;
       background-color: #eee;
     }
   }
 }