/**********************************
	User feedback includes any messages that are dynamically generated for the user.
	For example, system outage messaging and validation feedback.

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

// Announcing planned outages

.header-system-message {
	.uikit-page-alerts {
	    margin: 0;
	    max-width: none;
	    padding: 0.6em 0.8em;
	    border-bottom: none;
	    border-top: none;
	    border-right: none;
	    border-radius: 0;
	}
}


// Displaying version information top of screen.

.header-version-message {
	background-color: #000;
	color: #fff;
	line-height: 1.2;
	padding: 0.5em 0;
	margin: 0;
	p {
		margin: 0;
	}
	a {
		color: #fff !important;
		padding: 2px;
		&:hover,
		&:focus {
			background-color: $blue !important;
			text-decoration: none;
		}
	}
}


// Validation feedback

.has-error {
	border-left: 1px solid $validation;
	padding-left: 1em;
	.input-error-message {
		background: transparent url(../images/ico-error.svg) no-repeat 0 3px;
		background-size: 20px 20px;
		padding: 0 0 0 24px !important;
		color: $validation;
	    padding: 0;
	    margin: 0;
	    width: 100%;
	    font-size: 1rem;
	    clear: both;
	    display: block;
	}
	input[type=text],
	input[type=date],
	input[type=tel],
	input[type=email],
	input[type=number],
	input[type=phone],
	input[type=password],
	input[type=url],
	input[type=search],
	textarea,
	select {
		border: 1px solid $validation !important;
	}
}
}