#state-switcher,
.pt-choose-user {
  @include uikit-media(sm) {
    position: fixed;
    width: 300px;
  }

  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, .2);
  display: none;
  margin: 1em;
  padding: 1em;
  position: absolute;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
  max-height: 90vh;
}

.pt-choose-user {
  @include uikit-media(sm) {
    height: auto;
    width: 380px;

    h3 {
      margin-top: 0;
    }
  }

  // width: 100%;
}

.pt-flex-grid {
  background-color: $gray-light;
  display: flex;
  margin: 0 0 .2em;
  padding: .2em .4em;
}

.pt-col {
  flex: 2;

  &:first-child {
    flex: 1;
    font-weight: bold;
  }
}

.pt-image-circle {
  border-radius: 50%;
  height: 150px;
  margin: 0 0 1em;
  object-fit: cover;
  object-position: center right;
  width: 150px;
}

.pt-switch-account {
  display: none;
}