//
// Table styling
//

@mixin table-responsive {
  width: 100%;

  td,
  th {
    width: auto;
  }

  thead {
    display: none;
  }

  tr {
    &:nth-of-type(2n) {
      background-color: inherit;
    }

    td {
      border-bottom: 0;

      // margin-top: uikit-space(0.6);

      &:first-child {
        padding-bottom: 0;
      }

      &:last-child {
        // border-bottom: 1px solid $gray-light;
        margin-bottom: uikit-space(0.6);
      }
    }
  }

  tbody {
    td {
      display: block;

      &::before {
        content: attr(data-th);
        display: block;
        text-align: center;
      }
    }
  }

  // other blocks
  .right {
    text-align: left;
  }

  .right .accordion-title__details:last-child {
    .file-upload__label {
      float: right;
    }
  }

  .file-upload {
    overflow: auto;
  }

  .file-upload--add {
    display: none;
    float: left;
  }

  .file-upload__file-name {
    line-height: 2;
    margin-bottom: uikit-space(0.6);
    overflow-wrap: break-word;
    padding-right: 0;
    word-break: break-word;
    word-wrap: break-word;
  }

  .file-upload__label {
    display: table;
    table-layout: fixed;
    text-align: right;
    vertical-align: top;

    .uikit-btn--tertiary {
      float: right;
    }
  }

  .file-upload__input + label {
    white-space: initial;
    width: 100%;
  }

  .file-upload__document,
  .file-upload__button {
    display: table-cell;
    vertical-align: top;
  }

  .file-upload__document {
    text-align: left;
  }

  .file-upload__button {
    text-align: right;
  }

  .file-status {
    // give all tds the right padding if they have an icon
    ~ td {
      margin-top: -(uikit-space(0.45));
      padding-left: uikit-space(1.5);
      padding-right: 32px;
      padding-top: .6em;

      &.right {
        padding-right: 0;
      }
    }

    // hide the text content
    span {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
    }
  }

  .accordion {
    display: block;
    position: relative;

    td {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .accordion--closed {
    .right {
      display: none;
    }
  }

  .accordion__trigger {
    bottom: 0;
    content: ' ';
    height: uikit-space(0.75);
    position: absolute;
    right: 0;
    top: 1.4em;
    width: uikit-space(0.75);
  }
}

// codesmells
table {
  border: 1px solid $gray-light;
  border-radius: 6px;
  border-spacing: 0;
  margin-bottom: 2em;
  width: 100%;

  caption {
    max-width: 100%;
  }

  td,
  th {
    // padding: uikit-space(0.45) uikit-space(0.3) uikit-space(0.45) uikit-space(0.65);
    padding: 1.5em 0.5em 1em 1em;
    text-align: left;
    vertical-align: top;

    // this is a bad idea. need to come up with another way of handeling the problem that is was trying to fix
    // width: 100%;
 
  }

  th {
    background-color: $gray-light;
    border-top: 0;
    text-align: left;
  }

  tr {
    background-color: $white;
    box-shadow: 0 -1px 0 $gray-light;

    // box-shadow: 0 1px 0 0 $gray-light;

    // 0 1px 0px 0px

    &:first-child {
      // box-shadow: none;
   
    }
  }

  .centred {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  tr {
    > td {
      &:last-of-type {
        padding-right: uikit-space(0.75);
      }
    }
  }

  &.data-centred {
    margin-top: 2em;

    caption {
      font-size: 1.2rem;
    }

    td,
    th {
      padding: .75em .5em;
      font-size: 0.9rem;
      text-align: center;
      vertical-align: middle;
    }

    td {
      padding: .5em;
    }

    button {
      font-size: .9rem;
      padding: .25em .7em .4em;
    }
  }

  &.cover-detail {
    th {
      border-bottom: 1px solid $white;
      font-weight: normal;
      width: 40%;
    }

    td {
      width: 60%;
    }
  }
}

// This is part of a prototype. reinstate if needed
// .table--large {
//   td,
//   th {
//     padding-top: 1.1em;
//     padding-bottom: 1.1em;
//     vertical-align: middle;
//   }
// }
.table-responsive--no-border { // not sure about this
  border: 0;

  tr {
    td {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .accordion {
    td {
      &:last-child {
        width: 24px;
      }
    }
  }
}

.file-upload {
  margin-top: -.5em;

  // padding-bottom: 1em;
}

.file-upload--left {}

.file-status {
  min-width: 1em;
  position: relative;
  width: 1em;

  &::after {
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    height: 24px;

    // margin-top: uikit-space(0.5);
    margin-top: 1.35em;
    position: absolute;
    top: 0;
    width: 24px;
  }

  // span {
  // font-weight: bold;
  // margin-left: uikit-space(1.5);
  // }
}

a {
  &.accordion__trigger {
    border: 1px solid transparent;
    border-bottom: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;

    // font-size: 0;
    line-height: 1.3;

    // padding: uikit-space(0.75) uikit-space(0.375);
    padding: .7em;
    position: relative;
    text-decoration: none;

    // width: 100%;
    height: 24px;
    width: 24px;

    &:focus,
    &:hover {
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom: 1px solid $uikit-colour-Text;
      outline: 1px solid transparent;
      outline-offset: 1px;
    }

    // remove the default details arrow icon
    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' + '	<path fill="#{$uikit-colour-Secondary}" d="M64 0l64 64-16 16-64-64"/>' + '	<path fill="#{$uikit-colour-Secondary}" d="M64 0l16 16-64 64L0 64"/></svg>');
      background-position: center;
      background-repeat: no-repeat;
      bottom: 0;
      content: ' ';
      height: 1.2em;
      position: absolute;
      right: 0;
      top: 2px;
      transition: transform 0.25s ease-in;
      width: 22px;
      z-index: 0;
    }
  }

  &.accordion__trigger--closed {
    &::after {
      transform: rotate(-180deg);
    }
  }
}

.accordion--open {
  .accordion-title__details {
    display: block;

    &.file-upload {
      margin-top: 1em;
    }
  }
}

.accordion--closed {
  .accordion-title__details {
    display: none;
  }
}

.file-upload-container {
  max-width: 250px;
  min-width: 250px;
}

.file-status--required {
  &::after {
    background-image: uikit-svguri('<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">\a     <style>\a       .st0{fill:#{$uikit-colour-Warning}\a     </style>\a     <circle class="st0" cx="20" cy="31" r="1.4"/>\a     <path class="st0" d="M18.8 25.4V12.5c0-.5.5-.9 1.2-.9s1.2.4 1.2.9v12.8c0 .5-.5.9-1.2.9s-1.2-.3-1.2-.8z"/>\a     <path class="st0" d="M3.5 38.5c-1.2 0-2.3-.6-2.9-1.6-.6-1-.6-2.3-.1-3.3L17.1 2.4c.6-1.1 1.7-1.8 3-1.8 1.2 0 2.4.7 3 1.8l16.3 31.1c.6 1.1.5 2.4.1 3.3-.4.8-1.6 1.7-2.8 1.7H3.5zM20.1 2.6c-.5 0-1 .3-1.2.7L2.2 34.5c-.2.4-.2 1 0 1.4.3.4.7.7 1.2.7h33.2c.4 0 .7-.2 1-.4.3-.3.4-.6.4-1 0-.2-.1-.4-.2-.6l-.7-1.6L21.4 3.4c-.3-.5-.8-.8-1.3-.8z"/>\a   </svg>');
  }
}

.file-status--uploaded {
  &::after {
    background-image: uikit-svguri('<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">\a     <style>\a       .st0{fill:#{$uikit-colour-Success}}\a     </style>\a     <path class="st0" d="M20 .4C9.2.4.4 9.2.4 20S9.2 39.7 20 39.7 39.7 30.8 39.7 20 30.9.4 20 .4zm0 37.4c-9.8 0-17.7-8-17.7-17.7S10.3 2.3 20 2.3s17.7 8 17.7 17.8S29.8 37.8 20 37.8z"/>\a     <path class="st0" d="M29.8 12.4l-14 14.1-6.4-6.4-1.5 1.5 7.9 7.9L31.4 14z"/>\a   </svg>');
  }
}

.file-status--uploading::after {
  animation: spin linear 1s infinite;
  background-image: url(../images/waiting-blue.svg);
}

.table-responsive--always-stacked {
  &.table-responsive {
    @include table-responsive;
  }
}

// responsive table
@media screen and (max-width: $medium-handheld) {
  .table-responsive {
    @include table-responsive;
  }
}

.claim-summary-table {
  border: 0px solid #cccccc !important;

  tr, td {
    padding: 0.6em 1em 0.6em 1em;
    text-align: left;
    font-weight: bold;
  }

  td:first-child {
    width: 55%;
    padding-right: 2em;
    font-size: 0.9em;
    text-align: left;
    font-weight: normal;
  }

  td ul {
    text-align: left;
  }
}

@media screen and (min-width: $medium-handheld) {
  .claim-summary-table {
    tr, td {
      text-align: right;
      font-size: 1em;
    }

    td ul {
      text-align: left;
    }
  }
}

@media screen and (max-width: $medium-handheld) {
  .claim-summary-table {
    td:first-child {
      width: auto;
    }
  }
}

.feature-set {
  border: 1px solid $blue-dark;

  th {
    background-color: $blue-dark;
    color: $white;
    vertical-align: middle;

    // border-top:4px solid #888888;
    border-left: 1px solid #888888;
  }

  th:first-child {
    // border-top:0px solid #888888;
    border-left: 0px solid #888888;

    p {
      font-weight: normal;
    }
  }

  td {
    text-align: center;
    border-left: 1px solid $gray-light;
  }

  td:first-child {
    text-align: left;
    border-left: 0px solid $gray-light;
  }

  img {
    width: 25px;
  }
}

.feature-set tr:hover, .feature-set__sub-heading td:hover {
  background-color: #f4f4f4;
}

.feature-set tr:last-child {
  &:hover {
    background-color: $white;
  }
}

.feature-set__sub-heading {
  td {
    // border-top:1px solid #666666;
    background: $blue-5;
    border-left: 1px solid $blue-20;
  }

  td:first-child {
    // border-left:6px solid $blue;
    border-left: 0px solid $blue-20;
  }
}

.feature-set__yes--green {
  a {
    background-image: url("../images/ico-tick-green-outline.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
    border-bottom: 0px solid;

    &:hover {
      background-color: transparent;
    }
  }

  span {
    visibility: hidden;
  }
}

.feature-set__yes {
  a {
    background-image: url("../images/ico-tick-blue.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
    border-bottom: 0px solid;

    &:hover {
      background-color: transparent;
    }
  }

  span {
    visibility: hidden;
  }
}

.feature-set__no {
  background-image: url("../images/ico-na-grey.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
}
