/**********************************
  This controls layout of an animated icon to be displayed to indicate the change to a state of the page is still being processed. Example: Displays immediately after a claim is submitted then disappears once the "claim submitted" toast message displays.

**********************************/
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.waiting-bar {
	background: $blue; /* For browsers that do not support gradients */
	
	background: linear-gradient(left, $gray-light, $gray-light 40%, $white 45%, $white 55%, $gray-light 60%, $gray-light); /* Standard syntax */
    background: -webkit-linear-gradient(right, $gray-light, $gray-light 40%, $white 45%, $white 55%, $gray-light 60%, $gray-light); /* For Safari */
    background: -o-linear-gradient(right, $gray-light, $gray-light 40%, $white 45%, $white 55%, $gray-light 60%, $gray-light); /* For Opera */
    background: -moz-linear-gradient(to right, $gray-light, $gray-light 40%, $white 45%, $white 55%, $gray-light 60%, $gray-light); /* For Firefox */
	margin-bottom: -18px;
	padding: 0 0 2px 0;
	position: relative;
}

.ico-waiting-bar {
	animation: spin linear 1s infinite;
	background: url('../images/waiting-blue.svg') no-repeat center;
	background-size: 30px 30px;
	height: 30px;
        left: 50%;
        margin-left: -15px;
	margin-top: -15px;
	position: absolute;
	text-align: center;
	width: 30px;
}

.ico-waiting {
	animation: spin linear 1s infinite;
	background: url('../images/waiting-blue.svg') no-repeat center;
	background-size: 30px 30px;
	height: 30px;
}

.ico-waiting-inline {
	animation: spin linear 1s infinite;
	background: url('../images/waiting-blue.svg') no-repeat center;
	background-size: 30px 30px;
	display: inline-block;
	height: 30px;
	padding-left: 0.8em;
	vertical-align: top;
	width: 30px;
}

