/**********************************
	Specific styling for unauthenticated home page

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

// Feature area containing introductory text

.hero-main {
	background: $blue;
	font-size: 0.9rem;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
	h1 {
		font-weight: normal;
		color: white;
		font-size: 1.5rem;
		margin-bottom: 0.5em;
	}
	p {
		color: white;
	}
	.ready-to-register {
		color: white;
    	p {
    		margin: 0;
    		padding: 0;
    	}
    	a {
		    color: white;
		    strong {
				margin: 0 0 0 0.25em;
			}
    	}
    	button {
    		margin: 0 0.25em 0.5em 0;
    		font-size: 1.4rem;
    		background-color: $green !important;
    		border: 2px solid white;
    		border-radius: 6px;
    		-webkit-box-shadow: 0 3px 10px 2px $blue-dark;
			box-shadow: 0 3px 10px 2px $blue-dark;
		    &:focus, 
		    &:hover {
		      background-color: $green-dark !important;
    		  border: 2px solid $green;
		    }  
    	}
	}
}
@media only screen and (min-width: $small-handheld) {
	.hero-main {
		background: $blue url(../images/bg-header.jpg) no-repeat 0 0;
		background-size: cover;
		font-size: 1.1rem;
		padding-bottom: 1em;
		margin-bottom: 2em;
		h1 {
			font-weight: normal;
			color: white;
			font-size: 2rem;
			margin-bottom: 0.5em;
		}
		p {
			color: white;
		}
	}	
}
@media only screen and (min-width: $large-handheld) {
	.hero-main {
		.ready-to-register {
    		text-align: right;
	    	button {
	    		margin: 2em 0.25em 0.5em 0;
	    	}
		}
	}	
}

&.landing-page {
	.uikit-header.uikit-header--dark {
	    background-color: white;
	}
	header {
		min-height: 3em;
		img {
			display: block;
		}
		h1 {
		  color: $blue;
		  font-weight: 400;
		  font-size: 1em;
		}
		.separator {
			border-right: 1px solid black;
			margin-top: 0.25em;
			height: 20px;
		}
		sup.beta {
		  display: inline-block;
		  padding: 3px 5px;
		  border-radius: 4px;
		  background: $blue;
		  color: white;
		  font-size: 0.6rem;
		}
		ul {
			margin: 3em -12px 0 -12px;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 0.45em 0 0 0;
			a {
				color: #fff;
				font-weight: bold;
			}
			&.header-profile a,
			&.header-signout a {
				background: transparent url(../images/ico-profile.svg) no-repeat 10px 0.75em;
				padding: 0.5em 1em .55em 30px;
				background-size: 16px 16px;
				font-weight: normal;
			    &:focus, 
			    &:hover {
			      background-color: $uikit-colour-Link;
				  color: $uikit-colour-Text;
			    }  
			}
			&.header-signout a {
				background: transparent url(../images/ico-signout.svg) no-repeat 10px 0.75em;
				background-size: 16px 16px;
				margin: 0 0 0 -3px;
			}
		}
	}
	@media only screen and (min-width: $small-handheld) {
		header {
			min-height: 5em;
			ul {
				margin: 4em -12px 0 -12px;
			}
			.separator {
				height: 30px;
				margin-top: 0.5em;
			}
			h1 {
			  font-size: 1.5em;
			  margin-top: 0.15em;
			}
		}
	}
	@media only screen and (min-width: $medium-handheld) {
		header {
			min-height: 5em;
			ul {
				margin: 0.75em 0 0 0;
			}
			li {
				a {
					color: $blue;
				}
				&.header-profile a,
				&.header-signout a {
					background: white url(../images/ico-profile-blue.svg) no-repeat 0 5px;
					background-size: 16px 16px;
					padding: 2px 2px 2px 20px;
				    &:focus, 
				    &:hover {
				      background-color: $uikit-colour-Link;
				      color: $uikit-colour-Text;
				    }  
				}
				&.header-signout a {
					background: white url(../images/ico-signout-blue.svg) no-repeat 0 5px;
					background-size: 16px 16px;
					margin-left: 1em;
				}
			}
			img {
				max-width: 200px;
				margin-top: 0.35em;
			}
			h1 {
			  font-weight: 500;
			  font-size: 2rem !important;
			  letter-spacing: -1px;
			}
			.separator {
				margin-top: 0.75em;
				height: 40px;
			}
			sup.beta {
			  padding: 4px 7px;
			  border-radius: 5px;
			  font-size: 0.7rem;
			}
		}
	}
	@media only screen and (min-width: $medium-tablet) {
		header {
			min-height: 6em;
			img {
				max-width: 250px;
				margin-top: 0.5em;
			}
			ul {
				margin: 1em 0 0 0;
			}
			h1 {
			  font-weight: 500;
			  font-size: 2.5rem !important;
			  letter-spacing: -1px;
			}
			.separator {
				margin-top: 1em;
			}
			sup.beta {
			  padding: 5px 8px;
			  border-radius: 6px;
			  font-size: 0.8rem;
			}
		}
	}
	h2 {
		font-weight: normal;
		font-size: 1.75rem;
	}
	.register {
		border-top: none !important;
		clear: both;
		margin: 0.5em 0 2.5em 0;
		padding-top: 0;
		.uikit-btn {
		    font-size: 1.5rem;
		    margin-right: 0.5em;
    	}
    	a {
		    font-size: 1.5rem;
		    font-weight: bold;
		    margin-left: 0.5em;
    	}
	}
}


// Numbered 1, 2, 3 steps for 'how it works'

.numbered-steps {
	ol {
		padding-left: 0;
	}
	li {
		list-style-type: none;
		display: table-row;
	}
	.numbers {
	    float: left;
	    display: table-cell;
	    border-radius: 100%;
	    line-height: 40px;
	    font-size: 1.2rem;
	    width: 40px;
	    height: 40px;
	    background: #2c3e50;
	    color: #fff;
	    text-align: center;
	    vertical-align: top;
    }
    .number-1:after {
    	content: "1";
    }
    .number-2:after {
    	content: "2";
    }
    .number-3:after {
    	content: "3";
    }
    .numbered-steps-content {
	    vertical-align: top;
	    display: table-cell;
	    padding: 0 0 0.5em 0.75em;
	    h3 {
	    	font-size: 1.05rem;
	    	padding: 0;
	    	margin: -5px 0 0 0;
	    }
	    p {
	    	padding: 0;
	    	line-height: 1.2;
	    }
    }
}


// Icons in 'what you need' box

.what-you-need {
	ul {
		padding-left: 0;
	}
	li {
		padding-left: 50px;
		list-style-type: none;
		min-height: 50px;
		line-height: 1.2;
	}
	.ico-key {
		background: transparent url(../images/ico-key.svg) no-repeat 0 0;
		background-size: 35px 35px;
	}
	.ico-calendar {
		background: transparent url(../images/ico-calendar.svg) no-repeat 0 0;
		background-size: 35px 35px;
	}
	.ico-card {
		background: transparent url(../images/ico-id.svg) no-repeat 0 0;
		background-size: 35px 35px;
	}
	.ico-docs {
		background: transparent url(../images/ico-docs.svg) no-repeat 0 0;
		background-size: 35px 35px;
	}
}


// Boxed content blocks

.summary-card {
	margin-bottom: 1em;
	border: 0px solid $gray;
	margin: 0 0 2em 0;
	padding: 0.25em 1em 1em 1em;
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	-webkit-box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.25);
	box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.25);
	.summary-card-content {
		h3 {
			padding: 0.5em 1em 1em 60px;
			line-height: 1.2;
		}
		p {
			padding: 0 1em 1em 1em;
			font-weight: normal;
			margin: 0;
		}
	}
	&.household {
		background: white url(../images/ico-household.svg) no-repeat 1.5em 1.5em;
		background-size: 40px 40px;
	}
	&.financial {
		background: white url(../images/ico-financial.svg) no-repeat 1.5em 1.5em;
		background-size: 40px 40px;
	}
	&.medical {
		background: white url(../images/ico-medical.svg) no-repeat 1.5em 1.5em;
		background-size: 40px 40px;
	}
	&.councelling {
		background: white url(../images/ico-councelling.svg) no-repeat 1.5em 1.5em;
		background-size: 40px 40px;
	}
	&.career {
		background: white url(../images/ico-career.svg) no-repeat 1.5em 1.5em;
		background-size: 40px 40px;
	}
	&.community {
		background: white url(../images/ico-community.svg) no-repeat 1.5em 1.5em;
		background-size: 40px 40px;
	}
}
@media only print, screen and (min-width: $medium-handheld) {
	.summary-card {
		display: inline-block;
		margin-right: 2%;
		min-height: 280px;
		float: left;
		width: 42%;	
	}
}
@media only print, screen and (min-width: $large-handheld) {
	.summary-card {
		width: 25%;	
		min-height: 420px;
	}
}
@media only print, screen and (min-width: $medium-tablet) {
	.summary-card {
		width: 25%;	
		min-height: 320px;
	}
}


}