/**********************************
	User feedback includes any messages that are dynamically generated for the user.
	For example, system outage messaging and validation feedback.

**********************************/

// Override colours

.uikit-page-alerts--success {
    border-color: $green;
}

.container-alert {
	background-color: $blue;
}
.white-background {
	background-color: white;
	margin-left: -10px;
}
.landing-page {
	.container-alert {
		background-color: white;
	}
}

// Announcing planned outages

.header-system-message {
	.uikit-page-alerts {
	    background-color: white;
		-webkit-box-shadow: 0 3px 8px 1px rgba(0,0,0,.2);
		box-shadow: 0 3px 8px 1px rgba(0,0,0,.2);
	    margin: 0.5em 0;
	    max-width: none;
	    padding: 0.6em 0.8em;
	    border-bottom: none;
	    border-top: none;
	    border-right: none;
	    border-radius: 5px;
	}
	.uikit-page-alerts--warning {
		border-top: 3px solid $orange;
		border-right: 3px solid $orange;
		border-bottom: 3px solid $orange;
	}
	.uikit-page-alerts--success {
		border-top: 3px solid $green;
		border-right: 3px solid $green;
		border-bottom: 3px solid $green;
	}
}


// Close system message

a.message-close {
	float: right;
	background: transparent url(../images/ico-close-gray.svg) no-repeat 0 2px;
	background-size: 20px 20px;
	border-bottom: none;
	color: $gray;
	font-size: .9rem;
	padding: 0 0 0 26px;
	margin-right: 0.75em;
	text-decoration: none;
    &:focus,
    &:hover {
		background: transparent url(../images/ico-close-black.svg) no-repeat 0 2px;
		background-size: 20px 20px;
	}
}


// Validation feedback

.input-error-message {
	display: none;
}

.has-error {
	border-left: 4px solid $validation;
	padding-left: 1em;
	h2 {
		background: transparent url(../images/ico-error.svg) no-repeat 0 2px;
		background-size: 45px 45px;
		padding-left: 50px;
		min-height: 45px;
	}
	.input-error-message {
		padding: 0 !important;
		font-weight: normal;
		color: $validation;
		line-height: 1;
	    margin: 0;
	    width: 90%;
	    font-size: 1rem;
	    clear: both;
	    display: block;
		margin: 10px 0 0 0;
	}
	input[type=text],
	input[type=date],
	input[type=tel],
	input[type=email],
	input[type=number],
	input[type=phone],
	input[type=password],
	input[type=url],
	input[type=search],
	textarea,
	select {
		border: 1px solid $validation !important;
	}
}

// Additional stlying for server side validation summary 

.has-error-server {
	border-left: none;
	padding-left: 0;
}

// Hide link appearance for focussable error heading

.heading-error {
	border: none !important;
    &:focus,
    &:hover {
    	background-color: inherit !important;
    }	
}

	
// System errors

.system-error {
	padding-top:50px;
	padding-bottom:80px;
	img {
		width: 50px;
		height: 50px;
		margin-right:10px;
		vertical-align: middle;
		}
	div {
		float:left;
		}
	p, div, button {
		margin-left:70px;
		}
	}
	
// Icon images that appear within headings

	h1.heading-icon {
	margin-bottom: 1em;
	img {
		width: 60px;
		height: 60px;
		vertical-align: middle;
		margin:0 0.6em 0 0;
	}
	}
	
	h3.heading-icon {
	margin-bottom: 1em;
	img {
		width: 30px;
		height: 30px;
		vertical-align: middle;
		margin:0 0.6em 0 0;
	}
}