// had to translate all this to SMIL due to CSS being loaded first.

// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 0;
//   }
// }

// @keyframes mergeDown {
//   0% {
//     transform: translate(0, 0);
//   }

//   100% {
//     transform: translate(0, 15%);
//   }
// }

// @keyframes mergeUp {
//   0% {
//     transform: translate(0, 0);
//   }

//   100% {
//     transform: translate(0, -15%);
//   }
// }

// @keyframes chev-5 {
//   0% {
//     // d: path("M-0.035,89.794C-0.035,89.794 46.741,47.106 58.421,38.051C63.924,33.785 66.279,33.925 70.62,33.949C78.448,33.992 105.212,33.938 105.212,33.938L170.758,88.884L151.354,108.238L84.464,51.82L19.956,107.335L-0.035,89.794Z");
//     opacity: 0;
//   }

//   100% {
//     // d: path("M56.568,70.036C56.568,70.036 78.424,92.99 78.592,93.17C78.784,93.377 78.681,93.304 78.94,93.52C79.213,93.747 79.103,93.56 79.103,93.56L138.048,32.13L149.172,42.275L79.871,115.535L45.409,79.951L56.568,70.036Z");
//     opacity: 1;
//   }
// }

// @keyframes turnGreen {
//   100% {
//     fill: $green;
//   }
// }

// @keyframes dash {
//   // 0% {
//   //   stroke-dasharray: 1, 500;
//   //   stroke-dashoffset: 0;
//   // }

//   // 100% {
//   //   stroke-dasharray: 600, 200;
//   //   stroke-dashoffset: 10;
//   //   stroke-width: 1px;
//   // }
// }

// $base-time: 0.8s;

// .success-animation__chev-1,
// .success-animation__chev-2 {
//   // animation-delay: 3.5s, 3.5s;
//   // animation-direction: normal;
//   // animation-duration: $base-time, $base-time;
//   // animation-fill-mode: both;
//   // animation-iteration-count: 1;
//   // animation-name: mergeDown, fadeOut;
//   // animation-play-state: running;
//   // animation-timing-function: ease-in-out;
// }

// .success-animation__chev-3,
// .success-animation__chev-4 {
//   // animation-delay: 3.5s, 3.5s;
//   // animation-direction: normal;
//   // animation-duration: $base-time, $base-time;
//   // animation-fill-mode: both;
//   // animation-iteration-count: 1;
//   // animation-name: mergeUp, fadeOut;
//   // animation-play-state: running;
//   // animation-timing-function: ease-in-out;
// }

// .success-animation__chev-5 {
//   // animation-delay: 3.5s, 3.5s;
//   // animation-direction: normal;
//   // animation-duration: $base-time, 0.4s;
//   // animation-fill-mode: both;
//   // animation-iteration-count: 1;
//   // animation-name: mergeDown, chev-5;
//   // animation-play-state: running;
//   // animation-timing-function: ease-in-out, ease-in;
//   fill: $green;
// }

// .success-animation__circle-path {
//   // animation: dash 1.5s ease-in-out forwards;
//   // animation-delay: 4.2s;
//   fill: none;
//   stroke: $green;

//   // stroke-dasharray: 0, 200;
//   // stroke-dashoffset: 0;
//   // stroke-linecap: round;
//   // stroke-width: 0;
// }

.success-animation,
.submitted-animation {
  margin: auto;
  width: 200px;
}

// hide animation for IE
.ie-success-animation {
  display: none;
}

// old IE's
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .success-animation,
  .submitted-animation {
    display: none;
  }

  .ie-success-animation {
    display: block;
    margin: auto;
    width: 200px;
  }
}

@supports (-ms-ime-align: auto) {
  .success-animation,
  .submitted-animation {
    display: none;
  }

  .ie-success-animation {
    display: block;
    margin: auto;
    width: 200px;
  }
}
