
.coc-updated {
  border-radius: 0px;
  background-color: #2B7DCE;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 0 5px 0 5px;
  text-transform: capitalize;
  display: none;
}
.coc-deleted {
  border-radius: 0px;
  background-color: red;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 0 5px 0 5px;
  text-transform: capitalize;
}

hr.coc-list-top {
  height: 2px; 
  background-color: #000; 
  margin-top: 0px; 
  margin-bottom: 20px; 
  padding: 0;
}

hr.coc-list-divider {
  margin-bottom: 0; 
  margin-top: 30px;
}

.coc-info {

  border-radius: 3px 3px 0 0;
  background-color: rgb(245, 248, 252);
  padding: 10px;
  margin-bottom: 17px;

  h3 {
    color: #2B7DCE;
    margin: 5px 0 5px 0;
    display: inline-block;
  }

  .message {
    margin-bottom: 5px;
  }

  hr {
    margin-bottom:0; 
    margin-top: 20px;
  }

  .legend {
    font-size: 14px; 
    margin-bottom: 5px;
  }

  .flag-icon-header {
    color:#2B7DCE;
    display: inline-block;
    margin-right: 4px;
  }

}

.coc-list {

  h3 {
    display: inline-block;
    margin-top: 0;
  }

  .flag-icon {
    color:#2B7DCE;
    margin-left: 8px;
  }

  /* for two column layout of lists */

  .listbox {
    width: 360px;
    float: left;
    padding-right: 60px;
  }

  li {
    list-style: none;
    padding: 0;
    padding-bottom: 7px;
  }

  ul {
    margin: 0;
    padding: 0 !important;
  }

  &.clearfix:before,
  &.clearfix:after {
    content: "";
    display: table;
  }

  &.clearfix:after {
    clear: both;
  }

}

.review__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.coc__edit-button {
  max-height: 36px;
  width: 61.38px;
}

.coc__delete-button {
  width: 116px;
  height: 36px;
}

.coc-box h2 {
  max-width: 85%;
}

.coc-box__deleted h2 {
  max-width: 100%;
  margin-bottom: 0px;
}

.edit-content h2 {
  max-width: 80%;
}

@media screen and (max-width: 375px) {
  .coc-box .review__table div.td, .edit-content .review__table div.td {
    display: block;
  }

  .review__header {
    flex-direction: column;

    h2 {
      margin-bottom: 19.920px !important;
      max-width: 100%;
    }
  }

  .coc-box .review__table .tr, .edit-content .review__table .tr {
    margin-bottom: 6px;
    display: block !important;
}

}


