.multi-date__input.multi-date__input--short {
  width: 2.3125rem;
}

.multi-date__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.multi-date__slash {
  font-size: 1.8rem;
  padding: 0 0.3rem;
  font-weight: 300;
  color: #979797;
}

.multi-date__slash--added {
  font-size: 1.3rem;
  font-weight: 400;
}

.multi-date__input.multi-date__input--long {
  width: 5.9375rem;
}

.multi-date__input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem 0.6rem;
  border-top: 1px solid #1057a7;
}

.multi-date__date-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 184px;

  .form-group {
    margin: 0;
    
    legend {
      display: none;
    }

    .uikit-text-input {
      margin: 0;
    }

    fieldset {
      margin: 0;
    }
  }

  span {
    font-size: 1.8rem;
    padding: 0 0.3rem;
    font-weight: 300;
    color: #979797;
  }
}

.multi-date__row {
  margin: 0;
  border-top: 3px solid #1057a7;

}

.multi-date__label {
  float: left;
  width: 100%;
  padding: 0.8rem 1.25rem;
  background: #fff;
  min-width: 250px;
}

.multi-date__input-group .uiToolKitCheckBox {
  margin: 0;
  padding: 0;
}

.multi-date__checkbox--padding {
  padding-left: 0.5rem;
}

.multi-date__date-group {
  input[type="number"] {
    margin: 0;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

}

.multi-date__button--add {
  width: calc(100% - 20px);
  margin: auto 1.125rem;
  max-width: 416px;
}

.multi-date__button {
  height: 2.25rem;
  text-align: center;
  margin-top: 1rem;
  padding: 0;
  order: 3;
  width: 100%;
}

.multi-date__label--added {
  width: unset;
  min-width: 120px;
}

.multi-date__added {
  display: flex;
  align-items: center;
}

.multi-date__button--remove {
  margin-bottom: 1rem;
}

.multi-date__checkbox-text--disabled-override {
  color: #313131 !important;
}

.multi-date--end {
  .multi-date__date-group {
    margin-bottom: 1rem;
  }
}

.multi-date__date-separator {
  display: none;
}

.multi-date:last-of-type {
  background: #f8f7f6;
  border-bottom: 1px solid #1057a7;
}

.multi-date.multi-date--static {
  .uikit-text-input {
    &,
    &:hover,
    &:disabled,
    &:focus {
      border: 0 !important;
      outline: 0 !important;
      background: 0 !important;
    }
  }

  @media screen and (max-width: $AU-media-sm) {
    background: 0;

    .hint {
      display: none;
    }

    .multi-date--end {
      border-top: 0;
    }

    .multi-date__input-group {
      border-top: 0;
      padding: 0rem 1.125rem;
    }

    .multi-date__label {
      padding: 0.8rem 1.25rem 0;
    }
  }

  
}


@media screen and (min-width: $AU-media-sm) {
  .multi-date {
    display: flex;
    flex-direction: row;
    width: 100%;

    .uiToolKitCheckBox {
      order: 3;
      width: 100%;
    }

    .multi-date__button {
      display: block;
      align-self: center;
      margin: 0 0 0 1rem;
      padding: 0;
      width: 6.25rem;
      height: 2.825rem;
      text-align: center;
    }
  }

  .multi-date__container {
    width: 624px;
    align-items: flex-start;
  }

  .multi-date__button--add {
    margin: 1rem 0;
    padding: 0 3rem;
  }

  .multi-date__input-group {
    display: flex;
    background: none;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .multi-date__date-group {
    order: 1;
  }

  .multi-date__button {
    width: auto;
    order: 2;
  }

  .multi-date__label {
    width: 100%;
  }

  .multi-date__input-group {
    margin: 0;
  }
}