/**********************************
	Variables for MyService

**********************************/

$white: #ffffff;
$blue: #1057A7;
$blue-light: #2A9ED1;
$blue-dark: #093d77;
$success-green: #3dbd93;
$gray: #666;
$green: #21b448;
$green-dark: #109032;
$orange: #F69900;
$gray-light: #E2E2E2; 
$input-focus: #fffae8;
$input-outline: #02bfe7;
$badge-bg: #c90000;
$validation: #cc0000;

$small-handheld: 480px;
$medium-handheld: 650px;
$large-handheld: 768px;
$medium-tablet: 960px;
