//Hide widgets on initial load for a smoother loading experience
.widget-profile,
#widget-payment,
#widget-claims,
#welcome-message,
#profile-message {
  display: none;
}

.widget-tile {
  @include uikit-media(sm) {
    max-width: 370px;
  }

  background: $off-white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px $gray-mild;
  flex-grow: 1;
  height: 102px;
  margin: .5em .5em 15px;
  overflow: hidden;
  width: 100%;

  p {
    line-height: 1.45em;
    margin: 0;
  }
}

.widget-tile--full-width {
  border-left: 4px solid $blue;
  height: auto;
  margin: .5em;
  min-height: 126px;
  padding: 8px 20px;
  width: 1112px;
}

.widget-tile--half-width {
  max-width: 100%;
}

.widget-tile--mobile-hide {
  display: none;
}

.widget-tile span {
  //TODO Can we remove the default underline on spans in myservice-typography?
  border-bottom: 0;

  &:hover {
    background: transparent;
  }
}

.widget-tile--blue-mid {

  .payment-amount,
  .widget-tile__title-icon {
    color: $white;
  }

  .widget-tile__title {
    background: $blue-light;
  }

  .payment-amount {
    color: $blue-light;
  }
}

.widget-tile--blue-light {
  .fa-edit {
    color: $blue-light;
  }
}

.widget-tile__title {
  align-items: center;
  background: $blue;
  box-shadow: 0 1px 2px 0 $rgba-gray;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  justify-content: space-between;
  padding: 10px 12px;

  span {
    color: $white;
  }
}

.widget-tile__title-icon {
  color: $white;
  font-size: 22px;
}

.widget-tile__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 69px;
  justify-content: center;
  padding: 12px;
  font-size: 13.6px;
}

.mobile-hide {
  display: none;
}

.claims-tile {
  justify-content: center;
}

.widget-tile__content--fullwidth {
  width: 100%;
}

.hide-on-small {
  display: none;
}

.widget-tile__stats {
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 13.6px;
  justify-content: center;
  padding: 0 15px 0 0;
}

.profile-content {
  align-items: flex-start;
}

.payment-amount {
  color: $blue;
  font-size: 25px;
}

.fa-edit {
  color: #1377b7;
  display: none !important;
  font-size: 20px;
  padding-right: 10px;
}

.authenticated-home {
  .home__seperator {
    margin: 25px 18px 10px;
    max-width: 1112px;
  }

  .container {
    max-width: 1142px;
  }
}

.widgets-container {
  padding: 0 !important;
}

.message__mobile-hide {
  display: none;
}

.tablet-hide {
  display: none;
}

.widget-tile__stats:nth-child(1) {
  margin-bottom: 10px;
}

.profile-content {
  justify-content: center;
  line-height: 1.3em;
  padding: 9px;
}

.widget-profile {
  .widget-tile__title {
    background: $blue-light;
  }
}

.tablet-message::first-letter {
  text-transform: capitalize;
}

@media only screen and (min-width: $AU-media-xs) {
  .widgets-container {
    margin: 0 12px !important;
  }

  .authenticated-home {
    .heading--greeting {
      padding: 0 20px;
    }
  }
}

@media only screen and (min-width: $AU-media-sm) {

  //TODO replace this with uikit-media after speaking to Luke
  .widget-tile {
    border: 1px solid transparent;
    border-left: 4px solid $blue;
    height: 126px;
  }

  .hide-on-small {
    display: inline;
  }

  .widget-tile__title-text {
    font-size: 16px;
  }

  .widget-tile__title {
    height: 42px;
  }

  .authenticated-home {
    .intro {
      max-width: 100%;
    }
  }

  .mobile-hide {
    display: block;
  }

  .tablet-hide {
    display: inline !important;
  }

  .widget-profile {
    .widget-tile__title {
      background: $white !important;
    }

    .profile-content {
      padding: 16px;
    }
  }

  .widget-tile__stats:nth-child(1) {
    margin-bottom: 0 !important;
  }

  .widget-tile--full-width {
    border-left: 4px solid $blue;
    max-width: 100%;
  }

  .widget-tile--half-width {
    max-width: 100%;
  }

  .widget-tile__content {
    align-items: center;
    flex-direction: row;
    height: 83px;
    padding: 20px;
    font-size: 16px;
  }

  .widget-tile__stats {
    font-size: 16px !important;
  }

  .widget-number {
    font-size: 32px;
  }

  .widget-tile--blue {
    &:hover {
      border: 1px inset $blue;
      border-left: 4px solid $blue;
    }

    .widget-tile__title-icon {
      color: $blue;
    }
  }

  .widget-tile__title {
    background: $white;
    padding: 10px 20px;

    .widget-tile__title-text {
      color: $black;
    }
  }

  .widget-tile--blue-light {
    border-left: 4px solid $blue-light;

    &:hover {
      border: 1px inset $blue-light;
      border-left: 4px solid $blue-light;
    }

    .widget-tile__title-icon {
      color: $blue-light;
    }

  }

  .widget-tile--blue-mid {
    border-left: 4px solid $blue-mid;

    &:hover {
      border: 1px inset $blue-mid;
      border-left: 4px solid $blue-mid;
    }

    .widget-tile__title {
      background: $white;
    }

    .payment-amount {
      color: $blue-mid;
      font-size: 32px;
      line-height: 1.2em;
    }

  }

  .widget-tile__title-icon {
    color: $blue;
    font-size: 25px;
  }

  .claims-tile {
    justify-content: flex-start;
  }

  .profile-content {
    font-size: 16px;

    .fa-edit {
      display: inline !important;
    }
  }
}

@media only screen and (min-width: $AU-media-md) {
  .authenticated-home {
    .intro {
      max-width: 800px;
    }
  }

  .message__mobile-hide {
    display: inline !important;
  }
}

@media only screen and (min-width: $AU-media-lg) {
  .widget-tile--mobile-hide {
    display: block;
  }

  .intro {
    .flex-container {
      padding: 0px !important;
    }
  }

  .authenticated-home {
    .home__seperator {
      margin: 25px auto 10px;
      max-width: 1112px;
    }

    .intro {
      max-width: 100%;
    }

    h1 {
      padding: 0 24px !important;
    }
  }

  .widget-tile {
    .profile-content {
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;
    }
  }

  .tablet-hide {
    display: inline !important;
  }
}


// POC loading widget 

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}

.widget-tile--loading {

  .widget-tile__content,
  .widget-tile__content::before,
  .widget-tile__content::after {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    // background: linear-gradient(to right, $gray-super-super-light 8%, $gray-super-light 18%, $gray-light 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dadada 18%, #eeeeee 33%);
    // background: linear-gradient(to right, #eeeeee 8%, #eeeeee 18%, #dddddd 33%);

    background-size: 800px 104px;
    position: relative;
  }

  .widget-tile__content {

    height: 11px;
    margin: 2.2em 1em 1em;
    padding: 5px;
    width: 85%;

    &::before,
    &::after {
      content: $content-blank;
      height: 6px;
      left: 0;
      margin: 0;
      padding: 5px 0 0;
      position: absolute;
    }

    &::before {
      top: -20px;
      width: 85%;
    }

    &::after {
      top: 20px;
      width: 60%;
    }

    >div,
    >span {
      display: none !important; // this is only important bacause of other "!important" uses in this file. Need to remove all of them! 
    }
  }


}