/**********************************
	Styling overrides for MyService

**********************************/

// Variables ----------------------

$blue: #1057A7;
$blue-light: #2A9ED1;
$blue-dark: #0E4E96;
$gray: #666;
$gray-light: #E2E2E2;
$input-focus: #fff79b;
$input-outline: #02bfe7;
$button-bg-hover: #000000;
$badge-bg: #c90000;

$small-handheld: 480px;
$medium-handheld: 650px;
$large-handheld: 768px;
$medium-tablet: 960px;


// Imports for myservice ----------

@import 'myservice-header';
@import 'myservice-progress-bar';
@import 'myservice-content';
@import 'myservice-forms';
@import 'myservice-star-rating';
@import 'myservice-cards';
@import 'myservice-slider';
