/**********************************
	Main content area

**********************************/

main {
	margin-bottom: 1em;
}

.uikit-breadcrumbs {
	margin: 1em 0 1.5em 0;
}

hr {
	padding: 1em 0 0 0;
	margin-top: 3em;
}

// Remove outline on target
:target {
	outline:none !important;
}

// Set layer order of skip to content link
.uikit-skip-link__link {
  z-index: 100;
}

// matching li item's max-width to that of paragraphs and headings.
ul {
		max-width: $uikit-maxwidth;
  		margin: 0 0 uikit-space( 1 ) 0;
	}


// Secondary content area

.secondary-content {
	background: #eeeeee;
}

#page-title {
	border-bottom:1px solid #dddddd;
	margin-bottom:4em!important;
	h1 {
		padding-bottom:0.2em;
		margin-bottom:0px;
	}
}

// External link icon
.external-link {
    background: url(../images/ico-external-blue.svg) no-repeat right 2px;
    padding-right: 24px;
    background-size: 16px 16px;
}
.external-link-white {
    background: url(../images/ico-external-white.svg) no-repeat right 2px;
    background-size: 16px 16px;
}


// Float content beside images

.float-content {
    float: left;
	margin-right: 2em!important;
}
.float-image-left {
    float: left;
    margin-right: 2em;
}

// Imitate a <br>

.line-break-after {
	margin-bottom:1.6em;
}

// add spacing before the element
.space-before {
	margin-top:1em;
}

// removes any spacing before the element
.no-space-before {
	margin-top:0px!important;
	padding-top:0px!important;
}

// removes any spacing after the element
.no-space-after {
	margin-bottom:0!important;
	padding-bottom:0!important;
}

