///
/// Primary for styling form elements (buttons, fields, legends, radio buttons and checkboxes).
/// Also contains classes for specific styling such as the width of DD MM YYYY input fields.
///

// Button styling
.uikit-body {
  background: $white !important;

  .uikit-btn {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;

    // Not sure the idea here. It causes alignment issues in http://localhost:5000/auth.
    // Probably not a good idea to do this to every button
    // margin-top: .5rem;
    span {
      border-bottom: 0;
    }

    &:focus,
    &:hover {
      background-color: $blue-dark;
    }

    &:disabled {
      background-color: $gray-light !important;
      border: 1px solid $gray-mid;
      color: $gray !important;

      &:focus,
      &:hover {
        background-color: $gray-light;
        cursor: not-allowed;
      }
    }

    &.show-password,
    &.send-code {
      border: 0;
      border-bottom: solid 1px $uikit-colour-Primary;
      border-radius: 0;
      display: block;
      font-weight: normal;
      line-height: 1;
      padding: 2px;

      &:focus,
      &:hover {
        background-color: $uikit-colour-Link;
        border-color: transparent;
        color: $uikit-colour-Text;
      }
    }
  }

  .uikit-btn__middle-image {
    border: 0;
    padding-left: 3px;
    width: 16px;
  }

  .uikit-btn__highlight-text {
    color: $blue;
  }

  .uikit-btn--tertiary {
    background-color: $white;
    border: 1px solid $blue;
    color: $uikit-colour-Text;

    &:focus,
    &:hover {
      color: $white;

      .uikit-btn__highlight-text {
        color: $white;
      }

      span {
        color: $white;
      }
    }

    span {
      margin: 0;
    }
  }

  .reversed {
    background-color: $blue;
    border: 1px solid $white;
    color: $white;
  }

  .uikit-btn--secondary {
    background-color: $green;
    border: 1px solid $green;

    &:focus,
    &:hover {
      background-color: $green-dark;
    }
  }

  .uikit-btn--mygov {
    background-color: $green-mygov;
    border: 1px solid $green-mygov;

    &:focus,
    &:hover {
      background-color: $green-mygov--hover;
    }
  }

  .uikit-btn--full-on-small {
    @media screen and (min-width: $AU-media-sm) {
      // display: inline-block;
      width: auto;
    }

    width: 100%;


  }

  // Styling for Borderless button eg. Cancel button used across Add Cover pages
  .uikit-btn--borderless {
    background-color: $white;
    border: 0;
    border-bottom: solid 1px $uikit-colour-Primary;
    border-radius: 0;
    color: $uikit-colour-Text;
    font-weight: normal;
    padding: 0;

    &:focus,
    &:hover {
      color: $uikit-colour-Text--90;
      background-color: $uikit-colour-Link;
    }
  }

  hr {
    border-top-color: $gray-mild;
  }

  .panel-margin {
    margin-bottom: 2em;
  }
}

.small {
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5em 0.8em;
}

.warning {
  border-color: #D20303 !important;
  color: #D20303 !important;

  &:focus,
  &:hover {
    background-color: #D20303 !important;
    border-color: #D20303 !important;
    color: $white !important;
  }
}

// Container for navigation buttons at bottom of screen

.pagination {
  border-top: 1px solid $gray-mild;
  clear: both;
  margin: 2em 0;
  padding-top: 2em;
  text-align: left;

  // Remove bolding from selected radios
  // a) this doesn't work, b) it's a bad idea. 
  // label {
  //   font-weight: normal !important;
  // }

  @media only screen and (min-width: $small-handheld) {
    .uikit-btn {
      margin-right: .5em;
      padding: 0.8em 0.6em !important;
    }

    .uikit-btn--borderless {
      padding: 0 !important;
    }

    .floated {
      .uikit-btn {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media only screen and (min-width: $medium-handheld) {
    .uikit-btn {
      padding: 0.8em 1.2em !important;
    }

    .uikit-btn--borderless {
      padding: 0 !important;
    }
  }
}

// sorry for the max-width here, but this is really only for mobile.
@media only screen and (max-width: $uikit-media-sm) {
  .pagination {
    .uikit-btn {
      margin-bottom: 0.5rem;
    }
  }

  .pagination--ss-reverse-order {
    display: flex;
    flex-flow: column-reverse;

    .floated {
      &:not(button) {
        display: flex;
        flex-flow: column-reverse;
      }
    }
  }
}

#optional-fields-message {
  margin: -1.5em 0 2em;

  +p.sub-fields-message {
    margin-bottom: 0;
  }
}

.sub-fields-message {
  font-style: italic;
  margin-top: 0;
  padding-top: 0;
}

.no-left-margin {
  margin-left: 0 !important;
}

// Styling for waiting buttons - e.g. to disable navigation buttons in the cover screens when waiting for a server response
@keyframes spintranslate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.uikit-btn--waiting {
  position: relative;

  &.uikit-btn--borderless {
    border-bottom: 0;
  }

  span {
    visibility: hidden;
  }

  img {
    animation: spintranslate linear 1s infinite;
    height: 1.5em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.hint {
  font-size: 1rem;
  font-weight: normal;
  margin: 2px 0 15px;
}

// For embedding the show password button within password field

@media only screen and (min-width: $small-handheld) {

  .show-password,
  .send-code {
    display: inline-block !important;
    margin-left: -5em;
  }

  .send-code {
    margin-left: -7em;
  }
}

// Gap between each label and input pair
.form-group {
  clear: both;
  margin: $form-margin;
  position: relative;
  ;
}

.form-group--secondary {
  margin-left: 2.5em;
}

.form-group--right-aligned {
  text-align: right;
}

// Input styling

input,
select,
textarea {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.5em 0.4em;

  &:hover,
  &:focus {
    box-shadow: 0 0 8px 1px $rgba-black-20;
  }
}

// conforming button styles
input[type="button"],
input[type="submit"],
input[type="reset"] {
  line-height: initial;
}

input[type="text"],
input[type="name"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="phone"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea,
select,
.typeahead {
  border: 1px solid #949494 !important; // codesmell; why is this important?
  border-radius: $uikit-border-radius;
  box-sizing: border-box;
  color: $gray;
  margin: 0 1em 0.4em 0; // now zero top margin to come in line with DTA
  max-width: 42em;
  padding: 0.6em 0.4em;
  // width: 90%;
  width: 100%;


  &:focus,
  &:hover {
    background-color: $white !important;
    border: 1px solid $gray !important;
    outline: none !important;
  }
  &:focus {
    outline: 2px solid $focus-purple !important;
  }

  &:disabled {
    background-color: $gray-light !important;
    border: 1px solid $gray-mid;
    color: $gray;
    cursor: not-allowed;

    &:focus,
    &:hover {
      border: 1px solid $gray-light !important;
      box-shadow: none;
    }
  }
}

.input-support-text {
  font-size: 1.4em;
  position: relative;
  top: 0.1em;
}

.input-support-text--middle {
  font-size: initial;
  padding-left: 1em;
  padding-right: 1em;
}

.input-support-text--after {
  margin-left: -0.6em;
}

select {
  &.uikit-text-input {
    height: 45px;
  }
}

// start jQuery override
// Controls typeahead text filter. Remove later.
.custom-combobox {
  display: inline;
  position: relative;
}

.custom-combobox-toggle {
  margin-left: -1px;
  padding: 0;
}

.custom-combobox-input {
  margin: $margin-zero;
  padding: 5px 10px;
}

.ui-tooltip {
  display: inline-block;
  margin: $margin-zero;
  padding: 0.75em 1.5em;
}

.ui-state-highlight {
  // TODO:: Remove. It's not used in the repo
  background-color: $orange-light;
}

.ui-helper-hidden-accessible {
  // TODO:: Remove. It's not used in the repo
  display: none;
}

// end jQuery override

@include uikit-media(xs) {

  input,
  select,
  textarea {

    &.input-half,
    &[type="phone"] {
      max-width: 22em;
      width: 45%;
    }

    &.input-auto {
      width: auto;
    }
  }



  input {
    &.input-small {
      max-width: 10em;
      width: 25%;
    }

    &[type='search'] {
      // Ensure input type=search has consistent sizing with input type=text
      appearance: searchfield;
      box-sizing: content-box;
    }

    // Remove the up/down arrows on HTML5 number fields
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      appearance: none;
      margin: $margin-zero;
    }

    &[type="number"] {
      appearance: textfield;
    }
  }
}

input,
select,
textarea {

  &.input-half,
  &[type='phone'] {
    width: 90%;
  }
}

input {
  &.input-small {
    width: 50%;
  }
}

fieldset {
  border: 0;
  clear: both;
  margin: 0 0 1em;
  padding: 0;
}

legend,
caption {
  border: 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4em;
  max-width: $uikit-maxwidth;
  padding: 0;
  text-align: left;
}

label {
  font-weight: bold;
}

// Style legends to appear like labels
.legend-label {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.8em;
  width: 100%;
}

.legend-h3 {
  font-size: 1.17rem;
  font-weight: bold;
  margin-bottom: 0.8em;
}

.legend-label--light {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.8em;

  .hint {
    color: $gray-mid;
    font-size: 0.9em;
  }
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.breakout {
  background: $gray-light;
  margin: 0 0 30px;
  padding: 2.5em 2em 1em 2em;

  &::after {
    clear: both;
    content: $content-blank;
    display: block;
    height: 0;
    visibility: hidden;
  }

  .hint {
    display: block;
    font-size: 0.7em;
    margin: 10px 0 0;

    a {
      white-space: nowrap;
    }
  }
}

.uikit-text-input__label-wrapper--inline-block {
  display: inline-block;
}

// Space between radio buttons
.uikit-control-input__radio {
  margin: 0.75em 0;
}

// Size of radio and checkbox span labels
.uikit-control-input__text {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0 0.5rem 0.5rem 2.5rem;
}

// Width of select boxes for drop downs that appear within a sentence eg. Add cover - Diagnosis
.uikit-text-input__dropdowns {

  // TODO:: Remove. It's not used in the repo
  select {
    display: block;
    width: 210px;
  }
}

.breakout-compact {
  background: $gray-light;
  margin: 0 0 30px;
  max-width: $uikit-maxwidth;
  padding: 2em 2em 0.1em;

  .hint {
    display: block;
    font-size: 0.7em;
    margin: 10px 0 0;

    a {
      white-space: nowrap;
    }
  }
}

.id-marriage,
.id-changename {
  margin-top: 2em;
}

// input widths
.dd,
.mm,
.yyyy,
.bsb {
  display: inline;
  margin-right: 0 !important;
  width: 2em !important;
}
.ss {
  width: 3em !important;
  text-align: center;
}

.ss-text{
  float: left;
  margin-top: 10px
}
.ss-box{
  float: left;
}
.yyyy {
  width: 4em !important;
}

.bsb {
  width: 3em !important;
}

// Autocomplete styling

.ui-widget-content {
  background: $white;
  border: 1px solid $gray-mild;
  color: $uikit-colour-Text;
}

.ui-menu {
  display: block;
  list-style: none;
  margin: $margin-zero;
  outline: 0;
  padding: 0;
}

.ui-autocomplete {
  cursor: default;
  left: 0;
  position: absolute;
  top: 0;
}

.ui-menu-item {
  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.ui-front {
  z-index: 100;
}

// A form call out reverses the colour contrast to ensure important functionality is highlighted

.form-callout {
  background-color: $blue-light;
  color: $black;
  padding: 0.5em 1em;

  button {
    border: 1px solid $white;
  }
}

.display-none {
  display: none !important; // used as brute force so only removal of class can override
}

@media only screen and (min-width: $medium-handheld) {
  .uikit-text-input__dropdowns {

    // TODO:: Remove. It's not used in the repo
    select {
      display: inline;

      // width: 210px; // width doesn't work for inline elements
    }
  }
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

// Radio button tiles
.radio-tile--group {
  display: flex;
  //margin: 1em 0 0;

  label {


    display: block;
    margin: 0 1em 1em 0;
    min-width: 170px;
    position: relative;
    text-align: center;

    &:hover {
      background-color: $gray-light;
      cursor: pointer;
    }

    img {
      display: block;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
    }
  }


  span {
    border: 1px solid $gray-mild;
    border-radius: $uikit-border-radius;
    display: block;
    height: 100%;
    padding: 1em;
  }


  input {
    &[type='radio'] {

      &:checked+span,
      &:focus+span {
        background: $gray-light url("../images/ico-tick-blue-solid.svg") no-repeat;
        background-position: right 10px top 10px;
        background-size: 30px 30px;
        border: 1px solid $green;
        border-radius: $uikit-border-radius;
        height: 100%;
      }
    }
  }
}

.radio-tile {

  // I know this isn't BEM but the angular devs couldn't get .radio-tile__icon to work with this component 
  .radio_tile__icon {
    display: block;
    padding: .4em;
  }

  .radio_tile__icon--padding {
    padding: 15px 0;
  }
}



.radio-tile-group--four,
.radio-tile-group--three {
  &.radio-tile--group {
    display: block;
  }
}

@include uikit-media(md) {

  .radio-tile-group--four,
  .radio-tile-group--three {
    &.radio-tile--group {
      display: flex;

      label {
        flex: 1;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}



.radio-tile-group--equal-width-height {
  .radio-tile {
    icon {
      // display: block;
      // padding: .4em;
    }

    span {
      min-width: 220px;
    }

    p {
      font-weight: normal;
    }

  }
}

.radio-tile--medium {
  span {
    max-width: 320px;
  }
}


.file-upload__input,
.file-upload-default__input {
  display: none;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;

  &+label {
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    white-space: nowrap;
  }

}

.file-upload__label {
  .uikit-btn--tertiary {
    margin-left: uikit-space(0.75);
  }
}

.uikit-body {
  .uiToolKitCheckBox {
    margin-bottom: 1em;
    margin-right: 1em;
  }
}


.select-container {
  display: inline;
  position: relative;

  label {
    font-weight: normal;
  }

  select {
    appearance: none;
    background: $white;
    border: 0;
    border-radius: $uikit-border-radius;
    font-size: 1em;
    font-weight: bold;
    padding: 0.8em 1.2em;
    width: 100%;

    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $black;
    content: $content-blank;
    height: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    right: 2em;
    top: 0.3em;
    width: 0;
  }
}


.mys-dropdown {
  position: relative;

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $black;
    content: $content-blank;
    height: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    right: 1.7em;
    top: 0.3em;
    width: 0;
  }
}

.mys-dropdown__select {
  appearance: none;
  background: $white;
  border: 0;
  border-radius: $uikit-border-radius;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 3em 0.5em 0.8em;
  width: auto;

  &::-ms-expand {
    display: none;
  }
}

// natural language form elements

.mys-label-nl {
  font-size: 1.3em;
  font-weight: normal;
}

.mys-dropdown-nl {
  &::after {
    right: 2.2em;
  }

  .mys-dropdown__select {
    color: $blue;
    font-size: 1.3em;
    font-weight: normal;
  }
}

//margin between buttons/formgroup
.feedback-margin {
  padding-bottom: 20px;
}

.sign-dollar {
  font-size: 1.2em;
}



.pipe {
  margin-left: 15px;
}

#myaccount-content {
  input {
    width: 90% !important;
  }
}

.radio-icons {
  display: flex;
  flex-flow: row wrap;
}

.radio-icon {
  width: 100%;
  margin-bottom: 0.25em;
}

.radio-icon__label {
  display: flex;
  padding: 1em 1.25em;
  flex-direction: row;
  border: 1px solid $gray-mild;
  border-radius: $uikit-border-radius;
  position: relative;
  cursor: pointer;
  
  &:hover {
    background-color: $gray-mild;
    border-color: #2868b0;
  }

  .radio_icons__icon {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.75em;
  }
}

.radio-icon__text {
  word-break: break-word;
  margin-left: 0.5em;
  display: flex;
  padding-left: 0.5em;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.radio-icon__control {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.radio-icon__control:hover ~ .radio-icon__label,
.radio-icon__control:focus ~ .radio-icon__label {
  outline: 3px solid #c390f9;
  outline-offset: 1px;
}

.radio-icon__control:checked ~ .radio-icon__label {
  border-color: #2868b0;

  &:before {
    position: absolute;
    right: 10px;
    content: "\f058";
    color: #1759a5;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    font-size: 1.75em;
    top: 50%;
    transform: translateY(-50%);
  }
}

.radio-icons__icon-img {
  width: 2rem;
  height: auto;
}

@media screen and (min-width: $AU-media-md) {
  .radio-icon {
    width: 23%;
    margin: 0 0.25em 0.25em 0;
  }

  .radio-icons__icon-img {
    width: 3.75rem;
    height: 3.75rem;
    margin: -0.3rem auto;

    & ~ .radio-icon__text {
      margin-top: 1rem;
    }
  }

  .radio-icon__label {
    flex-direction: column;
    padding: 1.65em 0.7em 0.7em;
    height: 100%;
  }

  .radio_icons__icon:before {
    font-size: 2em;
  }


  .radio-icon__text {
    margin: 0.2em auto 0.5em;
    width: 100%;
    height: 3.125rem;
    padding: 0.5em 0 0 0;
    flex: 1 0 auto;
    display: block;
    text-align: center;
  }

  .radio-icons {
    flex-direction: row;
  }

  .radio-icon__control:checked ~ .radio-icon__label {
      &:before {
      position: absolute;
      right: 10px;
      content: "\f058";
      color: #1759a5;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 900;
      font-size: 1.9rem;
      top: 25px;
    }
  }
}

.check-radio {
  .uiToolKitCheckBox:last-child {
    margin-bottom: 0px !important;
  }
}

.injected {
    margin-left: 15px;
}

.cursor-disabled {
  background-color: #d4d4d4;
  border-color: #2868b0;
  cursor: not-allowed;
}
.uikit-btn--another-file {
  margin-left: 0px !important;
  margin-top: 1rem;
}

.form-block-header {
  font-weight: bold;
  margin: 1em 0 1.3em;
  font-size: 1.17em;
}

.text-and-select {
  @media screen and (max-width: $AU-media-xs - 0.5px) {  
    .text-and-select__text {
      margin-bottom: 0.75rem;
      
      .uikit-text-input {
        max-width: 15rem;
      }

      .input-support-text,
      .uikit-text-input {
        display: inline;
      }
    }

    .text-and-select__select {
      .uikit-text-input {
        max-width: 16rem;
      }
    }
  }

  @media screen and (min-width: $AU-media-xs) {
    .text-and-select__text,
    .text-and-select__select,
    .text-and-select__select .uikit-text-input__label {
      display: inline;
    }

    .text-and-select__text {
      .uikit-text-input {
        margin-right: 0.3rem;
        width: 10rem;
      }
    }

    .text-and-select__select {
      .uikit-text-input {
        margin-left: 0.3rem;
        width: 15.75rem;
      }

      .uikit-text-input__label {
        font-weight: normal;
        text-transform: lowercase;
      }
    }
  }
}

.select-and-text {
  @media screen and (max-width: $AU-media-xs - 0.5px) {  
    .select-and-text__select {
      margin-bottom: 0.75rem;
      
      .uikit-text-input {
        max-width: 22rem;
      }

      .input-support-text,
      .uikit-text-input {
        display: inline;
      }
    }

    .select-and-text__text {
      .uikit-text-input {
        max-width: 22rem;
      }
    }
  }

  @media screen and (min-width: $AU-media-xs) {  
    .select-and-text__select,
    .select-and-text__text,
    .select-and-text__text .uikit-text-input__label {
      display: inline;
    }

    .select-and-text__select {
      .uikit-text-input {
        margin-right: 0.3rem;
        width: 15rem;
      }
    }

    
    .select-and-text__text {
      .uikit-text-input {
        margin-left: 1rem;
        width: 12rem;
      }

      .uikit-text-input__label {
        font-weight: normal;
        text-transform: lowercase;
      }
    }
  }  
}

.repeatable-block__fieldlist {
  fieldset:first-of-type {
    .repeatable-block__btn--remove {
      display: none;
    }
  }

  .repeatable-block__legend-wrapper {
    flex-direction: row;
    margin: 1rem 0;
    display: flex;
    align-items: center;
  }

}

.repeatable-block__btn--remove {
  cursor: pointer;
  background: none;
  padding: 0;
  font-size: 14px;
  border: 0;
  transform: translate(12%, 10%);
  
  &:hover,
  &:focus {
    background-color: #5bcbe3;
    border-color: transparent;
  }

  span {
    border-bottom: 1px solid rgb(27, 121, 145);
    outline: none;
    font-size: 16px;
    font-weight: normal;
  }

  i {
    font-size: 1.23333em;
    line-height: 0.75em;
    vertical-align: -.0667em;
  }
}

.uikit-control-input__input {
  opacity: 0; // Hide native control to prevent it from becoming visible on zoom out
}

.custom_disabled--checkbox {
  .uikit-control-input__input {
    &:disabled {
      & + .uikit-control-input__text {
        color: #898989;
      }

      & + .uikit-control-input__text:after {
        background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
          <path fill="#898989" d="M0 0h128v128H0z"/>
          <path fill="#fff" d="M8 8h112v112H8z"/>
        </svg>');
      }
    }
  }
}