#btnQueryString{
  width: auto !important;
}
#nr-strike.strike{
  max-width:17em;
}
#lblData6, #lblData7{
  border:none;
  display:contents;
}
.radio-toggle.nr-role label{
  width:20em;
}
.end-date-disabled{
  background-color:#EBEBE4;
  border:1px solid #ABADB3;
  padding:2px 1px;
}
#enquireAlert{
  background-color:inherit;
  border-left:none;
  color:inherit;
  font-family: inherit;
  padding: 0;
  &:after{
    background-image:none;
  }
}
button.rejectBtn.uikit-btn.uikit-btn--tertiary{
  width: 49.5%;
}
button.agreeBtn.uikit-btn.uikit-btn--tertiary{
  width: 49.5%;
}

p.nr-rejected.status-icon.status-rejected{
    height: 8em;
    width: 100%;
    /* border: solid; */
    margin: 0 auto;
    background-position: bottom;
    background-size: 126px 126px;
}
#nr-editBtn{
  min-width: 94.03px;
}
.nr-accounts{
  h2{
    text-align: center;
  }
  .account-one{
    border: solid 1px #d4d4d4;
    border-left: solid 3px #d4d4d4;
    width: 75%;
    height: 8em;
    margin: 0 auto;
    padding: 25px;
      & h2{
      text-align:left;
      display:contents;
    }
    & icon.fa-angle-right{
      float:right;
    }
  }
  .col-md-2, .col-md-8{
    cursor: pointer;
    }
    & icon.fa-angle-right{
      float:right;
    }
  }
