/**********************************
  This SASS file is used to control layout that is unique to the unathenticated home page. Example: large feature with background image, 1, 2, 3 steps and introductory content.

**********************************/

//iPhone - default

// Hero section of homepage containing catchy one-liner and Register/Login buttons

.section-hero {
  text-align: center;
  padding: 0 0 1em 0;
  background-image: url('../images/bg-header.svg');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position-x: 150%;
}

.section-hero__logo {
  width: 100%;
  margin: 2em 0 0 0;
}

.section-hero__heading {
  font-size: 2.4em;
  line-height: normal;
  margin: 1em 0 0.6em 0;
}

.section-hero__subheading {
  font-size: 1.5em;
  line-height: 1.4em;
  margin: 0 0 1em 0;
}

.section-hero__btn {
  margin: 0.4em 0 0 0;
  padding: 1.2em;
}

.section-hero__btn--text {
  vertical-align: middle;
}

.section-hero__btn--image {
  vertical-align: middle;
  margin-top: 3px;
  height:17px;
}

/* Section divider */

.section-hero__divider {
  background-color:$blue-midnight;
  svg {
    height:60px;
  }
}

svg#section-hero-divider--color {
	pointer-events: none;
}

#section-hero-divider--color path {
	fill: $white;
	stroke: $white;
  stroke-width: 2;
}

/* Story divider */


// Story section of homepage containing an overview of the benefits of MyService

.story {
	background-color: $blue-dark;
  color: $white;
}

.story__section {
  padding:0 2em 1em 2em;
}

.story__section--padded {
padding-top:8em!important;
}

.story__section .story__three-column {
  padding:0 0 0 0;
}
.story__three-column .story__heading--left {
  font-size: 1.4em;
}

.story__heading {
  font-size: 1.8em;
  text-align: center;
}

.story__heading--left {
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 0.2em;
}

.story__image-box {
  text-align: center;
}

.story__image {
  width: 100%;
}

.story__image--small {
  width: 140px;
}

.story__text {
  font-size: 1em;
}


ul.story-points {
	padding-left: 1.5em;
  list-style-type: none;

  .uikit-body & li {
    margin-bottom:0.6em;
  }

  li:before {
    content: "\2714\0020";
		margin-left: -1.5em;
		float: left;
  }
}

.pointing-block {
	background: $blue-midnight;
	position: relative;
	margin: 0;

	.pointing-block__top {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 60px;
		top: -60px;
		left: 0;
	}
	
	.pointing-block__top::before {
		content: '';
		position: absolute;
		left: -50vw;
		margin-left: 50%;
		border-top: 60px solid transparent;
		border-right: 50vw solid $blue-midnight;
		border-bottom: 0;
		border-left: 50vw solid $blue-midnight;
	}
	
	.pointing-block__bottom {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 60px;
		bottom: -60px;
		left: 0;
	}
	
	.pointing-block__bottom::before {
		content: '';
		position: absolute;
		left: -50vw;
		margin-left: 50%;
		border-top: 60px solid $blue-midnight;
		border-right: 50vw solid transparent;
		border-bottom: 60px solid transparent;
		border-left: 50vw solid transparent;
	}
}


.heading--spacer {
  padding-bottom: 0.5em;
  display: block;
  width: 80px;
  margin: 0 0 2em 0;
}

//iPad

@media only screen and (min-width: $AU-media-sm) {

  .section-hero {
    text-align: center;
    padding: 1em 0 1em 0;
    background-image: url('../images/bg-header-cropped.svg');
    background-size: 320px;
    background-position-x: right;
  }

  .section-hero__divider {
    svg {
      height:100px;
    }
  }
  .story__divider {
    svg {
      height:100px;
    }
  }

  .story__section {
    padding:0 3em 1em 3em;
  }

  .story__section .story__three-column {
    padding:0 0.5em 0 0.5em;
  }

  .story__three-column .story__heading--left {
    font-size: 1.1em;
  }

  .story__heading--left {
    font-size: 1.2em;
    margin-bottom: 0.3em;
  }

  .story__image--small {
    width: 120px;
  }

  .heading--spacer {
    margin: 0 0 0.4em 0;
  }

}

//Screen

@media only screen and (min-width: $AU-media-md) {
  .section-hero__logo {
    width: auto;
    margin: 3em 0 0 0;
  }

  .section-hero__heading {
    font-size: 2.5em;
    margin: 0.8em 0 0.3em 0;
  }

  .section-hero__subheading {
    font-size: 1.5em;
    line-height: normal;
  }

  .story__section {
    margin: 1em 0 2em 0;
  }

  .story__section .story__three-column {
    padding:0 2em 0 2em;
  }

  .story__heading {
    font-size: 1.6em;
  }

  .story__three-column .story__heading--left {
    font-size: 1.3em;
  }

  .story__heading--left {
    font-size: 1.4em;
    margin-bottom: 0.3em;
  }

  .story__text {
    font-size: 1.2em;
  }

  .story-points {
    font-size: 1.2em;
  }

  .heading--spacer {
    margin: 0 0 2em 0;
  }

  .story__image {
    width: 90%;
  }
  
  .story__image--small {
    width: 60%;
  }

  .pointing-block {
  
    .pointing-block__top {
      height: 100px;
      top: -100px;
    }
    
    .pointing-block__top::before {
      border-top: 100px solid transparent;
    }
    
    .pointing-block__bottom {
      height: 100px;
      bottom: -100px;
    }
    
    .pointing-block__bottom::before {
      border-top: 100px solid $blue-midnight;
      border-bottom: 100px solid transparent;
    }
  }
}

@media only screen and (min-width: $AU-media-lg) {

  .story__section {
    margin: 1em 0 4em 0;
  }
  
  .heading--spacer {
    margin: 0 0 3em 0;
  }

  .story__heading {
    font-size: 2em;
  }

  .story__heading--left {
    font-size: 1.8em;
    margin-bottom: 0.3em;
  }

}


//Grid flexbox layout

.mys-grid {
  .mys-grid__row {
    display: block;
    margin-left: -1em;
    margin-right: -1em;
    
  }

  @include AU-media('xs') {
    .mys-grid__row {
      display: flex;
    }
  
    .mys-grid__cell {
      width: 50%;
      float: left;
			padding: 0 1em;
			box-sizing: border-box;
    }

    .mys-grid__cell:last-child {
      flex-basis: 50%;
    }

    .mys-grid__row:nth-child(even) .mys-grid__cell:last-child {
      order: -1;
    }
  }

  @include AU-media('md') {
  
    .mys-grid__cell:last-child {
      flex-basis: 75%;
    }

  }

}












// Summary box to call out important highlights on content pages

.summary {
  background-color: $feature-background;
  border-bottom: 1px solid $feature-border;
  padding: 0.25em 1.5em;
  margin-bottom: 2em;

  h4 {
    font-size: 1.3rem;
    margin-top: 0;
  }

  table {
    th {
      background-color: $white;
      border-bottom: 1px solid #eee;
    }
  }
}

/*  SECTIONS  */
.feature-section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  */
.feature-group:before,
.feature-group:after {
  content: '';
  display: table;
}

.feature-group:after {
  clear: both;
}

.feature-group {
  zoom: 1; /* For IE 6/7 */
}

/*  COLUMN SETUP  */
.feature-col:first-child {
  margin-left: 0;
}

.feature-col {
  margin: 1em 0 1em 0;
}

.feature-1-of-5, .feature--spacer, .feature--wide, .feature--narrow {
  width: 100%;
}

.feature--spacer, .feature--narrow {
  display: none;
}

@media only screen and (min-width: $small-handheld) {
  .feature-col {
    text-align: left;
    margin: 3em;
  }

  .howitworks-img {
    display: inline-block;
  }

  .feature-body {
    display: inline-block;
    text-align: left;
    margin: 0 0 1em 1em;
    padding: 0.3em 0 0 0;
    vertical-align: top;
  }
}

@media only screen and (min-width: $medium-handheld) {
  .feature-col {
    display: block;
    text-align: center;
    float: left;
    margin: 1em 0 1em 1.6%;
  }

  .feature-body {
    text-align: center;
  }

  /*  Grid spacing  */
  .feature-1-of-5 {
    width: 20%;
  }

  .feature--wide {
    width: 28%;
  }

  .feature--narrow {
    width: 7%;
  }
}

@media only screen and (min-width: $large-handheld) {
  .feature-1-of-5 {
    width: 18.72%;
  }

  .feature--wide {
    width: 26%;
  }

  .feature--narrow {
    width: 9%;
  }

  .feature--spacer {
    width: 1%;
  }
}

@media only screen and (min-width: $medium-tablet) {
  .feature--wide {
    width: 25%;
  }

  .feature--spacer {
    width: 9%;
  }
}

.wrap {
  overflow: auto;
  position: relative;
}
.sticky-menu {
  position: absolute;
  .fix-menu & {
    position: fixed;
    top: 10px;
  }
}






