// .flex-row {
//   // display: table;
//   display: flex;
//   margin-top: 2em;
//   flex-wrap: wrap;
// }

// .flex-column {
//   // display: table-cell;
//   flex: 1 0 0;

//   // flex-grow: 1;
//   padding: 0 1em;
//   width: 300px;
// }

.flex-container {
  display: table; // for IE 9
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
  padding: 0;
}

.flex-container--wrap {
  flex-wrap: wrap;
}

.flex-item {
  display: table-cell; // for IE 9
  flex-grow: 1;
  padding: 5px;
}

.margin-below {
  margin-bottom: uikit-space(1);
}

.margin-below--none {
  margin-bottom: 0;
}

.margin-below--extra {
  margin-bottom: uikit-space(2);
}

.margin-above {
  margin-top: uikit-space(1);
}

.margin-above--none {
  margin-top: 0;
}

.margin-above--extra {
  margin-top: uikit-space(2);
}

.padding-above {
  padding-top: uikit-space(0.3);
}