input.current{
  width:30%;
  border:none !important;
  font-weight:bold;
  padding-left:0px;
  margin-bottom:0px;
    &:hover{
      border:none !important;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
}
input.days{
  width:15em;
}
.lsa-submitted.transition-content{
  overflow: visible;
}

.lsa-amount-request {
    border: 1px solid #eee;
    border-spacing: 0;
    margin-bottom: 2em;
    background: white;
}
.border-right-lsa{
  border-right:solid;
}
.text-align-center-lsa{
  text-align: center;
}
.vertical-dash-hack-lsa{
  border-bottom:solid;
  max-width:5%;
  margin-top: -15px;
  margin-left: 5px;
}
.lsa-currency-bg{
  background:#eee;
}
.uikit-body{
  #request1,#request2,#request3,#request4{
  max-width:28em;
  padding:20px;
  }
}
.pipe{
  margin-left:15px;
}
