.health-cards__main {
  background: $gray-light !important;
}

.health-cards__main .health-card__container {
  padding-left: 24px;
  padding-right: 24px;
}

.health-card {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.health-card__container {
  max-width: 969px;
}

.health-card__order-replacement {
   margin-top: 1em;

   a {
    color: $blue-mid;
    text-decoration: underline;
    border-bottom: none;
    font-size: 1.062em;
  }
}

.health-card__detail {
  .uikit-page-alerts {
    margin-bottom: 0;
  }
}

.health-card__image-container {
  width: 100%;
  height: auto;
  z-index: 2;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: $black;

  &:after {
    width: 100%;
    height: 100%;
    content: " ";
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
  }

  .health-card__image--veteran {
    & ~ .card-text {
      font-size: 17px;
    }

    & ~ p {
      position: absolute;
    }

    & ~ .health-card__card-number {
      right: 10.5%;
      top: 44.7%;
      font-size: 2.6vw;
    }

    & ~ .health-card__file-no-text {
      right: 26%;
      top: 45%;
      font-size: 2.5vw;
    }

    & ~ .health-card__expiry-text {
      line-height: 0.9;
      right: 20.2%;
      top: 54%;
      font-size: 2.48vw;
    }

    & ~ .health-card__card-expiry {
      right: 23.9%;
      top: 62%;
      font-size: 2.55vw;
    }    

    & ~ .health-card__card-name {
      left: 8%;
      top: 44%;
      font-size: 2.63vw;
      font-weight: 500;
    }

  }

  .health-card__image--concession
  // , .health-card__image--veteran
   {
    & ~ p {
      display: none;
    }

    & ~ .health-card__file-no-text, & ~ .health-card__expiry-text {
      display: none;
    }
  }

  .health-card__image {
    width: 100%;
    height: 100%;
    border-radius: 1.5%;
    box-shadow: 0 0 7px 1px rgba(119, 119, 119, 0.45);;
  }
}

.health-card__label--big {
    font-size: 1.25em;
    font-weight: 400;
}

.health-card .health-card__card-toggle {
  background: none;
  border: none;
  color: $blue-mid;
  outline: none;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: pre;

  &[data-position="outside"] {
    margin: 0.25em 0 0 0;
    text-align: left;
    order: 2;
  }

  &[data-position="inside"] {
    order: 2;
    position: absolute;
    right: 23px;
    top: 15px;
    font-size: 1.25em;
  }

  &:hover, &:focus {
    background: none;
  }
}

.health-card__header-text {
  margin: 0 0 0.5em;
  font-weight: bold;
}

.health-card__label {
  display: inline-block;
  min-width: 150px;
  font-weight: 600;
}

.health-card__card-info {
  display: flex;
  width: 100%;
  z-index: 1;
  flex-direction: column;
}

.health-card__inner-card-info, .health-card__extras {
  width: 100%;
  margin: 0 auto;
  display: none;
  padding: 1em 1.5em;
}

.health-card__inner-card-info {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  .health-card__detail {
     margin: 0.5em 0;
  }
}

.health-card__conditions-list {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 1%;
  flex-direction: column;
  background: $white;
}

.health-card__condition {
  display: flex;
  padding: 1.3em 1.5em;

  &:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }
}

.far.health-card__condition-icon {
  display: flex;
  align-items: center;
  padding-right: 1em;
  
  &:before {
    color: #5bb356;
    font-size: 1.5em;
  }
}

.health-card__condition-info {

}

.health-card__condition-name {
  font-size: 1.14em;
  font-weight: 700;
}

.health-card__condition-status {
  font-weight: 600;
}

.health-card__condition-date {

}

.health-card__extras {
  flex-direction: column;
  width: 100%;
  border-top: 1px solid lightgray;
  background: #fdfbfb;

  .accordion {

    &:not(:first-child) {
      margin-top: 0.4em;
    }

    .accordion-button {
      color: $blue-mid;
    }
   
    .accordion-content__sub-heading {
      margin-top: 0.2em;
    }

    .accordion-content__how-to-use {
      margin-top: 0.8em;
    }
  }
}

hr.non-breaking-hr {
  margin: 0;
  padding: 0.1em;
  width:  100%;
}


@media screen and (min-width: $AU-media-sm) {
  .health-card__header-text {
    max-width: 200px;
  }

  .health-cards__main .health-card__container {
    padding-left: 12px;
    padding-right: 12px;
  }

  hr.non-breaking-hr {
    width:  92%;
  }


  .health-card {
    background: $white !important;
    width: 98%;
    border-radius: 2px;
  }

  .health-card__card-info {
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5em 2em 1.2em;
  }

  .health-card__image-container {
    height: auto;
    width: 352px;
    order: 2;

    &:after {
      cursor: default;
      content: "";
    }

    .health-card__image--veteran {
      & ~ .card-text {
        font-size: 14px;
      }

      & ~ p {
        display: block;
      }

      & ~ .health-card__card-number {
        right: 19px;
        top: 109px;
      }

      & ~ .health-card__card-expiry {
        right: 83px;
        top: 158px;
      }

      & ~ .health-card__file-no-text {
        right: 93px;
        top: 110px;
        font-size: 0.85em;
      }
      
      & ~ .health-card__expiry-text {
        line-height: 0.9;
        top: 133px;
        right: 63px;
        font-size: 0.85em;
      }

      & ~ .health-card__card-name {
        text-align: left;
        min-width: 150px;
        top: 100px;
        right: 254px;
        font-weight: 500;
        font-size: 1em;
      }
    }
    
    .health-card__image {
      box-shadow: 0 0 10px 1px rgba(119, 119, 119, 0.55);
      width: inherit;
      height: inherit;
    }

  }

  .health-card__card-toggle {
    display: none !important;
  }

  // @media screen and (min-width: $AU-media-md) {
  //   .health-card__extras > div {
  //     width: 60%;
  //   }
  // }


  .health-card__inner-card-info, .health-card__extras {
    display: flex !important;
  }
}

.health-card__details-wrapper {
    width: 100%;
}

@media screen and (min-width: $AU-media-md) {
  hr.non-breaking-hr {
    width:  65%;
  }
}

@media screen and (max-width: 360px) {
  .health-card__label {
    min-width: 120px;
  }
}

@media screen and (max-width: $AU-media-xs) {
  .health-card__image-container .health-card__image--veteran {
    & ~ .health-card__card-number {
      right: 6.5%;
      top: 44.7%;
      font-size: 3.3vw;
    }

    & ~ .health-card__file-no-text {
      right: 26%;
      top: 45%;
      font-size: 3.2vw;
    }

    & ~ .health-card__expiry-text {
      right: 18.2%;
      top: 54%;
      font-size: 3.18vw;
    }

    & ~ .health-card__card-expiry {
      right: 23.9%;
      top: 63.5%;
      font-size: 3.25vw;
    }    

    & ~ .health-card__card-name {
      left: 8%;
      top: 44%;
      font-size: 3.83vw;
    }
  }
}

@media screen and (max-width: 360px) {
  .health-card__image-container .health-card__image--veteran {
    & ~ .health-card__card-number {
      right: 5.5%;
      top: 44.7%;
      font-size: 3.5vw;
    }

    & ~ .health-card__file-no-text {
      right: 26%;
      top: 45%;
      font-size: 3.4vw;
    }

    & ~ .health-card__expiry-text {
      right: 18.2%;
      top: 54%;
      font-size: 3.38vw;
    }

    & ~ .health-card__card-expiry {
      right: 23.9%;
      top: 64%;
      font-size: 3.45vw;
    }    

    & ~ .health-card__card-name {
      left: 8%;
      top: 44%;
      font-size: 3.93vw;
    }
  }  
}