/**********************************
	Specific styling for Service pension claim flow.

**********************************/

.help-field {
  padding-left: 40px;
  font-size: .8em;
  margin-top: -10px;
  display: flex;
  font-weight: 400;
}

.title-width {
  max-width: 200px;
}