// User feedback includes any messages that are presented to the user to provide contextual information.
// For example: system outage messages, validation feedback or notifications that communicate a change in state.




// Announcing planned outages

.header-system-message {
  .uikit-page-alerts {
    background-color: $white;
    border-bottom: 0;
    border-radius: $uikit-border-radius;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 3px 8px 1px $rgba-black-20;
    margin: 0.5em 0;
    max-width: none;
    padding: 0.6em 0.8em;
  }

  .uikit-page-alerts--warning {
    border-bottom: 3px solid $orange;
    border-right: 3px solid $orange;
    border-top: 3px solid $orange;
  }

  .uikit-page-alerts--success {
    border-bottom: 3px solid $green;
    border-right: 3px solid $green;
    border-top: 3px solid $green;
  }

  p {
    max-width: none;
  }
}

// Close system message

a.message-close {
  background: transparent url('../images/ico-close-gray.svg') no-repeat 0 2px;
  background-size: 20px 20px;
  border-bottom: 0;
  color: $gray;
  float: right;
  font-size: .9rem;
  margin-right: 0.75em;
  padding: 0 0 0 26px;
  text-decoration: none;

  &:focus,
  &:hover {
    background: transparent url('../images/ico-close-black.svg') no-repeat 0 2px;
    background-size: 20px 20px;
  }
}

// Validation feedback

.input-error-message {
  display: none;
}

.input-error-profile {
  clear: both;
  color: $validation;
  display: block;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: $margin-zero;
  margin: 10px 0;
  padding: 0 !important;
  width: 90%;
}

.has-error {
  border-left: 4px solid $validation;
  padding-left: 1em;

  h2 {
    background: transparent url('../images/ico-error.svg') no-repeat 0 2px;
    background-size: 45px 45px;
    min-height: 45px;
    padding-left: 50px;
  }

  .input-error-message {
    clear: both;
    color: $validation;
    display: block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    margin: $margin-zero;
    margin: 10px 0 0 0;
    padding: 0 !important;
    width: 90%;
  }

  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="email"],
  input[type="number"],
  input[type="phone"],
  input[type="password"],
  input[type="url"],
  input[type="search"],
  textarea,
  select {
    border: 1px solid $validation !important;
  }
}

// Additional stlying for server side validation summary

.has-error-server {
  border-left: 0;
}

// Hide link appearance for focussable error heading

.heading-error {
  border: 0;

  &:focus,
  &:hover {
    background-color: inherit !important;
  }
}

// System errors

.system-error {
  padding-bottom: 80px;
  padding-top: 20px;

  img {
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    width: 50px;
  }

  div {
    float: left;
  }

  p,
  div,
  button {
    margin-left: 70px;
  }
}

// Icon images that appear within headings

h1.heading-icon {
  margin-bottom: 1em;

  img {
    height: 60px;
    margin: 0 0.6em 0 0;
    vertical-align: middle;
    width: 60px;
  }
}

h3.heading-icon {
  margin-bottom: 1em;

  img {
    height: 30px;
    margin: 0 0.6em 0 0;
    vertical-align: middle;
    width: 30px;
  }
}

// Temporary messages to inform the user of a change
.toast-container {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.uikit-btn {
  &.toast {
    background-color: $white;
    background-image: url("../images/ico-close-gray.svg");
    background-position: right 1em top 50%;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 2px 6px 0 $rgba-black-20;
    color: $black;
    display: table;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .14em;
    padding: 0;
    width: 100%;

    &:focus,
    &:hover {
      background-color: $white;
      background-image: url("../images/ico-close-black.svg");
      background-size: 22px 22px;
      border: 1px solid $gray-mild;
      box-shadow: none;
      transition: box-shadow 0.5s ease;
    }
  }
}

.toast__type {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
  display: table-cell;
  height: 100%;
  padding: 0.4em 1em;
  width: 30px;
}

.toast__type--success {
  background-color: $green;
  background-image: url("../images/ico-tick-white.svg");
  border-color: $green--20;
}

.toast__type--information {
  background-color: $blue-mid;
  background-image: url("../images/ico-info-white.svg");
  border-color: $blue-mid--20;
}

.toast__type--alert {
  background-color: $orange;
  background-image: url("../images/ico-warning-white.svg");
  border-color: $orange--20;
}

.toast__type--error {
  background-color: $validation;
  background-image: url("../images/ico-error-white.svg");
  border-color: $red--20;
}

.toast__message {
  display: table-cell;
  padding: 1.25em 3em 0 1em;
  text-align: left;

  p {
    margin-bottom: 1.2em;
  }
}

@media only screen and (min-width: $medium-handheld) {
  .toast-container {
    left: auto;
    right: 1em;
    top: 2em;
    width: auto;
  }

  .toast {
    display: block;
  }
}

@media only screen and (min-width: $uikit-media-lg) {
  .toast__type {
    min-width: 63px;
  }
}

// Contact details found on success screen of Stand-alone Needs Assessment flow
.success-contact-details {
  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0.5em;
  }

  button {
    margin: 1em 0 2em;
  }
}

// Progress indicator on claim flow screens
// deprecated

#progressbar {
  background-color: $gray-light;
  border-radius: (1em / 2 + 0.25em);
  /* (height of inner div) / 2 + padding */
  margin-top: 1.5em;
  padding: 0.25em;
}

ul.progress-container {
  padding: 20px;
}

#progressbar>div {
  background-color: $green;
  border-radius: (1em / 2);
  height: 1em;
}

#progressbar.progressbar-white {
  background-color: $white;
  border: 1px solid $gray-mild;
  margin-bottom: 2em;
  margin-top: 0;
}


#percentage_value {
  @include uikit-sronly();
}

// use classes instead of ID's

.progressbar {
  background-color: $gray-light;
  border-radius: (1em / 2 + 0.25em);
  /* (height of inner div) / 2 + padding */
  margin-top: 1.5em;
  padding: 0.25em;
}

.progressbar>div {
  background-color: $green;
  border-radius: (1em / 2);
  height: 1em;
}

.progressbar.progressbar-white {
  background-color: $white;
  border: 1px solid $gray-mild;
  margin-bottom: 2em;
  margin-top: 0;
}


.percentage_value {
  @include uikit-sronly();
}

// little blue loading spinning wheel
.loading {
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  background-image: url("../images/waiting-blue.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// 
//
//
//
//
// new progress bar / progress-stepper
//
//
//
//
//

.progress-container {
  counter-reset: section;
  list-style: none;
}

.progress-step-label {
  display: none;
}

.progress-step {
  &::before {
    content: counter(section);
    counter-increment: section;
  }
}

.progress-step__icon {
  background: $gray-mild;
  border-bottom: 0;
  border-radius: 50%;
  display: block; //  for IE10
  height: 25px;
  left: -8px;
  line-height: 12px;
  margin: 0;
  position: relative;
  top: -25px;
  width: 25px;
  z-index: -1;
}

.progress-step--active {
  .progress-step__icon {
    background-color: transparent;
    color: $white;

    // big circle
    &::after {
      background: $blue;
      border-radius: 50%;
      content: $content-blank;
      display: block;
      height: 40px;
      left: -7px;
      margin: 0;
      position: relative;
      top: -8px;
      width: 40px;
    }
  }

  &.progress-step {
    &::before {
      color: $white;
    }
  }
}

.progress-step--done {
  .progress-step__icon {
    background: $blue;
  }

  &.progress-step {
    &::before {
      color: $white;
    }
  }
}

.uikit-body {
  .progress-container {
    margin-top: 0;
  }
}

.progress-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 0 40px;

  &::before,
  &::after {
    content: $content-blank;
    height: 10px;
    margin: 0;
    position: absolute;
    top: 1%;
    width: 50%;
  }

  // &::before {
  //   border-bottom: solid 3px $blue;
  //   left: -100px;
  // }

  // &::after {
  //   border-bottom: solid 3px $gray-mild;
  //   right: -100px;
  // }
}

ul.progress-container {
  margin-bottom: 0;
}

.progress-step {
  align-items: center;
  border-bottom: solid 3px $gray-mild;
  display: flex;
  flex: 1;
  position: relative;
  z-index: 1;

  &::before {
    content: $content-blank;
  }

  a {
    border-bottom: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      outline: 0; // fix
      text-decoration: none;
    }
  }

}

.progress-step--last {
  flex: 0;
}

.progress-step__icon {
  height: 11px;
  left: -1px;
  line-height: 12px;
  top: 7px;
  width: 11px;
}

.progress-step--active {
  .progress-step__icon {
    background-color: transparent;

    // little circle
    &::before {
      background: $white;
      border-radius: 50%;
      content: $content-blank;
      display: block;
      height: 6px;
      left: 2px;
      margin: 0;
      position: relative;
      top: 2px;
      width: 6px;
    }

    // big circle
    &::after {
      background: $blue;
      border-radius: 50%;
      content: $content-blank;
      display: block;
      height: 18px;
      left: -4px;
      margin: 0;
      position: relative;
      top: -10px;
      width: 18px;
      z-index: -1;
    }
  }
}

.progress-step--done {
  border-bottom: solid 3px $blue;
}

.progress-step--done,
.progress-step--active {
  .progress-step-label {
    color: $black;
    font-style: initial;
    font-weight: bold;
  }
}

.progress-step-label {
  color: $gray-mid;
  display: block;
  font-style: italic;
  padding: 0 1.5em;
  position: absolute;
  text-align: center;
  top: -33px;
  transform: translateX(-50%) translateX(5px) translateY(-50%);
}

.progress-step-label {
  display: none;
}

@include uikit-media(sm) {
  .uikit-body {
    .progress-container {
      margin-top: 59px;

      &::before,
      &::after {
        top: 50%;
      }
    }
  }

  .progress-step-label {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .progress-step-label {}
}

//repsonisive progress bar

.topnav {
  background-color: transparent;
  margin-top: -30px;
  overflow: hidden;
}

.topnav a {
  border-bottom: 0;
  color: #000;
  display: none;
  float: left;
  font-size: 1em;
  padding: 5px 0 5px 10px;
  text-align: center;
}

a.last {
  padding-bottom: 10px;
}

.topnav a:hover {
  background-color: transparent;
  color: #000;
  outline: none;
}

.active {
  background: #205e97;
  color: #fff;
}

.topnav .icon {
  display: none;
}

i.fa.fa-bars {
  padding-left: 8px;
}

@media screen and (max-width: 758px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    display: block;
    float: left;
  }
}

.myTopnav {
  width: 100%;
}

@media screen and (max-width: 758px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    right: 0;
    top: 0;
  }

  #myTopnav {
    background-color: #0b2a4c;
    padding: 10px;

    a {
      color: #fff;
    }
  }

  .topnav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
}