#state-switcher,
.pt-choose-user {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, .2);
  display: none;
  // height: 500px;
  left: 10px;
  padding: 20px;
  position: absolute;
  top: 10px;
  width: 300px;
  z-index: 100;
}

.pt-flex-grid {
  background-color: $gray-light;

  display: flex;
  margin: 0 0 .2em;
  padding: .2em;
}

.pt-col {
  flex: 1;


  &:first-child {
    font-weight: bold;
  }
}

.pt-image-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 0 1em;

  object-fit: cover;
  object-position: center right;
}