//
// Most typographic styling is inherited from UIKit. 
//

// matching li item's max-width to that of paragraphs and headings.
ul {
  margin: 0 0 uikit-space(1);
  max-width: $uikit-maxwidth;
}

.uikit-breadcrumbs {
  margin: 1em 0 0;
}

hr {
  border-top: 1px solid $gray-light;
  margin-top: 3em;
  padding: 1em 0 0;

  &.orange-divider {
    border-top: 4px solid $orange;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.6em;
    width: 4em;
  }
}

.strike {
  display: block;
  margin: 2em 0;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.strike__text {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    border: 0;
    content: $content-blank;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 9999px;
  }

  &::before {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 95%, rgba(0, 0, 0, 0));
    margin-right: 15px;
    right: 100%;
  }

  &::after {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75) 95%, rgba(0, 0, 0, 0));
    left: 100%;
    margin-left: 15px;
  }
}

// Remove outline on target
:target {
  outline: none !important;
}

// Set layer order of skip to content link
.uikit-skip-link__link {
  z-index: 100;
}

// Add Cover Icon - used in H1 tag on all Add Cover pages.
.ico-addcover {
  background: url('../images/ico-add.svg') no-repeat 0 12px;
  background-size: 30px 30px;
  border-bottom: 0;
  color: $black;
  padding: 2px 0 0 40px;
}

// Responsive headings

h1 {
  font-size: 1.75rem;
  font-weight: normal !important;

  img {
    height: 50px;
    margin-right: 10px;
    margin-top: -8px;
    vertical-align: middle;
    width: 50px;
  }
}

h2,
h4 {
  clear: both;

  img {
    height: 40px;
    margin-right: 5px;
    vertical-align: middle;
    width: 40px;
  }
}

h2 {
  font-weight: normal;

  // span {
  //   font-size: 1.2rem;
  // }
}

.heading-highlight {
  color: $blue-dark;
}

@media only screen and (min-width: $small-handheld) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: $medium-tablet) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}


.spanstyling-override {
  color: $black;
  font-size: inherit;
}


// No underline for hyperlinks

a {
  span {
    border-bottom: solid 1px $uikit-colour-Primary;
    color: $uikit-colour-Text; // shouldn't need this but the above code smell requires it

    &:hover,
    &:focus {
      background-color: $uikit-colour-Link;
      border-color: transparent;
    }
  }

  &.nounderline {
    border-bottom: 0;

    &:focus,
    &:hover {
      background: transparent;
    }
  }

  &.uikit-btn {
    // treating a's as buttons
    box-sizing: border-box;
    line-height: normal;
    text-align: center;
  }
}

// Terms and Conditions layout styling
.tc-detail {
  li {
    margin: 0 0 uikit-space(1);
    max-width: $uikit-maxwidth;
  }
}

// Caption
.caption {
  padding-bottom: 10px;
}

figure {
  margin: $margin-zero;
}

// TODO:: delete if not in use
.labeltext {
  span {
    font-weight: normal;
  }
}

.large-text {
  font-size: 2em;
}

.medium-text {
  font-size: 1.6em;
}


// Give headings an orange underline
.heading {
  border-bottom: 3px solid $orange;
  color: $uikit-colour-Text;
  font-size: inherit;
  padding-bottom: 3px;
  -webkit-print-color-adjust: exact !important;
}

.heading--thin {
  border-bottom: 2px solid $orange;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-heavy {
  color: initial;
  font-size: inherit;
  font-weight: bold;
}

p {
  &.text-fullwidth {
    max-width: 100%;
  }
}

// typography styling for Claim summary table imitation headings
.claim-summary__label {
  font-size: 0.9em;
  font-weight: normal;
}

.cantered-item,
.centred-item,
.centered-item {
  text-align: center;

  p {
    max-width: initial;
  }
}

.claim-end {
  min-height: 30em;
}

.text-fullwidth {
  max-width: 100%;
}



.font-color__blue {
  color: $blue;
}



blockquote {
  margin: 0;
}

.block-quote {
  align-items: center;
  border-left: 4px solid $blue;
  display: flex;
  padding: 0 .5em;

  span {
    flex-grow: 1;
  }
}

.block-quote__icon {
  align-self: flex-start;
  font-size: 1.2rem;
  max-width: 1.8em;
  padding: 0 0 0 .2em;
}

.block-quote__header {
  margin: 0;
  padding: 0;
}

.green {
  color: #5bb356;
}

.blue {
  color: $blue;
}

// the current .fa-icons class overrides an existing icon
.fontawesome-icon {
  font-size: 1.7em;
  margin-right: 10px;
  vertical-align: -15%;
}