/**********************************
	Expansion panel

**********************************/

.expanel {
	
}

.expanel-row {
	
	border:1px solid $gray;
	border-bottom:0px;
	padding: 1em;
	display: flex;
	flex-flow: nowrap;
    justify-content: space-between;
	align-items: flex-start;
	
	.expanel-title {
		min-width:180px;
		padding: 0 1em 0 0;
		margin: 0 1em 0 0;
		font-weight: 700;
		
	}
	
	.expanel-description {
		flex-basis: 70%;

		.expanel-uneditable,
		.expanel-editable {
		display: flex;
		flex-flow: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		}
		
		.expanel-form-value {
		
		}
		.expanel-btn {
			
		}
		.expanel-form-field {
			padding: 0.4em 0 0.4em 0;
			
		}	
	}
	
}

.expanel-row:last-child {
	border-bottom:1px solid $gray;
}