/**********************************
	Progress indicator on Add cover screens

**********************************/

#progressbar {
  background-color: $gray-light;
  border-radius: 10px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-top: 1.5em;
}

#progressbar > div {
   background-color: $green;
   width: 10%; /* Adjust with JavaScript */
   height: 15px;
   border-radius: 10px;
}
