/**********************************
	User feedback includes any messages that are dynamically generated for the user.
	For example, system outage messaging and validation feedback.

**********************************/


// Announcing planned outages

.header-system-message {
	.uikit-page-alerts {
	    margin: 0;
	    max-width: none;
	    padding: 0.6em 0.8em;
	    border-bottom: none;
	    border-top: none;
	    border-right: none;
	    border-radius: 0;
	}
}


// Displaying version information top of screen.

.header-version-message {
	background-color: #000;
	color: #fff;
	line-height: 1.2;
	padding: 0.5em 0;
	margin: 0;
	p {
		margin: 0;
	}
	a {
		color: #fff !important;
		padding: 2px;
		&:hover,
		&:focus {
			background-color: $blue !important;
			text-decoration: none;
		}
	}
}