//
// Styling of feature boxes, mostly on authenticated home page. Each widget must contain a heading with identifying icon.
//
// Container
// [class^=col-].no-space-left {
//   padding-left:0;
//  }
// .row [class^=col-] {
//   &:first-child {
//     // margin-right: 20px;
//     padding-left: 0;
//   }
//   &:last-child {
//     // margin-right: -20px;
//     // margin-left: -20px;
//     padding-right: 0;
//   }
// }
.card {
  text-align: center;
  border: 1px solid $gray-mild;
  border-radius: 8px;
  a {
    border: 0;
    &:focus,
    &:hover {
      background: transparent;
    }
  }
  div {
    padding: 1.5em 2em;
  }
}

.card--reduced-image {
  img {
    border: 0;
    width: 80%;
  }
}

.card--white {
  background-color: $white;
  border: 1px solid $gray-mild;
  margin-top: 1em;
}

@include uikit-media(sm) {
  .card--white {
    div {
      margin: auto;
    }
  }
}

.uikit-body {
  .card--claims {
    &:hover {
      border: 1px solid $blue;
    }
    .card__title {
      margin-top: 1.4em;
    }
    .card__supporting-text {
      flex-grow: 1;
      margin: 0em;
    }
    .card__button {
      margin-bottom: 1em;
    }
    .card__link {
    }
    &.card--claims-col-2 {
      flex-basis: 48%;
      min-width: 300px;
      max-width: 600px;
    }
    &.card--claims-col-3 {
      flex-basis: 20%;
      min-width: 300px;
      max-width: 370px;
    }
  }

  .card-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
    // border-top:10px solid $blue-light;
  }
}

.card--medium {
  flex-basis: 350px;
  max-width: 350px;
}

.card__notifications {
  background-color: $blue;
  color: $white;
  font-size: 0.8em;
  max-width: 80%;
  text-align: center;
  margin: auto;
  position: relative;
  top: -10px;
  z-index: 2;
}

@media only screen and (min-width: $AU-media-xs) {
  .card--medium {
    flex-basis: 220px;
    max-width: 220px;
  }
  .card__title {
    margin-top: 0;
  }
}

@media only screen and (min-width: $AU-media-md) {
  .card--medium {
    flex-basis: 280px;
    max-width: 280px;
  }
}

@media only screen and (min-width: $AU-media-lg) {
  .card--medium {
    flex-basis: 350px;
    max-width: 350px;
  }
  .card__title {
    margin-top: 0.5em;
  }
}

.card__title {
  padding: 0 1em 0 1em;
}
.card__supporting-text {
  font-size: 1.1em;
  margin: auto;
  max-width: 17em;
  padding: 0 2em 0 2em;
}

.card__image {
  height: 40%;
  width: 40%;
  border: 0;
  padding-top: 1.5em;
}

// bootstrap cards
// .card {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   min-width: 0;
//   word-wrap: break-word;
//   background-color: red;
//   background-clip: border-box;
// }
// Styling of claim summary box

.receipt,
.receipt-status {
  margin: $margin-zero;
  flex-basis: 700px;
  max-width: 100%;
}

@media only screen and (min-width: $uikit-media-md) {
  .receipt,
  .receipt-status {
    max-width: 700px;
  }
}

.receipt__content {
  padding: 2em;
  background-color: $white;
  border-left: 1px solid $gray-mild;
  border-right: 1px solid $gray-mild;
  border-bottom: 1px solid $gray-mild;
}

.receipt__heading {
  padding: 1.3em 2em 0 2em;
  background-color: $white;
  border-bottom: 1px solid $gray-mild;
  border-left: 1px solid $gray-mild;
  border-right: 1px solid $gray-mild;
  border-top: 3px solid $gray-mid;
}

.widget {
  background-color: $white;
  margin-bottom: 1em;
  border: 1px solid $gray-mild;
  margin: 0 0 2em;
  position: relative;
  p {
    margin: auto;
  }
  .widget-header {
    background-color: $white;
    border-bottom: 1px solid $gray-mild; // padding: 0.3em 2em 0 2em;
    padding: 0.4em 2em;
  }
  .widget-content {
    padding: 2em;
    .status {
      margin-bottom: 1em;
      font-style: italic;
      color: $gray-mid;
    }
  }
  .widget--noclaims {
    text-align: center;
  }
  .widget--justclaims {
    border: 0px solid $gray-mild;
    padding: 0em;
    margin-bottom: -2em;
    table.table-claims {
      border-left: 0px solid $gray-mild;
      border-right: 0px solid $gray-mild;
      td,
      th {
        padding: 0.75em 2em 0.75em 2em;
        vertical-align: middle; // border-bottom: 1px solid $gray-mild;
      }
      tr:last-child td {
        border-bottom: none;
      }
      th {
        color: $gray-mid;
        font-weight: normal;
        font-size: 0.9em;
        padding: 1em 2em 1em 2em;
        &:last-child {
          padding: 1em 2.25em 1em 2em;
        }
      }
    }
    .widget-btn {
      margin: 0 0.5em 2em 2em;
    }
  }
  .col-sm-8 {
    padding-right: 2em;
    padding-bottom: 2em;
  }
  .col-sm-4 {
    padding-left: 2em;
    padding-top: 2em;
  }
  ul {
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: $large-handheld) {
  .widget {
    .col-sm-4 {
      padding-top: 0;
    }
  }
}

@media only screen and (min-width: $large-handheld) {
  .widget {
    .col-sm-4 {
      padding-top: 0;
    }
    .widget--noclaims {
      padding: 2em 2em 2em;
    }
  }
}

@media only screen and (min-width: $medium-handheld) {
  .widget-actions {
    text-align: right;
  }
}

@media screen and (max-width: $medium-handheld) {
  .widget {
    .widget-actions {
      display: flex;
      .uikit-btn {
        flex-grow: 1;
        margin-bottom: 1em; // margin-left: .5em;
        + .uikit-btn {
          margin-left: 0.5em;
        }
      }
    }
    .widget-header__title {
      display: block;
      margin-bottom: 1em;
    }
  }
}

@media screen and (max-width: $small-handheld) {
  .widget-header {
    padding: 0.3em 1em;
  }
  .widget--justclaims {
    .table-claims {
      td {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}

// @media only screen and (min-width: $medium-tablet) {
//   .widget-btn {
//     margin: 0 0.5em 0 2em;
//   }
// }
// Claims table on authenticated home page
.table-claims {
  border: 1px solid $gray-mild;
  border-bottom: 0;
  border-radius: 0;
  th {
    background-color: $white;
    font-weight: 500;
  }
  td,
  th {
    border-bottom: 1px solid $gray-mild;
    padding: 0.75em 1em 0.75em 0.75em;
    vertical-align: middle;
  }
  td {
    padding: 0.75em 1em 0.75em 0.75em;
  }
  p {
    margin: $margin-zero;
  }
  em {
    color: $gray-mid;
  }
  .activity {
    width: 65%;
  } // button {
  //   padding: 0.25em 0.7em 0.4em;
  //   font-size: 0.9rem;
  //   font-weight: normal;
  // }
}

.callout {
  color: $blue;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  span {
    font-size: 1.1rem;
  }
}

.status-icon {
  // background-position: -.25em 0;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  padding: 0.25em 0.25em 0.25em 40px;
  background-position-y: 0.2em;
  span {
    font-size: 0.9rem;
  }
  em {
    color: $gray-mid;
    font-style: normal;
  }
}

.status-icon--large {
  background-size: 40px 40px;
  padding-left: 50px;
}

.status-icon--table {
  padding: 1.2em 0.5em 0.75em 60px;
  background-position: 16px 50%;
  &.status-incomplete {
    background-color: $error-background;
  }
  &.status-rejected {
    background-color: $error-background;
  }
  &.status-approved {
    background-color: $success-background;
  }
  &.status-error {
    background-color: $error-background;
  }
  &.status-withdrawn {
    background-color: $error-background;
  }
  &.status-in-progress {
    background-color: $success-background;
  }
}

.status-required {
  // background-color: lighten($color: $blue, $amount: 55%);
}

.status-incomplete {
  background-image: uikit-svguri(
    '
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 width="29.7px" height="29.7px" viewBox="0 0 29.7 29.7">
	<path fill="#F89722" d="M14.9,29.3c-8,0-14.5-6.5-14.5-14.5S6.9,0.3,14.9,0.3s14.5,6.5,14.5,14.5S22.9,29.3,14.9,29.3 M14.9,3.3
		C8.5,3.4,3.4,8.6,3.4,14.9C3.5,21.2,8.7,26.3,15,26.2c6.3-0.1,11.4-5.3,11.3-11.6C26.2,8.4,21.2,3.3,14.9,3.3"/>
	<path fill="#F89722" d="M7.5,13h14.8v3.2H7.5V13z"/>
	</svg>
	'
  );
}

.status-rejected {
  background-image: uikit-svguri(
    '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="29.7px" height="29.7px" viewBox="0 0 29.7 29.7"><style>.st0{fill:#cb2026}</style><path class="st0" d="M14.9 29.5C6.9 29.5.4 23 .4 15S6.9.5 14.9.5 29.4 7 29.4 15s-6.5 14.5-14.5 14.5m0-26C8.5 3.6 3.4 8.8 3.4 15.1c.1 6.3 5.3 11.4 11.6 11.3 6.3-.1 11.4-5.3 11.3-11.6-.1-6.2-5.1-11.3-11.4-11.3"/><path class="st0" d="M19 8.8l-4.1 4.1-4.1-4.1-2.1 2 4.2 4.2-4.2 4.1 2.1 2 4.1-4.1 4.1 4.1 2-2-4.1-4.1 4.1-4.2z"/></svg>'
  );
}

.status-approved {
  background-image: uikit-svguri(
    '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="29.7px" height="29.7px" viewBox="0 0 29.7 29.7"><style>.st0{fill:#2ab34b}</style><path class="st0" d="M14.9 29.3C6.9 29.3.4 22.8.4 14.8S6.9.3 14.9.3s14.5 6.5 14.5 14.5-6.5 14.5-14.5 14.5m0-26C8.5 3.4 3.4 8.6 3.4 14.9c.1 6.3 5.3 11.4 11.6 11.3 6.3-.1 11.4-5.3 11.3-11.6-.1-6.2-5.1-11.3-11.4-11.3"/><path class="st0" d="M23.1 10.7l-2.1-2-8.2 8.2-4.1-4.1-2 2 4.1 4.2 2 2 2.1-2z"/></svg>'
  );
}

.status-submitted {
  background-image: uikit-svguri(
    '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="29.7px" height="29.7px" viewBox="0 0 29.7 29.7"><style>.st0{fill:#1758a6}</style><path class="st0" d="M14.9 29.3C6.9 29.3.4 22.8.4 14.8S6.9.3 14.9.3s14.5 6.5 14.5 14.5-6.5 14.5-14.5 14.5m0-26C8.5 3.4 3.4 8.6 3.4 14.9c.1 6.3 5.3 11.4 11.6 11.3 6.3-.1 11.4-5.3 11.3-11.6-.1-6.2-5.1-11.3-11.4-11.3"/><path class="st0" d="M15.9 8.2l-2 2.1 3.1 3.2H7.4v2.8H17l-3.1 3.2 2 2 6.5-6.6z"/></svg>'
  );
}

.status-error {
  background-image: uikit-svguri(
    '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="29.7px" height="29.7px" viewBox="0 0 29.7 29.7"><path d="M46.6 40.24L29.84 8.81a2.43 2.43 0 0 0-2.14-1.27 2.4 2.4 0 0 0-2.12 1.27L8.73 40.24a2.4 2.4 0 0 0 .06 2.37 2.42 2.42 0 0 0 2.08 1.18h33.6a2.42 2.42 0 0 0 2.12-3.55zM27.71 39a2.41 2.41 0 1 1 2.42-2.4 2.41 2.41 0 0 1-2.42 2.4zm2.42-9.63a2.42 2.42 0 0 1-4.84 0v-9.71a2.42 2.42 0 1 1 4.84 0zm0 0" fill="#ca2026"/></svg>'
  );
}

.status-in-progress {
  background-image: uikit-svguri(
    '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="29.7px" height="29.7px" viewBox="0 0 29.7 29.7"><style>.st0{fill:#{$aqua}}</style><path class="st0" d="M14.9 29.3C6.9 29.3.4 22.8.4 14.8S6.9.3 14.9.3s14.5 6.5 14.5 14.5-6.5 14.5-14.5 14.5m0-26C8.5 3.4 3.4 8.6 3.4 14.9c.1 6.3 5.3 11.4 11.6 11.3 6.3-.1 11.4-5.3 11.3-11.6 0-6.2-5.1-11.3-11.4-11.3"/><circle class="st0" cx="14.9" cy="14.6" r="2"/><circle class="st0" cx="20.7" cy="14.6" r="2"/><circle class="st0" cx="9.1" cy="14.6" r="2"/></svg>'
  );
}

.status-withdrawn {
  background-image: uikit-svguri(
    '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="29.7px" height="29.7px" viewBox="0 0 29.7 29.7"><style>.st0{fill:#{$gray-mid}}</style><path class="st0" d="M14.8 29.3C6.9 29.3.4 22.9.4 15S6.9.6 14.8.6C22.8.6 29.2 7 29.2 15c0 7.9-6.4 14.3-14.4 14.3m0-25.7C8.5 3.6 3.5 8.8 3.5 15.1S8.7 26.4 15 26.3c6.3-.1 11.3-5.2 11.2-11.5-.1-6.2-5.1-11.2-11.4-11.2"/><path class="st0" d="M14.5 21.6l2.1-2-3.2-3.2H23v-2.9h-9.6l3.2-3.2-2.1-2L8 15z"/></svg>'
  );
}

.status-action-required {
  background-color: $uikit-colour-Warning-5;
  outline: thin solid $uikit-colour-Warning-90;
}

.add-claims--box {
  text-align: center;
}

// for dashboard widget
#healthcard-index-container {
  width: 15em;
  display: block;
  margin: 0 auto;
  margin-bottom: -5em;
  #card-number {
    position: relative;
    top: -80px;
    left: -20px;
  }
  #card-name {
    position: relative;
    top: -75px;
    left: -50px;
  }
  #card-date {
    position: relative;
    top: -100px;
    left: 80px;
  }
  .card-text {
    font-size: 14px;
  }
}

// .section-feature--white {
//   background: $white;
//   padding: 30px 0 40px 0;
//   margin: 20px 0 20px 0;
//   h2 {
//     padding-bottom: 0.2em;
//     border-bottom: 1px solid $gray-mild;
//   }
// }
.healthcard-steps div {
  margin: 2em 0 2em 0;
  text-align: center;
  margin: auto;
}

.healthcard-steps img {
  width: 200px;
}

.healthcard-steps .description {
  font-weight: 500;
  font-size: 1.1em;
}

.healthcard-steps p {
  margin: 10px 0 10px 0;
}

/* Tooltip */

.tooltip {
  display: inline-block;
}

.tooltip__control {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.tooltip__label {
  font-weight: normal;
  padding: 0 25px 0 0;
  background: url(../images/ico-help-mid-gray.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 20px 20px;
  white-space: nowrap;

  &--icon-only {
    overflow: hidden;
    background-position: 0 50%;
    padding: 0 0 0 20px;
    width: 0;
    height: 20px;
  }
}

.tooltip__tab {
  position: absolute;
  padding: 13px 0;
  top: -13px;
  width: 100%;
  height: 100%;

  &--active::before {
    content: "";
    left: 50%;
    margin-left: -12px;
    position: absolute;
    z-index: 1;
  }

  &--top::before {
    border: 12px solid;
    border-color: $blue-60 transparent transparent;
    top: -1px;
  }

  &--bottom::before {
    border: 12px solid;
    border-color: transparent transparent $blue-60;
    bottom: -1px;
  }

  &--active::after {
    content: "";
    left: 50%;
    margin-left: -11px;
    position: absolute;
    z-index: 2;
  }

  &--top::after {
    border: 11px solid;
    border-color: $blue-10 transparent transparent;
    top: -1px;
  }

  &--bottom::after {
    border: 11px solid;
    border-color: transparent transparent $blue-10;
    bottom: -1px;
  }
}

.tooltip__content {
  position: absolute;
  font-weight: normal;
  z-index: 1;
  left: 0;

  &[aria-hidden="true"] {
    display: none;
  }
}

.tooltip__message {
  background: $blue-10; // url("../images/ico-info-thin-blue.svg") no-repeat 1em 2.2em;
  border: 1px solid $blue-60;
  border-radius: 0.3em;
  max-width: $uikit-maxwidth;
  opacity: 1;
  outline: medium none;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
  padding: 3em 2em 2em 2em;
}

.tooltip__close {
  right: 0.5em;
  top: 0.5em;
  position: absolute;
  max-height: 40px;
  background-image: url("../images/ico-close-thin-black.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 6px 5px;
  padding: 0.5em 0.5em 0.5em 2.8em;
  z-index: 2;
  cursor: pointer;

  &:focus {
    background-color: #fff;
  }

  &:hover {
    background-color: $uikit-colour-Link;
  }
}
