$text-padding: 1.25em;

.rev-sub {
  border: 2px solid $gray-light;
  border-top: 2px solid $gray-mid;
}


.rev-sub__claim-title {
  padding: 0.5em $text-padding;
}

.rev-sub__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.5rem $text-padding 0.5em;

  .rev-sub__edit {
    position: relative;
    top: -10px;
    margin: 0;
    border-bottom: 1px solid #1b7991;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
  }
}

.rev-sub__header--category {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0.5em 0 0.25em;
}

.rev-sub__sub-header {
  background: #6e6e6e;
  width: 100%;
  color: $white;
  font-size: 0.9em;
  padding: 0.25em 1.5278em;
  text-transform: uppercase;

  .rev-sub__header--subcategory {
    margin: 0;
    font-weight: 400;
  }
}

.rev-sub__questions {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;

  .rev-sub__item-question {
    font-weight: 600;
  }

  .rev-sub__item-question, .rev-sub__item-answer {
    padding: 0;
    line-height: normal;
    margin: 0;
  } 

  .rev-sub__item {
    padding: $text-padding;
    background: #fafafa;

    
    &:nth-of-type(2n) {
      background: #f2f2f2;
    }
  }

}

@media screen and (min-width: $AU-media-sm) {
  .rev-sub__item {
    display: flex;
    flex-direction: row;
  
    .rev-sub__item-question {
      width: 225px;
      margin-right: 2.25em;
    }
  }

}