/**********************************
	Main content area

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

main {
	margin-bottom: 1em;
}

.uikit-breadcrumbs {
	margin: 1em 0 0 0;
}

@media only screen and (max-width: $small-handheld){
	.uikit-link-list li{
		display: block!important;
		text-align:left;
	}
}
	
}