/**********************************
	Displays a visual indicator of cover status on cover summary screen

**********************************/

.cover-status {
	display: block;
	margin-bottom: 1em;
	ul {
		padding: 0;
		display: block;
		li {
			background-color: white;
			border: 3px solid $gray;
			display: block;
			min-height: 60px;
			list-style-type: none;
			margin: 0;
			padding: 0 0 2em 0;
			font-weight: bold;
			font-size: 1.2rem;
			text-align: center;
			&.submitted {
				-webkit-border-radius: 4px 4px 0 0;
				border-radius: 4px 4px 0 0;	
				border-bottom: none;		
			}
			&.in-progress {
				border-bottom: none;		
			}
			&.decision-pending {
				-webkit-border-radius: 0 0 4px 4px;
				border-radius: 0 0 4px 4px;
			}
			p {
				margin: 0;
				padding: 0;
			}
		}
	}
	.active {
		background-color: white;
	}
	.status-icon {
		background: #D6D6D6 url(../images/ico-pending.svg) no-repeat 50% 0;
		border-top: 10px solid #D6D6D6;
		background-size: 35px 35px;
		height: 45px; 
		width: 100%;
		margin-bottom: 1em;
		display: inline-block;			
	}
	.status-icon-done {
		background: $success-green url(../images/ico-tick.svg) no-repeat 50% 0;
		background-size: 35px 35px;
		border-top: 10px solid $success-green;
	}
	.date {
		font-weight: normal;
		font-size: 1rem;
	}
}

@media only print, screen and (min-width: $medium-handheld) {
.cover-status {
	display: table;
	width: 100%;
	ul {
		display: table-row;
		li {
			background-color: $gray-light;
			display: table-cell;
			min-height: 100px;
			width: 33%;
				&.submitted {
					-webkit-border-radius: 4px 0 0 4px;
					border-radius: 4px 0 0 4px;	
					border: 3px solid $gray;	
					border-right: none;	
				}
				&.in-progress {
					border: 3px solid $gray;
					border-right: none;		
				}
				&.decision-pending {
					-webkit-border-radius: 0 4px 4px 0;
					border-radius: 0 4px 4px 0;
					border: 3px solid $gray;		
				}
			}
		}
	}
}