/**********************************
	Styling of feature boxes, mostly on authenticated home page
	Each widget must contain a heading with identifying icon

**********************************/

// Container 
	
.widget {
		background-color: white;
		margin-bottom: 1em;
		border: 0px solid $gray;
		margin: 0 0 2em 0;
		padding: 0.25em 2em 2em 2em;
		position: relative;
		-webkit-border-radius: 3px;
		border-radius: 3px;	
		-webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.15);
		box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.15);
		&--icon {
			width:70px;
			height:70px;
		}
		.col-sm-8 {
			padding-right: 2em;
			padding-bottom: 2em;
		}
	}