//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// page-alerts module
// Use page alerts to notify users of important information and state changes to the page.
//
// Content:
// - Generic page alert styling
// - Generic page alert icon position styling
// - Page alert error
// - Page alert warning
// - Page alert success
// - Page alert info
// - Page alert screen-reader only
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Page alert defaults to info
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-page-alerts {
  background-color: $white;
  border-left: 4px solid $uikit-colour-Info;
  color: $uikit-colour-Text;
  font-family: $uikit-font-system;
  line-height: $uikit-leading;
  margin: uikit-space(1) 0;
  max-width: $uikit-maxwidth;

  // padding: uikit-space(0.75) uikit-space(0.5) uikit-space(0.75) uikit-space(0.5);
  padding: uikit-space(0.75) uikit-space(0.5) uikit-space(0.75) 4em;
  position: relative;

  // border: solid 2px $uikit-colour-Info;

  // border-radius: $uikit-border-radius;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  &::after {
    background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.3 39.3"><style>.st0{fill:#{$uikit-colour-Info}}</style><path class="st0" d="M33 6.2C29.4 2.6 24.6.6 19.6.6c-5.1 0-9.8 2-13.4 5.6S.6 14.6.6 19.6c0 5.1 2 9.8 5.6 13.4 3.6 3.6 8.4 5.6 13.4 5.6 5.1 0 9.8-2 13.4-5.6s5.6-8.4 5.6-13.4c.1-5-1.9-9.8-5.6-13.4zm-1.4 25.4c-3.2 3.2-7.4 4.9-11.9 4.9S11 34.7 7.8 31.6C1.2 25 1.2 14.3 7.8 7.8c3.2-3.2 7.4-4.9 11.9-4.9s8.7 1.8 11.9 4.9c6.4 6.5 6.4 17.2 0 23.8z"/><path class="st0" d="M20.7 8.9c0-.6-.5-1.1-1.1-1.1-.6 0-1.1.5-1.1 1.1l.1 15.4c0 .3.1.6.4.8s.5.4.8.4c.6 0 1.1-.5 1.1-1.1l-.2-15.5z"/><circle class="st0" cx="19.8" cy="29.3" r="1.3"/></svg>');
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    height: 35px;
    left: 1em;
    position: absolute;
    top: 1em;
    width: 35px;
  }
}

// 
// Page alert success
//
.uikit-page-alerts--success {
  border-color: $uikit-colour-Success-80;

  &::after {
    background-image: uikit-svguri("");
  }
}

//
// Page alert warning.
//
.uikit-page-alerts--warning {
  border-color: $uikit-colour-Warning;

  &::after {
    background-image: uikit-svguri("");
  }
}

//
// Page alert error.
//
.uikit-page-alerts--error {
  border-color: $uikit-colour-Error;

  &::after {
    background-image: uikit-svguri("");
  }
}

//
// Screen-reader only class for interlinking error messages and corresponding form elements.
//
.uikit-page-alerts__sronly {
  @include uikit-sronly;
}
