/**********************************
	Specific styling for authenticated home page

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {
	.divider {
		border-right:1px solid $gray-light;
		margin-right:20px;
		padding-right:20px;
	}
	.uikit-page-alerts {
		max-width:100%;
	}
	.feature-icon {
		width:40px;
		height:40px;
		margin:0 15px 0 0;
	}
}