/**********************************
	Styling of cards such as cover cards on authenticated home page

**********************************/

// Card styling

.card-mentalhealth {
  border: 0 solid $gray;
  border-radius: 3px;
  box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.25);
  margin: 0 0 2em 0;
  padding: .25em 1em 1em;
  position: relative;
  text-align: center;

  h3 {
    text-transform: none;
    line-height: 1.2;
    padding: 20px 0 0 0;
  }

  div {
    margin: 0 40px;
  }

  p {
    border-top: 0;
  }

  .radio-toggle {
    border-top: 0;
    display: inline-block;
    margin: 20px 0 0;
  }

  &--icon {
    height: 70px;
    width: 70px;
  }
}

@media only print,
screen and (min-width: $small-handheld) {
  .row {
    &.vertical-divider {
      >div[class^='col-'] {
        border-right: 0;
      }
    }
  }
}

@media only print,
screen and (min-width: $medium-handheld) {
  .card-mentalhealth {
    display: inline-block;

    // float: left; // this doesn't work on inline
    margin-right: 2%;
    min-height: 280px;
    width: 42%;
  }
}

@media only print,
screen and (min-width: $large-handheld) {
  .card-mentalhealth {
    min-height: 420px;
    width: 40%;
  }
}

@media only print,
screen and (min-width: $medium-tablet) {
  .card-mentalhealth {
    width: 40%;
    min-height: 320px;
  }

  .row.vertical-divider {
    overflow: hidden;
  }

  .row.vertical-divider>div[class^='col-'] {
    border-right: 1px solid $gray;
    margin-bottom: -100px;
    margin-right: 30px;
    padding-bottom: 100px;
    padding-right: 40px;

    &:last-child {
      border-right: 0;
    }
  }
}
