/**********************************
  This SASS file is used to control layout that is unique to the unathenticated home page. Example: large feature with background image, 1, 2, 3 steps and introductory content.

**********************************/

// Hero section of homepage containing catchy one-liner and Register/Login buttons

.hero-main {
	background: $blue url(../images/bg-header2.jpg) no-repeat 0 0;
	background-size: cover;
	background-position:-310px;
	font-size: 0.9rem;
	padding: 3em 0 6em 0;
	text-align:center;
	h1 {
		font-weight: 400;
		line-height:1em;
		color: white;
		font-size: 2rem;
		margin-bottom: 0.5em;
		padding-top: 0;
	}
	p {
		color: white;
	}
	button {
		margin: 0 0.25em 0.5em 0;
		padding-left: 2em;
		padding-right: 2em;
		font-size: 1.4rem;
		font-weight:500;
		background-color: $large-text-green !important;
		border: 1px solid white !important;
		border-radius: 6px;
		-webkit-box-shadow: 0 3px 10px 2px $blue-dark;
		box-shadow: 0 3px 10px 2px $blue-dark;
		&:focus, 
		&:hover {
		  background-color: $green-dark !important;
		}
		&.panel-btn {
			background-color: $blue !important;			
			&:focus, 
			&:hover {
			  background-color: $blue-dark !important;
			}
		}
	}
}

@media only screen and (min-width: $small-handheld) {
	.hero-main {
		font-size: 1.1rem;
		h1 {
			font-weight: 300;
			line-height: normal;
			color: white;
			font-size: 2rem;
			margin-bottom: 0;
		}
		p {
			color: white;
			max-width:none;
			font-size: 0.8em;
			padding: 0 5em;
		}
	}

	.tile--wrapper {
		img {
			width: 50px;
			height: 50px;
		}
	}
	.tile-pad {
		.col-md-6 {
			padding-right: 4em;
		}
	}
}


@media only screen and (min-width: $medium-handheld) {
	.hero-main {
		padding: 1vh 0 7vh 0;
		background-position:center;
		h1 {
			font-size: 2.6rem;
			font-weight: 200;
			margin-bottom: 0.2em;
		}
		p {
			font-size:1rem;
			padding:0 7rem 0 7rem;
		}
	}
	.tile--wrapper {
		img {
		width:70px;
		height:70px;
		}
	}
}
	
@media only screen and (min-width: $large-handheld) {
	.hero-main {
		h1 {
			font-size: 3.4rem;
		}
	}
}


// Feature section of homepage with 1-2-3 instructions on how MyService works.

.feature {
	background-color: $feature-background;
	border-bottom: 1px solid $feature-border;
	padding: 2em 0 2em 0;
	margin-bottom: 1em;
	text-align:center;
	
	.howitworks {
		.feature-col--narrow {
			width:14%!important;
			vertical-align: top;
			padding-top:50px;
		}
		.howitworks-img {
			width:90px;		
		}
		.arrow-img {
			width: 100%;
			max-width: 100px;
			vertical-align: top;
			padding-top: 50px;
		}
		h2 {
			font-size: 1.2em !important;
			font-weight:400;
			margin:0em;
		}	
		a {
			color:$blue;
			font-size:0.95em;
		}
	}
}	


// Summary box to call out important highlights on content pages

.summary {
	background-color: $feature-background;
	border-bottom: 1px solid $feature-border;
	padding: 0.25em 1.5em;
	margin-bottom: 2em;	
	h4 {
		font-size: 1.3rem;
		margin-top: 0;
	}
	table {
		th {
			background-color: white;
			border-bottom: 1px solid #eee;
		}
	}
}


/*  SECTIONS  */
.feature-section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  */
.feature-group:before,
.feature-group:after { content:""; display:table; }
.feature-group:after { clear:both;}
.feature-group { zoom:1; /* For IE 6/7 */ }

/*  COLUMN SETUP  */
.feature-col:first-child { margin-left: 0; }

.feature-col {  margin: 1em 0 1em 0; }
.feature-1-of-5, .feature--spacer, .feature--wide, .feature--narrow { width: 100%; }
.feature--spacer, .feature--narrow {display:none;}




@media only screen and (min-width: $small-handheld) {
	.feature-col {
		text-align:left;
		margin:3em;
	}
	.howitworks-img {
		display:inline-block;
	}
	.feature-body {
		display:inline-block;
		text-align:left;
		margin:0 0 1em 1em;
		padding:0.3em 0 0 0;
		vertical-align: top;
	}
}

@media only screen and (min-width: $medium-handheld) {

	.feature-col {
		display: block;
		text-align:center;
		float:left;
		margin: 1em 0 1em 1.6%;
	}
	.feature-body {
		text-align:center;
	}

	/*  Grid spacing  */
	.feature-1-of-5 {width: 20%;}
	.feature--wide {width: 28%;}
	.feature--narrow {width: 7%;}
}

@media only screen and (min-width: $large-handheld) {
	.feature-1-of-5 {width: 18.72%;}
	.feature--wide {width: 26%;}
	.feature--narrow {width: 9%;}
	.feature--spacer {width: 1%;}
}

@media only screen and (min-width: $medium-tablet) {
	.feature--wide {width: 25%;}
	.feature--spacer {width: 9%;}
}

	



// Content on unauth landing page 

.landing-page-content {
	.col-md-8 {
		padding-right: 4em;
	}
	h2 {
		font-weight: 400;
	}
}