.travel-boxes{
  max-width:210px;
}
.radio-tile--group input[type='radio']:checked + span.travel-boxes {
    background: #eee url(none);
    border: 1px solid #1057a7;
    background-position: right 10px top 10px;
    background-size: 30px 30px;
}
