/**********************************
	Variables are for defining specific colour values and responsive break points for MyService. 
	Break points are based on unique content requirements for MyService.

**********************************/

// Breakpoints

$small-handheld: 480px;
$medium-handheld: 650px;
$large-handheld: 768px;
$medium-tablet: 960px;

$white: #ffffff;
$blue: #1057A7;
$blue-light: #2A9ED1;
$blue-light: #91c2e5;
$blue-mid: #2B7DCE;
$blue-dark: #093d77;
$success-green: #3dbd93;
$gray: #666;
$gray-mid: #777777;
$gray-mild: #d4d4d4;
$gray-light: #eeeeee; 
$green: #21b448;
$large-text-green: #00AB4D;
$green-dark: #37852e;
$orange: #FF9600;
$input-focus: #fffae8;
$input-outline: #02bfe7;
$badge-bg: #c90000;
$validation: #cc0000;
$red: #cc0000;
$uikit-hover: #5bcbe3;
$top-panel-bg: #093d77;

// Gray feature box

$feature-background: #f3f3f3;
$feature-border: #e6e6e6;

$blue--10: mix(black, $blue, 10) !default;
$blue--20: mix(black, $blue, 20) !default;
$blue--30: mix(black, $blue, 30) !default;
$blue--40: mix(black, $blue, 40) !default;
$blue--50: mix(black, $blue, 50) !default;
$blue--60: mix(black, $blue, 60) !default;
$blue--70: mix(black, $blue, 70) !default;
$blue--80: mix(black, $blue, 80) !default;
$blue--90: mix(black, $blue, 90) !default;
$blue--95: mix(black, $blue, 95) !default;

$blue-90: mix(white, $blue, 10) !default;
$blue-80: mix(white, $blue, 20) !default;
$blue-70: mix(white, $blue, 30) !default;
$blue-60: mix(white, $blue, 40) !default;
$blue-50: mix(white, $blue, 50) !default;
$blue-40: mix(white, $blue, 60) !default;
$blue-30: mix(white, $blue, 70) !default;
$blue-20: mix(white, $blue, 80) !default;
$blue-10: mix(white, $blue, 90) !default;
$blue-5: mix(white, $blue, 95) !default;

$blue-mid--20: mix(black, $blue-mid, 20) !default;
$green--20: mix(black, $green, 20) !default;
$orange--20: mix(black, $orange, 20) !default;
$red--20: mix(black, $red, 20) !default;