// Feature links on landing page

.cards {
	margin-top: 5vh;
}
.cards--item {
    background-color: #F0F3F5;
    color: $blue;
    line-height: 1.2;
    padding: 2.25em 1.2em .8em .6em;
    border-bottom: 6px solid $blue;
    border-radius: 3px;
    box-shadow: 2px 0 6px rgba(49,49,49,0.7);
    margin-bottom: 1em;
    &:hover,
    &:focus {
    	background-color: $gray-light;
    	border-bottom: 6px solid black;
    }
    h3 {
    	text-align: center;
    	padding-top: 1em;
    	span {
    		font-weight: normal;
    		font-size: 0.9rem;
    	}
    }
}
.cards--add-cover {
	background:  #F0F3F5 url(../../../images/ico-add-cover.svg) no-repeat 50% 1.25em;
	background-size: 40px 40px;
}
.cards--needs {
	background:  #F0F3F5 url(../../../images/ico-search.svg) no-repeat 50% 1.25em;
	background-size: 40px 40px;
}
.cards--profile {
	background:  #F0F3F5 url(../../../images/ico-id.svg) no-repeat 50% 1.25em;
	background-size: 40px 40px;
}

.uploads-container {
    float: right; 
    border: 1px solid #DFDFDF; 
    background: #EFEFEF; 
    padding: 1em 1em 1.5em 1em; 
    border-radius: 4px; 
    margin-top: 2.5em;
    h2 {
        font-size: 1.2rem;
        margin: 0 0 0.75em 0;
        img {
            width: 18px;
            margin-right: 0.25em;
        }
    }
}


// Feature cards are large boxes designed to draw more attention toward important choices

.feature-card {
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
    text-align: center;
    margin: 1em 0;
    h3, p, img {
        padding: 1em 2em;
        margin: 0;
    }
    h3 {
        padding: 1em 2em 0 2em;
    }
    p {
        padding: 0.5em 2em 1em 2em;
    }
    img {
        padding: 1em 2em 0 2em;
    }
    @media only screen and (min-width: $medium-tablet) {
        &.feature-card--left {
                margin-right: 1.5em;
            }
        &.feature-card--right {
            margin-left: 1.5em;
        }
    }
    .feature-card--header {
        background-color: #f2f2f2;
        padding-bottom: 1em;
        -webkit-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        min-height: 15vh;
    }
    .uikit-btn {
        margin-bottom: 1em;
    }
    label.uikit-control-input__text:before, .uikit-control-input__text:after {
        left: 1em;
        top: 0.75em;
    }
    input.uikit-control-input__input {
        left: 1em;
        top: 0.75em;
    }
}