//
// Most typographic styling is inherited from UIKit. 
//

// matching li item's max-width to that of paragraphs and headings.
ul {
  max-width: $uikit-maxwidth;
  margin: 0 0 uikit-space(1);
}

.uikit-breadcrumbs {
  margin: 1em 0 0;
}

hr {
  padding: 1em 0 0;
  margin-top: 3em;
  border-top: 1px solid $gray-light;
}

// Remove outline on target
:target {
  outline: none !important;
}

// Set layer order of skip to content link
.uikit-skip-link__link {
  z-index: 100;
}

// Add Cover Icon - used in H1 tag on all Add Cover pages.
.ico-addcover {
  background: url("../images/ico-add.svg") no-repeat 0 12px;
  background-size: 30px 30px;
  border-bottom: 0;
  color: $black;
  padding: 2px 0 0 40px;
}

// Responsive headings

h1 {
  font-weight: normal !important;
  font-size: 1.75rem;

  img {
    width: 50px;
    height: 50px;
    margin-top: -8px;
    margin-right: 10px;
    vertical-align: middle;
  }
}

h2, h4 {
  clear: both;

  img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: middle;
  }
}

h2 {
  font-weight: normal;

  span {
    font-size: 1.2rem;
  }
}

.heading-highlight {
  color: $blue-dark;
}

@media only screen and (min-width: $small-handheld) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: $medium-tablet) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

// For displaying additional heading content with less visual importance
// TODO:: fix this code smell
h1,
h2 {
  span {
    font-size: 1.5rem;
    color: $gray;
  }
}

// No underline for hyperlinks

a {
  span {
    border-bottom: solid 1px $uikit-colour-Primary;
    color: $uikit-colour-Text; // shouldn't need this but the above code smell requires it

    &:hover,
    &:focus {
      background-color: $uikit-colour-Link;
      border-color: transparent;
    }
  }

  &.nounderline {
    border-bottom: 0;

    &:focus,
    &:hover {
      background: transparent;
    }
  }

  &.uikit-btn { // treating a's as buttons
    box-sizing: border-box;
    line-height: normal;
    text-align: center;
  }
}

// Terms and Conditions layout styling
.tc-detail {
  li {
    max-width: $uikit-maxwidth;
    margin: 0 0 uikit-space(1);
  }
}

// Caption
.caption {
  padding-bottom: 10px;
}

figure {
  margin: 0;
}

// Make text look like a label

.labeltext {
  font-weight: bold;
  font-size: 1em;

  span {
    font-weight: normal !important;
  }
}

// Give headings an orange underline
.heading {
  border-bottom: 4px solid $orange;
  font-size: inherit;
  padding-bottom: 3px;
  color: $uikit-colour-Text;
}

.heading--thin {
  border-bottom: 2px solid $orange;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-heavy {
  color: initial;
  font-size: inherit;
  font-weight: bold;
}

p {
  &.text-fullwidth {
    max-width: 100%;
  }
}

// typography styling for Claim summary table immitation headings
.claim-summary__label {
  font-size: 0.9em;
  font-weight: normal;
}

.cantered-item {
  text-align: center;

  p {
    max-width: initial;
  }
}

.claim-end {
  min-height: 30em;
}
