//
//  The sliding panel top animates from the top of the screen when triggered by the 24hr support link
//  located in the header.

// Content:
// - top panel full-width styling
// - top panel accordion body styling
// - top panel accordion button styling
// - trial message styling

// Styling for full-width section of top panel



.accordion-toppanel--wrapper {
  background-color: $top-panel-bg;
  font-size: 0.9em;

  a,
  a:link,
  a:visited {
    color: $white;
    font-size: 0.9em;

    span {
      color: $white;
    }
  }

  li {
    display: inline-block;
    list-style-type: none;
    text-align: left;

    // this class is not used in the html
    // .accordion {
    //   margin: 0 !important;
    //   padding: 0 !important;
    // }
  }

  .container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .uikit-accordion {
    border: 0;
    color: $white;
    // margin: 0 4px;
    margin-bottom: 0;
    padding-bottom: 0;

    span {
      border-bottom: 0;
    }

    .uikit-accordion__title {
      border: 0;
      display: inline-block;
      line-height: .8;
      // margin-right: -4px;
      padding: 1.2em 3.25em .8em 1em;
      vertical-align: top;
      width: auto;

      &::after {
        filter: brightness(100);
        right: 1.25em;
      }
    }

    &.accordion-closed {
      .uikit-accordion__body {
        max-height: 0;
      }

      .uikit-accordion__title {
        transition: width 0.2s;

        &::after {
          transform: rotateZ(180deg);
        }
      }
    }
  }

  .uikit-accordion__body {
    clear: both;
  }

  .uikit-accordion__body-wrapper {
    border-top: 0;
    margin: $margin-zero;
    padding: 0;
  }

  .uikit-accordion__title {
    background: $top-panel-bg;
    font-size: 0.8rem;

    &:hover,
    &:focus {
      background-color: $uikit-colour-Link;
      color: $uikit-colour-Text;
      text-decoration: none;
    }
  }

  .uikit-accordion__title-new {
    padding: 20px 45px 38px 30px;

    &:hover,
    &:focus {
      padding: 20px 45px 38px 30px;
    }
  }



  &.topbar-register {
    .uikit-accordion__title {
      margin-right: 0;
    }
  }
}

.topbar-logo {
  display: inline-block;
  line-height: 0;
  padding: 1.05em 0 0.8em 0.5em;

  .logo-myservice {
    height: 30px;
  }
}

.topbar-controls {
  // float: right;
  display: flex;
  line-height: 0;

  // a {
  //   float: right;

  // }

}

.topbar-controls__left {
  @media screen and (min-width: $small-handheld) {
    margin-left: 12px;
  }

  flex-grow: 2;
  // float: left;
  // width: 100%;
}

.topbar-controls__right {
  @media screen and (min-width: $small-handheld) {
    margin-right: 12px;
  }

  display: flex;
  margin-left: auto;
  order: 2;
  // float: right;
  // margin-right: 12px;
}

.uikit-body {

  // .logout,
  .login-mygov {
    background: $green-mygov;
    border: 0;
    display: inline-block;
    height: 3.2em;
    padding: 1em;
    position: relative;
    width: 6em;

    &:hover,
    &:focus {
      // important is not needed
      // background-color: $green-mygov--hover !important;
      background-color: $green-mygov--hover;
    }

    &::after {
      background-image: url("../images/mygov-logo.svg");
      background-repeat: no-repeat;
      content: $content-blank;
      height: 1.1em;
      position: absolute;
      top: 1.2em;
      width: 4em;
    }
  }

  .logout__claim,
  .login-mygov__claim {
    height: 4.5em;
    padding-top: 1.5em;
  }

  // this class in not used in any HTML
  // .login-mygov__claim {
  //   padding-left: 1.1em;

  //   &::after {
  //     top: 1.8em !important;
  //   }
  // }

  .screen-text-above-zero__claim,
  .screen-text-above-xs__claim {
    padding-bottom: 1.1em;
    padding-left: 1em;
    padding-top: .5em;
  }

  .logout {
    background-color: $blue-midnight;
    border: 0;
    display: inline-block;
    font-weight: bold;
    line-height: .8;
    overflow: hidden;
    padding: uikit-space(0.75);
    vertical-align: top;
    white-space: nowrap;
    width: auto;
  }

  a {
    &.switch-account-button {
      color: $black;

      span {
        color: $black;
      }
    }

    &.switch-account-box__link {

      border-bottom: 1px solid $gray-mild;
      color: $black;
      display: block;
      margin-bottom: 0;
      padding: 2em 1.3em;

      &:hover,
      &:focus {
        background-color: lighten($orange-mid, 30);
      }
    }

    &.switch-account-box__link--self {
      background: $gray;
      color: $white;

      &:hover,
      &:focus {
        background-color: darken($gray, 10);
      }

      i {
        font-size: 1.4em;
        line-height: 0;

        &::before {
          bottom: -.15em;
          position: relative;
        }
      }
    }
  }

  .switch-account-button {

    @include uikit-media(xs) {
      padding: 1.2em 1.2em 1.2em .4em;
    }


    background-color: $orange-mid;
    border: 0;
    box-sizing: border-box;

    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    height: 3.2em;
    line-height: .8;
    padding: 1.2em .4em;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    // width: auto;
    width: 100%;

    &:hover,
    &:focus {
      background-color: lighten($orange-mid, 10);
      border: 0;
      outline: none;
    }

    span {

      &:hover,
      &:focus {
        background-color: lighten($orange-mid, 10);
        border: 0;
        outline: none;
      }
    }

    .fal,
    .far {

      // @include uikit-media(xs) {}

      font-size: 1.5em;
      line-height: 0;
      padding-left: 10px;
      width: 41px; //adding width to stop font-awesome flicker

      &::before {
        position: relative;
        top: 2px;
      }
    }

    // this is in here because of the way the angular font awesome component generates an svg
    .ng-fa-icon {
      // display: inline-block;
      position: absolute;
      top: 12px;

      &::before {
        content: $content-blank;
      }

      ~span {
        margin-left: 46px;
      }
    }
  }


  .switch-account-button--open {
    &::after {
      transform: rotateZ(0deg);
    }
  }

  .screen-text-above-zero {
    @include uikit-media(xs) {
      margin-top: 0;
    }

    margin-top: -4px;
  }

  // TODO: put a bottom radius on this
  .switch-account-box__list {
    margin-bottom: 0;
    max-width: 100%;
    padding: 0;


    li {
      display: block;
      margin: 0;
    }
  }


}


.switch-account-box {
  @media screen and (min-width: $small-handheld) {
    left: 12px;
    // max-width: 300px;
    // min-width: 300px;
    // width: 300px;

  }

  background-color: $gray-super-super-light;
  border-radius: 0 0 $uikit-border-radius $uikit-border-radius;
  border-top: 0;
  box-shadow: 1px 2px 3px 0 $rgba-black-20;
  display: table;
  height: 60px; // any arbitrary height but best at the minimum initial height
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 41px;
  transition: 0.5s ease;
  width: calc(100% - 24px);
  z-index: 999;
}



.switch-account-box--hide {
  border: 1px solid transparent;
  border-top: 0;
  display: block;
  height: 0;
  opacity: 0;
}


// RESPONSIVE STYLING FOR ACCORDIAN

.uikit-accordion {
  .uikit-accordion__title {
    text-align: right;
  }
}

.trial-message {
  display: none;

  a {
    font-size: 1em;
  }
}

@include uikit-media(sm) {
  .trial-message {
    display: inline-block;
    line-height: 0;
    padding: 1.05em 0 0 0.5em;
  }
}