//
// Variables are for defining specific colour values and responsive break points for MyService. 
// Break points are based on unique content requirements for MyService.
//

// Breakpoints
// TODO: I'm not sure we should be defining our own breakpoints. these are available in ui-kit
$small-handheld: 480px;
$medium-handheld: 650px;
$large-handheld: 768px;
$medium-tablet: 960px;

$white: #fff;
$black: #000;

$blue: #1057a7;
$blue-light: #2a9ed1;
$blue-mid: #2b7dce;
$blue-dark: #093d77;
$blue-midnight: #09294d;
$blue-mild: #0077b7;
$blue-super-light: #b9e9f4;
$blue-mid-alt: #166bb2;
// $blue-mid-alt: #B7E9F3;
$payments-blue: #0c5dce;


$blue-90: mix($white, $blue, 10) !default;
$blue-80: mix($white, $blue, 20) !default;
$blue-70: mix($white, $blue, 30) !default;
$blue-60: mix($white, $blue, 40) !default;
$blue-50: mix($white, $blue, 50) !default;
$blue-40: mix($white, $blue, 60) !default;
$blue-30: mix($white, $blue, 70) !default;
$blue-20: mix($white, $blue, 80) !default;
$blue-10: mix($white, $blue, 90) !default;
$blue-5: mix($white, $blue, 95) !default;
$blue-mid--20: mix($black, $blue-mid, 20) !default;

$gray-dark: #444;
$gray: #666;
$gray-mid: #777;
$gray-mild: #d4d4d4;
$gray-light: #eee;
$gray-super-light: #fafafa;
$gray-super-super-light: #fffcfc;
$aqua: #0a8e8e;
$off-white: #f8f7f6;


$green: #21b448;
$large-text-green: #00ab4d;
$success-green: #3dbd93;
$green-dark: #37852e;
$green-mygov: #00624a;
$green-mygov--hover: #00ab4d;

$green--20: mix($black, $green, 20) !default;
$orange: #ff9600;
$orange-mid: #f9c430;
$orange-light: #ff9;
// $orange-light: #fbc927;
$orange--20: mix($black, $orange, 20) !default;
$red: #c00;
$red--20: mix($black, $red, 20) !default;
$radical-red: #ff3267;

$input-focus: #fffae8;
$input-outline: #02bfe7;
$badge-bg: #c90000;
$validation: $red;

$uikit-hover: #5bcbe3;
$top-panel-bg: #093d77;

// Grey feature box
$feature-background: #f3f3f3;
$feature-border: #e6e6e6;

$uikit-colour-Success: $green;
$uikit-colour-Warning: $orange;
$uikit-colour-Info: $blue-60;

// status colours
$success: $success-green;
$success-background: #a4f99a;
$error: $red;
$error-background: #ffc2c2;

$rgba-black-20: rgba(0, 0, 0, 0.2);
$rgba-gray: rgba(155, 155, 155, 0.53);

// utils
$margin-zero: 0;
$transition-time: 0.5s;

$form-margin: 0.5em 0 3em; // change last number from 1em to 3em

$border-radius: $AU-border-radius;

$content-blank: ' ';

// mixins etc
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}