#btnQueryString{
  width: auto !important;
}
#nr-strike.strike{
  max-width:17em;
}
#lblData6, #lblData7{
  border:none;
  display:contents;
}
.radio-toggle.nr-role label{
  width:20em;
}
.end-date-disabled{
  background-color:#EBEBE4;
  border:1px solid #ABADB3;
  padding:2px 1px;
}
#enquireAlert{
  background-color:inherit;
  border-left:none;
  color:inherit;
  font-family: inherit;
  padding: 0;
  &:after{
    background-image:none;
  }
}
