
// Progress bar container

.progress-container {
  display: none;
}
h2 span {
  font-size: 1.5rem;
  color: #666;
}
@media only screen and (min-width: 480px) {
  .progress-container {
    position: relative;
    min-height: 30px;
    display: block;
    margin-top: 0;
  }
  h2 span {
    display: none;
  }
}

ul.section-nav {
  padding: 0;
  margin: 0;
  top: -13px;
  left: 0;
  /*z-index: 100;*/
  position: absolute;
  width: 100%;
}
ul.section-nav li {
  background: transparent url(../../../images/sprite-steps.png) no-repeat 50% 0;
  display: inline-block;
  line-height: 1.4em;
  padding: 0;
  text-align: center;
  width: 24%;
  font-size: .9rem;
  min-height: 50px;
  z-index: 10;
}

ul.section-nav li.done {
  background: transparent url(../../../images/sprite-steps.png) no-repeat 50% -503px;
}
ul.section-nav li.active {
  background: transparent url(../../../images/sprite-steps.png) no-repeat 50% -254px;
  font-weight: bold;
}
ul.section-nav li.alert {
  background: transparent url(../../../images/sprite-steps.png) no-repeat 50% -750px;
}
ul.section-nav li span {
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 150%;
  line-height: 53px;
}
ul.section-nav li a, 
ul.section-nav li a:link, 
ul.section-nav li a:visited {
  text-decoration: none;
}
ul.section-nav li a:hover, 
ul.section-nav li a:focus, 
ul.section-nav li a:active {
  background-color: transparent;
  color: black;
}

.progress-bar {
  height: 10px;
  position: relative;
  display: block;
  clear: both;
  margin: 1em 0 1.75em 0;
  background: #ccc;
  border-radius: 15px;
  padding: 6px;
  /*z-index: 50;*/
}
.progress-bar > span {
  display: block;
  height: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #1057A7;
  position: relative;
  overflow: hidden;
}