/**********************************
  Specific styling for claims page.

**********************************/

.mask {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+1,1+82 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 155px;
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}

.inactive {
    position: relative;
    background: none;
    height: 60px;
}

table {
    margin-bottom: 0;
    border: 1px solid #d4d4d4 !important;
    // border-collapse: separate;
    // border-spacing: 0 1em;
}

.claim-submitted {
    font-style: normal !important;
    color: #777 !important;
    font-size: .9rem !important;
}

.claim-title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    color: #313131 !important;
    box-sizing: border-box;
}

// .flag {
//     border-left: .4em solid #ff9600;
//     padding-left: 1.5em !important;
// }

.claim-status {
    font-size: .9rem !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    color: #313131 !important;
    color: #777 !important;
}

.claim-action-required {
    font-size: .9rem !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    color: #313131 !important;
    color: #777 !important;
}

.flag-text {
    color: #ff9600;
    font-weight: bold;
}

a.flag-text {
    color: #ff9600;
    border-bottom: solid 1px #ff9600;
}

.claim-actions {
    text-align: right;
}

.widget .widget--justclaims table.table-claims th {
    color: #777;
    font-weight: normal;
    font-size: 0.9em;
    padding: 1em 2em 1em 2em;
    border-bottom: 2px solid #d4d4d4;
}

.claim-heading {
    display: inline-block;
    margin: 10px 0 0 0;
    font-weight: 600;
}

.table-claims {
    position: relative;
    border: none;
}

.table-claims-new {
    position: relative;
    border-spacing:0 15px;
    // border-collapse: collapse;
    // border-collapse: separate;
    // border-spacing: 0 1em;

    .status {
       //border-left: .4em solid transparent;
       border-left: 1px solid #d4d4d4;
       border-right: 0;
       @media only screen and (max-width: 767px) {
        border-top: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
       // border-right:1px solid #d4d4d4;
      }
      @media only screen and (max-width: 650px) {
       border-right:1px solid #d4d4d4;
       border-bottom: 0;
      }

    }

    .border--none {
      //border-left: .4em solid transparent;
      border-left: 0;
      border-right: 0;
      @media only screen and (max-width: 767px) {
        border-top: 1px solid #d4d4d4;
        border-bottom:1px solid #d4d4d4;
      }
      @media only screen and (max-width: 650px) {
        border-left: 1px solid #d4d4d4;
        border-right:1px solid #d4d4d4;
        border-top:0;
        border-bottom: 0;
      }
    }

    // .claim-actions{
    //   @media only screen and (max-width: 650px) {
    //     float: left;
    //    // width: 100%;
    //   }
    // }

    .margin--left {
      margin-left:0.4em;
    }

    .claim-actions-status{
      @media only screen and (max-width: 650px) {
        border-left: .4em solid #ff9600 !important;
        border-bottom: 2px solid #d4d4d4;
        border-top: 0 !important;
       }
       @media only screen and (max-width: 767px) {
        border-top: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
       }
    }

    .claim-actions{
      @media only screen and (max-width: 650px) {
        border-bottom: 2px solid #d4d4d4;
        border-left: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
        border-top:0 !important;
      }
        @media only screen and (max-width: 767px) {
        border-bottom:1px solid #d4d4d4;
        border-top: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
       }
    }

    .border--status{
      @media only screen and (max-width: 650px) {
       border-left: .4em solid #ff9600;
       border-right: 1px solid #d4d4d4;
       border-bottom: 0;
      }
      @media only screen and (min-width: 767px) {
        border-left:0;
      }

    }

    .status-flag {
        border-left: .4em solid #ff9600;
        border-right: 0;
        @media only screen and (max-width: 767px) {
          border-top: 1px solid #d4d4d4;
          border-bottom:1px solid #d4d4d4;
        }
        @media only screen and (max-width: 650px) {
          border-right: 1px solid #d4d4d4;
          border-bottom:0;
        }
    }

    .details {
        font-style: normal !important;
        color: #777 !important;
        font-size: .9rem !important;
    }

    .main {
        font-weight: bold !important;
    }

    // tr {
    //   border: 1px solid #d4d4d4;
    // }

    td {
      @media only screen and (min-width: 768px) {
        border-bottom: 1px solid #d4d4d4;
        border-top: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
      }
        @media only screen and (max-width: 767px) {
          border: 0;
        }
    }

    th {
      @media only screen and (min-width: 768px) {
        border-bottom: 1px solid #d4d4d4 !important;
        border-top: 1px solid #d4d4d4 !important;
      }
        @media only screen and (max-width: 768px) {
          border: 0;
        }
    }

    border: none !important;
    //border: 1px solid #d4d4d4;
}

.border-none {
    border: 0;
}

.padding-none {
    padding: 0;
}

.icon-claims {
    font-size: 1.2em;
    vertical-align: -15%;
}

.show-more-button-claims {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#claim-activity {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-item-1 { 
  @media only screen and (max-width: 650px) {
  order:2; 
  }
}
.flex-item-2 { 
  @media only screen and (max-width: 650px) {
  order: 1; 
  }
}