$item-actions-width: 8em;
$status-width: 1.75em;
$status-height: 1.75em;
$gutter-size: 2em;

.mys-file-uploads {
  margin: 0 0 2em;
}

.mys-file-uploads__items {
  font-size: 0.9rem;
}

.mys-file-uploads__item-border {
  border-top: 1px $gray-mild solid;
  padding: 0 0 ($gutter-size * 0.5) 0;

  &:last-child {
    border-bottom: 1px $gray-mild solid;
  }
}

.mys-file-uploads__item {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: ($gutter-size * 0.5) 0 0 0;
  padding: 0 ($gutter-size * 0.5);

  .mys-data-table {
    display: table;
    flex-grow: 1;
    padding: 0;
  }

  .mys-data-table__header {
    width: 10em;
  }

  @include uikit-media(xs) {
    display: table\0; // ie9
    padding: 0;
    width: 100%; // ie9

    &>* {
      display: table-cell; // ie9
      // padding: 0 ($gutter-size * 0.5);
    }
  }
}

.mys-file-uploads__item-uploaded {
  background: $gray-light;
  border-left: 4px solid $green;
}

.mys-file-uploads__item--message {
  color: $gray;
  flex-wrap: wrap;
  font-size: 150%;
  margin-bottom: $gutter-size * 0.5;
  margin-top: $gutter-size * 0.25;
  text-align: center;

  &>* {
    flex-basis: 100%;
    margin-bottom: $gutter-size * 0.1;
    margin-top: $gutter-size * 0.1;
  }
}

.mys-file-uploads__item--error {
  border-left: 4px solid $validation;
}

.mys-file-uploads__l-status {
  float: left; // ie9
  margin-right: .5em;
  // padding-right: $gutter-size * 0.5;
  width: $status-width;

  @include uikit-media(xs) {
    // padding-right: 0;
  }
}

.mys-file-uploads__status {
  overflow: hidden;
  white-space: nowrap;
  width: $status-width;
}

.mys-file-uploads__status-icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: $status-height;
  vertical-align: -25%;
  width: $status-width;

  .mys-file-uploads__status--pending>& {
    background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><style type="text/css"> .st0{ fill: #{$gray-mild};}</style> <path class="st0" d="M20,0.4C9.2,0.4,0.4,9.2,0.4,20S9.2,39.7,20,39.7S39.7,30.8,39.7,20S30.9,0.4,20,0.4z M20,37.8c-9.8,0-17.7-8-17.7-17.7S10.3,2.3,20,2.3s17.7,8,17.7,17.8S29.8,37.8,20,37.8z"/></svg>');
  }

  .mys-file-uploads__status--success>& {
    background-image: uikit-svguri('<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#21b448" d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path></svg>');
  }

  .mys-file-uploads__status--error>& {
    background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><style type="text/css">	.st0{fill: #{$error};}</style><circle class="st0" cx="20" cy="29" r="1.4"/><path class="st0" d="M18.8,23.4V10.5c0-0.5,0.5-0.9,1.2-0.9s1.2,0.4,1.2,0.9v12.8c0,0.5-0.5,0.9-1.2,0.9S18.8,23.9,18.8,23.4z"/><path class="st0" d="M20,0.4C9.2,0.4,0.4,9.2,0.4,20S9.2,39.7,20,39.7S39.7,30.8,39.7,20S30.9,0.4,20,0.4z M20,37.8c-9.8,0-17.7-8-17.7-17.7S10.3,2.3,20,2.3s17.7,8,17.7,17.8S29.8,37.8,20,37.8z"/></svg>');
  }

  .mys-file-uploads__status--active>& {
    background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><style type="text/css">	.st0{	fill: #{$blue};}	</style>	<path class="st0" d="M20,0.4C9.2,0.4,0.4,9.2,0.4,20S9.2,39.7,20,39.7S39.7,30.8,39.7,20S30.9,0.4,20,0.4z M20,37.8c-9.8,0-17.7-8-17.7-17.7S10.3,2.3,20,2.3s17.7,8,17.7,17.8S29.8,37.8,20,37.8z"/></svg>');
  }

  .mys-file-uploads__status--incomplete>& {
    background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><style type="text/css">	.st0{fill: #{$orange};}</style><path class="st0" d="M20,0.4C9.2,0.4,0.4,9.2,0.4,20S9.2,39.7,20,39.7S39.7,30.8,39.7,20S30.9,0.4,20,0.4z M20,37.8c-9.8,0-17.7-8-17.7-17.7S10.3,2.3,20,2.3s17.7,8,17.7,17.8S29.8,37.8,20,37.8z"/></svg>');
  }
}

.mys-file-uploads__status-sr {
  display: inline-block;
}

.mys-file-uploads__info {
  flex-basis: 0;
  flex-grow: 1;
  float: left\0; // ie9
  width: 80%;


  @include uikit-media(xs) {
    display: table;
    table-layout: auto;
  }
}

.mys-file-uploads__info-item {
  @include uikit-media(xs) {
    display: table-row;

    &.has-error {
      &>*:first-child {
        border-left: 4px solid $validation;
        padding-left: 1em;
      }
    }

    &>* {
      display: table-cell;
      padding: 0.25em ($gutter-size / 2);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.mys-file-uploads__label {
  font-weight: bold;
  margin-top: 0.5em;

  @include uikit-media(xs) {
    width: 10em;
  }
}

.mys-file-uploads__value {
  margin-bottom: 0.5em;

  .input-error-message {
    margin: 0 0 0.5em;
  }
}

.mys-file-uploads__item-actions {
  flex-basis: 100%;
  max-width: auto;
  padding-top: $gutter-size * 0.5;

  &>button {
    display: block;
    margin: 0.1em 0;
    width: 100%;
  }

  @include uikit-media(xs) {
    flex-basis: auto;
    max-width: 25%;
    padding-top: 0;
    text-align: right;

    &>button {
      display: inline-block;
      width: auto;
    }
  }
}

.mys-file-uploads__uploads-actions {
  margin: ($gutter-size * 0.5) 0;
  padding: 0 ($gutter-size * 0.5);

  &>button {
    display: block;
    margin: 0.1em 0;
    width: 100%;
  }

  @include uikit-media(xs) {
    text-align: right;

    &>button {
      display: inline-block;
      width: auto;
    }
  }
}



.file-upload {
  margin-top: -.5em; // padding-bottom: 1em;
}

.file-status {
  min-width: 1em;
  position: relative;
  width: 1em;

  &::after {
    background-repeat: no-repeat;
    content: $content-blank;
    display: block;
    height: 24px;
    margin-top: 1.35em;
    position: absolute;
    top: 0;
    width: 24px;
  }
}

.file-upload-container {
  max-width: 250px;
  min-width: 250px;
}

.file-status--required {
  &::after {
    background-image: uikit-svguri('<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">\a     <style>\a       .st0{fill:#{$uikit-colour-Warning}\a     </style>\a     <circle class="st0" cx="20" cy="31" r="1.4"/>\a     <path class="st0" d="M18.8 25.4V12.5c0-.5.5-.9 1.2-.9s1.2.4 1.2.9v12.8c0 .5-.5.9-1.2.9s-1.2-.3-1.2-.8z"/>\a     <path class="st0" d="M3.5 38.5c-1.2 0-2.3-.6-2.9-1.6-.6-1-.6-2.3-.1-3.3L17.1 2.4c.6-1.1 1.7-1.8 3-1.8 1.2 0 2.4.7 3 1.8l16.3 31.1c.6 1.1.5 2.4.1 3.3-.4.8-1.6 1.7-2.8 1.7H3.5zM20.1 2.6c-.5 0-1 .3-1.2.7L2.2 34.5c-.2.4-.2 1 0 1.4.3.4.7.7 1.2.7h33.2c.4 0 .7-.2 1-.4.3-.3.4-.6.4-1 0-.2-.1-.4-.2-.6l-.7-1.6L21.4 3.4c-.3-.5-.8-.8-1.3-.8z"/>\a   </svg>');
  }
}

.file-status--uploaded {
  &::after {
    background-image: uikit-svguri('<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">\a     <style>\a       .st0{fill:#{$uikit-colour-Success}}\a     </style>\a     <path class="st0" d="M20 .4C9.2.4.4 9.2.4 20S9.2 39.7 20 39.7 39.7 30.8 39.7 20 30.9.4 20 .4zm0 37.4c-9.8 0-17.7-8-17.7-17.7S10.3 2.3 20 2.3s17.7 8 17.7 17.8S29.8 37.8 20 37.8z"/>\a     <path class="st0" d="M29.8 12.4l-14 14.1-6.4-6.4-1.5 1.5 7.9 7.9L31.4 14z"/>\a   </svg>');
  }
}

.file-status--uploading {
  &::after {
    animation: spin linear 1s infinite;
    background-image: url('../images/waiting-blue.svg');
  }
}



// new default doc uploads classes. existing classes couldn't be used or modified 
.file-upload-default {
  background: $gray-light;
  border: 0;
  max-width: 42em;

  td {
    padding: 1em;
    vertical-align: middle;
  }

  select {
    margin-bottom: 0;
  }
}


.file-upload-default__row {
  background: $gray-light;

  td {
    border-top: 1px solid $gray-mild;

    @media screen and (max-width: 650px) {
      &:nth-child(2) {
        border-top: 0;
      }
    }
  }

}

.file-upload-default__row--add-another {
  background: $white;
}


.file-upload-default__row--uploaded {
  background: $white;
}

.file-upload-default__document,
.file-upload-default__button {
  display: table-cell;
  vertical-align: top;
}

.file-upload-default__document {
  text-align: left;
}

.file-upload-default__input+label {
  white-space: initial;
  width: 100%;
}


@media screen and (min-width: 651px) {
  .has-error .file-upload-default__button .uikit-btn {
    position: relative;
    right: 1em;
  }
}

.file-upload--no-margin {
  margin: 0 !important;
}

.uploadedFiles {
  width: 100%;
}

.descAfterUpload {
  display: block;
}