
.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  
}

.card-v2__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #C4C4C466;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-height: 180px;
  height: 100%;
  padding: 20px 20px 10px;

  &:hover {
    border: 1px solid #1b7991;
    cursor: pointer;
  }

  .card-v2__content {

    .card-v2__title {
      text-decoration: underline;
      text-decoration-skip-ink: true;
      margin-bottom: 15px;
    }

    .card-v2__description {
    }

  }

  .card-v2__icon {
    text-align: right;
  }
  
}
