/**********************************
  Specific styling for claims page.
**********************************/

.claims-page {
  .mask {
    // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+1,1+82 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 1) 100%);
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    height: 155px;
    position: absolute;
    width: 100%;
  }

  .inactive {
    background: none;
    height: 60px;
    position: relative;
  }

  table {
    border: 1px solid #d4d4d4 !important; // border-collapse: separate;
    margin-bottom: 0;
    // border-spacing: 0 1em;
  }

  div#main-content {
    padding-bottom: 50px;
  }

  .claim-submitted {
    color: #777 !important;
    font-size: .9rem !important;
    font-style: normal !important;
  }

  .claim-title {
    box-sizing: border-box;
    color: #313131 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  }

  .claim-status {
    color: #313131 !important;
    color: #777 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    font-size: .9rem !important;
  }

  .claim-action-required {
    color: #313131 !important;
    color: #777 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    font-size: .9rem !important;
  }

  .flag-text {
    color: #ff9600;
    font-weight: bold;
  }

  a.flag-text {
    border-bottom: solid 1px #ff9600;
    color: #ff9600;
  }


  .widget .widget--justclaims table.table-claims th {
    color: #777;
    font-size: 0.9em;
    font-weight: normal;
    padding: 1em 2em 1em 2em;
  }

  .claim-heading {
    display: inline-block;
    font-weight: 600;
    margin: 10px 0 0 0;

    @media only screen and (max-width: 650px) {
      padding-left: 10px;
    }
  }

  .table-claims {
    border: 0;
    position: relative;
  }

  .table-claims-new {
    border-spacing: 0 15px;
    position: relative;
  }

  .claim-actions-status {
    @media only screen and (max-width: 650px) {
      border-left: .4em solid #ff9600 !important;
      border-top: 0 !important;
    }
  }

  .border--status {
    @media only screen and (max-width: 650px) {
      border-bottom: 0;
      // border-right: 1px solid #d4d4d4;
      border-left: .4em solid #ff9600;
    }

    @media only screen and (min-width: 767px) {
      border-left: 0;
    }
  }

  .details {
    color: #777 !important;
    font-size: .9rem !important;
    font-style: normal !important;
  }

  .border-none {
    border: 0;
  }

  .padding-none {
    padding: 0;
  }

  .icon-claims {
    font-size: 1.2em;
    vertical-align: -15%;
  }

  .show-more-button-claims {
    bottom: 10px;
    left: 10px;
    position: absolute;
  }

  //style needed to sort the divs
  #claim-activity {
    -ms-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .details {
    color: #777 !important;
    font-size: .9rem !important;
    font-style: normal !important;
  }

  //style needed to sort the divs
  #claim-activity-top {
    -ms-box-orient: horizontal;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .flex-item-1-top {
    padding-left: 0 !important;

    @media only screen and (max-width: 990px) {
      order: 2;
    }
  }

  .flex-item-2-top {
    padding-left: 0;

    @media only screen and (max-width: 990px) {
      order: 1;

      button#scroll-to-claim {
        float: none;
      }
    }
  }

  h2.claim-heading {
    padding-left: 0;
  }

  button#scroll-to-claim {
    float: right;
  }

  .col-md-4.flex-item-2.claim-title-status {
    background: $white;
    margin-bottom: 2px;

    @media only screen and (max-width: 650px) {
      border-left: .4em solid #ff9600 !important;
      margin-bottom: 0;
      padding-top: 15px;
      width: 100%;
    }
  }

  .col-md-4.flex-item-2.claim-title {
    background: $white;
    margin-bottom: 2px;

    @media only screen and (max-width: 650px) {
      margin-bottom: 0;
      padding: 15px 0 0 20px;
      width: 100%;
    }
  }

  .col-md-3.flex-item-1.status {
    background: $white;
    margin-bottom: 2px;

    @media only screen and (max-width: 650px) {
      border-top: 0;
      margin-bottom: 0;
      margin-top: 0 !important;
      padding: 15px 0 0 20px;
      width: 100%;
    }
  }

  .col-md-3.flex-item-1.status-flag {
    background: $white;
    margin-bottom: 2px;
    padding: 15px 0 0 15px;

    //min-width: 200px;
    @media only screen and (max-width: 650px) {
      margin-bottom: 0;
      margin-top: 0 !important;
      padding: 15px 0 0 15px;
      width: 100%;
    }
  }

  .uikit-btn.small.uikit-btn--borderless {
    // margin: 10px 10px 10px 0 !important;
    padding-top: 10px;

    @media only screen and (max-width: 650px) {
      float: left;
      margin-right: 10px !important;

    }
  }

  .col-md-5.flex-item-3.claim-actions.claim-actions-status {
    @media only screen and (max-width: 650px) {
      margin-top: 0 !important;
      padding-bottom: 10px;
      width: 100% !important;

      button.uikit-btn.small.uikit-btn--borderless {
        float: left;
        margin-right: 10px;
        margin-top: 0 !important;
      }
    }

    // @media only screen and (max-width: 963px) {
    //   width: 47.6%;
    // }
  }

  button.uikit-btn.small.uikit-btn--borderless {
    @media only screen and (max-width: 1300px) {
      margin-right: 10px;
      margin-top: 0 !important;
    }
  }

  .main {
    font-weight: bold !important;
    margin: 15px 0 0 0;

    @media only screen and (max-width: 650px) {
      margin: 0;
    }
  }

  .border--status {
    @media only screen and (max-width: 650px) {
      border-bottom: 0;
      //  border-right: 1px solid #d4d4d4;
      border-left: .4em solid #ff9600;
    }

    @media only screen and (min-width: 767px) {
      border-left: 0;
    }
  }

  .status-flag {
    background: $white;
    border-left: .4em solid #ff9600;
    border-right: 0;
    padding: 0;
    padding-top: 10px;
  }

  .status {
    padding: 0 20px 0 20px;

    @media only screen and (max-width: 650px) {
      border-bottom: 0;
      padding: 0;
    }
  }

  .claim-actions-status {
    background: $white;

    @media only screen and (max-width: 650px) {
      border-left: .4em solid #ff9600 !important;
      border-top: 0 !important;
      padding: 0 0 15px 15px !important;
    }
  }

  .claim-actions {
    background: $white;
    margin-bottom: 2px;
    padding: 10px 0 10px 0;
    text-align: right;

    @media only screen and (max-width: 650px) {
      margin-bottom: 15px;
      margin-top: 0 !important;
      padding: 0 0 15px 20px;
      width: 100%;
    }
  }
}

.external-link {
  padding-right: 21px;
  padding-top: 1px;
}

.hover-none:hover {
  background-color: transparent;
}