.tasks-list {
  border: 1px solid grey;
  border-radius: 5px;
}

.task {
  align-items: center;
  background: $white;
  border-bottom: 1px solid $gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 93px;
  padding: 20px 30px;

  &:last-child {
    border-bottom: 0;
  }
}

.task__description, .task__reference {
  width: 50%;
}

.task__description {
  display: flex;
  flex-direction: row;
}

.task__link-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.uikit-body {
  .task__link {
    color: $blue;
    line-height: 1.2em;
  }
}

.task__icon {
  margin-right: 8px;

  .fa-arrow-alt-circle-right {
    color: $blue;
  }
}