
header.ms-header {
  background-image: none;
  background-color: transparent;
}

/* header stuff */

.header__wrapper {
  background-color: $blue;
  padding: 10px;
}
.header__container {
  display: flex; 
  justify-content: space-between; 
  padding: 12px 0px 10px 0px;
  color: black;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  @media screen and (max-width: 350px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    .header__logo {
      margin-top: 10px;
    }
    .header__menu-button {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 944px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1151px;
  }
}
.header__container h2 {
  padding: 0 !important;
  display: inline-block;
  margin: 0;
}
.header__logo {
  height: 32px;
}
.header__menu-button {
  cursor: pointer;
}
.header__menu-icon {
  font-size: 30px;
  margin-right: 10px;
}

/* nav stuff */

$nav-grey-1: #F3F3F3;
$nav-grey-2: #FBFBFB;
$nav-border: #979797;

.globalnav__wrapper {
  background-color: $blue;
  background-color: $nav-grey-2;
  @media screen and (min-width: 992px) {
    background-color: $nav-grey-2;
  }
}
.globalnav__wrapper--open {
  border-bottom: 1px solid $blue-dark;
  border-top: 1px solid $blue-dark;
  @media screen and (min-width: 992px) {
    border-color: #ddd;
  }
}
.globalnav__container {
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 944px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1151px;
  }
}
.globalnav__container--open .globalnav__content {
  display: block;
}
.globalnav__content {
  display: none;
  position: relative;
  width: 100%;
}
.globalnav__row {
  display: flex;
  flex-direction: column;
  padding: 25px 10px 25px 10px;
  background-color: $nav-grey-2;
  color: black;
  @media screen and (min-width: 768px) {
    padding: 25px 0 25px 0;
  }
  @media screen and (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 10px 30px 10px;
    background-color: transparent;
    // color: black;
  }
}
.globalnav__column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  padding-left: 0 !important;
  margin: 0 !important;
  max-width: none;
  @media screen and (min-width: 992px) {
    max-width: 222px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 275px;
  }
}
.globalnav__column > li {
  margin: 0 !important;
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
  }
}
.globalnav__icon {
  font-size: 15px;
  line-height: -1.5em !important;
  margin-right: 8px;
}
.globalnav__content h3 {
  font-weight: 700 !important;
}
.globalnav__content h2 {
  font-weight: bold;
  font-size: 22px;
  margin: 0 !important;
  border-bottom: 1px solid $blue-dark;
  padding: 20px 10px 15px 10px;
  background-color: $nav-grey-1;
  .fa {
    margin-left: 10px;
    display: inline;
  }
  cursor: pointer;
  @media screen and (min-width: 992px) {
    border-bottom: none;
    padding: 0 10px 5px 10px;
    .fa {
      display: none;
    }
  }
}
.globalnav__content a {
  background-color: $nav-grey-2;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
  letter-spacing: 20;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid $nav-border;
  color: black;
  @media screen and (min-width: 992px) {
    border-bottom: none;
    padding: 5px 10px 5px 10px;
  }
}
.globalnav__content a:hover,
.globalnav__content a:focus
{
  text-decoration: none;
  background-color: grey;
  outline: 0;
  outline-offset: 0;
  @media screen and (min-width: 992px) {
    background-color: transparent;
    text-decoration: underline;
  }
}



