/**********************************
	Specific help button styling

**********************************/

// Help Button styling - used across Add Cover pages
// Fairly sure this is not the best way we can be doing this.

.btn-panel-Help{float:right; margin-top:5px; margin-right:-8px; padding:0px;}
.uikit-btn--help{background-color:#fff;color:#313131;border:1px solid #0756a4;}
.uikit-btn--help:focus,.uikit-btn--help:hover{color:white; background-color:#043c75;}
.uikit-refactor .uikit-btn--help{background-color:#fff;border:1px solid #0756a4;color:#313131}
.uikit-refactor .uikit-btn--help:focus,.uikit-refactor .uikit-btn--help:hover{color:white; background-color:#043c75;}