
header.ms-header {
  background-image: none;
  background-color: transparent;
}

/* header stuff */

.header__wrapper {
  background-color: $blue;
  padding: 10px;
}
.header__container {
  display: flex; 
  justify-content: space-between; 
  padding: 12px 0px 10px 0px;
  color: white;
  align-items: center;
  margin: 0 auto;
  width: 1146px;
}
.header__container h2 {
  padding: 0 !important;
  display: inline-block;
  margin: 0;
}
.header__logo {
  height: 32px;
}
.header__menu-button {
  cursor: pointer;
}
.header__menu-icon {
  font-size: 30px;
  margin-right: 10px;
}

/* nav stuff */

.globalnav__wrapper {
  background-color: #f3f3f3; 
}
.globalnav__wrapper--open {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.globalnav__container {
  margin: 0 auto;
  width: 1146px;
}
.globalnav__container--open .globalnav__content {
  display: block;
}
.globalnav__content {
  display: none;
  position: relative;
  width: 100%;
}
.globalnav__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1146px;
}
.globalnav__column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 300px;
  margin: 10px 20px 30px 10px !important;
  width: 100%;
  list-style-type: none;
  padding-left: 0 !important;
}
.globalnav__column:last-child {
  margin-right: 0 !important;
}
.globalnav__column > li {
  margin: 0 !important;
}
.globalnav__icon {
  font-size: 15px;
  line-height: -1.5em !important;
  margin-right: 8px;
}
.globalnav__content h3 {
  font-weight: 700 !important;
}
.globalnav__content h2 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}
.globalnav__content a {
  color: black;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
  border-bottom: none;
  letter-spacing: 20;
}
.globalnav__content a:hover,
.globalnav__content a:focus
{
  background-color: transparent;
  outline: 0;
  outline-offset: 0;
  text-decoration: underline;
}



