//
//  The sliding panel top animates from the top of the screen when triggered by the 24hr support link
//  located in the header.

// Content:
// - top panel full-width styling
// - top panel accordion body styling
// - top panel accordion button styling
// - trial message styling

// Styling for full-width section of top panel



.accordion-toppanel--wrapper {
  background-color: $top-panel-bg;
  border-bottom: 1px solid $blue;
  font-size: 0.9em;

  a,
  a:link,
  a:visited,
  .accordion-toppanel-btn--accessible {
    color: $white;
    font-size: 0.9em;

    span {
      color: $white;
    }
  }

  li {
    display: inline-block;
    list-style-type: none;
    text-align: left;

    // this class is not used in the html
    // .accordion {
    //   margin: 0 !important;
    //   padding: 0 !important;
    // }
  }

  .container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .uikit-accordion {
    border: 0;
    color: $white;
    // margin: 0 4px;
    margin-bottom: 0;
    padding-bottom: 0;

    span {
      border-bottom: 0;
    }

    .uikit-accordion__title {
      border: 0;
      display: inline-block;
      line-height: .8;
      // margin-right: -4px;
      padding: 1.2em 3.25em .8em 1em;
      vertical-align: top;
      width: auto;

      &::after {
        filter: brightness(100);
        right: 1.25em;
      }
    }

    &.accordion-closed {
      .uikit-accordion__body {
        max-height: 0;
      }

      .uikit-accordion__title {
        transition: width 0.2s;

        &::after {
          transform: rotateZ(180deg);
        }
      }
    }
  }

  .uikit-accordion__body {
    clear: both;
  }

  .uikit-accordion__body-wrapper {
    border-top: 0;
    margin: $margin-zero;
    padding: 0;
  }

  .uikit-accordion__title {
    background: $top-panel-bg;
    font-size: 0.8rem;

    &:hover,
    &:focus {
      background-color: $uikit-colour-Link;
      color: $uikit-colour-Text;
      text-decoration: none;
    }
  }

  .uikit-accordion__title-new {
    padding: 20px 45px 38px 30px;

    &:hover,
    &:focus {
      padding: 20px 45px 38px 30px;
    }
  }



  &.topbar-register {
    .uikit-accordion__title {
      margin-right: 0;
    }
  }
}

.topbar-logo {
  display: inline-block;
  line-height: 0;
  padding: 1.05em 0 0.8em 0.5em;

  .logo-myservice {
    height: 30px;
  }
}

.topbar-controls {
  // float: right;
  display: flex;
  line-height: 0;

  // a {
  //   float: right;

  // }

}

.topbar-controls__left {
  @media screen and (min-width: $small-handheld) {
    margin-left: 12px;
  }

  flex-grow: 2;
  // float: left;
  // width: 100%;
}

.topbar-controls__right {
  @media screen and (min-width: $small-handheld) {
    margin-right: 12px;
  }

  display: flex;
  margin-left: auto;
  order: 2;
  // float: right;
  // margin-right: 12px;
}

.uikit-body {

  // .logout,
  .login-mygov {
    background: $green-mygov;
    border: 0;
    display: inline-block;
    height: 3.2em;
    padding: 1em;
    position: relative;
    width: 6em;

    &:hover,
    &:focus {
      // important is not needed
      // background-color: $green-mygov--hover !important;
      background-color: $green-mygov--hover;
    }

    &::after {
      background-image: uikit-svguri('<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\a   viewBox="0 0 282.4 77.7" style="enable-background:new 0 0 282.4 77.7;" xml:space="preserve">\a<style type="text/css">\a  .st0{fill:#FFFFFF;}\a  .st1{fill:#D7EA6A;}\a</style>\a<g>\a  <path class="st0" d="M0,60h18.7V38.3c0-3.5,0.6-6,1.9-7.5c1.3-1.5,2.9-2.3,5-2.3c1.2,0,2.3,0.4,3.3,1.1c0.9,0.7,1.6,1.7,1.9,2.8\a    c0.2,0.7,0.3,2.1,0.3,4.1v23.6h18.7v-22c0-3.3,0.6-5.7,1.9-7.2c1.3-1.5,2.9-2.3,5-2.3c1.7,0,3.2,0.8,4.4,2.4c0.8,1,1.2,2.6,1.2,4.6\a    V60H81V31.5c0-6.1-1.4-10.7-4.3-13.5c-2.9-2.9-6.8-4.4-11.9-4.4c-3.5,0-6.4,0.5-8.7,1.6c-2.4,1.1-5,3.1-7.8,6\a    c-1.4-2.5-3.2-4.4-5.4-5.7c-2.2-1.3-5.2-1.9-9-1.9c-3.5,0-6.5,0.6-9,1.7c-2.5,1.2-5,3.1-7.4,5.8V15H0V60z"/>\a  <path class="st0" d="M93,63.2c-0.7,0.6-1.3,0.8-3.4,0.8c-1.8,0-2.1-0.3-4.6-1.2l-0.1,13.9c5.2,0.7,6.6,1,9.1,1\a    c6.2,0,10.4-1.1,13.5-3.9c2.1-2,4.3-7.1,6.3-12.7l15.4-46h-18.9l-6.5,29l-6.3-29H77.8l16.4,45.3C94.2,60.4,94.3,62.2,93,63.2z"/>\a</g>\a<g>\a  <path class="st1" d="M193.2,55.2c4.7,3.9,10.8,5.8,18.3,5.8c8.5,0,15.1-2.3,19.9-7s7.2-10.7,7.2-18c0-6.5-1.9-12-5.8-16.5\a    c-4.8-5.5-11.9-8.9-21.3-8.9c-8.2,0-14.8,2.9-19.6,7.6s-7.2,10.7-7.2,18C184.7,44.1,187.5,50.4,193.2,55.2z M205.7,26.6\a    c1.6-1.9,3.6-2.9,6-2.9c2.3,0,4.2,1,5.7,2.8c1.5,1.9,2.3,4.7,2.3,8.5c0,4.1-0.8,7.1-2.3,8.9c-1.5,1.9-3.5,3.3-5.9,3.3\a    s-4.4-1.5-5.9-3.3c-1.6-1.9-2.3-4.8-2.3-8.7C203.4,31.4,204.2,28.5,205.7,26.6z"/>\a  <polygon class="st1" points="266,58.8 282.4,12.4 262.1,12.4 256.1,37.6 250.4,12.4 230.7,12.4 246.6,58.8 	"/>\a  <path class="st1" d="M168.2,39.3v4.8c-2.3,1.2-4.3,2.1-6,2.6s-3.6,0.8-5.5,0.8c-4.1,0-7.2-1.3-9.5-4c-2.3-2.6-3.4-7-3.4-13.2\a    c0-5.8,1.2-10.1,3.5-12.7c2.3-2.7,5.5-4,9.4-4c2.6,0,4.8,0.5,6.5,1.4s2.9,2.3,3.6,4l17.6-2.5c-1.1-3.8-2.6-6.9-4.7-9.3\a    c-2.1-2.5-4.7-4.3-7.9-5.4c-3.2-1.2-8-1.8-14.4-1.8c-6.6,0-11.9,1-15.8,2.9c-5,2.5-8.9,6.1-11.5,10.9s-3.9,10.4-3.9,16.8\a    c0,6.1,1.2,11.6,3.6,16.3c2.4,4.7,5.8,8.3,10.2,10.7c4.4,2.4,10,3.6,17,3.6c5.6,0,10.5-0.7,14.6-2.1s8.8-4,14.2-7.9V25.7h-28.4\a    v13.6H168.2z"/>\a</g>\a</svg>');
      background-repeat: no-repeat;
      content: $content-blank;
      height: 1.1em;
      position: absolute;
      top: 1.2em;
      width: 4em;
    }
  }

  .logout__claim,
  .login-mygov__claim {
    height: 4.5em;
    padding-top: 1.5em;
  }

  // this class in not used in any HTML
  // .login-mygov__claim {
  //   padding-left: 1.1em;

  //   &::after {
  //     top: 1.8em !important;
  //   }
  // }

  .screen-text-above-zero__claim,
  .screen-text-above-xs__claim {
    padding-bottom: 1.1em;
    padding-left: 1em;
    padding-top: .5em;
  }

  .logout {
    background-color: $blue-midnight;
    border: 0;
    display: inline-block;
    font-weight: bold;
    line-height: .8;
    overflow: hidden;
    padding: uikit-space(0.75);
    vertical-align: top;
    white-space: nowrap;
    width: auto;
  }

  a {
    &.switch-account-button {
      color: $black;

      span {
        color: $black;
      }
    }

    &.switch-account-box__link {

      border-bottom: 1px solid $gray-mild;
      color: $black;
      display: block;
      margin-bottom: 0;
      padding: 2em 1.3em;

      &:hover,
      &:focus {
        background-color: lighten($orange-mid, 30);
      }
    }

    &.switch-account-box__link--self {
      background: $gray;
      color: $white;

      &:hover,
      &:focus {
        background-color: darken($gray, 10);
      }

      i {
        font-size: 1.4em;
        line-height: 0;

        &::before {
          bottom: -.15em;
          position: relative;
        }
      }
    }
  }

  .switch-account-button {

    @include uikit-media(xs) {
      padding: 1.2em 1.2em 1.2em .4em;
    }


    background-color: $orange-mid;
    border: 0;
    box-sizing: border-box;

    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    height: 3.2em;
    line-height: .8;
    padding: 1.2em .4em;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    // width: auto;
    width: 100%;

    &:hover,
    &:focus {
      background-color: lighten($orange-mid, 10);
      border: 0;
      outline: none;
    }

    span {

      &:hover,
      &:focus {
        background-color: lighten($orange-mid, 10);
        border: 0;
        outline: none;
      }
    }

    .fal,
    .far {

      // @include uikit-media(xs) {}

      font-size: 1.5em;
      line-height: 0;
      padding-left: 10px;
      width: 41px; //adding width to stop font-awesome flicker

      &::before {
        position: relative;
        top: 2px;
      }
    }

    // this is in here because of the way the angular font awesome component generates an svg
    .ng-fa-icon {
      // display: inline-block;
      position: absolute;
      top: 12px;

      &::before {
        content: $content-blank;
      }

      ~span {
        margin-left: 46px;
      }
    }
  }


  .switch-account-button--open {
    &::after {
      transform: rotateZ(0deg);
    }
  }

  .screen-text-above-zero {
    @include uikit-media(xs) {
      margin-top: 0;
    }

    margin-top: -4px;
  }

  // TODO: put a bottom radius on this
  .switch-account-box__list {
    margin-bottom: 0;
    max-width: 100%;
    padding: 0;


    li {
      display: block;
      margin: 0;
    }
  }


}


.switch-account-box {
  @media screen and (min-width: $small-handheld) {
    left: 12px;
    // max-width: 300px;
    // min-width: 300px;
    // width: 300px;

  }

  background-color: $gray-super-super-light;
  border-radius: 0 0 $uikit-border-radius $uikit-border-radius;
  border-top: 0;
  box-shadow: 1px 2px 3px 0 $rgba-black-20;
  display: table;
  height: 60px; // any arbitrary height but best at the minimum initial height
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 41px;
  transition: 0.5s ease;
  width: calc(100% - 24px);
  z-index: 999;
}



.switch-account-box--hide {
  border: 1px solid transparent;
  border-top: 0;
  display: block;
  height: 0;
  opacity: 0;
}


// RESPONSIVE STYLING FOR ACCORDIAN

.uikit-accordion {
  .uikit-accordion__title {
    text-align: right;
  }
}

.trial-message {
  display: none;

  a {
    font-size: 1em;
  }
}

@include uikit-media(sm) {
  .trial-message {
    display: inline-block;
    line-height: 0;
    padding: 1.05em 0 0 0.5em;
  }
}

.uikit-body {
  .accordion-toppanel--wrapper {
    .accordion-toppanel-btn--accessible {
      position: relative;
      i {
        &:before {
          position: absolute;
          font-size: 1rem;
          right: 1.25rem;
          top: 35%;
          transition: transform 0.25s ease-in;
        }
      }

      &:hover,
      &:focus {
        &,
        & span {
          background: $blue-super-light;
          color: $blue-dark;
        }
      }

      &:after,
      &:hover:after,
      &:focus:after {
        content: none !important;
      }
    }
  }
}

.uikit-accordion:not(.accordion-closed) {
  .accordion-toppanel-btn.accordion-toppanel-btn--accessible {
    i {
      &:before {
        transform: rotate(180deg);
      }
    }
  }
}