/**********************************
	This SASS file controls any unique styling that apply to the authenticated dashboard. Most of the styling for this page is controlled in myservice-widgets.
	
**********************************/
.authenticated-home {

	h1 {
		font-weight: 500!important;
		line-height: 1em;
		font-size: 1.1rem;
		margin: 1em 0 0.4em 0;
		padding-top: 1em;
	}
	h2 {
		padding: 0.5em 0 0.5em 0;
		margin-bottom: 0;
		margin-top: 0;
	}
	h2 img {
		width: 38px;
		height: 38px;
		vertical-align: top;
	}
	h3 {
		margin-top: 0;
		font-weight: 500!important;
		font-size: 1.1rem;
		margin: 0 0 0.5em 0;
	}
}

