h2 {
    display: block;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0.75em 0 0 0;
}
hr {
	border: 0;
	border-top: 1px solid $gray-light !important;
	padding: 1em 0 0 0;
	margin: 2em 0 0 0;
}

// Introduction allows content at the beginning of a page to stand out more

.introduction {	
	background-color: $gray-light;
	padding: 1em 0 1em 0em;
	font-size: 1.1rem;
}


// Info boxes are content boxes showing additional context when triggered

.info-box {
	clear: both;
}


// Help icon for help links 

.help {
	background: transparent url(../../../images/ico-help.svg) no-repeat 0 0;
	padding-left: 28px;
	margin: 1.25em 0 1em 20px !important;
	font-size: 1rem;
	font-weight: normal;
}


// Clearfix helper class

.clearfix { 	
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after { 
		clear: both 
	}
	zoom: 1;
}


// Position off screen

.vaOffscreen,
.ui-helper-hidden-accessible {
	position: absolute;
	left: -9999px;
}


// Badge for numbering

.badge {
    float: right;
    font-weight: normal;
    margin-left: 4px;
    padding: 0 6px;
    line-height: 18px;
    font-size: .9rem;
    background: $badge-bg;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.35);
    border-radius: 9px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}


// Display of details for review and submit

// Confirmation layout
// ------------------------------------------------------------------------------------------------------

.review-heading {
  margin: 1.5em 0 0 0;
  h3 {
	  padding-top: 0 !important;
	  font-size: 1.6rem;
	  font-weight: normal;
	}
  button {
  	float: right;
  	font-weight: normal;

  }
}

.review-details,
.document-uploads {
    border-spacing: 0;
    border: 1px solid $gray-light;
    width: 100%;    
    margin-bottom: 2em;        
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;  
    td, 
	th {
	    padding: 0.75em 0.5em 0.75em 1em;
	    text-align: left;  
	    vertical-align: top;  
	}
	th {
	    background-color: $gray-light;
	    border-top: none;
	    text-align: right;
	    width: 25%;
	}
	td {
	  border-bottom: 1px solid $gray-light;
	  background-color: white;
	  width: 75%;
	}
}
.document-uploads {
	th {
	    text-align: left;
	    width: 70%;
	}
	td {
	  width: 30%;
	}	

}
.centred {
	text-align: center !important;
}



// Star ratings on success screen

.rating {
	background-color: $gray-light;
	padding: 1em;
	border-radius: 3px;
}
h2.success {
	margin-bottom: 1em;
	img {
		width: 50px;
		height: 50px;
		vertical-align: middle;
	}
}