/**********************************
	Specific styling for authenticated home page

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

.card {
	margin-bottom: 1em;
    background: $white; /* For browsers that do not support gradients */
	border: 0px solid $gray;
	margin: 0 0 2em 0;
	padding: 0 0 2em 0;
	position: relative;
	font-weight: bold;
	text-align: center;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
	min-height: 200px;
	-webkit-box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.25);
	box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.25);
	h3 {
		text-transform: uppercase;
		padding: 0 2em;
		line-height: 1.2;
	}
	p {
	    border-top:1px solid $gray-light;
		padding-top:10px;
		font-weight: normal;
		margin: 0;
	}
	.active {
		background-color: white;
	}
	.card-status-icon {
		background: #ff9600 url(../images/ico-pending-white.svg) no-repeat 50% 0;
		border-top: 10px solid #ff9600;
		background-size: 35px 35px;
		-webkit-border-radius: 6px 6px 0px 0px;
		border-radius: 6px 6px 0px 0px;
		height: 45px;
		width: 100%;
		margin-bottom: 0;
		display: inline-block;			
	}
	.card-status-icon-done {
		background: #2b7dce url(../images/ico-tick-white.svg) no-repeat 50% 0;
		background-size: 35px 35px;
		-webkit-border-radius: 6px 6px 0px 0px;
		border-radius: 6px 6px 0px 0px;
		border-top: 10px solid #2b7dce;
	}
	.card-status {
		margin-bottom: 1em;
	}
}

@media only print, screen and (min-width: $medium-handheld) {
	.start-three {
		clear: both;
	}
	.card {
		display: inline-block;
		width: 30%;	
		margin-right: 2%;
		min-height: 275px;
		float: left;
	}
	.lower-details {
		position: absolute;
		bottom: 1em;
		left: 50%;
		width: 160px;
    	margin-left: -80px;	
  	}
}
@media only screen and (min-width: $medium-tablet) {
	.start-three {
		clear: none;
	}
	.start-four {
		clear: both;
	}
	.card {
		display: inline-block;
		width: 22%;	
		min-height: 275px;
	}
}


// Add cover card

.card-add-cover {
	background: white url(../images/ico-add-blue.svg) no-repeat 50% 4em;
	background-size: 60px 60px;
	display: block;
	border: none;
	color: $blue;
	.lower-details {
		position: absolute;
		bottom: 3em;
		left: 50%;
		width: 160px;
    	margin-left: -80px;	
		font-size: 1.4rem;
	}
}
@media only screen and (min-width: $medium-handheld) {
	.card-add-cover {
		background: white url(../images/ico-add-blue.svg) no-repeat 50% 5.5em;
		background-size: 60px 60px;
		.lower-details {
			bottom: 4.5em;
		}
	}
}

}