//for the tasks list page
.tasks-page__container {
  max-width: 940px;
  min-height: 85vh;
}

.tasks-page__container--margin-above {
  margin-top: 50px;
}

.tasks-list {
  border-radius: 5px;
}

.task__description, .task__reference {
  width: 100%;
}

.task {
  align-items: center;
  background: $white;
  border: 1px solid #D4D4D4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  min-height: 93px;
  padding: 12px;
}

.task__description {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
}

.task__link-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.uikit-body {
  .task__link {
    color: $blue;
    line-height: 1.2em;
    font-weight: bold;
  }
}

.task__icon {
  display: none;
  margin-right: 8px;

  .fa-arrow-alt-circle-right {
    color: $blue;
  }
}

.task__date {
  color: $gray;
  font-size: 14px;
  font-weight: 200;
  margin-top: 5px;
}

.tasks-list__header {
  font-weight: normal;
}

@media(min-width: 900px) {
  .task {
    border: 0;
    border-bottom: 1px solid #D4D4D4;
    flex-direction: row;
    margin-bottom: 0;
    padding: 20px 30px;

    &:last-child {
      border-bottom: 0;
    }
  }

  .task__reference {
    width: 60%;
  }

  .task__description {
    margin-bottom: 0;
    width: 40%;
  }

  .task__icon {
    display: block;
  }

  .tasks-list {
    border: 1px solid #D4D4D4;
  }
}

//for the individual task page
.content-wrapper {
  margin-bottom: 100px;
}

.pagination--tasks {
  a {
    border-bottom: 0;
    &:hover {
      background: transparent;
    }
  }
}