/**********************************
Payments page

**********************************/


.pagination {
  display: inline-block;
  border: 0 !important;
  padding: 0 !important;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 0 !important;
  border-radius: 2px;
}

.pagination a.active {
  background-color: #fff;
}

.pagination a:hover:not(.active) {
  background-color: #ccc;
}