/**********************************
	General reusable components

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

.uikit-callout {
	background-color: $gray-light;
	border-radius: 6px;
	padding: 1em 2em;
	margin-bottom: 2em;
}


// Hide border around main content area on skip to content

.uikit-body [tabindex="0"]:focus, .uikit-body :target {
    outline: none !important;
    background-color: yellow;
}


// Float right for wider displays

@media only screen and (min-width: $small-handheld) {
	.floated {
	    float: right;
	    margin-right: 0em;
	    margin-left: 0.25em;
	}
}

// Float right for mobile displays
.floated {
	&.floated--always {
		float: right!important;
	    margin-right: 0em;
	    margin-left: 0.25em;
	}
}	

	
//Box for Tips
	
.tip--wrapper {
	border:1px solid $blue-40;
	background-color:$blue-10;
	border-radius: 6px;
	padding:2em 0.4em 2em 1.4em;
	margin-bottom: 2em;
	display:block;
	/*
	background-image:url("../../docs/images/ico-tip-blue-60.svg");
	background-position: top 1.6rem right 1.6rem;
	background-repeat:no-repeat;
	background-size:40px 40px;
	*/
	h3 {
		overflow: hidden;
		margin:0 0 1em 0;
		font-size: 1.6rem;
		font-weight: 400;
	}
	img {
		float:left;
		height:35px;
		vertical-align: middle;
		margin:0.2em 0.6em 0 0;
		opacity:0.7;
	}
}


// Toggle styled radio buttons
// ------------------------------------------------------------------------------------------------------

.radio-toggle {

	label {
		float:left;
		width: 140px;
		margin: 0 0 1.5em 0;
		background-color:#EFEFEF;
		border-radius: 4px;
		padding: 0;
		border: 1px solid #D0D0D0;
		overflow: visible;       

		&.label-left, &.label-left span {
			border-radius: 4px 0 0 4px;
			border-right: 0;
		}
		
		&.label-right, &.label-right span {
			border-radius: 0 4px 4px 0;
		}

		&.label-middle {
			border-left: 1px solid #D0D0D0;
			border-right: 0;
			border-radius: 0;
		}

		&:hover,
		&focus {
			background-color:#fff;
		}

		span {
			text-align:center;
			padding: 10px 0;
			display:block;
			cursor: pointer;
		}
		
		input {
            width: 1px;
            height: 1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
	        left: -9999px;
		}
	}
	
	input:focus + span {
		background-color: $input-focus;
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
		padding: 9px 0;
		border: 1px solid $blue;
	}
	
	input:checked + span {
		box-shadow: inset 0px 1px 2px 2px rgba(0,0,0,0.1);
		background: $blue;
		color: #FFFFFF;
		border-color: #2366a1;
	}
	
	input:checked:focus + span {
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
	}
	
	input + span:hover,
	input + span:focus {
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
	}
}


// Visually hidden

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Clearfix hack

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


}
