$circle-length: 151px;
$check-length: 36px;

.claim--success {
  // background-color: #35297B;
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
    stroke: $blue;
  }

  50% {
    stroke: $blue;
  }

  100% {
    stroke-dashoffset: 0;
    stroke: $green;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;

  // stroke: $blue;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: $blue;
}

#successAnimationResult {
  fill: $green;
  opacity: 0;
}

#successAnimation.animated {
  // animation: 1s ease-out 0s 1 both scaleAnimation;

  #successAnimationCircle {
    // animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;

    animation-delay: 0s, 4.9s;
    animation-direction: normal, normal;
    animation-duration: 5s, 0.3s;
    animation-fill-mode: both, both;
    animation-iteration-count: 1, 1;
    animation-name: drawCircle, fadeOut;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1), linear;
  }

  #successAnimationCheck {
    // animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
    animation-delay: 5s, 0.9s;
    animation-direction: normal, normal;
    animation-duration: 1s, 0.3s;
    animation-fill-mode: both, both;
    animation-iteration-count: 1, 1;
    animation-name: drawCheck, fadeOut;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1), linear;
  }

  #successAnimationResult {
    // animation: 0.3s linear 0.9s both fadeIn;
    animation-delay: 4.9s;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-play-state: running;
    animation-timing-function: linear;
  }

  #defaultAnimationCircle {
    animation-delay: 4s;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: fadeOut;
    animation-play-state: running;
    animation-timing-function: linear;
  }
}

@keyframes mergeDown {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 12.1px);
  }
}

@keyframes mergeUp {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -12.1px);
  }
}

@keyframes rotateAnticlockways {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 12.1px);
  }

  100% {
    transform: translate(24px, 64px) rotate(-0.24turn);
  }
}

@keyframes rotateClockways {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 12.1px);
  }

  100% {
    transform: translate(36px, 0px) rotate(0.24turn);
  }
}

.chev-1 {
  animation-delay: 4s;
  animation-direction: normal;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: rotateClockways;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

.chev-2 {
  animation-delay: 4s;
  animation-direction: normal;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: rotateAnticlockways;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

.chev-3,
.chev-4 {
  animation-delay: 4s, 4.4s;
  animation-direction: normal;
  animation-duration: 1s, 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: mergeUp, fadeOut;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
