.instructions {
  *, *:before, *:after {
    box-sizing: border-box;
  }
  margin: 2em 0 2em 0;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  p {
    max-width:100%;
  }
}


.uikit-body {
  .instructions__inner {
    max-width:100%;
    margin: 0 0 0 0;
    padding-left:0;
  }
}

.instructions__heading {
  font-weight:bold;
  color: $blue;
  text-align: center;
}
