$text-padding: 1.25em;

.rev-sub {
  border: 2px solid $gray-light;
  border-top: 2px solid $gray-mid;
  margin: auto;

  ul,
  ol {
    margin-bottom: 0;
  }
}


.rev-sub__claim-title {
  margin-top: 0px;
  margin-bottom: 0px !important;
  font-size: 16px;
}

.rev-sub__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 0.5px solid #848484;
  padding: 1rem 1.25em 0.3rem;
  background: #f2f2f2;

  .rev-sub__edit {
    position: relative;
    top: -10px;
    margin: 0;
    border-bottom: 1px solid #1b7991;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    line-height: 1.2;
  }
}

.rev-sub__header--category {
  font-weight: 500;
  font-size: 21px;
  margin: 0.5em 0 0.25em;
}

.rev-sub__sub-header {
  background: #dedede;
  width: 100%;
  color: black;
  font-size: 14px;
  padding: 0.5rem 20px 0.25em;
  text-transform: uppercase;

  .rev-sub__header--subcategory {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
  }
}

.rev-sub__questions {
  display: flex;
  flex-direction: column;

  .rev-sub__item-question {
    font-weight: 400;
  }

  .rev-sub__item-answer {
    font-weight: 600;
  }

  .rev-sub__item-question, .rev-sub__item-answer {
    padding: 0;
    line-height: normal;
    margin: 0;
    line-height: 1.6em;
  } 

  .rev-sub__item {
    padding: $text-padding;
    background: white;

    
    &:nth-of-type(2n) {
      background: #fafafa;
    }
  }
}

.rev-sub__item-answer,
.rev-sub__item-question {
  word-wrap: break-word;
}

@media screen and (min-width: $AU-media-xs) {
  .rev-sub__item {
    display: flex;
    flex-direction: row;

    .rev-sub__item-question {
      margin-right: 2.25em;
      min-width: 50%;
      width: 45%;
    }
  }

}

@media print {
  .rev-sub__edit {
    display: none !important;
  }
  .border-bottom--mild {
    border-bottom: none !important;
  }
  .rev-sub.margin-above--extra {
    margin-top: -30px !important;
  }
  .pagination {
    display: none !important;
  }
}

.rev-sub__title {
    display: flex;
    justify-content: space-between;
    padding: 1rem 20px;
}
