/// Displays a visual indicator of cover status on cover summary screen


.cover-status {
  display: block;
  margin-bottom: 1em;

  ul {
    display: block;
    padding: 0;

    li {
      background-color: $white;
      border: 3px solid $gray;
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      list-style-type: none;
      margin: $margin-zero;
      min-height: 60px;
      padding: 0 0 2em;
      text-align: center;

      &.submitted {
        border-bottom: 0;
        border-radius: $uikit-border-radius $uikit-border-radius 0 0;
      }

      &.in-progress {
        border-bottom: 0;
      }

      &.decision-pending {
        border-radius: 0 0 $uikit-border-radius $uikit-border-radius;
      }

      p {
        margin: $margin-zero;
        padding: 0;
      }
    }
  }

  .active {
    background-color: $white;
  }

  .status-icon {
    background: $gray-mild url('../images/ico-pending.svg') no-repeat 50% 0;
    background-size: 35px 35px;
    border-top: 10px solid $gray-mild;
    display: inline-block;
    height: 45px;
    margin-bottom: 1em;
    width: 100%;
  }

  .status-icon-done {
    background: $green-dark url('../images/ico-tick.svg') no-repeat 50% 0;
    background-size: 35px 35px;
    border-top: 10px solid $green-dark;
  }

  .date {
    font-size: 1rem;
    font-weight: normal;
  }
}

@media only print,
screen and (min-width: $medium-handheld) {
  .cover-status {
    display: table;
    width: 100%;

    ul {
      display: table-row;

      li {
        background-color: $gray-light;
        display: table-cell;
        min-height: 100px;
        width: 33%;

        &.submitted {

          border: 3px solid $gray;
          border-radius: $uikit-border-radius 0 0 $uikit-border-radius;
          border-right: 0;
        }

        &.in-progress {
          border: 3px solid $gray;
          border-right: 0;
        }

        &.decision-pending {
          border: 3px solid $gray;
          border-radius: 0 $uikit-border-radius $uikit-border-radius 0;

        }
      }
    }
  }
}