.widget-tile {
  @include uikit-media(sm) {
    max-width: 370px;
  }
  background: $off-white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px $gray-mild;
  flex-grow: 1;
  height: 140px;
  margin: .5em;
  overflow: hidden;
  width: 140px;

  p {
    margin: 0;
  }
}

.widget-tile--full-width {
  border-left: 4px solid $blue;
  min-height: 140px;
  height: auto;
  margin: 1.5em auto;
  max-width: 430px;
  padding: 12px 20px;
  width: 1112px !important;
}

.widget-tile--half-width {
  max-width: 430px;
}

.widget-tile span { //TODO Can we remove the default underline on spans in myservice-typography?
  border-bottom: 0;

  &:hover {
    background: transparent;
  }
}

.widget-tile--blue-mid {
  .payment-amount,
  .widget-tile__title-icon {
    color: $white;
  }

  .widget-tile__title {
    background: $blue-light;
  }

  .payment-amount {
    color: $blue-light;
  }
}

.widget-tile--blue-light {

  .fa-edit {
    color: $blue-light;
  }
}

.widget-tile__title {
  align-items: center;
  background: $blue;
  box-shadow: 0 1px 2px 0 $rgba-gray;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  height: 42px;
  justify-content: space-between;
  padding: 10px 12px;

  span {
    color: $white;
  }
}

.widget-tile__title-icon {
  color: $white;
  font-size: 22px;
}

.widget-tile__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 98px;
  justify-content: center;
  padding: 15px;
}

.mobile-hide {
  display: none;
}

.claims-tile {
  justify-content: space-between;
}


@media only screen and (min-width: $AU-media-sm) { //TODO replace this with uikit-media after speaking to Luke
  .widget-tile {
    border: 1px solid transparent;
    border-left: 4px solid $blue;
  }

  .widget-tile--full-width {
    border-left: 4px solid $blue;
    max-width: 100% !important;
  }

  .widget-tile--half-width {
    max-width: 100%;
  }

  .widget-tile__content {
    align-items: center;
    flex-direction: row;
    height: 98px;
    padding: 20px;
  }

  .widget-tile--blue {
    &:hover {
      border: 1px inset $blue;
      border-left: 4px solid $blue;
    }

    .widget-tile__title-icon {
      color: $blue;
    }
  }

  .widget-tile__title {
    background: $white;
    padding: 10px 20px;

    .widget-tile__title-text {
      color: $black;
    }
  }

  .widget-tile--blue-light {
    border-left: 4px solid $blue-light;

    &:hover {
      border: 1px inset $blue-light;
      border-left: 4px solid $blue-light;
    }

    .widget-tile__title-icon {
      color: $blue-light;
    }

  }

  .widget-tile--blue-mid {
    border-left: 4px solid $blue-mid;

    &:hover {
      border: 1px inset $blue-mid;
      border-left: 4px solid $blue-mid;
    }

    .widget-tile__title {
      background: $white;
    }

    .payment-amount {
      color: $blue-mid;
      font-size: 30px;
    }

  }

  .widget-tile__title-icon {
    color: $blue;
    font-size: 25px;
  }

  .claims-tile {
    justify-content: flex-start;
  }
}

.widget-tile__content--fullwidth {
  width: 100%;
}

.widget-tile__stats {
  align-items: center;
  display: flex;
  font-weight: 500;
  justify-content: center;
  padding: 0 15px 0 0;
}

.profile-content {
  align-items: flex-start;
}

.payment-amount {
  color: $blue;
  font-size: 25px;
}

.fa-edit {
  color: #1377b7;
  font-size: 30px;
  padding-right: 10px;
}

.lblGreetings {
  padding-right: 10px;
}

@media (max-width: 1168px) {
  #widget-profile {
    display: none !important;
  }
}