/**********************************
	Card page

**********************************/

.white-card-image {
  width: 16em;
}

.healthcard-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 16em;

  #card-number {
    left: 189px;
    position: absolute;
    top: 75px;
  }

  #card-name {
    left: 15px;
    position: absolute;
    top: 70px;
  }

  #card-date {
    left: 200px;
    position: absolute;
    top: 121px;
  }

  #card-pending {
    left: 35px;
    position: absolute;
    top: 75px;
  }

  .card-text {
    font-size: 11px;
  }

  .card-text--red {
    border-bottom: 2px solid #f00;
    border-top: 2px solid #f00;
    color: #f00;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 0 0.5em 0;
  }

  &#goldcard {
    display: none;
  }

  .healthcard-container--card-tpi {
    left: 30px;
    position: absolute;
    top: 138px;
  }
}


.healthcard-steps div {
  margin: 2em 0 2em 0;
  margin: auto;
  text-align: center;
}

.healthcard-steps img {
  width: 200px;
}

.healthcard-steps .description {
  font-size: 1.1em;
  font-weight: 500;
}

.healthcard-steps p {
  margin: 10px 0 10px 0;
}


@media only screen and (min-width: $AU-media-md) {
  .white-card-image {
    width: 22em;
  }

  .healthcard-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 22em;

    #card-number {
      left: 260px;
      position: absolute;
      top: 110px;
    }

    #card-name {
      left: 30px;
      position: absolute;
      top: 100px;
    }

    #card-date {
      left: 225px;
      position: absolute;
      top: 156px;
    }

    #card-pending {
      left: 35px;
      position: absolute;
      top: 100px;
    }

    .card-text {
      font-size: 14px;
    }

    .card-text--red {
      border-bottom: 2px solid #f00;
      border-top: 2px solid #f00;
      color: #f00;
      font-size: 1.3em;
      font-weight: bold;
      padding: 0.5em 1.6em 0.5em 1.6em;
    }

    &#goldcard {
      display: none;
    }

    .healthcard-container--card-tpi {
      left: 30px;
      position: absolute;
      top: 138px;
    }
  }
}

.veteran-card {

  .vc-heading {
    font-size: 1.8em;
    font-weight: 400;
  }

  .covenant-title {
    border-bottom: 3px solid #ff9600;
    padding-bottom: 5px;
  }

  .orange-divider-covenant {
    border-top: 4px solid #ff9600;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    width: 70px;
  }

  p {
    margin-bottom: 0.5em;
  }
}

// Print friendly CSS

@media print {
  header,
  footer,
  .accordion-toppanel--wrapper {
    display: none;
  }

  .health-card .health-card__card-toggle {
    display: none !important;
  }

  .health-card {
    width: 80%;
  }

  .health-card__card-number {
    right: 50px !important;
  }
}

@page {
  margin: 0;
  size: auto;
}