.tile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .tile {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-bottom: none;
    padding: 1.5em;
    border: 1px solid $gray-mild;
    border-radius: 6px;

    &:hover {
      background: none;
      border: 1px solid #1057a7;
    }

    &:focus {
      background: none;
    }

    .tile__title {
      // padding: 0;
      margin: 0.4em 0 0.25em;
      // border-bottom: solid 1px #1B7991;

      &:hover {
        background: #5bcbe3;
        border: none;
      }
    }
  }
}

.font-weight-600 {
  font-weight: 600;
}

@media screen and (min-width: $AU-media-sm) {
  .tile-container {
    flex-direction: row;
  }
}