.au-accordion {
  border: 0;
  margin-bottom: 1em;

  // overflow: hidden;

  .au-accordion__title {
    background-color: $white;

    &:focus {
      outline: none;
    }
  }
}

.au-accordion--open {
  border-bottom: 0;
  overflow: initial;
}

.au-accordion__body {
  border: 1px solid $blue;
  border-top: 0;

  &.au-accordion--open {
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: 0 2px 3px 0 $rgba-black-20;
    overflow: hidden;
  }
}

.au-accordion__body-wrapper {
  @include uikit-media(sm) {
    padding: .5rem 3rem;
  }

  background-color: $gray-light;
  border-top: 0;
  padding: .5rem 1rem;

  .form-group {
    margin: 0 0 1em;
  }

  .hint {
    margin: 0;
  }

  .uikit-text-input__label {
    margin: 0 0 .4em;
  }

}

.au-accordion__title {
  border: 1px solid $gray-mild;
  border-radius: $border-radius;
  color: $black;
  font-size: 1.17em;
  overflow: hidden;
  text-decoration: none;

  .fal,
  .far {
    padding-right: .5rem;
  }

  &.au-accordion--open {
    background-color: $gray-light;
    border: 1px solid $blue;
    border-bottom: 0;
    border-radius: $border-radius $border-radius 0 0;
  }


}