/**********************************
	This SASS file controls the layout of all headers and responsive handling of primary navigation while it still exists in the header. Examples: unathenticated header, authenticated dashboard header and reduced height headers for claim and registration flows. 

**********************************/

// Default: Blue background for authenticated pages

header {
  padding-left: 1em;
  min-height: 3.5em;
  background: $blue url(../images/bg-header-auth.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: left;

  p {
    color: $white;
  }

  .logo-myservice {
    height: 100%; // needed for buggy IE SVG rendering
    max-width: 200px;
		padding: 0.4em 0 0 0;
		border: 0;
  }

  // Override: Reduced height for claim flow

  &.reduced-header {
    min-height: 4.5em;

    .logo-myservice {
      max-width: 200px;
      padding: 0.85em 0 0 0;
    }
  }

  // Override: White background for unauthenticated landing page

  &.landing-page {
    background: $white;
    min-height: 3em;
    padding: .25em 0 0;

    img {
      max-width: 150px;
      width: 100%;
      float: left;
      margin: 0.35em 1em 1em 0;
      border-right: 1px solid $gray;
      padding: 0 1em 0 0;

      &.logo-myservice {
        max-width: 135px;
        padding: 0.6em 0 0 0;
        border-right: none;
      }
    }

    .header-login {
      display: none;
    }
  }

  &.landing-page--borderless-images {
    img {
      border: 0;
    }
  }

  &.landing-page--gradient {
    background: linear-gradient(#eee, #fff);
  }
} // end header

@media only screen and (min-width: $AU-media-md) {
  header {
    min-height: 6em;

    .logo-myservice {
      float: left;
      max-width: 220px;
      padding: 1.9em 0 0 0;
    }

    &.landing-page {
      img {
        max-width: 180px;
        margin: 0.5em 1.25em 1em 0;
        padding: 0 1.25em 0 0;

        &.logo-myservice {
          max-width: 185px;
        }
      }

      .header-login {
        display: inline-block;
        float: right;
        text-align: right;
        list-style-type: none;
        padding: 0.75em 0 0 0;
      }
    }
  }
}

@media only screen and (min-width: $AU-media-lg) {
  // @media only screen and (min-width: 992px) {
  header {
    .logo-myservice {
      max-width: 250px;
      padding: 1.75em 0 0 0;
    }

    &.landing-page {
      img {
        max-width: 240px;
        margin: 0.75em 1em 1.5em 0;
        padding: 0 1em 0 0;

        &.logo-myservice {
          max-width: 300px;
        }
      }

      .header-login {
        padding: 1.4em 0 0 0;
      }
    }
  }
}

// Menu button that appears at narrow widths

.toggle {
  float: right;
  padding: 0.7em 0.7em 0.7em 2.8em;
  border: none;
  margin-top: 0.4em;
  border-radius: 3px;
  font-size: 1em;
  background: transparent;
  color: #fff;
  display: none;
  background: transparent url(../images/ico-menu-open.svg) no-repeat 1em 0.7em;
  background-size: 20px 20px;

  &:focus,
  &:hover {
    background: $black url(../images/ico-menu-open.svg) no-repeat 1em 0.7em;
    background-size: 20px 20px;
    cursor: pointer;
  }
}

ul.menu {
  display: none;
}

.toggle {
  display: block;
}

ul.menu.is-active {
  display: block;
}

.menu-closed {
  background: transparent url(../images/ico-menu-close.svg) no-repeat 1em 50%;
  background-size: 16px 16px;

  &:focus,
  &:hover {
    background: $black url(../images/ico-menu-close.svg) no-repeat 1em 50%;
    background-size: 16px 16px;
    outline: 0;
  }
}

// Navigation triggered by menu button on narrow screens

ul.menu {
  margin: 3.5em -12px 0 -12px !important;
  padding: 0 12px !important;
  z-index: 101;
  width: 100%;
  background-color: $blue-dark;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

ul.menu li {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  list-style-image: none;

  a {
    display: block;
    color: $white !important;
    line-height: 1.4;
    padding: 1em 1em 1em 2.5em !important;
    text-align: left;
    margin: $margin-zero;
    text-decoration: none;
    overflow: hidden;

    &:focus,
    &:hover {
      background-color: rgba(0, 0, 0, 0.2) !important;
      outline: 0;
    }

    &.header-home {
      background: transparent url(../images/ico-home.svg) no-repeat 1em 50%;
      background-size: 16px 16px;
    }

    &.header-claims {
      background: transparent url(../images/ico-claims-white.svg) no-repeat 1em 50%;
      background-size: 16px 16px;
    }

    &.header-profile {
      background: transparent url(../images/ico-profile.svg) no-repeat 1em 50%;
      background-size: 16px 16px;
    }

    &.header-healthcard {
      background: transparent url(../images/ico-card-white.svg) no-repeat 1em 50%;
      background-size: auto 16px;
    }

    &.header-myaccount {
      background: transparent url(../images/ico-switch.svg) no-repeat 1em 50%;
      background-size: 16px 16px;
    }
  }
}

// Visible navigation on wider screens

@media only screen and (min-width: $AU-media-md) {
  ul.menu {
    margin: 0 !important;
    padding: 0 !important;
    text-align: right;
    float: right;
    display: block;
    position: relative;
    background-color: transparent;
    width: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  ul.menu li {
    display: inline-block;

    a {
      display: inline-block;
      line-height: 2.4;
      padding: 2.75em 1em 0.25em 1em !important;
      text-align: center;
      margin: 0 0 -6px 0;
      text-decoration: none;
      border-bottom: 10px solid transparent !important;
      width: 80px !important;
      overflow: hidden;

      &:focus,
      &:hover {
        background-color: rgba(0, 0, 0, 0.2) !important;
      }

      &.header-home {
        background: transparent url(../images/ico-home.svg) no-repeat 50% 18px;
        background-size: 30px 30px;
      }

      &.header-claims {
        background: transparent url(../images/ico-claims-white.svg) no-repeat 50% 18px;
        background-size: 30px 30px;
      }

      &.header-profile {
        background: transparent url(../images/ico-profile.svg) no-repeat 50% 18px;
        background-size: 30px 30px;
      }

      &.header-healthcard {
        background: transparent url(../images/ico-card-white.svg) no-repeat 50% 18px;
        background-size: auto 30px;
      }

      &.header-profile {
        background: transparent url(../images/ico-profile.svg) no-repeat 50% 18px;
        background-size: 30px 30px;
      }

      &.header-myaccount {
        background: transparent url(../images/ico-switch.svg) no-repeat 50% 18px;
        background-size: 30px 30px;
      }

      &.nav-active {
        border-left: none !important;
        border-bottom: 10px solid $orange !important;
        background-color: #166bb2;
      }
    }
  }

  .toggle {
    display: none;
  }
}

.provisional-state {
  background-color: #FFC92D;
  padding: 0.5em 0 0.5em 0;
}
.provisional-state-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.provisional-state-item {
  max-width: 50%;
}
.provisional-state__icon {
  width:50px;
  padding:0 1em 0 0.5em;
}