/**********************************
	Print styling, mostly for hiding elements that are not required in printed form. 

**********************************/

@media print {
  // Unauthenticated home page
  .header-version-message {
    display: none;
  }

  .what-you-need {
    ul {
      padding-left: 1em !important;
    }

    li {
      list-style-type: square !important;
      min-height: 10px !important;
      padding-left: 10px !important;
    }
  }

  main {
    border-top: 1px solid $black !important;
  }

  header {
    height: 80px !important;

    img {
      width: 200px !important;
    }

    h1 {
      font-size: 18px !important;
      margin-top: 0.25em !important;
    }

    ul {
      display: none;
    }
  }

  // Hide things for authenticated screens
  .btn-panel-help,
  .cover-detail button {
    display: none !important;
  }
}
