/**********************************
Payments page

**********************************/

.payments-page {
  .pagination {
    display: inline-block;
    border: 0 !important;
    padding: 0 !important;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 0 !important;
    border-radius: 2px;
  }

  .pagination a.active {
    background-color: #fff;
  }

  .pagination a:hover:not(.active) {
    background-color: #ccc;
  }

  .data-text {
    background-color: #fff;
    border-right: 3px solid #eee;
    border-bottom: 3px solid #eee;
    padding: 10px;

    p {
      margin: 0px;
    }
  }

  h2 {
    font-size: 1em;
    font-weight: 600;
  }

  .header-row {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}