.status-label {
  background-color: black;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  color: white;
  padding: 0 5px 1px 5px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.status-label--added {
  background-color: #2B7DCE;
}

.status-label--edited {
  background-color: #2B7DCE;
}

.status-label--deleted {
  background-color: #ff3267;
}