/**********************************
	Headers

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

.uikit-header {
    padding: 1em 0 0 0;
    margin-bottom: 0;
}
.uikit-header.uikit-header--dark {
    background-color: $blue;
}


// Standard blue background header

header {
	min-height: 3em;
	img {
		max-width: 150px;
		width: 100%;
		float: left;
	}
	h1 {
	  color: white;
	  float: left;
	  font-weight: 400;
	  font-size: 1em;
	  padding: 0;
	  margin: 0;
	}
	.separator {
		border-right: 1px solid white;
		float: left;
		height: 20px;
		width: 1px;
		display: inline-block;
		margin: 0 1em;
		padding-top: 0.5em;
	}
	sup.beta {
	  display: inline-block;
	  padding: 3px 5px;
	  letter-spacing: 1px;
	  border-radius: 4px;
	  background: white;
	  color: $blue;
	  line-height: 1;
	  font-size: 0.6rem;
	  vertical-align: top;
	  font-weight: 700;
	  margin-left: 5px;
	  top: 0px;
	  text-transform: uppercase;
	}
	ul {
		padding: 0;
		background-color: $blue-dark;
		margin: 0 -12px;
		margin-top: 3em;
		min-height: 40px;
	}
	li {
		display: inline-block;
		padding: 0;
		margin: 0.45em 0 0 0;
		a {
			color: #fff;
			font-weight: bold;
		}
		&.header-profile a,
		&.header-signout a {
			background: transparent url(../images/ico-profile.svg) no-repeat 10px 0.75em;
			padding: 0.5em 1em .5em 30px;
			border: none;
			background-size: 16px 16px;
			font-weight: normal;
		    &:focus, 
		    &:hover {
		      background-color: black;
		    }  
		}
		&.header-signout a {
			background: transparent url(../images/ico-signout.svg) no-repeat 10px 0.75em;
			background-size: 16px 16px;
			margin: 0 0 0 -3px;
		}
	}
}
@media only screen and (min-width: $small-handheld) {
	header {
		min-height: 4em;
		img {
			max-width: 220px;
		}
		.separator {
			height: 30px;
			margin-top: 0.5em;
		}
		ul {
			margin-top: 4em;
		}
		h1 {
		  font-size: 1.5em;
		  margin-top: 0.15em;
		}
	}
}
@media only screen and (min-width: $medium-handheld) {
	header {
		min-height: 4em;
		ul {
			background-color: transparent;
			margin: 0;
			float: right;
			clear: none;
		}
		li {
			display: inline-block;
			margin: 0;
			padding: 0.6em 0 0 0;
			a {
				padding: 0;
				color: #fff;
				font-weight: bold;
			}
			&.header-profile a,
			&.header-signout a {
				background: $blue url(../images/ico-profile.svg) no-repeat 0 5px;
				background-size: 16px 16px;
				padding: 2px 2px 2px 20px;
				font-weight: normal;
				border: none;
		    &:focus, 
		    &:hover {
		      background-color: black;
		    }  
			}
			&.header-signout a {
				background: $blue url(../images/ico-signout.svg) no-repeat 0 5px;
				background-size: 16px 16px;
				margin-left: 1em;
			}
		}
	}
}


}