/**********************************
	Specific styling for INCAP claim flow.

**********************************/

/* top beta banner */

.page-header--beta-banner__wrapper.col-lg-12 {
  background: #eee;
  padding: 5px 10px 5px 10px;
  p {
    max-width: 100%;
    margin:0;
    background: #eee;
    font-weight: 600;
  }
}


/* horizontal scroll navigation */
* {
	box-sizing: inherit;
}

.pn-Advancer_Icon {
  margin: 0 5px;
}

.pn-ProductNav_Wrapper {
	position: relative;
	padding: 0 30px;
  box-sizing: border-box;
  border-bottom: 1px #eee solid;
}

.pn-ProductNav {
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* If JS present, let's hide the default scrollbar */
    .js & {
        /* Make an auto-hiding scroller for the 3 people using a IE */
        -ms-overflow-style: -ms-autohiding-scrollbar;
        /* Remove the default scrollbar for WebKit implementations */
        &::-webkit-scrollbar {
            display: none;
        }
    }
	/* positioning context for advancers */
	position: relative;
	// Crush the whitespace here
	font-size: 0;
}

.pn-ProductNav_Contents {
	float: left;
	transition: transform .2s ease-in-out;
}

.pn-ProductNav_Contents-no-transition {
	transition: none;
}

.pn-ProductNav_Link {
	color: #888;
	// Reset the font size
  font-size: 1rem;
  @media only screen and (max-width: 600px) {
    font-size: 0.8rem;
    }
	font-family: -apple-system, sans-serif;
	display: inline-flex;
	align-items: center;
	min-height: 44px;
	border: 1px solid transparent;
	padding: 0 4px;
	& + & {
    border-left-color:transparent;
    border: transparent;
  }
	&[aria-selected="true"] {
		color: #111;
	}
}

.pn-Advancer {
	/* Reset the button */
	appearance: none;
	background: transparent;
	padding: 0;
	border: 0;
	&:focus {
		outline: 0;
	}
	&:hover {
		cursor: pointer;
	}
	/* Now style it as needed */
	position: absolute;
	top: 0;
	bottom: 0;
	/* Set the buttons invisible by default */
	opacity: 0;
	transition: opacity .3s;
}

.pn-Advancer_Left {
	left: 0;
	[data-overflowing="both"] ~ &,
	[data-overflowing="left"] ~ & {
		opacity: 1;
	}
}

.pn-Advancer_Right {
	right: 0;
	[data-overflowing="both"]  ~ &,
	[data-overflowing="right"] ~ & {
		opacity: 1;
	}
}

.pn-Advancer_Icon {
	width: 20px;
	height: 44px;
  fill: #093d77;
  -moz-animation: pulse 2s 5 linear;
	-o-animation: pulse 2s 5 linear;
	-webkit-animation: pulse 2s 5 linear;
	animation: pulse 2s 5 linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.pn-ProductNav_Indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100px;
	background-color: transparent;
	transform-origin: 0 0;
	transition: transform .2s ease-in-out, background-color .2s ease-in-out;
}

h1 {
  text-align: center;
}
.half {
  float: left;
  width: 100%;
  padding: 0;
}

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #eee;
  color:#000000;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  margin-bottom: 2px;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background:transparent;
  color:#000000; 
  -webkit-transition: max-height .45s;
  -o-transition: max-height .45s;
  transition: max-height .45s;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

.topnav-icon {
  font-size: 3em;
  padding-left:10px;
  border: transparent;
  margin:-4px -5px 0px -5px;
  background: linear-gradient(to right, red , yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mys-file-uploads__info {
  padding-left: 20px;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
