/**********************************
	Profile page

**********************************/

.profile-table {
	margin: 1em;
}

.profile-row {
	border-bottom: 0;
	border-top: 1px solid #e4e4e4;
	padding: 0.8em 0.3em;
}

.profile-row:last-child {
  border-top: 1px solid #e4e4e4;
  border-bottom: none;
}

// .profile-row:last-child {
//   border-top: 1px solid #e4e4e4;
//   border-bottom: 1px solid #e4e4e4;
// }

.profile-row--first {
	border-top: 3px solid $gray;
}

.profile-row {
	&.profile-row--last {
		border-bottom: 3px solid $gray;
	}
}

.profile-row-address {
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	padding: 0 0.3em;

	.change-button {
		padding-top: 0.8em;
		text-align: right;
	}
}

.title-field {
  font-weight: 700;
  margin-bottom: 0.8em;
}

.description-fields {
	padding: 0.4em;
}

.change-button {
	text-align: right;
}

.no-value {
	color: #777;
	font-style: italic;
}

.address-line {
	padding-top: 0.8em;

}

.description-locked {
	background: transparent url('../images/ico-locked.svg') no-repeat;
	background-size: 30px 30px;
	float: right;
	height: 30px;
	margin-top: 0.2em;
	width: 30px;
}

.border-left__thin--white {
  border-left:1px solid $white;
}

.border-right__thin--white {
  border-right:1px solid $white;
}

.client-list--height{
  min-height: 400px;
}

.client-list--margin{
  margin: 0; 
  text-align: right;
}

.client-list--margin-above{
  margin: 19px 0 0 33px;
}

.position--relative{
  position: relative;
}

.summary-card--blue{
  height: 1px; background-color: #1057a7;
}

.background--transparent {
  background: transparent;
}
.background--card-overlay {
  background-color: #ffffff; 
  opacity: .5; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  z-index: 10; 
  display: none;
}

//TODO the following two classes are for correct vertical spacing within the payment page in profile
//they can be BEMified during a refactor
.uikit-text-input__label {
  .legend-label {
    margin-bottom: none;
  }
}

.review-content__wrapper {
  .review-content__hr {
    background-color: #ddd;
    height: 2px;
    margin: 80px 0 30px;
    padding: 0;
  }
}

.review-content__hr--margin-none {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
}

.review-content__hr--padding-none {
  margin: 0;
  margin-bottom: 0;
  padding: 0 !important;
}

.review__content--item {
  .review-content__p {
    margin: 25px 0;
  }

  .review-content__hr--heading-hr {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}