.margin-below {
  margin-bottom: uikit-space(1);
}

.uikit-body {
  .margin-below--none {
    margin-bottom: 0;
  }

  .margin-below--small {
    margin-bottom: uikit-space(0.2);
  }

  .margin-below--mid {
    margin-bottom: uikit-space(0.5);
  }

  .margin-below--large {
    margin-bottom: uikit-space(1.4);
  }

  .margin-below--extra {
    margin-bottom: uikit-space(2);
  }

  .margin-above {
    margin-top: uikit-space(1);
  }

  .margin-above--none {
    margin-top: 0;
  }

  .margin-above--small {
    margin-top: uikit-space(0.2);
  }

  .margin-above--mid {
    margin-top: uikit-space(0.5);
  }

  .margin-above--large {
    margin-top: uikit-space(1.4);
  }

  .margin-above--extra {
    margin-top: uikit-space(2);
  }

  //TODO .margin-above--25 is a fix for the margin on p elements being inconsistent in the angular app with prototype
  //look to refactor this when more time is available
  .margin-above--25 {
    margin-top: 25px;
  }

  .padding-above {
    padding-top: uikit-space(0.3);
  }

  .padding-above--none {
    padding-top: 0;
  }

  .padding-above--mid {
    padding-top: uikit-space(0.3);
  }

  .padding-above--large {
    padding-top: uikit-space(0.5);
  }

  .padding-above--extra {
    padding-top: uikit-space(1.4);
  }

  .padding-below {
    padding-bottom: uikit-space(0.3);
  }

  .padding-below--none {
    padding-bottom: 0;
  }

  .padding-below--mid {
    padding-bottom: uikit-space(0.3);
  }

  .padding-below--large {
    padding-bottom: uikit-space(0.5);
  }

  .padding-below--extra {
    padding-bottom: uikit-space(1.4);
  }

  // .countryCode{
  //     padding: 0 0 !important;
  //   }

  // select#countryCode-mobile {
  //   max-width: 150px;
  //   height: 46px; 
  //   padding:0 5px 0 5px;
  //   margin-right: 0;
  // }
  .uikit-text-input--select-inline {
    margin-right: 0;
    max-width: 150px;
    padding: 0 5px;
  }

  // input#mobile {
  //   max-width: 200px;
  //   margin-right: 0;

  //   @media only screen and (max-width: 320px) {
  //     max-width: 155px;
  //   }
  // }

  // input#mobile-phone {
  //   max-width: 180px;
  // }

  .ss-align {
    text-align: center;
  }

  .ss-align--left {
    text-align: left;
  }

  .ss-align--center {
    text-align: center;
  }

  .ss-align--center {
    margin-left: auto;
    margin-right: auto;
  }

  .ss-align--right {
    text-align: right;
  }

  .ms-align {
    text-align: center;
  }

  .mys-centred-item {
    margin: 0 auto;
    text-align: center;
  }

  .border-all {
    border: 1px solid $gray-mild;
  }

  .border-bottom {
    border-bottom: 1px solid $gray-light;
  }

  .border-top {
    border-top: 1px solid $gray-light;
  }

  .border-bottom--mild {
    border-bottom: 1px solid $gray-mild;
  }

  .border-top--mild {
    border-top: 1px solid $gray-mild;
  }

  .border-top__thick--blue {
    border-top: 3px solid $blue;
  }

  .border-left__thick--blue {
    border-left: 3px solid $blue;
  }

  .border-bottom--dark {
    border-bottom: 1px solid $gray;
  }

  .border-top--dark {
    border-top: 1px solid $gray;
  }



  .or-divider {
    background: url("../images/ico-or.svg") no-repeat;
    background-position: center top;
    background-size: 30px 30px;
    height: 100%;
    width: 100%;
  }
}

.flex-container {
  display: block; // for IE 9
  display: flex;
  justify-content: center;
  // text-align: center;
  margin: 1.5em auto;
  overflow: hidden;
  padding: 0 12px;

  &.card--horizontal {
    margin: 0 auto;
  }
}

.flex-container--wrap {
  flex-wrap: wrap;
}


.flex-item {
  display: inline-block; // for IE 9
  flex-grow: 1;
  margin: .5em;
}

.card--horizontal {
  .flex-item--large {
    flex-grow: 2;
  }
}


@include uikit-media(xs) {
  .flex-item--right-align {
    margin: auto .5em auto 0;
    text-align: right;
  }

  .card--horizontal {

    .flex-item {
      &:first-child:not(.flex-item--icon-only) {
        flex-grow: 1.3;
        overflow: hidden;
      }
    }

    .flex-item--icon-only {
      flex-grow: 0;
      margin: auto .5em;
      width: 26px;
    }
  }
}

@include uikit-media(xs) {

  .grids {
    &.side-pannel {
      border-left: 1px solid $gray-light;

      // left: uikit-space(1.3);
      padding-left: uikit-space(1.5);
    }
  }

  .row-eq-height {
    display: flex;
  }
}


.screen-text-above-xs,
.screen-text-above-sm {
  display: none;
}

.screen-text-above-zero {
  display: inline-block;
  margin-left: 0.5em;
}

// @include uikit-media(xs) {
@media screen and (min-width: 520px) {
  .screen-text-above-xs {
    display: inline-block;
  }

  .screen-text-above-zero,
  .screen-text-above-sm {
    display: none;
  }
}

@include uikit-media(sm) {
  .screen-text-above-sm {
    display: inline-block;
  }

  .screen-text-above-zero,
  .screen-text-above-xs {
    display: none;
  }
}

@media screen and (min-width: $medium-handheld) {
  .uikit-body {
    .ss-align {
      text-align: left;
    }

    .ss-align--center {
      text-align: center;
    }

    .ms-align--right {
      text-align: right;
    }
  }
}

.hover-container--faded .hover-element {
  opacity: 0.5;
  transition: opacity $transition-time ease-in-out;
}

.hover-element {}

.hover-element.hover-element--active {
  opacity: 1;
  transition: opacity $transition-time ease-in-out;
}

// .hover-effect {
//   > div {
//     opacity: 1;
//     transition: opacity $transition-time ease-in-out;
//   }

//   &:hover {
//     > div {
//       opacity: 0.5;
//       transition: opacity $transition-time ease-in-out;

//       &:hover {
//         opacity: 1;
//       }
//     }
//   }
// }

.transition-content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity $transition-time ease-in-out;
  visibility: hidden;
}

.transition-content--open {
  height: auto;
  opacity: 1;
  visibility: visible;
}

a>img {
  border: 0;
}

.row--50vh {
  border: 1px solid $gray-mild;
  max-height: 50vh;
  overflow: scroll;
  padding: 1em;
}

.sub-section {
  &.row {
    background-color: $gray-light;
    padding: 2em 0;
  }

  p {
    max-width: 100%;
  }
}

.pt-hide {
  display: none;
}


@media screen and (max-width: $uikit-media-xs) {
  .horizontal-card-section {
    .flex-container {
      display: block;
    }

    .flex-item:not(.flex-item--xs-maintain) {
      display: block;
    }
  }
}

@media screen and (min-width: $uikit-media-sm) {

  .sub-section {
    &.row {
      border: 1px solid $gray-mild;
      margin: 0 -24px;

      >div {
        padding: 0 24px;
      }
    }
  }
}

@media screen and (min-width: $uikit-media-md) {

  .sub-section {
    &.row {
      // background: limegreen;
      margin: 0 -48px;

      >div {
        padding: 0 48px;
      }
    }
  }
}

//Added to fix the bug of the up and down arrows in the input field number
@media (min-width: 576px) {
  input[type="number"] {
    appearance: textfield;
  }
}

.accordion {
  .accordion-button {
    cursor: pointer;
    
    input[type='checkbox'] {
      display: none;
    }

    &[data-state="open"] {
      i {
        transform: rotate(90deg);
        margin-right: 3px;
      }
    }

    i {
      transition: 0.2s linear;
    }
  }

  .accordion-content {
    transition: visibility 0s, opacity 0.1s linear;
  }

  .accordion-button[data-state="open"] + .accordion-content {
    visibility: visible;
    opacity: 1; 
  }

  .accordion-button[data-state="closed"] + .accordion-content {
    visibility: hidden;
    opacity: 0;
  }
}