/**********************************
	Specific styling for NLHC claim flow.

**********************************/

	.divider {
		border-right: 1px solid $gray-light;
		margin-right: 20px;
		padding-right: 40px;
	}
	
	// Plus Symbol used within medium card for NLHC
	.plus-symbol {
		bottom: 16px;
		font-size: 3em;
		line-height: normal;
		margin: 0 10px 0 10px;
		position: relative;
	}

	.breakout {
		&-info {
			border-left: 10px solid $blue;
			display: inline-block;
			margin: 0;
			padding: 20px;
			
			h3 {
				display: inline-block;
				float: right;
				vertical-align: middle;
			}
		}

		.feature-icon {
			display: inline-block;
			height: 70px;
			margin: 0 20px 0 0;
			width: 70px;
		}
	}