/**********************************
	Time box component
	Author: Millie Clery
**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

.timebox--wrapper {
	background-color:#ebebeb;
	padding: 3em 2em 3em 2em;
	display:block;
	h2, h3 {
		overflow: hidden;
		margin:0;
		padding:0;
	}
	img {
		float:left;
		width:40px;
		height:40px;
		margin:0 0.8em 0 0;
		vertical-align: middle;
	}
}

}
