.info-timeline ul {
  list-style: none;
  }

.info-timeline ul li span.timeline-circle {
  position: relative;
  border: 4px solid #999;
  border-radius: 100%;
  width: 50px;
  height:50px;
  line-height: 45px;
  text-align: center;
  margin-top: 40px;
  background-color: #fff;
  z-index: 2;
  display: inline-block;
  color: #FF9600;
  font-weight: bold;
}

.info-timeline ul li:not(:first-of-type) span.timeline-circle::before {
  position: absolute;
  border: 1px solid #999;
  width: 0;
  height: 50px;
  display: block;
  content: '';
  left: 50%;
  z-index: 1;
  top: -54px;
  margin-left: -1px;
}

.info-timeline ul li a {
  color: #000;
}
span.timeline-text-box {
    position: absolute;
    margin-top: 45px;
}
