// ss-align--center margin-above--mid margin-below--mid


// .banner {
//   @media screen and (min-width: $AU-media-sm) {
//     text-align: left;
//   }

//   padding: .4em 0;
//   text-align: center;

//   p {
//     margin-bottom: 0;
//   }
// }

// .banner--info {
//   @media screen and (max-width: $AU-media-sm) {
//     .fa-stack {
//       display: none;
//     }
//   }

//   background-color: $blue-super-light;

//   .fa-stack {
//     font-size: 1.2em;
//     margin-top: -6px;
//     padding-top: 3px;
//   }

//   .fal {
//     // color: $white;
//   }

//   .fa-user-edit {
//     font-size: .8em;
//     padding-left: .2em;
//   }
// }


.container-alert {
  background-color: $blue-dark;
}


.landing-page {
  .container-alert {
    background-color: $white;
  }
}

%banner {
  padding: .5em 0;
}

%banner__container {

  @media screen and (min-width: $AU-media-xs) {
    align-items: center;
    display: flex;
    justify-content: center;
  }


}

%banner__item {
  max-width: 50%;
}

.banner {
  @extend %banner;
}

.banner--info {
  background-color: lighten($orange-mid, 20);
}

.banner__container {
  @extend %banner__container;
}

.banner__item {
  @extend %banner__item;

  @media screen and (min-width: $AU-media-xs) {
    margin: 0 2em;
  }
}

.banner__item--icon {
  @media screen and (max-width: $AU-media-sm) {

    display: none;

  }
}

.banner__item--float-right {
  // margin-left: auto;
}

// TODO:: change these names to conform to BEM 
.provisional-state {
  @extend %banner;
  background-color: $orange-mid;
}

.provisional-state-container {
  @extend %banner__container;
  text-align: center;
  
  div {
    margin: 0;
  }

  h3 {
    padding: 0.25em 0;

    &, span {
      margin: 0;
    }
  }
}

.provisional-state-item {
  @extend %banner__item;
}

.provisional-state__icon {
  display: none;
  padding: 0 1em 0 .5em;
  width: 80px;
  height: 80px;
}

@media screen and (min-width: $AU-media-xs) {
  .provisional-state {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .provisional-state-container {
    text-align: left;
  }

  .provisional-state__icon {
    display: inline;
  }
}