/**********************************
	Card page

**********************************/

.white-card-image {
  width: 16em;
}

.healthcard-container {
  width: 16em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;

  #card-number {
    position: absolute;
    top: 75px;
    left: 189px;
  }

  #card-name {
    position: absolute;
    top: 70px;
    left: 15px;
  }

  #card-date {
    position: absolute;
    top: 121px;
    left: 200px;
  }

  #card-pending {
    position: absolute;
    top: 75px;
    left: 35px;
  }

  .card-text {
    font-size: 11px;
  }

  .card-text--red {
    color: red;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.5em 0 0.5em 0;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
  }

  &#goldcard {
    display: none;
  }

  .healthcard-container--card-tpi {
    position: absolute;
    top: 138px;
    left: 30px;
  }
}

@media only screen and (min-width: $AU-media-md) {
  .white-card-image {
    width: 22em;
  }

  .healthcard-container {
    width: 22em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;

    #card-number {
      position: absolute;
      top: 110px;
      left: 260px;
    }

    #card-name {
      position: absolute;
      top: 100px;
      left: 30px;
    }

    #card-date {
      position: absolute;
      top: 156px;
      left: 225px;
    }

    #card-pending {
      position: absolute;
      top: 100px;
      left: 35px;
    }

    .card-text {
      font-size: 14px;
    }

    .card-text--red {
      color: red;
      font-weight: bold;
      font-size: 1.3em;
      padding: 0.5em 1.6em 0.5em 1.6em;
      border-top: 2px solid red;
      border-bottom: 2px solid red;
    }

    &#goldcard {
      display: none;
    }

    .healthcard-container--card-tpi {
      position: absolute;
      top: 138px;
      left: 30px;
    }
  }
}

.veteran-card {

  .vc-heading {
    font-size: 1.8em;
    font-weight: 400;
  }

  .covenant-title {
    border-bottom: 3px solid #ff9600;
    padding-bottom: 5px;
  }

  .orange-divider-covenant {
    border-top: 4px solid #ff9600;
    width: 70px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    display: inline-block;
  }

  p {
    margin-bottom: 0.5em;
  }
}