.linking-code-content {
  align-items: center;
  display: flex;
  max-width: 612px;
  margin: auto;
  padding: 0 12px;
}

.button--register {
  min-height: 49.19px;
  width: 150px;
}

.header--linking-code {
  margin-right: 15px;
}

.linking-code-content--wrapper {
  margin-bottom: 35px;
}

.linking-code-form--wrapper {
  margin: auto;
  max-width: 612px;
  padding: 0 12px;
}

@media(max-width: 642px) {
  .linking-code-content {
    align-items: flex-start;
    flex-direction: column;
  }

  .linking-code-page {
    .mys-mygov-content--frame {
      padding: 10px;
    }

    .heading--8-column {
      font-size: 24px;
    }
  }
}