/**********************************
	User feedback includes any messages that are dynamically generated for the user.
	For example, system outage messaging and validation feedback.

**********************************/
// Content:
// - top panel styling
// - Counselling and Support content styling
// - top navbar styling
// - top navbar button styling


// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

	
// Styling of the top panel (hidden by default).
.paneltop {
	background:#eee;
	.support-box {
		margin-top:2em;
		text-align:center;
	}
}

//Styling of the Counselling and support content


.support-box {
	img {
		display:none;
		max-width: 40%;
		height: auto;
		padding:1em 0 0 0;
	}
	div {
		min-height:0;
	}
	div[class^="col"] {
		padding-right:0;
		margin-bottom:1em;
	}
}


	
@media only screen and (min-width: $medium-handheld) {
	.support-box {
		img {
			display:block;
			max-width: 30%;
			height: auto;
			padding:0 0 0 0;
		}
		div {
			min-height:4em;
		}
		div[class^="col"] {
			padding-right:0;
			margin-bottom:2em;
		}
	}
}

@media only screen and (min-width: $large-handheld) {
	.support-box {
		img {
			max-width: 60%;
		}
		div {
			min-height:10em;
		}
		div[class^="col"] {
			padding-right:3em;
		}
	}
}
	
@media only screen and (min-width: $medium-tablet) {
	.support-box {
		div[class^="col"] {
			padding-right:1em;
		}
		div {
			min-height:10em;
		}
	}

}
// Styline of top navbar - includes the button to show/hide .paneltop
.header-nav {
	line-height:0px!important;
	background-color: #eeeeee;
	text-align:right;
	a {
		color:#000;
		font-size:0.8em;
		&:hover,
		&:focus {
			background-color: $uikit-colour-Link !important;
			color: $uikit-colour-Text !important;
			text-decoration: none;
		}
	}
	.container {
		padding-left:0px;
		padding-right:0px;
	}
}

// Styling of button that shows/hides top panel

.paneltop-btn {
	display: inline-block;
	-webkit-appearance: none;
	border: none;
	background: none;
	font-size: 0.7em;
	font-family: $uikit-font-system;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	min-width:100%;
	background-color: #d2d2d2;
	cursor: pointer;
	transition: background 0.1s ease;
	margin:0px!important;
	padding:0.5em 0 0.5em 0;

	&:focus,
	&:hover {
		background-color: $blue;
		color:#fff;
	}

	@include uikit-focus();

	&:disabled {
		background-color: $uikit-colour-Border-30;
		font-weight: normal;
		color: $uikit-colour-Text;
		border: 1px dotted $uikit-colour-Text;
		cursor: not-allowed;

		&:focus,
		&:hover {
			background-color: $uikit-colour-Border-30;
		}
	}
}

@media only screen and (min-width: $small-handheld) {
	.paneltop {
		.support-box {
			text-align:center;
		}
	}
	
	.paneltop-btn {
		min-width:100%;
	}
}

@media only screen and (min-width: $medium-handheld) {
	.paneltop {
		.support-box {
			text-align:left;
		}
	}
	.paneltop-btn {
		min-width:250px;
	}
}

	
}