/* Pseudo tables */

.myservice--data-grid {
  .row {
    background-color: #fff;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 767px) {
      margin-top: 10px;
    }

    &.title {
      align-items: center;
      background-color: transparent;
      border: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-top: 20px;
      padding-left: 0;
      padding-right: 0;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }

      h2 {
        display: inline-block;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 0;
      }

      button {
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }

    }

    &.title-home {
      background-color: #fff;

      h2 {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
      }

      border-bottom: 2px solid #d1d1d1;
      border-right: 1px solid #d1d1d1;
      margin-bottom: 0;
      margin-top: 20px;
      padding: 20px;

      .buttons {
        text-align: right;

        @media only screen and (max-width: 767px) {
          margin-top: 20px;
          text-align: left;
        }

        @media only screen and (max-width: 400px) {
          text-align: left;
          width: 100%;

          button {
            width: 100%;
          }

          button:first-child {
            margin-bottom: 15px;
          }
        }

      }

    }

    &.header {
      background-color: #fff;

      min-height: 0;

      .data-grid-cell {
        min-height: 0;
      }

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .data-grid-cell {

    background-color: #fff;
    margin: 0;
    min-height: 80px;
    padding: 0;
    position: relative;

    @media only screen and (max-width: 767px) {
      min-height: 30px;
    }

    .inner {
      display: inline-block;
      padding: 12px;
    }

    .inner-links {
      align-items: center;
      display: block;
      display: flex;
      height: 100%;
      padding: 12px;
      position: absolute;
      right: 0;

      a {
        margin-left: 15px;
      }

      @media only screen and (max-width: 767px) {
        padding-bottom: 20px;
        position: relative;

        a {
          margin-left: 0;
          margin-right: 15px;
        }
      }
    }

    .row-status {
      background-color: #fff;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      width: 8px;
      // min-height: 80px;

      // &.flag {
      //     background-color: orange;

      //     @media only screen and (max-width: 990px) {
      //         background-color: #fff;
      //     }
      // }

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    .icon {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 1.1em;

      &.alert {
        color: #ffa500;

        &:before {
          content: "\f071";
        }
      }
    }

    .text-1 {
      color: #313131;
      font-size: 1em;
      font-weight: normal;
      margin: 0;
    }

    .text-2 {
      color: #777;
      font-size: .9em;
      margin: 0;
    }

  }

  .claim-title {
    @media only screen and (max-width: 767px) {
      order: -1;
      // background-color: pink;
    }

  }

  &.claims {

    .header {
      display: none;
    }

    .row {
      margin-top: 10px;
    }

    #show-more-button {
      display: block;
    }

    .title-home {
      display: none;
    }
  }

  #show-more-button {
    display: none;
    margin-top: 12px
  }

  &.claims-home {
    .title {
      display: none;
    }

    .title.home {
      display: flex;
    }

    .row {
      padding-left: 20px;
      padding-right: 20px;
    }

  }

}

//
// Table styling
//
@mixin table-responsive {
  width: 100%;

  td,
  th {
    width: auto;
  }

  thead {
    display: none;
  }

  tr {
    &:nth-of-type(2n) {
      background-color: inherit;
    }

    td {
      border-bottom: 0;

      &:first-child {
        padding-bottom: 0;
      }

      &:last-child {
        // margin-bottom: uikit-space(0.6);
        padding-bottom: uikit-space(0.6);
      }
    }
  }

  tbody {
    td {
      display: block;

      &::before {
        content: attr(data-th);
        display: block; // text-align: center;
      }
    }
  }

  // other blocks
  .right {
    text-align: left;

    .accordion-title__details {
      &:last-child {
        .file-upload__label {
          float: right;
        }
      }
    }
  }

  .file-upload {
    overflow: auto;
  }

  .file-upload--add {
    display: none;
    float: left;
  }

  .file-upload__file-name {
    line-height: 2;
    margin-bottom: uikit-space(0.6);
    overflow-wrap: break-word;
    padding-right: 0;
    word-break: break-word;
    word-wrap: break-word;
  }

  .file-upload__label {
    display: table;
    table-layout: fixed;
    text-align: right;
    vertical-align: top;

    .uikit-btn--tertiary {
      float: right;
    }
  }

  .file-upload__input+label {
    white-space: initial;
    width: 100%;
  }

  .file-upload__document,
  .file-upload__button {
    display: table-cell;
    vertical-align: top;
  }

  .file-upload__document {
    text-align: left;
  }

  .file-upload__button {
    text-align: right;
  }

  .file-status {

    // give all tds the right padding if they have an icon
    ~td {
      margin-top: -(uikit-space(0.45));
      padding-left: uikit-space(1.5);
      padding-right: 32px;
      padding-top: .6em;

      &.right {
        padding-right: 0;
      }
    }

    // hide the text content
    span {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
    }
  }

  .accordion {
    display: block;
    position: relative;

    td {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .accordion--closed {
    .right {
      display: none;
    }
  }

  .accordion__trigger {
    bottom: 0;
    content: $content-blank;
    height: uikit-space(0.75);
    position: absolute;
    right: 0;
    top: 1.4em;
    width: uikit-space(0.75);
  }
}

// codesmells
table {
  background: #fff;
  border: 1px solid $gray-light; // border-radius: 6px;
  border-spacing: 0;
  margin-bottom: 2em;
  width: 100%;

  caption {
    max-width: 100%;
  }

  td,
  th {
    // padding: uikit-space(0.45) uikit-space(0.3) uikit-space(0.45) uikit-space(0.65);
    padding: 1.5em 0.5em 1em 1em;
    text-align: left;
    vertical-align: top;
  }

  th {
    background-color: $gray-light;
    border-top: 0;
    text-align: left;
  }

  .centred {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  &.data-centred {
    margin-top: 2em;

    caption {
      font-size: 1.2rem;
    }

    td,
    th {
      font-size: .9rem;
      padding: .75em .5em;
      text-align: center;
      vertical-align: middle;
    }

    td {
      padding: .5em;
    }

    button {
      font-size: .9rem;
      padding: .25em .7em .4em;
    }
  }

  &.cover-detail {
    th {
      border-bottom: 1px solid $white;
      font-weight: normal;
      width: 40%;
    }

    td {
      width: 60%;
    }
  }
}

// breaking words is basically a bad idea.
.table-responsive {

  // table-layout: fixed;
  // width: 100%;
  td,
  th {
    // word-wrap: break-word;
    // word-break: break-all;
    // white-space: normal;
  }

  a {
    // word-break: break-all;
    // white-space: normal;
    // word-wrap: break-word;
  }
}

.table-responsive--no-border {
  // not sure about this
  border: 0;

  tr {
    td {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .accordion {
    td {
      &:last-child {
        width: 24px;
      }
    }
  }
}




.table-responsive--always-stacked {
  &.table-responsive {
    @include table-responsive;
  }
}

// responsive table
@media screen and (max-width: $medium-handheld) {
  .table-responsive {
    @include table-responsive;

    &.feature-set {
      border-top: 10px solid $blue-dark;

      tr {
        &:nth-of-type(2n) {
          background-color: $white;
        }
      }

      td {
        &:not(.feature-set__no) {
          background: none;
          border: 0;
          display: table-cell;
          padding: 1.5em 1em 1em;
          padding-bottom: 1.5em;
          text-align: left;
        }
      }

      .feature-set__ss-hide {
        display: none;
      }

      .feature-set__ss-show {
        display: table-row;
        white-space: nowrap;

        .uikit-btn {
          white-space: normal;
          width: 50%;
        }
      }

      .feature-set__no {
        display: none;
      }

      .feature-set__yes {
        a {
          background-position-x: 0; // font-style: italic;
          margin-left: 0;
          padding: 0 0 0 2em;
          text-align: left;
          width: auto;
        }

        .sr {
          clip: initial;
          color: $blue-mild;
          overflow: initial;
          position: relative;
        }
      }

      .feature-set__yes--green {
        .sr {
          color: $large-text-green;
        }
      }
    }

    &.feature-set,
    &.feature-set__sub-heading {
      tr {
        &:hover {
          background-color: $white;
        }
      }
    }
  }
}


@media screen and (max-width: $small-handheld) {
  .table-responsive {
    &.feature-set {
      .feature-set__ss-show {
        .uikit-btn {
          display: block;
          margin-bottom: 8px;
          width: 100%;
        }
      }
    }
  }
}

.claim-summary-table {
  border: 0 solid $gray-mild !important;
  width: 100%;

  caption {
    color: $gray;
    font-size: inherit;
  }

  tr,
  td {
    font-weight: bold;
    padding: .6em 1em;
    text-align: left;
  }

  td {
    &:first-child {
      font-size: 0.9em;
      font-weight: normal;
      padding-right: 2em;
      text-align: left;
      width: 55%;
    }

    ul {
      text-align: left;
    }
  }
}


.claim-summary__data {
  &>* {
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      font-weight: bold;
      text-align: left;
    }
  }
}

@media screen and (min-width: $uikit-media-md) {
  .claim-summary__data {
    &>*:last-child {
      text-align: right;
    }
  }
}

@media screen and (min-width: $medium-handheld) {
  .claim-summary-table {

    tr,
    td {
      font-size: 1em;
      text-align: right;
    }

    td {
      ul {
        text-align: left;
      }
    }
  }

  .claim-summary-table--answer {
    max-width: 0;
  }
}

@media screen and (max-width: $medium-handheld) {
  .claim-summary-table {
    td {
      &:first-child {
        width: auto;
      }
    }
  }
}

.feature-set {
  border: 1px solid $blue-dark;

  tr {
    &:last-child {
      &:hover {
        background-color: $white;
      }
    }
  }

  th {
    background-color: $blue-dark;
    border-left: 1px solid $gray-mid;
    color: $white;
    vertical-align: middle;

    &:first-child {
      border-left: 0 solid $gray-mid;

      p {
        font-weight: normal;
      }
    }
  }

  td {
    border-left: 1px solid $gray-light;
    text-align: center;

    &:first-child {
      border-left: 0 solid $gray-light;
      text-align: left;
    }
  }

  img {
    width: 25px;
  }

  .feature-set__ss-show {
    display: none;
  }
}

.feature-set,
.feature-set__sub-heading {
  tr {
    &:hover {
      background-color: $gray-light;
    }
  }
}

.feature-set__sub-heading {
  td {
    background: $blue-5;
    border-left: 1px solid $blue-20;

    &:first-child {
      border-left: 0 solid $blue-20;
    }
  }
}


@mixin tick-icon($colour) {
  background-image: uikit-svguri('<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 width="426.7px" height="426.7px" viewBox="0 0 426.7 426.7" style="enable-background:new 0 0 426.7 426.7;" xml:space="preserve"	> \a     <path fill="#{$colour}" d="M213.3,29.6c49.1,0,95.2,19.1,129.9,53.8S397,164.2,397,213.3s-19.1,95.2-53.8,129.9S262.4,397,213.3,397	s-95.2-19.1-129.9-53.8s-53.8-80.8-53.8-129.9s19.1-95.2,53.8-129.9S164.2,29.6,213.3,29.6 M213.3,0C95.5,0,0,95.5,0,213.3	s95.5,213.3,213.3,213.3s213.3-95.5,213.3-213.3S331.2,0,213.3,0L213.3,0z"/><path fill="#{$colour}" d="M83.1,229l28.5-28.5l62.6,62.7l140.9-140.9l28.5,28.5L174.2,320.1L83.1,229z"/></svg>');
}

.feature-set__yes {
  @include tick-icon($blue-mild);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-bottom: 0 solid;

  &:hover {
    background-color: transparent;
  }
}

.feature-set__yes--green {
  @include tick-icon($large-text-green);
}

.feature-set__no {
  background-image: url("../images/ico-na-grey.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

// Material design styled table

.mys-table {
  background: #fff;
  border: 1px solid $gray-light;
  border-spacing: 0;
  margin-bottom: 2em;
  width: auto;
}

.mys-table td,
.mys-table th {
  padding: 1em 1em 1em 1em;
  text-align: left;
  vertical-align: top;
}

.mys-table--compact td,
.mys-table--compact th {
  padding: 0.4em 1em 0.4em 1em;
  text-align: left;
  vertical-align: top;
}

.mys-table th {
  background-color: $white;
  border-bottom: 1px solid $gray-light;
  border-top: 0;
  padding-top: 1.5em;
  text-align: left;
}

// The below class is used on the /dhoas3 page for adding dates of leave without pay

.date-input-group__row {
  padding-bottom: 1em;
  padding-top: 1em;
}

//borderless table - example in auth/claim/incap/b-1

.borderless-table {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.borderless-table__row {
  display: flex;
  flex-direction: row;
}

.borderless-table__title {
  padding-right: 15px;
  min-width: 160px;
}

.td--no-padding {
  padding-top: 0px;
  padding-bottom: 0px !important;
  vertical-align: middle;
}

.tr--file-upload td {
  padding-top: 15px;
}