/**********************************
  This SASS file is used to control layout that is unique to the unathenticated home page. Example: large feature with background image, 1, 2, 3 steps and introductory content.

**********************************/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.future {
  h1, h2, h3, h4, {
    font-family: 'Roboto Slab', 'OpenSans', serif;
  }
  h2 {
    font-weight: bold;
  }

  .speakerbox {
    background: transparent url(../images/bg-speakerbox.png) no-repeat;
    background-size: 480px 300px;
    background-color: #223c72;
    padding-top:3em;
    padding-bottom:3em;
    h1, h2, h3, h4, p, a {
      color: $white;
      font-weight: normal;
    }
    p, a {
      font-family: 'Roboto Slab', 'OpenSans', serif;
      font-size: 1.3em;
    }
  }

  .widget-mini {

    border-top: 1px solid #cccccc;
    padding-top: 2em;

    @media (min-width: $uikit-media-md)  {
      border-top: 0px solid #cccccc;
      padding-top: 0;
      padding-left: 2em;
    }
  }

  .widget-mini--stacked {
    border-top: 1px solid #cccccc;
    padding-top: 2em;
    @media (min-width: $uikit-media-sm)  {
      border-top: 0px solid #cccccc;
      padding-top: 0;
    }
  }

  .uikit-btn--gold {
    background-color: #fbca3f;
    border: 1px solid #fbca3f;
    color: #444444;

    &:focus,
    &:hover {
      background-color: #f7a900;
    }
  }
}