/**********************************
	Headers

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

.uikit-footer--gradient {
    background: $gray-light; /* For browsers that do not support gradients */
	background: linear-gradient($gray-light, $white); /* Standard syntax */
    background: -webkit-linear-gradient($gray-light, $white); /* For Safari */
    background: -o-linear-gradient($gray-light, $white); /* For Opera */
    background: -moz-linear-gradient($gray-light, $white); /* For Firefox */
}
	
.uikit-footer {
	padding-bottom: 3.5em;
	background:$gray-light;
	.floated {
		float: none;
		width: 100%;
		text-align: center;
	}
	.external-link {
		background: url(../images/ico-external-blue.svg) no-repeat right 2px;
		padding-right: 24px;
		background-size: 16px 16px;
	}
	.uikit-link-list--inline {
		width: 100%;
		text-align: center;
	}
	hr {
		border-top: 1px solid #c4c4c4;
		padding:0px;
		margin:1em 0 1em 0;
	}
}

	
@media only screen and (min-width: $medium-handheld) {
	.uikit-footer {
		padding-bottom: 1.6em;
	}
}

	
@media only screen and (min-width: $medium-tablet) {
	.uikit-footer {
		.floated {
			float: right;
			width: auto;
			text-align: left;
		}
		.uikit-link-list--inline {
			width: auto;
			text-align: left;
		}
	}
}

//Support box


.support-box {
	img {
		display:none;
		max-width: 40%;
		height: auto;
		padding:1em 0 0 0;
	}
	div[class^="col"] {
		padding-right:0;
	}
}

@media only screen and (min-width: $small-handheld) {
	.support-box {
		div {
			min-height:0;
		}
		div[class^="col"] {
			padding-right:0;
			margin-bottom:1em;
		}
	}
}
	
@media only screen and (min-width: $medium-handheld) {
	.support-box {
		img {
			display:block;
			max-width: 30%;
			height: auto;
			padding:0 0 0 0;
		}
		div {
			min-height:4em;
		}
		div[class^="col"] {
			padding-right:0;
			margin-bottom:2em;
		}
	}
}

@media only screen and (min-width: $large-handheld) {
	.support-box {
		img {
			max-width: 60%;
		}
		div {
			min-height:8em;
		}
		div[class^="col"] {
			padding-right:3em;
		}
	}
}
	
@media only screen and (min-width: $medium-tablet) {
	.support-box {
		div[class^="col"] {
			padding-right:1em;
		}
		div {
			min-height:10em;
		}
	}

}
	
	
}