.instructions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1em 0;

  *,
  * {

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  p {
    max-width: 100%;
  }
}

.uikit-body {
  .instructions__inner {
    margin: 0;
    max-width: 100%;
    padding-left: 0;
  }
}

.instructions__image {
  display: block;
  margin: auto;
  padding-right: 20px;
  text-align: center;
}

.instructions__heading {
  color: $blue;
  font-weight: bold;
  text-align: center;
}