// #btnQueryString {
//   width: auto !important;
// }

#nr-strike.strike {
  max-width: 17em;
}

#lblData6,
#lblData7 {
  border: 0;
  display: contents;
}

.radio-toggle.nr-role label {
  width: 20em;
}

.end-date-disabled {
  background-color: #ebebe4;
  border: 1px solid #abadb3;
  padding: 2px 1px;
}

#enquireAlert {
  background-color: inherit;
  border-left: 0;
  color: inherit;
  font-family: inherit;
  padding: 0;

  &:after {
    background-image: none;
  }
}

button.rejectBtn.uikit-btn.uikit-btn--tertiary {
  width: 49.5%;
}

button.agreeBtn.uikit-btn.uikit-btn--tertiary {
  width: 49.5%;
}

p.nr-rejected.status-icon.status-rejected {
  background-position: bottom;
  background-size: 126px 126px;
  /* border: solid; */
  height: 8em;
  margin: 0 auto;
  width: 100%;
}

#nr-editBtn {
  min-width: 94.03px;
}

.nr-accounts {

  .icon-tick {
    background: #eee url('../images/ico-tick-blue-solid.svg') no-repeat;
    background-position: right 10px top 48%;
    background-size: 30px 30px;
    border: 1px solid #1057a7 !important;
    border-left: solid 3px #1057a7 !important;
  }

  .account-one,
  .account-two,
  .account-three {
    border: solid 1px #d4d4d4;
    border-left: solid 3px #d4d4d4;
    min-height: 7em;
    padding: 25px;
    width: 75%;

    & h2 {
      display: contents;
      text-align: left;
    }

    & icon.fa-angle-right {
      float: right;
    }

    & p {
      font-weight: normal;
    }

    &:hover {
      background: #eee;
    }
  }

  .col-md-1,
  .col-md-9 {
    cursor: pointer;
    top: 5px;
  }

  & icon.fa-angle-right {
    float: right;
  }
}

table.agreements {
  border-right: 0;
  border-top: 0;
}

table.agreements-old {
  border-right: solid 1px #eee !important;
  border-top: solid 1px #eee !important;
}

// ******** start of old agreements style **********
.agreements {

  th,
  td {
    background: none;
    border-right: solid 1px #eee;
    // border-bottom: solid 1px #eee;
  }

  .inactive {
    height: auto;
  }

  td p.new {
    margin-top: 25px;
  }

  .addRepBtn {
    margin-bottom: 2em;
    margin-left: 4.5em;
  }

  th.widget-activity {
    border-right: 0;
  }

  th#myRepsBtn,
  th#iRepresent {
    border-bottom: solid 1px #eee;
    border-top: solid 1px #eee;
  }

  .iRepresent {
    float: right;
    font-weight: normal;
    margin-top: 4em;
    width: 85%;
  }

  .active-state {
    background: #eee;
  }

  .on-load-state {
    background: #eee;
  }

  .details {
    text-align: center;
  }

  .details-left {
    margin: 0;
    max-width: 100%;
  }

  .top-bar-blue {
    border-bottom: 0;
    border-right: solid 1px #eee;
    border-top: solid 12px #1057a7;
  }

  & button {
    // margin-left: 4.5em;
  }

  th#myRepsBtn {
    text-align: center;
    width: 50%;

    &:hover {
      background-color: $rgba-black-20;
    }

    &.noHover:hover {
      background: none;
    }

    & legend {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  th#iRepresent {
    border-bottom: solid 1px #eee;
    border-right: 0;
    border-top: 0;
    width: 50%;

    &:hover {
      background-color: $rgba-black-20;
    }

    &.noHover:hover {
      background: none;
    }
  }

  @media screen and (max-width: 650px) {
    .agreements.table-responsive thead {
      // display: inline;
    }
  }

  .card__image__circle {
    border: solid;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  #showBank1 h2 {
    text-align: left;
  }

  // please, no global overrides in component specific files
  // .fa-stack {
  //   border-bottom: 0;
  //   font-size: 4.8em;
  //   margin-top: .3em;

  //   & i {
  //     font-style: normal;
  //     vertical-align: middle;
  //   }

  //   .fa-circle {
  //     -webkit-text-stroke: 8px #ffffff;
  //     color: #aaa;
  //   }
  // }

  // i.fal.fa-hands-helping.fa-stack-1x {
  //   color: #0077b7;
  //   font-size: 80%;
  // }

  // span.fa-stack:hover {
  //   background-color: transparent;
  // }
}

//end of old agreement styles

// *******start of new concept styles***********
table.agreements-concept.table-responsive.clean {
  border-right: 0;
  border-top: 0;
}

.agreements-concept {

  th,
  td {
    background: none;
    // border-right: solid 1px #eee;
    // border-bottom: solid 1px #eee;
  }

  .tableBorder {
    border: solid 1px #eee;
    margin: 0 auto;
    padding: 25px;
    width: 90%;
  }

  & th {
    height: 13em;
  }

  td.widget-actions {
    border-left: 0;
  }

  .iRepresentConcept {
    float: right;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 1em;
    width: 75%;

    & a {
      line-height: 3;
    }
  }

  & td button {
    margin-bottom: 2em;
    margin-left: 3.5em;

    &.small {
      margin-left: 0;
    }
  }

  .details {
    text-align: center;
  }

  .details-left {
    margin: 0;
    max-width: 100%;
  }

  & tbody td {
    border-right: solid 1px #eee;
    // padding-bottom:3em;
  }

  th#myRepsBtnConcept {
    border-bottom: solid 1px #eee;
    border-right: solid 1px #eee;
    text-align: center;
    width: 40%;

    // border-left: solid 1px #eee;
    & legend {
      font-size: 1.5rem;
      margin-bottom: 0;
      text-align: center;
    }
  }

  th#IRepBtnConcept {
    border-bottom: solid 1px #eee;
    // border-right: solid 1px #eee;
    text-align: center;
    width: 40%;

    & legend {
      font-size: 1.5rem;
      margin-bottom: 0;
      text-align: center;
    }
  }

  td.widget-actions-concept {
    border-right: solid 1px #eee;
  }

  table.agreements-concept {
    border-bottom: solid 1px #eee !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .top-bar-blue {
    border-bottom: 0;
    border-right: solid 1px #eee;
    border-top: solid 12px #1057a7;
  }

  th#iRepresentConcept {
    border-bottom: solid 1px #eee;
    border-right: 0;
    width: 60%;
  }

  // .card__image__circle{
  //   border-radius: 50%;
  //   border:solid;
  //   height:150px;
  //   width:150px;
  // }
  #showBank1 h2 {
    text-align: left;
  }

  // icon.fal {
  //   display: inline-block;
  //   border-radius: 50%;
  //   box-shadow: 0px 0px 2px #888;
  //   padding: 0.5em 0.6em;
  //
  // }
  #myRepsBtnConcept .fa-stack {
    font-size: 3.5em;
    margin-top: 0;
  }

  #IRepBtnConcept .fa-stack {
    font-size: 3.5em;
    margin-top: 0;
  }

  .fa-stack {
    border-bottom: 0;
    font-size: 4.8em;
    margin-top: .3em;

    & i {
      font-style: normal;
      vertical-align: middle;
    }

    .fa-circle {
      -webkit-text-stroke: 6px #fff;
      color: #aaa;
    }
  }

  i.fal.fa-hands-helping.fa-stack-1x {
    color: #0077b7;
    font-size: 80%;
  }

  span.fa-stack:hover {
    background-color: transparent;
  }

  .box-on-click {
    border: solid 1px #eee;
    margin-top: -1.3em;
    padding: 20px;
    // background-color: #eee;
  }

  .addBorderBack {
    border-left: solid 1px #eee;
  }

  .agreements-concept tbody tr td {
    border-left: solid 1px #eee;
  }

  i.fal.fa-hands-helping.fa-stack-1x {
    color: #0077b7;
    font-size: 80%;
  }

  span.fa-stack:hover {
    background-color: transparent;
  }

  .box-on-click {
    border: solid 1px #eee;
    margin-top: -1.3em;
    padding: 20px;
    // background-color: #eee;
  }

  .addBorderBack {
    border-left: solid 1px #eee;
  }
}

.agreements-concept tbody tr td {
  border-left: solid 1px #eee;
}

// end of new concept styles
i.fal.fa-hands-helping.fa-stack-1x {
  color: #0077b7;
  font-size: 80%;
  font-style: normal;
}

.uikit-body i {
  font-style: normal;
}

// .fa-stack .fa-circle {
//   -webkit-text-stroke: 6px #ffffff;
//   color: #aaa;
// }

// .fa-stack {
//   border-bottom: 0;
//   font-size: 4.5em;
//   margin-top: .3em;
// }

// .nr-background {
//   background: #FFC46D;
// }

.nr-card {
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  min-height: 170px !important;
  padding: 20px;
}

.fa-icon-nr {
  color: $blue;
  font-size: 4.5em;

  @media screen and (max-width: $large-handheld) {
    font-size: 3.5em;
  }

  @media screen and (max-width: $small-handheld) {
    font-size: 1.7em;
    font-weight: 400 !important;
  }


  //   $small-handheld: 480px;
  // $medium-handheld: 650px;
  // $large-handheld: 768px;
  // $medium-tablet: 960px;

}