/**********************************
	This SASS file controls the layout of all headers and responsive handling of primary navigation while it still exists in the header. Examples: unathenticated header, authenticated dashboard header and reduced height headers for claim and registration flows. 

**********************************/

// Default: Blue background for authenticated pages

  .uikit-body a:hover, 
  .uikit-body a:focus,
  .uikit-body a:hover span, 
  .uikit-body a:focus span {
    background: transparent!important;
  }

  header {
    padding-left: 1em;
    min-height: 3.5em;

    p {
      color: $white;
    }

    .logo-myservice {
      height: 100%; // needed for buggy IE SVG rendering
      border: 0;
      max-width: 45px;
    }

    // Override: Reduced height for claim flow

    &.reduced-header {
      min-height: 4.5em;

      .logo-myservice {
        max-width: 45px;
        padding: 3em 0em 0 1.5em;
      }
    }

    // Override: White background for unauthenticated landing page

    &.landing-page {
      background: $white;
      min-height: 3em;
      padding: .25em 0 0;

      img {
        max-width: 150px;
        width: 100%;
        float: left;
        margin: 0.35em 1em 1em 0;
        border-right: 1px solid $gray;
        padding: 0 1em 0 0;

        &.logo-myservice {
          max-width: 70px;
          padding: 3em 0em 0 1.5em;
          border-right: none;
        }
      }

      .header-login {
        display: none;
      }
    }

    &.landing-page--borderless-images {
      img {
        border: 0;
      }
    }

    &.landing-page--gradient {
      background: linear-gradient(#eee, #fff);
    }
  } // end header


@media only screen and (min-width: $AU-media-md) {
  header {
    min-height: 6em;

    .logo-myservice {
      float: left;
      max-width: 220px;
      padding: 1.9em 0 0 0;
    }

    &.landing-page {
      img {
        max-width: 180px;
        margin: 0.5em 1.25em 1em 0;
        padding: 3em 0em 0 1.5em;

        &.logo-myservice {
          max-width: 45px;
        }
      }

      .header-login {
        display: inline-block;
        float: right;
        text-align: right;
        list-style-type: none;
        padding: 0.75em 0 0 0;
      }
    }
  }
}

@media only screen and (min-width: $AU-media-lg) {
  header {
    .logo-myservice {
      max-width: 45px;
      padding: 3em 0em 0 1.5em;
    }

    &.landing-page {
      img {
        max-width: 240px;
        margin: 0.75em 1em 1.5em 0;
        padding: 3em 0em 0 1.5em;

        &.logo-myservice {
          max-width: 45px;
          padding: 3em 0em 0 1.5em;
        
        }
      }

      .header-login {
        padding: 1.4em 0 0 0;
      }
    }
  }
}

// Menu button that appears at narrow widths

.toggle {
  float: right;
  padding: 0.7em 0.7em 0.7em 2.8em;
  border: none;
  margin-top: 0.4em;
  border-radius: 3px;
  font-size: 1em;
  background: transparent;
  color: #fff;
  display: none;
  background: transparent url(../images/ico-menu-open.svg) no-repeat 1em 0.7em;
  background-size: 20px 20px;

  &:focus,
  &:hover {
    background: $black url(../images/ico-menu-open.svg) no-repeat 1em 0.7em;
    background-size: 20px 20px;
    cursor: pointer;
  }
}

ul.menu {
  display: none;
}

.toggle {
  display: block;
}

ul.menu.is-active {
  display: block;
}

.menu-closed {
  background: transparent url(../images/ico-menu-close.svg) no-repeat 1em 50%;
  background-size: 16px 16px;

  &:focus,
  &:hover {
    background: $black url(../images/ico-menu-close.svg) no-repeat 1em 50%;
    background-size: 16px 16px;
    outline: 0;
  }
}

// Navigation triggered by menu button on narrow screens
.future {
  ul.menu {
    margin: 3.5em -12px 0 -12px !important;
    padding: 0 12px !important;
    z-index: 101;
    width: 100%;
    background-color: $white;
  }

  ul.menu li {
    margin: 0 !important;
    padding: 0 !important;
    display: block;
    list-style-image: none;

    a {
      display: block;
      color: $black !important;
      line-height: 1.4;
      padding: 1em 0.625em 1em 0.625em!important;  // 2.5em !important;
      text-align: left;
      margin: $margin-zero;
      text-decoration: none;
      overflow: hidden;
      text-transform: uppercase;
      font-weight: bold;

      // &.header-home {
      //   background: transparent url(../images/ico-home-black.svg) no-repeat 50% 18px;
      //   background-size: 30px 30px;
      // }

      // &.header-payments {
      //   background: transparent url(../images/ico-claims.svg) no-repeat 50% 18px;
      //   background-size: 30px 30px;
      // }

      // &.header-claims {
      //   background: transparent url(../images/ico-claims.svg) no-repeat 50% 18px;
      //   background-size: 30px 30px;
      // }

      // &.header-healthcard {
      //   background: transparent url(../images/ico-card.svg) no-repeat 50% 18px;
      //   background-size: 30px 30px;
      // }

      // &.header-profile {
      //   background: transparent url(../images/ico-profile-black.svg) no-repeat 50% 18px!important;
      //   background-size: 30px 30px!important;
      // }

      // &.header-transport {
      //   background: transparent url(../images/ico-transport-black.svg) no-repeat 50% 18px;
      //   background-size: 30px 30px;
      // }

      &:focus,
      &:hover {
        // filter: invert(1);
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0 );
        outline: 0;
      }
    }
  }
}

// Visible navigation on wider screens

@media only screen and (min-width: $AU-media-md) {
  .future {
    ul.menu {
      margin: 0 !important;
      padding: 0 !important;
      display: block;
      position: relative;
      background-color: transparent;
      width: auto;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-left: 6em!important;
    }

    ul.menu li {
      display: inline-block;

      a {
        display: inline-block;
        line-height: 2.4;
        padding: 2.75em 1em 0.25em 1em !important;
        padding-left: 1em!important;
        text-align: center;
        margin: 0 0 -6px 0;
        text-decoration: none;
        border-bottom: 10px solid transparent !important;
        border-bottom: none;
        width: 120px !important;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: bold;
        transition: none!important;

        &:focus,
        &:hover {
          border-bottom: 10px solid #cccccc!important;
          background: rgba(255,255,255,1);
          background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1)));
          background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0 );
          border-left: none;
        }

        &.nav-active {
          border-left: none !important;
          background: rgba(255,255,255,1);
          background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1)));
          background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0 );
          border-bottom: 10px solid $orange !important;
        }
      }
    }

    .toggle {
      display: none;
    }
  }
}

img.switch-user {
    width: 1.5em;
    height: auto;
    float: left;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.provisional-state {
  background-color: #FFC92D;
  padding: 0.5em 0 0.5em 0;
}
.provisional-state-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.provisional-state-item {
  max-width: 50%;
}
.provisional-state__icon {
  width:50px;
  padding:0 1em 0 0.5em;
}