///
/// Primary for styling form elements (buttons, fields, legends, radio buttons and checkboxes).
/// Also contains classes for specific styling such as the width of DD MM YYYY input fields.
///

// Button styling
.uikit-body {
  .uikit-btn {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;

    // Not sure the idea here. It causes alignment issues in http://localhost:5000/index-claims.
    // Probably not a good idea to do this to every button
    // margin-top: .5rem;
    span {
      border-bottom: 0;
    }

    &:focus,
    &:hover {
      background-color: $blue-dark;
    }

    &:disabled {
      background-color: $gray-light !important;
      border: 1px solid $gray-mid;
      color: $gray;

      &:focus,
      &:hover {
        background-color: $gray-light;
        cursor: not-allowed;
      }
    }

    &.show-password,
    &.send-code {
      border: 0;
      border-bottom: solid 1px $uikit-colour-Primary;
      border-radius: 0;
      display: block;
      font-weight: normal;
      line-height: 1;
      padding: 2px;

      &:focus,
      &:hover {
        background-color: $uikit-colour-Link;
        border-color: transparent;
        color: $uikit-colour-Text;
      }
    }
  }

  .uikit-btn__middle-image {
    padding-left: 3px;
		width: 16px;
		border: 0;
  }

  .uikit-btn__highlight-text {
    color: $blue;
  }

  .uikit-btn--tertiary {
    background-color: $white;
    border: 1px solid $blue;
    color: $uikit-colour-Text;

    &:focus,
    &:hover {
      color: $white;

      .uikit-btn__highlight-text {
        color: $white;
      }
    }
  }

  .uikit-btn--secondary {
    background-color: $green;
    border: 1px solid $green;

    &:focus,
    &:hover {
      background-color: $green-dark;
    }
  }

  .uikit-btn--mygov {
    background-color: $green-mygov;
    border: 1px solid $green-mygov;

    &:focus,
    &:hover {
      background-color: $green-mygov--hover;
    }
  }

  // Styling for Borderless button eg. Cancel button used across Add Cover pages
  .uikit-btn--borderless {
    background-color: $white;
    border: 0;
    border-bottom: solid 1px $uikit-colour-Primary;
    border-radius: 0;
    color: $uikit-colour-Text;
    font-weight: normal;
    padding: 0;

    &:focus,
    &:hover {
      background-color: $uikit-colour-Link;
    }
	}

	hr {
		border-top-color: $gray-mild;
	}
}

.small {
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5em 0.8em;
}

// Container for navigation buttons at bottom of screen

.pagination {
  border-top: 1px solid $gray-mild !important;
  clear: both;
  margin: 2em 0;
	padding-top: 2em;
	text-align: left;

  // Remove bolding from selected radios
  label {
    font-weight: normal !important;
  }

  @media only screen and (min-width: $small-handheld) {
    .uikit-btn {
      padding: .8em 0.6em !important;
    }
    .uikit-btn--borderless {
      padding: 0em !important;
    }
  }

  @media only screen and (min-width: $medium-handheld) {
    .uikit-btn {
      padding: .8em 1.2em !important;
    }
    .uikit-btn--borderless {
      padding: 0em !important;
    }
  }
}

// sorry for the max-width here, but this is really only for mobile.
@media only screen and (max-width: $uikit-media-xs) {
  .pagination {
    .uikit-btn {
      margin-bottom: .5rem;
    }
  }

  .pagination--ss-reverse-order {
    display: flex;
    flex-flow: column-reverse;

    .floated:not(button) {
      display: flex;
      flex-flow: column-reverse;
    }
  }
}

#optional-fields-message {
  margin: -1.5em 0 2em;

  + p.sub-fields-message {
    margin-bottom: 0;
  }
}

.sub-fields-message {
  font-style: italic;
  margin-top: 0;
  padding-top: 0;
}

.no-left-margin {
  margin-left: 0 !important;
}

// Styling for waiting buttons - e.g. to disable navigation buttons in the cover screens when waiting for a server response
@keyframes spintranslate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.uikit-btn--waiting {
  position: relative;

  &.uikit-btn--borderless {
    border-bottom: 0;
  }

  span {
    visibility: hidden;
  }

  img {
    animation: spintranslate linear 1s infinite;
    height: 1.5em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.hint {
  font-size: 1rem;
  font-weight: normal;
  margin: 2px 0 15px;
}

// For embedding the show password button within password field

@media only screen and (min-width: $small-handheld) {
  .show-password,
  .send-code {
    display: inline-block !important;
    margin-left: -5em;
  }

  .send-code {
    margin-left: -7em;
  }
}

// Gap between each label and input pair
.form-group {
  clear: both;
  margin: .5em 0 1em;
  position: relative;
}

.form-group--secondary {
  margin-left:2.5em;
}

// Input styling

input,
select,
textarea {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.5em 0.4em;

  &:hover,
  &:focus {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  }
}

input[type='text'],
input[type='name'],
input[type='date'],
input[type='tel'],
input[type='email'],
input[type='number'],
input[type='phone'],
input[type='password'],
input[type='url'],
input[type='search'],
textarea,
select,
.typeahead {
  border: 1px solid $gray-mild !important; // codesmell; why is this important?
  border-radius: 4px;
  color: $gray;
  margin: 0 1em 0.4em 0; // now zero top margin to come in line with DTA
  max-width: 42em;
  padding: 0.6em 0.4em;
  width: 90%;

  &:focus,
  &:hover {
    background-color: $white !important;
    border: 1px solid $gray !important;
    outline: none !important;
  }

  &:disabled {
    background-color: $gray-light !important;
    border: 1px solid $gray-mid;
    color: $gray;
    cursor: not-allowed;

    &:focus,
    &:hover {
      border: 1px solid $gray-light !important;
      box-shadow: none;
    }
  }
}

.input-support-text {
  font-size: 1.4em;
  position: relative;
  top: .1em;
}

.input-support-text--middle {
  font-size: initial;
  padding-left: 1em;
  padding-right: 1em;
}

.input-support-text--after {
  margin-left: -.6em;
}

// start jQuery override
// Controls typeahead text filter. Remove later.
.custom-combobox {
  display: inline;
  position: relative;
}

.custom-combobox-toggle {
  margin-left: -1px;
  padding: 0;
}

.custom-combobox-input {
  margin: $margin-zero;
  padding: 5px 10px;
}

.ui-tooltip {
  display: inline-block;
  margin: $margin-zero;
  padding: 0.75em 1.5em;
}

.ui-state-highlight { // TODO:: Remove. It's not used in the repo
  background-color: $orange-light;
}

.ui-helper-hidden-accessible { // TODO:: Remove. It's not used in the repo
  display: none;
}

// end jQuery override

@include uikit-media(xs) {
  input,
  select,
  textarea {
    &.input-half,
    &[type=phone] {
      max-width: 22em;
      width: 45%;
    }

    &.input-auto {
      width: auto;
    }
  }

  input {
    &.input-small {
      max-width: 10em;
      width: 25%;
    }

    &[type='search'] {
      // Ensure input type=search has consistent sizing with input type=text
      appearance: searchfield;
      box-sizing: content-box;
    }

    // Remove the up/down arrows on HTML5 number fields
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      appearance: none;
      margin: $margin-zero;
    }

    &[type='number'] {
      appearance: textfield;
    }
  }
}


input,
select,
textarea {
  &.input-half,
  &[type='phone'] {
    width: 90%;
  }
}

input {
  &.input-small {
    width: 50%;
  }
}

fieldset {
  border: 0;
  clear: both;
  margin: 0 0 1em;
  padding: 0;
}

legend,
caption {
  border: 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4em;
  max-width: $uikit-maxwidth;
  padding: 0;
  text-align: left;
}

label {
  font-weight: bold;
}

// Style legends to appear like labels
.legend-label {
  font-size: 1rem;
  font-weight: bold;
	margin-bottom: .8em;
	width: 100%;
	display: inline-block;
}

.legend-h3 {
  font-size: 1.17rem;
  font-weight: bold;
  margin-bottom: .8em;
}

.legend-label--light {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: .8em;

  .hint {
    color: $gray-mid;
    font-size: 0.9em;
  }
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.breakout {
  background: $gray-light;
  margin: 0 0 30px;
	padding: 2.5em 2em 1em 2em;
	&::after {
		content: ' ';
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}

  .hint {
    display: block;
    font-size: 0.7em;
    margin: 10px 0 0;

    a {
      white-space: nowrap;
    }
  }
}

.uikit-text-input__label-wrapper--inline-block {
  display: inline-block;
}

// Space between radio buttons
.uikit-control-input__radio {
  margin: 0.75em 0;
}

// Size of radio and checkbox span labels
.uikit-control-input__text {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0 .5rem .5rem 2.5rem;
  display: block;
}

// Width of select boxes for drop downs that appear within a sentence eg. Add cover - Diagnosis
.uikit-text-input__dropdowns { // TODO:: Remove. It's not used in the repo
  select {
    display: block;
    width: 210px;
  }
}

.breakout-compact {
  background: $gray-light;
  margin: 0 0 30px;
  max-width: $uikit-maxwidth;
  padding: 2em 2em 0.1em;

  .hint {
    display: block;
    font-size: 0.7em;
    margin: 10px 0 0;

    a {
      white-space: nowrap;
    }
  }
}

.id-marriage,
.id-changename {
  margin-top: 2em;
}

// input widths
.dd,
.mm,
.yyyy,
.bsb {
  display: inline;
  margin-right: 0 !important;
  width: 2em !important;
}

.yyyy {
  width: 4em !important;
}

.bsb {
  width: 3em !important;
}

// Autocomplete styling

.ui-widget-content {
  background: $white;
  border: 1px solid $gray-mild;
  color: $uikit-colour-Text;
}

.ui-menu {
  display: block;
  list-style: none;
  margin: $margin-zero;
  outline: 0;
  padding: 0;
}

.ui-autocomplete {
  cursor: default;
  left: 0;
  position: absolute;
  top: 0;
}

.ui-menu-item {
  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.ui-front {
  z-index: 100;
}

// A form call out reverses the colour contrast to ensure important functionality is highlighted

.form-callout {
  background-color: $blue-light;
  color: $black;
  padding: 0.5em 1em;

  button {
    border: 1px solid $white;
  }
}

.display-none {
  display: none !important; // used as brute force so only removal of class can override
}

@media only screen and (min-width: $medium-handheld) {
  .uikit-text-input__dropdowns { // TODO:: Remove. It's not used in the repo
    select {
      display: inline;

      // width: 210px; // width doesn't work for inline elements

    }
  }
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

// Radio button tiles
.radio-tile--group {
  margin: 1em 0 0;

  // input[type='radio'] {
  //   display: none;
  // }

  label {
    position: relative;
  }

  span {
    border: 1px solid $gray-mild;
    border-radius: 3px;
    display: inline-block;
    margin: 0 1em 1em 0;
    min-width: 91%;
    padding: 1em;
    text-align: center;

    &:hover {
      background-color: $gray-light;
      border: 1px solid $blue;
      cursor: pointer;
    }

    img {
      display: block;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
    }
  }

  input[type='radio']:checked + span {
    background: $gray-light url("../images/ico-tick-blue-solid.svg") no-repeat;
    border: 1px solid $blue;
    background-position: right 10px top 10px;
    background-size: 30px 30px;
  }

  input[type='radio']:focus + span {
    background: $gray-light url("../images/ico-tick-blue-solid.svg") no-repeat;
    border: 1px solid $green;
    background-position: right 10px top 10px;
    background-size: 30px 30px;
  }
}

.radio-tile--medium {
  span {
    max-width: 320px;
  }
}

.file-upload__input {
  display: none;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.file-upload__input + label {
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  white-space: nowrap;

  // overflow: hidden;
}

.file-upload__label {
  .uikit-btn--tertiary {
    margin-left: uikit-space(0.75);
  }
}

.uikit-body {
  .uiToolKitCheckBox {
    margin-bottom: 1em;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 646px) {
  .radio-tile--group {
    span {
      min-width: 150px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .radio-tile--group {
    span {
      min-width: 180px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .radio-tile--group {
    span {
      min-width: 210px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .radio-tile--group {
    span {
      min-width: 210px;
    }
  }
}

.select-container {
  display: inline;
  position: relative;

  label {
    font-weight: normal;
  }

  select {
    appearance: none;
    background: $white;
    border: 0;
    border-radius: 3px;
    font-size: 1em;
    font-weight: bold;
    padding: .8em 1.2em;
    width: 100%;

    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $black;
    content: '';
    height: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    right: 2em;
    top: .3em;
    width: 0;
  }
}

.select-container {
  display: inline;
  position: relative;

  label {
    font-weight: normal;
  }

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $black;
    content: '';
    height: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    right: 2em;
    top: .3em;
    width: 0;
  }
}

.mys-dropdown {
  position: relative;

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $black;
    content: '';
    height: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    right: 1.7em;
    top: .3em;
    width: 0;
  }
}

.mys-dropdown__select {
  appearance: none;
  background: $white;
  border: 0;
  border-radius: 3px;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 3em 0.5em .8em;
  width: auto;

  &::-ms-expand {
    display: none;
  }
}

// natural language form elements

.mys-label-nl {
  font-size: 1.3em;
  font-weight: normal;
}

.mys-dropdown-nl {
  &::after {
    right: 2.2em;
  }

  .mys-dropdown__select {
    font-size: 1.3em;
    font-weight: normal;
    color: $blue;
  }
}

//margin between buttons/formgroup
.feedback-margin{
  padding-bottom:20px;
}

.uikit-body .panel-margin{
  margin-bottom: 2em;
}
.lsa-submitted.transition-content{
  overflow: visible;
}

.lsa-amount-request {
    border: 1px solid #eee;
    border-spacing: 0;
    margin-bottom: 2em;
    background: white;
}
.border-right-lsa{
  border-right:solid;
}
.text-align-center-lsa{
  text-align: center;
}
.vertical-dash-hack-lsa{
  border-bottom:solid;
  max-width:5%;
  margin-top: -15px;
  margin-left: 5px;
}
.uikit-body{
  #request1,#request2,#request3,#request4{
  width:40%;
  padding:20px;
  }
}
.testbg{
  background:#eee;
}
.pipe{
  margin-left:15px;
}
// .requestBox{
//   clear:none;
//   width:80%;
//   height:80%;
//   border:solid 1px black;
//   margin:0 auto;
// }
