/**********************************
	Expansion panel

**********************************/

.expanel {
}

.expanel-header {
	background-color:$gray-light;
	legend {
		padding-bottom:0px;
	}
}

.expanel-row {
	
	border:1px solid #e4e4e4;
	border-bottom:0px;
	padding: 1em;
	display: flex;
	flex-flow: nowrap;
    justify-content: space-between;

	.expanel-title {
		min-width:180px;
		padding: 0.5em 1em 0 0;
		margin: 0 1em 0 0;
		font-weight: 700;
		
	}
	
	.expanel-description {
		flex-basis: 70%;

		.expanel-uneditable {
			display: flex;
			flex-flow: nowrap;
			justify-content: space-between;
		}
		
		.expanel-editable {
			background-color:$gray-light;
			padding: 0.5em;
			margin-top:1em;
			.expanel-btn {
			margin-top:0.5em;
			}
		}

		.expanel-form-value {
			padding-top:0.5em;
		}
		
		.expanel-form-field {

		}	
	}
	
}

.description-locked {
	background: transparent url(../images/ico-locked.svg) no-repeat;
	background-size: 30px 30px;
	width:30px;
	height:30px;
	margin-right:16px;
	display:block;
}

.expanel-row:last-child {
	border-bottom:1px solid #e4e4e4;
}