/**********************************
	Specific styling for INCAP claim flow.

**********************************/

$item-actions-width: 8em;
$status-width: 1.75em;
$status-height: 1.75em;
$gutter-size: 2em;

/* top beta banner */

// .page-header--beta-banner__wrapper.col-lg-12 {
//   background: #eee;
//   padding: 5px 10px 5px 10px;
//   p {
//     max-width: 100%;
//     margin:0;
//     background: #eee;
//     font-weight: 600;
//   }
// }


/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #eee;
  color:#000000;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  margin-bottom: 2px;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background:transparent;
  color:#000000;
  -webkit-transition: max-height .45s;
  -o-transition: max-height .45s;
  transition: max-height .45s;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

.topnav-icon {
  font-size: 3em;
  padding-left:10px;
  border: transparent;
  margin:-4px -5px 0px -5px;
  background: linear-gradient(to right, red , yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mys-file-uploads__info {
  padding-left: 20px;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}


// Millie's styles for the new checklist

.uikit-body {

  .claim-progress-category__item {
    border: 1px solid $gray-mild;
    margin-bottom: 2em;
  }

  .claim-progress-category__link {
    :hover {
      background-color: #ffffff;
    }
  }
  .claim-progress-category__link--active {
    :hover {
      background-color:$blue-5;
    }
  }
  .claim-progress-category__link--incomplete {
    :hover {
      background-color: #fff4e4;
    }
  }

  .claim-progress-category__wrapper {
    padding: 1em 2em 1em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .claim-progress-category__status {
    margin-right: 1.5em;
  }

  .claim-progress-category__heading {
    margin-top:0em;
    margin-bottom:0em;
  }

  .claim-progress-category__heading--active {
    border-bottom: solid 1px $blue;
  }

  .claim-progress-category__description {
    margin-top:0.3em;
    margin-bottom:0em;
  }

  .claim-progress-category--active {
    border: 2px solid $blue;
  }

  .claim-progress-category--done {
    border-left: 4px solid $green;
  }

  .claim-progress-category--incomplete {
    border: 1px solid $orange;
    border-left: 4px solid $orange;
  }

  .claim-progress-category--incomplete-disabled {
    border: 1px dashed $gray-mild;
    border-left: 4px solid $orange;
    .claim-progress-category__heading, .claim-progress-category__description {
      color: #999999;
    }
  }

  .claim-progress-category--disabled {
    border: 1px dashed $gray-mild;
    .claim-progress-category__heading, .claim-progress-category__description {
      color: #999999;
    }
    :hover {
      cursor: not-allowed;
    }
  }

  // Review and submit page

  .review__wrapper {
    margin-bottom: 1em;
    // margin-top: 1em;
  }
  .review__header {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    margin-bottom: 1em;
  }
  .review__header--label {
    padding-bottom: 0.6em;
    display:inline-block;
    h2 {margin-bottom: 0em; margin-top: 0em;}
  }
  .review__header--button {
    text-align: right;
    display:inline-block;
    margin-bottom: 0em;
    margin-left: 1em;
  }
  .review__content--item {
    margin-bottom:0.3em;
  }
  .review__content--data {
    font-weight: bold;
  }
  .review__content--border {
    border-bottom: 1px solid #ccc;
    margin-bottom:10px;
    padding-bottom:10px;
  }

  .topbar-actionbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .plain-text-bottom-border{
    // border-bottom: 1px solid #d4d4d4
  }

  .next-steps li {
    font-size: 1.2em;
  }
  
  .hr-compact {
    margin-top:2em;
  }
}

  
