
.transactions-table {
    .uikit-btn--borderless {
      margin-right: 15px !important;
  }

  .main {
    font-weight: bold !important;
    padding-top: 15px;
    margin-bottom: 0;

    @media screen and (max-width: 650px) {
      margin: 0;
      padding-top: 0;
    }
  }

  .flag-text {
    border-bottom: 1px solid #ff9600;
    color: #ff9600;
    font-weight: 700;
  }

  .details {
    color: #777;
    font-size: .9rem;
    font-style: normal;
    margin: 0 0 1em 0 !important;
  }

  .status-flag {
    background: #fff;
    border-left: .4em solid #ff9600;
    border-right: 0;
    padding: 15px 0 0 15px;

    @media only screen and (max-width: 650px) {
      margin-bottom: 0;
      margin-top: 0 !important;
      padding: 15px 0 0 15px;
      width: 100%;
    }
  }

  #claim-activity {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .uikit-btn.small.uikit-btn--borderless {
    padding-top: 10px;
  }

  .claim-actions {
    padding: 10px 0;
    text-align: right;

    @media only screen and (max-width: 650px) {
      margin-top: 0 !important;
      padding: 0 0 15px 20px;
      width: 100%;
      text-align: left;
    }
  }

  .claim-actions-status {
    @media only screen and (max-width: 650px) {
      border-left: .4em solid #ff9600 !important;
      border-top: 0 !important;
      padding: 0 0 15px 15px !important;
    }
  }

  .claim-title {
    @media only screen and (max-width: 650px) {
      margin-bottom: 0;
      padding: 15px 0 0 20px;
      width: 100%;
    }
  }

  .claim-title-status {
    @media only screen and (max-width: 650px) {
      border-left: .4em solid #ff9600!important;
      margin-bottom: 0;
      padding-left: 15px;
      width: 100%;
    }
  }

  .status {
    @media only screen and (max-width: 650px) {
      border-top: 0;
      margin-bottom: 0;
      margin-top: 0 !important;
      padding: 15px 0 0 20px;
      width: 100%;
    }
  }

  .container-fluid {
    background: white;
    border-bottom: 1px solid #d4d4d4;

    @media only screen and (max-width: 650px) {
      border: 1px solid #d4d4d4;
      border-radius: 4px;
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 650px) {
  .container-fluid:last-child {
    border-bottom: 0;
  }

  .container-fluid--no-border {
    border-bottom: 0 !important;
  }
}

.transactions-table__wrapper {

  .transactions-table {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    @media only screen and (max-width: 650px) {
      border: 0;
    }
  }
}