/**********************************
	Time box component
	Author: Millie Clery
**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

.timebox--wrapper {
	background-color:#ebebeb;
	padding: 2em;
	display:block;
}

}
