//
// Styling of feature boxes, mostly on authenticated home page. Each widget must contain a heading with identifying icon.
//

// Container
// [class^=col-].no-space-left {
//   padding-left:0;
//  }

// .row [class^=col-] {
//   &:first-child {
//     // margin-right: 20px;
//     padding-left: 0;
//   }

//   &:last-child {
//     // margin-right: -20px;

//     // margin-left: -20px;
//     padding-right: 0;
//   }
// }

.card {
  text-align: center;

  a {
    border: 0;

    &:focus,
    &:hover {
      background: transparent;
    }
  }

  div {
    padding: 1.5em 2em;
  }
}

.card--reduced-image {
  img {
    width: 80%;
  }
}

.card--white {
  background-color: $white;
  border: 1px solid $gray-mild;
  margin-top: 1em;
}

@include uikit-media(sm) {
  .card--white {
    div {
      margin: auto;
    }
  }
}


.card--medium {
  flex-basis: 350px;
  max-width: 350px;
}

.card__supporting-text {
  font-size: 1.1em;
  margin: auto;
  max-width: 17em;
}

.card__image {
  height: 45%;
  width: 45%;
}

// bootstrap cards

// .card {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   min-width: 0;
//   word-wrap: break-word;
//   background-color: red;
//   background-clip: border-box;
// }

// Styling of claim summary box

.receipt,
.receipt-status {
  margin: $margin-zero;
  flex-basis: 700px;
  max-width: 700px;
}

.receipt__content {
  padding: 2em;
  background-color: $white;
  border-left: 1px solid $gray-mild;
  border-right: 1px solid $gray-mild;
  border-bottom: 1px solid $gray-mild;
}

.receipt__heading {
  padding: 1.3em 2em 0 2em;
  background-color: $white;
  border-bottom: 1px solid $gray-mild;
  border-left: 1px solid $gray-mild;
  border-right: 1px solid $gray-mild;
  border-top: 3px solid $gray-mid;
}

.widget {
  background-color: $white;
  margin-bottom: 1em;
  border: 1px solid $gray-mild;
  margin: 0 0 2em;
  position: relative;

  p {
    margin: auto;
  }

  .widget-header {
    background-color: $white;
    border-bottom: 1px solid $gray-mild;

    // padding: 0.3em 2em 0 2em;
    padding: .4em 2em;
  }

  .widget-content {
    padding: 2em;

    .status {
      margin-bottom: 1em;
      font-style: italic;
      color: $gray-mid;
    }
  }

  .widget--noclaims {
    text-align: center;
  }

  .widget--justclaims {
    border: 0px solid $gray-mild;
    padding: 0em;
    margin-bottom: -2em;

    table.table-claims {
      border-left: 0px solid $gray-mild;
      border-right: 0px solid $gray-mild;

      td, th {
        padding: 0.75em 2em 0.75em 2em;
        vertical-align: middle;

        // border-bottom: 1px solid $gray-mild;
     
      }

      tr:last-child td {
        border-bottom: none;
      }

      th {
        color: $gray-mid;
        font-weight: normal;
        font-size: 0.9em;
        padding: 1em 2em 1em 2em;

        &:last-child {
          padding: 1em 2.25em 1em 2em;
        }
      }
    }

    .widget-btn {
      margin: 0 0.5em 2em 2em;
    }
  }

  .col-sm-8 {
    padding-right: 2em;
    padding-bottom: 2em;
  }

  .col-sm-4 {
    padding-left: 2em;
    padding-top: 2em;
  }

  ul {
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: $large-handheld) {
  .widget {
    .col-sm-4 {
      padding-top: 0;
    }
  }
}

@media only screen and (min-width: $large-handheld) {
  .widget {
    .col-sm-4 {
      padding-top: 0;
    }

    .widget--noclaims {
      padding: 2em 2em 2em;
    }
  }
}

@media only screen and (min-width: $medium-handheld) {
  .widget-actions {
    text-align: right;
  }
}

@media screen and (max-width: $medium-handheld) {
  .widget {
    .widget-actions {
      display: flex;

      .uikit-btn {
        flex-grow: 1;
        margin-bottom: 1em;

        // margin-left: .5em;
        + .uikit-btn {
          margin-left: .5em;
        }
      }
    }

    .widget-header__title {
      display: block;
      margin-bottom: 1em;
    }
  }
}

@media screen and (max-width: $small-handheld) {
  .widget-header {
    padding: .3em 1em;
  }

  .widget--justclaims {
    .table-claims {
      td {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}

// @media only screen and (min-width: $medium-tablet) {
//   .widget-btn {
//     margin: 0 0.5em 0 2em;
//   }
// }

// Claims table on authenticated home page
.table-claims {
  border: 1px solid $gray-mild;
  border-bottom: 0;
  border-radius: 0;

  th {
    background-color: $white;
    font-weight: 500;
  }

  td,
  th {
    border-bottom: 1px solid $gray-mild;
    padding: 0.75em 1em 0.75em 0.75em;
    vertical-align: middle;
  }

  td {
    padding: 0.75em 1em 0.75em 0.75em;
  }

  p {
    margin: $margin-zero;
  }

  em {
    color: $gray-mid;
  }

  .activity {
    width: 65%;
  }

  // button {
  //   padding: 0.25em 0.7em 0.4em;
  //   font-size: 0.9rem;
  //   font-weight: normal;
  // }
}

.callout {
  color: $blue;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;

  span {
    font-size: 1.1rem;
  }
}

.status-icon {
  // background-position: -.25em 0;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  padding: 0.25em 0.25em 0.25em 40px;
  background-position-y: .2em;

  span {
    font-size: .9rem;
  }

  em {
    color: $gray-mid;
    font-style: normal;
  }
}

.status-icon--large {
  background-size: 40px 40px;
  padding-left: 50px;
}

.status-icon--table {
  padding: 1.2em 0.5em .75em 60px;
  background-position: 16px 50%;

  &.status-incomplete {
    background-color: $error-background;
  }

  &.status-rejected {
    background-color: $error-background;
  }

  &.status-approved {
    background-color: $success-background;
  }

  &.status-error {
    background-color: $error-background;
  }

  &.status-withdrawn {
    background-color: $error-background;
  }

  &.status-in-progress {
    background-color: $success-background;
  }
}

.status-required {
  // background-color: lighten($color: $blue, $amount: 55%);
}

.status-incomplete {
  background-image: uikit-svguri('<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.7 29.7"><style>.st0{fill:#f89722}</style><path class="st0" d="M14.9 29.3C6.9 29.3.4 22.8.4 14.8S6.9.3 14.9.3s14.5 6.5 14.5 14.5-6.5 14.5-14.5 14.5m0-26C8.5 3.4 3.4 8.6 3.4 14.9c.1 6.3 5.3 11.4 11.6 11.3 6.3-.1 11.4-5.3 11.3-11.6-.1-6.2-5.1-11.3-11.4-11.3"/><path class="st0" d="M7.5 13h14.8v3.2H7.5z"/></svg>');
}

.status-rejected {
  background-image: uikit-svguri('<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.7 29.7"><style>.st0{fill:#cb2026}</style><path class="st0" d="M14.9 29.5C6.9 29.5.4 23 .4 15S6.9.5 14.9.5 29.4 7 29.4 15s-6.5 14.5-14.5 14.5m0-26C8.5 3.6 3.4 8.8 3.4 15.1c.1 6.3 5.3 11.4 11.6 11.3 6.3-.1 11.4-5.3 11.3-11.6-.1-6.2-5.1-11.3-11.4-11.3"/><path class="st0" d="M19 8.8l-4.1 4.1-4.1-4.1-2.1 2 4.2 4.2-4.2 4.1 2.1 2 4.1-4.1 4.1 4.1 2-2-4.1-4.1 4.1-4.2z"/></svg>');
}

.status-approved {
  background-image: uikit-svguri('<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.7 29.7"><style>.st0{fill:#2ab34b}</style><path class="st0" d="M14.9 29.3C6.9 29.3.4 22.8.4 14.8S6.9.3 14.9.3s14.5 6.5 14.5 14.5-6.5 14.5-14.5 14.5m0-26C8.5 3.4 3.4 8.6 3.4 14.9c.1 6.3 5.3 11.4 11.6 11.3 6.3-.1 11.4-5.3 11.3-11.6-.1-6.2-5.1-11.3-11.4-11.3"/><path class="st0" d="M23.1 10.7l-2.1-2-8.2 8.2-4.1-4.1-2 2 4.1 4.2 2 2 2.1-2z"/></svg>');
}

.status-submitted {
  background-image: uikit-svguri('<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.7 29.7"><style>.st0{fill:#1758a6}</style><path class="st0" d="M14.9 29.3C6.9 29.3.4 22.8.4 14.8S6.9.3 14.9.3s14.5 6.5 14.5 14.5-6.5 14.5-14.5 14.5m0-26C8.5 3.4 3.4 8.6 3.4 14.9c.1 6.3 5.3 11.4 11.6 11.3 6.3-.1 11.4-5.3 11.3-11.6-.1-6.2-5.1-11.3-11.4-11.3"/><path class="st0" d="M15.9 8.2l-2 2.1 3.1 3.2H7.4v2.8H17l-3.1 3.2 2 2 6.5-6.6z"/></svg>');
}

.status-error {
  background-image: uikit-svguri('<svg data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 55" width="50" height="25"><path d="M46.6 40.24L29.84 8.81a2.43 2.43 0 0 0-2.14-1.27 2.4 2.4 0 0 0-2.12 1.27L8.73 40.24a2.4 2.4 0 0 0 .06 2.37 2.42 2.42 0 0 0 2.08 1.18h33.6a2.42 2.42 0 0 0 2.12-3.55zM27.71 39a2.41 2.41 0 1 1 2.42-2.4 2.41 2.41 0 0 1-2.42 2.4zm2.42-9.63a2.42 2.42 0 0 1-4.84 0v-9.71a2.42 2.42 0 1 1 4.84 0zm0 0" fill="#ca2026"/></svg>');
}

.status-in-progress {
  background-image: uikit-svguri('  <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.7 29.7"><style>.st0{fill:#{$aqua}}</style><path class="st0" d="M14.9 29.3C6.9 29.3.4 22.8.4 14.8S6.9.3 14.9.3s14.5 6.5 14.5 14.5-6.5 14.5-14.5 14.5m0-26C8.5 3.4 3.4 8.6 3.4 14.9c.1 6.3 5.3 11.4 11.6 11.3 6.3-.1 11.4-5.3 11.3-11.6 0-6.2-5.1-11.3-11.4-11.3"/><circle class="st0" cx="14.9" cy="14.6" r="2"/><circle class="st0" cx="20.7" cy="14.6" r="2"/><circle class="st0" cx="9.1" cy="14.6" r="2"/></svg>');
}

.status-withdrawn {
  background-image: uikit-svguri('<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.7 29.7"><style>.st0{fill:#{$gray-mid}}</style><path class="st0" d="M14.8 29.3C6.9 29.3.4 22.9.4 15S6.9.6 14.8.6C22.8.6 29.2 7 29.2 15c0 7.9-6.4 14.3-14.4 14.3m0-25.7C8.5 3.6 3.5 8.8 3.5 15.1S8.7 26.4 15 26.3c6.3-.1 11.3-5.2 11.2-11.5-.1-6.2-5.1-11.2-11.4-11.2"/><path class="st0" d="M14.5 21.6l2.1-2-3.2-3.2H23v-2.9h-9.6l3.2-3.2-2.1-2L8 15z"/></svg>');
}

.add-claims--box {
  text-align: center;
}

.healthcard-container {
  width: 22em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;

  #card-number {
    position: absolute;
    top: 143px;
    left: 200px;
  }

  #card-name {
    position: absolute;
    top: 100px;
    left: 30px;
  }

  #card-date {
    position: absolute;
    top: 174px;
    left: 275px;
  }

  #card-pending {
    position: absolute;
    top: 100px;
    left: 35px;
  }

  .card-text {
    font-size: 14px;
  }

  .card-text--red {
    color: red;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.5em 0 0.5em 0;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
  }

  &#goldcard {
    display: none;
  }

  .healthcard-container--card-tpi {
    position: absolute;
    top: 138px;
    left: 30px;
  }
}

// for dashboard widget
#healthcard-index-container {
  width: 15em;
  display: block;
  margin: 0 auto;
  margin-bottom: -5em;

  #card-number {
    position: relative;
    top: -80px;
    left: -20px;
  }

  #card-name {
    position: relative;
    top: -75px;
    left: -50px;
  }

  #card-date {
    position: relative;
    top: -100px;
    left: 80px;
  }

  .card-text {
    font-size: 14px;
  }
}

// .section-feature--white {
//   background: $white;
//   padding: 30px 0 40px 0;
//   margin: 20px 0 20px 0;

//   h2 {
//     padding-bottom: 0.2em;
//     border-bottom: 1px solid $gray-mild;
//   }
// }

.healthcard-steps div {
  margin: 2em 0 2em 0;
  text-align: center;
  margin: auto;
}

.healthcard-steps img {
  width: 200px;
}

.healthcard-steps .description {
  font-weight: 500;
  font-size: 1.1em;
}

.healthcard-steps p {
  margin: 10px 0 10px 0;
}

/* Tooltip */
.uikit-body a.tooltip__trigger {
  border-bottom: none;
}

.uikit-body a.tooltip__trigger-withlabel {
  .tooltop__trigger-label {
    border-bottom: solid 1px $uikit-colour-Primary;
  }
}

.tooltip {
  width: 80%;
}

@media only screen and (max-width: $medium-handheld) {
  .tooltip {
    width: 100%;
  }
}

.tooltip__body {
  background: $blue-10; // url("../images/ico-info-thin-blue.svg") no-repeat 1em 2.2em;
  background-size: 35px 35px; // explicit dimensions due to buggy SVG rendering in IE.
  border: 1px solid $blue-60;
  border-radius: 0.3em;
  bottom: -2px;
  left: -8px;
  max-width: $uikit-maxwidth;
  opacity: 1;
  outline: medium none;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
  padding: 2em;
  position: absolute;
  z-index: 9100;
}

.tooltip[aria-hidden='true'] {
  display: none;
}

.tooltip[aria-hidden='false'] {
  display: block;
}

.hidden {
  display: none;
}

.tooltip__content {
  width: 80%;
}

.tooltip__trigger-icon {
  background: url(../images/ico-help-mid-gray.svg) no-repeat;
  border-bottom: 0;
  display: inline-block;
  height: 20px;
  margin: $margin-zero;
  width: 20px;
}

.tooltip__trigger {
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  margin-top: 14px;
}

.tooltip__trigger-marker {
  &::before {
    border: 11px solid;
    border-color: $blue-60 transparent transparent;
    content: '';
    display: block;
    height: 0;
    left: 293px;
    position: absolute;
    top: 39px;
    width: 0;
    z-index: 9200;
  }

  &::after {
    border: 10px solid;
    border-color: $blue-10 transparent transparent;
    content: '';
    left: 294px;
    position: absolute;
    top: 38px;
    z-index: 9201;
  }
}

.arrow-triangle {
  background-color: $blue-60;
  text-align: left;
  display: inline-block;
}

.arrow-triangle:before,
.arrow-triangle:after {
  content: '';
  position: absolute;
  background-color: inherit;
}

.arrow-triangle,
.arrow-triangle:before,
.arrow-triangle:after {
  width: 0.5em;
  height: 0.5em;
  border-top-right-radius: 30%;
}

.arrow-triangle.down {
  transform: rotate(-120deg) skewX(-30deg) scale(1, 0.866);
  left: -1px;
  z-index: 9001;
  position: relative;
  top: -18px;
}

.arrow-triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.arrow-triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
