.au-accordion {
  // background: $white;
  border: 1px solid $gray-mild;
  border-radius: $AU-border-radius;
  overflow: hidden;

  .au-accordion__title {
    background-color: $white;

    &:focus {
      outline: none;
    }
  }
}

.au-accordion--open {
  border: 2px solid $blue;
  border-bottom: 0;
  overflow: initial;

}

.au-accordion__body {
  border: 2px solid $blue;
}



.au-accordion__title {
  color: $black;
  text-decoration: none;

  .fal,
  .far {
    padding-right: .5rem;
  }
}