/**********************************
  Controls typeahead styling. This is the list of suggestions that appear for selection 
  when typing the first few characters into a text field. Example: select diagnosis.

**********************************/

.block {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 0 30px;
}
.selected-option {
  margin-bottom: 20px;
}
.s-typeahead-wrapper {
  position: relative;
  width: 100%;
}
.s-typeahead-input {
  z-index: 1;
}


// Needed for correct dropdown rendering
.s-typeahead-list--wrapper {
  position: absolute;
  width: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  .s-typeahead-list {
    width: calc(90% + 16px);
    width: -webkit-calc(90% + 16px);
    width: -moz-calc(90% + 16px);
    max-width: 47.16em; // needed for zoom-out sizing
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    top: -8px;
    box-sizing: border-box;
    list-style: none;
    background: #fff;
    border: 1px solid $gray;
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    .s-typeahead-list-item {
      width: 100%;
      background-color: $white;
    	border-bottom:1px solid $gray-light;
      text-align: left;
      padding: 8px;
      margin: 0;
    }
    .s-typeahead-list-item:last-child {
      border: none;
    }
    .s-typeahead-list-item--selected {
    	background-color: $blue;
    	color: $white;
    	font-weight: 700;
    }
    .s-typeahead-list-item:hover {
    	background-color: $gray-light;
    	color:#000000;
    }
  }
}