/**********************************
	Specific styling for unauthenticated home page

**********************************/

// Max on medicare sample image

.medicare-form img {
	max-width: 375px;
}


// Displaying service history view and edit

.service-details {
	background-color: $feature-background;
	padding: 1.25em 1em 1em 1em;
	position: relative;
	border-radius: 4px;
	margin-bottom: 1em;
	.period {
		background-color: $gray-light;
		text-align: center;
		width: 50px;
		line-height: 1.2;
		padding: 1em 1em;
		float: left;
		span {
			display: block;
			font-weight: bold;
			font-size: 1.2rem;
		}
	}
	ul {
		float: left;
		margin: 0;
	}
	li {
		line-height: 1.2;
		list-style-type: none;
		padding: 0.25em 0;	
		margin: 0;
		&.service-dates {
			position: absolute;
			right: 1em;
			top: 1.25em;
		}
		&.service-branch {
			font-weight: bold;
		}
	}
	.btn-edit,
	.btn-trash {
		background: transparent url(../images/ico-edit.svg) no-repeat 0 0;
	  height: 32px;
	  width: 32px;
	  vertical-align: middle;
	  padding-left: 36px;
	  border: none;
	  &:focus,
	  &:hover {
	  	background: transparent url(../images/ico-edit-hover.svg) no-repeat 0 0;
	    cursor: pointer;
	  }
	  span {
	  	display: none;
	  }
	}	
	.btn-trash {
	  background: transparent url(../images/ico-trash.svg) no-repeat 0 0;
	  margin-left: 2em;
	  &:focus,
	  &:hover {
	  	background: transparent url(../images/ico-trash-hover.svg) no-repeat 0 0;
	    cursor: pointer;
	  }
	}
	.add-service {
		float: left;
		margin: 0 0 0 1.5em;
		.form-group {
			margin: 0 0 1em 0;
			select {
				width: 100% !important;
			}
			label {
				clear: none;
			}
			.floated-date {
				float: left;
				margin-bottom: 1em;
			}
			.margin-right-3em {
				margin-right: 3em;
			}
		}
			p {
				margin-bottom: 0;

			}
	}
}
