.health-card {
  background: $gray-light;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.health-card__label {
  display: inline-block;
  min-width: 150px;
}

.health-card__image {
  height: 224px;
  width: 352px;
}

.health-card--mobile-only {
  display: none;
  margin-left: 6%
}

@media screen and (min-width: $AU-media-md) {
  .health-card__image {
    order: 2;
  }

  .health-card__content {
    display: block;
  }

}

@media screen and (max-width: $AU-media-sm) { 
  .health-card__image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: $AU-media-md) {
  .health-card--mobile-only {
    display: block;
  }

  .health-card {
      flex-direction: column;
  }

  .health-card__content {
    display: none;
    order: 2;
  }
}

@media screen and (min-width: $AU-media-sm) and (max-width: $AU-media-md) {
  .health-card__image {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: $AU-media-xs) and (max-width: $AU-media-md) {
}