.travel-boxes{
  max-width: 210px;
}

.radio-tile--group input[type='radio']:checked + span.travel-boxes {
    background: #eee url('none');
    background-position: right 10px top 10px;
    background-size: 30px 30px;
    border: 1px solid #1057a7;
}

.travel-medical-header{
  background: #eee;
  padding: 20px;
  width: 42em;
}

.travel-medical-table{
  border: solid 1px #eee;
  padding: 20px 0;
  & button{
    margin-left: 15px;
  }

  &.add-btn{
    border-top: 0;
  }
}

.uikit-grid .row.travel-medical-table {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
      .uikit-text-input__label{
        margin-bottom: 0;
      }
}

.old-travel-date.uikit-text-input{
  border: 1px solid #d4d4d4
}
