hr.box-list-top {
  height: 2px; 
  background-color: #000;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0;
}

hr.box-list-divider {
  margin-bottom: 0;
  margin-top: 30px;
}

.category-update {
  color: #2B7DCE;
  // padding-left: 25px;
}

.box-info {
  border-radius: 3px 3px 0 0;
  background-color: rgb(245, 248, 252);
  padding: 10px;
  margin-bottom: 17px;

  h3 {
    color: #2B7DCE;
    margin: 5px 0 5px 0;
    display: inline-block;
  }

  .message {
    margin-bottom: 5px;
  }

  hr {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .legend {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .flag-icon-header {
    color:#2B7DCE;
    display: inline-block;
    margin-right: 4px;
  }

}

.box__table {
  border: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.box__table .td {
  border: 0;
  display: table-cell;
  padding-right: 15px;
}

.box__table .tr {
  border: 0;
  display: table-row;
}

.box-list {
  position: relative;

  h3 {
    display: inline-block;
    margin-top: 0;
  }

  h4 {
    font-weight: 500;
  }

  .flag-icon {
    color:#2B7DCE;
    margin-left: 8px;
  }

  /* for two column layout of lists */

  .listbox {
  width: 360px;
  float: left;
  padding-right: 60px;
}

  li {
    list-style: none;
    padding: 0;
    padding-bottom: 7px;
  }

  ul {
    margin: 0;
    padding: 0 !important;
  }

  &.clearfix:before,
  &.clearfix:after {
    content: "";
    display: table;
  }

  &.clearfix:after {
    clear: both;
  }

}

.box-list__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d4d4d4;
  margin: 0px auto 20px;
}

.box-list__heading {
  margin: 0px;
  padding: 10px 10px 0px 0px;
}

.box-list__add {
  align-items: center;
  padding-top: 20px;
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

// .box {
//   border: 1px solid #d4d4d4;
//   margin: 0 0 1em;
//   padding: 2em;
// }

.box--deleted {
  border: 1px dashed #ccc !important;
}

.box--open {
  margin: 25px auto;
}

.box__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 6px;
}

.box__heading {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 15px;
}

.box__edit-button {
  max-height: 36px;
  width: 61.38px;
}

.box__delete-button {
  min-width: 116px;
  height: 36px;
}

.box h2 {
  max-width: 85%;
}

.box__deleted h2 {
  max-width: 100%;
  margin-bottom: 0px;
}

.edit-content h2 {
  max-width: 80%;
}

@media screen and (max-width: 375px) {
  .box__table .td {
    display: block;
  }

  .box__table .tr {
    margin-bottom: 6px;
    display: block !important;
  }

  .box__header {
    flex-direction: column;

    h2 {
      max-width: 100%;
    }
  }
}

.box {
  margin-bottom: 1em !important;
  position: relative;
}