/**********************************
	Card page

**********************************/

.white-card-image {
  width: 16em;
}

.healthcard-container {
  width: 16em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;

  #card-number {
    position: absolute;
    top: 76px;
    left: 190px;
  }

  #card-name {
    position: absolute;
    top: 70px;
    left: 15px;
  }

  #card-date {
    position: absolute;
    top: 94px;
    left: 210px;
  }

  #card-pending {
    position: absolute;
    top: 75px;
    left: 35px;
  }

  .card-text {
    font-size: 11px;
  }

  .card-text--red {
    color: red;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.5em 0 0.5em 0;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
  }

  &#goldcard {
    display: none;
  }

  .healthcard-container--card-tpi {
    position: absolute;
    top: 138px;
    left: 30px;
  }
}

@media only screen and (min-width: $AU-media-md) {
  .white-card-image {
    width: 22em;
  }

  .healthcard-container {
    width: 22em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;

    #card-number {
      position: absolute;
      top: 108px;
      left: 260px;
    }

    #card-name {
      position: absolute;
      top: 100px;
      left: 30px;
    }

    #card-date {
      position: absolute;
      top: 134px;
      left: 288px;
    }

    #card-pending {
      position: absolute;
      top: 100px;
      left: 35px;
    }

    .card-text {
      font-size: 14px;
    }

    .card-text--red {
      color: red;
      font-weight: bold;
      font-size: 1.3em;
      padding: 0.5em 1.6em 0.5em 1.6em;
      border-top: 2px solid red;
      border-bottom: 2px solid red;
    }

    &#goldcard {
      display: none;
    }

    .healthcard-container--card-tpi {
      position: absolute;
      top: 138px;
      left: 30px;
    }
  }
}

.responsive-media-img {
  width: 100%;
  height: auto;
}

.card-max-width {
  max-width: 376px;
}