.au-accordion {
  // background: $white;
  border: 0;

  // overflow: hidden;

  .au-accordion__title {
    background-color: $white;

    &:focus {
      outline: none;
    }
  }
}

.au-accordion--open {
  // border: 2px solid $blue;
  border-bottom: 0;
  overflow: initial;

}

.au-accordion__body {
  border: 1px solid $blue;
  border-top: 0;
  // border: 2px solid $blue;
}

.au-accordion__body-wrapper {
  border-top: 0;
}

.au-accordion__title {
  border: 1px solid $gray-mild;
  border-radius: $AU-border-radius;
  color: $black;
  overflow: hidden;
  text-decoration: none;

  .fal,
  .far {
    padding-right: .5rem;
  }

  &.au-accordion--open {
    border: 1px solid $blue;
    border-bottom: 0;
    border-radius: $AU-border-radius $AU-border-radius 0 0;
  }


}