/**********************************
	Specific styling for unauthenticated home page

**********************************/

// Max on medicare sample image

.medicare-form img {
	max-width: 375px;
}


// Table for adding service history

.service-history {
	.branch {
		width: 50%;
	}
	.start-date, .end-date {
		width: 25%;
	}
}