/**********************************
	Time box component
	Author: Millie Clery
**********************************/

.timebox--wrapper {
	background-color: $gray-light;
	padding: 3em 2em 3em 2em;
	display:block;
	h2, h3, p {
		overflow: hidden;
		margin:0;
		padding:0;
	}
	p {
		font-size: 1.2rem;
	}
	img {
		float:left;
		width:40px;
		height:40px;
		margin:0 0.8em 0 0;
		vertical-align: middle;
	}
}

// Nominee field

.nominee-details-container {
	margin: 1.5em 0 0 3.25em;
	.uikit-page-alerts--success {
		margin: 0;
	  p {
	  	font-size: 1rem !important;
	  }
		.container {
			padding-left: 0;
		}
	}
}
.nominee-intro {
	font-size: 1rem !important;
	margin-top: 0.5em !important;
}

