// ss-align--center margin-above--mid margin-below--mid


// .banner {
//   @media screen and (min-width: $AU-media-sm) {
//     text-align: left;
//   }

//   padding: .4em 0;
//   text-align: center;

//   p {
//     margin-bottom: 0;
//   }
// }

// .banner--info {
//   @media screen and (max-width: $AU-media-sm) {
//     .fa-stack {
//       display: none;
//     }
//   }

//   background-color: $blue-super-light;

//   .fa-stack {
//     font-size: 1.2em;
//     margin-top: -6px;
//     padding-top: 3px;
//   }

//   .fal {
//     // color: $white;
//   }

//   .fa-user-edit {
//     font-size: .8em;
//     padding-left: .2em;
//   }
// }


.container-alert {
  background-color: $blue-dark;
}


.landing-page {
  .container-alert {
    background-color: $white;
  }
}

%banner {
  padding: .5em 0;
}

%banner__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

%banner__item {
  max-width: 50%;
}

.banner {
  @extend %banner;
}

.banner--info {
  background-color: $blue-super-light;
}

.banner__container {
  @extend %banner__container;
}

.banner__item {
  @extend %banner__item;
  margin: 0 2em;
}

.banner__item--float-right {
  // margin-left: auto;
}

// TODO:: change these names to conform to BEM 
.provisional-state {
  @extend %banner;
  background-color: $orange-mid;
}

.provisional-state-container {
  @extend %banner__container;
}

.provisional-state-item {
  @extend %banner__item;
}

.provisional-state__icon {
  padding: 0 1em 0 .5em;
  width: 80px;
}