
.quick-links__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.quick-links {
    margin-bottom: 50px;
}

.quick-link {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  .quick-link__heading {
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__heading a {
    border-bottom: solid 1px black;
  }
}

