// TODO:: looks like this scss file is no longer used. Check and delete.


.mys-datalist {
  border-collapse: collapse;
  display: table;
  margin: 2em 0;
  width: 100%;
}

.mys-datalist__item {
  border: 0 solid $gray-mild;
  border-top-width: 1px;
  padding-bottom: 1em;
  padding-left: floor(($uikit-grid-12-gutter-width / 2));
  padding-right: ceil(($uikit-grid-12-gutter-width / 2));
  padding-top: 1em;

  &:last-child {
    border-bottom-width: 1px;
  }

  @include uikit-media('xs') {
    display: table-row;

    >* {
      border: solid $gray-mild;
      border-width: 1px 0;
      display: table-cell;
      padding-bottom: 1em;
      padding-left: floor(($uikit-grid-12-gutter-width / 2));
      padding-right: ceil(($uikit-grid-12-gutter-width / 2));
      padding-top: 1em;
    }
  }

}

.mys-datalist__title {
  @include uikit-media('xs') {
    width: 25%;
  }

  font-weight: 700;
}

.mys-datalist__action {
  @include uikit-media('xs') {
    margin: 0;
    width: 25%;
  }

  margin-top: .5em;

}