/**********************************
	Specific typographic styling

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

h1 span {
    font-size: 1.5rem;
    color: #666;
}


// Table styling

table {
    border-spacing: 0;
    border: 1px solid $gray-light;
    width: 100%;    
    margin-bottom: 2em;        
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;  
    td, 
	th {
	    padding: 0.75em 0.5em 0.75em 1em;
	    text-align: left;  
	    vertical-align: top;  
	}
	th {
	    background-color: $gray-light;
	    border-top: none;
	    text-align: left;
	}
	td {
	  border-bottom: 1px solid $gray-light;
	  background-color: white;
	}
	.centred {
		text-align: center !important;
	}
}


}