.health-card {
  background: $gray-light;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.health-card__label {
  display: inline-block;
  min-width: 150px;
}

@media screen and (max-width: $AU-media-xs) { 
  .health-card__image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: $AU-media-md) {
  .health-card--mobile-only {
    display: block;
  }

  .health-card__content {
    display: none;
  }
}

@media screen and (min-width: $AU-media-sm) and (max-width: $AU-media-md) {
  .health-card__image {
    width: 90%;
    height: auto;
    text-align: center;
  }
}

@media screen and (min-width: $AU-media-md) {
  .health-card__content {
    display: block;
  }

  .health-card__image {
    height: 224px;
    width: 352px;
  }
}