/**********************************
	Footer controls the gov crest logo and legal content links within the footer of most pages.

**********************************/

.uikit-footer--gradient {
    background: $gray-light; /* For browsers that do not support gradients */
/*	  background: linear-gradient($gray-light, $white);*/ /* Standard syntax */ /* IE can't handle it */
    background: -webkit-linear-gradient($gray-light, $white); /* For Safari */
    background: -o-linear-gradient($gray-light, $white); /* For Opera */
    background: -moz-linear-gradient($gray-light, $white); /* For Firefox */
}
	
.uikit-footer {
	padding-bottom: 3.5em;
	img {
		display: block;
		max-width: 300px;
        max-height: 64px;
		text-align: center;
		margin: 0 auto 1em auto;
	}
	.uikit-link-list--inline {
		width: 100%;
		text-align: center;
	}
	hr {
		border-top: 1px solid #c4c4c4;
		padding:0px;
		margin:1em 0 1em 0;
	}
	ul {
		max-width: 100%;
	}
}

	
@media only screen and (min-width: $medium-handheld) {
	.uikit-footer {
		padding-bottom: 1.6em;
	}
}

	
@media only screen and (min-width: $medium-tablet) {
	.uikit-footer {
		img {
			display: inline-block;
			max-width: 300px;
			text-align: left;
			margin: 0.5em 0 1em 0;
		}
		.uikit-link-list--inline {
			width: auto;
			text-align: right;
		}
	}
}
