.mys-mygov-header {
  background: $white;
  background: linear-gradient(#eee, #fff);
  border-bottom: 4px solid #1057a7;
  margin-bottom: 2em;
  min-height: 3em;
  padding: .25em 0 0;
}

.mys-mygov-header--logo {
  border: 0;
  height: 3em;
  padding: .2em 0;
}

.mys-mygov-content {
  font-weight: 600;
  font-size: 1.2em;
}


.mys-mygov-content--frame {
  @include uikit-media(xs) {
    padding: ($uikit-grid-12-gutter-width);
  }

  border: 1px solid $gray-mild;
  padding: ($uikit-grid-12-gutter-width / 2);
}

.mys-mygov-footer {
  background: linear-gradient($gray-light, $white);
  border-top: 4px solid #333;
  margin-top: 4em;
}