// input.current {
//   width: 30%;
//   border: none !important;
//   font-weight: bold;
//   padding-left: 0px;
//   margin-bottom: 0px;

//   &:hover,
//   &:focus {
//     border: none !important;
//     -webkit-box-shadow: none;
//     box-shadow: none;
//   }
// }

// input.days {
//   width: 15em;
// }

.lsa-submitted.transition-content {
  overflow: visible;
}

.lsa-amount-request {
  background: #fff;
  border: 1px solid #eee;
  border-spacing: 0;
  margin-bottom: 2em;
}

.border-right-lsa {
  border-right: solid;
}

.text-align-center-lsa {
  text-align: center;
}

.vertical-dash-hack-lsa {
  border-bottom: solid;
  margin-left: 5px;
  margin-top: -15px;
  max-width: 5%;
}

// .lsa-currency-bg {
//   background: #eee;
// }


// .pipe {
//   margin-left: 15px;
// }

// #btnQueryString {
//   width: 100%;
// }

.currency-box {

  padding: 2.2em 0.8em .2em 1.84em;
  position: relative;
}

.currency-box--top {
  border: 1px solid $gray-light;
  position: relative;

  &::before {
    border-top: 7px solid $blue;
    content: $content-blank;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.currency-box--bottom {
  background-color: $blue-10;
  border-bottom: 6px solid $blue;
  padding: 1.8em 0.8em 1em 1.84em;

  .legend-label {
    font-weight: normal;
  }
}