/**********************************
	Components are small re-usable utility classes that can be used to extend or override existing elements.
	For example: floats, clearfix, claim flow help button and visually hidden classes for screen readers.

**********************************/


.uikit-callout {
	background-color: $gray-light;
	border-radius: 6px;
	padding: 1em 2em;
	margin-bottom: 2em;
}


// Float right for wider displays

@media only screen and (min-width: $small-handheld) {
	.floated {
	    float: right;
	    margin-right: 0em;
	    margin-left: 0.25em;
	}
}

// Float right for mobile displays
.floated {
	&.floated--always {
		float: right!important;
	    margin-right: 0em;
	    margin-left: 0.25em;
	}
}	

	
//Box for Tips
	
.tip--wrapper {
	
	border-left:4px solid $blue-60;
	background: $blue-10 url(../images/ico-info-thin-blue.svg) no-repeat 1em 2.2em;
	background-size: 35px 35px; // explicit dimensions due to buggy SVG rendering in IE.
	padding:2em 2em 2em 4em;
	display:block;
	margin-bottom: 1.5em;
	max-width: $uikit-maxwidth;

	h2, h3 {
		overflow: hidden;
		font-size: 1.6rem;
		font-weight: 400;
		margin-top:0;
		clear: none;
	}
	h3 {
		font-size: 1.4rem;
	}
	img {
		float: left;
		height: 38px;
		width: 38px;
		vertical-align: middle;
		margin: 0.2em 0.6em 0 0;
		opacity: 0.6;
	}
	ul {
		margin-bottom:0;
	}
	.figure {
		width: 100%;
		max-width: 300px !important;
		height: auto;
		opacity: .85;
		vertical-align: top;
	}
	&.tip-warning {
		border-left:4px solid $orange;
		background: $gray-light url(../images/ico-info-thin-orange.svg) no-repeat 1em 2.2em;
		background-size: 35px;
		h3 {
			color:$orange--20;
			margin-top:0.2em;
			font-weight:bold;
		}
		p {margin-bottom:0.3em;}
		button {margin-top:1em;}
	}
}



//Page preloader
	
.page-preloader {
	text-align: center;
	margin:3em 0 3em 0;
	img{
		width:80px;
		height:80px;
		animation: spin linear 1s infinite;
	}
}

// Toggle styled radio buttons - must render on mobile width screens without wrapping
// ------------------------------------------------------------------------------------------------------

.radio-toggle {

	label {
		float:left;
		width: 140px;
		margin: 0 0 1.5em 0;
		background-color:#EFEFEF;
		border-radius: 4px;
		padding: 0;
		border: 1px solid #D0D0D0;
		overflow: visible;       

		&.label-left, &.label-left span {
			border-radius: 4px 0 0 4px;
			border-right: 0;
		}
		
		&.label-right, &.label-right span {
			border-radius: 0 4px 4px 0;
		}

		&.label-middle {
			border-left: 1px solid #D0D0D0;
			border-right: 0;
			border-radius: 0;
		}

		&:hover,
		&focus {
			background-color:#fff;
		}

		span {
			text-align:center;
			padding: 10px 0;
			display:block;
			cursor: pointer;
		}
		
		input {
            width: 1px;
            height: 1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
	        left: -9999px;
		}
	}
	
	input:focus + span {
		background-color: $input-focus;
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
		padding: 9px 0;
		border: 1px solid $blue;
	}
	
	input:checked + span {
		box-shadow: inset 0px 1px 2px 2px rgba(0,0,0,0.1);
		background: $blue;
		color: #FFFFFF;
		border-color: #2366a1;
	}
	
	input:checked:focus + span {
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
	}
	
	input + span:hover,
	input + span:focus {
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
	}
}


// Visually hidden

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Clearfix hack

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { 
  display: block;
  clear: both;
}
/* close commented backslash hack */


// Used to draw special attention to content, like a callout

.timebox--wrapper {
	background-color: $gray-light;
	padding: 3em 2em 3em 2em;
	display:block;
	h2, h3, p {
		overflow: hidden;
		margin:0;
		padding:0;
	}
	p {
		font-size: 1.2rem;
	}
	img {
		float:left;
		width:40px;
		height:40px;
		margin:0 0.8em 0 0;
		vertical-align: middle;
	}
}


// Help button available on claim flow screens

.btn-panel-help {
	position: fixed;
	z-index: 999;
	right: 0;
	bottom: 0.5em;
	width: auto;
	padding: 0;
	.uikit-btn--help {
		background-color: #eeeeee;
		color: #444444;
		display: inline-block;
		-webkit-border-radius: 5px 0 0 5px !important;
		border-radius: 5px 0 0 5px !important;
		border: 1px solid #444444;
		border-right: none;
		margin-right:-1px;
		padding: 30px 13px 5px 13px;
		background: #eeeeee url(../images/ico-help-gray.svg) no-repeat center 10px;
		background-size: 20px 20px;
		box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
		&:focus,
		&:hover {
			color: white;
			background: #043c75 url(../images/ico-help-white.svg) no-repeat center 10px;
			background-size: 20px 20px;
		}
	}
}


// External link icon
.external-link {
	background: url(../images/ico-external-blue.svg) no-repeat right 2px;
	padding-right: 24px;
	background-size: 16px 16px;
}
.external-link-white {
	background: url(../images/ico-external-white.svg) no-repeat right 2px;
	background-size: 16px 16px;
}


// Float content beside images

.float-content {
	float: left;
margin-right: 2em!important;
}
.float-image-left {
	float: left;
	margin-right: 2em;
}

// Imitate a <br>

.line-break-after {
margin-bottom:1.6em;
}

// add spacing before the element
.space-before {
margin-top:1em;
}

// removes any spacing before the element
.no-space-before {
margin-top:0px!important;
padding-top:0px!important;
}

// removes any spacing after the element
.no-space-after {
margin-bottom:0!important;
padding-bottom:0!important;
}

// summary box styling

.summary-box {
	width: $uikit-maxwidth;
	.summary--header {
		h2 {
			color:$green-dark;
		}
	}
	.summary--content {
		background-color:#eeeeee;
		padding:2em;
		h3 {
			font-size:0.9em;
		}
		h2 {
			margin-bottom:0.2em;
		}
	}
}

// wave border style

.wave{
  background: white;
  height: 80px;
  position: relative;
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, #eeeeee 13px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, #eeeeee 12px, transparent 13px);
}