//Hide widgets on initial load for a smoother loading experience
.widget-profile,
#widget-payment,
#widget-claims,
#welcome-message,
#profile-message {
  display: none;
}

.widget-tile {
  @include uikit-media(sm) {
    max-width: 370px;
  }

  background: $off-white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px $gray-mild;
  flex-grow: 1;
  height: 102px;
  margin: .5em .5em 15px;
  overflow: hidden;
  width: 100%;

  button {
    border: 0 !important;
    width: 100%;
    padding: 0;
  }

  p {
    line-height: 1.45em;
    margin: 0;
  }
}

.widget-tile--full-width {
  border-left: 4px solid $blue;
  height: auto;
  margin: .5em;
  max-width: 100% !important;
  min-height: 126px;
  padding: 8px 20px;
  width: 1112px;
}

.widget-tile--half-width {
  max-width: 100%;
}

.widget-tile__tasks {

  .widget-tile__title {
    background: $radical-red;
  }

  .widget-number {
    color: $radical-red;
  }
}

.widget-tile__payment {
  .payment-amount {
    color: #2b7dce;
    font-size: 32px;
    line-height: 1.2em;
  }
}

.widget-tile span {
  //TODO Can we remove the default underline on spans in myservice-typography?
  border-bottom: 0;

  &:hover {
    background: transparent;
  }
}

.widget-tile--blue-mid {

  .payment-amount,
  .widget-tile__title-icon {
    color: $black;
  }

  .widget-tile__title {
    background: $blue-light;
  }
}

.widget-tile--blue-light {
  .fa-edit {
    color: $blue-light;
  }
}

.widget-tile__title {
  align-items: center;
  background: $blue;
  box-shadow: 0 1px 2px 0 $rgba-gray;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 34px;
  justify-content: space-between;
  padding: 10px 12px;

  span {
    color: $white;
  }
}

.widget-tile__title-icon {
  color: $white;
  font-size: 22px;
}

.widget-tile__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 69px;
  justify-content: center;
  padding: 12px;
  font-size: 13.6px;
}

.mobile-hide {
  display: none;
}

.claims-tile {
  justify-content: center;
}

.widget-tile__content--fullwidth {
  width: 100%;
}

.hide-on-small {
  display: none;
}

.widget-tile__stats {
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 13.6px;
  justify-content: center;
  padding: 0 15px 0 0;
}

.profile-content {
  align-items: flex-start;
}

.payment-amount {
  color: $payments-blue;
  font-size: 25px;
  line-height: 1.1em;
}

.fa-edit {
  color: #1377b7;
  display: none !important;
  padding-right: 10px;
}

.pt-fa-edit--size {
  font-size: 20px;
}

.authenticated-home {
  .home__seperator {
    margin: 25px 18px 10px;
    max-width: 1112px;
  }

  .container {
    max-width: 1142px;
  }
}

.widgets-container {
  padding: 0 !important;
}

.message__mobile-hide {
  display: none;
}

.tablet-hide {
  display: none;
}

.widget-tile__stats:nth-child(1) {
  margin-bottom: 10px;
}

.profile-content {
  justify-content: center;
  line-height: 1.3em;
  padding: 9px;
}

.widget-profile {
  .widget-tile__title {
    background: $blue-light;
  }
}

.tablet-message::first-letter {
  text-transform: capitalize;
}

@media only screen and (min-width: $AU-media-xs) {
  .widgets-container {
    margin: 0 12px !important;
  }

  .authenticated-home {
    .heading--greeting {
      padding: 0 20px;
    }
  }
}

.widget-payment {
  .widget-tile__title {
    background: $payments-blue;
  }
}

.widget-tile__tasks {
  &:hover {
    border: 0;
    border-left: 0;
    cursor: pointer;
  }
}


@media only screen and (min-width: $AU-media-lg) {

  //TODO replace this with uikit-media after speaking to Luke
  .widget-tile {
    border: 1px solid transparent;
    border-left: 4px solid $blue;
    height: 126px;

    &:host {
      flex: 1;
    }
  }

  .hide-on-small {
    display: inline;
  }

  .widget-tile__title-text {
    font-size: 16px;
  }

  .widget-tile__title {
    height: 42px;
  }

  .authenticated-home {
    .intro {
      max-width: 100%;
    }
  }

  .mobile-hide {
    display: block;
  }

  .tablet-hide {
    display: inline;
  }

  .widget-profile {
    .widget-tile__title {
      background: $white !important;
    }

    .profile-content {
      padding: 16px;
    }
  }

  .widget-tile__stats:nth-child(1) {
    margin-bottom: 0 !important;
  }

  .widget-tile--full-width {
    border-left: 4px solid $blue;
    max-width: 100%;
  }

  .widget-tile--half-width {
    max-width: 100%;
  }

  .widget-tile__content {
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    height: 83px;
    padding: 10px 20px;
    
  }

  .widget-tile__stats {
    font-size: 16px !important;
  }

  .widget-number {
    font-size: 32px;
  }

  .widget-number--red {
    color: $radical-red;
  }

  .widget-tile--blue {
    &:hover {
      border: 1px inset $blue;
      border-left: 4px solid $blue;
    }

    .widget-tile__title-icon {
      color: $black;
    }
  }

  .widget-payment {
    border-left: 4px solid $payments-blue;

    .widget-tile__title-icon {
      color: $black;
    }

    .payment-amount {
      color: $payments-blue;
    }

    .widget-tile__title {
      background: $white;
    }

    &:hover {
      border: 1px solid $payments-blue;
      border-left: 4px solid $payments-blue;
    }
  }

  .widget-tile__title {
    background: $white;
    padding: 10px 20px;

    .widget-tile__title-text {
      color: $black;
    }
  }

  .widget-tile--blue-light {
    border-left: 4px solid $blue-light;

    &:hover {
      border: 1px inset $blue-light;
      border-left: 4px solid $blue-light;
    }

    .widget-tile__title-icon {
      color: $black;
    }

  }

  .widget-tile--blue-mid {
    border-left: 4px solid $blue-mid;

    &:hover {
      border: 1px inset $blue-mid;
      border-left: 4px solid $blue-mid;
    }

    .widget-tile__title {
      background: $white;
    }

    .payment-amount {
      color: $blue-mid;
      font-size: 32px;
      line-height: 1.2em;
    }

  }

  .widget-tile__title-icon {
    color: $black;
    font-size: 25px;
  }

  .claims-tile {
    justify-content: flex-start;
  }

  .profile-content {
    font-size: 16px;

    .fa-edit {
      display: inline !important;
    }
  }

  .widget-tile__content--tasks {
    align-items: center;
    justify-content: flex-start;
  }

  .widget-tile__tasks {
    border-left: 4px solid $radical-red;

    &:hover {
      border: 1px solid $radical-red;
      border-left: 4px solid $radical-red;
    }

    .widget-tile__title-icon {
      color: $black;
    }

    .widget-tile__title {
      background: $white;
    }
  }
}

@media only screen and (min-width: $AU-media-md) {
  .authenticated-home {
    .intro {
      max-width: 800px;
    }
  }

  .message__mobile-hide {
    display: inline !important;
  }
}

@media only screen and (min-width: $AU-media-lg) {
  .intro {
    .flex-container {
      padding: 0px !important;
    }
  }

  .authenticated-home {
  
    .intro {
      max-width: 100%;
    }

    h1 {
      padding: 0 24px !important;
    }
  }

  .widget-tile {
    .profile-content {
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;
    }
  }

  .tablet-hide {
    display: inline;
  }
}


// POC loading widget 
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

%widget-tile--loading-ph {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, $gray-light 8%, darken($gray-light, 05) 18%, $gray-light 33%);
  // background: linear-gradient(to right, $gray-light 8%, $gray-light 18%, darken($gray-light, 05) 33%);


  background-size: 800px 104px;
  position: relative;

}



.widget-tile__content {
  animation: fade-in 1s;
}

.widget-tile--loading {

  .widget-tile__content {
    @extend %widget-tile--loading-ph;

    height: 11px;
    margin: 2.2em 1em 1em;
    padding: 5px;
    width: 85%;

    &::before,
    &::after {
      @extend %widget-tile--loading-ph;

      content: $content-blank;
      height: 6px;
      left: 0;
      margin: 0;
      padding: 5px 0 0;
      position: absolute;
    }

    &::before {
      top: -20px;
      width: 85%;
    }

    &::after {
      top: 20px;
      width: 60%;
    }

    >div,
    >span {
      display: none !important; // this is only important because of other "!important" uses in this file. Need to remove all of them! 
    }
  }
}

.widget-ang-component {
  display: flex;
  flex: 1;
}

//TODO remove the below temporary fix

#widget-payment .widget-tile__content {
  flex-direction: column;
}

@media(max-width: 679px) {
  .widgets-container {
    flex-wrap: wrap;
  }

  .widget-tile {
    max-width: 45%;
  }

  .authenticated-home {
    .home__seperator {
      display: none;
    }
  }
}

@media (max-width: 344px) {
  .widget-tile {
    max-width: 100%;
  }
}

.handheld-hide {
  display: none;
}

@media(min-width: 425px) {
  .handheld-hide {
    display: inline-block;
  }
}

@media only screen and (min-width: 679px) and (max-width: 1200px) {
  .tablet-hide {
    display: none;
  }

  .mobile-hide {
    display: block;
  }
}

@media only screen and (max-width: 679px) {
  .tablet-hide {
    display: block;
  }

  .mobile-hide {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .tablet-hide {
    display: block;
  }

  .mobile-hide {
    display: block;
  }
}

// styles for widget callouts

.widget-callout {
  background-color: white;
  border-left: 4px solid transparent !important;
  height: auto;
  margin-bottom: 15px;
  min-height: auto;
}

.widget-callout__header {
  display: flex;
  flex-direction: row;
}

.widget-callout__message {
  max-width: 780px;
  padding-bottom: 7px;
}

.widget-callout__close {
  cursor: pointer;
  margin-left: auto;
}