.health-cards__main {
  background: $gray-light;
}

.health-card {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  border-radius: 1%;

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.health-card__image {
  width: 100%;
  height: auto;
  z-index: 2;
  margin: 0 auto;
  border-radius: 1.5%;
  box-shadow: 0 0 10px 2px $gray-mid;
}

.health-card .health-card__card-toggle {
  background: none;
  border: none;
  color: $blue-mid;
  outline: none;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;

  &[data-position="outside"] {
    margin: 0.5em 0 0 0;
    text-align: left;
    order: 2;
  }

  &[data-position="inside"] {
    order: 2;
    margin: 0.4em 1em 0 0;
  }

  &:hover, &:focus {
    background: none;
  }
}

.health-card__label {
  display: inline-block;
  min-width: 150px;
}

.health-card__card-info {
  display: flex;
  width: 100%;
  margin: -0.5em auto 0 auto;
  z-index: 1;
  flex-direction: column;
}

.health-card__inner-card-info, .health-card__extras {
  width: 92.5%;
  margin: 0 auto;
  display: none;
}

.health-card__inner-card-info {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.5em;

  .health-card__detail {
     margin: 0.5em 0;
  }
}


.health-card__extras {
  margin-top: 0.25em;
  margin-bottom: 1em;
  flex-direction: column;

  .accordion {
    margin-top: 0.5em;

    .accordion-button {
      color: $blue-mid;
    }
   
    .accordion-content {
      & > :first-child {
        margin-top: 1em;
      }
    }
  }
}

hr.non-breaking-hr {
  margin: 0;
  padding: 0.1em 15em 0.1em 0;
  width:  20%;
}


@media screen and (min-width: $AU-media-sm) {
  .health-card__image {
    height: 224px;
    width: 352px;
    order: 2;
  }

  .health-card__card-toggle {
    display: none;
  }

  .health-card__card-info {
    display: flex !important;
  }

  @media screen and (min-width: $AU-media-md) {
    .health-card__extras {
      width: 60%;
      
    }
  }
}