// This SASS file controls the layout of all headers and responsive handling of 
// primary navigation while it still exists in the header. Examples: unathenticated header, 
// authenticated dashboard header and reduced height headers for claim and registration flows.


// Default: Blue background for authenticated pages
header {
  // background: $blue url('../images/bg-header-auth.jpg') no-repeat 0 0;
  background-image: url('../images/bg-header-auth.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 3.5em;


  p {
    color: $white;
  }

  .logo-myservice {
    border: 0;
    height: 100%; // needed for buggy IE SVG rendering
    max-width: 200px;
    padding: .4em 0 0;
  }

  // Override: Reduced height for claim flow
  &.reduced-header {
    min-height: 4.5em;

    .logo-myservice {
      max-width: 200px;
      padding: .85em 0 0;
    }
  }

  // Override: White background for unauthenticated landing page

  &.landing-page {
    background: $white;
    min-height: 3em;
    padding: .25em 0 0;

    img {
      border-right: 1px solid $gray;
      float: left;
      margin: 0.35em 1em 1em 0;
      max-width: 150px;
      padding: 0 1em 0 0;
      width: 100%;

      &.logo-myservice {
        border-right: 0;
        max-width: 135px;
        padding: .6em 0 0;
      }
    }

    .header-login {
      display: none;
    }
  }

  &.landing-page--borderless-images {
    img {
      border: 0;
    }
  }

  &.landing-page--gradient {
    background: linear-gradient($gray-light, $white);
  }
}

// end header

@media only screen and (min-width: $AU-media-md) {
  header {
    min-height: 6em;

    .logo-myservice {
      float: left;
      max-width: 220px;
      padding: 1.9em 0 0;
    }

    &.landing-page {
      img {
        margin: 0.5em 1.25em 1em 0;
        max-width: 180px;
        padding: 0 1.25em 0 0;

        &.logo-myservice {
          max-width: 185px;
        }
      }

      .header-login {
        display: inline-block;
        // float: right; // float doesn't work on inline
        list-style-type: none;
        padding: .75em 0 0;
        text-align: right;
      }
    }
  }
}

@media only screen and (min-width: $AU-media-lg) {

  // @media only screen and (min-width: 992px) {
  header {
    .logo-myservice {
      max-width: 250px;
      padding: 1.75em 0 0;
    }

    &.landing-page {
      img {
        margin: .75em 1em 1.5em 0;
        max-width: 240px;
        padding: 0 1em 0 0;

        &.logo-myservice {
          max-width: 300px;
        }
      }

      .header-login {
        padding: 1.4em 0 0;
      }
    }
  }
}

// Menu button that appears at narrow widths

.toggle {
  background-color: $black;
  background-image: url('../images/ico-menu-open.svg');
  background-position: 1em .7em;
  background-repeat: no-repeat;

  background-size: 20px 20px;
  border: 0;
  border-radius: $uikit-border-radius;
  color: $white;
  display: block;
  float: right;
  font-size: 1em;
  margin-top: 0.4em;
  padding: .7em .7em .7em 2.8em;

  &:focus,
  &:hover {
    background-color: $black;
    cursor: pointer;
  }
}

.uikit-body {
  .menu {

    background-color: $blue-dark;
    box-shadow: 0 8px 8px 0 $rgba-black-20;
    display: none;
    margin: 0 0 .5em;
    max-width: inherit;
    padding: 0;
    width: 100%;
    // Can't see why this is needed and it causes issues with tooltip
    // z-index: 101;

    &.is-active {
      display: block;
    }


    li {
      display: block;
      list-style-image: none;
      margin: 0;
      padding: 0;

      a {
        background-position: 0.5em 50%;
        background-repeat: no-repeat;
        background-size: auto 20px;
        color: $white;
        display: block;
        line-height: 1.4;
        margin: $margin-zero;
        overflow: hidden;
        padding: 1em 1em 1em 2.5em;
        text-align: left;
        text-decoration: none;

        &:focus,
        &:hover {
          background-color: $rgba-black-20;
          // border: 0 0 10px;
          // border: 0;
          outline: 0;

        }

        &.header-home {
          background-image: url('../images/home-light.svg');
        }

        &.header-claims {
          background-image: url('../images/file-edit-light.svg');
        }

        &.header-payments {
          background-image: url('../images/calendar-check-light.svg');
        }

        &.header-travel {
          // background-image: url('../images/car-side-light.svg');
          background-image: url('../images/car-side-light.svg');
        }

        &.header-profile {
          background-image: url('../images/user-circle-light.svg');
        }

        &.header-healthcard {
          background-image: url('../images/money-check-light.svg');
        }

        &.header-myaccount {
          background-image: url('../images/exchange-light.svg');
        }
      }
    }
  }
   .menu2 {

    background-color: green;
    box-shadow: 0 8px 8px 0 $rgba-black-20;
    display: block;
    margin: 0 0 .5em;
    max-width: inherit;
    padding: 0;
    width: 100%;
    // Can't see why this is needed and it causes issues with tooltip
    // z-index: 101;

    &.is-active {
      display: block;
    }


    li {
      display: block;
      list-style-image: none;
      margin: 0;
      padding: 0;

      a {
        background-position: 0.5em 50%;
        background-repeat: no-repeat;
        background-size: auto 20px;
        color: $white;
        display: block;
        line-height: 1.4;
        margin: $margin-zero;
        overflow: hidden;
        padding: 1em 1em 1em 2.5em;
        text-align: left;
        text-decoration: none;

        &:focus,
        &:hover {
          background-color: $rgba-black-20;
          // border: 0 0 10px;
          // border: 0;
          outline: 0;

        }

      }
    }
  }

}


.menu-closed {
  background-image: url('../images/ico-menu-close.svg');
  background-position: 1em 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;

  &:focus,
  &:hover {
    background-color: $black;
    background-image: url('../images/ico-menu-close.svg');
    outline: 0;
  }
}

// Navigation triggered by menu button on narrow screens


// Visible navigation on wider screens
@media only screen and (min-width: $AU-media-md) {
  .uikit-body {
    .menu {
      background-color: transparent;
      box-shadow: none;
      display: block;
      float: right;
      margin: 0 !important;
      padding: 0 !important;
      position: relative;
      text-align: right;
      width: auto;

      li {
        display: inline-block;

        a {
          background-position: 50% 18px;
          background-repeat: no-repeat;
          background-size: 100% 30px;
          border-bottom: 10px solid transparent;
          display: inline-block;
          line-height: 2.4;
          margin: 0 0 -6px;
          overflow: hidden;
          padding: 2.75em 0.6em 0.25em !important;
          text-align: center;
          text-decoration: none;

          &.nav-active {
            background-color: $blue-mid-alt;
            border-bottom: 10px solid $orange !important;
            border-left: 0;
          }

          &:focus,
          &:hover {
            border-bottom: 10px solid transparent;
          }
        }
      }
    }
    .menu2 {
      background-color: transparent;
      box-shadow: none;
      display: block;
      float: right;
      margin: 0 !important;
      padding: 0 !important;
      position: relative;
      text-align: right;
      width: auto;

      li {
        display: inline-block;

        a {
          background-position: 50% 18px;
          background-repeat: no-repeat;
          background-size: 100% 30px;
          border-bottom: 10px solid transparent;
          display: inline-block;
          line-height: 1.55;
          margin: 0 0 -6px;
          overflow: hidden;
          padding: 1.2em 0.6em 0.25em !important;
          text-align: center;
          text-decoration: none;

          &.nav-active {
            background-color: $blue-mid-alt;
            border-bottom: 10px solid $orange !important;
            border-left: 0;
          }

          &:focus,
          &:hover {
            border-bottom: 10px solid transparent;
          }
        }
      }
    }
  }

  .toggle {
    display: none;
  }
}