.tasks-list {
  border: 1px solid grey;
  border-radius: 5px;
}

.task {
  align-items: center;
  background: $white;
  border-bottom: 1px solid $gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 93px;
  padding: 20px 30px;

  &:last-child {
    border-bottom: 0;
  }
}