@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes mergeDown {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 12.1px);
  }
}

@keyframes mergeUp {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -12.1px);
  }
}

@keyframes chev-2 {
  0% {
    // d: path("M46.8,0.2L75.9,24.6L67.3,33.2L37.569,8.112L46.8,0.2Z");
 
  }

  100% {
    fill: $green;

    // d: path("M22.166,15.027L40.007,33.532L32.37,41.494L13.8,23.042L22.166,15.027Z");

    // d: path("M57.18,0.343L65.352,8.711L32.297,41.173L32.005,25.979L57.18,0.343Z");
 
  }
}

@keyframes chev-1 {
  0% {
    // d: path("M33.298.181C29.585.24 28.7-.2 25.6 2.3 16.3 10 0 25 0 25l8.9 7.8L46.8.2 33.298.181z");
 
  }

  100% {
    // d: path("M57.458,0.731C53.745,0.79 33.803,24.441 30.703,26.941C27.814,30.072 24.635,33.443 24.635,33.443L32.338,41.515L65.456,8.635L57.458,0.731Z");

    // d: path("M22.041,15.201C22.041,15.201 18.742,17.718 17.484,19.025C15.792,20.782 13.601,23.115 13.601,23.115L32.342,41.225L32.388,25.601L22.041,15.201Z");
    fill: $green;
  }
}

@keyframes turnGreen {
  100% {
    fill: $green;
  }
}

$base-time: 0.8s;

.chev-1 {
  animation-delay: 3.5s, 4.5s;
  animation-direction: normal;
  animation-duration: $base-time, 0.4s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: mergeDown, chev-1;
  animation-play-state: running;
  animation-timing-function: ease-in-out, ease-in;
}

.chev-2 {
  animation-delay: 3.5s, 4.5s;
  animation-direction: normal;
  animation-duration: $base-time, 0.4s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: mergeDown, chev-2;
  animation-play-state: running;
  animation-timing-function: ease-in-out, ease-in;
}

.chev-3,
.chev-4 {
  animation-delay: 3.5s, 4s;
  animation-direction: normal;
  animation-duration: $base-time, $base-time;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: mergeUp, fadeOut;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

.claim-end {
  // text-align: center;
  min-height: 30em;

  h1 {
    color: $blue;
  }

  .timebox--wrapper {
    color: $blue;
  }
}

.cantered-item {
  text-align: center;

  p {
    max-width: initial;
  }
}

.star-rating--wrapper {
  padding-top: 0;

  h3 {
    font-size: 1em;
  }
}
