/**********************************
	Specific styling for Service pension claim flow.

**********************************/

.help-field {
  padding-left: 40px;
  font-size: .8em;
  margin-top: -10px;
  display: flex;
  font-weight: 400;
}

.title-width {
  max-width: 200px;
}

.text-field-width {
  max-width: 100px !important;
  float:left;
  margin-right:0px !important;
}

.text-float-left {
  float:left;
  margin-top:10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left:5px;
}

.text-float-right {
  float:right !important;
}
