/**********************************
	Specific help button styling

**********************************/

// Help Button styling - used across Add Cover pages

.uikit-refactor {
.btn-panel-Help {
    right: 0;
    margin-top: 10vh;
    padding: 0;
    position: fixed;
}
.uikit-btn--help {
    background-color: #fff;
    color: #313131;
    border: 1px solid #0756a4;
    -webkit-border-radius: 3px 0 0 3px !important;
	border-radius: 3px 0 0 3px !important;
    border-right: none;
    &:focus,
    &:hover {
	    color: white;
	    background-color: #043c75;
    }
}
.uikit-btn--help {
    background-color: #fff;
    border: 1px solid #0756a4;
    color: #313131
}
}