/**********************************
	Specific help button styling

**********************************/

// Help Button styling - used across Add Cover pages

.uikit-refactor {
.btn-panel-Help {
    right: 0;
    margin-top: 10vh;
    padding: 0;
    position: fixed;
}
.uikit-btn--help {
    background-color: #fff;
    color: #313131;
    border: 1px solid #0756a4;
    -webkit-border-radius: 3px 0 0 3px !important;
	border-radius: 3px 0 0 3px !important;
    border-right: none;
	margin-right:-1px;
	padding-top:40px;
	background: url(../images/ico-help-black.svg) no-repeat center 20px;
	background-size: 20px 20px;
	box-shadow: -2px 2px 10px 0px #ccc;
	z-index:999;
	
    &:focus,
    &:hover {
	    color: white;
		background: #043c75 url(../images/ico-help-white.svg) no-repeat center 20px;
		background-size: 20px 20px;
    }
}
	
.uikit-btn--help {
    background-color: #fff;
    color: #313131;
    border: 1px solid #0756a4;
}
	
.ico-email {
	background: url(../images/ico-email-blue.svg) no-repeat 0px 0px;
	background-size: 20px 20px;
	display:inline-block;
	width:20px;
	height:20px;
	margin-bottom:-4px;
	margin-right:10px;
}

.ico-phone {
	background: url(../images/ico-phone-blue.svg) no-repeat 0px 0px;
	background-size: 20px 20px;
	display:inline-block;
	width:20px;
	height:20px;
	margin-bottom:-4px;
	margin-right:10px;
}
	
}