.status-label {
    background-color: black;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 0 5px 1px 5px;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: none;
  }

  .status-label--added {
    background-color: #2B7DCE;
    display: inline-block !important;
  }

  .status-label--edited {
    background-color: #2B7DCE;
    display: inline-block !important;
  }

  .status-label--deleted {
    background-color: #ff3267;
    display: inline-block !important;
  }