#state-switcher,
.pt-choose-user {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, .2);
  display: none;
  left: 10px;
  padding: 20px;
  position: fixed;
  top: 10px;
  width: 300px;
  z-index: 100;
}

.pt-choose-user {
  height: auto;

  h3 {
    margin-top: 0;
  }
}

.pt-flex-grid {
  background-color: $gray-light;
  display: flex;
  margin: 0 0 .2em;
  padding: .2em .4em;
}

.pt-col {
  flex: 2;

  &:first-child {
    flex: 1;
    font-weight: bold;
  }
}

.pt-image-circle {
  border-radius: 50%;
  height: 150px;
  margin: 0 0 1em;
  object-fit: cover;
  object-position: center right;
  width: 150px;
}