/**********************************
	Specific styling for Service pension claim flow.

**********************************/
.docupload {
  border-bottom: 1px #d4d4d4 solid;
  border-top: 1px #d4d4d4 solid;
  padding: 15px 0 15px 0;
  margin:15px 0 0 0;
}
.docupload-first {
  border-top: 1px #d4d4d4 solid;
  padding: 15px 0 0px 0;
  margin:15px 0 0 0;

}
.docupload-last {
  border-bottom: 1px #d4d4d4 solid;
  padding: 5px 0 15px 0;

}
.float-right {
  float: right;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
}
li.icon-pdf{
  padding-left: -10px;
  list-style: none;
}

li.icon-doc{
  padding-left: -10px;
  list-style: none;
}
li.icon-png{
  padding-left: -10px;
  list-style: none;
}

.help-field {
  padding-left: 40px;
  font-size: .8em;
  margin-top: -10px;
  display: flex;
  font-weight: 400;
}
