.address-block {
  display: inline-block;
  margin: 0 0 1.6em 2em;
  min-width: 20em;

  &::after {
    background: linear-gradient(-45deg, transparent 30px, $gray-light 0), linear-gradient(45deg, transparent 30px, $gray-light 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 20px 35px;
    bottom: 0;
    content: $content-blank;
    display: block;
    height: 16px;
    left: 0;
    width: 100%;
  }
}

.address-block__content {
  background: $gray-light;
  border-radius: 0.2em 0.2em 0 0;
  color: $gray;
  padding: 1em;

  .address-block__line {
    margin: 0;
  }
}
