// Modal styling - used across Add Cover pages

.uikit-refactor {
.modal-window a.modal-close {
    float: right;
    background: transparent url(../images/ico-close-black.svg) no-repeat 0 12px;
    background-size: 38px 38px;
    border-bottom: 0;
    color: black;
    padding: 6px 0 0 26px;
    margin-right: 2%;
    text-decoration: none;
    &:focus,
    &:hover {
	    background: transparent url(../images/ico-close-black.svg) no-repeat 0 12px;
	    background-size: 38px 38px
    }
}
.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	&:target, &.modal-visible {
	    opacity: 1;
	    pointer-events: auto;
	}
	&>div {
	    width: 400px;
	    position: relative;
	    margin: 10% auto;
	    padding: 2rem;
	    background: #fff;
	    color: #444;
	}
}
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:focus,
    &:hover {
	    color: #000;
	}
}
.modal-buttons {
    border-top: 1px solid #e2e2e2 !important;
    clear: both;
    margin: 2.4em 0;
    padding-top: 1em;
	.uikit-btn {
		margin-left:10px !important;
	}
}
}
