$base-padding-hor: .5rem;
$base-padding-ver: 1rem;

$edge-padding-hor: 1.75rem;

.table-new {
  border-radius: 3px;

  th,
  td {
    border-top: 0;
    vertical-align: bottom;
    padding: $base-padding-ver $base-padding-hor;

    &:last-of-type {
      padding-right: $base-padding-hor + $edge-padding-hor;
    }

    &:first-of-type {
      padding-left: $base-padding-hor + $edge-padding-hor;
    }

    tbody & {
      background: #fff;
    }
  }

  th {
    color: #434443;
    border-bottom: 2px solid #434443;
    vertical-align: middle;
    background: #fffefb;

    thead & {
      border-bottom: 2px solid $gray-light;
    }
  }

  td {
    border-bottom: 1px solid $gray-light;
    background: #fefffe;
    vertical-align: top;
  }

  @media screen and (max-width: $AU-media-sm) {
      
    background: #edeeed;

    thead {
      display: none;

      th {
        border-bottom: 0;
      }
    }

    tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    th,
    td {
      &,
      &:last-of-type,
      &:first-of-type {
        padding: $base-padding-hor $base-padding-ver;
      }
      
      &:first-of-type {
        border-top: 3px solid lighten($gray, 20%);
      }
  
      &:last-of-type {
        padding-bottom: 1.5rem;
      }

    }

    tbody {
      td {
        border-bottom: 0;

        &:before {
          content: attr(data-label);
          font-weight: bold;
          display: block;
        }
      }
    }
  }
}

.icon-to-text {
  i {
    display: none;
  }

  @media screen and (min-width: $AU-media-sm) {
    i {
      display: inline-block;
    }

    span {
      display: none;
    }
  }
}