/**********************************
	Profile page

**********************************/

.profile-table {
	margin:1em;
	
}

.profile-row {
	border-top:1px solid #e4e4e4;
	border-bottom:0px;
	padding: 0.8em 0.3em;
}

.profile-row:last-child {
	border-bottom:1px solid #e4e4e4;
}
.profile-row--first {
	border-top:3px solid $gray;
}
.profile-row {
	&.profile-row--last {
		border-bottom:3px solid $gray;
	}
}



.profile-row-address {
	border-top:1px solid #e4e4e4;
	padding: 0em 0.3em;
	border-bottom:1px solid #e4e4e4;

	.change-button {
		padding-top:0.8em;
		text-align: right;
	}
}




.title-field {
  font-weight: 700;
  margin-bottom: 0.8em;
}

.description-fields {
	padding: 0.4em;
}

.change-button {
	text-align: right;
}

.no-value {
	color: #777;
	font-style: italic;
}

.address-line {
	padding-top: 0.8em;

}

.description-locked {
	background: transparent url(../images/ico-locked.svg) no-repeat;
	background-size: 30px 30px;
	width:30px;
	height:30px;
	margin-top:0.2em;
	float: right;
}

