.success-animation,
.submitted-animation,
.in-pregress-animation,
.thinking-animation {
  margin: auto;
  width: 200px;
}

// hide animation for IE
.ie-success-animation {
  display: none;
}

// old IE's
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

  .success-animation,
  .submitted-animation,
  .thinking-animation {
    display: none;
  }

  .ie-success-animation {
    display: block;
    margin: auto;
    width: 200px;
  }
}

@supports (-ms-ime-align: auto) {

  .success-animation,
  .submitted-animation,
  .thinking-animation {
    display: none;
  }

  .ie-success-animation {
    display: block;
    margin: auto;
    width: 200px;
  }
}