// Button styling

.floated {
    float: right;
    margin-right: 0em;
    margin-left: 0.25em;
}
.pagination-buttons {
	border-top: 1px solid $gray-light !important;
	clear: both;
	margin: 2em 0;
	padding-top: 2em;
}
.uikit-btn {
    background-color: $blue;
    &:focus, 
    &:hover {
    	background-color: $blue-dark;
    }
}
.small {
	padding: 0.5em 0.8em;
	font-size: 1rem;
  	font-weight: normal;
}
.uikit-btn--tertiary {
    background-color: #fff;
    border: 1px solid $blue;
    color: #313131;
    &:focus, 
    &:hover {
    	color: white;
    }
}


// Input styling

input, select, textarea {
  line-height: 1.5;
  padding: 0.5em 0.4em;
  font-size: 1.1rem;
  &:hover,
  &:focus {
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  }
}
input[type=text],
input[type=date],
input[type=tel],
input[type=email],
input[type=number],
input[type=phone],
input[type=password],
input[type=url],
input[type=search],
textarea,
select {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #666666;
  border: 1px solid #BBBBBB !important;
  width: 100%;
  max-width: 42em;
  margin: 0.4em 0.25em 0.4em 0;
}
input[type=date],
input[type=tel],
input[type=number],
input[type=phone] {
  width: 10em;
}


// Remove bolding from selected radios

.uikit-control-input__input:checked+.uikit-control-input__text {
    font-weight: normal;
}


// Toggle styled radio buttons
// ------------------------------------------------------------------------------------------------------

.radio-toggle {

	label {
		float:left;
		width: 140px;
		margin: 0 0 1.5em 0;
		background-color:#EFEFEF;
		border-radius:4px;
		padding: 0;
		border: 1px solid #D0D0D0;
		overflow: visible;       

		&.label-left, &.label-left span {
			border-radius: 4px 0 0 4px;
			border-right: 0;
		}
		
		&.label-right, &.label-right span {
			border-radius: 0 4px 4px 0;
		}

		&.label-middle {
			border-left: 1px solid #D0D0D0;
			border-right: 0;
			border-radius: 0;
		}

		&:hover,
		&focus {
			background-color:#fff;
		}

		span {
			text-align:center;
			padding: 10px 0;
			display:block;
			cursor: pointer;
		}
		
		input {
            width: 1px;
            height: 1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
	        left: -9999px;
		}
	}
	
	input:focus + span {
		background-color: $input-focus;
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
		padding: 9px 0;
		border: 1px solid $input-outline;
	}
	
	input:checked + span {
		box-shadow: inset 0px 1px 2px 2px rgba(0,0,0,0.1);
		background: $blue;
		color: #FFFFFF;
		border-color: #2366a1;
	}
	
	input:checked:focus + span {
		background-color: $button-bg-hover;
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
	}
	
	input + span:hover,
	input + span:focus {
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
	}
}


// Autocomplete styling

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}
.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.ui-menu-item {
	&:hover {
    	background-color: $blue;
    	color: white;
    }
}
.ui-front {
    z-index: 100;
}


// Cancel button

.btn-cancel {
  background: transparent url(../../../images/ico-cancel.svg) no-repeat 50% 50%;
  height: 50px;
  width: 50px;
  border: none;
  float: right;
  margin: 1.5em 1em 1em 0;
  &:hover,
  &:active {
	  cursor: pointer;
  	  background: transparent url(../../../images/ico-cancel-hover.svg) no-repeat 50% 50%;
	}
  span {
	  display: none;
	}
}