.slider-panel {
	background-color: $blue;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 101;
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
	box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
	overflow-y: scroll;
}

.slider-panel .slider-content {
	min-height: 50vh;
	display: none;
	padding-bottom: 1em;
	h3 {
		color: white;
		font-size: 1.5rem;
	}
	p {
		color: white;
	}
	img {
		width: 22px;
	    height: 35px;
	    vertical-align: top;
	    margin-right: 0.1em;
	}
}