/**********************************
Payments page

**********************************/

.payments-page {
  .pagination {
    border: 0 !important;
    display: inline-block;
    padding: 0 !important;
  }

  .pagination a {
    border: 0 !important;
    border-radius: $uikit-border-radius;
    color: #000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: #fff;
  }

  .pagination a:hover:not(.active) {
    background-color: #ccc;
  }

  .data-text {
    background-color: #fff;
    // border-right: 3px solid #eee;
    // border-bottom: 3px solid #eee;
    min-height: 96px !important;
    padding: 20px;

    @media only screen and (max-width: 758px) {
      min-height: 10px !important;
      padding: 10px;
      text-align: left;
    }

    p {
      margin: 0;
    }
  }

  .header-text {
    // background-color: #fff;
    // border-right: 3px solid #eee;
    // border-bottom: 3px solid #eee;
    padding: 0 20px 0 20px;
    // min-height: 60px !important;

    p {
      margin: 0;
    }
  }

  .header-number {
    // background-color: #fff;
    // border-right: 3px solid #eee;
    // border-bottom: 3px solid #eee;
    padding: 0 20px 0 20px;
    text-align: right;
    // min-height: 60px !important;

    p {
      margin: 0;
    }
  }

  .data-number {
    background-color: #fff;
    min-height: 96px !important;
    padding: 10px;
    text-align: right;

    @media only screen and (max-width: 758px) {
      min-height: 0 !important;
      padding: 10px;
      text-align: left;
    }

    p {
      margin: 0;
    }
  }

  h2 {
    font-size: 1em;
    font-weight: 600;
  }

  .row {
    margin-top: 2px;
  }




  .header-row {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}