/**********************************
  Specific styling for INCAP claim flow.

**********************************/

$item-actions-width: 8em;
$status-width: 1.75em;
$status-height: 1.75em;
$gutter-size: 2em;

/* top beta banner */

.page-header--beta-banner__wrapper.col-lg-12 {
  background: #eee;
  padding: 5px 10px 5px 10px;

  p {
    max-width: 100%;
    margin: 0;
    background: #eee;
    font-weight: 600;
  }
}


/* horizontal scroll navigation */
* {
  box-sizing: inherit;
}

.pn-Advancer_Icon {
  margin: 0 5px;
}

.pn-ProductNav_Wrapper {
  position: relative;
  padding: 0 30px;
  box-sizing: border-box;
  border-bottom: 1px #eee solid;
}

.pn-ProductNav {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;

  /* If JS present, let's hide the default scrollbar */
  .js & {
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;

    /* Remove the default scrollbar for WebKit implementations */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* positioning context for advancers */
  position: relative;
  // Crush the whitespace here
  font-size: 0;
}

.pn-ProductNav_Contents {
  float: left;
  transition: transform .2s ease-in-out;
}

.pn-ProductNav_Contents-no-transition {
  transition: none;
}

.pn-ProductNav_Link {
  color: #888;
  // Reset the font size
  font-size: 1rem;

  @media only screen and (max-width: 600px) {
    font-size: 0.8rem;
  }

  font-family: -apple-system,
  sans-serif;
  display: inline-flex;
  align-items: center;
  min-height: 44px;
  border: 1px solid transparent;
  padding: 0 4px;

  &+& {
    border-left-color: transparent;
    border: transparent;
  }

  &[aria-selected="true"] {
    color: #111;
  }
}

.pn-Advancer {
  /* Reset the button */
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;

  &:focus {
    outline: 0;
  }

  &:hover {
    cursor: pointer;
  }

  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 0;
  transition: opacity .3s;
}

.pn-Advancer_Left {
  left: 0;

  [data-overflowing="both"]~&,
  [data-overflowing="left"]~& {
    opacity: 1;
  }
}

.pn-Advancer_Right {
  right: 0;

  [data-overflowing="both"]~&,
  [data-overflowing="right"]~& {
    opacity: 1;
  }
}

.pn-Advancer_Icon {
  width: 20px;
  height: 44px;
  fill: #093d77;
  -moz-animation: pulse 2s 5 linear;
  -o-animation: pulse 2s 5 linear;
  -webkit-animation: pulse 2s 5 linear;
  animation: pulse 2s 5 linear;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pn-ProductNav_Indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100px;
  background-color: transparent;
  transform-origin: 0 0;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out;
}

.half {
  float: left;
  width: 100%;
  padding: 0;
}

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #eee;
  color: #000;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  margin-bottom: 2px;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: transparent;
  color: #000;
  -webkit-transition: max-height .45s;
  -o-transition: max-height .45s;
  transition: max-height .45s;
}

.tab-content p {
  margin: 1em;
}

/* :checked */
.tab input:checked~.tab-content {
  max-height: 100vh;
}

.topnav-icon {
  font-size: 3em;
  padding-left: 10px;
  border: transparent;
  margin: -4px -5px 0 -5px;
  background: linear-gradient(to right, #f00, #ff0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// NO. This does not belong here.
// .mys-file-uploads__info {
//     padding-left: 20px;
// }

/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.tab input[type="checkbox"]+label::after {
  content: "+";
}

.tab input[type="radio"]+label::after {
  content: "\25BC";
}

.tab input[type="checkbox"]:checked+label::after {
  transform: rotate(315deg);
}

.tab input[type="radio"]:checked+label::after {
  transform: rotateX(180deg);
}


// Millie's styles for the new checklist

.uikit-body {

  .claim-progress-category__item {
    border: 1px solid $gray-mild;
    margin-bottom: 2em;
  }

  .claim-progress-category__link {
    :hover {
      background-color: #fff;
    }
  }

  .claim-progress-category__link--active {
    :hover {
      background-color: $blue-5;
    }
  }

  .claim-progress-category__link--incomplete {
    :hover {
      background-color: #fff4e4;
    }
  }

  .claim-progress-category--disabled.claim-progress-category-new {
    a {
      &,
      & span {
        pointer-events: none;
        touch-action: none;
      }
    }

    span {
      border-bottom: 0;
      color: inherit;

      &:hover,
      &:focus {
        background: 0;
      }
    }
  }

  .claim-progress-category__wrapper {
    padding: 1em 2em 1em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .claim-progress-category__status {
    margin-right: 1.5em;
  }

  .claim-progress-category__heading {
    margin-top: 0;
    margin-bottom: 0;
  }


  // h2,
  p.claim-progress-category__heading {
    font-weight: 700;
    font-size: 1.17em;
  }


  .claim-progress-category__heading--active {
    border-bottom: solid 1px $blue;
  }

  .claim-progress-category__description {
    margin-top: 0.3em;
    margin-bottom: 0;
  }

  .claim-progress-category--active {
    border: 2px solid $blue;
  }

  .claim-progress-category--done {
    border-left: 4px solid $green;
  }

  .claim-progress-category--incomplete {
    border: 1px solid $orange;
    border-left: 4px solid $orange;
  }

  .claim-progress-category--incomplete-disabled {
    border: 1px dashed $gray-mild;
    border-left: 4px solid $orange;

    .claim-progress-category__heading,
    .claim-progress-category__description {
      color: #999;
    }
  }

  .claim-progress-category--disabled {
    border: 1px dashed $gray-mild;

    .claim-progress-category__heading,
    .claim-progress-category__description {
      color: #999;
    }

    :hover {
      cursor: not-allowed;
    }
  }

  // Review and submit page

  .review__wrapper {
    margin-bottom: 1em;
    // margin-top: 1em;
  }

  .review__header {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    margin-bottom: 1em;
  }

  .review__header--label {
    padding-bottom: 0.6em;
    display: inline-block;

    h2 {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .review__header--button {
    text-align: right;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 1em;
  }

  .review__content--item {
    margin-bottom: 0.3em;
  }

  .review__content--data {
    font-weight: bold;
  }

  .review__content--border {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .review__table {
    // div.table {
    border: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    // }

    

    div.tr {
      border: 0;
      display: table-row;
    }

    div.td {
      border: 0;
      display: table-cell;
      padding-right: 15px;
    }
  }

  .topbar-actionbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .next-steps li {
    font-size: 1.2em;
  }

  .hr-compact {
    margin-top: 2em;
  }
}

.overseas__message {
  margin: 60px 0 30px;
}

.payment-block__hint {
  margin: 25px 0;
}