// this file is to remain in the prototype for design flow purposes.
// the myservice-box-new.scss styles should be utilised for any new box designs

hr.box-list-top {
    height: 2px;
    background-color: #000;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0;
  }
  
  hr.box-list-divider {
    margin-bottom: 0;
    margin-top: 30px;
  }
  
  .box-info {
    border-radius: 3px 3px 0 0;
    background-color: rgb(245, 248, 252);
    padding: 10px;
    margin-bottom: 17px;
  
    h3 {
      color: #2B7DCE;
      margin: 5px 0 5px 0;
      display: inline-block;
    }
  
    .message {
      margin-bottom: 5px;
    }
  
    hr {
      margin-bottom:0; 
      margin-top: 20px;
    }
  
    .legend {
      font-size: 14px; 
      margin-bottom: 5px;
    }
  
    .flag-icon-header {
      color:#2B7DCE;
      display: inline-block;
      margin-right: 4px;
    }
  
  }
  
  .box-list {
    h3 {
      display: inline-block;
      margin-top: 0;
    }
  
    .flag-icon {
      color:#2B7DCE;
      margin-left: 8px;
    }
  
    /* for two column layout of lists */
  
    .listbox {
    width: 360px;
    float: left;
    padding-right: 60px;
  }
  
    li {
      list-style: none;
      padding: 0;
      padding-bottom: 7px;
    }
  
    ul {
      margin: 0;
      padding: 0 !important;
    }
  
    &.clearfix:before,
    &.clearfix:after {
      content: "";
      display: table;
    }
  
    &.clearfix:after {
      clear: both;
    }
  
  }
  
  .review__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .box__edit-button {
    max-height: 36px;
    width: 61.38px;
  }
  
  .box__delete-button {
    min-width: 116px;
    height: 36px;
  }
  
  .box h2 {
    max-width: 85%;
  }
  
  .box__deleted h2 {
    max-width: 100%;
    margin-bottom: 0px;
  }
  
  .edit-content h2 {
    max-width: 80%;
  }
  
  @media screen and (max-width: 375px) {
    .box .review__table div.td, .edit-content .review__table div.td {
      display: block;
    }
  
    .review__header {
      flex-direction: column;
  
      h2 {
        margin-bottom: 19.920px !important;
        max-width: 100%;
      }
    }
  
    .box .review__table .tr, .edit-content .review__table .tr {
      margin-bottom: 6px;
      display: block !important;
    }
  }