.mys-support-services {
	width: 100%;
	display: flex;
	padding: 0.6em;
	margin-left: ceil( ( $uikit-grid-12-gutter-width / -2 ) );
	margin-right: floor( ( $uikit-grid-12-gutter-width / -2 ) );
	flex-wrap: wrap;
}

.mys-support-services__service {
	box-sizing: border-box;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: ceil( ( $uikit-grid-12-gutter-width / 2 ) );
	padding-right: floor( ( $uikit-grid-12-gutter-width / 2 ) );
	float: left;
	
	@media (min-width: $uikit-media-xs) and (max-width: $uikit-media-md) {
		&:nth-child(2n+1) {
			clear: left;
		}
		width: 50%;
	}

	@include uikit-media(md) {
		&:nth-child(4n+1) {
			clear: left;
		}
		width: 25%;
	}
}

.mys-support-services__logo {
	max-width: 60%;
	display: none;

	@include uikit-media(xs) {
		display: block
	}
}

