/**********************************
	Main content area

**********************************/

main {
	margin-bottom: 1em;
}

.uikit-breadcrumbs {
	margin: 1em 0 0 0;
}

hr {
	padding: 1em 0 0 0;
	margin-top: 3em;
}

// Remove outline on target
:target {
	outline:none !important;
}

// matching li item's max-width to that of paragraphs and headings.
ul {
		max-width: $uikit-maxwidth;
  		margin: 0 0 uikit-space( 1 ) 0;
	}

// Return to top of page button	
#return-to-top {
    position: fixed;
    bottom: 2em;
    right: 0.5em;
    background: #000000;
	border:3px solid #ffffff;
    opacity:0.3;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: $blue;
	opacity: 0.9;
}

@media only screen and (min-width: $small-handheld){
	#return-to-top {
    	right: 2em;
	}
}

@media only screen and (max-width: $small-handheld){
	#return-to-top {
    	right: 3em!important;
	}
	.uikit-link-list li{
		display: block!important;
		text-align:left;
	}
}

#page-title {
	border-bottom:1px solid #dddddd;
	margin-bottom:4em!important;
	h1 {
		padding-bottom:0.2em;
		margin-bottom:0px;
	}
}

// External link icon
.external-link {
    background: url(../images/ico-external-blue.svg) no-repeat right 2px;
    padding-right: 24px;
    background-size: 16px 16px;
}

// Float content beside images 

.float-content {
    float: left;
}
.float-image-left {
    float: left; 
    margin-right: 2em;
}
