/**********************************
	Specific styling for authenticated home page

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {
	.divider {
		border-right:1px solid $gray-light;
		margin-right:20px;
		padding-right:40px;
	}
	
	// Plus Symbol used within medium card for NLHC
	.plus-symbol {
		font-size: 3em;
		margin:0 10px 0 10px;
		position:relative;
		bottom:16px;
		line-height: normal;
	}
}