.info-timeline ul {
  list-style: none;
  }

.info-timeline ul li span.timeline-circle {
  background-color: #fff;
  border: 4px solid #999;
  border-radius: 100%;
  color: #ff9600;
  display: inline-block;
  font-weight: bold;
  height: 50px;
  line-height: 45px;
  margin-top: 40px;
  position: relative;
  text-align: center;
  width: 50px;
  z-index: 2;
}

.info-timeline ul li:not(:first-of-type) span.timeline-circle::before {
  border: 1px solid #999;
  content: $content-blank;
  display: block;
  height: 50px;
  left: 50%;
  margin-left: -1px;
  position: absolute;
  top: -54px;
  width: 0;
  z-index: 1;
}

.info-timeline ul li a {
  color: #000;
}

span.timeline-text-box {
    margin-top: 45px;
    position: absolute;
}

#nav .active {
   background-color: #f00 !important;
   color: #fff;
}
