input.current {
  width: 30%;
  border: none !important;
  font-weight: bold;
  padding-left: 0px;
  margin-bottom: 0px;

  &:hover,
  &:focus {
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

input.days {
  width: 15em;
}

.lsa-submitted.transition-content {
  overflow: visible;
}

.lsa-amount-request {
  border: 1px solid #eee;
  border-spacing: 0;
  margin-bottom: 2em;
  background: white;
}

.border-right-lsa {
  border-right: solid;
}

.text-align-center-lsa {
  text-align: center;
}

.vertical-dash-hack-lsa {
  border-bottom: solid;
  max-width: 5%;
  margin-top: -15px;
  margin-left: 5px;
}

.lsa-currency-bg {
  background: #eee;
}

input#ddlTechnolgy {
  width: 15%;
}

div {
  #request1 {
    width: 21%;
    padding: 20px;
  }
}

@media (min-width: 1281px) {

  //CSS

}

@media (min-width: 1025px) and (max-width: 1280px) {

  div#request1 {
    // width:26%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  div#request1 {
    // width: 35%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  div#request1 {
    // width: 35%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  div#request1 {
    // width: 45%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  div#request1 {
    width: 75%;
  }

  input#ddlTechnolgy {
    width: 35% !important;
  }
}

.pipe {
  margin-left: 15px;
}

#btnQueryString {
  width: 100%;
}

.currency-box {
  border: 1px solid $gray-light;
  border-top: 3px solid $blue;
  max-width: 28em;
  padding: 1.8em 0.8em .2em 1.84em;

}

.newPensionAmountBox {
  background-color: $blue-10;
  // border: 1px solid $gray-light;
  border-bottom: 3px solid $blue;

  max-width: 28em;
  padding: 1.8em 0.8em 1.2em 1.84em;

  .legend-label {
    font-weight: normal;
  }


}