/**********************************
	Grouping navigation elements to form navigation controls

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

.pagination {
	button {
		clear: both;
		display: block;
		margin: 0;
		width: 100%;
		.floated {
			float: none;
		}
	}
	margin: 1em 0 2em 0; 
}
@media only print, screen and (min-width: $small-handheld) {
	.pagination {
		button {
			clear: none;
			display: inline;
			margin: auto;
			width: auto;
			.floated {
				float: right;
			}
		}
	}
}

}