// Base Tooltip

.tooltip {
  display: inline-block;
}

.tooltip__control {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.tooltip__label {
  background: url('../images/ico-help-mid-gray.svg');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  font-weight: normal;
  padding: 0 25px 0 0;
  white-space: nowrap;

  &--icon-only {
    background-position: 0 50%;
    height: 20px;
    overflow: hidden;
    padding: 0 0 0 20px;
    width: 0;
  }
}

.tooltip__tab {
  height: 100%;
  padding: 13px 0;
  position: absolute;
  top: -13px;
  width: 100%;
}

.tooltip__tab--active {
  &::before {
    content: $content-blank;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    z-index: 1;
  }

  &::after {
    content: $content-blank;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    z-index: 2;
  }
}

.tooltip__tab--top {
  &::before {
    border: 12px solid;
    border-color: $blue-60 transparent transparent;
    top: -1px;
  }

  &::after {
    border: 11px solid;
    border-color: $blue-10 transparent transparent;
    top: -1px;
  }
}

.tooltip__tab--bottom {
  &::before {
    border: 12px solid;
    border-color: transparent transparent $blue-60;
    bottom: -27px;
  }

  &::after {
    border: 11px solid;
    border-color: transparent transparent $blue-10;
    bottom: -27px;
  }
}


.tooltip__content {
  font-weight: normal;
  left: 0;
  position: absolute;
  z-index: 100;

  &[aria-hidden='true'] {
    display: none;
  }
}

.tooltip__message {
  background: $blue-10; // url("../images/ico-info-thin-blue.svg") no-repeat 1em 2.2em;
  border: 1px solid $blue-60;
  border-radius: 0.3em;
  box-shadow: $rgba-black-20 0 2px 10px;
  opacity: 1;
  outline: medium none;
  padding: 3em 2em 2em 2em;
  text-align: left;
  width: $uikit-maxwidth;

  @media only screen and (max-width: $small-handheld) {
    width: 93vw;
  }

  @media only screen and (max-width: $medium-handheld) {
    width: 95vw;
  }

  p {
    margin-right: 6em;
  }
}

.tooltip__close {
  background-image: url('../images/ico-close-thin-black.svg');
  background-position: 6px 5px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  cursor: pointer;
  max-height: 40px;
  padding: 0.5em 0.5em 0.5em 2.8em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 2;

  &:focus {
    background-color: #fff;
  }

  &:hover {
    background-color: $uikit-colour-Link;
  }
}


// Tooltip for transactions table. 
.transactions-table {

  .tooltip {
    margin-right: 15px;
    padding-top: 10px;
  }

  .tooltip__content {
    right: 0;
    left: auto;
  }
}

// centering the tooltip in the coc start-page
.box-list .tooltip__control {
  top: 5px;
}

.transactions-table {
  .tooltip__control {
    left: 0;
  }
}

.tooltip--align-right {
  .tooltip__content {
    right: 0;
    left: auto;
  }
}
