/**********************************
	Expansion panel

**********************************/

.expanel {
	margin:1.3em 0 0 0;
}

.expanel-header {
	background-color:$gray-light;
	legend {
		padding-bottom:0px;
	}
}

.expanel-row {
	
	border:1px solid #e4e4e4;
	border-bottom:0px;
	padding: 1em;
	display: flex;
	flex-flow: wrap;
  justify-content: space-between;

	.expanel-title {
		min-width: 180px;
		padding: 0.5em 1em 0 0;
		margin: 0 1em 0 0;
		font-weight: 700;
		border-style: dashed;
		
	}
	
	.expanel-description {
		flex-basis: 70%;
		border-style: solid;
		// flex-grow:8;

		.expanel-uneditable {
			display: flex;
			flex-flow: nowrap;
			justify-content: space-between;
			// flex-basis: 70%;
			
			// align-content:flex-start;
		}
		
		.expanel-editable {
			.expanel-btn {
			margin-top:0.5em;
			}
		}

		.expanel-form-value {
			padding-top:0.5em;
		}
		
	}
	
}

// .description-locked {
// 	background: transparent url(../images/ico-locked.svg) no-repeat;
// 	background-size: 30px 30px;
// 	width:30px;
// 	height:30px;
// 	margin-right:16px;
// 	display:block;
// }

.expanel-row:last-child {
	border-bottom:1px solid #e4e4e4;
}