//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Forked from the DTA's page-alerts module
// Use page alerts to notify users of important information and state changes to the page.
//
// Content:
// - Generic page alert styling
// - Generic page alert icon position styling
// - Page alert error
// - Page alert warning
// - Page alert success
// - Page alert info
// - Page alert screen-reader only
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Page alert defaults to info
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.uikit-page-alerts {
  background-color: $blue-10;
  border-left: 4px solid $uikit-colour-Info;
  color: $uikit-colour-Text;
  font-family: $uikit-font-system;
  line-height: $uikit-leading;
  margin: uikit-space(1) 0;
  max-width: $uikit-maxwidth;
  padding: uikit-space(0.75) uikit-space(0.5) uikit-space(0.75) uikit-space(2.4);
  position: relative;
  margin: $form-margin;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  &::after {
    // background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.3 39.3"><style>.st0{fill:#{$uikit-colour-Info}}</style><path class="st0" d="M33 6.2C29.4 2.6 24.6.6 19.6.6c-5.1 0-9.8 2-13.4 5.6S.6 14.6.6 19.6c0 5.1 2 9.8 5.6 13.4 3.6 3.6 8.4 5.6 13.4 5.6 5.1 0 9.8-2 13.4-5.6s5.6-8.4 5.6-13.4c.1-5-1.9-9.8-5.6-13.4zm-1.4 25.4c-3.2 3.2-7.4 4.9-11.9 4.9S11 34.7 7.8 31.6C1.2 25 1.2 14.3 7.8 7.8c3.2-3.2 7.4-4.9 11.9-4.9s8.7 1.8 11.9 4.9c6.4 6.5 6.4 17.2 0 23.8z"/><path class="st0" d="M20.7 8.9c0-.6-.5-1.1-1.1-1.1-.6 0-1.1.5-1.1 1.1l.1 15.4c0 .3.1.6.4.8s.5.4.8.4c.6 0 1.1-.5 1.1-1.1l-.2-15.5z"/><circle class="st0" cx="19.8" cy="29.3" r="1.3"/></svg>');
    background-image: uikit-svguri('<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">\a     <style>\a       .st0{fill:#{$uikit-colour-Info}}\a     </style>\a     <path class="st0" d="M20 .4C9.2.4.4 9.2.4 20S9.2 39.7 20 39.7 39.7 30.8 39.7 20 30.9.4 20 .4zm0 37.4c-9.8 0-17.7-8-17.7-17.7S10.3 2.3 20 2.3s17.7 8 17.7 17.8S29.8 37.8 20 37.8z"/>\a     <circle class="st0" cx="20" cy="11" r="1.4"/>\a     <path class="st0" d="M21.2 16.6v14.9c0 .5-.5.9-1.2.9s-1.2-.4-1.2-.9V16.7c0-.5.5-.9 1.2-.9s1.2.3 1.2.8z"/>\a   </svg>');
    background-repeat: no-repeat;

    // content: $content-blank;
    content: $content-blank;
    display: block;
    height: 35px;
    left: 1em;
    position: absolute;
    top: 1em;
    width: 35px;
  }
}

// 
// Page alert success
//
.uikit-page-alerts--success {
  background-color: mix($white, $uikit-colour-Success, 88);
  border-color: $uikit-colour-Success;
  // border-color: $green;

  &::after {
    background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 426.7 426.7">\a     <path d="M213.3 0C95.5 0 0 95.5 0 213.3s95.5 213.3 213.3 213.3 213.3-95.5 213.3-213.3S331.2 0 213.3 0zm-39.1 322.9L80.3 229l31.3-31.3 62.6 62.7 140.9-140.9 31.3 31.3-172.2 172.1z" fill="#{$uikit-colour-Success}"/>\a   </svg>');
  }
}

//
// Page alert warning.
//
.uikit-page-alerts--warning {
  background-color: mix($white, $uikit-colour-Warning, 90);

  // background-color: $white;
  border-color: $uikit-colour-Warning;

  &::after {
    background-image: uikit-svguri('<svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.3 39.3">\a     <style>\a       .st0{fill:#{$uikit-colour-Warning}}\a     </style>\a     <path class="st0" d="M33 6.2C29.4 2.6 24.6.6 19.6.6c-5.1 0-9.8 2-13.4 5.6S.6 14.6.6 19.6c0 5.1 2 9.8 5.6 13.4 3.6 3.6 8.4 5.6 13.4 5.6 5.1 0 9.8-2 13.4-5.6s5.6-8.4 5.6-13.4c.1-5-1.9-9.8-5.6-13.4zm-1.4 25.4c-3.2 3.2-7.4 4.9-11.9 4.9S11 34.7 7.8 31.6C1.2 25 1.2 14.3 7.8 7.8c3.2-3.2 7.4-4.9 11.9-4.9s8.7 1.8 11.9 4.9c6.4 6.5 6.4 17.2 0 23.8z"/>\a     <path class="st0" d="M20.7 8.9c0-.6-.5-1.1-1.1-1.1-.6 0-1.1.5-1.1 1.1l.1 15.4c0 .3.1.6.4.8s.5.4.8.4c.6 0 1.1-.5 1.1-1.1l-.2-15.5z"/>\a     <circle class="st0" cx="19.8" cy="29.3" r="1.3"/>\a   </svg>');
  }
}

//
// Page alert error.
//
.uikit-page-alerts--error {
  background-color: mix($white, $uikit-colour-Error, 90);
  border-color: $uikit-colour-Error;

  &::after {
    background-image: uikit-svguri('<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.44 36.25"><defs><style>.cls-1{fill:#{$uikit-colour-Error};}</style></defs><title>ico-error</title><path class="cls-1" d="M38.6,34.24,21.84,2.81a2.43,2.43,0,0,0-2.14-1.27,2.4,2.4,0,0,0-2.12,1.27L.73,34.24a2.4,2.4,0,0,0,.06,2.37,2.42,2.42,0,0,0,2.08,1.18H36.47a2.42,2.42,0,0,0,2.12-3.55ZM19.71,33a2.41,2.41,0,1,1,2.42-2.4A2.41,2.41,0,0,1,19.71,33Zm2.42-9.63a2.42,2.42,0,0,1-4.84,0V13.66a2.42,2.42,0,1,1,4.84,0Zm0,0" transform="translate(-0.45 -1.54)"/></svg>');
  }
}

//
// Page alert white.
//

.uikit-page-alerts--white {
  background-color: $white;
}

.uikit-page-alerts--content {
  background-color: $white;
  border: 1px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
  padding: 24px;
  width: 100%;
  &::after {
    background-image: none;
  }
}

.uikit-page-alerts--phone {
  &::after {
    background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.6 39.6"><path fill="#{$uikit-colour-Info}" d="M31.4,24.7c-0.8-0.8-1.8-1.3-2.8-1.3c-1,0-2,0.4-2.8,1.3l-2.6,2.6c-0.2-0.1-0.4-0.2-0.6-0.3c-0.3-0.1-0.6-0.3-0.8-0.4c-2.5-1.6-4.7-3.6-6.8-6.2c-1-1.3-1.7-2.4-2.2-3.5c0.7-0.6,1.3-1.3,1.9-1.9c0.2-0.2,0.5-0.5,0.7-0.7c1.7-1.7,1.7-4,0-5.7L13,6.2c-0.3-0.3-0.5-0.5-0.8-0.8c-0.5-0.5-1-1-1.6-1.5C9.9,3.1,8.9,2.6,7.9,2.6s-2,0.4-2.8,1.2c0,0,0,0,0,0L2.2,6.7c-1.1,1.1-1.7,2.4-1.8,3.9c-0.2,2.4,0.5,4.7,1.1,6.1c1.3,3.6,3.3,7,6.3,10.6c3.6,4.3,8,7.8,13,10.2c1.9,0.9,4.4,2,7.3,2.2c0.2,0,0.4,0,0.5,0c1.9,0,3.5-0.7,4.8-2.1c0,0,0,0,0,0c0.4-0.5,0.9-1,1.4-1.5c0.4-0.3,0.7-0.7,1.1-1.1c0.8-0.9,1.3-1.8,1.3-2.9c0-1-0.4-2-1.3-2.8L31.4,24.7z M34.4,33.4C34.4,33.4,34.4,33.4,34.4,33.4c-0.3,0.3-0.7,0.7-1,1c-0.5,0.5-1.1,1.1-1.6,1.7c-0.8,0.9-1.8,1.3-3.1,1.3c-0.1,0-0.3,0-0.4,0c-2.5-0.2-4.7-1.1-6.5-1.9C17.1,33.2,13,30,9.6,25.9c-2.8-3.4-4.7-6.6-6-9.9c-0.8-2.1-1.1-3.7-0.9-5.2c0.1-1,0.5-1.8,1.1-2.5l2.8-2.8C7,5.1,7.5,4.9,7.9,4.9c0.5,0,0.9,0.3,1.2,0.6c0,0,0,0,0,0c0.5,0.5,1,1,1.5,1.5c0.3,0.3,0.5,0.5,0.8,0.8l2.3,2.3c0.9,0.9,0.9,1.7,0,2.6c-0.2,0.2-0.5,0.5-0.7,0.7c-0.7,0.7-1.4,1.4-2.1,2c0,0,0,0,0,0c-0.7,0.7-0.6,1.4-0.4,1.9c0,0,0,0,0,0.1c0.6,1.4,1.4,2.8,2.7,4.4l0,0c2.3,2.8,4.7,5,7.4,6.7c0.3,0.2,0.7,0.4,1,0.6c0.3,0.1,0.6,0.3,0.8,0.4c0,0,0.1,0,0.1,0.1c0.3,0.1,0.5,0.2,0.8,0.2c0.7,0,1.1-0.4,1.3-0.6l2.8-2.8c0.3-0.3,0.7-0.6,1.3-0.6c0.5,0,0.9,0.3,1.2,0.6c0,0,0,0,0,0l4.6,4.6C35.2,31.7,35.2,32.5,34.4,33.4z"/><path fill="#{$uikit-colour-Info}" d="M21.6,9.7c2.2,0.4,4.1,1.4,5.7,3c1.6,1.6,2.6,3.5,3,5.7c0.1,0.5,0.6,0.9,1.1,0.9c0.1,0,0.1,0,0.2,0c0.6-0.1,1-0.7,0.9-1.3c-0.4-2.6-1.7-5-3.6-6.9C27,9.2,24.6,8,22,7.5c-0.6-0.1-1.2,0.3-1.3,0.9C20.6,9,21,9.6,21.6,9.7z"/><path fill="#{$uikit-colour-Info}" d="M39.6,17.7c-0.7-4.3-2.8-8.3-5.9-11.4s-7.1-5.2-11.4-5.9c-0.6-0.1-1.2,0.3-1.3,0.9c-0.1,0.6,0.3,1.2,0.9,1.3c3.9,0.7,7.4,2.5,10.2,5.3c2.8,2.8,4.6,6.3,5.3,10.2c0.1,0.5,0.6,0.9,1.1,0.9c0.1,0,0.1,0,0.2,0C39.3,18.9,39.7,18.3,39.6,17.7z"/></svg>');
  }
}

// outage message container
.outage-container {

  // background-color: mix($white, $uikit-colour-Warning, 90);
  width: 100%;

  .uikit-page-alerts {

    border: 0;
    margin: 0;
    max-width: 100%;

    p {
      font-size: 90%;
      max-width: 60em;

      strong {
        font-size: 110%;
      }
    }

  }
}

//
// Screen-reader only class for interlinking error messages and corresponding form elements.
//
.uikit-page-alerts__sronly {
  @include uikit-sronly;
}