.page-heading {
  margin: 0;
  text-align: center;
  background: #eee;
  border-bottom: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  padding: 1.5rem 0 2.25rem;
}

.orange-underline {
    border-bottom: 3px solid #ff9600;
    padding-bottom: 3px;
    display: inline;
    -webkit-print-color-adjust: exact !important;
} 