@charset "UTF-8";

.hero-main {
	padding-top:40px;
}

.hero-main h1 {
	font-size: 4em !important;
	margin-bottom:0px !important;
}

hr {
	margin-top:2em;
}

.local-nav ul {
	color: #313131;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.6em;
	list-style: none;
	line-height: 1.6em;
}

.local-nav ul li:first-child {
	border-top: 1px solid #bbbbbb;
	margin-top:40px;
}

.local-nav ul li {
	margin: 0;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #bbbbbb;
}

.local-nav li a {
	border-bottom:0px;
	padding: 10px 0 10px 0;
}

.is-active {
	background:#e2e2e2;
}
