@charset "UTF-8";

.hero-main {
	padding-top:4rem;
}
.hero-main h1 {
	font-size: 3em !important;
	margin-top: 0em !important;
	margin-bottom:0.1em !important;
	font-weight: 200 !important;
}
.hero-main p {
	font-size: 1em!important;
	font-weight:200!important;
}

header .uikit-btn--primary {
	font-size: 0.8em !important;
	color: #ffffff !important;
	border: 1px solid #ffffff !important;
	margin-top:3px;
}

@media only screen and (min-width: 700px) {
	.hero-main {
		padding-top:4rem;
	}
	.hero-main h1 {
		font-size: 3.5em !important;
	}
	.hero-main p {
		font-size: 1.3em;
	}
}

hr {
	margin-top:2em;
}

.guide-updates {
 	margin:0 20px 0 20px;
}
.guide-updates h2 {
 	margin-top:60px;
}

.main-logo {
	width: 200px;
	margin-top: 10px;
}

.example-box h1, .example-box h2, .example-box h3, .example-box h4, .example-box h5, .example-box h6{
	margin:0;
}


.example-code {
	background: #eeeeee!important;
}

.local-nav ul {
	color: #313131;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.6em;
	list-style: none;
	line-height: 1.6em;
}

.local-nav ul li:first-child {
	border-top: 1px solid #bbbbbb;
	margin-top:40px;
}

.local-nav ul li {
	margin: 0;
	border-bottom: 1px solid #bbbbbb;
}

.local-nav li a {
	border-bottom:0px;
	padding: 10px 10px; 10px 0;
	display:block;
}


.is-active {
	background:#e2e2e2;
}
