<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Alerts | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Alerts</li>
    	</ul>
    </nav>

    <div class="row">
    	<div class="col-sm-8">
			<h1>Alerts</h1>
			<div class="breakout">
			Information goes here.
			</div>
			
			<h3>Global alert</h3>
			
			<h3>Notifications</h3>
			
			<div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
			<h4>Info</h4>
			</div>

			<div class="uikit-page-alerts uikit-page-alerts--success" role="alert">
			<h4>Success</h4>
			</div>
			
			<div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
			<h4>Warning</h4>
			</div>
			
			<div class="uikit-page-alerts uikit-page-alerts--error" role="alert">
			<h4>Error</h4>
			</div>

		</div>
		<% include ../partials/sidenav.ejs %>
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
