<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Buttons and links | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">

    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Buttons and links</li>
    	</ul>
    </nav>

    <div class="row">
    	<div class="col-sm-8">
			<h1>Buttons and links</h1>
			<div class="breakout">
			MyService uses button styles for actions in forms, dialogs, and more.
			</div>

			<h2>Buttons</h2>
			<p>MyService utilises four predefined button styles, each serving its own semantic purpose.</p>

			<div class="example-box">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<p><button class="uikit-btn">Primary</button><button class="uikit-btn uikit-btn--tertiary">Tertiary</button><button class="uikit-btn uikit-btn--secondary">Secondary</button><button class="uikit-btn uikit-btn--borderless">Link</button></p>
						</td>
					</tr>
					<tr>
						<td class="example-code">
							<code>
								// Provides visual weight and identifies the primary action in a set of buttons<br>
								&#60;button type="button" class="btn btn-primary"&#62;Primary&#60;/button&#62;<br>
								<br>
								// Tertiary, outline button<br>
								&#60;button type="button" class="btn btn-tertiary"&#62;Tertiary&#60;/button&#62;<br>
								<br>
								// Indicates a successful or positive action<br>
								&#60;button type="button" class="btn btn-secondary"&#62;Secondary&#60;/button&#62;<br>
								<br>
								// Deemphasizes a button by making it look like a link<br>
								&#60;button type="button" class="btn btn-link"&#62;Link&#60;/button&#62;
							</code>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<hr>

			<h2>Button variations</h2>
			<h3>Small buttons</h3>
			<p>Add <font color="red">.small</font> for smaller sized buttons.</p>

			<div class="example-box">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<button class="uikit-btn small">Small size</button><button class="uikit-btn uikit-btn--tertiary small">Small size</button>
						</td>
					</tr>
					<tr>
						<td class="example-code">
							<code>
								&#60;button class="uikit-btn small"&#62;Link&#60;/button&#62;<br>
								&#60;button class="uikit-btn uikit-btn--tertiary small"&#62;Button&#60;/button&#62;
								</code>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<h3>Block level buttons</h3>
			<p>Create buttons that span the full width of a parent by adding <font color="red">.uikit-btn--block.</font></p>
			<div class="example-box">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<button class="uikit-btn uikit-btn--block">Block level button</button><button class="uikit-btn uikit-btn--tertiary uikit-btn--block">Block level button</button>
						</td>
					</tr>
					<tr>
						<td class="example-code">
							<code>
								&#60;button class="uikit-btn uikit-btn--block"&#62;Block level button&#60;/button&#62;<br>
								&#60;button class="uikit-btn uikit-btn--tertiary uikit-btn--block"&#62;Block level button&#60;/button&#62;
							</code>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<h3>Right aligned</h3>
			<div class="example-box">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<button class="uikit-btn floated">Right aligned</button>
						</td>
					</tr>
					<tr>
						<td class="example-code">
							<code>
								&#60;button class="uikit-btn floated"&#62;Right aligned&#60;/button&#62;<br>
							</code>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<h3>Disabled state</h3>
			<p>Make buttons look inactive by adding the disabled attribute to any <font color="red">&#60;button&#62;</font> element.</p>
			<div class="example-box">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<button class="uikit-btn" disabled>Disabled</button>
						</td>
					</tr>
					<tr>
						<td class="example-code">
							<code>
								&#60;button class="uikit-btn" disabled&#62;Disabled&#60;/button&#62;<br>
							</code>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<hr>

			<h2>Button tags</h2>
			<p>The .uikit-btn classes can be used with the &#60;button&#62;, &#60;a&#62; or &#60;input&#62; elements (visual discrepencies may occur across browsers).</p>

			<p>When using button classes on &#60;a&#62; elements that are used to trigger in-page functionality (like collapsing content), these links should be given a role="button" to appropriately convey their purpose to assistive technologies such as screen readers.</p>

			<div class="example-box">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<a class="uikit-btn" href="#" role="button">Link</a><button class="uikit-btn" type="submit">Button</button><input class="uikit-btn" type="button" value="Input"><input class="uikit-btn" type="submit" value="Submit"><input class="uikit-btn" type="reset" value="Reset">
						</td>
					</tr>
					<tr>
						<td class="example-code">
							<code>
								&#60;a class="uikit-btn" href="#" role="button"&#62;Link&#60;/a&#62;<br>
								&#60;button class="uikit-btn" type="submit"&#62;Button&#60;/button&#62;<br>
								&#60;input class="uikit-btn" type="button" type="submit" value="Input"&#62;<br>
								&#60;input class="uikit-btn" type="button" type="reset" value="Reset"&#62;
							</code>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<hr>

			<h2>Links</h2>

			<h3>External links</h3>
			<p>Whilst internal links are demonstrated using the default <font color="red">&#60;a&#62;</font> element, <b>external</b> links should include the <font color="red">rel="external"</font> markup to indicate the link will navigate to an external source.</p>

			<div class="example-box">
			<h6>EXAMPLE</h6>
			<p>This is a sentence that includes a <a href="#">link to an internal source</a> and a <a href="#" rel="external">link to an external source</a>. Styling for external links includes an icon that appends the link text.</p>
				<h3>You can also have an <a href="#" rel="external">external link</a> in a heading.</h3>
			</div>

			<h3>Inline links and link-lists</h3>

			<div class="example-box">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<ul class="uikit-link-list uikit-link-list--inline">
								<li><a href="#">Link 1</a></li>
								<li><a href="#">Link 2</a></li>
								<li><a href="#">Link 3</a></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<code>
								&#60;ul class="uikit-link-list uikit-link-list--inline"&#62;<br>
								&#60;li&#62;&#60;a href="#"&#62;Link 1&#60;/a&#62;&#60;/li&#62;<br>
								&#60;li&#62;&#60;a href="#"&#62;Link 2&#60;/a&#62;&#60;/li&#62;<br>
								&#60;li&#62;&#60;a href="#"&#62;Link 3&#60;/a&#62;&#60;/li&#62;<br>
								&#60;/ul&#62;<br>
							</code>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<p>For more link list options, see the <a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/" rel="external">UI-Kit link-list styles</a></p>
		</div>
		<% include ../partials/sidenav.ejs %>
	</div>
	</div>
</main>

<% include ../partials/footer.ejs %>

</body>
</html>
