<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Buttons and links | MyService</title>
  <link href="/docs/css/main.css" rel="stylesheet">
  <link href="/docs/styleguide/styleguide.css" rel="stylesheet">
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="../index.html">Home</a></li>
    		<li>Buttons and links</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Buttons and links</h1>
			<div class="breakout">
			MyService uses button styles for actions in forms, dialogs, and more.
			</div>

			<h2>Examples</h2>
			<p>MyService utilises four predefined button styles, each serving its own semantic purpose.</p>
			
			<p><button class="uikit-btn">Primary</button><button class="uikit-btn uikit-btn--tertiary">Tertiary</button><button class="uikit-btn uikit-btn--primary">Secondary</button><button class="uikit-btn uikit-btn--borderless">Link</button></p>
			
			<div class="example-box">	
				<code>
					// Provides visual weight and identifies the primary action in a set of buttons<br>
					&#60;button type="button" class="btn btn-primary"&#62;Primary&#60;/button&#62;<br>
					<br>
					// Tertiary, outline button<br>
					&#60;button type="button" class="btn btn-tertiary"&#62;Tertiary&#60;/button&#62;<br>
					<br>
					// Indicates a successful or positive action<br>
					&#60;button type="button" class="btn btn-primary"&#62;Secondary&#60;/button&#62;<br>
					<br>
					// Deemphasizes a button by making it look like a link<br>
					&#60;button type="button" class="btn btn-link"&#62;Link&#60;/button&#62;
				</code>
			</div>
			
			<hr>
			
			<h2>Variations</h2>
			<h3>Small buttons</h3>
			<p>Add <font color="red">.small</font> for smaller sized buttons.</p>
			<p>
				<button class="uikit-btn small">Small size</button><button class="uikit-btn uikit-btn--tertiary small">Small size</button>
				<div class="example-box">	
					<code>
						&#60;button class="uikit-btn small"&#62;Link&#60;/button&#62;<br>
						&#60;button class="uikit-btn uikit-btn--tertiary small"&#62;Button&#60;/button&#62;
					</code>
				</div>
			</p>
			
			<h3>Block level buttons</h3>
			<p>Create buttons that span the full width of a parent by adding <font color="red">.uikit-btn--block.</font></p>
			<p>
				<button class="uikit-btn uikit-btn--block">Block level button</button><button class="uikit-btn uikit-btn--tertiary uikit-btn--block">Block level button</button>
				
				<div class="example-box">	
					<code>
						&#60;button class="uikit-btn uikit-btn--block"&#62;Block level button&#60;/button&#62;<br>
						&#60;button class="uikit-btn uikit-btn--tertiary uikit-btn--block"&#62;Block level button&#60;/button&#62;
					</code>
				</div>
			</p>
			
			<h3>Right aligned</h3>
			<p></p>
			<p>
				<button class="uikit-btn floated">Right aligned</button>
				<div class="example-box">	
					<code>
						&#60;button class="uikit-btn floated"&#62;Right aligned&#60;/button&#62;<br>
					</code>
				</div>
			</p>
			
			<h3>Disabled state</h3>
			<p>Make buttons look inactive by adding the disabled attribute to any <font color="red">&#60;button&#62;</font> element.</p>
			<p>
				<button class="uikit-btn" disabled>Disabled</button>
				<div class="example-box">	
					<code>
						&#60;button class="uikit-btn" disabled&#62;Disabled&#60;/button&#62;<br>
					</code>
				</div>
			</p>
			
			<hr>
			
			<h3>Button tags</h3>
			<p>The .uikit-btn classes can be used with the &#60;button&#62;, &#60;a&#62; or &#60;input&#62; elements (visual discrepencies may occur across browsers).</p>

			<p>When using button classes on &#60;a&#62; elements that are used to trigger in-page functionality (like collapsing content), these links should be given a role="button" to appropriately convey their purpose to assistive technologies such as screen readers.</p>
			
			<p><a class="uikit-btn" href="#" role="button">Link</a><button class="uikit-btn" type="submit">Button</button><input class="uikit-btn" type="button" value="Input"><input class="uikit-btn" type="submit" value="Submit"><input class="uikit-btn" type="reset" value="Reset"></p>
			
			<div class="example-box">	
				<code>
					&#60;a class="uikit-btn" href="#" role="button"&#62;Link&#60;/a&#62;<br>
					&#60;button class="uikit-btn" type="submit"&#62;Button&#60;/button&#62;<br>
					&#60;input class="uikit-btn" type="button" type="submit" value="Input"&#62;<br>
					&#60;input class="uikit-btn" type="button" type="reset" value="Reset"&#62;
				</code>
			</div>
			
			<hr>
			
		</div>
		<% include ../partials/sidenav.ejs %>		
	</div>
	</div>
</main>
</body>
</html>
