<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Style Guide | Callouts | MyService</title>
	<% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

	<% include ../partials/header.ejs %>

		<main>
			<div class="container margin-above margin-below--extra" id="main-content">

				<div class="row">
					<div class="col-sm-9">
						<h1>Callouts</h1>
						<div class="breakout">
							<p>Information goes here.</p>
						</div>

						<hr>

					</div>
					<% include ../partials/sidenav.ejs %>
				</div>
			</div>
		</main>
		<% include ../partials/footer.ejs %>
</body>

</html>