<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Cards | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <% include ../../global/partials/go-to-top.ejs %>
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Cards</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Cards</h1>
			<div class="breakout">
			Information goes here.
			</div>

			<hr>
			
		</div>
		<% include ../partials/sidenav.ejs %>		
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
