<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Cards | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <% include ../partials/header.ejs %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Cards</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Cards</h1>
          <div class="breakout">
            <p>MyService uses a card patern for landing and other pages</p>
          </div>

          <h2>Default card with a medium modifier</h2>
          <p>Medium is good for 3 card rows at full width</p>

          <div class="example-box">

            <div class="card card--medium">
              <a href="/profile">
                <figure>
                  <img class="card__image" src="../../../docs/images/ico-db-profile.svg" alt="">
                </figure>
                <h2 class="card__title">
                  <span>Review your profile</span>
                </h2>
              </a>
              <p class="card__supporting-text">Keep your profile up to date so we can help you.</p>
            </div>

            <pre>
                <code class="language-markup">
                  <script type="text/plain">
                    <div class="card card--medium">
                      <a href="/profile">
                        <figure>
                          <img class="card__image" src="../../../docs/images/ico-db-profile.svg" alt="">
                        </figure>
                        <h2 class="card__title">
                          <span>Review your profile</span>
                        </h2>
                      </a>
                      <p class="card__supporting-text">Keep your profile up to date so we can help you.</p>
                    </div>
                  </script>
                </code>
              </pre>

          </div>



          <h2>Default card with a hover state</h2>
          <!-- <p>Medium is good for 3 card rows at full width</p> -->

          <div class="example-box">

            <div class="card card--medium card--simple">
              <a href="/profile">
                <span class="fal fa-user-plus fa-icon-nr"></span>
                <h2 class="card__title">
                  <span>Review your profile</span>
                </h2>
              </a>

            </div>

            <pre>
                <code class="language-markup">
                  <script type="text/plain">
                  
                  </script>
                </code>
              </pre>

          </div>

        </div>
        <% include ../partials/sidenav.ejs %>
      </div>
    </div>
  </main>

  <% include ../partials/footer.ejs %>

</body>

</html>