<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Colours | MyService</title>
  <link href="/docs/css/main.css" rel="stylesheet">
  <link href="/docs/css/styleguide.css" rel="stylesheet">
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="../index.html">Home</a></li>
    		<li>Colours</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Colours</h1>
			<div class="breakout">
			Colours in MyService can be managed using a handful of pre-defined variables.
			</div>

			<h2>The core palette</h2>
			
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="color-card">
						<div class="color-set color-blue">&nbsp;</div>
						<b>Ocean blue</b> &nbsp; #1057A7
					</div>
					
					<i>Ocean blue</i> is the primary colour used across a wide variety of components.
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="color-card">
						<div class="color-set color-blue-dark">&nbsp;</div>
						<b>In the Navy</b> &nbsp; #093d77
					</div>
					
					<i>In the Navy</i> is often used to compliment <i>Ocean blue</i> in hover states.
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="color-card">
						<div class="color-set color-green">&nbsp;</div>
						<b>Combat Green</b> &nbsp; #00AB4D
					</div>
					
					<i>Combat Green</i> is used sparingly to prioritise a 'call to action'.
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="color-card">
						<div class="color-set color-blue-light">&nbsp;</div>
						<b>Sky blue</b> &nbsp; #53cbe2
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="color-card">
						<div class="color-set color-grey-dark">&nbsp;</div>
						<b>Dark grey</b> &nbsp; #666666
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="color-card">
						<div class="color-set color-grey-light">&nbsp;</div>
						<b>Light grey</b> &nbsp; #eeeeee
					</div>
				</div>
			</div>
			
			<hr>
			
			<h2>The secondary palette</h2>
			<p>The following colours are used sparingly across MyService:</p>
			
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="color-card">
						<div class="color-set color-red">&nbsp;</div>
						<b>Alert Red</b> &nbsp; #cc0000
					</div>
					
					<i>Alert Red</i> is the most rare colour of them all. Used in validation messaging, <i>Alert Red</i> draws the user to a specific area of the page that needs immediate attention.
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="color-card">
						<div class="color-set color-orange">&nbsp;</div>
						<b>Mustard</b> &nbsp; #FF9600
					</div>
					
					This colour is used within the card design to indicate incompleted claims.
				</div>
			</div>
			
			<hr>
			
		</div>
		<% include ../partials/sidenav.ejs %>		
	</div>
	</div>
</main>
</body>
</html>
