<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Style Guide | Helper classes | MyService</title>
	<% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

	<% include ../partials/header.ejs %>

		<main>
			<div class="container" id="main-content">
				<nav class="uikit-breadcrumbs" aria-label="breadcrumb">
					<ul class="uikit-link-list uikit-link-list--inline">
						<li>
							<a href="/styleguide">Home</a>
						</li>
						<li>Toast messages</li>
					</ul>
				</nav>

				<div class="row">
					<div class="col-sm-9">
						<h1>Currency box</h1>
						<div class="breakout">
							<p>Currency box provides a simple box to display currency</p>
						</div>

						<h2>Purpose</h2>
						<p>Currency boxes are ideal for situations when displaying dollar amounts</p>

						<div class="d-container"></div>
						<div class="toast-container"></div>

						<h2>All Options</h2>

						<div class="example-box">

							<pre>
								<code class="language-markup">
									<script type="text/plain">
                    <div id="request1" class="lsa-currency-bg lsa-amount-request border-all border-top__thick--blue uikit-body">
                      <div class="row requestBox" id="requestAmountBox">
                        <h3 style="margin-top:0;">Amount you can request</h3>
                          <div class="col-md-2 ">
                            <span class="hint">Minimum</span>
                              <legend class="legend-label">$456.90</legend>
                          </div>
                          <div class="col-md-1"><span class="pipe">&#124;</span>

                          </div>
                          <div class="col-md-2 ">
                            <span class="hint">Maximum</span>
                              <legend class="legend-label">$1256.90</legend>
                          </div>
                          <div class="col-md-7">
                          </div>
                        </div>
                      </div>
                  </script>
								</code>
							</pre>

						</div>

					</div>
					<% include ../partials/sidenav.ejs %>
				</div>
			</div>
		</main>
		<% include ../partials/footer.ejs %>
</body>

</html>
