<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Document Uploads | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <% include ../partials/header.ejs %>

    <main>
      <div class="container" id="main-content">

        <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
          <ul class="uikit-link-list uikit-link-list--inline">
            <li>
              <a href="/styleguide">Home</a>
            </li>
            <li>Document uploads</li>
          </ul>
        </nav>

        <div class="row">
          <div class="col-sm-8">
            <h1>Document Uploads</h1>
            <div class="breakout">
              <p>MyService uses a document uploads pattern for forms </p>
              <h2>Rules:</h2>
              <ul>
                <li>
                  When a document is successfully uploaded, the categories status turns to success
                </li>
                <li>When a document category has a success status, its default accordion position is always closed</li>
                <li>When a document category is in a required state, its default position is always open</li>
              </ul>
            </div>


            <table class="table-responsive table-responsive--no-border ">

              <tr>
                <td colspan="5">
                  <i>
                    <br>
                    <br>
                    <br>status = successfully uploaded
                    <br> accordion default position = closed
                    <br>number of docs uploaded = 1</i>
                </td>
              </tr>

              <tr class="accordion accordion--closed">
                <td class="file-status file-status--uploaded">
                  <span class="sr">
                    Success
                  </span>
                </td>
                <td>
                  <span>
                    <b> Proof of residence </b>
                  </span>
                  <span class="display-block accordion-title__details">For example, school report, Institution letter</span>
                </td>

                <td class="right">

                  <div class="file-upload">
                    <input type="file" class="file-upload__input">
                    <label class="file-upload__label">
                      <span class="file-upload__document">
                        <a class="file-upload__file-name file-upload__file-name--uploaded">My document 111 AAA .png</a>
                      </span>
                      <span class="file-upload__button">
                        <button href="#" class="uikit-btn small uikit-btn--tertiary">Remove</button>
                      </span>
                    </label>
                  </div>


                </td>
                <td>
                  <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--closed">
                    <span class="sr">Toggle accordion</span>
                  </a>
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  <i>
                    <br>
                    <br>
                    <br> status = successfully uploaded
                    <br> accordion default position = closed
                    <br> number of docs uploaded = 2
                    <br>
                  </i>
                </td>
              </tr>



              <tr class="accordion accordion--closed">

                <td class="file-status file-status--uploaded">
                  <span class="sr">
                    Success
                  </span>
                </td>
                <td>
                  <span>
                    <b> Part-time study reason</b>
                  </span>
                  <span class="display-block accordion-title__details">For example, school report, Institution letter</span>
                </td>

                <td class="right">

                  <div class="file-upload">
                    <input type="file" class="file-upload__input">
                    <label class="file-upload__label">
                      <span class="file-upload__document">
                        <a class="file-upload__file-name file-upload__file-name--uploaded">My document 222 AAA .png</a>
                      </span>
                      <span class="file-upload__button">
                        <button href="#" class="uikit-btn small uikit-btn--tertiary">Remove</button>
                      </span>
                    </label>
                  </div>

                  <div class="file-upload accordion-title__details">
                    <input type="file" class="file-upload__input">
                    <label class="file-upload__label">
                      <span class="file-upload__document">
                        <a href="#" class="file-upload__file-name file-upload__file-name--uploaded">Here's something else 222 BBB.png</a>
                      </span>
                      <span class="file-upload__button">
                        <button href="#" class="uikit-btn small uikit-btn--tertiary">Remove</button>
                      </span>
                    </label>
                  </div>

                  <div class="file-upload accordion-title__details">
                    <input type="file" class="file-upload__input">
                    <label class="file-upload__label">
                      <span class="file-upload__button">
                        <button href="#" class="uikit-btn small uikit-btn--tertiary">Add another</button>
                      </span>
                    </label>
                  </div>
                </td>
                <td>
                  <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--closed">
                    <span class="sr">Toggle accordion</span>
                  </a>
                </td>
              </tr>



              <tr>
                <td colspan="5">
                  <i>
                    <br>
                    <br>
                    <br>status = no document uploaded
                    <br> accordion default position = open
                    <br>
                  </i>
                </td>
              </tr>


              <tr class="accordion accordion--open">
                <td class="file-status file-status--required">
                  <span class="sr">
                    Required
                  </span>
                </td>
                <td>
                  <span>
                    <b> Proof of relationship</b>
                  </span>
                  <span class="display-block accordion-title__details">For example, birth certificate, adoption order</span>
                </td>

                <td class="right">
                  <div class="file-upload">
                    <input type="file" class="file-upload__input">
                    <label class="file-upload__label">
                      <span class="file-upload__document">
                        <a class="file-upload__file-name file-upload__file-name--uploaded">
                          <!-- document name will go in here -->

                        </a>
                      </span>
                      <span class="file-upload__button">
                        <button href="#" class="uikit-btn small">Upload</button>
                      </span>
                    </label>
                  </div>

                </td>
                <td>
                  <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                    <span class="sr">Toggle accordion</span>
                  </a>
                </td>
              </tr>





            </table>

            <h2>Always stacked version</h2>
            <ul>
              <li>
                Same data as above but with the
                <code>.table-responsive--always-stacked </code> class
              </li>

            </ul>
            <div class="row">
              <div class="col-sm-6">
                <table class="table-responsive table-responsive--no-border table-responsive--always-stacked">

                  <tr class="accordion accordion--closed">
                    <td class="file-status file-status--uploaded">
                      <span class="sr">
                        Success
                      </span>
                    </td>
                    <td>
                      <span>
                        <b> Proof of residence </b>
                      </span>
                      <span class="display-block accordion-title__details">For example, school report, Institution letter</span>
                    </td>

                    <td class="right">

                      <div class="file-upload">
                        <input type="file" class="file-upload__input">
                        <label class="file-upload__label">
                          <span class="file-upload__document">
                            <a class="file-upload__file-name file-upload__file-name--uploaded">My document 111 AAA .png</a>
                          </span>
                          <span class="file-upload__button">
                            <button href="#" class="uikit-btn small uikit-btn--tertiary">Remove</button>
                          </span>
                        </label>
                      </div>


                    </td>
                    <td>
                      <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--closed">
                        <span class="sr">Toggle accordion</span>
                      </a>
                    </td>
                  </tr>



                  <tr class="accordion accordion--closed">

                    <td class="file-status file-status--uploaded">
                      <span class="sr">
                        Success
                      </span>
                    </td>
                    <td>
                      <span>
                        <b> Part-time study reason</b>
                      </span>
                      <span class="display-block accordion-title__details">For example, school report, Institution letter</span>
                    </td>

                    <td class="right">

                      <div class="file-upload">
                        <input type="file" class="file-upload__input">
                        <label class="file-upload__label">
                          <span class="file-upload__document">
                            <a class="file-upload__file-name file-upload__file-name--uploaded">My document 222 AAA .png</a>
                          </span>
                          <span class="file-upload__button">
                            <button href="#" class="uikit-btn small uikit-btn--tertiary">Remove</button>
                          </span>
                        </label>
                      </div>

                      <div class="file-upload accordion-title__details">
                        <input type="file" class="file-upload__input">
                        <label class="file-upload__label">
                          <span class="file-upload__document">
                            <a href="#" class="file-upload__file-name file-upload__file-name--uploaded">Here's something else 222 BBB.png</a>
                          </span>
                          <span class="file-upload__button">
                            <button href="#" class="uikit-btn small uikit-btn--tertiary">Remove</button>
                          </span>
                        </label>
                      </div>

                      <div class="file-upload accordion-title__details">
                        <input type="file" class="file-upload__input">
                        <label class="file-upload__label">
                          <span class="file-upload__button">
                            <button href="#" class="uikit-btn small uikit-btn--tertiary">Add another</button>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--closed">
                        <span class="sr">Toggle accordion</span>
                      </a>
                    </td>
                  </tr>



                  <tr class="accordion accordion--open">
                    <td class="file-status file-status--required">
                      <span class="sr">
                        Required
                      </span>
                    </td>
                    <td>
                      <span>
                        <b> Proof of relationship</b>
                      </span>
                      <span class="display-block accordion-title__details">For example, birth certificate, adoption order</span>
                    </td>

                    <td class="right">
                      <div class="file-upload">
                        <input type="file" class="file-upload__input">
                        <label class="file-upload__label">
                          <span class="file-upload__document">
                            <a class="file-upload__file-name file-upload__file-name--uploaded">
                              <!-- document name will go in here -->

                            </a>
                          </span>
                          <span class="file-upload__button">
                            <button href="#" class="uikit-btn small">Upload</button>
                          </span>
                        </label>
                      </div>

                    </td>
                    <td>
                      <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                        <span class="sr">Toggle accordion</span>
                      </a>
                    </td>
                  </tr>





                </table>
              </div>
            </div>

            <h2>HTML Template</h2>

            <hr>
          </div>
          <% include ../partials/sidenav.ejs %>
        </div>
      </div>
    </main>

    <% include ../partials/footer.ejs %>

</body>


<script>

  // Swap text on top panel accordion button
  var open = false;
  $(".accordion__trigger").click(function () {

    // open = !open;  
    // if (open) {
    //   $(".accordion-toppanel-btn").text("Close");
    // }
    // else {
    //   $(".accordion-toppanel-btn").text("24hr counselling and support services");
    // }

    // $(this).toggleClass("accordion__trigger--open accordion__trigger--closed");
    // $(this).closest(".accordion").toggleClass("accordion--closed accordion--open");

  });


</script>


</html>