<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Document Uploads | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <% include ../partials/header.ejs %>

    <main>
      <div class="container" id="main-content">

        <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
          <ul class="uikit-link-list uikit-link-list--inline">
            <li>
              <a href="/styleguide">Home</a>
            </li>
            <li>Cards</li>
          </ul>
        </nav>

        <div class="row">
          <div class="col-sm-8">
            <h1>Document Uploads</h1>
            <div class="breakout">
              <p>MyService uses a document uploads pattern for forms </p>
            </div>

            <!-- <h2>Default card with a medium modifier</h2>
            <p>Medium is good for 3 card rows at full width</p> -->


            <table class="table-responsive table-responsive--no-border ">

              <tr class="accordion accordion--closed">
                <td class="file-status file-status--uploaded">
                  <span class="sr">
                    Required
                  </span>
                </td>
                <td>
                  <span>
                    <b> Proof of relationship</b>
                  </span>
                  <span class="display-block accordion-title__details">For example, birth certificate, adoption order</span>
                </td>

                <td class="right">
                  <div class="file-upload">
                    <input type="file" class="file-upload__input">
                    <label class="file-upload__label">
                      <span class="file-upload__document">
                        <span class="file-upload__file-name file-upload__file-name--uploaded">Here's something AAA .png</span>
                      </span>
                      <span class="file-upload__button">
                        <a href="#" class="uikit-btn small uikit-btn--tertiary">Remove</a>
                      </span>
                    </label>
                  </div>

                  <div class="file-upload accordion-title__details">
                    <input type="file" class="file-upload__input">
                    <label class="file-upload__label">
                      <span class="file-upload__document">
                        <a href="#" class="file-upload__file-name file-upload__file-name--uploaded">Here's something else BBB.png</a>
                      </span>
                      <span class="file-upload__button">
                        <a href="#" class="uikit-btn small uikit-btn--tertiary">Remove</a>
                      </span>
                    </label>
                  </div>

                  <div class="file-upload accordion-title__details">
                    <input type="file" class="file-upload__input">
                    <label class="file-upload__label">
                      <span class="file-upload__button">
                        <a href="#" class="uikit-btn small uikit-btn--tertiary">Add another</a>
                      </span>
                    </label>
                  </div>




                </td>
                <td>
                  <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open"></a>
                </td>
              </tr>




            </table>

            <!-- 


            <table class="table-responsive table-responsive--no-border">


              <tr class="uikit-accordion__title js-uikit-accordion accordion-toppanel-btn">
                <td class="file-status file-status--required">
                  <span>
                    <b>Required</b>
                  </span>
                </td>
                <td>
                  <span>
                    <b> Proof of relationship</b>
                  </span>
                  <span class="display-block">For example, birth certificate, adoption order</span>
                </td>

                <td class="right">
                  <div class="file-upload">
                    <input type="file" id="file-1" class="file-upload__input" />
                    <label class="file-upload__label" for="file-1">
                      <span class="file-upload__file-name"></span>
                      <span class="uikit-btn small">
                        Upload</span>
                    </label>
                  </div>
                </td>
              </tr>

            </table> -->


            <h2>HTML Template</h2>

            <hr>
          </div>
          <% include ../partials/sidenav.ejs %>
        </div>
      </div>
    </main>

    <% include ../partials/footer.ejs %>

</body>


<script>

  // Swap text on top panel accordion button
  var open = false;
  $(".accordion__trigger").click(function () {

    // open = !open;  
    // if (open) {
    //   $(".accordion-toppanel-btn").text("Close");
    // }
    // else {
    //   $(".accordion-toppanel-btn").text("24hr counselling and support services");
    // }

    $(this).toggleClass("accordion__trigger--open accordion__trigger--closed");
    $(this).closest(".accordion").toggleClass("accordion--closed accordion--open");

  });


</script>


</html>