<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Forms | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Forms</li>
    	</ul>
    </nav>

    <div class="row">
    	<div class="col-sm-8">
			<h1>Forms</h1>
			<div class="breakout">
			Form components include input fields, drop-down lists, select lists, radio buttons, checkboxes and more. MyService expands on the default UI-Kit form elements to create visually appealling and easy to use controls.
			</div>

			<h2>Form controls</h2>
			<p>The example form below demonstrates common HTML form elements that receive updated styles with additional classes. Bootstrap utilizes the HTML5 doctype, so all inputs <b>must have a <font color="red">type</font> attribute</b>.</p>

			<div class="example-box">
				<h6>EXAMPLE FORM</h6>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<div class="form-group">
								  <label class="uikit-text-input__label" for="Input field">Input field label</label>
								  <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
								</div>

								<div class="form-group">
								  <label class="uikit-text-input__label" for="toggle-buttons">'Yes' or 'No' toggle buttons</label>
								  <div class="radio-toggle">
									<label class="on label-left" for="yes"><input id="yes" type="radio" name="toggle-buttons"><span>Yes</span></label>
									<label class="off label-right" for="no"><input id="no" type="radio" name="toggle-buttons"><span>No</span></label>
								  </div>
								</div>

								<div class="form-group" id="yes-content" style="display:none;">
									<h4>Yes button activated</h4>
									<p>This content will display when the 'Yes' toggle button is activated.</p>
								</div>

								<div class="form-group" id="no-content" style="display:none;">
									<h4>No button activated</h4>
									<p>This content will display when the 'No' toggle button is activated.</p>
								</div>

								<div class="form-group">
									<label class="uikit-text-input__label" for="date">Date fields <span class="hint">(DD / MM / YYYY)</span></label>
									<input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
									<input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
									<input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
								</div>

								<div class="form-group">
								  <label class="uikit-text-input__label" for="drop-down">Drop-down<br />
								  <span class="hint display-block">Select an item from the list.</span></label>
								  <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
									<option>-- Select an item --</option>
									<option>Item 1</option>
									<option>Item 2</option>
									<option selected>Item 3</option>
									<option>Item 4</option>
								  </select>
								</div>

								<div class="form-group">
									<label class="uikit-text-input__label" for="sop">Checkbox <span class="hint display-block">Select all that apply.</span></label>
									<div class="uiToolKitCheckBox">
										<label class="uikit-control-input">
											<input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
											<span class="uikit-control-input__text">Item 1</span>
										</label>
									</div>
									<div class="uiToolKitCheckBox">
										<label class="uikit-control-input">
											<input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
											<span class="uikit-control-input__text">Item 2</span>
										</label>
									</div>
								</div>

								<div class="form-group">
									<label class="uikit-text-input__label" for="radio-buttons">Radio buttons</label>
									<p class="uiToolKitCheckBox">
										<label class="uikit-control-input">
											<input class="uikit-control-input__input" type="radio" name="radio-ex">
											<span class="uikit-control-input__text">Item 1</span>
										</label>
									</p>
									<p class="uiToolKitCheckBox">
										<label class="uikit-control-input">
											<input class="uikit-control-input__input" type="radio" name="radio-ex">
											<span class="uikit-control-input__text">Item 1</span>
										</label>
									</p>
								</div>


								<div class="form-group">
									<label class="uikit-text-input__label" for="textArea">Text box</label>
									<textarea id="textArea" name="textArea" rows="5"></textarea>
								</div>

								<div class="pagination">
									<button class="uikit-btn">Submit</button>&nbsp;
									<button class="uikit-btn uikit-btn--borderless">Cancel</button>
 								</div>


							</td>
						</tr>
						<tr><td class="example-code">
							<code>Code goes here.</code>
						</td></tr>
					</tbody>
				</table>
			</div>


			<hr>

			<h2>Form layouts</h2>
			<p>MyService applies <font color="red">display: block</font> to almost all form controls, so forms will by default stack vertically.</p>

			<hr>

			<h2>Form groups</h2>
			<p>The <font color="red">.form-group</font> class gives structure to forms. Its only purpose is to provide <font color="red">margin-bottom</font> around a label and control pairing.</p>

			<hr>

			<h2>Hint text</h2>

			<hr>

			<h2>Validation</h2>

			<hr>

			<h2>Type-ahead</h2>

			<hr>

		</div>
		<% include ../partials/sidenav.ejs %>
	</div>
	</div>
	</main>

<% include ../partials/footer.ejs %>

<script>
// Show and hide content when 'Yes' toggle button is clicked
$( "#yes" ).click(function() {
	$( "#no-content" ).hide();
	$( "#yes-content" ).show("fast");
});

// Show and hide content when 'No' toggle button is clicked
$( "#no" ).click(function() {
	$( "#yes-content" ).hide();
	$( "#no-content" ).show("fast");
});
</script>

</body>
</html>
