<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Forms | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Forms</li>
    	</ul>
    </nav>

    <div class="row">
    	<div class="col-sm-8">
			<h1>Forms</h1>
			<div class="breakout">
				<p>Form components include input fields, drop-down lists, select lists, radio buttons, checkboxes and more. MyService expands on the default UI-Kit form elements to create visually appealling and easy to use controls.</p>
			</div>

			<h2>Form controls</h2>
			<p>The example form below demonstrates common HTML form elements that receive updated styles with additional classes. Bootstrap utilizes the HTML5 doctype, so all inputs <b>must have a <font color="red">type</font> attribute</b>.</p>

			<div class="example-box">
				<h6>EXAMPLE FORM</h6>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<div class="form-group">
								  <label class="uikit-text-input__label" for="Input field">Input field label</label>
								  <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
								</div>

								<div class="form-group">
								  <label class="uikit-text-input__label" for="toggle-buttons">'Yes' or 'No' toggle buttons</label>
								  <div class="radio-toggle">
									<label class="on label-left" for="yes"><input id="yes" type="radio" name="toggle-buttons"><span>Yes</span></label>
									<label class="off label-right" for="no"><input id="no" type="radio" name="toggle-buttons"><span>No</span></label>
								  </div>
								</div>

								<div class="form-group" id="yes-content" style="display:none;">
									<h4>Yes button activated</h4>
									<p>This content will display when the 'Yes' toggle button is activated.</p>
								</div>

								<div class="form-group" id="no-content" style="display:none;">
									<h4>No button activated</h4>
									<p>This content will display when the 'No' toggle button is activated.</p>
								</div>

								<div class="form-group">
									<label class="uikit-text-input__label" for="date">Date fields <span class="hint">(DD / MM / YYYY)</span></label>
									<input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
									<input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
									<input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
								</div>

								<div class="form-group">
								  <label class="uikit-text-input__label" for="drop-down">Drop-down<br />
								  <span class="hint display-block">Select an item from the list.</span></label>
								  <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
									<option>-- Select an item --</option>
									<option>Item 1</option>
									<option>Item 2</option>
									<option selected>Item 3</option>
									<option>Item 4</option>
								  </select>
								</div>

								<div class="form-group">
									<label class="uikit-text-input__label" for="sop">Checkbox <span class="hint display-block">Select all that apply.</span></label>
									<div class="uiToolKitCheckBox">
										<label class="uikit-control-input">
											<input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
											<span class="uikit-control-input__text">Item 1</span>
										</label>
									</div>
									<div class="uiToolKitCheckBox">
										<label class="uikit-control-input">
											<input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
											<span class="uikit-control-input__text">Item 2</span>
										</label>
									</div>
								</div>

								<div class="form-group">
									<label class="uikit-text-input__label" for="radio-buttons">Radio buttons</label>
									<p class="uiToolKitCheckBox">
										<label class="uikit-control-input">
											<input class="uikit-control-input__input" type="radio" name="radio-ex">
											<span class="uikit-control-input__text">Item 1</span>
										</label>
									</p>
									<p class="uiToolKitCheckBox">
										<label class="uikit-control-input">
											<input class="uikit-control-input__input" type="radio" name="radio-ex">
											<span class="uikit-control-input__text">Item 1</span>
										</label>
									</p>
								</div>


								<div class="form-group">
									<label class="uikit-text-input__label" for="textArea">Text box</label>
									<textarea id="textArea" name="textArea" rows="5"></textarea>
								</div>

								<div class="pagination">
									<button class="uikit-btn">Submit</button>&nbsp;
									<button class="uikit-btn uikit-btn--borderless">Cancel</button>
 								</div>


							</td>
						</tr>
						<tr><td class="example-code">
							<code>Code goes here.</code>
						</td></tr>
					</tbody>
				</table>
			</div>


			<hr>

			<h2>Form layouts</h2>
			<p>MyService applies <font color="red">display: block</font> to almost all form controls, so forms will by default stack vertically.</p>

			<hr>

			<h2>Form groups</h2>
			<p>The <font color="red">.form-group</font> class gives structure to forms. Its only purpose is to provide <font color="red">margin-bottom</font> around a label and control pairing.</p>

			<hr>

			<h2>Hint text</h2>

			<hr>

			<h2>Validation</h2>

			<hr>

			<h2>Type-ahead</h2>

			<hr>

			<h2>Accordian edit form</h2>
			<p>Accordian edit forms limit the user to edit one field at a time. If a user presses a <i>Change</i> button they are presented with the option to edit that field. Other editable fields on the page are disabled until the user saves or cancels the field they are editting.</p>
			<p>Validation appears as shown in the <i>Home phone number</i> field shown below when the <i>Change</i> button is pressed</p>

			<div class="example-box">
			<h6>EXAMPLE ACCORDIAN EDIT FORM</h6>
			<div class="profile-table">
				<div class="row profile-row">
					<div class="col-sm-10 col-xs-8 description-fields">
						<div class="row">
							<div class="col-sm-4 title-field">Drop-down</div>
							<div class="col-sm-8 uneditable dd-uneditable-div">3</div>
							<div class="col-sm-8 editable dd-editable-div" style="display:none;">
								<select class="uikit-text-input" id="drop-down" name="drop-down">
									<option>-- Select an item --</option>
									<option>Item 1</option>
									<option>Item 2</option>
									<option selected>Item 3</option>
									<option>Item 4</option>
								</select>
								<button class="uikit-btn uikit-btn--tertiary small cancel-dd-button">Cancel</button>
								<button class="uikit-btn small save-dd-button">Save</button>
								<div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-2 col-xs-4 change-button">
						<button class="uikit-btn uikit-btn--tertiary small edit-dd-button">Change</button>
					</div>
				</div>
				<div class="row profile-row">
					<div class="col-sm-10 col-xs-8 description-fields">
						<div class="row">
							<div class="col-sm-4 title-field">Input text field</div>
							<div class="col-sm-8 uneditable text-uneditable-div">Input text</div>
							<div class="col-sm-8 editable text-editable-div" style="display:none;">
								<input class="uikit-text-input" name="Input field" id="Input field" type="text" value="Input text" required aria-required="true">
								<button class="uikit-btn uikit-btn--tertiary small cancel-text-button">Cancel</button>
								<button class="uikit-btn small save-text-button">Save</button>
								<div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-2 col-xs-4 change-button">
						<button class="uikit-btn uikit-btn--tertiary small edit-text-button">Change</button>
					</div>
				</div>
				<div class="row profile-row">
					<div class="col-sm-10 col-xs-8 description-fields">
						<div id="error-example" class="row">
						<div class="col-sm-4 title-field">Home phone number</div>
						<div class="col-sm-8 uneditable home-uneditable-div">
							<span id="home-span" class="no-value">Not provided</span>
						</div>
						<div class="col-sm-6 editable home-editable-div" style="display:none;">
							<span class="hint display-block">Please include your area code (for example, "03" for Victoria)</span>
							<span id="phone-error" class="input-error-profile" aria-live="polite">Enter a valid home phone number</span>
							<input class="uikit-text-input" name="home-phone" id="home-phone" type="text" value="">
							<button class="uikit-btn uikit-btn--tertiary small cancel-home-button">Cancel</button>
							<button class="uikit-btn small save-home-button">Save</button>
							<div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
						</div>
						</div>
					</div>
					<div class="col-sm-2 col-xs-4 change-button">
						<button class="uikit-btn uikit-btn--tertiary small edit-home-button">Change</button>
					</div>
				</div>
			</div>
		</div>

		<br/>
		<p>The fields stack in smaller viewports such that the title field and the change button are side-by-side with the value or input fields stacking beneath them.</p>

		<div class="example-box">
			<h6>EXAMPLE OF ACCORDIAN EDIT FORM IN MOBILE VIEWPORT</h6>
			<img src="../../../docs/images/styleguide/sg-accordian-edit-form.png" style="width:18em">		
		</div>

		<br/>

		<h3>Note on using accordian edit forms</h3>
		<p>The purpose of the accordian edit form is to limit the user to edit one field at a time. Within the form there these limitations exist, however the user is to free to click on navigation items. Clicking on a navigation in the <i>edit</i> state could result in loss of changes. Use a modal in this case to warn the user that they could lose changes.</p>

		<hr>
		</div>
		<% include ../partials/sidenav.ejs %>
	</div>
	</div>
	</main>

<% include ../partials/footer.ejs %>

<script>
// Show and hide content when 'Yes' toggle button is clicked
$( "#yes" ).click(function() {
	$( "#no-content" ).hide();
	$( "#yes-content" ).show("fast");
});

// Show and hide content when 'No' toggle button is clicked
$( "#no" ).click(function() {
	$( "#yes-content" ).hide();
	$( "#no-content" ).show("fast");
});


// mimic functionality need after a save button is pressed
// to disable all edit buttons to allow for saving time
var fewSeconds = 2;

// When the edit field is cicked for title
$(".edit-dd-button").click(function () {
	$(".dd-editable-div").show();
	$(".save-dd-button").show();
	$(".edit-dd-button").hide();
	$(".dd-uneditable-div").hide();
	// disable other edit fields
	$('.edit-text-button, .edit-home-button').prop('disabled', true);
});

// When the save field is cicked for title
$(".save-dd-button").click(function () {

	var btn = $(".save-dd-button, .cancel-dd-button");
	btn.prop('disabled', true);
	$('.waiting-animation').show();
	setTimeout(function () {
		btn.prop('disabled', false);
		// re-enable other edit fields
		$('.edit-text-button, .edit-home-button').prop('disabled', false);
		$(".dd-editable-div").hide();
		$(".save-dd-button").hide();
		$(".edit-dd-button").show();
		$(".dd-uneditable-div").show();
		$('.waiting-animation').hide();
	}, fewSeconds * 1000);
});

// When the cancel field is cicked for title
$(".cancel-dd-button").click(function () {
	$(".dd-editable-div").hide();
	$(".save-dd-button").hide();
	$(".edit-dd-button").show();
	$(".dd-uneditable-div").show();
	// re-enable other edit fields
	$('.edit-text-button, .edit-home-button').prop('disabled', false);
});

// When the edit field is cicked for title
$(".edit-text-button").click(function () {
	$(".text-editable-div").show();
	$(".save-text-button").show();
	$(".edit-text-button").hide();
	$(".text-uneditable-div").hide();
	// disable other edit fields
	$('.edit-dd-button, .edit-home-button').prop('disabled', true);
});

// When the save field is cicked for title
$(".save-text-button").click(function () {

	var btn = $(".save-text-button, .cancel-text-button");
	btn.prop('disabled', true);
	$('.waiting-animation').show();
	setTimeout(function () {
		btn.prop('disabled', false);
		// re-enable other edit fields
		$('.edit-dd-button, .edit-home-button').prop('disabled', false);
		$(".text-editable-div").hide();
		$(".save-text-button").hide();
		$(".edit-text-button").show();
		$(".text-uneditable-div").show();
		$('.waiting-animation').hide();
	}, fewSeconds * 1000);
});

// When the cancel field is cicked for title
$(".cancel-text-button").click(function () {
	$(".text-editable-div").hide();
	$(".save-text-button").hide();
	$(".edit-text-button").show();
	$(".text-uneditable-div").show();
	// re-enable other edit fields
	$('.edit-dd-button, .edit-home-button').prop('disabled', false);
});

// When the edit field is cicked for title
$(".edit-home-button").click(function () {
	$(".home-editable-div").show();
	$(".save-home-button").show();
	$(".edit-home-button").hide();
	$(".home-uneditable-div").hide();
	// disable other edit fields
	$('.edit-dd-button, .edit-text-button').prop('disabled', true);
});

// When the save field is cicked for title
$(".save-home-button").click(function () {

	var btn = $(".save-home-button, .cancel-home-button");
	btn.prop('disabled', true);
	$('.waiting-animation').show();
	setTimeout(function () {
		btn.prop('disabled', false);
		// re-enable other edit fields
		$('.edit-dd-button, .edit-text-button').prop('disabled', false);
		$(".home-editable-div").hide();
		$(".save-home-button").hide();
		$(".edit-home-button").show();
		$(".home-uneditable-div").show();
		$('.waiting-animation').hide();
	}, fewSeconds * 1000);
});

// When the cancel field is cicked for title
$(".cancel-home-button").click(function () {
	$(".home-editable-div").hide();
	$(".save-home-button").hide();
	$(".edit-home-button").show();
	$(".home-uneditable-div").show();
	// re-enable other edit fields
	$('.edit-dd-button, .edit-text-button').prop('disabled', false);
});

</script>

</body>
</html>
