<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Icons and images | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <% include ../../global/partials/go-to-top.ejs %>
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="../index.html">Home</a></li>
    		<li>Icons and images</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Icons and images</h1>
			<div class="breakout">
			The MyService iconography style aligns with the Department of Veteran's Affairs personality and echoes other Australian Government service brands. Icons are in the <a href="https://en.wikipedia.org/wiki/Flat_design" target="_blank" rel="external">flat design style</a>, meaning they use minimal stylistic elements.
			</div>
			
			<h2>Icon features</h2>
			
			<div class="row">
				<div class="col-xs-4">
					<h4 class="heading-underline">Consistent line wieght</h4>
					<img class="sg-icon-example" src="../../../docs/images/styleguide/sg-ico-line-weight.svg" alt="Icon example of consistent line weight">
				</div>
				<div class="col-xs-4">
					<h4 class="heading-underline">Geometric shapes</h4>
					<img class="sg-icon-example" src="../../../docs/images/styleguide/sg-ico-geometric.svg" alt="Icon example of gemoetric shapes">
				</div>
				<div class="col-xs-4">
					<h4 class="heading-underline">Rounded corners</h4>
					<img class="sg-icon-example" src="../../../docs/images/styleguide/sg-ico-rounded.svg" alt="Icon example of rounded corners">
				</div>
			</div>
			
			<hr>
			
			<h2>Icons in headings</h2>

			<p>Icons used alongside text in a heading can help convey a key message. For example, a green tick icon in a heading that reads 'You have submitted your claim' will assist the user in understanding they have just completed a process. Headings, <font color="red">&#60;h1&#62;</font> and <font color="red">&#60;h2&#62;</font>, are available for use with icons.</p></p>
			
			<div class="example-box">
				<h6>EXAMPLE</h6>
				<table class="table">
					<tbody>
						<tr><td><h2><img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon"> Submitted</h2></td></tr>
						<tr><td class="example-code">
							<code>&lt;h2&gt;&lt;img src="ico-tick-green.svg" alt="Success tick icon"&gt; Submitted&lt;/h2&gt;</code>
						</td></tr>
					</tbody>
				</table>
			</div>
			
			<hr>
			
			<h2>Icon colours</h2>
			<p>An icon's default colour should be <font color="red">$grey</font> when used to add a visual element to content, and <font color="red">$blue</font> when used in a link. Icons can break from the default colour pattern but should never break from the MyService colour palette.</p>
			
			<div class="row">
				<div class="col-xs-4">
					<h4 class="heading-underline">Default</h4>
					<img class="sg-icon-example sg-icon--small" src="../../../docs/images/styleguide/sg-ico-color-default.svg" alt="Icon example of default colour">
				</div>
				<div class="col-xs-4">
					<h4 class="heading-underline">Default link</h4>
					<img class="sg-icon-example sg-icon--small" src="../../../docs/images/styleguide/sg-ico-color-link.svg" alt="Icon example of default link colour">
				</div>
				<div class="col-xs-4">
					<h4 class="heading-underline">Customised</h4>
					<img class="sg-icon-example sg-icon--small" src="../../../docs/images/styleguide/sg-ico-color-custom.svg" alt="Icon example of custom colour">
				</div>
			</div>
			
			<hr>
			
			<h2>Images</h2>
			
			<h3>Responsive images</h3>
			
			<h3>Positioning</h3>
			
			<div class="example-box">
				<table class="table">
					<tbody>
						<tr><td><img src="../../../docs/images/styleguide/sg-img-placeholder.gif" class="float-image-left"><p>Using the class <font color="red">.float-image-left</font> on an <font color="red">&lt;img&gt;</font> tag will align an image to the left of the proceeding element.</p></td></tr>
						<tr><td class="example-code">
							<code>&lt;img src="image-placeholder.gif" class="float-image-left"&gt;&lt;p&gt;Using the class .float-image-left on an &lt;img&gt; tag will align an image to the left of the proceeding element.&lt;/p&gt;</code>
						</td></tr>
					</tbody>
				</table>
			</div>

		</div>
		<% include ../partials/sidenav.ejs %>		
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
