<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Modals | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Modals</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Modals</h1>
			<div class="breakout">
			A modal presents information to the user that they must then act on. This is horribly disruptive, which means it’s the perfect choice when you need to interrupt the user. If you have an urgent message that requires an immediate answer from the user, then a modal is the right choice.
			</div>
			
			<h3>Purpose</h3>

			<p>A modal can present the user with a small amount of information (generally 2 sentences or less), and two actions. The modal takes over the screen, moving the current activity back a level, because the assumption is that whatever comes next in the activity is dependent on the answer that the user gives.</p>
			<p>Because the user can’t do anything until they answer your question, you want to be very careful about how you use a modal. By which we really mean, <b>use modals sparingly</b>!</p>
			
		</div>
		<% include ../partials/sidenav.ejs %>		
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
