<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Navigation | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <% include ../../global/partials/go-to-top.ejs %>
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="../index.html">Home</a></li>
    		<li>Navigation</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Navigation</h1>
			<div class="breakout">
			Navigation elements are used within the MyService header, footer and process flows. Animated sliding panels are used for log in, for help during a process flow, and to access information on 24hr counselling and support services. Other global navigation elements include a 'Return to top' button.
			</div>

			<hr>
			
			<h2>'Return to top' button</h2>
			<p>The <font color="red">#return-to-top</font> class is applied to an <code><font color="red">&lt;a href="javascript"&gt;</font></code> element to create the 'Return to top' button, visible on vertical scroll in the bottom-right of every page across MyService.</p>
			
			<hr>
			
		</div>
		<% include ../partials/sidenav.ejs %>		
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
