<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Navigation | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Navigation</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Navigation</h1>
			<div class="breakout">
				<p>Navigation elements are used within the MyService header, footer and process flows. Animated sliding panels are used for log in, for help during a process flow, and to access information on 24hr counselling and support services. Other global navigation elements include a 'Return to top' button.</p>
			</div>
			
			<h2>Header</h2>
			
			<p>There are three styling options used in the MyService header:</p>
			<ol>
				<li><b><a href="#default-header">Default header</a></b>. The default header style.</li>
				<li><b><a href="#reduced-header">Reduced header</a></b>. A lighter and compact version of the default header.</li>
				<li><b><a href="#light-header">Light header</a></b>. Used only for the unauthenticated homepage.</li>
				
			</ol>
			
			<a name="default-header"></a>
			<h3>Default header</h3>
			<p>This style is used for all pages across MyService <i>except</i> those that sit within a process flow (eg. making a claim for initial liability).</p>
			<div class="example-box">
				<h6>EXAMPLE</h6>
				<table>
					<tr><td>
						<header class="uikit-header" style="width:100%;">
						  <div class="container" style="width:100%;">
								<img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="MyService logo" />
							  <button class="toggle" aria-expanded="false">Menu</button>
							  <ul class="menu">
								<li><a class="header-home" href="index-claims">Home</a></li>
								<li><a class="header-profile" href="/profile">My profile</a></li>
							  </ul>
						  </div>
						</header>		
					</td></tr>
					<tr><td class="example-code">
						<code>&lt;header class="uikit-header"&gt;</code><br>
						<code>&lt;div class="container"&gt;</code><br>
						<code>&lt;img class=&quot;logo-myservice&quot; src=&quot;../../../docs/images/logo-myservice.svg&quot; alt=&quot;MyService logo&quot; /&gt;</code><br>
						<code>&lt;button class="toggle" aria-expanded="false"&gt;Menu&lt;/button&gt;</code><br>
						<code>&lt;ul class="menu"&gt;</code><br>
						<code>&lt;li&gt;&lt;a class="header-home" href="index-claims"&gt;Home&lt;/a&gt;&lt;/li&gt;</code><br>
						<code>&lt;li&gt;&lt;a class="header-profile" href="/profile"&gt;My profile&lt;/a&gt;&lt;/li&gt;</code><br>
						<code>&lt;/ul&gt;</code><br>
						<code>&lt;/div&gt;</code><br>
						<code>&lt;/header&gt;</code><br>
					</td></tr>
				</table>
			</div>
			
			<a name="reduced-header"></a>
			<h3>Reduced header</h3>
			<p>This header style is used for pages that sit within a process flow (eg. making a claim for initial liability).</p>
			<div class="example-box">
				<h6>EXAMPLE</h6>
				<table>
					<tr><td>
						<header class="uikit-header reduced-header" style="width:100%;">
						  <div class="container" style="width:100%;">
									<img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="MyService logo" />
						  </div>
						</header>		
					</td></tr>
					<tr><td class="example-code">
						<code>&lt;header class="uikit-header reduced-header"&gt;</code><br>
						<code>&lt;div class="container"&gt;</code><br>
						<code>&lt;img class=&quot;logo-myservice&quot; src=&quot;../../../docs/images/logo-myservice.svg&quot; alt=&quot;MyService logo&quot; /&gt;<br>
						<code>&lt;/div&gt;</code><br>
						<code>&lt;/header&gt;</code><br>
					</td></tr>
				</table>
			</div>
			
			<a name="light-header"></a>
			<h3>Light header</h3>
			<p>This header style is used for the unathenticated homepage. That is, the page a user will see before they login to MyService.</p>
			<div class="example-box">
				<h6>EXAMPLE</h6>
				<table>
					<tr><td>
						<header class="uikit-header landing-page" style="width:100%;">
							<div class="container" style="width:100%;">
								<img src="docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" />
								<img class="logo-myservice" src="../../../docs/images/logo-myservice-reversed.svg" alt="MyService logo" />
								<p class="header-login"><a href="#" class="panel-btn">Log in</a>/</p>
							</div>
						</header>		
					</td></tr>
					<tr><td class="example-code">
						<code>&lt;header class="uikit-header landing-page"&gt;</code><br>
						<code>&lt;div class="container"&gt;</code><br>
						<code>&lt;img src="docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" /&gt;</code><br>
						<code>&lt;img class=&quot;logo-myservice&quot; src=&quot;../../../docs/images/logo-myservice-reversed.svg&quot; alt=&quot;MyService logo&quot; /&gt;</code><br>
						<code>&lt;p class="header-login"&gt;&lt;a href="#" class="panel-btn"&gt;Log in&lt;/a&gt;/&lt;/p&gt;</code><br>
						<code>&lt;/div&gt;</code><br>
						<code>&lt;/header&gt;</code><br>
					</td></tr>
				</table>
			</div>
			
			<hr>
			
			<h2>Footer</h2>
			<p>The MyService footer is a global element and appears consistently across <b>all</b> pages. The DVA logo is featured prominently in the bottom left, inline with the <a href="https://www.dta.gov.au/standard/design-guides/branding/#mobile-websites" rel="external">Australian Government guides</a>, the logo size and positioning does not effecting the integrity of the logo.</p>
			
			<div class="example-box">
				<h6>EXAMPLE</h6>
				<table>
					<tr><td>
						<footer class="uikit-footer uikit-footer--gradient" role="contentinfo">			
							<div class="container" style="width:100%;">
								<div class="row">
									<section class="uikit-footer__end">
										<div class="row">
											<div class="col-sm-4">
												<img src="docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo">
											</div>
											<div class="col-sm-8">
												<ul class="uikit-link-list uikit-link-list--inline">
													<li><a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a></li>
													<li><a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a></li>
													<li><a href="http://www.dva.gov.au/site-information/copyright">Copyright</a></li>
													<li><a href="/terms-and-conditions">Terms of use</a></li>
													<li><a href="http://www.dva.gov.au/" rel="external"><strong>Department of Veterans' Affairs</strong></a></li>
												</ul>
											</div>
										</div>
									</section>
								</div>
							</div>
						</footer>
					</td></tr>
				</table>
			</div>
			
			<hr>
			
			<h2>24hr counselling and support services panel</h2>
			<p>The 24hr counselling and support service panel appears globally across MyService. The animated sliding panel provides assistance to users who are looking for counselling and support services. The panel is activated via a button in the header of every page.</p>
			
			<div class="example-box">
				<h6>EXAMPLE</h6>
				<table>
					<tr><td>
						
						<div class="accordion-toppanel--wrapper">
							<div class="container" style="width:100%;">
								<section class="uikit-accordion accordion-closed">

									<div class="uikit-accordion__body" id="accordion-closed" aria-hidden="true">
										<div class="uikit-accordion__body-wrapper">
											<div class="row support-box">
												<div class="col-xs-12 col-sm-6 col-md-3"><a href="http://www.vvcs.gov.au/"><img src="../../docs/images/logo-vvcs.png"><span class="external-link">Veterans and Veterans Families Counselling Service</span></a><br><strong>1800&nbsp;011&nbsp;046</strong></div>
												<div class="col-xs-12 col-sm-6 col-md-3"><a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp"><img src="../../docs/images/logo-defence.png"><span class="external-link">ADF Mental Health All Hours Support Line</span></a><br><strong>1800&nbsp;628&nbsp;036</strong></div>
												<div class="col-xs-12 col-sm-6 col-md-3"><a href="https://www.lifeline.org.au/"><img src="../../docs/images/logo-lifeline.png"><span class="external-link">Lifeline</span></a><br><strong>13&nbsp;11&nbsp;14</strong></div>
												<div class="col-xs-12 col-sm-6 col-md-3"><a href="https://www.1800respect.org.au"><img src="../../docs/images/logo-1800respect.png"><span class="external-link">National Sexual Assault, Domestic and Family Violence Counselling Service</span></a><br><strong>1800&nbsp;737&nbsp;732</strong></div>
											</div>
										</div>
									</div>
									<div class="trial-message"><!-- react-text: 6 -->This is a trial. Please provide <!-- /react-text --><a href="javascript:void(0);">feedback</a></div>


									<a href="#accordion-closed" class="uikit-accordion__title js-uikit-accordion" aria-controls="accordion-closed" aria-expanded="false" aria-selected="false" role="tab" onclick=""><span class="accordion-toppanel-btn--text"><span class="sr">24hr </span>counselling and support<span class="sr"> services</span></span></a>
									<a class="logout" href="/">Log out</a>

								</section>
							</div>
						</div>
							
					</td></tr>
				</table>
			</div>
			<hr>
			
			<h2>Side sliding panels</h2>
			<p>MyService utilises animated sliding panels to display specific content to the user. Panels can be activated by buttons or links. Panels are used:
			<ul>
				<li>on the unauthenticated homepage to log in to MyService,</li>
				<li>from within a 'Claims' flow to access help; and</li>
				<li>globally from the 'feedback' link in the top header to provide feedback on MyService.</li>
			</ul>
			</p>
			
			<div class="example-box">
				<h6>EXAMPLE</h6>
				<table>
					<tr><td>
						<button class="uikit-btn panel-btn">Log in</button>
					</td></tr>
				</table>
			</div>

			<hr>
			
			<h2>'Return to top' button</h2>
			<p>The <font color="red">#return-to-top</font> class is applied to an <code><font color="red">&lt;a href="javascript"&gt;</font></code> element to create the 'Return to top' button, visible on vertical scroll in the bottom-right of every page across MyService.</p>

			<hr>
			
		</div>
		<% include ../../unauth/user/partials/panel-login.ejs %>
		<% include ../partials/sidenav.ejs %>
				
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
