<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Prototyping | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <% include ../../global/partials/go-to-top.ejs %>
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="../index.html">Home</a></li>
    		<li>Prototyping</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Prototyping</h1>
			<div class="breakout">
			There are several applications required to get up and running prototyping within the MyService prototype environment. These include npm, a GitHub client, a HTML editor and a command line tool such as Windows Command Prompt or Terminal.
			</div>
			
			<h2>Getting started</h2>
			<ol>
				<li>Install <b>node.js</b> on your local machine. <a href="https://nodejs.org/en/" rel="external" target="_blank">Instructions here</a>.</li>
				<li>Install <b>gulp-cli</b> on your local machine. <a href="https://www.npmjs.com/package/gulp-cli/tutorial" rel="external" target="_blank">Instructions here</a>.</li>
				<li>Install <b>a Git client</b> such as <a href="https://desktop.github.com" rel="External" target="_blank">GitHub Desktop</a>, <a href="https://tortoisegit.org" rel="external" target="_blank">TortoiseGit</a>, or <a href="https://www.sourcetreeapp.com" rel="external" target="_blank">Sourcetree</a></li>
				<li>Checkout the project on GitHub</li>
				<li>Using a command line tool (eg. Windows Command Prompt or Terminal), run <code><font color="red">npm install</font></code>, then run <code><font color="red">gulp serve</font></code></li>
				<li>Using a browser, visit <a href="http://localhost:5000/" target="_blank"><b>http://localhost:5000/</b></a>. The page should appear <A href="https://myservice-prototype.herokuapp.com" rel="external" target="_blank">as it does here</A>.</li>
				
			</ol>
			
			<h2>Making changes to the prototype</h2>
			<ol>
				<li>Using your Git client, connect to the MyService prototype GitHub repository at <a href="https://github.com/AusDVA/myservice-prototype" rel="external" target="_blank">https://github.com/AusDVA/myservice-prototype</a></li>
				<li>Create a new <b>branch</b> to make adjustments to the MyService prototype. This process will create a local copy of the GitHub repository.</li>
				<li>From the desktop, navigate to the local repository and edit the files using a HTML editor.</li>
				<li>When you're happy with your local changes and would like to push them back into the online repository, use your Git client to <b>commit</b> the changes and <b>push</b> to '<your branch>'.</li>
				<li>Create a pull request, and get in touch with the MyService lead developer and ask them to <b>merge</b> the branch into the master MyService prototype repository. Once merged, changes will be visible.</li>
			</ol>

			<hr>
			
		</div>
		<% include ../partials/sidenav.ejs %>		
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
