<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Sass structure | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>
 
<main>
    <div class="container" id="main-content">
    <% include ../../unauth/go-to-top.ejs %>
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="../index.html">Home</a></li>
    		<li>Sass structure</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Sass structure</h1>
			<div class="breakout">
			Sass is an extension of CSS3, adding nested rules, variables, mixins, selector inheritance, and more. It is used to manage the MyService stylesheets as separate files. The @import directive is then used to include the source of the individual files back into one master stylesheet.
			</div>
			
			<h2>The files</h2>
			<p>The table below describes the MyService Sass files.</p>
			<table class="table">
				<thead><tr><td><h5>Name</h5></td><td><h5>Description</h5></td></tr></thead>
				<tbody>
					<tr>
						<td>main.scss</td>
						<td>This is the primary style sheet that uses the @import directive to include the source of the partial .scss files back into one master stylesheet.</td>
					</tr>
					<tr>
						<td>myservice-autocomplete.scss</td>
						<td>Includes all the styling required for the <b>type-ahead</b> input fields used within MyService.</td>
					</tr>
					<tr>
						<td>myservice-cards.scss</td>
						<td>Defines the styling of <b>cards</b> such as cover cards (found on the authenticated home page)</td>
					</tr>
					<tr>
						<td>myservice-components.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-cover-status.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-flexcards.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-footer.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-forms.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-header.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-help.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-main.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-modal.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-navigation.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-pages-authenticated-home.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-pages-home.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-pahes-nlhc.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-pages-registration.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-print.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-progress-bar.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-secondary.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-sliding-panel-top.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-sliding-panel.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-star-rating.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-time-estimate.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-typography.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-user-feedback.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-variables.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>myservice-waiting.scss</td>
						<td></td>
					</tr>
					<tr>
						<td>uikit.scss</td>
						<td></td>
					</tr>
				
				</tbody>
			</table>
			
		</div>
		<% include ../partials/sidenav.ejs %>	
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
