<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Tables | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Tables</li>
    	</ul>
    </nav>
            
    <div class="row">   
    	<div class="col-sm-8">
			<h1>Tables</h1>
			<div class="breakout">
			Tables are a great way to present content on a page. A table consists of one or more rows; each row consists of one or more cells. Tables <b>are not</b> intended to be used for general layouts. The <a href="/styleguide-layout">12-column grid system</a> should be utilised in these cases.
			</div>
			
			<h2>Example</h2>

			<p>Table styling has been applied to the base element. No classes need be applied.</p>
			
			<div class="example-box">	
				<table>
					<tbody>
						<tr><td>						
							<table class="table-responsive">
								<thead>
								<tr>
									<th>#</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>ID Number</th>
								</tr>
								</thead>							
								<tbody>
								<tr>
									<th>1</th>
									<td>Mary</td>
									<td>Jones</td>
									<td>62843</td>
								</tr>
								<tr>
									<th>2</th>
									<td>John</td>
									<td>Smith</td>
									<td>37225</td>
								</tr>
								<tr>
									<th>3</th>
									<td>Frank</td>
									<td>Watson</td>
									<td>84775</td>
								</tr>
								</tbody>
							</table>		
						</td></tr>
						<tr><td class="example-code">
							<code>&lt;table class="table-responsive"&gt;</code><br>
							<code>	&lt;thead&gt;</code><br>
							<code>	&lt;tr&gt;</code><br>
							<code>		&lt;th&gt;#&lt;/th&gt;</code><br>
							<code>		&lt;th&gt;First Name&lt;/th&gt;</code><br>
							<code>		&lt;th&gt;Last Name&lt;/th&gt;</code><br>
							<code>		&lt;th&gt;ID Number&lt;/th&gt;</code><br>
							<code>	&lt;/tr&gt;</code><br>
							<code>	&lt;/thead&gt;</code><br>	
							<code>	&lt;tbody&gt;</code><br>
							<code>	&lt;tr&gt;</code><br>
							<code>		&lt;th&gt;1&lt;/th&gt;</code><br>
							<code>		&lt;td&gt;Mary&lt;/td&gt;</code><br>
							<code>		&lt;td&gt;Jones&lt;/td&gt;</code><br>
							<code>		&lt;td&gt;62843&lt;/td&gt;</code><br>
							<code>	&lt;/tr&gt;</code><br>
							<code>	&lt;tr&gt;</code><br>
							<code>		&lt;th&gt;2&lt;/th&gt;</code><br>
							<code>		&lt;td&gt;John&lt;/td&gt;</code><br>
							<code>		&lt;td&gt;Smith&lt;/td&gt;</code><br>
							<code>		&lt;td&gt;37225&lt;/td&gt;</code><br>
							<code>	&lt;/tr&gt;</code><br>
							<code>	&lt;tr&gt;</code><br>
							<code>		&lt;th&gt;3&lt;/th&gt;</code><br>
							<code>		&lt;td&gt;Frank&lt;/td&gt;</code><br>
							<code>		&lt;td&gt;Watson&lt;/td&gt;</code><br>
							<code>		&lt;td&gt;84775&lt;/td&gt;</code><br>
							<code>	&lt;/tr&gt;</code><br>
							<code>	&lt;/tbody&gt;</code><br>
							<code>&lt;/table&gt;</code>
						</td></tr>
					</tbody>
				</table>
			</div>
			
			<hr>
			
			<h2>Responsive tables</h2>
			<p>Create responsive tables by adding <font color="red">.table-responsive</font> to any <font color="red">&lt;table&gt;</font> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.</p>
			
			
		</div>
		<% include ../partials/sidenav.ejs %>		
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
