<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Helper classes | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Toast messages</li>
    	</ul>
    </nav>

    <div class="row">
    	<div class="col-sm-8">
			<h1>Toast messages</h1>
			<div class="breakout">
			Toast messages provide simple feedback about an operation in a small popup. It only fills the amount of space required for the message and the current activity remains visible and interactive. Toast messages do not require a user response. If user response to a status message is required, consider instead using a <a href="/styleguide-notifications">Notification</a>.
			</div>
			
			<h3>Options</h3>
			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-success"><span class="sr">Success</span></div>
				<div class="toast-message"><p role="alert">Success message goes here.</p></div>
			</button>
			
			<br>
			
			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-information"><span class="sr">Information</span></div>
				<div class="toast-message"><p role="alert">Information message goes here.</p></div>
			</button>
			
			<br>
			
			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-warning"><span class="sr">Warning</span></div>
				<div class="toast-message"><p role="alert">Warning message goes here.</p></div>
			</button>
			
			<br>
			
			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-error"><span class="sr">Error</span></div>
				<div class="toast-message"><p role="alert">Error message goes here.</p></div>
			</button>
			
			<h3>Placement</h3>
			Toast messages should appear in the top right of the page on standard screens and transition to full-width bar at the top of the page on mobile devices.
			
			<div class="row">
				<div class="col-sm-6">Normal screens</div>
				<div class="col-sm-6">Mobile devices</div>
			</div>
			
		</div>
		<% include ../partials/sidenav.ejs %>
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
