<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Helper classes | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Toast messages</li>
    	</ul>
    </nav>

    <div class="row">
    	<div class="col-sm-8">
			<h1>Toast messages</h1>
			<div class="breakout">
			Toast messages provide simple feedback about an operation in a small popup.
			</div>
			
			<h3>Purpose</h3>
			<p>Toast messages are ideal for situations when you just want to give the user a heads-up. They are a great way for you to confirm that that thing the user was doing really did happen.</p>
			
			<p>Toast messages <b>do not</b> require a user response. If user response to a status message is required, consider instead using a <a href="/styleguide-modals">modal</a> or a <a href="/styleguide-notifications">notification</a>.</p>
			
			<h3>Options</h3>
			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-success"><span class="sr">Success</span></div>
				<div class="toast-message"><p role="alert">Success message goes here.</p></div>
			</button>
			
			<br>
			
			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-information"><span class="sr">Information</span></div>
				<div class="toast-message"><p role="alert">Information message goes here.</p></div>
			</button>
			
			<br>
			
			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-warning"><span class="sr">Warning</span></div>
				<div class="toast-message"><p role="alert">Warning message goes here.</p></div>
			</button>
			
			<br>
			
			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-error"><span class="sr">Error</span></div>
				<div class="toast-message"><p role="alert">Error message goes here.</p></div>
			</button>
			<br>
			
			<h3>Placement</h3>
			
			<p>Toast messages only fill the amount of space required for the message and the current activity remains visible and interactive. Toast messages display above all over elements on screen.</p>
			
			<p>Toast messages should appear in the top right of the page on medium to large screens and transition to a full-width bar at the bottom of the page on mobile devices.</p>

			<div class="row" style="padding-top:30px;">
				<div class="col-xs-8 col-md-6"><img src="../../../docs/images/styleguide/sg-toast-screen.png" style="border:1px solid #dddddd;">
				<p><i>Above: Toast display on medium to large screens.</i></p></div>
				<div class="col-xs-5 col-sm-5 col-md-3"><img src="../../../docs/images/styleguide/sg-toast-mobile.png" style="border:1px solid #dddddd;">
				<p><i>Above: Toast display on mobile devices.</i></p></div>
			</div>
			
		</div>
		<% include ../partials/sidenav.ejs %>
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
