<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Helper classes | MyService</title>
  <% include ../partials/styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">
    <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
    	<ul class="uikit-link-list uikit-link-list--inline">
    		<li><a href="/styleguide">Home</a></li>
    		<li>Toast messages</li>
    	</ul>
    </nav>

    <div class="row">
    	<div class="col-sm-8">
			<h1>Toast messages</h1>
			<div class="breakout">
				<p>Toast messages provide simple feedback about an operation in a small popup.</p>
			</div>
			
			<h2>Purpose</h2>
			<p>Toast messages are ideal for situations when you just want to give the user a heads-up. They are a great way for you to confirm that that thing the user was doing really did happen.</p>
			
			<p>Toast messages <b>do not</b> require a user response. If user response to a status message is required, consider instead using a <a href="/styleguide-modals">modal</a> or a <a href="/styleguide-notifications">notification</a>.</p>
			
			<h2>Example</h2>
			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-success"><span class="sr">Success</span></div>
				<div class="toast-message"><p role="alert">Success message goes here.</p></div>
			</button>

			<br>

			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-information"><span class="sr">Information</span></div>
				<div class="toast-message"><p role="alert">Information message goes here.</p></div>
			</button>

			<br>

			<button id="toast-alert" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-alert"><span class="sr">Alert</span></div>
				<div class="toast-message"><p role="alert">Alert message goes here.</p></div>
			</button>

			<br>

			<button id="toast-message" class="uikit-btn toast" style="position:relative!important; width:100%;">
				<div class="toast-error"><span class="sr">Error</span></div>
				<div class="toast-message"><p role="alert">Error message goes here.</p></div>
			</button>	
			
			<br>
			
			<div class="example-box">
			<table class="table">
				<tbody>
					<tr>
						<td class="example-code">
							<code>
								// Success toast<br>
								&#60;button id="toast-message" class="uikit-btn toast"&#62;<br>
									&#60;div class="toast-success"&#62;&#60;span class="sr"&#62;Success&#60;/span&#62;&#60;/div&#62;<br>
									&#60;div class="toast-message"&#62;&#60;p role="alert"&#62;Success message goes here.&#60;/p&#62;&#60;/div&#62;<br>
								&#60;/button&#62;<br>
								<br>
								// Information toast<br>
								&#60;button id="toast-message" class="uikit-btn toast"&#62;<br>
									&#60;div class="toast-information"&#62;&#60;span class="sr"&#62;Information&#60;/span&#62;&#60;/div&#62;<br>
									&#60;div class="toast-message"&#62;&#60;p role="alert"&#62;Information message goes here.&#60;/p&#62;&#60;/div&#62;<br>
								&#60;/button&#62;<br>
								<br>
								// Alert toast<br>
								&#60;button id="toast-message" class="uikit-btn toast"&#62;<br>
									&#60;div class="toast-alert"&#62;&#60;span class="sr"&#62;Alert&#60;/span&#62;&#60;/div&#62;<br>
									&#60;div class="toast-message"&#62;&#60;p role="alert"&#62;Alert message goes here.&#60;/p&#62;&#60;/div&#62;<br>
								&#60;/button&#62;<br>
								<br>
								// Error toast<br>
								&#60;button id="toast-message" class="uikit-btn toast"&#62;<br>
									&#60;div class="toast-error"&#62;&#60;span class="sr"&#62;Error&#60;/span&#62;&#60;/div&#62;<br>
									&#60;div class="toast-message"&#62;&#60;p role="alert"&#62;Error message goes here.&#60;/p&#62;&#60;/div&#62;<br>
								&#60;/button&#62;<br>
							</code>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			
			<br>
			
			<h2>Placement</h2>
			
			<p>Toast messages only fill the amount of space required for the message and the current activity remains visible and interactive. Toast messages display above all over elements on screen.</p>
			
			<p>Toast messages should appear in the top right of the page on medium to large screens and transition to a full-width bar at the bottom of the page on mobile devices.</p>

			<div class="row" style="padding-top:30px;">
				<div class="col-xs-8 col-md-6"><img src="../../../docs/images/styleguide/sg-toast-screen.png" style="border:1px solid #dddddd;">
				<p><i>Above: Toast display on medium to large screens.</i></p></div>
				<div class="col-xs-5 col-sm-5 col-md-3"><img src="../../../docs/images/styleguide/sg-toast-mobile.png" style="border:1px solid #dddddd;">
				<p><i>Above: Toast display on mobile devices.</i></p></div>
			</div>
			
		</div>
		<% include ../partials/sidenav.ejs %>
	</div>
	</div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
