<!DOCTYPE html>
<html class="js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Style Guide | Tooltip | MyService</title>
    <% include ../partials/styles-and-scripts.ejs %>
    <script>


        // open the dialog
        $(document).ready(function(){
            $("#tooltip1").attr("aria-hidden","true");
            $("#tooltip2").attr("aria-hidden","true");

            $(".tooltip-click a.qmark").click(function(ev){
                $("#"+this.name).attr("aria-hidden","false");
                $("#"+this.name).removeClass("hidden");

                ev.preventDefault();
            });

            $(".tooltip-click a").keypress(function(ev) {
                if (ev.which==13) {
                    $(this).click();
                }
            });

            $(".tooltip-click a.modal-close").click(function(ev){
                var tt = $(this).closest(".tooltip-click").find(".qmark");
                var ttName = tt.prop("name");
                $("#" + ttName).attr("aria-hidden","true");
                $("#" + ttName).addClass("hidden");
                $(tt).focus();
                ev.preventDefault();

            });

            $(".modal-close").keydown(function(ev){
                var tt = $(this).closest(".tooltip-click").find(".qmark");
                var ttName = tt.prop("name");
                switch(ev.which)
                {			case 27:
                    $("#"+ttName).attr("aria-hidden","true");
                    $("#"+ttName).addClass("hidden");
                    $(tt).focus();
                    ev.preventDefault();
                    return false;
                    break;

                    case 117:
                        $(tt).focus();
                        ev.preventDefault();
                        return false;
                        break;

                }
            });

            $(".modal-close").keypress(function(ev){
                var tt = $(this).closest(".tooltip-click").find(".qmark");
                var ttName = tt.prop("name");
                switch(ev.which)
                {
                    case 13:
                        $("#"+ttName).attr("aria-hidden","true");
                        $("#"+ttName).addClass("hidden");
                        $(tt).focus();
                        ev.preventDefault();
                        return false;
                        break;

                    default:

                        $("a#closebtn1").focus();
                        ev.preventDefault();
                        return false;
                        break;
                    //	 			default:

                    //					$("a#closebtn1").focus();
                    //					 ev.preventDefault();
                    //					 return false;

                }
            });

        });



    </script>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

<% include ../partials/header.ejs %>

<main>
    <div class="container" id="main-content">

        <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
            <ul class="uikit-link-list uikit-link-list--inline">
                <li><a href="/styleguide">Home</a></li>
                <li>Tooltip</li>
            </ul>
        </nav>

        <div class="row">
            <div class="col-sm-8">
                <h1>Tooltip</h1>
                <div class="breakout">
                    <p>The MyService tooltip style is... something about meeting AA Accessibility standards.</p>
                </div>

                <h2>Tooltip example</h2>

                <div class="row" name="7">
                    <div class="col-xs-12" name="stuff">

                        <div class="tooltip-click">
                            <div class="tooltip hidden" aria-labelledby="tooltip-content1" role="alertdialog" id="tooltip1" aria-describedby="dialogtext" aria-hidden="true">
                                <div>
                                    <a class="modal-close" href="#" id="closebtn1">Close</a>
                                    <div class="tooltip-content" id="tooltip-content1">First one</div>
                                    <div class="arrow-triangle down"></div>
                                </div>
                            </div>
                            <a href="#closebtn" class="qmark" name="tooltip1" id="tooltip-associate1" title="First one"><span>More info</span></a>
                        </div>

                        <div class="tooltip-click">
                            <div class="tooltip hidden" aria-labelledby="tooltip-content2" role="alertdialog" id="tooltip2" aria-describedby="dialogtext" aria-hidden="true">
                                <div>
                                    <a class="modal-close" href="#" id="closebtn2">Close</a>
                                    <div class="tooltip-content" id="tooltip-content2">Second one Second one Second oneSecond one Second one Second one Second </div>
                                    <div class="arrow-triangle down"></div>
                                </div>
                            </div>
                            <a href="#closebtn" class="qmark" name="tooltip2" id="tooltip-associate1" title="Second one"><span>More info</span></a>
                        </div>

                    </div>
                </div>

            </div>
            <% include ../partials/sidenav.ejs %>
        </div>
    </div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
