<%- include(templates+"header", {
    claim: "Partner pension - alternate pages",
    heading: "Partner pension - alternate pages"
  }) %>

<p>All pages within Partner Pension will be the same as in Service Pension except for the following:</p>
<p><a href="pp-start.ejs">Partner - about your claim</a></p>

<p><a href="pp-relationship.ejs">Partner - relationship status</a></p>

<%- include(templates+"footer") %>