<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Financial assets | MyService</title>
  <link href="/docs/css/main.css" rel="stylesheet">

  <title>Service Pension - Financial assets | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/sp-c1">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Savings</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <a href="/auth/claim/sp-c2">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Investments</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <a href="/auth/claim/sp-c3">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Income</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <a href="/auth/claim/sp-c4">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Business</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <a href="/auth/claim/sp-c5">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Real estate</p>
                </a>
              </li>
              <li class="progress-step progress-step">
                <a href="/auth/claim/sp-c6">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Other assets</p>
                </a>
              </li>
              <li class="progress-step progress-step--last">
                <a href="/auth/claim/sp-c7">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Additional circumstances</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Savings</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <!-- Page content -->
            <h2 class="margin-above--large margin-below">Tell us about your financial assets. This information helps us to calculate your payments.</h2>
            <div id="sp-c1-options">
              <h4 id="close-options" class="margin-below--none" style="display:block;background-color: #eeeeee; padding:8px;">
                <icon class="fa fa-chevron-left"></icon> Back to my list
              </h4>
              <div id="options-instructions">
                <h3 class="margin-below--none">Add each of the following that you currently hold.</h3>
                <span class="hint display-block margin-below--none"> You may add one or more of each type.</span>
              </div>
              <div class="form-group margin-above" style="max-width:1000px;">
                <div class="radio-tile--group">
                  <label class="radio-tile">
                    <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="radio_tile__icon fal fa-piggy-bank fa-3x"></icon><BR />Bank accounts
                    </span>
                  </label>
                  <label class="button-tile">
                    <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="fal fa-chart-line fa-3x"></icon><BR />Shares
                    </span>
                  </label>
                  <label class="button-tile">
                    <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="fal fa-chart-pie fa-3x"></icon><BR />Managed investments
                    </span>
                  </label>
                  <label class="button-tile">
                    <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="fal fa-file-certificate fa-3x"></icon><BR />Bonds &amp; investments
                    </span>
                  </label>
                  <label class="button-tile">
                    <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="fal fa-handshake fa-3x"></icon><BR />Money loaned
                    </span>
                  </label>
                  <label class="button-tile">
                    <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="fal fa-archive fa-3x"></icon><BR />Other investments
                    </span>
                  </label>
                  <label class="button-tile">
                    <input id="sp-c-gift" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="fal fa-gift fa-3x"></icon><BR />Gifts (deprived assets)
                    </span>
                  </label>
                  <label class="button-tile">
                    <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="fal fa-money-bill-wave-alt fa-3x"></icon><BR />Cash held
                    </span>
                  </label>
                  <label class="button-tile">
                    <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="fal fa-file-invoice fa-3x"></icon><BR />Funeral bonds
                    </span>
                  </label>
                  <label class="button-tile">
                    <input id="pensionType-invalidity" class="sr" type="button" name="pensionType" value="invaliditiy">
                    <span>
                      <icon class="fal fa-receipt fa-3x"></icon><BR />Pre-paid funeral
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <!-- git 1 start -->
            <div id="gift-1-start" class="boxed margin-above margin-below">
              <h2 class="margin-above--none"><span class="font-weight-heavy">Gifts (deprived assets)</span></h2>
              <div class="uikit-page-alerts" role="alert">
                A gift is any cash, assets or property you and/or your partner have given away, surrendered, or sold for less than its market value within the last five years. It
                includes forgiven loans and shares in private companies.
              </div>
              <div id="card-details" class="margin-below--large">
                <!--  <div class="form-group margin-above--large">
                                <legend class="legend-label">Have you <span id="partnered-01">(and/or your partner)</span> given away, surrendered, or sold any assets in the last five years?</legend>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="gift-givenAway-yes">
                                        <input id="gift-givenAway-yes" type="radio" name="gift-givenAway">
                                        <span>Yes</span>
                                    </label>
                                    <label class="off label-right" for="gift-givenAway-no">
                                        <input id="gift-givenAway-no" type="radio" name="gift-givenAway">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div> -->
                <div id="sp-c1-gift-b">
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="rank">What type of asset did you give away, surrender or sell ?</label>
                    <select class="uikit-text-input input-half" id="employment" name="employment">
                      <option>-- Select type of asset --</option>
                      <option>Business</option>
                      <option>Cash</option>
                      <option>Farm</option>
                      <option>Granny flat</option>
                      <option>House</option>
                      <option>Life interest</option>
                      <option>Loan now forgotten</option>
                      <option>Other assets</option>
                      <option>Real estate</option>
                    </select>
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="employer-name">Provide the name/s and/or relationship/s of the person/s you gave assets to:</label>
                    <input class="uikit-text-input input-half" name="employer-name" id="employer-name" type="text" value="">
                  </div>
                  <div class="form-group margin-above--large">
                    <fieldset>
                      <label class="uikit-text-input__label">What date did you <span id="partnered-02">(and/or your partner)</span> give away, surrender or sell the asset?
                        <span class="hint">(dd / mm / yyyy)</span>
                      </label>
                      <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                      <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                      <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                    </fieldset>
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="tags">What was the market value of the asset?</label>
                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                      aria-required="true">
                  </div>
                  <div class="form-group margin-above--large" id="c-ga-09">
                    <legend class="legend-label">Did you <span id="partnered-03">(and/or your partner)</span> receive any financial consideration in disposal of the asset?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="c-ga-09-yes">
                        <input id="c-ga-09-yes" type="radio" name="c-ga-09">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="c-ga-09-no">
                        <input id="c-ga-09-no" type="radio" name="c-ga-09">
                        <span>No</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group margin-above--large" id="c-ga-10">
                    <label class="uikit-text-input__label" for="tags">What financial consideration amount did you receive?</label>
                    <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                      aria-required="true">
                  </div>
                  <fieldset>
                    <div class="form-group">
                      <label class="uikit-text-input__label" for="radio-buttons">Who owned this Asset?</label>
                      <p class="uiToolKitCheckBox margin-above">
                        <label class="uikit-control-input">
                          <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                          <span class="uikit-control-input__text">You</span>
                        </label>
                      </p>
                      <p class="uiToolKitCheckBox">
                        <label class="uikit-control-input">
                          <input id="married" class="uikit-control-input__input" type="radio" name="radio-ex">
                          <span class="uikit-control-input__text">Partner</span>
                        </label>
                      </p>
                      <p class="uiToolKitCheckBox">
                        <label class="uikit-control-input">
                          <input id="defacto" class="uikit-control-input__input" type="radio" name="radio-ex">
                          <span class="uikit-control-input__text">Jointly</span>
                        </label>
                      </p>
                    </div>
                  </fieldset>
                </div>
                <div class="uikit-page-alerts" role="alert" id="a1">
                  <p>You do not need to complete this entry unless you answer yes. Click done to continue.</p>
                </div>
              </div>
              <hr>
              <div id="buttonset2" class="form-group margin-above--none">
                <button class="uikit-btn" id="gift-1-start-done">&nbsp;&nbsp;&nbsp; Done &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
                  id="gift-1-start-cancel">&nbsp;&nbsp;&nbsp;
                  Cancel &nbsp;&nbsp;&nbsp;</button>
              </div>
            </div> <!-- end gift 1 start -->
            <!-- start gift 1 summary -->
            <div id="gift-1-summary" class="plain-text-info" style="display:none;">
              <div class="review__wrapper">
                <div class="review__content--item boxed row">
                  <div class="review__content--label col-sm-10">
                    <h3 class="margin-above--none margin-below--none">Gift (deprived asset)</h3>
                    <p class="margin-below--none">Asset type: Cash</p>
                    <p class="margin-below--none">Date disposed: 21/07/2018</p>
                    <p class="margin-below--mid">Market value: $8,500</p>
                    <!-- <p>How many hours do you work per week? &nbsp;&nbsp;20<br>What are your total weekly earnings?
                                            &nbsp;&nbsp;$640<br>When
                                            did you start working here? &nbsp;&nbsp;23 / 09 / 2018 - present day</p> -->
                  </div>
                  <div class="col-sm-2"><button class="uikit-btn uikit-btn--tertiary" id="gift-1-summary-edit">&nbsp;Edit &nbsp;</button><br><button
                      class="uikit-btn uikit-btn--tertiary small margin-above--mid" id="gift-1-summary-remove">Remove</button></div>
                </div>
              </div>
            </div>
            <!-- end gift 1 summary -->
            <!-- gift 1 update -->
            <div id="gift-1-update" class="boxed margin-above margin-below">
              <h2 class="margin-above--none"><span class="font-weight-heavy">Gifts (deprived assets)</span></h2>
              <div id="sp-c1-gift-b">
                <div class="form-group margin-above--large">
                  <label class="uikit-text-input__label" for="rank">What type of asset did you give away, surrender or sell ?</label>
                  <select class="uikit-text-input input-half" id="employment" name="employment">
                    <option>-- Select type of asset --</option>
                    <option>Business</option>
                    <option selected="selected">Cash</option>
                    <option>Farm</option>
                    <option>Granny flat</option>
                    <option>House</option>
                    <option>Life interest</option>
                    <option>Loan now forgotten</option>
                    <option>Other assets</option>
                    <option>Real estate</option>
                  </select>
                </div>
                <div class="form-group margin-above--large">
                  <label class="uikit-text-input__label" for="employer-name">Provide the name/s and/or relationship/s of the person/s you gave assets to:</label>
                  <input class="uikit-text-input input-half" name="employer-name" id="employer-name" type="text" value="Genevieve Appleton">
                </div>
                <div class="form-group margin-above--large">
                  <fieldset>
                    <label class="uikit-text-input__label">What date did you <span id="partnered-02">(and/or your partner)</span> give away, surrender or sell the asset?
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day" value="21"> /
                    <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month" value="07"> /
                    <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year" value="2018">
                  </fieldset>
                </div>
                <div class="form-group margin-above--large">
                  <label class="uikit-text-input__label" for="tags">What was the market value of the asset?</label>
                  <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="8,500" required
                    aria-required="true">
                </div>
                <div class="form-group margin-above--large" id="c-ga-09">
                  <legend class="legend-label">Did you <span id="partnered-03">(and/or your partner)</span> receive any financial consideration in disposal of the asset?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="c-ga-09-yes">
                      <input id="c-ga-09-yes" type="radio" name="c-ga-09">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="c-ga-09-no">
                      <input id="c-ga-09-no" type="radio" name="c-ga-09" checked="checked">
                      <span>No</span>
                    </label>
                  </div>
                </div>
                <div class="form-group margin-above--large" id="c-ga-10" style="display: none;">
                  <label class="uikit-text-input__label" for="tags">What financial consideration amount did you receive?</label>
                  <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required
                    aria-required="true">
                </div>
                <fieldset>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="radio-buttons">Who owned this Asset?</label>
                    <p class="uiToolKitCheckBox margin-above">
                      <label class="uikit-control-input">
                        <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex" checked="checked">
                        <span class="uikit-control-input__text">You</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="married" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Partner</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="defacto" class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Jointly</span>
                      </label>
                    </p>
                  </div>
                </fieldset>
              </div>
              <hr>
              <div id="buttonset2sss" class="form-group margin-above--none">
                <button class="uikit-btn" id="gift-1-update-done">&nbsp;&nbsp;&nbsp; Done &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
                  id="gift-1-update-cancel">&nbsp;&nbsp;&nbsp;Cancel &nbsp;&nbsp;&nbsp;</button>
              </div>
            </div> <!-- end gift 1 edit -->
            <div id="add-another" class="row">
              <div class="col-sm-12 margin-above ss-align--center">
                <button class="uikit-btn uikit-btn--tertiary" id="addAnother">Add another asset</button>
              </div>
            </div>
            <!-- end completed cards -->
          </div> <!-- end content -->
          <!-- bottom page navigation -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/sp-progress-c'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
              <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/sp-c2'">Save and next</button>
            </div>
          </div>
          <% include ../../../../partials/claims-cancel-modal.ejs %>
        </div> <!-- row end -->
      </div> <!-- container end -->
  </main>
  <% include ../../../../partials/footer.ejs %>
  <script>
    $(Document).ready(function () {

      hideAll();

      // gift 1 start
      $('#sp-c-gift').click(function () {
        $("#sp-c1-options").hide("fast");
        $("#close-options").hide("fast");
        $("#gift-1-start").show("fast");
      });
      $('#gift-givenAway-yes').click(function () {
        $("#a1").show("fast");
        $("#sp-c1-gift-b").show("fast");
      });
      $('#gift-givenAway-no').click(function () {
        $("#sp-c1-gift-b").hide();
        $("#a1").show("fast");
      });
      $('#c-ga-09-yes').click(function () {
        $("#c-ga-10").show("fast");
      });
      $('#c-ga-09-no').click(function () {
        $("#c-ga-10").hide("fast");
      });
      $('#gift-1-start-done').click(function () {
        $("#gift-1-start").hide("fast");
        $("#gift-1-summary").show("fast");
        $("#add-another").show("fast");
      });
      $('#gift-1-start-cancel').click(function () {
        $("#sp-c1-options").show("fast");
        $("#gift-1-start").hide("fast");
      });
      // gift 1 summary
      $('#gift-1-summary-edit').click(function () {
        $("#gift-1-summary").hide("fast");
        $("#gift-1-update").show("fast");
        $("#add-another").hide("fast");
      });
      $('#gift-1-summary-remove').click(function () {
        $("#gift-1-summary").hide("fast");
        $("#add-another").hide("fast");
        $("#sp-c1-options").show("fast");
      });
      // gift 1 edit
      $('#gift-1-update-done').click(function () {
        $("#gift-1-update").hide("fast");
        $("#gift-1-summary").show("fast");
        $("#add-another").show("fast");
      });
      $('#gift-1-update-cancel').click(function () {
        $("#gift-1-update").hide("fast");
        $("#gift-1-summary").show("fast");
        $("#add-another").show("fast");
      });
      //
      $('#add-another').click(function () {
        $("#close-options").show("fast");
        $("#options-instructions").hide("fast");
        $("#sp-c1-options").show("fast");
        $("#gift-1-start").hide("fast");
        $("#gift-1-summary").hide("fast");
        $("#add-another").hide("fast");
      });
      $('#close-options').click(function () {
        $("#close-options").hide();
        $("#sp-c1-options").hide();
        $("#gift-1-summary").show("fast");
        $("#add-another").show("fast");
      });

      function hideAll() {
        // list
        $("#close-options").hide();
        // gift
        $("#gift-1-start").hide();
        $("#gift-1-update").hide();
        // $("#sp-c1-gift-b").hide();
        $("#c-ga-10").hide();
        $("#a1").hide();
        //list
        $("#add-another").hide();
      }
    });
  </script>
</body>

</html>