<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Application for a DHOAS Subsidy Certificate | MyService</title>
  <% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-claims.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>

  <main id="main-content">
    <div class="container">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>
        <span class="heading">DHOAS Subsidy Certificate</span>
      </h1>


      <h2 class="margin-above--large">
        <span class="font-weight-heavy">Home loan details</span>
      </h2>
      <div class="form-group margin-above" id="purpose">
        <label class="uikit-text-input__label" for="radio-buttons">What is the purpose of this loan?</label>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input" id="op1">
            <input class="uikit-control-input__input" type="radio" name="radio-purpose">
            <span class="uikit-control-input__text">purchasing a new home</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input" id="op2">
            <input class="uikit-control-input__input" type="radio" name="radio-purpose">
            <span class="uikit-control-input__text">purchasing land and/or constructing a home</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input" id="op3">
            <input class="uikit-control-input__input" type="radio" name="radio-purpose">
            <span class="uikit-control-input__text">enlarging, repairing, renovating, or creating a permanent improvement to a home</span>
          </label>
        </p>
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input" id="op4">
            <input class="uikit-control-input__input" type="radio" name="radio-purpose" value="refinance">
            <span class="uikit-control-input__text">refinancing an existing home loan that was used for one or more of the above purposes</span>
          </label>
        </p>
      </div>

      <div class="form-group form-group--secondary" id="refinance-reason">
        <label class="uikit-text-input__label" for="why-refinance">Please detail why you are refinancing your existing home loan, including any non DHOAS purposes</label>
        <textarea id="why-refinance" name="why-refinance" rows="3" value=""></textarea>
      </div>

      <div class="margin-below--large form-group">
        <div id="occupancy">
          <label class="uikit-text-input__label margin-above--large" for="radio-buttons">Where do you currently live?</label>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-occupy">
              <span class="uikit-control-input__text">service residence</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-occupy">
              <span class="uikit-control-input__text">rental accommodation property</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-occupy">
              <span class="uikit-control-input__text">on base accommodation</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-occupy">
              <span class="uikit-control-input__text">own home</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="radio" name="radio-occupy" value="other">
              <span class="uikit-control-input__text">other</span>
            </label>
          </p>
        </div>

        <div class="form-group form-group--secondary" id="specify">
          <label class="uikit-text-input__label" for="specify-occupancy">Please specify
          </label>
          <input class="uikit-text-input" name="specify-occupancy" id="specify-occupancy" type="text" value="" required="" aria-required="true">
        </div>
      </div>

      <div class="form-group" id="subsidy">
        <fieldset>
          <legend class="legend-label">Have you ever had a subsidised loan under any of the following?
            <span class="hint">(optional)</span>
            <span class="hint display-block">Please select any that apply</span>
          </legend>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="checkbox" name="subsidy">
              <span class="uikit-control-input__text">Defence Service Home Loan Scheme (DSH)</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="checkbox" name="subsidy">
              <span class="uikit-control-input__text">Defence Home Owner Scheme (DHOS)</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="checkbox" name="subsidy" id="dhoas">
              <span class="uikit-control-input__text">Defence Home Ownership Assistance Scheme (DHOAS)</span>
            </label>
          </p>
          <div class="form-group form-group--secondary" id="why-lodge" style="display:none;">
            <label class="uikit-text-input__label" for="why-lodge">Why are you lodging an additional application for DHOAS?
            </label>
            <input class="uikit-text-input" name="why-lodge" id="another-dhoas-reason" type="text" value="" required="" aria-required="true">
          </div>
      </div>
      </fieldset>


      <div class="pagination margin-above--extra">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas2'">Save and next</button>
        </div>
      </div>

      <% include ../../../../partials/claims-cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../../partials/footer.ejs %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "20%";
    document.getElementById("percentage_value").textContent = "20%";

    $("#refinance-reason").hide();
    $("#specify").hide();
    $("#why-lodge").hide();

    $("#purpose label").click(function () {
      if ($(this).children('input').val() == "refinance") {
        $("#refinance-reason").show();
      } else {
        $("#refinance-reason").hide();
        $("#why-refinance").val("");
      }
    });

    $("#occupancy label").click(function () {
      if ($(this).children('input').val() == "other") {
        $("#specify").show();
      } else {
        $("#specify").hide();
        $("#specify-occupancy").val("");
      }
    });

    $("#dhoas").click(function () {
      $("#why-lodge").toggle();
    });

  </script>


</body>

</html>
