<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Residency | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main>
<div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
    <div class="container margin-above--none">
      <!-- Progress bar -->
      <div class="col-md-12">
        <nav>
          <ul class="progress-container">
            <li class="progress-step">
              <a href="/auth/claim/sp-my-details">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">My details</p>
              </a>
            </li>
            <li class="progress-step">
              <a href="/auth/claim/sp-partner">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Partner</p>
              </a>
            </li>
            <li class="progress-step">
              <a href="/auth/claim/sp-dependant">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Childern</p>
              </a>
            </li>
            <li class="progress-step progress-step--active">
              <span class="progress-step__icon"></span>
              <p class="progress-step-label">Residency</p>
            </li>
            <li class="progress-step">
              <span class="progress-step__icon"></span>
              <p class="progress-step-label">Living arrangements</p>
            </li>
            <li class="progress-step ongoing-only">
              <span class="progress-step__icon"></span>
              <p class="progress-step-label">Representative</p>
            </li>
            <li class="progress-step progress-step--last">
              <span class="progress-step__icon"></span>
              <p class="progress-step-label">Payment details</p>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Page heading -->
    <h1 class="margin-above--none ss-align--center">
      <span class="heading">Residence in Australia</span>
    </h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- Page content -->
        <h2 class="margin-above--large">
          <span class="font-weight-heavy">Your residency</span>
        </h2>
        <div class="form-group margin-above" id="sp-dependant">
          <label class="uikit-text-input__label" for="radio-buttons">Are you:</label>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input" id="op1-visa">
              <input class="uikit-control-input__input" type="radio" name="radio-age">
              <span class="uikit-control-input__text">An Australian citizen</span>
            </label>
          </p>

          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input" id="op2-visa">
              <input class="uikit-control-input__input" type="radio" name="radio-age">
              <span class=" uikit-control-input__text ">The holder of a permanent visa</span>
            </label>
          </p>

          <div id="perm-visa">
            <label class="uikit-text-input__label" for="perm-visa">Please provide details of visa</label>
            <input class="uikit-text-input input-half" name="perm-visa" id="perm-visa" type="text" value="">

            <p class="uiToolKitCheckBox">
              <label class="uikit-control-input" id="op3-visa">
                <input class="uikit-control-input__input" type="radio" name="radio-age">
                <span class=" uikit-control-input__text ">Other</span>
              </label>
            </p>
          </div>

          <div class="form-group margin-above" id="sp-residency-perm">
            <fieldset>
              <legend class="legend-label">Are you currently living in Australia?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="living-aus-yes">
                  <input id="living-aus-yes" type="radio" name="living-aus">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="living-aus-no">
                  <input id="living-aus-no" type="radio" name="living-aus">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
          </div>

          <div class="form-group margin-above" id="sp-residency-where">
            <fieldset>
              <legend class="legend-label">Have you ever lived overseas?</legend>
              <div class="radio-toggle">
                <label class="on label-left" for="born-aus-yes">
                  <input id="born-aus-yes" type="radio" name="born-aus">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="born-aus-no">
                  <input id="born-aus-no" type="radio" name="born-aus">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
          </div>

          <label class="uikit-text-input__label margin-above">When did you most recently become a resident in Australia?
            <span class="hint">(dd / mm / yyyy)</span>
          </label>
          <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
          <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
          <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">

          <label class="uikit-text-input__label margin-above--large" for="radio-buttons">How long do you intend to remain residing in Australia?</label>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input" id="op1-residing">
              <input class="uikit-control-input__input" type="radio" name="radio-age">
              <span class="uikit-control-input__text">Less than 1 month</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input" id="op2-residing">
              <input class="uikit-control-input__input" type="radio" name="radio-age">
              <span class=" uikit-control-input__text ">1-6 months</span>
            </label>
          </p>

          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input" id="op3-residing">
              <input class="uikit-control-input__input" type="radio" name="radio-age">
              <span class=" uikit-control-input__text ">6-12 months</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input" id="op4-residing">
              <input class="uikit-control-input__input" type="radio" name="radio-age">
              <span class=" uikit-control-input__text ">1-2 years</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input" id="op5-residing">
              <input class="uikit-control-input__input" type="radio" name="radio-age">
              <span class=" uikit-control-input__text ">2-5 years</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox">
            <label class="uikit-control-input" id="op6-residing">
              <input class="uikit-control-input__input" type="radio" name="radio-age">
              <span class=" uikit-control-input__text ">Greater than 5 years</span>
            </label>
          </p>
          <p>You will be asked to submit a certified copy of the birth certificate/extract for each child in the ‘Required documents’ section.</p>
          </fieldset><!-- End Dependent child details -->
          <h2 class="margin-above--large">
            <span class="font-weight-heavy">Your residency</span>
          </h2>


        </div>
      </div>

      <!-- bottom page navigation -->
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/sp-dependant'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/sp-la'">Save and next</button>
        </div>
      </div>
      <% include ../../../../partials/claims-cancel-modal.ejs %>
    </div> <!-- col-md-12 -->
  </div> <!-- row end -->
  </div> <!-- container end -->

  </main>

  <% include ../../../../partials/footer.ejs %>

  <script>
    $("#perm-visa").hide();

    $("#op2-visa").click(function () {
      $("#perm-visa").show("fast");
    });

    $("#op1-visa").click(function () {
      $("#perm-visa").hide("fast");
    });

    $("#op3-visa").click(function () {
      $("#perm-visa").hide("fast");
    });
  </script>


</body>

</html>