<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Residency | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Relationship status</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/service_pension/sp-dependant">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Dependent children</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/service_pension/sp-residency">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Residency</p>
                </a>
              </li>
              </li>
              <li class="progress-step">
                <a href="/auth/claim/service_pension/sp-la">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </a>
              </li>
              <li class="progress-step">
                <a href="/auth/claim/service_pension/sp-claim-contact">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Claim Representative</p>
                </a>
              </li>
              <li class="progress-step progress-step--last">
                <a href="/auth/claim/service_pension/sp-payment-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </a>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Residency</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <!-- Page content -->
            <h2 id="intro-copy-no-partner" class="margin-below">Tell us about your residency</h2>
            <h2 class="margin-above--large margin-below" id="sp-res-veteranTitle"><span class="font-weight-heavy">Your residency</span></h2>
            <div class="form-group margin-above" id="aus-citizen">
              <fieldset>
                <legend class="legend-label">Are you an Australian citizen?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="aus-citizen-yes">
                    <input id="aus-citizen-yes" type="radio" name="aus-citizen">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="aus-citizen-no">
                    <input id="aus-citizen-no" type="radio" name="aus-citizen">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>
            <!-- [A] Visa -->
            <div id="visa-a" class="margin-above">
              <label class="uikit-text-input__label" for="radio-buttons">Are you:</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op1-visa">
                  <input class="uikit-control-input__input" type="radio" name="radio-age">
                  <span class=" uikit-control-input__text ">The holder of a permanent visa</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2-visa">
                  <input class="uikit-control-input__input" type="radio" name="radio-age">
                  <span class=" uikit-control-input__text ">The holder of a special purpose visa</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op3-visa">
                  <input class="uikit-control-input__input" type="radio" name="radio-age">
                  <span class=" uikit-control-input__text ">The holder of a special category visa</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op4-visa">
                  <input class="uikit-control-input__input" type="radio" name="radio-age">
                  <span class=" uikit-control-input__text ">A refugee or former refugee</span>
                </label>
              </p>
              <div class="uikit-page-alerts" role="alert" id="visa-b">
                <p>You will need to provide a copy of your visa or special category visa that shows you hold the ability to remain in Australia.</p>
              </div>
            </div>
            <!-- end of [A] Visa -->
            <!-- [default] -->
            <div class="form-group margin-above--large">
              <fieldset>
                <legend class="legend-label">Are you living permanently in Australia?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="living-aus-yes">
                    <input id="living-aus-yes" type="radio" name="living-aus">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="living-aus-no">
                    <input id="living-aus-no" type="radio" name="living-aus">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
              <div class="uikit-page-alerts uikit-page-alerts--warning margin-above--large" id="not-living-in-australia">
                <p>You must be living permanently in Australia at the time of lodging your claim for Service Pension.</p>
              </div>
            </div>
            <div class="form-group margin-above--large">
              <fieldset>
                <legend class="legend-label">Were you born in Australia?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="born-aus-yes">
                    <input id="born-aus-yes" type="radio" name="born-aus">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="born-aus-no">
                    <input id="born-aus-no" type="radio" name="born-aus">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>
            <!-- [C] Country born and when -->
            <div id="country-born" class="margin-above--large">
              <legend class="legend-label">What is your country of birth?</legend>
              <select>
                <option selected="">-- Select option --</option>
                <option value="AF">Afghanistan</option>
                <option value="AX">Åland Islands</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia, Plurinational State of</option>
                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, the Democratic Republic of the</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CI">Côte d'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CW">Curaçao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and McDonald Islands</option>
                <option value="VA">Holy See (Vatican City State)</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran, Islamic Republic of</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="KP">Korea, Democratic People's Republic of</option>
                <option value="KR">Korea, Republic of</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestinian Territory, Occupied</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Réunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="BL">Saint Barthélemy</option>
                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="MF">Saint Martin (French part)</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten (Dutch part)</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syrian Arab Republic</option>
                <option value="TW">Taiwan, Province of China</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-Leste</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela, Bolivarian Republic of</option>
                <option value="VN">Viet Nam</option>
                <option value="VG">Virgin Islands, British</option>
                <option value="VI">Virgin Islands, U.S.</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
              </select>
              <label class="uikit-text-input__label margin-above--large">When did you first arrive in Australia?
                <span class="hint">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
              <fieldset>
                <label class="uikit-text-input__label margin-above--large">How long have you lived in Australia <span class="hint">(years/months)?</span></label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 8em;">Years &nbsp;&nbsp;<input class="uikit-text-input" name="tags"
                  id="tags" type="text" value="" style="max-width: 8em;">Months
              </fieldset>
            </div>
            <!-- end of [C] Country born and when -->

            <!-- [E] moved to Australia -->
            <div class="form-group margin-above--large" id="moved-aus">
              <fieldset>
                <legend class="legend-label">Have you moved to or returned to live in Australia in the last 12 months?</legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="moved-aus-yes">
                    <input id="moved-aus-yes" type="radio" name="moved-aus">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="moved-aus-no">
                    <input id="moved-aus-no" type="radio" name="moved-aus">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>
            <!-- [E] Returned to Australia -->
            <div class="form-group margin-above--large" id="returned-aus">
              <fieldset>
                <legend class="legend-label">Have you lived overseas and returned to live in Australia in the last 12 months?
                  <div class="tooltip">
                    <div id="returned-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="returned-tt-message" aria-expanded="false">
                      <div class="tooltip__label tooltip__label--icon-only">
                        <a>Have lived overseas and returned to live in Australia in the last 12 months? </a>
                      </div>
                      <div class="tooltip__tab"></div>
                    </div>
                    <div id="returned-tt-message" class="tooltip__content" aria-labelledby="returned-tt-label" role="region" tabindex="-1" aria-hidden="true">
                      <div class="tooltip__message">This does not include time overseas for service reasons.</div>
                      <div class="tooltip__close" role="button" tabindex="0">Close</div>
                    </div>
                  </div>
                </legend>
                <div class="radio-toggle">
                  <label class="on label-left" for="returned-aus-yes">
                    <input id="returned-aus-yes" type="radio" name="returned-aus">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="returned-aus-no">
                    <input id="returned-aus-no" type="radio" name="returned-aus">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div><!--  end of [E] moved returned to Australia -->
            <!----- Partner residency ----->
            <div id="sp-res-partnerDetails">
              <div id="partner-visa">
                <h2 class="margin-above--large margin-below">
                  <span class="font-weight-heavy">Partner residency</span>
                </h2>
                <div class="form-group margin-above" id="aus-citizen">
                  <fieldset>
                    <legend class="legend-label">Is your partner an Australian citizen?</legend>
                    <div class="radio-toggle">
                      <label class="on label-left" for="partner-auz-citizen-yes">
                        <input id="partner-auz-citizen-yes" type="radio" name="partner-auz-citizen">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="partner-auz-citizen-no">
                        <input id="partner-auz-citizen-no" type="radio" name="partner-auz-citizen">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>
                </div>
              </div>
              <!-- [A] Partner Visa -->
              <div id="partner-visa-perm" class="margin-above">
                <label class="uikit-text-input__label" for="radio-buttons">Is your partner:</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" id="op1-visa-partner">
                    <input class="uikit-control-input__input" type="radio" name="radio-age">
                    <span class=" uikit-control-input__text ">The holder of a permanent visa</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" id="op2-visa-partner">
                    <input class="uikit-control-input__input" type="radio" name="radio-age">
                    <span class=" uikit-control-input__text ">The holder of a special purpose visa</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input" id="op3-visa-partner">
                    <input class="uikit-control-input__input" type="radio" name="radio-age">
                    <span class=" uikit-control-input__text ">The holder of a special category visa</span>
                  </label>
                </p>
                <!-- [B] Partner -->
                <div class="uikit-page-alerts" role="alert" id="visa-b-partner">
                  <p>You will need to provide a copy of your visa or special category visa that shows you hold the ability to remain in Australia</p>
                </div>
              </div>
              <div class="form-group margin-above--large">
                <fieldset>
                  <legend class="legend-label">Is your partner living permanently in Australia?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="living-aus-yes-partner">
                      <input id="living-aus-yes-partner" type="radio" name="living-aus-partner">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="living-aus-no-partner">
                      <input id="living-aus-no-partner" type="radio" name="living-aus-partner">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
                <div class="uikit-page-alerts uikit-page-alerts--warning margin-above--large" id="not-living-in-australia-partner">
                  <p>Your partner must be living permanently in Australia at the time of lodging this claim.</p>
                </div>
              </div>
              <div class="form-group margin-above--large" id="sp-residency-where-partner">
                <fieldset>
                  <legend class="legend-label">Was your partner born in Australia?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="born-aus-yes-partner">
                      <input id="born-aus-yes-partner" type="radio" name="born-aus-partner">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="born-aus-no-partner">
                      <input id="born-aus-no-partner" type="radio" name="born-aus-partner">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
              </div>
              <!-- [C] Partners country of birth -->
              <div id="partner-country-birth" class="margin-above--large">
                <legend class="legend-label">What is your partner’s country of birth?</legend>
                <select>
                  <option selected="">-- Select option --</option>
                  <option value="AF">Afghanistan</option>
                  <option value="AX">Åland Islands</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AQ">Antarctica</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia, Plurinational State of</option>
                  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="BN">Brunei Darussalam</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="CA">Canada</option>
                  <option value="CV">Cape Verde</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CD">Congo, the Democratic Republic of the</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CI">Côte d'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">Curaçao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands (Malvinas)</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="VA">Holy See (Vatican City State)</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran, Islamic Republic of</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KP">Korea, Democratic People's Republic of</option>
                  <option value="KR">Korea, Republic of</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Lao People's Democratic Republic</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao</option>
                  <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia, Federated States of</option>
                  <option value="MD">Moldova, Republic of</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="MP">Northern Mariana Islands</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau</option>
                  <option value="PS">Palestinian Territory, Occupied</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RE">Réunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russian Federation</option>
                  <option value="RW">Rwanda</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="WS">Samoa</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome and Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SX">Sint Maarten (Dutch part)</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia and the South Sandwich Islands</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SZ">Swaziland</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syrian Arab Republic</option>
                  <option value="TW">Taiwan, Province of China</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania, United Republic of</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States</option>
                  <option value="UM">United States Minor Outlying Islands</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VE">Venezuela, Bolivarian Republic of</option>
                  <option value="VN">Viet Nam</option>
                  <option value="VG">Virgin Islands, British</option>
                  <option value="VI">Virgin Islands, U.S.</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
                <label class="uikit-text-input__label margin-above--large">When did your partner first arrive in Australia?
                  <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                <fieldset>
                  <label class="uikit-text-input__label margin-above--large">How long has your partner lived in Australia <span class="hint">(years/months)?</span></label>
                  <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 8em;">Years &nbsp;&nbsp;<input class="uikit-text-input" name="tags"
                    id="tags" type="text" value="" style="max-width: 8em;">Months
                </fieldset>
              </div> <!-- end of [C] Partners country of birth -->
              <div class="form-group margin-above--large" id="partner-returned">
                <fieldset>
                  <legend class="legend-label">Has your partner lived overseas and returned to live in Australia in the last 12 months?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="partner-returned-yes">
                      <input id="partner-returned-yes" type="radio" name="partner-returned">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="partner-returned-no">
                      <input id="partner-returned-no" type="radio" name="partner-returned">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
              </div>

              <div class="form-group margin-above--large" id="partner-moved">
                <fieldset>
                  <legend class="legend-label">Has your partner moved to Australia in the last 12 months?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="partner-moved-yes">
                      <input id="partner-moved-yes" type="radio" name="partner-moved">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="partner-moved-no">
                      <input id="partner-moved-no" type="radio" name="partner-moved">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
              </div>
            </div><!--  end of [E] moved returned to Australia -->
          </div>
          <div id="save-and-next" class="margin-above" style="display: none">
            <p>Choose <b>save and next</b> to continue.</p>
          </div>
        </div>
        <!-- bottom page navigation -->
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim/service_pension/sp-dependant'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href='/auth/claim/service_pension/sp-la'">Save and next</button>
              </div>
            </div>
          </div>
        </div>
        <% include ../../../../partials/claims-cancel-modal.ejs %>
      </div> <!-- row end -->
    </div> <!-- container end -->
  </main>
  <% include ../../../../partials/footer.ejs %>
  <script>
    $(Document).ready(function () {

      hideAll();

      // main

      $("#aus-citizen-no").click(function () {
        $("#visa-a").show("fast");
      });

      $("#aus-citizen-yes").click(function () {
        $("#visa-a").hide("fast");
      });

      $("#op1-visa").click(function () {
        $("#visa-b").show("fast");
      });

      $("#op2-visa").click(function () {
        $("#visa-b").show("fast");
      });

      $("#op3-visa").click(function () {
        $("#visa-b").show("fast");
      });

      $("#op4-visa").click(function () {
        $("#visa-b").hide("fast");
      });

      $("#living-aus-yes").click(function () {
        $("#not-living-in-australia").hide("fast");
      });

      $("#living-aus-no").click(function () {
        $("#not-living-in-australia").show("fast");
      });

      $("#born-aus-yes").click(function () {
        $("#country-born").hide("fast");
        $("#moved-aus").hide("fast");
        $("#returned-aus").show("fast");
        $("#save-and-next").hide("fast");
      });

      $("#born-aus-no").click(function () {
        $("#country-born").show("fast");
        $("#moved-aus").show("fast");
        $("#save-and-next").hide("fast");
        $("#returned-aus").hide("fast");
      });

      // $("#lived-overseas-yes").click(function () {
      //   $("#moved-returned-aus").show("fast");
      //   $("#save-and-next").hide("fast");
      // });

      // $("#lived-overseas-no").click(function () {
      //   $("#moved-returned-aus").hide("fast");
      //   if (sessionStorage.getItem('partnerApply') != 'true') {
      //     $("#save-and-next").show("fast");
      //   }
      // });

      $("#moved-aus-yes").click(function () {
        if (sessionStorage.getItem('partnerApply') != 'true') {
          $("#save-and-next").show("fast");
        }
      });

      $("#returned-aus-no").click(function () {
        if (sessionStorage.getItem('partnerApply') != 'true') {
          $("#save-and-next").show("fast");
        }
      });

      // partner

      $("#partner-auz-citizen-no").click(function () {
        $("#partner-visa-perm").show("fast");
      });

      $("#partner-auz-citizen-yes").click(function () {
        $("#partner-visa-perm").hide("fast");
      });

      $("#op1-visa-partner").click(function () {
        $("#visa-b-partner").show("fast");
      });
      $("#op2-visa-partner").click(function () {
        $("#visa-b-partner").show("fast");
      });
      $("#op3-visa-partner").click(function () {
        $("#visa-b-partner").show("fast");
      });

      $("#living-aus-yes-partner").click(function () {
        $("#not-living-in-australia-partner").hide("fast");
      });

      $("#living-aus-no-partner").click(function () {
        $("#not-living-in-australia-partner").show("fast");
      });

      $("#born-aus-yes-partner").click(function () {
        $("#partner-country-birth").hide();
        $("#partner-returned").show("fast");
        $("#partner-moved").hide();
      });

      $("#born-aus-no-partner").click(function () {
        $("#partner-country-birth").show("fast");
        $("#partner-moved").show();
        $("#save-and-next").hide();
        $("#partner-returned").hide("fast");
      });

      // $("#partner-lived-overseas-yes").click(function () {
      //   $("#partner-moved-returned").show("fast");
      //   $("#save-and-next").hide("fast");
      // });

      // $("#partner-lived-overseas-no").click(function () {
      //   $("#partner-moved-returned").hide("fast");
      //   $("#save-and-next").show("fast");
      // });

      $("#partner-moved-returned-yes").click(function () {
        $("#save-and-next").show("fast");
      });

      $("#partner-moved-returned-no").click(function () {
        $("#save-and-next").show("fast");
      });

      //

      $(document).keypress(function (e) {
        switch (e.which) {
          case 49:
            hidePartner();
            break;
          case 50:
            showPartner();
            break;
          default:
        }
      });

      if (sessionStorage.getItem('partnerApply') == 'true') {
        showPartner();
      } else {
        hidePartner();
      };

      function showPartner() {
        sessionStorage.setItem('partnerApply', 'true')
        $("#sp-res-veteranTitle").show();
        $("#sp-res-partnerDetails").show();
        $("#intro-copy-no-partner").hide();
      }

      function hidePartner() {
        sessionStorage.setItem('partnerApply', 'false')
        $("#sp-res-veteranTitle").hide();
        $("#sp-res-partnerDetails").hide();
        $("#intro-copy-no-partner").show();
      }

      function hideAll() {
        if (sessionStorage.getItem('partnerApply') != 'true') {
          $("#sp-res-veteranTitle").hide();
          $("#sp-res-partnerDetails").hide();
        };
        $("#visa-a").hide();
        $("#visa-b").hide();
        $("#country-born").hide();
        $("#lived-overseas").hide();
        $("#moved-aus").hide();
        $("#-aus").hide();
        $("#partner-auz-citizen-document").hide();
        $("#partner-visa-perm").hide();
        $("#born-aus-no-partner").hide();
        $("#partner-country-birth").hide();
        $("#partner-lived-overseas").hide();
        $("#visa-b-partner").hide();
        $("#partner-moved").hide();
        $("#partner-returned").hide();
        $("#not-living-in-australia").hide();
        $("#not-living-in-australia-partner").hide();
        $("#save-and-next").hide();
        $("#returned-aus").hide();
      }
    });
  </script>
</body>

</html>