<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Getting started | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../../../partials/header-topbar.ejs %>
    <% include ../../../../partials/header-nom-rep.ejs %>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <!-- Page heading -->
            <h1 class="margin-above--none ss-align--center">
                <span class="heading">About your claim</span>
            </h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-above--extra margin-below--extra">
                        <!-- Page content -->
                        <!-- What are you applying for? -->
                        <% 
                        locals.radioLabel = 'What are you applying for?';
                        locals.groupID = 'sp-start-pension-type';
                        locals.myLabels = ["Invalidity service pensipn","Age service pension"];
                        locals.myID = ["pensionType-invalidity","pensionType-age"];
                        locals.myIcons = ["fa-user","fa-user"] 
                        %>
                        <%- include ../../../../partials/forms/radio-with-icon.ejs %>
                        <!-- [A] Show if <58 -->
                        <div id="inval-only">
                            <div class="uikit-page-alerts" role="alert">
                                <p>You must be at least 59 years and 9 months old to apply for age service pension</p>
                            </div>
                        </div>
                        <!-- [C] Show if 60+ -->
                        <div class="uikit-page-alerts" role="alert" id="age-only">
                            <p>You cannot apply for invalidity service pension if you are over 65 years of age.</p>
                            <p>Apply for age service pension instead</p>
                        </div>
                        <!-- Invalidity -->
                        <div class="form-group margin-above--large" id="sp-start-whatGrounds">
                            <label class="uikit-text-input__label" for="radio-buttons">On what grounds are you applying for Invalidity Pension?</label>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op1">
                                    <input class="uikit-control-input__input" type="radio" name="radio-contact">
                                    <span class="uikit-control-input__text">Totally and Permanently Incapacitated (TPI) or Special Rate Disability Pension (SRDP)</span>
                                    <span class="help-field">Only select this option if you are entitled to disability pension at the TPI rate or Special Rate Disability Pension)</span>
                                </label>
                            </p>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op2">
                                    <input class="uikit-control-input__input" type="radio" name="radio-contact">
                                    <span class="uikit-control-input__text">Blind</span>
                                </label>
                            </p>
                            <p class="uiToolKitCheckBox">
                                <label class="uikit-control-input" id="op3">
                                    <input class="uikit-control-input__input" type="radio" name="radio-contact">
                                    <span class="uikit-control-input__text">Neither</span>
                                </label>
                            </p>
                        </div>
                        <!-- Who are you applying for? -->
                        <% 
                        locals.radioLabel = 'Who are you applying for?';
                        locals.groupID = "sp-start-who";
                        locals.myLabels = ["Myself","Both myself and my partner"];
                        locals.myID = ["pensionWho-single","pensionWho-double"];
                        locals.myIcons = ["fa-user","fa-user-friends"] 
                        %>
                        <%- include ../../../../partials/forms/radio-with-icon.ejs %>
                        <!-- PBS -->
                        <% 
                        locals.radioLabel = 'Are you a registered member of the Pension Bonus Scheme?'; 
                        locals.groupID = "sp-start-pbs";
                        locals.radioId = 'pbs'; 
                        %>
                        <% include ../../../../partials/forms/radio--yes-no.ejs %>
                        <!-- Centrelink -->
                        <% 
                        locals.label = 'Have you applied for or do you receive any of the following Centrelink payments?'; 
                        locals.hint = 'Select all that apply.'; 
                        locals.groupID = "cs-centrelink";
                        locals.myLabels = ["Age pension","Disability support pension","Carer payment","Newstart allowance","Other"];
                        locals.myID = ["age-pension","disability-support-pension","carer-payment","newstart-allowance","other"];
                        %>
                        <% include ../../../../partials/forms/checkbox.ejs %>
                        <!-- <div class="form-group margin-above--large" id="cs-centrelink">
                            <label class="uikit-text-input__label" for="sop">Have you applied for or do you receive any of the following Centrelink payments?
                                <span class="hint display-block">Select all that apply.</span>
                            </label>
                            <div class="uiToolKitCheckBox">
                                <label class="uikit-control-input">
                                    <input class="uikit-control-input__input" type="checkbox" id="age-pension" name="age-pension">
                                    <span class="uikit-control-input__text">Age pension</span>
                                </label>
                            </div>
                            <div class="uiToolKitCheckBox">
                                <label class="uikit-control-input">
                                    <input class="uikit-control-input__input" type="checkbox" id="disability-support-pension" name="disability-support-pension">
                                    <span class="uikit-control-input__text">Disability support pension</span>
                                </label>
                            </div>
                            <div class="uiToolKitCheckBox">
                                <label class="uikit-control-input">
                                    <input class="uikit-control-input__input" type="checkbox" id="carer-payment" name="carer-payment">
                                    <span class="uikit-control-input__text">Carer payment</span>
                                </label>
                            </div>
                            <div class="uiToolKitCheckBox">
                                <label class="uikit-control-input">
                                    <input class="uikit-control-input__input" type="checkbox" id="newstart-allowance" name="newstart-allowance">
                                    <span class="uikit-control-input__text">Newstart allowance</span>
                                </label>
                            </div>
                            <div class="uiToolKitCheckBox">
                                <label class="uikit-control-input">
                                    <input class="uikit-control-input__input" type="checkbox" id="other" name="other">
                                    <span class="uikit-control-input__text">Other</span>
                                </label>
                                <div class="form-group" id="other-ps">
                                    <label class="uikit-text-input__label margin-above--mid" for="Input field">Please specify</label>
                                    <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group margin-above--large" id="cs-cshc">
                            <fieldset>
                                <legend class="legend-label">Have you applied for or do you currently hold a Commonwealth Seniors Health Card (CSHC) from DVA or Centrelink?</legend>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="cs-cshc-yes">
                                        <input id="cs-cshc-yes" type="radio" name="cs-cshc" value="yes">
                                        <span>Yes</span>
                                    </label>
                                    <label class="off label-right" for="cs-cshc-no">
                                        <input id="cs-cshc-no" type="radio" name="cs-cshc" value="no">
                                        <span>No</span>
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div style="display: none;" class="form-group margin-above--large" id="cs-crn">
                            <label class="uikit-text-input__label" for="tags">What is your Customer Reference Number (CRN)?</label>
                            <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
                        </div>
                        <div id="save-and-next" class="margin-above--extra" style="display: none">
                            <p>Choose <b>save and next</b> to continue.</p>
                        </div>
                    </div> <!-- col-md-12 end -->
                </div>
                <div class="pagination">
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/service_pension/sp-progress-a'">Previous</button>
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
                    <div class="floated">
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/service_pension/sp-start'">Save and exit</button>
                        <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/service_pension/sp-qs'">Save and next</button>
                    </div>
                </div>
            </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
        </div> <!-- container end -->
    </main>
    <% include ../../../../partials/claims-cancel-modal.ejs %>
    <% include ../../../../partials/footer.ejs %>
    <div id="state-switcher">
        <h3>State Switcher</h3>
        <div class="info">Function spec revision ID 0.13</div>
        <div class="form-group">
            <label class="uikit-text-input__label" for="toggle-buttons">User age:</label>
            <div class="form-group" id="state-switcher--age">
                <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input" id="op1">
                        <input class="uikit-control-input__input" type="radio" name="ss-age" value="under-59.75">
                        <span class="uikit-control-input__text">Under 59.75</span>
                    </label>
                </p>
                <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input" id="op2">
                        <input class="uikit-control-input__input" type="radio" name="ss-age" value="between-59.75-and-65">
                        <span class="uikit-control-input__text">Between 59.75 and 65</span>
                    </label>
                </p>
                <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input" id="op3">
                        <input class="uikit-control-input__input" type="radio" name="ss-age" value="over-65">
                        <span class="uikit-control-input__text">Over 65</span>
                    </label>
                </p>
            </div>
        </div>
    </div>
    <script>
    $(Document).ready(function() {



        /* State switcher */

        var userStatus = "single-account";
        if (userStatus == "single-account") {
            $("#user-status--single-account").click();
        }

        $(document).keypress(function(e) {
            switch (e.which) {
                case 96: //tilda
                    $('#state-switcher').toggle();
                    break;
                default:
            }
        });

        $('input[type=radio][name=ss-age]').change(function() {
            console.log("1")
            sessionStorage.setItem('sp-age', this.value);
            switch (this.value) {
                case "under-59.75":
                    break;
                case "between-59.75-and-65":
                    break;
                case "over-65":
                    break;
                default:
            }
            setUpAgeMode();
        });
        $(":radio[value=over-65]").click();

        /* End state switcher */

        // select type

        $("#pensionType-invalidity").click(function() {
            hideAll();
            $("#sp-start-whatGrounds").show("fast");
            $("#sp-start-pbs").show("fast");
        });

        $("#pensionType-age").click(function() {
            if (sessionStorage.getItem('sp-age') == "inval-only") {
                hideAll();
                $("#inval-only").show("fast");
                return;
            }
            hideAll();
            $("#sp-start-who").show("fast");
        });

        // age pension

        $("#pensionWho-single").click(function() {
            $("#sp-start-pbs").show("fast");
            $("#cs-centrelink").show("fast");
            $("#cs-cshc").show("fast");
            sessionStorage.setItem('partnerApply', 'false');
        });

        $("#pensionWho-double").click(function() {
            $("#sp-start-pbs").show("fast");
            $("#benefits").show("fast");
            sessionStorage.setItem('partnerApply', 'true');
        });

        // pbs

        $("#pbs-yes").click(function() {
            $("#pbs-explainer").show("fast");
        });
        $("#pbs-no").click(function() {
            $("#pbs-explainer").hide("fast");
        });

        // centrelink

        var centrelink_selected;
        $("#cs-centrelink").change(function() {
            centrelink_selected = [];
            $('#cs-centrelink input:checked').each(function() {
                centrelink_selected.push($(this).attr('name'));
            });
            if (centrelink_selected.length > 0) {
                $("#cs-crn").show("fast");
            } else {
                if (cs_cshc != "yes") {
                    $("#cs-crn").hide();
                }
            }
        });

        var cs_cshc;
        $('input[name=cs-cshc]').change(function() {
            cs_cshc = $('input[name=cs-cshc]:checked').val();
            if (cs_cshc == "yes") {
                $("#cs-crn").show();
            } else {
                if (centrelink_selected.length == 0) {
                    $("#cs-crn").hide();
                }
            }
        });

        //

        function hideAll() {
            $("#inval-only").hide();
            $("#close").hide();
            $("#age-only").hide();
            $("#sp-start-who").hide();
            $("#sp-start-pbs").hide();
            $("#sp-start-whatGrounds").hide();
            $("#benefits").hide();
            $("#cs-centrelink").hide();
            $("#other-ps").hide();
            $("#cs-crn").hide();
            $("#cs-cshc").hide();
        }

        // age mode

        function setUpAgeMode() {
            hideAll();
            $("#sp-start-pension-type").hide();
            switch (sessionStorage.getItem('sp-age')) {
                case "under-59.75":
                    $("#sp-start-pension-type").show();
                    break;
                case "between-59.75-and-65":
                    $("#sp-start-pension-type").show();
                    break;
                case "over-65":
                    $("#sp-start-pension-type").hide();
                    $("#sp-start-who").show();
                    break;
                default:
            }
            console.log(sessionStorage.getItem('sp-age') + "LLLLLL");
        };

        hideAll();

    });
    </script>
</body>

</html>