<%- include(templates+"header", {
  title: "Change of address",
  heading: "Further information"
})%>


<%- include(partials+"components/form-partials/notice", {
  message: "<p>You will need to provide additional reporting on the financial impact of this change of address within the 'Income and Assets' section of your MyService profile.</p><p>For example: changes to bank balances, shares, managed investments, real estate holdings or any other categories that have been impacted by the change.</p>"
}); %>

<%#- include(partials+"components/form-partials/textarea", {
  label: "Tell us any additional information relevant to your change of address."
}); %>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/profile/living-arrangements/la-04"
    },
    {
      text: "Delete transaction",
      link: "#open-coc-ai-delete-modal"
    },
      {
        text: "Next",
        link: "/auth/profile/living-arrangements/review",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>

<script>
  function stateSwitcher() {
  }
</script>

<%- include(partials+"components/layout/footer") %>
<%#- include("category-page-ss") %>