<%- include(templates+"header", {
  title: "Initial Liability",
  heading: "How did it happen?"
})%>
            <!-- SOPs -->
            <fieldset>
              <div class="form-group">
                <label class="uikit-text-input__label" for="sop">Which statements best describe how your condition happened?
                  <span class="hint display-block">Select all that apply.</span>
                  <br />
                </label>
                <p class="uiToolKitCheckBox sop-checkbox">
                  <label class="uikit-control-input uikit-control-input--full">
                    <input class="uikit-control-input__input" type="checkbox" id="sop1" name="sop">
                    <span class="uikit-control-input__text">having a lumbar intervertebral disc prolapse before the clinical onset of lumbar spondylosis at the level of the
                      intervertebral disc
                      prolapse</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox sop-checkbox">
                  <label class="uikit-control-input uikit-control-input--full">
                    <input class="uikit-control-input__input" type="checkbox" id="sop1" name="sop">
                    <span class="uikit-control-input__text">lifting loads of at least 25 kilograms while bearing weight through the lumbar spine to a cumulative total of at least
                      120 000
                      kilograms
                      within any ten year period before the clinical onset of lumbar spondylosis</span>
                  </label>
                </p>
              </div>
            </fieldset>

            <!-- Tell us your story -->
            <fieldset>
              <div class="form-group">
                <label class="uikit-text-input__label" for="textArea">How did your service cause, aggravate or contribute to your condition?
                  <span class="optional-field">(optional)</span>
                  <br>
                  <span class="hint required-hint" style="display:none;">Telling us about the events that led to your condition will help us assess your claim.</span>
                  <span class="hint display-block">If a classified operation led to your condition, enter 'classified'.
                    <strong>Do not</strong> provide details about the classified operations.</span>
                </label>
                <textarea id="textArea" name="statementText" rows="5"></textarea>
              </div>
            </fieldset>


            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/il/claim1'">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/'">Save and exit</button>
                <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/il/claim4'">Save and next</button>
              </div>
            </div>
            <%- include(partials+"content/modals/claims-cancel-modal") %>
            <%- include(partials+"content/modals/claims-removefile-modal") %>
          </div>
        </div>
      </div>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>

    // Show alternative (and required) text in Story block if 'other' checkbox in SOP block is selected

    $("#sop2").click(function () {
      if ($("#sop2").is(':checked')) {
        $(".optional-field").hide();
        $(".required-hint").show();

      } else {
        $(".optional-field").show();
        $(".required-hint").hide();
      }
    });

  </script>

</body>

</html>
