<div id="state-switcher">
    <h3>State switcher</h3>
  
    <%- include(partials+"components/form-partials/checkbox", {
            label: "Show veteran payment box",
            boxes: [
              "Yes"
            ],
            id: "sw-veteran-payment"
          }); %>
  
  </div>
  
  <script>
  
    $(document).ready(function () {
      /* --- State switcher --- */
      /* Toggle switcher */
      $(document).keypress(function (e) {
        switch (e.which) {
          case 96: //tilda
            $('#state-switcher').toggle();
            break;
          default:
        }
      });
  
      $("#state-switcher").on("change", "input", function() {
        if ($("#sw-veteran-payment-1").prop("checked")) {
          $("#vp-can-apply").show();
        } else {
          $("#vp-can-apply").hide();
        }
      })
  
    });
  </script>
  