<%- include(templates+"header", {
  claim: "Initial Liability",
  heading: "Initial Liability"
}) %>

<div class="margin-below--extra">
  <p>Initial liability is a first step towards treatment and compensation for your service related injuries.</p>
  <p>To establish liability we need a formal diagnosis of your condition and a link between your condition and your service.</p>
  <p>To ensure your claim is not delayed attach all relevant documentation when submitting. This should include a formal diagnosis.</p>
</div>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "/auth/claims"
      },
      {
        text: "Next",
        link: "/auth/claim/il/claim1",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>


///
