<%- include(templates+"header", {
  claim: "Initial Liability",
  heading: "Initial Liability"
}) %>

<div class="margin-below--extra">
  <p>Draft only: A first step in getting treatment and compensation with DVA is to establish your injuries are service related.</p>
  <p>You are advised to get a medical diagnosis for your condition and attach in the documents section. This will reduce delays in processing your claim.</p>
</div>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "/auth/claims"
      },
      {
        text: "Next",
        link: "/auth/claim/il/claim1",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>


///
