<%- include(templates+"header", { claim: "MyService - Request review" , heading: "Supporting evidence" }) %>


        <h2 class="mys h2 margin-above--none ">Attach documents to support your request (optional)</h2>
          <span>Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</span>

      <div class="mys-file-uploads__items margin-above--large margin-below--large">
        <div id="doc-medical" class="mys-file-uploads__item-border">
          <div class="mys-file-uploads__item mys-file-uploads__item--required">
            <div class="mys-file-uploads__l-status">
              <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                <div class="mys-file-uploads__status-icon"></div>
                <div class="mys-file-uploads__status-sr">Success</div>
              </div>
            </div>
            <div class="mys-file-uploads__info">
              <div class="mys-file-uploads__info-item">
                <div class="mys-file-uploads__value">
                  <div><Strong>Document</strong></div>
                </div>
              </div>
            </div>
            <div class="mys-file-uploads__item-actions">
              <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
            </div>
          </div>
        </div>

        <!-- <div class="mys doc-upload">
          <i class="fa fa-file"></i>
          <span>Document</span>
          <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
        </div> -->

<br/><br/><br/><br/><br/>

      <%- include(forms+"pagination", { pagination: [ { text: "Previous" , link: "/auth/reviews-light/reviews-01" },  {
        text: "Cancel",
        link: "#claim-cancel-modal"
      },{
        text: "Save and exit" , link: "/auth/reviews-light/" , modifiers: ["floated" ] }, { text: "Save and next"
        , link: "/auth/reviews-light/reviews-03" , 
        modifiers: ["floated", "primary" ],
        customClass: ['margin-above--large']
      } ] }) %>



<%- include(templates+"footer") %>
