<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Register: Contact details | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar-register") %>
  <%- include(partials+"components/layout/header-register") %>
  <main>

    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/auth">Home</a>
          </li>
          <li>My profile</li>
          <li>Change email</li>
        </ul>
      </nav>
      <h1>
        <img src="/docs/images/ico-email-waiting.svg" alt="Email waiting icon"> Please check your email</h1>
      <p>We have emailed a code to <b>robjohnson@email.com</b>.
        <fieldset>
          <div class="form-group">
            <label class="uikit-text-input__label" for="password">Enter the code emailed to you</label>
            <input class="uikit-text-input" name="password" id="password" type="password" value="">
          </div>
        </fieldset>
        <div class="pagination">
          <button class="uikit-btn uikit-btn--tertiary" id="next-disable" onclick="window.location.href = '/auth/profile/contact/'">Next</button>
          <button class="uikit-btn" onclick="window.location.href = '/auth/profile/contact/'">Cancel</button>
        </div>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "90%";
    document.getElementById("percentage_value").textContent = "90%";

    //disable the next button after clicked once
    $("#next-disable").click(function () {
      $("#next-disable").attr("disabled", true);
    });

    // Add more service
    $(".btnAddService").click(function () {
      $("#addService").toggle("fast");
      $(".btnAddService").toggle("fast");
    });
    $(".btnSave").click(function () {
      $("#addService").toggle("fast");
      $("#extraTr").toggle("fast");
      $(".btnAddService").toggle("fast");
    });

    // Prefil
    $(".prefillEmail").html(localStorage.myEmail);
  </script>
</body>

</html>
