<!DOCTYPE html>
<html class="js" lang="en">

<%- include(templates+"header", {
  title: "Confirmation of enrolment - MyService", 
  heading: "Required documents"
}) %>


    <div class="container container--8-column">

      <div class="margin-above--extra margin-below--extra">

        <h3>We need some documents from you<span class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum file size is
            50MB.</span></h3>

        <h2 class="margin-above">What we need</h2>

        <div class="mys-file-uploads__items">
          <div id="doc-medical" class="mys-file-uploads__item-border">
            <div class="mys-file-uploads__item mys-file-uploads__item--required">
              <div class="mys-file-uploads__l-status">
                <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                  <div class="mys-file-uploads__status-icon"></div>
                  <div class="mys-file-uploads__status-sr">Success</div>
                </div>
              </div>
              <div class="mys-file-uploads__info">
                <div class="mys-file-uploads__info-item">
                  <div class="mys-file-uploads__value">
                    <div><Strong>Confirmation of enrolment </strong></div>
                    <div>For example, a letter of enrolment or Confirmation of Enrolment (COE) document from the institution.
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__item-actions">
                <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" id="cancel" onclick="window.location.href = '#open-modal'">Exit task</button>
        <div class="floated">
          <button class="uikit-btn btnNext" id="btnNext">Next</button>
        </div>
      </div>
    </div> <!-- container end -->
    <%- include(partials+"content/modals/tasks-cancel-modal") %>
    </div>

  </main>
  
  <%- include(partials+"components/layout/footer") %>

  <script>
    $(document).ready(function () {
      $("#btnNext").click(function () {
        window.location.href = "/auth/tasks/confirmation-of-enrolment/confirmation-of-enrolment-03"
      });

      $("#btnPrev").click(function () {
        window.location.href = "/auth/tasks/confirmation-of-enrolment/confirmation-of-enrolment-01"
      });
    });
  </script>

</body>

<%- include("confirmation-of-enrolment-state-switcher.ejs") %>

</html>
