<!-- Uses one grid column as a spacer between main content and side navigation -->
<!-- <div class="col-sm-1">&nbsp;</div> -->

<div class="col-sm-3">
  <nav id="nav" class="local-nav" aria-label="category navigation" aria-hidden="false">
    <h3>Getting started</h3>
    <ul id="sidenav">
      <li>
        <a href="/styleguide/uikit">GOV.AU UI-Kit</a>
      </li>
      <li>
        <a href="/styleguide/prototyping">Prototyping</a>
      </li>
      <li>
        <a href="/styleguide/structure">SASS structure</a>
      </li>
      <li>
        <a href="/styleguide/colours">Colours</a>
      </li>
      <li>
        <a href="/styleguide/layout">Layout</a>
      </li>
      <li>
        <a href="/styleguide/typography">Typography</a>
      </li>


    </ul>

    <h3>Components </h3>
    <ul id="sidenav">
      <li>
        <a href="/styleguide/accordions">Accordions</a>
      </li>
      <li>
        <a href="/styleguide/animations">Animations</a>
      </li>
      <li>
        <a href="/styleguide/buttons">Buttons and links</a>
      </li>
      <li>
        <a href="/styleguide/callouts">Callouts</a>
      </li>
      <li>
        <a href="/styleguide/cards">Cards</a>
      </li>
      <li>
        <a href="/styleguide/currency">Currency box</a>
      </li>
      <li>
        <a href="/styleguide/document-uploads">Document uploads</a>
      </li>
      <li>
        <a href="/styleguide/forms">Forms</a>
      </li>
      <li>
        <a href="/styleguide/icons">Icons and images</a>
      </li>

      <li>
        <a href="/styleguide/modals">Modals</a>
      </li>
      <li>
        <a href="/styleguide/navigation">Navigation</a>
      </li>
      <li>
        <a href="/styleguide/notifications">Notifications</a>
      </li>
      <li>
        <a href="/styleguide/pagination">Pagination</a>
      </li>
      <li>
        <a href="/styleguide/progress_bars">Progress Bars</a>
      </li>
      <li>
        <a href="/styleguide/tables">Tables</a>
      </li>
      <li>
        <a href="/styleguide/toast">Toast messages</a>
      </li>
      <li>
        <a href="/styleguide/tooltip">Tooltip</a>
      </li>
    </ul>

    <h3>JSON Components</h3>
    <ul id="sidenav">
      <li>
        <a href="/styleguide/form_partials">Form Partials</a>
      </li>
  </nav>

  <div class="sg-side-block">
    <h2>Lets talk on Slack.
      <img src="/docs/images/styleguide/sg-ico-slack.png" alt="Slack icon">
    </h2>
    <p>Do you have questions or would you like to provide some feedback? We'd love to hear from you!</p>
    <p>
      <a class="uikit-btn uikit-btn--tertiary small" href="https://dva-dev.slack.com/messages/ux" rel="external">Join our Slack channel</a>
      <br>
      <span class="small-text">(Only available to DVA employees)</span>
    </p>
  </div>

</div>


<script>
  $(document).ready(function () {
    var url = window.location;
    var element = $('ul#sidenav a').filter(function () {
      return this.href == url || url.href.indexOf(this.href) == 0;
    }).parent().addClass('is-active');
    if (element.is('li')) {
      element.addClass('is-active').parent().parent('li').addClass('is-active')
    }
  });
</script>