<footer class="uikit-footer uikit-footer--gradient" role="contentinfo">
	<div class="container" style="margin-bottom:50px;">
		<%- include(partials+"components/go-to-top") %>
			<div class="row">
				<a href="http://www.dva.gov.au/" style="border-bottom:0px;">
					<img src="/docs/images/logo-dva-black.svg" alt="Department of Veterans' Affairs logo" width="300" align="left">
				</a>
				<section class="uikit-footer__end">
					<ul class="uikit-link-list uikit-link-list--inline floated">
						<li>
							<a href="https://myservice-disco.herokuapp.com/" rel="external">See the prototype</a>
						</li>
						<li>
							<a href="https://github.com/AusDVA/myservice-prototype" rel="external">Find us on GitHub</a>
						</li>
						<li>
							<a href="http://www.dva.gov.au/" rel="external">
								<strong>Department of Veterans' Affairs</strong>
							</a>
						</li>
					</ul>
				</section>
			</div>
	</div>
</footer>


<script>

// Responsive table
// This is not implemented in dev


// (function () {
// 	var headertext = [];
// 	var headers = document.querySelectorAll("thead");
// 	var tablebody = document.querySelectorAll("tbody");

// 	for(var i = 0; i < headers.length; i++) { headertext[i]=[]; for (var j = 0, headrow; headrow = headers[i].rows[0].cells[j]; j++) { var current = headrow; headertext[i].push(current.textContent.replace(/\r?\n|\r/,"")); } } if (headers.length > 0) {
// 		for (var h = 0, tbody; tbody = tablebody[h]; h++) {
// 			for (var i = 0, row; row = tbody.rows[i]; i++) {
// 			  for (var j = 0, col; col = row.cells[j]; j++) {
// 			    col.setAttribute("data-th", headertext[h][j]);
// 			  }
// 			}
// 		}
// 	}

// 	// Needed for the "Back to Top" functionality
// 	$(window).scroll(function() {
// 		if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
// 			$('#return-to-top').addClass('visible');    // Fade in the arrow
// 		} else {
// 			$('#return-to-top').removeClass('visible');   // Else fade out the arrow
// 		}
// 	});
// 	$('#return-to-top').click(function() {      // When arrow is clicked
// 			$('body,html').animate({
// 				scrollTop : 0                       // Scroll to top of body
// 			}, 500);

// 			// hack to reset focus to top of page
// 			document.body.setAttribute('tabindex','0');
//       document.body.focus();
//       document.body.removeAttribute('tabindex');
// 	});
// } ());
</script>