<div id="open-modal" class="modal-window">
	<div>
		<a href="#modal-close" title="Close" class="modal-close">Close</a>
		<h2>Are you sure you want to cancel?<br><span>Cancelling at this point will delete the claim.</span></h2>
		<div class="modal-buttons">
			
			<button class="uikit-btn" onclick="window.location.href = '/auth'">Yes, cancel and delete claim</button> &nbsp;or&nbsp; <a href="">Continue claim</a>
		</div>
	</div>
</div>
