          <div class="cover-status">
            <ul>
              <li class="submitted active">
              	<span class="status-icon status-icon-done"></span>
                <p><span class="sr">Status: </span>Submitted</p>
                <p class="date">‎19‎ ‎June‎ ‎2017</p>
              </li>
              <li class="in-progress">
              	<span class="status-icon"></span>
                <p>In progress</p>
                <p class="date">&nbsp;</p>
              </li>
              <li class="decision-pending">
              	<span class="status-icon"></span>
                <p>Decision pending</p>
                <p class="date">&nbsp;</p>
              </li>
            </ul>
          </div>
