<div id="open-dhoas-modal" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">Close</a>
    <h2>DHOAS</h2>
    <p>Are you sure you want to delete this claim?</p>
    <div class="modal-buttons">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
    </div>
  </div>
</div>