<div id="open-dhoas-modal" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">Close</a>
    <h2>Confirm your contact details are correct</h2>
    <p>This will ensure we can contact you about your&nbsp;application.</p>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-lg-2">
          Name
        </div>
        <div class="col-xs-12 col-sm-3 font-weight-heavy margin-below--mid">
          Robert Smith
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3 col-lg-2">
          Home phone number
        </div>
        <div class="col-xs-12 col-sm-3 font-weight-heavy margin-below--mid">
          02 6123 4567
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-lg-2">
          Mobile phone number
        </div>
        <div class="col-xs-12 col-sm-3 font-weight-heavy margin-below--mid">
          0412 345 678
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-lg-2">
          Email
        </div>
        <div class="col-xs-12 col-sm-3 font-weight-heavy margin-below--mid">
          robert.smith@gmail.com
        </div>
      </div>
    </div>


    <div class="modal-buttons">
      <div class="row">
        <div class="col-xs-12 col-sm-6 margin-below--mid">
          <button class="uikit-btn uikit-btn--tertiary uikit-btn--block" onclick="window.location.href = '/profile-contact'">Update my details</button>
        </div>
        <div class="col-xs-12 col-sm-6">
          <button class="uikit-btn uikit-btn--tertiary uikit-btn--block" onclick="window.location.href = '/dhoas1'">My details are correct</button>
        </div>
      </div>
    </div>
  </div>
</div>