<div id="open-dhoas-modal" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">Close</a>
    <h2>Confirm the details below are&nbsp;correct</h2>
    <p>This will ensure we can contact you about your&nbsp;application.</p>

    <table class="mys-table mys-table--compact margin-above--large">
      <tr>
        <td>Name</td>
        <td>
          <b>Robert Smith</b>
        </td>
      </tr>
      <tr>
        <td>Home phone number</td>
        <td>
          <b>02 6123 4567</b>
        </td>
      </tr>
      <tr>
        <td>Mobile phone number</td>
        <td>
          <b>0412 345 678</b>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          <b>robert.smith@gmail.com</b>
        </td>
      </tr>
    </table>

    <div class="modal-buttons">
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile-contact'">Update my details</button>
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/dhoas1'">These details are correct</button>
    </div>
  </div>
</div>