<div class="row margin-below">
  <div class="col-sm-12">
    <h3 class="margin-below--none">Tell us more</h3>
  </div>
</div>
<div class="row margin-below">
  <div class="col-sm-6 col-lg-5">
    <legend class="legend-label legend-label--light">Is your ability to complete your daily activities affected?
      <span class="hint display-block">
        <i>For example, driving, walking or socialising.</i>
      </span>
    </legend>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="pi-questions " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="pi-questions " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="pi-questions " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>

  </div>
</div>
<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Do you need the assistance of an aid to help get around?
      <span class="hint display-block ">
        <i>For example, a walking stick or assistance animal.</i>
      </span>
    </legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>
<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Do you require assistance to travel?
      <span class="hint display-block ">
        <i>Including short or long trips.</i>
      </span>
    </legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>
<div class="row margin-below--extra ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Do your conditions restrict you to your home?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="home " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="home " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="home " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>