<div class="row margin-below border-top--mild">
	<div class="col-sm-12 margin-above">
		<h3 class="margin-below--none">Answer the questions below
			<span class="hint display-block">You will have the opportunity to tell us more in the text box below.</span>
		</h3>
	</div>
</div>
<div class="row margin-below">
	<div class="col-sm-6 col-lg-5">
		<legend class="legend-label legend-label--light">Has your social life been affected because of your conditions?</legend>
	</div>
	<div class="col-sm-6 col-lg-4">
		<div class="mys-radio-group mys-radio-group--cols-3">
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="home"
				       value="no">
				<span class="mys-radio__box">No</span>
			</label>
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="home"
				       value="yes-a-little">
				<span class="mys-radio__box">Yes, a little</span>
			</label>
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="home"
				       value="yes-a-lot">
				<span class="mys-radio__box">Yes, a lot</span>
			</label>
		</div>
	</div>
</div>

<div class="row margin-below">
	<div class="col-sm-6 col-lg-5">
		<legend class="legend-label legend-label--light">Have your daily interactions with people been affected because of your conditions?
			<span class="hint display-block">
				<i>For example, shop assistant, neighbours or work colleagues.</i>
			</span>
		</legend>
	</div>
	<div class="col-sm-6 col-lg-4">
		<div class="mys-radio-group mys-radio-group--cols-3">

			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="transport"
				       value="no">
				<span class="mys-radio__box">No</span>
			</label>
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="transport"
				       value="yes-a-little">
				<span class="mys-radio__box">Yes, a little</span>
			</label>
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="transport"
				       value="yes-a-lot">
				<span class="mys-radio__box">Yes, a lot</span>
			</label>
		</div>
	</div>
</div>
<div class="row margin-below">
	<div class="col-sm-6 col-lg-5">
		<legend class="legend-label legend-label--light">Have your relationships with your family been affected because of your conditions?
			<span class="hint display-block">
				<i>Including children, immediate relatives and close friends.</i>
			</span>
		</legend>
	</div>
	<div class="col-sm-6 col-lg-4">
		<div class="mys-radio-group mys-radio-group--cols-3">
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="pi-questions"
				       value="no">
				<span class="mys-radio__box">No</span>
			</label>
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="pi-questions"
				       value="yes-a-little">
				<span class="mys-radio__box">Yes, a little</span>
			</label>
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="pi-questions"
				       value="yes-a-lot">
				<span class="mys-radio__box">Yes, a lot</span>
			</label>
		</div>

	</div>
</div>
<div class="row margin-below--extra">
	<div class="col-sm-6 col-lg-5">
		<legend class="legend-label legend-label--light">Has your ability to form or maintain intimate relationships been affected because of your conditions?
			<span class="hint display-block">
				<i>Including emotional or physical relationships.</i>
			</span>
		</legend>
	</div>
	<div class="col-sm-6 col-lg-4">
		<div class="mys-radio-group mys-radio-group--cols-3">
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="aid"
				       value="no">
				<span class="mys-radio__box">No</span>
			</label>
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="aid"
				       value="yes-a-little">
				<span class="mys-radio__box">Yes, a little</span>
			</label>
			<label class="mys-radio">
				<input class="mys-radio__control"
				       type="radio"
				       name="aid"
				       value="yes-a-lot">
				<span class="mys-radio__box">Yes, a lot</span>
			</label>
		</div>
	</div>
</div>