<div class="row margin-below">
  <div class="col-sm-12">
    <h3 class="margin-below--none">Tell us more</h3>
  </div>
</div>
<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Does it take longer for you to complete your domestic activities?
      <span class="hint display-block ">
        <i>Such as cleaning, cooking or gardening.</i>
      </span>
    </legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>
<div class="row margin-below">
  <div class="col-sm-6 col-lg-5">
    <legend class="legend-label legend-label--light">Do you need help with domestic activities?
      <span class="hint display-block">
        <i>Such as assistance from a carer or home maintenance services.</i>
      </span>
    </legend>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="pi-questions " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="pi-questions " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="pi-questions " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>

  </div>
</div>


<div class="row margin-below--extra ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Have you had to stop performing any domestic activities?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="home " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="home " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="home " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>