<p>This means we will give you a Lifestyle Rating based on your medical reports already provided for your accepted conditions.
</p>
<div class="uikit-page-alerts uikit-page-alerts--info">
  <p>A Lifestyle Rating is an average score assessing how your lifestyle has been affected by your conditions. It helps us determine your level of impairment and your compensation.
  </p>
</div>