<tr class="display-none pt-proofOfRelationship accordion accordion--open table-responsive--always-stacked">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of relationship</b>
    </span>
    <span class=" accordion-title__details">For example, birth certificate, adoption order</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->

          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>

  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>



<tr class="display-none pt-proofOfRelationshipClaimantStudent accordion accordion--open table-responsive--always-stacked">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b>
        Proof of your relationship to
        <span class="studentNameFirst"></span>
      </b>
    </span>
    <span class=" accordion-title__details">For example, birth certificate, adoption order</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->

          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>

  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>


<tr class="display-none pt-proofOfRelationshipVeteranStudent accordion accordion--open table-responsive--always-stacked">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of
        <span class="studentNameFirstApostrophed"></span> relationship to the veteran
      </b>
    </span>
    <span class=" accordion-title__details">For example, birth certificate, adoption order</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->

          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>

  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>

<tr class="display-none pt-proofOfResidence accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of
        <span class="studentNameFirstApostrophed"></span> residence</b>
    </span>
    <span class=" accordion-title__details">For example, rental agreement, utility bill, institution letter</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>

<tr class="display-none pt-proofOfEnrolment accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of
        <span class="studentNameFirstApostrophed"></span> enrolment</b>
    </span>
    <span class=" accordion-title__details">For example, school report, Institution letter</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>





<tr class="display-none pt-partTimeStudyReason accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of
        <span class="studentNameFirstApostrophed"></span> part-time study </b>
    </span>
    <span class=" accordion-title__details">For example, school report, Institution letter</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>