<!-- <tr class="accordion accordion--closed">
  <td class="file-status file-status--uploaded">
    <span class="sr">
      Success
    </span>
  </td>
  <td>
    <span>
      <b> Proof of residence </b>
    </span>
    <span class=" accordion-title__details">For example, school report, Institution letter</span>
  </td>

  <td class="right">

    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">My-document-111-AAA-alskdjflaksjdflkajsdf.png</a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small uikit-btn--tertiary">Remove</button>
        </span>
      </label>
    </div>


  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--closed">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr> -->



<tr class="display-none pt-proofOfRelationship accordion accordion--open table-responsive--always-stacked">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of relationship</b>
    </span>
    <span class=" accordion-title__details">For example, birth certificate, adoption order</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->

          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>

  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>


<tr class="display-none pt-proofOfEnrolment accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of enrolment</b>
    </span>
    <span class=" accordion-title__details">For example, school report, Institution letter</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>


<tr class="display-none pt-proofOfResidence accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of residence</b>
    </span>
    <span class=" accordion-title__details">For example, rental agreement, utility bill, institution letter</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>


<tr class="display-none pt-partTimeStudyReason accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Part-time study reason</b>
    </span>
    <span class=" accordion-title__details">For example, school report, Institution letter</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>




<tr class="display-none pt-tFNDeclaraion accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Tax file number declaration</b>
    </span>
    <span class=" accordion-title__details">A tax file declaration from ATO</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input">
      <label class="file-upload__label">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <button href="#" class="uikit-btn small">Upload</button>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>