<div class="grids col-sm-5 side-pannel pt-showIfDocumentUploadShoppingCart">
  <h2 class="heading-highlight">Document uploads</h2>
  <div>
    Please upload the documents below. Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.
  </div>
  <table class="table-responsive table-responsive--no-border table-responsive--always-stacked">

    <tr class="display-none pt-proofOfRelationship">
      <td class="file-status file-status--required">
        <span>
          <b>Required</b>
        </span>
      </td>
      <td>
        <span>
          <b> Proof of relationship</b>
        </span>
        <span class="display-block">For example, birth certificate, adoption order</span>
      </td>

      <td class="right">
        <div class="file-upload">
          <input type="file" id="file-1" class="file-upload__input" />
          <label class="file-upload__label" for="file-1">
            <span class="file-upload__file-name"></span>
            <span class="uikit-btn small">
              Upload</span>
          </label>
        </div>
      </td>
    </tr>

    <tr class="display-none pt-proofOfResidence">
      <td class="file-status file-status--required">
        <span>Required</span>
      </td>
      <td>
        <span>
          <b>Proof of residence </b>
        </span>
        <span class="display-block">For example, rental agreement, utility bill, institution letter</span>
      </td>


      <td class="right">
        <div class="file-upload">
          <input type="file" id="file-2" class="file-upload__input" />
          <label class="file-upload__label" for="file-2">
            <span class="file-upload__file-name"></span>
            <span class="uikit-btn small">
              Upload</span>
          </label>
        </div>
      </td>
    </tr>



    <tr class="display-none pt-proofOfEnrolment">
      <td class="file-status file-status--required">

        <span> Required</span>
      </td>
      <td>
        <span>
          <b> Proof of enrolment</b>
        </span>
        <span class="display-block">For example, school report, Institution letter</span>
      </td>

      <td class="right">
        <div class="file-upload">
          <input type="file" id="file-3" class="file-upload__input" />
          <label class="file-upload__label" for="file-3">
            <span class="file-upload__file-name"></span>
            <span class="uikit-btn small">
              Upload</span>
          </label>
        </div>
      </td>
    </tr>

    <tr class="display-none pt-partTimeStudyReason">
      <td class="file-status file-status--required">

        <span> Required</span>
      </td>
      <td>
        <span>
          <b>Part-time study reason</b>
        </span>
        <span class="display-block">For example, school report, Institution letter</span>

      </td>

      <td class="right">
        <div class="file-upload">
          <input type="file" id="file-4" class="file-upload__input" />
          <label class="file-upload__label" for="file-4">
            <span class="file-upload__file-name"></span>
            <span class="uikit-btn small">
              Upload</span>
          </label>
        </div>
      </td>
    </tr>

    <tr class="display-none pt-tFNDeclaraion">
      <td class="file-status file-status--required">

        <span> Required</span>
      </td>
      <td>

        <span>
          <b>Tax file number declaration</b>
        </span>
        <span class="display-block">For example, medical certificate, court order</span>
      </td>

      <td class="right">
        <div class="file-upload">
          <input type="file" id="file-5" class="file-upload__input" />
          <label class="file-upload__label" for="file-5">
            <span class="file-upload__file-name"></span>
            <span class="uikit-btn small">
              Upload</span>
          </label>
        </div>
      </td>
    </tr>




  </table>


</div> -->