<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-authenticated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="container" id="main-content">
        <div class="row margin-above margin-below--extra">
          <div class="col-sm-3">
            <% include ../../../partials/profile-side-nav.ejs %>
          </div>

          <div class="col-sm-9">
            <h1 class="margin-above--none">Service history</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis congue tincidunt. Etiam luctus est non rhoncus ornare. Donec lobortis porttitor libero vitae
              faucibus. Cras vestibulum mi sed vestibulum ullamcorper. Proin at leo est. </p>
            <div class="mys-datalist" role="list">
              <div class="mys-datalist__item" role="listitem">
                <div class="mys-datalist__title">Service ID</div>
                <div class="mys-datalist__value">20122550</div>
                <div class="mys-datalist__action">
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Change</button>
                </div>
              </div>
              <div class="mys-datalist__item" role="listitem">
                <div class="mys-datalist__title">Enlistment date</div>
                <div class="mys-datalist__value">13 / 10 / 2006</div>
                <div class="mys-datalist__action">
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Change</button>
                </div>
              </div>
              <div class="mys-datalist__item" role="listitem">
                <div class="mys-datalist__title">Highest rank acheived</div>
                <div class="mys-datalist__value">Wing Commander</div>
                <div class="mys-datalist__action">
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Change</button>
                </div>
              </div>
            </div>
            <!-- 1st service period -->
            <div id="sp-1">
              <div id="sp-1-summary" class="plain-text-info">
                <div class="row">
                  <div class="review__content--label col-sm-10">
                    <h2>Navy</h2>
                    <p class="margin-below--none">Permanent</p>
                    <p class="margin-below--none margin-above--mid">12/11/1998 &mdash; 14/01/2015</p>
                  </div>
                  <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit"
                      style="background-color: transparent; border-color: #ffffff; color: #ffffff">&nbsp;Edit &nbsp;</button>
                  </div>
                </div>
              </div>
              <div id="timeline-1" class="timeline-1a" style="display: none;"></div>
              <!-- 1st operation -->
              <div id="add-more">
                <div id="op-1" class="op-1">
                  <div id="op-1-summary" class="plain-text-info" style="border-color: #1057a7;">
                    <div class="row">
                      <div class="review__content--label col-sm-10">
                        <h2>Operation Slipper</h2>
                        <p class="margin-below--none margin-above--none">13/12/2006 &mdash; 07/01/2007</p>
                      </div>
                      <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit">&nbsp;Edit&nbsp;</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="uikit-btn uikit-btn--tertiary margin-above" id="add-operation-period-btn" style="margin: 19px 0 0 33px; padding-left: 12px; padding-right: 15px;">
                  <icon class="fal fa-plus-circle" style="font-size: 1.2em; vertical-align: -10%; color: #1057a7;"></icon>&nbsp;Add operation / warlike service
                </button>
              </div>
              <div id="sp-2" class="margin-above--extra">
                <div id="sp-2-summary" class="plain-text-info" style="border-color: #1057a7;">
                  <div class="row">
                    <div class="review__content--label col-sm-10">
                      <h2>Army</h2>
                      <p class="margin-below--none">Permanent</p>
                      <p class="margin-below--none margin-above--mid">12/11/2006 &mdash; 14/01/2015</p>
                    </div>
                    <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit"
                        style="background-color: transparent; border-color: #ffffff; color: #ffffff">&nbsp;Edit &nbsp;</button>
                    </div>
                  </div>
                </div>
                <!-- <div id="timeline-sp-2" class="timeline-1a"></div> -->
                <button class="uikit-btn uikit-btn--tertiary margin-above" id="add-operation-period-btn-2" style="margin: 19px 0 0 33px; padding-left: 12px; padding-right: 15px;">
                  <icon class="fal fa-plus-circle" style="font-size: 1.2em; vertical-align: -10%; color: #1057a7;"></icon>&nbsp;Add operation / warlike service
                </button>
              </div>
            </div> <!-- End of 1st service period and operations-->
            <!-- 2nd service period -->
            <div id="sp-2" class="margin-above--extra">
              <div id="sp-2-summary" class="plain-text-info" style="border-color: #1057a7;">
                <div class="row">
                  <div class="review__content--label col-sm-10">
                    <h2>Army</h2>
                    <p class="margin-below--none">Permanent</p>
                    <p class="margin-below--none margin-above--mid">12/11/2006 &mdash; 14/01/2015</p>
                  </div>
                  <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" id="home-contents-1-summary-edit"
                      style="background-color: transparent; border-color: #ffffff; color: #ffffff">&nbsp;Edit &nbsp;</button>
                  </div>
                </div>
              </div>
              <!-- <div id="timeline-sp-2" class="timeline-1a"></div> -->
              <button class="uikit-btn uikit-btn--tertiary margin-above" id="add-operation-period-btn-2" style="margin: 19px 0 0 33px; padding-left: 12px; padding-right: 15px;">
                <icon class="fal fa-plus-circle" style="font-size: 1.2em; vertical-align: -10%; color: #1057a7;"></icon>&nbsp;Add operation / warlike service
              </button>
            </div>
            <!-- Adding operation card -->
            <div id="operation-card" class="boxed margin-above margin-below--large">
              <h2 class="margin-above--none">
                <icon class="fal fa-map-marker-alt" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;<span class="font-weight-heavy">Operation</span>
              </h2>
              <div id="card-details" class="margin-below--large">
                <div id="sp-c1-gift-b">
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="drop-down">Operation name
                      <br />
                      <span class="hint display-block">Select an item from the list.</span>
                    </label>
                    <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                      <option>-- Select an operation --</option>
                      <option>Vietnam</option>
                      <option>Submarine special operations</option>
                      <option>Eastern/middle/southern africa</option>
                      <option>Western asia/persian gulf</option>
                      <option>Iraq/kuwait</option>
                      <option>Operations jural, provide comfort, bolton, southern watch, northern watch</option>
                      <option>Cambodia/laos/thailand</option>
                      <option>Yugoslavia</option>
                      <option>Operation solace</option>
                      <option>Operation damask vi</option>
                      <option>Operation tamar</option>
                      <option>Operations faber/stabilise/warden/tanager/citadel</option>
                      <option>Operation husky</option>
                      <option>Operation slipper</option>
                      <option>Operation falconer</option>
                      <option>Operation palate</option>
                      <option>Operation catalyst</option>
                      <option>Operation palate ii</option>
                      <option>Operation paladin</option>
                      <option>Operations riverbank/kruger</option>
                      <option>Libya</option>
                    </select>
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="date">Start date
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="date">End date
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                </div>
                <hr>
                <div id="buttonset2" class="form-group margin-above--none">
                  <button class="uikit-btn" id="operation-history-add">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
                    id="home-contents-1-start-cancel">&nbsp;&nbsp;&nbsp;
                    Cancel &nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>
            </div>
            <!-- Adding new service period card -->
            <div id="service-period-card" class="boxed margin-above margin-below--large" style="display: none">
              <h2 class="margin-above--none">
                <icon class="fal fa-calendar-star" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Service period</span>
              </h2>
              <div id="card-details" class="margin-below--large">
                <div id="sp-c1-gift-b">
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="Input field">Service number</label>
                    <input class="uikit-text-input input-half" name="service_number" id="service_number" type="text" value="123 456 789 K" required aria-required="true">
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="radio-buttons">Type of service</label>
                    <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                      <option>-- Select a type --</option>
                      <option>Permanent</option>
                      <option>Reservist</option>
                    </select>
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="date">Date of enlistment
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="date">Date of discharge
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="radio-buttons">Branch of service</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Navy</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Army</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Airforce</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="radio-ex">
                        <span class="uikit-control-input__text">Allied or Commonwealth forces</span>
                      </label>
                    </p>
                  </div>
                </div>
                <hr>
                <div id="add-service-period" class="form-group margin-above--none">
                  <button class="uikit-btn" id="service-period-add-btn">&nbsp;&nbsp;&nbsp; Add &nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
                    id="service-period-cancel-btn">&nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>
            </div>
            <BR /><BR /><BR /><BR /><BR /><BR /><BR /><BR />
            <hr class="margin-below--none margin-above--extra" style="border-color:#1057a7;">
            <icon class="fal fa-plus-circle" style="font-size: 1.3em; vertical-align: -10%; color: #1057a7;"></icon>
            <a id="add-service-period-btn">Add another period of service</a>
            <!-- <p>For example re-enlisting in a different branch or as a reservist.</p> -->
          </div>
        </div>
      </div>
  </main>
  <% include ../../../partials/footer.ejs %>

</body>
<script>
  $(document).ready(function () {
    $("#operation-card").hide();
    $("#op-1").hide();
    $("#sp-2").hide();
    $("#service-period-card").hide();
    //show operation card 
    $('#add-operation-period-btn').click(function () {
      $("#operation-card").show("fast");
      $("#add-service-period-btn").hide();
      $("#sp-1").hide();
      $('html, body').animate({
        scrollTop: $("#main-content").offset().top
      }, 1000);
    });

    var firstSummaryAdded = false;
    $('#operation-history-add').click(function () {
      $("#operation-card").hide();
      $("#add-service-period-btn").show("fast");
      $("#sp-1").show("fast");
      $("#op-1").show("fast");
      $("#timeline-1").show();
      $('html, body').animate({
        scrollTop: $("#main-content").offset().top
      }, 1000);
      if (firstSummaryAdded) {
        $('<div class="timeline-1a"></div>').clone().appendTo('#op-1');
        cloneOpHistory();
        // $("#add-service-period-btn-2").show("fast");
      }
      firstSummaryAdded = true;
    });

    function cloneOpHistory() {
      $('#op-1-summary').clone().appendTo('#op-1');
      // $('<div class="timeline-1a"></div>').clone().appendTo('#op-1');
    }

    // 2nd service period

    $('#add-service-period-btn').click(function () {
      $("#service-period-card").show("fast");
      $("#sp-1").hide();
      $("#sp-2").hide();
      // $("#add-service-period-btn").hide();
      $('html, body').animate({
        scrollTop: $("#main-content").offset().top
      }, 1000);
    });

    $('#service-period-add-btn').click(function () {
      console.log("mkmmkmk")
      $("#sp-1").show("fast");
      $("#sp-2").show("fast");
      // $("#add-service-period-btn").hide();
      $("#service-period-card").hide();
      // var operations = $("#operational-yes").is(":checked");
      // if (operations) {
      $("#add-operation-period-btn-2").show();
      // } else {
      // $("#add-operation-period-btn-2").hide();
      // $("#timeline-sp-2").hide();
      // }
    });

    // $('#service-period-cancel-btn').click(function() {
    //     $("#sp-1").show("fast");
    //     // $("#sp-2").show("fast");
    //     $("#add-service-period-btn").hide();
    //     $("#service-period-card").hide();
    // });

    // 1st period op button

    // var showOperationsButton = getParameterByName('operations');
    // if (showOperationsButton == "true") {
    // $("#add-operation-period-btn").show();
    // $("#timeline-1").show();
    // }

    // function getParameterByName(name, url) {
    //     if (!url) url = window.location.href;
    //     name = name.replace(/[\[\]]/g, '\\$&');
    //     var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
    //         results = regex.exec(url);
    //     if (!results) return null;
    //     if (!results[2]) return '';
    //     return decodeURIComponent(results[2].replace(/\+/g, ' '));
    // }

  });
</script>

</html>