<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>My profile | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-password-updated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="container" id="main-content">
        <% include ../../../partials/breadcrumb-profile.ejs %>
        <h1>Update profile</h1>
        <hr />
        <fieldset>
          <legend>Personal</legend>
          <div class="form-group title">
            <% include ../../../partials/global-select-list-title.ejs %>

          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="highest-rank">Highest rank achieved</label>
            <select class="uikit-text-input input-half" name="highest-rank" id="highest-rank" type="text" value="">
              <option>-- Select rank --</option>
              <option selected>Wing Commander</option>
              <option>...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="name">Name</label>
            <p><span class="pt-current-user-name-full"></span></p>
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="dob">Date of birth</label>
            <p>01 / 09 / 1970</p>
          </div>
          <div class="form-group title">
            <label class="uikit-text-input__label" for="relationship">Relationship status</label>
            <select class="uikit-text-input input-half" name="relationship" id="relationship" type="text" value="">
              <option>-- Select statua --</option>
              <option selected>Married</option>
              <option>...</option>
              <option>...</option>
            </select>
          </div>
        </fieldset>
        <hr />
        <fieldset>
          <legend>Account</legend>
          <div class="form-group">
            <label class="uikit-text-input__label" for="email">Email address</label>
            <p>rjohnson70@gmail.com</p>
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="mobile">PMKeys number</span>
            </label>
            <p>900100ZZ</p>
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="password">Password</label>
            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '/change-password'">Change password</button>
          </div>
        </fieldset>
        <hr />
        <fieldset>
          <legend>Contact</legend>
          <div class="form-group">
            <label class="uikit-text-input__label" for="mobile">Phone number</label>
            <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="0402 111 222">
          </div>
          <h2>Postal address</h2>
          <div class="form-group">
            <label class="uikit-text-input__label" for="street">Unit / street</label>
            <input class="uikit-text-input" name="street" id="street" type="text" value="10 Paradise Rd">
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="suburb">Suburb</label>
            <input class="uikit-text-input" name="suburb" id="suburb" type="text" value="South Mugga">
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="postcode">Postcode</label>
            <input class="uikit-text-input input-small" name="postcode" id="postcode" type="text" maxlength="4" value="2540">
          </div>
          <div class="form-group title">
            <label class="uikit-text-input__label" for="state">State / territory</label>
            <select class="uikit-text-input input-half" name="state" id="state" type="text" value="">
              <option>-- Select state or territory --</option>
              <option selected>New South Wales</option>
              <option>...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="country">Country</label>
            <input class="uikit-text-input input-half" name="country" id="country" type="text" value="Australia">
          </div>
          <h2>Residential address</h2>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="sameAddress" checked>
              <span class="uikit-control-input__text"> Same as postal address</span>
            </label>
          </p>
        </fieldset>
        <hr />
        <fieldset>
          <legend>Service summary</legend>
          <div class="form-group">
            <label class="uikit-text-input__label" for="enlistment">Enlistment date</span>
            </label>
            <p>20 / 06 / 1995</p>
          </div>
          <table>
            <legend>Service history</legend>
            <thead>
              <tr>
                <th>Branch of service</th>
                <th>Start date</th>
                <th>End date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>RAAF</td>
                <td>01 / 10 / 2001</td>
                <td>Currently in service</td>
              </tr>
              <tr>
                <td>RAN</td>
                <td>20 / 06 / 1995</td>
                <td>01 / 10 / 2001</td>
              </tr>
            </tbody>
            </tr>
          </table>

        </fieldset>
        <div class="pagination">
          <button class="uikit-btn" onclick="window.location.href = '/profile-updated'">Save profile</button>
          <a href="/">Cancel</a>
        </div>
      </div>
    </section>
  </main>


  <% include ../../../partials/footer.ejs %>

</body>

</html>