<h2>
  <span class="font-weight-heavy">How to use your card</span>
</h2>

<div class="col-sm-4 healthcard-steps">
  <div>
    <img src="/docs/images/healthcard-step1.png" alt="How to use your Health card step 1">
  </div>
  <p class="description">You can use <a href="https://www.healthdirect.gov.au/" rel="external">HealthDirect</a> to find health services in your area.</p>
  <p>Before booking your appointment, check that your selected provider accepts the Veteran Card.</p>
</div>
<div class="col-sm-4 healthcard-steps">
  <div>
    <img src="/docs/images/healthcard-step2.png" alt="How to use your Health card step 2">
  </div>
  <p class="description">Show your card when you receive medical treatment for your condition.</p>
  <p>You can also use
    <a href="/docs/images/healthcard-example-letter.png" target="_blank" rel="external">the letter</a> you received from us if your card has not arrived yet.</p>
</div>
<div class="col-sm-4 healthcard-steps">
  <div>
    <img src="/docs/images/healthcard-step3.png" alt="How to use your Health card step 3">
  </div>
  <p class="description">You don’t have to pay for treatment if it relates to any of your conditions listed on your card.</p>
</div>


<div class="col-xs-12">
  <div class="uikit-page-alerts uikit-page-alerts--info ss-align--center margin-above--extra">
    <p class="ss-align">If you are billed by your health care provider,
      <b>do not</b> pay the account and tell DVA immediately on 133 254 (or 1800 555 254 in regional areas). If you've already
      paid for treatment you can
      <a href="https://www.dva.gov.au/dvaforms/Documents/D1181.pdf" rel="external" target="_blank">make an application for reimbursement</a>.</p>
  </div>
</div>