<div style="background: #eeeeee; padding:15px;">
	<table>
		<tr>
		<td width="50">
			<p style="margin: 0;font-size: 12px;line-height: 18px"><span style="font-size: 14px; line-height: 21px;">Email:</span></p>
		</td>
		<td>
			<p style="margin: 0;font-size: 12px;line-height: 18px"><span style="font-size: 14px; line-height: 21px;">myservicesupport@dva.gov.au <br><i>We will endeavour to reply your email within one working day.</i></span></p>
		</td>
		</tr>
		<tr>
		<td width="50">
			<p style="margin: 0;font-size: 12px;line-height: 18px"><span style="font-size: 14px; line-height: 21px;">Phone:</span></p>
		</td>
		<td>
			<p style="margin: 0;font-size: 12px;line-height: 18px"><span style="font-size: 14px; line-height: 21px;">(02) 6289 4724 — Monday to Friday, 9am to 5pm AEST.</span></p>
		</td>
		</tr>
	</table>
</div>