<div class="id-types id-birth" style="display: none">

  <!-- <div class="uikit-page-alerts" role="alert">
    <p> Your birth certificate must match the name provided during registration.
    </p>
  </div> -->

  <div class="form-group">
    <legend>Australian birth certificate</legend>
    <div class="uikit-page-alerts uikit-page-alerts--info margin-above--15" role="alert">
      <p class="uikit-display-1"> Your birth certificate must match the name provided during registration.</p> For help finding and entering your details refer to <a
        href="https://www.humanservices.gov.au/organisations/health-professionals/services/medicare/proda/register/change-name/verify-your-identity-your-birth-certificate"
        rel="external" target="_blank">this guide</a> on the Department of Human Services website.</p>
    </div>
    <label class="uikit-text-input__label" for="birthState">Which state or territory were you born in?</label>
    <select class="uikit-text-input input-half" id="birthState" name="birthState" required aria-required="true">
      <option value=0 selected>-- Select state or territory --</option>
      <option value="act">Australian Capital Territory</option>
      <option value="nsw">New South Wales</option>
      <option value="nt">Northern Territory</option>
      <option value="qld">Queensland</option>
      <option value="sa">South Australia</option>
      <option value="tas">Tasmania</option>
      <option value="vic">Victoria</option>
      <option value="wa">Western Australia</option>
    </select>
  </div>


  <div class="uikit-page-alerts birthFields" id="birth-coverage-ACT" role="alert" style="display: none;">
    <p>If your birth certificate was issued
      <strong>before 1 May 2002</strong>, MyService cannot verify it. Please select another form of identification.</p>
  </div>
  <div class="uikit-page-alerts birthFields" id="birth-coverage-NT" role="alert" style="display: none;">
    <p>If your birth certificate was issued
      <strong>before 12 July 1999</strong>, MyService cannot verify your marriage certificate. Please select another form of identification.</p>
  </div>
  <div class="uikit-page-alerts birthFields" id="birth-coverage-QLD" role="alert" style="display: none;">
    <p>If your birth was registered
      <strong>before 2 July 1996</strong>, MyService cannot verify your marriage certificate. Please select another form of identification.</p>
  </div>
  <div class="uikit-page-alerts birthFields" id="birth-coverage-SA" role="alert" style="display: none;">
    <p>If your birth certificate was issued
      <strong>before 1 November 1999</strong>, MyService cannot verify it. Please select another form of identification.</p>
  </div>
  <div class="uikit-page-alerts birthFields" id="birth-coverage-TAS" role="alert" style="display: none;">
    <p>If your birth was registered
      <strong>before 1 November 1999</strong>, MyService cannot verify your marriage certificate. Please select another form of identification.</p>
  </div>

  <fieldset>

    <div class="form-group birthFields" id="birthRegoNumber" style="display: none;">
      <label class="uikit-text-input__label" for="birth-registration">Registration number</label>
      <input class="uikit-text-input input-half" name="birth-registration" id="birth-registration" type="text" value="">
    </div>

    <div class="form-group birthFields" id="birthRegoYear" style="display: none;">
      <label class="uikit-text-input__label" for="birth-rego-yyyy">Year of registration
        <span class="hint">(YYYY)</span>
      </label>
      <input class="uikit-text-input yyyy birth-rego-yyyy" type="text" name="birth-rego-yyyy" id="birth-rego-yyyy" maxlength="4" required aria-required="true"
        aria-label="4 digit year">
    </div>

    <div class="form-group birthFields" id="birthRegoDate" style="display: none;">
      <label class="uikit-text-input__label birthRegoDate-TAS" for="birth-registration-dd">Date of registration
        <span class="hint">(DD / MM / YYYY)</span>
        <span id="birthRegoDate-error-TAS" class="input-error-message" aria-live="polite" style="display: none;">
          If your marriage certificate was issued
          <strong>before 1 November 1999</strong>, MyService cannot verify it. Please select another form of identification.</span>
      </label>
      <label class="uikit-text-input__label birthRegoDate-QLD" for="birth-registration-dd">Registration date
        <span class="hint">(DD / MM / YYYY)</span>
        <span id="birthRegoDate-error-QLD" class="input-error-message" aria-live="polite" style="display: none;">
          If your marriage certificate was issued
          <strong>before 2 July 1996</strong>, MyService cannot verify it. Please select another form of identification.</span>
      </label>

      <input class="uikit-text-input dd birth-registration-dd" type="text" name="birth-registration-dd" id="birth-registration-dd" maxlength="2" required aria-required="true"
        aria-label="2 digit day"> /
      <input class="uikit-text-input mm birth-registration-mm" type="text" name="birth-registration-mm" id="birth-registration-mm" maxlength="2" required aria-required="true"
        aria-label="2 digit month"> /
      <input class="uikit-text-input yyyy birth-registration-yyyy" type="text" name="birth-registration-yyyy" id="birth-registration-yyyy" maxlength="4" required
        aria-required="true" aria-label="4 digit year">
    </div>

    <div class="form-group birthFields" id="birthCertNumber" style="display: none;">
      <label class="uikit-text-input__label" for="birth-certificate">Certificate number</label>
      <input class="uikit-text-input input-half" name="birth-certificate" id="birth-certificate" type="text" value="">
    </div>

    <div class="form-group birthFields" id="birthCertDate" style="display: none;">
      <label class="uikit-text-input__label" for="birth-certificate-dd">Certificate issue date
        <span class="hint">(DD / MM / YYYY)</span>
        <span id="birthCertDate-error-ACT" class="input-error-message" aria-live="polite" style="display: none;">
          If your marriage certificate was issued
          <strong>before 1 May 2002</strong>, MyService cannot verify it. Please select another form of identification.</span>
        <span id="birthCertDate-error-SA" class="input-error-message" aria-live="polite" style="display: none;">
          If your marriage certificate was issued
          <strong>before 1 November 1999</strong>, MyService cannot verify it. Please select another form of identification.</span>
        <span id="birthCertDate-error-NT" class="input-error-message" aria-live="polite" style="display: none;">
          If your marriage certificate was issued
          <strong>before 12 July 1999</strong>, MyService cannot verify it. Please select another form of identification.</span>
      </label>
      <input class="uikit-text-input dd birth-certificate-dd" type="text" name="birth-certificate-dd" id="birth-certificate-dd" maxlength="2" required aria-required="true"
        aria-label="2 digit day"> /
      <input class="uikit-text-input mm birth-certificate-mm" type="text" name="birth-certificate-mm" id="birth-certificate-mm" maxlength="2" required aria-required="true"
        aria-label="2 digit month"> /
      <input class="uikit-text-input yyyy birth-certificate-yyyy" type="text" name="birth-certificate-yyyy" id="birth-certificate-yyyy" maxlength="4" required aria-required="true"
        aria-label="4 digit year">
    </div>
  </fieldset>
</div>

<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
  // User will select a state or territory from the drop-down list and will only see the fields relevant to them.

  var birthState = jQuery('#birthState');
  var selectBirthState = this.value;
  birthState.change(function () {
    if ($(this).val() == 'act') {
      $('.birthFields').hide();
      $("#birth-coverage-ACT").show();
      $('#birthRegoNumber').show();
      $('#birthCertNumber').show();
      $('#birthCertDate').show();
      // Validation
      $(".birth-certificate-yyyy").change(function () {
        if ($(".birth-certificate-yyyy").val() <= 2002 && $(".birth-certificate-mm").val() <= 5 && $(".birth-certificate-dd").val() <= 1) {
          $("#birthCertDate").addClass("has-error");
          $('#birthCertDate-error-ACT').show();
        } else {
          $("#birthCertDate").removeClass("has-error");
          $('#birthCertDate-error-ACT').hide();
        }
      });
    }
    if ($(this).val() == 'nsw') {
      $('.birthFields').hide();
      $('#birthRegoNumber').show();
      $('#birthRegoYear').show();
    }
    if ($(this).val() == 'vic') {
      $('.birthFields').hide();
      $('#birthRegoNumber').show();
      $('#birthRegoYear').show();
    }
    if ($(this).val() == 'qld') {
      $('.birthFields').hide();
      $("#birth-coverage-QLD").show();
      $('#birthRegoNumber').show();
      $('#birthRegoDate').show();
      $(".birthRegoDate-QLD").show();
      $(".birthRegoDate-TAS").hide();
      // Validation
      $(".birth-registration-yyyy").change(function () {
        if ($(".birth-registration-yyyy").val() <= 1996 && $(".birth-registration-mm").val() <= 7 && $(".birth-registration-dd").val() <= 2) {
          $("#birthRegoDate").addClass("has-error");
          $('#birthRegoDate-error-QLD').show();
        } else {
          $("#birthRegoDate").removeClass("has-error");
          $('#birthRegoDate-error-QLD').hide();
        }
      });
    }
    if ($(this).val() == 'wa') {
      $('.birthFields').hide();
      $('#birthRegoNumber').show();
      $('#birthRegoYear').show();
    }
    if ($(this).val() == 'sa') {
      $('.birthFields').hide();
      $("#birth-coverage-SA").show();
      $('#birthRegoNumber').show();
      $('#birthCertNumber').show();
      $('#birthCertDate').show();
      // Validation
      $(".birth-certificate-yyyy").change(function () {
        if ($(".birth-certificate-yyyy").val() <= 1999 && $(".birth-certificate-mm").val() <= 11 && $(".birth-certificate-dd").val() <= 1) {
          $("#birthCertDate").addClass("has-error");
          $('#birthCertDate-error-SA').show();
        } else {
          $("#birthCertDate").removeClass("has-error");
          $('#birthCertDate-error-SA').hide();
        }
      });
    }
    if ($(this).val() == 'tas') {
      $('.birthFields').hide();
      $("#birth-coverage-TAS").show();
      $('#birthRegoNumber').show();
      $('#birthRegoYear').show();
      $('#birthRegoDate').show();
      $(".birthRegoDate-QLD").hide();
      $(".birthRegoDate-TAS").show();
      //Validation
      $(".birth-registration-yyyy").change(function () {
        if ($(".birth-registration-yyyy").val() <= 1999 && $(".birth-registration-mm").val() <= 11 && $(".birth-registration-dd").val() <= 1) {
          $("#birthRegoDate").addClass("has-error");
          $('#birthRegoDate-error-TAS').show();
        } else {
          $("#birthRegoDate").removeClass("has-error");
          $('#birthRegoDate-error-TAS').hide();
        }
      });
    }
    if ($(this).val() == 'nt') {
      $('.birthFields').hide();
      $("#birth-coverage-NT").show();
      $('#birthRegoNumber').show();
      $('#birthCertNumber').show();
      $('#birthCertDate').show();
      // Validation
      $(".birth-certificate-yyyy").change(function () {
        if ($(".birth-certificate-yyyy").val() <= 1999 && $(".birth-certificate-mm").val() <= 7 && $(".birth-certificate-dd").val() <= 12) {
          $("#birthCertDate").addClass("has-error");
          $('#birthCertDate-error-NT').show();
        } else {
          $("#birthCertDate").removeClass("has-error");
          $('#birthCertDate-error-NT').hide();
        }
      });
    }
  });

</script>


<script>
  $(document).ready(function () {
    // Client side field validation
    // Client validation masquerading as server side
    $(".btnNext").click(function () {
      if ($('#birth-date-yyyy').val()) {

        $("#error-empty-fields").toggle("fast");
        $('html, body').animate({
          scrollTop: $('#error-empty-fields').position().top
        }, 'fast');
        $(".heading-error").focus();
      }
      if ($('#birthCertDate-yyyy').val()) {

        $("#error-empty-fields").toggle("fast");
        $('html, body').animate({
          scrollTop: $('#error-empty-fields').position().top
        }, 'fast');
        $(".heading-error").focus();
      }
    });


  });

</script>
