<%- include(templates+"header", {
  claim: "Change of Circumstances",
  heading: "Income assets",
  modifiers: ["noHeading"]
}) %>

  <h1 style="display: inline-block; margin-top: 0;">Income assets</h1>
  <a href="/auth/profile/change-of-circ/coc-02" class="uikit-btn uikit-btn--tertiary floated">Review/Update</a>

  <h3>Last updated 20 Feb 2019</h3>

  <p>It's important to keep your declared income and assets up to date. The table below shows your currently declared items and how to update them.</p>

  <h2>Things that can be updated</h2>
  <ul>
    <li>Bank accounts</li>
    <li>Term deposits</li>
    <li>Bonds</li>
    <li>Loans</li>
    <li>Vehicles</li>
    <li>Home contents</li>
  </ul>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "/auth"
      },
      {
        text: "Next",
        modifiers: ["floated", "primary"],
        link: "/auth/profile/change-of-circ/coc-02"
      }
    ]
  }) %>

<%- include(templates+"footer") %>