<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Cover summary | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-version") %>
  <% include ../../header-authenticated%>

  <main>
    <section>
      <div class="container" id="main-content">
        <%- include(partials+"breadcrumb-coverdetail") %>
        <h1>Non-liability health care</h1>
        <h2>Your cover</h2>
        <p>Your request for cover has been approved.</p>


        <table class="cover-detail">
          <legend>Cover details</legend>
          <thead>
            <tr>
              <th>Condition</th>
              <td>mental health condition</td>
            </tr>
          </thead>
        </table>

        <div class="pagination">
          <button class="uikit-btn" onclick="window.location.href = '/auth'">Back to home</button>
          <button class="uikit-btn uikit-btn--tertiary">Print</button>
        </div>
      </div>
    </section>
  </main>


  <%- include(partials+"footer") %>

</body>

</html>
