<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Cover summary | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-version") %>
  <% include ../../header-authenticated%>

  <main>
    <section>
      <div class="container" id="main-content">
        <%- include(partials+"cover-breadcrumb-cover-detail") %>
        <h1>Lumbar spondylosis</h1>

        <h2>Your cover</h2>

        <p>You have submitted a request for cover. We will allocate your request to one of our delegate officers. Thank
          you for your patience.</p>

        <table class="cover-detail">
          <legend>Diagnosis</legend>
          <thead>
            <tr>
              <th>What have you been medically diagnosed with?</th>
              <td>lumbar spondylosis</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Approximately when did the injury or disease happen (date of onset)?</th>
              <td>12 / 12 / 2005</td>
            </tr>
            <tr>
              <th>What is the current status of your injury/condition?</th>
              <td>
                <ul>
                  <li>permanent</li>
                  <li>stable</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>What is the ongoing effect of your injury/condition?</th>
              <td>none</td>
            </tr>
            <tr>
              <th>Upload your GP or Specialist's medical report that includes your diagnosis (required) along with any
                supporting medical documentation.</th>
              <td>
                <a href="#">Test image (114 KB JPG)</a>
              </td>
            </tr>
          </tbody>
        </table>


        <table class="cover-detail">
          <legend>Statement and supporting documents</legend>
          <thead>
            <tr>
              <th>Which statement below best describes how your injury or disease happened?</th>
              <td>
                <ul>
                  <li>lifting loads of at least 25 kilograms while bearing weight through the lumbar spine to a cumulative
                    total of at least 120 000 kilograms within any ten year period before the clinical onset of lumbar
                    spondylosis</li>
                  <li>carrying loads of at least 25 kilograms while bearing weight through the lumbar spine to a cumulative
                    total of at least 3 800 hours within any ten year period before the clinical onset of lumbar spondylosis</li>
                </ul>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Based on this statement, how did your service cause or contribute to your injury or disease?</th>
              <td>hi this is my story</td>
            </tr>
          </tbody>
        </table>

        <table class="cover-detail">
          <caption>How have you been affected?</caption>
          <thead>
            <tr>
              <th>As a result of my injury/condition, I require..</th>
              <td>
                <ul>
                  <li>medical treatment.</li>
                  <li>transport to/from medical appointments.</li>
                  <li>modifications to my home or vehicle</li>
                  <li>something not listed above.</li>
                </ul>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>My injury/condition meant I was impacted financially by...</th>
              <td>
              </td>
            </tr>
            <tr>
              <th>I am interested in...</th>
              <td>
                <ul>
                  <li>getting a new job.</li>
                  <li>work experience.</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>My injury/condition has impacted my...</th>
              <td>
                <ul>
                  <li>ability to interact in social situations (Eg. interacting with friends and family).</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="pagination">
          <button class="uikit-btn" onclick="window.location.href = '/index-treatment'">Back to home</button>
          <button class="uikit-btn uikit-btn--tertiary">Print</button>
        </div>
      </div>
    </section>
  </main>


  <%- include(partials+"footer") %>

</body>

</html>
