<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Request approved | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
<% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <div class="container" id="main-content">
      <% include ../../partials/cover-progress-bar.ejs %>

      <h1 class="heading-icon">
        <img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon"> Approved for treatment</h1>

      <div class="timebox--wrapper">

        <img src="../../../docs/images/ico-id-blue.svg" alt="Card icon">
        <h3>We will send you a DVA health card (White Card). If you already have a card, you can use it now.</h3>
      </div>


      <div id="next-steps">
        <h3>Next steps</h3>
        <ul>
          <li>If you have a diagnosis and your condition relates to service, you can
            <a href="/auth/claim/cover-step2">apply for compensation</a>.</li>
          <li>Make sure
            <a href="/auth/profile">your postal address</a> is up-to-date.</li>
          <li>Find out how to
            <a target="blank" href="http://at-ease.dva.gov.au/veterans/take-action/professional-care/">access free treatment.</a>
          </li>
          <li>Talk to your GP about mental health.</LI>
        </ul>

        <h3>24hr support</h3>
        <div class="breakout support-box">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img src="/docs/images/logo-vvcs.png" alt="VCCS - logo">
              <br>
              <strong>1800&nbsp;011&nbsp;046</strong>
              <br>
              <a href="http://www.vvcs.gov.au/">Open Arms – Veterans and Families Counselling</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img src="/docs/images/logo-defence.png" alt="Defence - logo">
              <br>
              <strong>1800&nbsp;628&nbsp;036</strong>
              <br>
              <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">ADF Mental Health All Hours Support Line</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img src="/docs/images/logo-lifeline.png" alt="Lifeline - logo">
              <br>
              <strong>13&nbsp;11&nbsp;14</strong>
              <br>
              <a href="https://www.lifeline.org.au/">Lifeline</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img src="/docs/images/logo-1800respect.png" alt="1800RESPECT phone number - logo">
              <br>
              <strong>1800&nbsp;737&nbsp;732</strong>
              <br>
              <a href="https://www.1800respect.org.au">National Sexual Assault, Domestic and Family Violence Counselling Service</a>
            </div>
          </div>
        </div>

        <h3>More information</h3>
        <ul>
          <li>
            <a href="https://www.dva.gov.au/factsheet-hsv109-non-liability-health-care">Non-liability health care</a>
          </li>
          <li>
            <a href="https://www.dva.gov.au/factsheet-hsv99-mental-health-support">Mental health support</a>
          </li>
          <li>
            <a href="https://www.dva.gov.au/factsheet-hsv61-dva-health-card-specific-conditions-white">DVA health card</a>
          </li>
        </ul>
      </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-step1'" title="Go to the Add claim page">Add another condition</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile'" title="Go to the My Profile page">Update profile</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-treatment'" title="Go to the MyService home page">Back to home</button>
      </div>
    </div>
  </main>

  <% include ../../../partials/footer.ejs %>


  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script>
    document.getElementById("percentage").style.width = "100%";
    document.getElementById("percentage_value").textContent = "100%";
  </script>
</body>

</html>