<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <title>Mark, thanks for participating in our pilot.</title>
  <%- include(partials+"content/em-style") %>
</head>

<body class="clean-body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #ffffff">
  <%- include(partials+"content/em-header") %>
  <%- include(partials+"content/em-body-mental-health") %>
  <%- include(partials+"content/em-footer-auth") %>
</body>

</html>