<!DOCTYPE html>
<html class="js" lang="en">
<head>
<!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
<title>[First name], your MyService registration was unsuccessful</title>
<%- include(partials+"em-style") %>
</head>

<body class="clean-body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #ffffff">
<%- include(partials+"em-header") %>
<%- include(partials+"em-body-rego-fail1") %>
<%- include(partials+"em-footer-unauth") %>
</body>
</html>