<div class="form-group">
  <label class="uikit-text-input__label" for="residentialAddressCountry">Country</label>
  <select class="uikit-text-input input-half residentialCountry" name="residentialAddressCountry">
    <option value="Australia" selected>Australia</option>
    <option value="NZ">New Zealand</option>
  </select>
</div>

<div class="addressAustralia">
  <div class="form-group">
    <div class="field">
      <label class="uikit-text-input__label" for="residentialAddressPrefix">
        Building name or address prefix
        <span class="hint">(optional)
        </span>
      </label>
      <input type="text" id="residentialAddressPrefix" name="residentialAddressPrefix" class="uikit-text-input" aria-required="false" maxlength="38" value="">
    </div>
  </div>
  <div class="form-group">
    <label class="uikit-text-input__label" for="residentialAddressLine1">Address line 1</label>
    <input class="uikit-text-input" id="residentialAddressLine1" name="residentialAddressLine1" type="text" value="">
  </div>
  <div class="form-group">
    <label class="uikit-text-input__label" for="residentialAddressLine2">Address line 2
      <span class="hint">(optional)</span>
    </label>
    <input class="uikit-text-input" id="residentialAddressLine2" name="residentialAddressLine2" type="text" value="">
  </div>
  <div class="form-group">
    <label class="uikit-text-input__label" for="residentialAddressTown">Suburb or town</label>
    <input class="uikit-text-input " id="residentialAddressTown" name="residentialAddressTown" type="text" value="">
  </div>
  <div class="form-group">
    <label class="uikit-text-input__label" for="residentialAddressPostcode">Postcode</label>
    <input class="uikit-text-input input-small yyyy" id="residentialAddressPostcode" maxlength="4" name="residentialAddressPostcode" type="text" value="">
  </div>

  <div class="form-group addressInAusRes">
    <label class="uikit-text-input__label" for="residentialAddressState">State or territory</label>
    <select class="uikit-text-input input-half" id="residentialAddressState" name="residentialAddressState">
      <option> -- Select state or territory -- </option>
      <option> Australian Capital Territory </option>
      <option> New South Wales </option>
      <option> Northern Territory </option>
      <option> Queensland </option>
      <option> South Australia </option>
      <option> Tasmania </option>
      <option> Victoria </option>
      <option> Western Australia </option>
    </select>
    </select>
  </div>
</div>
<script>
  $(".countryPostal").change(function () {
    if ($('.countryPostal :selected').val() == "Australia") {
      $(".addressInAusPostal").show();
    } else {
      $(".addressInAusPostal").hide();
    }
  });

  $(".residentialCountry").change(function () {
    if ($('.residentialCountry :selected').val() == "Australia") {
      $(".addressInAusRes").show();
    } else {
      $(".addressInAusRes").hide();
    }
  });

  $(".pt-showIfAdditionalAddress").hide();

  $('input[name=sameAsPostal]').change(function () {
    if ($(this).is(':checked')) {
      $(".pt-showIfAdditionalAddress").hide();
    } else {
      $(".pt-showIfAdditionalAddress").show();
    }
  });

</script>
