<div class="row margin-below--none">
  <div class="col-sm-6 col-lg-5">
    <legend class="legend-label legend-label--light">Has the way you work been affected?
      <span class="hint display-block">
        <i>For example, changes to your surroundings or equipment.</i>
      </span>
    </legend>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>
<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Have your duties or responsibilities changed?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="pi-questions " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="pi-questions " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="pi-questions " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>

  </div>
</div>

<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Have your work hours reduced or changed?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>
<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Have you had to change jobs?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes</span>
      </label>
    </div>
  </div>
</div>

<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Have you had a reduction in pay?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes</span>
      </label>
    </div>
  </div>
</div>

<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Are you concerned you may lose your job?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes</span>
      </label>
    </div>
  </div>
</div>

<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Are your promotional opportunities restricted?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes</span>
      </label>
    </div>
  </div>
</div>

<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Do you believe you can be more effective in your job if you had additional support/training to better manage your conditions?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes</span>
      </label>
    </div>
  </div>
</div>