<div class="row margin-below">
  <fieldset>
    <div class="col-sm-6 col-lg-5">
      <legend class="legend-label legend-label--light">Is your social life affected?</legend>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="mys-radio-group mys-radio-group--cols-3">
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="home" value="no">
          <span class="mys-radio__box">No</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="home" value="yes-a-little">
          <span class="mys-radio__box">Yes, a little</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="home" value="yes-a-lot">
          <span class="mys-radio__box">Yes, a lot</span>
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div class="row margin-below">
  <fieldset>
    <div class="col-sm-6 col-lg-5">
      <legend class="legend-label legend-label--light">Are your daily interactions with people affected?
        <span class="hint display-block">
          <i>For example, shop assistants, neighbours or work colleagues.</i>
        </span>
      </legend>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="mys-radio-group mys-radio-group--cols-3">

        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="transport" value="no">
          <span class="mys-radio__box">No</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="transport" value="yes-a-little">
          <span class="mys-radio__box">Yes, a little</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="transport" value="yes-a-lot">
          <span class="mys-radio__box">Yes, a lot</span>
        </label>
      </div>
    </div>
  </fieldset>
</div>
<div class="row margin-below">
  <fieldset>
    <div class="col-sm-6 col-lg-5">
      <legend class="legend-label legend-label--light">Are your relationships with your family affected?
        <span class="hint display-block">
          <i>Including children, immediate relatives and close friends.</i>
        </span>
      </legend>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="mys-radio-group mys-radio-group--cols-3">
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="pi-questions" value="no">
          <span class="mys-radio__box">No</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="pi-questions" value="yes-a-little">
          <span class="mys-radio__box">Yes, a little</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="pi-questions" value="yes-a-lot">
          <span class="mys-radio__box">Yes, a lot</span>
        </label>
      </div>

    </div>
  </fieldset>
</div>
<div class="row margin-below">
  <fieldset>
    <div class="col-sm-6 col-lg-5">
      <legend class="legend-label legend-label--light">Is your ability to form or maintain intimate relationships affected?
        <span class="hint display-block">
          <i>Including emotional or physical relationships.</i>
        </span>
      </legend>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="mys-radio-group mys-radio-group--cols-3">
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="aid" value="no">
          <span class="mys-radio__box">No</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="aid" value="yes-a-little">
          <span class="mys-radio__box">Yes, a little</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="aid" value="yes-a-lot">
          <span class="mys-radio__box">Yes, a lot</span>
        </label>
      </div>
    </div>
  </fieldset>
</div>
<div class="row margin-below">
  <fieldset>
    <div class="col-sm-6 col-lg-5">
      <legend class="legend-label legend-label--light">Do you require assistance with personal care?
        <span class="hint display-block">
          <i>For example, washing, medication management, personal grooming, etc.</i>
        </span>
      </legend>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="mys-radio-group mys-radio-group--cols-3">
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="aid" value="no">
          <span class="mys-radio__box">No</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="aid" value="yes-a-little">
          <span class="mys-radio__box">Yes, a little</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="aid" value="yes-a-lot">
          <span class="mys-radio__box">Yes, a lot</span>
        </label>
      </div>
    </div>
  </fieldset>
</div>
<div class="row margin-below--extra">
    <div class="col-sm-6 col-lg-5">
      <legend class="legend-label legend-label--light">Has you connection to the community been affected?</legend>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="mys-radio-group mys-radio-group--cols-3">
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="aid" value="no">
          <span class="mys-radio__box">No</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="aid" value="yes-a-little">
          <span class="mys-radio__box">Yes, a little</span>
        </label>
        <label class="mys-radio">
          <input class="mys-radio__control" type="radio" name="aid" value="yes-a-lot">
          <span class="mys-radio__box">Yes, a lot</span>
        </label>
      </div>
    </div>
  </fieldset>
</div>