<div class="row margin-below">
  <div class="col-sm-6 col-lg-5">
    <legend class="legend-label legend-label--light ">Have you given up any recreational activities?
    </legend>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>

<div class="row margin-below">
  <div class="col-sm-6 col-lg-5">
    <legend class="legend-label legend-label--light ">Have you reduced your involvement in any recreational activities?
    </legend>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>

<div class="row margin-below--large">
  <div class="col-sm-6 col-lg-5">
    <legend class="legend-label legend-label--light ">Are there activities you planned to undertake but now cannot?
    </legend>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-little ">
        <span class="mys-radio__box ">Yes, a little</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="aid " value="yes-a-lot ">
        <span class="mys-radio__box ">Yes, a lot</span>
      </label>
    </div>
  </div>
</div>