<div class="uikit-page-alerts uikit-page-alerts--info">
  <p>A Lifestyle Rating is an average score assessing how your lifestyle has been affected by your conditions. It helps us determine your compensation.
  </p>
</div>