<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Have you had any retraining to help you gain or retain employment?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes</span>
      </label>
    </div>
  </div>
</div>

<div class="row margin-below ">
  <div class="col-sm-6 col-lg-5 ">
    <legend class="legend-label legend-label--light ">Have you lost a job (excluding any medical discharge from the ADF) because of your conditions?</legend>
  </div>
  <div class="col-sm-6 col-lg-4 ">
    <div class="mys-radio-group mys-radio-group--cols-3">

      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="no ">
        <span class="mys-radio__box ">No</span>
      </label>
      <label class="mys-radio ">
        <input class="mys-radio__control " type="radio " name="transport " value="yes-a-little ">
        <span class="mys-radio__box ">Yes</span>
      </label>
    </div>
  </div>
</div>