  <div class="panel from-right">
    <div class="panel-header">
      <h2>Help</h2>
      <a href="#" class="panel-close">Close</a>
    </div>
    <div class="panel-container">
      <div class="panel-content">

        <h3>Contact</h3>
        <p>MyService Beta is a pilot service.</p>
        <p>Please contact us if you need help.</p>
        <p>
          <div class="ico-email"></div><b>Email :</b> <a href="mailto:myservicesupport@dva.gov.au">myservicesupport@dva.gov.au</a><br><em>We will reply to reply to your email
            within 1 business day.</em>
        </p>
        <p>
          <div class="ico-phone"></div><b>Phone :</b> (02) 6289 4724<br><em>Monday to Friday 9am to 5pm AEST.</em>
        </p>

        <div class="pagination">
          <button class="uikit-btn uikit-btn--tertiary panel-close" onclick="window.location.href = '#'">Close</button>

        </div>
      </div>
    </div>
