<div role="dialog" aria-hidden="true" aria-labelledby="cancelModalTitle" aria-describedby="cancelModalDesc" id="open-cancel-modal" class="modal-window">
  <div>
    <a href="#close-modal" title="Close" class="modal-close" id="cancelModalCloseBtn">Close</a>
    <h2 id="cancelModalTitle">Do you want to cancel?</h2>
    <p id="cancelModalDesc">This will delete your claim and you will need to start over.</p>
    <div class="modal-buttons">
      <button id="cancelModalYesBtn" class="uikit-btn" onclick="window.location.href = '/auth'">Yes</button>
      <button id="cancelModalNoBtn" class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">No</button>
    </div>
  </div>
</div>

<%
	var modalName = "open-cancel-modal";
	var triggerName = "coverCancelBtn";
	var modalElementPrefix = "cancelModal";
%>
<% include modal-common.ejs %>