<div class="uikit-text-input__label-wrapper--inline-block">
  <legend class="uikit-text-input__label legend-label" id="question_gender">Gender</legend>
</div>
<div class="tooltip">
  <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
    <div class="tooltip__label tooltip__label--icon-only">
      <a>Gender help</a>
    </div>
    <div class="tooltip__tab"></div>
  </div>
  <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
    <div class="tooltip__message">Currently, our system only allows us to record the student's gender as male or female. If they don't identify as either, you can discuss this with
      a DVA staff member on
      <a href="tel:1800-555-254">1800 555 254</a>.</div>
    <div class="tooltip__close" role="button" tabindex="0">Close</div>
  </div>
</div>
<div class="radio-toggle">
  <label class="on label-left" for="gender-male-2">
    <input id="gender-male-2" name="gender" type="radio" value="male">
    <span>Male</span>
  </label>
  <label class="off label-right" for="gender-female-2">
    <input id="gender-female-2" name="gender" type="radio" value="female">
    <span>Female</span>
  </label>
</div>
