<label class="uikit-text-input__label" for="title">Title</label>
<select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
  <option>-- Select title --</option>
  <option selected>Not specified</option>
  <option>Commissioner</option>
  <option>Dame</option>
  <option>Emeritus Professor</option>
  <option>Honourable Mr Justice</option>
  <option>Matron</option>
  <option>Miss</option>
  <option>Monsignor</option>
  <option>Mr</option>
  <option>Mr Justice</option>
  <option>Mrs</option>
  <option>Ms</option>
  <option>Reverend Mr</option>
  <option>Right Reverend Monsignor</option>
</select>
