<% 
    locals.el = {};
    locals.el.question = 'Do you have a diagnosis from a medical practitioner?'; 
    locals.el.optionalID = 'diagnosis'; %>
<%- include(partials+"components/form-elements/radio--yes-no", locals) %>

<div id="no-diagnosis" class="uikit-page-alerts uikit-page-alerts--info pt-type-ahead-type" style="display: none;">
  <p>If you don't have a diagnosis from a medical practitioner you should consider obtaining one. This will help us to process your claim more efficiently.
    DVA can reimburse you for the cost of obtaining your diagnosis, regardless of the outcome.</p>
</div>


<div id="medical-practitioner-group" class="form-group" style="display: none;">
  <div class="form-group">
    <form id="myForm">
      <input type="reset" style="display:none">
      <label class="uikit-text-input__label" for="practitioners">Select the medical practitioner who provided the diagnosis</label>
      <div id="medical-practitioner">
        <p class="uiToolKitCheckBox">
          <label class="uikit-control-input">
            <input class="uikit-control-input__input" type="radio" name="practitioners" value="none">
            <span class="uikit-control-input__text">None of the above</span>

          </label>
        </p>
      </div>
    </form>
  </div>
</div>
<div id="medical-practitioner-details" class="pt-medical-prac">

  <div class="margin-above--extra">

    <div class="hide-form-group margin-above--extra">

      <h2 id="intro-copy-no-partner" class="margin-below--none">Add medical practitioner</h2>

      <!-- id was gp-name -->
      <div class="form-group margin-above--large">

        <label class="uikit-text-input__label" for="drName">Doctor's name
        </label>
        <input class="uikit-text-input input-half" name="drName" id="drName" type="text" value="" required="" aria-required="true">
        </form>
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="practitioner-type">Type of practitioner</label>
        <select class="uikit-text-input input-half" id="practitioner-type" name="practitioner-type">
          <option>-- Select a type --</option>
          <option>General practitioner</option>
          <option>Psychiatrist</option>
          <option>Orthopaedic specialist</option>
          <option>Cardiologist</option>
          <option>Other</option>
        </select>
      </div>

      <div class="form-group" id="practitioner-type-other" hidden>
        <label class="uikit-text-input__label" for="practition-type-other">Please specify type of practitioner</label>
        <input class="uikit-text-input input-half" name="practition-type-other" type="text">
      </div>




      <div class="form-group">
        <label class="uikit-text-input__label" for="practiceName">Practice name
        </label>
        <input class="uikit-text-input" name="practiceName" id="practiceName" type="text" value="" required="" aria-required="true">
      </div>

      <div class="form-group">
        <label class="uikit-text-input__label" for="gp-name">Phone number
        </label>
        <input class="uikit-text-input input-half" name="gp-name" id="gp-number" type="text" value="" required="" aria-required="true">
      </div>

      <!--id was gp-name-->
      <div class="form-group">
        <label class="uikit-text-input__label" for="practiceSuburb">Suburb or town
        </label>
        <input class="uikit-text-input input-half" name="practiceSuburb" id="practiceSuburb" type="text" value="" required="" aria-required="true">
      </div>

      <div class="form-group margin-above margin-below">
        <label class="uikit-text-input__label" for="state-location">State or territory</label>
        <select class="uikit-text-input input-half" id="state-location" name="state-location">
          <option value="select">-- Select a state --</option>
          <option value="ACT">Australian Capital Territory</option>
          <option value="QLD">Queensland</option>
          <option value="NSW">New South Wales</option>
          <option value="NT">Northern Territory</option>
          <option value="SA">South Australia</option>
          <option value="TAS">Tasmania</option>
          <option value="VIC">Victoria</option>
          <option value="WA">Western Australia</option>
        </select>
      </div>


    </div>
  </div>
</div>

<div id="save-next" hidden>
  <p>Choose <b>save and next</b> to continue</p>
</div>

<script>

  $(document).ready(() => {

    var practs = [];

    $.ajax({
      url: '/docs/data/medical-practitioner.json',
      type: 'GET',
      dataType: 'json'
    })
      .done((data) => {
        person = JSON.parse(localStorage.getItem("person"));
        $.each(data.practitioners, (index, pract) => {
          if (person.practitioners.includes(pract._id)) {
            practs.push({
              id: pract._id,
              name: pract.nameFull,
              type: pract.type,
              nameFull: pract.nameFull,
              practiceName: pract.practiceName,
              practiceSuburb: pract.practiceSuburb,
              practiceState: pract.practiceState,
              practicePhone: pract.practicePhone
            });
          }
        });

        if (practs.length < 1) {
          $("#medical-practitioner-group").hide("fast");
          $(".pt-medical-prac").show("fast");
        } else {
          $.each(practs, (index, pract) => {
            $("#medical-practitioner").prepend(`
                  <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                          <input value="${pract.id}" class="uikit-control-input__input" type="radio" name="practitioners">
                          <span class="uikit-control-input__text">${pract.name}</span>
                      </label>
                  </p>`);
          });
        }

        $("#medical-practitioner").on("change", "input", () => {
          $("#save-next").hide("fast");
          if ($("#medical-practitioner :checked").val() === "none") {
            $(".pt-medical-prac").data("type", "adding");
            $("#practitioner-type :first-child").prop("selected", true)
            $("#drName").val("");
            $("#practiceName").val("");
            $("#practiceSuburb").val("");
            $("#practiceSuburb").val("");
            $("#state-location :first-child").prop("selected", true)
            $("#gp-number").val("");
            $("#correctDetails").hide("fast");
            $("#updateDetails").hide("fast");
            $("#addPractitioner").show("fast");
            $("#hint-adding").show("fast");
            $("#hint-reviewing").hide("fast");
            $(".pt-medical-prac").show("fast");
          }
          else {
            sel_prac = $("#medical-practitioner :checked").val();
            $.each(practs, (index, pract) => {
              if (pract.id === sel_prac) {
                $("#save-next").show("fast");
                $(".pt-medical-prac").hide("hide");
                $("#updateDetails").hide("fast");
                $("#addPractitioner").hide("fast");
                $("#correctDetails").show("fast");
                $("#hint-reviewing").show("fast");
                $("#hint-adding").hide("fast");
                $("#practitioner-type option").each(function (index, elem) {
                  if ($(this).text() == pract.type) {
                    $(this).prop("selected", true);
                  }
                });
                $("#drName").val(pract.nameFull);
                $("#drName").data("initial-val", pract.nameFull);
                $("#practiceName").val(pract.practiceName);
                $("#practiceSuburb").val(pract.practiceSuburb);
                $("#state-location option").each(function (index, elem) {
                  if ($(this).val() == pract.practiceState) {
                    $(this).prop("selected", true)
                  }
                });
                $("#gp-number").val(pract.practicePhone);
              }
            });
            $(".pt-medical-prac").attr("data-type", "reviewing");
          }
        });

        $(".pt-medical-prac").on("change", "input, select", () => {
          if ($(".pt-medical-prac").data("type") === "reviewing") {
            // $("#updateDetails").show("fast");
            // $("#correctDetails").hide("fast");
            $("#addPractitioner").hide("fast");
            // $(".pt-medical-prac").data("type", "reviewed");
          }
        });

        $("#correctDetails").on("click", () => {
          // $(".pt-medical-prac").hide("fast");
          $("#save-next").show("fast");
        });

        $("#updateDetails").on("click", () => {
          $(".pt-medical-prac").hide("fast");
          $("#save-next").show("fast");
          if ($("#drName").val() != $("#drName").data("initial-val")) {
            $("#medical-practitioner input").each(function () {
              console.log($(this));
              if ($(this).parent().find("span").text() == $("#drName").data("initial-val")) {
                $(this).parent().find("span").text($("#drName").val());
              }
            });
          }
        });

        $("#addPractitioner").on("click", () => {
          if ($("#drName").val() != "") {
            $("#drName").parent().removeClass("has-error");
            $("#drName").parent().find("label").html("Doctor's Name");
            var doc_id = Math.floor(Math.random() * 10000);
            $("#medical-practitioner").append(`
                  <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                          <input value="${doc_id}" class="uikit-control-input__input" type="radio" name="practitioners">
                          <span class="uikit-control-input__text">${$("#drName").val()}</span>
                      </label>
                  </p>`);
            $(".pt-medical-prac").hide("fast");
            $("#medical-practitioner-group").show();
            $("#medical-practitioner input:last-of-type").prop("checked", true);
            person.practitioners.push(doc_id.toString());
            localStorage.setItem("person", JSON.stringify(person));
            $("#save-next").show("fast");
          } else {
            $("#drName").parent().addClass("has-error");
            $("#drName").parent().find("label").html(`Doctor's name <span class="input-error-message">Please enter your doctor's name</span>`);
          }
        });
      });

    $("#practitioner-type").on("change", () => {
      console.log()
      if ($("#practitioner-type :selected").text() == "Other") {
        $("#practitioner-type-other").show("fast");
      } else {
        $("#practitioner-type-other").hide("fast");
      }
    });

    $('input[name=diagnosis]').change(function () {
      var diagnosis = $('input[name=diagnosis]:checked').val();
      $("#myForm").trigger("reset");
      console.log($("#myForm"))
      if (diagnosis == "yes") {
        $("#no-diagnosis").hide("fast");
        $("#medical-practitioner-group").show("fast");
        $("#save-next").hide();
      } else {
        $("#no-diagnosis").show("fast");
        $("#medical-practitioner-group").hide("fast");
        $("#medical-practitioner-details").hide();
        $("#save-next").show("fast");
      }

    });


    $("#state-location").change(function () {
      mySelection = $('#state-location :selected').val();
      $("#save-next").show("fast");
    });

  });

</script>
