<div id="medical-practitioner-group" class="form-group">
    <div class="form-group">
        <label class="uikit-text-input__label" for="practitioners">Select the medical practitioner that provided the diagnosis</label>
        <div id="medical-practitioner">
            <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="practitioners" value="none">
                    <span class="uikit-control-input__text">None of the above</span>
                </label>
            </p>
        </div>
    </div>
</div>
<div class="pt-medical-prac">

 <div class="margin-above--extra">

   <div class="hide-form-group margin-above--extra">


    <legend class="legend-label font-weight-heavy" style="font-size:1.3em">Medical Practitioner</legend>
     <h4>Please provide details of any treating medical practitioners who could assist with this claim. <span id="hint-adding" hidden class="hint display-block">For example a GP, psychiatrist,
         orthopaedic specialist or cardiologist.<br>You can add more than one medical practitioner.</span><span class="hint display-block" id="hint-reviewing" hidden>Please review these details to ensure they are still up to date.</span></h4>
     <div class="form-group">
       <label class="uikit-text-input__label" for="practitioner-type">Type of practitioner</label>
       <select class="uikit-text-input input-half" id="practitioner-type" name="practitioner-type">
         <option>-- Select a type --</option>
         <option>General practitioner</option>
         <option>Psychiatrist</option>
         <option>Orthopaedic specialist</option>
         <option>Cardiologist</option>
         <option>Other</option>
       </select>
     </div>

    <div class="form-group" id="practitioner-type-other" hidden>
      <label class="uikit-text-input__label" for="practition-type-other">Please specify type of practitioner</label>
      <input class="uikit-text-input input-half" name="practition-type-other" type="text">
    </div>


     <!-- id was gp-name -->
     <div class="form-group">
       <label class="uikit-text-input__label" for="drName">Doctor's name
       </label>
       <input class="uikit-text-input input-half" name="drName" id="drName" type="text" value="" required="" aria-required="true">
     </div>

     <div class="form-group">
       <label class="uikit-text-input__label" for="practiceName">Practice name
       </label>
       <input class="uikit-text-input" name="practiceName" id="practiceName" type="text" value="" required="" aria-required="true">
     </div>

     <!--id was gp-name-->
     <div class="form-group">
       <label class="uikit-text-input__label" for="practiceSuburb">Suburb or town
       </label>
       <input class="uikit-text-input input-half" name="practiceSuburb" id="practiceSuburb" type="text" value="" required="" aria-required="true">
     </div>

     <div class="form-group margin-above margin-below">
       <label class="uikit-text-input__label" for="state-location">State or territory</label>
       <select class="uikit-text-input input-half" id="state-location" name="state-location">
         <option value="select">-- Select a state --</option>
         <option value="ACT">Australian Capital Territory</option>
         <option value="QLD">Queensland</option>
         <option value="NSW">New South Wales</option>
         <option value="NT">Northern Territory</option>
         <option value="SA">South Australia</option>
         <option value="TAS">Tasmania</option>
         <option value="VIC">Victoria</option>
         <option value="WA">Western Australia</option>
       </select>
     </div>

     <div class="form-group">
       <label class="uikit-text-input__label" for="gp-name">Contact phone number
       </label>
       <input class="uikit-text-input input-half" name="gp-name" id="gp-number" type="text" value="" required="" aria-required="true">
     </div>

     <% if (lastSixMonths) { %>

     <div class="form-group">
       <legend class="legend-label">Have you seen this practitioner in the last 6 months?</legend>
       <div class="radio-toggle">
         <label class="on label-left" for="doctor-visitedrecently-yes">
           <input id="doctor-visitedrecently-yes" type="radio" name="doctor-visitedrecently">
           <span>Yes</span>
         </label>
         <label class="off label-right" for="doctor-visitedrecently-no">
           <input id="doctor-visitedrecently-no" type="radio" name="doctor-visitedrecently">
           <span>No</span>
         </label>
       </div>
     </div>

     <%  } %>


     <div class="form-group done-and-next margin-above" style="display:none;">
       <p>Choose <b>done</b> to continue.</p>
     </div>

     <div class="form-group margin-above--extra">
       <!-- <button class="uikit-btn ss-align--center" id="correctDetails" style="display: none;">These details are correct</button> -->
       <!-- <button class="uikit-btn ss-align--center" id="updateDetails" style="display: none;">Update details</button> -->
       <button class="uikit-btn ss-align--center" id="addPractitioner" style="display: none;">Add practitioner</button>
     </div>


   </div>
   <div class="plain-text-info">

     <div class="plain-text-bottom-border" style="display:none;">
       <div class="review__wrapper">
         <div class="review__content--item boxed row">
           <div class="review__content--label col-sm-10">
             <h3 class="margin-above--none margin-below--none">Dr Julius Hibbert</h3>
             <p class="margin-below--mid">General Practitioner<br>Springfield Medical Center, Springfield NSW<br>(02) 6123 4567</p>
             <p>&#10003; I have seen this practitioner in the last 6&nbsp;months</p>
           </div>
           <div class="col-sm-2"><button class="uikit-btn uikit-btn--tertiary" id="">&nbsp;Edit &nbsp;</button><br><button
               class="uikit-btn uikit-btn--tertiary small margin-above--mid" id="">Remove</button></div>
         </div>
         <div class="row">
           <div class="col-sm-12 margin-above ss-align--center">
             <button class="uikit-btn uikit-btn--tertiary" id="addAnother">Add another medical practitioner</button>
           </div>
         </div>
       </div>
     </div>


   </div>
 </div>
</div>

<div id="save-next" hidden>
  <p>Choose <b>save and next</b> to continue</p>
</div>

<script>

  $(document).ready(() => {

    var practs = [];

    $.ajax({
      url: '/docs/data/medical-practitioner.json',
      type: 'GET',
      dataType: 'json'
    })
    .done((data) => {
        person = JSON.parse(localStorage.getItem("person"));
        $.each(data.practitioners, (index, pract) => {
          if (person.practitioners.includes(pract._id)) {
            practs.push({
              id: pract._id,
              name: pract.nameFull,
              type: pract.type,
              nameFull: pract.nameFull,
              practiceName: pract.practiceName,
              practiceSuburb: pract.practiceSuburb,
              practiceState: pract.practiceState,
              practicePhone: pract.practicePhone
            });
          }
        });

        if (practs.length < 1) {
          $("#medical-practitioner-group").hide("fast");
          $(".pt-medical-prac").show("fast");
        } else {
          $.each(practs, (index, pract) => {
            $("#medical-practitioner").prepend(`
                  <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                          <input value="${pract.id}" class="uikit-control-input__input" type="radio" name="practitioners">
                          <span class="uikit-control-input__text">${pract.name}</span>
                      </label>
                  </p>`);
          });
        }

        $("#medical-practitioner").on("change", "input", () => {
          $("#save-next").hide("fast");
          if ($("#medical-practitioner :checked").val() === "none") {
            $(".pt-medical-prac").data("type", "adding");
            $("#practitioner-type :first-child").prop("selected", true)
            $("#drName").val("");
            $("#practiceName").val("");
            $("#practiceSuburb").val("");
            $("#practiceSuburb").val("");
            $("#state-location :first-child").prop("selected", true)
            $("#gp-number").val("");
            $("#correctDetails").hide("fast");
            $("#updateDetails").hide("fast");
            $("#addPractitioner").show("fast");
            $("#hint-adding").show("fast");
            $("#hint-reviewing").hide("fast");
            $(".pt-medical-prac").show("fast");
          } 
          else {
            sel_prac = $("#medical-practitioner :checked").val();
            $.each(practs, (index, pract) => {
              if (pract.id === sel_prac) {
                $("#save-next").show("fast");
                $(".pt-medical-prac").hide("hide");
                $("#updateDetails").hide("fast");
                $("#addPractitioner").hide("fast");
                $("#correctDetails").show("fast");
                $("#hint-reviewing").show("fast");
                $("#hint-adding").hide("fast");
                $("#practitioner-type option").each(function(index, elem) {
                  if($(this).text() == pract.type) {
                    $(this).prop("selected", true);
                  }
                });
                $("#drName").val(pract.nameFull);
                $("#drName").data("initial-val", pract.nameFull);
                $("#practiceName").val(pract.practiceName);
                $("#practiceSuburb").val(pract.practiceSuburb);
                $("#state-location option").each(function(index, elem) {
                  if ($(this).val() == pract.practiceState) {
                    $(this).prop("selected", true)
                  }
                });
                $("#gp-number").val(pract.practicePhone);
              }
            });
            $(".pt-medical-prac").attr("data-type", "reviewing");
          }
        });

        $(".pt-medical-prac").on("change", "input, select", () => {
          if ($(".pt-medical-prac").data("type") === "reviewing") {
            // $("#updateDetails").show("fast");
            // $("#correctDetails").hide("fast");
            $("#addPractitioner").hide("fast");
            // $(".pt-medical-prac").data("type", "reviewed");
          }
        });

        $("#correctDetails").on("click", () => {
          // $(".pt-medical-prac").hide("fast");
          $("#save-next").show("fast");
        });

        $("#updateDetails").on("click", () => {
          $(".pt-medical-prac").hide("fast");
          $("#save-next").show("fast");
          if ($("#drName").val() != $("#drName").data("initial-val")) {
            $("#medical-practitioner input").each(function() {
              console.log($(this));
              if ($(this).parent().find("span").text() == $("#drName").data("initial-val")) {
                $(this).parent().find("span").text($("#drName").val());
              }
            });
          }
        });

        $("#addPractitioner").on("click", () => {
          if ($("#drName").val() != "") {
            $("#drName").parent().removeClass("has-error");
            $("#drName").parent().find("label").html("Doctor's Name");
            var doc_id = Math.floor(Math.random() * 10000);
            $("#medical-practitioner").append(`
                  <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                          <input value="${doc_id}" class="uikit-control-input__input" type="radio" name="practitioners">
                          <span class="uikit-control-input__text">${$("#drName").val()}</span>
                      </label>
                  </p>`);
            $(".pt-medical-prac").hide("fast");
            $("#medical-practitioner-group").show();
            $("#medical-practitioner input:last-of-type").prop("checked", true);
            person.practitioners.push(doc_id.toString());
            localStorage.setItem("person", JSON.stringify(person));
            $("#save-next").show("fast");
          } else {
            $("#drName").parent().addClass("has-error");
            $("#drName").parent().find("label").html(`Doctor's name <span class="input-error-message">Please enter your doctor's name</span>`);
          }
        });
    });

    $("#practitioner-type").on("change", () => {
      console.log()
      if ($("#practitioner-type :selected").text() == "Other") {
        $("#practitioner-type-other").show("fast");
      } else {
        $("#practitioner-type-other").hide("fast");
      }
    });

  });




  </script>