 <div class="margin-above--extra">


   <div class="hide-form-group margin-above--extra">

     <div class="boxed">
      <legend class="legend-label font-weight-heavy" style="font-size:1.3em">Medical Practitioner</legend>
       <h4>Please provide details of any treating medicalx practitioners who could assist with this claim. <span class="hint display-block">For example a GP, psychiatrist,
           orthopaedic specialist or cardiologist.<br>You can add more than one medical practitioner.</span></h4>
        <hr>
       <div class="form-group">
         <label class="uikit-text-input__label" for="practitioner-type">Type of practitioner</label>
         <select class="uikit-text-input input-half" id="practitioner-type" name="practitioner-type">
           <option>-- Select a type --</option>
           <option>General practitioner</option>
           <option>Psychiatrist</option>
           <option>Orthopaedic specialist</option>
           <option>Cardiologist</option>
           <option>Other</option>
         </select>
       </div>

       <!-- id was gp-name -->
       <div class="form-group">
         <label class="uikit-text-input__label" for="drName">Doctor's name
         </label>
         <input class="uikit-text-input input-half" name="drName" id="drName" type="text" value="" required="" aria-required="true">
       </div>

       <div class="form-group">
         <label class="uikit-text-input__label" for="practiceName">Practice name
         </label>
         <input class="uikit-text-input" name="practiceName" id="practiceName" type="text" value="" required="" aria-required="true">
       </div>

       <!--id was gp-name-->
       <div class="form-group">
         <label class="uikit-text-input__label" for="practiceSuburb">Suburb or town
         </label>
         <input class="uikit-text-input input-half" name="practiceSuburb" id="practiceSuburb" type="text" value="" required="" aria-required="true">
       </div>




       <div class="form-group margin-above margin-below">
         <label class="uikit-text-input__label" for="state-location">State or territory</label>
         <select class="uikit-text-input input-half" id="state-location" name="state-location">
           <option>-- Select a state --</option>
           <option>Australian Capital Territory</option>
           <option>Queensland</option>
           <option>New South Wales</option>
           <option>Northern Territory</option>
           <option>South Australia</option>
           <option>Tasmania</option>
           <option>Victoria</option>
           <option>Western Australia</option>
         </select>
       </div>

       <div class="form-group">
         <label class="uikit-text-input__label" for="gp-name">Contact phone number
         </label>
         <input class="uikit-text-input input-half" name="gp-name" id="gp-number" type="text" value="" required="" aria-required="true">
       </div>








       <% if (lastSixMonths) { %>

       <div class="form-group">
         <legend class="legend-label">Have you seen this practitioner in the last 6 months?</legend>
         <div class="radio-toggle">
           <label class="on label-left" for="doctor-visitedrecently-yes">
             <input id="doctor-visitedrecently-yes" type="radio" name="doctor-visitedrecently">
             <span>Yes</span>
           </label>
           <label class="off label-right" for="doctor-visitedrecently-no">
             <input id="doctor-visitedrecently-no" type="radio" name="doctor-visitedrecently">
             <span>No</span>
           </label>
         </div>
       </div>

       <%  } %>


       <div class="form-group done-and-next margin-above" style="display:none;">
         <p>Choose <b>done</b> to continue.</p>
       </div>

       <div class="form-group margin-above--extra">
         <button class="uikit-btn" id="saveDetails">&nbsp;&nbsp;&nbsp; Done &nbsp;&nbsp;&nbsp;</button>
       </div>
     </div>

   </div>
   <div class="plain-text-info">

     <div class="plain-text-bottom-border" style="display:none;">
       <div class="review__wrapper">
         <div class="review__content--item boxed row">
           <div class="review__content--label col-sm-10">
             <h3 class="margin-above--none margin-below--none">Dr Julius Hibbert</h3>
             <p class="margin-below--mid">General Practitioner<br>Springfield Medical Center, Springfield NSW<br>(02) 6123 4567</p>
             <p>&#10003; I have seen this practitioner in the last 6&nbsp;months</p>
           </div>
           <div class="col-sm-2"><button class="uikit-btn uikit-btn--tertiary" id="">&nbsp;Edit &nbsp;</button><br><button
               class="uikit-btn uikit-btn--tertiary small margin-above--mid" id="">Remove</button></div>
         </div>
         <div class="row">
           <div class="col-sm-12 margin-above ss-align--center">
             <button class="uikit-btn uikit-btn--tertiary" id="addAnother">Add another medical practitioner</button>
           </div>
         </div>
       </div>
     </div>


   </div>
 </div>
