<div class="id-types id-marriage" style="display: none">

	<div class="form-group">
		<legend>Australian marriage certificate</legend>
		<label class="uikit-text-input__label" for="marriednameState">Which state or territory were you married in?</label>
		<select class="uikit-text-input input-half" id="marriednameState" name="marriednameState" required aria-required="true">
			<option value=0 selected>-- Select state or territory --</option>
			<option value="act">Australian Capital Territory</option>
			<option value="nsw">New South Wales</option>
			<option value="nt">Northern Territory</option>
			<option value="qld">Queensland</option>
			<option value="sa">South Australia</option>
			<option value="tas">Tasmania</option>
			<option value="vic">Victoria</option>
			<option value="wa">Western Australia</option>
		</select>
	</div>

	<div class="uikit-page-alerts marriedFields" id="married-coverage-ACT" role="alert" style="display: none;">
		<p>If your marriage certificate was issued
			<strong>before 1 May 2002</strong>, MyService cannot verify it. Please select another form of identification.</p>
	</div>
	<div class="uikit-page-alerts marriedFields" id="married-coverage-NT" role="alert" style="display: none;">
		<p>If your marriage was registered
			<strong>before 1960</strong>, MyService cannot verify your marriage certificate. Please select another form of identification.</p>
	</div>
	<div class="uikit-page-alerts marriedFields" id="married-coverage-QLD" role="alert" style="display: none;">
		<p>If your marriage was registered
			<strong>before 1 July 1996</strong>, MyService cannot verify your marriage certificate. Please select another form of identification.</p>
	</div>
	<div class="uikit-page-alerts marriedFields" id="married-coverage-SA" role="alert" style="display: none;">
		<p>If your marriage certificate was issued
			<strong>before 1 November 1999</strong>, MyService cannot verify it. Please select another form of identification.</p>
	</div>
	<div class="uikit-page-alerts marriedFields" id="married-coverage-TAS" role="alert" style="display: none;">
		<p>If your marriage was registered
			<strong>before 1970</strong>, MyService cannot verify your marriage certificate. Please select another form of identification.</p>
	</div>
	<div class="uikit-page-alerts marriedFields" id="married-coverage-VIC" role="alert" style="display: none;">
		<p>If your marriage was registered
			<strong>before 1990</strong>, MyService cannot verify your marriage certificate. Please select another form of identification.</p>
	</div>

	<fieldset>
		<div class="marriedFields" id="marriageUniversal" style="display: none;">

			<div class="form-group">
				<label class="uikit-text-input__label" for="former-surname">Former surname
					<span class="hint">(last name)</span>
				</label>
				<input class="uikit-text-input input-half" name="former-surname" id="former-surname" type="text" value="">
			</div>

			<div class="form-group">
				<label class="uikit-text-input__label" for="spouse-firstname">Spouse given names
					<span class="hint">(first and middle names)</span>
				</label>
				<input class="uikit-text-input input-half" name="spouse-firstname" id="spouse-firstname" type="text" value="">
			</div>

			<div class="form-group">
				<label class="uikit-text-input__label" for="spouse-surname">Spouse surname
					<span class="hint">(last name)</span>
				</label>
				<input class="uikit-text-input input-half" name="spouse-surname" id="spouse-surname" type="text" value="">
			</div>
		</div>

		<div class="form-group marriedFields" id="marriageDate" style="display: none;">
			<label class="uikit-text-input__label" for="marriage-date-dd">Date of marriage
				<span class="hint">(DD / MM / YYYY)</span>
				<span id="marriageDate-error-TAS" class="input-error-message" aria-live="polite" style="display: none;">
					If your marriage was registered
					<strong>before 1970</strong>, MyService cannot verify your marriage certificate. Please select another form of identification.</span>
				<span id="marriageDate-error-VIC" class="input-error-message" aria-live="polite" style="display: none;"> If your marriage was registered
					<strong>before 1990</strong>, MyService cannot verify your marriage certificate. Please select another form of identification.</span>
			</label>
			<input class="uikit-text-input dd marriage-date-dd" type="text" name="marriage-date-dd" id="marriage-date-dd" maxlength="2"
			 required aria-required="true" aria-label="2 digit day"> /
			<input class="uikit-text-input mm marriage-date-mm" type="text" name="marriage-date-mm" id="marriage-date-mm" maxlength="2"
			 required aria-required="true" aria-label="2 digit month"> /
			<input class="uikit-text-input yyyy marriage-date-yyyy" type="text" name="marriage-date-yyyy" id="marriage-date-yyyy" maxlength="4"
			 required aria-required="true" aria-label="4 digit year">
		</div>

		<div class="form-group marriedFields" id="marriageRegoNumber" style="display: none;">
			<label class="uikit-text-input__label" for="marriage-registration">Registration number</label>
			<input class="uikit-text-input input-half" name="marriage-registration" id="marriage-registration" type="text" value="">
		</div>

		<div class="form-group marriedFields" id="marriageRegoYear" style="display: none;">
			<label class="uikit-text-input__label" for="marriage-rego-yyyy">Year of registration
				<span class="hint">(YYYY)</span>
			</label>
			<input class="uikit-text-input yyyy marriage-rego-yyyy" type="text" name="marriage-rego-yyyy" id="marriage-rego-yyyy" maxlength="4"
			 required aria-required="true" aria-label="4 digit year">
		</div>

		<div class="form-group marriedFields" id="marriageRegoDate" style="display: none;">
			<label class="uikit-text-input__label" for="marriage-registration-dd">Registration date
				<span class="hint">(DD / MM / YYYY)</span>
			</label>
			<input class="uikit-text-input dd marriage-registration-dd" type="text" name="marriage-registration-dd" id="marriage-registration-dd"
			 maxlength="2" required aria-required="true" aria-label="2 digit day"> /
			<input class="uikit-text-input mm marriage-registration-mm" type="text" name="marriage-registration-mm" id="marriage-registration-mm"
			 maxlength="2" required aria-required="true" aria-label="2 digit month"> /
			<input class="uikit-text-input yyyy marriage-registration-yyyy" type="text" name="marriage-registration-yyyy" id="marriage-registration-yyyy"
			 maxlength="4" required aria-required="true" aria-label="4 digit year">
		</div>

		<div class="form-group marriedFields" id="marriageCertNumber" style="display: none;">
			<label class="uikit-text-input__label" for="marriage-certificate">Certificate number</label>
			<input class="uikit-text-input input-half" name="marriage-certificate" id="marriage-certificate" type="text" value="">
		</div>

		<div class="form-group marriedFields" id="marriageCertDate" style="display: none;">
			<label class="uikit-text-input__label" for="marriage-certificate-dd">Certificate issue date
				<span class="hint">(DD / MM / YYYY)</span>
				<span id="marriageCertDate-error-ACT" class="input-error-message" aria-live="polite" style="display: none;">
					If your marriage certificate was issued
					<strong>before 1 May 2002</strong>, MyService cannot verify it. Please select another form of identification.</span>
			</label>
			<input class="uikit-text-input dd marriage-certificate-dd" type="text" name="marriage-certificate-dd" id="marriage-certificate-dd"
			 maxlength="2" required aria-required="true" aria-label="2 digit day"> /
			<input class="uikit-text-input mm marriage-certificate-mm" type="text" name="marriage-certificate-mm" id="marriage-certificate-mm"
			 maxlength="2" required aria-required="true" aria-label="2 digit month"> /
			<input class="uikit-text-input yyyy marriage-certificate-yyyy" type="text" name="marriage-certificate-yyyy" id="marriage-certificate-yyyy"
			 maxlength="4" required aria-required="true" aria-label="4 digit year">
		</div>
	</fieldset>
</div>

<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>

	// User will select a state or territory from the drop-down list and will only see the fields relevant to them.

	var marriednameState = jQuery('#marriednameState');
	var selectmarriednameState = this.value;
	marriednameState.change(function () {
		if ($(this).val() == 'act') {
			$('.marriedFields').hide();
			$('#marriageUniversal').show();
			$('#marriageDate').show();
			$('#marriageRegoNumber').show();
			$('#marriageCertNumber').show();
			$('#marriageCertDate').show();
			if ($('#namechange-no')[0].checked) {
				$('#married-coverage-ACT').show();
			}
			//Validation
			$("#marriageCertDate").focusout(function () {
				$("#marriageCertDate").addClass("has-error");
				$('#marriageCertDate-error-ACT').show();
			});
		}
		if ($(this).val() == 'nsw') {
			$('.marriedFields').hide();
			$('#marriageUniversal').show();
			$('#marriageDate').show();
			$('#marriageRegoNumber').show();
			$('#marriageRegoYear').show();
		}
		if ($(this).val() == 'vic') {
			$(".marriednameFail").hide();
			$('.marriedFields').hide();
			$('#marriageUniversal').show();
			$('#marriageDate').show();
			$('#marriageRegoNumber').show();
			$('#marriageRegoYear').show();
			if ($('#namechange-no')[0].checked) {
				$('#married-coverage-VIC').show();
			}
			//Validation
			$("#marriageDate").focusout(function () {
				$("#marriageDate").addClass("has-error");
				$('#marriageDate-error-VIC').show();
			});

		}
		if ($(this).val() == 'qld') {
			$(".marriednameFail").hide();
			$('.marriedFields').hide();
			$('#marriageUniversal').show();
			$('#marriageDate').show();
			$('#marriageRegoNumber').show();
			$('#marriageRegoDate').show();
			if ($('#namechange-no')[0].checked) {
				$('#married-coverage-QLD').show();
			}
		}
		if ($(this).val() == 'wa') {
			$('.marriedFields').hide();
			$('#marriageUniversal').show();
			$('#marriageDate').show();
			$('#marriageRegoNumber').show();
			$('#marriageRegoYear').show();
		}
		if ($(this).val() == 'sa') {
			$(".marriednameFail").hide();
			$('.marriedFields').hide();
			$('#marriageUniversal').show();
			$('#marriageDate').show();
			$('#marriageRegoNumber').show();
			$('#marriageCertNumber').show();
			$('#marriageCertDate').show();
			if ($('#namechange-no')[0].checked) {
				$('#married-coverage-SA').show();
			}
		}
		if ($(this).val() == 'tas') {
			$(".marriednameFail").hide();
			$('.marriedFields').hide();
			$('#marriageUniversal').show();
			$('#marriageDate').show();
			$('#marriageRegoNumber').show();
			$('#marriageRegoYear').show();
			if ($('#namechange-no')[0].checked) {
				$('#married-coverage-TAS').show();
			}

			//Validation
			$("#marriageDate").focusout(function () {
				$("#marriageDate").addClass("has-error");
				$('#marriageDate-error-TAS').show();
			});
		}
		if ($(this).val() == 'nt') {
			$(".marriednameFail").hide();
			$('.marriedFields').hide();
			$('#marriageUniversal').show();
			$('#marriageDate').show();
			$('#marriageRegoNumber').show();
			$('#marriageCertNumber').show();
			$('#marriageCertDate').show();
			if ($('#namechange-no')[0].checked) {
				$('#married-coverage-NT').show();
			}
		}
	});

</script>


<script>
	$(document).ready(function () {
		// Client side field validation
		// Client validation masquerading as server side
		$(".btnNext").click(function () {
			if ($('#marriage-date-yyyy').val()) {

				$("#error-empty-fields").toggle("fast");
				$('html, body').animate({
					scrollTop: $('#error-empty-fields').position().top
				}, 'fast');
				$(".heading-error").focus();
			}
			if ($('#marriageCertDate-yyyy').val()) {

				$("#error-empty-fields").toggle("fast");
				$('html, body').animate({
					scrollTop: $('#error-empty-fields').position().top
				}, 'fast');
				$(".heading-error").focus();
			}
		});


	});
</script>