<div class="id-types id-changename" style="display: none">

  <div class="form-group">
    <legend>Australian change of name certificate</legend>
    <div class="uikit-page-alerts uikit-page-alerts--info margin-above--15" role="alert">
      <p class="uikit-display-1"> For help finding and entering your details refer to <a
          href="https://www.humanservices.gov.au/organisations/health-professionals/services/medicare/proda/register/change-name/verify-your-identity-your-change-name-certificate"
          rel="external" target="_blank">this
          guide</a> on the Department of Human Services website.</p>
    </div>
    <label class="uikit-text-input__label" for="changenameState">Which state or territory did you change your name in?</label>
    <select class="uikit-text-input input-half" id="changenameState" name="changenameState" required aria-required="true">
      <option value=0 selected>-- Select state or territory --</option>
      <option value="act">Australian Capital Territory</option>
      <option value="nsw">New South Wales</option>
      <option value="nt">Northern Territory</option>
      <option value="qld">Queensland</option>
      <option value="sa">South Australia</option>
      <option value="tas">Tasmania</option>
      <option value="vic">Victoria</option>
      <option value="wa">Western Australia</option>
    </select>
  </div>

  <div class="uikit-page-alerts changenameFields" id="changenameFail" role="alert" style="display: none;">
    <p>If you changed your name <strong>before 2 February 2004</strong>, unfortunately you are not eligible to use the MyService trial. You can still make a claim using our <a
        href="https://www.dva.gov.au/onlineservices/oscf/gettingStarted.html">online claim form</a>.</p>
  </div>

  <div class="uikit-page-alerts changenameFields" id="changenameFailACT" role="alert" style="display: none;">
    <p>If your changed of name certificate was registered <strong>before 1 May 2002</strong>, unfortunately you are not eligible to use the MyService trial. You can still make a
      claim using our <a href="https://www.dva.gov.au/onlineservices/oscf/gettingStarted.html">online claim form</a>.</p>
  </div>

  <fieldset>
    <div class="changenameFields" id="changenameFormer" style="display: none;">
      <div class="form-group">
        <label class="uikit-text-input__label" for="former-firstname">Former given names <span class="hint">(first and middle names)</span></label>
        <input class="uikit-text-input input-half" name="former-firstname" id="former-firstname" type="text" value="">
      </div>
      <div class="form-group">
        <label class="uikit-text-input__label" for="former-surname">Former surname <span class="hint">(last name)</span></label>
        <input class="uikit-text-input input-half" name="former-surname" id="former-surname" type="text" value="">
      </div>
    </div>

    <div class="changenameFields" id="changenameUniversal" style="display: none;">
      <div class="form-group">
        <label class="uikit-text-input__label" for="namechangeRegoNumber">Registration number</label>
        <input class="uikit-text-input input-half" name="namechangeRego-Number" id="namechangeRego-Number" type="text" value="">
      </div>
    </div>

    <div class="changenameFields" id="changenameRegoYear" style="display: none;">
      <div class="form-group">
        <label class="uikit-text-input__label" for="namechangeRegoYear-yyyy">Year of registration <span class="hint">(YYYY)</span></label>
        <input class="uikit-text-input yyyy namechangeRegoYear-yyyy" type="text" name="namechangeRegoYear-yyyy" id="namechangeRegoYear-yyyy" maxlength="4" required
          aria-required="true" aria-label="4 digit year">
      </div>
    </div>

    <div class="changenameFields" id="changenameRegoDate" style="display: none;">
      <div class="form-group">
        <label class="uikit-text-input__label" for="namechangeRegoDate-dd">Date of registration <span class="hint">(DD / MM / YYYY)</span></label>
        <input class="uikit-text-input dd namechangeRegoDate-dd" type="text" name="namechangeRegoDate-dd" id="namechangeRegoDate-dd" maxlength="2" required aria-required="true"
          aria-label="2 digit day"> /
        <input class="uikit-text-input mm namechangeRegoDate-mm" type="text" name="namechangeRegoDate-mm" id="namechangeRegoDate-mm" maxlength="2" required aria-required="true"
          aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy namechangeRegoDate-yyyy" type="text" name="namechangeRegoDate-yyyy" id="namechangeRegoDate-yyyy" maxlength="4" required
          aria-required="true" aria-label="4 digit year">
      </div>
    </div>

    <div class="form-group changenameFields" id="changenameCertNumber" style="display: none;">
      <label class="uikit-text-input__label" for="changenameCert-Number">Certificate number</label>
      <input class="uikit-text-input input-half" name="changenameCert-Number" id="changenameCert-Number" type="text" value="">
    </div>

    <div class="form-group changenameFields" id="changenameCertDate" style="display: none;">
      <label class="uikit-text-input__label" for="namechangeCertDate-dd">Date certificate issued <span class="hint">(DD / MM / YYYY)</span></label>
      <input class="uikit-text-input dd namechangeCertDate-dd" type="text" name="namechangeCertDate-dd" id="namechangeCertDate-dd" maxlength="2" required aria-required="true"
        aria-label="2 digit day"> /
      <input class="uikit-text-input mm namechangeCertDate-mm" type="text" name="namechangeCertDate-mm" id="namechangeCertDate-mm" maxlength="2" required aria-required="true"
        aria-label="2 digit month"> /
      <input class="uikit-text-input yyyy namechangeCertDate-yyyy" type="text" name="namechangeCertDate-yyyy" id="namechangeCertDate-yyyy" maxlength="4" required
        aria-required="true" aria-label="4 digit year">
    </div>

  </fieldset>
</div>

<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
  // User will select a state or territory from the drop-down list and will only see the fields relevant to them.

  var changenameState = jQuery('#changenameState');
  var selectchangenameState = this.value;
  changenameState.change(function () {
    if ($(this).val() == 'act') {
      $('.changenameFields').hide();
      $('#changenameFailACT').show();
      $('#changenameFormer').show();
      $('#changenameUniversal').show();
      $('#changenameCertNumber').show();
      $('#changenameCertDate').show();
    }
    if ($(this).val() == 'nsw') {
      $('.changenameFields').hide();
      $('#changenameFormer').show();
      $('#changenameUniversal').show();
      $('#changenameRegoYear').show();
    }
    if ($(this).val() == 'vic') {
      $('.changenameFields').hide();
      $('#changenameFormer').show();
      $('#changenameUniversal').show();
      $('#changenameRegoYear').show();
    }
    if ($(this).val() == 'qld') {
      $('.changenameFields').hide();
      $('#changenameFail').show();
      $('#changenameFormer').show();
      $('#changenameUniversal').show();
      $('#changenameRegoDate').show();
    }
    if ($(this).val() == 'wa') {
      $('.changenameFields').hide();
      $('#changenameFormer').show();
      $('#changenameUniversal').show();
      $('#changenameRegoYear').show();
    }
    if ($(this).val() == 'sa') {
      $('.changenameFields').hide();
      $('#changenameFormer').show();
      $('#changenameUniversal').show();
      $('#changenameCertNumber').show();
      $('#changenameCertDate').show();
    }
    if ($(this).val() == 'tas') {
      $('.changenameFields').hide();
      $('#changenameFormer').show();
      $('#changenameUniversal').show();
      $('#changenameRegoYear').show();
      $('#changenameRegoDate').show();
    }
    if ($(this).val() == 'nt') {
      $('.changenameFields').hide();
      $('#changenameFormer').show();
      $('#changenameUniversal').show();
      $('#changenameCertNumber').show();
      $('#changenameCertDate').show();
    }
  });

</script>
