<div class="form-group">

    <fieldset>
        <!-- Additional contact details -->
        <div class="form-group aus-yes margin-below--none">

            <!-- Contact's full name -->
            <div class="form-group">
                <label class="uikit-text-input__label" for="contact-name">Contact's full name
                    <span class="hint">(given and last name)</span>
                </label>

                <input class="uikit-text-input" name="contact-name" id="contact-name" type="text" value="" required aria-required="true"
                    style="max-width: 22em;">
            </div>

            <!-- Contact's number -->
            <div class="form-group">
                <label class="uikit-text-input__label" for="contact-number">Contact's phone number </label>
                <input class="uikit-text-input" name="contact-number" id="contact-number" type="text" value="" required aria-required="true"
                    style="max-width: 22em;">
            </div>

            <!-- Contact's email -->
            <div class="form-group">
                <label class="uikit-text-input__label" for="contact-email">Contact's email address </label>
                <input class="uikit-text-input" name="contact-email" id="contact-email" type="text" value="" required aria-required="true"
                    style="max-width: 22em;">
            </div>

            <!-- Contact's relationship to you -->
            <div class="form-group">
                <label class="uikit-text-input__label" for="contact-relationship-to-you">Contact's relationship to you </label>
                <input class="uikit-text-input" name="contact-relationship-to-you" id="contact-relationship-to-you" type="text" value=""
                    required aria-required="true" style="max-width: 22em;">
            </div>

            <br>

            <!-- Agreement checkbox-->
            <p>
                <label class="uikit-control-input">
                    <input class="uikit-control-input__input agreement" type="checkbox" name="agreement">
                    <span class="uikit-control-input__text">I agree that DVA can communicate updates and outcomes to the above contact provided.</span>
                </label>
            </p>

        </div>

    </fieldset>

</div>