<div id="message-box-veteran-payment" class="widget-tile widget-tile--full-width widget-callout">

  <div class="widget-callout__header">
    <h3>You may now apply for veteran payment</h3>
    <div class="widget-callout__close" id="close-message"><i class="fal fa-times-circle fa-lg"></i>
    </div>
  </div>
  <div class="widget-callout__message">
    Your recent claim for initial liability indicated you may be eligible for veteran payment. If you would like DVA to
    check your eligibilty for this interim payment, <a
      href="http://www.dva.gov.au/factsheet-is190-how-access-veteran-payment">apply now</a>.
  </div>

</div>