<div id="message-box-veteran-payment" class="widget-tile widget-tile--full-width"
  style="min-height: auto; height: auto; margin-bottom: 15px; border-left: 4px solid transparent; !important; background-color: white;">

  <div style="display: flex; flex-direction: row;">
    <div style="align-self: left;">
      <h3>You may be eligible to receive Veteran Payments</h3>
    </div>
    <div class="message-close" id="close-message" style="margin-left: auto; cursor: pointer;"><i class="fal fa-times-circle fa-lg"></i></div>
  </div>
  <div style="max-width: 780px; padding-bottom: 7px;">
      Your recent Initial Liability claim indicated you may be eligible for Veteran Payment. If you would like DVA to check your eligibilty for this interim payment, <a href="http://www.dva.gov.au/factsheet-is190-how-access-veteran-payment">apply now</a> or select "Veteran Payment" from the options.
  </div>

</div>
