<!DOCTYPE html>
<html class="js" lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title></title>
	<style>
		#box {
			background: url("../docs/images/ico-external-blue.svg") right 2px;
			padding-right: 24px;
			background-size: 16px 16px;
			width: 400px;
			height: 100px;
		}
	</style>
</head>
	<div id="box">Hello</div>
<body>
</body>
</html>