<div class="pagination pagination--ss-reverse-order">
  <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
  <div class="floated">
    <button class="uikit-btn uikit-btn--tertiary ">Save and exit</button>
    <button class="uikit-btn btnNext">Save and next</button>
  </div>
</div>

<div class="pagination pagination--ss-reverse-order">
  <button class="uikit-btn uikit-btn--tertiary" type="button">
    Cancel registration
  </button>
  <button class="uikit-btn floated btnNext" type="submit">
    Next
  </button>
</div>