<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-authenticated.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="section-feature section-feature--bg margin-above--none" id="main-content">
        <div class="container margin-below--extra">
          <div class="row">
            <div class="col-md-12">
              <h1 class="margin-below--mid">
                <span class="heading">Veteran card</span>
              </h1>
              <p>(if the user is in provisional state)</p>
              <div class="tip--wrapper tip-warning tip--white">
                <p><b>If you have a DVA Veteran card, your details will be available once we have processed your registration.</b></p>
              </div>

              <p>(if the user has an active account but no card)</p>
              <div class="tip--wrapper tip-warning tip--white">
                <p>
                  <b>Our records show you do not have a Veteran card.</b>
                  <br>You can <a href="/auth/claim/veteran-card-eligibility">request a Veteran Card here</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="container margin-above--extra margin-below--extra">
        <h4 class="margin-below--none">Who will see this page?</h4>
        <p>Users with PMKeys, a UIN (the result of a submitted IL claim) but no Veteran card</p>
      </div> -->

    </section>

    </div>
    </div>

  </main>

  <% include ../../../../partials/footer.ejs %>


</body>

</html>