@charset "UTF-8";

.styleguide-header--button {
  text-align: right !important;
}

.styleguide__page-wrapper {
  padding: 0 0 4rem;
}

/* Styling for the homepage hero section */
.hero-main {
  padding-top: 4rem;
}

.styleguide-hero {
  padding: 4rem 0;
  background: #eee;
}

.hero-main h1 {
  font-size: 3em !important;
  margin-top: 0em !important;
  margin-bottom: 0.1em !important;
  font-weight: 200 !important;
}

.hero-main p {
  font-size: 1em !important;
  font-weight: 200 !important;
}

@media only screen and (min-width: 700px) {
  .hero-main {
    padding-top: 4rem;
  }

  .hero-main h1 {
    font-size: 3.5em !important;
  }

  .hero-main p {
    font-size: 1.3em;
  }
}

/* Primary button formatting overrides*/
header .uikit-btn--primary {
  font-size: 0.8em !important;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  margin-top: 3px;
}

/* Feature section on Style Guide home page */
.feature-section {
  margin-top: 3em;
}

.feature-image {
  max-width: 400px;
  margin-top: 90px;
}

.feature-image--modules {
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .feature-section {
    margin: 3em 10px 0 10px !important;
  }

  .feature-image {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .feature-image {
    margin-top: 30px;
    margin-right: 30px;
  }

  .feature-image--modules {
    margin-top: 0px;
  }
}

hr {
  margin-top: 2em;
}

.styleguide-draft {
  background-color: #093d77;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #ffffff;
}

.styleguide-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-logo {
  width: 200px;
  margin-top: 10px;
}

.uikit-modules span {
  color: green;
  font-size: 0.9em;
}

.example-row {
  border-top: 1px solid #e4e4e4;
}

.example-row-code {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background: #eeeeee !important;
}

/* Indent and mark with a blue line the example sections */
.example-box {
  /* margin-left: 40px; */
  /* margin-left: 1em; */
  border-left: 4px solid #bcd2e5;
  padding-left: 20px;
  margin-bottom: 2em;
  overflow-y: scroll;
}

.example-box--margin {
  margin-left: 40px;
  border-left: 4px solid #bcd2e5;
  padding-left: 20px;
}

.example-box--margin h6 {
  margin: 0;
}

.ico-example {
  width: 34px;
}

/* The table displayed on style guide homepage showing update details */
.guide-updates {
  margin: 0 20px 0 20px;
}

.guide-updates h2 {
  margin-top: 60px;
}

/* Apply background color to the table row that has code in it so it stands out */
.example-code {
  background: #eeeeee !important;
}

/* Reducing the font size for code to improve the look and feel*/
code {
  font-size: 0.9em !important;
}

.uikit-btn {
  font-weight: normal;
}

.uiToolKitCheckBox {
  margin-bottom: 10px !important;
}

/* Coloured boxes */

.color-card {
  border: 1px solid #dddddd;
  padding-bottom: 15px;
  margin: 20px;
}

.color-card p {
  margin: 0px 0px 0px 15px;
}

.color-sample {
  width: auto;
  height: 130px;
  border-radius: 3px;
  margin: 10px 10px 15px 10px;
}

.color-blue {
  background-color: #1057A7;
}

.color-blue-dark {
  background-color: #093d77;
}

.color-green {
  background-color: #00AB4D;
}

.color-blue-light {
  background-color: #53cbe2;
}

.color-grey-dark {
  background-color: #666666;
}

.color-grey-light {
  background-color: #eeeeee;
}

.color-red {
  background-color: #cc0000;
}

.color-orange {
  background-color: #FF9600;
}

.color-lightgreen {
  background-color: #91C84C;
}

/* Adds an underline to a heading*/

.heading-underline {
  padding-bottom: 6px;
  margin-bottom: 20px !important;
  border-bottom: 1px solid #bbbbbb;
}

/* Reducing max-size of icons in example*/

.sg-icon-example {
  max-width: 70%;
}

.sg-icon--small {
  max-width: 40% !important;
}

/* Styling for a block on content that appears in the sidebar */

.sg-side-block {
  margin-top: 3em;
  margin-bottom: 3em;
}

.sg-side-block h2 {
  font-size: 1.5em;
}

/* Smaller font size */
.small-text {
  display: block;
  padding-top: 10px;
  font-size: 0.8em;
}

/* Righ-side navigation */
.local-nav ul {
  color: #313131;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6em;
  list-style: none;
  line-height: 1.6em;
}

.local-nav ul li:first-child {
  border-top: 1px solid #bbbbbb;

  /* margin-top: 40px; */
}

.local-nav h3 {
  margin-top: 1.2em;
}

.local-nav ul li {
  margin: 0;
  border-bottom: 1px solid #bbbbbb;
}

.local-nav li a {
  border-bottom: 0px;
  padding: 10px 10px 10px 10px;
  display: block;
}

.is-active {
  background: #e2e2e2;
}

caption {
  font-size: 1rem;
}

.subheading {
  background-color: rgba(238, 238, 238, 0.5);
  border-bottom: 1px solid #eeeeee;
  font-size: 0.9rem;
}

td {
  font-size: 0.9rem;
}

.table-centred td {
  text-align: center;
  width: 25%;
  padding: 1.25em 0.75em;
}

.table-centred h2,
.table-centred p,
.table-centred img {
  text-align: center;
  line-height: 1.4;
  white-space: nowrap;
}

.sass-name {
  width: 35%;
}

.sass-description {
  width: 65%;
}

.breakout {
  padding-bottom: 1em;
}

main {
  padding-top: 2em;
}

.local-nav,
.uikit-breadcrumbs {
  padding: 1em;
  background-color: white;
}

h1 {
  margin-top: .4em;
}

.local-nav h3 {
  margin-top: 2em;
}

.local-nav h3:first-child {
  margin-top: .6em;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.uikit-breadcrumbs {
  /* if you really think this adds value, feel free to reinstate */
  display: none;
}

@media screen and (min-width: 992px) {
  .menu__styleguide-wrapper .uikit-header {
    min-height: 93px;
  }
}


.color-sample--container {
  display: flex;
  flex-wrap: wrap;
}