<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "White card holder"
    ],
    id: "white-card",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  $(document).ready(function () {

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('#white-card-1').change(function () {
      updateWhiteCard();
    });

    function updateWhiteCard() {
      var myStatus = $("#white-card-1").is(":checked");
      if (myStatus) {
        $("#condition-container").hide();
      } else {
        $("#condition-container").show();
      }
    }

  });

</script>