<div id="state-switcher">
  <h3>State switcher</h3>

  No states ... 
  
  <%#- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Gold card holder (VEA only)"
    ],
    id: "gold-card",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  $(document).ready(function () {

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('#gold-card-1').change(function () {
      updateGoldCard();
    });

    function updateGoldCard() {
      var myStatus = $("#gold-card-1").is(":checked");
      if (myStatus) {
        $("#condition-container").hide();
      } else {
        $("#condition-container").show();
      }
    }

  });

</script>