<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Under 80 years"
    ],
    id: "under-80",
    customClass: "margin-below--none"
  }); %>

  Note greyed out values in medical practitioner select list if under 80.

</div>

<script>

  $(document).ready(function () {

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('#under-80-1').change(function () {
      updateUnder80();
    });

    function updateUnder80() {
      var myStatus = $("#under-80-1").is(":checked");
      if (myStatus) {
        $("#under-80-notice-container").show();
        $("#practitioner-type option[value=generalpractitioner]").attr("disabled","true");
        $("#practitioner-type option[value=dentist]").attr("disabled","true");
        $("#practitioner-type option[value=optometrist]").attr("disabled","true");
      } else {
        $("#under-80-notice-container").hide();
        $("#practitioner-type option[value=generalpractitioner]").removeAttr("disabled");
        $("#practitioner-type option[value=dentist]").removeAttr("disabled");
        $("#practitioner-type option[value=optometrist]").removeAttr("disabled");
      }
    }

  });

</script>