<div id="open-cancel-return-modal" class="modal-window">
	<div>
		<h2>Are you sure you want to cancel this booking?</h2>
		<p>This action cannot be undone. Note that your return trip will also be cancelled.</p>
		<div class="modal-buttons">
			<button class="uikit-btn" onclick="window.location.href = '/auth/transport/index?state=one-return'">Cancel booking</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Close</button>
		</div>
	</div>
</div>
