<div id="open-delete-item-modal" class="modal-window">
	<div>
		<!-- <a href="#modal-close" title="Close" class="modal-close">Close</a> -->
		<h2>Are you sure you want to delete this item?</h2>
		<p>This action cannot be undone.</p>
		<div class="modal-buttons">
			<button class="uikit-btn" onclick="window.location.href = '/auth/transport/index?state=no-trips'">Delete</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
		</div>
	</div>
</div>
