<div id="state-switcher">
  <h3>State switcher</h3>

  <%#- include(partials+"components/form-partials/radio", {
    label: "Client",
    boxes: [
      "VEA",
      "MRCA/DRCA"
    ],
    id: "cohort"
  }); %>
  
  <%- include(partials+"components/form-partials/radio", {
    label: "Past trips",
    boxes: [
      "None",
      "Many"
    ],
    id: "past-trips"
  }); %>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Notification submitted successfully"
    ],
    id: "notify-success",
    customClass: "margin-below--none"
  }); %>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Can't find client"
    ],
    id: "cant-find-client",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  $(document).ready(function () {

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('input[name=past-trips]').change(function () {
      state = $(this).val();
      stateSwitcher();
    });

    $('input[name=cohort]').change(function () {
      cohort = $(this).val();
      console.log( cohort )
      stateSwitcher();
    });

  });

  $('#notify-success-1').change(function () {
    updateNotify();
  });

  function updateNotify() {
    var myStatus = $("#notify-success-1").is(":checked");
    if (myStatus) {
      $("#success-container").show();
    } else {
      $("#success-container").hide();
    }
  }

  $('#cant-find-client-1').change(function () {
    updateCantFind();
  });

  function updateCantFind() {
    var myStatus = $("#cant-find-client-1").is(":checked");
    if (myStatus) {
      $("#cant-find-container").show();
      $("#book").hide();
      $("#past-trips").hide();
    } else {
      $("#cant-find-container").hide();
      $("#book").show();
      $("#past-trips").show();
    }
  }

</script>