<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "Past trips",
    boxes: [
      "None",
      "One",
      "Two"
    ],
    id: "past-trips"
  }); %>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Notification submitted successfully"
    ],
    id: "notify-success",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  var pastTransactions;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $("#past-trips-1").prop("checked", true);
    $('input[name=past-trips]').change(function () {
      pastTrips = $(this).val();
      stateSwitcher();
    });

    $('#notify-success-1').change(function() {
    updateNotify();  
  });

  function updateNotify() {
    var myStatus = $("#notify-success-1").is(":checked");
    if ( myStatus ) {
        $("#success-container").show();
    } else {
      $("#success-container").hide();
    }
  }  

  });

</script>