<%- include(templates+"header-default", {
  claim: "Transport",
  heading: "Transport bookings",
  modifiers: ["bg-gray"]
}) %>

  <h2>Upcoming travel bookings</h2>

  <table class="table-new">
    <thead>
      <tr>
        <th>When</th>
        <th>Pick up from</th>
        <th>Going to</th>
        <th>Booking Ref / Provider</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11:40 am Wed 21 Dec 2019</td>
        <td>330 Brunswick St, Fortitude Valley QLD 4006</td>
        <td>Unit 2/371 Queen St, Brisbane City QLD 4000</td>
        <td>0000000000 Elite Taxi's</td>
        <td>Submitted</td>
        <td>
          <button class="icon-to-text style-less-button" style="padding: 0; color: darkslategray; font-weight: 500; font-size: 1rem; display: inline;"><span style="border-bottom: 1px solid mediumblue; ">Edit</span><i class="far fa-lg fa-pencil-alt"></i></button>
        </td>
        <td>
          <button class="icon-to-text style-less-button" style="padding: 0; color: darkslategray; font-weight: 500; font-size: 1rem; display: inline;"><span style="border-bottom: 1px solid mediumblue; ">Cancel</span><i class="fas fa-lg fa-trash"></i></button>
        </td>
      </tr>
      <tr>
        <td>1:40 pm Wed 21 Dec 2019</td>
        <td>Unit 2/371 Queen St, Brisbane City QLD 4000</td>
        <td>330 Brunswick St, Fortitude Valley QLD 4006</td>
        <td>0000000001 Elite Taxi's</td>
        <td>Submitted</td>
        <td>
          <button class="icon-to-text style-less-button" style="padding: 0; color: darkslategray; font-weight: 500; font-size: 1rem; display: inline;"><span style="border-bottom: 1px solid mediumblue; ">Cancel</span><i class="fas fa-lg fa-trash"></i></button>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>

<%- include(templates+"footer") %>