<%- include(partials+"components/form-partials/dropdown", {
    id: "provider",
    label: "Select medical provider or enter new",
    options: [
        {
          text: "-- Select provider --"
        },
        { 
          text: "Doctor Karl Practice 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        { 
          text: "Capital Hospital / Dr Jane Smith 1245 Dax Crossing Apt. Melrose place, NSW 2897"
        },
        { 
          text: "Dr Al Appleton, 334 Heathcliff Rd, Melrose place, NSW 2045"
        },
        { 
          text: "Dr Geneview Shey, Mapletree Practice, L2 145 Trent St, Salsbury NSW 2034"
        },
        {
          text: "<strong>Enter new destination</strong>"
        }
      ]
  }); %>

<div class="going-to-enter" hidden>

  <%- include(partials+"components/form-partials/dropdown", {
      label: "Type of practitioner",
      id: "practitioner-type",
      options: [
        "-- Select type --",
        "Allied health services",
        "Dentist",
        "General practitioner",
        "Medical Specialist rooms",
        "Optical provider",
        "Orthopaedic surgeon",
        "Pathology",
        "Providers of prosthetics",
        "Radiology / XRAY",
        "Other (show for gold card only)"   
      ]
    }); %>

  <%- include(partials+"components/form-partials/text", {
        label: "Practice/Doctor's name",
        hint: "(optional)"
      }); %>
  <%- include(partials+"components/form-partials/text", {
        label: "Phone number",
        hint: 'Please include area code where applicable (for example, "03" for Victoria or "04" for mobile',
        modifiers: ["hintNewLine"]
      }); %>

  <div class="form-group margin-below--large" id="address-lookup-container">
    <label for="text470" class="uikit-text-input__label">
      Address<span class="hint margin-above--none margin-below--none"> (start typing address)</span></label>
    <input type="text" name="address" list="address-lookup" />
    <datalist id="address-lookup">
      <option value="334 Heathcliff Rd, Melrose place, NSW 2045">334 Heathcliff Rd, Melrose place, NSW 2045</option>
      <option value="L2 145 Trent St, Salsbury NSW 2034">L2 145 Trent St, Salsbury NSW 2034</option>
      <option value="1245 Dax Crossing Apt. Melrose place, NSW 2897">1245 Dax Crossing Apt. Melrose place, NSW 2897
      </option>
      <option value="Enter address">Enter new address</option>
    </datalist>
  </div>

</div>

<div class="manualinput" hidden>
  <form class="responsive-form margin-below--extra">
    <div class="form-group col-12">
      <label for="text937" class="uikit-text-input__label">
        Building name<span class="hint "> (optional)</span></label>
        <input type="text" class="uikit-text-input">
    </div>
    <div class="form-group col-3">
      <label for="text756" class="uikit-text-input__label">
        Street / unit number</label>
      <input type="text" class="uikit-text-input">
    </div>
    <div class="form-group col-6">
      <label for="text296" class="uikit-text-input__label">
        Street name</label>
      <input type="text" class="uikit-text-input">
    </div>
    <div class="form-group col-3">
      <label for="text793" class="uikit-text-input__label">
        Street type</label>
      <input type="text" class="uikit-text-input">
    </div>
    <div class="form-group col-6">
      <label for="text997" class="uikit-text-input__label">
        Suburb</label>
      <input type="text" class="uikit-text-input">
    </div>
    <div class="form-group formPartials_dropdown col-3">
      <label for="dropdown340" class="uikit-text-input__label">
        State</label>
      <select class="uikit-text-input">
        <option value="selectstate">
          -- Select state --
        </option>
        <option value="act">
          Australian Capital Territory
        </option>
        <option value="nsw">
          New South Wales
        </option>
        <option value="nt">
          Northern Territory
        </option>
        <option value="qld">
          Queensland
        </option>
        <option value="sa">
          South Australia
        </option>
        <option value="tas">
          Tasmania
        </option>
        <option value="vic">
          Victoria
        </option>
        <option value="wa">
          Western Australia
        </option>
      </select>
    </div>
    <div class="form-group col-3">
      <label for="text929" class="uikit-text-input__label">
        Postcode</label>
      <input type="text" class="uikit-text-input">
    </div>
  </form>
  
</div>