<%- include(templates+"header", {
  claim: "Reimbursements",
  heading: "Claim for travelling expenses",
}) %>

<!-- <div id="add-children">
    <p><b>Add details of your children under 16 years of age and full time students under 25 years of age who are dependent on you.</b>
  </div> -->

  Claim for treatment etc
  <hr>
        
  <%#- include(partials+"components/form-partials/notice", {
    message: "<p>Where possible DVA will use your treating medical practitioners to provide an assessment. If we cannot use your treating practitioner we will arrange an assessment for you.</p><p>If you are a serving member be aware that on-base doctors may not be able to provide an assessment.</p><p></p> ",
    type: "alert",
    id: "treating-doctor"
  }); %>
  
  <!-- <div id="user-list">
    <%#- include("dependant-card") %>
  </div> -->
  
  <button id="new-claim" class="uikit-btn margin-below"><span class="fal fa-plus-circle fa-lg"></span>&nbsp;&nbsp;Add expense</button>


  <%#- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/claim/cshc/cshc-03"
    },


      {
        text: "Save and next",
        link: "/auth/claim/cshc/cshc-05",
        modifiers: ["floated", "primary"]
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

<%- include(templates+"footer") %>


  <script>

$("#new-claim").on("click", function() {

        window.location.href = "/auth/transport/transport-claim-02";
    
    })
     
    </script>