<%- include(templates+"header", {
  heading: "Claim for travelling expenses",
  claim: "Travelling expenses"
}) %>

<style>

.items {
  border-top: 2px solid #000;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.items .item {
	float: left;
  box-sizing: border-box;
  background: #fff;
  color: #171e42;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
.items .item.header {
  background-color: #eee;
  border-bottom: 1px solid #000;
  font-weight: bold;
}
.items .item.a {
  width: 15%;
}
.items .item.b {
  width: 20%;
}
.items .item.c {
  width: 20%;
}
.items .item.d {
  width: 20%;
}
.items .item.e {
  width: 15%;
  text-align: right;
}
.items .item.f {
  width: 10%;
  text-align: right;
}
.pseudoRow {
  clear: both;
}
.footer {
  border-top: 1px solid #000;
  padding: 12px;
  font-weight: bold;
  padding-right: 85px;
  clear: both;
}
</style>

<div class="items">
    <div class="pseudoRow">
      <div class="item header a">Date</div>
      <div class="item header b">Provider</div>
      <div class="item header c">Cost type</div>
      <div class="item header d">Details</div>
      <div class="item header e">Amount</div>
      <div class="item header f">&nbsp;</div>
    </div>
  <div class="pseudoRow">
    <div class="item a">21/04/2019</div>
    <div class="item b">Dr Carl</div>
    <div class="item c">Public transport</div>
    <div class="item d">46 kms</div>
    <div class="item e">(TBD)</div>
    <div class="item f"><span class="fal fa-pencil fa-lg"></span>&nbsp;&nbsp;<span class="fal fa-trash-alt fa-lg"></span></div>
  </div>
  <div class="pseudoRow">
    <div class="item a">23/04/2019</div>
    <div class="item b">Capital Hospital</div>
    <div class="item c">Taxi</div>
    <div class="item d">46 kms</div>
    <div class="item e">$45.20</div>
    <div class="item f"><span class="fal fa-pencil fa-lg"></span>&nbsp;&nbsp;<span class="fal fa-trash-alt fa-lg"></span></div>
  </div>
  <div class="pseudoRow">
      <div class="item a" style="height: 75px;">23/04/2019</div>
      <div class="item b" style="height: 75px;">Capital Hospital</div>
      <div class="item c" style="height: 75px;">Accommodation - commercial</div>
      <div class="item d" style="height: 75px;">2 nights + attendant</div>
      <div class="item e" style="height: 75px;">$485.68</div>
      <div class="item f" style="height: 75px;"><span class="fal fa-pencil fa-lg"></span>&nbsp;&nbsp;<span class="fal fa-trash-alt fa-lg"></span></div>
  </div>
  <div class="pseudoRow">
      <div class="item a">21/04/2019</div>
      <div class="item b">Dr Carl</div>
      <div class="item c">Air</div>
      <div class="item d">Arranged by DVA</div>
      <div class="item e">$786.55</div>
      <div class="item f"><span class="fal fa-pencil fa-lg"></span>&nbsp;&nbsp;<span class="fal fa-trash-alt fa-lg"></span></div>
    </div>
  <div class="pseudoRow">
    <div class="footer">
      Total claim amount<span class="floated">$280.98</span>
    </div>
  </div>

  
</div>



<button id="new-claim" class="uikit-btn margin-below"><span class="fal fa-plus-circle fa-lg"></span>&nbsp;&nbsp;Add another expense</button>



<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Cancel",
      link: "#open-modal"
    },
    {
      text: "Submit",
      link: "/auth/transport/transport-claim-04",
      modifiers: ["floated"]
    }
  ]
}) %>





<%- include(templates+"footer") %>


<script>

    $(document).ready(function () {
    
      $("#new-claim").on("click", function() {
        window.location.href = "/auth/transport/transport-claim-02";
      })
    
      $(".fa-pencil").on("click", function() {
        window.location.href = "/auth/transport/transport-claim-02";
      })
    
    })
    
    
    
         
        </script>
