<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar.ejs %>
  <% include ../../global/partials/header-authenticated.ejs %>
  <main>
    <section>
      <div class="section-feature section-feature--bg margin-above--none" id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>
                <span class="heading">Transport</span>
              </h1>
            </div>
          </div>
        </div>
      </div> 
    </section>

  <div class="container margin-above--extra margin-below--extra">
    <div class="row">
      <div class="col-sm-12">
      <h2>You may be eligible for transport services</h2>
        <p>You can make a booking or seek reimbursement for travel using <a href="#open-myaccount-modal" rel="external">MyAccount</a>.</p>
      </div>
    </div>
  </div>

  </main>

  <% include ../../global/partials/footer.ejs %>


</body>

</html>