<%- include(templates+"header", {
  heading: "Claim for travelling expenses",
  claim: "Travelling expenses"
}) %>

<style>

.items {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.items .item {
	float: left;
  box-sizing: border-box;
  background: #fff;
  color: #171e42;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
.items .item.header {
  background-color: #eee;
  border-bottom: 1px solid #000;
  font-weight: bold;
}
.items .item.a {
  width: 15%;
}
.items .item.b {
  width: 20%;
}
.items .item.c {
  width: 20%;
}
.items .item.d {
  width: 20%;
}
.items .item.e {
  width: 15%;
  text-align: right;
}
.items .item.f {
  width: 10%;
  text-align: right;
}
.pseudoRow {
  clear: both;
}
.footer {
  border-top: 1px solid #000;
  padding: 12px;
  font-weight: bold;
  padding-right: 85px;
  clear: both;
}
</style>


<p class="margin-above">You are able to claim for travelling expenses relating to:</p>
<ul>
  <li>Treatment</li>
  <li>A disability claim</li>
  <li>an invalidity income support claim</li>
</ul>
<p>For information about eligibility see the <a href="https://www.dva.gov.au/factsheet-hsv02-claiming-travelling-expenses-under-repatriation-transport-scheme" class="link-external">fact sheet</a>.</p> 



<div style="background-color: black; height: 2px;"></div>


<button id="new-claim" class="uikit-btn margin-below margin-above"><span class="fal fa-plus-circle fa-lg"></span>&nbsp;&nbsp;Add expense</button>



<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Cancel",
      link: "#claim-cancel-modal"
    },
    {
      text: "Submit",
      link: "/auth/transport/transport-claim-04",
      modifiers: ["floated", "disabled"]
    }
  ]
}) %>



<%- include(templates+"footer") %>


<script>

    $(document).ready(function () {
    
      $("#new-claim").on("click", function() {
        window.location.href = "/auth/transport/transport-claim-02";
      })
    
      $(".fa-pencil").on("click", function() {
        window.location.href = "/auth/transport/transport-claim-02";
      })
    
    })
    
    
    
         
        </script>
