<% if (locals.el.optionalID) { 
  var id = locals.el.optionalID;
} else {

    var id = locals.el.question.replace(/ +/g, '_').replace(/\?/g, "").toLowerCase(); 

}

%>
<% if (locals.el.optionalHide === true) { %>
<style>
  #<%=id %> {
    display: none;
  }
</style>
<% } %>

<div class="form-group" id="<%= id %>">
  <fieldset>
    <label class="uikit-text-input__label"><%= locals.el.question %>
      <span class="hint">(dd / mm / yyyy)</span>
    </label>
    <input class="uikit-text-input dd" type="number" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> 
    <input class="uikit-text-input mm" type="number" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> 
    <input class="uikit-text-input yyyy" type="number" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
  </fieldset>
</div>
