<%- include(templates+"header", {
  claim: "Incapacity Payments"
})%>
    </div>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Required documents</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-above--extra margin-below--extra">

            <h3>We need some documents from you to process your claim <span class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum
                file size is 50MB.</span></h3>

            <h2 class="margin-above">What we need</h2>

            <div class="mys-file-uploads__items">

              <!-- Tax file number declaration -->
              <div id="doc-tax" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><b>Tax file declaration form</b></div>
                        <div>You can get this form from the <a href="https://www.ato.gov.au/forms/tfn-declaration/" rel="external" target="_blank">ATO website</a>&nbsp;
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">The tax file number declaration form allows us to work out how much tax to withhold from
                                your&nbsp;Incapacity&nbsp;Payments.
                              </div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                        <!-- <div>If this is not provided, you will be taxed 47% after 28 days of receiving payments</div> -->
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>

              <!-- Medical Evidence -->
              <div id="doc-medical" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><b>Medical certificate</b></div>
                        <div>Get this from your treating practitioner.
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">Medical evidence supports your claim for how your conditions are affecting your ability&nbsp;to&nbsp;work.
                              </div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                        <div class="margin-above">
                          <div style="margin-bottom: 10px;">Your medical certificate must include the following:</div>
                          <ul>
                            <li>The condition/s affecting your capacity to work</li>
                            <li>How many hours you can work</li>
                            <li>Any restrictions in your job</li>
                            <li>How long you will be incapacitated to work (including start and end date)</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>

              <!-- Proof of discharge -->
              <div id="doc-discharge" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><b>Proof of discharge</b></div>
                        <div>For example your Discharge Signal, a DM042 or MECRB.
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">Proof of discharge helps calculate your entitlements. If you don’t have this document, you can request a
                                copy&nbsp;from&nbsp;Defence.</div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>

              <!-- Proof of employment -->

              <div id="doc-civilian-earnings" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><b>Proof of civilian earnings</b></div>
                        <div>For example payslips, financial statements or current/last work contract.<br>If claiming for previous employment, we also need a separation
                          certificate or
                          similar.
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">Proof of civilian earnings are compared to your military earnings to calculate&nbsp;possible&nbsp;entitlements.</div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>
              <!-- Proof of military earnings -->
              <div id="doc-military-earnings" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><b>Proof of military earnings</b></div>
                        <div>Provide your last military payslip
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">Proof of military earnings helps us determine your normal earnings. This is used to calculate
                                your&nbsp;Incapacity&nbsp;Payments.
                              </div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                        <div class="margin-above">
                          <div style="margin-bottom: 10px;">We also need:</div>
                          <ul>
                            <li>a military payslip that shows the allowances you were receiving before your&nbsp;loss&nbsp;occurred.</li>
                            <li>proof of your loss in career progression. For example, proof of&nbsp;promotion.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>


              <!-- Proof of Reserve earnings -->
              <div id="doc-military-earnings" class="mys-file-uploads__item-border">
                <div class="mys-file-uploads__item mys-file-uploads__item--required">
                  <div class="mys-file-uploads__l-status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Success</div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__info">
                    <div class="mys-file-uploads__info-item">
                      <div class="mys-file-uploads__value">
                        <div><b>Proof of Reserve earnings</b></div>
                        <div>Provide your most recent military payslip from your time in the Reserves
                          <div class="tooltip">
                            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                              <div class="tooltip__label tooltip__label--icon-only">
                                <a>Why do I need to provide this?</a>
                              </div>
                              <div class="tooltip__tab"></div>
                            </div>
                            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                              <div class="tooltip__message">Your Reserve earnings are used to calculate your&nbsp;Incapacity&nbsp;Payments.
                              </div>
                              <div class="tooltip__close" role="button" tabindex="0">Close</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mys-file-uploads__item-actions">
                    <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="uikit-page-alerts uikit-page-alerts--warning margin-above--large margin-below--extra">
              <p class="ss-align">You can still submit this claim without providing the documents above, but we will need them before we can determine
                your&nbsp;claim.</p>
            </div>
            <div id="document-information" class="margin-above--extra">
              <fieldset class="form-group">
                <h4 class="uikit-text-input__label margin-above--none" for="textArea">Is there anything you wanted to tell us about the documents we need? <span
                    class="hint">(optional)</span></h4>
                <textarea id="textArea" name="statementText" rows="4"></textarea>
              </fieldset>
            </div>
          </div>
          <%- include(forms+"pagination", {
            pagination: [
              {
                text: "Previous",
                link: "/auth/claim/incap/prgoress-d"
              },
              {
                text: "Cancel claim",
                link: "#open-modal"
              },
              {
                text: "Save and exit",
                link: "/auth/claim",
                modifiers: ["floated"]
              },
              {
                text: "Save and next",
                link: "/auth/claim/incap/progress-c",
                modifiers: ["floated", "primary"]
              }
            ]
          }) %>
        </div>
      </div>
    </div>
    <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>
  </main>
  <%- include(templates+"footer") %>