<%- include(templates+"header", {
  title: "Incapacity Payments"
})%>

<h2>DIFFERENT TEXT HERE</h2>

<div class="margin-above--large margin-below--extra">
    <div id="progressbar">
        <div id="percentage">
            <p id="percentage_value">5% complete</p>
        </div>
    </div>
    <p style="padding-top:0.4em;">5% complete</p>
</div>

<div class="claim-progress-category">

    <!-- Part A -->
    <div class="claim-progress-category__item claim-progress-category--active">
        <a class="claim-progress-category__link
            claim-progress-category__link--active" href="/auth/claim/incap/annual-review-part-a">
            <div class="claim-progress-category__wrapper">
                <div class="claim-progress-category__status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--active">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Active</div>
                    </div>
                </div>

                <div class="claim-progress-category__label">
                    <h3 class="claim-progress-category__heading">Part A - More general text here</h3>
                    <p class="claim-progress-category__description">Different text here.</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Part B -->
    <div class="claim-progress-category__item claim-progress-category--disabled">
        <div class="claim-progress-category__wrapper">
            <div class="claim-progress-category__status">
                <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                    <div class="mys-file-uploads__status-icon"></div>
                    <div class="mys-file-uploads__status-sr">Not yet available</div>
                </div>
            </div>
            <div class="claim-progress-category__label">
                <h3 class="claim-progress-category__heading">Part B - Personal details</h3>
                <p class="claim-progress-category__description">Tell us more about your circumstances.</p>
            </div>
        </div>
    </div>

    <!-- Part C -->
    <div class="claim-progress-category__item claim-progress-category--disabled">
        <div class="claim-progress-category__wrapper">
            <div class="claim-progress-category__status">
                <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                    <div class="mys-file-uploads__status-icon"></div>
                    <div class="mys-file-uploads__status-sr">Not yet available</div>
                </div>
            </div>
            <div class="claim-progress-category__label">
                <h3 class="claim-progress-category__heading">Part C - Required documents</h3>
                <p class="claim-progress-category__description">Upload supporting documents for your&nbsp;claim.</p>
            </div>
        </div>
    </div>

</div>

</div>
<div class="container container--8-column">
    <%- include(forms+"pagination", {
          pagination: [
            {
              text: "Previous",
              link: "/auth/claim"
            },
            {
              text: "Cancel claim",
              link: "#open-modal"
            },
            {
              text: "Save and exit",
              link: "/auth/claim",
              modifiers: ["floated"]
            },
            {
              text: "Review and submit",
              link: "/auth/claim/incap/review",
              modifiers: ["floated", "primary"]
            }
          ]
        }) %>
</div>

</div>
</div>
</div>

<%- include(partials+"content/modals/claims-cancel-modal") %>

</main>
<script>
    $(Document).ready(function () {
        localStorage.clear();
        // Progress percentage
        document.getElementById("percentage").style.width = "5%";
        document.getElementById("percentage_value").textContent = "5%";
    });
</script>
<%- include(templates+"footer") %>