<%- include(templates+"header", {
  claim: "Incapacity Payments"
})%>

<div class="container container--8-column">
    <div class="margin-above--extra margin-below--extra">

        <h2>Great work Claire. DIFFERENT TEXT HERE.</h2>

        <div class="margin-above--large margin-below--extra">
            <div id="progressbar">
                <div id="percentage">
                    <p id="percentage_value">30% complete</p>
                </div>
            </div>
            <p style="padding-top:0.4em;">30% complete</p>
        </div>

        <div class="claim-progress-category">

            <!-- Part A -->
            <div class="claim-progress-category__item claim-progress-category--done">
                <a id="part-a" class="claim-progress-category__link" href="/auth/claim/incap/a-1">
                    <div class="claim-progress-category__wrapper">
                        <div class="claim-progress-category__status">
                            <div class="mys-file-uploads__status mys-file-uploads__status--success">
                                <div class="mys-file-uploads__status-icon"></div>
                                <div class="mys-file-uploads__status-sr">Success</div>
                            </div>
                        </div>

                        <div class="claim-progress-category__label">
                            <h3 class="claim-progress-category__heading"><span
                                    class="claim-progress-category__heading--active">Part A - Change this text</span>
                            </h3>
                            <p class="claim-progress-category__description">Different text here.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Part B -->
            <div class="claim-progress-category__item claim-progress-category--active">
                <a id="part-b" class="claim-progress-category__link claim-progress-category__link--active">
                    <div class="claim-progress-category__wrapper">
                        <div class="claim-progress-category__status">
                            <div class="mys-file-uploads__status mys-file-uploads__status--active">
                                <div class="mys-file-uploads__status-icon"></div>
                                <div class="mys-file-uploads__status-sr">Active</div>
                            </div>
                        </div>
                        <div class="claim-progress-category__label">
                            <h3 class="claim-progress-category__heading"><span
                                    class="claim-progress-category__heading--active">Part B - Different text</span></h3>
                            <p class="claim-progress-category__description">Different text here.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Part C -->
            <div class="claim-progress-category__item claim-progress-category--disabled">
                <div class="claim-progress-category__wrapper">
                    <div class="claim-progress-category__status">
                        <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                            <div class="mys-file-uploads__status-icon"></div>
                            <div class="mys-file-uploads__status-sr">Not yet available</div>
                        </div>
                    </div>
                    <div class="claim-progress-category__label">
                        <h3 class="claim-progress-category__heading">Part C - Required documents</h3>
                        <p class="claim-progress-category__description">Upload supporting documents for your&nbsp;claim.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <%- include(forms+"pagination", {
          pagination: [
            {
              text: "Previous",
              link: "/auth/claim"
            },
            {
              text: "Cancel claim",
              link: "#open-modal"
            },
            {
              text: "Save and exit",
              link: "/auth/claim",
              modifiers: ["floated"]
            },
            {
              text: "Save and next",
              link: "/auth/claim/incap/review",
              modifiers: ["floated", "primary"]
            }
          ]
        }) %>
</div>

<%- include(partials+"content/modals/claims-cancel-modal") %>

</main>
<script>
    $(Document).ready(function () {
        $("#btnNext").click(function () {
            window.location.href = "/auth/claim/incap/review"
        });

        document.getElementById("percentage").style.width = "30%";
        document.getElementById("percentage_value").textContent = "30%";

        $("#part-b").click(function () {
            window.location.href = "/auth/claim/incap/annual-part-b-1"
        });
    });
</script>
<%- include(templates+"footer") %>