<%- include(templates+"header", {
  title: "Incapacity Payments"
})%>
    </div>
    <main>
        <section>
            <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
                <div class="container margin-above--none">
                    <h1 class="margin-above--none ss-align--center">
                        <span class="heading">Incapacity Payments summary</span>
                    </h1>
                </div>
            </div>

            <div>
                <div class="container" id="main-content">


                    <div class="mys-centred-item receipt-status">
                        <h2 class="status-icon status-icon--large status-submitted page-header margin-above--large">
                            Your claim for Incapacity Payments has been submitted
                        </h2>

                        <div class="uikit-page-alerts uikit-page-alerts--warning ss-align--center">
                            <p class="ss-align margin-below--mid">At the time you submitted this claim we still needed the following documents:</p>
                            <ul class="ss-align margin-below--mid">
                                <li>Discharge certificate</li>
                                <li>Proof of military earnings</li>
                            </ul>
                            <p class="ss-align">We will contact you with instructions on how to provide additional documents.</p>
                        </div>

                    </div>
                    <div class="flex-container flex-container--wrap">
                        <div class="flex-item flex-item--centred receipt">
                            <div class="receipt__heading ">

                                <h3 class="margin-above--none ss-align">
                                    Submitted on 27 November 2018
                                </h3>

                            </div>
                            <div class="receipt__content">
                                <div class="container-fluid claim-summary">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Lost earnings</h2>
                                        </div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-xs-12 ss-align--left">&#10003;&nbsp;&nbsp; I am/was earning less in my civilian employment than I was in the ADF</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Your conditions that relate to this claim</h2>
                                        </div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-xs-12 ss-align--left">depression</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-xs-12 ss-align--left">osteoarthritis</div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Service history</h2>
                                        </div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Date of discharge:</div>
                                        <div class="col-sm-7">11 / 08 / 2018</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Reason for discharge:</div>
                                        <div class="col-sm-7">Medical</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Rank at date of discharge:</div>
                                        <div class="col-sm-7">92764839876</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Paygroup at discharge:</div>
                                        <div class="col-sm-7">03</div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Employment</h2>
                                        </div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Is this your current job?</div>
                                        <div class="col-sm-7">yes</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Type of employment:</div>
                                        <div class="col-sm-7">Full-time</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Name of employer</div>
                                        <div class="col-sm-7">Body Crafters - Personal Training</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Contact phone number:</div>
                                        <div class="col-sm-7">(02) 6123 4567</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Hours worked per week:</div>
                                        <div class="col-sm-7">20</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Gross weekly earnings:</div>
                                        <div class="col-sm-7">$650.00</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">When did you work here?</div>
                                        <div class="col-sm-7">04 / 10 / 2018 - present day</div>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Medical practitioner details</h2>
                                        </div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Type of practitioner:</div>
                                        <div class="col-sm-7">GP</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Doctor's name:</div>
                                        <div class="col-sm-7">Dr Kate Snow</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Practice name:</div>
                                        <div class="col-sm-7">Belconnen Medical Centre</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Suburb:</div>
                                        <div class="col-sm-7">Belconnen</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Contact phone number:</div>
                                        <div class="col-sm-7">(02) 6123 4567</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Have you seen this practitioner in the last 6 months?</div>
                                        <div class="col-sm-7">Yes</div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Nominated representative</h2>
                                        </div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Representative type:</div>
                                        <div class="col-sm-7">Ex-Service organisation</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Contact name:</div>
                                        <div class="col-sm-7">Mr Ned Brownstone</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Organisation / Business name:</div>
                                        <div class="col-sm-7">Kingston RSL</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Phone number:</div>
                                        <div class="col-sm-7">(02) 6123 4567</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Email address:</div>
                                        <div class="col-sm-7">ned.brownstone@gmail.com</div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Compensation damages action</h2>
                                        </div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-xs-10 ss-align--left">Have you or your solicitor commenced, intend to commence, or finalised a common law (Third Party) or State Workers Compensation damages action?
                                        </div>
                                        <div class="col-xs-2">No</div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Bank details</h2>
                                        </div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Account name:</div>
                                        <div class="col-sm-7">Mr James Conroy</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Account number:</div>
                                        <div class="col-sm-7">7123 8876 0023</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">BSB:</div>
                                        <div class="col-sm-7">654 - 788</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-sm-5">Financial Institution:</div>
                                        <div class="col-sm-7">ANZ Bank</div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h2>Required documents</h2>
                                        </div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-xs-7 ss-align--left">&#10003;&nbsp;&nbsp; Tax file number declaration</div>
                                        <div class="col-xs-5">Uploaded</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-xs-7 ss-align--left">&#10003;&nbsp;&nbsp; Medical evidence</div>
                                        <div class="col-xs-5">Uploaded</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-xs-7 ss-align--left">&#10003;&nbsp;&nbsp; Proof of civilian earning</div>
                                        <div class="col-xs-5">Uploaded</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-xs-7 ss-align--left">&times;&nbsp;&nbsp; Discharge certificate</div>
                                        <div class="col-xs-5">Not provided at time of claim</div>
                                    </div>
                                    <div class="row claim-summary__data">
                                        <div class="col-xs-7 ss-align--left">&times;&nbsp;&nbsp; Proof of military earnings</div>
                                        <div class="col-xs-5">Not provided at time of claim</div>
                                    </div>

                                </div>
                            </div>
                            <%- include(forms+"pagination", {
                              pagination: [
                                {
                                  text: "See all my claims",
                                  link: "/auth/claim"
                                },
                                {
                                  text: "Print",
                                  link: "#",
                                  modifiers: ["floated", "primary"]
                                }
                              ]
                            }) %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%- include(partials+"components/layout/footer") %>

        </body>

        </html>