<%- include(templates+"header", {
  title: "Incapacity Payments"
})%>
    </div>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="container margin-above--none">

                <!-- Progress bar -->
                <div class="col-xs-12">
                    <nav>
                        <ul class="progress-container">
                            <li class="progress-step progress-step--done">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Employment</p>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="/auth/claim/incap/b-2">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Medical<br />Practitioners</p>
                                </a>
                            </li>
                            <li class="progress-step progress-step--active">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Rehabilitation</p>
                                <li class="progress-step">
                                    <a href="/auth/claim/incap/b-4">
                                        <span class="progress-step__icon"></span>
                                        <p class="progress-step-label">Other Benefits</p>
                                    </a>
                                </li>
                                <li class="progress-step progress-step">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Nominated<br />representative</p>
                                </li>
                                <li class="progress-step progress-step">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Bank details</p>
                                </li>
                                <li class="progress-step progress-step--last">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Compensation <br />Damages&nbsp;Action</p>
                                </li>
                        </ul>
                    </nav>
                </div>

                <h1 class="margin-above--none ss-align--center">
                    <span class="heading">Rehabilitation</span>
                </h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">

                    <div class="margin-above--extra margin-below--extra">





                        <!-- start rehab assessment referall -->
                        <h3 class="margin-below--mid">Would you like to be referred for a rehabilitation assessment?</h3>

                        <div class="referred-rehabilitation-assessment">
                            <!-- radio button/switch Yes/No  -->
                            <legend class="legend-label"></legend>
                            <div class="form-group rehabilitation-assessment">
                                <div class="radio-toggle">
                                    <label class="on label-left" for="rehabilitation-assessment-yes">
                    <input id="rehabilitation-assessment-yes" type="radio" name="rehabilitation-assessment">
                    <span>Yes</span>
                  </label>
                                    <label class="off label-right" for="rehabilitation-assessment-no">
                    <input id="rehabilitation-assessment-no" type="radio" name="rehabilitation-assessment">
                    <span>No</span>
                  </label>
                                </div>
                            </div>
                            <!-- end rehab assessment referall -->


                            <h3 class="margin-below--mid">Did you undertake any recognised course in the past 12 months, either part-time or full-time?</h3>

                            <!-- start recognised course -->
                            <div class="recognised-course-past-12-months">
                                <!-- radio button/switch Yes/No  -->
                                <div class="form-group">
                                    <div class="radio-toggle">
                                        <label class="on label-left" for="recognised-course-past-12-months-yes">
                      <input id="recognised-course-past-12-months-yes" type="radio" name="recognised-course-past-12-months">
                      <span>Yes</span>
                    </label>
                                        <label class="off label-right" for="recognised-course-past-12-months-no">
                      <input id="recognised-course-past-12-months-no" type="radio" name="recognised-course-past-12-months">
                      <span>No</span>
                    </label>
                                    </div>
                                </div>


                                <!-- Yes flow -->
                                <div class="form-group recognised-course-past-12-months-group" style="display:none;">
                                    <label class="uikit-text-input__label" for="course-details" style="font-weight: 500;">Provide details</label>
                                    <textarea id="course-details" name="course-details" rows="4"></textarea>
                                </div>

                            </div>
                            <!-- end recognised course -->




                            <!-- start prison or hospital -->
                            <h3 class="margin-below--mid">Have you been in prison or admitted and maintained in a hospital, nursing home or similar place for a continuous period of 12 months or more?
                            </h3>

                            <legend class="legend-label"></legend>
                            <div class="form-group prison-or-similar">
                                <div class="radio-toggle">
                                    <label class="on label-left" for="prison-or-similar-yes">
                    <input id="prison-or-similar-yes" type="radio" name="prison-or-similar">
                    <span>Yes</span>
                  </label>
                                    <label class="off label-right" for="prison-or-similar-no">
                    <input id="prison-or-similar-no" type="radio" name="prison-or-similar">
                    <span>No</span>
                  </label>
                                </div>
                            </div>

                            <div class="form-group prison-or-similar-group" style="display:none;">
                                <label class="uikit-text-input__label" for="prison-or-similar-details">Provide
                  details
                </label>
                                <textarea id="prison-or-similar-details" name="prison-or-similar-details" rows="4"></textarea>
                            </div>
                            <!-- end prison or hospital -->







                            <%- include(forms+"pagination", {
                                      pagination: [
                                        {
                                          text: "Previous",
                                    link:
                                    "/auth/claim/incap/annual-review-part-b-2"
                                        },
                                        {
                                          text: "Cancel claim",
                                          link: "#open-modal"
                                        },
                                        {
                                          text: "Save and exit",
                                          link: "/auth/claim",
                                          modifiers: ["floated"]
                                        },
                                        {
                                          text: "Save and next",
                                    link:
                                    "/auth/claim/incap/annual-review-part-b-4",
                                          modifiers: ["floated", "primary"]
                                        }
                                      ]
                                    }) %>
                        </div>
                    </div>
                </div>

                <%- include(partials+"content/modals/claims-cancel-modal") %>
            </div>

    </main>

    <%- include(partials+"components/layout/footer") %>

        <script>
            $(function() {

                // prison or similar functionality
                $(document).on('click', '#prison-or-similar-yes, #prison-or-similar-yes > span', function() {
                    $(".prison-or-similar-group").show("fast");
                });

                $(document).on('click', '#prison-or-similar-no, #prison-or-similar-no > span', function() {
                    $(".prison-or-similar-group").hide("fast");
                });

                //recognised course functionality
                $(document).on('click', '#recognised-course-past-12-months-yes, #recognised-course-past-12-months-yes > span', function() {
                    $(".recognised-course-past-12-months-group").show("fast");
                });

                $(document).on('click', '#recognised-course-past-12-months-no, #recognised-course-past-12-months-no > span', function() {
                    $(".recognised-course-past-12-months-group").hide("fast");
                });

            });
        </script>

        </body>

        </html>