<%- include(templates+"header", {
  title: "Incapacity Payments"
})%>
    </div>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="container margin-above--none">

                <!-- Progress bar -->
                <div class="col-xs-12">
                    <nav>
                        <ul class="progress-container">
                            <li class="progress-step progress-step--done">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Employment</p>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="/auth/claim/incap/b-2">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Medical<br />Practitioners</p>
                                </a>
                            </li>
                            <li class="progress-step progress-step--done">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Rehabilitation</p>
                                <li class="progress-step progress-step--done">
                                    <a href="/auth/claim/incap/b-4">
                                        <span class="progress-step__icon"></span>
                                        <p class="progress-step-label">Other Benefits</p>
                                    </a>
                                </li>
                                <li class="progress-step progress-step--active">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Nominated<br />representative</p>
                                </li>
                                <li class="progress-step progress-step">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Bank details</p>
                                </li>
                                <li class="progress-step progress-step--last">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Compensation <br />Damages&nbsp;Action</p>
                                </li>
                        </ul>
                    </nav>
                </div>

                <h1 class="margin-above--none ss-align--center">
                    <span class="heading">Nominated Representative</span>
                </h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">

                    <div class="margin-above--extra margin-below--extra">

                        <fieldset id="nominated-representative">
                            <div class="form-group">
                                <legend class="legend-label">Do you wish to nominate a representative, organisation or lawyer to act for you in matters related to this claim?</legend>
                                <div class="radio-toggle">
                                    <label class="on label-left" for="nomrep-yes">
                    <input id="nomrep-yes" type="radio" name="nomrep">
                    <span>Yes</span>
                  </label>
                                    <label class="off label-right" for="nomrep-no">
                    <input id="nomrep-no" type="radio" name="nomrep">
                    <span>No</span>
                  </label>
                                </div>
                            </div>
                        </fieldset>

                        <!-- Nominated Representative details -->

                        <div id="nomrep-details" class="form-group">
                            <hr>
                            <h2>Representative details</h2>
                            <div class="form-group">
                                <label class="uikit-text-input__label" for="nomrep-type">Representative type</label>
                                <select class="uikit-text-input input-half" id="nomrep-type" name="nomrep-type">
                  <option>-- Select a type --</option>
                  <option>Ex-Service organisation</option>
                  <option>Legal</option>
                  <option>Other</option>
                </select>
                            </div>
                            <div class="form-group">
                                <label class="uikit-text-input__label" for="nomrep-name">Contact name</label>
                                <input class="uikit-text-input input-half" name="nomrep-name" id="nomrep-name" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label class="uikit-text-input__label" for="nomrep-org">Organisation / business name <span class="hint">(if applicable)</span></label>
                                <input class="uikit-text-input input-half" name="nomrep-org" id="nomrep-org" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label class="uikit-text-input__label" for="nomrep-phone">Contact phone number</label>
                                <input class="uikit-text-input input-half" name="nomrep-phone" id="nomrep-phone" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label class="uikit-text-input__label" for="nomrep-email">Email address</label>
                                <input class="uikit-text-input input-half" name="nomrep-email" id="nomrep-email" type="text" value="">
                            </div>
                        </div>

                        <!-- Save and next -->

                        <div class="form-group save-and-next" style="display:none;">
                            <p>Choose <b>save and next</b> to continue</p>
                        </div>

                    </div>
                    <%- include(forms+"pagination", {
            pagination: [
              {
                text: "Previous",
                link: "/auth/claim/incap/annual-review-part-b-4"
              },
              {
                text: "Cancel claim",
                link: "#open-modal"
              },
              {
                text: "Save and exit",
                link: "/auth/claim",
                modifiers: ["floated"]
              },
              {
                text: "Save and next",
                link: "/auth/claim/incap/annual-review-part-b-6",
                modifiers: ["floated", "primary"]
              }
            ]
          }) %>
                </div>
            </div>
        </div>

        <%- include(partials+"content/modals/claims-cancel-modal") %>
            </div>

    </main>
        <script>
            $(Document).ready(function() {
                $("#nomrep-details").hide();

                // Show and hide needs list
                $("#nomrep-yes").click(function() {
                    $("#nomrep-details").show("fast");
                    $(".save-and-next").hide();
                });
                $("#nomrep-no").click(function() {
                    $("#nomrep-details").hide();
                    $(".save-and-next").show("fast");
                });


            });
        </script>
<%- include(templates+"footer") %>