<%- include(templates+"header", {
  title: "Incapacity Payments",
  heading: "What has changed?"
})%>

    <div class="container container--8-column">
        <div id="lostincome" class="form-group">
            <h2>To determine your on-going Incapacity Payments, we need to know your current circumstance</h2>
            <h4>Tell us what has changed &nbsp;
                <div class="tooltip">
                    <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                        <div class="tooltip__label tooltip__label--icon-only">
                            <a>Text here</a>
                        </div>
                        <div class="tooltip__tab"></div>
                    </div>
                    <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                        <div class="tooltip__message">Longer text here</div>
                        <div class="tooltip__close" role="button" tabindex="0">Close</div>
                    </div>
                </div><span class="hint display-block">Choose all that apply:</span></h4>

            <div class="margin-below--mid lostincome stillserving">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="lossofallowance1" id="lossofallowance1">
                  <span class="uikit-control-input__text">My employment details</span>
                </label>
            </div>
            <div class="margin-below--mid lostincome stillserving">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="lossofallowance3" id="lossofallowance2">
                  <span class="uikit-control-input__text">My medical practitioners</span>
                </label>
            </div>
            <div class="margin-below--mid lostincome reserves">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="cfts" id="cfts">
                  <span class="uikit-control-input__text">My rehabilitation details</span>
                </label>
            </div>
            <div class="margin-below--mid lostincome reserves">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="civilianemployment" id="civilianemployment">
                  <span class="uikit-control-input__text">I started or finished studying</span>
                </label>
            </div>
            <div class="margin-below--mid lostincome reserves">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="cfts" id="cfts">
                  <span class="uikit-control-input__text">I accessed other income such as superannuation or payments from Centrelink</span>
                </label>
            </div>
            <div class="margin-below--mid lostincome transitioning">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="likelyearnless" id="likelyearnless">
                  <span class="uikit-control-input__text">My nominated representative details</span>
                </label>
            </div>
            <div class="margin-below--mid lostincome transitioning">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="likelyunemployed" id="likelyunemployed">
                  <span class="uikit-control-input__text">My bank account details</span>
                </label>
            </div>
            <div class="margin-below--mid lostincome dischargedreserves">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" name="incapongoing1" id="incapongoing1">
                  <span class="uikit-control-input__text">I started a Compensation damages action</span>
                </label>
            </div>

        </div>
        <%- include(forms+"pagination", {
          pagination: [
            {
              text: "Previous",
              link: "/auth/claim"
            },
            {
              text: "Cancel claim",
              link: "#open-modal"
            },
            {
              text: "Save and exit",
              link: "/auth/claim",
              modifiers: ["floated"]
            },
            {
              text: "Save and next",
              link: "/auth/claim/incap/annual-review-part-b-1",
              modifiers: ["floated", "primary"]
            }
          ]
        }) %>
    </div>

    <%- include(partials+"content/modals/claims-cancel-modal") %>

        </main>
            <script>
                $(Document).ready(function() {

                    localStorage.clear();

                    $("#btnNext").click(function() {

                        if ($("#lossofallowance1").is(':checked') || $("#lossofallowance2").is(':checked')) {
                            localStorage.setItem('flow1', true);
                        }
                        if ($("#earningless-now").is(':checked') || $("#unemployed-past").is(':checked') || $("#unemployed-now").is(':checked')) {
                            localStorage.removeItem('flow1');
                        }
                        if ($("#unemployed-past").is(':checked') || $("#unemployed-now").is(':checked')) {
                            localStorage.setItem('flow2', true);
                        }
                        if ($("#earningless-now").is(':checked')) {
                            localStorage.removeItem('flow2');
                        }

                        window.location.href = "/auth/claim/incap/annual-review-part-b-1"
                    });

                });
            </script>
<%- include(templates+"footer") %>