<%- include(templates+"header", {
  title: "Incapacity Payments"
})%>
    </div>
    <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="container margin-above--none">

                <!-- Progress bar -->
                <div class="col-xs-12">
                    <nav>
                        <ul class="progress-container">
                            <li class="progress-step progress-step--done">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Employment</p>
                            </li>
                            <li class="progress-step progress-step--done">
                                <a href="/auth/claim/incap/b-2">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Medical<br />Practitioners</p>
                                </a>
                            </li>
                            <li class="progress-step progress-step--done">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Rehabilitation</p>
                                <li class="progress-step progress-step--done">
                                    <a href="/auth/claim/incap/b-4">
                                        <span class="progress-step__icon"></span>
                                        <p class="progress-step-label">Other Benefits</p>
                                    </a>
                                </li>
                                <li class="progress-step progress-step--done">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Nominated<br />representative</p>
                                </li>
                                <li class="progress-step progress-step--done">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Bank details</p>
                                </li>
                                <li class="progress-step progress-step--last progress-step--active">
                                    <span class="progress-step__icon"></span>
                                    <p class="progress-step-label">Compensation <br />Damages&nbsp;Action</p>
                                </li>
                        </ul>
                    </nav>

                    <h1 class="margin-above--none ss-align--center">
                        <span class="heading">Compensation damages action</span>
                    </h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">

                        <div class="margin-above--extra margin-below--extra">

                            <h3 class="margin-below--mid">Have you or your legal representative commenced, intend to commence, or finalised a common law (Third Party) or State Workers Compensation damages action?</h3>

                            <!-- start compensation damges action -->
                            <div class="compensation-damages">
                                <!-- radio button/switch Yes/No  -->
                                <div class="form-group">
                                    <div class="radio-toggle">
                                        <label class="on label-left" for="compensation-damages-yes">
                        <input id="compensation-damages-yes" type="radio" name="compensation-damages">
                        <span>Yes</span>
                      </label>
                                        <label class="off label-right" for="compensation-damages-no">
                        <input id="compensation-damages-no" type="radio" name="compensation-damages">
                        <span>No</span>
                      </label>
                                    </div>
                                </div>

                                <!-- Yes flow -->
                                <div class="form-group compensation-damages-group" style="display:none;">
                                    <label class="uikit-text-input__label" for="compensation-damages-details" style="font-weight: 500;">Provide details</label>
                                    <textarea id="compensation-damages-details" name="compensation-damages-details" rows="4"></textarea>
                                </div>

                            </div>
                            <!-- end compensation damges action -->
                            <%- include(forms+"pagination", {
                              pagination: [
                                {
                                  text: "Previous",
                                  link: "/auth/claim/incap/annual-review-part-b-6"
                                },
                                {
                                  text: "Cancel claim",
                                  link: "#open-modal"
                                },
                                {
                                  text: "Save and exit",
                                  link: "/auth/claim",
                                  modifiers: ["floated"]
                                },
                                {
                                  text: "Save and next",
                                  link: "/auth/claim/",
                                  modifiers: ["floated", "primary"]
                                }
                              ]
                            }) %>
                        </div>
                    </div>
                </div>
                <%- include(partials+"content/modals/claims-cancel-modal") %>
            </div>
    </main>
    <%- include(partials+"components/layout/footer") %>

        <script>
            $(function() {
                // compensation damages functionality
                $(document).on('click', '#compensation-damages-yes, #compensation-damages-yes > span', function() {
                    $(".compensation-damages-group").show("fast");
                });

                $(document).on('click', '#compensation-damages-no, #compensation-damages-no > span', function() {
                    $(".compensation-damages-group").hide("fast");
                });

            });
        </script>

        </body>

        </html>