            <%- include(templates+"header", {
              title: "Incapacity Payments",
              heading: "Incapacity Payment document upload"
            })%>
            <div class="container container--8-column margin-above">
              <div class="uikit-page-alerts uikit-page-alerts--info ss-align--center">
                <p class="ss-align margin-below--mid">At the time you submitted this claim there were <b>two</b> more documents
                  required to determine your claim:</p>
                <ul class="ss-align margin-below--mid">
                  <li>Discharge certificate</li>
                  <li>Proof of military earnings</li>
                </ul>
                <p class="ss-align">Documents can be emailed to <a href="">myservicesupport@dva.gov.au</a></p>
              </div>
              <%- include(forms+"pagination", {
                pagination: [
                  {
                    text: "Previous",
                    link: "/auth/claim?user=INCAPuser-incomplete"
                  },
                  {
                    text: "Cancel claim",
                    link: "#open-modal"
                  },
                  {
                    text: "Save and exit",
                    link: "/auth/claim",
                    modifiers: ["floated"]
                  },
                  {
                    text: "Save and next",
                    link: "/auth/claim?user=INCAPuser-submitted",
                    modifiers: ["floated", "primary"]
                  }
                ]
              }) %>
            </div>
            <%- include(partials+"components/layout/footer") %>

            </html>