<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Incapacity Payments Document Upload | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Incapacity Payment document upload</span>
        </h1>
      </div>
    </div>

    <div class="container margin-above">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <!-- <h3>We still need some documents from you to process your claim <span class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum
              file size is 50MB.</span></h3>
          <p>Please upload and submit the documents below. </p>

          <div class="mys-file-uploads__items">

            <div id="doc-tax" class="mys-file-uploads__item-border">
              <div class="mys-file-uploads__item mys-file-uploads__item--required">
                <div class="mys-file-uploads__l-status">
                  <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                    <div class="mys-file-uploads__status-icon"></div>
                    <div class="mys-file-uploads__status-sr">Success</div>
                  </div>
                </div>
                <div class="mys-file-uploads__info">
                  <div class="mys-file-uploads__info-item">
                    <div class="mys-file-uploads__value">
                      <div><b>Tax file number declaration</b></div>
                      <div>You can get this form from the <a href="https://www.ato.gov.au/forms/tfn-declaration/" rel="external" target="_blank">ATO website</a>&nbsp;
                        <div class="tooltip">
                          <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                            <div class="tooltip__label tooltip__label--icon-only">
                              <a>Why do I need to provide this?</a>
                            </div>
                            <div class="tooltip__tab"></div>
                          </div>
                          <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                            <div class="tooltip__message">The Tax file number declaration form allows us to work out how much tax to withhold from payments
                              we&nbsp;make&nbsp;to&nbsp;you.
                            </div>
                            <div class="tooltip__close" role="button" tabindex="0">Close</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-actions">
                  <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                </div>
              </div>
            </div>

            <div id="doc-medical" class="mys-file-uploads__item-border">
              <div class="mys-file-uploads__item mys-file-uploads__item--required">
                <div class="mys-file-uploads__l-status">
                  <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                    <div class="mys-file-uploads__status-icon"></div>
                    <div class="mys-file-uploads__status-sr">Success</div>
                  </div>
                </div>
                <div class="mys-file-uploads__info">
                  <div class="mys-file-uploads__info-item">
                    <div class="mys-file-uploads__value">
                      <div><b>Medical certificate</b></div>
                      <div>Get this from your treating practitioner.
                        <div class="tooltip">
                          <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                            <div class="tooltip__label tooltip__label--icon-only">
                              <a>Why do I need to provide this?</a>
                            </div>
                            <div class="tooltip__tab"></div>
                          </div>
                          <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                            <div class="tooltip__message">Medical evidence lets us know the details around how your conditions are affecting your&nbsp;ability to work.
                            </div>
                            <div class="tooltip__close" role="button" tabindex="0">Close</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-actions">
                  <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                </div>
              </div>
            </div>

          </div>

          <div class="uikit-page-alerts uikit-page-alerts--warning margin-above--extra margin-below--extra">
            <p>If the required documents are not received before 12 November 2018, your claim will be withdrawn by DVA.</p>
          </div> -->

          <div class="uikit-page-alerts uikit-page-alerts--info ss-align--center">
            <p class="ss-align margin-below--mid">At the time you submitted this claim there were <b>two</b> more documents required to determine your claim:</p>
            <ul class="ss-align margin-below--mid">
              <li>Discharge certificate</li>
              <li>Proof of military earnings</li>
            </ul>
            <p class="ss-align">Documents can be emailed to <a href="">myservicesupport@dva.gov.au</a></p>
          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/claims-manage'">Back to claims</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Submit claim</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>


  <%- include(partials+"components/layout/footer") %>

  <script>
    $(Document).ready(function () {
      $("#btnPrev").click(function () {
        window.location.href = "/auth/claim?user=INCAPuser-incomplete"
      });
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim?user=INCAPuser-submitted"
      });
    });
  </script>

</body>

</html>