<%- include(templates+"header", {
  title: "Incapacity Payments",
  heading: "Before you resume your claim"
})%>
  <main id="main-content">

    <div class="container container--8-column margin-below--extra">
          <div class="profile-table">
            <div class="row profile-row">
              <div class="col-sm-12 description-fields">
                <div class="row">
                  <div class="col-sm-6 col-md-9 title-field">Are you leaving the ADF in the next 3 months?</div>
                  <div class="col-sm-6 col-md-3 uneditable email-uneditable-div">
                    <span id="email-span">Yes</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row profile-row">
              <div class="col-sm-12 description-fields">
                <div class="row">
                  <div class="col-sm-6 col-md-9 title-field">When are you leaving?</div>
                  <div class="col-sm-6 col-md-3 uneditable email-uneditable-div">
                    <span id="email-span">11 / 12 / 2018</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 margin-above--extra">
          <div class="pagination ss-align--center">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/incap/start'">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;
            <button class="uikit-btn" onclick="window.location.href = '/auth/claim/incap/progress'">This is correct</button>
          </div>
        </div>
      </div>

      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>
  </main>

  <%- include(templates+"footer") %>


  <script>
    $(Document).ready(function () {
      localStorage.clear();
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/incap/progress"
      });
    });

    // Show and hide leaving date
    $("#leavingADF-yes").click(function () {
      $(".leavingdate").show("fast");
      $(".save-and-next").hide();
    });
    $("#leavingADF-no").click(function () {
      $(".leavingdate").hide();
      $(".save-and-next").show("fast");
    });
  </script>

</body>

</html>