<%- include(templates+"header", {
  claim: "Support for employment",
  heading: "Support for employment"
}) %>
<h2> What is support for employment (SFE)?</h2>
<p>The SFE program supports veterans unable to secure satisfactory employment since transitioning from the ADF. </p>

<h2>Who is eligible?</h2>

<p class="margin-below--small">You are eligible to receive SFE if you:</p>

<ul>
  <li>Have transitioned from the permanent forces 12 months to 5 years ago, with reference to your PMKeyS transition date.</li>
  <li>Are not currently accessing support under a DVA rehabilitation program or through the Veterans’
    Vocational Rehabilitation Scheme; and</li>
  <li>Are unemployed or under-employed (fewer hours than you would like to work); are seeking assistance to change
    careers; or require support to adjust to the civilian workplace.</li>
</ul>

<h2>What SFE services are available?</h2>
<p class="margin-below--small">Pre-employment support:</p>
<ul>
  <li>Developing and reviewing your civilian career goals</li>
  <li>Personality profiling</li>
  <li>Job search skills (including skills translation)</li>
  <li>Personal branding and marketing</li>
  <li>Interview skills</li>
  <li>Negotiation skills</li>
  <li>Adjustment coaching</li>
  <li>Competency and capability mapping</li>
  <li>Workplace communication</li>
  <li>Breaking out of long-term unemployment</li>
</ul>
<p class="margin-below--small">Post-employment support:</p>
<ul>
  <li>Navigating civilian workplace issues</li>
  <li>Job advancement and career advice</li>
</ul>
<div class="margin-below--large">
  <p>For more information go to fact sheet <a href="#" rel="external"> XXXX - Support for Employment</a></p>
</div>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "#claim-cancel-modal"
      },
      {
        text: "Next",
        id: "btnNext",
        link: "/auth/claim/support-for-employment/sfe-02",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>