<div id="state-switcher">
  <!-- <h3>SFE State Switcher</h3> -->
  <%- include(partials+"components/form-partials/checkbox", {
    id: "sw-service-history",
    label: "State switcher",
    boxes: [
      {
        text: "PMKeyS Unknown"
      }
    ]
  }) %>
</div>

<script>
  $(document).keypress(function (e) {
    switch (e.which) {
      case 96: //tilda
        $('#state-switcher').toggle();
        break;
      default:
    }
  });


  $(document).ready(function () {
    $("#sw-service-history-container").on("change", function () {
      if ($(":checked", this).length > 0) {
        $("#situation-checker-container").hide();
        $("#discharge-date-container").show();
      } else {
        $("#situation-checker-container").hide();
        $("#discharge-date-container").hide();
        $("#discharge-checkboxes-container").hide();
      }
    })

    // if (localStorage.getItem("sfe-service-provided") === null) {
    //   localStorage.setItem("sfe-service-provided", "true");
    // } else if (localStorage.getItem("sfe-service-provided") === "false") {
    //   $("#sw-service-history-1").prop("checked", false);
    // }
  });
</script>