<%- include(templates+"header", {
  claim: "Transition to secondary school",
  heading: "Submitted",
  modifiers: ["noHeading"]
}) %>

  <div class="submitted__container">
    <div id="submitting" class="submitting transition-content transition-content--open">
      <div class="submitted__animation">
        <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
      </div>
      <h1>Submitting...</h1>
    </div>
    <div id="submitted" class="submitted transition-content">
      <i class="fal fa-check-circle fa-3x green"></i>
      <h1 class="margin-above--small">Task complete</h1>
      <h3 class="margin-above--none margin-below--none">Receipt number: 123456</h3>
      <hr class="orange-divider">
      <p>If you have any questions call 1800 555 254.</p>
    </div>
    <div id="failed" class="failed transition-content">
      <i class="fal fa-exclamation-circle fa-3x blue"></i>
      <h1 class="margin-above--small">Something went wrong, try again later</h1>
      <hr class="orange-divider">
      <p>If you have any questions call <a>1800 555 254</a>.</p>
    </div>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Back to home",
        link: "/auth"
      }
    ]
  }) %>

  <script>
    var timeDelay = 1500;
    setTimeout(
      function () {
        $(".submitting").toggleClass("transition-content--open");
        $(".submitted").toggleClass("transition-content--open");
      }, timeDelay);

  </script>

  <%- include("transition-to-secondary-04-state-switcher") %>

<%- include(templates+"footer") %>