<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "Known arrangement",
    boxes: [
      "Rent",
      "Public housing",
      "Board and lodging",
      "Mooring fees",
      "Caravan park site fees",
      "Retirement village",
      "Residential aged care",
      "Free accommodation",
    ],
    id: "page-state"
  }); %>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Docs required"
    ],
    id: "doc-required",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  $(document).keypress(function (e) {
    switch (e.which) {
      case 96: //tilda
        $('#state-switcher').toggle();
        break;
      default:
    }
  });

  var pageState = "rent";

  $("#page-state-1").prop("checked", true);
  $('input[name=page-state]').change(function () {
    pageState = $(this).val();
    stateSwitcher();
  });

  $("#doc-required-1").prop("checked", true);
  $('#doc-required-1').change(function () {
    updateDocs();
  });

  function updateDocs() {
    var myDocs = $("#doc-required-1").is(":checked");
    if (myDocs) {
      $("#docs-upload").show();
    } else {
      $("#docs-upload").hide();
    }
  }

  $('#next').click(function () {
    submitNav();
  });

  function submitNav() {
    if ($("#next").text() == "Next") {
      window.location.href = '/auth/profile/accommodation-payments/documents';
    } else {
      window.location.href = '/auth/profile/index?toast=accommodation';
    }
  }

  function stateSwitcher() {
    updatePage();
  }

  $("#rental-or-board-1").prop("checked", true);

  function updatePage() {
    hideAll();
    $("#payment-amount-container").show();
    $("#frequency-container").show();
    $("#frequency-container").show();
    $("#rental-or-board-3").parent().show();
    switch (pageState) {
      case "rent":
        $("#general").show();
        $("#rental-message").show();
        $("#rental-or-board-1").prop("checked", true);
        $("#rental-or-board-3").show();
        $("#rental-or-board-container").show();
        $("#doc-required-1").prop("checked", true);
        break;
      case "publichousing":
        $("#general").show();
        $("#public-housing-message").show();
        $("#doc-required-1").prop("checked", true);
        break;
      case "boardandlodging":
        $("#board").show();
        $("#rental-or-board-2").prop("checked", true);
        $("#rental-or-board-3").show();
        $("#rental-or-board-container").show();
        $("#doc-required-1").prop("checked", true);
        break;
      case "caravanparksitefees":
        $("#general").show();
        $("#site-fees-message").show();
        $("#doc-required-1").prop("checked", true);
        break;
      case "mooringfees":
        $("#general").show();
        $("#mooring-fees-message").show();
        $("#doc-required-1").prop("checked", true);
        break;
      case "retirementvillage":
        $("#general").show();
        $("#retirement-village-message").show();
        $("#doc-required-1").prop("checked", true);
        break;
      case "residentialagedcare":
        $("#general").show();
        $("#aged-care-message").show();
        $("#doc-required-1").prop("checked", true);
        break;
      case "freeaccommodation":
        $("#general").show();
        $("#free-message").show();
        $("#rental-or-board-1").prop("checked", false);
        $("#rental-or-board-2").prop("checked", false);

        $("#payment-amount-container").hide();
        $("#frequency-container").hide();
        $("#general").hide();
        $("#docs-upload").hide();
        $("#rental-or-board-container").show();
        $("#rental-or-board-3").parent().hide();
        $("#doc-required-1").prop("checked", false);
        break;
      default:
        break;
    }
    updateDocs();
  }

  function hideAll() {

    $("#rental-message").hide();
    $("#public-housing-message").hide();
    $("#site-fees-message").hide();
    $("#mooring-fees-message").hide();
    $("#retirement-village-message").hide();
    $("#aged-care-message").hide();
    $("#free-message").hide();

    $("#rental-or-board-container").hide();
    $("#general").hide();
    $("#board").hide();

    $("#message-container").hide();

  }

</script>