<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "Known arrangement",
    boxes: [
      "Rent",
      "Public housing",
      "Board and lodging",
      "Site fees",
      "Retirement village",
      "Residential aged care"
    ],
    id: "page-state"
  }); %>
 
</div>

<script>

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    var pageState = "rent";

    $("#page-state-1").prop("checked", true);
    $('input[name=page-state]').change(function () {
      pageState = $(this).val();
      stateSwitcher();
    });

</script>