<%- include(templates+"header", {
  claim: "Accommodation costs",
  heading: "Review and submit"
}) %>


<%- include(components+"review-submit", {
    claim_title: "Accommodation costs",
    categories: [
      {
        title: "Update accommodation costs",
        edit_url: "/auth/profile/accommodation-payments",
        data: [
        {
          q: "Accommodation type",
          a: "Rental accommodation"
        },
        {
          q: "Payment amount",
          a: "$320"
        },
        {
          q: "Payment frequency",
          a: "Weekly"
        },
        {
          q: "When did the change occur?",
          a: "23 Mar 2020"
        }
      ]
      },
      {
      title: "Required documents",
      edit_url: "/auth/profile/residential-address/documents",
      data: [
      {
        q: "Rental agreement",
        a: "lease-2020.pdf"
      }
      ]
      }
    ]
  }) %>

  <div class="pagination pagination--ss-reverse-order margin-above--extra" id="pagination440">

    <p class="margin-below--large">By clicking <b>submit</b> you confirm this information is truthful and accurate.</p>
    
    <a href="/auth/profile/accommodation-payments/documents" class="uikit-btn uikit-btn--tertiary">Previous</a>
  
    <a href="#open-coc-ai-delete-modal" class="uikit-btn uikit-btn--tertiary">Delete transaction</a>
  

<div class="floated">
  
    <a href="/auth/profile/accommodation-payments/submitted" class="uikit-btn ">Submit</a>
  
</div>
</div>


<%- include(templates+"footer") %>
<%- include(partials+"content/modals/coc-ia-delete-modal") %>
<%#- include("review-ss") %>
