<%- include(templates+"header", {
  claim: "Accommodation costs update | Submitting...",
  modifiers: ["noHeading"]
}) %>

<%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your update",
    submitted_text: `Your accommodation costs update has been successfully submitted`,
    supporting_text: "<p><b>Transaction ID: 33654432.</b></p><BR/>"
  }) %>


<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Back to profile",
      link: "/auth/profile"
    }
    ]
  }) %>

<%- include(templates+"footer") %>
