<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim for mental health treatment approved | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="claim-end">

            <div class="pt-claim-type--normal">
              <div class="margin-above ie-success-animation">
                <img src="../../../docs/images/ico-tick-green-outline.svg" alt="Success tick icon">
              </div>
              <div class="margin-above success-animation">
                <% include ../../../../partials/animations/success.ejs %>
              </div>
              <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
                <h1>We're submitting your request for Veteran Recognition</h1>
              </div>
            </div>

            <div class="transition-content pt-claim-animation-end margin-below--extra">
              <div class="pt-claim-type--normal">
                <h1 class="cantered-item">Your request for Veteran Recognition has been
                  <span class="font-weight-heavy"> received</span>
                </h1>
              </div>

              <hr class="orange-divider">
              <div class="margin-below--extra">
                <h2 class="ss-align--center"><b>What's next?</b></h2>
                <div class="container">
                  <div class="col-sm-offset-2 col-sm-8">
                    <ul class="next-steps">
                      <li>You will receive your Veteran Card in the mail.</li>
                      <li>A digital version of your Veteran Card will be available in MyService shortly.</li>
                      <li>You will receive your Veteran lapel pin and Covenant Oath in the mail.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pagination ss-align--center">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/non_card_pmkeys'">Back to home</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <% include ../../../../partials/footer.ejs %>


  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);
  </script>

</body>

</html>