<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('self-managed-super');">
  <h2 class="card__title">
    <i class="fal fa-file-certificate fontawesome-icon"></i>
    <span class="font-weight-heavy">Self-managed superannuation funds (SMSF & SAF)</span>
  </h2>

  <p class="card__supporting-text text-fullwidth">Add all self-managed superannuation funds (SMSFs) or small APRA Funds (SAFs)<span class="partner"> held by you and/or your partner</span>.</p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>