<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('life-insurance');">
  <h2 class="card__title">
    <i class="fal fa-umbrella fontawesome-icon"></i>
    <span class="font-weight-heavy">Life insurance</span>
  </h2>

  <p class="card__supporting-text text-fullwidth">Add any life insurance policies <span class="partner">owned by you and/or your partner</span> that can be surrendered or cashed in.</p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>