
<!-- Summary card -->
<div id="home-contents-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-couch fontawesome-icon"></span><span class="font-weight-heavy">Home contents</span></h2>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('home-contents');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Owner</b></div>
                    <div class="td">Myself</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Market value</b></div>
                    <div class="td">$35,000.00</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="home-contents-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-couch fontawesome-icon"></span><span class="font-weight-heavy">Home contents</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('home-contents');">&nbsp;Delete item&nbsp;
        </button>
    </div>
    <h4 class="margin-below--mid margin-above--none">Add the total market value of all home contents<span class="partner"> belonging to you and/or your partner</span>.</h4>
    <p>
        Home contents includes items such as:
        <ul>
            <li>Furniture and soft furnishings (such as blinds and curtains),</li>
            <li>Electrical applicances (other than fixtures such as stoves),</li>
            <li>Personal effects such as jewellery for personal use and hobby collections (e.g. stamps, coins).</li>
        </ul>
    </p>
    <p>It does not include fixtures such as stoves and build ins.</p>
    <hr>
    <form id="myForm">
        <input type="reset" style="display:none">
        <label class="uikit-text-input__label" for="tags">What is the market value of your home contents?&nbsp;&nbsp;<div class="tooltip">
                <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                    <div class="tooltip__label tooltip__label--icon-only">
                        <a>Definition of market value</a>
                    </div>
                    <div class="tooltip__tab"></div>
                </div>
                <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">Market value is the amount you would get if you attempted to sell your home contents. It is NOT the replacement or insured value.</div>
                    <div class="tooltip__close" role="button" tabindex="0">Close</div>
                </div>
            </div>
            <span class="hint"><BR />The value will be set at $10,000 if you leave this blank.</span>
        </label>
        <span class="sign-dollar">&#36;</span>&nbsp;<input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
    </form>
    <hr>
    <div id="buttonset2">
        <button id=" addButton" class="uikit-btn" onclick="addSummary('home-contents');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>