<!-- Summary card -->
<div id="businesses-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-store fontawesome-icon"></span><span class="font-weight-heavy">Businesses</span></h2>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('businesses');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Owner</b></div>
                    <div class="td">Myself</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Type of business</b></div>
                    <div class="td">Sole trader</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Business name</b></div>
                    <div class="td">Brian's pies</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="businesses-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-store fontawesome-icon"></span><span class="font-weight-heavy">Businesses</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('businesses');">&nbsp;Delete item&nbsp;
        </button>
    </div>
    <div id="card-details" class="margin-below--large">
        <h4 class="margin-below--mid margin-above--none">Add any businesses you <span class="partner">and/or your partner</span> have been involvement with in the last 5 years.</h4>
        <p>A business includes private companies, private and special disability trusts, partnerships and sole trader.
        </p>
        <hr>
        <form id="myForm">
            <input type="reset" style="display:none">
            <!-- form goes here -->
            <%- include(partials+"components/form-partials/radio", {
  label: "Where does the business operate?",
  boxes: [
    "Within Australia",
    "Overseas"
  ]
}); %>
            <!-- <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="owner">Where does the business operate?
                </label>
                <select class="uikit-text-input input-half" id="owner" name="owner">
                    <option selected="selected">-- Select an item --</option>
                    <option>Within Australia</option>
                    <option>Overseas</option>
                </select>
            </div> -->
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="drop-down">Who is the business owner?</label>
                <select class="uikit-text-input input-half" id="ownerType" name="drop-down">
                    <option selected="selected">-- Select an item --</option>
                    <option>Myself</option>
                    <option class="partner">My partner</option>
                    <option class="partner">Jointly with my partner</option>
                    <option>Jointly with any other party</option>
                </select>
            </div>
            <div class="form-group margin-above--large" id="other-party-owner" style="display: none;">
                <label class="uikit-text-input__label" for="Input field">Name of other party</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="drop-down">Type of business</label>
                <select class="uikit-text-input input-half" id="companyType" name="drop-down">
                    <option selected="selected">-- Select an item --</option>
                    <option>Private company</option>
                    <option>Private trust</option>
                    <option>Special disability trust</option>
                    <option>Partnership</option>
                    <option>Sole trader</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="name-company">Business name</label>
                <input class="uikit-text-input input-half" name="name-company" id="name-company" type="text" value="" required aria-required="true">
            </div>
            <!-- <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="type-company">Describe business type</label>
                <textarea id="type-company" name="type-company" rows="5"></textarea>
            </div> -->
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="date-company">When did the business start operating?
                    <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
                <%- include(partials+"components/form-partials/yes_no", {
                  label: "Is this business still operating?",
                  no_toggle: ["#date-ceased-container"] 
                }); %>

                <%- include(partials+"components/form-partials/date", {
                  label: "Date business ceased operating",
                  id: "date-ceased",
                  modifiers: ["hidden"]
                }); %>
            <!-- <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="date-company-ceased">Date business ceased operating
                    <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div> -->
            <div class="uikit-page-alerts margin-above--large" role="alert" id="alert-private-company" style="display: none;">
                <p>You will need to complete <a href="https://www.dva.gov.au/dvaforms/Documents/D0600.pdf">Private Company form (D600)</a> and attach in the documents section.</p>
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert" id="alert-private-trust" style="display: none;">
                <p>You will need to complete <a href="https://www.dva.gov.au/dvaforms/Documents/D0601.pdf">Private trust form (D601)</a> and attach in the documents section.</p>
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert" id="alert-details-business" style="display: none;">
                <p>You will need to complete <a href="https://www.dva.gov.au/sites/default/files/dvaforms/D0525.pdf">Details of Business form (D525)</a> and attach in the documents section.</p>
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert" id="alert-disability-trust" style="display: none;">
                <p>You will need to complete <a href="https://www.dva.gov.au/sites/default/files/dvaforms/D9059.pdf">Special Disability Trust form (D525)</a> and attach in the documents section.</p>
            </div>
        </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn" onclick="addSummary('businesses');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>
<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
$("#companyType").change(function() {
    mySelection = $('#companyType :selected').val();
    console.log(companyType);
    switch (mySelection) {
        case "Private company":
            hideAlerts();
            $("#alert-private-company").show();
            break;
        case "Private trust":
            hideAlerts();
            $("#alert-private-trust").show();
            break;
        case "Special disability trust":
            hideAlerts();
            $("#alert-disability-trust").show();
            break;
        case "Partnership":
            hideAlerts();
            $("#alert-details-business").show();
            break;
        case "Sole trader":
            hideAlerts();
            $("#alert-details-business").show();
            break;
        default:
            hideAlerts();
    }
});
function hideAlerts() {
    $("#alert-private-company").hide();
    $("#alert-private-trust").hide();
    $("#alert-sole-trader").hide();
    $("#alert-disability-trust").hide();
}
</script>