<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('boarders-and-lodgers');">
  <h2 class="card__title">
    <span class="fal fa-bed fa-icons"></span><span class="font-weight-heavy">Boarders &amp; Lodgers</span></h2>
  <p class="card__supporting-text text-fullwidth">Add any income received <span class="partner">by you (and/or your partner) </span>from boarders or lodgers.</p>
      <p class="card__supporting-text text-fullwidth"><BR/>UX done spec v0.5</p>
  <div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>