<!-- Summary card -->
<div id="shares-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-file-certificate fa-icons"></span><span class="font-weight-heavy">Shares</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('shares');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Type of share</b></div>
                    <div class="td">Listed</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Company name</b></div>
                    <div class="td">AMP</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Market value</b></div>
                    <div class="td">$23,548.00</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="shares-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-file-certificate fa-icons"></span>&nbsp;<span class="font-weight-heavy">Shares</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary
        small warning floated" onclick="removeSummary('shares');">&nbsp;Delete
            item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
        <h4 class="margin-below--mid margin-above--none">Add any shares, options, rights, convertible notes or other securities<span class="partner"> held by you (and/or your partner)</span>.</h4>
        <p class="margin-below--mid">Include listed and unlisted shares, shares traded in Australian and overseas markets (and exempt in exempt stock markets), options, rights, convertible notes or other securities.</p>
        <hr>
        <form id="myForm">
            <input type="reset" style="display:none">
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label margin-above--large" for="toggle-buttons">Are these shares issued in Australia?</label>
                <div class="radio-toggle" id="shares-australia">
                    <label class="on label-left" for="shares-australia-yes">
                        <input id="shares-australia-yes" type="radio" value="yes" name="shares-australia" />
                        <span>Yes</span>
                    </label>
                    <label class="off label-right" for="shares-australia-no">
                        <input id="shares-australia-no" type="radio" value="no" name="shares-australia" />
                        <span>No</span>
                    </label>
                </div>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="drop-down">Owner of shares</label>
                <select class="uikit-text-input input-half" id="ownerType" name="drop-down">
                    <option selected="selected">-- Select an item --</option>
                    <option>Myself</option>
                    <option class="partner">My partner</option>
                    <option class="partner">Jointly with my partner</option>
                    <option>Jointly with any other party</option>
                </select>
            </div>
            <div class="form-group margin-above--large" id="other-party-owner" style="display: none;">
                <label class="uikit-text-input__label" for="Input field">Name of other party</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="drop-down">Type of share</label>
                <select class="uikit-text-input input-half" id="share-type" name="drop-down">
                    <option selected="selected">-- Select an item --</option>
                    <option>Listed</option>
                    <option>Unlisted</option>
                    <option>Overseas</option>
                    <option>Options</option>
                    <option>Futures</option>
                    <option>Warrants</option>
                    <option>Structured product</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group margin-above--large" id="share-code" style="display: none;">
                <label class="uikit-text-input__label" for="Input field">Share code</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Company name</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large" id="date-marriage">
                <fieldset>
                    <label class="uikit-text-input__label">Date acquired
                        <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </fieldset>
            </div>
            <div class="form-group margin-above--large" id="number-of-shares" style="display: none;">
                <label class="uikit-text-input__label" for="Input field">Total number of shares</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large" id="currency" style="display: none;">
                <label class="uikit-text-input__label" for="Input field">Currency</label>
                <select class="uikit-text-input input-half" style="max-width: 80px;" id="drop-down" name="drop-down">
                    <option>-- Select an item --</option>
                    <option data-symbol="$" data-placeholder="0.00">USD</option>
                    <option data-symbol="€" data-placeholder="0.00">EUR</option>
                    <option data-symbol="£" data-placeholder="0.00">GBP</option>
                    <option data-symbol="¥" data-placeholder="0">JPY</option>
                    <option data-symbol="$" data-placeholder="0.00">CAD</option>
                    <option data-symbol="$" data-placeholder="0.00" selected>AUD</option>
                </select>
            </div>
            <div class="form-group margin-above--large" id="country-payment" style="display: none;">
                <label class="uikit-text-input__label">Country of payment</label>
                <%- include(partials+"content/auth-select-list-country") %>
            </div>
            <div class="form-group margin-above--large" id="market-value" style="display: none;">
                <label class="uikit-text-input__label" for="Input field">Market value</label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
            </div>
        </form>
        <hr>
        <div id="buttonset2" class="form-group margin-above--none">
            <button id="addButton" class="uikit-btn" onclick="addSummary('shares');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
        </div>
    </div>
</div>
<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
var sharesAU;
$("#share-type").change(function() {
    if ($('#share-type :selected').val() == "Listed" && sharesAU) {
        $("#share-code").show();

    } else {
        $("#share-code").hide();

    }
});
$("#shares-australia").change(function() {
    if ($("#shares-australia input[type='radio']:checked").val() == "yes") {
        sharesAU = true;
        if ($('#share-type :selected').val() == "Listed") $("#share-code").show();
        $("#number-of-shares").show();
        $("#currency").hide();
        $("#country-payment").hide();
        $("#market-value").hide();
    } else {
        sharesAU = false;
        $("#currency").show();
        $("#country-payment").show();
        $("#market-value").show();
        $("#share-code").hide();
        $("#number-of-shares").hide();

    }
});
$("#ownerType").change(function() {
    mySelection = $('#ownerType :selected').val();
    switch (mySelection) {
        case "Jointly with any other party":
            $("#other-party-owner").show();
            break;
        default:
            $("#other-party-owner").hide();
    }
});
</script>