<!-- Summary card -->
<div id="boarders-and-lodgers-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-bed fa-icons"></span><span class="font-weight-heavy">Boarders and lodgers</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('boarders-and-lodgers');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Amount paid for board or lodging</b></div>
                    <div class="td">$120.00</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Frequency</b></div>
                    <div class="td">Weekly</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="boarders-and-lodgers-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-bed fa-icons"></span><span class="font-weight-heavy">Boarders and lodgers</span>
        </h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('boarders-and-lodgers');">&nbsp;Delete item&nbsp;</button>
    </div>
    <h4 class="margin-below--mid margin-above--none">Add any income received <span class="partner">by you (and/or your partner) </span>from borders or lodgers.</h4>
    <p class="margin-below--mid">This includes boarders and lodgers who live with you or in accommodation at the property you live in (e.g. granny flat).</p>
    <p class="margin-below--mid">Do not include immediate family members (son, daughter, parent).</p>
    <hr>
    <form id="myForm">
        <input type="reset" style="display:none">
        <div class="form-group margin-above partner">
            <label class="uikit-text-input__label" for="drop-down">Paid to</label>
            <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                <option selected="selected">-- Select one --</option>
                <option>Myself</option>
                <option>My partner</option>
                <option>Jointly with my partner</option>
            </select>
        </div>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="tags">Name of boarder/lodger</label>
            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
        </div>
         <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="Input field">Number of meals provided each day</label>
            <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
        </div>
         <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="Input field">Amount paid for board or lodging</label>
            <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
        </div>
        <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="drop-down">Frequency</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select one --</option>
                    <option>Weekly</option>
                    <option>Fortnightly</option>
                    <option>Monthly</option>
                    <option>Quarterly</option>
                    <option>Half yearly</option>
                    <option>Annually</option>
                    <option>Once off</option>
                </select>
            </div>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="date">When did your partner start living with you?
                <span class="hint">(dd / mm / yyyy)</span>
            </label>
            <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
        </div>
       
        <hr>
        <div class="form-group margin-above--none">
            <button id="addButton" class="uikit-btn" onclick="addSummary('boarders-and-lodgers');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
        </div>
</div>