<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('foreign-pension');">
  <h2 class="card__title">
    <i class="fal fa-passport fontawesome-icon"></i>
    <span class="font-weight-heavy">Foreign pension</span>
  </h2>

  <p class="card__supporting-text text-fullwidth">Add all income from a government agency or other organisation outside Australia<span class="partner"> received by you and/or your partner</span>.</p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>
