<!-- Summary card -->
<div id="gifts-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-gifts fontawesome-icon"></span><span class="font-weight-heavy">Gifts (deprived
                        assets)</span></h2>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated"
                    onClick="editCard('gifts');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Owner</b></div>
                    <div class="td">Myself</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Asset type</b></div>
                    <div class="td">Granny flat</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Market value</b></div>
                    <div class="td">$155,000.00</div>
                </div>
                <div class="box-updated margin-above" hidden>ADDED</div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="gifts-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;"><span
                class="fal fa-gifts fontawesome-icon"></span><span class="font-weight-heavy">Gifts (deprived
                assets)</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated"
            onclick="removeSummary('gifts');">&nbsp;Delete item&nbsp;</button>
    </div>
    <h4 class="margin-below--mid margin-above--none">Add all cash, assets or property given away, surrendered, or sold
        for less than market value<span class="partner">, by you and/or your partner</span>.</h4>
    <p class="margin-below--mid">Include forgiven loans and shares in private companies.</p>
    <p class="margin-below--mid">Do not include items given away, surrendered or sold more than than five years ago.</p>
    <hr>
    <form id="myForm">
        <input type="reset" style="display:none">
        
        <!-- form goes here -->
        <div class="form-group margin-above--large partner">
            <label class="uikit-text-input__label margin-above--large" for="drop-down">Asset owner</label>
            <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                <option selected="selected">-- Select one --</option>
                <option>Myself</option>
                <option>My partner</option>
                <option>Jointly with my partner</option>
            </select>
        </div>
        <div class="form-group">
            <label class="uikit-text-input__label" for="drop-down">Type of asset</label>
            <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                <option selected="selected">-- Select an item --</option>
                <option>Business</option>
                <option>Cash</option>
                <option>Farm</option>
                <option>Granny Flat</option>
                <option>House</option>
                <option>Life interest</option>
                <option>Loan now forgone</option>
                <option>Other assets</option>
                <option>Real estate</option>
            </select>
        </div>


        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label legend-label margin-below--none" for="tags">Description</label>
            <span class="hint display-block margin-above--none">Provide a brief description of the gifted asset</span>
            <input class="uikit-text-input input" name="Input field" type="text" value="" required aria-required="true">
        </div>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="date">Date surrendered or sold
                <span class="hint">(dd / mm / yyyy)</span>
            </label>
            <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required
                aria-required="true" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required
                aria-required="true" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required
                aria-required="true" aria-label="4 digit year">
        </div>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="Input field">Market value of asset</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="$0.00"
                required aria-required="true">
        </div>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label legend-label margin-below--none" for="tags">Financial consideration
                received (optional)</label>
            <span class="hint display-block margin-above--none">Leave as zero if you did not receive any financial
                consideration</span>
            <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
                id="Input field" type="text" value="0.00" required aria-required="true">
        </div>

    </form>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn"
            onclick="addSummary('gifts');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
            class="uikit-btn uikit-btn--tertiary"
            onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>