<!-- Summary card -->
<div id="managed-investments-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-file-certificate fontawesome-icon"></span><span
                        class="font-weight-heavy">Managed investments, funeral bonds and pre-paid funerals</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated"
                    onClick="editCard('managed-investments');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Investment type</b></div>
                    <div class="td">Managed investment</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Owner</b></div>
                    <div class="td">Myself</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Product name</b></div>
                    <div class="td">APC funds</div>
                </div>
            </div>
            <div class="status-label status-label--added margin-above">ADDED</div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="managed-investments-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-file-certificate fontawesome-icon"></span><span class="font-weight-heavy">Managed
                investments</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary
        small warning floated" onclick="removeSummary('managed-investments');">&nbsp;Delete item&nbsp;
        </button>
    </div>
    <h4 class="margin-below--mid margin-above--none">Add all managed investments (investment trusts, personal investment
        plans, insurance bonds etc.), funeral bonds &amp; pre-paid funerals<span class="partner"> held by you and/or
            your partner</span>.</h4>
    <p class="margin-below--mid">Funeral bonds are an investment offered by a friendly society or a life insurance
        company which can only be accessed upon the death of the nominated person for the purpose of paying the funeral
        costs.</p>
    <p>Pre-paid funerals are arrangements where a person makes an advance payment for funeral services with a funeral
        director, with a contract specifying the funeral services which will be provided so that nothing further needs
        to be done for the funeral services to be provided. The pre-payment cannot be refunded, unless the person moves
        outside the designated funeral service area.</p>
    <hr>
    <form id="myForm">
        <input type="reset" style="display:none">
        <div class="form-group">
            <label class="uikit-text-input__label" for="drop-down">Investment type</span>
            </label>
            <select class="uikit-text-input input-half" id="investmentType" name="drop-down">
                <option>-- Select investment type --</option>
                <option>Managed investments</option>
                <option>Funeral bonds</option>
                <option>Pre-paid funeral</option>
            </select>
        </div>
        <!-- start owner -->
        <div class="form-group margin-above--large owner-partner" hidden>
            <label class="uikit-text-input__label" for="drop-down">Owner</label>
            <select class="uikit-text-input input-half ownerType" name="drop-down">
                <option selected="selected">-- Select an item --</option>
                <option>Myself</option>
                <option>My partner</option>
                <option>Jointly with my partner</option>
                <option>Jointly with any other party</option>
            </select>
        </div>
        <div class="form-group margin-above--large owner-single">
            <label class="uikit-text-input__label" for="drop-down">Owner</label>
            <select class="uikit-text-input input-half ownerType" name="drop-down">
                <option selected="selected">-- Select an item --</option>
                <option>Myself</option>
                <option>Jointly with any other party</option>
            </select>
        </div>
        <div class="form-group margin-above--large other-party-amount" style="display: none;">
            <label class="uikit-text-input__label" for="Input field">% Owned by you</label>
            <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value=""
                required aria-required="true">
        </div>
        <!-- end owner -->
        <div id="managed-and-bonds" style="display: none;">
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Fund manager
                    <BR /><span class="hint">Start typing and then if possible select from the options shown.</span>
                </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value=""
                    required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Product group
                    <BR /><span class="hint">Start typing and then if possible select from the options shown.</span>
                </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value=""
                    required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Product name
                    <BR /><span class="hint">Start typing and then if possible select from the options shown.</span>
                </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value=""
                    required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Asset value</label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
                    id="Input field" type="text" value="0.00" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="date">Investment date
                    <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required
                    aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required
                    aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4"
                    required aria-required="true" aria-label="4 digit year">
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert">
                <p>You will need to provide a copy of the latest statement for this fund in the documents section.</p>
            </div>
        </div>
        <div id="prepaid-funerals" class="hide-on-load" style="display: none;">

            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Ammount invested in pre-paid funeral
                    plan</label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
                    id="Input field" type="text" value="0.00" required aria-required="true">
            </div>

            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="date">Investment date
                    <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required
                    aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required
                    aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4"
                    required aria-required="true" aria-label="4 digit year">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Funeral director who arranged the pre-paid
                    funeral plan?</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value=""
                    required aria-required="true">
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert">
                <p>You will need to provide a copy of the pre-paid funeral plan or any other supporting document in the
                    documents section.</p>
            </div>
        </div>

    </form>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn"
            onclick="addSummary('managed-investments'); ">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
            class="uikit-btn uikit-btn--tertiary"
            onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>
<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
    $("#investmentType").change(function () {
        mySelection = $('#investmentType :selected').val();
        switch (mySelection) {
            case "Managed investments":
                hideInvestmentTypes();
                $("#managed-and-bonds").show();
                break;
            case "Funeral bonds":
                hideInvestmentTypes();
                $("#managed-and-bonds").show();
                break;
            case "Pre-paid funeral":
                hideInvestmentTypes();
                $("#prepaid-funerals").show();
                break;
            default:
            // code block
        }
    });
    function hideInvestmentTypes() {
        $("#managed-and-bonds").hide();
        $("#prepaid-funerals").hide();
    }
</script>