<!-- Summary card -->
<div id="managed-investments-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-file-certificate fontawesome-icon"></span><span class="font-weight-heavy">Managed investments</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('managed-investments');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Managed investment type</b></div>
                    <div class="td">Funeral bonds</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Company from which you purchased the bonds</b></div>
                    <div class="td">Foresters friendly society</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Amount invested</b></div>
                    <div class="td">$48,000.00</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Current value</b></div>
                    <div class="td">$78,000.00</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="managed-investments-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-file-certificate fontawesome-icon"></span><span class="font-weight-heavy">Managed investments</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary
        small warning floated" onclick="removeSummary('managed-investments');">&nbsp;Delete item&nbsp;
        </button>
    </div>
    <h4 class="margin-below--mid margin-above--none">Add all managed investments (investment trusts, personal investment plans, insurance bonds etc.), funeral bonds &amp; pre-paid funerals<span class="partner"> held by you and/or your partner</span>.</h4>
    <p class="margin-below--mid">Funeral bonds are an investment offered by a friendly society or a life insurance company which can only be accessed upon the death of the nominated person for the purpose of paying the funeral costs.</p>
    <p>Pre-paid funerals are arrangements where a person makes an advance payment for funeral services with a funeral director, with a contract specifying the funeral services which will be provided so that nothing further needs to be done for the funeral services to be provided. The pre-payment cannot be refunded, unless the person moves outside the designated funeral service area.</p>
    <hr>
    <form id="myForm">
        <input type="reset" style="display:none">
        <div class="form-group">
            <label class="uikit-text-input__label" for="drop-down">Managed investment type</span>
            </label>
            <select class="uikit-text-input input-half" id="investmentType" name="drop-down">
                <option>-- Select an item --</option>
                <option>Managed investments</option>
                <option>Funeral bonds</option>
                <option>Pre-paid funeral</option>
            </select>
        </div>
        <div id="funeral-bonds" class="hide-on-load" style="display: none;">
            <div class="form-group margin-above--large partner">
                <label class="uikit-text-input__label" for="drop-down">Account owner</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select one --</option>
                    <option>Myself</option>
                    <option>My partner</option>
                    <option>Jointly with my partner</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Company from which you purchased the bonds
                    <div class="tooltip">
                        <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                            <div class="tooltip__label tooltip__label--icon-only">
                                <a>Company from which you purchased the Bonds help</a>
                            </div>
                            <div class="tooltip__tab"></div>
                        </div>
                        <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                            <div class="tooltip__message">Name of friendly society or life insurance company.</div>
                            <div class="tooltip__close" role="button" tabindex="0">Close</div>
                        </div>
                    </div>
                    <BR /><span class="hint">Start typing and then if possible select from the options shown.</span>
                </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Amount invested <span class="hint">(excluding fees)</span></label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Current value</label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert">
                <p>You will need to attach a copy of the bond certificate or any other supporting documents in the document section.</p>
            </div>
        </div>
        <div id="prepaid-funerals" class="hide-on-load" style="display: none;">
            <div class="form-group margin-above--large partner">
                <label class="uikit-text-input__label" for="drop-down">Account owner</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select one --</option>
                    <option>Myself</option>
                    <option>My partner</option>
                    <option>Jointly with my partner</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="tags">Funeral director who arranged the pre-paid funeral</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Amount paid for the pre-paid funeral plan</label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert">
                <p>Add documentation requirements message here.</p>
            </div>
        </div>
        <div id="managed-investments" class="hide-on-load" style="display: none;">
            <div class="form-group margin-above--large partner">
                <label class="uikit-text-input__label" for="drop-down">Account owner</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select one --</option>
                    <option>Myself</option>
                    <option>My partner</option>
                    <option>Jointly with my partner</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Name of the institution/find manager
                    <!-- <BR /><span class="hint">Start typing and then if possible select from the options shown.</span> -->
                </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Product</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Units</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Amount invested</label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert">
                <p>You will need to attach a copy of the latest statement for each fund in the documents section.</p>
            </div>
        </div>
    </form>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn" onclick="addSummary('managed-investments'); ">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>
<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
$("#investmentType").change(function() {
    mySelection = $('#investmentType :selected').val();
    switch (mySelection) {
        case "Managed investments":
            hideInvestmentTypes();
            $("#managed-investments").show();
             break;
        case "Funeral bonds":
            hideInvestmentTypes();
            $("#funeral-bonds").show();
            break;
        case "Pre-paid funeral":
            hideInvestmentTypes();
            $("#prepaid-funerals").show();
            break;
        default:
            // code block
    }
});
function hideInvestmentTypes() {
    $("#managed-investments").hide();
    $("#funeral-bonds").hide();
    $("#prepaid-funerals").hide();
}
</script>