<!-- Summary card -->
<div id="vehicles-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></span>&nbsp;&nbsp;<span
                        class="font-weight-heavy">Vehicles</span></h2>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated"
                    onClick="editCard('vehicles');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Vehicle type</b></div>
                    <div class="td">Car</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Vehicle description</b></div>
                    <div class="td">2015 Audi Q5</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Market value</b></div>
                    <div class="td">$35,600</div>
                </div>
            </div>
            <div class="status-label status-label--added margin-above">ADDED</div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="vehicles-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></span>&nbsp;<span
                class="font-weight-heavy">Vehicles</span></h2>
        <button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated"
            onclick="removeSummary('vehicles');">&nbsp;Delete item&nbsp;
        </button>
    </div>
    <h4 class="margin-below--mid margin-above--none">Add any vehicles you <span class="partner">and/or your
            partner</span> own or are paying off.</h4>
    <p>Do not include boats or caravans you live in or any farm vehicles.</p>
    <hr>
    <form id="myForm">
        <input type="reset" style="display:none">
        <!-- start owner -->
        <div class="form-group margin-above--large owner-partner" hidden>
            <label class="uikit-text-input__label" for="drop-down">Account owner</label>
            <select class="uikit-text-input input-half ownerType" name="drop-down">
                <option selected="selected">-- Select an item --</option>
                <option>Myself</option>
                <option>My partner</option>
                <option>Jointly with my partner</option>
                <option>Jointly with any other party</option>
            </select>
        </div>
        <div class="form-group margin-above--large owner-single">
            <label class="uikit-text-input__label" for="drop-down">Account owner</label>
            <select class="uikit-text-input input-half ownerType" name="drop-down">
                <option selected="selected">-- Select an item --</option>
                <option>Myself</option>
                <option>Jointly with any other party</option>
            </select>
        </div>
        <div class="form-group margin-above--large other-party-amount" style="display: none;">
            <label class="uikit-text-input__label" for="Input field">% Owned</label>
            <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value=""
                required aria-required="true">
        </div>
        <!-- end owner -->
        <fieldset class="margin-above--large margin-below--large">
            <label class="uikit-text-input__label" for="rank">Vehicle type</label>
            <select class="uikit-text-input input-half" id="vehicle-type-edit" name="vehicle-type-edit">
                <option selected="selected">-- Select type of vehicle --</option>
                <option>Boat</option>
                <option>Car</option>
                <option>Caravan</option>
                <option>Motorbike</option>
                <option>Trailer</option>
                <option>Truck</option>
                <option>Other vehicle</option>
            </select>
        </fieldset>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label">Vehicle make</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
        </div>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label">Vehicle model</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
        </div>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label">Vehicle year</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="">
        </div>
        </fieldset>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="tags">Market value of the vehicle</label>
            <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
                id="Input field" type="text" value="0.00" required aria-required="true">
        </div>
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label legend-label margin-below--none" for="tags">Amount owing on this
                vehicle</label>
            <span class="hint display-block margin-above--none">Leave blank if you do not owe any money on this
                vehicle</span>
            <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
                id="Input field" type="text" value="0.00" required aria-required="true">
        </div>

    </form>
    <hr>
    <div class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn"
            onclick="addSummary('vehicles');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
            class="uikit-btn uikit-btn--tertiary"
            onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>