<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('employment-income');">
  <h2 class="card__title">
    <i class="fal fa-briefcase fontawesome-icon"></i>
    <span class="font-weight-heavy">Employment income</span>
  </h2>

  <p class="card__supporting-text text-fullwidth">Income from work performed as an employee by you and/or your partner.</p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>

