<!-- Summary card -->
<div id="purchased-income-streams-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-box-usd fontawesome-icon"></span><span class="font-weight-heavy">Purchased income streams</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('purchased-income-streams');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Provider name</b></div>
                    <div class="td">AMP</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Product reference number</b></div>
                    <div class="td">098 765 432</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="purchased-income-streams-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-box-usd fontawesome-icon"></span><span class="font-weight-heavy">Purchased income streams</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('purchased-income-streams');">&nbsp;Delete item&nbsp;
        </button>
    </div>

    <div id="card-details" class="margin-below--large">
        <h4 class="margin-below--mid margin-above--none">Add all income received from an income stream<span class="partner"> by you and/or your partner</span>.</h4>
        <p class="margin-below--mid">An income stream is a regular payment made for a lifetime or fixed period by a financial institution, superannuation fund or retirement savings account. This includes payments from the following:
            <ul>
                <li>account-based pensions,</li>
                <li>allocated pensions,</li>
                <li>transition to retirement pensions,</li>
                <li>market linked pensions,</li>
                <li>market linked pensions,</li>
                <li>term allocated pensions,</li>
                <li>immediate annuities,</li>
                <li>account-based annuities.</li>
            </ul>
        </p>
        <p>Do not include defined benefit superannuation pensions.</p>
        <hr>
        <form id="myForm">
            <input type="reset" style="display:none">
            <!-- form goes here -->
            <div class="form-group">
                <label class="uikit-text-input__label" for="Input field">Product provider name</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Product reference number</label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group margin-above--large partner">
                <label class="uikit-text-input__label" for="drop-down">Received by</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select one --</option>
                    <option>Myself</option>
                    <option>My partner</option>
                    <option>Jointly with my partner</option>
                </select>
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert">
                <p>You will need to attach a copy of documents which provide the latest details of each income stream. Your provider should be able to provide you with an ‘income stream schedule’ for each income stream product. </p>
            </div>
        </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn" onclick="addSummary('purchased-income-streams');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>