<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('gifts');">
  <h2 class="card__title">
    <i class="fal fa-gifts fontawesome-icon"></i>
    <span class="font-weight-heavy">Gifts (deprived assets)</span>
  </h2>
  
  <p class="card__supporting-text text-fullwidth">Add any cash, assets or property you <span class="partner">and/or your partner</span> have given away, surrendered, or sold for less than its market value within the last five years.</p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>