<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('vehicles');">
  <h2 class="card__title">
    <icon class="fal fa-car" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Vehicles</span></h2>
  <p class="card__supporting-text text-fullwidth">Add any vehicles you <span class="partner">(and/or your partner)</span> own or are paying off.</p>
  <p class="card__supporting-text text-fullwidth"><BR/>UX done v0.14</p>
  <div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>