<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('other-payments');">
  <h2 class="card__title">
    <i class="fal fa-ellipsis-h-alt fontawesome-icon"></i>
    <span class="font-weight-heavy">Other payments</span>
  </h2>

  <p class="card__supporting-text text-fullwidth">Any other payments received <span class="partner">by you and/or your partner </span>including: gratuities, payment in kind and income from an estate.
  </p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>

