<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('purchased-income-streams');">
  <h2 class="card__title">
    <i class="fal fa-box-usd fontawesome-icon"></i>
    <span class="font-weight-heavy">Purchased income streams</span>
  </h2>
  
  <p class="card__supporting-text text-fullwidth">Add any income you <span class="partner">and/or your partner</span> receive from an income stream.</p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>