<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('other-personal-assets');">
  <h2 class="card__title">
    <i class="fal fa-ellipsis-h-alt fontawesome-icon"></i>
    <span class="font-weight-heavy">Other personal assets</span>
  </h2>
  <p class="card__supporting-text text-fullwidth">Add all other valuable assets such as jewellery, collections and antiques<span class="partner">, belonging to you and/or your partner</span>.</p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>