<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('money-loaned');">
  <h2 class="card__title">
    <span class="fal fa-handshake fa-icons"></span><span class="font-weight-heavy">Money loaned</span>
  </h2>
  <p class="card__supporting-text text-fullwidth">Add any loans you <span class="partner">(and/or your partner)</span> have made to any person, including family members or business.</p>
  <p class="card__supporting-text text-fullwidth"><BR/>UX done spec v0.3</p>
  <div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>