<!-- Summary card -->
<div id="employment-income-summary" class="plain-text-info" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed row">
      <div class="review__content--label col-sm-10">
        <h2 class="margin-above--none">
          <span class="fal fa-briefcase fontawesome-icon"></span><span class="font-weight-heavy">Employment income</span></h2>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Key</h4>
          </div>
          <div class="value">Value
          </div>
        </div>
        <div class="key-value-group margin-above">
          <div class="key">
            <h4>Key</h4>
          </div>
          <div class="value">Value
          </div>
        </div>
      </div>
      <div class="col-sm-2" style="margin: 0;"><button class="uikit-btn uikit-btn--tertiary" onClick="editCard('employment-income');">&nbsp;Edit&nbsp;</button>
      </div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="employment-income-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-briefcase" style="font-size: 1.7em; vertical-align: -15%;"></span>&nbsp;<span class="font-weight-heavy">Employment income</span></h2><button id="deleteButton"
      class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('employment-income');">&nbsp;Delete item&nbsp;
    </button>
  </div>
  <div id="card-details" class="margin-below--large">
    <p class="margin-below--mid margin-above">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <form id="myForm">
      <input type="reset" style="display:none">
      <!-- form goes here -->
    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('employment-income');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
      onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>