<!-- Summary card -->
<div id="money-loaned-summary" class="plain-text-info" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed box">
      <div class="review__content--label margin-below">
        <h2 class="margin-above--none" style="display: inline-block;">
          <span class="fal fa-handshake fontawesome-icon"></span><span class="font-weight-heavy">Money loaned</span>
        </h2>
        <button class="uikit-btn uikit-btn--tertiary small floated"
          onClick="editCard('money-loaned');">&nbsp;Edit&nbsp;</button>
      </div>
      <div class="review__table">
        <div class="tr">
          <div class="td"><b>Lender</b></div>
          <div class="td">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Date issued</b></div>
          <div class="td">12/12/2000</div>
        </div>
        <div class="tr">
          <div class="td"><b>Balance outstanding</b></div>
          <div class="td">$45,122.00</div>
        </div>
      </div>
      <div class="box-updated margin-above" hidden>ADDED</div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="money-loaned-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-handshake fontawesome-icon"></span><span class="font-weight-heavy">Money loaned</span>
    </h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated"
      onclick="removeSummary('money-loaned');">&nbsp;Delete item&nbsp;</button>
  </div>
  <h4 class="margin-below--mid margin-above--none">Add any loans you <span class="partner">and/or your partner</span>
    have made to any person, including family members or business.</h4>
  <p class="margin-below--mid">Include money loaned to private trusts or companies and interest free loans.</p>
  <hr>
  <form id="myForm">
    <div class="form-group margin-above partner">
      <label class="uikit-text-input__label" for="drop-down">Lender</label>
      <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
        <option selected="selected">-- Select one --</option>
        <option>Me</option>
        <option>My partner</option>
        <option>Jointly with my partner</option>
      </select>
    </div>
    <input type="reset" style="display:none">
    <div class="form-group margin-above--large">
      <label class="uikit-text-input__label" for="tags">Name of borrower</label>
      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
    </div>
    <div class="form-group margin-above--large">
      <label class="uikit-text-input__label" for="date">Date loaned
        <span class="hint">(dd / mm / yyyy)</span>
      </label>
      <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required
        aria-required="true" aria-label="2 digit day"> /
      <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required
        aria-required="true" aria-label="2 digit month"> /
      <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required
        aria-required="true" aria-label="4 digit year">
    </div>
    <div class="form-group margin-above--large">
      <label class="uikit-text-input__label" for="Input field">Balance Outstanding</label>
      <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field"
        id="Input field" type="text" value="0.00" required aria-required="true">
    </div>
    <%- include(partials+"components/form-partials/notice", {
      message: "You will need to provide evidence of money loaned in the documents section."
    }); %>

  </form>
  <hr>
  <div class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn"
      onclick="addSummary('money-loaned');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
      class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>