<!-- Summary card -->
<div id="super-pension-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-envelope-open-dollar fontawesome-icon"></span>&nbsp;&nbsp;<span class="font-weight-heavy">Superannuation pension and payments</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('super-pension');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Provider name</b></div>
                    <div class="td">DFRDB</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Product reference number</b></div>
                    <div class="td">455 678</div>
                </div>
                 <div class="tr">
                    <div class="td"><b>Paid to</b></div>
                    <div class="td">My partner</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="super-pension-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-envelope-open-dollar fontawesome-icon"></span>&nbsp;<span class="font-weight-heavy">Superannuation pension and payments</span></h2><button id="deleteButton"
      class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('super-pension');">&nbsp;Delete item&nbsp;
    </button>
  </div>
  <div id="card-details" class="margin-below--large">
    <p><strong>Add all superannuation income, pension or disability payments<span class="partner"> received by you and/or your partner</span>.</strong></p>
    
    <p class="margin-below--mid margin-above"></p>
    <p>This includes payments from ComSuper, Defence Force Retirement Death Benefits (DFRDB), Military Superannuation Benefits Scheme (MSBS), State Government and bank employee superannuation funds.</p>
    <p>Do not include your DVA payments. Also do not include Self Managed Super Fund (SMSF) details which are captured elsewhere.</p>
    <hr />
    <form id="myForm">
      <input type="reset" style="display:none">
      <!-- form goes here -->

      <div class="form-group">
        <label class="uikit-text-input__label" for="Input field">Provider name</label>
        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
      </div>

      <div class="form-group margin-above--large">
        <label class="uikit-text-input__label" for="date">Start Date
          <span class="hint">(dd / mm / yyyy)</span>
        </label>
        <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
        <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
      </div>

      <div class="form-group margin-above--large">
        <label class="uikit-text-input__label" for="Input field">Product reference number:</label>
        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
      </div>

       <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="drop-down">Paid to</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select one --</option>
                    <option>Myself</option>
                    <option>My partner</option>
                </select>
            </div>

            <%- include(partials+"components/form-partials/date", {
              label: "Date acquired",
            }); %>

      <div class="uikit-page-alerts margin-above--large" role="alert">
        <p>You will need to attach your latest statement of benefit from the paying authority in the documents section. </p>
      </div>

      


    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('super-pension');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
      class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>