
<!-- Summary card -->
<div id="maintenance-paid-to-former-partner-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-hand-holding-usd fontawesome-icon"></span><span class="font-weight-heavy">Maintenance payments</span></h2>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('maintenance-paid-to-former-partner');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Paid by</b></div>
                    <div class="td">Myself</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Amount</b></div>
                    <div class="td">$360</div>
                </div>
                 <div class="tr">
                    <div class="td"><b>Frequency</b></div>
                    <div class="td">Monthly</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Open card -->
<div id="maintenance-paid-to-former-partner-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;"><span class="fal fa-hand-holding-usd fontawesome-icon"></span><span class="font-weight-heavy">Maintenance paid to a former partner</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('maintenance-paid-to-former-partner');">&nbsp;Delete
            item&nbsp;
        </button>
    </div>
    <div id="card-details" class="margin-below--large">
        <h4 class="margin-below--mid margin-above--none">Add all money paid to a former partner following a divorce<span class="partner">, by you and/or your partner</span>.</h4>
        <p class="margin-below--mid">Do not include maintenance paid for any children</p>
        <hr>
        <form id="myForm">
            <input type="reset" style="display:none">
            <div class="form-group margin-above--large partner">
                <label class="uikit-text-input__label" for="drop-down">Paid by</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select one --</option>
                    <option>Myself</option>
                    <option>My partner</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="tags">Payment amount</label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="drop-down">Payment frequency</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select one --</option>
                    <option>Weekly</option>
                    <option>Fortnightly</option>
                    <option>Monthly</option>
                    <option>Quarterly</option>
                    <option>Half yearly</option>
                    <option>Annually</option>
                    <option>Once off</option>
                </select>
            </div>
            <%- include(partials+"components/form-partials/date", {
                label: "Date payment commenced",
                id: "date",
                modifiers: ["hidden"]
              }); %>
            <div class="uikit-page-alerts margin-above--large" role="alert">
                <p>You will need to attach a copy of the agreement under which you are paying Spousal Maintenance in the documents section. </p>
            </div>
        </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn" onclick="addSummary('maintenance-paid-to-former-partner');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>