<!-- Summary card -->
<div id="self-managed-super-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                     <span class="fal fa-file-certificate fontawesome-icon"></span><span class="font-weight-heavy">Self-managed superannuation funds (SMSFs &amp; SAFs)</span></h2>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('self-managed-super');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Type of fund</b></div>
                    <div class="td">SMSF</div>
                </div>
                 <div class="tr">
                    <div class="td"><b>Income stream</b></div>
                    <div class="td">Yes</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Real estate</b></div>
                    <div class="td">No</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="self-managed-super-card" class="boxed margin-above margin-below" style="display: none;">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <i class="fal fa-file-certificate fontawesome-icon"></i>
            <span class="font-weight-heavy">Self-managed superannuation funds (SMSFs & SAFs)</span>
          </h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('self-managed-super');">&nbsp;Delete item&nbsp;
        </button>
    </div>
    <div id="card-details" class="margin-below--large">
        <h4 class="margin-below--mid margin-above--none">Add all self-managed superannuation funds (SMSFs) or small APRA funds (SAFs)<span class="partner"> held by you and or your partner.</h4>
        <p class="margin-below--mid">These are superannuation funds you <span class="partner">and/or your partner</span> have setup yourself (also referred to as 'do it yourself' or DIY funds). </p>
        <hr>
        <form id="myForm">
            <input type="reset" style="display:none">
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="drop-down">Type of fund</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select an item --</option>
                    <option>Self-managed superannuation fund (SMSF)</option>
                    <option>Small APRA fund (SAF)</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="drop-down">Account owner</label>
                <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option selected="selected">-- Select an item --</option>
                    <option>Myself</option>
                    <option>My partner</option>
                </select>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="income-stream">Do you <span class="partner">and/or your partner</span> draw an income stream from the SMSF or SAF in any of the following forms?</label>
                <ul>
                    <li>Account-based pension</li>
                    <li>Allocated pension</li>
                    <li>Transitions to retirement pension</li>
                    <li>Market linked pension</li>
                    <li>Lifetime</li>
                    <li>Life expectancy pension/annuity</li>
                </ul>
                <div class="radio-toggle">
                    <label class="on label-left" for="yes-income-stream">
                        <input id="yes-income-stream" type="radio" name="income-stream">
                        <span>Yes</span>
                    </label>
                    <label class="off label-right" for="no-income-stream">
                        <input id="no-income-stream" type="radio" name="income-stream">
                        <span>No</span>
                    </label>
                </div>
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="smsf-real-estate">Does the SMSF or SAF hold any real estate?</label>
                <div class="radio-toggle">
                    <label class="on label-left" for="yes-smsf-real-estate">
                        <input id="yes-smsf-real-estate" type="radio" name="smsf-real-estate">
                        <span>Yes</span>
                    </label>
                    <label class="off label-right" for="no-smsf-real-estate">
                        <input id="no-smsf-real-estate" type="radio" name="smsf-real-estate">
                        <span>No</span>
                    </label>
                </div>
            </div>
            <div class="uikit-page-alerts margin-above--large" role="alert">
                <p>You will need to attach all supporting documents (e.g. certificate of incorporation and/or statement) related to the SMSF in the documents section.</p>
            </div>
        </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn" onclick="addSummary('self-managed-super'); ">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>