<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('cash-held');">
  <h2 class="card__title">
    <i class="fal fa-money-bill-wave-alt fontawesome-icon"></i>
    <span class="font-weight-heavy">Cash held</span>
  </h2>

  <p class="card__supporting-text text-fullwidth">Add all cash holdings totalling more than $2000<span class="partner"> held by you and/or your partner</span>.</p>
  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>