
<!-- Summary card -->
<div id="life-insurance-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                     <span class="fal fa-umbrella fontawesome-icon"></span><span class="font-weight-heavy">Life insurance</span></h2>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('life-insurance');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="review__table">
                <div class="tr">
                    <div class="td"><b>Insurance company</b></div>
                    <div class="td">Allianz</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Surrender value</b></div>
                    <div class="td">$90,000</div>
                </div>
                 <div class="tr">
                    <div class="td"><b>Owner</b></div>
                    <div class="td">Myself</div>
                </div>
            </div>
            <div class="status-label status-label--added margin-above" style="display: none !important">ADDED</div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="life-insurance-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;">
      <span class="fal fa-umbrella" style="font-size: 1.7em; vertical-align: -15%;"></span>&nbsp;<span class="font-weight-heavy">Life insurance</span></h2><button id="deleteButton"
      class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('life-insurance');">&nbsp;Delete item&nbsp;
    </button>
  </div>
  <h4 class="margin-below--mid margin-above--none">Add all life insurance policies that can be surrendered or cashed in<span class="partner">, owned by you and/or your partner</span>.</h4>
  <p class="margin-below--mid">This includes conventional life insurance, whole of life insurance, endowment insurance and pure endowment insurance polices. </p>
  <p>Do not include products such as term insurance, trauma insurance, total and permanent disablement insurance, income protection insurance or business insurance policies, insurance bonds or friendly society bonds.</p>
  <hr>
  <form id="myForm">
    <input type="reset" style="display:none">
    <div class="form-group margin-above--large">
      <label class="uikit-text-input__label" for="Input field">Name of insurance company</label>
      <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
    </div>
    <div class="form-group margin-above--large">
      <label class="uikit-text-input__label" for="Input field">Policy number (optional)</label>
      <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
    </div>
    <div class="form-group margin-above--large">
      <label class="uikit-text-input__label" for="Input field">Surrender value</label>
      <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
    </div>
    <div class="form-group margin-above--large partner">
      <label class="uikit-text-input__label" for="drop-down">Policy owner</label>
      <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
        <option selected="selected">-- Select one --</option>
        <option>Myself</option>
        <option>My partner</option>
        <option>Jointly with my partner</option>
      </select>
    </div>
    <%- include(partials+"components/form-partials/date", {
      label: "Purchase date",
      id: "date",
      modifiers: ["hidden"]
    }); %>
  </form>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('life-insurance');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary"
      onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>