<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('gifts');">
  <h2 class="card__title">
    <i class="fal fa-gifts fontawesome-icon"></i>
    <span class="font-weight-heavy">Gifts (deprived assets)</span>
  </h2>
  
  <p class="card__supporting-text text-fullwidth">Add all cash, assets or property given away, surrendered, or sold for less than market value<span class="partner">, by you and/or your partner</span>.</p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>