<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('shares');">
        <h2 class="card__title"><icon class="fal fa-chart-line" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Shares</span></h2><p class="card__supporting-text text-fullwidth">Add any shares, options, rights, convertible notes or other securities<span class="partner"> held by you (and/or your partner)</span>.</p>
            <p class="card__supporting-text text-fullwidth"><BR/>UX Done Spec v0.8</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>
