<!-- Summary card -->
<div id="foreign-pension-summary" class="plain-text-info" style="display:none;">
    <div class="review__wrapper">
        <div class="review__content--item boxed row">
            <div class="review__content--label margin-below">
                <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-passport fontawesome-icon"></span><span class="font-weight-heavy">Foreign pension</span>
                </h2>
                <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('foreign-pension');">&nbsp;Edit&nbsp;</button>
            </div>
            <div class="box__table">
                <div class="tr">
                  <div class="td"><b>Payment recipient</b></div>
                  <div class="td">Myself</div>
                </div>
                <div class="tr">
                  <div class="td"><b>Type of payment</b></div>
                  <div class="td">British other income</div>
                </div>
                <div class="tr">
                  <div class="td"><b>Payment amount</b></div>
                  <div class="td">&pound;365.00</div>
                </div>
                <div class="tr">
                    <div class="td"><b>Frequency</b></div>
                    <div class="td">Monthly</div>
                </div>
            </div>
            <div class="status-label status-label--added margin-above" style="display: none !important">ADDED</div>
        </div>
    </div>
</div>
<!-- Open card -->
<div id="foreign-pension-card" class="boxed margin-above margin-below" style="display: none">
    <div>
        <h2 class="margin-above--none" style="display: inline-block;">
            <span class="fal fa-passport fontawesome-icon"></span><span class="font-weight-heavy">Foreign pension</span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('foreign-pension');">&nbsp;Delete item&nbsp;
        </button>
    </div>
    <h4 class="margin-below--mid margin-above--none">Add all income from a government agency or other organisation outside Australia<span class="partner"> received by you and/or your partner</span>.</h4>
    Include any of the following:
    <ul>
        <li>Overseas pensions (e.g British social security, Armed forces, Public Service and War Pensions),</li>
        <li>benefits,</li>
        <li>allowances,</li>
        <li>superannuation,</li>
        <li>compensation,</li>
    </ul>
    <p class="margin-below--mid margin-above">If you are eligible for an overseas payment but don't receive it then you must apply and advise DVA when you receive it.</p>
        <hr>
    <form id="myForm">

        <input type="reset" style="display:none">
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="drop-down">Type of payment</label>
            <select class="uikit-text-input input-half" id="payment-type" name="drop-down">
                <option>-- Select one --</option>
                <option>British Official Public Service/Forces</option>
                <option>British Other Income</option>
                <option>British State Pension</option>
                <option>Other Pension</option>
            </select>
        </div>

        <%- include(partials+"components/form-partials/notice", {
            message: "You will need to provide foreign pension documents form a foreign agency in the documents section."
          }); %>

        <div class="form-group margin-above--large">
            <legend class="legend-label">Country you receive the payment from</legend>
            <select class="uikit-text-input input-half" name="drop-down">
                <option selected="">-- Select option --</option>
                <option value="AF">Afghanistan</option>
                <option value="AX">Åland Islands</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia, Plurinational State of</option>
                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, the Democratic Republic of the</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CI">Côte d'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CW">Curaçao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and McDonald Islands</option>
                <option value="VA">Holy See (Vatican City State)</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran, Islamic Republic of</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="KP">Korea, Democratic People's Republic of</option>
                <option value="KR">Korea, Republic of</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestinian Territory, Occupied</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Réunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="BL">Saint Barthélemy</option>
                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="MF">Saint Martin (French part)</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten (Dutch part)</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syrian Arab Republic</option>
                <option value="TW">Taiwan, Province of China</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-Leste</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela, Bolivarian Republic of</option>
                <option value="VN">Viet Nam</option>
                <option value="VG">Virgin Islands, British</option>
                <option value="VI">Virgin Islands, U.S.</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>
        </div>

        <div id="description" class="form-group margin-above--large" hidden>
            <label class="uikit-text-input__label" for="Input field">Payment description</label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>
        <div id="ref" class="form-group margin-above--large" hidden>
            <label class="uikit-text-input__label" for="Input field">Reference number <span class="hint">(optional)</span></label>
            <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
        </div>
 
        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="drop-down">Payment frequency</label>
            <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                <option selected="selected">-- Select one --</option>
                <option>Weekly</option>
                <option>Fortnightly</option>
                <option>Monthly</option>
                <option>Quarterly</option>
                <option>Half yearly</option>
                <option>Annually</option>
                <option>Once off</option>
            </select>
        </div>

        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="tags">Payment currency</label>
            <select class="uikit-text-input input-half" name="drop-down">
                <option>-- Select an item --</option>
                <option data-symbol="$" data-placeholder="0.00">USD</option>
                <option data-symbol="€" data-placeholder="0.00">EUR</option>
                <option data-symbol="£" data-placeholder="0.00">GBP</option>
                <option data-symbol="¥" data-placeholder="0.00">JPY</option>
                <option data-symbol="$" data-placeholder="0.00">CAD</option>
                <option data-symbol="$" data-placeholder="0.00">AUD</option>
                <option data-symbol="$" data-placeholder="0.00">others to be added</option>
            </select>
        </div>

        <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="tags">Payment amount</label>
            <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
        </div>
       

        <div class="form-group margin-above--large partner">
            <label class="uikit-text-input__label" for="drop-down">Payment recipient</label>
            <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                <option selected="selected">-- Select one --</option>
                <option>Myself</option>
                <option>My partner</option>
            </select>
        </div>
       
        <%- include(partials+"components/form-partials/date", {
            label: "Date payment commenced",
            id: "date",
            modifiers: ["hidden"]
          }); %>

          <%- include(partials+"components/form-partials/date", {
            label: "Start date",
            id: "start-date",
            modifiers: ["hidden"]
          }); %>
    </form>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
        <button id="addButton" class="uikit-btn" onclick="addSummary('foreign-pension');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>

<script>
    $("#payment-type").change(function () {
      mySelection = $('#payment-type :selected').val();
      hideFields();
      switch (mySelection) {
        case "Other Pension":
            $("#description").show()
            $("#ref").show();
            $("#date-container").hide();
            $("#start-date-container").show();
          break;
        default:
        $("#date-container").show();
          break;
      }
    });
  
    function hideFields() {
        $("#description").hide()
        $("#ref").hide();
        $("#start-date-container").hide();
    }
  
   
  </script>