<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('businesses');">
  <h2 class="card__title">
    <i class="fal fa-store fontawesome-icon"></i>
    <span class="font-weight-heavy">Businesses</span>
  </h2>
  
  <p class="card__supporting-text text-fullwidth">Add any businesses you <span class="partner">and/or your partner</span> have been involvement with in the last 5 years.</p>

  <div class="card__button">
    <button class="uikit-btn uikit-btn--tertiary small">Add</button>
  </div>
</div>