<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register: Proof of identity | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    <% include ../partials/path-pmkeys-only.ejs %>
  </nav>
  <% include ../partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Register <span>(Step 3 - Proof of identity)</span></h1>

      <div class="row">
        <div class="col-sm-12">

          <fieldset>
            <div class="form-group">
              <label class="uikit-text-input__label">Have you legally changed your name since leaving the ADF?<!--<span class="hint display-block">For example, did you take your spouses' name after you got married?</span>--></label>
              <div class="radio-toggle">
                <label class="on label-left" for="namechange-yes"><input id="namechange-yes" name="namechange-yes" type="radio"><span>Yes</span></label> 
                <label class="off label-right" for="namechange-no"><input id="namechange-no" name="namechange-yes" type="radio"><span>No</span></label>
              </div>
            </div>
            </fieldset>

<!-- No name change flow -->
           			
            <div class="poiOptions clearboth" style="display: none; clear: both">
             <legend>Proof of identity</legend>
              <label class="uikit-text-input__label" for="idtype">Register using</label>
              <select class="uikit-text-input" name="idtype" id="idtype" type="text" value="">
                <option value=0 selected>-- Select a form of identification --</option>
                <option value="id01">Australian driver licence</option>
                <option value="id03">Australian passport</option>
                <option value="id06">Australian birth certificate</option>
                <option value="id02">Medicare card</option>
                <option value="id07">Australian marriage certificate</option>
                <option value="id05">Certificate of Australian citizenship</option>
              </select>
            

            <!-- Driver Licence -->
            <fieldset class="id-types id-licence" style="display: none">
              <legend>Australian driver licence</legend>
                <!--<img src="docs/images/driver-licence-act.png" alt="Sample driver's licence" />-->
                <div class="form-group">
                  <label class="uikit-text-input__label" for="state">State or Territory driver licence issued</label>
                  <select class="uikit-text-input input-half" name="state" id="state" type="text" value="">
                    <option selected>-- Select state or territory --</option>
                    <option name="act">Australian Capital Territory</option>
                    <option name="nsw">New South Wales</option>
                    <option name="nt">Northern Territory</option>
                    <option name="qld">Queensland</option>
                    <option name="sa">South Australia</option>
                    <option name="tas">Tasmania</option>
                    <option name="vic">Victoria</option>
                    <option name="wa">Western Australia</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="licence-number">Driver licence number</span></label>
                  <input class="uikit-text-input input-half" name="licence-number" id="licence-number" type="text" value="">
                </div>
            </fieldset>

            <!-- Australian passport -->
            <fieldset class="id-types id-passport" style="display: none">
              <legend>Australian passport</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="passport-number">Passport number</label>
                <input class="uikit-text-input input-half" name="passport-number" id="passport-number" type="text" value="">
              </div>
            </fieldset>

            <!-- Birth certificate -->
            <fieldset class="id-types id-birth" style="display: none">
              <legend>Australian birth certificate</legend>
              <div class="uikit-page-alerts" role="alert">
                <p><strong>At least two of the following fields are required.</strong></p>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="birth-registration">Registration number</label>
                <input class="uikit-text-input input-half" name="birth-registration" id="birth-registration" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="birth-registration-dd">Registration issue date <span class="hint">(DD / MM / YYYY)</span></label>
                <input class="uikit-text-input dd birth-registration-dd" type="text" name="birth-registration-dd" id="birth-registration-dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm birth-registration-mm" type="text" name="birth-registration-mm" id="birth-registration-mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy birth-registration-yyyy" type="text" name="birth-registration-yyyy" id="birth-registration-yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="birth-certificate">Certificate number</label>
                <input class="uikit-text-input input-half" name="birth-certificate" id="birth-certificate" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="birth-certificate-dd">Certificate issue date <span class="hint">(DD / MM / YYYY)</span></label>
                <input class="uikit-text-input dd birth-certificate-dd" type="text" name="birth-certificate-dd" id="birth-certificate-dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm birth-certificate-mm" type="text" name="birth-certificate-mm" id="birth-certificate-mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy birth-certificate-yyyy" type="text" name="birth-certificate-yyyy" id="birth-certificate-yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </div>
            </fieldset>

            <!-- Medicare -->
            <fieldset class="id-types id-medicare" style="display: none">
              <legend>Medicare card</legend>
              <img src="docs/images/medicare-card.jpg" alt="Sample medicare card" />
              <div class="form-group">
                <label class="uikit-text-input__label" for="medicare-number">Medicare card number</span></label>
                <input class="uikit-text-input input-half" name="medicare-number" id="medicare-number" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="irn">Individual Reference Number (IRN)</span></label>
                <input class="uikit-text-input dd" name="irn" id="irn" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="expiry-dd">Expiry date <span class="hint">(MM / YYYY)</span></label>
                <input class="uikit-text-input mm" type="text" name="medicare-expiry-mm" id="medicare-expiry-mm" maxlength="2"> /
                <input class="uikit-text-input yyyy" type="text" name="medicare-expiry-yyyy" id="medicare-expiry-yyyy" maxlength="4">
              </div>
            </fieldset>

            <!-- Certificate of citizenship -->
            <fieldset class="id-types id-citizenship" style="display: none">
              <legend>Certificate of Australian citizenship</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="acquisition-dd">Certificate acquisition date <span class="hint">(DD / MM / YYYY)</span></label>
                <input class="uikit-text-input dd acquisition-dd" type="text" name="acquisition-dd" id="acquisition-dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm acquisition-mm" type="text" name="acquisition-mm" id="acquisition-mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy acquisition-yyyy" type="text" name="acquisition-yyyy" id="acquisition-yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="citizenship-number">Certificate number <span class="hint">(or evidence number)</span></label>
                <input class="uikit-text-input input-half" name="citizenship-number" id="citizenship-number" type="text" value="">
              </div>
            </fieldset>
          </div>

<!-- Yes name change flow -->
		
			<!-- POI Options -->
			<div class="namechange-poiOptions clearboth" style="display: none; clear: both">
				 <legend>Proof of identity</legend>
				  <label class="uikit-text-input__label" for="name-idtype">Register using</label>
				  <select class="uikit-text-input" name="name-idtype" id="name-idtype" type="text" value="">
					<option value=0 selected>-- Select a form of identification --</option>
					<option value="id08">Australian marriage certificate</option>
					<option value="id09">Change of name certificate</option>
				  </select>
			</div>
			
			<!-- Marriage Certificate-->
			<% include ../partials/poi-marriage-certificate.ejs %>

			<!-- Change of Name Certificate -->
          	<div class="nameChangeFields" style="display: none">
				<div class="form-group">
					<label class="uikit-text-input__label" for="nameChangeState">Which state or territory did you register your change of name?</label> 
					<select class="uikit-text-input input-half" id="nameChangeState" name="nameChangeState" required aria-required="true">
						<option selected>-- Select state or territory --</option>
						<option value="act">Australian Capital Territory</option>
						<option value="nsw">New South Wales</option>
						<option value="nt">Northern Territory</option>
						<option value="qld">Queensland</option>
						<option value="sa">South Australia</option>
						<option value="tas">Tasmania</option>
						<option value="vic">Victoria</option>
						<option value="wa">Western Australia</option>
					</select>
				</div>
				<div class="form-group nameChangeCoverage" style="display: none;">
					<label class="uikit-text-input__label">Did you change your name after <span id="nameChangeDate"></span>?<span class="hint display-block">If you changed your name before this date, you need to upload a copy of your certificate.</span></label>
					<div class="radio-toggle">
						<label class="on label-left" for="nameChangeCoverage-yes"><input id="nameChangeCoverage-yes" name="namechange-yes" type="radio"><span>Yes</span></label> 
						<label class="off label-right" for="nameChangeCoverage-no"><input id="nameChangeCoverage-no" name="namechange-yes" type="radio"><span>No</span></label>
					</div>
				</div>
				<div class="form-group customNameChangeFields" style="display: none;">
					<p>Relevant form fields for S&T</p>
				</div>
				<div class="form-group nameChangeFail" style="display: none;">
					<p>Upload document</p>
				</div>
			</div>
					
<!-- END FORM -->

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="pagination">
				<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'register-pmkeys-only1'">Previous</button>&nbsp; 
				<button class="uikit-btn floated btnNext" onclick="window.location.href = '/register-pmkeys-only3'">Next</button>
			</div>
		</div>
	</div>

  </div>
  </main>
  
  <% include ../../../auth/cover/partials/removefile-modal.ejs %>
  <% include ../../../global/partials/footer.ejs %>
  
  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "50%";

	// Name change question logic
    $("#namechange-yes").click(function() {
    	$(".namechange-poiOptions").show("fast");
    	$(".poiOptions").hide("fast");
		$('#name-idtype').val(0);
    });
    $("#namechange-no").click(function() {
    	$(".namechange-poiOptions").hide("fast");
    	$(".poiOptions").show("fast");
		$(".id-marriage").hide("fast");
		$('#idtype').val(0);
    });
	  
    // Choose POI fieldset for those who haven't changed their name
    var IdType = jQuery('#idtype');
    var select = this.value;
    IdType.change(function () {
        // Test if a POI is open already, to display warning modal
        // if ( $('.id-types').css('display') != 'none' ) {
        //   alert('div already open');
        // }
        if ($(this).val() == 'id01') {
            $('.id-types').hide();
            $('.id-licence').show();
        }
        if ($(this).val() == 'id02') {
            $('.id-types').hide();
            $('.id-medicare').show();
        }
        if ($(this).val() == 'id03') {
            $('.id-types').hide();
            $('.id-passport').show();
        }
        if ($(this).val() == 'id04') {
            $('.id-types').hide();
            $('.id-descent').show();
        }
        if ($(this).val() == 'id05') {
            $('.id-types').hide();
            $('.id-citizenship').show();
        }
        if ($(this).val() == 'id06') {
            $('.id-types').hide();
            $('.id-birth').show();
        }
        if ($(this).val() == 'id07') {
            $('.id-types').hide();
            $('.id-marriage').show();
        }
    });

	// Choose POI fieldset for those who HAVE changed their name
    var NameIdType = jQuery('#name-idtype');
    var select = this.value;
    NameIdType.change(function () {

		if ($(this).val() == 'id08') {
            $('.name-id-types').hide();
            $('.id-marriage').show();
			$('.nameChangeFields').hide();
			$('#marriednameState').val(0);
        }
		if ($(this).val() == 'id09') {
            $('.name-id-types').hide();
			$('.id-marriage').hide();
            $('.nameChangeFields').show();
        }
    });
	  
	  

	
		
		
    // Select state for name change
    var NameChangeState = jQuery('#nameChangeState');
    var selectNameChangeState = this.value;
    NameChangeState.change(function () {
        if ($(this).val() == 'act') {
            $('.nameChangeCoverage').show();
            $("#nameChangeDate").text("1930");
        }
        if ($(this).val() == 'nsw') {
            $('.nameChangeCoverage').show();
            $("#nameChangeDate").text("April 1996");
        }
        if ($(this).val() == 'vic') {
            $('.nameChangeCoverage').show();
            $("#nameChangeDate").text("1986");
        }
        if ($(this).val() == 'qld') {
            $('.nameChangeCoverage').show();
            $("#nameChangeDate").text("2 February 2004");
        }
        if ($(this).val() == 'wa') {
            $('.nameChangeCoverage').show();
            $("#nameChangeDate").text("26 November 2001");
        }
        if ($(this).val() == 'sa') {
            $('.nameChangeCoverage').show();
            $("#nameChangeDate").text("1990");
        }
        if ($(this).val() == 'tas') {
            $('.nameChangeCoverage').show();
            $("#nameChangeDate").text("November 2000");
        }
        if ($(this).val() == 'nt') {
            $('.nameChangeCoverage').show();
            $("#nameChangeDate").text("1987");
        }
    });

	// If name change within coverage
	$("#nameChangeCoverage-yes").click(function() {
		$(".customNameChangeFields").show("fast");
		$(".nameChangeFail").hide("fast");
	});
	$("#nameChangeCoverage-no").click(function() {
		$(".customNameChangeFields").hide("fast");
		$(".nameChangeFail").show("fast");
	});
	  

	  
    // Prefill
    $(".first-name").val(localStorage.firstName);
    $(".middle-name").val(localStorage.middleName);
    $(".last-name").val(localStorage.lastName);
    $(".dob-dd").val(localStorage.myDd);
    $(".dob-mm").val(localStorage.myMm);
    $(".dob-yyyy").val(localStorage.myYyyy);

  </script>


</body>
</html>
