<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register: Verify service history | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a><% include ../partials/path-dva-only.ejs %>
  </nav>
  <% include ../partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Register <span>(Step 5 - Verify service history)</span></h1>

      <div class="row">
        <div class="col-sm-12">
            <table>
              <legend>Service history</legend>
              <thead>
                <tr>
                  <th>Branch of service</th>
                  <th>Start date</th>
                  <th>End date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Navy</td>
                  <td>1 / 1 / 1987</td>
                  <td>20 / 10 / 1995</td>
                </tr>
                <tr style="display: none" id="extraTr">
                  <td>Army</td>
                  <td>5 / 2 / 1995</td>
                  <td>12 / 6 / 1999</td>
                </tr>
              </tbody>
            </tr>
          </table>
          <button class="uikit-btn small btnAddService">Add</button>

          <fieldset id="addService" style="display: none">
            <legend>Add service</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="service1">Branch</label>
              <select class="uikit-text-input input-half" name="service1" id="service1" type="text" value="">
                <option selected>-- Select --</option>
                <option value="service1-air-force">Air Force</option>
                <option value="service1-army">Army</option>
                <option value="service1-navy">Navy</option>
              </select>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd1-start">Start date <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="dd1-start" id="dd1-start" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm1-start" id="mm1-start" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy1-start" id="yyyy1-start" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd1-end">End date <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="dd1-end" id="dd1-end" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm1-end" id="mm1-end" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy1-end" id="yyyy1-end" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
            <button class="uikit-btn small btnSave">Save</button>&nbsp; <a href="register-dva-only4">Cancel</a>
          </fieldset>

          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'register-dva-only3'">Previous</button>&nbsp; 
            <button class="uikit-btn floated btnNext" onclick="window.location.href = '/register-dva-only5'">Next</button>
          </div>

        </div>

      </div>

    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "70%";
    
    // Add more service
    $( ".btnAddService" ).click(function() {
      $( "#addService" ).toggle("fast");
      $( ".btnAddService" ).toggle("fast");
    });
    $( ".btnSave" ).click(function() {
      $( "#addService" ).toggle("fast");
      $( "#extraTr" ).toggle("fast");
      $( ".btnAddService" ).toggle("fast");
    });
  </script>
</body>
</html>
