<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a><% include ../partials/path-dva-and-pmkeys.ejs %>
  </nav>
  <% include ../partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Register <span>(Step 4)</span></h1>

      <div class="row">
        <div class="col-sm-8">
          <fieldset>
            <legend>Verify your details</legend>
            <div class="form-group title">
              <label class="uikit-text-input__label" for="title">Title</label>
              <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                <option selected>-- Select title --</option>
                <option>Commissioner</option>
                <option>Dame</option>
                <option>Emeritus Professor</option>
                <option>Honourable Mr Justice</option>
                <option>Matron</option>
                <option>Miss</option>
                <option>Monsignor</option>
                <option>Mr</option>
                <option>Mr Justice</option>
                <option>Mrs</option>
                <option>Ms</option>
                <option>Reverend Mr</option>
                <option>Right Reverend Monsignor</option>
              </select>
            </div>
            <div class="form-group title">
              <label class="uikit-text-input__label" for="title">Relationship status</label>
              <select class="uikit-text-input input-half" name="relationship-status" id="relationship-status" type="text" value="">
                <option selected>-- Select relationship status --</option>
                <option>Married</option>
                <option>etc</option>
              </select>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="highest-rank">Highest rank achieved</label>
              <select class="uikit-text-input input-half" name="highest-rank" id="highest-rank" type="text" value="">
                <option selected>-- Select rank --</option>
                <option>Wing Commander</option>
                <option>...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd">Enlistment date <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="enlistment-dd" id="enlistment-dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="enlistment-mm" id="enlistment-mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="enlistment-yyyy" id="enlistment-yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>          
          </fieldset>

          <fieldset>
            <legend>Contact</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="email">Email address</label>
              <input class="uikit-text-input" name="email" id="email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="confirm-email">Confirm email address</label>
              <input class="uikit-text-input" name="confirm-email" id="confirm-email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Phone number <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
            </div>
            <h2>Postal address</h2>
            <div class="form-group">
              <label class="uikit-text-input__label" for="street">Unit / street</label>
              <input class="uikit-text-input" name="street" id="street" type="text" value="10 Paradise Rd">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="suburb">Suburb</label>
              <input class="uikit-text-input" name="suburb" id="suburb" type="text" value="South Mugga">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="postcode">Postcode</label>
              <input class="uikit-text-input input-small" name="postcode" id="postcode" type="text" maxlength="4" value="2540">
            </div>
            <div class="form-group title">
              <label class="uikit-text-input__label" for="state">State / territory</label>
              <select class="uikit-text-input input-half" name="state" id="state" type="text" value="">
                <option>-- Select state or territory --</option>
                <option selected>New South Wales</option>
                <option>...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="country">Country</label>
              <input class="uikit-text-input input-half" name="country" id="country" type="text" value="Australia">
            </div>
            <h2>Residential address</h2>
            <p>
              <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="checkbox" name="sameAddress" checked>
                <span class="uikit-control-input__text"> Same as postal address</span>
              </label>
            </p>
          </fieldset>        

          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'register-dva-and-pmkeys2'">Previous</button>&nbsp; 
            <button class="uikit-btn floated btnNext" onclick="window.location.href = '/register-complete'">Register</button>
          </div>

        </div>

        <div class="col-sm-4">
        </div><!-- col-sm-4 -->

      </div>

    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "80%";
  </script>
</body>
</html>
