<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register: Personal details | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-register.ejs %>
    <% include ../../../global/partials/header-register.ejs %>
      <main>

        <div class="container" id="main-content">
          <div id="progressbar">
            <div id="percentage"></div>
          </div>
          <h1>Register
            <span>(Step 2: Your details)</span>
          </h1>
          <div class="row">
            <div class="col-sm-12">
              <fieldset>
                <legend>Contact details</legend>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="email">Email address</label>
                  <input class="uikit-text-input" name="email" id="email" type="email" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="confirm-email">Re-enter email address</label>
                  <input class="uikit-text-input" name="confirm-email" id="confirm-email" type="email" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="mobile">Home phone number
                    <span class="hint">(optional)</span>
                    <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
                  </label>
                  <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="mobile">Mobile phone number
                    <span class="hint">(optional)</span>
                  </label>
                  <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
                </div>
              </fieldset>

              <br>
              <br>


              <!-- <div id="address-group" class="row">
                <div class="col-lg-4  col-sm-6">
                  <fieldset>
                    <legend>Postal address</legend>
                    <div class="form-group">
                      <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
                      <select id="postalAddr.country" name="postalAddr.country">
                        <option value="Australia" selected>Australia</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <div class="field">
                        <label class="uikit-text-input__label" for="residentialAddr.addressPrefix">
                          Building name or address prefix
                          <span class="hint">(optional)
                          </span>
                        </label>
                        <input type="text" id="residentialAddr.addressPrefix" name="residentialAddr.addressPrefix" class="uikit-text-input" aria-required="false"
                          maxlength="38" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="field">
                        <label class="uikit-text-input__label" for="residentialAddr.addressLine1">
                          Address line 1
                        </label>
                        <input type="text" id="residentialAddr.addressLine1" name="residentialAddr.addressLine1" class="uikit-text-input" aria-required="true"
                          maxlength="38" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="field">
                        <label class="uikit-text-input__label" for="residentialAddr.addressLine2">
                          Address line 2
                          <span class="hint">(optional)
                          </span>
                        </label>
                        <input type="text" id="residentialAddr.addressLine2" name="residentialAddr.addressLine2" class="uikit-text-input" aria-required="false"
                          maxlength="38" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="field">
                        <label class="uikit-text-input__label" for="residentialAddr.town">
                          Town
                        </label>
                        <input type="text" id="residentialAddr.town" name="residentialAddr.town" class="uikit-text-input" aria-required="true" maxlength="17"
                          value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="uikit-text-input__label" for="residentialAddr.postcode">
                        Postcode
                      </label>
                      <input type="text" id="residentialAddr.postcode" name="residentialAddr.postcode" class="uikit-text-input input-small yyyy"
                        aria-required="true" maxlength="4" value="">
                    </div>
                    <div class="form-group">
                      <label class="uikit-text-input__label" for="residentialAddr.state">
                        State or territory
                      </label>
                      <select id="residentialAddr.state" name="residentialAddr.state">
                        <option value="">-- Select state or territory --</option>
                        <option value="ACT">Australian Capital Territory</option>
                        <option value="NSW">New South Wales</option>
                        <option value="NT">Northern Territory</option>
                        <option value="QLD">Queensland</option>
                        <option value="SA">South Australia</option>
                        <option value="TAS">Tasmania</option>
                        <option value="VIC">Victoria</option>
                        <option value="WA">Western Australia</option>
                      </select>
                    </div>
                  </fieldset>
                </div>

                <div class="col-lg-4  col-sm-6">
                  <fieldset>
                    <legend>Residential address</legend>
                    <div class="form-group">
                      <p>
                        <label class="uikit-control-input">
                          <input type="checkbox" class="uikit-control-input__input" name="sameAsPostal" value="on" checked>
                          <span class="uikit-control-input__text">Same as postal address</span>
                        </label>
                      </p>
                    </div>
                  </fieldset>
                </div>

              </div> -->


              <!-- New style address -->
              <legend>Postal address</legend>
              <div class="addressAustralia ">
                <div class="form-group">
                  <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
                  <select class="uikit-text-input input-half countryPostal" name="addressCountry">
                    <option value="Australia" selected>Australia</option>
                    <option value="NZ">New Zealand</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="field">
                    <label class="uikit-text-input__label" for="residentialAddr.addressPrefix">
                      Building name or address prefix
                      <span class="hint">(optional)
                      </span>
                    </label>
                    <input type="text" id="residentialAddr.addressPrefix" name="residentialAddr.addressPrefix" class="uikit-text-input" aria-required="false"
                      maxlength="38" value="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="addressLine1">Address line 1</label>
                  <input class="uikit-text-input" id="addressLine1" name="addressLine1" type="text" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="addressLine2">Address line 2
                    <span class="hint">(optional)</span>
                  </label>
                  <input class="uikit-text-input" id="addressLine2" name="addressLine2" type="text" value="">
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 col-xs-12">
                    <label class="uikit-text-input__label" for="addressTown">Suburb or town</label>
                    <input class="uikit-text-input" id="addressTown" name="addressTown" type="text" value="">
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <label class="uikit-text-input__label" for="addressPostcode">Postcode
                    </label>
                    <input class="uikit-text-input input-small yyyy" id="addressPostcode" maxlength="4" name="addressPostcode" type="text" value="">
                  </div>
                </div>

                <div class="form-group addressInAusPostal">
                  <label class="uikit-text-input__label" for="addressState">State or territory</label>
                  <select class="uikit-text-input input-half" id="addressState" name="addressState">
                    <option> -- Select state or territory -- </option>
                    <option> Australian Capital Territory </option>
                    <option> New South Wales </option>
                    <option> Northern Territory </option>
                    <option> Queensland </option>
                    <option> South Australia </option>
                    <option> Tasmania </option>
                    <option> Victoria </option>
                    <option> Western Australia </option>
                  </select>
                </div>
              </div>

              <br>

              <legend>Residential address</legend>
              <div class="form-group">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked>
                  <span class="uikit-control-input__text">Same as postal address</span>
                </label>
              </div>

              <div class="pt-showIfAdditionalAddress">
                <div class="form-group">
                  <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
                  <select class="uikit-text-input input-half countryResidential" name="addressCountry">
                    <option value="Australia" selected>Australia</option>
                    <option value="NZ">New Zealand</option>
                  </select>
                </div>

                <div class="addressAustralia">
                  <div class="form-group">
                    <div class="field">
                      <label class="uikit-text-input__label" for="residentialAddr.addressPrefix">
                        Building name or address prefix
                        <span class="hint">(optional)
                        </span>
                      </label>
                      <input type="text" id="residentialAddr.addressPrefix" name="residentialAddr.addressPrefix" class="uikit-text-input" aria-required="false"
                        maxlength="38" value="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="postalAddressLine1">Address line 1</label>
                    <input class="uikit-text-input" id="postalAddressLine1" name="postalAddressLine1" type="text" value="">
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="postalAddressLine2">Address line 2
                      <span class="hint">(optional)</span>
                    </label>
                    <input class="uikit-text-input" id="postalAddressLine2" name="postalAddressLine2" type="text" value="">
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4 col-xs-12">
                      <label class="uikit-text-input__label" for="addressTown">Suburb or town</label>
                      <input class="uikit-text-input " id="addressTown" name="addressTown" type="text" value="">
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <label class="uikit-text-input__label" for="addressPostcode">Postcode</label>
                      <input class="uikit-text-input input-small yyyy" id="addressPostcode" maxlength="4" name="addressPostcode" type="text" value="">
                    </div>
                  </div>
                  <div class="form-group addressInAusRes">
                    <label class="uikit-text-input__label" for="postalAddressState">State or territory</label>
                    <select class="uikit-text-input input-half" id="postalAddressState" name="postalAddressState">
                      <option> -- Select state or territory -- </option>
                      <option> Australian Capital Territory </option>
                      <option> New South Wales </option>
                      <option> Northern Territory </option>
                      <option> Queensland </option>
                      <option> South Australia </option>
                      <option> Tasmania </option>
                      <option> Victoria </option>
                      <option> Western Australia </option>
                    </select>
                    </select>
                  </div>
                </div>
              </div>


              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'register-2'">Previous</button>&nbsp;
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel registration</button>&nbsp;
                <button class="uikit-btn floated btnNext">Next</button>
              </div>

            </div>

          </div>

        </div>
      </main>
      <% include ../partials/cancelrego-modal.ejs %>
        <% include ../../../global/partials/footer.ejs %>
          <script src="/docs/js/jquery-effects.js"></script>
          <script src="/docs/js/main.js"></script>
          <script src="/docs/js/jquery-3.2.1.min.js"></script>
          <script>
            // Progress percentage
            document.getElementById("percentage").style.width = "50%";

            $(".countryPostal").change(function () {
              if ($('.countryPostal :selected').val() == "Australia") {
                $(".addressInAusPostal").show();
              } else {
                $(".addressInAusPostal").hide();
              }
            });

            $(".countryResidential").change(function () {
              if ($('.countryResidential :selected').val() == "Australia") {
                $(".addressInAusRes").show();
              } else {
                $(".addressInAusRes").hide();

              }
            });


            $(".pt-showIfAdditionalAddress").hide();

            $('input[name=sameAsPostal]').change(function () {
              if ($(this).is(':checked')) {
                $(".pt-showIfAdditionalAddress").hide();
              } else {
                $(".pt-showIfAdditionalAddress").show();
              }
            });


            // Next button
            $('.btnNext').click(function () {
              location.href = '/register-3';
            });
          </script>
</body>

</html>