<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register: Personal details | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-topbar-register.ejs %>
  <% include ../../../global/partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Register <span>(Step 2 - Your details)</span></h1>
      <div class="row">
        <div class="col-sm-12">
          <div id="rank-group" style="display:none;">
         	  
         	  <fieldset>
          	  <legend>Service details</legend>
				  <div class="form-group" id="enlistment-date" style="display:none;">
					<label class="uikit-text-input__label" for="dd-enlistment">Enlistment date <span class="hint">(DD / MM / YYYY)</span><br><span class="hint">If unsure of the exact date, call the Defence Service Centre on <a href="tel:1800 333 362">1800 333 362</a></span></label>
					<input class="uikit-text-input dd" type="text" name="dd-enlistment" id="dd-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
					<input class="uikit-text-input mm" type="text" name="mm-enlistment" id="mm-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
					<input class="uikit-text-input yyyy" type="text" name="yyyy-enlistment" id="yyyy-enlistment" maxlength="4" required aria-required="true" aria-label="4 digit year">
				  </div>
				  <div class="form-group">
					  <label class="uikit-text-input__label" for="highest-rank" id="rank">Highest rank achieved</label> <select class="uikit-text-input input-half" id="highest-rank" name="highest-rank">
						<option>
						  -- Select rank --
						</option>
						<option selected>
						  Wing Commander
						</option>
						<option>
						  ...
						</option>
						<option>
						  ...
						</option>
					  </select>
				  </div>
        	  </fieldset>
         	<br><br>
          </div>
            

          <fieldset>
            <legend>Personal details</legend>
            
            <div id="title-group" class="form-group">
              <label class="uikit-text-input__label" for="title">Title<br />
              <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span></label>
              <select class="uikit-text-input input-half" id="title" name="title">
                <option>-- Select title --</option>
                <option>Commissioner</option>
                <option>Dame</option>
                <option>Emeritus Professor</option>
                <option>Honourable Mr Justice</option>
                <option>Matron</option>
                <option>Miss</option>
                <option>Monsignor</option>
                <option selected>Mr</option>
                <option>Mr Justice</option>
                <option>Mrs</option>
                <option>Ms</option>
                <option>Reverend Mr</option>
                <option>Right Reverend Monsignor</option>
              </select>
            </div>
            
            <div class="form-group">
              <label class="uikit-text-input__label" for="first-name">Given name  <span class="hint">(first name)</span></label>
              <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required aria-required="true">              
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="middle-name">Middle name <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="middle-name" id="middle-name" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="last-name">Surname  <span class="hint">(last name)</span></label>
              <input class="uikit-text-input" name="last-name" id="last-name" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd">Date of birth <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="dd" id="dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm" id="mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy" id="yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
          </fieldset>
          
		  <br><br>
         
          <fieldset>
            <legend>Contact details</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="email">Email address</label>
              <input class="uikit-text-input" name="email" id="email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="confirm-email">Re-enter email address</label>
              <input class="uikit-text-input" name="confirm-email" id="confirm-email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Home phone number <span class="hint">(optional)</span><span class="hint display-block">Please include your area code (for example, "03" for Victoria)</span></label>
              <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Mobile phone number <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
            </div>
          </fieldset>

          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'register'">Previous</button>&nbsp;<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel registration</button>&nbsp;
            <button class="uikit-btn floated btnNext">Next</button>
          </div>

        </div>

      </div>

    </div>
  </main>
  <% include ../partials/cancelrego-modal.ejs %>
  <% include ../../../global/partials/footer.ejs %>
  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "30%";
    
	// Rank wording change if user is still serving
    if("stillserving" in sessionStorage){
		document.getElementById('rank').innerHTML = 'Rank';
    } else {
		document.getElementById('rank').innerHTML = 'Highest rank acheived';
    };
	
	if("stillserving" in sessionStorage){
		$( "#enlistment-date" ).show();
		$( "#rank-group" ).show();
		$( "#title-group" ).hide();
	};
	  
	if("formerserving" in sessionStorage){
		$( "#enlistment-date" ).hide();
		$( "#rank-group" ).show();
		$( "#title-group" ).show();
		$( "#title-group--optional" ).show();
	};
	
	if("pmkeysyes" in sessionStorage){
		$( "#enlistment-date" ).show();
	};
	  
	if("neverserved" in sessionStorage){
		$( "#rank-group" ).hide();
		$( "#title-group" ).show();
		$( "#title-group--optional" ).hide();
	};
	  
	  
    // Next button
    $('.btnNext').click(function() {
      localStorage.firstName = $('#first-name').val();
      localStorage.middleName = $('#middle-name').val();
      localStorage.lastName = $('#last-name').val();
      localStorage.myDd = $('#dd').val();
      localStorage.myMm = $('#mm').val();
      localStorage.myYyyy = $('#yyyy').val();
      localStorage.myEmail = $('#email').val();
	  location.href = '/register-3';
    });
  </script>
</body>
</html>
