<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Register <span>(Step 3: Proof of identity)</span></h1>

      <div class="row">
        <div class="col-sm-8">
          <fieldset>
            <legend></legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dva-num">foo</label>
              <input class="uikit-text-input input-half" name="dva-num" id="dva-num" type="text" value="">
            </div>
          </fieldset>

          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'register-dva-and-pmkeys1'">Previous</button>&nbsp; 
            <button class="uikit-btn floated btnNext" onclick="window.location.href = '/register-dva-and-pmkeys3'">Next</button>
          </div>

        </div>

        <div class="col-sm-4">
        </div><!-- col-sm-4 -->

      </div>

    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    document.getElementById("percentage").style.width = "60%";
    $( "#nonum" ).click(function() {
      $( "#servicenum" ).toggle("fast");
    });
  </script>


</body>
</html>
