<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register: Personal details | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Register <span>(Step 2 - Personal details)</span></h1>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="uikit-text-input__label" for="dd-enlistment">Enlistment date <span class="hint">(DD / MM / YYYY)</span></label>
            <input class="uikit-text-input dd" type="text" name="dd-enlistment" id="dd-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
            <input class="uikit-text-input mm" type="text" name="mm-enlistment" id="mm-enlistment" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="text" name="yyyy-enlistment" id="yyyy-enlistment" maxlength="4" required aria-required="true" aria-label="4 digit year">
          </div>
          <div class="form-group title">
            <label class="uikit-text-input__label" for="title">Title <span class="hint">(optional)<br />
            Used for correspondence</span></label> 
            <select class="uikit-text-input input-half" id="title" name="title">
              <option selected>-- Select title --</option>
              <option>Commissioner</option>
              <option>Dame</option>
              <option>Emeritus Professor</option>
              <option>Honourable Mr Justice</option>
              <option>Matron</option>
              <option>Miss</option>
              <option>Monsignor</option>
              <option>Mr</option>
              <option>Mr Justice</option>
              <option>Mrs</option>
              <option>Ms</option>
              <option>Reverend Mr</option>
              <option>Right Reverend Monsignor</option>
            </select>
          </div>
          <fieldset>
            <legend>Personal details</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="first-name">Given name  <span class="hint">(first name)</span></label>
              <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required aria-required="true">              
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="middle-name">Middle name <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="middle-name" id="middle-name" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="last-name">Surname  <span class="hint">(last name)</span></label>
              <input class="uikit-text-input" name="last-name" id="last-name" type="text" value="" required aria-required="true">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd">Date of birth <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="dd" id="dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm" id="mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy" id="yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
          </fieldset>
          <fieldset>
            <legend>Contact</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="email">Email address</label>
              <input class="uikit-text-input" name="email" id="email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="confirm-email">Re-enter email address</label>
              <input class="uikit-text-input" name="confirm-email" id="confirm-email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Phone number <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
            </div>
          </fieldset>

          <div class="typeAheadAddress">
            <fieldset>
              <legend>Postal address</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="addressLookup">Starting typing your postal address</label> <input class="uikit-text-input" id="addressLookup" name="addressLookup" type="text" value="">
              </div>
              <button class="uikit-btn uikit-btn--tertiary small btnShowFullAddress">Can't find address?</button>
            </fieldset>
          </div>
          <div class="fullAddress" style="display: none">
            <fieldset>
              <legend>Postal address</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="street">Unit / street</label> 
                <input class="uikit-text-input" id="street" name="street" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="suburb">Suburb</label> <input class="uikit-text-input" id="suburb" name="suburb" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="postcode">Postcode</label> <input class="uikit-text-input input-small" id="postcode" maxlength="4" name="postcode" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="state">State / territory</label> <select class="uikit-text-input input-half" id="state" name="state">
                  <option selected>-- Select state or territory --</option>
                  <option name="act">Australian Capital Territory</option>
                  <option name="nsw">New South Wales</option>
                  <option name="nt">Northern Territory</option>
                  <option name="qld">Queensland</option>
                  <option name="sa">South Australia</option>
                  <option name="tas">Tasmania</option>
                  <option name="vic">Victoria</option>
                  <option name="wa">Western Australia</option>
                </select>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="country">Country</label> <input class="uikit-text-input input-half" id="country" name="country" type="text" value="Australia">
              </div>
              <button class="uikit-btn uikit-btn--tertiary small uikit-btn--borderless btnShowTypeAheadAddress">Cancel</button>
            </fieldset>
          </div>
          <div class="form-group">
            <label class="uikit-text-input__label" for="pmkeys-question">Is your residential address the same?</label>
            <div class="radio-toggle">
              <label class="on label-left" for="residential-yes"><input id="residential-yes" name="residential-address" type="radio"><span>Yes</span></label> <label class="off label-right" for="residential-no"><input id="residential-no" name="residential-address" type="radio"><span>No</span></label>
            </div>
          </div>
          <p class="clickNext" style="display: none; clear: both">Click Next to continue.</p>
          <div class="typeAheadAddress-residential" style="display: none">
            <fieldset>
              <legend>Residential address</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="residential-addressLookup">Starting typing your residential address</label> <input class="uikit-text-input" id="residential-addressLookup" name="residential-addressLookup" type="text" value="">
              </div>
              <button class="uikit-btn uikit-btn--tertiary small btnShowFullAddress-residential">Can't find address?</button>
            </fieldset>
          </div>
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'register'">Previous</button>&nbsp; 
            <button class="uikit-btn floated btnNext">Next</button>
          </div>

        </div>

      </div>

    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "25%";
   
     $(".btnShowFullAddress").click(function() {
       $(".fullAddress").show("fast");
       $(".typeAheadAddress").hide("fast");
       $(".btnShowFullAddress").hide("fast");
     });
     $(".btnShowTypeAheadAddress").click(function() {
       $(".fullAddress").hide("fast");
       $(".typeAheadAddress").show("fast");
       $(".btnShowFullAddress").show("fast");
     });

     // Toggle button logic
     $("#residential-no").click(function() {
       $(".typeAheadAddress-residential").show("fast");
       $("#residential-addressLookup").focus();
       $(".clickNext").hide();
     });
     $("#residential-yes").click(function() {
       $(".typeAheadAddress-residential").hide();
       $(".clickNext").show("fast");
     });

    // Next button
    $('.btnNext').click(function() {
      localStorage.firstName = $('#first-name').val();
      localStorage.middleName = $('#middle-name').val();
      localStorage.lastName = $('#last-name').val();
      localStorage.myDd = $('#dd').val();
      localStorage.myMm = $('#mm').val();
      localStorage.myYyyy = $('#yyyy').val();
      localStorage.myEmail = $('#email').val();
      localStorage.myEnlistmentDd = $('#dd-enlistment').val();
      localStorage.myEnlistmentMm = $('#mm-enlistment').val();
      localStorage.myEnlistmentYyyy = $('#yyyy-enlistment').val();
      location.href = '/register-service-number2';
    });
  </script>
</body>
</html>
