<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register: Personal details | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-register.ejs %>
    <% include ../../../global/partials/header-register.ejs %>
      <main>

        <div class="container" id="main-content">
          <div id="progressbar">
            <div id="percentage"></div>
          </div>
          <h1>Register
            <span>(Step 2: Your details)</span>
          </h1>
          <div class="row">
            <div class="col-sm-12">
              <fieldset>
                <legend>Contact details</legend>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="email">Email address</label>
                  <input class="uikit-text-input" name="email" id="email" type="email" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="confirm-email">Re-enter email address</label>
                  <input class="uikit-text-input" name="confirm-email" id="confirm-email" type="email" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="mobile">Home phone number
                    <span class="hint">(optional)</span>
                    <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
                  </label>
                  <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="mobile">Mobile phone number
                    <span class="hint">(optional)</span>
                  </label>
                  <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
                </div>
              </fieldset>

              <br>
              <br>

              <legend>Postal address</legend>
              <% include ../../../global/partials/postal-address.ejs %>
                <br>
                <legend>Residential address</legend>
                <% include ../../../global/partials/residential-address.ejs %>

                  <div class="pagination">
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'register-2'">Previous</button>
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel registration</button>
                    <button class="uikit-btn floated btnNext">Next</button>
                  </div>

            </div>

          </div>

        </div>
      </main>
      <% include ../partials/cancelrego-modal.ejs %>
        <% include ../../../global/partials/footer.ejs %>
          <script src="/docs/js/jquery-effects.js"></script>
          <script src="/docs/js/main.js"></script>
          <script src="/docs/js/jquery-3.2.1.min.js"></script>
          <script>
            // Progress percentage
            document.getElementById("percentage").style.width = "50%";

            // Next button
            $('.btnNext').click(function () {
              location.href = '/register-3';
            });
          </script>
</body>

</html>