<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register: Personal details | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-register.ejs %>
    <% include ../../../global/partials/header-register.ejs %>
      <main>

        <div class="container" id="main-content">
          <div id="progressbar">
            <div id="percentage"></div>
            <p id="percentage_value"></p>
          </div>
          <h1>Register
            <span>(Step 2: Your details)</span>
          </h1>
          <div class="row">
            <div class="col-sm-12">
              <fieldset>
                <legend>Postal address</legend>
                <% include ../../../global/partials/address-postal.ejs %>
                  <br>
                  <legend>Residential address</legend>
                  <div class="form-group">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked>
                      <span class="uikit-control-input__text">Same as postal address</span>
                    </label>
                  </div>
                  <div class="pt-showIfAdditionalAddress">
                    <% include ../../../global/partials/address-residential.ejs %>
                  </div>
                  <div class="pagination">
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'register-2'">Previous</button>
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-cancelrego-modal'">Cancel registration</button>
                    <button class="uikit-btn floated btnNext">Next</button>
                  </div>

            </div>

          </div>

        </div>
      </main>
      <% include ../partials/cancelrego-modal.ejs %>
        <% include ../../../global/partials/footer.ejs %>
          <script src="/docs/js/jquery-effects.js"></script>
          <script src="/docs/js/main.js"></script>
          <script src="/docs/js/jquery-3.2.1.min.js"></script>
          <script>
            // Progress percentage
            document.getElementById("percentage").style.width = "50%";
            document.getElementById("percentage_value").textContent = "50%";

            // Next button
            $('.btnNext').click(function () {
              location.href = '/register-3';
            });
          </script>
</body>

</html>