<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register: Getting started | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
  <p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav><%include ../partials/header-register.ejs %>
  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1>Register <span>(Step 1: Getting started)</span></h1>
      <div class="has-error" id="error-empty-fields" style="display: none">
        <h2><img src="../../../docs/images/ico-error.svg" alt="Error icon"> Sorry, there was a problem</h2>
        <p>To register you need <strong>at least one</strong> of the following:</p>
        <ul>
          <li>DVA client number</li>
          <li>PMKeyS number</li>
          <li>Service number</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <fieldset>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dva-question">Do you have a DVA client number?</label>
              <div class="radio-toggle">
                <label class="on label-left" for="dva-yes"><input id="dva-yes" name="dva-exising" type="radio"><span>Yes</span></label> <label class="off label-right" for="dva-no"><input id="dva-no" name="dva-exising" type="radio"><span>No</span></label>
              </div>
            </div><!-- start hidden by default -->
            <div class="form-group enter-dva-number" style="display: none">
              <label class="uikit-text-input__label" for="dva-number">Your DVA number:</label> <input aria-required="true" class="uikit-text-input input-half" id="dva-number" name="dva-number" required="" type="text" value="">
            </div><!-- end hidden by default -->
            <!-- start hidden by default -->
            <div class="form-group pmkeys-question" style="display: none">
              <label class="uikit-text-input__label" for="pmkeys-question">Do you have a PMKeyS number?</label>
              <div class="radio-toggle">
                <label class="on label-left" for="pmkeys-yes"><input id="pmkeys-yes" name="pmkeys" type="radio"><span>Yes</span></label> <label class="off label-right" for="pmkeys-no"><input id="pmkeys-no" name="pmkeys" type="radio"><span>No</span></label>
              </div>
            </div><!-- end hidden by default -->
            <!-- start hidden by default -->
            <div class="form-group enter-pmkeys-number" style="display: none">
              <label class="uikit-text-input__label" for="pmkeys">Your PMKeys number:</label> <input class="uikit-text-input input-half" id="pmkeys" name="pmkeys" type="text" value="">
            </div><!-- end hidden by default -->
            <!-- start hidden by default -->
            <div class="form-group service-number" style="display: none">
              <label class="uikit-text-input__label" for="servicenumber">Service number <br />
              <span class="hint">Using your service number will take longer as you'll need to provide your full service history after verifying your account. <a href="http://www.defence.gov.au/Records/ExService.asp">Accessing service records</a></span></label> <input class="uikit-text-input input-half" id="servicenumber" name="servicenumber" type="text" value="">
            </div><!-- end hidden by default -->
          </fieldset>
        </div>
        <div class="col-sm-6">
          <div class="tip--wrapper">
            <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">
            <h3>Things you'll need:</h3>
            <ul>
              <li>Access to proof of identity documentation</li>
              <li>Your DVA client number, PMKeys or service number</li>
            </ul>
          </div>
        </div><!-- col-sm-6 -->
      </div>
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/'">Back to home</button>&nbsp; <button class="uikit-btn floated btnNext">Next</button>
      </div>
    </div>
  </main><%include ../../../global/partials/footer.ejs %>
  <script src="/docs/js/jquery-effects.js">
  </script> 
  <script src="/docs/js/main.js">
  </script> 
  <script src="/docs/js/jquery-3.2.1.min.js">
  </script> 
  <script>
     // Progress bar
     document.getElementById("percentage").style.width = "10%";

     // Toggle button logic
     $("#dva-no").click(function() {
       $(".pmkeys-question").show("fast");
       $(".enter-dva-number").hide("fast");
     });
     $("#dva-yes").click(function() {
       $(".enter-dva-number").show("fast");
       $(".pmkeys-question").show("fast");
       $("#dva-number").focus();
       $(".service-number").hide("fast");
     });
     $("#pmkeys-yes").click(function() {
       $(".enter-pmkeys-number").show("fast");
       $(".service-number").hide("fast");
       $("#pmkeys").focus();
     });
     $("#pmkeys-no").click(function() {
       $(".enter-pmkeys-number").hide("fast");
     });
     $(document).ready(function(e) {
       $('#pmkeys-no').click(function() {
         if ($('#dva-no').is(':checked')) {
           $(".service-number").show("fast");
         } else {
           $(".service-number").hide("fast");
         }
       });
     });
     $(document).ready(function(e) {
       $('#dva-no').click(function() {
         if ($('#pmkeys-no').is(':checked')) {
           $(".service-number").show("fast");
         } else {
           $(".service-number").hide("fast");
         }
       });
     });

     // Determine which path
     $('.btnNext').click(function() {
       // Have pmkeys and dva
       if ($('#pmkeys').val() != '' && ($('#dva-number').val() != '') && ($('#servicenumber').val() == '')) {
         location.href = '/register-dva-and-pmkeys1';
       }
       // Have only dva
       if ($('#pmkeys').val() == '' && ($('#dva-number').val() != '') && ($('#servicenumber').val() == '')) {
         location.href = '/register-dva-only1';
       }
       // Have only pmkeys
       if ($('#pmkeys').val() != '' && ($('#dva-number').val() == '') && ($('#servicenumber').val() == '')) {
         location.href = '/register-pmkeys-only1';
       }
       // Have only service number
       if ($('#pmkeys').val() == '' && ($('#dva-number').val() == '') && ($('#servicenumber').val() != '')) {
         location.href = '/register-service-number1';
       }
       // Nothing selected
       if ($('#pmkeys').val() == '' && ($('#dva-number').val() == '') && ($('#servicenumber').val() == '')) {
         $("#error-empty-fields").toggle("fast");
         $('html, body').animate({
           scrollTop: $('#error-empty-fields').position().top
         }, 'fast');
       }
     });
  </script>
</body>
</html>