<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage"></div>
      </div>
      <h1 class="heading-icon"><img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon">Thanks for registering</h1>
      <p>We've emailed a temporary password to yourEmail@domain.com.</p>
      <h2>Log in using your temporary password</h2>
      <p>You will be asked to:</p>
      <ol>
        <li>Create a new password</li>
        <li>Verify your service details</li>
      </ol>
      <p>Then you're all set to request a Health Card (White Card) or compensation.</p>
      <p style="font-size: 0.8rem">(<a href="email-registration-success">show sample email</a>)</p>
    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <script src="/docs/js/jquery-effects.js"></script>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "100%";
  </script>
</body>
</html>
