<%- include(templates+"header", {
  claim: "Book Car With Driver",
  heading: "Transport reqirements",
  modifiers: ["noHeading"]
}) %>

    <div class="submitted__container">
      <div class="submitting transition-content transition-content--open">
        <div class="submitted__animation">
          <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation" />
        </div>
        <h1>Submitting booking...</h1>
      </div>
      <div class="submitted transition-content">
        <i class="fal fa-check-circle fa-3x green"></i>
        <h1 class="margin-above--small">Booking submitted</h1>
        <h3 class="margin-above--none margin-below--none">Booking number: 123456</h3>
        <hr class="orange-divider">
        <p>If you have any questions call 1800 555 254.</p>
      </div>
    </div>


  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Back to home",
        link: "/auth"
      },
      {
        text: "View bokings",
        link: "/auth/transport/bookings"
      }
    ]
  }) %>

  <script>
    setTimeout(function() {
      $(".submitting").toggleClass("transition-content--open");
      $(".submitted").toggleClass("transition-content--open");
    }, 1500);

  </script>

<%- include(templates+"footer") %>