<div id="open-download-modal" class="modal-window">
	<style>

		.mys-page-preloader {
			min-height: auto;
			/* justify-content: left; */
		}

	</style>

	<div>

		<h2 class="mys h2 margin-above--none">Your letter is being generated.</h2>
		<div class="example-box">
			<div class="mys-page-preloader">
			  <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation">
			</div>
		  </div>
		<p class="margin-below--small">This may take up to 30 seconds. Download will then begin automatically.</p>
		<!-- <div class="modal-buttons">
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Close</button>
		 </div> -->
	</div>
</div>
