<%- include(templates+"header", {
  title: "Correspondence preferences",
  heading: "Manage correspondence preferences"
})%>

<h2>Enter your new postal address</h2>

<%- include(forms+"prepop/address", {
  label: ""
}) %>


<div id="save-and-next" style="display:none;">
  <p>Choose <b>save and next</b> to continue.</p>
</div>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Cancel",
      link:  "/auth/profile/",
    },
      {
        text: "Update",
        link: "/auth/profile/",
        modifiers: ["floated", "primary"],
        id: "submit"
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

</div>


<%- include(partials+"components/layout/footer") %>
<%#- include("category-page-ss") %>