<div id="state-switcher">
  <h3>State switcher</h3>

  <%#- include(partials+"components/form-partials/radio", {
    label: "Client",
    boxes: [
      "VEA",
      "MRCA/DRCA"
    ],
    id: "cohort"
  }); %>


  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Error"
    ],
    id: "error",
    customClass: "margin-below--none"
  }); %>

 

</div>

<script>

  $(document).ready(function () {

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

  });

  $('#error-1').change(function () {
    updateError();
  });

  function updateError() {
    var myStatus = $("#error-1").is(":checked");
    if (myStatus) {
      $("#error-container").show();
    } else {
      $("#error-container").hide();
    }
  }

</script>