<div id="open-post-confirm-modal" class="modal-window">
	<div>
		<h2 class="mys h2 margin-above--none">Letter will be mailed to:</h2>
		135 Ocean Parade<BR/>
		Buttercup Heights<BR/>
		Alphaville, NSW, 2010<BR/>
		<p class="margin-above--small margin-below--mid">You can update this address in "My details".</p>
		<div class="modal-buttons">
			<button class="uikit-btn" onclick="requestSubmited()">Confirm</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
		</div>
	</div>
</div>
