<div id="state-switcher">
  <h3>CSHC Non Veteran Relationship</h3>
  <%- include(partials+"components/form-partials/checkbox", {
    id: "sw-has-qs",
    label: "Veteran has QS",
    boxes: [
      {
        modifiers: ["checked"],
        text: "Yes"
      }
    ]
  }) %>
</div>

<script>
  $(document).keypress(function (e) {
    switch (e.which) {
      case 96: //tilda
        $('#state-switcher').toggle();
        break;
      default:
    }
  });

  $("#sw-has-qs-container").on("change", function() {
    if ($(":checked", this).length > 0) {
      $("#no-qs-info-container").hide()
    } else {
      $("#no-qs-info-container").show()
    }
  })
</script>