<%- include(forms+"notice", {
  customClass: "divorce-blocker",
  modifiers: ["hidden"],
  type: "error",
  message: `<p>You may not be eligible for Commonwealth Seniors Health Card (CSHC).<br>
            If you would like to discuss your eligiblility, please contact DVA on <span class="phone"></span></p>`
}) %>