<div id="state--known">
  <h3>Veteran details</h3>
  <p class="margin-below--small">If the veteran details are incorrect, please call DVA on <span class="dva-phone"></span>.</p>

  <p>
    <span><b>Partner name&nbsp;&nbsp;&nbsp;</b>John Smith</span>
    <br>
    <span><b>Date of birth&nbsp;&nbsp;&nbsp;</b>11/04/1955</span>
  </p>

<div id="state--unknown" hidden>
  <%- include(forms+"radio", {
    label: "What is your relationship status with the veteran?",
    id: "known--veteran-relationship",
    boxes: [
      "Married",
      "De facto",
      {
        text: "Separated",
        hint: "(while still legally married)"
      },
      "Divorced",
      "Widowed"
    ]
  }) %>

  <%- include("a-02--partial-divorce-block") %>




  <script>
    $("#known--veteran-relationship-container").on("change")    
  </script>

</div>