<div id="state-switcher">
  <h3>CSHC Non Veteran Relationship</h3>
  <%- include(partials+"components/form-partials/radio", {
    id: "sw-veteran-known",
    label: "Relationship state",
    boxes: [
      "Partner unknown",
      "Partner known",
      "War widow",
      "Veteran no QS - partner unknown",
      "Veteran - partner with no QS"
    ]
  }) %>
</div>

<script>
  $(document).keypress(function (e) {
    switch (e.which) {
      case 96: //tilda
        $('#state-switcher').toggle();
        break;
      default:
    }
  });
</script>