<div class="has-residential">
  <h3>Residential address</h3>

  <%- include(forms+"yes_no", {
    customClass: "residential-address-q",
    label: "Does your partner live at the same address as you?"
  }) %>

  <%- include(forms+"prepop/address", {
    customClass: "residential-address-block",
    label: "Partner's residential address",
    modifiers: ["hidden"]
  }) %>
</div>