<%- include(templates+"header", {
  claim: "Transfer Centrelink age pension to DVA",
  heading: "Transfer Centrelink age pension to DVA"
}) %>

<div class="margin-below--extra">
  <p>Complete this application if you are already getting a disability pension from DVA and an
    age pension from Centrelink and you want DVA to pay your age pension. Your partner can also choose to have their age
    pension paid by DVA. Other types of Centrelink payments cannot be transferred.</p>
  <p>The information sought throughout this application is required by DVA to arrange payment of age pension. Your name
    will be disclosed to Centrelink so they can provide DVA with relevant information to transfer the payment.</p>
  <p>If your partner would like to transfer their age pension from centrelink to DVA they will need to complete their own
    application.</p>
  <p>For further information, see the <a href="http://www.dva.gov.au" class="external-link">DVA website</a>.</p>
</div>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "/auth/claims"
      },
      {
        text: "Next",
        link: "/auth/claim/centrelink-age-pension-transfer/01",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>
