<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 1: Add cover | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/progress-bar.ejs %>
  <main>

    <div class="container" id="main-content">
		<h1>Start <span>(Step 1 of 4)</span></h1>
		<% include ../partials/help.ejs %>
		<h3>Has your injury or condition been medically diagnosed?</h3>
		<p>A medical diagnosis must be provided by a GP or Specialist. For some mental health conditions you can provide a medical diagnosis up to six months after requesting cover.</p>

		<div class="radio-toggle">
			<label class="on label-left" for="diagnosis-yes"><input id="diagnosis-yes" type="radio" name="dva-diagnosis"><span>Yes</span></label>
			<label class="off label-right" for="diagnosis-no"><input id="diagnosis-no" type="radio" name="dva-diagnosis"><span>No</span></label>
		</div>

		<div class="pagination">
			<button class="uikit-btn" onclick="window.location.href = '/cover-step2'">Next</button>
			<button class="uikit-btn uikit-btn--borderless btnCancel">Cancel</button>	
		</div>


	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
</body>
</html>