<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 2: Non-liability health care | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
    	<% include ../partials/progress-bar.ejs %>
		<h1>Add cover - success!</h1>
   		
		<h3>Your request for cover has been received.</h3>
    	<p>Once it is processed you will be able to receive treatment at no cost to you for the following conditions:</p>
		<ul>
		  <li>Depressive disorder</li>
		  <li>Anxiety disorder</li>
		  <li>Alcohol use disorder</li>
		</ul>
		<p>We will then add these conditions to your White Card, if you do not have a White Card we will send you one. Prior to receiving treatment please check that your healthcare provider accepts DVA's White Card so you do not have any out of pocket expenses. Please ensure that your postal address details are up to date in your Profile.</p>

		<div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
		  <h3>Visit your GP</h3>
		  <p>You will need to visit your GP and get a medical diagnosis for the above condition(s) and send this to us within 6 months.</p>
		  <button class="uikit-btn uikit-btn--primary" onclick="">Download medical diagnosis form</button>
		</div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>
      </div>

    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script>
    document.getElementById("percentage").style.width = "75%";
  </script>
</body>
</html>
