<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 2: Diagnosis | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/progress-bar.ejs %>
  <main>

    <div class="container" id="main-content">
		<h1>Start <span>(Step 1 of 4)</span></h1>
		<h3>Has your injury or condition been medically diagnosed?</h3>
		<p>A medical diagnosis must be provided by a GP or Specialist. For some mental health conditions you can provide a medical diagnosis up to six months after requesting cover.</p>

		<div class="radio-toggle">
			<label class="on label-left" for="diagnosis-yes"><input id="diagnosis-yes" type="radio" name="dva-diagnosis"><span>Yes</span></label>
			<label class="off label-right" for="diagnosis-no"><input id="diagnosis-no" type="radio" name="dva-diagnosis"><span>No</span></label>
		</div>

		<div class="row">
		<div class="col-sm-12">

		<div class="info-box uploads" style="display: none;">
			<h4>Upload your GP or Specialist's medical report</h4>
			<p>Providing supporting documents is optional but may help us assess your request for cover. Supporting documents may include:</p>
			<ul>
				<li>Images such as x-rays and MRIs</li>
				<li>Imaging reports</li>
				<li>Test results</li>
				<li>Other medical reports</li>
				<li>Files that can be uploaded include .pdf, .jpg, .png and must be smaller than 10MB in size.</li>
			</ul>
			<table class="document-uploads" style="display: none;">
				<tr>
					<th>Document title</th>
					<th class="centred">Actions</th>
				</tr>
				<tr>
					<td>GP-Report-20170601.doc</td>
					<td class="centred"><button class="uikit-btn uikit-btn--tertiary small">View</button> &nbsp;<button class="uikit-btn uikit-btn--tertiary small btnDelete">Delete</button></td>
				</tr>
			</table>
			<button class="uikit-btn uikit-btn--tertiary btnUpload">Upload a document</button>
		</div>

		</div></div>

		<div class="row">
		<div class="col-sm-12">

		<div class="info-box no-path" style="display: none;">
			<h4>Requesting cover without a diagnosis</h4>
			<p>If you are suffering a mental health condition you may be eligible for a <a href="https://www.dva.gov.au/providers/dva-health-cards#whitecard">white card</a> without having to supply a medical diagnosis up front. Mental health conditions include:</p>
			<ul>
				<li>Posttraumatic Stress Disorder (PTSD);</li>
				<li>Depressive Disorder;</li>
				<li>Anxiety Disorder;</li>
				<li>Alcohol Use Disorder; and</li>
				<li>Substance Use Disorder.</li>
			</ul>
		</div>

		</div></div>

		<div class="pagination">
			<button disabled class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/landing'">Previous</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/landing'">Save and exit</button>
			<button class="uikit-btn floated btnNext">Save and next</button>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script>
			$( ".btnUpload" ).click(function() {
				$( ".document-uploads" ).toggle("fast");
				$( ".no-path" ).hide();
			});
			$( ".btnDelete" ).click(function() {
				$( ".document-uploads" ).toggle("fast");
			});
			$( ".btnNext" ).click(function() {
				window.location = 'diagnosis.html';
			});
			$( "#diagnosis-yes" ).click(function() {
				$( ".uploads" ).toggle("fast");
				$( ".no-path" ).hide();
			});
			$( "#diagnosis-no" ).click(function() {
				$( ".uploads" ).hide();
				$( ".no-path" ).toggle("fast");
			});
		</script>
   
    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
</body>
</html>