<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add cover: Diagnosis | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script src="/docs/js/main.js"></script>
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
    <% include ../partials/progress-bar.ejs %>
		<h1>Diagnosis</h1>

    <fieldset>
      <legend>What have you been medically diagnosed with?</legend>
      <div class="form-group">
        <label class="uikit-text-input__label" for="type-diagnosis">Enter the term your GP or Specialist used to describe the condition. <br />
        <span class="hint">For example: Acute meniscal tear of the knee.</span></label>
        <input class="uikit-text-input" name="type-diagnosis" id="type-diagnosis" type="text" value="">
      </div>
    </fieldset>

    <fieldset>
      <legend>Approximately when did it happen, or when did it start happening?</legend>
      <div class="form-group">
        <label class="uikit-text-input__label" for="dd"><span class="hint">If you do not know the exact date, enter the approximate month and year – MM / YYYY</span></label>
        <input class="uikit-text-input dd" type="text" name="dd" id="dd" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
        <input class="uikit-text-input mm" type="text" name="mm" id="mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy" type="text" name="yyyy" id="yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
      </div>
    </fieldset>

    <fieldset>
        <legend>Upload your GP’s or Specialist’s medical report. (optional)</legend>
        <label class="uikit-text-input__label" for="dd"><span class="hint"><strong>Note:</strong> To be reimbursed for your diagnosis costs, you can also attach your receipts.</span></label>
        <p>Providing supporting documents may help us assess your request for cover. Supporting documents may include:</p>
        <ul>
          <li>medical imaging and/or reports (X-Rays and MRIs)</li>
          <li>test results</li>
          <li>other medical reports</li>
        </ul>
        <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
        <p><button class="uikit-btn uikit-btn--tertiary btnUpload">Upload a document</button></p>
        <table class="document-uploads">
          <tr>
            <th>Document title</th>
            <th class="centred">Actions</th>
          </tr>
          <tr>
            <td>GP-Report-20170601.doc</td>
            <td class="centred"><a href="#open-removefile-modal" class="uikit-btn uikit-btn--tertiary small btnDelete" title="Remove this document from your request for cover">Remove</a></td>
          </tr>
        </table>
      </fieldset>

		  <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-step1'" title="Go to the previous Add Cover page">Previous</button>&nbsp;
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Save and exit</button>&nbsp;
			 <button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '#open-modal'" title="Cancel the request for cover">Cancel</button>&nbsp;
        <button class="uikit-btn floated btnNext" onclick="window.location.href = '/cover-step3'" title="Save and go to the next Add Cover page">Save and next</button>
      </div>

      <% include ../partials/removefile-modal.ejs %>
      <% include ../partials/cancel-modal.ejs %>

    </div>
  </main>

  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script>
    document.getElementById("percentage").style.width = "30%";
  </script>
</body>
</html>
