<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Statement and supporting documents | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script src="/docs/js/main.js"></script>
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
    <% include ../partials/progress-bar.ejs %>
		<h1>Statement and supporting documents</h1>
   		<p>All fields are required unless marked (optional).</p>
	<fieldset>
      <legend>Which statements best describe what caused your condition?</legend>
		<div class="form-group">
        	<label class="uikit-text-input__label" for="sop">Based on your condition and responses to questions, these are the most common causes of your condition.<span class="hint">Select all that apply.</span></label>
			<div class="checkbox-style-override">
				<p class="uiToolKitCheckBox">
					<label class="uikit-control-input uikit-control-input--full">
					<input class="uikit-control-input__input" type="checkbox" id="sop1" name="sop">
					<span class="uikit-control-input__text">injury to the affected shoulder</span>
					</label>
				</p>
				<p class="uiToolKitCheckBox">
					<label class="uikit-control-input uikit-control-input--full">
					<input class="uikit-control-input__input" type="checkbox" id="sop2" name="sop">
					<span class="uikit-control-input__text">other</span>
					</label>
				</p>
			</div>
		</div>
	</fieldset>

   	<hr>

    <fieldset>
      <legend>Based on the above statements, how did your service cause,  aggravate or contribute to your condition? <span class="optional-field">(optional)</span></legend>
      <div class="form-group">
        <label class="uikit-text-input__label" for="textArea"><span class="hint required-hint" style="display:none;">Telling us about the events that led to your condition will help us assess your claim.</span> <span class="hint">If a classified operation led to your condition, enter 'classified' - <strong>do not</strong> provide details about the operation here.</span></label>
        <textarea id="textArea" name="statementText" rows="5"></textarea>
      </div>
    </fieldset>

   	<hr>

    <fieldset>
      <legend>Upload other documents that support the link between your service and your condition. (optional)</legend>
      <p>Providing supporting documents is optional but may help us assess your claim.</p>
      <p>Supporting documents may include:</p>
        <ul>
          <li>incident report (Sentinel report)</li>
          <li>Authority to Participate in Civilian Sport</li>
          <li>Hazardous Material Exposure Report</li>
          <li>training programs/itineraries</li>
        </ul>
        <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
      <p><button class="uikit-btn uikit-btn--tertiary btnUpload">Upload a document</button></p>
        <table class="document-uploads">
          <tr>
            <th>Document title</th>
            <th class="centred">Actions</th>
          </tr>
          <tr>
            <td>GP-Report-20170601.doc</td>
            <td class="centred"><a href="#open-removeSupporingFile-modal" class="uikit-btn uikit-btn--tertiary small btnDelete" title="Remove this document from your request for cover">Remove</a></td>
          </tr>
        </table>
      </fieldset>

		  <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-step2'" title="Go to the previous Add Cover page">Previous</button>&nbsp;
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Save and exit</button>&nbsp;
			 <button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '#open-modal'" title="Cancel the request for cover">Cancel</button>&nbsp;
        <button class="uikit-btn floated btnNext" onclick="window.location.href = '/cover-step4'" title="Save and go to the next Add Cover page">Save and next</button>
      </div>

      <% include ../partials/removeSupporingFile-modal.ejs %>
      <% include ../partials/cancel-modal.ejs %>

    </div>
  </main>

  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script>
    document.getElementById("percentage").style.width = "50%";
  </script>
  <script>
    // Other checkbox logic

	$(document).ready(function(e) {
		$('#sop2').click(function() {
			if ($('#sop2').is(':checked')) {
			   $( ".optional-field" ).hide("fast");
			   $( ".required-hint" ).show("fast");

			} else {
				$( ".optional-field" ).show("fast");
				$( ".required-hint" ).hide("fast");
			}
		});
	});
    </script>
</body>
</html>
