<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Review | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script src="/docs/js/main.js"></script>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-version.ejs %>
    <% include ../../header-authenticated.ejs %>
      <% include ../partials/help-button.ejs %>
        <main>

          <div class="container" id="main-content">
            <% include ../partials/progress-bar.ejs %>
              <h1>Review and submit</h1>
              <table class="cover-detail">
                <caption>Diagnosis
                  <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/cover-step1'">Change</button>
                </caption>

                <thead>
                  <tr>
                    <th>What have you been medically diagnosed with?</th>
                    <td>lumbar spondylosis</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Approximately when did it happen, or when did it start happening?</th>
                    <td>12 / 12 / 2005</td>
                  </tr>
                  <tr>
                    <th>Upload your GP's or Specialist's medical report (optional).</th>
                    <td>
                      <a href="#">Test image (114 KB JPG)</a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class="cover-detail">
                <caption>Statement and supporting documents
                  <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/cover-step1'">Change</button>
                </caption>

                <thead>
                  <tr>
                    <th>Which statement best describes how your condition happened?</th>
                    <td>
                      <ul>
                        <li>having seborrhoeic dermatitis of the periocular region at the time of the clinical onset of blepharitis</li>
                      </ul>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Provide a brief description of what led to your condition. (optional)</th>
                    <td>test</td>
                  </tr>
                  <tr>
                    <th>Upload other documents that support the link between your service and your condition. (optional)</th>
                    <td>
                      <a href="#">Test image (114 KB JPG)</a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class="cover-detail">
                <caption>How have you been affected?
                  <button class="uikit-btn uikit-btn--tertiary floated small floated--always" onclick="window.location.href = '/cover-step3'">Change</button>
                </caption>
                <thead>
                  <tr>
                    <th>As a result of my condition, I require..</th>
                    <td>
                      <ul>
                        <li>modifications to my home or vehicle</li>
                        <li>other: I cannot drive so I need a taxi once a week to buy groceries.</li>
                      </ul>
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>My condition meant I was impacted financially by...</th>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <th>I am interested in...</th>
                    <td>
                      <ul>
                        <li>getting a new job.</li>
                        <li>work experience.</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>My condition has impacted my...</th>
                    <td>
                      <ul>
                        <li>ability to interact in social situations (Eg. interacting with friends and family).</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-step4'" title="Go to the previous Add claim page">Previous</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Save and exit</button>
                <button id="coverCancelBtn" class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '#open-cancel-modal'"
                  title="Cancel the claim">Cancel</button>
                <button class="uikit-btn floated btnNext" onclick="window.location.href = '/cover-step6'" title="Go to the next Add claim page">Submit claim</button>
              </div>

              <% include ../partials/removefile-modal.ejs %>
                <% include ../partials/cancel-modal.ejs %>

          </div>
        </main>
        <% include ../../../global/partials/footer.ejs %>
          <% include ../partials/panel-help.ejs %>

            <script>
              $("#transitioning-yes,#transitioning-no").click(function () {
                $(".needs-list").show("fast");
              });
              $("#transitioning-yes").click(function () {
                $(".noshow").show("fast");
                $(".spacer-hr").show("fast");
              });
              $("#transitioning-no").click(function () {
                $(".noshow").hide("fast");
                $(".spacer-hr").hide("fast");
              });
            </script>
            <script>
              document.getElementById("percentage").style.width = "90%";
            </script>
</body>

</html>