<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 3: Statement and supporting documents | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
    	<% include ../partials/progress-bar.ejs %>
		<h1>Add cover - how have you been affected by your condition?</h1>
		
		<fieldset>
  		<legend class="breakout">Tick the boxes that are relevant to you. (optional)
        <span class="hint">Telling us how you have been affected by your condition will help us understand which services are right for you.&nbsp; <a href="/cover-step5">Skip this step<a/></span></legend>

        <div class="form-group">
          <label class="uikit-text-input__label">As a result of my injury/condition, I require...</label>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="medical treatment">
              <span class="uikit-control-input__text">medical treatment.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="transport to/from medical appointments.">
              <span class="uikit-control-input__text">transport to/from medical appointments.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="aids or appliances (Eg. hearing aids, oxygen supplies, mobility and functional support).">
              <span class="uikit-control-input__text">aids or appliances (Eg. hearing aids, oxygen supplies, mobility and functional support).</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="modifications to my home or vehicle">
              <span class="uikit-control-input__text">modifications to my home or vehicle</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="assistance with personal care (Eg. grooming, bathing, dressing).">
              <span class="uikit-control-input__text">assistance with personal care (Eg. grooming, bathing, dressing).</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="assistance with household activities (Eg. cleaning, lawn mowing, gardening).">
              <span class="uikit-control-input__text">assistance with household activities (Eg. cleaning, lawn mowing, gardening).</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set1" value="something not listed above.">
              <span class="uikit-control-input__text">something not listed above.</span>
            </label>
          </p>
		</div>
		
		<br><hr /><br>
		
		<div class="form-group">
          <label class="uikit-text-input__label">My injury/condition meant I was impacted financially by...</label>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="paying for medical treatment.">
              <span class="uikit-control-input__text">paying for medical treatment.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="a loss of allowances whilst serving.">
              <span class="uikit-control-input__text">a loss of allowances whilst serving.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="being medically downgraded.">
              <span class="uikit-control-input__text">being medically downgraded.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="a delay in my initial employment training.">
              <span class="uikit-control-input__text">a delay in my initial employment training.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="a loss of civilian employment.">
              <span class="uikit-control-input__text">a loss of civilian employment.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="a loss of income.">
              <span class="uikit-control-input__text">a loss of income.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="taking sick or unpaid leave.">
              <span class="uikit-control-input__text">taking sick or unpaid leave.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set2" value="something not listed above.">
              <span class="uikit-control-input__text">something not listed above.</span>
            </label>
          </p>
		</div>
		
		<br><hr /><br>
		
		<div class="form-group">
          <label class="uikit-text-input__label">I am interested in...</label>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set3" value="getting a new job.">
              <span class="uikit-control-input__text">getting a new job.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set3" value="assistance to help me stay in my current job.">
              <span class="uikit-control-input__text">assistance to help me stay in my current job.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set3" value="vocational training.">
              <span class="uikit-control-input__text">vocational training.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set3" value="work experience.">
              <span class="uikit-control-input__text">work experience.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set3" value="something not listed above.">
              <span class="uikit-control-input__text">something not listed above.</span>
            </label>
          </p>
		</div>
		
		<br><hr /><br>
		
		<div class="form-group">
          <label class="uikit-text-input__label">My injury/condition has impacted my...</label>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set4" value="spouse/partner.">
              <span class="uikit-control-input__text">spouse/partner.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set4" value="child.">
              <span class="uikit-control-input__text">child.</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set4" value="ability to interact in social situations (Eg. interacting with friends and family).">
              <span class="uikit-control-input__text">ability to interact in social situations (Eg. interacting with friends and family).</span>
            </label>
          </p>
          <p>
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" name="needs-set4" value="something not listed above.">
              <span class="uikit-control-input__text">something not listed above.</span>
            </label>
          </p>
		</div>
		
		</fieldset>

		  <div class="pagination">
        	<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-step2'" title="Go to the previous Add Cover page">Previous</button>&nbsp;
        	<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Save and exit</button>&nbsp;
        	<button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '#open-modal'" title="Cancel the request for cover">Cancel</button>&nbsp;
        	<button class="uikit-btn floated btnNext" onclick="window.location.href = '/cover-step5'" title="Go to the next Add Cover page">Next</button>
      	</div>

        <% include ../partials/removefile-modal.ejs %>
        <% include ../partials/cancel-modal.ejs %>

    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script>
    document.getElementById("percentage").style.width = "70%";
  </script>
</body>
</html>
