<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 2: Mental health treatment | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>
    <div class="container" id="main-content">
    	<% include ../partials/progress-bar.ejs %>
		<h1>Add cover - mental health treatment</h1>
		
		<legend class="breakout">You can access free treatment for mental health conditions.
        <span class="hint">Mental health conditions <strong>do not</strong> need to be related to your service and a medical diagnosis <strong>is not</strong> required to receive treatment.</span></legend>
        
        
		<div class="row">
			<div class="grids col-md-6 divider">
				<h3>What treatment is covered?</h3>
				<p>A range of treatment and rehabilitation programs may be available to you. These could include treatment from:</p>
				
							<ul>
								<li>general practitioners</li>
								<li>medical specialists</li>
								<li>psychologists</li>
								<li>social workers</li>
								<li>occupational therapists</li>
								<li>psychiatrists</li>
								<li>hospital services</li>
								<li>specialist PTSD programs</li>
								<li>pharmaceuticals</li>
								<li>oncologist services as required to treat the condition</li>
							</ul>

			</div>
			<div class="grids col-md-5">
					<h3>How do I get treatment?</h3>
					<p>To access these services, select ‘submit’. We will assess your request and contact you.</p>
			</div>
		</div>
		<br>

      	<div class="pagination">
        	<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-step1'">Previous</button>&nbsp;
			<button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '#open-modal'" title="Cancel the request for cover">Cancel</button>&nbsp;
        	<button class="uikit-btn floated btnNext" onclick="window.location.href = '/cover-nlhc-step3'">Submit</button>
      	</div>
      
      <% include ../partials/cancel-modal.ejs %>
      	
    </div>
  </main>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script>
    document.getElementById("percentage").style.width = "80%";
  </script>
</body>
</html>
