<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 2: Non-liability health care | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
    	<% include ../partials/progress-bar.ejs %>
		<h1>Add Cover - Review and submit</h1>
    	<p>You are applying to receive treatment and/or rehabilitation at no cost to you for:</p>
		<ul>
		  <li>Depressive disorder</li>
		  <li>Anxiety disorder</li>
		  <li>Alcohol use disorder</li>
		</ul>
		<p>By clicking on Submit I acknowledge that the information I have provided is truthful and accurate.</p>

      	<div class="pagination">
        	<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-nlhc-step2'">Previous</button>&nbsp; <a href="#open-modal">Cancel</a>
        	<button class="uikit-btn floated btnNext" onclick="window.location.href = '/cover-nlhc-step4-A'">Submit</button>
      	</div>
      
      <% include ../partials/cancel-modal.ejs %>

    </div>
  </main>

  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script>
    moveProgressBar();
    // on browser resize...
    $(window).resize(function() {
        moveProgressBar();
    });

    // SIGNATURE PROGRESS
    function moveProgressBar() {
      console.log("moveProgressBar");
        var getPercent = ($('.progress-wrap').data('progress-percent') / 100);
        var getProgressWrapWidth = $('.progress-wrap').width();
        var progressTotal = getPercent * getProgressWrapWidth;
        var animationLength = 2500;
        
        // on page load, animate percentage bar to data percentage length
        // .stop() used to prevent animation queueing
        $('.progress-bar').stop().animate({
            left: progressTotal
        }, animationLength);
    }
  </script>
  
</body>
</html>
