<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 1: Add cover | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
    	<h1 class="ico-addcover">Add Cover</h1>
    	<% include ../partials/progress-bar.ejs %>
		<h2>Start</h2>
		<h3>Do you have a medical diagnosis for your injury or disease you want covered? (Required)</h3>
		<p>A medical diagnosis of the injury or disease must be provided by a GP or Specialist. For some mental health conditions you can provide a medical diagnosis up to six months after requesting cover.</p>

		<div class="radio-toggle">
			<label class="on label-left" for="diagnosis-yes"><input id="diagnosis-yes" type="radio" name="dva-diagnosis"><span>Yes</span></label>
			<label class="off label-right" for="diagnosis-no"><input id="diagnosis-no" type="radio" name="dva-diagnosis"><span>No</span></label>
		</div>

		<div class="pagination">
			<button class="uikit-btn uikit-btn--primary" onclick="window.location.href = '/cover-nlhc-step2'">Next</button>
			<button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '#open-modal'">Cancel</a>
		</div>
		
		<% include ../partials/cancel-modal.ejs %>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>