<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 3: Success | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
      <h1>Other treatment</h1>    
      <div class="container-alert white-background uikit-page-alerts--warning">
        <div class="container header-system-message">
          <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
            <h2>Medical diagnosis required</h2>
            <p>To apply for cover we need a medical diagnosis from a medical practitioner. You can take the following form to your GP for them to complete and sign.</p>
            <ul>
              <li><a href="">Download medical diagnosis form (12 KB PDF)</a></li>
            </ul>
          </div>
        </div>
      </div>      
       	
     	<div class="pagination">
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-nlhc-step2'">Previous</button>&nbsp;
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile'" title="Go to the My Profile page">Update profile</button>&nbsp;
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-treatment'" title="Go to the MyService home page">My cover</button>
		</div>

    </div>
  </main>

  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script>
    document.getElementById("percentage").style.width = "100%";
  </script>
</body>
</html>
