<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 2: Non-liability health care | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/progress-bar.ejs %>
  <main>

    <div class="container" id="main-content">
		<h1>Review and submit</h1>
    <p>You are applying to receive treatment and/or rehabilitation at no cost to you for:</p>
    <ul>
      <li>Depressive disorder</li>
      <li>Anxiety disorder</li>
      <li>Alcohol use disorder</li>
    </ul>
    <p>By clicking on Submit I acknowledge that the information I have provided is truthful and accurate.</p>

		<div class="pagination">
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-nlhc-step2'">Previous</button>
			<button class="uikit-btn btnNext" onclick="window.location.href = '/cover-nlhc-step4-A'">Submit</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/landing'">Cancel</button>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script>
			$( ".btnUpload" ).click(function() {
				$( ".document-uploads" ).toggle("fast");
				$( ".no-path" ).hide();
			});
			$( ".btnDelete" ).click(function() {
				$( ".document-uploads" ).toggle("fast");
			});
			$( "#diagnosis-yes" ).click(function() {
				$( ".uploads" ).toggle("fast");
				$( ".no-path" ).hide();
			});
			$( "#diagnosis-no" ).click(function() {
				$( ".uploads" ).hide();
				$( ".no-path" ).toggle("fast");
			});
		</script>

    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
</body>
</html>
