<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 1: Add cover | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
      <% include ../partials/progress-bar.ejs %>
      <h1>Add cover - start</h1>
      <p>All fields are required unless marked (optional).</p>
      <fieldset>
  		<legend>Is your injury or condition related to mental health?</legend>
  		<p>Eg: Post Traumatic Stress Disorder (PTSD), Anxiety and Depressive disorder, Alcohol Abuse, Substance Abuse.  </p>

  		<div class="radio-toggle">
  			<label class="on label-left" for="relatedmentalhealth-yes"><input id="relatedmentalhealth-yes" type="radio" name="dva-relatedmentalhealth"><span>Yes</span></label>
  			<label class="off label-right" for="relatedmentalhealth-no"><input id="relatedmentalhealth-no" type="radio" name="dva-relatedmentalhealth"><span>No</span></label>
  		</div>
      </fieldset>
      
   <div id="mental-health-needs">
     
      <br><hr><br>
      
      <legend>What do you need?</legend>
      
      <div class="card card-mentalhealth">	
      	<h3>Treatment</h3>
      	<img src="../../../docs/images/ico-treatment-black.png" class="card-mentalhealth--icon">
      	<div>
      	<p>Apply to receive treatment and/or rehabilitation for a mental health condition.</p>
      	<p>A medical diagnosis is <strong>not required</strong> to receive treatment for a mental health condition.</p>
      	</div>
      	<div class="radio-toggle">
  			<label class="on label" for="treatment-only"><input id="treatment-only" type="radio" name="dva-treatment"><span>Select</span></label>
		</div>
      </div>
      
      <div class="card card-mentalhealth">
      	<h3>Treatment and compensation</h3>
      	<img src="../../../docs/images/ico-treatment-black.png" class="card-mentalhealth--icon"><span class="plus-symbol">+</span><img src="../../../docs/images/ico-financial-black.png" class="card-mentalhealth--icon">
      	<div>
      	<p>Apply to receive treatment and financial compensation for a mental health condition.</p>
      	<p>If you wish to receive financial compensation, you will need a <strong>medical diagnosis</strong>.</p>
      	</div>
      	<div class="radio-toggle">
  			<label class="on label" for="treatment-compensation"><input id="treatment-compensation" type="radio" name="dva-treatment"><span>Select</span></label>
		</div>
      </div>
      
  </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>&nbsp;
        <button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '#open-modal'">Cancel</button>&nbsp;

        <button class="uikit-btn floated btnNext" onclick="window.location.href = '/cover-step2'">Next</button>
      </div>  		
  		<% include ../partials/cancel-modal.ejs %>	
    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
	// Show and hide additional mental health question
	$( "#relatedmentalhealth-yes" ).click(function() {
		  $( "#mental-health-needs" ).show("fast");
		});
		$( "#relatedmentalhealth-no" ).click(function() {
			$( "#mental-health-needs" ).hide("fast");
		});
	  
	// Button logic
	$(document).ready(function(e) {
    $('.btnNext').click(function() {
		if ($('#relatedmentalhealth-no').is(':checked')) {
            window.location = '/cover-step2';
        } else if ($('#treatment-compensation').is(':checked')) {
            window.location = '/cover-step2';
        } else {
            window.location = '/cover-nlhc-step2';
        }
    });
	});

    moveProgressBar();
    // on browser resize...
    $(window).resize(function() {
        moveProgressBar();
    });

    // SIGNATURE PROGRESS
    function moveProgressBar() {
      console.log("moveProgressBar");
        var getPercent = ($('.progress-wrap').data('progress-percent') / 100);
        var getProgressWrapWidth = $('.progress-wrap').width();
        var progressTotal = getPercent * getProgressWrapWidth;
        var animationLength = 2500;
        
        // on page load, animate percentage bar to data percentage length
        // .stop() used to prevent animation queueing
        $('.progress-bar').stop().animate({
            left: progressTotal
        }, animationLength);
    }
  </script>

</body>
</html>