<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 2: Diagnosis | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/progress-bar.ejs %>
  <main>

    <div class="container" id="main-content">
		<h1>Diagnosis <span>(Step 2 of 4)</span></h1>
		
		<h3>What have you been medically diagnosed with?</h3>
		
		<p>Enter the term provided by your GP or Specialist used to describe the condition. <br />
		<em>Example: 'Acute meniscal tear of the knee'</em>.</p>
		
        <p>
        	<label for="tags" class="vaOffscreen">Type diagnosis</label>
        	<input type="text" id="tags">
        </p>
		
		<hr />
		
		<h3>Approximately when did it happen, or when did it start happening?</h3>
		
		<input class="ui inputs" type="text" id="onset-month" placeholder="MM" maxlength="2" style="width: 5em; display: inline"> /
		<input class="ui inputs" type="text" id="onset-year" placeholder="YYYY" maxlength="4" style="width: 8em; display: inline">  

		<br><br><hr />
		
		<div class="row">
		<div class="col-sm-12">

		<div class="info-box uploads">
			<h4>Upload your GP or Specialist's medical report</h4>
			<p>Providing supporting documents is optional but may help us assess your request for cover. Supporting documents may include:</p>
			<ul>
				<li>Images such as x-rays and MRIs</li>
				<li>Imaging reports</li>
				<li>Test results</li>
				<li>Other medical reports</li>
				<li>Files that can be uploaded include .pdf, .jpg, .png and must be smaller than 10MB in size.</li>
			</ul>
			<p><button class="uikit-btn uikit-btn--tertiary btnUpload">Upload a document</button></p>
		
			<table class="document-uploads" style="display: none;">
				<tr>
					<th>Document title</th>
					<th class="centred">Actions</th>
				</tr>
				<tr>
					<td>GP-Report-20170601.doc</td>
					<td class="centred"><button class="uikit-btn uikit-btn--tertiary small btnDelete">Delete</button></td>
				</tr>
			</table>
		</div>

		</div></div>
		
		<div class="pagination">
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-step1'">Previous</button>
			<button class="uikit-btn uikit-btn--tertiary btnExit">Save and exit</button>
			<button class="uikit-btn floated btnNext">Save and next</button>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script>
			$( ".btnUpload" ).click(function() {
				$( ".document-uploads" ).toggle("fast");
				$( ".no-path" ).hide();
			});
		</script>
   
    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
</body>
</html>