<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 2: Non-liability health care | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
    	<% include ../partials/progress-bar.ejs %>
    	<h1>Add cover - diagnosis required</h1>
    	
		<div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
		  <h3>Visit your GP</h3>
		  <p>To apply for cover we need a medical diagnosis from a GP. Please download and print the medical diagnosis form and take this to your GP for them to complete and sign.</p>
		  <button class="uikit-btn uikit-btn--primary" onclick="">Download medical diagnosis form</button>
		</div>

      	<div class="pagination">
        	<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-nlhc-step2'">Previous</button>
        	<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>
      	</div>

    </div>
  </main>
  
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script>
    document.getElementById("percentage").style.width = "75%";
  </script>
</body>
</html>
