<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Submitted | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
	<script src="/docs/js/jquery-3.2.1.min.js"></script>
	<script src="/docs/js/main.js"></script>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<nav class="uikit-skip-link">
		<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
	</nav>
	<% include ../../../global/partials/header-version.ejs %>
		<% include ../../header-authenticated.ejs %>

			<main>
				<section>
					<div class="container" id="main-content">
						<% include ../partials/progress-bar.ejs %>

							<h1 class="heading-icon">
								<img src="../../../docs/images/ico-tick-green.svg" alt="Success tick icon">Submitted</h1>
							<div class="timebox--wrapper">
								<img src="../../../docs/images/ico-phone-blue.svg" alt="Phone icon">
								<h3>We will contact you within 3 weeks to discuss how we can help you.</h3>
							</div>

							<% include ../../../global/partials/five-star-rating-component.ejs %>

								<div class="pagination">
									<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-step1'" title="Go to the Add Cover page">Add more cover</button>
									<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile'" title="Go to the My Profile page">Update profile</button>
									<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'" title="Go to the MyService home page">Back to home</button>
								</div>

					</div>
				</section>
			</main>

			<% include ../../../global/partials/footer.ejs %>

				<script>
					document.getElementById("percentage").style.width = "100%";
					document.getElementById("percentage_value").textContent = "100%";
				</script>
</body>

</html>