<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Start | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/help-button.ejs %>
  <main>

    <div class="container" id="main-content">
      <% include ../partials/progress-bar.ejs %>
      <h1>Start</h1>
      <p>All fields are required unless marked (optional).</p>
      <fieldset>
  		<legend>Is your injury or condition related to mental health?</legend>
  		<p>Eg: Post Traumatic Stress Disorder (PTSD), Anxiety and Depressive disorder, Alcohol Abuse, Substance Abuse.  </p>

  		<div class="radio-toggle">
  			<label class="on label-left" for="relatedmentalhealth-yes"><input id="relatedmentalhealth-yes" type="radio" name="dva-relatedmentalhealth"><span>Yes</span></label>
  			<label class="off label-right" for="relatedmentalhealth-no"><input id="relatedmentalhealth-no" type="radio" name="dva-relatedmentalhealth"><span>No</span></label>
  		</div>
      </fieldset>
      
       <div class="mental-health-needs" style="display:none;">     
        <div class="row">
          <div class="breakout">
            <h2>You can access free treatment for mental health conditions</h2>
            <p>Mental health conditions <strong>do not</strong> need to be related to your service and a medical diagnosis <strong>is not</strong> required to receive treatment.</p>
          </div>
          <div class="grids col-md-6 divider">
            <h3>What treatment is covered?</h3>
            <p>A range of treatment and rehabilitation programs may be available to you. These could include treatment from:</p>        
            <ul>
              <li>general practitioners</li>
              <li>medical specialists</li>
              <li>psychologists</li>
              <li>social workers</li>
              <li>occupational therapists</li>
              <li>psychiatrists</li>
              <li>hospital services</li>
              <li>specialist PTSD programs</li>
              <li>pharmaceuticals</li>
              <li>oncologist services as required to treat the condition</li>
            </ul>
          </div>
          <div class="grids col-md-5">
            <h3>How do I get treatment?</h3>
            <p>To access these services, select ‘submit’. We will assess your request and contact you.</p>
          </div>
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>&nbsp;
            <button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '#open-modal'">Cancel</button>&nbsp;
            <button class="uikit-btn floated btnNext" onclick="window.location.href = 'cover-nlhc-step3'">Request treatment</button>
          </div>
        </div>
      </div><!-- mental-health-needs -->

      <div class="diagnosis-cover" style="display: none">
        <fieldset>
          <legend>What have you been medically diagnosed with?</legend>
          <div class="form-group">
            <label class="uikit-text-input__label" for="type-diagnosis">Enter the term provided by your GP or Specialist used to describe the condition. <br />
            <span class="hint">Example: 'Acute meniscal tear of the knee'.</span></label>
            <input class="uikit-text-input" name="type-diagnosis" id="type-diagnosis" type="text" value="">
          </div>
        </fieldset>

        <fieldset>
          <legend>Approximately when did it happen, or when did it start happening?</legend>
          <div class="form-group">
            <label class="uikit-text-input__label" for="dd"><span class="hint">Approximate MM / YYYY</span></label>
            <input class="uikit-text-input mm" type="text" name="mm" id="mm" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
            <input class="uikit-text-input yyyy" type="text" name="yyyy" id="yyyy" maxlength="4" required aria-required="true" aria-label="4 digit year">
          </div>
        </fieldset>
          
        <div class="pagination">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Back to home</button>&nbsp;
          <button class="uikit-btn uikit-btn--borderless" onclick="window.location.href = '#open-modal'">Cancel</button>&nbsp;
          <button class="uikit-btn floated btnNext" onclick="window.location.href = 'cover-step2'">Next</button>
        </div>

      </div><!-- diagnosis-cover -->
    

  		<% include ../partials/cancel-modal.ejs %>	
    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <% include ../partials/panel-help.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script>
  	// Show and hide additional mental health question
  	$( "#relatedmentalhealth-yes" ).click(function() {
        $( ".mental-health-needs" ).show("fast");
  		  $( ".diagnosis-cover" ).hide("fast");
  	});
  	$( "#relatedmentalhealth-no" ).click(function() {
      $( ".mental-health-needs" ).hide("fast");
      $( ".diagnosis-cover" ).show("fast");
  	});	  
  </script>

</body>
</html>