<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Step 2: Non-liability health care | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>
  <% include ../partials/progress-bar.ejs %>
  <main>

    <div class="container" id="main-content">
		<h1>Non-liability health care <span>(Step 2 of 3)</span></h1>
		<h3>Are you seeking medical treatment at no cost to you for any of the following mental health conditions?</h3>
		<p>If you have served as a permanent member of the Australian Defence Force you can receive treatment for the mental health conditions listed below at no cost to you. There is no need to establish that these conditions were caused by your service. Select any conditions below that you want cover for.</p>

    <p>
      <label class="uikit-control-input">
        <input class="uikit-control-input__input" name="hasPTSD" value="on" type="checkbox">
        <span class="uikit-control-input__text">Post Traumatic Stress Disorder (PTSD)</span>
      </label>
    </p>
    <p>
      <label class="uikit-control-input">
        <input class="uikit-control-input__input" name="hasDepressiveDisorder" value="on" type="checkbox">
        <span class="uikit-control-input__text">Depressive disorder</span>
      </label>
    </p>
    <p>
      <label class="uikit-control-input">
        <input class="uikit-control-input__input" name="hasAnxietyDisorder" value="on" type="checkbox">
        <span class="uikit-control-input__text">Anxiety disorder</span>
      </label>
    </p>
    <p>
      <label class="uikit-control-input">
        <input class="uikit-control-input__input" name="hasAlcoholUseDisorder" value="on" type="checkbox">
        <span class="uikit-control-input__text">Alcohol Use Disorder</span>
      </label>
    </p>
    <p>
      <label class="uikit-control-input">
        <input class="uikit-control-input__input" name="hasSubstanceUseDisorder" value="on" type="checkbox">
        <span class="uikit-control-input__text">Substance Use Disorder</span>
      </label>
    </p>
    <p>
      <label class="uikit-control-input">
        <input class="uikit-control-input__input" name="notSeekingNLHCTreatment" value="on" type="checkbox">
        <span class="uikit-control-input__text">I'm not seeking treatment for any of the above conditions</span>
      </label>
    </p>

    <div class="uikit-page-alerts uikit-page-alerts--error" role="alert">
      <p>Please choose at least one of the conditions above to continue.</p>
    </div>


		<div class="pagination">
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/cover-step1'">Previous</button>
			<button class="uikit-btn btnNext" onclick="window.location.href = '/cover-nlhc-step3-A'">Save and next</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/landing'">Cancel</button>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script>
			$( ".btnUpload" ).click(function() {
				$( ".document-uploads" ).toggle("fast");
				$( ".no-path" ).hide();
			});
			$( ".btnDelete" ).click(function() {
				$( ".document-uploads" ).toggle("fast");
			});
			$( "#diagnosis-yes" ).click(function() {
				$( ".uploads" ).toggle("fast");
				$( ".no-path" ).hide();
			});
			$( "#diagnosis-no" ).click(function() {
				$( ".uploads" ).hide();
				$( ".no-path" ).toggle("fast");
			});
		</script>

    </div>
  </main>
  <% include ../../../global/partials/footer.ejs %>
</body>
</html>
