<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Cover summary | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../global/partials/header-version.ejs %>
  <% include ../../header-authenticated.ejs %>

  <main>
    <section>
      <div class="container" id="main-content">
        <h1>Degenerative disc disease of the lumbar spine (cover details)</h1>
        <p><a href="/auth">Home</a> &nbsp;&raquo;&nbsp; <a href="viewCoverSummary">Summary</a> &nbsp;&raquo;&nbsp; Details</p>
        <table class="cover-detail">
          <legend>Diagnosis</legend>
          <thead>
            <tr>
              <th>What have you been medically diagnosed with?</th>
              <td>lumbar spondylosis</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Approximately when did the injury or disease happen (date of onset)?</th>
              <td>12 / 12 / 2005</td>
            </tr>
            <tr>
              <th>Upload your GP or Specialist's medical report that includes your diagnosis (required) along with any supporting medical documentation.</th>
              <td><a href="#">Test image (114 KB JPG)</a></td>
            </tr>
          </tbody>
        </table>


        <table class="cover-detail">
          <legend>Statement and supporting documents</legend>
          <thead>
            <tr>
              <th>Which statement below best describes how your injury or disease happened?</th>
              <td>
                <ul>
                  <li>lifting loads of at least 25 kilograms while bearing weight through the lumbar spine to a cumulative total of at least 120 000 kilograms within any ten year period before the clinical onset of lumbar spondylosis</li>
                  <li>carrying loads of at least 25 kilograms while bearing weight through the lumbar spine to a cumulative total of at least 3 800 hours within any ten year period before the clinical onset of lumbar spondylosis</li>
                </ul>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Based on this statement, how did your service cause or contribute to your injury or disease?</th>
              <td>hi this is my story</td>          
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>

  <% include ../../../global/partials/footer.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>
