<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Agreement: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">
</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <% include ../../global/partials/header-topbar.ejs %>

  <% include ../../global/partials/header-authenticated.ejs %>

  <div class="speakerbox">
    <!-- <div class="container">
      <div class="col-sm-12">
        <p>Hi Millie,</p>
        <p>We need you to tell us a little more about yourself, so that we can provide the services that are right for you.</p>
        <button class="uikit-btn uikit-btn--gold">Update my profile</button>
      </div>
    </div> -->
  </div>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="widget">
          <div class="row margin-above">
            <div class="col-sm-3">
              <ul class="secondary-navigation">
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile">Personal details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Contact details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Account settings</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Service history</a>
                </li>
                 <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-relationships">Relationships</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Income and assets</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Bank details</a>
                </li>
                <li class="secondary-navigation__item secondary-navigation__item--active">
                  <a class="secondary-navigation__link" href="nr-agreements-concept">Representations</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Overseas travel</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Honours and military awards</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Commemoration preferences</a>
                </li>
              </ul>
            </div>

            <div class="col-sm-9">
              <h1 class="margin-above--none margin-below--mid">Representation</h1>
              <table class="agreements table-responsive clean">
                <thead>
                  <tr>
                    <th id="myRepsBtn" class="top-bar-blue">
                      <span class="fa-stack">
                        <i class="fal fa-circle fa-stack-2x"></i>
                        <i class="fal fa-hands-helping fa-stack-1x"></i>
                      </span>
                      <legend class="legend-label">My representatives</legend>
                    </th>
                    <th id="iRepresent" class="" >
                      <div class="iRepresent">As a representative you can assist people with their DVA matters.<br />
                        <a href="/nr-client-details">Become a representative</a>
                      </div>
                    </th>
                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <td colspan="2"><p>Representatives assist veterans and their families when dealing with DVA.</p></td>
                  </tr>
                  <tr>
                    <td colspan="2"><button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/nr-rep-details'">Add a representative</button></td>
                  </tr>


                </tbody>
              </table>
              <!-- end who represents me table -->



            </div>
            <!-- end rep listing col -->
          </div>
          <!-- end row -->
        </section>
      </div>
    </section>
  </main>


  <% include ../../global/partials/footer.ejs %>
</body>
<script>

</script>

</html>
