<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Accounts: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar-new.ejs %>
    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Review and submit</span>
        </h1>
      </div>
      <div class="nr-accounts">
        <div class="container">
          <div class="form-group">
            <h2>Hi Robert, who's account would you like to access?</h2>
              <div class="margin-above--large">
                <div class="account-one">
                  <label class="radio-tile">
                      <input id="enquire" class="sr" type="radio" name="la-top" value="sp-la-a">
                      <span><icon class="fal fa-comments-alt fa-3x" style="padding: 15px 0 15px 0;"></icon><BR/>Enquire on behalf</span>

                  </label>
                  <h2>Robert Smith <span class="hint">(you)</span></h2>
                </div>
              </div>
          </div>
        </div>
      </div>
    </main>
    <% include ../../global/partials/footer.ejs %>

      <script>

      </script>

</body>

</html>
