<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Accounts: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar-new.ejs %>
    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Review and submit</span>
        </h1>
      </div>
      <div class="nr-accounts">
        <div class="container">
          <div class="form-group">
              <h2>Hi Robert, who's account would you like to access?</h2>
                <div class="margin-above--large">
                  <div class="">
                    <label class="radio-tile">
                        <input id="enquire" class="sr" type="radio" name="la-top" value="sp-la-a">
                        <span>
                          <h2>
                            <icon class="fal fa-user fa-2x" style="padding: 0 1em 0 0;"></icon>
                            Robert Smith
                              <span class="hint">(you)</span>
                                <icon class="far fa-angle-right fa-2x" style="padding: 0 1em 0 0;"></icon>
                          </h2>
                        </span>
                    </label>
                  </div>
                </div>
          </div>
          <div class="form-group">
              <div class="margin-above--large">
                <div class="account-one">
                  <label class="radio-tile">
                      <input id="enquire" class="sr" type="radio" name="la-top" value="sp-la-a">
                      <span>
                        <h2>
                          <icon class="fal fa-user fa-2x" style="padding: 0 1em 0 0;"></icon>
                          Luke Smith
                            <span class="hint">(father)</span><br /><span class="hint"><em>You may request and enquire</em></span>
                              <icon class="far fa-angle-right fa-2x" style="padding: 0 1em 0 0;"></icon>
                        </h2>
                      </span>

                  </label>

                </div>
              </div>
          </div>
          <div class="form-group">
              <div class="margin-above--large">
                <div class="account-one">
                  <label class="radio-tile">
                      <input id="enquire" class="sr" type="radio" name="la-top" value="sp-la-a">
                      <span>
                        <h2>
                          <icon class="fal fa-user fa-2x" style="padding: 0 1em 0 0;"></icon>
                          Richard Charlton
                            <span class="hint">(friend)</span>
                              <icon class="far fa-angle-right fa-2x" style="padding: 0 1em 0 0;"></icon>
                        </h2>
                      </span>

                  </label>

                </div>
              </div>
          </div>
        </div>
      </div>
    </main>
    <% include ../../global/partials/footer.ejs %>

      <script>

      </script>

</body>

</html>
