<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Agreement: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link href="docs/css/fontawesome/css/all.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <% include ../../global/partials/header-topbar.ejs %>

  <% include ../../global/partials/header-authenticated.ejs %>

  <div class="speakerbox">
    <!-- <div class="container">
      <div class="col-sm-12">
        <p>Hi Millie,</p>
        <p>We need you to tell us a little more about yourself, so that we can provide the services that are right for you.</p>
        <button class="uikit-btn uikit-btn--gold">Update my profile</button>
      </div>
    </div> -->
  </div>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="widget">
          <div class="row margin-above">
            <div class="col-sm-3">
              <ul class="secondary-navigation">
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile">Personal details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Contact details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Account settings</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Service history</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-relationships">Relationships</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Income and assets</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Bank details</a>
                </li>
                <li class="secondary-navigation__item secondary-navigation__item--active">
                  <a class="secondary-navigation__link" href="nr-list">Representations</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Overseas travel</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Honours and military awards</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Commemoration preferences</a>
                </li>
              </ul>
            </div>

            <div class="col-sm-9">
              <h1 class="margin-above--none margin-below--mid">Representations</h1>
              <table class="agreements agreements-old table-responsive clean">
                <thead>
                  <tr>
                    <th id="myRepsBtn">My representatives</th>
                    <th id="iRepresent" class="on-load-state">Who I represent</th>
                  </tr>
                  <tr id="myRepsHead">
                    <th class="widget-activity">Representatives</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                  <tr id="iRepHead" style="display:none;">
                    <th class="widget-activity">Clients</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                </thead>
                <tbody>

                  <tr id="myReps1">
                    <td colspan="2">
                      <p class="status-icon status-in-progress">
                        Liz Mills
                        <ul class="roles">
                          <li class="enquire">Enquire</li>

                        </ul>
                      <div class="floated">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'nr-view-rep'">View</button>
                        <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '#open-example-modal'">Withdraw</button>
                      </div>
                        <br><br>
                        <span>In progress
                          <em>– 10 January 2019</em>
                        </span>
                      </p>

                    </td>
                  </tr>

                  <tr id="myReps">
                    <td colspan="2">
                      <p class="status-icon status-approved">
                        Alice Thompson
                        <ul class="roles">
                          <li class="enquire">Act</li>
                        </ul>
                      <div class="floated">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'nr-manage-rep'">Manage</button>
                      </div>
                        <br><br>
                        <span>Approved
                          <em>- 20 July 2017</em>
                        </span>
                      </p>

                    </td>

                  </tr>

                  <tr id="iRep" style="display:none;">
                    <td colspan="2">
                      <p class="status-icon status-approved">
                        Richard Charlton
                        <ul class="roles">
                          <li class="enquire">Enquire</li>
                        </ul>
                      <div class="floated">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'nr-manage-client'">Manage</button>
                      </div>
                        <br><br>
                        <span>Approved
                          <em>- 15 March 2018</em>
                        </span>
                      </p>

                    </td>

                  </tr>
                  <tr id="addRep">
                    <td colspan="2">
                      <button class="uikit-btn small margin-above--none" onclick="window.location.href = 'nr-rep-details'">Add a representative</button>
                    </td>
                  </tr>
                  <tr id="becomeRep" style="display:none;">
                    <td colspan="2">
                      <button class="uikit-btn small margin-above--none" onclick="window.location.href = 'nr-client-details'">Become a representative</button>
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>
            <!-- end rep listing col -->
          </div>
          <div id="open-example-modal" class="modal-window">
            <div>
              <a href="#modal-close" title="Close" class="modal-close">Close</a>
              <h5> </h5>
              <h2>Liz Mills will no longer be able to act on your behalf with DVA.</h2>
              <p>Are you sure you want to withdraw this application?</p>
              <div class="modal-buttons">
                <!-- <button class="uikit-btn" onclick="window.location.href = '#modal-close'" id="deleteFile">Delete file</button> -->
                <button class="uikit-btn" onclick="window.location.href = '/nr-agreements-realistic-new'" id="">Yes, withdraw application</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#modal-close'">Cancel</button>
              </div>
            </div>
          </div>
          <!-- end row -->
        </section>
      </div>
    </section>
  </main>


  <% include ../../global/partials/footer.ejs %>
</body>
<script>
  $(document).ready(function () {

    $('#myRepsBtn').click(function () {
      $('#myReps').show();
      $('#myReps1').show();
      $('#iRep').hide();
      $('#iRep1').hide();
      $('#myRepsHead').show();
      $('#iRepHead').hide();
      $('#becomeRep').hide();
      $('#addRep').show();
      $('#myRepsBtn').removeClass('active-state');
      $('#iRepresent').addClass('active-state');
      $('#myRepsBtn').removeClass('on-load-state');
    });
    $('#iRepresent').click(function () {
      $('#iRep').show();
      $('#iRep1').show();
      $('#iRepHead').show();
      $('#myReps').hide();
      $('#becomeRep').show();
      $('#addRep').hide();
      $('#myReps1').hide();
      $('#myRepsHead').hide();
      $('#myRepsBtn').addClass('active-state');
      $('#iRepresent').removeClass('active-state');
      $('#iRepresent').removeClass('on-load-state');
    });
  });
</script>

</html>
