<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Agreement: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <% include ../../global/partials/header-topbar.ejs %>

  <% include ../../global/partials/header-authenticated.ejs %>

  <div class="speakerbox">
    <!-- <div class="container">
      <div class="col-sm-12">
        <p>Hi Millie,</p>
        <p>We need you to tell us a little more about yourself, so that we can provide the services that are right for you.</p>
        <button class="uikit-btn uikit-btn--gold">Update my profile</button>
      </div>
    </div> -->
  </div>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="widget">
          <div class="row margin-above">
            <div class="col-sm-3">
              <ul class="secondary-navigation">
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile">Personal details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Contact details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Account settings</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Service history</a>
                </li>
                 <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-relationships">Relationships</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Income and assets</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Bank details</a>
                </li>
                <li class="secondary-navigation__item secondary-navigation__item--active">
                  <a class="secondary-navigation__link" href="nr-agreements-new">Representations</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Overseas travel</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Honours and military awards</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Commemoration preferences</a>
                </li>
              </ul>
            </div>

            <div class="col-sm-9">
              <h1 class="margin-above--none margin-below--mid">Representations</h1>
              <table class="agreements table-responsive clean">
                <thead>
                  <tr>
                    <th id="myRepsBtn">My representatives</th>
                    <th id="iRepresent" class="on-load-state" >Who I represent</th>
                  </tr>
                  <tr id="myRepsHead">
                    <th class="widget-activity">Representatives</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                  <tr id="iRepHead" style="display:none;">
                    <th class="widget-activity">Clients</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                </thead>
                <tbody>

                  <tr  id="myReps" class="status-action-required show-instance-action-required">

                    <td colspan="2">
                          <p class="status-icon status-in-progress">
                            Joe Jones
                            <ul class="roles">
                              <li class="act-health-only">Enquire</li>
                            </ul>
                          <div class="floated">
                            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'nr-client-consent'">Review</button>
                          </div>
                            <br><br>
                            <span>In progress
                              <em>– 10 January 2019</em>
                            </span>
                          </p>

                        </td>
                  </tr>
                  <tr id="myReps1">
                    <td colspan="2">
                          <p class="status-icon status-incomplete">
                            Jane Benson
                            <ul class="roles">
                              <li class="enquire">Enquire</li>
                            </ul>
                          <div class="floated">
                            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = ''">Resume</button>
                            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '#open-example-modal-delete'">Delete</button>
                          </div>
                            <br><br>
                            <span>Incomplete
                              <em>– 10 January 2019</em>
                            </span>
                          </p>

                        </td>

                  </tr>
                  <tr id="myReps2">
                    <td colspan="2">
                          <p class="status-icon status-in-progress">
                            Mary Jones
                            <ul class="roles">
                              <li class="receive-payment">Receive Payment</li>
                            </ul>
                          <div class="floated">
                            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'nr-view-rep'">View</button>
                            <button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '#open-example-modal'">Withdraw</button>
                          </div>
                            <br><br>
                            <span>In progress
                              <em>– 10 January 2019</em>
                            </span>
                          </p>

                        </td>

                  </tr>
                  <tr id="myReps3">
                    <td colspan="2">
                          <p class="status-icon status-incomplete">
                            Alice Thompson
                            <ul class="roles">
                              <li class="act">Act</li>
                            </ul>
                          <div class="floated">
                            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'nr-manage-rep'">Manage</button>
                          </div>
                            <br><br>
                            <span>Approved
                              <em>– 10 January 2019</em>
                            </span>
                          </p>

                        </td>

                  </tr>
                  <tr id="myReps4">
                    <td colspan="2">
                          <p class="status-icon status-approved inactive">
                            Jane Doe
                            <ul class="roles inactive">
                              <li class="act">Act</li>
                            </ul>
                          <div class="floated">
                            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-reinstate-modal'">Reinstate</button>
                          </div>
                            <br><br>
                            <span>Inactive
                              <em>– 5 December 2011 to 10 January 2019</em>
                            </span>
                          </p>

                        </td>

                  </tr>
                  <tr id="myReps5" class="show-instance-withdrawn">
                    <td colspan="2">
                          <p class="status-icon status-withdrawn">
                            Harold Townsend
                            <ul class="roles inactive">
                              <li class="enquire">Enquire</li>
                            </ul>
                          <div class="floated">
                            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'nr-view-rep'">View</button>
                          </div>
                            <br><br>
                            <span>Withdrawn
                              <em>– 10 January 2019</em>
                            </span>
                          </p>

                        </td>

                  </tr>

                  <tr id="iRep" style="display:none;">

                    <td colspan="2">
                          <p class="status-icon status-approved">
                            Alice Thompson
                            <ul class="roles">
                              <li class="enquire">Enquire</li>
                            </ul>
                            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'nr-manage-client'">Manage</button>
                            <br><br>
                            <span>Approved
                              <em>– 10 January 2019 to 31 December 2020</em>
                            </span>
                          </p>

                        </td>

                  </tr>
                  <tr id="addRep">
                    <td colspan="2">
                      <button class="uikit-btn small margin-above--none" onclick="window.location.href = 'nr-rep-details'">Add a representative</button>
                    </td>
                  </tr>
                  <tr id="becomeRep" style="display:none;">
                    <td colspan="2">
                      <button class="uikit-btn small margin-above--none" onclick="window.location.href = 'nr-client-details'">Becpome a representative</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- end who represents me table -->



            </div>
            <!-- end rep listing col -->
          </div>
          <!-- end row -->
        </section>
      </div>
    </section>
  </main>


  <% include ../../global/partials/footer.ejs %>
</body>
<script>
  $(document).ready(function () {

  $('#myRepsBtn').click(function() {
      $('#myReps').show();
      $('#myReps1').show();
      $('#myReps2').show();
      $('#myReps3').show();
      $('#myReps4').show();
      $('#myReps5').show();
      $('#iRep').hide();
      $('#iRep1').hide();
      $('#myRepsHead').show();
      $('#iRepHead').hide();
      $('#becomeRep').hide();
      $('#addRep').show();
      $('#myRepsBtn').removeClass('active-state');
      $('#iRepresent').addClass('active-state');
      $('#myRepsBtn').removeClass('on-load-state');
  });
  $('#iRepresent').click(function(){
    $('#iRep').show();
    $('#iRep1').show();
    $('#iRepHead').show();
    $('#myReps').hide();
    $('#myReps1').hide();
    $('#myReps2').hide();
    $('#myReps3').hide();
    $('#myReps4').hide();
    $('#myReps5').hide();
    $('#becomeRep').show();
    $('#addRep').hide();
    $('#myReps1').hide();
    $('#myRepsHead').hide();
    $('#myRepsBtn').addClass('active-state');
    $('#iRepresent').removeClass('active-state');
    $('#iRepresent').removeClass('on-load-state');
  });
});
</script>

</html>
