<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Before you start | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-NJXGk7R+8gWGBdutmr+/d6XDokLwQhF1U3VA7FhvBDlOq7cNdI69z7NQdnXxcF7k" crossorigin="anonymous">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar-new.ejs %>

    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

        <!-- Page heading -->
        <h1 class="ss-align--center">
          <span class="heading">Before you get started</span><br />
          <span class="hint">CLIENT</span>
        </h1>
      </div>

      <div class="container">
        <div class="row margin-below--none">
          <div class="col-md-12">
            <p class="text-fullwidth ss-align--center margin-above--large margin-below--none">
              <icon class="fas fa-id-card fa-10x icon-grad flip-in-ver-left"></icon>
            </p>
            <p class="text-fullwidth ss-align--center margin-above--large font-weight-heavy margin-below--mid" style="font-size: 18px;">Check your profile to ensure your contact details
              are correct.</p>
            <p class="margin-above--small margin-below--none ss-align--center" style="font-size: 18px;"> This will ensure we can contact you about your application. </p>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 margin-above--large">
            <div class="pagination ss-align--center">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Review my details</button>
              <button class="uikit-btn uikit-btn--primary" onclick="window.location.href = '/nr-rep-details'">Next</button>
            </div>
          </div>
        </div>
      </div>

    </main>

      <% include ../../global/partials/footer.ejs %>


        <script>
        </script>


</body>

</html>
