<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Client Details: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Client's details</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="form-group margin-above--large">
              <h2>Please provide information regarding the client you wish to represent</h2>
                <label class="uikit-text-input__label" for="Input field">Given name <span class="hint">(first name)</span></label>
                  <input class="uikit-text-input input-half" name="Input field" id="firstName" type="text" value="" aria-required="true">
                <label class="uikit-text-input__label" for="Input field">Surname <span class="hint">(last name)</span></label>
                  <input class="uikit-text-input input-half" name="Input field" id="lastName" type="text" value="" aria-required="true">

                  <div class="form-group">
                      	<label class="uikit-text-input__label" for="date">Date of birth
                      		<span class="hint">(dd / mm / yyyy)</span>
                      	</label>
                      	<input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required="" aria-required="true" aria-label="2 digit day"> /
                      	<input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required="" aria-required="true" aria-label="2 digit month"> /
                      	<input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required="" aria-required="true" aria-label="4 digit year">
                      </div>
                  <!-- <input id="ddlTechnolgy" name="Technology" class="amount uikit-text-input input-half ng-invalid ng-dirty ng-touched" type="text"> -->


                  <div class="form-group" id="fileNumbergroup">
                    <label class="uikit-text-input__label" for="Input field">DVA file number <span class="hint">(if applicable)</span></label>
                      <input class="uikit-text-input input-half" name="Input field" id="fileNumber" type="text" value="" aria-required="true">
                      <label class="uikit-text-input__label" for="Input field">PMKeyS <span class="hint">(optional)</span></label>
                        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
                  </div>

                  <div id="hideAllForm" style="display:none;">
                <div class="form-group">


                        <label class="uikit-text-input__label" for="postalAddressState">What is your relationship to the client?</label>
                          <select class="uikit-text-input input-half" id="postalAddressState" name="postalAddressState">
                            <option> -- Select -- </option>
                            <option> Carer </option>
                            <option> Child </option>
                            <option> Defacto </option>
                            <option> Friend </option>
                            <option> Grandchild </option>
                            <option> Grandparent </option>
                            <option> Guardian </option>
                            <option> Niece/nephew </option>
                            <option> Parent </option>
                            <option> Sibling </option>
                            <option> Spouse </option>
                            <option> Uncle/aunt </option>
                          </select>
                        </div>
                </div>
              </div>

              <div id="warning" class="modal-window">
                <div>
                  <a href="#modal-close" title="Close" class="modal-close">Close</a>
                  <h2>Your application will be cancelled</h2>
                  <p>Are you sure you want to cancel this application?</p>
                  <div class="modal-buttons">
                    <button class="uikit-btn" onclick="window.location.href = '#modal-close'">Stay on this page</button>
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'nr-agreements-realistic'">Leave page</button>
                  </div>
                </div>
              </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/nr-before-start-rep'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#warning'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'nr-agreements-realistic'">Save and exit</button>
              <!-- <button class="uikit-btn btnNext" type="button"  id="btnQueryString" value="Save and review">Save and review</button> -->
              <!-- <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/nr-veteran-details2'">Save and next</button> -->
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = ''">Save and next</button>
            </div>
          </div>

      </div>

  </main>

  <% include ../../global/partials/footer.ejs %>


  <script>
    $('#fileNumberYes').click(function(){
      $('#yesFileNumberChecked').show("fast");
      $('#hideAllForm').hide();
    });
    $('#fileNumberNo').click(function(){
      $('#noFileNumberChecked').show("fast");
      $('#hideAllForm').show("fast");
      $('#yesFileNumberChecked').hide("fast");
    });
    $('#pmKeyYes').click(function(){
      $('#yesPmKeyChecked').show("fast");
    });
    $('#pmKeyNo').click(function(){
      $('#noPmKeyChecked').show("fast");
      $('#yesPmKeyChecked').hide();
    });
    $('#serviceNumberYes').click(function(){
      $('#yesServiceNumberChecked').show("fast");
      $('#hideAllForm').hide();

    });
    $('#serviceNumberNo').click(function(){
      $('#yesServiceNumberChecked').hide();
      $('#hideAllForm').show("fast");
    });

    $('#btnNext').click(function(){
       if($.trim($('#fileNumber').val()) == ''){
          window.location.href = '/nr-client-details2';
       } else {
         window.location.href= '/nr-role-client';
       }
    });

  </script>

</body>

</html>
