<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Agreement: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">
</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <% include ../../global/partials/header-topbar.ejs %>

  <% include ../../global/partials/header-authenticated.ejs %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="">
          <div class="row margin-above">
            <div class="col-sm-3">
              <ul class="secondary-navigation">
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile">Personal details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Contact details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Account settings</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Service history</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-relationships">Relationships</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Income and assets</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Bank details</a>
                </li>
                <li class="secondary-navigation__item secondary-navigation__item--active">
                  <a class="secondary-navigation__link" href="nr-list">Representations</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Overseas travel</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Honours and military awards</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Commemoration preferences</a>
                </li>
              </ul>
            </div>

            <div class="col-sm-9">
              <h1 class="margin-above--none margin-below--mid">Representations</h1>


              <div class="pt-rep-flow-represented">

                <h3>People or organisations who represent you</h3>
                <div class="row">
                  <div class="col-sm-12 margin-below--mid">
                    <div class="horizontal-card-section">
                      <div class="card card--horizontal flex-container">
                        <div class="flex-item flex-item--icon-only">
                          <span class="fal fa-icon-nr fa-user-plus"></span>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p> <strong> Andrew Smith</strong> (enquire on behalf)</p>
                        </div>

                        <div class="flex-item flex-item--right-align">
                          <p><a href="/somthing">Manage</a></p>
                        </div>
                      </div>
                      <div class="card card--horizontal flex-container">
                        <div class="flex-item flex-item--icon-only">
                          <span class="fal fa-icon-nr fa-user-plus"></span>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p> <strong> Team site</strong> (act on behalf)</p>
                        </div>

                        <div class="flex-item flex-item--right-align">
                          <p><a href="/somthing">Manage</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row margin-below--extra">
                  <div class="col-sm-12 ss-align--right">
                    <button class="uikit-btn small uikit-btn--tertiary">Add another representative</button>
                  </div>
                </div>
              </div>

              <hr class="pt-rep-flow-represented pt-rep-flow-representing">

              <div class="pt-rep-flow-representing">
                <h3>People you represent</h3>
                <div class="row ">
                  <div class="col-sm-12 margin-below--mid">
                    <div class="horizontal-card-section">
                      <div class="card card--horizontal flex-container">
                        <div class="flex-item flex-item--icon-only">
                          <span class="fal fa-icon-nr fa-user-edit"></span>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p> <strong> John Jones</strong> (enquire on behalf)</p>
                        </div>

                        <div class="flex-item flex-item--right-align">
                          <p><a href="/somthing">Manage</a></p>
                        </div>

                      </div>
                      <div class="card card--horizontal flex-container">
                        <div class="flex-item flex-item--icon-only">
                          <span class="fal fa-icon-nr fa-user-edit"></span>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p> <strong> Peter Stead</strong> (act on behalf)</p>
                        </div>

                        <div class="flex-item flex-item--right-align">
                          <p><a href="/somthing">Manage</a></p>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="row margin-below--extra">
                  <div class="col-sm-12 ss-align--right">
                    <button class="uikit-btn small uikit-btn--tertiary">Add another person to represent</button>
                  </div>
                </div>
              </div>




              <div class="pt-rep-flow-represented-no">

                <h3>People or organisations who represent you</h3>
                <div class="row">
                  <div class="col-sm-12 ">
                    <p>
                      You currently have no one representing you. </p>
                    <p>Your representative can access information, make decisions and provide information in relation to your DVA matters.</p>
                  </div>
                </div>
                <div class="row margin-below--extra">
                  <div class="col-sm-12 ss-align--right">
                    <button class="uikit-btn small uikit-btn--tertiary">Add a representative</button>
                  </div>
                </div>
              </div>

              <hr class="pt-rep-flow-representing-no pt-rep-flow-represented-no">

              <div class="pt-rep-flow-representing-no">
                <h3>People you represent</h3>
                <div class="row">
                  <div class="col-sm-12">
                    <p>
                      You are not currently representing anyone. </p>
                    <p>Become a representative and assist others with their DVA matters.</p>
                  </div>
                </div>
                <div class="row margin-below--extra">
                  <div class="col-sm-12 ss-align--right">
                    <button class="uikit-btn small uikit-btn--tertiary">Add someone to represent</button>
                  </div>
                </div>
              </div>







              <div class="row sub-section margin-below--mid">


                <div class="col-xs-12">
                  <h3>Your representation requests</h3>
                  <p>You may view or withdraw your representation requests at any time. Approved requests will
                    appear in your active representations.</p>


                  <div class="horizontal-card-section">
                    <div class="card card--horizontal flex-container ">

                      <div class="flex-item">
                        <p> <strong> Submitted</strong></p>
                        <p>18 March 2018</p>
                      </div>
                      <div class="flex-item flex-item--large">
                        <p><strong>Joe Smith</strong></p>
                        <p>(act on behalf)</p>
                      </div>
                      <div class="flex-item flex-item--right-align">
                        <p><a href="/somewhere">View</a></p>
                      </div>
                      <div class="flex-item flex-item--right-align">
                        <p><a href="/somthing">Withdraw</a></p>
                      </div>
                    </div>

                    <div class="card card--horizontal flex-container">

                      <div class="flex-item">
                        <p> <strong> Submitted</strong></p>
                        <p>18 March 2018</p>
                      </div>
                      <div class="flex-item flex-item--large">
                        <p><strong>Joe Smith</strong></p>
                        <p>(act on behalf)</p>
                      </div>
                      <div class="flex-item flex-item--right-align">
                        <p><a href="/somewhere">View</a></p>
                      </div>
                      <div class="flex-item flex-item--right-align">
                        <p><a href="/somthing">Withdraw</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- end rep listing col -->
      </div>
      <!-- end row -->
    </section>
    </div>
    </section>
  </main>


  <% include ../../global/partials/footer.ejs %>
</body>
<script>
  $(document).ready(function () {

    $('#myRepsBtn').click(function () {
      $('#myReps').show();
      $('#myReps1').show();
      $('#myReps2').show();
      $('#myReps3').show();
      $('#myReps4').show();
      $('#myReps5').show();
      $('#iRep').hide();
      $('#iRep1').hide();
      $('#myRepsHead').show();
      $('#iRepHead').hide();
      $('#becomeRep').hide();
      $('#addRep').show();
      $('#myRepsBtn').removeClass('active-state');
      $('#iRepresent').addClass('active-state');
      $('#myRepsBtn').removeClass('on-load-state');
    });
    $('#iRepresent').click(function () {
      $('#iRep').show();
      $('#iRep1').show();
      $('#iRepHead').show();
      $('#myReps').hide();
      $('#myReps1').hide();
      $('#myReps2').hide();
      $('#myReps3').hide();
      $('#myReps4').hide();
      $('#myReps5').hide();
      $('#becomeRep').show();
      $('#addRep').hide();
      $('#myReps1').hide();
      $('#myRepsHead').hide();
      $('#myRepsBtn').addClass('active-state');
      $('#iRepresent').removeClass('active-state');
      $('#iRepresent').removeClass('on-load-state');
    });
  });
</script>

</html>