<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Agreement: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link href="docs/css/fontawesome/css/all.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <% include ../../global/partials/header-topbar.ejs %>

  <% include ../../global/partials/header-authenticated.ejs %>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="">
          <div class="row margin-above">
            <div class="col-sm-3">
              <ul class="secondary-navigation">
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile">Personal details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Contact details</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Account settings</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Service history</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-relationships">Relationships</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Income and assets</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Bank details</a>
                </li>
                <li class="secondary-navigation__item secondary-navigation__item--active">
                  <a class="secondary-navigation__link" href="nr-list">Representations</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-contact">Overseas travel</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-account">Honours and military awards</a>
                </li>
                <li class="secondary-navigation__item">
                  <a class="secondary-navigation__link" href="profile-history">Commemoration preferences</a>
                </li>
              </ul>
            </div>

            <div class="col-sm-9">
              <h1 class="margin-above--none margin-below--mid">Representations</h1>


              <div class="pt-first-time">
                <div class="row margin-below">
                  <div class="col-xs-12 col-sm-4">
                    <div class="card card--medium card--simple">
                      <a href="/nr-rep-details">
                        <span class="fal fa-icon-nr fa-user-plus "></span>
                        <h3 class="card__title">
                          <span>Represent me</span>
                        </h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-8">
                    <div class="card-supporting-text">
                      <h4>
                        I want someone to represent me
                      </h4>
                      <p> Have someone enquire or act on your behalf when dealing with DVA.
                        You can also direct payments you receive to a family member or partner.</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-4 ">
                    <div class="card card--medium card--simple">
                      <a href="/nr-client-details">
                        <span class="fal fa-icon-nr fa-user-edit"></span>
                        <h3 class="card__title">
                          <span>I represent</span>
                        </h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-8">
                    <div class="card-supporting-text">
                      <h4>
                        I want to represent someone else who needs assistance
                      </h4>
                      <p> Become a representative and assist others with their DVA matters.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pt-first-time-no">
                <div class="pt-rep-flow-represented">

                  <h3>People or organisations who represent you</h3>
                  <div class="row">
                    <div class="col-sm-12 margin-below--mid">
                      <div class="horizontal-card-section">
                        <div class="card card--horizontal flex-container">
                          <div class="flex-item flex-item--icon-only">
                            <span class="fal fa-icon-nr fa-user-plus"></span>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p> <strong> Andrew Smith</strong> (enquire on behalf)</p>
                          </div>

                          <div class="flex-item flex-item--right-align">
                            <p><a href="nr-edit-rep">Manage</a></p>
                          </div>
                        </div>
                        <div class="card card--horizontal flex-container">
                          <div class="flex-item flex-item--icon-only">
                            <span class="fal fa-icon-nr fa-user-plus"></span>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p> <strong> Team site</strong> (act on behalf)</p>
                          </div>

                          <div class="flex-item flex-item--right-align">
                            <p><a href="nr-edit-rep">Manage</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row margin-below--extra">
                    <div class="col-sm-12 ss-align--right">
                      <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/nr-rep-details'">Add another representative</button>
                    </div>
                  </div>
                </div>

                <hr class="pt-rep-flow-represented">

                <div class="pt-rep-flow-representing">
                  <h3>People you represent</h3>
                  <div class="row ">
                    <div class="col-sm-12 margin-below--mid">
                      <div class="horizontal-card-section">
                        <div class="card card--horizontal flex-container">
                          <div class="flex-item flex-item--icon-only">
                            <span class="fal fa-icon-nr fa-user-edit"></span>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p> <strong> John Jones</strong> (enquire on behalf)</p>
                          </div>

                          <div class="flex-item flex-item--right-align">
                            <p><a href="nr-edit-client">Manage</a></p>
                          </div>

                        </div>
                        <div class="card card--horizontal flex-container">
                          <div class="flex-item flex-item--icon-only">
                            <span class="fal fa-icon-nr fa-user-edit"></span>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p> <strong> Peter Stead</strong> (act on behalf)</p>
                          </div>

                          <div class="flex-item flex-item--right-align">
                            <p><a href="nr-edit-client">Manage</a></p>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row margin-below--extra">
                    <div class="col-sm-12 ss-align--right">
                      <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/nr-client-details'">Add another person to represent</button>
                    </div>
                  </div>
                </div>


                <hr class="pt-rep-flow-represented-no pt-rep-flow-none-no">

                <div class="pt-rep-flow-represented-no">

                  <h3>People or organisations who represent you</h3>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <p>
                        You currently have no one representing you. </p>
                      <p>Have someone enquire or act on your behalf when dealing with DVA.
                        You can also direct payments you receive to a third party.</p>
                    </div>
                  </div>
                  <div class="row margin-below--extra">
                    <div class="col-sm-12 ss-align--right">
                      <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/nr-rep-details'">Add a representative</button>
                    </div>
                  </div>
                </div>

                <hr class="pt-rep-flow-none">

                <div class="pt-rep-flow-representing-no">
                  <h3>People you represent</h3>
                  <div class="row">
                    <div class="col-sm-12">
                      <p>
                        You are not currently representing anyone. </p>
                      <p>Become a representative and assist others with their DVA matters.</p>
                    </div>
                  </div>
                  <div class="row margin-below--extra">
                    <div class="col-sm-12 ss-align--right">
                      <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/nr-client-details'">Add someone to represent</button>
                    </div>
                  </div>
                </div>

                <div class="row sub-section margin-below--mid" id="rep-list">


                  <div class="col-xs-12">
                    <h3>Your representation requests</h3>
                    <p>You may view or withdraw your representation requests at any time. Approved requests will
                      appear in your active representations.</p>


                    <div class="horizontal-card-section">

                      <div class="card card--horizontal card--action-required flex-container ">

                        <div class="flex-item">
                          <p> <strong> Authorisation request</strong></p>
                          <p>24 March 2018</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Dave Jones</strong></p>
                          <p>(Received Payments on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-view-request-summary"></a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-client-consent">Open</a></p>
                        </div>
                      </div>
                      <div class="card card--horizontal flex-container ">

                        <div class="flex-item">
                          <p> <strong> Authorisation request</strong></p>
                          <p>21 February 2018</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Luke Smith</strong></p>
                          <p>(Received Payments on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-client-consent"></a></p>

                        </div>
                      </div>
                      <div class="card card--horizontal flex-container ">

                        <div class="flex-item">
                          <p> <strong> Submitted</strong></p>
                          <p>18 March 2018</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Joe Smith</strong></p>
                          <p>(act on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-edit-rep">Withdraw</a></p>
                        </div>
                      </div>

                      <div class="card card--horizontal flex-container">

                        <div class="flex-item">
                          <p> <strong> Submitted</strong></p>
                          <p>18 March 2018</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Joe Smith</strong></p>
                          <p>(act on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-edit-rep">Withdraw</a></p>
                        </div>
                      </div>



                      <!-- add an card--amended class to this div for future use -->
                      <div class="card card--horizontal card--amended flex-container ">

                        <div class="flex-item">
                          <p> <strong> Ceased</strong></p>
                          <p>15 November 2018</p>
                        </div>
                        <div class="flex-item flex-item--large">
                          <p><strong>Representative</strong></p>
                          <p>(Enquiring on behalf)</p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-view-rep">View</a></p>
                        </div>
                        <div class="flex-item flex-item--right-align">
                          <p><a href="nr-edit-rep">Re-instate</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- end rep listing col -->
      </div>
      <!-- end row -->
    </section>
    </div>
    </section>
  </main>


  <% include ../../global/partials/footer.ejs %>
</body>
<script>
  if ($(window.location.hash).length > 0) {
    $('html, body').animate({
      scrollTop: $(window.location.hash).offset().top - 600
    }, 1000);
  }

  $(document).ready(function () {

    $('#myRepsBtn').click(function () {
      $('#myReps').show();
      $('#myReps1').show();
      $('#myReps2').show();
      $('#myReps3').show();
      $('#myReps4').show();
      $('#myReps5').show();
      $('#iRep').hide();
      $('#iRep1').hide();
      $('#myRepsHead').show();
      $('#iRepHead').hide();
      $('#becomeRep').hide();
      $('#addRep').show();
      $('#myRepsBtn').removeClass('active-state');
      $('#iRepresent').addClass('active-state');
      $('#myRepsBtn').removeClass('on-load-state');
    });
    $('#iRepresent').click(function () {
      $('#iRep').show();
      $('#iRep1').show();
      $('#iRepHead').show();
      $('#myReps').hide();
      $('#myReps1').hide();
      $('#myReps2').hide();
      $('#myReps3').hide();
      $('#myReps4').hide();
      $('#myReps5').hide();
      $('#becomeRep').show();
      $('#addRep').hide();
      $('#myReps1').hide();
      $('#myRepsHead').hide();
      $('#myRepsBtn').addClass('active-state');
      $('#iRepresent').removeClass('active-state');
      $('#iRepresent').removeClass('on-load-state');
    });
  });
</script>

</html>