<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Agreement: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">

  <style>
    /* i {
      font-size: 5rem;
      color: #1057a7;
    } */
  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <% include ../../global/partials/header-topbar.ejs %>
  <% include ../../global/partials/header-authenticated.ejs %>

  <div class="speakerbox">
  </div>

  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <div class="row margin-above">
          <div class="col-sm-3">
            <ul class="secondary-navigation">
              <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile">Personal details</a>
              </li>
              <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-contact">Contact details</a>
              </li>
              <!-- <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-account">Account settings</a>
              </li> -->
              <!-- <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-history">Service history</a>
              </li> -->
              <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-relationships">Relationships</a>
              </li>
              <!-- <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-account">Income and assets</a>
              </li>
              <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-history">Bank details</a>
              </li> -->
              <li class="secondary-navigation__item secondary-navigation__item--active">
                <a class="secondary-navigation__link" href="nr-agreements-concept">Representations</a>
              </li>
              <!-- <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-contact">Overseas travel</a>
              </li>
              <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-account">Honours and military awards</a>
              </li> -->
              <!-- <li class="secondary-navigation__item">
                <a class="secondary-navigation__link" href="profile-history">Commemoration preferences</a>
              </li> -->
            </ul>
          </div>

          <div class="col-sm-9">
            <h1 class="margin-above--none margin-below--mid">Representations</h1>

            <div class="row margin-below">
              <div class="col-xs-12 col-sm-4">
                <div class="card card--medium card--simple">
                  <a href="/nr-rep-details">
                    <span class="fal fa-icon-nr fa-user-plus "></span>
                    <h3 class="card__title">
                      <span>Represent me</span>
                    </h3>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="card-supporting-text">
                  <h4>
                    I want someone to represent me
                  </h4>
                  <p> Have someone enquire or act on your behalf when dealing with DVA.
                    You can also direct payments you receive to a family member or partner.</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-4 ">
                <div class="card card--medium card--simple">
                  <a href="/nr-client-details">
                    <span class="fal fa-icon-nr fa-user-edit"></span>
                    <h3 class="card__title">
                      <span>I represent</span>
                    </h3>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="card-supporting-text">
                  <h4>
                    I want to represent someone else who needs assistance
                  </h4>
                  <p> Become a representative and assist others with their DVA matters.</p>
                </div>
              </div>
            </div>


          </div>


        </div>
      </div>
    </section>
  </main>


  <% include ../../global/partials/footer.ejs %>
</body>
<script>

</script>

</html>