<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claim for travel expenses | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-NJXGk7R+8gWGBdutmr+/d6XDokLwQhF1U3VA7FhvBDlOq7cNdI69z7NQdnXxcF7k" crossorigin="anonymous">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Select a role</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="form-group">
              <h2>Select a role</h2>
              <hr>

              <legend class="legend-label">Which of the following best describes where you live?</legend>
              <div class="radio-tile--group">
                  <label class="radio-tile">
                      <input id="sp-la-a" class="sr" type="radio" name="la-top" value="sp-la-a">
                      <span><icon class="fas fa-home fa-3x" style="padding: 15px 0 15px 0;"></icon>&nbsp;&nbsp;<icon class="fal fa-city fa-3x"></icon><BR/>Role 1</span>
                  </label>
                  <label class="radio-tile">
                      <input id="sp-la-b" class="sr" type="radio" name="la-top" value="sp-la-b">
                      <span><icon class="fas fa-hotel fa-3x" style="padding: 15px 0 15px 0;"></icon>&nbsp;&nbsp;<icon class="fal fa-rv fa-3x"></icon><BR/>Role 2</span>
                  </label>
                  <label class="radio-tile">
                      <input id="sp-la-c" class="sr" type="radio" name="la-top" value="sp-la-c">
                      <span><icon class="fas fa-home fa-3x" style="padding: 15px 0 15px 0;"></icon>&nbsp;&nbsp;<icon class="fal fa-hospital-alt fa-3x"></icon><BR/>Role 3</span>
                  </label>
                  <label class="radio-tile">
                      <input id="sp-la-d" class="sr" type="radio" name="la-top" value="sp-la-d">
                      <span><icon class="fal fa-ellipsis-h-alt fa-3x" style="padding: 15px 0 15px 0;"></icon><BR/>Role 4</span>
                  </label>
              </div>
              	</div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/nr-veteran-details'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/nr-review-rep'">Save and next</button>
            </div>
          </div>

      </div>

  </main>

  <% include ../../global/partials/footer.ejs %>


  <script>
//   function myFunction() {
//     $( "#te-review" ).on( "click", function () {
//   location.replace("https://www.w3schools.com")
// });
// }

var teReviewClicked = false;
var teAcceptedClicked = false;

$('#te-review').click(function()
{
    teReviewClicked = true;
});

$('#te-accepted').click(function()
{
  teAcceptedClicked = true;
});

$('#btnNext').click(function()
{
    if (teAcceptedClicked)
    {
        window.location.href = '/travel-expense2';
    }
    else if (teReviewClicked)
    {
        window.location.href= 'travel-expense3';
    }
});

$("#yesAccommodation").click(function () {
  $("#accommodationType").show("fast");
});
$("#noAccommodation").click(function(){
  $("#accommodationType").hide();
});
$("#yesAttendant").click(function(){
  $("#seperateRoom").show("fast");
});
$("#noAttendant").click(function(){
  $("#seperateRoom").hide();
});
$("#te-accepted").click(function(){
  $(".travel-expense-form-group").show("fast");
  $("#info-review").hide();
});
$("#te-review").click(function(){
  $(".travel-expense-form-group").show("fast");
  $("#info-review").show("fast");
});
  </script>

</body>

</html>
