<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Details Rep: Nom Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Representative's details</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="radio-tile--group">
          <label class="radio-tile">
              <input id="addNewPerson" class="sr" type="radio" name="la-top" value="sp-la-a">
              <span><icon class="fal fa-user fa-3x" style="padding: 15px 0 15px 0;"></icon><BR/>Add a new person</span>

          </label>
          <label class="radio-tile">
              <input id="addNewOrg" class="sr" type="radio" name="la-top" value="sp-la-b">
              <span><icon class="fal fa-users fa-3x" style="padding: 15px 0 15px 0;"></icon><BR/>Add a new organisation</span>

          </label>


        </div>
        <div id="newPerson" style="display:none;">
      <div class="form-group margin-above--large">
              <h2>Please provide information regarding the representative</h2>
              <div id="title-group" class="form-group">
                  <label class="uikit-text-input__label" for="title">Title
                    <br>
                    <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
                  </label>
                  <select class="uikit-text-input input-half" id="title" name="title">
                    <option default >-- Select title --</option>
                    <option>Miss</option>
                    <option>Mr</option>
                    <option>Mrs</option>
                    <option>Ms</option>
                    <option>Dr</option>
                  </select>
                </div>
                <label class="uikit-text-input__label" for="Input field">Given name <span class="hint">(first name)</span></label>
                  <input class="uikit-text-input input-half" name="Input field" id="firstName" type="text" value="" aria-required="true">
                <label class="uikit-text-input__label" for="Input field">Surname <span class="hint">(last name)</span></label>
                  <input class="uikit-text-input input-half" name="Input field" id="lastName" type="text" value="" aria-required="true">

                  <div class="form-group">
                      	<label class="uikit-text-input__label" for="date">Date of birth
                      		<span class="hint">(dd / mm / yyyy)</span>
                      	</label>
                      	<input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required="" aria-required="true" aria-label="2 digit day"> /
                      	<input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required="" aria-required="true" aria-label="2 digit month"> /
                      	<input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required="" aria-required="true" aria-label="4 digit year">
                      </div>
                  <!-- <input id="ddlTechnolgy" name="Technology" class="amount uikit-text-input input-half ng-invalid ng-dirty ng-touched" type="text"> -->

                  <div id="title-group" class="form-group">
                                    <label class="uikit-text-input__label" for="title">Relationship to you
                                      <br>
                                      <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
                                    </label>
                                    <select class="uikit-text-input input-half" id="title" name="title">
                                      <option default="">-- Select relationship --</option>
                                      <option> Carer </option>
                                      <option> Child </option>
                                      <option> Defacto </option>
                                      <option> Friend </option>
                                      <option> Grandchild </option>
                                      <option> Grandparent </option>
                                      <option> Guardian </option>
                                      <option> Niece/nephew </option>
                                      <option> Parent </option>
                                      <option> Sibling </option>
                                      <option> Spouse </option>
                                      <option> Uncle/aunt </option>

                                    </select>
                                  </div>

                  <div class="form-group" id="fileNumbergroup">
                    <label class="uikit-text-input__label" for="Input field">DVA file number <span class="hint">(if applicable)</span></label>
                      <input class="uikit-text-input input-half" name="Input field" id="fileNumber" type="text" value="" aria-required="true">
                  </div>

                </div>
              </div>

                <div id="newOrg" style="display:none;">
                  <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                    <label class="uikit-text-input__label" for="orgName" id="question_id16a">Organisation name</label>
                    <input class="uikit-text-input" name="orgName" id="orgName" type="text" value="" required aria-required="true">
                  </div>
                  <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                    <p>
                      <span style="display:none;" id="studyingCourseSpinner">
                        <img style="float: right; margin: 0px 15px 15px 0px;" src="../../../../docs/images/BrokenCircleSpinner.gif" width="20px" />
                      </span>
                      <label class="uikit-text-input__label" for="orgName" id="question_id16a">Organisation ABN</label>
                      <input class="uikit-text-input" name="orgName" id="orgABN" type="text" value="" required aria-required="true">

                    </p>

                  </div>
                  <div class="form-group margin-above--large">
                    <h2>Contact person</h2>
                    <div id="title-group" class="form-group">
                  <label class="uikit-text-input__label" for="title">Title
                    <br>
                    <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
                  </label>
                  <select class="uikit-text-input input-half" id="title" name="title">
                    <option default >-- Select title --</option>
                    <option>Miss</option>
                    <option>Mr</option>
                    <option>Mrs</option>
                    <option>Ms</option>
                    <option>Dr</option>
                  </select>
                </div>
                    <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                      <label class="uikit-text-input__label" for="orgName" id="question_id16a">Given name <span class="hint">(first name)</span></label>
                      <input class="uikit-text-input" name="orgName" id="orgName" type="text" value="" required aria-required="true">
                    </div>
                    <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                      <label class="uikit-text-input__label" for="orgName" id="question_id16a">Surname <span class="hint">(last name)</span></label>
                      <input class="uikit-text-input" name="orgName" id="orgName" type="text" value="" required aria-required="true">
                    </div>
                    <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                      <label class="uikit-text-input__label" for="orgName" id="question_id16a">Phone number</label>
                      <input class="uikit-text-input" name="orgName" id="orgName" type="text" value="" required aria-required="true">
                    </div>
                    <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfEnrolled">
                      <label class="uikit-text-input__label" for="orgName" id="question_id16a">Email <span class="hint">(optional)</span></label>
                      <input class="uikit-text-input" name="orgName" id="orgName" type="text" value="" required aria-required="true">
                    </div>
                  </div>
                </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/nr-before-start-client'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#warning'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'nr-agreements-realistic'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = ''">Save and next</button>
            </div>
          </div>

      </div>

      <div id="warning" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h2>Your application will be cancelled</h2>
          <p>Are you sure you want to cancel this application?</p>
          <div class="modal-buttons">
            <button class="uikit-btn" onclick="window.location.href = '#modal-close'">Stay on this page</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'nr-agreements-realistic'">Leave page</button>
          </div>
        </div>
      </div>

  </main>

  <% include ../../global/partials/footer.ejs %>

  <script src="/docs/js/students.js"></script>


    <script src="/docs/js/jquery-ui.min.js"></script>

  <script>
  $('#addNewPerson').click(function(){
    $('#newPerson').show("fast");
    $('#newOrg').hide();
  });
  $('#addNewOrg').click(function(){
    $('#newOrg').show("fast");
    $('#newPerson').hide();
  });
  $('#btnNext').click(function(){
       if($.trim($('#fileNumber').val()) == ''){
          window.location.href = '/nr-rep-details2';
       } else {
           window.location.href= '/nr-role-client';
       }
    });

    $('#btnNext').click(function(){
         if($('#addNewOrg').is(':checked')){
            window.location.href = '/nr-role-client';
         }
       });

    $(function () {

      var availableInstitutions = [
        { label: "RSL Townsville Sub Branch", category: "abn", abn: '55467834' },
        { label: "Anglicare Southern Queensland - Help at Home and Disability Services", category: "test", abn: '8834256238' },
        { label: "ComLink Townsville", category: "abn", abn: '345673467'},
        { label: "Anlgi care services", category: "abn", abn: '3564734567'},
        { label: "Blue Care", category: "abn", abn: '234532467'},
        { label: "Glendale Care - Townsville Aged Care", category: "abn", abn: '456872345'},
        { label: "Coutts Redington Chartered Accountants", category: "abn", abn: '6973563'},
        { label: "Slater and Gordon Lawyers", category: "abn", abn: '679457'},
      ];

      $("#orgName").autocomplete({
        source: availableInstitutions,
        select: function (event, ui) {
          // js.cookies dependancy
          Cookies.remove('institution');
          // checking if it's a condition that is a candidate for a computer based decision
          if (ui.item.category === 'cbd') {
            Cookies.set('institution', 'cbd', { expires: 1 });
          }
          if (ui.item.category === 'abn'){
            $('#orgABN').val(ui.item.abn);
            $('#orgABN').attr("disabled", true);
            // console.log(ui.item.abn)
          } else  {
            $('#orgABN').attr("disabled", false);
          }

        }
      });

      $('input[name=orgName]').click(function () {
        $("#studyingCourseSpinner").show();

        setTimeout(function () {
          $("#studyingCourseSpinner").hide();
        }, 2000);
      });
    });

  </script>

</body>

</html>
