<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Review and submit: Age service pension | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar.ejs %>
    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Review and submit</span>
        </h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Page content -->
            <!-- Current relationship -->
            <div class="col-md-8 col-md-offset-2">
              <div class="margin-above--extra margin-below--extra">
                <div class="review__header--label">
                  <h2>Review stuff</h2>
                </div>
                <div class="review__content">
                  <div class="review__content--item row">
                    <div class="review__content--label col-xs-5">First name</div>
                    <div class="review__content--data col-xs-7">Johnny</div>
                  </div>
                  <div class="review__content--item row">
                    <div class="review__content--label col-xs-5">Last name</div>
                    <div class="review__content--data col-xs-7">Cool</div>
                  </div>
                  <div class="review__content--item row">
                    <div class="review__content--label col-xs-5">File number</div>
                    <div class="review__content--data col-xs-7">No</div>
                  </div>
                  <div class="review__content--item row">
                    <div class="review__content--label col-xs-5">PMKeyS</div>
                    <div class="review__content--data col-xs-7">No</div>
                  </div>
                  <div class="review__content--item row">
                    <div class="review__content--label col-xs-5">Service number</div>
                    <div class="review__content--data col-xs-7">99990000</div>
                  </div>
                  <div class="review__content--item row">
                    <div class="review__content--label col-xs-5">Date of birth</div>
                    <div class="review__content--data col-xs-7">21 / 09 / 1945</div>
                  </div>
                  <div class="review__content--item row">
                    <div class="review__content--label col-xs-5">Email address</div>
                    <div class="review__content--data col-xs-7">johnny@cool.com</div>
                  </div>
                  <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/nr-role-rep'">Edit</button>
                </div>
              </div>
            <div class="margin-above--extra margin-below--extra">
              <label class="uikit-control-input">
                <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="">
                <span class="uikit-control-input__text">I agree to everything</span>
              </label>
            </div>
            </div>

          </div>

          <div class="pagination">

            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/nr-role-rep'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Cancel application</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/nr-submitted-rep'">Submit application</button>
            </div>
          </div>

    </main>
    <% include ../../global/partials/footer.ejs %>

      <script>
        $(document).ready(function () {
          // Progress percentage
          document.getElementById("percentage").style.width = "80%";
          document.getElementById("percentage_value").textContent = "80%";
        });
      </script>

</body>

</html>
