<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claim for travel expenses | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Representation agreement</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="form-group">
              <h2>What type of representative would you like to be appointed as?</h2>

              <div class="radio-tile--group">
                  <label class="radio-tile">
                      <input id="enquire" class="sr" type="radio" name="la-top" value="sp-la-a">
                      <span><icon class="far fa-comments-alt fa-3x" style="padding: 15px 0 15px 0;"></icon><BR/>Enquire only</span>

                  </label>
                  <label class="radio-tile">
                      <input id="permitted" class="sr" type="radio" name="la-top" value="sp-la-b">
                      <span><icon class="fal fa-hands-helping fa-3x" style="padding: 15px 0 15px 0;"></icon><BR/>Act on behalf</span>

                  </label>

                  <label class="radio-tile">
                      <input id="paymentOnly" class="sr" type="radio" name="la-top" value="sp-la-b">
                      <span><icon class="fal fa-hand-holding-usd fa-3x" style="padding: 15px 0 15px 0;"></icon><BR/>Receive payment only</span>

                  </label>


                </div>

                  <!-- start of hidden q's for enquire only -->
                  <div id="hideAllEnquire" style="display:none;">
                    <div id="enquireAlerts" class="uikit-page-alerts" role="alert">
                      <p>Allows you to make enquiries in relation to DVA matters</p>
                    </div>
                    <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                      <label class="uikit-text-input__label" for="Input field">Is this indefinite or not?</label>
                        <fieldset>
                          <legend class="legend-label" id="question_id21c">
                          </legend>
                          <div class="radio-toggle">
                            <label class="on label-left">
                              <input id="enquireIndefYes" type="radio" name="indefinitely" value="yes">
                              <span>Yes</span>
                            </label>
                            <label class="off label-right">
                              <input id="enquireIndefNo" type="radio" name="indefinitely" value="no">
                              <span>No</span>
                            </label>
                          </div>
                        </fieldset>
                    </div>
                  <div class="form-group">
                      <div class="form-group margin-above--large" id="showEnquireDate" style="display:none;">

                          <label class="uikit-text-input__label">Specify the dates you would like represent for <span id="lblData8"></span></label>
                          <label class="uikit-text-input__label">Start date <span class="hint">(dd / mm / yyyy)</span></label>
                    <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">


                      <label class="uikit-text-input__label">End date <span class="hint">(dd / mm / yyyy)</span></label>
                      <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-end-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                      <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-end-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                      <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-end-date" maxlength="4" required aria-required="true"
                        aria-label="4 digit year">


              </div>
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <label class="uikit-text-input__label" for="Input field">You want online access?</label>
                  <fieldset>
                    <legend class="legend-label" id="question_id21c">
                    </legend>
                    <div class="radio-toggle">
                      <label class="on label-left">
                        <input id="enquireOnlineYes" type="radio" name="enquireOnline" value="yes">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right">
                        <input id="enquireOnlineNo" type="radio" name="enquireOnline" value="no">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>
              </div>
              <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <label class="uikit-text-input__label" for="Input field">You want to receive corro?</label>
                  <fieldset>
                    <legend class="legend-label" id="question_id21c">
                    </legend>
                    <div class="radio-toggle">
                      <label class="on label-left">
                        <input id="enquireCorroYes" type="radio" name="enquireCorro" value="yes">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right">
                        <input id="enquireCorroNo" type="radio" name="enquireCorro" value="no">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>
              </div>
            </div>
          </div>
                <!-- end of enquire only q's -->

                <!-- start of Act on behalf q's -->
                <div id="hideAllAct" style="display:none;">

              <div id="actAlert" class="uikit-page-alerts" role="alert">
                <p>Allows you to make enquiries, decisions and update information in relation to DVA matters</p>
              </div>

              <div id="actDescribes" class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <legend class="legend-label">Which area of DVA would you like to act on?</legend>
                <div class="radio-tile--group">
                    <label class="radio-tile">
                        <input id="actAllMatters" class="sr" type="radio" name="allMatters" value="sp-la-a">
                        <span><icon class="fal fa-clipboard-list fa-3x" style="padding: 15px 0 15px 0;"></icon><BR/>All DVA matters</span>

                    </label>
                    <label class="radio-tile">
                        <input id="actFinancialOnly" class="sr" type="radio" name="allMatters" value="sp-la-b">
                        <span><icon class="fal fa-notes-medical fa-3x" style="padding: 15px 0 15px 0;"></icon><BR/>Health matters only</span>

                    </label>
              </div>
            </div>



              <div id="hideThreeQs" style="display:none;">
                <div id="actDate" class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                  <label class="uikit-text-input__label" for="Input field">Will you be representing <span id="lblData5"></span> indefinitely with no end date?</label>
                    <fieldset>
                      <legend class="legend-label" id="question_id21c">
                      </legend>
                      <div class="radio-toggle">
                        <label class="on label-left">
                          <input id="actIndefYes" type="radio" name="actIndef" value="yes">
                          <span>Yes</span>
                        </label>
                        <label class="off label-right">
                          <input id="actIndefNo" type="radio" name="actIndef" value="no">
                          <span>No</span>
                        </label>
                      </div>
                    </fieldset>
                </div>
              <div class="form-group">
                  <div class="form-group margin-above--large" id="showActDate" style="display:none;">

                      <label class="uikit-text-input__label">Specify the dates you would like represent for <span id="lblData8"></span></label>
                      <label class="uikit-text-input__label">From <span class="hint">(dd / mm / yyyy)</span></label>
                <input class="uikit-text-input dd" type="text" name="dd-date" id="act-dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="mm-date" id="act-mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="act-yyyy-date" maxlength="4" required aria-required="true"
                  aria-label="4 digit year">
                  <label class="uikit-text-input__label">To <span class="hint">(dd / mm / yyyy)</span></label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true"
                    aria-label="4 digit year">

            </div>

            <div id="actOnline" class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
              <label class="uikit-text-input__label" for="Input field">Do you wish to receive online access on behalf of <span id="lblData5"></span> </label>
                <fieldset>
                  <legend class="legend-label" id="question_id21c">
                  </legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="actOnlineYes" type="radio" name="actOnlineBtn" value="yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="actOnlineNo" type="radio" name="actOnlineBtn" value="no">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
            </div>
            <div id="correspondence" class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
              <label class="uikit-text-input__label" for="Input field">Do you wish to receive correspondence on behalf of <span id="lblData5"></span> </label>
                <fieldset>
                  <legend class="legend-label" id="question_id21c">
                  </legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="corroYes" type="radio" name="corro" value="yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="corroNo" type="radio" name="corro" value="no">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
            </div>

          </div>
        </div>

            </div>

            <!-- end of Act on behalf q's -->

            <!-- start of receive payment q's -->

            <div id="hideAllPayment" style="display:none;">

              <div id="paymentAlert" class="uikit-page-alerts" role="alert">
                <p>Allows you to receive payments on behalf of the client</p>
              </div>



              <div id="paymentDate" class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfTertiary">
                <label class="uikit-text-input__label" for="Input field">Will you be representing <span id="lblData5"></span> indefinitely with no end date?</label>
                  <fieldset>
                    <legend class="legend-label" id="question_id21c">
                    </legend>
                    <div class="radio-toggle">
                      <label class="on label-left">
                        <input id="paymentIndefYes" type="radio" name="paymentIndef" value="yes">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right">
                        <input id="paymentIndefNo" type="radio" name="paymentIndef" value="no">
                        <span>No</span>
                      </label>
                    </div>
                  </fieldset>
              </div>

              <div class="form-group">
                  <div class="form-group margin-above--large" id="showPaymentDate" style="display:none;">

                      <label class="uikit-text-input__label">Specify the dates you would like represent for <span id="lblData8"></span></label>
                      <label class="uikit-text-input__label">From <span class="hint">(dd / mm / yyyy)</span></label>
                <input class="uikit-text-input dd" type="text" name="dd-date" id="pay-dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="mm-date" id="pay-mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="pay-yyyy-date" maxlength="4" required aria-required="true"
                  aria-label="4 digit year">
                  <label class="uikit-text-input__label">To <span class="hint">(dd / mm / yyyy)</span></label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true"
                    aria-label="4 digit year">

            </div>

            </div>

            <!-- end of receive payment q's -->

          </div>


          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/nr-veteran-details'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/nr-review-rep'">Save and next</button>
            </div>
          </div>


  </main>

  <% include ../../global/partials/footer.ejs %>


  <script>

  $('#enquire').click(function(){
    $('#hideAllEnquire').show("fast");
    $('#hideAllAct').hide();
    $('#hideAllPayment').hide();
  });
  $('#enquireIndefNo').click(function(){
    $('#showEnquireDate').show("fast");
  });
  $('#enquireIndefYes').click(function(){
    $('#showEnquireDate').hide();
  });
  $('#actIndefNo').click(function(){
    $('#showActDate').show("fast");
  });
  $('#actIndefYes').click(function(){
    $('#showActDate').hide();
  });
  $('#paymentIndefNo').click(function(){
    $('#showPaymentDate').show("fast");
  });
  $('#paymentIndefYes').click(function(){
    $('#showPaymentDate').hide();
  });
  $('#permitted').click(function(){
    $('#hideAllEnquire').hide();
    $('#hideAllPayment').hide();
    $('#hideAllAct').show("fast");
  });
$('#paymentOnly').click(function(){
  $('#hideAllPayment').show("fast");
  $('#hideAllAct').hide();
  $('#hideAllEnquire').hide();
});

  $('#actAllMatters').click(function(){
    $('#hideThreeQs').show("fast");
  });
  $('#actFinancialOnly').click(function(){
    $('#hideThreeQs').show("fast");
  });

      var d = new Date();

      var output = d.getFullYear()
      var month = d.getMonth()+1
      var day = d.getDate()

            $('#dd-date').val(day);
            $('#mm-date').val(month);
            $('#yyyy-date').val(output);
            $('#act-dd-date').val(day);
            $('#act-mm-date').val(month);
            $('#act-yyyy-date').val(output);
            $('#pay-dd-date').val(day);
            $('#pay-mm-date').val(month);
            $('#pay-yyyy-date').val(output);
      //
      //
      // $('input[name=endDateDisabled]').change(function(){
      //   if($(this).is(':checked')){
      //     $('#dd-end-date').attr('readonly', true);
      //     $('#mm-end-date').attr('readonly', true);
      //     $('#yyyy-end-date').attr('readonly', true);
      //     $('#dd-end-date').addClass('end-date-disabled');
      //     $('#mm-end-date').addClass('end-date-disabled');
      //     $('#yyyy-end-date').addClass('end-date-disabled');
      //   } else {
      //     $('#dd-end-date').attr('readonly', false);
      //     $('#mm-end-date').attr('readonly', false);
      //     $('#yyyy-end-date').attr('readonly', false);
      //     $('#dd-end-date').removeClass('end-date-disabled');
      //     $('#mm-end-date').removeClass('end-date-disabled');
      //     $('#yyyy-end-date').removeClass('end-date-disabled');
      //   }
      // });


  var queryString = new Array();
$(function () {
    if (queryString.length == 0) {
        if (window.location.search.split('?').length > 1) {
            var params = window.location.search.split('?')[1].split('&');
            for (var i = 0; i < params.length; i++) {
                var key = params[i].split('=')[0];
                var value = decodeURIComponent(params[i].split('=')[1]);
                queryString[key] = value;
            }
        }
    }
    if (queryString["name"] != null && queryString["technology"] != null) {
        var newAmount = "";
        var requestAmount = "";
          newAmount += queryString["name"];
          requestAmount += queryString["technology"];
            $("#lblData").html(newAmount);
            $("#lblData2").html(requestAmount);
            $("#lblData3").html(requestAmount);
            $("#lblData4").html(requestAmount);
            $("#lblData5").html(requestAmount);
            $("#lblData6").html(requestAmount);
            $("#lblData7").html(requestAmount);
            $("#lblData8").html(requestAmount);
        if(requestAmount.indexOf('.') != -1){
          $("#lblData2").html(requestAmount);
        }else{
          $("#lblData2").html(requestAmount);
        }
    }
});
  </script>

</body>

</html>
