<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Review and submit: Nominated Rep | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar-new.ejs %>
    <main>
          <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <!-- Page heading -->
            <h1 class="margin-above--none ss-align--center">
              <span class="heading">Supporting documents</span>
            </h1>
          </div>
          <div class="container">
            <div class="form-group margin-above--large">
                    <legend class="legend-label">Upload any documents you may have to support your representation agreement <span class="hint">(optional)</span></legend>
                    <p>Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>
            <!-- Actions -->
            <fieldset>
              <table class="table-responsive table-responsive--no-border" style="margin: 0px;">
                <tr class="pt-proofOfRelationshipClaimantStudent accordion accordion--open ">
                  <td class="file-status file-status--required">
                    <span class="sr">Required</span>
                  </td>
                  <td>
                    <span>
                      <b>Proof of agreement</b>
                    </span>
                    <span class=" accordion-title__details">For example, Power of Attorney or Court order</span>
                  </td>
                  <td class="right">
                    <div class="file-upload">
                      <input type="file" class="file-upload__input" id="file-1">
                      <label class="file-upload__label" for="file-1">
                        <span class="file-upload__document">
                          <a class="file-upload__file-name file-upload__file-name--uploaded"></a>
                        </span>
                        <span class="file-upload__button">
                          <span class="uikit-btn small">Upload</span>
                        </span>
                      </label>
                    </div>
                  </td>

                </tr>
              </table>
            </fieldset>
            <div class="pagination pagination--ss-reverse-order">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#warning'">Back to home</button>
              <div class="floated">
                <button id="submit" class="uikit-btn btnNext">Submit documents</button>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div id="warning" class="modal-window">
            <div>
              <a href="#modal-close" title="Close" class="modal-close">Close</a>
              <h2>Your documents are still not submitted</h2>
              <p>Do you want to stay on this page and submit your uploaded documents?</p>
              <div class="modal-buttons">
                <button class="uikit-btn" onclick="window.location.href = '#modal-close'">Stay on this page</button>
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">Leave page</button>
              </div>
            </div>
          </div>
        </main>

        <% include ../../global/partials/footer.ejs %>

          <script>

          </script>


            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>

</html>
