<tr class="display-none pt-proofOfRelationship accordion accordion--open ">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of relationship</b>
    </span>
    <span class=" accordion-title__details">For example, birth certificate or adoption order.</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input" id="file-0">
      <label class="file-upload__label" for="file-0">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->

          </a>
        </span>
        <span class="file-upload__button">
          <span class="uikit-btn small">Upload</span>
        </span>
      </label>
    </div>
  </td>


  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>





<tr class="display-none pt-proofOfRelationshipClaimantStudent accordion accordion--open ">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b>
        Proof of your relationship to
        <span class="studentNameFirst"></span>
      </b>
    </span>
    <span class=" accordion-title__details">For example, birth certificate or adoption order.</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input" id="file-1">
      <label class="file-upload__label" for="file-1">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">


          </a>
        </span>
        <span class="file-upload__button">
          <span class="uikit-btn small">Upload</span>
        </span>
      </label>
    </div>

  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>


<tr class="display-none pt-proofOfRelationshipVeteranStudent accordion accordion--open ">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of
        <span class="studentNameFirstApostrophed"></span> relationship to the veteran
      </b>
    </span>
    <span class=" accordion-title__details">For example, birth certificate or adoption order.</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input" id="file-2">
      <label class="file-upload__label" for="file-2">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->

          </a>
        </span>
        <span class="file-upload__button">
          <span class="uikit-btn small">Upload</span>
        </span>
      </label>
    </div>

  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>

<tr class="display-none pt-proofOfResidence accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of
        <span class="studentNameFirstApostrophed"></span> residence</b>
    </span>
    <span class=" accordion-title__details">For example, rental agreement, utility bill or institution letter.</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input" id="file-3">
      <label class="file-upload__label" for="file-3">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <span class="uikit-btn small">Upload</span>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>

<tr class="display-none pt-proofOfEnrolment accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of
        <span class="studentNameFirstApostrophed"></span> enrolment</b>
    </span>
    <span class=" accordion-title__details">For example, school report or institution letter.</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input" id="file-4">
      <label class="file-upload__label" for="file-4">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <span class="uikit-btn small">Upload</span>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>





<tr class="display-none pt-partTimeStudyReason accordion accordion--open">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b> Proof of
        <span class="studentNameFirstApostrophed"></span> part-time study </b>
    </span>
    <span class=" accordion-title__details">For example, school report or institution letter.</span>
  </td>

  <td class="right">
    <div class="file-upload">
      <input type="file" class="file-upload__input" id="file-5">
      <label class="file-upload__label" for="file-5">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">
            <!-- document name will go in here -->
          </a>
        </span>
        <span class="file-upload__button">
          <span class="uikit-btn small">Upload</span>
        </span>
      </label>
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>

<tr class="display-none pt-tfnClaimantStudent accordion accordion--open ">

  <td class="file-status file-status--required">
    <span class="sr">
      Required
    </span>
  </td>
  <td>
    <span>
      <b>
        Tax File Number
        <span class="hide-in-view-only">for</span>
        <span class="studentNameFirst"></span>
      </b>
    </span>
    <span class=" accordion-title__details hide-in-view-only">
      <a href="https://www.ato.gov.au/uploadedFiles/Content/IND/Downloads/TFN_declaration_form_N3092.pdf">Download Tax File Declaration form</a>.
    </span>
  </td>

  <td class="right">
    <div class="file-upload hide-in-view-only">
      <input type="file" class="file-upload__input" id="file-1">
      <label class="file-upload__label" for="file-1">
        <span class="file-upload__document">
          <a class="file-upload__file-name file-upload__file-name--uploaded">


          </a>
        </span>
        <span class="file-upload__button">
          <span class="uikit-btn small">Upload</span>
        </span>
      </label>
    </div>
    <div class="display-none show-in-view-only">
      <!-- Change to name of file -->
    </div>
  </td>
  <td>
    <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
      <span class="sr">Toggle accordion</span>
    </a>
  </td>
</tr>
