<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
          label: "User",
          boxes: [
            "Student",
            "Parent/guardian"
          ],
          id: "user"
        }); %>

</div>

<script>

  $(document).ready(function () {
    /* --- State switcher --- */
    /* Toggle switcher */
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    if (sessionStorage.getItem('student-coc-user') == "parent") {
      updateContent("Parent/guardian");
      $("#user-2").prop("checked", true);
    } else {
      updateContent("Student");
      $("#user-1").prop("checked", true);
    }

    $('#user-container').change(function () {
      var mySelection = $('input[name=user]:checked').parent().find("span").text().trim();
      updateContent(mySelection)
    });

    function updateContent(myUser) {
      switch (myUser) {
        case "Student":
          $(".user-label-a").text("you");
          $(".user-label-b").text("Do you");
          $(".user-label-c").text("your");
          $(".user-label-d").text("");
          $(".user-label-e").text("your");
          $("#provide-details").hide();
          sessionStorage.setItem('student-coc-user', "student");
          break;
        case "Parent/guardian":
          $(".user-label-a").text("the student");
          $(".user-label-b").text("Does the student");
          $(".user-label-c").text("John Smith's");
          $(".user-label-d").text(" for John Smith");
          $(".user-label-e").text("");
          $("#provide-details").show();
          sessionStorage.setItem('student-coc-user', "parent");
          break;
        default:
          break;
      }
    }

  });
</script>
