<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
          label: "User",
          boxes: [
            "Student",
            "Parent/guardian",
            "No tasks"
          ],
          id: "user"
        }); %>

</div>

<script>

  $(document).ready(function () {
    /* --- State switcher --- */
    /* Toggle switcher */
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $("#user-1").prop("checked", true);
    // if (sessionStorage.getItem('student-coc-user') == "parent") {
    //   stateSwitcher("Parent/guardian");
    //   $("#user-2").prop("checked", true);
    // } else {
    //   stateSwitcher("Student");
    //   $("#user-1").prop("checked", true);
    // }
    $('#user-container').change(function () {
      var mySelection = $('input[name=user]:checked').parent().find("span").text().trim();
      stateSwitcher(mySelection)
    });

  });
</script>
