<div id="state-switcher">
  <h3>Page states</h3>
  <%- include(partials+"components/form-partials/radio", {
      boxes: [
        {
          text: "Parent and Guardian",
          toggle: "#review-table__toggle",
          modifiers: ["checked"]
        },
        {
          text: "Student",
        }
      ],
      id: "user"
    }) %>
</div>

<script>
  $(document).ready(function () {

    /* --- State switcher --- */

    /* Toggle switcher */
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('#user-container').change(function () {
      var mySelection = $('input[name=user]:checked').parent().find("span").text().trim();
      switch (mySelection) {
        case "Parent and Guardian":
          document.getElementById("intention-to-study").innerHTML = 'In order to continue receiving education assistance scheme benefits, please provide details of John Smith\'s intention to continue study.';
          document.getElementById("confirmation-of-enrolment").innerHTML = 'We’ll need you to upload a copy of John Smiths Confirmation of Enrolment (COE) document to continue receiving education assistance scheme benefits.';
          break;
        case "Student":
          document.getElementById("intention-to-study").innerHTML = 'In order to continue receiving education assistance scheme benefits, please provide details of your intention to continue study.';
          document.getElementById("confirmation-of-enrolment").innerHTML = 'We’ll need you to upload a copy of you Confirmation of Enrolment (COE) document to continue receiving education assistance scheme benefits.';
          break;
        default:
          break;
      }
    });
  });
</script>
