<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim for Veteran Card submitted | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div class="container" id="main-content">
      <div class="claim-end center-vertically">
        <div class="pt-claim-type--normal margin-above--large center-vertically">
          <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
            <h1>Your Primary to Secondary has been <b>submitted</b></h1>
          </div>
          <hr class="orange-divider">
          <hr>
          <a href="/auth/tasks">
            <button class="uikit-btn uikit-btn--tertiary">Back to home</button>
          </a>
        </div>
      </div>
    </div>
    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>
</body>

</html>
