<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Review and submit: Nom Rep Client | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Review and submit</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Page content -->
          <!-- Current relationship -->
          <div class="col-md-8 col-md-offset-2">


            <div class="margin-above--extra margin-below--extra">
              <div class="review__header--label">
                <h2>Representative's role</h2>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Role request</div>
                  <div class="review__content--data col-xs-7 pt-current-rep-role"></div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Is this arrangement for a fixed period?</div>
                  <div class="review__content--data col-xs-7">

                    <span class="pt-current-rep-paymetFixed"></span>
                    <span class="pt-current-rep-actFixedPeriod"></span>
                    <span class="pt-current-rep-paymetOnlyFixed"></span>
                  </div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Would you like your representative to receive correspondence on your behalf?</div>
                  <div class="review__content--data col-xs-7 pt-current-rep-corro"></div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Would you like your representative to receive payments on your behalf?</div>
                  <div class="review__content--data col-xs-7 pt-current-rep-paymentBehalf"></div>
                </div>

                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/profile/nomrep/role-rep'">Edit</button>
              </div>
            </div>
            <hr />
            <div class="margin-above--extra margin-below--extra">
              <div class="review__header--label">
                <h2>Supporting documents</h2>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Proof of representation</div>
                  <div class="review__content--data col-xs-7">POA_<span class="pt-current-rep-nameFirst"></span>_<span class="pt-current-rep-nameLast"></span>.pdf</div>
                </div>

                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/profile/nomrep/upload-client'">Edit</button>
              </div>
            </div>
          </div>

        </div>

        <div class="pagination">

          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/role-client'">Previous</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#warning'">Cancel application</button>
          <div class="floated">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/'">Save and exit</button>
            <%# <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/profile/nomrep/form-rep-6'">Submit application</button> %>

            <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/profile/nomrep/form-rep-6'">Submit application</button>
          </div>
        </div>

        <div id="warning" class="modal-window">
          <div>
            <a href="#modal-close" title="Close" class="modal-close">Close</a>
            <h2>Your application will be cancelled</h2>
            <p>Are you sure you want to cancel this application?</p>
            <div class="modal-buttons">
              <button class="uikit-btn" onclick="window.location.href = '#modal-close'">Stay on this page</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/'">Leave page</button>
            </div>
          </div>
        </div>

  </main>
  <%- include(partials+"footer") %>

  <script>
    readClient();

  </script>

</body>

</html>
