<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Agreement: Nom Rep | MyService</title>
  <% include ../../../../partials/head.ejs %>

  <style>
    .pt-first-time,
    .pt-first-time-no {
      display: none;
    }

  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <% include ../../../../partials/header-topbar.ejs %>

  <% include ../../../../partials/header-authenticated.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="">
          <div class="container margin-above margin-below--extra" id="claim-activity">
            <section class="">
              <div class="row margin-above">
                <div class="col-sm-3">

                  <% include ../../../../partials/profile-side-nav.ejs %>

                </div>

                <div class="col-sm-9">
                  <h1 class="margin-above--none margin-below--mid">Representation history</h1>

                  <div class="row">
                    <table class="table-responsive">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Name</th>
                          <th>Transaction Details</th>
                          <th>Transaction ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>02/02/2019</td>
                          <td>Craig Williamson</td>
                          <td>Change Postal Address</td>
                          <td>1123456</td>
                        </tr>
                        <tr>
                          <td>02/02/2019</td>
                          <td>Craig Williamson</td>
                          <td>Lodged claim</td>
                          <td>2341521</td>
                        </tr>
                        <tr>
                          <td>02/02/2019</td>
                          <td>Jenny Fresh</td>
                          <td>Request Replacement Card</td>
                          <td>1423768</td>
                        </tr>
                        <tr>
                          <td>02/02/2019</td>
                          <td>Joe Blogs</td>
                          <td>Change Mobile Number</td>
                          <td>4456321</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row payments-page">
                    <div class="pagination floated">
                      <a href="#">&laquo;</a>
                      <a href="#" class="active">1</a>
                      <a href="#">2</a>
                      <a href="#">3</a>
                      <a href="#">4</a>
                      <a href="#">5</a>
                      <a href="#">6</a>
                      <a href="#">&raquo;</a>
                    </div>
                  </div>

                  <div class="pagination">
                    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/'">Back to representation</button>
                    <button class="uikit-btn floated uikit-btn--tertiary" onclick="printFunction()">Print</button>
                  </div>
                </div>
              </div>
          </div>

  </main>


  <% include ../../../../partials/footer.ejs %>
</body>
<script>
  if ($(window.location.hash).length > 0) {
    $('html, body').animate({
      scrollTop: $(window.location.hash).offset().top - 100
    }, 2000);
  }

  $(document).ready(function () {
    // don't think we need any of this now.
    $('#myRepsBtn').click(function () {
      $('#myReps').show();
      $('#myReps1').show();
      $('#myReps2').show();
      $('#myReps3').show();
      $('#myReps4').show();
      $('#myReps5').show();
      $('#iRep').hide();
      $('#iRep1').hide();
      $('#myRepsHead').show();
      $('#iRepHead').hide();
      $('#becomeRep').hide();
      $('#addRep').show();
      $('#myRepsBtn').removeClass('active-state');
      $('#iRepresent').addClass('active-state');
      $('#myRepsBtn').removeClass('on-load-state');
    });
    $('#iRepresent').click(function () {
      $('#iRep').show();
      $('#iRep1').show();
      $('#iRepHead').show();
      $('#myReps').hide();
      $('#myReps1').hide();
      $('#myReps2').hide();
      $('#myReps3').hide();
      $('#myReps4').hide();
      $('#myReps5').hide();
      $('#becomeRep').show();
      $('#addRep').hide();
      $('#myReps1').hide();
      $('#myRepsHead').hide();
      $('#myRepsBtn').addClass('active-state');
      $('#iRepresent').removeClass('active-state');
      $('#iRepresent').removeClass('on-load-state');
    });
  });

  readClient();
  readRep();

</script>

</html>
