<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Agreement: Nom Rep | MyService</title>
  <% include ../../../../partials/head.ejs %>

  <style>
    .pt-first-time,
    .pt-first-time-no {
      display: none;
    }

  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor future nom-reps">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>


  <% include ../../../../partials/header-topbar.ejs %>

  <% include ../../../../partials/header-authenticated.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <section class="">
          <div class="row margin-above">
            <div class="col-sm-3">

              <% include ../../../../partials/profile-side-nav.ejs %>

            </div>

            <div class="col-sm-9">
              <%# <h1 class="margin-above--none margin-below--none">Representation transaction log</h1> %>
              <main>
                <section class="payments-page">
                  <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below" style="background-color: #eee;">
                    <div class="container margin-above-none">
                      <div class="col-sm-9 margin-below--extra">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-9">
                              <h1 class="margin-below--small margin-above--none container">
                                <span class="heading">Representation transaction log</span>
                              </h1>
                            </div>
                          </div>
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-sm-9 header-row">
                                <div class="col-sm-2 header-text">
                                  <h4>Date</h4>
                                </div>
                                <div class="col-sm-3 header-text">
                                  <h4>Name</h4>
                                </div>
                                <div class="col-sm-4 header-text">
                                  <h4>Transaction Details</h4>
                                </div>
                                <div class="col-sm-1 header-number">
                                  <h4>Transaction Id</h4>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-9">
                                <div class="col-sm-2 data-text">
                                  <p>02/02/2019</p>
                                </div>
                                <div class="col-sm-3 data-text">
                                  <p>Craig Williamson</p>
                                </div>
                                <div class="col-sm-5 data-text">
                                  <p>Change Postal Address</p>
                                </div>
                                <div class="col-sm-1 data-number">
                                  <p>1123456</p>
                                </div>

                                <div class="col-md-192">
                                  <div class="col-sm-2 data-text">
                                    <p>02/02/2019</p>
                                  </div>
                                  <div class="col-sm-3 data-text">
                                    <p>Craig Williamson</p>
                                  </div>
                                  <div class="col-sm-5 data-text">
                                    <p>Lodged claim</p>
                                  </div>
                                  <div class="col-sm-1 data-number">
                                    <p>2341521</p>
                                  </div>

                                  <div class="col-md-192">
                                    <div class="col-sm-2 data-text">
                                      <p>02/02/2019</p>
                                    </div>
                                    <div class="col-sm-3 data-text">
                                      <p>Jenny Fresh</p>
                                    </div>
                                    <div class="col-sm-5 data-text">
                                      <p>Request Replacement Card</p>
                                    </div>
                                    <div class="col-sm-1 data-number">
                                      <p>1423768</p>
                                    </div>

                                    <div class="col-md-192">
                                      <div class="col-sm-2 data-text">
                                        <p>02/02/2019</p>
                                      </div>
                                      <div class="col-sm-3 data-text">
                                        <p>Joe Blogs</p>
                                      </div>
                                      <div class="col-sm-5 data-text">
                                        <p>Change Mobile Number</p>
                                      </div>
                                      <div class="col-sm-1 data-number">
                                        <p>4456321</p>
                                      </div>

                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="pagination">
                                      <a href="#">&laquo;</a>
                                      <a href="#" class="active">1</a>
                                      <a href="#">2</a>
                                      <a href="#">3</a>
                                      <a href="#">4</a>
                                      <a href="#">5</a>
                                      <a href="#">6</a>
                                      <a href="#">&raquo;</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                </section>
              </main>
              <%# <table class="agreements-concept table-responsive clean">
                <thead>
                  <table id="claims" class="table-claims table-responsive">
                    <thead>
                      <tr>
                        <th>Transaction</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tr>
                      <td>
                        <p class="status-icon status-approved">
                          Craig Williamson (RSL Newtown)
                          <br />
                          <span>ID: 1121033
                            <em>&ndash; Change postal address</em>
                          </span>
                        </p>
                      </td>
                      <td>
                        <p>
                          10/04/2019
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="status-icon status-approved">
                          Craig Williamson (RSL Newtown)
                          <br />
                          <span>ID: 1121033
                            <em>&ndash; Change postal address</em>
                          </span>
                        </p>
                      </td>
                      <td>
                        <p>
                          10/04/2019
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="status-icon status-approved">
                          Craig Williamson (RSL Newtown)
                          <br />
                          <span>ID: 1121033
                            <em>&ndash; Change postal address</em>
                          </span>
                        </p>
                      </td>
                      <td>
                        <p>
                          10/04/2019
                        </p>
                      </td>
                    </tr>


            </div>

          </div>


          </tbody>
          </table> %>
        </section>
      </div>
    </section>
  </main>


  <% include ../../../../partials/footer.ejs %>
</body>
<script>
  if ($(window.location.hash).length > 0) {
    $('html, body').animate({
      scrollTop: $(window.location.hash).offset().top - 100
    }, 2000);
  }

  $(document).ready(function () {
    // don't think we need any of this now.
    $('#myRepsBtn').click(function () {
      $('#myReps').show();
      $('#myReps1').show();
      $('#myReps2').show();
      $('#myReps3').show();
      $('#myReps4').show();
      $('#myReps5').show();
      $('#iRep').hide();
      $('#iRep1').hide();
      $('#myRepsHead').show();
      $('#iRepHead').hide();
      $('#becomeRep').hide();
      $('#addRep').show();
      $('#myRepsBtn').removeClass('active-state');
      $('#iRepresent').addClass('active-state');
      $('#myRepsBtn').removeClass('on-load-state');
    });
    $('#iRepresent').click(function () {
      $('#iRep').show();
      $('#iRep1').show();
      $('#iRepHead').show();
      $('#myReps').hide();
      $('#myReps1').hide();
      $('#myReps2').hide();
      $('#myReps3').hide();
      $('#myReps4').hide();
      $('#myReps5').hide();
      $('#becomeRep').show();
      $('#addRep').hide();
      $('#myReps1').hide();
      $('#myRepsHead').hide();
      $('#myRepsBtn').addClass('active-state');
      $('#iRepresent').removeClass('active-state');
      $('#iRepresent').removeClass('on-load-state');
    });
  });

  readClient();
  readRep();

</script>

</html>
