<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>View Rep: Nom Rep | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
<%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Application summary</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="form-group">
              <div class="flex-container flex-container--wrap">
                <div class="flex-item flex-item--centred receipt">
                  <div class="receipt__heading">

                    <h4 class="right floated margin-below--none margin-above--none padding-below--none ss-align ms-align--right">
                      <b>Application Id: 123456789</b>
                    </h4>

                    <h3 class="margin-above--none ss-align">
                      Submitted on 10 Jan 2019
                    </h3>

                  </div>
                  <div class="receipt__content">

                    <div class="margin-above--extra margin-below--extra">
                      <div class="review__header--label">
                        <h2>Client's personal details</h2>
                      </div>
                      <div class="review__content">
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Given name</div>
                          <div class="review__content--data col-xs-7">Liz</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Surname</div>
                          <div class="review__content--data col-xs-7">Mills</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">File number</div>
                          <div class="review__content--data col-xs-7">45674567</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Date of birth</div>
                          <div class="review__content--data col-xs-7">21 / 09/ 1975</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Relationship to client</div>
                          <div class="review__content--data col-xs-7">Child</div>
                        </div>
                      </div>
                    </div>



                    <hr class="hr-compact">
                    <!-- Dependent children -->
                    <div class="review__wrapper ongoing-only">
                      <div class="review__header">
                        <div class="review__header--label">
                          <h2>Client's contact details</h2>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Email address</div>
                          <div class="review__content--data col-xs-7">liz.mills@gmail.com</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Mobile phone number</div>
                          <div class="review__content--data col-xs-7">0425 123 123</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Country</div>
                          <div class="review__content--data col-xs-7">Australia</div>
                        </div>
                        <div class="review__content--item row margin-above--large">
                          <div class="review__content--label col-xs-5">Address line 1</div>
                          <div class="review__content--data col-xs-7">99 Ruthning Ave</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Suburb</div>
                          <div class="review__content--data col-xs-7">Townsville</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Post code</div>
                          <div class="review__content--data col-xs-7">4810</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">State or teritory</div>
                          <div class="review__content--data col-xs-7">QLD</div>
                        </div>
                      </div>
                    </div>

                    <hr class="hr-compact">

                    <!-- Residency -->
                    <div class="review__wrapper">
                      <div class="review__header">
                        <div class="review__header--label">
                          <h2>Representation agreement</h2>
                        </div>
                        <div class="review__header--button"></div>
                      </div>
                      <div class="review__content">
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Role request</div>
                          <div class="review__content--data col-xs-7">Enquire on behalf</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Representation date</div>
                          <div class="review__content--data col-xs-7">01 / 01 / 2000 to indefinite</div>
                        </div>
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">Do you require online (MyService/MyAccount) view only access for this client?</div>
                          <div class="review__content--data col-xs-7">Yes</div>
                        </div>
                      </div>
                    </div>

                    <hr class="hr-compact">

                    <!-- Required documents -->
                    <div class="review__wrapper">
                      <div class="review__header">
                        <div class="review__header--label">
                          <h2>Supporting documents</h2>
                        </div>
                        <div class="review__header--button"></div>
                      </div>
                      <div class="review__content">
                        <div class="review__content--item row">
                          <div class="review__content--label col-xs-5">&#10003;&nbsp;&nbsp; Proof of representation</div>
                          <div class="review__content--data col-xs-7">POA_liz_mills.pdf</div>
                        </div>
                      </div>
                    </div>
                    <hr class="hr-compact">
                  </div>
                </div>
              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/'">Back to representation</button>
                <button class="uikit-btn floated uikit-btn--tertiary" onclick="printFunction()">Print</button>
              </div>
            </div>
          </div>
        </div>

      </main>


      <%- include(partials+"components/layout/footer") %>

</body>

<script>
  function printFunction() {
    window.print();
  }
</script>


</html>
