<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "State",
    boxes: [
      "Empty list",
      "Populated list"
    ],
    id: "page-state"
  }); %>

</div>

<script>

  var pageState;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $("#page-state-2").prop("checked", true);

    // if (localStorage.getItem("coc-state") === "default") {
    //   pageState = "default";
    //   $("#page-state-1").prop("checked", true);
    // }
    // if (localStorage.getItem("coc-state") === "update1") {
    //   pageState = "update1";
    //   $("#page-state-2").prop("checked", true);
    // }
    // if (localStorage.getItem("coc-state") === "update2") {
    //   pageState = "update2";
    //   $("#page-state-3").prop("checked", true);
    // }

    $('input[name=page-state]').change(function () {
      pageState = $(this).val();
      stateSwitcher();
    });

    stateSwitcher();

  });

</script>