<!-- Summary card -->
<div id="bank-accounts-overseas-update-summary" class="plain-text-info box" style="display:block;">
  <div class="review__wrapper">
    <div class="review__content--item boxed">
      <div class="review__content--label review__header margin-below">
        <h2 class="margin-above--none margin-below--none" style="display: inline-block;">
          <i class="fal fa-university fontawesome-icon"></i>
          <span class="font-weight-heavy">Bank account</span>
        </h2>
        <button class="uikit-btn uikit-btn--tertiary small"
          onClick="editCard('bank-accounts-overseas-update');">&nbsp;Edit&nbsp;</button>
      </div>
      <div class="review__table">
        <div class="tr">
          <div class="td"><b>Account type</b></div>
          <div class="td">Overseas savings account</div>
        </div>
        <div class="tr">
          <div class="td"><b>Account owner</b></div>
          <div class="td">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Name of foreign financial institution</b></div>
          <div class="td">Overseas bank </div>
        </div>
        <div class="tr">
          <div class="td"><b>Current balance</b></div>
          <div class="td">$65,000.88</div>
        </div>
      </div>
      <div class="status-label status-label--edited  margin-above" hidden>EDITED</div>

    </div>
  </div>
</div>
<!-- Summary card deleted-->
<div id="bank-accounts-overseas-update-summary-deleted" class="box plain-text-info" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed" style="border: 1px dashed #ccc">
      <div class="review__content--label review__header margin-below" style="opacity: .5;">
        <h2 class="margin-above--none" style="display: inline-block;">
          <i class="fal fa-university fontawesome-icon"></i>
          <span class="font-weight-heavy">Bank account</span>
        </h2>
        <button class="uikit-btn uikit-btn--tertiary small"
        onClick="undeletPreProp('bank-accounts-update');">&nbsp;Undo delete&nbsp;</button>
      </div>
      <div class="review__table" style="opacity: .5;">
        <div class="tr">
          <div class="td"><b>Account type</b></div>
          <div class="td">Overseas savings account</div>
        </div>
        <div class="tr">
          <div class="td"><b>Account owner</b></div>
          <div class="td">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Name of foreign financial institution</b></div>
          <div class="td">Overseas bank </div>
        </div>
        <div class="tr">
          <div class="td"><b>Current balance</b></div>
          <div class="td">$65,000.88</div>
        </div>
      </div>
      <div class="status-label status-label--deleted margin-above">DELETED</div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="bank-accounts-overseas-update-card" class="boxed margin-above margin-below" style="display: none;">
  <div class="delete-content" hidden>
    <h2 class="margin-above--none" style="display: inline-block;"><span
        class="fal fa-university fontawesome-icon"></span><span class="font-weight-heavy">Bank account
      </span></h2>
    <hr style="margin-top: 10px; max-bottom: 0;">
    <%- include(partials+"components/form-partials/date", {
      label: "Date of change",
      id: "date-change"
    }); %>
  

    <div class="pagination pagination--ss-reverse-order   margin-above--extra" id="pagination700">
      <a href="#" id="delete-bank-account" class="uikit-btn"
        onClick="confirmDeletePrePop('bank-accounts-overseas-update')">Delete bank account</a>
      <a href="#" id="cancel-delete" class="uikit-btn uikit-btn--tertiary" onClick="cancelDeletePrePop()">Cancel</a>
    </div>

  </div>
  <div class="edit-content">
    <div class="review__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-university fontawesome-icon"></span><span class="font-weight-heavy">Bank account
        </span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning box__delete-button"
        onclick="deletePrePop('bank-accounts-overseas-update')" ;>&nbsp;Delete item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
      <!-- <h3>Last submitted:</h3> -->
      <div class="review__table">
        <!-- <div class="tr">
        <div class="td"><b>Account owner</b></div>
        <div class="td">Myself</div>
      </div> -->
        <div class="tr">
          <div class="td"><b>Account type</b></div>
          <div class="td">Overseas savings account</div>
        </div>
        <div class="tr">
          <div class="td"><b>Name of foreign financial institution</b></div>
          <div class="td">Bank of India</div>
        </div>
        <div class="tr">
          <div class="td"><b>Account number</b></div>
          <div class="td">2334 6654</div>
        </div>
      </div>
      <hr>
      <form id="myForm">
        <input type="reset" style="display:none">

        <%- include(partials+"components/form-partials/text", {
        label: "Account balance",
        modifiers: ["dollarSign"]
      }); %>

      

        <%- include(partials+"components/form-partials/date", {
        label: "Date of change"
      }); %>

      </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
      <button id="addButton" class="uikit-btn"
        onclick="addSummary('bank-accounts-overseas-update');">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button>
      &nbsp;<button class="uikit-btn uikit-btn--tertiary"
        onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>
</div>
<!-- card end -->