<!-- Summary card -->
<div id="bank-accounts-update-summary" class="box boxed">
  <div class="box__header">
    <h2 class="box__heading">
      <i class="fal fa-university fontawesome-icon"></i>
      <span class="font-weight-heavy">Bank account</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
      onClick="editCard('bank-accounts-update');">&nbsp;Edit&nbsp;</button>
  </div>
  <div class="box__table">
    <div class="tr">
      <div class="td"><b>Account type</b></div>
      <div class="td">Savings account</div>
    </div>
    <div class="tr">
      <div class="td"><b>Account owner</b></div>
      <div class="td switch-owner">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Name of financial institution</b></div>
      <div class="td">NAB</div>
    </div>
    <div class="tr">
      <div class="td"><b>Current balance</b></div>
      <div class="td">$478.88<span class="provisional category-update" hidden> (changes pending)</span></div>
    </div>
  </div>
  <div class="status-label status-label--edited margin-above" style="display: none !important;">EDITED</div>
</div>

<!-- Summary card deleted-->
<div id="bank-accounts-update-summary-deleted" class="box boxed box--deleted" style="display: none;">
  <div class="box__header ">
    <h2 class="box__heading disabled-opacity">
      <i class="fal fa-university fontawesome-icon"></i>
      <span class="font-weight-heavy">Bank account</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
    onClick="undoDeletePrePop('bank-accounts-update');">&nbsp;Undo delete&nbsp;</button>
  </div>
  <div class="box__table disabled-opacity">
    <div class="tr">
      <div class="td"><b>Account type</b></div>
      <div class="td">Savings account</div>
    </div>
    <div class="tr">
      <div class="td"><b>Account owner</b></div>
      <div class="td switch-owner">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Name of financial institution</b></div>
      <div class="td">NAB</div>
    </div>
    <div class="tr">
      <div class="td"><b>Current balance</b></div>
      <div class="td">$478.88<span class="provisional" hidden> (change pending)</span></div>
    </div>
  </div>
  <div class="status-label status-label--deleted margin-above" style="display: none;">DELETED</div>
</div>

<!-- Open card -->
<div id="bank-accounts-update-card" class="box boxed box--open" style="display: none;">
  <div class="delete-content" hidden>
    <h2 class="margin-above--none" style="display: inline-block;"><span
        class="fal fa-university fontawesome-icon"></span><span class="font-weight-heavy">Bank account
      </span></h2>
    <hr style="margin-top: 10px; max-bottom: 0;">
    <%- include(partials+"components/form-partials/date", {
      label: "Date of change/disposal"
    }); %>
   
    <div class="pagination pagination--ss-reverse-order   margin-above--extra" id="pagination700">
      <a href="#" id="delete-bank-account" class="uikit-btn"
        onClick="confirmDeletePrePop('bank-accounts-update')">Delete</a>
      <a href="#" id="cancel-delete" class="uikit-btn uikit-btn--tertiary" onClick="cancelDeletePrePop()">Cancel</a>
    </div>
  </div>
  <div class="edit-content">
    <div class="box__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-university fontawesome-icon"></span><span class="font-weight-heavy">Bank account
        </span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning box__delete-button "
        onclick="deletePrePop('bank-accounts-update');">&nbsp;Delete item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
      <!-- <h3>Last submitted:</h3> -->
      <div class="box__table">
        <div class="tr">
          <div class="td"><b>Account type</b></div>
          <div class="td">Savings account</div>
        </div>
        <div class="tr">
          <div class="td"><b>Account owner</b></div>
          <div class="td switch-owner">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Name of financial institution</b></div>
          <div class="td">NAB</div>
        </div>
        <div class="tr">
          <div class="td"><b>Account number</b></div>
          <div class="td">2334 6654</div>
        </div>
      </div>
      <%- include(partials+"components/form-partials/notice", {
        message: "You currently have changes pending (submitted 22/10/2020). If you have new changes update below.",
        customClass: "provisional margin-above",
        modifiers: ["hidden"]
      }); %>
      <hr>
      <form id="myForm">
        <input type="reset" style="display:none">

        <%- include(partials+"components/form-partials/text", {
        label: "Current balance",
        modifiers: ["dollarSign"]
      }); %>

       
        <%- include(partials+"components/form-partials/date", {
        label: "When did the change occur?"
      }); %>
      </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
      <button id="addButton" class="uikit-btn"
        onclick="addSummary('bank-accounts-update');">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
        class="uikit-btn uikit-btn--tertiary"
        onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>
</div>
<!-- card end -->