<!-- Summary card -->
<div id="cash-held-update-summary" class="box boxed">
  <div class="box__header">
    <h2 class="box__heading">
      <i class="fal fa-money-bill-wave-alt fontawesome-icon"></i>
      <span class="font-weight-heavy">Cash held</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
      onClick="editCard('cash-held-update');">&nbsp;Edit&nbsp;</button>
  </div>
  <div class="box__table">
    <div class="tr">
      <div class="td"><b>Amount</b></div>
      <div class="td">$3200</div>
    </div>
    <div class="tr">
      <div class="td"><b>Account owner</b></div>
      <div class="td">Jointly with my partner</div>
    </div>
  </div>
  <div class="status-label status-label--edited margin-above" style="display: none !important;">EDITED</div>
</div>

<!-- Summary card deleted-->
<div id="cash-held-update-summary-deleted" class="box boxed box--deleted" style="display: none;">
  <div class="box__header ">
    <h2 class="box__heading disabled-opacity">
      <i class="fal fa-money-bill-wave-alt fontawesome-icon"></i>
      <span class="font-weight-heavy">Cash held</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
    onClick="undoDeletePrePop('cash-held-update');">&nbsp;Undo delete&nbsp;</button>
  </div>
  <div class="box__table disabled-opacity">
    <div class="tr">
      <div class="td"><b>Amount</b></div>
      <div class="td">$3200</div>
    </div>
    <div class="tr">
      <div class="td"><b>Account owner</b></div>
      <div class="td">Jointly with my partner</div>
    </div>
  </div>
  <div class="status-label status-label--deleted margin-above" style="display: none;">DELETED</div>
</div>

<!-- Open card -->
<div id="cash-held-update-card" class="box boxed box--open" style="display: none;">
  <div class="delete-content" hidden>
    <h2 class="margin-above--none" style="display: inline-block;"><span
        class="fal fa-money-bill-wave-alt fontawesome-icon"></span><span class="font-weight-heavy">Cash held
      </span></h2>
    <hr style="margin-top: 10px; max-bottom: 0;">
    <%- include(partials+"components/form-partials/date", {
      label: "Date of change/disposal"
    }); %>
   
    <div class="pagination pagination--ss-reverse-order   margin-above--extra" id="pagination700">
      <a href="#" id="delete-bank-account" class="uikit-btn"
        onClick="confirmDeletePrePop('cash-held-update')">Delete</a>
      <a href="#" id="cancel-delete" class="uikit-btn uikit-btn--tertiary" onClick="cancelDeletePrePop()">Cancel</a>
    </div>
  </div>
  <div class="edit-content">
   
    <div class="box__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-money-bill-wave-alt fontawesome-icon"></span><span class="font-weight-heavy">Cash held
        </span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning box__delete-button "
        onclick="deletePrePop('cash-held-update');">&nbsp;Delete item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
      <!-- <h3>Last submitted:</h3> -->
      <div class="box__table">
        <div class="tr partner">
          <div class="td"><b>Owner</b></div>
          <div class="td">Jointly with my partner</div>
        </div>
      </div>
      <hr>
      <form id="myForm">
        <input type="reset" style="display:none">

        <%- include(partials+"components/form-partials/text", {
        label: "Amount",
        modifiers: ["dollarSign"]
      }); %>

      </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
      <button id="addButton" class="uikit-btn"
        onclick="addSummary('cash-held-update');">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
        class="uikit-btn uikit-btn--tertiary"
        onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>
</div>
<!-- card end -->

