<!-- Summary card -->
<div id="compensation-and-damages-update-summary" class="box boxed">
  <div class="box__header">
    <h2 class="box__heading">
      <i class="fal fa-box-usd fontawesome-icon"></i>
      <span class="font-weight-heavy">Compensation &amp; damages</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
    onClick="editCard('compensation-and-damages-update');">&nbsp;Edit&nbsp;</button>
  </div>
  <div class="box__table">
    <div class="tr">
      <div class="td"><b>Compensation recieved by</b></div>
      <div class="td">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Amount recieved/recieving</b></div>
      <div class="td">$12,000</div>
    </div>
    <div class="tr">
      <div class="td"><b>Frequency</b></div>
      <div class="td">Annually</div>
    </div>
  </div>
  <div class="status-label status-label--edited margin-above" style="display: none !important;">EDITED</div>
</div>

<!-- Summary card deleted-->
<div id="compensation-and-damages-update-summary-deleted" class="box boxed box--deleted" style="display: none;">
  <div class="box__header ">
    <h2 class="box__heading disabled-opacity">
      <i class="fal fa-box-usd fontawesome-icon"></i>
      <span class="font-weight-heavy">Compensation &amp; damages</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
    onClick="undoDeletePrePop('compensation-and-damages-update');">&nbsp;Undo delete&nbsp;</button>
  </div>
  <div class="box__table disabled-opacity">
    <div class="tr">
      <div class="td"><b>Compensation recieved by</b></div>
      <div class="td">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Amount recieved/recieving</b></div>
      <div class="td">$12,000</div>
    </div>
    <div class="tr">
      <div class="td"><b>Frequency</b></div>
      <div class="td">Annually</div>
    </div>
  </div>
  <div class="status-label status-label--deleted margin-above" style="display: none;">DELETED</div>
</div>

<!-- Open card -->
<div id="compensation-and-damages-update-card" class="box boxed box--open" style="display: none;">
  <div class="delete-content" hidden>
    <h2 class="margin-above--none" style="display: inline-block;"><span
        class="fal fa-box-usd fontawesome-icon"></span><span class="font-weight-heavy">Compensation &amp; damages
      </span></h2>
    <hr style="margin-top: 10px; max-bottom: 0;">
    <%- include(partials+"components/form-partials/date", {
      label: "Date of change/disposal"
    }); %>
    <div class="pagination pagination--ss-reverse-order   margin-above--extra" id="pagination700">
      <a href="#" class="uikit-btn"
        onClick="confirmDeletePrePop('compensation-and-damages-update')">Delete</a>
      <a href="#" id="cancel-delete" class="uikit-btn uikit-btn--tertiary" onClick="cancelDeletePrePop()">Cancel</a>
    </div>
  </div>
  <div class="edit-content">
    <div class="box__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-box-usd fontawesome-icon"></span><span class="font-weight-heavy">Compensation &amp; damages
        </span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning box__delete-button "
        onclick="deletePrePop('compensation-and-damages-update');">&nbsp;Delete item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
      <!-- <h3>Last submitted:</h3> -->
      <div class="box__table">
        <div class="tr">
          <div class="td"><b>Compensation recieved by</b></div>
          <div class="td">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Amount recieved/recieving</b></div>
          <div class="td">$12,000</div>
        </div>
        <div class="tr">
          <div class="td"><b>Frequency</b></div>
          <div class="td">Annually</div>
        </div>
      </div>
      <hr>
      To change this reported item:
      <ol class="margin-above--small">
        <li>Delete the item.</li>
        <li>Add a new item with the updated details.</li>
      </ol>
      <p>If you have any queries please contact DVA on 133 254.</p>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none margin-below--none">
      <button class="uikit-btn uikit-btn--tertiary"
         onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;</button>
     </div>
  </div>
</div>
<!-- card end -->