<!-- Summary card -->
<div id="employment-income-update-summary" class="box boxed">
  <div class="box__header">
    <h2 class="box__heading">
      <i class="fal fa-briefcase fontawesome-icon"></i>
      <span class="font-weight-heavy">Employment income</span>
    </h2>
    <div class="uikit-text-input__label-wrapper--inline-block floated">
      <!-- <legend class="uikit-text-input__label legend-label">a</legend> -->

      <div class="tooltip">
        <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button"
          aria-controls="gender-tt-message" aria-expanded="false">
          <div class="tooltip__label tooltip__label--icon-only">
            <a>Gender help</a>
          </div>
          <div class="tooltip__tab"></div>
        </div>
        <div class="tooltip__content" aria-labelledby="gender-tt-label" role="region"
          tabindex="-1" aria-hidden="true">
          <div class="tooltip__message">Message TBD.</div>
          <div class="tooltip__close" role="button" tabindex="0">Close</div>
        </div>
      </div>
    </div>
  </div>
  <div class="box__table">
    <div class="tr">
      <div class="td"><b>Who earned the income</b></div>
      <div class="td">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Name of the employer</b></div>
      <div class="td">McDonalds</div>
    </div>
    <div class="tr">
      <div class="td"><b>Job/occupation title</b></div>
      <div class="td">Cleaner</div>
    </div>
    <div class="tr">
      <div class="td"><b>Commencement date (dd/ mm / yyyy)</b></div>
      <div class="td">12/12/2013 </div>
    </div>
    <div class="tr">
      <div class="td"><b>Gross income</b></div>
      <div class="td">$12,0000.00</div>
    </div>
  </div>
  <div class="status-label status-label--edited margin-above" style="display: none !important;">EDITED</div>
</div>

<!-- Summary card deleted-->
<div id="employment-income-update-summary-deleted" class="box boxed box--deleted" style="display: none;">
  <div class="box__header ">
    <h2 class="box__heading disabled-opacity">
      <i class="fal fa-briefcase fontawesome-icon"></i>
      <span class="font-weight-heavy">Employment income</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
    onClick="undoDeletePrePop('employment-income-update');">&nbsp;Undo delete&nbsp;</button>
  </div>
  <div class="box__table disabled-opacity">
    <div class="tr">
      <div class="td"><b>Who earned the income</b></div>
      <div class="td">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Name of the employer</b></div>
      <div class="td">McDonalds</div>
    </div>
    <div class="tr">
      <div class="td"><b>Job/occupation title</b></div>
      <div class="td">Cleaner</div>
    </div>
    <div class="tr">
      <div class="td"><b>Commencement date (dd/ mm / yyyy)</b></div>
      <div class="td">12/12/2013 </div>
    </div>
    <div class="tr">
      <div class="td"><b>Gross income</b></div>
      <div class="td">$12,0000.00</div>
    </div>
  </div>
  <div class="status-label status-label--deleted margin-above" style="display: none;">DELETED</div>
</div>

<!-- Open card -->
<div id="employment-income-update-card" class="box boxed box--open" style="display: none;">
  <div class="delete-content" hidden>
    <h2 class="margin-above--none" style="display: inline-block;"><span
        class="fal fa-briefcase fontawesome-icon"></span><span class="font-weight-heavy">Employment income
      </span></h2>
    <hr style="margin-top: 10px; max-bottom: 0;">
    <%- include(partials+"components/form-partials/date", {
      label: "Date of change",
      id: "date-change"
    }); %>
   
    <div class="pagination pagination--ss-reverse-order   margin-above--extra" id="pagination700">
      <a href="#" class="uikit-btn"
        onClick="confirmDeletePrePop('employment-income-update')">Delete employment income</a>
      <a href="#" id="cancel-delete" class="uikit-btn uikit-btn--tertiary" onClick="cancelDeletePrePop()">Cancel</a>
    </div>
  </div>
  <div class="edit-content">
    <div class="box__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-briefcase fontawesome-icon"></span><span class="font-weight-heavy">Employment income
        </span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning box__delete-button "
        onclick="deletePrePop('employment-income-update');">&nbsp;Delete item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
      <!-- <h3>Last submitted:</h3> -->
      <div class="box__table">
        <div class="tr">
          <div class="td"><b>Payment type</b></div>
          <div class="td">Grant or scholarship</div>
        </div>
        <div class="tr">
          <div class="td"><b>Payment recieved by</b></div>
          <div class="td">Myself</div>
        </div>
      </div>
      <hr>
      <form id="myForm">
        <input type="reset" style="display:none">

        <%- include(partials+"components/form-partials/text", {
        label: "Payment amount",
        modifiers: ["dollarSign"]
      }); %>

      <div class="form-group margin-above--large">
        <label class="uikit-text-input__label" for="drop-down">Frequency</label>
        <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
            <option selected="selected">-- Select one --</option>
            <option>Weekly</option>
            <option>Fortnightly</option>
            <option>Monthly</option>
            <option>Quarterly</option>
            <option>Half yearly</option>
            <option>Annually</option>
            <option>Once off</option>
        </select>
    </div>


        <%- include(partials+"components/form-partials/date", {
        label: "When did the change occur?"
      }); %>

      <%- include(partials+"components/form-partials/notice", {
        message: "You will need to provide evidence of Employment income in the documents section."
      }); %>

      </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
      <button id="addButton" class="uikit-btn"
        onclick="addSummary('employment-income-update');">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
        class="uikit-btn uikit-btn--tertiary"
        onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>
</div>
<!-- card end -->