<!-- Summary card -->
<div id="farms-update-summary" class="box boxed">
  <div class="box__header">
    <h2 class="box__heading">
      <i class="fal fa-tractor fontawesome-icon"></i>
      <span class="font-weight-heavy">Farms</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
      onClick="editCard('farms-update');">&nbsp;Edit&nbsp;</button>
  </div>
  <div class="box__table">
    <div class="tr">
      <div class="td"><b>Type of property do you have?</b></div>
      <div class="td">Hobby farm</div>
    </div>
    <div class="tr">
      <div class="td"><b>Who owns the property?</b></div>
      <div class="td">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Property address</b></div>
      <div class="td">255 Goyder st</div>
    </div>
  </div>
  <div class="status-label status-label--edited margin-above" style="display: none !important;">EDITED</div>
</div>

<!-- Summary card deleted-->
<div id="farms-update-summary-deleted" class="box boxed box--deleted" style="display: none;">
  <div class="box__header ">
    <h2 class="box__heading disabled-opacity">
      <i class="fal fa-tractor fontawesome-icon"></i>
      <span class="font-weight-heavy">Farms</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
    onClick="undoDeletePrePop('farms-update');">&nbsp;Undo delete&nbsp;</button>
  </div>
  <div class="box__table disabled-opacity">
    <div class="tr">
      <div class="td"><b>What type of property do you have?</b></div>
      <div class="td">Hobby farm</div>
    </div>
    <div class="tr">
      <div class="td"><b>Who owns the property?</b></div>
      <div class="td">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Property address</b></div>
      <div class="td">255 Goyder st</div>
    </div>
  </div>
  <div class="status-label status-label--deleted margin-above" style="display: none;">DELETED</div>
</div>

<!-- Open card -->
<div id="farms-update-card" class="box boxed box--open" style="display: none;">
  <div class="delete-content" hidden>
    <h2 class="margin-above--none" style="display: inline-block;"><span
        class="fal fa-tractor fontawesome-icon"></span><span class="font-weight-heavy">Farms
      </span></h2>
    <hr style="margin-top: 10px; max-bottom: 0;">
    <%- include(partials+"components/form-partials/date", {
      label: "Date of change/disposal"
    }); %>
   
    <div class="pagination pagination--ss-reverse-order   margin-above--extra" id="pagination700">
      <a href="#" id="delete-bank-account" class="uikit-btn"
        onClick="confirmDeletePrePop('farms-update')">Delete</a>
      <a href="#" id="cancel-delete" class="uikit-btn uikit-btn--tertiary" onClick="cancelDeletePrePop()">Cancel</a>
    </div>
  </div>
  <div class="edit-content">
   
    <div class="box__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-tractor fontawesome-icon"></span><span class="font-weight-heavy">Farms
        </span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning box__delete-button "
        onclick="deletePrePop('farms-update');">&nbsp;Delete item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
      <!-- <h3>Last submitted:</h3> -->
      <div class="box__table">
        <div class="tr">
          <div class="td"><b>Type of property</b></div>
          <div class="td">Hobby farm</div>
        </div>
        <div class="tr">
          <div class="td"><b>Owner</b></div>
          <div class="td">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Address</b></div>
          <div class="td">255 Goyder st</div>
        </div>
      </div>
      <hr>
      <form id="myForm">
        <input type="reset" style="display:none">

   

      <%- include(partials+"components/form-partials/textarea", {
        label: "Tell us about any updates to the property?",
        hint: "This may include the address, property valuation, recent upgrade or the percentage owned.",
        modifiers: ["hintNewLine"]
      }); %>

      <%- include(partials+"components/form-partials/date", {
        label: "When did the change occur?"
      }); %>

      </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
      <button id="addButton" class="uikit-btn"
        onclick="addSummary('farms-update');">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
        class="uikit-btn uikit-btn--tertiary"
        onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>
</div>
<!-- card end -->

