<!-- Summary card -->
<div id="gifts-update-summary" class="box boxed">
  <div class="box__header">
    <h2 class="box__heading">
      <i class="fal fa-gifts fontawesome-icon"></i>
      <span class="font-weight-heavy">Gifts (deprived assets)</span>
    </h2>
    <%- include(partials+"components/tooltip-global", {
      text: 'You cannot change a deprived asset. In normal circumstances it will continue to be assessed for a period of 5 years. If you have any queries about this item, or you have now received some consideration for the transfer of this asset, please contact DVA on 133 254.',
      customClass: 'tooltip--review-item'
      }) %>
  </div>
  <div class="box__table">
    <div class="tr">
      <div class="td"><b>Owner</b></div>
      <div class="td">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Asset type</b></div>
      <div class="td switch-owner">House</div>
    </div>
    <div class="tr">
      <div class="td"><b>Market value</b></div>
      <div class="td">$45,122.00</div>
    </div>
  </div>
  <div class="status-label status-label--edited margin-above" style="display: none !important;">EDITED</div>
</div>