<!-- Summary card -->
<div id="gifts-update-summary" class="plain-text-info" style="display:block;">
  <div class="review__wrapper">
    <div class="review__content--item boxed">
      <div class="review__content--label review_header margin-below">
        <h2 class="margin-above--none" style="display: inline-block;">
          <i class="fal fa-gifts fontawesome-icon"></i>
          <span class="font-weight-heavy">Gifts (deprived assets)</span>
        </h2>
        <!-- <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('gifts-update');">&nbsp;Edit&nbsp;</button> -->
        <div class="uikit-text-input__label-wrapper--inline-block floated">
          <div class="tooltip tooltip--review-item">
            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button"
              aria-controls="gender-tt-message" aria-expanded="false">
              <div class="tooltip__label tooltip__label--icon-only">
                <a>Gender help</a>
              </div>
              <div class="tooltip__tab"></div>
            </div>
            <div class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1"
              aria-hidden="true">
              <div class="tooltip__message">You cannot change a deprived asset. In normal circumstances it will continue
                to be assessed for a period of 5 years. If you have any queries about this item, or you have now
                received some consideration for the transfer of this asset, please contact DVA on 133 254.</div>
              <div class="tooltip__close" role="button" tabindex="0">Close</div>
            </div>
          </div>
        </div>
      </div>
      <div class="review__table">
        <div class="tr">
          <div class="td"><b>Owner</b></div>
          <div class="td">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Asset type</b></div>
          <div class="td">House</div>
        </div>
        <div class="tr">
          <div class="td"><b>Market value</b></div>
          <div class="td">$45,122.00</div>
        </div>
      </div>
    </div>
  </div>
</div>