<!-- Summary card -->
<div id="bank-accounts-summary" class="plain-text-info" style="display:block;">
  <div class="review__wrapper">
    <div class="review__content--item boxed">
      <div class="review__content--label margin-below">
        <h2 class="margin-above--none" style="display: inline-block;">
          <i class="fal fa-university fontawesome-icon"></i>
          <span class="font-weight-heavy">Bank account</span>
        </h2>
        <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('bank-accounts');">&nbsp;Edit&nbsp;</button>
      </div>
      <div class="review__table">
        <div class="tr">
          <div class="td"><b>Account type</b></div>
          <div class="td">Savings account</div>
        </div>
        <div class="tr">
          <div class="td"><b>Account owner</b></div>
          <div class="td">Jointly with my partner</div>
        </div>
        <div class="tr">
          <div class="td"><b>Balance</b></div>
          <div class="td">$478.88</div>
        </div>
      </div>
      <div class="updated margin-above" hidden>EDITED</div>

    </div>
  </div>
</div>
<!-- Open card -->
<div id="bank-accounts-card" class="boxed margin-above margin-below" style="display: none;">
  <div>
    <h2 class="margin-above--none" style="display: inline-block;"><span class="fal fa-university fontawesome-icon"></span><span class="font-weight-heavy">Bank account
      </span></h2><button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('bank-accounts');">&nbsp;Delete item&nbsp;</button>
  </div>
  <div id="card-details" class="margin-below--large">
    <div class="review__table">
      <div class="tr">
        <div class="td"><b>Account owner</b></div>
        <div class="td">Myself</div>
      </div>
      <div class="tr">
        <div class="td"><b>Account type</b></div>
        <div class="td">Savings account</div>
      </div>
      <div class="tr">
        <div class="td"><b>BSB number</b></div>
        <div class="td">345 678</div>
      </div>
      <div class="tr">
        <div class="td"><b>Account number</b></div>
        <div class="td">2334 6654</div>
      </div>
      <!-- <div class="tr">
        <div class="td"><b>Current balance</b></div>
        <div class="td">$478.88</div>
      </div> -->
    </div>
    <hr>
    <form id="myForm">
      <input type="reset" style="display:none">

      <div class="form-group margin-above--large">
        <label class="uikit-text-input__label" for="Input field">Current balance</label>
        <span class="sign-dollar">&#36;</span><input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="478.88" required
          aria-required="true">
      </div>


      <%- include(partials+"components/form-partials/date", {
        label: "Date of change"
      }); %>

    </form>
  </div>
  <hr>
  <div id="buttonset2" class="form-group margin-above--none">
    <button id="addButton" class="uikit-btn" onclick="addSummary('bank-accounts');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
      class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
  </div>
</div>
<!-- card end -->
<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
  $("#accountType").change(function () {
    mySelection = $('#accountType :selected').val();
    switch (mySelection) {
      case "Savings account":
      case "Cheque account":
      case "Term deposit account":
      case "Cash management account":
      case "Deeming account":
        hideTypes();
        $("#institution-name").show();
        break;
      case "Church/charity account":
        hideTypes();
        $("#church-account-name").show();
        $("#church-reference").show();
        break;
      case "Overseas account":
        hideTypes();
        $("#foreign-institution-name").show();
        $("#country-payment").show();
        $("#currency").show();
        break;
      default:
      // code block
    }
  });

  function hideTypes() {
    $("#church-account-name").hide();
    $("#foreign-institution-name").hide();
    $("#institution-name").hide();
    $("#church-reference").hide();
    $("#country-payment").hide();
    $("#currency").hide();
  }
</script>
