<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "Past transaactions",
    boxes: [
      "None",
      "One",
      "Many"
    ],
    id: "past-transactions"
  }); %>

</div>

<script>

  var pastTransactions;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    if (localStorage.getItem("coc-state") === "update1") {
      $("#past-transactions-2").prop("checked", true);
      pastTransactions = "one";
      stateSwitcher();
    }

    $('input[name=past-transactions]').change(function () {
      pastTransactions = $(this).val();
      stateSwitcher();
    });

    stateSwitcher();

  });

</script>