<div id="open-request-modal" class="modal-window">
	<div>
		<!-- <a href="#modal-close" title="Close" class="modal-close">Close</a> -->
		<h2>Request statement</h2>
		<p>We will send a current income and assets statement to your registered email address.</p>
		<div class="modal-buttons">
			<button class="uikit-btn" onclick="showToast()">Submit request</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
		</div>
	</div>
</div>

<script>

function showToast(){
	setTimeout(function(){
		$("#statement-success").show();
      },500);
	window.location.href = '#close-modal'
} 

</script>
