<%- include(templates+"header", {
    title: "Income &amp; assets | Real estate"
  })%>
<!-- </div> -->

<%- include(forms+"submitting", {
    modifiers: ["claimID"],
    type: "submitted",
    submitting_text: "Request for your Income and assets statement is being submitted",
    submitted_text: `Request for your Income and assets statement has been <b>submitted</b>`,
    supporting_text: `
      <p>Your income and assets statement will be emailed to you.</p>
      <p>If you have any questions call 1800 555 254.</p>
    `
  }) %>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Back to home",
        link: "/auth"
      }
    ]
  }) %>

<%- include(templates+"footer") %>