<!-- Summary card -->
<div id="shares-listed-update-summary" class="plain-text-info box" style="display:block;">
  <div class="review__wrapper">
    <div class="review__content--item boxed">
      <div class="review__content--label review__header margin-below">
        <h2 class="margin-above--none" style="display: inline-block;">
          <i class="fal fa-file-certificate fontawesome-icon"></i>
          <span class="font-weight-heavy">Shares</span>
        </h2>
        <button class="uikit-btn uikit-btn--tertiary small floated"
          onClick="editCard('shares-listed-update');">&nbsp;Edit&nbsp;</button>
      </div>
      <div class="review__table">
        <div class="tr">
          <div class="td"><b>Type of share</b></div>
          <div class="td">Listed</div>
        </div>
        <div class="tr">
          <div class="td"><b>Owner</b></div>
          <div class="td">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Company name</b></div>
          <div class="td">Telstra</div>
        </div>
        <div class="tr">
          <div class="td"><b>Number of shares</b></div>
          <div class="td">200</div>
        </div>
      </div>
      <div class="status-label status-label--edited margin-above">EDITED</div>
    </div>
  </div>
</div>
<!-- Summary card deleted-->
<div id="shares-listed-update-summary-deleted" class="plain-text-info box" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed" style="border: 1px dashed #ccc">
      <div class="review__content--label review__header margin-below" style="opacity: .5;">
        <h2 class="margin-above--none" style="display: inline-block;">
          <i class="fal fa-file-certificate fontawesome-icon"></i>
          <span class="font-weight-heavy">Shares</span>
        </h2>
      </div>
      <div class="review__table">
        <div class="tr">
          <div class="td"><b>Type of share</b></div>
          <div class="td">Listed</div>
        </div>
        <div class="tr">
          <div class="td"><b>Owner</b></div>
          <div class="td">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Company name</b></div>
          <div class="td">Telstra</div>
        </div>
        <div class="tr">
          <div class="td"><b>Number of shares</b></div>
          <div class="td">200</div>
        </div>
      </div>
      <div class="status-label status-label--deleted margin-above">DELETED</div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="shares-listed-update-card" class="boxed margin-above margin-below" style="display: none;">
  <div class="delete-content" hidden>
    <div class="review__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-file-certificate fontawesome-icon"></span><span class="font-weight-heavy">Shares
        </span></h2>
    </div>
    <hr style="margin-top: 10px; margin-bottom: 0;">
    <%- include(partials+"components/form-partials/date", {
      label: "Date of change",
      id: "date-change"
    }); %>
    <%- include(partials+"components/form-partials/text", {
      label: "Reason for deleting",
      hint: "(optional)"
    }); %>

    <div class="pagination pagination--ss-reverse-order margin-above--extra" id="pagination700">
      <a href="#" id="delete-bank-account" class="uikit-btn"
        onClick="confirmDeletePrePop('shares-listed-update')">Delete shares</a>
      <a href="#" id="cancel-delete" class="uikit-btn uikit-btn--tertiary" onClick="cancelDeletePrePop()">Cancel</a>
    </div>

  </div>
  <div class="edit-content">
    <div class="review__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-file-certificate fontawesome-icon"></span><span class="font-weight-heavy">Shares
        </span></h2><button id="deleteButton"
        class="uikit-btn uikit-btn--tertiary small warning floated box__delete-button"
        onclick="deletePrePop('shares-listed-update');">&nbsp;Delete item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
      <div class="review__table">
        <div class="tr">
          <div class="td"><b>Type of share</b></div>
          <div class="td">Listed</div>
        </div>
        <div class="tr">
          <div class="td"><b>Company name</b></div>
          <div class="td">Telstra</div>
        </div>
      </div>
      <hr>
      <form id="myForm">
        <input type="reset" style="display:none">

        <%- include(partials+"components/form-partials/text", {
        label: "Total number of shares"
      }); %>

        <!-- start owner -->
        <div class="form-group margin-above--large owner-partner" hidden>
          <label class="uikit-text-input__label" for="drop-down">Account owner</label>
          <select class="uikit-text-input input-half ownerType" name="drop-down">
            <option selected="selected">-- Select an item --</option>
            <option>Myself</option>
            <option>My partner</option>
            <option>Jointly with my partner</option>
            <option>Jointly with any other party</option>
          </select>
        </div>
        <div class="form-group margin-above--large owner-single">
          <label class="uikit-text-input__label" for="drop-down">Account owner</label>
          <select class="uikit-text-input input-half ownerType" name="drop-down">
            <option selected="selected">-- Select an item --</option>
            <option>Myself</option>
            <option>Jointly with any other party</option>
          </select>
        </div>
        <div class="form-group margin-above--large other-party-amount" style="display: none;">
          <label class="uikit-text-input__label" for="Input field">% Owned</label>
          <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="" required
            aria-required="true">
        </div>
        <!-- end owner -->

        <%- include(partials+"components/form-partials/date", {
        label: "Date of change"
      }); %>

      </form>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
      <button id="addButton" class="uikit-btn"
        onclick="addSummary('shares-listed-update');">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
        class="uikit-btn uikit-btn--tertiary"
        onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>
</div>
<!-- card end -->