<%- include(templates+"header", {
  claim: "Profile", 
  heading: "Income and assets"
}) %>


<style>
  .declared {
    /* font-size: 15px; */
    margin-left: 5px;
  }

  .updated {
    border-radius: 0px;
    background-color: #2B7DCE;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 0 5px 0 5px;
    text-transform: capitalize;
    margin-left: 5px;
  }

  .info {
    border: 2px #2B7DCE solid;
    /* border-bottom: 2px #2B7DCE solid; */
    border-radius: 3px 3px 0 0;
    background-color: #FBFDFF;
    padding: 10px;
    margin-bottom: 17px;
  }

  .info h3 {
    color: #153B80;
    margin: 5px 0 5px 0;
  }

</style>

<h2 class="font-weight-bold">Edit, add or delete income and assets</h2>

<p>Update any below categories that have changed. When you are ready, submit your changes or save to complete later.</p>

<div class="info" hidden>
  <h3>Updates not submitted</h3>
  <p style="margin-bottom: 5px;">Submit your changes after completing all of your updates.</p>
</div>

<hr class="tophr" style="height: 2px; background-color: #000; margin-top: 0px; margin-bottom: 20px; padding: 0;">

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Savings</h3>
  <span class="declared declared1">|&nbsp;1 item declared</span>
  <div class="updated edited1" style="display: inline-block; vertical-align: 2px;" hidden>1 EDITED</div>
  <div class="updated added1" style="display: inline-block; vertical-align: 2px;" hidden>1 ADDED</div>
  <button class="uikit-btn uikit-btn--tertiary small floated" onclick="location.href='/auth/profile/income-assets/savings'">Edit</button>&nbsp;&nbsp;

</div>

<p>Includes banks accounts and cash held.</p>

<hr style="margin-bottom: 0; margin-top: 10px;">

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Investments</h3>
  <button class="uikit-btn uikit-btn--tertiary small floated">Add</button>
</div>

<p>Includes superannuation, self-managed superannuation funds (SMSF & SAF), managed investments, bonds & debentures, money loaned, shares, and other financial investments.</p>

<hr style="margin-bottom: 0; margin-top: 10px;">

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Income</h3>
  <span>&nbsp;|&nbsp;<span>2 items declared</span></span>
  <button class="uikit-btn uikit-btn--tertiary small floated" onclick="location.href='/auth/profile/income-assets/savings'">Edit</button>
</div>

<p>Includes employment income, purchased income streams, superannuation pennsions and payments, foreign pensions, income from boarders and lodgers, and all other payments.</p>

<hr style="margin-bottom: 0; margin-top: 10px;">

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Property &amp; business</h3>
  <span>&nbsp;|&nbsp;<span>1 item declared</span></span>
  <button class="uikit-btn uikit-btn--tertiary small floated">Edit</button>
</div>

<p>Includes real estate, businesses, and farms.</p>

<hr style="margin-bottom: 0; margin-top: 10px;">

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Other assets</h3>
  <button class="uikit-btn uikit-btn--tertiary small floated">Add</button>
</div>

<p>Includes home contents, vehicles, life insurance and other personal assets.</p>

<hr style="margin-bottom: 0; margin-top: 10px;">

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Additional circumstances</h3>
  <button class="uikit-btn uikit-btn--tertiary small floated">Add</button>
</div>

<p>Includes gifts (deprived assets), maintenance paid to a former partner, past employment, and compensation &amp; damages.</p>

<hr style="height: 3px; background-color: #000; margin-top: 0; margin-bottom: 15px; padding: 0;">

<div style="text-align: right;">
  <button class="submit uikit-btn uikit-btn--tertiary" onclick="location.href='#'" disabled>Save and exit</button>
  <button class="submit uikit-btn uikit-btn--primary" onclick="location.href='/auth/profile/income-assets/documents'" disabled>Submit updates</button>
</div>

<%- include("state-switcher-01") %>

<script>

  function stateSwitcher() {

    $(".updated").hide();
    $(".declared").hide();
    $(".info").hide();

    switch (pageState) {
      case "default":
        $(".tophr").show();
        $(".declared").show();
        $(".submit").attr('disabled', 'disabled');
        localStorage.setItem("updates", "false");
        break;
      case "update1":
        $(".edited1").show();
        $(".info").show();
        $(".submit").removeAttr('disabled');
        localStorage.setItem("updates", "true");
        break;
      case "update2":
        $(".edited1").show();
        $(".added1").show();
        $(".info").show();
        $(".submit").removeAttr('disabled');
        break;
      default:
        break;
    }

  }
</script>
