<%- include(templates+"header", {
  claim: "Profile", 
  heading: "Income and assets"
}) %>


<style>
  .declared {
    /* font-size: 15px; */
    margin-left: 5px;
  }

  .updated {
    border-radius: 0px;
    background-color: #2B7DCE;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 0 5px 0 5px;
    text-transform: capitalize;
    margin-left: 5px;
  }

  .info {
    border: 2px #2B7DCE solid;
    /* border-bottom: 2px #2B7DCE solid; */
    border-radius: 3px 3px 0 0;
    background-color: #FBFDFF;
    padding: 10px;
    margin-bottom: 17px;
  }

  .info h3 {
    color: #153B80;
    margin: 5px 0 5px 0;
  }

  .listbox {
    width: 360px;
    float: left;
    padding-right: 30px;

  }

  li {
    /* text-decoration: underline; */
    list-style: none;
    padding: 0;
    padding-bottom: 7px;
  }

  ul {
    margin: 0;
    padding: 0 !important;
  }

  .badge1 {
    position: relative;
  }

  .badge1[data-badge]:after {
    position: relative;
    content: attr(data-badge);
    font-size: .7em;
    background: #2B7DCE;
    color: white;
    min-width: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0 3px 0 3px;
    border-radius: 50%;
    display: inline-block;
  }
</style>

<h2 class="font-weight-bold">Edit, add or delete income and assets</h2>

<p>Update any below categories that have changed. When you are ready, submit your changes or save to complete later.</p>

<div class="info" hidden>
  <h3>Updates not submitted</h3>
  <p style="margin-bottom: 5px;">Submit your changes after completing all of your updates.</p>
</div>

<hr class="tophr" style="height: 2px; background-color: #000; margin-top: 0px; margin-bottom: 20px; padding: 0;">

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Your declared income and assets</h3>
  <div>
    <div class="listbox" style="float: left;">
      <ul>
        <li>
          <a href="/auth/profile/income-assets/bank-accounts">Bank accounts</a>&nbsp;&rsaquo;
        </li>
        <li><a>Shares</a>&nbsp;&rsaquo;</li>
        <li><a>Managed investments</a>&nbsp;&rsaquo;</li>
      </ul>
    </div>
    <div class="listbox" style="float: left;">
      <ul>
        <li><a>Gifts</a>&nbsp;&rsaquo;</li>
        <li><a>Money loaned</a>&nbsp;&rsaquo;</li>
        <li><a>Vehicles</a>&nbsp;&rsaquo;</li>
      </ul>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>

<!-- <p>Includes banks accounts and cash held.</p> -->

<hr style="margin-bottom: 0; margin-top: 10px;">

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Not currently declared</h3>
  <div>
    <div class="listbox" style="float: left;">
      <ul>
        <li><a>Boarders and lodgers</a>&nbsp;&rsaquo;</li>
        <li><a>Bonds &amp; debentures</a>&nbsp;&rsaquo;</li>
        <li><a>Businesses</a>&nbsp;&rsaquo;</li>
        <li><a>Cash held</a>&nbsp;&rsaquo;</li>
        <li><a>Compensation and damages</a>&nbsp;&rsaquo;</li>
        <li><a>Employment income</a>&nbsp;&rsaquo;</li>
        <li><a>Farms</a>&nbsp;&rsaquo;</li>
        <li><a>Foreign pension</a>&nbsp;&rsaquo;</li>
        <li><a>Home contents</a>&rsaquo;</li>
        <li><a>Life insurance</a>&nbsp;&rsaquo;</li>
        <li><a>Maintenance paid to a former partner</a>&nbsp;&rsaquo;</li>
      </ul>
    </div>
    <div class="listbox" style="float: left;">
      <ul>
        <li><a>Money loaned</a>&nbsp;&rsaquo;</li>
        <li><a>Other financial investments</a>&nbsp;&rsaquo;</li>
        <li><a>Other payments</a>&nbsp;&rsaquo;</li>
        <li><a>Other personal assets</a>&nbsp;&rsaquo;</li>
        <li><a>Past employment</a>&nbsp;&rsaquo;</li>
        <li><a>Purchased income streams</a>&nbsp;&rsaquo;</li>
        <li><a>Real estate</a>&nbsp;&rsaquo;</li>
        <li><a>Self-managed superannuation funds (SMSFs & SAFs)</a>&nbsp;&rsaquo;</li>
        <li><a>Superannuation</a><span class="badge1" data-badge="2"></span>&rsaquo;</li>
        <li><a>Superannuation pension and payments</a>&nbsp;&rsaquo;</li>
      </ul>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>

<hr style="height: 3px; background-color: #000; margin-top: 0; margin-bottom: 15px; padding: 0;">

<div style="text-align: right;">
  <button class="submit uikit-btn uikit-btn--tertiary" onclick="location.href='#'" disabled>Save and exit</button>
  <button class="submit uikit-btn uikit-btn--primary" onclick="location.href='/auth/profile/income-assets/documents'" disabled>Submit updates</button>
</div>

<%- include("state-switcher-01") %>

<script>

  function stateSwitcher() {

    $(".updated").hide();
    $(".declared").hide();
    $(".info").hide();

    switch (pageState) {
      case "default":
        $(".tophr").show();
        $(".declared").show();
        $(".submit").attr('disabled', 'disabled');
        localStorage.setItem("coc-state", "default");
        break;
      case "update1":
        $(".edited1").show();
        $(".info").show();
        $(".submit").removeAttr('disabled');
        localStorage.setItem("coc-state", "update1");
        break;
      case "update2":
        $(".edited1").show();
        $(".added1").show();
        $(".info").show();
        $(".submit").removeAttr('disabled');
        localStorage.setItem("coc-state", "update2");
        break;
      default:
        break;
    }

  }
</script>