

<%- include(templates+"header", {
  claim: "Profile", 
  heading: "Income and assets"
}) %>

<h2 class="font-weight-bold">Update, add or remove income and assets</h2>

<hr style="height: 2px; background-color: #000; margin-top: 50px; margin-bottom: 20px; padding: 0;"> 

<style>
.declared {
  font-size: 15px;
}
</style>

<div>
<h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Savings</h3>
<span class="declared" hidden>&nbsp;|&nbsp;<span>1 item declared</span></span>
<div class="update1 update2" style="display: inline-block; vertical-align: 2px;" hidden>&nbsp;<span style="border-radius: 0px; background-color: orange; display: inline-block; font-size: 12px; font-weight: bold; color: white; padding: 0 5px 0 5px;">2 CHANGES</span></div>
<button class="uikit-btn uikit-btn--tertiary small floated" onclick="location.href='/auth/profile/income-assets/savings'" >Edit</button>&nbsp;&nbsp;

</div>

<p>Includes banks accounts, and cash held.</p>

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Investments</h3>
  <!-- <span class="declared" hidden>&nbsp;|&nbsp;<span>Nothing declared</span></span> -->
  <button class="uikit-btn uikit-btn--tertiary small floated">Add</button>
</div>

<p>Includes superannuation, self-manged superannuation funds (SMSF & SAF), managed investments, bonds & debentures, money loaned, shares, and other financial investments.</p>

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Income</h3>
  <span class="declared" hidden>&nbsp;|&nbsp;<span>2 items declared</span></span>
  <div class="update2" style="display: inline-block; vertical-align: 2px;" hidden>&nbsp;<span style="border-radius: 0px; background-color: orange; display: inline-block; font-size: 12px; font-weight: bold; color: white; padding: 0 5px 0 5px;">1 CHANGE</span></div>
  <button class="uikit-btn uikit-btn--tertiary small floated" onclick="location.href='/auth/profile/income-assets/savings'" >Edit</button>
  </div>

<p>Includes employment income, purchased income streams, superannuation pennsions and payments, foreign pensions, income from boarders and lodgers, and all other payments.</p>
<!-- <p>Includes employment income, purchased income streams, superannuation pennsions and payments, foreign pensions, income from boarders and lodgers, and all other payments.</p> -->

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Property &amp; business</h3>
  <span class="declared" hidden>&nbsp;|&nbsp;<span>1 item declared</span></span>
  <button class="uikit-btn uikit-btn--tertiary small floated">Edit</button>
  </div>

<p>Includes real estate, businesses, and farms.</p>

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Other assets</h3>
  <!-- <span class="declared" hidden>&nbsp;|&nbsp;<span>Nothing declared</span></span> -->
  <button class="uikit-btn uikit-btn--tertiary small floated">Add</button>
  </div>

<p>Includes home contents, vehicles, life insurance and other personal assets.</p>

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;">Additional circumstances</h3>
  <!-- <span class="declared" hidden>&nbsp;|&nbsp;<span>Nothing declared</span></span> -->
  <button class="uikit-btn uikit-btn--tertiary small floated">Add</button>
  </div>

<p>Includes gifts (deprived assets), maintenance paid to a former partner, past employment, and compensation &amp; damages.</p>

<hr style="height: 3px; background-color: #000; margin-top: 0; margin-bottom: 15px; padding: 0;"> 

<div style="text-align: right;">
  <button class="submit uikit-btn uikit-btn--tertiary" onclick="location.href='#'" disabled>Save and exit</button>
<button class="submit uikit-btn uikit-btn--primary" onclick="location.href='/auth/profile/income-assets/documents'" disabled>Submit changes</button>
</div>

<%- include("state-switcher-01") %>

<script>

  function stateSwitcher() {

    $(".declared").hide();
    $(".update1").hide();
    $(".update2").hide();

    switch (pageState) {
      case "default":
        $(".submit").attr('disabled','disabled');
        localStorage.setItem("updates", "false");
        break;
      case "update1":
        $(".update1").show();
        $(".submit").removeAttr('disabled');
        localStorage.setItem("updates", "true");
        break;
     case "update2":
        $(".update2").show();
        $(".submit").removeAttr('disabled');
        break;
      case "dynamiclabels":
        $(".declared").show();
      default:
        break;
    }

  }
</script>

