

<%- include(templates+"header", {
  claim: "Profile", 
  heading: "Update your income and assets"
}) %>

<h2 class="font-weight-bold">What can I update?</h2>

<p>You can update any of the categories shown below. This includes making changes to existing items, removing existing items and adding new items.</p>
  
<p>Simply select the category you wish to update to get started. You will be able to review all your changes prior to submitting.</p>

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-bottom: 0;">Update your income and assets</h3>
  <div class="floated"><button class="submit uikit-btn uikit-btn--primary" onclick="location.href='income-assets/start'" disabled>Submit changes</button></div>
  </div>

<hr style="height: 2px; background-color: #000; margin-top: 20px; margin-bottom: 20px; padding: 0;"> 

<div>
<h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;"><a href="savings">Savings</a> &raquo;</h3>
<div class="update1 update2 floated" hidden><span style="border-radius: 0px; background-color: orange; display: inline-block; font-size: 12px; font-weight: bold; color: white; padding: 0 5px 0 5px;">2 CHANGES</span></div>
</div>

<p>Includes banks accounts, and cash held.</p>

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;"><a>Investments</a> &raquo;</h3>
  <div class="update2 floated" hidden><span style="border-radius: 0px; background-color: orange; display: inline-block; font-size: 12px; font-weight: bold; color: white; padding: 0 5px 0 5px;">1 CHANGE</span></div>
  </div>

<p>Includes superannuation, self-manged superannuation funds (SMSF & SAF), managed investments, bonds & debentures, money loaned, shares, and other financial investments.</p>

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;"><a>Income</a> &raquo;</h3>
  <!-- <button class="uikit-btn uikit-btn--borderless floated">Update &raquo;</button> -->
  </div>

<p>Includes employment income, purchased income streams, superannuation pennsions and payments, foreign pensions, income from boarders and lodgers, and all other payments.</p>

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;"><a>Property &amp; business</a> &raquo;</h3>
  </div>

<p>Includes real estate, businesses, and farms.</p>

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;"><a>Other assets</a> &raquo;</h3>
  <!-- <button class="uikit-btn uikit-btn--borderless floated">Update &raquo;</button> -->
  </div>

<p>Includes home contents, vehicles, life insurance and other personal assets.</p>

<hr style="margin-bottom: 0; margin-top: 10px;"> 

<div>
  <h3 class="font-weight-bold" style="display: inline-block; margin-top: 0;"><a>Additional circumstances</a> &raquo;</h3>
  <!-- <button class="uikit-btn uikit-btn--borderless floated">Update &raquo;</button> -->
  </div>

<p>Includes gifts (deprived assets), maintenance paid to a former partner, past employment, and compensation &amp; damages.</p>

<hr style="height: 3px; background-color: #000; margin-top: 0; margin-bottom: 15px; padding: 0;"> 

<div style="text-align: right;">
<button class="submit uikit-btn uikit-btn--primary" onclick="location.href='income-assets/start'" disabled>Submit changes</button>
</div>

<%- include("state-switcher-01") %>

<script>

  function stateSwitcher() {

    switch (pageState) {
      case "default":
        $(".update1").hide();
        $(".update2").hide();
        $(".submit").attr('disabled','disabled');
        localStorage.setItem("updates", "false");
        break;
      case "update1":
        $(".update1").show();
        $(".submit").removeAttr('disabled');
        localStorage.setItem("updates", "true");
        break;
        case "update2":
        $(".update2").show();
        $(".submit").removeAttr('disabled');
        break;
      default:
        break;
    }

  }
</script>

