<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "State",
    boxes: [
      "Default",
      "Return after making an update"
    ],
    id: "page-state"
  }); %>

</div>

<script>

  var pageState;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('input[name=page-state]').change(function () {
      console.log("fddsfdsf" + $(this).val())
      pageState = $(this).val();
      stateSwitcher();
    });

  

  });




</script>