<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "State",
    boxes: [
      "Default",
      "Update 1",
      "Update 2"
    ],
    id: "page-state"
  }); %>

</div>

<script>

  var pageState;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    if (localStorage.getItem("update1") === "true") {
      pageState = "update1";
      $("#page-state-2").prop("checked", true);
    }
    if (localStorage.getItem("update2") === "true") {
      pageState = "update2";
      $("#page-state-3").prop("checked", true);
    }

    $('input[name=page-state]').change(function () {
      pageState = $(this).val();
      stateSwitcher();
    });

    stateSwitcher();

  });

</script>
