<%- include(templates+"header", {
  claim: "Income &amp; assets | Submitting update",
  heading: "Income &amp; assets",
  modifiers: ["noHeading"]
}) %>

<%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your income and assets update",
    submitted_text: `Your income and assets update has been successfully submitted.`,
    supporting_text: `<p><b>Transaction ID: 33654432.</b></p><br/><p>Your income and asset summary will be updated once DVA has processed the changes. Processing times will vary based upon the types of changes you report.</p> `
  }) %>

<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Back to home",
      link: "/auth"
    },
    {
        text: "Back to income and assets",
        link: "/auth/profile/income-assets/index?state=past-transaction-show-one"
      }
    ]
  }) %>

<%- include(templates+"footer") %>