<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Submitted",
  modifiers: ["noHeading"]
}) %>

<%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your income and assets update",
    submitted_text: `Your income and asset information has been successfully submitted.`,
    supporting_text: `<h3>Your income and asset summary will be updated once DVA has processed the changes.</h3>`
  }) %>

<%- include(forms+"pagination", {
    pagination: [
    {
      text: "Back to home",
      link: "/auth"
    },
    {
        text: "Back to income and assets",
        link: "/auth/profile/income-assets"
      }
    ]
  }) %>

<%- include(templates+"footer") %>