<div id="past-transactions" class="transactions-table__wrapper">
   
    <h2 class="font-weight--heavy margin-below--small">Submitted updates</h2>
    <div class="transactions-table">
        <div class="container-fluid container-fluid--no-border" id="one-transaction">
            <div class="row">
                <div class="col-md-12 uikit-grid" id="claim-activity">
                    <div class="col-md-3 col-xs-3 flex-item-1 status">
                        <p class="main">Submitted</p>
                        <p class="details">29 Aug 2019</p>
                    </div>
                    <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                        <p class="main">Income and assets update</p>
                        <p class="details">Transaction ID: 33657809</p>
                    </div>
                    <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                        <button class="uikit-btn small uikit-btn--borderless"
                            onclick="window.location.href = '/auth/claim/view/viewVRPClaimDetail'">View</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="more-transactions">
            <div class="container-fluid" id="line-1">
                <div class="row">
                    <div class="col-md-12 uikit-grid" id="claim-activity">
                        <div class="col-md-3 col-xs-3 flex-item-1 status-flag">
                            <p><a class="flag-text">Documents required</a></p>
                        </div>
                        <div class="col-md-4 col-xs-4 flex-item-2 claim-title-status">
                            <p class="main">Income and assets update</p>
                            <p class="details">Transaction ID: 33657809</p>
                        </div>
                        <div class="col-md-5 col-xs-5 flex-item-3 claim-actions-status claim-actions">
                            <a href="/auth/claim/add-documents" class="uikit-btn small uikit-btn--borderless">Add
                                documents</a>
                            <button class="uikit-btn small uikit-btn--borderless"
                                onclick="window.location.href = '#open-example-modal'">View</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="line-2">
                <div class="row">
                    <div class="col-md-12 uikit-grid" id="claim-activity">
                        <div class="col-md-3 col-xs-3 flex-item-1 status">
                            <p class="main">Submitted</p>
                            <p class="details">29 Aug 2019</p>
                        </div>
                        <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                            <p class="main">Income and assets update</p>
                            <p class="details">Transaction ID: 33657809</p>
                        </div>
                        <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                            <button class="uikit-btn small uikit-btn--borderless"
                                onclick="window.location.href = '/auth/claim/view/viewVRPClaimDetail'">View</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="line-2">
                <div class="row">
                    <div class="col-md-12 uikit-grid" id="claim-activity">
                        <div class="col-md-3 col-xs-3 flex-item-1 status">
                            <p class="main">Submitted</p>
                            <p class="details">05 Sep 2020</p>
                        </div>
                        <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                            <p class="main">Income and assets update</p>
                            <p class="details">Transaction ID: 33657809</p>
                        </div>
                        <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                            <%- include(partials+"components/tooltip-global", {
                            text: 'You are only able to view transactions submitted in MyService.',
                          }) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="line-3">
                <div class="row">
                    <div class="col-md-12 uikit-grid" id="claim-activity">
                        <div class="col-md-3 col-xs-3 flex-item-1 status">
                            <p class="main">In progress</p>
                            <p class="details">22 March 2019</p>
                        </div>
                        <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                            <p class="main">Income and assets update</p>
                            <p class="details">Transaction ID: 33657809</p>
                        </div>
                        <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                            <button class="uikit-btn small uikit-btn--borderless">View</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="line-4">
                <div class="row">
                    <div class="col-md-12 uikit-grid" id="claim-activity">
                        <div class="col-md-3 col-xs-3 flex-item-1 status">
                            <p class="main">Submitted</p>
                            <p class="details">18 Sep 2018</p>
                        </div>
                        <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                            <p class="main">Income and assets update</p>
                            <p class="details">Transaction ID: 33657809</p>
                        </div>
                        <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                            <a href="/auth/claim/qs-view-claim" class="uikit-btn small uikit-btn--borderless">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="line-5" style="">
                <div class="row">
                    <div class="col-md-12 uikit-grid" id="claim-activity">
                        <div class="col-md-3 col-xs-3 flex-item-1 status">
                            <p class="main">Submitted</p>
                            <p class="details">18 Sep 2018</p>
                        </div>
                        <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                            <p class="main">Income and assets update</p>
                            <p class="details">Transaction ID: 33657809</p>
                        </div>
                        <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                            <button class="uikit-btn small uikit-btn--borderless">View</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="line-6" style="">
                <div class="row">
                    <div class="col-md-12 uikit-grid" id="claim-activity">
                        <div class="col-md-3 col-xs-3 flex-item-1 status">
                            <p class="main">Submitted</p>
                            <p class="details">18 Sep 2018</p>
                        </div>
                        <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                            <p class="main">Income and assets update</p>
                            <p class="details">Transaction ID: 33657809</p>
                        </div>
                        <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                            <button class="uikit-btn small uikit-btn--borderless">View</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="line-7" style="">
                <div class="row">
                    <div class="col-md-12 uikit-grid" id="claim-activity">
                        <div class="col-md-3 col-xs-3 flex-item-1 status">
                            <p class="main">Submitted</p>
                            <p class="details">18 Sep 2018</p>
                        </div>
                        <div class="col-md-4 col-xs-4 uikit-grid flex-item-2 claim-title">
                            <p class="main">Income and assets update</p>
                            <p class="details">Transaction ID: 33657809</p>
                        </div>
                        <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid claim-actions">
                            <button class="uikit-btn small uikit-btn--borderless">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="margin-above margin-below--none" id="sixmonth-message" hidden="" style="display: block;">You can only view
        transactions
        submitted within the last six months.</p>
</div>