<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "Expenses added",
    boxes: [
      "None",
      "One",
      "Many",
      "No private vehicle"
    ],
    id: "expenses-added"
  }); %>

</div>

<script>

  var pastTransactions;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $("#expenses-added-1").prop("checked", true);
    $('input[name=expenses-added]').change(function () {
      pastTransactions = $(this).val();
      stateSwitcher();
    });



  });

</script>