<%- include(templates+"header", {
    heading: "Travel expense claim",
    claim: "Travel expense claim",
    type: "default",
    modifiers: ["noClaimInTitle"]
  }) %>

<h2 id="claim-status" class="status-icon status-icon--large status-submitted">Your travel expense claim has been
      submitted</h2>

<%- include(components+"review-submit", {
      claim_title: "Travel expense claim",
      claim_id: "dfgdfg",
      categories: [
      {
            title: "Claim summary",
            data: [
            {
                  q: "Date submitted",
                  a: "2 September 2020"
                },
                  {
                    q: "Total amount claimed",
                    a: "$833.63"
                  },
                  {
                    q: "Total amount claimed (kms)",
                    a: "268 kms"
                  }
                  ,
                 
            ]
          },
        {
          title: "Expense item",
          data: [
                {
                  q: "Provider",
                  a: "Dr Al Appleton<BR/>334 Heath Rd<BR/>Melrose place<BR/>NSW 2045"
                },
                {
                  q: "Appointment date",
                  a: "21 August 2020"
                },
                {
                  q: "Appointment time",
                  a: "2:45 pm"
                },
                {
                  q: "Purpose of trip",
                  a: "Treatment"
                },
                {
                  q: "Cost type",
                  a: "Private vehicle"
                },
                {
                  q: "Kilometres travelled",
                  a: "268 kms"
                }
          ]
        },
        {
            title: "Expense item",
            data: [
                  {
                    q: "Provider",
                    a: "Dr Al Appleton<BR/>334 Heath Rd<BR/>Melrose place<BR/>NSW 2045"
                  },
                  {
                    q: "Appointment date",
                    a: "21 August 2020"
                  },
                  {
                    q: "Appointment time",
                    a: "2:45 pm"
                  },
                  {
                    q: "Purpose of trip",
                    a: "Treatment"
                  },
                  {
                    q: "Cost type",
                    a: "Road tolls"
                  },
                  {
                    q: "Amount",
                    a: "$15.64"
                  },
                  {
                        q: "Supporting evidence",
                        a: "<a>receipt-345.pdf</a>"
                  }
            ]
          },
          
          {
              title: "Expense item",
              data: [
                    {
                      q: "Provider",
                      a: "Dr Al Appleton<BR/>334 Heath Rd<BR/>Melrose place<BR/>NSW 2045"
                    },
                    {
                      q: "Appointment date",
                      a: "21 August 2020"
                    },
                    {
                      q: "Appointment time",
                      a: "2:45 pm"
                    },
                    {
                      q: "Purpose of trip",
                      a: "Treatment"
                    },
                    {
                      q: "Cost type",
                      a: "Parking fees"
                    },
                    {
                      q: "Amount",
                      a: "$28.34"
                    },
                    {
                          q: "Supporting evidence",
                          a: "<a>receipt-346.pdf</a>"
                    }
              ]
            },
            {
                title: "Expense item",
                data: [
                      {
                        q: "Provider",
                        a: "Dr Genevieve Shey<BR/>Mapletree practice<BR/>L2 145 Trent St<BR/>Salsbury<BR/>VIC 3033"
                      },
                      {
                        q: "Appointment date",
                        a: "26 August 2020"
                      },
                      {
                        q: "Appointment time",
                        a: "9:30 am"
                      },
                      {
                        q: "Purpose of trip",
                        a: "To obtain evidence for the Veterans' Review Board"
                      },
                      {
                        q: "Cost type",
                        a: "Air"
                      },
                      {
                        q: "Amount",
                        a: "$576.45"
                      },
                      {
                        q: "Did DVA arrange/pay for this travel?",
                        a: "No"
                      },
                      {
                            q: "Supporting evidence",
                            a: "<a>flight-melbourne-tax-invoice.pdf</a>"
                      }
                ]
              },
              {
                  title: "Expense item",
                  data: [
                        {
                          q: "Provider",
                          a: "Dr Genevieve Shey<BR/>Mapletree practice<BR/>L2 145 Trent St<BR/>Salsbury<BR/>VIC 3033"
                        },
                        {
                          q: "Appointment date",
                          a: "26 August 2020"
                        },
                        {
                          q: "Appointment time",
                          a: "9:30 am"
                        },
                        {
                          q: "Purpose of trip",
                          a: "To obtain evidence for the Veterans' Review Board"
                        },
                        {
                          q: "Cost type",
                          a: "Accommodation"
                        },
                        {
                              q: "Type of accommodation",
                              a: "Commercial"
                        },
                        {
                              q: "Length of stay",
                              a: "1 night"
                        },
                        {
                          q: "Total amount paid",
                          a: "$213.20"
                        },
                        {
                          q: "Did you travel with a medically required attendant?",
                          a: "No"
                        },
                        {
                              q: "Supporting evidence",
                              a: "<a>flight-melbourne-tax-invoice.pdf</a>"
                        }
                  ]
                }
      ]
    }) %>

<%- include(forms+"pagination", {
      modifiers: ["marginAbove"],
      pagination: [
        {
          text: "Previous",
          link: "/auth/reimbursements?claims=all"
        },
        {
          text: "Print",
          link: "",
          modifiers: ["floated"]
        }
      ]
    }) %>

<%- include(templates+"footer") %>