      </div>

<% if (typeof type === "undefined" || type === "claim") { %>
  <%- include(partials+"content/modals/claims-cancel-modal") %>
<% } %>

    </main>
    <%- include(partials+"components/layout/footer") %>
  </body>
</html> 