
<div class="header__wrapper">
  <header class="globalnav">
    <div class="heading__container">
      <img src="/docs/images/logo-myservice2.svg" alt="Auth link - MyService beta - logo" height="32px" />
      <div class="globalnav__menu-item">
        <h2 class="dashboard-title1">Menu<i class="fa fa-bars fa-lg globalnav__icon"></i></h2><i class="fa fa-chevron-down globalnav__icon rotate"></i>
      </div>
    </div>
  </header>
</div>
<div class="globalnav__wrapper">
    <div class="globalnav">
      <div class="globalnav__content">
        <div class="row2">
          <div class="column2">
            <h3>Key pages</h3>
            <a href="/auth/transport/bcwd-02"><i class="fa fa-home fa-fw globalnav__icon-body"></i>MyService Home</a>
          </div>
          <div class="column2">
            <h3>View my stuff</h3>
            <a href="/auth/transport/transport-claim-01"><i class="fa fa-list-alt fa-fw globalnav__icon-body"></i>Claims</a>
            <a href="/auth/profile/overseas-travel"><i class="fa fa-tasks fa-fw globalnav__icon-body"></i>Tasks</a>
            <a href="/auth/profile/income-assets"><i class="fa fa-calendar-check fa-fw globalnav__icon-body"></i>Payments</a>
            <a href="/auth/profile/income-assets"><i class="fa fa-credit-card-blank fa-fw globalnav__icon-body"></i>Cards</a>
          </div>
          <div class="column2">
            <h3>Common actions</h3>
            <a href="/auth/transport/bcwd-02"><i class="fa fa-car fa-fw globalnav__icon-body"></i>Book transport</a>
            <a href="/auth/transport/transport-claim-01"><i class="fa fa-receipt fa-fw globalnav__icon-body"></i>Claim reimbursements</a>
            <a href="/auth/profile/overseas-travel"><i class="fa fa-plane fa-fw globalnav__icon-body"></i>Notify of overseas travel</a>
            <a href="/auth/profile/income-assets"><i class="fa fa-piggy-bank fa-fw globalnav__icon-body"></i>Update income and assets</a>
          </div>
          <div class="column2">
            <h3>Manage profile</h3>
            <a href="/auth/profile/"><i class="fa fa-user fa-fw globalnav__icon-body"></i>My details</a>
            <a href="/auth/profile/history"><i class="fa fa-stream fa-fw globalnav__icon-body"></i>Service history</a>
            <a href="/auth/profile/relationships"><i class="fa fa-users fa-fw globalnav__icon-body"></i>Relationships</a>
            <a href="/auth/profile/payment"><i class="fa fa-university fa-fw globalnav__icon-body"></i>Payment destination</a>
            <a href="/auth/profile/nomrep"><i class="fa fa-signature fa-fw globalnav__icon-body"></i>Representation</a>
          </div>
          <!-- <div class="column2">
            <h3>Other links</h3>
            <a href="#"><i class="fa fa-exchange fa-fw globalnav__icon-body"></i>Go to MyAccount</a>
          </div> -->
        </div>
      </div>
    </div>
</div>

