<header class="ms-header">
  
  <div class="header__wrapper">
    <div class="header__container">
      <a data-long-press-delay="2000" class="header__logo nounderline" href="/auth"><img src="/docs/images/logo-myservice.svg" alt="MyService logo" height="32px" /></a>
      <div class="header__menu-button">
        <h2><i class="far fa-bars header__menu-icon" style="vertical-align: text-top;"></i>Menu</h2>
      </div>
    </div>
  </div>

  <nav>
    <div class="globalnav__wrapper">
      <div class="globalnav__container">
        <div class="globalnav__content">
            <div class="globalnav__row">
                <ul class="globalnav__column">
                  <h2>Key pages<i class="fa fa-angle-up fa-fw globalnav__icon"></i></h2>
                  <li><a href="/auth/"><i class="fa fa-home fa-fw globalnav__icon"></i>Home</a></li>
                  <li><a href="/auth/claim"><i class="fa fa-list-alt fa-fw globalnav__icon"></i>Claims</a></li>
                  <li><a href="/auth/tasks"><i class="fa fa-tasks fa-fw globalnav__icon"></i>Tasks</a></li>
                  <li><a href="/auth/payments"><i class="fa fa-calendar-check fa-fw globalnav__icon"></i>Payments</a></li>
                  <li><a href="/auth/cards"><i class="fa fa-credit-card-blank fa-fw globalnav__icon"></i>Cards</a></li>
                </ul>
                <ul class="globalnav__column">
                  <h2>Manage profile<i class="fa fa-angle-up fa-fw globalnav__icon"></i></h2>
                  <li><a href="/auth/profile/"><i class="fa fa-user fa-fw globalnav__icon"></i>My details</a></li>
                  <li><a href="/auth/profile/history"><i class="fa fa-stream fa-fw globalnav__icon"></i>Service history</a></li>
                  <li><a href="/auth/profile/payment"><i class="fa fa-university fa-fw globalnav__icon"></i>Payment destination</a></li>
                  <li><a href="/auth/profile/nomrep"><i class="fa fa-signature fa-fw globalnav__icon"></i>Representation</a></li>
                </ul>
                <ul class="globalnav__column">
                  <h2>I would like to...<i class="fa fa-angle-up fa-fw globalnav__icon"></i></h2>
                  <li><a href="/auth/transport/"><i class="fa fa-car fa-fw globalnav__icon"></i>Book transport</a></li>
                  <li><a href="/auth/transport/reimbursements"><i class="fa fa-receipt fa-fw globalnav__icon"></i>Claim reimbursements</a></li>
                  <li><a href="/auth/profile/overseas-travel"><i class="fa fa-plane fa-fw globalnav__icon"></i>Notify of overseas travel</a></li>
                  <li><a href="/auth/profile/income-assets"><i class="fa fa-piggy-bank fa-fw globalnav__icon"></i>Update income and assets</a></li>
                </ul>
                <ul class="globalnav__column">
                  <h2>Other links<i class="fa fa-angle-up fa-fw globalnav__icon"></i></h2>
                  <li><a href="#"><i class="fa fa-exchange fa-fw globalnav__icon"></i>Go to MyAccount</a></li>
                  <li><a href="#"><i class="fa fa-sign-out fa-fw globalnav__icon"></i>Return to MyGov</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </nav>

</header>

<script>
  $(".header__menu-button").click(function () {
    $(".header__menu-icon").toggleClass('fa-bars fa-times');
    $(".globalnav__wrapper").toggleClass("globalnav__wrapper--open");
    $(".globalnav__container").toggleClass("globalnav__container--open");
 });
 $(".globalnav__column h2").click(function () {
    $(this).find('i').toggleClass('fa-angle-down fa-angle-up');
    $(this).parent().find('li').toggle();
 });
 $(window).resize(function() {
    updateNavLayout();
 });
 function updateNavLayout(){
  var windowWidth = $(window).width();
    if (windowWidth >= 992) {
        $('.globalnav__column > li').show();
    } else {
      $('.globalnav__column > li').hide();
    }
 }
</script>