
  <div class="header__wrapper">
<header class="quicklinks">
  <div class="heading__container">
    <!-- <a id="mys-logo1" data-long-press-delay="2000" class="nounderline" href="/auth">
      <img class="logo-myservice" src="/docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" />
    </a> -->
    <!-- <a id="mys-logo1" class="nounderline" href="/auth"><img src="/docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" height="40px" /></a> -->
    <img src="/docs/images/logo-myservice2.svg" alt="Auth link - MyService beta - logo" height="32px" />
    <div class="quicklinks__menu-item">
      <h2 class="dashboard-title1"><i class="fa fa-bars fa-lg quicklinks__icon"></i></h2><i class="fa fa-chevron-down quicklinks__icon rotate"></i>
    </div>
  </div>
</header>
</div>
