<header class="uikit-header">
	<div class="container">
		<h1>MyService<sup class="beta large">Beta</sup></h1>
		<button class="toggle" aria-expanded="false">Menu</button>
		<ul class="menu">
			<li><a class="header-home nav-active" href="/auth">Claims</a></li>
			<li><a class="header-profile" href="/auth/profile">Users</a></li>
		</ul>
	</div>
</header>