<header class="ms-header">
  <div class="header__wrapper">
    <div class="header__container">
      <a data-long-press-delay="2000" class="header__logo nounderline" href="/auth"><img src="/docs/images/logo-myservice.svg" alt="MyService logo" height="32px" /></a>
      <div class="header__menu-button">
        <span class="username" style="font-size: 14px;">Signed in as Xaviar Larton</span>
        <button class="uikit-btn uikit-btn--tertiary small">Sign out</button>
      </div>
    </div>
  </div>
</header>
