<div id="help-button" class="btn-panel-help" style="display: none;"><a href="#" class="uikit-btn uikit-btn--help panel-btn">Help</a></div>
<div id="help-panel" class="panel from-right" style="display: none;">
  <div id="help-panel-header" class="panel-header">
    <h2>Help</h2>
    <a href="#" class="panel-close">Close</a>
  </div>
  <div id="help-panel-container" class="panel-container">
    <div id="help-panel-content" class="panel-content">
      <form>
        <h2><span class="font-weight-heavy">Get help with your claim or other&nbsp;DVA&nbsp;questions</span></h2>

        <!-- <h3>Call us <span class="hint display-block">Monday to Friday, 9am to 5pm AEDST.<br>Phone: <a href="tel:1800555254">1800 555 254</a></span></h3> -->

        <blockquote class="block-quote">
          <!-- <h3>Call us on 1800 555 254</h3> -->
          <span class="block-quote__icon">
            <i class="far fa-phone"></i>
          </span>
          <span>
            <h3 class="block-quote__header">Call us on 1800 555 254</h3>
            Monday to Friday, 8am to 5pm AEDST.
          </span>
        </blockquote>




        <section class="au-accordion">
          <button id="send-message-accordion" class="au-accordion__title au-accordion--closed js-au-accordion" aria-controls="accordion-send-message" aria-expanded="true"
            onclick="return AU.accordion.Toggle( this )">
            <i class="far fa-envelope"></i> Send a message
          </button>

          <div class="au-accordion__body au-accordion--closed" id="accordion-send-message">
            <div class="au-accordion__body-wrapper">
              <p>For a general enquiry, send us a message. A DVA staff member will reply to your enquiry by email within 5 business days.</p>

              <div class="form-group unauthenticated">
                <label class="uikit-text-input__label">Full name</label>
                <input type="text" class="uikit-text-input" value>
              </div>
              <div class="form-group unauthenticated">
                <label class="uikit-text-input__label">DVA file number <span class="hint">(optional)</span></label>
                <input type="text" class="uikit-text-input" value>
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label">Email address</label>
                <input type="text" class="uikit-text-input" value>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label">Tell us about your enquiry</label>
                <textarea rows="5"></textarea>
              </div>
              <div class="form-group form-group--right-aligned">
                <button class="uikit-btn small send">Send</button>
              </div>

            </div>
          </div>

        </section>


        <section class="au-accordion">
          <button class="au-accordion__title au-accordion--closed js-au-accordion" aria-controls="accordion-request-callback" aria-expanded="true"
            onclick="return AU.accordion.Toggle( this )">
            <i class="far fa-phone-plus"></i> Request a call back
          </button>

          <div class="au-accordion__body au-accordion--closed" id="accordion-request-callback">
            <div class="au-accordion__body-wrapper">
              <p> Provide your details below and we will call you back as soon as possible.
              </p>

              <div class="form-group unauthenticated">
                <label class="uikit-text-input__label">Full name</label>
                <input type="text" class="uikit-text-input" value>
              </div>
              <div class="form-group unauthenticated">
                <label class="uikit-text-input__label">DVA file number</label>
                <input type="text" class="uikit-text-input" value>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label">Phone number
                  <span class="hint display-block">Include your area code (for example, '03' for Victoria)</span></label>
                <input type="phone" class="uikit-text-input" value>
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label">Tell us briefly about your enquiry <span class="hint">(optional)</span></label>
                <textarea rows="5"></textarea>
              </div>
              <div class="form-group form-group--right-aligned">
                <button class="uikit-btn small send">Send</button>
              </div>

            </div>
          </div>

        </section>




      </form>


      <div id="send-message" class="toast-container" style="display: none;">
        <button class="uikit-btn toast" role="alert" type="button">
          <div class="toast__type toast__type--success">
            <span class="sr">Success</span>
          </div>
          <div class="toast__message">
            <p>Thank you for submitting your enquiry. A DVA staff member will reply to your enquiry by email within 5 business days.</p>
          </div>
        </button>
      </div>
      <div id="request-callback" class="toast-container" style="display: none;">
        <button class="uikit-btn toast" role="alert" type="button">
          <div class="toast__type toast__type--success">
            <span class="sr">Success</span>
          </div>
          <div class="toast__message">
            <p>Your requet for a callback has been requested. A DVA staff member will call you back as soon as possible.</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>



<script>
  var authDataAttr = document.documentElement.dataset.auth;
  var authenticated = authDataAttr && authDataAttr === 'false' ? false : true;

  var sendMessage = document.getElementById("send-message");
  var requestCallback = document.getElementById("request-callback")


  function showPanel(pEvent) {
    if ( event != null ) event.preventDefault();
    panel.classList.add('is-visible');
  }

  function hidePanel(pEvent) {
    if ( event != null ) {
      event.preventDefault();
      var target = pEvent.target;
      if (target === panel || target === close) panel.classList.remove('is-visible');
    } else {
      panel.classList.remove('is-visible');
    }
  }

// change from this to above in order to add in triggering panel from link on page
// needed to pass a null event
  // function hidePanel(pEvent) {
  //   event.preventDefault();
  //   var target = pEvent.target;
  //   if (target === panel || target === close) {
  //     panel.classList.remove('is-visible');
  //   }
  // }


  var panel = document.getElementById('help-panel');
  panel.addEventListener('click', hidePanel);

  var trigger = document.getElementById('help-button');
  trigger.addEventListener('click', showPanel);

  var trialTrigger = document.getElementById('trial-message');
  if (trialTrigger) {
    trialTrigger.addEventListener('click', showPanel);
  }




  var close = panel.getElementsByClassName('panel-close')[0];
  // var sends = panel.getElementsByClassName('send');
  var unauthenticated = panel.getElementsByClassName('unauthenticated');

  $("#accordion-send-message .send").on("click", function (pEvent) {
    setTimeout(function () {
      panel.classList.remove('is-visible');

      var toastClone = sendMessage.cloneNode(true);
      toastClone.removeAttribute('id');

      toastClone.addEventListener('click', function () {
        toastClone.parentElement.removeChild(toastClone);
      })

      setTimeout(function () {
        body.insertBefore(toastClone, body.firstElementChild);
      }, 1000);
    }, 300);
  });

  $("#accordion-request-callback .send").on("click", function (pEvent) {
    setTimeout(function () {
      panel.classList.remove('is-visible');

      var toastClone = requestCallback.cloneNode(true);
      toastClone.removeAttribute('id');

      toastClone.addEventListener('click', function () {
        toastClone.parentElement.removeChild(toastClone);
      })

      setTimeout(function () {
        body.insertBefore(toastClone, body.firstElementChild);
      }, 1000);
    }, 300);
  });

  // Array.prototype.forEach.call(sends, function (send) {

  //   send.addEventListener('mouseup', function (pEvent) {
  //     setTimeout(function () {
  //       panel.classList.remove('is-visible');

  //       var toastClone = toast.cloneNode(true);
  //       toastClone.removeAttribute('id');

  //       toastClone.addEventListener('click', function () {
  //         toastClone.parentElement.removeChild(toastClone);
  //       })

  //       setTimeout(function () {
  //         body.insertBefore(toastClone, body.firstElementChild);
  //       }, 1000);
  //     }, 300);
  //   })

  // });





  // var toast = document.getElementById('help-submitted');
  var body = document.getElementsByTagName('body')[0];

  body.insertBefore(panel, body.firstElementChild);
  body.insertBefore(trigger, body.firstElementChild);

  sendMessage.parentElement.removeChild(sendMessage);
  requestCallback.parentElement.removeChild(requestCallback);

  panel.style.display = '';
  trigger.style.display = '';
  sendMessage.style.display = '';
  requestCallback.style.display = '';
  if (authenticated) {
    Array.prototype.forEach.call(unauthenticated, function (pElement) {
      pElement.style.display = 'none';
    })
  }

</script>
