  <div class="panel-vvcs from-right">
    <div class="panel-header">
      <h2>Request a call back from VVCS</h2>
      <a href="#" class="panel-close">Close</a>
    </div>
    <div class="panel-container">
      <div class="panel-content">

        <p style="padding-top:30px;">VVCS provides free and confidential, nation-wide counselling and support for war and service-related mental health conditions, such as post
          traumatic stress disorder (PTSD), anxiety, depression, sleep disturbance and anger. Support is also available for relationship and family matters that can arise due to
          the unique nature of the military lifestyle.</p>

        <div class="form-group">
          <label class="uikit-text-input__label" for="name">Name</label>
          <input class="uikit-text-input" name="name" id="name" type="name" value="">
        </div>

        <div class="form-group">
          <label class="uikit-text-input__label" for="phone">Phone number</label>
          <input class="uikit-text-input" name="phone" id="phone" type="phone" value="">
        </div>

        <div class="pagination">
          <button class="uikit-btn panel-close panel-close--first" onclick="window.location.href = '#'">Submit request for call back</button>
          <button class="uikit-btn uikit-btn--tertiary panel-close" onclick="window.location.href = '#'">Cancel</a>
        </div>
      </div>
    </div>
  </div>
