<ul class="secondary-navigation">
  <!-- <h5>Account details</h5> -->
  <li class="secondary-navigation__item 
  <% if (!locals.secondary_nav_active) { %>secondary-navigation__item--active<% } %>">
    <a class="secondary-navigation__link" href="/auth/profile">Personal details</a>
  </li>
  <li class="secondary-navigation__item
  <% if (!!locals.secondary_nav_active && locals.secondary_nav_active === 'contact') { %>secondary-navigation__item--active<% } %>">
    <a class="secondary-navigation__link" href="/auth/profile/contact">Contact details</a>
  </li>

  <!-- <h5>About me</h5> -->
  <li class="secondary-navigation__item
  <% if (!!locals.secondary_nav_active && locals.secondary_nav_active === 'history') { %>secondary-navigation__item--active<% } %>">
    <a class="secondary-navigation__link" href="/auth/profile/history">Service history</a>
  </li>

  <li class="secondary-navigation__item
  <% if (!!locals.secondary_nav_active && locals.secondary_nav_active === 'relationships') { %>secondary-navigation__item--active<% } %>">

    <a class="secondary-navigation__link" href="/auth/profile/relationships">Relationships</a>
  </li>


  <li class="secondary-navigation__item
  <% if (!!locals.secondary_nav_active && locals.secondary_nav_active === 'payment') { %>secondary-navigation__item--active<% } %>">

    <% if (locals.liveFeature.includes('featureBankNameUpdate')) { %>
    <a class="secondary-navigation__link" href="/auth/profile/payment">Bank details</a>
    <% } else { %>
    <a class="secondary-navigation__link" href="/auth/profile/payment">Bank account</a>
    <% } %>
  </li>

  <li class="secondary-navigation__item
  <% if (!!locals.secondary_nav_active && locals.secondary_nav_active === 'nomrep') { %>secondary-navigation__item--active<% } %>">

    <% if (locals.liveFeature.includes('featureNomrep')) { %>
    <a class="secondary-navigation__link" href="/auth/profile/nomrep">Representation</a>
    <% } %>
  </li>

</ul>
