<% 

  var nav = [
    {
      text: "My details",
      link: "/auth/profile/"
    },
    {
      text: "Service history",
      link: "/auth/profile/history"
    },
    {
      text: `Bank ${locals.liveFeature.includes("featureBankNameUpdate") ? "details" : "account"}`,
      link: "/auth/profile/payment"
    }
  ]

  if (locals.liveFeature.includes("profileRelationships")) {
    nav.splice(3, 0, {
      text: "Relationships",
      link: "/auth/profile/relationships"
    })
  }

  if (locals.liveFeature.includes("featureNomrep")) {
    nav.push({
      text: "Representation",
      link: "/auth/profile/nomrep"
    })
  }

  if (locals.liveFeature.includes("featureNomrep")) {
    nav.push({
      text: "Income and assets",
      link: "/auth/profile/income-assets"
    })
  }

  function isActive(link) {
    if (source_url.substr(-1) === "") source_url = source_url.slice(0, -1);
    source_url = source_url.replace(".ejs", "");

    console.log(source_url)
    console.log(link)

    if (link === "/auth/profile/") {
      if (source_url === "/auth/profile/" || source_url === "/auth/profile/index") return true
    } else {
      return source_url.includes(link) 
    }
  }

%>

<ul class="secondary-navigation">
  <% nav.forEach(item => { %>
    <li class="secondary-navigation__item <%- isActive(item.link) ? "secondary-navigation__item--active" : "" %>">
      <a href="<%- item.link %>" class="secondary-navigation__link"><%- item.text %></a>
    </li>
  <% }) %>
</ul>