<%#- include(templates+"header", {
  claim: "Veteran Recognition Package"
})  %>
<!DOCTYPE html>
<html class="apod-page-replica">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
  <style>
    .apod-image {
      width: 100vw;
    }

  </style>
</head>
<img class="apod-image" src="/docs/images/APOD-information-page.png" alt="">

</html>
