<div id="state-switcher">
  <h3>VRP State Switcher</h3>
  <%- include(partials+"components/form-partials/checkbox", {
    id: "vrp-state-switcher",
    label: "Service history state",
    boxes: [
      {
        text: "Known service history",
        modifiers: ["checked"]
      }
    ]
  }) %>

  <%- include(partials+"components/form-partials/checkbox", {
    id: "vrp-bank-provided",
    label: "Bank details previously provided",
    boxes: [
      {
        text: "Provided",
        toggle: ".pre-pop-on",
        rToggle: ".pre-pop-off"
      }
    ]
  }) %>

  <%- include(partials+"components/form-partials/checkbox", {
    id: "vrp-show-apod",
    label: "APOD consent previously provided",
    boxes: [
      {
        text: "Provided"
      }
    ]
  }) %>
</div>

<script>
  $(document).keypress(function (e) {
    switch (e.which) {
      case 96: //tilda
        $('#state-switcher').toggle();
        break;
      default:
    }
  });

  $(document).ready(function () {
    $("#vrp-state-switcher-container").on("change", "input[type=checkbox]", function () {
      if ($("#vrp-state-switcher-1").prop("checked")) {
        sessionStorage.setItem("vrp-known-service-history", "true");
      } else {
        sessionStorage.setItem("vrp-known-service-history", "false");
      }
    })

    if (sessionStorage.getItem("vrp-bank-details") === "true") $("#vrp-bank-provided-1").prop("checked", true);

    $("#vrp-bank-provided-container").on("change", "input[type=checkbox]", function () {
      if ($("#vrp-bank-provided-1").prop("checked")) {
        sessionStorage.setItem("vrp-bank-details", "true");
      } else {
        sessionStorage.setItem("vrp-bank-details", "false");
      }
    })

    if (sessionStorage.getItem("vrp-known-service-history") === "false") {
      $("#vrp-state-switcher-1").prop("checked", false);
    } else if (sessionStorage.getItem("vrp-known-service-history") === null) {
      sessionStorage.setItem("vrp-known-service-history", "true");
    }

    if (sessionStorage.getItem("vrp-show-apod") === "false") {
      $("#vrp-show-apod-1").prop("checked", true);
    } else if (sessionStorage.getItem("vrp-show-apod") === null) {
      sessionStorage.setItem("vrp-show-apod", "false")
    }

    $("#vrp-show-apod-container").on("change", "input[type=checkbox]", function () {
      if ($("#vrp-show-apod-1").prop("checked")) {
        sessionStorage.setItem("vrp-show-apod", "false");
      } else {
        sessionStorage.setItem("vrp-show-apod", "true");
      }
    })


    if (sessionStorage.getItem("vrp-bank-details") === "false") {
      $("#vrp-bank-details-1").prop("checked", false);
    } else {

    }

    stateSwitcher();

    $("#state-switcher").on("change", "input", stateSwitcher);
  })

</script>
