<%- include(templates+"header", {heading: "The Covenant explained", title: "Veteran Recognition - Access"}) %>
<div class="veteran-card">
  
  <h2 class="vc-heading margin-above--large">The Australian Defence Veterans' Covenant</h2>
  <p>The Covenant provides;</p>
  <ul>
    <li>Enhanced recognition and support for veterans and their families ot better connect and integrate into thier local community; and</li>
    <li>Increased community awareness of Australian defence service and sacrifice veterans and their families make in order to serve and protect our nation; and</li>
    <li>Encourage a whole of community responsibility for fair treatment of veterans and their families.</li>
  </ul>

  <hr>

  <div class="col-md-4">
    <h3>Covenant Oath</h3>
    <hr class="orange-divider-covenant">
    <p>Recognising the valuable contribution that members of the Australian Defence Force (ADF) and their families make and have made for our country</p>
  </div>

  <div class="col-md-4">
    <h3>Lapel Pin</h3>
    <hr class="orange-divider-covenant">
    <p>The Lapel Pin allows the wider community to acknowledge your service regardless of whether you served in the Navy, Army or Air Force</p>
  </div>

  <div class="col-md-4">
    <h3>Veteran Card</h3>
    <hr class="orange-divider-covenant">
    <p>Use your Veteran Card to access treatment for service-related conditions or injuries and access to mental health treatment, if required.</p>
    <p>Support or concessions from participating businesses and organisations.</p>
  </div>
</div>

  <div class="pagination">
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
    <div class="floated">
      <button class="uikit-btn" id="btnNext">Okay, I've got it</button>
    </div>
  </div>

  <script type="text/javascript">
    function stateSwitcher() {
      if (sessionStorage.getItem("vrp-known-service-history") === "true") {
        $("#btnNext").attr("onclick", `window.location.href="/auth/claim/veterancard/vrp3"`);
      } else {
        $("#btnNext").attr("onclick", `window.location.href="/auth/claim/veterancard/vrp2"`);
      }
    }
  </script>
  
  <%- include("vrp-state-switcher") %>
<%- include(templates+"footer") %>