<%- include(templates+"header", {heading: "Business & community offers", title: "Veteran Recognition"}) %>
  <h2>You may be eligible for offers and benefits from the Australian community</h2>

  <p class="margin-below">DVA has partnered with APOD (Australian Partners of Defence) to give Veteran Card holders access to these discounts and offers from the Australian community.</p>

  <p class="margin-below--large">Find out more about <a href="https://apod.com.au/" rel="external">APOD</a>.</p>
  <hr>

  <%- include(partials+"components/form-partials/yes_no", {
    label: "Would you like us to create an account with APOD?",
    hint: "We will need to supply your name, DVA client number and contact details to APOD.",
    modifiers: ["hintNewLine"],
    id: "apod",
    no_toggle: "#sign-up-later",
    both_toggle: "#next"
  })  %>


  <div class="uikit-page-alerts uikit-page-alerts--info margin-above margin-below" id="sign-up-later" hidden>You can register at a later date through the <a rel="external" href="https://apod.com.au">APOD website</a>  to access offers.</div>

  <p id="next" hidden>Choose <strong>Next</strong> to continue.</p>
  
  <div class="pagination">
    <button class="uikit-btn uikit-btn--tertiary" id="btnPrev" onclick="window.location.href = '/auth/claim/veterancard/vrp3'">Previous</button>
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
    <div class="floated">
      <button class="uikit-btn" onclick="window.location.href = '/auth/claim/veterancard/vrp5'">Next</button>
    </div>
  </div>

  <%- include("vrp-state-switcher") %>
<%- include(templates+"footer") %>