<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!-- Muuri Drag n Drop JQuery plugin -->
  <script src="https://unpkg.com/web-animations-js@2.3.1/web-animations.min.js"></script>
  <script src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js"></script>
  <script src="https://unpkg.com/muuri@0.7.1/dist/muuri.min.js"></script>

</head>

<body>


  <div class="grid">
    <div class="item">
      <div class="item-content">Recent<br />Activity</div>
    </div>
    <div class="item">
      <div class="item-content">Request<br />Veteran<br />Card</div>
    </div>
    <div class="item">
      <div class="item-content">Transport</div>
    </div>
    <div class="item">
      <div class="item-content">Access<br />Mental<br />Health</div>
    </div>
    <div class="item">
      <div class="item-content">Payments</div>
    </div>
    <div class="item">
      <div class="item-content">Review<br />Your<br />Profile</div>
    </div>
  </div> <!-- end of .grid -->



  <!-- <body class="uikit-body uikit-grid uikit-refactor future">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav> -->

  <!-- <% include ../../global/partials/provisional-banner.ejs %> -->










  <!-- <div class="speakerbox">
    <div class="container">
      <div class="col-sm-12">
        <p>Hi Millie,</p>
        <p>We need you to tell us a little more about yourself, so that we can provide the services that are right for you.</p>
        <button class="uikit-btn uikit-btn--gold">Update my profile</button>
      </div>
    </div>
  </div>

  <main>

    <div class="grid">
      <div class="item">
        <div class="item-content">1</div>
      </div>
      <div class="item">
        <div class="item-content">2</div>
      </div>
      <div class="item">
        <div class="item-content">3</div>
      </div>
      <div class="item">
        <div class="item-content">4</div>
      </div>
      <div class="item">
        <div class="item-content">5</div>
      </div>
      <div class="item">
        <div class="item-content">6</div>
      </div>
      <div class="item">
        <div class="item-content">7</div>
      </div>
      <div class="item">
        <div class="item-content">8</div>
      </div>
      <div class="item">
        <div class="item-content">9</div>
      </div>
      <div class="item">
        <div class="item-content">10</div>
      </div>
      <div class="item">
        <div class="item-content">11</div>
      </div>
      <div class="item">
        <div class="item-content">12</div>
      </div>
      <div class="item">
        <div class="item-content">13</div>
      </div>
      <div class="item">
        <div class="item-content">14</div>
      </div>
      <div class="item">
        <div class="item-content">15</div>
      </div>
      <div class="item">
        <div class="item-content">16</div>
      </div>
      <div class="item">
        <div class="item-content">17</div>
      </div>
      <div class="item">
        <div class="item-content">18</div>
      </div>
      <div class="item">
        <div class="item-content">19</div>
      </div>
      <div class="item">
        <div class="item-content">20</div>
      </div>
    </div> -->

  <!-- <div> -->
  <!--
      <div>
        <div>
          <h2>Recent activity</h2> -->
  <!-- <table class="table-claims table-responsive margin-below--none">
            <tr>
              <td>
                <p class="status-icon status-approved">Your application for a Veteran Card was approved <span><em>&ndash; 12 Dec 2018</em>
                  </span>
                </p>
              </td>
              <td class="widget-actions">
                <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'veteran-card-summary'">View</button>
              </td>
            </tr>
            <tr>
              <td>
                <p class="status-icon status-approved">
                  Your claim for Mental health treatment (NLHC) was approved <span><em>&ndash; 12 Dec 2018</em></span>
                </p>
              </td>
              <td class="widget-actions">
                <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'mental-health-summary'">View</button>
              </td>
            </tr>
            <tr>
              <td>
                <p class="status-icon status-submitted">
                  Your Initial Liability claim for <b>Lumbar Spondylosis</b> was submitted <span><em>&ndash; 27 April 2018</em></span>
                </p>
              </td>
              <td class="widget-actions">
                <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'afi-claimdetail'">View</button>
              </td>
            </tr>
          </table> -->

  <!-- <button class="uikit-btn uikit-btn--tertiary small margin-above margin-below--large">See my claims</button> -->

  <!-- </div>
      </div> -->




  <!-- <div class="authenticated-home section-feature section-feature--bg padding-above--extra padding-below--extra">
        <div class="container">
          <div class="row">
            <div class="col-md-7">

            </div>
            <div class="col-md-5 widget-mini">
              <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-12">
                    <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
                      <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                          <img src="../../../docs/images/ico-transport-blue.svg" class="margin-above--mid">
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10">
                          <h2>Transport</h2>
                          <button class="uikit-btn uikit-btn--tertiary small margin-below--large">Seek reimbursement</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-12 widget-mini--stacked">
                    <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
                      <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-2">
                          <img src="../../../docs/images/ico-payment-blue.svg" class="margin-above--mid">
                        </div>
                        <div class="col-xs-10 col-sm-9 col-md-10">
                          <h2>Payments</h2>
                          <p class="margin-below--mid">Your next payment amount of <b>$638.64</b> will be paid on Tuesday 22
                            January, 2019</p>
                          <button class="uikit-btn uikit-btn--tertiary small margin-below">Manage my payments</button>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

  <!-- </div> end first grid section -->

  <!-- <div>
        <div class="container margin-below--extra">

          <h2 class="margin-above--extra margin-below--none ss-align--center">
            <span class="font-weight-heavy">What would you like to&nbsp;do?</span>
          </h2>
          <div class="flex-container flex-container--wrap hover-container">


            <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
              <a href="/veteran-card-eligibility">
                <h3 class="card__title margin-above">
                  <span>Request a Veteran Card</span>
                </h3>
              </a>
              <p class="card__supporting-text">The Veteran Card makes it easier to recognise and respect the unique contribution you have made to Australia.</p>
            </div>

            <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
              <a href="/mental-health-eligibility">
                <h3 class="card__title margin-above">
                  <span>Access mental health treatment</span>
                </h3>
              </a>
              <p class="card__supporting-text">Get immediate mental health treatment without the need to&nbsp;claim.</p>
            </div>

            <div class="flex-item flex-item--centred card card--medium hover-element">
              <a href="/profile">
                <h3 class="card__title margin-above">
                  <span>Review your profile</span>
                </h3>
              </a>
              <p class="card__supporting-text">Keep your profile up to date so we can help&nbsp;you.</p>
            </div>

          </div>

        </div> -->
  <!-- </main> -->


</body>
<script>

  // $(document).ready(function () {
  //   localStorage.clear();

  //   var grid = new Muuri('.grid');

  //   var user = getUrlParameter('user');
  //   if (user) {
  //     localStorage.setItem('user', user);
  //   }

  //   $("#claims").hide();
  //   $("#qs-claim").hide();
  //   $("#nlhc-claim-approved").hide();
  //   $("#lsq-claim").hide();
  //   $("#lsq-claim-submitted").hide();

  //   if (localStorage.getItem('user') === 'QSuser') {
  //     $("#no-claims").hide();
  //     $("#claims").show();
  //     $("#nlhc-claim-approved").hide();
  //     $("#lsq-claim").hide();
  //     $("#lsq-claim-submitted").hide();
  //     $("#qs-claim").show();
  //     $(".widget-content").addClass("widget--justclaims");
  //     $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
  //   }
  //   else if (localStorage.getItem('user') === 'LSQuser') {
  //     $("#no-claims").hide();
  //     $("#claims").show();
  //     $("#qs-claim").hide();
  //     $("#nlhc-claim-approved").hide();
  //     $("#lsq-claim-submitted").hide();
  //     $("#lsq-claim").show();
  //     $(".widget-content").addClass("widget--justclaims");
  //     $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
  //   }
  //   else if (localStorage.getItem('user') === 'LSQuser-submitted') {
  //     $("#no-claims").hide();
  //     $("#claims").show();
  //     $("#qs-claim").hide();
  //     $("#nlhc-claim-approved").hide();
  //     $("#lsq-claim").hide();
  //     $("#lsq-claim-submitted").show();
  //     $(".widget-content").addClass("widget--justclaims");
  //     $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
  //   }
  //   else if (localStorage.getItem('user') === 'NLHCuser-approved') {
  //     $("#no-claims").hide();
  //     $("#claims").show();
  //     $("#qs-claim").hide();
  //     $("#lsq-claim").hide();
  //     $("#lsq-claim-submitted").hide();
  //     $("#nlhc-claim-approved").show();
  //     $("#nlhc-access").hide();
  //     $(".widget-content").addClass("widget--justclaims");
  //     $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
  //   }
  //   else {
  //     $("#no-claims").show();
  //     $("#claims").hide();
  //     $("#qs-claim").hide();
  //   }
  // });

  jQuery(document).ready(function () {

    var grid = new Muuri('.grid', {
      dragEnabled: true,
      layout: {
        horizontal: true
      }
    });

  });

</script>

</html>