<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor future">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <!-- <% include ../../global/partials/provisional-banner.ejs %> -->

  <% include ../../global/partials/header-topbar.ejs %>

  <div class="speakerbox">
    <div class="container">
      <div class="col-sm-12">
        <p>Hi Millie,</p>
        <p>We need you to tell us a little more about yourself, so that we can provide the services that are right for you.</p>
        <button class="uikit-btn uikit-btn--gold">Update my profile</button>
      </div>
    </div>
  </div>

  <main>


    <div class="authenticated-home section-feature section-feature--bg padding-above--extra padding-below--extra">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>Recent activity</h2>

            <table class="table-claims table-responsive margin-below--none">
              <tr>
                <td>
                  <p class="status-icon status-approved">Your application for a Veteran Card was approved <span><em>&ndash; 12 Dec 2018</em>
                    </span>
                  </p>
                </td>
                <!-- <td class="widget-actions">
                <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'veteran-card-summary'">View</button>
              </td> -->
              </tr>
              <tr>
                <td>
                  <p class="status-icon status-approved">
                    Your claim for Mental health treatment (NLHC) was approved <span><em>&ndash; 12 Dec 2018</em></span>
                  </p>
                </td>
                <!-- <td class="widget-actions">
                <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'mental-health-summary'">View</button>
              </td> -->
              </tr>
              <tr>
                <td>
                  <p class="status-icon status-submitted">
                    Your Initial Liability claim for <b>Lumbar Spondylosis</b> was submitted <span><em>&ndash; 27 April 2018</em></span>
                  </p>
                </td>
                <!-- <td class="widget-actions">
                <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'afi-claimdetail'">View</button>
              </td> -->
              </tr>
            </table>

            <button class="uikit-btn uikit-btn--tertiary small margin-above margin-below--large">See my claims</button>

          </div>
          <div class="col-md-5 widget-mini">
            <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12">
                  <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
                    <div class="row">
                      <div class="col-xs-2 col-sm-3 col-md-2">
                        <img src="../../../docs/images/ico-transport-blue.svg" class="margin-above--mid">
                      </div>
                      <div class="col-xs-10 col-sm-9 col-md-10">
                        <h2>Transport</h2>
                        <button class="uikit-btn uikit-btn--tertiary small margin-below--large">Seek reimbursement</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 widget-mini--stacked">
                  <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
                    <div class="row">
                      <div class="col-xs-2 col-sm-3 col-md-2">
                        <img src="../../../docs/images/ico-payment-blue.svg" class="margin-above--mid">
                      </div>
                      <div class="col-xs-10 col-sm-9 col-md-10">
                        <h2>Payments</h2>
                        <p class="margin-below--mid">Your next payment amount of <b>$638.64</b> will be paid on Tuesday 22
                          January, 2019</p>
                        <button class="uikit-btn uikit-btn--tertiary small margin-below">Manage my payments</button>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="container margin-below--extra">

        <h2 class="margin-above--extra margin-below--none ss-align--center">
          <span class="font-weight-heavy">What would you like to&nbsp;do?</span>
        </h2>
        <div class="flex-container flex-container--wrap hover-container">


          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
            <a href="/veteran-card-eligibility">
              <h3 class="card__title margin-above">
                <span>Request a Veteran Card</span>
              </h3>
            </a>
            <p class="card__supporting-text">The Veteran Card makes it easier to recognise and respect the unique contribution you have made to Australia.</p>
          </div>

          <div class="flex-item flex-item--centred card card--medium hover-element" id="nlhc-access">
            <a href="/mental-health-eligibility">
              <h3 class="card__title margin-above">
                <span>Access mental health treatment</span>
              </h3>
            </a>
            <p class="card__supporting-text">Get immediate mental health treatment without the need to&nbsp;claim.</p>
          </div>

          <div class="flex-item flex-item--centred card card--medium hover-element">
            <a href="/profile">
              <h3 class="card__title margin-above">
                <span>Review your profile</span>
              </h3>
            </a>
            <p class="card__supporting-text">Keep your profile up to date so we can help&nbsp;you.</p>
          </div>

        </div>

      </div>
  </main>

  <% include ../../global/partials/footer.ejs %>
</body>
<script>

  $(document).ready(function () {
    localStorage.clear();

    var user = getUrlParameter('user');
    if (user) {
      localStorage.setItem('user', user);
    }

    $("#claims").hide();
    $("#qs-claim").hide();
    $("#nlhc-claim-approved").hide();
    $("#lsq-claim").hide();
    $("#lsq-claim-submitted").hide();

    if (localStorage.getItem('user') === 'QSuser') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#nlhc-claim-approved").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $("#qs-claim").show();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }
    else if (localStorage.getItem('user') === 'LSQuser') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#lsq-claim-submitted").hide();
      $("#lsq-claim").show();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }
    else if (localStorage.getItem('user') === 'LSQuser-submitted') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#nlhc-claim-approved").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").show();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }
    else if (localStorage.getItem('user') === 'NLHCuser-approved') {
      $("#no-claims").hide();
      $("#claims").show();
      $("#qs-claim").hide();
      $("#lsq-claim").hide();
      $("#lsq-claim-submitted").hide();
      $("#nlhc-claim-approved").show();
      $("#nlhc-access").hide();
      $(".widget-content").addClass("widget--justclaims");
      $(".widget-content").find(".widget--noclaims").removeClass("widget--noclaims");
    }
    else {
      $("#no-claims").show();
      $("#claims").hide();
      $("#qs-claim").hide();
    }
  });

  $(document).ready(function () {
    const hoverContainer = document.getElementsByClassName('hover-container')[0]
    const hoverElements = document.getElementsByClassName('hover-element')

    Array.prototype.forEach.call(hoverElements, hoverElement => {
      hoverElement.addEventListener('mouseover', (event) => {
        hoverElement.classList.add('hover-element--active')
      })

      hoverElement.addEventListener('mouseout', (event) => {
        hoverElement.classList.remove('hover-element--active')
      })
    })

    hoverContainer.addEventListener('mouseover', (event) => {
      if (event.target !== hoverContainer) {
        hoverContainer.classList.add('hover-container--faded')
      }
    })

    hoverContainer.addEventListener('mouseout', (event) => {
      hoverContainer.classList.remove('hover-container--faded')
    })
  });

</script>

</html>