<div class="accordion-toppanel--wrapper">
  <div class="container">
    <section class="uikit-accordion accordion-closed">

      <div class="topbar-controls">
        <div class="topbar-controls__left">
        </div>
        <div class="topbar-controls__right">
          <a aria-controls="accordion" aria-expanded="false" aria-selected="false" class="uikit-accordion__title js-uikit-accordion accordion-toppanel-btn"
            href="javascript:void(0);" role="tab">
            <span class="screen-text-above-zero">24hr <br>support</span>
            <span class="screen-text-above-xs">24hr support</span>
            <span class="screen-text-above-sm">24hr counselling and support services</span>
          </a>
        </div>
      </div>
      <div aria-hidden="true" class="uikit-accordion__body" id="accordion1">
        <div class="uikit-accordion__body-wrapper accordion-toppanel-body">
          <div class="mys-support-services">
            <div class="mys-support-services__service">
              <h3 class="screen-text-above-zero">24hr counselling and support services</h3>
              <a href="http://www.vvcs.gov.au/" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-vvcs-reversed.png">
                <span class="external-link external-link-white">Open Arms – Veterans and Families Counselling</span>
              </a>
              <br>
              <a href="tel:1800011046">
                <strong>1800&nbsp;011&nbsp;046</strong>
              </a>
              <br>
              <a href="" target="_blank">
                <img src="/docs/images/ico-facebook-white.svg" style="height:15px;padding-right:0.6em;padding-top:4px" align="left">Find us on Facebook</a>
              <br>
            </div>
            <div class="mys-support-services__service">
              <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-defence-reversed.png">
                <span class="external-link external-link-white">ADF Mental Health All Hours Support Line</span>
              </a>
              <br>
              <a href="tel:1800628036">
                <strong>1800&nbsp;628&nbsp;036</strong>
              </a>
            </div>
            <div class="mys-support-services__service">
              <a href="https://www.lifeline.org.au/" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-lifeline-reversed.png">
                <span class="external-link external-link-white">Lifeline</span>
              </a>
              <br>
              <a href="tel:131114">
                <strong>13&nbsp;11&nbsp;14</strong>
              </a>
            </div>
            <div class="mys-support-services__service">
              <a href="https://www.1800respect.org.au" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-1800respect-reversed.png">
                <span class="external-link external-link-white">National Sexual Assault, Domestic and Family Violence Counselling Service</span>
              </a>
              <br>
              <a href="tel:1800737732">
                <strong>1800&nbsp;737&nbsp;732</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>