<header class="uikit-header reduced-header">
  <div class="container">
    <a class="nounderline" href="/">
      <img class="logo-myservice" src="/docs/images/logo-myservice.svg" alt="Home link - MyService beta - logo" />
    </a>
  </div>
</header>