<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-authenticated") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
  <div class="container">
    <h1><span class="heading">Cards</span></h1>
    <div class="health-cards">
    <div class="health-card">
      <div class="health-card__content">
        <h2 class="margin-above--none margin-below--none">Veteran Card</h2>
        <div class="health-card__detail">
          <label class="health-card__label">File Number</label>
          <span>VX000000</span>
        </div>
        <div class="health-card__detail">
          <label class="health-card__label">Expiry</label>
          <span>12/22</span>
        </div>
        <div class="health-card__detail">
          <label class="health-card__label">Class</label>
          <span>White</span>
        </div>
        <div class="health-card__order-replacement">
        <a href="/">Order replacement</a>
        </div>
        <div class="health-card__more-info">
          <div class="health-card__conditions-listed">
            Conditions Listed
          </div>
          <div class="health-card__how-to-use">
            How to Use
          </div>
        </div>
      </div>
      <img class="health-card__image" src="/docs/images/health-card.png" alt="">
    </div>
    </div>
  </div>
  </main>
<body>
</html>