<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "Past transactions",
    boxes: [
      "None",
      "One",
      "Many"
    ],
    id: "past-transactions"
  }); %>

  <%- include(partials+"components/form-partials/radio", {
    label: "Partner consent",
    boxes: [
      "Partner consent provided",
      "Partner consent not provided",
      "Partner consent pending"
    ],
    id: "partner-consent",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  var pastTransactions;
  var partnerConsent;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
            break;
      }
    });
  });

    $("#past-transactions-1").prop("checked", true);
    $("#partner-consent-1").prop("checked", true);

    $('input[name=past-transactions]').change(function () {
      pastTransactions = $(this).val();
      stateSwitcher();
    });

    $('input[name=partner-consent]').change(function () {
      partnerConsent = $(this).val();
      updateConsent();
    });

    function updateConsent() {
      $("#no-consent-message-container").hide();
      $("#pending-consent-message-container").hide();
      switch (partnerConsent) {
        case "partnerconsentprovided":
          break;
        case "partnerconsentnotprovided":
          $("#no-consent-message-container").show();
          break;
        case "partnerconsentpending":
          $("#pending-consent-message-container").show();
          break;
        default:
          break;
      }
    }
  

</script>