<!-- Summary card -->
<div id="managed-investments-prepaid-update-summary" class="box boxed">
  <div class="box__header">
    <h2 class="box__heading">
      <i class="fal fa-file-certificate fontawesome-icon"></i>
      <span class="font-weight-heavy">Managed investments</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small .box__edit-button"
      onClick="editCard('managed-investments-prepaid-update');">&nbsp;Edit&nbsp;</button>
  </div>
  <div class="box__table">
    <div class="tr">
      <div class="td"><b>Investment type</b></div>
      <div class="td">Pre-paid funeral</div>
    </div>
    <div class="tr">
      <div class="td"><b>Owner</b></div>
      <div class="td">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Product name</b>
      </div>
      <div class="td">Funerals R us</div>
    </div>
  </div>
  <div class="status-label status-label--edited margin-above" style="display: none !important;">EDITED</div>
</div>
<!-- Summary card deleted-->
<div class="box boxed box--deleted" id="managed-investments-prepaid-update-summary-deleted" style="display:none;">
  <div class="box__header">
    <h2 class=" box__heading disabled-opacity">
      <i class="fal fa-file-certificate fontawesome-icon"></i>
      <span class="font-weight-heavy">Managed investments, funeral bonds and pre-paid funerals</span>
    </h2>
    <button class="uikit-btn uikit-btn--tertiary small"
    onClick="undoDeletePrePop('managed-investments-prepaid-update');">&nbsp;Undo delete&nbsp;</button>
  </div>
  <div class="box__table disabled-opacity">
    <div class="tr">
      <div class="td"><b>Investment type</b></div>
      <div class="td">Pre-paid funeral</div>
    </div>
    <div class="tr">
      <div class="td"><b>Owner</b></div>
      <div class="td">Myself</div>
    </div>
    <div class="tr">
      <div class="td"><b>Product name</b>
      </div>
      <div class="td">Funerals R us</div>
    </div>
  </div>
  <div class="status-label status-label--deleted margin-above">DELETED</div>
</div>
<!-- Open card -->
<div id="managed-investments-prepaid-update-card" class="box boxed box--open" style="display: none;">
  <div class="delete-content" hidden>
    <div class="review__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-file-certificate fontawesome-icon"></span><span class="font-weight-heavy">Managed investments,
          funeral bonds and pre-paid funerals
        </span></h2>
    </div>
    <hr style="margin-top: 10px; max-bottom: 0;">
    <%- include(partials+"components/form-partials/date", {
      label: "Date of change/disposal"
    }); %>
    <div class="pagination pagination--ss-reverse-order   margin-above--extra" id="pagination700">
      <a href="#" id="delete-bank-account" class="uikit-btn"
        onClick="confirmDeletePrePop('managed-investments-prepaid-update')">Delete</a>
      <a href="#" id="cancel-delete" class="uikit-btn uikit-btn--tertiary" onClick="cancelDeletePrePop()">Cancel</a>
    </div>
  </div>
  <div class="edit-content">
    <div class="box__header">
      <h2 class="margin-above--none" style="display: inline-block;"><span
          class="fal fa-file-certificate fontawesome-icon"></span><span class="font-weight-heavy">Managed investments,
          funeral bonds and pre-paid funerals</span></h2><button id="deleteButton"
        class="uikit-btn uikit-btn--tertiary small warning box__delete-button"
        onclick="deletePrePop('managed-investments-prepaid-update');">&nbsp;Delete item&nbsp;</button>
    </div>
    <div id="card-details" class="margin-below--large">
      <div class="box__table">
        <div class="tr">
          <div class="td"><b>Investment type</b></div>
          <div class="td">Pre-paid funeral</div>
        </div>
        <div class="tr">
          <div class="td"><b>Owner</b></div>
          <div class="td">Myself</div>
        </div>
        <div class="tr">
          <div class="td"><b>Product name</b></div>
          <div class="td">XYZ investments</div>
        </div>
      </div>
      <hr>
      To change this reported item:
      <ol class="margin-above--small">
        <li>Delete the item.</li>
        <li>Add a new item with the updated details.</li>
      </ol>
      <p>If you have any queries please contact DVA on 133 254.</p>
    </div>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none margin-below--none">
      <button class="uikit-btn uikit-btn--tertiary"
         onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;</button>
     </div>
  </div>
</div>
<!-- card end -->