        <div class="uikit-page-alerts uikit-page-alerts--success" role="alert">
          <p><strong>Password updated</strong></p>
        </div>
      <h1>Authenticated landing page....</h1>
      <p>Boxes</p>
      <p>and</p>
      <p>Stuff</p>