  <div class="panel from-right">
    <div class="panel-header">
      <h2>Log in</h2>
      <a href="#" class="panel-close">Close</a>
    </div>
    <div class="panel-container">
      <div class="panel-content">
        <div class="form-group">
          <label class="uikit-text-input__label" for="email">Email</label>
          <input class="uikit-text-input" name="email" id="email" type="email" value="">
        </div>
        <div class="form-group">
          <label class="uikit-text-input__label" for="password">Password</label>
          <input class="uikit-text-input" name="password" id="password" type="password" value="">
          <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
          <br />
          <a href="/forgot-password-step1-and-2">Forgot your password?</a>
        </div>
        <p>Ennui drinking vinegar tousled neutra. Wayfarers keffiyeh salvia, air plant poke retro fashion axe brooklyn helvetica cronut selfies vape meditation pickled. Sustainable humblebrag banjo photo booth, asymmetrical beard migas meditation. Hashtag copper mug adaptogen tousled schlitz offal. Chambray iceland live-edge, readymade vinyl snackwave subway tile helvetica poke lyft DIY. Portland fixie taxidermy kale chips tumblr microdosing umami fashion axe polaroid tofu venmo fam palo santo VHS. Pickled chia bicycle rights, +1 intelligentsia subway tile lo-fi pour-over. Health goth viral pug tumeric, street art chambray blue bottle vape adaptogen gochujang biodiesel. Dreamcatcher polaroid echo park taxidermy. Banh mi blog disrupt kickstarter chambray. Pabst narwhal retro butcher messenger bag literally brooklyn hella distillery activated charcoal 3 wolf moon. Art party tumblr street art gluten-free keytar mlkshk. Next level hell of vinyl normcore flannel pork belly gluten-free cray.</p>
        <p>Butcher scenester austin flexitarian meh kogi schlitz tacos tote bag ennui photo booth hot chicken messenger bag. Listicle la croix adaptogen 3 wolf moon, paleo tumblr DIY bitters master cleanse tbh try-hard cronut. Schlitz lomo swag cornhole freegan kogi. Small batch succulents ugh, air plant fixie gluten-free chambray williamsburg. Four dollar toast man bun venmo, affogato live-edge authentic fingerstache blue bottle retro whatever XOXO scenester freegan. Retro pok pok listicle craft beer selvage, venmo organic. Gastropub deep v heirloom hell of chartreuse pabst quinoa vexillologist coloring book forage hashtag chambray tattooed. Iceland helvetica hashtag tumblr drinking vinegar, fanny pack synth literally banh mi slow-carb VHS crucifix small batch. Meh bicycle rights master cleanse kickstarter, kogi single-origin coffee ennui PBR&B. Lumbersexual scenester neutra, chicharrones migas fam bitters lomo mustache tumblr subway tile messenger bag asymmetrical. Cred pop-up brooklyn freegan.</p>
        <div class="pagination">
          <button class="uikit-btn" onclick="window.location.href = 'index-login-errors'">Log in</button> &nbsp; <a href="#" class="panel-close">Cancel</a>
        </div>
      </div>
    </div> <!-- panel-content -->
  </div> <!-- panel -->