<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Career Guidance | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid landing-page unauth-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../partials/header-landing-page.ejs %>
  <% include ../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="container" id="main-content">
        <% include breadcrumb-career-guidance.ejs %>
        <h1>Career Guidance</h1>

        <nav class="uikit-inpage-nav-links">
          <h2 class="uikit-inpage-nav-links__heading uikit-display-2">Contents</h2>
          <ul class="uikit-link-list">
            <li><a href="#section1">How we can help</a></li>
            <li><a href="#section2">Types available</a></li>
            <li><a href="#section3">How to apply</a></li>
          </ul>
        </nav>

        <h2 id="section1">How we can help</h2>

        <p>If your accepted condition impacts your ability to work, we can offer you support with your career after the ADF.</p>

        <h2 id="section2">Types available</h2>

        <h3>Vocational Rehabilitation Program</h3>

        <p>We can help you identify and meet your career goals.</p>

        <p>This may include:</p>

        <ul>
          <li>vocational assessment and guidance</li>
          <li>assessments to determine your employment options</li>
          <li>work experience</li>
          <li>vocational training</li>
          <li>job seeking assistance</li>
        </ul>

        <p>If you are currently employed, we can help make sure your condition does not affect you at work by organising a worksite assessment.</p>

        <p>We will arrange a rehabilitation assessment for you to discuss your circumstances and identify areas you wish to improve. A rehabilitation provider will work with you to
          create a plan to meet your goals.</p>

        <p>Your rehabilitation program may include medical management rehabilitation and psychosocial rehabilitation.</p>

        <p><a href="https://www.dva.gov.au/factsheet-hsv108-veterans-vocational-rehabilitation-scheme-vvrs">Discover more about vocational rehabilitation programs.</a></p>

        <hr>

        <h2 id="section3">How to apply</h2>
        <% include how-to-apply.ejs %>

      </div>
      </div>
      </div>
    </section>
  </main>

  <% include ../../partials/footer.ejs %>
  <% include ../../partials/panel-login.ejs %>

</body>

</html>