<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Contact us | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../partials/header-version.ejs %>
  <% include ../../partials/header-unauthenticated.ejs %>

  <main>
    <section>
      <div class="container" id="main-content">
        <h1>Contact us</h1>
        <p>Thank you for using our pilot service. At the moment, this service is limited to submitting an application for cover.</p>
        <p>We are dedicated to improving our online experience for you so if you have any feedback or need assistance, please contact us at <a
            mailto="myservicesupport@dva.gov.au">myservicesupport@dva.gov.au</a></p>
        <p>We will get back to you within 1-2 working days. If you prefer us to call you please provide us with a suitable contact number when you email us.</p>
        <p><a href="/">MyService home</a></p>
      </div>
    </section>
  </main>
  <% include ../../partials/footer.ejs %>
  <% include ../../partials/panel-login.ejs %>

</body>

</html>
