<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Contact us | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <%- include(partials+"header-claims") %>

    <main>
      <section>
        <div class="container tc-detail" id="main-content">
          <%- include(partials+"breadcrumb-dhoas-privacy-notification") %>
            <h1>DHOAS Privacy notification and consent</h1>

            <p>
              In connection with an application for a Subsidy Certificate as part of the Defence Home Ownership Assistance Scheme (DHOAS), I (being the applicant) acknowledge that the Commonwealth
              represented by the Department of Veterans' Affairs (Scheme Administrator) and the Commonwealth represented by the Department of Defence (Defence) will collect, use and
              disclose personal information about me for the purposes below.
            </p>

            <p>I also acknowledge that if I submit an application for a home loan with a home loan provider (Home Loan Provider) in relation to the DHOAS, the Home Loan Provider will
              collect, use and disclose personal information about me for the purposes below. I acknowledge that the information about me collected, used and disclosed by Defence, the
              Scheme Administrator, the Home Loan Provider, and any replacement Scheme Administrator appointed by Defence from time to time (together, the Organisations), may include
              'sensitive information' as defined in the Privacy Act 1988 (Cth) (Privacy Act), including service history information and health information.</p>

            <p>
              I acknowledge that without this information, the Organisations may not be able to consider or accept my Application for a Subsidy Certificate, to determine my entitlement to subsidy
              under the DHOAS, or to operate or administer the DHOAS. I consent to each of the Organisations collecting, using and disclosing personal information about me for all purposes
              connected with the operation or administration of the DHOAS, including without limitation information:
              <ul>
                <li>
                  contained in or concerning my application to the Scheme Administrator for a Subsidy Certificate;</li>
                <li>
                  contained in or concerning my application to the Home Loan Provider for a home loan (including the status or progress of my application);</li>
                <li>
                  concerning any loan I obtain from the Home Loan Provider, and any property that secures the loan (including the loan balance from time to time, the loan account number, the property
                  address, other matters relating to the property, and any default or repayment of my loan);</li>
                <li>
                  obtained or recorded by Defence relating to my employment and service history; obtained or recorded by the Home Loan Provider that relates to my eligibility to subsidy under the DHOAS;
                  and
                </li>
                <li>regarding my credit arrangements, including any credit report obtained from a credit reporting agency and any information about my credit worthiness, credit standing,
                  credit history or credit capacity in accordance with Section 18N(1)(ga) of the Privacy Act.</li>

              </ul>
            </p>

            <p>
              I consent to each of the Organisations disclosing to, or obtaining such information from, each other Organisation. The purposes for which I consent to collection, use and disclosure
              of such information include without limitation:
              <ul>
                <li>to assess my application for a Subsidy Certificate;</li>
                <li>to assess my entitlement to subsidy under the DHOAS, or as otherwise necessary or appropriate for the operation or administration of the DHOAS;</li>
                <li>to assess my application for a home loan, and if the application is approved, for the subsequent administration of the home loan, or as otherwise necessary or appropriate
                  for the operation of the DHOAS;</li>
                <li>to produce and provide reports, including but not limited to financial, analytical, taxation or Annual/Monthly reports;</li>
                <li>notifying the Organisations of changes affecting my entitlement to subsidy under DHOAS (for example death, incapacity, bankruptcy, separation from the Australian
                  Defence Force or transfer to the Reserve Force or visa-versa), or of any errors in the payment of the subsidy;</li>
                <li>providing documents relating to my loan or loan currency, loan details or account details; to transfer records and documentation and taking other appropriate steps
                  following expiry or termination of the arrangements with the Scheme Administrator; for audit purposes;</li>
                <li>to comply with any law including without limitation any legislation, regulation, Government or Parliamentary requirement, Commonwealth policy, binding agreement
                  or order of any court or tribunal of competent jurisdiction in Australia or in any other relevant jurisdiction; for public accountability reasons, including disclosure
                  to the responsible Minister, to a House or Committee of the Parliament of the Commonwealth of Australia, to another Commonwealth Organisation or Agency;</li>
                <li>to obtain legal, financial or other professional advice or services, including in relation to any actual or anticipated allegation or claim; and</li>
                <li>to subcontract any relevant activity to another Organisation including without limitation to subcontract installation, management or operation of any part of the
                  Organisations' information technology systems, software, databases or administrative support services and including to obtain the services of any legal or financial
                  advisors, data processing company or mailing houses and any auditors.</li>
                <li>to subcontract any relevant activity to another Organisation including without limitation to subcontract installation, management or operation of any part of the
                  Organisations' information technology systems, software, databases or administrative support services and including to obtain the services of any legal or financial
                  advisors, data processing company or mailing houses and any auditors.</li>
              </ul>
            </p>

            <p>
              I consent to being contacted by each of the Organisations by telephone or by way of any commercial electronic message (including email and SMS) for the purposes above.
            </p>
            <p>
              I consent to any transfer of personal information about me outside Australia for the purposes identified in this document.
            </p>
            <p>Where lawful and practicable, all disclosures of confidential information about me will be made on a confidential basis. Any information in the public domain, or which
              is relevant to any public disclosure by me, is not and will not be confidential, and no confidentiality obligation will apply in respect of any such information.</p>
            <p>I agree that before I provide any information to the Organisations about any other individual (including any individual identified in the application for a Subsidy Certificate
              or the application for a home loan) I will obtain that individual's consent to collection, use and disclosure of personal information about them in accordance with this
              document. I will ensure that the individual is made aware that one or more of the Organisations has his or her personal information, of the purposes (and the persons involved)
              of the collection, use and/or disclosure of the personal information by each Organisation, and that the individual can be contacted by an Organisation in the manner outlined
              above. I also agree that I will inform the Organisations prior to providing information, if any individual to whom it relates is a dependent minor or has an intellectual
              or other disability or condition which could affect his or her ability to consent.</p>
            <p>I understand that, subject to certain exceptions under applicable laws, I may obtain my personal information collected and held by the Scheme Administrator or by Defence,
              by contacting the Privacy Officer of the Scheme Administrator at the address of the Scheme Administrator shown on the application for a Subsidy Certificate.</p>
            <p>I understand that, subject to certain exceptions under applicable laws, I may obtain my personal information collected and held by the Home Loan Provider, by contacting
              the Privacy Officer of the Home Loan Provider at the address of the Home Loan Provider shown on my application for a home loan.</p>
            <p>I acknowledge and agree that if I obtain a home loan with the Home Loan Provider, the Home Loan Provider will pay commission to Defence which will be disclosed in my
              loan documentation.</p>
            <p>The consents in this document are in addition to, and do not limit, any other consents given by me.</p>

            <br>

        </div>

      </section>
    </main>
    <script src="/docs/js/jquery-3.2.1.min.js"></script>
    <script src="/docs/js/main.js"></script>
    <%- include(partials+"footer") %>

</body>

</html>