<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Contact us | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <% include header-unauthenticated.ejs %>
  
  <main>
    <section>
      <div class="container" id="main-content">
            <% include breadcrumb-every-day-care.ejs %>
            <h1>Every day care</h1>
            <nav class="uikit-inpage-nav-links">
              <h2 class="uikit-inpage-nav-links__heading uikit-display-2">Contents</h2>
              <ul class="uikit-link-list">
                <li><a href="#section1">What is it?</a></li>
                <li><a href="#section2">Types available</a></li>
              </ul>
            </nav>
            <h2 id="section1">What is it?</h2>
            <p>DVA can help minimise the impact your injury or illness has in your daily life. This may include:</p>
            <ul>
              <li>Assistance with household activities.</li>
              <li>Support with personal care tasks.</li>
              <li>Modifications to your home or vehicle. </li>
            </ul>
            <h2 id="section2">Types available</h2>
            <h3>Household services</h3>
            <p>We may be able to assist you with household services if your injury or disease has impacted the proper running and maintenance of your household. Household services may be provided long-term or on a short-term basis (i.e. while you are recovering from surgery).</p>
            <p>Household services can include meal preparation, cooking, cleaning, laundry, ironing, shopping, lawn mowing and gardening. Requests for any other similar services can also be considered. Child care support can only be provided to address short term/crisis care, when usual child care arrangements are disrupted due to unexpected circumstances.</p>
            <a href="#">Discover more about Household Services.</a>
            <h3>Attendant care</h3>
            <p>We may be able to assist you with attendant care services if your injury or disease has made it difficult to manage your personal care.</p>
            <p>Attendant care services can include assistance with personal hygiene (bathing and toileting), grooming, dressing and feeding.</p>
            <p>We may be able to arrange assistance for ongoing requirements or on a short-term basis (i.e. while you are recovering from surgery).</p>
            <a href="#">Discover more about attendant care services.</a>
            <h3>Veterans’ Home Care (VHC)</h3>
            <p>We may be able to contribute to services if you need support living independently. Services may include:</p>
            <ul>
              <li>Domestic Assistance</li>
              <li>Personal Care</li>
              <li>Respite Care</li>
              <li>Safety-related Home and Garden Maintenance. </li>
            </ul>
            <p>Veterans’ Home Care may not be suitable if you have complex and high level needs.</p>
            <p>You will be required to make a co-payment to receive these services.</p>
            <p>You can call the VHC Assessment Agency on 1300 550 450^ for an assessment. The VHC assessor will discuss your circumstances with you to identify the range of services you may need.</p>
            <a href="#">Discover more about Veterans Home Care.</a>
            <h3>Motor Vehicle Compensation Scheme</h3>
            <p>We may be able to assist with the cost of necessary modifications to your vehicle.</p>
            <p>We can also provide payment of the full cost of a suitable and necessary motor vehicle in certain circumstances.</p>
            <a href="#">Discover more about the Motor Vehicle Compensation Scheme.</a>
            <h3>Home modifications</h3>
            <p>We may be able fund modifications to your home required due to a disability as part of our <a href="#">rehabilitation appliances program (RAP).</a></p>
            <p>We can arrange for you to be assessed by an appropriate health professional to determine your clinical needs.</p>
            <a href="#">Discover more about home modifications.</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <% include ../global/partials/footer.ejs %>
  <% include user/partials/panel-login.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>