<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Everyday care | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid landing-page unauth-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../partials/header-landing-page.ejs %>
  <% include ../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="container" id="main-content">
        <% include breadcrumb-everyday-care.ejs %>
        <h1>Everyday care</h1>

        <nav class="uikit-inpage-nav-links">
          <h2 class="uikit-inpage-nav-links__heading uikit-display-2">Contents</h2>
          <ul class="uikit-link-list">
            <li><a href="#section1">How we can help</a></li>
            <li><a href="#section2">Types available</a></li>
            <li><a href="#section4">How to apply</a></li>
          </ul>
        </nav>
        <h2 id="section1">How we can help</h2>

        <p>We can help minimise the impact your injury or illness has on your daily life.</p>

        <p>This may include:</p>

        <ul>
          <li>assistance with household activities</li>
          <li>support with personal care tasks</li>
          <li>modifications to your home or vehicle</li>
        </ul>

        <h2 id="section2">Types available</h2>

        <h3>Household services</h3>

        <p>If your accepted condition impacts the running and maintenance of your household, we may be able to assist you. We can assist on a long-term or short-term basis (for
          example, while you recover from surgery).</p>

        <p>Household services can include:</p>

        <ul>

          <li>meal preparation</li>
          <li>cooking</li>
          <li>cleaning</li>
          <li>laundry</li>
          <li>ironing</li>
          <li>shopping</li>
          <li>lawn mowing and gardening</li>

        </ul>

        <p>Requests for similar services can also be considered.</p>

        <p>Child care support can be provided to address short term or crisis care when unexpected circumstances disrupt your usual child care arrangements.</p>

        <p><a href="https://www.dva.gov.au/factsheet-mrc42-household-services">Discover more about household services.</a></p>

        <h3>Attendant Care</h3>

        <p>We may be able to assist you with attendant care services if your accepted condition makes it difficult to manage your personal care.</p>

        <p>Services can include assistance with:</p>

        <ul>
          <li>personal hygiene (bathing and toileting)</li>
          <li>grooming</li>
          <li>dressing</li>
          <li>feeding</li>
        </ul>

        <p>We may be able to arrange assistance for ongoing requirements or on a short-term basis (for example, while you recover from surgery).</p>

        <p><a href="https://www.dva.gov.au/factsheet-mrc41-attendant-care">Discover more about attendant care services.</a></p>

        <h3>Veterans' Home Care</h3>

        <p>If you need a small amount of support to continue living independently, we may be able to assist with the costs of services based on your assessed needs, even if your
          needs arise from non-service related issues.</p>

        <p>Services may include:</p>

        <ul>
          <li>domestic assistance</li>
          <li>personal care</li>
          <li>respite care</li>
          <li>safety-related home and garden maintenance</li>
        </ul>

        <p>You will be required to make a co-payment to receive most services. There is no co-payment for respite care services. VHC may not be suitable if you have complex and
          high-level needs.</p>

        <p>You can call the VHC Assessment Agency on 1300 550 450 for a phone assessment. The VHC assessor will discuss your circumstances with you to identify the services you may
          need.</p>

        <p><a href="https://www.dva.gov.au/factsheet-hcs01-veterans-home-care">Discover more about Veterans' Home Care.</a></p>

        <h3>Motor vehicle modifications</h3>

        <p>If you have an accepted condition, we may be able to assist with the cost of necessary modifications to your vehicle.</p>

        <p>We can also pay for a suitable and necessary motor vehicle in certain circumstances.</p>

        <p><a href="https://www.dva.gov.au/factsheet-mrc10-motor-vehicle-compensation-scheme-mvcs">Discover more about the Motor Vehicle Compensation Scheme.</a></p>

        <h3>Home modifications</h3>

        <p>We may be able fund modifications to your home required due to an accepted condition as part of our <a href="/medical-services">rehabilitation appliances program
            (RAP).</a></p>

        <p>We can arrange for you to be assessed by an appropriate health professional to determine your needs.</p>

        <p><a href="https://www.dva.gov.au/health-and-wellbeing/home-and-care/rehabilitation-appliances-program-rap">Discover more about home modifications.</a></p>

        <hr>

        <h2 id="section4">How to apply</h2>

        <% include how-to-apply.ejs %>

      </div>
    </section>
  </main>

  <% include ../../partials/footer.ejs %>
  <% include ../../partials/panel-login.ejs %>

</body>

</html>