<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Family and counselling services | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid landing-page unauth-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <%- include(partials+"header-landing-page") %>

  <main>
    <section>
      <div class="container" id="main-content">
        <% include breadcrumb-family-and-counselling%>
        <h1>Family and counselling services</h1>

        <nav class="uikit-inpage-nav-links">
          <h2 class="uikit-inpage-nav-links__heading uikit-display-2">Contents</h2>
          <ul class="uikit-link-list">
            <li><a href="#section1">How we can help</a></li>
            <li><a href="#section2">Types available</a></li>
            <li><a href="#section3">How to apply</a></li>
          </ul>
        </nav>
        <h2 id="section1">How we can help</h2>
        <p>We can provide you and your family with services to:</p>

        <ul>
          <li>promote good mental health</li>
          <li>provide support for the challenges of a military lifestyle</li>
        </ul>

        <p>We may also be able to offer educational and financial support to your dependants.</p>

        <h2 id="section2">Types available</h2>

        <h3>Psychosocial rehabilitation</h3>

        <p>If you have an accepted condition, we may be able to provide psychosocial rehabilitation.</p>

        <p>This may include:</p>

        <ul>
          <li>pain management programs</li>
          <li>illness self-management programs</li>
          <li>grief and loss counselling</li>
          <li>adjustment to disability counselling</li>
          <li>connection to community support services</li>
          <li>participation in community activities and programs</li>
        </ul>

        <p>We will arrange a rehabilitation assessment for you to discuss your circumstances and identify areas you wish to improve. A rehabilitation provider will work with you
          to create a plan to meet your goals.</p>

        <p>Your rehabilitation program may include <a href="/medical-services">medical management rehabilitation</a> and <a href="/career-guidance">vocational rehabilitation.</a>
        </p>

        <p><a href="https://www.dva.gov.au/factsheet-mrc07-permanent-impairment-compensation-payments">Discover more about psychosocial rehabilitation.</a></p>

        <h3>Open Arms – Veterans and Families Counselling</h3>

        <p>Open Arms offers free confidential counselling to veterans and their families. They also have group programs to help you learn about and address mental health concerns.
        </p>

        <p>Open Arms counsellors and staff understand veteran and military culture. This helps them provide specialised support and care.</p>

        <p>This can include:</p>

        <ul>
          <li>individual, couple and family counselling and support for those with more complex needs</li>
          <li>services to enhance family functioning and parenting</li>
          <li>after-hours crisis telephone counselling</li>
          <li>group programs to develop skills and enhance support</li>
          <li>information, education and self-help resources</li>
          <li>referrals to other services or specialist treatment programs</li>
        </ul>

        <p>Open Arms also provides family-focussed services in VVCS centres, including:</p>

        <ul>
          <li>family consultation</li>
          <li>‘Let’s talk about children’ sessions</li>
        </ul>

        <p>They can provide referrals to specialised services for families and children where appropriate.</p>

        <p>Open Arms offers a Stepping Out Program to improve your transition from the ADF to civilian life. It is<br> available to all ADF members, and their partners, who:</p>

        <ul>
          <li>are separating from the ADF</li>
          <li>separated from the ADF in the last 12 months</li>
        </ul>

        <p>To confirm your eligibility please call Open Arms on <strong>1800 011 046</strong> or visit <a href="https://www.vvcs.gov.au">www.vvcs.gov.au.</a></p>

        <h3>Education schemes</h3>

        <p>Education schemes help students achieve their potential in full-time education or career training.</p>

        <p>We can assist certain dependants of eligible ADF members, and former members, with accepted<br> conditions.
        </p>

        <p>Students may be eligible for the following benefits under the education schemes:</p>

        <ul>
          <li>education allowance</li>
          <li>special assistance</li>
          <li>fares allowance</li>
          <li>rent assistance</li>
          <li>additional tuition</li>
          <li>guidance and counselling</li>
          <li>tertiary Student Start-up and Relocation Scholarships</li>
          <li>Energy Supplement payments</li>
          <li>Income Support Bonus payments</li>
        </ul>

        <p><a href="https://www.dva.gov.au/factsheet-mrc47-education-schemes">Discover more about education schemes.</a></p>

        <hr>

        <h2 id="section3">How to apply</h2>

        <% include how-to-apply%>

      </div>
      </div>
      </div>
    </section>
  </main>

  <%- include(partials+"footer") %>
  <%- include(partials+"panel-login") %>

</body>

</html>