<header class="uikit-header uikit-header--dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <a href="/">
          <img src="/docs/images/logo-dva.svg" alt="" />
          <div class="separator"></div>
          <h1>MyService
            <sup class="beta large">Beta</sup>
          </h1>
        </a>
      </div>
      <div class="col-sm-4">
        <ul>
          <li class="header-profile">
            <button class="uikit-btn small" onclick="window.location.href = '/unauth/registration'">Register</button>
            <a href="#" class="panel-btn">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>