<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../partials/header-version.ejs %>
  <% include header-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <div class="row">
          <div class="col-sm-8">
            <h1>Get covered by DVA</h1>
            <p>DVA is simplifying the way it does business with clients. We need current and former members who enlisted
              after
              <strong>30 June 2004</strong> to help us test a new claims process.</p>
          </div>
          <div class="col-sm-4 ready-to-register">
            <button class="uikit-btn" onclick="window.location.href = '/unauth/registration'">Register</button> or
            <a href="#" class="panel-btn">
              <strong>Log&nbsp;in</strong>
            </a>
            <p>
              <a href="#" class="panel-help">How to register</a>
            </p>
          </div>
        </div>
    </section>

    <div class="container">
      <h2>Veteran and family support services</h2>

      <div class="start-three">
        <div class="card summary-card medical">
          <div class="summary-card-content">
            <h3>
              <a href="medical-services">Medical services</a>
            </h3>
            <p>Access medical treatment and programs to help with accepted service related injuries or conditions.</p>
          </div>
        </div>
        <div class="card summary-card financial">
          <div class="summary-card-content">
            <h3>
              <a href="financial-support">Financial support</a>
            </h3>
            <p>Access financial support including income replacement and compensation for accepted service related injuries
              or conditions.</p>
          </div>
        </div>
        <div class="card summary-card councelling">
          <div class="summary-card-content">
            <h3>
              <a href="family-and-counselling">Counselling and family services</a>
            </h3>
            <p>Access individual, couple and family counselling, and group programs to help you and your family understand
              and address mental health concerns.</p>
          </div>
        </div>
      </div>
      <!-- start-three -->

      <div class="start-three">
        <div class="card summary-card household">
          <div class="summary-card-content">
            <h3>
              <a href="everyday-care">Everyday care</a>
            </h3>
            <p>Improve your daily life with services covering household needs, personal care, and home or vehicle modifications.</p>
          </div>
        </div>
        <div class="card summary-card career">
          <div class="summary-card-content">
            <h3>
              <a href="career-guidance">Career guidance</a>
            </h3>
            <p>Access rehabilitation programs to help your career post ADF including assistance with finding a job, career
              guidance, and worksite assessments to ensure your injury or condition does not affect you at work.</p>
          </div>
        </div>
        <!--<div class="card summary-card community">
          <div class="summary-card-content">
            <h3><a href="family-services">Community support</a></h3>
            <p>DVA can provide rehabilitation programs to link you with community activities, programs and support services.</p>
          </div>
        </div>-->
      </div>
      <!-- start-three -->

      <div class="start-three">
      </div>
      <!-- start-three -->


    </div>
  </main>



  <% include ../../partials/footer.ejs %>
  <% include user/partials/panel-home-help.ejs %>
  <% include ../../partials/panel-login.ejs %>

</body>

</html>