<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../global/partials/header-topbar-unauth.ejs %>

    <main>

      <section class="hero-main">
        <div class="container margin-below--mid margin-above--large" id="main-content">
          <img src="../../docs/images/myservice-logo-cobranded-rev.svg" height="80">
          <h1 class="margin-above--none">A new way to claim</h1>
          <h2>for current and former serving ADF members and&nbsp;their&nbsp;families</h2>

          <div class="row">
            <div class="col-sm-6 col-md-offset-1 col-md-5 col-lg-offset-2 col-lg-4">
              <button class="uikit-btn uikit-btn--block" onclick="window.location.href = '/register'">
                <span class="panel-btn_text">Register for MyService</span>
              </button>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4">
              <button class="uikit-btn uikit-btn--block panel-btn" onclick="window.location.href = '/mygov-login'">
                <span class="panel-btn_text">Sign in with</span>
                <!-- <span class="panel-btn_text--small">with</span> -->
                <img class="panel-btn_image" src="../../docs/images/mygov-logo.svg" height="21">
              </button>
            </div>
          </div>
        </div>
      </section>


      <div class="container margin-above">
        <div class="row">
          <div class="col-xs-12 col-md-offset-2 col-md-8">
            <h1 class="ss-align--center">MyService makes it easier for you to access DVA services online</h1>
          </div>
        </div>
      </div>

      <div class="container margin-below--extra">
        <div class="row">
          <div class="col-xs-12 col-md-offset-2 col-md-5">
            <h2>We've made claiming simple</h2>
            <p>
              <ul>
                <li>Apply for instant cover for mental health treatment</li>
                <li>Access support for a service-related condition or injury</li>
                <li>Apply for an increase in your disability pension</li>
              </ul>
            </p>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>

      <div class="container margin-above--extra margin-below--extra">
        <div class="row">
          <div class="col-xs-12 col-md-offset-2 col-md-4">
          </div>
          <div class="col-md-4">

            <h2>We've made things clearer</h2>
            <p>
              <ul>
                <li>View your accepted conditions</li>
                <li>Access your digital DVA health card</li>
                <li>Track the status of your claims</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

      <div class="container margin-above--extra margin-below--extra">
        <div class="row">
          <div class="col-xs-12 col-md-offset-2 col-md-5">
            <h2>We're listening to you</h2>
            <p>Tell us how your service-related conditions are affecting your life. This helps ensure you get the right support.
            </p>
          </div>
        </div>
      </div>

      <div class="container margin-above--extra margin-below--extra">
        <div class="row">
          <div class="col-xs-12 col-md-offset-2 col-md-4">
            <h2 class="ss-align--center ">We're improving things</h2>
            <p>While MyService expands, you will also have access to MyAccount (our old way of claiming online).</p>
            <p>We're still moving features across to MyService. In the meantime, you can move between MyService and MyAccount
              to access what you need.
            </p>
          </div>
          <div class="col-xs-12 col-md-4">
            <h2 class="ss-align--center">We're linked to myGov</h2>
            <p>Register for MyService then link your account to myGov. Once linked, use your myGov login details to access MyService.</p>
          </div>
        </div>
      </div>



    </main>
    <% include ../global/partials/footer.ejs %>
      <script>
        $(document).ready(function () {
          localStorage.removeItem('claim-withdrawn');
        })
      </script>



</body>

</html>