<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include header-landing-page.ejs %>
  <main>

  <section class="hero-main">
    <div class="container" id="main-content">
      <h1>An easier way to claim</h1>
      <p>If you are a current or former ADF member, try our new claims process.</p>
      <button class="uikit-btn" onclick="window.location.href = '/register'">Register</button>&nbsp;<button class="uikit-btn panel-btn">Log in</button>
    </div>
  </section>
  
  <section class="feature">
 	<div class="container howitworks feature-group">
 		<div class="feature-col span-narrow-spacer"></div>
 		
		<div class="feature-col feature-1-of-5 feature--wide">
			<img src="/docs/images/howitworks-01.png" alt="Step 1, Register icon" class="howitworks-img">
            <div class="feature-body">
            <h2>Register for MyService</h2>
            <a href="/register">Register now</a>
            </div>
		</div>
		<div class="feature-col feature--narrow">
			<img src="/docs/images/arrow-right-01.png" alt="right pointing arrow" class="arrow-img">
		</div>
		<div class="feature-col feature-1-of-5">
			<img src="/docs/images/howitworks-02.png" alt="Step 2, Lodge claim icon" class="howitworks-img">
            <div class="feature-body">
            <h2>Lodge your claim</h2>
			</div>
		</div>
		<div class="feature-col feature--narrow">
			<img src="/docs/images/arrow-right-02.png" alt="right pointing arrow" class="arrow-img">
		</div>
		<div class="feature-col feature-1-of-5 feature--wide">
			<img src="/docs/images/howitworks-03.png" alt="Step 3, Access support icon" class="howitworks-img">
            <div class="feature-body">
            <h2>Access support services</h2>
			</div>
		</div>
		
		
	</div>
  </section>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>What is MyService?</h2>
          <p>MyService is an online claims processing portal that streamlines and simplifies the way you make DVA claims.</p>
          <p>If you are a current or former ADF member, you can use MyService to access health and support services offered by the DVA.</p>
		  </div>
         <div class="col-md-6">
          <h2>Why use MyService?</h2>
          <p>With MyService you can:</p>
          <ul>
            <li>claim for a condition related to your service</li>
            <li>access free mental health treatment</li>
            <li>manage your personal details</li>
            <li>view your DVA health card</li>
            <li>find health services that are right for you</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <% include ../global/partials/footer.ejs %>
  <% include user/partials/panel-home-help.ejs %>
  <% include user/partials/panel-login.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
</body>
</html>
