<!DOCTYPE html>
<html class="js" lang="en" data-auth="false">

<head>
  <title>Home | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../partials/header-topbar-unauth.ejs %>
    <% include ../../partials/header-nom-rep.ejs %>
      <main>

        <section class="section-hero">
          <div class="container margin-below--extra" id="main-content">
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
                <img class="section-hero__logo" src="/docs/images/myservice-logo-cobranded-stacked.svg" alt="The Department of Veterans' Affairs logo and MyService Beta logo appearing side by side"
                  title "Department of Veterans' Affairs - MyService Beta">
              </div>
            </div>

            <h1 class="section-hero__heading">A new way to claim</h1>

            <h2 class="section-hero__subheading margin-below--none">for current and former serving ADF members and&nbsp;their&nbsp;families</h2>

            <div class="row margin-below--extra">
              <!-- <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-lg-offset-2 col-lg-4">
            <button class="uikit-btn uikit-btn--block section-hero__btn" onclick="window.location.href = '/unauth/registration'">
              <span class="section-hero__btn---text section-hero__btn--image">Register for MyService</span>
            </button>
          </div> -->
              <div class="flex-container">
                <div class="col-xs-12 col-sm-6 col-lg-4">
                  <button class="uikit-btn uikit-btn--block uikit-btn--mygov section-hero__btn margin-below--mid" onclick="window.location.href = '/auth/mygov-login'">
                    <span class="section-hero__btn--text">Sign in with</span>
                    <img class="section-hero__btn--image" src="/docs/images/mygov-logo.svg" alt="myGov logo" title="Sign in with myGov">
                  </button>
                  <p class="margin-below--none">New to MyService?
                    <br>Register after you sign into myGov</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="story pointing-block">
          <div class="pointing-block__top"></div>
          <div class="container">
            <div class="row margin-above--extra story__section">
              <div class="col-xs-12 col-md-offset-1 col-md-10">
                <h2 class="story__heading">MyService makes it easier for you to access DVA services&nbsp;online</h2>
              </div>
            </div>

            <div class="mys-grid">
              <div class="mys-grid__row story__section">
                <div class="mys-grid__cell">
                  <h2 class="story__heading story__heading--left">Claiming made&nbsp;simple</h2>
                  <p>
                    <span class="heading heading--spacer"></span>
                  </p>
                  <ul class="story-points">
                    <li>Apply for free mental health&nbsp;treatment</li>
                    <li>Access support for a service-related condition&nbsp;or&nbsp;injury</li>
                    <li>Claim for an increase in your disability&nbsp;pension</li>
                  </ul>
                </div>
                <div class="mys-grid__cell">
                  <img class="story__image" src="/docs/images/hp-claims.png" alt="Image depicting the MyService claims page that includes the words Claim now for service-related injuries or illness, and a button to make claim."
                    title="Make a claim for service-related injuries or illness">
                </div>
              </div>

              <div class="mys-grid__row story__section margin-below--extra">
                <div class="mys-grid__cell">
                  <h2 class="story__heading story__heading--left">Easy access</h2>
                  <p>
                    <span class="heading heading--spacer"></span>
                  </p>
                  <ul class="story-points">
                    <li>Access your digital DVA Veteran&nbsp;Card</li>
                    <li>View your accepted conditions</li>
                    <li>Track the status of your claims</li>
                  </ul>
                </div>
                <div class="mys-grid__cell">
                  <img class="story__image" src="/docs/images/hp-healthcard.png" alt="Image depicting the MyService health card page that includes a digital version of a DVA white card" title="Access your DVA Veteran Card">
                </div>
              </div>
            </div>

          </div>
          <div class="pointing-block__bottom"></div>
        </div>

        <div class="story">
          <div class="container">
            <div class="row story__section story__section--padded">
              <div class="col-xs-12 col-sm-4 story__three-column">
                <img class="story__image story__image--small" src="/docs/images/hp-listening.svg">
                <h2 class="story__heading story__heading--left">We're listening to you</h2>
                <p>
                  <span class="heading heading--spacer"></span>
                </p>
                <p class="story__text">Use MyService to tell us how your service-related conditions are affecting your life. This helps ensure you get the right support.
                </p>
              </div>

              <div class="col-xs-12 col-sm-4 story__three-column">
                <img class="story__image story__image--small" src="/docs/images/mygov-connect.svg">
                <h2 class="story__heading story__heading--left">We're linked to myGov</h2>
                <p>
                  <span class="heading heading--spacer"></span>
                </p>
                <p class="story__text">Register for MyService then link your account to myGov. Once linked, use your myGov login details to access MyService.
                </p>
              </div>

              <div class="col-xs-12 col-sm-4 story__three-column">
                <img class="story__image story__image--small" src="/docs/images/hp-improvements.svg">
                <h2 class="story__heading story__heading--left">We're improving things</h2>
                <p>
                  <span class="heading heading--spacer"></span>
                </p>
                <p class="story__text">While MyService expands, MyAccount will still be available. If you are an existing MyAccount user you will also have access to MyService. &nbsp;
                  <a href="/myaccount" style="color:white;">Login to MyAccount</a>
                </p>
              </div>
            </div>

          </div>
        </div>


      </main>
      <% include ../../partials/footer.ejs %>

</body>


</html>
