<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <!--<% include ../global/partials/header-system-message.ejs %>-->
  <% include header-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
      <div class="row">
        <div class="col-sm-8">
          <h1>Get covered by DVA</h1>
          <p>DVA is simplifying the way it does business with clients. We need current and former members who enlisted after <strong>30 June 2004</strong> to help us test a new claims process.</p>
        </div>
        <div class="col-sm-4 ready-to-register">
          <button class="uikit-btn" onclick="window.location.href = '/register-step1'">Register</button> or <a href="#" class="panel-btn"><strong>Log&nbsp;in</strong></a>
          <p><a href="#" class="panel-help">How to register</a></p>
        </div>
      </div>
    </section>

    <div class="container">
      <h2>Veteran and family support services</h2>

      <div class="start-three">
        <div class="summary-card medical">
          <div class="summary-card-content">
            <h3>Medical services</h3>
            <p>DVA covers medical treatment for injuries or illnesses accepted as related to your service.</p>
            <p>This includes covering the cost of your medical appointments, surgery, prescriptions and medical aids. DVA can also provide rehabilitation programs to help you manage your injury or illness.</p>
            <p><a href="medical-services">More about medical services</a></p>
          </div>
        </div>
        <div class="summary-card household">
          <div class="summary-card-content">
            <h3>Household services</h3>
            <p>DVA can help minimise the impact your injury or illness has in your daily life. This can range from support with personal care tasks (e.g. bathing, grooming, dressing) to modifications to your home or vehicle (e.g. installing rails and ramps).</p>
            <p><a href="household-services">More about household services</a></p>
          </div>
        </div>
      </div><!-- start-three -->

      <div class="start-three">
        <div class="summary-card career">
          <div class="summary-card-content">
            <h3>Career guidance</h3>
            <p>DVA can provide rehabilitation programs to assist your career after the ADF through assistance with finding a job, career guidance and study options.</p>
            <p>DVA can also provide support to make sure your injury or illness does not affect you at work (e.g. organising a workplace assessment).</p>
            <p><a href="family-services">More about career guidance</a></p>
          </div>
        </div>
        <div class="summary-card councelling">
          <div class="summary-card-content">
            <h3>Counselling and family services</h3>
            <p>Through Veterans and Veterans Families Counselling Service (VVCS), DVA offers individual, couple and family counselling, and group programs to help ADF members and their families understand and address mental health concerns.</p>
            <p><a href="medical-services">More about counselling and family services</a></p>
          </div>
        </div>
        <div class="summary-card community">
          <div class="summary-card-content">
            <h3>Community support</h3>
            <p>DVA can provide rehabilitation programs to link you with community activities, programs and support services.</p>
            <p><a href="family-services">More about community support</a></p>
          </div>
        </div>
      </div><!-- start-three -->

      <div class="start-three">
        <div class="summary-card financial">
          <div class="summary-card-content">
            <h3>Financial support</h3>
            <p>DVA can provide financial assistance for a loss of income if your injury or illness has impacted your ability to work.</p>
            <p>For serving members this can include missed allowances (e.g. field allowance, seagoing allowance).</p>
            <p><a href="household-services">More about financial support</a></p>
          </div>
        </div>
      </div><!-- start-three -->


    </div>
  </main>
  <% include ../global/partials/footer.ejs %>
  <% include user/partials/panel-home-help.ejs %>
  <% include user/partials/panel-login.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>
