<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home - login error | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <!--<% include ../global/partials/header-system-message.ejs %>-->
  <% include header-landing-page.ejs %>
  <main>

    <section class="hero-main">
      <div class="container" id="main-content">
        <h1>Get covered by DVA</h1>
        <p>DVA is simplifying the way it does business with clients. We need current and former members who enlisted after <strong>30 June 2004</strong> to help us test a new claims process.</p>
      </div>
    </section>

    <div class="container">
      <h2>Who can use the trial</h2>
      <p>For now, only those who enlisted in the ADF after 30 June 2004 can use MyService. In the future we will be opening the trial to a wider group, <a href="#">feedback</a> is welcome.</p>

      <div class="row">
        <div class="col-sm-8">
          <section class="numbered-steps">
            <h2>How it works</h2>
            <ol>
              <li>
                <span class="numbers number-1"></span>
                <span class="numbered-steps-content">
                  <h3>Register with MyService</h3>
                  <p>If you have already registered, simply log in. New registration can take 2-3 business days.</p>
                </span>
              </li>
              <li>
                <span class="numbers number-2"></span>
                <span class="numbered-steps-content">
                  <h3>Request cover</h3>
                  <p>Have your medical diagnosis ready to upload. Download a <a href="#">diagnosis form</a> for your medical provider here.</p>
                </span>
              </li>
              <li>
                <span class="numbers number-3"></span>
                <span class="numbered-steps-content">
                  <h3>Submit your request</h3>
                  <p>If we need more information, we will let you know.</p>
                </span>
              </li>
            </ol>
          </section>
          <div class="register">
            <button class="uikit-btn" onclick="window.location.href = '/register-step1'">Register</button> or <a href="#" class="panel-btn">Log in</a>
          </div>
        </div>
        <div class="col-sm-4">
          <section class="uikit-callout what-you-need">
            <h2>What you need</h2>
            <ul>
              <li class="ico-key">Your PMKeyS number</li>
              <li class="ico-calendar">Date of enlistment</li>
              <li class="ico-card">Either your current driver's licence or Medicare card</li>
              <li class="ico-docs">A medical diagnosis and any supporting documents</li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </main>
  
  <script src="/docs/js/jquery-3.2.1.min.js"></script>
  <script src="/docs/js/main.js"></script>
  <% include ../global/partials/footer.ejs %>
  <% include user/partials/panel-login-errors.ejs %>

</body>
</html>
