<!doctype html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>MyService</title>

  <script type="text/javascript">
    (function () {
      window.loading = true;

      var preloadInt = setInterval(function () {
        if (!window.loading) {
          var element = document.getElementById('preloader');
          element.parentNode.removeChild(element);
          clearInterval(preloadInt);
        }
      }, 100);

    })();

    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    window.ga = ga;

  </script>

  <style>
    #preloader {
      position: fixed;
      top: -100px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #1057a7 url('/docs/images/dva-logo-reversed.svg') center center no-repeat;
      background-size: 300px;
      transition: all 0.3s ease-in-out;
    }

    #preloader:before {
      content: "";
      position: absolute;
      top: calc(50% + 80px);
      left: calc(50% - 21.5px);
      width: 43px;
      height: 43px;
      border-radius: 100%;
      border: 1px dashed #fff;
      animation: spinner 3s infinite linear;
      box-sizing: border-box;
    }

    @keyframes spinner {
      0% {
        transform: rotate(0deg)
      }

      100% {
        transform: rotate(360deg)
      }
    }

  </style>

</head>

<body class="uikit-body uikit-grid">
  <!-- <mysvc-root>
   </mysvc-root> -->

  <div id="preloader"></div>

</body>

</html>
