<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home - login error | MyService</title>
  <% include ../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../partials/header-version.ejs %>
    <!--<% include ../../partials/header-system-message.ejs %>-->
    <% include header-landing-page.ejs %>
      <main>

        <section class="hero-main">
          <div class="container" id="main-content">
            <h1>An easier way to claim</h1>
            <p>If you are a current or former ADF member who enlisted after
              <strong>30 June 2004</strong>, try our new claims process.</p>
          </div>
        </section>

        <div class="container">
          <h2>Who can use MyService</h2>
          <p>For now, you can only use MyService if you enlisted in the ADF after 30 June 2004. We will open MyService to a
            wider group in the furture,
            <a href="#">feedback</a> is welcome.</p>

          <div class="row">
            <div class="col-sm-8">
              <section class="numbered-steps">
                <h2>How it works</h2>
                <ol>
                  <li>
                    <span class="numbers number-1"></span>
                    <span class="numbered-steps-content">
                      <h3>Register with MyService</h3>
                      <p>Registrations are approved within 1 business day.</p>
                    </span>
                  </li>
                  <li>
                    <span class="numbers number-2"></span>
                    <span class="numbered-steps-content">
                      <h3>Make a claim</h3>
                      <p>Upload your medical diagnosis. If you do not have one, ask your GP or specialist to
                        <a href="#">download and complete a diagnosis form (128KB PDF).</a>
                      </p>
                      <p>You do not need a diagnosis for mental health treatment.</p>
                    </span>
                  </li>
                  <li>
                    <span class="numbers number-3"></span>
                    <span class="numbered-steps-content">
                      <h3>Submit your claim</h3>
                      <p>If we need more information, we will let you know.</p>
                    </span>
                  </li>
                </ol>
              </section>
              <div class="register">
                <button class="uikit-btn" onclick="window.location.href = '/unauth/registration'">Register</button> or
                <a href="#" class="panel-btn">Log in</a>
              </div>
            </div>
            <div class="col-sm-4">
              <section class="uikit-callout what-you-need">
                <h2>What you need</h2>
                <ul>
                  <li class="ico-key">Your PMKeyS number</li>
                  <li class="ico-calendar">Date of enlistment</li>
                  <li class="ico-card">Your current driver's licence or Medicare card</li>
                  <li class="ico-docs">A medical diagnosis and any supporting documents</li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </main>

      <% include ../../partials/footer.ejs %>
        <% include user/partials/panel-login-errors.ejs %>

</body>

</html>