<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Contact us | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <% include header-unauthenticated.ejs %>
  
  <main>
    <section>
      <div class="container" id="main-content">
            <% include breadcrumb-medical-services.ejs %>
            <h1>Medical services</h1>
            <nav class="uikit-inpage-nav-links">
              <h2 class="uikit-inpage-nav-links__heading uikit-display-2">Contents</h2>
              <ul class="uikit-link-list">
                <li><a href="#section1">What is it?</a></li>
                <li><a href="#section2">Types available</a></li>
                <li><a href="#section3">Medical expenses privately incurred</a></li>
                <li><a href="#section4">DVA arranged Transport</a></li>
              </ul>
            </nav>
            <h2 id="section1">What is it?</h2>
            <p>We provide a wide range of health services for current and former members of the Australian Defence Force (ADF), war widows and widowers, and dependants, where clinically required.</p>
            <h2 id="section2">Types available</h2>
            <h3>DVA Health Card</h3>
            <p>Once we have accepted liability for your service-related condition a DVA Health Card may be issued to former members of the ADF, current part-time Reservists, cadets and, in limited circumstances, to full-time members.</p>
            <p>If the treatment you are seeking is related to your accepted condition, present your DVA Health Card whenever you visit:</p>
            <ul>
              <li>a doctor, medical specialist, dentist, pharmacist, dental prosthetist, optometrist or other health care professional who provides services under DVA arrangements and to whom you are referred for treatment; or</li>
              <li>a hospital or day procedure facility.</li>
            </ul>
            <p><a href="">Discover more about the DVA Health Card.</a></p>
            <h3>Rehabilitation Appliances Program</h3>
            <p>The Rehabilitation Appliances Program (RAP) seeks to assist the veteran community to be independent and self-reliant in their own homes.</p>
            <p>This is achieved through health care assessments and the provision of aids and appliances to help minimise the impact of disabilities, enhance quality of life and maximise independence. RAP provides equipment according to each person’s assessed clinical need as part of the overall management of their health care.</p>
            <p>To access the benefits of the RAP your needs will be assessed by your doctor or another health professional, such as an occupational therapist. Their referral and prescription will be sent to an appropriate supplier or DVA to arrange issue of the item to you.</p>
            <p><a href="">Discover more about Rehabilitation Appliances Program.</a></p>
            <h3>Medical Management Rehabilitation</h3>
            <p>Medical management rehabilitation may involve assistance with coordinating your treatment or medical needs, or assistance with managing your conditions more effectively. Medical management may involve supporting you to attend and participate in medical and allied health services specifically aimed at treating your conditions to achieve recovery and wellbeing goals.</p>
            <p>A rehabilitation assessment will provide you with an opportunity to discuss your particular circumstances and identify the areas you wish to improve. A rehabilitation provider will then work collaboratively with you to create goals for your rehabilitation program and a plan to meet these goals.</p>
            <p><a href="">Discover more about Medical Management Rehabilitation.</a>
            <h3>Coordinated Veterans Care</h3>
            <p>Coordinated Veterans Care (CVC) is a health care program available to eligible DVA Card (Gold) holders who have one or more chronic conditions, complex care needs and are at risk of unplanned hospitalisation. By encouraging a greater level of planning and coordination of health care services, the CVC Program aims to reduce unplanned hospitalisations and improve participants’ quality of life.</p>
            <p><a href="">Discover more about Coordinated Veterans Care.</a></p>
            <h2 id="section3">Medical expenses privately incurred</h2>
            <p>If you have incurred medical expenses in relation to your condition you can seek reimbursement under the following scenarios:</p>
            <ol>
              <li>The first situation is where you have submitted a compensation claim to DVA for a particular condition and you are waiting for DVA to make a decision on your health entitlement. Should you be deemed eligible, you are then able to claim for any medical expenses that you incurred in the waiting period between the effective date and the decision date of your entitlement being granted.</li>
              <li>The second situation is where you already have eligibility, i.e. you have a DVA Health Card (Gold, White or Orange Card) and you were;
                <ul>
                  <li>not able to use this card when you received a service, and</li>
                  <li>have paid for the service out of your own pocket.</li>
                </ul>
              </li>
              <p><a href="">Discover more about seeking reimbursement for medical expenses.</a></p>
              <h2 id="section4">DVA arranged Transport (Repatriation Transport Scheme)</h2>
              <p>The Repatriation Transport Scheme (RTS) allows DVA to provide a pre-booked taxi or hire car service under the Booked Car Scheme (BCS) for travel to approved treatment locations from your permanent residence. If you are travelling away from home and require medical treatment, DVA can also provide this service to and from your temporary residence.</p>
              <p><a href="">Discover more about arranging transport for treatment appointments.</a></p>
              <hr>
              <h3>How do I apply?</h3>
              <ol>
                <li>Submit a request for cover with MyService.</li>
                <li>A representative will call you to discuss your claim including support services.</li>
              </ol>
          </div>
        </div>
      </div>
    </section>
  </main>

  <% include ../global/partials/footer.ejs %>
  <% include user/partials/panel-login.ejs %>

  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
</body>
</html>