<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <link href="/docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid landing-page-authenticated">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-staff--home") %>
  <%- include(partials+"header-nom-rep") %>
  <main>

    <section class="hero-auth">
      <div class="container" id="main-content">
        <h1>Claims</h1>
        <p class="text-fullwidth">Number of claims</p>

        <table class="table-responsive">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>ID Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Mary</td>
              <td>Jones</td>
              <td>62843</td>
            </tr>
            <tr>
              <th>2</th>
              <td>John</td>
              <td>Smith</td>
              <td>37225</td>
            </tr>
            <tr>
              <th>3</th>
              <td>Frank</td>
              <td>Watson</td>
              <td>84775</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

  </main>
  <%- include(partials+"footer") %>

</body>

</html>