<%#- include(templates+"header", {
  claim: "Unauthenticated"
})  %>
<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Contact us | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <%- include(partials+"components/layout/header-claims") %>

  <main>
    <section>
      <div class="container tc-detail" id="main-content">
        <%- include(partials+"content/breadcrumbs/breadcrumb-terms-and-use") %>
        <h1>Terms of use</h1>
        <nav class="uikit-inpage-nav-links">
          <h2 class="uikit-inpage-nav-links__heading uikit-display-2">Contents</h2>
          <ul class="uikit-link-list">
            <li><a href="#section1">1. Introduction</a></li>
            <li><a href="#section2">2. Your responsibilities</a></li>
            <li><a href="#section3">3. Our responsibilities</a></li>
            <li><a href="#section4">4. MyService account</a></li>
            <li><a href="#section5">5. MyService Platform</a></li>
            <li><a href="#section6">6. General</a></li>
            <li><a href="#section7">7. Definitions</a></li>
          </ul>
        </nav>
        <h2 id="section1">1. Introduction</h2>
        <h3>1.1 About these terms of use</h3>
        <p>These terms of use describe what you need to know and understand about your rights and responsibilities as a user of MyService.</p>
        <p>By registering for MyService you are agreeing:</p>
        <ul>
          <li>to be bound by these terms of use; and</li>
          <li>to comply with all of your responsibilities, as set out in these terms of use.</li>
        </ul>
        <p>Some of the words in these terms of use have a particular meaning. These words, and the meaning of these words, are set out in the definitions table at section 9 of
          these terms of use. You can skip to the definitions table by selecting 'Go to definitions' at the end of each paragraph.</p>
        <h3>1.2 About using MyService</h3>
        <p>MyService is operated by the Australian Government, as represented by the Department of Veterans’ Affairs (the department).</p>
        <p>Once your registration for MyService is authenticated, you will be able to:</p>
        <ul>
          <li>view and edit your MyService account;</li>
          <li>lodge a claim for cover for an injury or condition;</li>
          <li>seek assistance with lodging a claim for cover;</li>
          <li>track your pending claim/s for cover;</li>
          <li>view your pending, approved and/or rejected claim/s for cover; and</li>
          <li>seek further information about how to appeal a decision.</li>
        </ul>
        <p>As MyService is still a trial, lodgement of Application for Increase on accepted VEA disabilities is not currently available as a claim option. Options for lodging an
          application of this kind online can be found at <a class="external-link" href="https://www.dva.gov.au/about-dva/doing-business-dva/online-services">online services</a>.
        </p>
        <h3>1.3 Changes to MyService and these terms of use</h3>
        <p>The department may change, add or remove any of the functionality of MyService, or make changes to these terms of use at any time. If those changes affect your rights or
          responsibilities, the department will tell you and you will be asked to accept the new terms of use. If you are told about a new version of the terms of use, you will
          need to accept them before you will be able to access your MyService account.</p>
        <h2 id="section2">2. Your responsibilities</h2>
        <h3>2.1 Registering for and using your MyService account</h3>
        <p>You will need to:</p>
        <ul>
          <li>be a natural person who is a permanent member of the Australian Defence Force who enlisted after 30 June 2004 to register for MyService;</li>
          <li>supply your personal information (including your name, date of birth and email address) and service information (including your PMKeys number and date of enlistment)
            to register for MyService;</li>
          <li>supply your health information (about an injury or condition) to lodge a claim for cover through MyService; and</li>
          <li>make sure your personal, service and health information is accurate and kept up to date with MyService.</li>
        </ul>
        <p>You must not:</p>
        <ul>
          <li>register for, or try to register for, MyService using another person's information;</li>
          <li>access, or try to access, any other person's MyService account; or</li>
          <li>allow any other person to register for MyService, or access your MyService account, on your behalf.</li>
        </ul>
        <p>If you can't access MyService yourself, rather than allow another person to register for MyService on your behalf, or access your MyService account on your behalf, which
          is not permitted, you should contact the department using the details available at <a href="#ContactUsScreen">Contact us</a>.</p>
        <h3>2.2 Keeping your MyService Security Details safe</h3>
        <p>You must:</p>
        <ul>
          <li>keep your MyService Security Details secure at all times and not share them with any other person;</li>
          <li>not allow any other person to use your MyService Security Details; and</li>
          <li>if you think that the security of your MyService account may have been compromised (for example, if your MyService Security Details have been, or may be, accessed by
            another person without your permission) you should tell the department as soon as possible using the details at <a href="#ContactUsScreen">Contact us</a>.</li>
        </ul>
        <h3>2.3 Protecting your MyService account</h3>
        <p>While the department actively protects the security of your MyService account, we also recommend you are careful to maintain the security of your MyService account by
          taking the following precautions.</p>
        <p>To protect access to your account you should:</p>
        <ul>
          <li>use a strong password that is easy for you to remember but hard for others to guess. If you forget your password, select Forgot your password? on the MyService sign
            in page to create a new one;</li>
          <li>avoid reusing passwords and PINs by choosing a password or MyService PIN that you don't use for any other online accounts;</li>
          <li>change your password regularly;</li>
          <li>never share your password or send it by email or SMS;</li>
          <li>never share your email account password with anyone;</li>
          <li>always sign out of your MyService account when you have finished using it;</li>
          <li>check for the Extended Validation Certificate indicator in your browser's address bar when accessing MyService. Each browser shows The Extended Validation Certificate
            in a different way. Usually this is a green box or bar with a padlock icon.</li>
        </ul>
        <p>Take extra steps to protect your account when you use a computer in a public location to access your MyService account.</p>
        <ul>
          <li>don't let other people see you enter your password or answers to your secret questions;</li>
          <li>always sign out of your MyService account when you have finished; and</li>
          <li>clear the browser cache, cookies and history after you have signed out of your MyService account.</li>
        </ul>
        <h3>2.4 How you must not use MyService</h3>
        <p>You are solely responsible for your use of MyService (and any material made available on it). As such, you must not use MyService or your MyService account:</p>
        <ul>
          <li>in a way that infringes anyone else's rights or prevents them from using MyService;</li>
          <li>in any way which may harass or cause distress to anyone;</li>
          <li>to cause disruption to MyService;</li>
          <li>to post personal information of others without their express consent;</li>
          <li>to post or transmit abusive, defamatory, obscene, offensive, or provocative material;</li>
          <li>to participate in any illegal or fraudulent activity, including making a fraudulent claim;</li>
          <li>to attempt to access any other person's information;</li>
          <li>to impersonate any other person; or</li>
          <li>to post or transmit material that breaks or encourages others to break the law.</li>
        </ul>
        <p>If you use MyService or your MyService account to do any of the above things, your MyService account may be locked, suspended or terminated and you may even face civil
          or criminal penalties (depending on what has happened).</p>
        <p>You must also not use any software (for example, bots or scraper tools) or other automatic devices to access, monitor or copy MyService or its contents.</p>
        <h3>2.5 Information that you provide on MyService</h3>
        <p>You need to provide complete and correct information when using MyService or your MyService account.</p>
        <p>Providing incomplete, inaccurate, false or misleading information to MyService may result in prosecution and civil or criminal penalties.</p>
        <h3>2.6 Availability of your MyService account</h3>
        <p>If MyService is not available for any reason, you can communicate directly with the department in writing, by telephone or in person by using the details at <a
            href="#ContactUsScreen">Contact us</a>.</p>
        <h2 id="section3">3. Our responsibilities</h2>
        <h3>3.1 What we are responsible for</h3>
        <p>The department will take reasonable care in providing information and services through MyService.</p>
        <h3>3.2 What we are not responsible for</h3>
        <p>The department is not responsible for ensuring:</p>
        <ul>
          <li>that MyService is error free;</li>
          <li>that any defects in MyService will be rectified; or</li>
          <li>that you will have continuous access to MyService.</li>
        </ul>
        <p>In using MyService, and to the greatest extent permitted by law, you agree to hold the department harmless from any Loss, however caused, which you may directly or
          indirectly suffer in connection with MyService. This includes (without limitation) any Loss as a result of your use of My Service, your inability to access MyService, any
          errors made by the department or any third party with respect to material on MyService, and your reliance on any material included on MyService.</p>
        <p>The department, to the greatest extent permitted by law, does not give any warranty, representation or guarantee:</p>
        <ul>
          <li>as to the availability, accuracy, currency, completeness, quality, reliability or suitability of MyService, or any material contained on it, for any purpose, or</li>
          <li>that MyService will be free from defects, viruses and other malware, third party interception or other security threats or vulnerabilities, or</li>
          <li>that any material on MyService does not infringe the intellectual property rights (or any other rights) of any person</li>
        </ul>
        <h3>3.3 Security</h3>
        <p>The department is responsible for ensuring the security of information while it is being collected by, stored on or passing through the MyService digital service.</p>
        <p>The Department of Defence is responsible for the security of your information while it is collected by, stored on or passing through systems within their control. It is
          important that you read and comply with their terms of use (if any).</p>
        <p>Your personal information is stored securely by the department following best practice security recommendations. Your MyService account information can only be accessed
          by authorised officers of MyService. All access to MyService is checked by the department and officers are trained on a regular basis about their privacy and security
          obligations.</p>
        <p>Any officer who accesses MyService account information without authority can be subject to Code of Conduct proceedings under the <em>Public Service Act 1999</em>, and if
          a criminal offence has been committed may be prosecuted and penalised</p>
        <h3>3.4 Privacy</h3>
        <p>Your personal information is protected by law, under the <em>Privacy Act 1988</em> and is managed by the department (as the administrator of MyService) as set out in the
          <a class="external-link" href="https://www.dva.gov.au/site-information/privacy/privacy-notice-%E2%80%93-financial-and-health-information" target="_blank">Financial and
            Health Information Privacy Notice</a>.</p>
        <p>You can find more information about the way in which the department will manage your personal information by accessing the <a class="external-link"
            href="http://www.dva.gov.au/site-information/privacy" target="_blank">department's privacy policy</a>.</p>
        <h2 id="section4">4. MyService account</h2>
        <h3>4.1 Consent to the collection and use of MyService information</h3>
        <p>By registering for MyService, you consent to:</p>
        <ul>
          <li>MyService sharing your name, email, date of birth, PMKeys number and date of enlistment with the Department of Defence for the purposes of authenticating your
            registration for MyService;</li>
          <li>MyService collecting and using your PMKeys data from the Department of Defence for the purposes of creating your MyService Profile;</li>
          <li>MyService collecting your health information from medical and health professionals hospitals, clinics, insurance companies, the Department of Defence, other
            Commonwealth Departments or Agencies, or other organisations in relation to this claim or its review.</li>
        </ul>
        <p>The authority to obtain information relevant to your claim is contained in the provisions of the <em>Military Rehabilitation and Compensation Act 2004 (MRCA)</em>,
          <em>Veterans’ Entitlements Act 1986 (VEA)</em> and the <em>Safety, Rehabilitation and Compensation (Defence–related Claims) Act 1988 (DRCA)</em>. By registering for
          MyService you consent to the department considering your claim under one or more of the above Acts. You understand that the information sought on the claim form is
          required to assess your eligibililty for compensation under all Acts (VEA, DRCA and MRCA) that may be applicable to the injury or disease which you are now claiming.</p>
        <h3>4.2 MyService messages</h3>
        <p>MyService will send messages by email to the address you use to log in to MyService. You are responsible for ensuring that your email address is kept up to date.</p>
        <p>It is your responsibility to ensure you read all messages in a timely manner. The department is not responsible for any Loss that may arise as a result of you not
          accessing a new Message in your email account or if there is a delivery failure with a Notification.</p>
        <h2 id="section5">5. MyService Platform</h2>
        <h3>5.1 Licence to use the MyService Platform</h3>
        <p>The department gives you permission (in the form of a non-transferable, non-exclusive, revocable licence) to use the MyService Platform on your compatible device(s)
          provided that you comply with these terms of use and any other applicable laws.</p>
        <h3>5.2 Access to your hardware or software features</h3>
        <p>When you use the MyService Platform, you may be asked for your permission to access certain hardware or software features of your compatible device. These features may
          include your camera, call functions or other features notified to you.</p>
        <p>Access to these features will be permitted if you give your consent, but only for the purpose of the particular functions of the MyService Platform (for example, access
          to the camera so that you can take a picture of a document and upload it to MyService).</p>
        <p>If you consent to the use of those features, neither the MyService Platform, nor the department, will have access to any other features or personal information on your
          device.</p>
        <h3>5.3 Updates to a MyService Platform</h3>
        <p>You should ensure that you download any available updates to the MyService Platform).</p>
        <p>You acknowledge that if you do not update the MyService Platform, you may experience trouble accessing MyService.</p>
        <h2 id="section6">6. General</h2>
        <h3>6.1 Suspension or termination of your MyService access</h3>
        <p>The department may lock, suspend or terminate your MyService access or account(s) at any time and for any reason for any breach of these terms of use or any other
          unacceptable activity.</p>
        <h3>6.2 Laws relating to these terms of use</h3>
        <p>Any legal questions about these terms of use will be decided by applying the laws of the Australian Capital Territory, Australia (ACT). If legal action is brought in a
          court in the ACT, you will not be allowed to argue that the matter should be heard in a court outside the ACT.</p>
        <p>However, the department will consider any reasonable request to bring legal action in a different State if there are appropriate reasons for doing so (for example, if
          you are unable to travel due to medical reasons).</p>
        <h3>6.3 Help desk</h3>
        <p>
          <!-- react-text: 227 -->If you wish to contact the MyService helpdesk you should do so by emailing
          <!-- /react-text --><a href="mailto:myservicesupport@dva.gov.au">myservicesupport@dva.gov.au</a><!-- react-text: 229 --> or calling
          <!-- /react-text --><a href="tel:02-6225-4632">02 6225 4632</a><!-- react-text: 231 -->.
          <!-- /react-text -->
        </p>
        <h3>6.4 Complaints and feedback</h3>
        <p>
          <!-- react-text: 235 -->Your feedback is important to us, we value your opinion and want to hear what you think about the quality of the department's service. The
          department will use your feedback to improve its services. The best way to leave your feedback is by visiting
          <!-- /react-text --><a href="https://www.dva.gov.au/contact/feedback">https://www.dva.gov.au/contact/feedback</a><!-- react-text: 237 --> or by calling the MyService
          helpdesk (see paragraph 6.3 above).
          <!-- /react-text -->
        </p>
        <h2 id="section7">7. Definitions</h2>
        <p>In these terms of use, the terms in column 1 of the following table have the meanings set out in column 2 of the table:</p>
        <table class="term-and-use-table">
          <tbody>
            <tr>
              <th>Term</th>
              <th>Meaning</th>
            </tr>
            <tr>
              <td>Department, we</td>
              <td>The Australian Government Department of Veteran’s Affairs or any Australian Government department which takes over the functions of the Department of Veteran’s
                Affairs.</td>
            </tr>
            <tr>
              <td>Loss</td>
              <td>Any loss, damage, cost or expense (to any person or property), including: loss of profits or revenue, loss or denial of opportunity, loss of use, loss of data,
                and any indirect, remote, abnormal or unforeseeable loss.</td>
            </tr>
            <tr>
              <td>Message</td>
              <td>Messages from MyService that you can receive, view, print and save via your MyService homepage.</td>
            </tr>
            <tr>
              <td>MyService</td>
              <td>The Australian Government online portal that permits online lodgment of claims for cover for an injury or condition.</td>
            </tr>
            <tr>
              <td>MyService Platform</td>
              <td>Any electronic platform, available through a browser or application, on any device , through which a User uses their MyService Security Details to access
                services.</td>
            </tr>
            <tr>
              <td>MyService Platform</td>
              <td>Any electronic platform, available through a browser or application, on any device , through which a User uses their MyService Security Details to access
                services.</td>
            </tr>
            <tr>
              <td>MyService Profile</td>
              <td>Your personal, account, contact, service and operational service details as recorded on your MyService account.</td>
            </tr>
            <tr>
              <td>MyService Security Details</td>
              <td>The password and/or PIN used to access your MyService account.</td>
            </tr>
            <tr>
              <td>Notification</td>
              <td>A Message notification which is made to your nominated mobile phone number or email address.</td>
            </tr>
            <tr>
              <td>Notification Details</td>
              <td>Details of your mobile phone number or email address for the purposes of receiving Notifications from MyService.</td>
            </tr>
            <tr>
              <td>You, Your</td>
              <td>You, the reader of these terms of use and user of MyService.</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      </div>
    </section>
  </main>

  <%- include(partials+"components/layout/footer") %>

</body>

</html>
