<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Session expired | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-version.ejs %>
  <% include ../unauth/registration/partials/header-register.ejs %>
  
  <main>
      <section>
        <div class="container system-error" id="main-content">
 			<h1><img src="../../../docs/images/ico-error.svg" alt="Error icon"> You have been logged out</h1>
			<p>There has been no interaction with MyService for a while, so we have logged you out to keep your account secure. To log on again, click the button below.</p>
         
			<button class="uikit-btn panel-btn" onclick="window.location.href = '#'">Log in</button>

      </section>
    </main>

  <% include ../global/partials/footer.ejs %>
  <% include ../unauth/user/partials/panel-login.ejs %>
  <script src="/docs/js/jquery-effects.js"></script>
  <script src="/docs/js/main.js"></script>
  
</body>
</html>