<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"header-mygov") %>
  <main>
    <section>
      <div class="container">
        <div class="row margin-above--extra">
          <div class="col-sm-offset-2 col-sm-8">
            <h1>This is where you would complete your myGov registration</h1>
            <h2>Imagine your myGov registration was successful and you now have a myGov account with a username and password.</h2>
            <h2>Imagine you have now clicked a button within myGov to link a Department of Veteran's Affairs service to your
              myGov account.</h2>
            <p>
              <b>Click the button below.</b>
            </p>
            <h2>
              <a href="/auth/mygov-linking" class="uikit-btn">Link a DVA service</a>
            </h2>
          </div>
        </div>
      </div>

    </section>
  </main>
</body>

</html>