<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"header-mygov") %>
    <main>
      <section>
        <div class="container">
          <div class="row margin-above--extra">
            <div class="col-sm-offset-3 col-sm-6">
              <h1>Woops!</h1>
              <h2>This is outside the scope of our user testing. Please click the back button on your browser.</h2>
            </div>
          </div>
        </div>

      </section>
    </main>
</body>

</html>