<div id="open-modal" class="modal-window">
	<div>
		<a href="#modal-close" title="Close" class="modal-close">Close</a>
		<h1>Cancel application</h1>
		<div>Are you sure you want to cancel? Cancelling will remove this application to add cover.</div>
		<div class="modal-buttons">
			<button class="uikit-btn floated" onclick="window.location.href = '/cover-step2'">Yes</a>
			<button class="uikit-btn floated uikit-btn--tertiary" onclick="window.location.href = '#modal-close'">No</button>
		</div>
	</div>
</div>