  <div class="panel from-right">
    <div class="panel-header">
      <h2>Help</h2>
      <a href="#" class="panel-close">Close</a>
    </div>
    <div class="panel-container">
      <div class="panel-content">
        
        <p>This is a pilot service. If you are experiencing any difficulties please get in touch with us.</p>
        <p>Email us: myservicesupport@dva.gov.au we will endeavour to get back to you within one working day.</p>
        <p>Phone us: (02) 6289 4724 Monday to Friday 9am to 5pm AEDST.</p>
        
        <div class="pagination">
          <button class="uikit-btn uikit-btn--tertiary panel-close" onclick="window.location.href = '#'">Close</button>
        
      </div>
    </div> <!-- panel-content -->
  </div> <!-- panel -->