<div role="dialog" aria-hidden="true" aria-labelledby="removeSupportingFileModalTitle" aria-describedby="removeSupportingFileModalDesc" id="open-removeSupportingFile-modal" class="modal-window">
	<div role="document">
		<a href="#" title="Close" class="modal-close" id="removeSupportingFileModalCloseBtn">Close</a>
		<h3 id="removeSupportingFileModalTitle">Do you want to remove the file?</h3>
		<div id="removeSupportingFileModalDesc">Supporting documents help us to assess your claim</div>
		<div class="modal-buttons">
			<button id="removeSupportingFileModalNoBtn" class="uikit-btn floated uikit-btn--tertiary" onclick="window.location.href = '#'">No</button>
			<button id="removeSupportingFileModalYesBtn" class="uikit-btn floated" onclick="window.location.href = '#'">Yes</button>
		</div>
	</div>
</div>

<%
	var modalName = "open-removeSupportingFile-modal";
	var triggerName = "coverRemoveFileBtn";
	var modalElementPrefix = "removeSupportingFileModal";
%>
<% include modal-common.ejs %>
