<%- include(templates+"header", {
  title: "Increase your disability pension | Medical", 
  heading: "Medical", modifiers: ["margin-below--none"]
}) %>

<%- include(forms+"progress-simple", {
  percent: 10, 
  modifiers: ["margin-below"]
}) %>

  <p>List the general practitioners and/or other treating practitioners you have visited in the last year. Your doctors may be contacted during the assessment.</p>

  <div class="form-group">

    <table class="table-responsive">
      <tbody>
        <tr>
          <th>
            <h2 class="margin-below--none margin-above--none">General practitioner</h2>
          </th>
        </tr>
        <tr>
          <td class="col-xs-12">
            <div class="form-group">
              <label class="uikit-text-input__label" for="gp-name">Doctors name
              </label>
              <input class="uikit-text-input" name="gp-name" id="gp-name" type="text" value="" required="" aria-required="true">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="gp-name">Practice name
              </label>
              <input class="uikit-text-input" name="gp-name" id="gp-name" type="text" value="" required="" aria-required="true">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="gp-name">Suburb
              </label>
              <input class="uikit-text-input" name="gp-name" id="gp-name" type="text" value="" required="" aria-required="true">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="gp-name">Contact phone number
              </label>
              <input class="uikit-text-input" name="gp-name" id="gp-name" type="text" value="" required="" aria-required="true">
            </div>

            <div class="form-group">
              <button id="addDoctor" class="uikit-btn" type="button">Done</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table-responsive">
      <tbody>
        <tr>
          <th>
            <h2 class="margin-below--none margin-above--none">Other treating practitioners
              <span class="hint">(optional)</span>
            </h2>
            <span class="hint">Includes audiologists, psychiatrists, etc.</span>
          </th>
        <tr>
          <td class="col-xs-12 border-top">
            <div class="form-group">
              <div class="col-sm-8 col-xs-7 description-fields">
                <div class="row">
                  <div class="col-sm-4 title-field">Dr steven</div>
                  <div class="col-sm-8">
                    Belconnen Medical Centre, Belconnen
                    <br>
                    <em>02 9800 1234</em>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 col-xs-5 padding-below">
                <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">
                  Edit
                </button>
              </div>
              <div class="col-sm-2 col-xs-5 padding-below">
                <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small floated">
                  Remove
                </button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="border-top col-xs-12">
            <div class="col-sm-10 col-xs-7 padding-below">
            </div>
            <div class="col-sm-2 col-xs-5  padding-below">
              <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Add</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/afi/afi1"
      },
      {
        text: "Cancel claim",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/afi/afi3",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>