<%- include(templates+"header", {
  title: "Review and submit: Application for Increase to Disability Pension", 
  heading: "Review and submit", 
  modifiers: ["margin-below--none"]
}) %>

  <div class="rev-sub margin-below--extra margin-above--extra">
    <div class="rev-sub__title">
      <div class="rev-sub__claim-title"><b>Application for Increase to Disability Pension</b></div>
    </div>
    <div class="rev-sub__category">
      <div class="rev-sub__header">
        <h2 class="rev-sub__header--category">Worsened conditions</h2>
        <a href="/auth/claim/afi/afi1" class="rev-sub__edit">Edit</a>
      </div>
      <div class="rev-sub__questions">
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Select the conditions that have worsened since your last assessment</p>
          <div class="rev-sub__item-answer">
            <ul>
              <li>tinnitus</li>
              <li>lumbar spondylosis</li>
              <li>depression</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="rev-sub__category">
      <div class="rev-sub__header">
        <h2 class="rev-sub__header--category">Medical conditions</h2>
        <a href="/auth/claim/afi/afi2" class="rev-sub__edit">Edit</a>
      </div>

      <div class="rev-sub__sub-header">
        <h3 class="rev-sub__header--subcategory">Dr Nick Riviera (General Practitioner)</h3>
      </div>
      <div class="rev-sub__questions">
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Practice</p>
          <p class="rev-sub__item-answer">Springfield Hospital</p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Suburb</p>
          <p class="rev-sub__item-answer">Springfield</p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Phone</p>
          <p class="rev-sub__item-answer">02 6123 4567</p>
        </div>
      </div>

      <div class="rev-sub__sub-header">
        <h3 class="rev-sub__header--subcategory">Dr Jamie Lee</h3>
      </div>
      <div class="rev-sub__questions">
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Practice</p>
          <p class="rev-sub__item-answer">Ryde Medical Centre </p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Suburb</p>
          <p class="rev-sub__item-answer">North Ryde</p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Phone</p>
          <p class="rev-sub__item-answer">02 9807 1230</p>
        </div>
      </div>

      <div class="rev-sub__sub-header">
        <h3 class="rev-sub__header--subcategory">Dr Marta Machalevski</h3>
      </div>
      <div class="rev-sub__questions">
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Practice</p>
          <p class="rev-sub__item-answer">St Vincent’s Hospital</p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Suburb</p>
          <p class="rev-sub__item-answer">Potts Point</p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Phone</p>
          <p class="rev-sub__item-answer">02 9487 9111</p>
        </div>
      </div>

      <div class="rev-sub__sub-header">
        <h3 class="rev-sub__header--subcategory">Christina San Lucas</h3>
      </div>
      <div class="rev-sub__questions">
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Practice</p>
          <p class="rev-sub__item-answer">Gosford Hospital</p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Suburb</p>
          <p class="rev-sub__item-answer">Gosford</p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Phone</p>
          <p class="rev-sub__item-answer">02 9487 9385</p>
        </div>
      </div>
    </div>
    <div class="rev-sub__category">
      <div class="rev-sub__header">
        <h2 class="rev-sub__header--category">Employment</h2>
        <a href="/auth/claim/afi/afi3" class="rev-sub__edit">Edit</a>
      </div>
      <div class="rev-sub__questions">
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Are you employed?</p>
          <p class="rev-sub__item-answer">Yes</p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Name of current employer</p>
          <p class="rev-sub__item-answer">Springfield Nuclear Power Plant</p>
        </div>
        <div class="rev-sub__item">
          <p class="rev-sub__item-question">Average hours per week</p>
          <p class="rev-sub__item-answer">20</p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <p class="margin-below--none">By clicking <strong>submit claim</strong> you confirm this information is truthful and accurate.</p>

  <%- include(forms+"pagination", {
    modifiers: ["noBorder", "noMargin"],
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/afi/afi3"
      },
      {
        text: "Cancel claim",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Submit claim",
        link: "/auth/claim/afi/afi5",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>