<%- include(templates+"header", {title: "Review and submit: Application for Increase to Disability Pension", heading: "Review and submit", modifiers: ["margin-below--none"]}) %>
  <%- include(forms+"progress-simple", {percent: 100, modifiers: ["margin-below"]}) %>

  <table class="cover-detail">
    <caption class="padding-below">Worsened conditions
      <a href="/auth/claim/afi/afi1" class="uikit-btn uikit-btn--tertiary floated small">Change</a>
    </caption>
    <thead>
      <tr>
        <th>Select the conditions that have worsened since your last assessment</th>
        <td>
          <ul>
            <li>tinnitus</li>
            <li>lumbar spondylosis</li>
            <li>depression</li>
          </ul>
        </td>
      </tr>
    </thead>
  </table>

  <table class="cover-detail">
    <caption class="padding-below">Medical
      <a href="/auth/claim/afi/afi2" class="uikit-btn uikit-btn--tertiary floated small">Change</a>
    </caption>
    <tbody>
      <tr>
        <th>Dr Nick Riviera (general practitioner)</th>
        <td>Springfield Hospital
          <br> Springfield
          <br> 02 6123 4567
        </td>
      </tr>
      <tr>
        <th>Dr Jamie Lee</th>
        <td>Ryde Medical Centre
          <br> North Ryde
          <br> 02 9807 1230
        </td>
      </tr>
      <tr>
        <th>Dr Marta Machalevski</th>
        <td>St Vincent’s Hospital
          <br> Potts Point
          <br> 02 9487 9111</td>
      </tr>
      <tr>
        <th>Christina San Lucas</th>
        <td>Gosford Hospital
          <br> Gosford
          <br> 02 9487 9385</td>

      </tr>
    </tbody>
  </table>

  <table class="cover-detail">
    <caption class="padding-below">Employment
      <a href="/auth/claim/afi/afi3" class="uikit-btn uikit-btn--tertiary floated small">Change</a>
    </caption>
    <tbody>
      <tr>
        <th>Are you employed?</th>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Name of current employer</th>
        <td>Springfield Nuclear Power Plant</td>
      </tr>
      <tr>
        <th>Average hours per week</th>
        <td>20</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <p class="margin-below--none">By clicking <strong>submit claim</strong> you confirm this information is truthful and accurate.</p>

  <%- include(forms+"pagination", {
    modifiers: ["noBorder", "noMargin"],
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/afi/afi3"
      },
      {
        text: "Cancel claim",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Submit claim",
        link: "/auth/claim/afi/submitted",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>