<%- include(templates+"header", {
  claim: "Application for Increase to Disability Pension",
  heading: "Review and submit"
}) %>

  <%- include(components+"review-submit", {
    claim_title: "Application for Increase to Disability Pension",
    categories: [
      {
        title: "Worsened conditions",
        edit_url: "/auth/claim/afi/afi1",
        data: [
          {
            q: "Select the conditions that have worsened since your last assessment",
            a: `<ul>
                  <li>tinnitus</li>
                  <li>lumbar spondylosis</li>
                  <li>depression</li>
                </ul>`
          }
        ]
      },
      {
        title: "Medcal conditions",
        edit_url: "http://localhost:5000/auth/claim/afi/afi2",
        data: [
          "DR NICK RIVIERA (GENERAL PRACTITIONER)",
          {
            q: "Practice",
            a: "Ryde Medical Centre"
          },
          {
            q: "Suburb",
            a: "North Ryde"
          },
          {
            q: "Phone",
            a: "02 9807 1230"
          },
          "Dr Jamie Lee",
          {
            q: "Practice",
            a: "Ryde Medical Centre"
          },
          {
            q: "Suburb",
            a: "North Ryde"
          },
          {
            q: "Phone",
            a: "02 9807 1230"
          },
          "Dr Marta Machalevski",
          {
            q: "Practice",
            a: "St Vincent’s Hospital"
          },
          {
            q: "Suburb",
            a: "Potts Point"
          },
          {
            q: "Phone",
            a: "02 9487 9111"
          },
          "Christian San Lucas",
          {
            q: "Practice",
            a: "Gosford Hospital"
          },
          {
            q: "Suburb",
            a: "Gosford"
          },
          {
            q: "Phone",
            a: "02 9487 9385"
          }
        ]
      },
      {
        title: "Employment",
        edit_url: "/auth/claim/afi/afi3",
        data: [
          {
            q: "Are you employed",
            a: "Yes"
          },
          {
            q: "Name of current employer",
            a: "Springfield Nuclear Power Plant"
          },
          {
            q: "Average hours per week",
            a: "20"
          }
        ]
      }
    ]
  }) %>

  <hr>

  <p class="margin-below--none">By clicking <strong>submit claim</strong> you confirm this information is truthful and accurate.</p>

  <%- include(forms+"pagination", {
    modifiers: ["noBorder", "noMargin"],
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/afi/afi3"
      },
      {
        text: "Cancel claim",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Submit claim",
        link: "/auth/claim/afi/afi5",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>