<%- include(templates+"header", {
  claim: "Application for Increase to Disability Pension",
  title: "Application for Increase to Disability Pension | Submitted"
}) %>

  <%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your claim for an increase to your Disability Pension",
    submitted_text: `Your claim for an increase to your Disability Pension has been <b>submitted</b>`,
    supporting_text: `<h3>We will contact you within 14 days to discuss your claim.</h3>`
  }) %> 

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Update profile",
        link: "/auth/profile"
      },
      {
        text: "See your claims",
        link: "/auth/claim"
      }
    ]
  }) %>

<%- include(templates+"footer") %>