<div id="state-switcher">
  <h3>State switcher</h3>

  <h3>Properties</h3>
  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Receiving rent assistance"
    ],
    id: "rent",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

  $('#rent-1').change(function() {
    updateRent();  
  });

  function updateRent() {
    var myRent = $("#rent-1").is(":checked");
    console.log(myRent )
    if ( myRent ) {
      $("#rent-question-container").show();
    } else {
      $("#rent-question-container").hide();
    }
  }

});

</script>