<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Claim representative",
  progress: {
    activeItem: 4,
    points: [
      {
        text: "About you",
        link: "/auth/claim/cshc/cshc-02"
      },
      {
        text: "Relationship status",
        link: "/auth/claim/cshc/cshc-03"
      },
      {
        text: "Dependent children",
        link: "/auth/claim/cshc/cshc-04"
      },
      {
        text: "Claim representative",
        link: "/auth/claim/cshc/cshc-05"
      },
      {
        text: "Payment details",
        link: "/auth/claim/cshc/cshc-05"
      },
      {
        text: "Income",
        link: "/auth/claim/cshc/cshc-06"
      }
    ]
  }
}) %>

<div class="margin-above--extra margin-below--extra">
  <div class="form-group">
    <legend class="legend-label margin-below--none">Do you wish to nominate a claim representative for this claim?</legend>
    <span class="uikit-text-input__hint">Your representative can receive updates and make queries about this claim on your behalf.</span>
    <div class="radio-toggle margin-above">
      <label class="on label-left" for="rep-nominate-yes">
        <input id="rep-nominate-yes" type="radio" name="rep-nominate">
        <span>Yes</span>
      </label>
      <label class="off label-right" for="rep-nominate-no">
        <input id="rep-nominate-no" type="radio" name="rep-nominate">
        <span>No</span>
      </label>
    </div>
  </div>
  <div class="form-group" id="claim-contact-details" class="margin-above--extra">
    <h3 class="margin-above--large">Representative details</h3>
    <!-- <div class="title-field margin-above--large">Representative type</div>
                  <select class="uikit-text-input" name="title" id="title" type="text" value="">
                      <option>-- Select title --</option>
                      <option selected="">Not specified</option>
                      <option>Ex-Service organization</option>
                      <option>Legal</option>
                      <option>Family</option>
                      <option>Other</option>
                  </select> -->
    <div class="form-group margin-above">
      <label class="uikit-text-input__label" for="tags">First name</label>
      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
    </div>
    <div class="form-group margin-above">
      <label class="uikit-text-input__label" for="tags">Last name</label>
      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
    </div>
    <div class="form-group margin-above">
      <label class="uikit-text-input__label" for="tags">Organisation / business name (if applicable)</label>
      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
    </div>
    <div class="form-group margin-above">
      <label class="uikit-text-input__label" for="tags">Contact phone number</label>
      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
    </div>
    <div class="form-group margin-above">
      <label class="uikit-text-input__label" for="tags">Email address</label>
      <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
    </div>
    <h3 class="margin-above--large margin-below">Representative postal address</h3>
    <%- include(partials+"content/address-postal") %>
  </div>
  <div id="save-and-next" class="margin-above--extra" style="display: none">
    <p>Choose <b>save and next</b> to continue.</p>
  </div>
</div>

  <%- include(forms+"pagination", {
    pagination: [
    {
      text: "Previous",
      link: "/auth/claim/cshc/cshc-04"
    },
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and next",
        link: "/auth/claim/cshc/cshc-06",
        modifiers: ["floated", "primary"]
      }
    ],
    customClass: ["margin-above--extra"]
  }) %>

<%- include(templates+"footer") %>

