<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Commonwealth Seniors Health Card"
}) %>

<div class="margin-below--extra">
  <p>The Commonwealth Seniors Health Card (CSHC) gives you access to cheaper health care and other concessions.</p>
 <p>Cards are available for veterans and their partners who meet the eligiblity criteria. For information about eligibility and benefits see the <a href="https://www.dva.gov.au/health-and-treatment/veteran-healthcare-cards/commonwealth-seniors-health-card" class="external-link">DVA website</a>.</p> 
    <p>If you have a partner and you both meet the eligibility criteria, you and your partner will each receive a card.</p> 
  <p>If you are not eligible for a CSHC card from DVA you may be able to apply through Centrelink.</p>
</div>

<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Cancel",
        link: "/auth/claims"
      },
      {
        text: "Next",
        link: "/auth/claim/cshc/prog-01",
        modifiers: ["primary", "floated"]
      }
    ]
  }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>


///
