<%- include(templates+"header", {
  claim: "Commonwealth Seniors Health Card",
  heading: "Submitted",
  modifiers: ["noHeading"]
}) %>

  <%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your claim for Commonwealth Seniors Health Card",
    submitted_text: `Your application for a Commonwealth Seniors Health Card has been <b>submitted</b>`,
    supporting_text: `<h3>Your claim ID is 123456.</h3>`
  }) %> 

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "See your claims",
        link: "/auth/claim"
      }
    ]
  }) %>

<%- include(templates+"footer") %>