<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('superannuation');">
        <h2 class="card__title"><icon class="fal fa-piggy-bank" style="font-size: 1.7em; vertical-align: -15%;"></icon>&nbsp;&nbsp;<span class="font-weight-heavy">Superannuation</span></h2><p class="card__supporting-text text-fullwidth">Add any superannuation accounts<span class="partner"> held by you (and/or your partner)</span>.</p>
        <p class="card__supporting-text text-fullwidth"><BR/>UX done spec v0.1</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>
