<div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" style="cursor: pointer;" onClick="showNewCard('cash-held');">
        <h2 class="card__title"><span class="fal fa-money-bill-wave-alt fa-icons"></span><span class="font-weight-heavy">Cash held</span></h2><p class="card__supporting-text text-fullwidth">Add any cash holdings totalling more than $2000<span class="partner"> belonging to you (and/or your partner)</span>.</p>
            <p class="card__supporting-text text-fullwidth"><BR/>UX done spec v0.3</p>
<div class="card__button"><button class="uikit-btn uikit-btn--tertiary small">Add</button></div>
</div>

