<%- include(templates+"header", {
  title: "Conditions | Permanent impairment", 
  heading: "MRCA Conditions"
}) %>

<p>Under the MRCA we are required to assess all of your conditions when considering a Permanent Impairment payment. You
  will need to have at least one medical assessment to help us work out your level of impairment. Where possible DVA
  will use your treating medical practitioners to provide an assessment. If we cannot use your treating practitioner we
  will arrange an independent assessment for you. </p>
  <p>DVA can use your existing assessment if it is recent (up to 3 years old) and there has been no changes in your impairment</p>
  <p>Please indicate if you wish to use your existing assessment or have a reassessment for the conditions below:
</p>

<div class="review__table margin-above margin-below--extra">
  <div class="tr" style="background-color: white; margin-bottom: 10px;">
    <div class="td" style="vertical-align: middle; width:150px"><b>Tinnitus</b></div>
    <div class="td" style="vertical-align: middle;">
      <div class="radio-toggle" style="display: inline-block; ">
        <label class="label-left" style="width: 230px">
          <input type="radio" id="tinnitus-yes" name="tinnitus" value="yes">
          <span>Use existing assessment</span>
        </label>
        <label class="label-right" style="width: 125px">
          <input type="radio" id="tinnitus-no" name="tinnitus" value="no">
          <span>Re-assess</span>
        </label>
      </div>
    </div>
  </div>
  <div class="tr">
    <div class="td" style="vertical-align: middle;"><b>Depression</b></div>
    <div class="td" style="vertical-align: middle;">
      <div class="radio-toggle" style="display: inline-block; ">
        <label class="label-left" style="width: 230px">
          <input type="radio" id="depression-yes" name="depression" value="yes">
          <span>Use existing assessment</span>
        </label>
        <label class="label-right" style="width: 125px">
          <input type="radio" id="depression-no-2" name="depression" value="no">
          <span>Re-assess</span>
        </label>
      </div>
    </div>
  </div>
</div>

<div id="save-next" class="margin-above margin-below--extra" hidden>
  <p>Choose <b>save and next</b> to continue.</p>
</div>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/claim/permanent-impairment/permanent-impairment-01"
    },
    {
      text: "Exit application",
      link: "#open-modal"
    },
    {
      text: "Save and exit",
      link: "/auth",
      modifiers: ["floated"]
    },
    {
      text: "Save and next",
      link: "/auth/claim/permanent-impairment/permanent-impairment-02b",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(partials+"content/modals/application-cancel-modal") %>

<%- include(templates+"footer") %>