<%- include(templates+"header", {
  title: "Permanent impairment", 
  heading: "Treatment"
}) %>

<%#- include(partials+"components/form-partials/yes_no", {
  label: "Have you recently had surgery?",
}); %>

<div id="add-medical-practitioner">
  <p><b>List all medical practitioner you are currently being treated by for your accepted conditions.</b><BR />Include both general practioners and specialists.</p>
</div>

<div id="user-list">
  <%- include("medical-practitioner-card") %>
</div>

<button id="add-button" class="uikit-btn margin-below--extra" onclick="showNewCard('medical-practitioner');">Add medical practitioner</button>

<%- include(forms+"pagination", {
  pagination: [
    {
      text: "Previous",
      link: "/auth/claim/permanent-impairment/permanent-impairment-02"
    },
    {
      text: "Next",
      link: "/auth/claim/permanent-impairment/permanent-impairment-04",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>

<%- include(templates+"footer") %>

<script>
  /* On page scrolling */

  function scrollToAdd() {
    $('html, body').animate({
      scrollTop: $("#add-options").offset().top
    }, 1000);
  }

  /* Clicks on "add" button */

  function showNewCard(cardType) {
    captureUserList();
    hideAll();
    var myDiv = "#" + cardType + "-card";
    var myForm = myDiv + " #myForm";
    var myDelete = myDiv + " #deleteButton";
    var myAdd = myDiv + " #addButton";
    $(myAdd).html("Add");
    $(myDelete).hide();
    $(myForm).trigger("reset");
    $(myDiv).show();
    console.log("-->" + myDiv);
    // $("#footer-buttons-mask").show();
    $('html, body').animate({
      scrollTop: $("#user-list").offset().top
    }, 1000);
  }

  /* Clicks on "add" on full card */

  function addSummary(cardType) {
    hideAll();
    var myDiv = "#" + cardType + "-summary";
    userEntries.push($(myDiv));
    displayUserList();
    $('html, body').animate({
      scrollTop: $("#user-list").offset().top
    }, 1000);
  };

  /* Clicks on "edit" on Summary Card */

  function editCard(cardType) {
    captureUserList();
    hideAll();
    var myDiv = "#" + cardType + "-card";
    var myDelete = myDiv + " #deleteButton";
    var myAdd = myDiv + " #addButton";
    $(myAdd).html("Update");
    $(myDelete).show();
    $(myDiv).show();
  }

  /* Clicks on "delete" on full card */

  function removeSummary(cardType) {
    hideAll();
    var myDiv = "#" + cardType + "-summary";
    userEntries.splice($.inArray(myDiv, userEntries), 1);
    displayUserList();
    $('html, body').animate({
      scrollTop: $("#user-list").offset().top
    }, 1000);
  };

  /* Clicks on "cancel" on full card */

  function cancelCard(cardType) {
    hideAll();
    $('html, body').animate({
      scrollTop: $("#user-list").offset().top
    }, 1000);
    displayUserList();
  }

  /* Update list after interaction */

  var userEntries = [];

  function captureUserList() {
    userEntries = $("[id*=summary]:visible");
  }

  function displayUserList() {
    $.each(userEntries, function (index, value) {
      $(value).show();
    });
    $("#add-medical-practitioner").show();
    $("#add-button").show();
  }

  /* Generic hide all */

  function hideAll() {
    $("#add-medical-practitioner").hide();
    $("#add-button").hide();
    $("#medical-practitioner-card").hide();
    $("#medical-practitioner-summary").hide();
  }
</script>
