<%- include(templates+"header", {
  title: "Application for a DHOAS Subsidy Certificate", 
  heading: "Permanent impairment"
}) %>

<p>If you have been left with ongoing impairment you may be entitled to a compensation payment. We call this <a>permanent impairment compensation.</a></p>
<p>
  You may be eligible if you meet all of the following:
  <ul>
    <li>
      after treatment you still have an impairment or lifestyle restriction,
    </li>
    <li>
      the impairment or restriction is likely to continue indefinitely,
    </li>
    <li>
      your condition has stabilised.
    </li>
  </ul>
  <p>If you have had a medical assessment you will be requested to provide details of this as part of this application.</p>
  <p>If you have not yet had a medical assessment, you can request for DVA to organise one on your behalf whilst completing this application.</p>
</p>


<%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/dhoas/asc4"
      },
      {
        text: "Next",
        link: "/auth/claim/dhoas/asc6",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>
