<%- include(templates+"header", {
  claim: "Support assessment",
  heading: "Submitted",
  modifiers: ["noHeading"]
}) %>

<%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your Support Assessment claim.",
    submitted_text: `Thank you for your time in completing the <b>support assessment</b>`,
    supporting_text: `
      <ul class="next-steps">
          <li>To Exit the study please click the <b> green 'show button'</b> on the left of your screen and follow
            the screen prompts to
            'Exit Study'.</li>
      </ul>
      `
  }) %>


<%- include(templates+"footer") %>