<%- include(templates+"header", {
    claim: "Support Assessment",
    heading: "Support Assessment"
  }) %>


<p>We will ask you some questions about how your conditions impact your life, physically and physiologically in the
  following areas.</p>

<ul>
  <li>Mobility,</li>
  <li>Recreational activities,</li>
  <li>Personal and</li>
  <li>Social relationships,</li>
  <li>Domestic activities and</li>
  <li>Employment.</li>
</ul>

<p>Tell us everything you find difficult or impossible to do, even if it's not every day and explain why it's difficult
  or impossible.</p>

<p>You can update this assessment whenever a change in your personal circumstances affects your need for support from
  us.</p>

<p>Choose <b>next</b> to continue</p>

<%- include(forms+"pagination", {
      pagination: [
        {
          text: "Cancel",
          link: "#claim-cancel-modal"
        },
        {
          text: "Next",
          id: "btnNext",
          link: "/auth/claim/support-assessment-b/sa-02",
          modifiers: ["primary", "floated"]
        }
      ]
    }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>