<%- include(templates+"header", {
    claim: "Support Assessment",
    heading: "Support Assessment"
  }) %>


<p>The following support assessment helps us to understand the psychological and physical impact of your condition/s.
  In the areas of:</p>
<ul>
  <li>Mobility</li>
  <li>Recreational activities</li>
  <li>Personal</li>
  <li>Social relationships</li>
  <li>Domestic activities</li>
  <li>Employment</li>
  <Li>Treatment</Li>
  </li>
</ul>

<p>Tell us in your own words how your condition/s affect you day-to-day of over a longer period of time.</</p>

<p>You can update the assessment at any point if you circumstances change.</p>

<p>Choose <b>next</b> to continue</p>

<%- include(forms+"pagination", {
      pagination: [
        {
          text: "Cancel",
          link: "#claim-cancel-modal"
        },
        {
          text: "Next",
          id: "btnNext",
          link: "/auth/claim/support-assessment-b/sa-02",
          modifiers: ["primary", "floated"]
        }
      ]
    }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>