<%- include(templates+"header", {
  claim: "Profile - income &amp; assets",
  heading: "Review and submit"
}) %>


<%- include(components+"review-submit", {
    claim_title: "Support assessment",
    categories: [
      {
        title: "Condition impact",
        edit_url: "/auth/claim/support-assessment/support-assessment-01",
        data: [
        {
          q: "Has your condition/s affected your physical mobility or involvement in recreational activities?",
          a: "No"
        },
        {
          q: "Has your condition/s affected your ability to maintain personal relationships?",
          a: "Yes, a lot"
        },
        {
          q: "Has your condition/s affected your ability to perform normal household duties eg cleaning?",
          a: "No"
        }
      ]
      },
      {
        title: "Employment",
        edit_url: "/auth/claim/support-assessment/support-assessment-02",
        data: [
        {
          q: "Are you employed?",
          a: "Yes"
        },
        {
          q: "Have you experienced any of the following as a result of your condition(s)?",
          a: "<ul><li>Work hours reduced or changed</li><li>reduction in pay</li></ul>"
        },
        {
          q: "Are you seeking additional support/training to better manage your condition(s) in the workplace?",
          a: "Yes"
        },
        {
          q: "Are you looking for a different job?",
          a: "No"
        }
      ]
      },
      {
        title: "Treatment",
        edit_url: "/auth/claim/support-assessment/support-assessment-03",
        data: [
        {
          q: "Have you undergone any treatment for your condition(s)?",
          a: "Yes"
        },
        {
          q: "Have you undergone surgery in the last 12 months?",
          a: "No"
        },
        {
          q: "Have you been advised that further treatment will not improve your condition(s)?",
          a: "No"
        }
      ]
      },
      {
        title: "Support required",
        edit_url: "/auth/claim/support-assessment/support-assessment-04",
        data: [
        {
          q: "Do you require support now?",
          a: "No"
        },
        {
          q: "How would you like to be contacted?",
          a: "Phone"
        },
        {
          q: "What support do you require?",
          a: "Help around the house"
        }
      ]
      }
    ]
  }) %>

  <div class="pagination pagination--ss-reverse-order margin-above--extra" id="pagination440">

    <p class="margin-below--large">By clicking <b>submit</b> you confirm this information is truthful and accurate.</p>
    
    <a href="/auth/claim/support-assessment/support-assessment-04" class="uikit-btn uikit-btn--tertiary">Previous</a>
  
    <!-- <a href="#open-coc-ai-delete-modal" class="uikit-btn uikit-btn--tertiary">Delete transaction</a> -->
  

<div class="floated">
  
    <a href="/auth/claim/support-assessment/submitted" class="uikit-btn ">Submit</a>
  
</div>
</div>


<%- include(templates+"footer") %>
<%- include(partials+"content/modals/coc-ia-delete-modal") %>
<%#- include("review-ss") %>
