<div id="card-on-way-delayed" class="container" style="display: none;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 margin-above--large">
      <h2>You are unable to request a replacement card at this time</h2>
      <p>Your current replacement card request is still being processed.</p>
      <p>If this is incorrect, or for more information, call DVA on 1800 555 254.</p>
      <div class="pagination margin-below--extra">
        <button class="uikit-btn" onclick="window.location.href = '/auth/cards'">Back to cards</button>
      </div>
    </div>
  </div>
</div>
