<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-authenticated.ejs %>
  <main>
    <section class="payments-page">
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above-none">
          <div class="col-md-12 margin-below--extra">

            <h1 class="margin-below--small margin-above--none container">
              <span class="heading">Payments</span>
            </h1>
            <div class="container">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12 header-row">
                    <div class="col-sm-3">
                      <h2>Heading column 1</h2>
                    </div>
                    <div class="col-sm-3">
                      <h2>Heading column 2</h2>
                    </div>
                    <div class="col-sm-3">
                      <h2>Heading column 3</h2>
                    </div>
                    <div class="col-sm-3">
                      <h2>Heading column 4</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-3 data-text">
                      <p>Data 1</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 2</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 3</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 4</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-3 data-text">
                      <p>Data 1</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 2</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 3</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 4</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-3 data-text">
                      <p>Data 1</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 2</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 3</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 4</p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="col-sm-3 data-text">
                      <p>Data 1</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 2</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 3</p>
                    </div>
                    <div class="col-sm-3 data-text">
                      <p>Data 4</p>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
    </section>
  </main>
  <% include ../../../global/partials/footer.ejs %>
</body>

</html>