<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">

</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
    <% include ../../../global/partials/header-authenticated-alt-icons.ejs %>
      <main>
        <section>
          <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <h1 class="margin-above--none ss-align--center"><span class="heading">Payments</span></h1>
          </div>
          <div class="container margin-above--extra margin-below" id="claim-activity">
            <div class="margin-below">
              <h2 class="claim-heading">Recent payments</h2>
              <!-- <button id="scroll-to-claim" class="uikit-btn uikit-btn--primary floated" onclick="scrollToAdd();">&nbsp;Make a claim&nbsp;</button> -->
            </div>
            <section class="widget border-none">
              <!-- <div class="row widget-content widget--justclaims"> -->
              <!-- <div class="col-md-12 margin-below--none widget--justclaims padding-none"> -->

              <table class="table-claims-new table-responsive border-collapse">
                <tr id="line-1">
                  <td>
                    <p><a class="flag-text">Documents required</a></p>
                    <!-- <p class="details">Submitted 12 Mar 2019</p> -->
                  </td>
                  <td class="claim-title border--none border--status">
                    <p class="main margin--left">Education assistance</p>
                    <!-- <p>Student claim</p> -->
                    <p class="details margin--left">Claim ID: 33657809</p>
                  </td>
                  <td class="claim-actions claim-actions-status">
                    <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                    <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                    <!-- <button class="uikit-btn small uikit-btn--borderless">Delete</button> -->
                    <button class="uikit-btn small uikit-btn--borderless">View</button>
                    <!-- <button class="uikit-btn small uikit-btn--borderless">Resume</button> -->
                  </td>
                </tr>


                <tr id="line-1">
                  <td class="status">
                    <p class="main margin--left">Submitted</p>
                    <p class="details margin--left">18 Sep 2018</p>
                  </td>
                  <td class="border--none">
                    <p class="main margin--left">Initial liability</p>
                    <p class="margin--left">Malignant melanoma of the skin</p>
                    <p class="details margin--left">Claim ID: 3365780923</p>
                  </td>
                  <td class="claim-actions">
                    <!-- <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                      <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                      <button class="uikit-btn small uikit-btn--borderless">Delete</button>
                      <button class="uikit-btn small uikit-btn--borderless">View</button> -->
                    <button class="uikit-btn small uikit-btn--borderless">Resume</button>
                  </td>
                </tr>

                <tr id="line-1">
                  <td class="status">
                    <p class="main margin--left">Approved</p>
                    <p class="details margin--left">12 Mar 2019</p>
                  </td>
                  <td class="claim-title border--none">
                    <p class="main margin--left">Initial liability</p>
                    <p class="margin--left">Compartment syndrome</p>
                    <p class="details margin--left">Claim ID: 33657809</p>
                  </td>
                  <td class="claim-actions">
                    <!--                      <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                      <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                      <button class="uikit-btn small uikit-btn--borderless">Delete</button> -->
                    <button class="uikit-btn small uikit-btn--borderless">View</button>
                    <!-- <button class="uikit-btn small uikit-btn--borderless">Resume</button> -->
                  </td>
                </tr>
                
              </table>
              <!-- <div id="show-toggle-mask" class="mask">
                  <button id="show-more-button" class="uikit-btn uikit-btn--tertiary small show-more-button-claims" onclick="showToggle();">Show more</button>
                </div> -->
              <!-- </div> -->
              <!-- </div> -->
            </section>
          </div>
          
          
        </section>
      </main>
      <% include ../../../global/partials/footer.ejs %>
        <script>
          function scrollToAdd() {
            $('html, body').animate({
              scrollTop: $("#claims-tiles").offset().top
            }, 1000);
          }

          $(document).keypress(function (e) {
            switch (e.which) {
              case 49:
                showScenario(1);
                break;
              case 50:
                showScenario(2);
                break;
              case 51:
                showScenario(3);
                break;
              default:
            }
            // console.log( e.which );
          });

          function showScenario(myScenario) {

            switch (myScenario) {
              case 1:
                $("#claim-activity").hide();
                $("#show-toggle-mask").show();
                break;
              case 2:
                $("#claim-activity").show();
                $("#line-4").show();
                $("#line-5").show();
                $("#line-6").show();
                $("#line-7").show();
                $("#show-toggle-mask").show();
                break;
              case 3:
                $("#line-4").hide();
                $("#line-5").hide();
                $("#line-6").hide();
                $("#line-7").hide();
                $("#line-8").hide();
                $("#line-9").hide();
                $("#line-10").hide();
                $("#claim-activity").show();
                $("#show-toggle-mask").hide();
                break;
              default:
                break
            }
          }

          function showToggle() {
            console.log($("#show-more-button").html())
            if ($("#show-more-button").html() == "Show more") {
              $("#show-more-button").html('Show less');
              $("#line-8").show();
              $("#line-9").show();
              $("#line-10").show();
              $("#show-toggle-mask").addClass("inactive");
            } else {
              $("#show-more-button").html('Show more');
              $("#line-8").hide();
              $("#line-9").hide();
              $("#line-10").hide();
              $("#show-toggle-mask").removeClass("inactive");
            }
          }



          $(".toggle-arrow").click(function () {
            $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
          });

          function goToByScroll(id) {
            id = id.replace("-link", "");
            $('html,body').animate({
              scrollTop: $("#" + id).offset().top
            },
              'slow');
          }
          $("#claim-activity-link").click(function (e) {
            e.preventDefault();
            goToByScroll($(this).attr("id"));
          });


          $("#entitlements").change(function () {
            if ($('#entitlements :selected').val() == "veterancard") {
              $("#entitlement-vc").removeClass('action-group__reveal--closed');
              $("#entitlement-vc").addClass('action-group__reveal--open');
            } else {
              $("#entitlement-vc").removeClass('action-group__reveal--open');
              $("#entitlement-vc").addClass('action-group__reveal--closed');
            }
            if ($('#entitlements :selected').val() == "mentalhealth") {
              $("#entitlement-mh").removeClass('action-group__reveal--closed');
              $("#entitlement-mh").addClass('action-group__reveal--open');
            } else {
              $("#entitlement-mh").removeClass('action-group__reveal--open');
              $("#entitlement-mh").addClass('action-group__reveal--closed');
            }
            if ($('#entitlements :selected').val() == "education") {
              $("#entitlement-student").removeClass('action-group__reveal--closed');
              $("#entitlement-student").addClass('action-group__reveal--open');
            } else {
              $("#entitlement-student").removeClass('action-group__reveal--open');
              $("#entitlement-student").addClass('action-group__reveal--closed');
            }
            if ($('#entitlements :selected').val() == "incap") {
              $("#entitlement-incap").removeClass('action-group__reveal--closed');
              $("#entitlement-incap").addClass('action-group__reveal--open');
            } else {
              $("#entitlement-afi").removeClass('action-group__reveal--open');
              $("#entitlement-afi").addClass('action-group__reveal--closed');
            }
            if ($('#entitlements :selected').val() == "afi") {
              $("#entitlement-afi").removeClass('action-group__reveal--closed');
              $("#entitlement-afi").addClass('action-group__reveal--open');
            } else {
              $("#entitlement-afi").removeClass('action-group__reveal--open');
              $("#entitlement-afi").addClass('action-group__reveal--closed');
            }
            if ($('#entitlements :selected').val() == "dhoas") {
              $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--closed');
              $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--open');
            } else {
              $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--open');
              $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--closed');
            }
            if ($('#entitlements :selected').val() == "sp") {
              $("#entitlement-sp").removeClass('action-group__reveal--closed');
              $("#entitlement-sp").addClass('action-group__reveal--open');
            } else {
              $("#entitlement-sp").removeClass('action-group__reveal--open');
              $("#entitlement-sp").addClass('action-group__reveal--closed');
            }
          });
        </script>
</body>

</html>