<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link href="docs/css/fontawesome/css/all.css" rel="stylesheet">
  <style>
    .payment-group {
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      border: 1px solid #ddd;
      background-color: #FFF;
      /*margin-bottom: 20px !important;*/

    }

    .row.payment-group {
      margin-bottom: 15px !important;

    }

    .row {
      margin: 0 !important;
      padding: 20px !important;
    }

    .ledger-rule {
      margin: 15px 0 15px 0;
      background-color: #ddd;
      height: 1px;
    }

    .body-small {
      font-size: .9rem;
    }

    .payment-row,
    .col-md-8,
    .col-md-4,
    .col-md-12 {
      padding: 0 !important;
    }

    h4,
    h5 {
      margin: 0;
    }

    .pagination {
      display: inline-block;
      border: 0 !important;
      padding: 0 !important;
    }

    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border: 0 !important;
      border-radius: 2px;
    }

    .pagination a.active {
      background-color: #fff;
    }

    .pagination a:hover:not(.active) {
      background-color: #ccc;
    }
  </style>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-authenticated.ejs %>
  <main>
    <section style="background-color: #eee;">
      <div class="container margin-above-none margin-below--none">
        <div class="col-md-offset-2 col-md-8 margin-below--extra" style="padding: 20px;">
          <h1 class="margin-below--small margin-above--none" style="margin-top: 25px;">
            <span class="heading">Payments</span>
          </h1>
          <div class="margin-above--large">
            <h2><span class="font-weight-heavy">Your recent payments</span></h2>
          </div>
          <div class="payment-group row">
            <div class="row payment-row col-md-12">
              <h4>Paid 14/02/2019</h4>
              <h5>Direct credit (Bill Appleton, AC 766 132, BSB 556 567)</h5>
              <div class="ledger-rule"></div>
            </div>
            <div class="row payment-row">
              <div class="col-md-8">
                <div class="body-small">Payment line 1</div>
                <div class="body-small">Payment line 2</div>
                <div class="body-small">Payment line 3</div>
              </div>
              <div class="col-md-4" style="text-align: right;">
                <div class="body-small">$100.00</div>
                <div class="body-small">$100.00</div>
                <div class="body-small">$100.00</div>
              </div>
            </div>
            <div class="row payment-row col-md-12">
              <div class="ledger-rule"></div>
            </div>
            <div class="row payment-row">
              <div class="col-md-8">
                <h4>Total payment</h4>
              </div>
              <div class="col-md-4" style="text-align: right;">
                <h4>$300.00</h4>
              </div>
            </div>
          </div>
          <div class="payment-group row">
            <div class="row payment-row col-md-12">
              <h4>Paid 14/02/2019</h4>
              <h5>Direct credit (Bill Appleton, AC 766 132, BSB 556 567)</h5>
              <div class="ledger-rule"></div>
            </div>
            <div class="row payment-row">
              <div class="col-md-8">
                <div class="body-small">Payment line 1</div>
                <div class="body-small">Payment line 2</div>
                <div class="body-small">Payment line 3</div>
              </div>
              <div class="col-md-4" style="text-align: right;">
                <div class="body-small">$100.00</div>
                <div class="body-small">$100.00</div>
                <div class="body-small">$100.00</div>
              </div>
            </div>
            <div class="row payment-row col-md-12">
              <div class="ledger-rule"></div>
            </div>
            <div class="row payment-row">
              <div class="col-md-8">
                <h4>Total payment</h4>
              </div>
              <div class="col-md-4" style="text-align: right;">
                <h4>$300.00</h4>
              </div>
            </div>
          </div>
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <% include ../../../global/partials/footer.ejs %>
  <script>
    function scrollToAdd() {
      g
      $('html, body').animate({
        scrollTop: $("#claims-tiles").offset().top
      }, 1000);
    }

    $(document).keypress(function (e) {
      switch (e.which) {
        case 49:
          showScenario(1);
          break;
        case 50:
          showScenario(2);
          break;
        case 51:
          showScenario(3);
          break;
        default:
      }
      // console.log( e.which );
    });

    function showScenario(myScenario) {

      switch (myScenario) {
        case 1:
          $("#claim-activity").hide();
          $("#show-toggle-mask").show();
          break;
        case 2:
          $("#claim-activity").show();
          $("#line-4").show();
          $("#line-5").show();
          $("#line-6").show();
          $("#line-7").show();
          $("#show-toggle-mask").show();
          break;
        case 3:
          $("#line-4").hide();
          $("#line-5").hide();
          $("#line-6").hide();
          $("#line-7").hide();
          $("#line-8").hide();
          $("#line-9").hide();
          $("#line-10").hide();
          $("#claim-activity").show();
          $("#show-toggle-mask").hide();
          break;
        default:
          break
      }
    }

    function showToggle() {
      console.log($("#show-more-button").html())
      if ($("#show-more-button").html() == "Show more") {
        $("#show-more-button").html('Show less');
        $("#line-8").show();
        $("#line-9").show();
        $("#line-10").show();
        $("#show-toggle-mask").addClass("inactive");
      } else {
        $("#show-more-button").html('Show more');
        $("#line-8").hide();
        $("#line-9").hide();
        $("#line-10").hide();
        $("#show-toggle-mask").removeClass("inactive");
      }
    }

    $(".toggle-arrow").click(function () {
      $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
    });

    function goToByScroll(id) {
      id = id.replace("-link", "");
      $('html,body').animate({
          scrollTop: $("#" + id).offset().top
        },
        'slow');
    }
    $("#claim-activity-link").click(function (e) {
      e.preventDefault();
      goToByScroll($(this).attr("id"));
    });


    $("#entitlements").change(function () {
      if ($('#entitlements :selected').val() == "veterancard") {
        $("#entitlement-vc").removeClass('action-group__reveal--closed');
        $("#entitlement-vc").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-vc").removeClass('action-group__reveal--open');
        $("#entitlement-vc").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "mentalhealth") {
        $("#entitlement-mh").removeClass('action-group__reveal--closed');
        $("#entitlement-mh").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-mh").removeClass('action-group__reveal--open');
        $("#entitlement-mh").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "education") {
        $("#entitlement-student").removeClass('action-group__reveal--closed');
        $("#entitlement-student").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-student").removeClass('action-group__reveal--open');
        $("#entitlement-student").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "incap") {
        $("#entitlement-incap").removeClass('action-group__reveal--closed');
        $("#entitlement-incap").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-afi").removeClass('action-group__reveal--open');
        $("#entitlement-afi").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "afi") {
        $("#entitlement-afi").removeClass('action-group__reveal--closed');
        $("#entitlement-afi").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-afi").removeClass('action-group__reveal--open');
        $("#entitlement-afi").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "dhoas") {
        $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--closed');
        $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--open');
        $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--closed');
      }
      if ($('#entitlements :selected').val() == "sp") {
        $("#entitlement-sp").removeClass('action-group__reveal--closed');
        $("#entitlement-sp").addClass('action-group__reveal--open');
      } else {
        $("#entitlement-sp").removeClass('action-group__reveal--open');
        $("#entitlement-sp").addClass('action-group__reveal--closed');
      }
    });
  </script>
</body>

</html>