<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claims | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/font/fontawesome/css/all.css">
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar.ejs %>
  <% include ../../../global/partials/header-authenticated.ejs %>
  <main>
    <section>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above-none">
          <div class="col-md-12 margin-below--extra">

            <h1 class="margin-below--small margin-above--none container">
              <span class="heading">Payments</span>
            </h1>

            <div class="container">
              <div class="container-fluid margin-above--large">
                <div class="row">
                  <div class="col-md-12 uikit-grid">
                    <div class="col-md-3 col-xs-3">
                      <h2>Heading column 1</h2>
                    </div>
                    <div class="col-md-3 col-xs-3">
                      <h2>Heading column 2</h2>
                    </div>
                    <div class="col-md-3 col-xs-3">
                      <h2>Heading column 3</h2>
                    </div>
                    <div class="col-md-3 col-xs-3">
                      <h2>Heading column 4</h2>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-fluid margin-above--large">
                <div class="row">
                  <div class="col-md-12 uikit-grid">
                    <div class="col-md-3 col-xs-3">
                      <p><a class="flag-text">Documents required</a></p>
                    </div>
                    <div class="col-md-4 col-xs-4">
                      <p class="main">Education assistance</p>
                      <p class="details">Claim ID: 33657809</p>
                    </div>
                    <div class="col-md-5 col-xs-5">
                      <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                      <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                      <button class="uikit-btn small uikit-btn--borderless">View</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 uikit-grid">
                    <div class="col-md-3 col-xs-3">
                      <p class="main">Submitted</p>
                      <p class="details">18 Sep 2018</p>
                    </div>
                    <div class="col-md-4 col-xs-4 uikit-grid">
                      <p class="main">Initial liability</p>
                      <p class="details">Compartment syndrome<br>
                        Claim ID: 33657809</p>
                    </div>
                    <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid">
                      <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                      <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                      <button class="uikit-btn small uikit-btn--borderless">View</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 uikit-grid"">
                  <div class=" col-md-3 col-xs-3">
                    <p class="main">Submitted</p>
                    <p class="details">18 Sep 2018</p>
                  </div>
                  <div class="col-md-4 col-xs-4 uikit-grid">
                    <p class="main">Initial liability</p>
                    <p class="details">Compartment syndrome<br>
                      Claim ID: 33657809</p>
                  </div>
                  <div class="col-md-5 col-xs-5 flex-item-3">
                    <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                    <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                    <button class="uikit-btn small uikit-btn--borderless">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 uikit-grid">
                  <div class="col-md-3 col-xs-3">
                    <p class="main">Submitted</p>
                    <p class="details">18 Sep 2018</p>
                  </div>
                  <div class="col-md-4 col-xs-4 uikit-grid">
                    <p class="main">Initial liability</p>
                    <p class="details">Compartment syndrome<br>
                      Claim ID: 33657809</p>
                  </div>
                  <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid">
                    <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                    <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                    <button class="uikit-btn small uikit-btn--borderless">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 uikit-grid">
                  <div class="col-md-3 col-xs-3">
                    <p class="main">Submitted</p>
                    <p class="details">18 Sep 2018</p>
                  </div>
                  <div class="col-md-4 col-xs-4 uikit-grid">
                    <p class="main">Initial liability</p>
                    <p class="details">Compartment syndrome<br>
                      Claim ID: 33657809</p>
                  </div>
                  <div class="col-md-5 col-xs-5 flex-item-3 uikit-grid">
                    <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                    <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                    <button class="uikit-btn small uikit-btn--borderless">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class=" row">
                <div class="col-md-12 uikit-grid">
                  <div class="col-md-3 col-xs-3 flex-item-1">
                    <p class="main">Submitted</p>
                    <p class="details">18 Sep 2018</p>
                  </div>
                  <div class="col-md-4 col-xs-4 uikit-grid">
                    <p class="main">Initial liability</p>
                    <p class="details">Compartment syndrome<br>
                      Claim ID: 33657809</p>
                  </div>
                  <div class="col-md-5 col-xs-5 uikit-grid">
                    <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                    <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                    <button class="uikit-btn small uikit-btn--borderless">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 uikit-grid">
                  <div class="col-md-3 col-xs-3">
                    <p class="main">Submitted</p>
                    <p class="details">18 Sep 2018</p>
                  </div>
                  <div class="col-md-4 col-xs-4 uikit-grid">
                    <p class="main">Initial liability</p>
                    <p class="details">Compartment syndrome<br>
                      Claim ID: 33657809</p>
                  </div>
                  <div class="col-md-5 col-xs-5 flex-item-3">
                    <button class="uikit-btn small uikit-btn--borderless">Add documents</button>
                    <button class="uikit-btn small uikit-btn--borderless">Withdraw</button>
                    <button class="uikit-btn small uikit-btn--borderless">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </main>
  <% include ../../../global/partials/footer.ejs %>
</body>

</html>