<%
  var progress = JSON.parse(include("b-progressbar")) 
  progress.activeItem = 2;
%>

<%- include(templates+"header", { 
  claim: "MyService - Income support supplement", 
  heading: "Dependant children",
  progress

 }) %>

          <div class="margin-above--extra margin-below--extra">

            <div class="start">
            <p><strong>Add any dependent children <span class="if-partnered" style="display: none;">(of you and/or your
                  partner)</span>who are:</strong></p>
            <ul>
              <li>Under 16 years of age, or</li>
              <li>16-22 years of age and in full time education</li>
            </ul>
            <div class="uikit-page-alerts" role="alert" id="dependent-explainer">
              <p>Dependent means that you are legally responsible for the day-to-day care, welfare and development of a
                child who is in your care or wholly or substantially in your
                care.</p>
            </div>
          </div>

            <div class="margin-above--extra">
              <%- include("dependant-box") %>
            </div>
          
            <button class="uikit-btn uikit-btn--tertiary" id="add-child" onClick="openNewCard('dependant')">Add child</button>

        
           
         
          </div>
          <!-- end of page content -->
        </div>
        <!-- bottom page navigation -->
        <div class="container container--8-column">
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary"
              onclick="window.location.href='/auth/claim/iss/b-01'">Previous </button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel
              claim</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and
                exit</button>
              <button class="uikit-btn btnNext"
                onclick="window.location.href='/auth/claim/iss/b-03'">Save and next </button>
            </div>
          </div>
        </div>
      </div>
      <!-- bottom page navigation end -->
      <%- include(partials+"content/modals/claims-cancel-modal") %>

  <%- include(partials+"components/layout/footer") %>
  <script>
    
    
  </script>
