<%
  var progress = JSON.parse(include("b-progressbar")) 
  progress.activeItem = 2;
%>

<%- include(templates+"header", { 
  claim: "MyService - Income support supplement", 
  heading: "Dependant children",
  progress

 }) %>

          <div class="margin-above--extra margin-below--extra">
            <p><strong>Add any dependent children <span class="if-partnered" style="display: none;">(of you and/or your
                  partner)</span>who are:</strong></p>
            <ul>
              <li>Under 16 years of age, or</li>
              <li>16-22 years of age and in full time education</li>
            </ul>
            <div class="uikit-page-alerts" role="alert" id="dependent-explainer">
              <p>Dependent means that you are legally responsible for the day-to-day care, welfare and development of a
                child who is in your care or wholly or substantially in your
                care.</p>
            </div>
            <!-- summary cards -->
            <div class="review__content--item boxed row" id="summary-1">
              <div class="review__content--label col-sm-10">
                <h3 class="margin-above--none margin-below--mid">Joe Smith</h3>
                <p class="margin-below--none">Date of birth: 05/08/2006</p>
                <p class="margin-below--none">Full time education: Yes</p>
                <p class="margin-below--none">Income: No</p>
                <p class="margin-below--none">Government payments: No</p>
              </div>
              <div class="col-sm-2">
                <button class="uikit-btn uikit-btn--tertiary">&nbsp;Edit &nbsp;</button><br /><button
                  class="uikit-btn uikit-btn--tertiary small margin-above--mid">Remove</button>
              </div>
            </div>
            <div class="review__content--item boxed row margin-above--mid" id="summary-2">
              <div class="review__content--label col-sm-10">
                <h3 class="margin-above--none margin-below--mid">Mark Smith</h3>
                <p class="margin-below--none">Date of birth: 05/08/2006</p>
                <p class="margin-below--none">Full time education: Yes</p>
                <p class="margin-below--none">Income: No</p>
                <p class="margin-below--none">Government payments: No</p>
              </div>
              <div class="col-sm-2">
                <button class="uikit-btn uikit-btn--tertiary">
                  &nbsp;Edit &nbsp;</button><br /><button
                  class="uikit-btn uikit-btn--tertiary small margin-above--mid">Remove
                </button>
              </div>
            </div>
            <div class="row" id="add-another">
              <div class="col-sm-12 margin-above ss-align--center">
                <button class="uikit-btn uikit-btn--tertiary" id="addAnother">Add another child</button>
              </div>
            </div>
            <button class="uikit-btn uikit-btn--tertiary" id="add-child" onClick="openNewCard('dependant')">Add child</button>
           

            <!-- <p class="manage">
              <button class="uikit-btn uikit-btn--borderless mys inline-button" onClick="openNewCard('dependant')">Manage your preferences</button> for official
              commemoration.
            </p> -->
            <div class="margin-above--extra">
              <%- include("dependant-box") %>
            </div>
          </div>
          <!-- end of page content -->
        </div>
        <!-- bottom page navigation -->
        <div class="container container--8-column">
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary"
              onclick="window.location.href='/auth/claim/iss/b-01'">Previous </button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel
              claim</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and
                exit</button>
              <button class="uikit-btn btnNext"
                onclick="window.location.href='/auth/claim/iss/b-03'">Save and next </button>
            </div>
          </div>
        </div>
      </div>
      <!-- bottom page navigation end -->
      <%- include(partials+"content/modals/claims-cancel-modal") %>

  <%- include(partials+"components/layout/footer") %>
  <script>
    
  </script>
