<% if (locals.el.optionalID) { 
  var id = locals.el.optionalID;
} else {
    var id = locals.el.question.replace(/ +/g, '_').replace(/\?/g, "").toLowerCase(); 
}

%>
<% if (locals.el.optionalHide === true) { %>
<style>
    #<%=id %> {
    display: none;
  }

</style>
<% } %>

<div class="form-group" id="<%= id %>">
    <label class="uikit-text-input__label" for="tags"><%= locals.el.question %>
    <% if (locals.el.optionalHint) { %> 
    	<span class="hint"><%= locals.el.optionalHint %></span>
    <% } %>
    </label>
    <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
</div>

