<option value="">-- Select doctor --</option>
<option selected value="">Dr Lee Chan</option>
<option value="">Dr Lee Chan</option>
<option value="">Mrs</option>
<option value="">Ms</option>
<option value="">Dr</option>
