<% if (locals.optionalID) { 
  var id = locals.optionalID;
} else {
  var id = locals.message.replace(/ +/g, '_').replace(/\?/g, "").toLowerCase(); 
}

%>
<% if (locals.optionalHide === true) { %>
<style>
  #<%=id %> {
    display: none;
  }
</style>
<% } %>

<div class="uikit-page-alerts" role="alert" id="<%= id %>">
  <p><%= locals.message %></p>
</div>


