<div class="form-group">
<label class="uikit-text-input__label" for="title">Title</label>
<select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
<option value="" default>-- Select title --</option>
<option value="Admiral">Admiral</option>
<option value="Captain">Captain</option>
<option value="Lance Bombardier">Lance Bombardier</option>
<option value="Warrant Officer of the Air Force">Warrant Officer of the Air Force</option>
<option value="Bombardier">Bombardier</option>
<option value="Leading Aircraftwoman">Leading Aircraftwoman</option>
<option value="Aircraftwoman">Aircraftwoman</option>
<option value="Lt General (Retired)">Lt General (Retired)</option>
<option value="No Preferred Title">No Preferred Title</option>
<option value="Chief Inspector">Chief Inspector</option>
<option value="Colonel">Colonel</option>
<option value="Commander">Commander</option>
<option value="Commissioner">Commissioner</option>
<option value="Commodore">Commodore</option>
<option value="Dame">Dame</option>
<option value="Dr">Dr</option>
<option value="Emeritus Professor">Emeritus Professor</option>
<option value="Father">Father</option>
<option value="Air Commodore">Air Commodore</option>
<option value="General">General</option>
<option value="General Sir">General Sir</option>
<option value="Group Captain">Group Captain</option>
<option value="His Excellency">His Excellency</option>
<option value="His Honour Judge">His Honour Judge</option>
<option value="Honourable Mr Justice">Honourable Mr Justice</option>
<option value="Honourable Doctor">Honourable Doctor</option>
<option value="Honourable Sir">Honourable Sir</option>
<option value="Judge">Judge</option>
<option value="Lady">Lady</option>
<option value="Air Marshal">Air Marshal</option>
<option value="Lieutenant Colonel">Lieutenant Colonel</option>
<option value="Lieutenant Commander">Lieutenant Commander</option>
<option value="Lieutenant">Lieutenant</option>
<option value="Lord">Lord</option>
<option value="Lieutenant Colonel (Retired)">Lieutenant Colonel (Retired)</option>
<option value="Lieutenant Commander (Retired)">Lieutenant Commander (Retired)</option>
<option value="Lt General">Lt General</option>
<option value="Lt General Sir">Lt General Sir</option>
<option value="Major General Sir">Major General Sir</option>
<option value="Major">Major</option>
<option value="Air Vice Marshal">Air Vice Marshal</option>
<option value="Major General">Major General</option>
<option value="Matron">Matron</option>
<option value="Miss">Miss</option>
<option value="Monsignor">Monsignor</option>
<option value="Mr">Mr</option>
<option value="Mr Justice">Mr Justice</option>
<option value="Mrs">Mrs</option>
<option value="Ms">Ms</option>
<option value="Professor">Professor</option>
<option value="Professor Sir">Professor Sir</option>
<option value="Archdeacon">Archdeacon</option>
<option value="Rear Admiral">Rear Admiral</option>
<option value="Reverend Professor">Reverend Professor</option>
<option value="Reverend">Reverend</option>
<option value="Reverend Brother">Reverend Brother</option>
<option value="Reverend Canon">Reverend Canon</option>
<option value="Reverend Doctor">Reverend Doctor</option>
<option value="Reverend Father">Reverend Father</option>
<option value="Reverend Mr">Reverend Mr</option>
<option value="Right Reverend">Right Reverend</option>
<option value="Right Reverend Monsignor">Right Reverend Monsignor</option>
<option value="Baroness">Baroness</option>
<option value="Senator">Senator</option>
<option value="Sir">Sir</option>
<option value="Squadron Leader (Retired)">Squadron Leader (Retired)</option>
<option value="Squadron Leader">Squadron Leader</option>
<option value="Surgeon Captain">Surgeon Captai</option>
<option value="Surgeon Commander">Surgeon Commander</option>
<option value="The Honourable">The Honourable</option>
<option value="The Venerable">The Venerable</option>
<option value="Vice Admiral Sir">Vice Admiral Sir</option>
<option value="Bishop">Bishop</option>
<option value="Wing Commander">Wing Commander</option>
<option value="Wing Commander (Retired)">Wing Commander (Retired)</option>
<option value="Corporal">Corporal</option>
<option value="Lance Corporal">Lance Corporal</option>
<option value="2nd Lieutenant">2nd Lieutenant</option>
<option value="Private">Private</option>
<option value="RSM">RSM</option>
<option value="Sergeant">Sergeant</option>
<option value="Staff Sergeant">Staff Sergeant</option>
<option value="Warrant Officer Class 1">Warrant Officer Class 1</option>
<option value="Brigadier">Brigadier</option>
<option value="Warrant Officer Class 2">Warrant Officer Class 2</option>
<option value="Able Seaman">ble Seaman</option>
<option value="Acting Sub Lieutenant">Acting Sub Lieutenant</option>
<option value="Chief Petty Officer">hief Petty Officer</option>
<option value="Leading Seaman">Leading Seaman</option>
<option value="Midshipman">Midshipman</option>
<option value="Petty Officer">Petty Officer</option>
<option value="Seaman">Seaman</option>
<option value="Sub Lieutenant">Sub Lieutenant</option>
<option value="Warrant Officer">Warrant Officer</option>
<option value="Canon">Canon</option>
<option value="Warrant Officer of the Navy">Warrant Officer of the Navy</option>
<option value="Aircraftman">Aircraftman</option>
<option value="Air Chief Marshal">Air Chief Marshal</option>
<option value="Flight Lieutenant">Flight Lieutenant</option>
<option value="Flight Sergeant">Flight Sergeant</option>
<option value="Flying Officer">Flying Officer</option>
<option value="Leading Aircraftman">Leading Aircraftman</option>
<option value="d Officer Cadet">Non-Commissioned Officer Cadet</option>
<option value="Officer Cadet">Officer Cadet</option>
<option value="Pilot Officer">Pilot Officer</option>
<option value="Brother">Brother</option>
<option value="Major Retired">Major Retired</option>
</select>
</div>