<option value="" default>-- Select title --</option>
<option value="Miss">Miss</option>
<option value="Mr">Mr</option>
<option value="Mrs">Mrs</option>
<option value="Ms">Ms</option>
<option value="Dr">Dr</option>

<select class="uikit-text-input input-half" name="drop-down">
<option value="" default>-- Select title --</option>
<option value="Admiral">Admiral
<option value="Captain">Captain
<option value="Lance Bombardier">Lance Bombardier
<option value="Warrant Officer of the Air Force">Warrant Officer of the Air Force
<option value="Bombardier">Bombardier
<option value="Leading Aircraftwoman">Leading Aircraftwoman
<option value="Aircraftwoman">Aircraftwoman
<option value="Lt General (Retired)">Lt General (Retired)
<option value="No Preferred Title">No Preferred Title
<option value="Chief Inspector">Chief Inspector
<option value="Colonel">Colonel
<option value="Commander">Commander
<option value="Commissioner">Commissioner
<option value="Commodore">Commodore
<option value="Dame">Dame
<option value="Dr">Dr
<option value="Emeritus Professor">
<option value="Father">Father
<option value="Air Commodore">Air Commodore
<option value="General">General
<option value="General Sir">General Sir
<option value="Group Captain">Group Captain
<option value="His Excellency">His Excellency
<option value="His Honour Judge">His Honour Judge
<option value="Honourable Mr Justice">Honourable Mr Justice
<option value="Honourable Doctor">Honourable Doctor
<option value="Honourable Sir">Honourable Sir
<option value="Judge">Judge
<option value="Lady">Lady
<option value="Air Marshal">Air Marshal
<option value="Lieutenant Colonel">Lieutenant Colonel
<option value="Lieutenant Commander">Lieutenant Commander
<option value="Lieutenant">Lieutenant
<option value="Lord">Lord
<option value="Lieutenant Colonel (Retired)">Lieutenant Colonel (Retired)
<option value="Lieutenant Commander (Retired)">Lieutenant Commander (Retired)
<option value="Lt General">Lt General
<option value="Lt General Sir">Lt General Sir
<option value="Major General Sir">Major General Sir
<option value="Major">Major
<option value="Air Vice Marshal">Air Vice Marshal
<option value="Major General">Major General
<option value="Matron">Matron
<option value="Miss">Miss
<option value="Monsignor
<option value="Mr
<option value="Mr Justice
<option value="Mrs
<option value="Ms
<option value="Professor
<option value="Professor Sir
<option value="Archdeacon
<option value="Rear Admiral
<option value="Reverend Professor
<option value="Reverend
<option value="Reverend Brother
<option value="Reverend Canon
<option value="Reverend Doctor
<option value="Reverend Father
<option value="Reverend Mr
<option value="Right Reverend
<option value="Right Reverend Monsignor
<option value="Baroness
<option value="Senator
<option value="Sir
<option value="Squadron Leader (Retired)
<option value="Squadron Leader
<option value="Surgeon Captain
<option value="Surgeon Commander
<option value="The Honourable
<option value="The Venerable
<option value="
<option value="Vice Admiral Sir
<option value="Bishop
<option value="Wing Commander
<option value="Wing Commander (Retired)
<option value="Corporal
<option value="Lance Corporal
<option value="2nd Lieutenant
<option value="Private
<option value="RSM
<option value="Sergeant
<option value="Staff Sergeant
<option value="Warrant Officer Class 1
<option value="Brigadier
<option value="Warrant Officer Class 2
<option value="Able Seaman
<option value="Acting Sub Lieutenant
<option value="Chief Petty Officer
<option value="Leading Seaman
<option value="Midshipman
<option value="Petty Officer
<option value="Seaman
<option value="Sub Lieutenant
<option value="Warrant Officer
<option value="Canon
<option value="Warrant Officer of the Navy
<option value="Aircraftman
<option value="Air Chief Marshal
<option value="Flight Lieutenant
<option value="Flight Sergeant
<option value="Flying Officer
<option value="Leading Aircraftman
<option value="d Officer Cadet
<option value="Officer Cadet
<option value="Pilot Officer
<option value="Brother
<option value="Major Retired

