<div class="form-group">

  <fieldset>
    <!-- Account location -->
    <!--
    <div class="form-group">
        <label class="uikit-text-input__label" for="bank-location">My bank account is..</label>
        <div class="radio-toggle">
            <label class="on label-left" for="aus-yes"><input id="aus-yes" type="radio" name="bank-location"><span>in Australia</span></label>
            <label class="off label-right" for="aus-no"><input id="aus-no" type="radio" name="bank-location"><span>overseas</span></label>
        </div>
    </div>
-->


    <div class="form-group aus-yes margin-below--none">

      <!-- Account name -->
      <div class="form-group">
        <label class="uikit-text-input__label" for="account-name">Account name </label>
        <input class="uikit-text-input" name="account-name" id="account-name" type="text" value="" required aria-required="true" style="max-width: 22em;">
      </div>

      <!-- BSB -->
      <div class="form-group">
        <label class="uikit-text-input__label" for="bsb">BSB
          <span class="hint">(XXX - XXX)</span>
        </label>
        <input class="uikit-text-input bsb" type="text" name="bsb" id="bsb" maxlength="3" required aria-required="true" aria-label="3 digit BSB" maxlength="3"> -
        <input class="uikit-text-input bsb" type="text" name="bsb" id="bsb" maxlength="3" required aria-required="true" aria-label="3 digit BSB" maxlength="3">
      </div>

      <!-- Account number -->
      <div class="form-group">
        <label class="uikit-text-input__label" for="account-number">Account number</label>
        <input class="uikit-text-input" name="account-number" id="account-number" type="text" value="" required aria-required="true" style="max-width: 22em;">
      </div>

      <div>
        <!-- Loading icon will appear after BSB is entered whilst the system does a check to see what financial institution is associated -->
        <!-- <div class="loading"></div> -->

        <!-- Financial institution details will replace the loading icon once data has been retrieved. -->
        <!-- <h3 class="labeltext margin-below--none">Financial institution</h3>
        <p>Commonwealth Bank</p> -->
      </div>


    </div>

    <!--
    <div class="form-group aus-no" style="display:none;">
        <p>To add an overseas bank account you will need to complete an 'Bank Account Details for Overseas Residents' form appropriate to the country where the account is held.</p>
        <p></p>
        <div class="form-group">
            <label class="uikit-text-input__label" for="country">Country of bank account: </label>
            <select class="uikit-text-input input-half" id="country" name="country">
                <option selected>-- Select country --</option>
                <option>Canada</option>
                <option>Croatia</option>
                <option>Hong Kong</option>
                <option>Israel</option>
                <option>Italy</option>
                <option>New Zealand</option>
                <option>Singapore</option>
                <option>USA</option>
                <option>Other</option>
            </select>
        </div>
    </div>
-->
  </fieldset>

</div>

<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
  // Progress percentage
  // document.getElementById("percentage").style.width = "75%";
  // document.getElementById("percentage_value").textContent = "75%";

  // autotab between BSB fields
  $("#bsb").keyup(function () {
    if (this.value.length == this.maxLength) {
      $(this).next('#bsb').focus();
    }
  });

  //// PI messages
  //$( "#aus-yes" ).click(function() {
  //    $( ".aus-no" ).hide();
  //    $( ".aus-yes" ).show("fast");
  //});
  //$( "#aus-no" ).click(function() {
  //    $( ".aus-yes" ).hide();
  //    $( ".aus-no" ).show("fast");
  //});

</script>
