<%- include(templates+"header", { claim: "MyService - Request review" , heading:
"Provide documents" }) %>


<h2 class="mys h2 margin-below--small">Provide documents for your review</h2>
<p>Any documents you upload here will be attached to your review request.</p>

<!-- <strong>Supporting evidence</strong> (recommended)
<p>Add documents to support your request. For example: letter of decision, reason for request, medical evidence. You are also able to provide these documents later.</p> -->
<p>Accepted file types include word doc, pdf, jpeg and png. Maximum file size is 50MB.</p>
</p>

<div class="mys doc-upload margin-above--small margin-below--extra">
  <div class="file">
    <i class="icon fal fa-file-upload fa-2x"></i>
    <span>Document</span>
  </div>
  <button class="mys-file-uploads__item-button uikit-btn small">
    Upload
  </button>
</div>



      <%- include(forms+"pagination", {
  customClass: "margin-above--extra margin-below--extra",
  pagination: [
    {
      text: "Cancel",
      link: "/auth/reviews/index?state=more"
    },
    {
      text: "Submit",
      link: "/auth/reviews/index?state=more&toast=success",
      modifiers: ["floated", "primary"]
    }
  ]
}) %>



<%- include(templates+"footer") %>
