<div id="state-switcher">
  <h3>State switcher</h3>


  
  <%- include(partials+"components/form-partials/radio", {
    label: "Past requests",
    boxes: [
      "None",
      "Some"
    ],
    id: "requests"
  }); %>

  <%#- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Notification submitted successfully"
    ],
    id: "notify-success",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  $(document).ready(function () {

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('input[name=requests]').change(function () {
      state = $(this).val();
      stateSwitcher();
    });

    $('#notify-success-1').change(function () {
      updateNotify();
    });

  });

  function updateNotify() {
    var myStatus = $("#notify-success-1").is(":checked");
    if (myStatus) {
      $("#success-container").show();
    } else {
      $("#success-container").hide();
    }
  }

</script>