<%- include(templates+"header", {
  claim: "MyService - Request review",
  heading: "Review and submit"
}) %>

<p class="internal-review">By submitting this request the decision will be reviewed internally by DVA. You can find more information on the <a href='#'' class='external-link'>DVA website</a>.</p>

<p class="vrb-review">By submitting this request the decision will be reviewed by Veterans' Review Board. You can find more information on the <a href='https://www.dva.gov.au/financial-support/appeals/veterans-review-board/about-veterans-review-board' class='external-link'>DVA website</a>.</p>

<%- include(components+"review-submit", {
      claim_title: "Request for review",
      categories: [
        {
          title: "Decision information",
          edit_url: "/auth/reviews/reviews-01",
          data: [
              {
                q: "Select a claim that is related to the decision you would like to have reviewed.",
                a: "DVA255675<BR/>Initial Liability (MRCA)<BR/>1 Aug 2020<BR/>Osteoarthritis"
              }
            ]
        },
        {
          title: "Reason for request",
          edit_url: "/auth/reviews/reviews-02",
          data: [
          {
              q: "Enter your detailed reason/s for requesting a review",
              a: "Decision has not taken into consideration certain factors."
          },
          {
            q: "Supporting evidence",
            a: "evidence.doc<BR/>determination-letter.pdf"
          }
            ]
        },
        {
          title: "Claim representative",
          edit_url: "/auth/reviews/reviews-03",
          data: [
              {
                q: "Do you wish to nominate a person to represent you in matters related to this review / appeal?",
                a: "No"
              }
            ]
        }
        
       
        ],
        customClass: ["margin-below--extra"]
    }) %>


    <%- include(forms+"pagination", {
      pagination: [
      {
        text: "Previous",
        link: "/auth/reviews/reviews-03",
      },
      {
          text: "Cancel",
          link: "#claim-cancel-modal"
        },
        {
          text: "Save and exit",
          id: "btnNext",
          link: "/auth/reviews",
          modifiers: ["floated"]
        },
        {
          text: "Submit",
          id: "btnNext",
          link: "/auth/reviews/reviews-05",
          modifiers: ["primary", "floated"]
        }
      ]
    }) %>

<%- include(templates+"footer") %>