<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "State",
    boxes: [
      "More decisions",
      "Some decisions",
      "No decisions"
    ],
    id: "state"
  }); %>

</div>

<script>

  $(document).ready(function () {

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $("#state-1").prop("checked", true);

    $('input[name=state]').change(function () {
      state = $(this).parent().find('span').text().trim();
      updatePage();
    });

  });

</script>