<%- include(templates+"header", { claim: "MyService - Request review" , heading: "Decision information" }) %>

  <form id="myform">
    <input type="reset" style="display:none">
    <div id="decisions-found">
      <p><strong>Select a claim that is related to the decision you would like to have reviewed.</strong>
      <BR/>If the claim you are looking for is not listed select “Other".</p>
      <table class="mys-table1 reviews--decisions margin-below--extra">
        <thead>
          <tr>
            <th><h3 class="mys h3">Claim number</h3></th>
            <th><h3 class="mys h3">Type</h3></th>
            <th><h3 class="mys h3">Date</h3></th>
            <th><h3 class="mys h3">Description</h3></th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr id="blank" class="placeholder" hidden>
            <td colspan="5">No decisions found for the date entered. Check your dates and try again.</td>
          </tr> -->
          <tr id="item-1">
            <td>
              <span class="mys radio-checkbox">
                <input type="radio" id="myRadio1" name="myRadio" value="">
                <label for="myRadio1">NSM123456</label>
              </span>
            </td>
            <td data-title="Type">Disability Pension (VEA)</td>
            <td data-title="Decision date">1 Dec 2019</td>
            <td data-title="Description">Lumbar Spondylosis, Ischaemic Heart Disease</td>
          </tr>
          <tr id="item-2">
            <td>
              <span class="mys radio-checkbox">
                <input type="radio" id="myRadio2" name="myRadio" value="">
                <label for="myRadio2">NSM123457</label>
              </span>
            </td>
            <td data-title="Type">Disability Pension (VEA)</td>
            <td data-title="Decision date">15 Dec 2019</td>
            <td data-title="Description">Application for increase</td>
          </tr>
          <tr id="none">
            <td class="no-label" colspan="4">
              <span class="mys radio-checkbox">
                <input type="radio" id="myRadio3" name="myRadio" value="">
                <label for="myRadio3">Other</label>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>

  <p id="save-next" hidden class="margin-above">Choose <b>save and next</b> to continue</p>

  <%- include(forms+"pagination", { pagination: [ { text: "Previous" , link: "/auth/reviews/" },  {
      text: "Cancel",
      link: "#claim-cancel-modal"
    },
    {
      text: "Save and exit", 
      link: "/auth/reviews/index?state=one", 
      modifiers: ["floated" ] }, 
    { 
      text: "Save and next", 
      link: "javascript:goNext()", 
      modifiers: ["floated", "primary" ] 
    } ] }) %>

    <%- include(templates+"footer") %>

      <script>

        $('.reviews--decisions tr').click(function () {
          $(this).find('td input:radio').prop('checked', true);
        })

        $('.reviews--decisions input[type="radio"]').click(function () {
          selectedRow = $(this).closest('tr').attr('id');
          updateForm(selectedRow)
        });

        $('.reviews--decisions tr').click(function () {
          selectedRow = $(this).attr('id');
          $(".reviews--decisions tr").removeClass('selected');
          $(this).addClass('selected');
          updateForm(selectedRow)
        });

        var selected;
        function updateForm(selectedRow) {
          switch (selectedRow) {
            case "none":
              selected = "other";
              break;
            default:
              selected = "disab";
              break;
          }
        }

        function goNext(){
          window.location = "/auth/reviews/reviews-02?state=" + selected;
        }

      </script>