<%- include(templates+"header", {
  claim: "MyService - Request review",
  heading: "Submitted",
  modifiers: ["noHeading"]
}) %>

  <%- include(forms+"submitting", {
    modifiers: ["claimID"],
    type: "submitted",
    submitting_text: "We're submitting your request for review",
    submitted_text: `Your request has been <b>submitted</b>`,
    supporting_text: `<h3>Your request is being assessed.</h3>`
  }) %> 

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Back to home",
        link: "/auth/"
      },
      {
        text: "Back to reviews",
        link: "/auth/reviews/"
      }
    ]
  }) %>

<%- include(templates+"footer") %>