<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "State",
    boxes: [
      "Default",
      "Multiple conditions",
      "Incap"
    ],
    id: "state"
  }); %>

</div>

<script>

  $(document).ready(function () {

    $("#state-1").prop("checked", true);

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('input[name="state"]').change(function () {
	    myID = $(this).val();
      $("#cond-container").hide();
      $("#cond-pending-container").hide();
      $("#incap-reason-container").hide();
      switch ( myID ) {
        case "multipleconditions":
          $("#cond-container").show();
          $("#cond-pending-container").show();
          break;
        case "incap":
          $("#incap-reason-container").show();
          break;
        case "default":
          break;
        default:
          break;
      }
    });

 


  });

</script>