<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/checkbox", {
    label: "State",
    boxes: [
      "Multiple conditions"
    ],
    id: "state"
  }); %>

</div>

<script>

  $(document).ready(function () {

    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $('#state-1').change(function () {
      if ( $(this).is(':checked') ) {
        $("#cond-container").show();
        $("#cond-pending-container").show();
      } else {
        $("#cond-container").hide();
        $("#cond-pending-container").hide();
      }
    });

    // $('#state-2').change(function () {
    //   if ( $(this).is(':checked') ) {
    //     $("#cond-pending-container").show();
    //   } else {
    //     $("#cond-pending-container").hide();
    //   }
    // });


  });

</script>