

  <%- include(templates+"header", {
    claim: "MyService - Request review",
    heading: "Request for review"
  }) %>

<h2 id="claim-status" class="status-icon status-icon--large status-submitted">Your request for review has been
      submitted</h2>

<%- include(components+"review-submit", {
  claim_title: "Request for review",
  categories: [

  {
    title: "Request details",
    data: [
        {
          q: "Date submitted",
          a: "10 Jan 2021"
        },
        {
          q: "Request ID",
          a: "44532789"
        }
      ]
  },
    {
      title: "Decision information",
      data: [
          {
            q: "Decision selected",
            a: "Initial Liability<BR/>DVA255675<BR/>Rejected, 1 Aug 2020<BR/>Osteoarthritis"
          }
        ]
    },
    {
      title: "Reason for request",
      data: [
      {
          q: "Enter your detailed reason/s for requesting a review",
          a: "Decision has not taken into consideration certain factors."
      },
      {
        q: "Supporting evidence",
        a: "evidence.doc<BR/>determination-letter.pdf"
      }
        ]
    },
    {
      title: "Claim representative",
      data: [
          {
            q: "Do you wish to nominate a person to represent you in matters related to this review / appeal?",
            a: "No"
          }
        ]
    }
    ],
    id: "select-from-list",
    customClass: ["margin-below--large"]
    }) %>

<%- include(forms+"pagination", {
      modifiers: ["marginAbove"],
      pagination: [
        {
          text: "Previous",
          link: "/auth/reviews"
        },
        {
          text: "Print",
          link: "",
          modifiers: ["floated"]
        }
      ]
    }) %>

<%- include(templates+"footer") %>