<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Review and submit: Application for Increase to Disability Pension | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>

  <main is="main-content">
    <div class="container">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>

      <h1 class="margin-below">
        <span class="heading">Review and submit</span>
      </h1>

      <table class="cover-detail">
        <caption class="padding-below">Worsened conditions
          <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/afi-start'">Change</button>
        </caption>
        <thead>
          <tr>
            <th>Select the conditions that have worsened since your last assessment</th>
            <td>
              <ul>
                <li>tinnitus</li>
                <li>lumbar spondylosis</li>
                <li>depression</li>
              </ul>
            </td>
          </tr>
        </thead>
      </table>

      <table class="cover-detail">
        <caption class="padding-below">Medical
          <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/afi-claim1'">Change</button>
        </caption>
        <tbody>
          <tr>
            <th>Dr Nick Riviera (general practitioner)</th>
            <td>Springfield Hospital
              <br> Springfield
              <br> 02 6123 4567
            </td>
          </tr>
          <tr>
            <th>Dr Jamie Lee</th>
            <td>Ryde Medical Centre
              <br> North Ryde
              <br> 02 9807 1230
            </td>
          </tr>
          <tr>
            <th>Dr Marta Machalevski</th>
            <td>St Vincent’s Hospital
              <br> Potts Point
              <br> 02 9487 9111</td>
          </tr>
          <tr>
            <th>Christina San Lucas</th>
            <td>Gosford Hospital
              <br> Gosford
              <br> 02 9487 9385</td>

          </tr>
        </tbody>
      </table>

      <table class="cover-detail">
        <caption class="padding-below">Employment
          <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/afi-claim2'">Change</button>
        </caption>
        <tbody>
          <tr>
            <th>Are you employed?</th>
            <td>Yes</td>
          </tr>
          <tr>
            <th>Name of current employer</th>
            <td>Springfield Nuclear Power Plant</td>
          </tr>
          <tr>
            <th>Average hours per week</th>
            <td>20</td>
          </tr>
        </tbody>
      </table>



      <div class="pagination">
        <p>By clicking
          <strong>submit claim</strong> you confirm this information is truthful and accurate.</p>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/afi-claim2'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/afi-submitted'">Submit claim</button>
        </div>
      </div>

      <% include ../../../partials/claims-cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../partials/footer.ejs %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "80%";
    document.getElementById("percentage_value").textContent = "80%";

    $("#employed-yes").click(function () {
      $("#change-in-employment").show();
      $("#unemployed").hide();
    });
    $("#employed-no").click(function () {
      $("#unemployed").show();
      $("#change-in-employment").hide();
    });
    $("#employment-change-yes").click(function () {
      $("#employment-details").show();
      $("#save-and-next").hide();
    });
    $("#employment-change-no").click(function () {
      $("#employment-details").hide();
      $("#save-and-next").show();
    });
  </script>

</body>

</html>