<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service history - about your claim | MyService</title>
  <link href="/docs/css/main.css" rel="stylesheet">
  <link href="/docs/css/fontawesome/css/all.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  
   <% include ../../../partials/header-topbar.ejs %>
    <% include ../../../partials/header-nom-rep.ejs %>
    <main>
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <!-- Page heading -->
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">About your claim</span>
        </h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 ">
            <div class="margin-above--extra margin-below--extra">
              <!-- <form id="myForm" novalidate> -->
                 <div id="alert-no-conflict" style="display: none;" class="uikit-page-alerts uikit-page-alerts--error" role="alert">
              <span class="uikit-display-1">You need to add at least one conflict to proceed with your claim.</span>
            </div>
             
              
              <!-- start conflict -->
              <div id="conflict-message">
                <h2 class="margin-below--none margin-above--large">Tell us about any conflicts you have been involved in.</h2>
                <p>Add at least one conflict to proceed with the claim.
                </p>
              </div>
              <button class="uikit-btn uikit-btn--primary" id="addConflict">Add conflict</button>
              <div style="display: none;" class="review__content--item boxed margin-above" id="conflict-summary-1">
                <div class="review__content--label margin-below">
                  <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-map-marker-alt fa-icons"></span>
                    <span class="font-weight-heavy">Conflict</span>
                  </h2>
                  <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('boarders-and-lodgers');">&nbsp;Edit&nbsp;</button>
                </div>
                <div class="review__table">
                  <div class="tr">
                    <div class="td"><b>Conflict</b></div>
                    <div class="td">Vietnam</div>
                  </div>
                  <div class="tr">
                    <div class="td"><b>Start date</b></div>
                    <div class="td">05/08/1968</div>
                  </div>
                  <div class="tr">
                    <div class="td"><b>End date</b></div>
                    <div class="td">05/08/1968</div>
                  </div>
                </div>
              </div>
              <div style="display: none;" class="review__content--item boxed margin-above" id="conflict-summary-2">
                <div class="review__content--label margin-below">
                  <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-map-marker-alt fa-icons"></span>
                    <span class="font-weight-heavy">Conflict</span>
                  </h2>
                  <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('boarders-and-lodgers');">&nbsp;Edit&nbsp;</button>
                </div>
                <div class="review__table">
                  <div class="tr">
                    <div class="td"><b>Conflict</b></div>
                    <div class="td">Vietnam</div>
                  </div>
                  <div class="tr">
                    <div class="td"><b>Start date</b></div>
                    <div class="td">05/08/1968</div>
                  </div>
                  <div class="tr">
                    <div class="td"><b>End date</b></div>
                    <div class="td">05/08/1968</div>
                  </div>
                </div>
              </div>
              <div style="display: none;" class="row" id="addAnotherConflictWrapper">
                <div class="col-sm-12 margin-above ss-align--center">
                  <button class="uikit-btn uikit-btn--tertiary" id="addAnotherConflict">Add another conflict</button>
                </div>
              </div>
              <!-- open card -->
              <div class="form-group margin-above">
                <div style="display: none;" class="boxed" id="conflict-details">
                  <h2 class="margin-above--none" style="display: inline-block;">
                    <span class="fal fa-map-marker-alt fa-icons"></span><span class="font-weight-heavy">Conflict</span>
                  </h2>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="Input field">Conflict</label>
                    <input class="uikit-text-input input-half" name="service_number" id="service_number" type="text" />
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="date">Start date
                      <span class="hint">(mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month" /> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year" />
                  </div>
                  <div class="form-group margin-above--large">
                    <label class="uikit-text-input__label" for="date">End date
                      <span class="hint">(mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month" /> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year" />
                  </div>
                  <hr />
                  <div class="form-group margin-above--none">
                    <button id="conflict-save" class="uikit-btn">
                      &nbsp;&nbsp;&nbsp; Save &nbsp;&nbsp;&nbsp;
                    </button>
                    &nbsp;<button id="danger-period-cancel" class="uikit-btn uikit-btn--tertiary">
                      &nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;
                    </button>
                  </div>
                </div>
              </div>
              <!-- end conflict -->
              
            </div>
          </div>
          <!-- col-md-12 end -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
              <button id="save-and-exit-button" class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
              <button id="save-and-next-button" class="uikit-btn btnNext" onclick="checkSaveAndNext()">Save and next</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% include ../../../partials/claims-cancel-modal.ejs %>
      <% include ../../../partials/footer.ejs %>
</body>
<script>
  $(Document).ready(function () {

    // former name

    var formerNames = false;
    $("#former_yes").click(function () {
      $("#former_name").show("fast");
      $("#save-and-next").hide();
      formerNames = true;
    });
    $("#former_no").click(function () {
      $("#former_name").hide("fast");
      $("#save-and-next").hide();
    });
    $("#removeDateRow").click(function () {
      $(this).closest('tr').remove();
    });

    function cloneMe() {
      var newOne = $('#date-template').clone(true)
        .find("input:text").val("").end();
      $("#removeDateRow").show();
      newOne.insertAfter($('#date-template'));
    }

    /* Conflicts */

    // clicks add conflict

    $("#addConflict").click(function () {
      hideAll();
      $("#conflict-details").show("fast");
      $("#addConflict").hide();
    });

    // clicks add another incident

    $("#addAnotherConflict").click(function () {
      hideAll();
      $("#conflict-details").show("fast");
    });

    // clicks save incident

    var conflictsAdded = 0;
    $("#conflict-save").click(function () {
      $("body,html").animate({
        scrollTop: 0
      },
        700
      );
      hideAll();
      $("#addAnotherConflictWrapper").show("fast");
      if (conflictsAdded == 0) {
        $("#conflict-summary-1").show("fast");
      }
      if (conflictsAdded == 1) {
        $("#conflict-summary-1").show("fast");
        $("#conflict-summary-2").show("fast");
      }
      conflictsAdded++;
      restoreBaseUI();
    });

    /* Incurred danger */

    // clicks add incident

    $("#addIncident").click(function () {
      hideAll();
      $("#incident-details").show("fast");
      $("#addIncident").hide();
    });

    // clicks add another incident

    $("#addAnotherIncident").click(function () {
      hideAll();
      $("#incident-details").show("fast");
    });

    // clicks save incident

    var conflictsAdded = 0;
    $("#danger-period-save").click(function () {
      $("body,html").animate({
        scrollTop: 0
      },
        700
      );
      hideAll();
      $("#addAnotherIncidentWrapper").show("fast");
      conflictsAdded++;
      restoreBaseUI();
    });

    function hideAll() {

      // names

      $("#former_name").hide();
      $("#former_name_question").hide();

      // incurrend danger
      $("#incident-message").hide();
      $("#addIncident").hide();
      $("#addAnotherIncidentWrapper").hide();
      $("#summary-1").hide();
      $("#summary-2").hide();
      $("#incident-details").hide();

      // conflict
      $("#conflict-message").hide();
      $("#addConflict").hide();
      $("#addAnotherConflictWrapper").hide();
      $("#conflict-summary-1").hide();
      $("#conflict-summary-2").hide();
      $("#conflict-details").hide();

      $("#alert-no-conflict").hide();

    }

    function restoreBaseUI() {

      if (formerNames) $("#former_name").show();
      $("#former_name_question").show();

      $("#conflict-message").show();
      if (conflictsAdded == 0) {
        $("#addConflict").show();
      }
      if (conflictsAdded == 1) {
        $("#conflict-summary-1").show("fast");
        $("#addAnotherConflictWrapper").show();
      }
      if (conflictsAdded >= 2) {
        $("#conflict-summary-1").show("fast");
        $("#conflict-summary-2").show("fast");
        $("#addAnotherConflictWrapper").show();
      }

      $("#incident-message").show();
      if (incidentsAdded == 0) {
        $("#addIncident").show();
      }
      if (incidentsAdded == 1) {
        $("#summary-1").show("fast");
        $("#addAnotherIncidentWrapper").show();
      }
      if (incidentsAdded >= 2) {
        $("#summary-1").show("fast");
        $("#summary-2").show("fast");
        $("#addAnotherIncidentWrapper").show();
      }

    }

    window.checkSaveAndNext = function() {
        if (conflictsAdded == 0) {
            $("#alert-no-conflict").show("fast");
            $("body,html").animate({
                    scrollTop: 0
                },
                700
            );
            return;
        }
        myNav = "/auth/claim/civilian-qs-3";
        window.location.href = myNav;
    }
  });
</script>

<body>

</html>