<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Upload supporting documents | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>How did it happen?</span>
      </h1>
      <p>All fields are required unless marked (optional).</p>

      <!-- SOPs -->
      <fieldset>
        <div class="form-group">
          <label class="uikit-text-input__label" for="sop">Which statements best describe how your condition happened?
            <span class="hint display-block">Select all that apply.</span>
            <br />
          </label>
          <p class="uiToolKitCheckBox sop-checkbox">
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" id="sop1" name="sop">
              <span class="uikit-control-input__text">having a lumbar intervertebral disc prolapse before the clinical onset of lumbar spondylosis at the level of the
                intervertebral disc
                prolapse</span>
            </label>
          </p>
          <p class="uiToolKitCheckBox sop-checkbox">
            <label class="uikit-control-input uikit-control-input--full">
              <input class="uikit-control-input__input" type="checkbox" id="sop1" name="sop">
              <span class="uikit-control-input__text">lifting loads of at least 25 kilograms while bearing weight through the lumbar spine to a cumulative total of at least 120 000
                kilograms
                within any ten year period before the clinical onset of lumbar spondylosis</span>
            </label>
          </p>
        </div>
      </fieldset>

      <!-- Tell us your story -->
      <fieldset>
        <div class="form-group">
          <label class="uikit-text-input__label" for="textArea">How did your service cause, aggravate or contribute to your condition?
            <span class="optional-field">(optional)</span>
            <br>
            <span class="hint required-hint" style="display:none;">Telling us about the events that led to your condition will help us assess your claim.</span>
            <span class="hint display-block">If a classified operation led to your condition, enter 'classified'.
              <strong>Do not</strong> provide details about the classified operations.</span>
          </label>
          <textarea id="textArea" name="statementText" rows="5"></textarea>
        </div>
      </fieldset>


      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/claim1'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/claim3'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/claim4'">Save and next</button>
        </div>
      </div>
      <% include ../../../partials/claims-cancel-modal.ejs %>
      <% include ../../../partials/claims-removefile-modal.ejs %>
    </div>

  </main>

  <% include ../../../partials/footer.ejs %>


  <script>
    // Progress percentage
    // document.getElementById("percentage").style.width = "50%";
    document.getElementById("percentage").style.width = "37.5%";
    document.getElementById("percentage_value").textContent = "37.5%";

    // Show alternative (and required) text in Story block if 'other' checkbox in SOP block is selected

    $("#sop2").click(function () {
      if ($("#sop2").is(':checked')) {
        $(".optional-field").hide();
        $(".required-hint").show();

      } else {
        $(".optional-field").show();
        $(".required-hint").hide();
      }
    });
  </script>

</body>

</html>