<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>Manage your Claims | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-authenticated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="section-feature">
        <div id="main-content" class="container">
          <h1 class="margin-below--small margin-above--small">
            <span class="heading">Claims</span>
          </h1>
        </div>
      </div>

      <div class="section-feature--separator">
        <div class="container">
          <ul class="secondary-navigation secondary-navigation--inline">
            <li class="secondary-navigation__item secondary-navigation__item--active">
              <a class="secondary-navigation__link" href="/auth/claim/claims-make">Make a claim</a>
            </li>
            <li class="secondary-navigation__item">
              <a class="secondary-navigation__link" href="/auth/claim/claims-manage">Manage your claims</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="container margin-above margin-below--extra" id="claim-activity">
        <div class="row" style="width: 100%">
          <h2 class="ss-align--center margin-below">
            <span class="font-weight-heavy">Make a claim to access treatment and support</span>
          </h2>

          <div class="flex-container flex-container--wrap hover-container">
            <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
              <a class="card-container" href="/auth/claim/claim1">
                <h2 class="card__title">
                  <span class="font-weight-heavy">Initial Liability</span>
                </h2>
                <p class="card__supporting-text text-fullwidth">
                  Your first step towards treatment and support for a service-related injury&nbsp;or&nbsp;condition.
                </p>
                <div class="card__button">
                  <button class="uikit-btn uikit-btn--tertiary small">
                    Get started
                  </button>
                </div>
              </a>
            </div>
            <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
              <a class="card-container" href="/auth/claim/health-card0">
                <h2 class="card__title">
                  <span class="font-weight-heavy">Mental health treatment</span>
                </h2>
                <p class="card__supporting-text text-fullwidth">
                  Access free mental health treatment.
                </p>
                <div class="card__button">
                  <button class="uikit-btn uikit-btn--tertiary small">
                    Get started
                  </button>
                </div>
              </a>
            </div>
            <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
              <!-- <div class="card__notifications">This option might be of benefit to you.</div> -->
              <a class="card-container" href="/auth/claim/incap-progress">
                <h2 class="card__title">
                  <span class="font-weight-heavy">Incapacity Payments</span>
                </h2>
                <p class="card__supporting-text text-fullwidth">
                  Get compensated for your inability or reduced ability to work because of a service injury or condition.
                </p>
                <div class="card__button">
                  <button class="uikit-btn uikit-btn--tertiary small">
                    Get started
                  </button>
                </div>
              </a>
            </div>
            <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
              <a class="card-container" href="/auth/claim/studentpreeligibility?flow=veteranFlow">
                <h2 class="card__title">
                  <span class="font-weight-heavy">Education assistance</span>
                </h2>
                <p class="card__supporting-text text-fullwidth">
                  Get help with the cost of education for your family.
                </p>
                <div class="card__button">
                  <button class="uikit-btn uikit-btn--tertiary small">
                    Get started
                  </button>
                </div>
              </a>
            </div>
            <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
              <a class="card-container" href="/auth/claim/afi-start">
                <h2 class="card__title">
                  <span class="font-weight-heavy">Increase your disability&nbsp;pension (AFI)</span>
                </h2>
                <p class="card__supporting-text text-fullwidth">
                  Apply for a payment increase to your disability pension.
                </p>
                <div class="card__button">
                  <button class="uikit-btn uikit-btn--tertiary small">
                    Get started
                  </button>
                </div>
              </a>
            </div>
            <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
              <a class="card-container" href="/auth/claim/dhoas-start">
                <h2 class="card__title">
                  <span class="font-weight-heavy">DHOAS subsidy certificate</span>
                </h2>
                <p class="card__supporting-text text-fullwidth">
                  Apply for a subsidy on the interest of your home loan.
                </p>
                <div class="card__button">
                  <button class="uikit-btn uikit-btn--tertiary small">
                    Get started
                  </button>
                </div>
              </a>
            </div>

            <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
              <a class="card-container" href="http://www.dsh.gov.au/insurance">
                <h2 class="card__title">
                  <span class="font-weight-heavy">Defence Service Home Insurance Scheme</span>
                </h2>
                <p class="card__supporting-text text-fullwidth">
                  Apply for home, contents and other insurance policies.
                </p>
                <div class="card__button">
                  <button class="uikit-btn uikit-btn--tertiary small">
                    Defence Service Homes website
                  </button>
                </div>
              </a>
            </div>

            <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
              <a class="card-container" href="/auth/claim/sp-before-start">
                <h2 class="card__title">
                  <span class="font-weight-heavy">Service Pension</span>
                </h2>
                <p class="card__supporting-text text-fullwidth">
                  Apply for age, invalidity or partner service pension
                </p>
                <div class="card__button">
                  <button class="uikit-btn uikit-btn--tertiary small">
                    Get started
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <% include ../../../partials/footer.ejs %>

  <script>
    function goToByScroll(id) {
      id = id.replace("-link", "");
      $("html,body").animate({
          scrollTop: $("#" + id).offset().top
        },
        "slow"
      );
    }
  </script>
</body>

</html>