<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Add claim: Diagnosis | MyService</title>
  <link href="/docs/css/main.css" rel="stylesheet">
  <link href="/docs/css/fontawesome/css/all.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>

  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>Diagnosis</span>
      </h1>
      <p>All fields are required unless marked (optional).</p>


      <!-- Diagnosis -->
      <div id="diagnosis">
        <fieldset>
          <div class="form-group">
            <div class="row col-xs-12 col-md-8 col-lg-7 margin-below">
              <legend class="legend-label">What side of your body is affected?</legend>
              <div class="mys-radio-group mys-radio-group--cols-4">
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="left side">
                  <span class="mys-radio__box">Left side</span>
                </label>
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="right side">
                  <span class="mys-radio__box">Right side</span>
                </label>
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="both side">
                  <span class="mys-radio__box">Both sides</span>
                </label>
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="other">
                  <span class="mys-radio__box">Other</span>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="uikit-text-input__label" for="tags">What did your medical practitioner diagnose you with?
              <span class="hint display-block">
                <span class="display-block">
                  <em>Example: 'Acute meniscal tear of the knee'</em>.</span>
              </span>
            </label>
            <div class="uikit-page-alerts uikit-page-alerts--info">
              <p>Start typing the medical term, then if possible select from the options presented.
                <br>This will assist us to process your claim.</p>
            </div>
            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
          </div>

        </fieldset>

        <!-- 
        <fieldset>
            <div class="form-group">
          <legend class="legend-label">Did the condition occur on a specific date?</legend>
        <div class="radio-toggle">
          <label class="on label-left" for="single-yes">
            <input id="single-yes" type="radio" name="single-event">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="single-no">
            <input id="single-no" type="radio" name="single-event">
            <span>No</span>
          </label>
        </div>
      </fieldset> -->



        <!-- trying out partial replacement of form elements -->
        <% locals.radioLabel = 'Did the condition occur on a specific date?'; locals.radioId = 'single'; %>
        <% include ../../../partials/forms/radio--yes-no.ejs %>



        <div class="single-incident" style="display:none;">
          <fieldset>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd-single">When did it happen?
                <span class="hint display-block">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
          </fieldset>
        </div>

        <div class="over-time" style="display:none;">
          <fieldset>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd-over-time">Approximately when did you start noticing symptoms?
                <span class="hint display-block">(MM / YYYY)</span>
              </label>
              <input class="uikit-text-input mm" type="text" name="mm-over-time" id="mm-over-time" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-over-time" id="yyyy-over-time" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
          </fieldset>
        </div>
      </div>

      <h2>Upload your GP's or Specialist's medical report. (recommended)</h2>

      <fieldset>
        <div class="tip--wrapper">
          <h2>Documents you need to provide</h2>
          <!--            <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">-->
          <p>Documents you need to provide

            <p>You need to provide your
              <b>medical diagnosis</b> (GP or specialist's medical report) to help us assess your claim. You can upload a digital photo or copy of your report below.</p>
            <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
            <h3>Other supporting documents</h3>
            <p>Supporting documents help us assess your claim quickly and accurately. You can provide any of the following:
            </p>
            <ul>
              <li>receipts, to help us reimburse your diagnosis costs</li>
              <li>medical imaging reports</li>
              <li>test results</li>
              <li>other medical reports</li>
              <li>incident report (sentinel report)</li>
              <li>Authority to Participate in Civilian Sport</li>
              <li>Hazardous Material Exposure Report</li>
              <li>training programs or itineraries</li>
            </ul>
        </div>

        <!-- Document list-->

        <div class="upload-list">
          <h3>Uploads</h3>
          <table class="document-uploads">
            <tr>
              <th>Document title</th>
              <th class="centred">Actions</th>
            </tr>
            <tr>
              <td>
                <a href="#">My-Diagnosis.pdf (3.5 MB PDF)</a>
              </td>
              <td class="centred">
                <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-removefile-modal'">Delete</button>
              </td>
            </tr>
          </table>
          <button class="uikit-btn btnUpload">Upload a document</button>
        </div>
      </fieldset>


      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/claim1'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/claim2'">Save and next</button>
        </div>
      </div>


      <% include ../../../partials/claims-cancel-modal.ejs %>

      <% include ../../../partials/claims-removefile-modal.ejs %>

    </div>
  </main>

  <% include ../../../partials/footer.ejs %>



  <script src="/docs/js/jquery-ui.min.js"></script>

  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "15%";
    document.getElementById("percentage_value").textContent = "15%";

    $("#single-yes").click(function () {
      $(".single-incident").show("fast");
      $(".over-time").hide();
    });
    $("#single-no").click(function () {
      $(".single-incident").hide();
      $(".over-time").show("fast");
    });

    $("#doctor-no").click(function () {
      sessionStorage.setItem('nodiagnosis', true);
      $("#condition").show("fast");
      $("#diagnosis").hide();
    });
    $("#doctor-yes").click(function () {
      sessionStorage.setItem('yesdiagnosis', true);
      $("#diagnosis").show("fast");
      $("#condition").hide();
    });



    // Autocomplete, jQuery UI dependency
    $(function () {

      var availableTags = [{
          label: "Accommodation disorder",
          category: ""
        },
        {
          label: "Achilles tendinopathy and bursitis",
          category: ""
        },
        {
          label: "Acquired cataract",
          category: ""
        },
        {
          label: "Acquired pes planus",
          category: ""
        },
        {
          label: "Acute articular cartilage tear",
          category: ""
        },
        {
          label: "Acute lymphoid leukaemia",
          category: ""
        },
        {
          label: "Acute meniscal tear of the knee",
          category: ""
        },
        {
          label: "Acute myeloid leukaemia",
          category: ""
        },
        {
          label: "Acute pancreatitis",
          category: ""
        },
        {
          label: "Acute sinusitis",
          category: ""
        },
        {
          label: "Acute stress disorder",
          category: ""
        },
        {
          label: "Adenocarcinoma of the kidney",
          category: ""
        },
        {
          label: "Adhesive capsulitis of the shoulder",
          category: ""
        },
        {
          label: "Adjustment disorder",
          category: ""
        },
        {
          label: "Alcohol dependence and alcohol abuse",
          category: ""
        },
        {
          label: "Alkaptonuria",
          category: ""
        },
        {
          label: "Allergic rhinitis",
          category: ""
        },
        {
          label: "Alpha-1 antitrypsin deficiency",
          category: ""
        },
        {
          label: "Alzheimer-type dementia",
          category: ""
        },
        {
          label: "Anal fissure",
          category: ""
        },
        {
          label: "Analgesic nephropathy",
          category: ""
        },
        {
          label: "Animal envenomation",
          category: ""
        },
        {
          label: "Ankylosing spondylitis",
          category: ""
        },
        {
          label: "Anxiety disorder",
          category: ""
        },
        {
          label: "Aortic stenosis",
          category: ""
        },
        {
          label: "Asbestosis",
          category: ""
        },
        {
          label: "Asthma",
          category: ""
        },
        {
          label: "Atherosclerotic peripheral vascular disease",
          category: ""
        },
        {
          label: "Atrial fibrillation",
          category: ""
        },
        {
          label: "Atrial flutter",
          category: ""
        },
        {
          label: "Benign prostatic hyperplasia",
          category: ""
        },
        {
          label: "Bipolar disorder",
          category: ""
        },
        {
          label: "Blepharitis",
          category: ""
        },
        {
          label: "Bronchiectasis",
          category: ""
        },
        {
          label: "Caisson disease",
          category: ""
        },
        {
          label: "Cardiomyopathy",
          category: ""
        },
        {
          label: "Carotid arterial disease",
          category: ""
        },
        {
          label: "Carpal tunnel syndrome",
          category: ""
        },
        {
          label: "Cerebral meningioma",
          category: ""
        },
        {
          label: "Cerebrovascular accident",
          category: ""
        },
        {
          label: "Chicken pox",
          category: ""
        },
        {
          label: "Chloracne",
          category: ""
        },
        {
          label: "Cholelithiasis",
          category: ""
        },
        {
          label: "Chondromalacia patella",
          category: ""
        },
        {
          label: "Chronic bronchitis and emphysema",
          category: ""
        },
        {
          label: "Chronic fatigue syndrome",
          category: ""
        },
        {
          label: "Chronic gastritis",
          category: ""
        },
        {
          label: "Chronic lymphoid leukaemia",
          category: ""
        },
        {
          label: "Chronic myeloid leukaemia",
          category: ""
        },
        {
          label: "Chronic pancreatitis",
          category: ""
        },
        {
          label: "Chronic sinusitis",
          category: ""
        },
        {
          label: "Cigar smoking",
          category: ""
        },
        {
          label: "Cirrhosis of the liver",
          category: ""
        },
        {
          label: "Clonorchiasis",
          category: ""
        },
        {
          label: "Cluster headache syndrome",
          category: ""
        },
        {
          label: "Coeliac disease",
          category: ""
        },
        {
          label: "Colorectal adenoma",
          category: ""
        },
        {
          label: "Colorectal adenomatous polyp or familial adenomatous polyposis",
          category: ""
        },
        {
          label: "Conductive hearing loss",
          category: ""
        },
        {
          label: "Congenital cataract",
          category: ""
        },
        {
          label: "Conjunctivitis",
          category: ""
        },
        {
          label: "Contact dermatitis",
          category: ""
        },
        {
          label: "Creutzfeldt-Jakob disease",
          category: ""
        },
        {
          label: "Deep vein thrombosis",
          category: ""
        },
        {
          label: "Dengue fever",
          category: ""
        },
        {
          label: "Dental caries",
          category: ""
        },
        {
          label: "Depressive disorder",
          category: ""
        },
        {
          label: "Diabetes mellitus",
          category: ""
        },
        {
          label: "Dislocation",
          category: "cbd"
        },
        {
          label: "Diverticular disease of the colon",
          category: ""
        },
        {
          label: "Drug dependence and drug abuse",
          category: ""
        },
        {
          label: "Effects of lightning",
          category: ""
        },
        {
          label: "Epicondylitis",
          category: ""
        },
        {
          label: "Epilepsy",
          category: ""
        },
        {
          label: "Erectile dysfunction",
          category: ""
        },
        {
          label: "External bruise",
          category: "cbd"
        },
        {
          label: "External burn",
          category: ""
        },
        {
          label: "Familial adenomatous polyposis",
          category: ""
        },
        {
          label: "Fibrosing interstitial lung disease",
          category: ""
        },
        {
          label: "Fracture",
          category: "cbd"
        },
        {
          label: "Gastric ulcer and duodenal ulcer",
          category: ""
        },
        {
          label: "Gastro-oesophageal reflux disease",
          category: ""
        },
        {
          label: "Gauchers disease",
          category: ""
        },
        {
          label: "General heuristics",
          category: ""
        },
        {
          label: "Gingivitis",
          category: ""
        },
        {
          label: "Gout",
          category: ""
        },
        {
          label: "Haemorrhoids",
          category: ""
        },
        {
          label: "Hallux valgus",
          category: ""
        },
        {
          label: "Heart block",
          category: ""
        },
        {
          label: "Hepatitis A",
          category: ""
        },
        {
          label: "Hepatitis B",
          category: ""
        },
        {
          label: "Hepatitis C",
          category: ""
        },
        {
          label: "Hepatitis D",
          category: ""
        },
        {
          label: "Hepatitis E",
          category: ""
        },
        {
          label: "Herpes zoster",
          category: ""
        },
        {
          label: "Hiatus hernia",
          category: ""
        },
        {
          label: "Hodgkins lymphoma",
          category: ""
        },
        {
          label: "Hookworm disease",
          category: ""
        },
        {
          label: "Horseshoe kidney",
          category: ""
        },
        {
          label: "Hypertension",
          category: ""
        },
        {
          label: "Inflammatory bowel disease",
          category: ""
        },
        {
          label: "Influenza",
          category: ""
        },
        {
          label: "Ingrowing nail",
          category: ""
        },
        {
          label: "Inguinal hernia",
          category: ""
        },
        {
          label: "Internal derangement of the knee",
          category: ""
        },
        {
          label: "Intervertebral disc prolapse",
          category: ""
        },
        {
          label: "Iliotibial Band Syndrome",
          category: "cbd"
        },
        {
          label: "Irritable bowel syndrome",
          category: ""
        },
        {
          label: "Ischaemic heart disease",
          category: ""
        },
        {
          label: "Joint instability",
          category: ""
        },
        {
          label: "Labral tear",
          category: ""
        },
        {
          label: "Lipoma",
          category: ""
        },
        {
          label: "Loss of teeth",
          category: ""
        },
        {
          label: "Lumbar Spondylosis",
          category: ""
        },
        {
          label: "Macular degeneration",
          category: ""
        },
        {
          label: "Malaria",
          category: ""
        },
        {
          label: "Malignant melanoma of the skin",
          category: ""
        },
        {
          label: "Malignant neoplasm of the bile duct",
          category: ""
        },
        {
          label: "Malignant neoplasm of the bladder",
          category: ""
        },
        {
          label: "Malignant neoplasm of the bone or articular cartilage",
          category: ""
        },
        {
          label: "Malignant neoplasm of the brain",
          category: ""
        },
        {
          label: "Malignant neoplasm of the breast",
          category: ""
        },
        {
          label: "Malignant neoplasm of the cerebral meninges",
          category: ""
        },
        {
          label: "Malignant neoplasm of the colorectum",
          category: ""
        },
        {
          label: "Malignant neoplasm of the endometrium",
          category: ""
        },
        {
          label: "Malignant neoplasm of the gallbladder",
          category: ""
        },
        {
          label: "Malignant neoplasm of the larynx",
          category: ""
        },
        {
          label: "Malignant neoplasm of the liver",
          category: ""
        },
        {
          label: "Malignant neoplasm of the lung",
          category: ""
        },
        {
          label: "Malignant neoplasm of the nasopharynx",
          category: ""
        },
        {
          label: "Malignant neoplasm of the oesophagus",
          category: ""
        },
        {
          label: "Malignant neoplasm of the oral cavity oropharynx and hypopharynx",
          category: ""
        },
        {
          label: "Malignant neoplasm of the pancreas",
          category: ""
        },
        {
          label: "Malignant neoplasm of the prostate",
          category: ""
        },
        {
          label: "Malignant neoplasm of the renal pelvis and ureter",
          category: ""
        },
        {
          label: "Malignant neoplasm of the stomach",
          category: ""
        },
        {
          label: "Malignant neoplasm of the thyroid gland",
          category: ""
        },
        {
          label: "Malignant neoplasm of the urethra",
          category: ""
        },
        {
          label: "Malignant neoplasm of unknown primary site",
          category: ""
        },
        {
          label: "Marfan syndrome",
          category: ""
        },
        {
          label: "Menieres disease",
          category: ""
        },
        {
          label: "Mesothelioma",
          category: ""
        },
        {
          label: "Metatarsalgia",
          category: ""
        },
        {
          label: "Migraine",
          category: ""
        },
        {
          label: "Mitral valve prolapse",
          category: ""
        },
        {
          label: "Morbid Obesity",
          category: ""
        },
        {
          label: "Motor neurone disease",
          category: ""
        },
        {
          label: "Multiple sclerosis",
          category: ""
        },
        {
          label: "Myelodysplastic disorder",
          category: ""
        },
        {
          label: "Myeloma",
          category: ""
        },
        {
          label: "Myopia and hypermetropia and astigmatism",
          category: ""
        },
        {
          label: "NAAAD and aortic aneurysm",
          category: ""
        },
        {
          label: "Nephrolithiasis",
          category: ""
        },
        {
          label: "Non melanotic malignant neoplasm of the skin",
          category: "cbd"
        },
        {
          label: "Non-covered condition",
          category: ""
        },
        {
          label: "Non-Hodgkins lymphoma",
          category: ""
        },
        {
          label: "Obesity",
          category: ""
        },
        {
          label: "Opisthorchiasis",
          category: ""
        },
        {
          label: "Osteoarthritis",
          category: ""
        },
        {
          label: "Osteogenesis imperfecta",
          category: ""
        },
        {
          label: "Osteoporosis",
          category: ""
        },
        {
          label: "Otitis externa",
          category: ""
        },
        {
          label: "Otitis media",
          category: ""
        },
        {
          label: "Otosclerosis",
          category: ""
        },
        {
          label: "Pagets disease of bone",
          category: ""
        },
        {
          label: "Panic disorder",
          category: ""
        },
        {
          label: "Parkinsons disease and parkinsonism",
          category: ""
        },
        {
          label: "Peripheral neuropathy",
          category: ""
        },
        {
          label: "Personality Disorder",
          category: ""
        },
        {
          label: "Pes Planus",
          category: ""
        },
        {
          label: "Physical injury due to munitions discharge cut stab abrasion and laceration",
          category: ""
        },
        {
          label: "Pinguecula",
          category: ""
        },
        {
          label: "Pipe smoking",
          category: ""
        },
        {
          label: "Plantar fasciitis",
          category: "cbd"
        },
        {
          label: "Pleural plaque",
          category: ""
        },
        {
          label: "Polymyalgia rheumatica",
          category: ""
        },
        {
          label: "Porphyria cutanea tarda",
          category: ""
        },
        {
          label: "Posttraumatic stress disorder",
          category: ""
        },
        {
          label: "Presbyopia",
          category: ""
        },
        {
          label: "Pruritus ani",
          category: ""
        },
        {
          label: "Psoriasis",
          category: ""
        },
        {
          label: "Psoriatic arthropathy",
          category: ""
        },
        {
          label: "Pterygium",
          category: ""
        },
        {
          label: "Pulmonary thromboembolism",
          category: ""
        },
        {
          label: "Reiters syndrome",
          category: ""
        },
        {
          label: "Renal artery atherosclerotic disease",
          category: ""
        },
        {
          label: "Retinal vascular occlusive disease",
          category: ""
        },
        {
          label: "Rheumatic heart disease",
          category: ""
        },
        {
          label: "Rheumatoid arthritis",
          category: ""
        },
        {
          label: "Rotator cuff syndrome",
          category: ""
        },
        {
          label: "Schizophrenia",
          category: ""
        },
        {
          label: "Scrub typhus",
          category: ""
        },
        {
          label: "Seborrhoeic dermatitis",
          category: ""
        },
        {
          label: "Seborrhoeic keratosis",
          category: ""
        },
        {
          label: "Sensorineural hearing loss",
          category: ""
        },
        {
          label: "Shin splints",
          category: "cbd"
        },
        {
          label: "Sleep apnoea",
          category: ""
        },
        {
          label: "Smoking",
          category: ""
        },
        {
          label: "Soft tissue sarcoma",
          category: ""
        },
        {
          label: "Solar keratosis",
          category: "cbd"
        },
        {
          label: "Spasmodic torticollis",
          category: ""
        },
        {
          label: "Spondylolisthesis and spondylolysis",
          category: ""
        },
        {
          label: "Spondyloses",
          category: ""
        },
        {
          label: "Sprain and strain",
          category: "cbd"
        },
        {
          label: "Subarachnoid haemorrhage",
          category: ""
        },
        {
          label: "Suicide or attempted suicide",
          category: ""
        },
        {
          label: "Tension-type headache",
          category: ""
        },
        {
          label: "Thromboangiitis obliterans",
          category: ""
        },
        {
          label: "Tinea of the skin",
          category: ""
        },
        {
          label: "Tinnitus",
          category: "cbd"
        },
        {
          label: "Trigeminal neuralgia",
          category: ""
        },
        {
          label: "Ureteric calculus",
          category: ""
        },
        {
          label: "Varicose veins of the lower limb",
          category: ""
        },
        {
          label: "Vascular dementia",
          category: ""
        },
        {
          label: "Wilsons disease",
          category: ""
        }
      ];

      $("#tags").autocomplete({
        source: availableTags,
        select: function (event, ui) {
          // js.cookies dependancy 
          Cookies.remove('claimType');
          // checking if it's a condition that is a candidate for a computer based decision 
          if (ui.item.category === 'cbd') {
            Cookies.set('claimType', 'cbd', {
              expires: 1
            });
          }
        }
      });
    });
  </script>
</body>

</html>