<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Diagnosis | MyService</title>
  <% include ../../../partials/head.ejs %>

  <style>
    .pt-required-docs,
    .pt-no-required-docs,
    .pt-upload-list,
    .pt-upload-list-optional,
    .pt-upload-other-docs,
    .pt-medical-prac {
      display: none;
    }

  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>



  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>Diagnosis</span>
      </h1>
      <p>All fields are required unless marked (optional).</p>


      <!-- Diagnosis -->
      <div id="diagnosis">
        <fieldset>

          <% if (locals.liveFeature.includes('featureSideOfBody')) { %>
          <div class="form-group">
            <div class="row col-xs-12 col-md-8 col-lg-7 margin-below">
              <legend class="legend-label">What side of your body is affected?</legend>
              <div class="mys-radio-group mys-radio-group--cols-4">
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="left side">
                  <span class="mys-radio__box">Left side</span>
                </label>
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="right side">
                  <span class="mys-radio__box">Right side</span>
                </label>
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="both side">
                  <span class="mys-radio__box">Both sides</span>
                </label>
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="other">
                  <span class="mys-radio__box">Other</span>
                </label>
              </div>
            </div>
          </div>
          <% } %>

          <% 
          locals.el = {};
          locals.el.question = 'Did the condition occur on a specific date?'; 
          locals.el.optionalID = 'single'; %>
          <% include ../../../partials/forms/radio--yes-no.ejs %>


          <div class="single-incident" style="display:none;">

            <div class="form-group">
              <label class="uikit-text-input__label" for="dd-single">When did it happen?
                <span class="hint display-block">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>

          </div>

          <div class="over-time" style="display:none;">
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd-over-time">Approximately when did you start noticing symptoms?
                <span class="hint display-block">(MM / YYYY)</span>
              </label>
              <input class="uikit-text-input mm" type="text" name="mm-over-time" id="mm-over-time" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-over-time" id="yyyy-over-time" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
          </div>

          <div class="form-group">
            <label class="uikit-text-input__label" for="tags">What did your medical practitioner diagnose you with?
            </label>
            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
            <div class="uikit-page-alerts uikit-page-alerts--info pt-type-ahead-type">
              <p>Start typing the medical term, then if possible select from the options presented.
                <br>This will assist us to process your claim.<br>
                <strong>Example: </strong> 'Acute meniscal tear of the knee'.</p>
            </div>
          </div>




          <div id="medical-practitioner-group" class="form-group">
            <label class="uikit-text-input__label" for="medical-practitioner">Select the medical practitioner that
              provided the diagnosis
            </label>
            <select class="uikit-text-input input-half" id="medical-practitioner" name="medical-practitioner">
              <option value="">-- Select doctor --</option>
            </select>
            <button id="add-another-doc" class="icon-link-button">
              <span class="icon far fa-plus-circle"></span>
              <span class="link">Add another practitioner</span>
            </button>
          </div>


          <div class="pt-medical-prac">
            <%- include("../../../partials/content_groups/medical-practitioner.ejs", {"lastSixMonths": false});%>
          </div>


        </fieldset>
      </div>


      <!-- Document list-->
      <div class=" pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/claim1'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/claim1a'">Save and next</button>
        </div>
      </div>


      <% include ../../../partials/claims-cancel-modal.ejs %>

      <% include ../../../partials/claims-removefile-modal.ejs %>

    </div>
  </main>

  <% include ../../../partials/footer.ejs %>



  <script src="/docs/js/jquery-ui.min.js"></script>

  <script src="/docs/js/claims.js"></script>

  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "15%";
    document.getElementById("percentage_value").textContent = "15%";

    $("#single-yes").click(function () {
      $(".single-incident").show("fast");
      $(".over-time").hide();
    });
    $("#single-no").click(function () {
      $(".single-incident").hide();
      $(".over-time").show("fast");
    });

    $("#requiredDocs-yes").click(function () {
      $(".pt-upload-list").show("fast");
    });

    $("#other_docs-yes").click(function () {
      $(".pt-upload-other-docs").show("fast");
    });
    $("#other_docs-no").click(function () {
      $(".pt-upload-other-docs").hide("fast");
    });

    $("#add-another-doc").click(function () {
      $(".pt-medical-prac").toggle("fast");
    });

    $.ajax({
      url: '/docs/data/medical-practitioner.json',
      type: 'GET',
      dataType: 'json'
    })
    .done((data) => {
      practs = []
        person = JSON.parse(localStorage.getItem("person"));
        console.log(person.practitioners);
        $.each(data.practitioners, (index, pract) => {
          if (person.practitioners.includes(pract._id)) {
            practs.push({
              id: pract._id,
              name: pract.nameFull
            });
          }
        });

        if (practs.length < 1) {
          $("#medical-practitioner-group").hide("fast");
          $(".pt-medical-prac").show("fast");
        } else {
          $.each(practs, (index, pract) => {
            $("#medical-practitioner").append(`<option value='${pract.id}'>${pract.name}</option>`);
          });
        }

    });

  </script>
</body>

</html>
