<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Bank details | MyService</title>
  <% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>

  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>Bank details
        <span>(optional)</span>
      </h1>

      <div class="tip--wrapper line-break-after">
        <p class="text-fullwidth no-space-after">If your claim for liability is accepted you may be entitled to a
          <a class="external-link" href="https://www.dva.gov.au/factsheet-is18-veterans-supplement">veterans supplement</a> or other
          <a class="external-link" href="https://www.dva.gov.au/benefits-and-payments/compensation">compensation payments</a>. If eligible, these payments will be deposited into
          your nominated
          bank account.</p>
      </div>



      <% include ../../../partials/bank-account-details.ejs %>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/claim5'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/claim7'">Save and next</button>
        </div>
      </div>

      <% include ../../../partials/claims-cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../partials/footer.ejs %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "75%";
    document.getElementById("percentage_value").textContent = "75%";
    // autotab between BSB fields 
    $("#bsb").keyup(function () {
      if (this.value.length == this.maxLength) {
        $(this).next('#bsb').focus();
      }
    });

    // PI messages
    $("#aus-yes").click(function () {
      $(".aus-no").hide();
      $(".aus-yes").show("fast");
    });
    $("#aus-no").click(function () {
      $(".aus-yes").hide();
      $(".aus-no").show("fast");
    });

  </script>

</body>

</html>
