<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Diagnosis | MyService</title>
  <% include ../../../partials/head.ejs %>

  <style>
    .pt-required-docs,
    .pt-no-required-docs,
    .pt-upload-list,
    .pt-upload-list-optional,
    .pt-upload-other-docs {
      display: none;

    }

  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>



  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h1>Diagnosis</span>
      </h1>
      <p>All fields are required unless marked (optional).</p>


      <!-- Diagnosis -->
      <div id="diagnosis">
        <fieldset>
          <div class="form-group">
            <div class="row col-xs-12 col-md-8 col-lg-7 margin-below">
              <legend class="legend-label">What side of your body is affected?</legend>
              <div class="mys-radio-group mys-radio-group--cols-4">
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="left side">
                  <span class="mys-radio__box">Left side</span>
                </label>
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="right side">
                  <span class="mys-radio__box">Right side</span>
                </label>
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="both side">
                  <span class="mys-radio__box">Both sides</span>
                </label>
                <label class="mys-radio">
                  <input class="mys-radio__control" type="radio" name="bodypart" value="other">
                  <span class="mys-radio__box">Other</span>
                </label>
              </div>
            </div>
          </div>


          <% locals.question = 'Did the condition occur on a specific date?'; locals.optionalID = 'single'; %>
          <% include ../../../partials/forms/radio--yes-no.ejs %>


          <div class="single-incident" style="display:none;">

            <div class="form-group">
              <label class="uikit-text-input__label" for="dd-single">When did it happen?
                <span class="hint display-block">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-single" id="dd-single" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-single" id="mm-single" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-single" id="yyyy-single" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>

          </div>

          <div class="over-time" style="display:none;">
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd-over-time">Approximately when did you start noticing symptoms?
                <span class="hint display-block">(MM / YYYY)</span>
              </label>
              <input class="uikit-text-input mm" type="text" name="mm-over-time" id="mm-over-time" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-over-time" id="yyyy-over-time" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>
          </div>

          <div class="form-group">
            <label class="uikit-text-input__label" for="tags">What did your medical practitioner diagnose you with?

            </label>

            <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
            <div class="uikit-page-alerts uikit-page-alerts--info pt-type-ahead-type">
              <p>Start typing the medical term, then if possible select from the options presented.
                <br>This will assist us to process your claim.<br>
                <strong>Example: </strong> 'Acute meniscal tear of the knee'.</p>
            </div>
          </div>

        </fieldset>



      </div>


      <div class="pt-no-required-docs">
        <h2>Upload your GP's or Specialist's medical report. (recommended)</h2>



        <div class="tip--wrapper">
          <h2>Documents you need to provide</h2>
          <!--            <img alt="Tip icon" class="heading-icon" src="../../../docs/images/ico-tip-blue.svg">-->
          <p>Documents you need to provide

            <p>You need to provide your
              <b>medical diagnosis</b> (GP or specialist's medical report) to help us assess your claim. You can upload a digital photo or copy of your report below.</p>
            <p>Documents can be in .pdf, .jpg, or .png format. Each file has a 50MB size limit.</p>
            <h3>Other supporting documents</h3>
            <p>Supporting documents help us assess your claim quickly and accurately. You can provide any of the following:
            </p>
            <ul>
              <li>receipts, to help us reimburse your diagnosis costs</li>
              <li>medical imaging reports</li>
              <li>test results</li>
              <li>other medical reports</li>
              <li>incident report (sentinel report)</li>
              <li>Authority to Participate in Civilian Sport</li>
              <li>Hazardous Material Exposure Report</li>
              <li>training programs or itineraries</li>
            </ul>
        </div>
        <div class="pt-upload-list">
          <h3>Uploads</h3>
          <table class="document-uploads">
            <tbody>
              <tr>
                <th>Document title</th>
                <th class="centred">Actions</th>
              </tr>
              <tr>
                <td>
                  <a href="#">My-Diagnosis.pdf (3.5 MB PDF)</a>
                </td>
                <td class="centred">
                  <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-removefile-modal'">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="uikit-btn btnUpload">Upload a document</button>
        </div>
      </div>


      <!-- Document list-->


      <div class="pt-required-docs">
        <div class="form-group">

          <div class="uikit-text-input__label-wrapper--inline-block">

            <%# show if only 1 cbd doc found %>
            <span class="pt-il-claim-required-multi-doc">
              <legend class="legend-label">Do you have any of the following documents?</legend>
              <span class="display-block">
                <span class="pt-il-claim-required-docs-list"></span>
              </span>
            </span>

            <span class="pt-il-claim-required-mono-doc">
              <%# show if more than 1 cdb docs found %>
              <legend class="legend-label">Do you have a
                <strong>
                  <span class="pt-il-claim-required-docs-list"></span>
                </strong> document?</legend>
            </span>

          </div>
          <div class="radio-toggle">
            <label class="on label-left" for="requiredDocs-yes">
              <input id="requiredDocs-yes" type="radio" name="requiredDocs" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="requiredDocs-no">
              <input id="requiredDocs-no" type="radio" name="requiredDocs" value="no">
              <span>No</span>
            </label>
          </div>
        </div>


        <style>
          .mys-file-uploads__label {
            display: block;
          }

          .mys-file-uploads__item-actions {
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            /* max-width: 25%; */
            padding-top: 0;
            /* text-align: right; */
            max-width: 100%;
            text-align: left;
          }

          .mys-file-uploads__item {
            display: table\0;
            padding: 0 0 1em;
            width: 100%;
            border-bottom: 1px solid grey;
          }

          .mys-file-uploads__value {
            margin-bottom: 0.5em;
            float: left;
          }

        </style>

        <div class="pt-upload-list">

          <div class="form-group">

            <label for="">Select document to upload</label>
            <table class="table-responsive table-responsive--file-upload">
              <tr id="trData1" class="file-upload-row">
                <td>
                  <select class="uikit-text-input input-half pt-doc-type">
                    <option value="">-- Select type --</option>
                    <option value="Proof of residence">Proof of residence</option>
                    <option value="asdfasdf">Part-time study reason</option>
                    <option value="bgggg">Proof of relationship</option>
                  </select>
                </td>

                <td>
                  <span class="file-upload__document">
                    <a class="file-upload__file-name">
                      <%# document name will go in here %>
                    </a>
                  </span>
                </td>
                <td class="right">
                  <div>
                    <input type="file" class="file-upload__input" id="file-0">
                    <label class="file-upload__label" for="file-0">

                      <span class="file-upload__button">
                        <span class="uikit-btn small">Upload</span>
                      </span>
                    </label>
                  </div>
                </td>
              </tr>

              <tr class="file-upload-row file-upload-row--add-another">
                <td colspan="3">
                  <button id="add-another-doc" class="icon-link-button">
                    <span class="icon far fa-plus-circle"></span>
                    <span class="link">Add another document</span>
                  </button>
                </td>
              </tr>
            </table>
          </div>




          <div class="pt-upload-list-optional">
            <%
            locals = {};
              locals.question = 'Would you like to upload any other supporting documents?'; 
              // locals.optionalHint = '(optional)'; 
              locals.optionalID = 'other_docs'; 
            %>
            <% include ../../../partials/forms/radio--yes-no.ejs %>


            <div class="pt-upload-other-docs">
              <div class="form-group">


                <table class="table-responsive table-responsive--file-upload">
                  <tr id="trData1" class="file-upload-row">

                    <td>
                      <span class="file-upload__document">
                        Document
                        <a class="file-upload__file-name">

                        </a>
                      </span>
                    </td>
                    <td class="right">
                      <div>
                        <input type="file" class="file-upload__input" id="file-0">
                        <label class="file-upload__label" for="file-0">

                          <span class="file-upload__button">
                            <span class="uikit-btn small">Upload</span>
                          </span>
                        </label>
                      </div>
                    </td>
                  </tr>

                  <tr class="file-upload-row file-upload-row--add-another">
                    <td colspan="3">
                      <button id="add-another-doc" class="icon-link-button">
                        <span class="icon far fa-plus-circle"></span>
                        <span class="link">Add another document</span>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>




      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/claim1'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/claim2'">Save and next</button>
        </div>
      </div>


      <% include ../../../partials/claims-cancel-modal.ejs %>

      <% include ../../../partials/claims-removefile-modal.ejs %>

    </div>
  </main>

  <% include ../../../partials/footer.ejs %>



  <script src="/docs/js/jquery-ui.min.js"></script>

  <script src="/docs/js/claims.js"></script>

  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "15%";
    document.getElementById("percentage_value").textContent = "15%";

    $("#single-yes").click(function () {
      $(".single-incident").show("fast");
      $(".over-time").hide();
    });
    $("#single-no").click(function () {
      $(".single-incident").hide();
      $(".over-time").show("fast");
    });

    $("#requiredDocs-yes").click(function () {
      $(".pt-upload-list").show("fast");
    });

    $("#other_docs-yes").click(function () {
      $(".pt-upload-other-docs").show("fast");
    });
    $("#other_docs-no").click(function () {
      $(".pt-upload-other-docs").hide("fast");
    });

  </script>
</body>

</html>
