<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claims | MyService</title>
  <% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-authenticated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <section class="section-feature border-bottom--mild padding-above--extra padding-below--extra" id="claim-activity" style="background-color: #e3e3e3;">
      <!-- <h1 class="margin-above--none container">
          <span class="heading">Claims</span>
        </h1> -->
      <!-- <div class="container"> -->
      <!-- <div class="col-md-offset-2 col-md-8"> -->
      <div class="container myservice--data-grid claims-home">
        <div class="row title">
          <h2>Manage and track your claims</h2>
          <button id="scroll-to-claim" class="uikit-btn uikit-btn--primary" onclick="scrollToAdd();"><span class="fa fa-angle-down fa-icons"
              style="font-size: 1.3em; vertical-align: -10%; margin: 0; color: white;"></span>&nbsp;&nbsp;Lodge a new claim&nbsp;</button>
        </div>
        <div class="row title-home">
          <div class="col-sm-6">
            <h2><span class="fal fa-file-edit fa-icons"></span>Claim activity</h2>
          </div>
          <div class="col-sm-6 buttons">
            <button class="uikit-btn uikit-btn--tertiary small float" onclick="window.location.href = '/auth/claim'">Manage your claims</button>
            <button class="uikit-btn small float" onclick="window.location.href = '/auth/claim'">Make a claim</button>
          </div>
        </div>
        <div class="row header">
          <div class="col-sm-3 data-grid-cell">
            <span class="inner">
              <p class="text-2">Status</p>
            </span>
          </div>
          <div class="col-sm-3 claim-title data-grid-cell">
            <span class="inner">
              <p class="text-2">Claim details</p>
            </span>
          </div>
          <div class="col-sm-6 data-grid-cell">
            <span class="inner floated">
              <p class="text-2">Actions</p>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 data-grid-cell">
            <span class="inner">
              <span class="icon alert"></span>
              <span class="text-1">Documents required</span>
            </span>
          </div>
          <div class="col-sm-3 claim-title data-grid-cell">
            <span class="inner">
              <p class="text-1">Education assistance</p>
              <p class="text-2">Claim ID: 33657809</p>
            </span>
          </div>
          <div class="col-sm-6 data-grid-cell">
            <span class="inner-links">
              <a>Add documents</a>
              <a>Withdraw</a>
              <a>View</a>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 data-grid-cell">
            <span class="inner">
              <p class="text-1">Submitted</p>
              <p class="text-2">18 Sep 2018</p>
            </span>
          </div>
          <div class="col-sm-3 claim-title data-grid-cell">
            <span class="inner">
              <p class="text-1">Compartment syndrome</p>
              <p class="text-2">Initial liability</p>
              <p class="text-2">Claim ID: 33657809</p>
            </span>
          </div>
          <div class="col-sm-6 data-grid-cell">
            <span class="inner-links">
              <a>Withdraw</a>
              <a>View</a>
            </span>
          </div>
        </div>
        <button id="show-more-button" class="uikit-btn uikit-btn--tertiary small margin-above" onclick="showToggle();">Show more</button>
      </div>
    </section>
    <section id="claim-options">
      <div class="container margin-above margin-below--extra" id="claims-tiles">
        <!-- <div class="row" style="width: 100%; padding: 0;"> -->
        <h2 class="ss-align--center margin-above"><span class="font-weight-heavy">Lodge a new claim or application</span></h2>
        <div class="flex-container flex-container--wrap hover-container">
          <!-- <div class="col-md-12 margin-below--none" style="padding: 0;"> -->
          <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
            <a class="card-container" href="/auth/claim/claim1">
              <h2 class="card__title"><span class="font-weight-heavy">Initial Liability</span></h2>
              <p class="card__supporting-text text-fullwidth">Your first step towards treatment and support for a service-related injury&nbsp;or&nbsp;condition.</p>
              <div class="card__button">
                <button class="uikit-btn uikit-btn--tertiary small">Get started</button>
              </div>
            </a>
          </div>
          <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
            <a class="card-container" href="/auth/claim/health-card0">
              <h2 class="card__title"><span class="font-weight-heavy">Mental health treatment</span></h2>
              <p class="card__supporting-text text-fullwidth">Access free mental health treatment.</p>
              <div class="card__button">
                <button class="uikit-btn uikit-btn--tertiary small">Get started</button>
              </div>
            </a>
          </div>
          <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
            <a class="card-container" href="/auth/claim/incap-progress">
              <h2 class="card__title"><span class="font-weight-heavy">Incapacity Payments</span></h2>
              <p class="card__supporting-text text-fullwidth">Get compensated for your inability or reduced ability to work because of a service injury or condition.</p>
              <div class="card__button">
                <button class="uikit-btn uikit-btn--tertiary small">Get started</button>
              </div>
            </a>
          </div>
          <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
            <a class="card-container" href="/auth/claim/studentpreeligibility?flow=veteranFlow">
              <h2 class="card__title"><span class="font-weight-heavy">Education assistance</span>
              </h2>
              <p class="card__supporting-text text-fullwidth">
                Get help with the cost of education for your family.
              </p>
              <div class="card__button">
                <button class="uikit-btn uikit-btn--tertiary small">
                  Get started
                </button>
              </div>
            </a>
          </div>
          <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
            <a class="card-container" href="/auth/claim/afi-start">
              <h2 class="card__title">
                <span class="font-weight-heavy">Increase your disability&nbsp;pension (AFI)</span>
              </h2>
              <p class="card__supporting-text text-fullwidth">
                Apply for a payment increase to your disability pension.
              </p>
              <div class="card__button">
                <button class="uikit-btn uikit-btn--tertiary small">
                  Get started
                </button>
              </div>
            </a>
          </div>
          <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
            <a class="card-container" href="/auth/claim/dhoas/asc1.ejs">
              <h2 class="card__title">
                <span class="font-weight-heavy">DHOAS subsidy certificate</span>
              </h2>
              <p class="card__supporting-text text-fullwidth">
                Apply for a subsidy on the interest of your home loan.
              </p>
              <div class="card__button">
                <button class="uikit-btn uikit-btn--tertiary small">
                  Get started
                </button>
              </div>
            </a>
          </div>
          <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
            <a class="card-container" href="http://www.dsh.gov.au/insurance">
              <h2 class="card__title">
                <span class="font-weight-heavy">Defence Service Home Insurance Scheme</span>
              </h2>
              <p class="card__supporting-text text-fullwidth">
                Apply for home, contents and other insurance policies.
              </p>
              <div class="card__button">
                <button class="uikit-btn uikit-btn--tertiary small">
                  Defence Service Homes website&nbsp;&nbsp;<span class="fas fa-external-link fa-icons" style="font-size: 0.9em; vertical-align: 10%;"></span>
                </button>
              </div>
            </a>
          </div>
          <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
            <a class="card-container" href="/auth/claim/sp-progress-a">
              <h2 class="card__title">
                <span class="font-weight-heavy">Service Pension</span>
              </h2>
              <p class="card__supporting-text text-fullwidth">
                Apply for age, invalidity or partner service pension
              </p>
              <div class="card__button">
                <button class="uikit-btn uikit-btn--tertiary small">
                  Get started
                </button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    </div>
  </main>
  <% include ../../../partials/footer.ejs %>
  <% include ../../../partials/claims-dhoas-asc1-modal.ejs %>
  <script>
    function scrollToAdd() {
      g
      $('html, body').animate({
        scrollTop: $("#claims-tiles").offset().top
      }, 1000);
    }

    $(document).keypress(function (e) {
      switch (e.which) {
        case 49:
          showScenario(1);
          break;
        case 50:
          showScenario(2);
          break;
        case 51:
          showScenario(3);
          break;
        default:
      }
      // console.log( e.which );
    });

    function showScenario(myScenario) {

      switch (myScenario) {
        case 1:
          $("#claim-activity").hide();
          // $("#show-toggle-mask").show();
          // console.log("dfgdfgdfg")
          break;
        case 2:
          $("#claim-activity").show();
          $("#show-more-button").hide();
          $("#claim-activity").show();
          break;
        case 3:
          $("#line-6").hide();
          $("#line-7").hide();
          $("#claim-activity").show();
          $("#show-more-button").show();
          break;
        default:
          break
      }
    }

    function showToggle() {
      console.log($("#show-more-button").html())
      if ($("#show-more-button").html() == "Show more") {
        $("#show-more-button").html('Show less');
        $("#line-5").show();
        $("#line-6").show();
        $("#line-7").show();
        $("#show-toggle-mask").addClass("inactive");
      } else {
        $("#show-more-button").html('Show more');
        $("#line-5").hide();
        $("#line-6").hide();
        $("#line-7").hide();
        $("#show-toggle-mask").removeClass("inactive");
      }
    }

    // $(".toggle-arrow").click(function() {
    //     $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
    // });

    function goToByScroll(id) {
      id = id.replace("-link", "");
      $('html,body').animate({
          scrollTop: $("#" + id).offset().top
        },
        'slow');
    }
    $("#scroll-to-claim").click(function (e) {
      e.preventDefault();
      goToByScroll("claim-options");
    });


    // $("#entitlements").change(function() {
    //     if ($('#entitlements :selected').val() == "veterancard") {
    //         $("#entitlement-vc").removeClass('action-group__reveal--closed');
    //         $("#entitlement-vc").addClass('action-group__reveal--open');
    //     } else {
    //         $("#entitlement-vc").removeClass('action-group__reveal--open');
    //         $("#entitlement-vc").addClass('action-group__reveal--closed');
    //     }
    //     if ($('#entitlements :selected').val() == "mentalhealth") {
    //         $("#entitlement-mh").removeClass('action-group__reveal--closed');
    //         $("#entitlement-mh").addClass('action-group__reveal--open');
    //     } else {
    //         $("#entitlement-mh").removeClass('action-group__reveal--open');
    //         $("#entitlement-mh").addClass('action-group__reveal--closed');
    //     }
    //     if ($('#entitlements :selected').val() == "education") {
    //         $("#entitlement-student").removeClass('action-group__reveal--closed');
    //         $("#entitlement-student").addClass('action-group__reveal--open');
    //     } else {
    //         $("#entitlement-student").removeClass('action-group__reveal--open');
    //         $("#entitlement-student").addClass('action-group__reveal--closed');
    //     }
    //     if ($('#entitlements :selected').val() == "incap") {
    //         $("#entitlement-incap").removeClass('action-group__reveal--closed');
    //         $("#entitlement-incap").addClass('action-group__reveal--open');
    //     } else {
    //         $("#entitlement-afi").removeClass('action-group__reveal--open');
    //         $("#entitlement-afi").addClass('action-group__reveal--closed');
    //     }
    //     if ($('#entitlements :selected').val() == "afi") {
    //         $("#entitlement-afi").removeClass('action-group__reveal--closed');
    //         $("#entitlement-afi").addClass('action-group__reveal--open');
    //     } else {
    //         $("#entitlement-afi").removeClass('action-group__reveal--open');
    //         $("#entitlement-afi").addClass('action-group__reveal--closed');
    //     }
    //     if ($('#entitlements :selected').val() == "dhoas") {
    //         $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--closed');
    //         $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--open');
    //     } else {
    //         $("#entitlement-dhoas-subsidy").removeClass('action-group__reveal--open');
    //         $("#entitlement-dhoas-subsidy").addClass('action-group__reveal--closed');
    //     }
    //     if ($('#entitlements :selected').val() == "sp") {
    //         $("#entitlement-sp").removeClass('action-group__reveal--closed');
    //         $("#entitlement-sp").addClass('action-group__reveal--open');
    //     } else {
    //         $("#entitlement-sp").removeClass('action-group__reveal--open');
    //         $("#entitlement-sp").addClass('action-group__reveal--closed');
    //     }
    // });

  </script>
</body>

</html>
