<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claims | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-authenticated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div id="main-content" class="section-feature section-feature--bg margin-above--none padding-above--mid padding-below--mid">
        <div class="container">
          <h1 class="margin-below--small margin-above--small">
            <span class="heading">Claims</span>
          </h1>

          <div class="skip-link padding-above--none
              small-handheld-skip">
            <button class="uikit-btn uikit-btn--tertiary margin-below" id="claim-activity-link">See all claims</button>
          </div>

          <div class="container claims-accordion simple-accordion simple-accordion--open margin-below">
            <div class="row simple-accordion__trigger">
              <div class="col-sm-12">
                <h2 class="simple-accordion__heading margin-above--none margin-below--none">
                  <a class="toggle-arrow">
                    <b>Get the entitlements you deserve</b>
                  </a>
                </h2>
              </div>
            </div>
            <div class="row simple-accordion__body margin-below--extra">
              <div class="col-sm-12 claims-accordion--singleclaim">
                <h2 class="simple-accordion__heading">Claim now for service-related
                  <br>
                  <b>injuries or illness</b>
                </h2>
                <p>Access treatment and support if you have an injury or condition resulting from your service.</p>
                <button class="uikit-btn" onclick="window.location.href='/claim1'">Get started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container margin-above--extra margin-below--extra" id="claim-activity">
        <h2 class="simple-accordion__heading">
          <center>
            <b>Manage and track your claims</b>
          </center>
        </h2>
        <section class="widget">
          <div class="widget-header">
            <h2>
              <span class="widget-header__title">
                <img src="../../../docs/images/ico-claims.svg" alt="">Claim activity
              </span>
            </h2>

          </div>
          <div class="row widget-content widget--justclaims">
            <div class="col-md-12">
              <table class="table-claims table-responsive">

                <tr>
                  <td>
                    <p class="status-icon status-approved">
                      Mental Health Treatment (NLHC)
                      <br />
                      <span>Approved
                        <em>&ndash; 4 Jan 2018</em>
                      </span>
                    </p>
                  </td>
                  <td class="widget-actions">
                    <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </section>
        <p>This page is seen by Veterans with existing NLHC who
          <b>are not</b> eligible for student payments.</p>
        <p>
          <a href="/auth/claim/claims-neverserved">Next ></a>
        </p>
      </div>

    </section>
  </main>
  <% include ../../../partials/footer.ejs %>

  <script>
    $(".toggle-arrow").click(function () {
      $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
    });

    function goToByScroll(id) {
      id = id.replace("-link", "");
      $('html,body').animate({
          scrollTop: $("#" + id).offset().top
        },
        'slow');
    }
    $("#claim-activity-link").click(function (e) {
      e.preventDefault();
      goToByScroll($(this).attr("id"));
    });


    $("#entitlements").change(function () {
      if ($('#entitlements :selected').val() == "Free mental health treatment") {
        $(".entitlement-mh").show("fast");
      } else {
        $(".entitlement-mh").hide();
      }
      if ($('#entitlements :selected').val() == "Student payments") {
        $(".entitlement-student").show("fast");
      } else {
        $(".entitlement-student").hide();
      }
    });
  </script>

</body>


</html>