<!-- Summary card -->
<div id="employment-summary" class="plain-text-info margin-below--large" style="display:none;">
  <div class="review__wrapper">
    <div class="review__content--item boxed">
      <div class="review__content--label margin-below">
        <h2 class="margin-above--none" style="display: inline-block;">
          <!-- <span class="fal fa-university fa-icons"></span><span class="font-weight-heavy">Employment</span></h2> -->
          <span class="font-weight-heavy">Employment</span></h2>
        </h2>
        <button class="uikit-btn uikit-btn--tertiary small floated" onClick="editCard('employment');">&nbsp;Edit&nbsp;</button>
      </div>
      <div class="review__table">
        <div class="tr">
          <div class="td"><b>Type of employment</b></div>
          <div class="td">Full time</div>
        </div>
        <div class="tr">
          <div class="td"><b>Employer name</b></div>
          <div class="td">Spacely Sprockets</div>
        </div>
        <div class="tr">
          <div class="td"><b>Start date</b></div>
          <div class="td">12/07/2014</div>
        </div>
        <div class="tr">
          <div class="td"><b>End date</b></div>
          <div class="td">I still work here</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Open card -->
<div id="employment-card" class="boxed margin-above margin-below--large" style="display: none;">
  <div>
    <!-- <h2 class="margin-above--none" style="display: inline-block;"><span class="fal fa-university fa-icons"></span><span class="font-weight-heavy">Employment
      </span></h2> -->
    <h2 class="margin-above--none" style="display: inline-block;"><span class="font-weight-heavy">Employment
      </span></h2>
    <button id="deleteButton" class="uikit-btn uikit-btn--tertiary small warning floated" onclick="removeSummary('employment');">&nbsp;Delete item&nbsp;</button>
  </div>
  <div id="card-details" class="margin-below--large">

    <p class="margin-below--mid">Tell us about your civilian job.</p>
    <hr>
    <form id="myForm">
      <div id="employment-details-current">
        <div id="employment-type" class="form-group margin-below">
          <label class="uikit-text-input__label" for="rank">Type of employment</label>
          <select class="uikit-text-input input-half" id="employment" name="employment">
            <option>-- Select your type of employment --</option>
            <option>Full-time</option>
            <option>Part-time</option>
            <option>Self-employed</option>
            <option>Partnership</option>
            <option>Contract</option>
            <option>Casual</option>
          </select>
        </div>

        <div id="employer" class="form-group">
          <label class="uikit-text-input__label" for="employer-name">Name of employer <span class="hint">(business name)</span></label>
          <input class="uikit-text-input input-half" name="employer-name" id="employer-name" type="text" value="">
        </div>

        <div class="form-group margin-above">
          <label class="uikit-text-input__label" for="employer-phone">Contact phone number <span class="hint display-block">Include your area code (for example,
              '03' for Victoria)</span>
          </label>
          <input class="uikit-text-input input-half" name="employer-phone" id="employer-phone" type="text" value="" required="" aria-required="true">
        </div>

        <div class="form-group margin-above">
          <label class="uikit-text-input__label" for="employment-hours-worked">
            How many hours do you work per week?
            <span class="hint display-block">If your hours change, average them out over a 4 week period</span>
          </label>
          <input class="uikit-text-input yyyy" type="number" name="hours-worked" id="hours-worked" maxlength="3" required aria-required="true" aria-label="2 digit hours">
          &nbsp;hours&nbsp;per&nbsp;week
        </div>

        <div class="form-group margin-above">
          <label class="uikit-text-input__label" for="employment-earnings">
            What are you total weekly earnings? <span class="hint">(before tax)</span>
            <span class="hint display-block">If your earnings change, average them out over a 4 week period</span>
          </label>
          &nbsp;<input class="uikit-text-input input-half" name="employment-earnings" id="employment-earnings" type="text" value="" required="" aria-required="true">
        </div>

        <div class="form-group date-started-ended margin-above">


          <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="date">Employment start date
              <span class="hint">(dd / mm / yyyy)</span>
            </label>
            <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day" />
            /
            <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month" />
            /
            <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year" />
          </div>

          <div class="form-group margin-above--large">
            <label class="uikit-text-input__label" for="date">Employment end date
              <span class="hint">(dd / mm / yyyy)</span>
            </label>
            <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day" />
            /
            <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month" />
            /
            <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year" />
            &nbsp;&nbsp;&nbsp;&nbsp;OR&nbsp;&nbsp;&nbsp;&nbsp;<label class="uikit-control-input">
              <input class="uikit-control-input__input" type="checkbox" name="" id="">
              <span class="uikit-control-input__text">I still work here</span>
            </label>
          </div>

        </div>
      </div>
    </form>
    <hr>
    <div id="buttonset2" class="form-group margin-above--none">
      <button id="addButton" class="uikit-btn" onclick="addSummary('employment');">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button> &nbsp;<button
        class="uikit-btn uikit-btn--tertiary" onclick="cancelCard();">&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;</button>
    </div>
  </div>
</div>
