<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>NLHC Eligibilty | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>

  <main>
    <div class="container" id="main-content">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>

      <h1>Check your eligibilty</h1>


      <div class="form-group" id="q1">
        <fieldset>
          <legend class="legend-label">What type of service are you claiming for?</legend>
          <div class="radio-toggle">
            <label class="on label-left">
              <input type="radio" id="permanent" name="ServiceType" value="permanent">
              <span>Permanent</span>
            </label>
            <label class="off label-right">
              <input type="radio" id="reservist" name="ServiceType" value="reservist">
              <span>Reservist</span>
            </label>
          </div>
        </fieldset>
      </div>

      <div class="form-group" id="q2">
        <fieldset>
          <div class="uikit-text-input__label-wrapper--inline-block">
            <legend class="legend-label">As a reservist, was your service ever considered Continuous Full-Time Service? </legend>
          </div>
          <div class="tooltip">
            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
              <div class="tooltip__label tooltip__label--icon-only">
                <a>CFTS help</a>
              </div>
              <div class="tooltip__tab"></div>
            </div>
            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
              <div class="tooltip__message">This may be through prior service in the permanent forces of the ADF, or if you have been deployed on continuous full-time service, or
                if you
                have undertaken a continuous full-time service contract. </div>
              <div class="tooltip__close" role="button" tabindex="0">Close</div>
            </div>
          </div>
          <div class="radio-toggle">
            <label class="on label-left">
              <input type="radio" name="CTFS" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right">
              <input type="radio" name="CTFS" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>
      </div>

      <div class="form-group" id="q3">
        <fieldset>
          <legend class="legend-label">As a reservist, have you rendered Disaster Relief Service?</legend>
          <div class="radio-toggle">
            <label class="on label-left">
              <input type="radio" name="DisasterRelief" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right">
              <input type="radio" name="DisasterRelief" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>
      </div>
      <div class="form-group" id="DisasterReliefOperationName">
        <label class="uikit-text-input__label">Operation name
          <span class="hint">(if known)</span>
        </label>
        <input class="uikit-text-input input-half" type="text" value="" id="DROperation">
      </div>

      <div class="form-group" id="q4">
        <fieldset>
          <legend class="legend-label">As a reservist, have you rendered Border Protection Service? </legend>
          <div class="radio-toggle">
            <label class="on label-left ">
              <input type="radio" name="BorderProtection" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right ">
              <input type="radio" name="BorderProtection" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>
      </div>
      <div class="form-group" id="BorderProtectionOperationName">
        <label class="uikit-text-input__label">Operation name
          <span class="hint">(if known)</span>
        </label>
        <input class="uikit-text-input input-half" type="text" value="" id="BPOperation">
      </div>

      <div class="form-group" id="q5">
        <fieldset>
          <div class="uikit-text-input__label-wrapper--inline-block">
            <legend class="legend-label">As a reservist, have you been involved in a serious training accident? </legend>
          </div>
          <div class="tooltip">
            <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
              <div class="tooltip__label tooltip__label--icon-only">
                <a>Incident help</a>
              </div>
              <div class="tooltip__tab"></div>
            </div>
            <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
              <div class="tooltip__message">This includes involvement in a serious accident while undertaking a Defence training exercise where you witness a member of the ADF die
                or sustain
                a serious injury, or you sustain a serious injury . The person would have needed immediate inpatient hospital treatment. </div>
              <div class="tooltip__close" role="button" tabindex="0">Close</div>
            </div>
          </div>
          <div class="radio-toggle">
            <label class="on label-left ">
              <input type="radio" name="training" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right ">
              <input type="radio" name="training" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>
      </div>
      <div class="form-group" id="TrainingLocation">
        <label class="uikit-text-input__label">Location of accident
          <span class="hint">(if known)</span>
        </label>
        <input class="uikit-text-input input-half" type="text" value="" id="locationincident">
      </div>

      <div class="form-group" id="DateofIncident">
        <label class="uikit-text-input__label" for="cease-work-date">Approximately when did the accident occur?
          <span class="hint display-block">(MM / YYYY)</span>
        </label>
        <input class="uikit-text-input mm" type="text" name="mm-date-finish-studying" id="mm-date-incident" maxlength="2" aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy" type="text" name="yyyy-date-finish-studying" id="yyyy-date-incident" maxlength="4" aria-label="4 digit year">
      </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel request</button>
        <div class="floated">
          <button class="uikit-btn" id="next">Next</button>
        </div>
      </div>

      <% include ../../../partials/claims-cancel-modal.ejs %>

    </div>
  </main>

  <% include ../../../partials/footer.ejs %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "10%";
    document.getElementById("percentage_value").textContent = "10%";

    var buttonon = true;

    $("#next").click(function () {

      if ($("#reservist")[0].checked) {
        $(".off > input").each(function () {
          if (!$(this)[0].checked) {
            buttonon = false;
          }
        })
        if (buttonon) {
          window.location.href = "/auth/claim/health-card-blocker";
          return
        }
      }
      window.location.href = "/auth/claim/health-card1";
    });


    $("#q2,#q3,#q4,#q5,#DisasterReliefOperationName,#BorderProtectionOperationName, #TrainingLocation, #DateofIncident").hide();
    $("#q1 label").click(function () {
      if ($("input[name=ServiceType]:checked").val() == "permanent") {
        $("#q2,#q3,#q4,#q5,#DisasterReliefOperationName,#BorderProtectionOperationName").hide();
        $("input[name=CTFS]:checked").prop("checked", false);
        $("input[name=DisasterRelief]:checked").prop("checked", false);
        $("input[name=BorderProtection]:checked").prop("checked", false);
        $("input[name=training]:checked").prop("checked", false);
        $("#DROperation").val("");
        $("#BPOperation").val("");
      } else {
        $("#q2,#q3,#q4,#q5").show();
      }
    });

    $("#q3 label").click(function () {
      if ($("input[name=DisasterRelief]:checked").val() == "yes") {
        $("#DisasterReliefOperationName").show();
      } else {
        $("#DisasterReliefOperationName").hide();
        $("#DROperation").val("");
      }
    });

    $("#q4 label").click(function () {
      if ($("input[name=BorderProtection]:checked").val() == "yes") {
        $("#BorderProtectionOperationName").show();
      } else {
        $("#BorderProtectionOperationName").hide();
        $("#BPOperation").val("");
      }
    });

    $("#q5 label").click(function () {
      if ($("input[name=training]:checked").val() == "yes") {
        $("#TrainingLocation").show();
        $("#DateofIncident").show();
      } else {
        $("#TrainingLocation").hide();
        $("#DateofIncident").hide();
        $("#locationincident").val("");
        $("#mm-date-incident").val("");
        $("#yyyy-date-incident").val("");
      }
    });

    //	$("#single-no").click(function() {
    //		$( ".single-incident" ).hide();
    //		$( ".over-time" ).show("fast");
    //	});
    //
    //	$( "#doctor-no" ).click(function() {
    //		sessionStorage.setItem('nodiagnosis',true);
    //		$( "#condition" ).show("fast");
    //		$( "#diagnosis" ).hide();
    //	});
    //	$( "#doctor-yes" ).click(function() {
    //		sessionStorage.setItem('yesdiagnosis',true);
    //		$( "#diagnosis" ).show("fast");
    //		$( "#condition" ).hide();
    //	});
  </script>

</body>

</html>