<%- include(templates+"header", {
  title: "NLHC",
  heading: "Access mental health treatment"
})%>

      <div class="breakout clearfix">
        <img class="float-image-left" src="/docs/images/dva-health-card.png" alt="Picture of a DVA health card" />
        <div class="float-content">
          <p>When you request mental health cover, we will send you a
            <strong>DVA Health Card</strong> (
            <a href="https://www.dva.gov.au/providers/dva-health-cards#whitecard">White Card</a>). Your DVA Health Card covers the cost of treatment for any mental health
            condition.</p>
          <p>If you already have a DVA Health Card, submitting this request will update your card to include mental health treatment.</p>
        </div>
      </div>

      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/health-card0'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel request</button>
        <div class="floated">
          <button class="uikit-btn" onclick="window.location.href = '/auth/claim/health-card2'">Next</button>
        </div>
      </div>

      <%- include(partials+"content/modals/claims-cancel-modal") %>

    </div>
  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "30%";
    document.getElementById("percentage_value").textContent = "30%";

    //	$("#single-yes").click(function() {
    //		$( ".single-incident" ).show("fast");
    //		$( ".over-time" ).hide();
    //	});
    //	$("#single-no").click(function() {
    //		$( ".single-incident" ).hide();
    //		$( ".over-time" ).show("fast");
    //	});
    //
    //	$( "#doctor-no" ).click(function() {
    //		sessionStorage.setItem('nodiagnosis',true);
    //		$( "#condition" ).show("fast");
    //		$( "#diagnosis" ).hide();
    //	});
    //	$( "#doctor-yes" ).click(function() {
    //		sessionStorage.setItem('yesdiagnosis',true);
    //		$( "#diagnosis" ).show("fast");
    //		$( "#condition" ).hide();
    //	});
  </script>

</body>

</html>