<%- include(templates+"header", {
  claim: "NLHC",
  heading: "Review and submit"
})%>
      <div id="review-table__toggle">
        <table>
          <caption>Eligibilty
            <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/health-card0'">Change</button>
          </caption>
          <tr>
            <th width="52%">Continuous full-time service?</th>
            <td>yes</td>
          </tr>
          <tr>
            <th>Disaster relief service?</th>
            <td>no</td>
          </tr>
          <tr>
            <th>Border protection service?</th>
            <td>yes
              <br>Op Resolute</td>
          </tr>
          <tr>
            <th>Serious Training Incident?</th>
            <td>no</td>
          </tr>
        </table>

        <table class="bank-details">
          <caption>Bank details
            <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/health-card2'">Change</button>
          </caption>
          <tr>
            <th>Account name</th>
            <td><span class="pt-current-user-name-full"></span></td>
          </tr>
          <tr>
            <th>BSB</th>
            <td>123-456</td>
          </tr>
          <tr>
            <th>Account number</th>
            <td>1234 5678</td>
          </tr>
        </table>
      </div>
      <div id="declaration-toggle">
        <h2>Declaration</h2>
        <div class="declaration">
          <div class="uiToolKitCheckBox">
            <label class="uikit-control-input">
              <input class="uikit-control-input__input" type="checkbox" id="agreement_checked" name="agreement_checked">
              <span class="uikit-control-input__text">I agree to the following:</span>
            </label>
          </div>
          <ol class="declaration__list">
            <li>I acknowledge as a current serving member, the information provided in this claim and its determination will be shared with the Department of Defence.</li>
            <li>All information provided is truthful and accurate.</li>
          </ol>
        </div>
      </div>
      <div class="pagination">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/health-card2'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel request</button>
        <div class="floated">
          <button class="uikit-btn" onclick="window.location.href = '/auth/claim/health-card4'">Submit request</button>
        </div>
      </div>

      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>
  </main>
  <%- include(partials+"components/layout/footer") %>
  <%- include("../health-card3-state-switcher") %>
  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "90%";
    document.getElementById("percentage_value").textContent = "90%";
  </script>

</body>

</html>
