<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>NLHC | MyService</title>
<% include ../../../partials/head.ejs %>
  <style>
    .hide-fields>div {
      display: none;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-authenticated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="margin-above--large submitted-animation">
              <img src="../../../docs/images/ico-warning-large.svg" alt="Warning icon">
            </div>

            <h1 class="cantered-item margin-above--mid" id="question_pageheaderFinal">
            </h1>

            <h1 class="cantered-item">Based on your responses, we cannot complete your claim through MyService
            </h1>

            <hr class="orange-divider">

            <div class="margin-below--extra">
              <h3>
                <span class="font-weight-heavy">If you wish to discuss this further, please call DVA on 1800 555 254 or email
                  <a href="mailto:NLHC@dva.gov.au">NLHC@dva.gov.au</a>. If you require immediate assistance, call Lifeline on 13 11 14.
              </h3>
              <p>Free mental health treatment under DVA's non-liability health care arrangement depends on the nature of your service (for example, continuous full-time service
                with the ADF) or specific Reserve Service Days. For more information about Non Liability Health Care (NLHC) go to the DVA website. </p>


              <hr>

              <h2>
                <span class="font-weight-heavy">24 hour counselling and support services</span>
              </h2>

              <div class="mys-support-services">
                <div class="mys-support-services__service">
                  <img class="mys-support-services__logo" src="/docs/images/logo-vvcs.png" alt="vvcs - logo">
                  <br>
                  <a href="http://www.vvcs.gov.au/">
                    <span class="external-link external-link-blue">Open Arms – Veterans and Families Counselling</span>
                  </a>
                  <br>
                  <a href="tel:1800011046">
                    <strong>1800&nbsp;011&nbsp;046</strong>
                  </a>
                  <br>
                  <a href="" target="_blank">
                    <img src="/docs/images/ico-facebook-black.svg" style="height:15px;padding-right:0.5em;padding-top:4px" align="left"
                      alt="VVCS Support on Facebook - Facebook - icon">Find
                    us on Facebook</a>
                </div>
                <div class="mys-support-services__service">
                  <img class="mys-support-services__logo" src="/docs/images/logo-defence.png" alt="defence - logo">
                  <br>
                  <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">
                    <span class="external-link external-link-blue">ADF Mental Health All Hours Support Line</span>
                  </a>
                  <br>
                  <a href="tel:1800628036">
                    <strong>1800&nbsp;628&nbsp;036</strong>
                  </a>
                </div>
                <div class="mys-support-services__service">
                  <img class="mys-support-services__logo" src="/docs/images/logo-lifeline.png" alt="lifeline - logo">
                  <br>
                  <a href="https://www.lifeline.org.au/">
                    <span class="external-link external-link-blue">Lifeline</span>
                  </a>
                  <br>
                  <a href="tel:131114">
                    <strong>13&nbsp;11&nbsp;14</strong>
                  </a>
                </div>
                <div class="mys-support-services__service">
                  <img class="mys-support-services__logo" src="/docs/images/logo-1800respect.png" alt="1800 RESPECT - phone number">
                  <br>
                  <a href="https://www.1800respect.org.au">
                    <span class="external-link external-link-blue">National Sexual Assault, Domestic and Family Violence Counselling Service</span>
                  </a>
                  <br>
                  <a href="tel:1800737732">
                    <strong>1800&nbsp;737&nbsp;732</strong>
                  </a>
                </div>
              </div>

              <div class="margin-below--extra">
                <div id="question_message19">
                  <!-- <h3>Your application is being assessed. </h3>
                        
                                      <p>You will receive an outcome by
                                        <span class="pt-bussnessDaysOutcome"></span>.
                                      </p>
                                      <p> If you do not hear from us within 14 days you can call 133 254.
                                      </p>
                                      <p> You will be notified of your application outcome by mail and a MyGov notification.</p> -->
                </div>
              </div>




              <div class="pagination">
                <button class="uikit-btn" onclick="window.location.href = '/auth/claim/updateClaimInProgress'">Back to home</button>
              </div>

            </div>
          </div>
        </div>
      </div>
  </main>

  <% include ../../../partials/footer.ejs %>
  <script src="/docs/js/students.js"></script>


  <script>
    // Progress percentage
    // document.getElementById("percentage").style.width = "100%";
  </script>

</body>

</html>