<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main id="main-content">

    <div class="container margin-below--extra">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <h1 class="margin-above">
            <span class="heading">Before you resume your claim</span>
          </h1>

          <p class="ss-align--center margin-above">Confirm the information below is correct</p>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
          <div class="profile-table">
            <div class="row profile-row">
              <div class="col-sm-12 description-fields">
                <div class="row">
                  <div class="col-sm-6 col-md-9 title-field">Are you leaving the ADF in the next 3 months?</div>
                  <div class="col-sm-6 col-md-3 uneditable email-uneditable-div">
                    <span id="email-span">Yes</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row profile-row">
              <div class="col-sm-12 description-fields">
                <div class="row">
                  <div class="col-sm-6 col-md-9 title-field">When are you leaving?</div>
                  <div class="col-sm-6 col-md-3 uneditable email-uneditable-div">
                    <span id="email-span">11 / 12 / 2018</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 margin-above--extra">
          <div class="pagination ss-align--center">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/incap-start'">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;
            <button class="uikit-btn" onclick="window.location.href = '/auth/claim/incap-progress'">This is correct</button>
          </div>
        </div>
      </div>

      <% include ../../../partials/claims-cancel-modal.ejs %>
    </div>
  </main>

  <% include ../../../partials/footer.ejs %>


  <script>
    $(Document).ready(function () {
      localStorage.clear();
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/incap-progress"
      });
    });

    // Show and hide leaving date
    $("#leavingADF-yes").click(function () {
      $(".leavingdate").show("fast");
      $(".save-and-next").hide();
    });
    $("#leavingADF-no").click(function () {
      $(".leavingdate").hide();
      $(".save-and-next").show("fast");
    });
  </script>

</body>

</html>