<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

      <div class="container margin-above--none">


        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Your lost earnings</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

          <div class="margin-above--extra margin-below--extra">

            <div id="lostincome" class="form-group">
              <h2>To determine your Incapacity Payments, we look at the effect your conditions have on your capacity to work.</h2>
              <h4>Tell us about the lost earnings you are claiming for &nbsp;<div class="tooltip">
                  <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                    <div class="tooltip__label tooltip__label--icon-only">
                      <a>Lost earnings help</a>
                    </div>
                    <div class="tooltip__tab"></div>
                  </div>
                  <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">If at any time there is a difference between your normal military wage and your actual earnings as a result of a
                      service-related injury or condition, this could be considered lost earnings.</div>
                    <div class="tooltip__close" role="button" tabindex="0">Close</div>
                  </div>
                </div><span class="hint display-block">Choose all that apply:</span></h4>

              <div class="form-group">
                <div class="margin-below--mid lostincome stillserving">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="lossofallowance1" id="lossofallowance1">
                    <span class="uikit-control-input__text">I lost allowances while serving</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome stillserving">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="lossofallowance3" id="lossofallowance2">
                    <span class="uikit-control-input__text">I suffered a loss in my career progression as a Recruit or during Initial Employment Training</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome reserves">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="cfts" id="cfts">
                    <span class="uikit-control-input__text">I lost earnings in my Reserve employment</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome reserves">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="civilianemployment" id="civilianemployment">
                    <span class="uikit-control-input__text">I lost earnings in my civilian employment while serving in the Reserves</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome reserves">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="cfts" id="cfts">
                    <span class="uikit-control-input__text">I lost earnings while on a continuous full-time service (CFTS) contract</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome transitioning">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="likelyearnless" id="likelyearnless">
                    <span class="uikit-control-input__text">I will likely be earning less in my civilian employment than I am now</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome transitioning">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="likelyunemployed" id="likelyunemployed">
                    <span class="uikit-control-input__text">I will likely be unemployed after I discharge</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome dischargedreserves">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="incapongoing1" id="incapongoing1">
                    <span class="uikit-control-input__text">I was unemployed for a period after leaving the Reserves</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome formerserving-now">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input employment-required" type="checkbox" name="earningless-now" id="earningless-now">
                    <span class="uikit-control-input__text">My civilian wage is or was less than my military wage since leaving the ADF</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome formerserving-past">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input employment-required" type="checkbox" name="unemployed-past" id="unemployed-past">
                    <span class="uikit-control-input__text">I was unemployed for a period after leaving the ADF</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome formerserving-now">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input employment-required" type="checkbox" name="unemployed-now" id="unemployed-now">
                    <span class="uikit-control-input__text">I am currently unemployed</span>
                  </label>
                </div>
                <div class="margin-below--mid lostincome dischargedreserves">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" name="incaplumpsum" id="incaplumpsum">
                    <span class="uikit-control-input__text">I lost earnings in my civilian employment after leaving the Reserves</span>
                  </label>
                </div>
              </div>

              <%- include(partials+"components/form-partials/textarea", {
                label: "Tell us more about your lost earnings",
                hint: "(optional)<BR/>This could include reasons for unemployment or reduced earnings.",
                modifiers: ["hidden"],
                id: "tell-us-more"
              }); %>

            </div>
          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/incap-progress'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=INCAPuser-incomplete'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <% include ../../../partials/claims-cancel-modal.ejs %>

  </main>

  <% include ../../../partials/footer.ejs %>


  <script>
    $(Document).ready(function () {

      localStorage.clear();

      $("input:checkbox").prop("checked", false);

      $('#earningless-now').change(function () {
        checkShowField();
      });
      $('#unemployed-past').change(function () {
        checkShowField();
      });
      $('#unemployed-now').change(function () {
        checkShowField();
      });

      $('#tell-us-more').parent().hide();
      function checkShowField() {
        if ($("#earningless-now").is(':checked') || $("#nemployed-past").is(':checked') || $("#unemployed-now").is(':checked')) {
          $('#tell-us-more').parent().show("fast")
        } else {
          $('#tell-us-more').parent().hide();
        }
      }

      $("#btnNext").click(function () {

        if ($("#lossofallowance1").is(':checked') || $("#lossofallowance2").is(':checked') || $("#unemployed-now").is(':checked')) {
          localStorage.setItem('flow1', true);
        }
        if ($("#earningless-now").is(':checked') || $("#unemployed-past").is(':checked') || $("#unemployed-now").is(':checked')) {
          localStorage.removeItem('flow1');
        }
        if ($("#unemployed-past").is(':checked') || $("#unemployed-now").is(':checked')) {
          localStorage.setItem('flow2', true);
        }
        if ($("#earningless-now").is(':checked')) {
          localStorage.removeItem('flow2');
        }
        window.location.href = "/auth/claim/incap/a-2"
      });

    });
  </script>

</body>

</html>
