<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim summary | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Review and submit</span>
        </h1>
      </div>
    </div>

    <div class="container margin-above">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="review margin-below--extra margin-above--extra">

            <!-- Lost earnings -->
            <div class="review__wrapper">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Lost earnings</h2>
                </div>
                <div class="review__header--button"></div>
              </div>
              <div class="review__content">
                <!-- <div class="review__content--item row">
                  <div class="review__content--data col-xs-12">&#10003;&nbsp;&nbsp; I lost allowances whilst serving</div>
                </div> -->
                <div class="review__content--item row ongoing-only employed">
                  <div class="review__content--data col-xs-12">&#10003;&nbsp;&nbsp; I am/was earning less in my civilian employment than I was in the ADF</div>
                </div>
                <!-- <div class="review__content--item row ongoing-only">
                  <div class="review__content--data col-xs-12">&#10003;&nbsp;&nbsp; I was unemployed for a period after leaving the ADF</div>
                </div> -->
                <!-- <div class="review__content--item row ongoing-only">
                  <div class="review__content--data col-xs-12">&#10003;&nbsp;&nbsp; I am currently unemployed</div>
                </div> -->
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/incap-a-1'">Edit</button>
              </div>
            </div>

            <hr class="hr-compact">

            <!-- Conditions -->
            <div class="review__wrapper ongoing-only">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Your conditions that relate to this claim</h2>
                </div>
                <div class="review__header--button"></div>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--data col-xs-12">depression</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--data col-xs-12">osteoarthritis</div>
                </div>
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/incap-b-1'">Edit</button>
              </div>
            </div>

            <hr class="hr-compact">

            <!-- Service History -->
            <div class="review__wrapper">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Service history</h2>
                </div>
                <div class="review__header--button"></div>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Date of discharge:</div>
                  <div class="review__content--data col-xs-7">11 / 08 / 2018</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Reason for discharge:</div>
                  <div class="review__content--data col-xs-7">Medical</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Rank at date of discharge:</div>
                  <div class="review__content--data col-xs-7">Officer</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Paygroup at discharge:</div>
                  <div class="review__content--data col-xs-7">03</div>
                </div>
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/incap-b-2'">Edit</button>
              </div>
            </div>

            <hr class="hr-compact">

            <!-- Employment -->
            <div class="review__wrapper ongoing-only employed">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Employment</h2>
                </div>
                <div class="review__header--button"></div>
              </div>
              <div class="review__content">
                <div>
                  <h3>Body Crafters - Personal Training</h3>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Type of employment:</div>
                  <div class="review__content--data col-xs-7">Self-employed</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Contact phone number:</div>
                  <div class="review__content--data col-xs-7">+61 412 345 678</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Hours worked per week:</div>
                  <div class="review__content--data col-xs-7">20</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Gross weekly earnings:</div>
                  <div class="review__content--data col-xs-7">$650.00</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Dates worked:</div>
                  <div class="review__content--data col-xs-7">23 / 09 / 2018 - present day</div>
                </div>

                <!-- <div>
                  <h3>Springfield Nuclear Powerplant</h3>
                </div>

                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Type of employment:</div>
                  <div class="review__content--data col-xs-7">Full-time</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Contact phone number:</div>
                  <div class="review__content--data col-xs-7">(02) 6123 4567</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Hours worked per week:</div>
                  <div class="review__content--data col-xs-7">20</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Gross weekly earnings:</div>
                  <div class="review__content--data col-xs-7">$650.00</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Dates worked:</div>
                  <div class="review__content--data col-xs-7">12 / 10 / 2018 - current</div>
                </div> -->
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/incap-b-3'">Edit</button>
              </div>
            </div>

            <hr class="hr-compact">

            <!-- Medical -->
            <div class="review__wrapper ongoing-only">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Medical practitioner details</h2>
                </div>
                <div class="review__header--button"></div>
              </div>
              <div class="review__content">

                <div>
                  <h3>Dr Kate Snow</h3>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Type of practitioner:</div>
                  <div class="review__content--data col-xs-7">GP</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Practice name:</div>
                  <div class="review__content--data col-xs-7">Belconnen Medical Centre</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Suburb:</div>
                  <div class="review__content--data col-xs-7">Belconnen</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Contact phone number:</div>
                  <div class="review__content--data col-xs-7">(02) 6123 4567</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-10 margin-above--mid">&#10003;&nbsp;I have seen this doctor in the last 6 months</div>
                </div>

                <div>
                  <h3>Dr Craig Jones</h3>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Type of practitioner:</div>
                  <div class="review__content--data col-xs-7">Psychiatrist</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Practice name:</div>
                  <div class="review__content--data col-xs-7">ANU Health Service Psychiatry</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Suburb:</div>
                  <div class="review__content--data col-xs-7">Acton</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Contact phone number:</div>
                  <div class="review__content--data col-xs-7">(02) 6123 4567</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-10 margin-above--mid">&#10003;&nbsp;I have seen this doctor in the last 6 months</div>
                </div>

                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/incap-b-4'">Edit</button>
              </div>
            </div>

            <hr class="hr-compact">

            <!-- Nomintated Representative -->
            <div class="review__wrapper">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Nominated representative</h2>
                </div>
                <div class="review__header--button"></div>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Representative type:</div>
                  <div class="review__content--data col-xs-7">Ex-Service organisation</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Contact name:</div>
                  <div class="review__content--data col-xs-7">Mr Ned Brownstone</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Organisation / Business name:</div>
                  <div class="review__content--data col-xs-7">Kingston RSL</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Phone number:</div>
                  <div class="review__content--data col-xs-7">(02) 6123 4567</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Email address:</div>
                  <div class="review__content--data col-xs-7">ned.brownstown@gmail.com</div>
                </div>
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/incap-b-5'">Edit</button>
              </div>
            </div>

            <hr class="hr-compact">

            <!-- Compensation damages action -->
            <div class="review__wrapper ongoing-only">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Compensation damages action</h2>
                </div>
                <div class="review__header--button"><button class="uikit-btn uikit-btn--tertiary small" onclick="window.location.href = '/auth/claim/incap-b-6'">Edit</button></div>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-9">Have you or your solicitor commenced, intend to commence, or finalised a common law (Third Party) or State Workers
                    Compensation damages
                    action?</div>
                  <div class="review__content--data col-xs-3">No</div>
                </div>
              </div>
            </div>

            <hr class="hr-compact">

            <!-- Bank details -->
            <div class="review__wrapper">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Bank details</h2>
                </div>
                <div class="review__header--button"></div>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Account name:</div>
                  <div class="review__content--data col-xs-7">Mr James Conroy</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Account number:</div>
                  <div class="review__content--data col-xs-7">7123 8876 0023</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">BSB:</div>
                  <div class="review__content--data col-xs-7">654 - 788</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">Financial Institution:</div>
                  <div class="review__content--data col-xs-7">ANZ Bank</div>
                </div>
                <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/incap-b-7'">Edit</button>
              </div>
            </div>

            <hr class="hr-compact">

            <!-- Required documents -->
            <div class="review__wrapper">
              <div class="review__header">
                <div class="review__header--label">
                  <h2>Required documents</h2>
                </div>
                <div class="review__header--button"></div>
              </div>
              <div class="review__content">
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">&#10003;&nbsp;&nbsp; Tax file number declaration</div>
                  <div class="review__content--data col-xs-7">mytaxfile_declaration.pdf</div>
                </div>
                <div class="review__content--item row">
                  <div class="review__content--label col-xs-5">&#10003;&nbsp;&nbsp; Medical evidence</div>
                  <div class="review__content--data col-xs-7">Dr-Snow-Report.doc</div>
                </div>
                <div class="review__content--item row ongoing-only employed">
                  <div class="review__content--label col-xs-5">&#10003;&nbsp;&nbsp; Proof of civilian earnings</div>
                  <div class="review__content--data col-xs-7">My-document-222-AAA.png</div>
                </div>
              </div>
              <button class="uikit-btn uikit-btn--tertiary small margin-above--mid" onclick="window.location.href = '/auth/claim/incap-c-1'">Edit</button>
            </div>
          </div>

          <div class="uikit-page-alerts uikit-page-alerts--warning margin-above--extra margin-below--extra">
            <p class="margin-below--mid">You still need to provide:</p>
            <ul class="margin-below--mid">
              <li>Proof of discharge</li>
              <li>Proof of military earnings</li>
            </ul>
            <p>You can submit this claim without providing the documents above, but&nbsp;we&nbsp;will&nbsp;need them before we can determine your&nbsp;claim.</p>
          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=INCAPuser-incomplete'">Save and exit</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Submit claim</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>


  <% include ../../../partials/footer.ejs %>

  <script>
    $(Document).ready(function () {
      $("#btnPrev").click(function () {
        window.location.href = "/auth/claim/incap-progress-d"
      });
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/incap-submitted"
      });

      if ("flow1" in localStorage) {
        $(".ongoing-only").hide();
      }

      if ("flow2" in localStorage) {
        $(".employed").hide();
      }

    });
  </script>

</body>

</html>