<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Incapacity Payments | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">

        <!-- Progress bar -->
        <div class="col-xs-12">
          <nav>
            <ul class="progress-container">
              <!-- <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-1">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Cause of incapacity</p>
                </a>
              </li> -->
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-2">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Service history</p>
                </a>
              </li>
              <li class="progress-step progress-step--done">
                <a href="/auth/claim/incap/b-3">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Civilian employment</p>
                </a>
              </li>
              <li class="progress-step progress-step--active">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Medical practitioners</p>
              </li>
              <li class="progress-step ongoing-only">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Nominated representative</p>
              </li>
              <li class="progress-step ongoing-only">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Other details</p>
              </li>
              <li class="progress-step progress-step--last">
                <span class="progress-step__icon"></span>
                <p class="progress-step-label">Bank&nbsp;details</p>
              </li>
            </ul>
          </nav>
        </div>

        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Medical practitioner</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">


          <!-- form 1 -->

          <div class="margin-above--extra">

            <h4>Please provide details of any treating medical practitioners who could assist with this claim. <span class="hint display-block">For example a GP, psychiatrist,
                orthopaedic specialist or cardiologist.<br>You can add more than one medical practitioner.</span></h4>

            <div class="hide-form-group margin-above--extra">

              <div class="boxed margin-below">

                <div class="form-group">
                  <label class="uikit-text-input__label" for="practitioner-type">Type of practitioner</label>
                  <select class="uikit-text-input input-half" id="practitioner-type" name="practitioner-type">
                    <option>-- Select a type --</option>
                    <option>General practitioner</option>
                    <option>Psychiatrist</option>
                    <option>Orthopaedic specialist</option>
                    <option>Cardiologist</option>
                    <option>Other</option>
                  </select>
                </div>

                <!-- id was gp-name -->
                <div class="form-group">
                  <label class="uikit-text-input__label" for="gp-name">Doctor's name
                  </label>
                  <input class="uikit-text-input input-half" name="gp-name" id="dr-name" type="text" value="" required="" aria-required="true">
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="gp-name">Practice name
                  </label>
                  <input class="uikit-text-input" name="gp-name" id="gp-name" type="text" value="" required="" aria-required="true">
                </div>

                <!--id was gp-name-->
                <div class="form-group">
                  <label class="uikit-text-input__label" for="gp-name">Suburb or town
                  </label>
                  <input class="uikit-text-input input-half" name="gp-name" id="gp-suburb" type="text" value="" required="" aria-required="true">
                </div>


                <!-- id was gp-name -->

                <div class="form-group margin-above margin-below">
                  <label class="uikit-text-input__label" for="state-location">State or territory</label>
                  <select class="uikit-text-input input-half" id="state-location" name="state-location">
                    <option>-- Select a state --</option>
                    <option>Australian Capital Territory</option>
                    <option>Queensland</option>
                    <option>New South Wales</option>
                    <option>Northern Territory</option>
                    <option>South Australia</option>
                    <option>Tasmania</option>
                    <option>Victoria</option>
                    <option>Western Australia</option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="gp-name">Contact phone number
                  </label>
                  <input class="uikit-text-input input-half" name="gp-name" id="gp-number" type="text" value="" required="" aria-required="true">
                </div>

                <div class="form-group">
                  <legend class="legend-label">Have you seen this practitioner in the last 6 months?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="doctor-visitedrecently-yes">
                      <input id="doctor-visitedrecently-yes" type="radio" name="doctor-visitedrecently">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="doctor-visitedrecently-no">
                      <input id="doctor-visitedrecently-no" type="radio" name="doctor-visitedrecently">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <div class="form-group done-and-next margin-above" style="display:none;">
                  <p>Choose <b>done</b> to continue.</p>
                </div>

                <div class="form-group margin-above--extra">
                  <button class="uikit-btn" id="saveDetails">&nbsp;&nbsp;&nbsp; Done &nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>

            </div>
            <div class="plain-text-info">
              <div class="plain-text-bottom-border" style="display:none;">
                <div class="review__wrapper">
                  <div class="review__content--item boxed row">
                    <div class="review__content--label col-sm-10">
                      <h3 class="margin-above--none margin-below--none">Dr Julius Hibbert</h3>
                      <p class="margin-below--mid">General Practitioner<br>Springfield Medical Center, Springfield NSW<br>(02) 6123 4567</p>
                      <p>&#10003; I have seen this practitioner in the last 6&nbsp;months</p>
                    </div>
                    <div class="col-sm-2"><button class="uikit-btn uikit-btn--tertiary" id="">&nbsp;Edit &nbsp;</button><br><button
                        class="uikit-btn uikit-btn--tertiary small margin-above--mid" id="">Remove</button></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 margin-above ss-align--center">
                      <button class="uikit-btn uikit-btn--tertiary" id="addAnother">Add another medical practitioner</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of form 1-->

          <!-- form 2-->

          <div class="margin-below--extra">

            <div class="hide-form-group2" style="display:none;">

              <div class="boxed margin-below">
                <div class="form-group">
                  <h2>Additional medical practitioner details</h2>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="practitioner-type">Type of practitioner</label>
                    <select class="uikit-text-input input-half" id="practitioner-type" name="practitioner-type">
                      <option>-- Select a type --</option>
                      <option>General practitioner</option>
                      <option>Psychiatrist</option>
                      <option>Orthopaedic specialist</option>
                      <option>Cardiologist</option>
                      <option>Other</option>
                    </select>
                  </div>


                  <!-- id was gp-name -->
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="gp-name">Doctor's name
                    </label>
                    <input class="uikit-text-input input-half" name="gp-name" id="dr-name" type="text" value="" required="" aria-required="true">
                  </div>

                  <div class="form-group">
                    <label class="uikit-text-input__label" for="gp-name">Practice name
                    </label>
                    <input class="uikit-text-input" name="gp-name" id="gp-name" type="text" value="" required="" aria-required="true">
                  </div>

                  <!--id was gp-name-->
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="gp-name">Suburb
                    </label>
                    <input class="uikit-text-input input-half" name="gp-name" id="gp-suburb" type="text" value="" required="" aria-required="true">
                  </div>

                  <!-- id was gp-name -->
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="gp-name">Contact phone number
                    </label>
                    <input class="uikit-text-input input-half" name="gp-name" id="gp-number" type="text" value="" required="" aria-required="true">
                  </div>

                </div>

                <!-- <div class="hide-legend-group2"> -->
                <div class="form-group">
                  <legend class="legend-label">Have you seen this practitioner in the last 6 months?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="doctor-visitedrecently-yes2">
                      <input id="doctor-visitedrecently-yes2" type="radio" name="doctor-visitedrecently">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="doctor-visitedrecently-no2">
                      <input id="doctor-visitedrecently-no2" type="radio" name="doctor-visitedrecently">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <div class="form-group done-and-next2 margin-above" style="display:none;">
                  <p>Choose <b>done</b> to continue.</p>
                </div>


                <div class="form-group margin-above--extra">
                  <button class="uikit-btn" id="saveDetails2">&nbsp;&nbsp;&nbsp; Done &nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;<button class="uikit-btn uikit-btn--tertiary"
                    id="cancelDetails2">&nbsp;Cancel
                    &nbsp;</button>
                </div>

              </div>
            </div>
          </div>

          <!-- end of form 2-->


          <!-- Prototype end -->

          <div id="prototype" class="form-group" style="display:none;">
            <p>This is the limit of doctors you can add using this prototype.<br>Choose <b>save and next</b> to continue.</p>
          </div>

          <!-- Save and next -->


          <div class="form-group save-and-next" style="display:none;">
            <p>Choose <b>save and next</b> to continue.</p>
          </div>


          <div>
            <p>&nbsp;<br><br></p>
          </div>
          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim?user=INCAPuser-incomplete'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>

        </div>

      </div>


    </div>


    </div>
    </div>

    <% include ../../../partials/claims-cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../partials/footer.ejs %>


  <script>
    $(Document).ready(function () {

      // check to see if user is claiming for ongoing payments but not interested in 'loss of civilian earnings'. This user should not see 'Employment' page in their progress bar and should navigate back to 'Service History' page on click of 'Previous' button.
      if ("flow2" in localStorage) {
        $(".employed").hide();
        $("#btnPrev").click(function () {
          window.location.href = "/auth/claim/incap-b-2"
        });
        $("#btnNext").click(function () {
          window.location.href = "/auth/claim/incap-b-5"
        });
      } else {
        $(".employed").show();
        $("#btnPrev").click(function () {
          window.location.href = "/auth/claim/incap-b-3"
        });
        $("#btnNext").click(function () {
          window.location.href = "/auth/claim/incap-b-5"
        });
      };

      $("#saveDetails").click(function () {
        // $("#prototype").show("fast");
        $(".hide-form-group").hide("fast");
        $(".plain-text-info .show-legend").show();
        $(".plain-text-bottom-border").show("fast");
        $(".review__header--button").show("fast");
        // $(".hide-form-group2").show("fast");
        $(".save-and-next").hide();
      });
      // $("#add-another-doctor-no").click(function () {
      //   $("#prototype").hide();
      //   $(".plain-text-info").hide("fast");
      //   $(".save-and-next").show("fast");
      // });
      $("#addAnother").click(function () {
        // $("#prototype").show("fast");
        $("#addAnother").hide();
        $(".hide-form-group2").show("fast");
      });
      $("#saveDetails2").click(function () {
        $("#prototype").show("fast");
      });
      $("#doctor-visitedrecently-yes").click(function () {
        $(".done-and-next").show("fast");
      });
      $("#doctor-visitedrecently-no").click(function () {
        $(".done-and-next").show("fast");
      });

      $("#doctor-visitedrecently-yes2").click(function () {
        $(".done-and-next2").show("fast");
      });
      $("#doctor-visitedrecently-no2").click(function () {
        $(".done-and-next2").show("fast");
      });

      $(".review__header--button").click(function () {
        $(".hide-form-group").show("fast");
        $(".review__header--button").hide("fast");
        $(".plain-text-info").hide("fast");
        $("#addanotherdoctor").hide("fast");
        $(".hide-form-group2").hide("fast");
        $(".hide-legend-group").show("fast");
      });

      $("#saveDetails").click(function () {
        $(".plain-text-info").show("fast");
      });
      // get form data and display as text

      $('#saveDetails').click(function () {
        var practitioner_type = $("#practitioner-type").val();
        var dr_name = $("#dr-name").val();
        var gp_name = $("#gp-name").val();
        var gp_suburb = $("#gp-suburb").val();
        var gp_number = $("#gp-number").val();
        // console.log(practitioner_type);
        $("#practitioner_type").text(practitioner_type);
        $("#dr_name").text(dr_name);
        $("#gp_name").text(gp_name);
        $("#gp_suburb").text(gp_suburb);
        $("#gp_number").text(gp_number);

      });

      $('#saveDetails').click(function () { // When arrow is clicked
        $('body,html').animate({
          scrollTop: 0 // Scroll to top of body
        }, 500);
        // hack to reset focus to top of page
        document.body.setAttribute('tabindex', '0');
        document.body.focus();
        document.body.removeAttribute('tabindex');
      });

    });
  </script>

</body>

</html>
