<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Manage your Claims | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-authenticated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <section>


      <div class="section-feature">
        <div id="main-content" class="container">
          <h1 class="margin-below--small margin-above--small">
            <span class="heading">Lump sum advance request</span>
          </h1>
        </div>
      </div>

      <div class="section-feature--separator">
        <div class="container">
        </div>
      </div>
      <div class="container margin-above margin-below--extra" id="claim-activity">
        <h3 class="margin-below">
          <span class="font-weight-heavy">This one-off payment is repaid by deductions from your pension over 13 fortnights.</span>
        </h3>
        <p>Please ensure that you can meet your continuing living expenses on your reduced income during the repayment period.</p>

        <hr>

        <div id="request1" class="lsa-currency-bg lsa-amount-request border-all border-top__thick--blue uikit-body">
          <div class="row requestBox" id="requestAmountBox">
            <h3 style="margin-top:0;">Amount you can request</h3>
            <div class="col-md-2 ">
              <span class="hint">Minimum</span>
              $<span class="hint" id="minTotal">456.90</span>
            </div>
            <div class="col-md-1"><span class="pipe">&#124;</span>

            </div>
            <div class="col-md-2 ">
              <span class="hint">Maximum</span>
              <legend class="legend-label"><span class="hint" id="maxTotal">1256.90</span></legend>
            </div>
            <div class="col-md-7">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div id="validation" class="field">
            <label class="uikit-text-input__label">
              How much do you want to request as a lump sum?
              <span class="input-error-message">Amount needs to be inbetween Min and Max amount</span>
            </label>
            <input class="amount uikit-text-input input-half ng-invalid ng-dirty ng-touched" type="text">
          </div>
        </div>
        <div class="container margin-above margin-below--extra" id="claim-activity">
          <section>

            <div class="form-group">
              <p style="display:none;">You will receive $<span class="hint" id="total"></span> less now</p>

          </section>
          <div class="row">
            <div class="col-md-3">
              <span class="hint">Current pension amount</span>
            </div>
            <div class="col-md-9">
              <legend class="legend-label">$<input class="current" type="hidden" value="640.45" readonly>640.45 / fortnight</legend>
            </div>
          </div>
          <div style="display:none;" class="row" id="newPensionAmount">
            <div class="col-md-3">
              <span class="hint">New pension amount</span>
            </div>
            <div class="col-md-9">
              <legend class="legend-label" id="currentTotal"></legend>
            </div>
          </div>
  </main>
  <% include ../../../partials/footer.ejs %>

  <script>
    $(".amount").each(function () {
      $(this).keyup(function () {
        Calculate();
      });
    });

    function Calculate() {
      var total = 0;
      var minTotal = $("#minTotal").html();
      var maxTotal = $("#maxTotal").html();
      var validation = ("#validation");
      $(".amount").each(function () {
        // validate
        if (!isNaN(this.value) && this.value.length != 0) {
          total += parseFloat(this.value);
          currentTotal += parseFloat(this.value);
        }
        if (total < minTotal || total > maxTotal) {
          $("#validation").addClass("has-error");
          $("#newPensionAmount").hide();
        } else {
          $("#validation").removeClass("has-error");
          $("#newPensionAmount").show();
        }
      });
      var cost = total / 13;
      $("#total").html(cost.toFixed(2));

      var newcost = $(".current").val() - cost.toFixed(1);
      $("#currentTotal").html('$' + newcost + ' / fortnight');
    }
  </script>

</body>


</html>