<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Manage your Claims | MyService</title>
  <% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="section-feature">
        <div class="container" id="main-content">

          <h1 class="margin-below--small ss-align--center margin-above--small">
            <span class="heading">Review and submit</span>
          </h1>
        </div>
      </div>

      <div class="section-feature--separator">
        <div class="container">
        </div>
      </div>


      <div class="container margin-above margin-below--extra" id="claim-activity">
        <h3 class="margin-below">Your request</h3>
        <section>
          <div class="row">
            <div class="col-sm-5">
              <span class="hint">Requested lump sum </span>
            </div>
            <div class="col-sm-3">
              <legend id="lblData2" class="legend-label"></legend>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <span class="hint">Current payment per fortnight </span>
            </div>
            <div class="col-sm-3">
              <legend class="legend-label">$640.45 </legend>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-5">
              <span class="hint">Payment based on requested lump amount sum per fortnight</span>
            </div>
            <div class="col-sm-3">
              <legend id="lblData" class="legend-label"></legend>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-5">
              <span class="hint">Payment Difference per fortnight </span>
            </div>
            <div class="col-sm-3">
              <legend id="difData" class="legend-label">$234.00</legend>
            </div>
          </div>
          <div class="row panel-margin">
            <div class="col-sm-5">
              <!-- <span class="hint">Regular payments commence after</span> -->

              <span class="hint">Full payments resume </span>
            </div>
            <div class="col-sm-3">
              <legend class="legend-label">29 December 2018</legend>
            </div>
          </div>
          <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/lump-sum-advance-request'">Edit lump sum </button>
          <div class="uikit-page-alerts margin-above" role="alert">

            <h4>Important things to know</h4>
            <ul>
              <li>This one-off payment is repaid by deductions from your payments over 13 fortnights.</li>
              <li>The requested lump sum payment will be available in your bank account within 2 business days. </li>
              <li>Please ensure that you can meet your continuing living expenses on your reduced income during the repayment period.</li>

            </ul>
          </div>

        </section>

        <div class="pagination pagination--ss-reverse-order">
          <button class="uikit-btn uikit-btn--tertiary" onclick="history.back(-1)">Previous</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Cancel</button>
          <button class="uikit-btn btnNext floated" onclick="window.location.href = '/auth/claim/lump-sum-advance-submitted'">Submit lump sum request</button>
        </div>

        <% include ../../../partials/claims-dhoas-start-modal.ejs %>

      </div>

    </section>
  </main>
  <% include ../../../partials/footer.ejs %>

  <script>
    var queryString = new Array();
    $(function () {
      if (queryString.length == 0) {
        if (window.location.search.split('?').length > 1) {
          var params = window.location.search.split('?')[1].split('&');
          for (var i = 0; i < params.length; i++) {
            var key = params[i].split('=')[0];
            var value = decodeURIComponent(params[i].split('=')[1]);
            queryString[key] = value;
          }
        }
      }
      if (queryString["name"] != null && queryString["technology"] != null) {
        var newAmount = "";
        var requestAmount = "";
        newAmount += queryString["name"];
        requestAmount += queryString["technology"];
        $("#lblData").html(newAmount);
        $("#lblData2").html('$' + requestAmount);
        if (requestAmount.indexOf('.') != -1) {
          $("#lblData2").html('$' + requestAmount);
        } else {
          $("#lblData2").html('$' + requestAmount + '.00');
        }
      }
    });

  </script>

</body>


</html>
