<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Cover summary | MyService</title>
  <% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-authenticated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <main>
      <section>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
          <div class="container margin-above--none">
            <h1 class="margin-above--none ss-align--center">
              <span class="heading">Lump sum advance summary</span>
            </h1>
          </div>
        </div>

        <div>
          <div class="container" id="main-content">

            <div class="mys-centred-item receipt-status">
              <h2 class="status-icon status-icon--large status-submitted page-header margin-above--large">
                Your request for $500 lump sum advance has been approved</h2>
            </div>



            <div class="flex-container flex-container--wrap">
              <div class="flex-item flex-item--centred receipt">

                <div class="receipt__heading ">
                  <h3 class="margin-above--none ss-align">
                    Approved on 23 Sep 2017
                  </h3>
                </div>
                <div class="receipt__content">
                  <h2>Repayment details</h2>
                  <table class="claim-summary-table table-responsive">
                    <tr>
                      <td>Requested lump sum:</td>
                      <td>$500</td>
                    </tr>
                    <tr>
                      <td>Lump sum amount repaid by deductions from your pension over: </td>
                      <td>13 fortnights</td>
                    </tr>
                    <tr>
                      <td>New pension per fortnight:</td>
                      <td>$530.00</td>
                    </tr>
                    <tr>
                      <td>Difference per fortnight:</td>
                      <td>$50.00</td>
                    </tr>
                    <tr>
                      <td>Full payments resume:</td>
                      <td>20 Dec 2018</td>
                    </tr>
                  </table>
                </div>
                <hr>
                <div class="">
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/payments'">See my payments</button>
                  <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
                </div>
              </div>

            </div>
          </div>
        </div>

      </section>
    </main>

    <% include ../../../partials/footer.ejs %>

</body>

</html>
