<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Service Pension - Partner | MyService</title>
  <link href="/docs/css/main.css" rel="stylesheet">
  <link href="/docs/css/fontawesome/css/all.css" rel="stylesheet">
  <style type="text/css">
    div.table {
      border: 0;
      display: table;
    }

    div.tr {
      border: 0;
      display: table-row;
    }

    div.td {
      border: 0;
      display: table-cell;
      padding-right: 15px;
    }

    hr {
      margin: 0;
    }

    .ledger-rule {
      margin: 15px 0 15px 0;
      background-color: #ddd;
      height: 1px;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor"></body>
<noscript>
  <p role="alert">This website needs JavaScript to work properly.</p>
</noscript>
<nav class="uikit-skip-link">
  <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
</nav>
<% include ../../partials/header-topbar.ejs %>
<% include ../../partials/header-nom-rep.ejs %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->
        <div class="col-md-12">
          <nav>
            <ul class="progress-container">
              <li class="progress-step progress-step--active">
                <a href="/auth/claim/sp-partner">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Relationship status</p>
                </a>
              </li>
              <li class="progress-step">
                <a href="/auth/claim/sp-dependant">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Dependent children</p>
                </a>
              </li>
              <li class="progress-step">
                <a href="/auth/claim/sp-residency">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Residency</p>
                </a>
              </li>
              <li class="progress-step">
                <a href="/auth/claim/sp-la">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Living arrangements</p>
                </a>
              </li>
              <li class="progress-step">
                <a href="/auth/claim/sp-claim-contact">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Claim Representative</p>
                </a>
              </li>
              <li class="progress-step progress-step--last">
                <a href="/auth/claim/sp-payment-details">
                  <span class="progress-step__icon"></span>
                  <p class="progress-step-label">Payment details</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Relationship status</span>
      </h1>
    </div> <!-- container end -->
    <div class="container" id="cleanskin">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="margin-above--extra margin-below--extra">
            <!-- Page content -->
            <!-- current relationship status questions -->
            <fieldset id="relationship-status">
              <div class="form-group">
                <label class="uikit-text-input__label" for="radio-buttons">What is your CURRENT relationship status?</label>
                <p class="uiToolKitCheckBox margin-above">
                  <label class="uikit-control-input">
                    <input id="single" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Single</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="married" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Married <span class="hint"> (Hint message here)</span></span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="defacto" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">De facto</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="separated" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Separated</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="divorced" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Divorced</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="widowed" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Widowed</span>
                  </label>
                </p>
              </div>
            </fieldset>
            <!-- A -->
            <div class="form-group" id="date-marriage">
              <fieldset>
                <label class="uikit-text-input__label">Date of marriage
                  <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </fieldset>
            </div>
            <!-- B -->
            <div class="form-group" id="date-living-together">
              <fieldset>
                <label class="uikit-text-input__label">Date commenced living together
                  <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </fieldset>
            </div>
            <div class="form-group" id="date-separation" display="none;">
              <fieldset>
                <label class="uikit-text-input__label">Date separated
                  <span class="hint">(dd / mm / yyyy)</span>
                </label>
                <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
              </fieldset>
            </div>
            <!-- G -->
            <div class="form-group" id="partner-details">
              <h2 class="margin-above margin-below"><span class="font-weight-heavy">Partner details</span></h2>
              <div class="form-group margin-above--large">
                <div class="title-field">Title</div>
                <% include ../../partials/claims-select-list-title.ejs %>
              </div>
              <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="tags">Given name (first name)</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="tags">Surname (last name)</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="">
              </div>
              <!-- <div>
                            <div class="form-group margin-above--large">
                                <label class="uikit-text-input__label legend-label margin-below--none" id="question_gender">Has your partner ever used or been known by other names?
                                    <span class="hint display-block margin-below--none">For example, name at birth, maiden name, previous married name</span>
                                </label>
                            </div>
                            <div class="radio-toggle">
                                <label class="on label-left" for="other-names-yes">
                                    <input id="other-names-yes" name="other-names" type="radio">
                                    <span>Yes</span>
                                </label>
                                <label class="off label-right" for="other-names-no">
                                    <input id="other-names-no" name="other-names" type="radio">
                                    <span>No</span>
                                </label>
                            </div>
                        </div> -->
              <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="Input field">Previous family names
                  <BR /><span class="hint">For example, name at birth, maiden name, previous married name.</span>
                </label>
                <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
              </div>
              <div class="form-group margin-above--large">
                <fieldset>
                  <div class="form-group">
                    <label class="uikit-text-input__label">Partner’s date of birth
                      <span class="hint">(dd / mm /yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </div>
                </fieldset>
              </div>
              <div class="form-group">
                <div class="uikit-text-input__label-wrapper--inline-block">
                  <legend class="uikit-text-input__label legend-label" id="question_gender">Gender</legend>
                </div>
                <div class="tooltip">
                  <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                    <div class="tooltip__label tooltip__label--icon-only">
                      <a>Gender help</a>
                    </div>
                    <div class="tooltip__tab"></div>
                  </div>
                  <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">Currently, our system only allows us to record gender as male or female. If your partner doesn't identify as either, you can inform
                      DVA after your claim is processed.</div>
                    <div class="tooltip__close" role="button" tabindex="0">Close</div>
                  </div>
                </div>
                <div class="radio-toggle">
                  <label class="on label-left" for="gender-male">
                    <input id="gender-male" name="gender" type="radio">
                    <span>Male</span>
                  </label>
                  <label class="off label-right" for="gender-female">
                    <input id="gender-female" name="gender" type="radio">
                    <span>Female</span>
                  </label>
                </div>
              </div>
              <div class="form-group margin-above--large" id="cs-centrelink">
                <label class="uikit-text-input__label" for="sop">Has your partner applied for or do they receive any of the following Centrelink payments?
                  <span class="hint display-block">Select all that apply.</span>
                </label>
                <div class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" id="age-pension" name="age-pension">
                    <span class="uikit-control-input__text">Age pension</span>
                  </label>
                </div>
                <div class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" id="disability-support-pension" name="disability-support-pension">
                    <span class="uikit-control-input__text">Disability support pension</span>
                  </label>
                </div>
                <div class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" id="carer-payment" name="carer-payment">
                    <span class="uikit-control-input__text">Carer payment</span>
                  </label>
                </div>
                <div class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" id="newstart-allowance" name="newstart-allowance">
                    <span class="uikit-control-input__text">Newstart allowance</span>
                  </label>
                </div>
                <div class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="checkbox" id="other" name="other">
                    <span class="uikit-control-input__text">Other</span>
                  </label>
                  <div class="form-group" id="other-ps">
                    <label class="uikit-text-input__label margin-above--mid" for="Input field">Please specify</label>
                    <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                  </div>
                </div>
              </div>
              <div class="form-group margin-above--large">
                <fieldset>
                  <legend class="legend-label">Has your partner applied for or do they currently hold a Commonwealth Seniors Health Card (CSHC) from DVA or Centrelink?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="cs-cshc-yes">
                      <input id="cs-cshc-yes" type="radio" name="cs-cshc" value="yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="cs-cshc-no">
                      <input id="cs-cshc-no" type="radio" name="cs-cshc" value="no">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
              </div>
              <div style="display: none;" class="form-group margin-above--large" id="cs-crn">
                <label class="uikit-text-input__label" for="tags">What is your partner's Customer Reference Number (CRN)?</label>
                <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
              </div>
            </div>
          </div>
          <div id="save-and-next" class="margin-above" style="display: none">
            <p>Choose <b>save and next</b> to continue.</p>
          </div>
        </div>
      </div>
    </div><!-- bottom page navigation end -->
    <% include ../../partials/claims-cancel-modal.ejs %>
      </div> <!-- container end -->
      <div class="container" id="partnered-pre-pop" style="display: none;">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="margin-above--extra margin-below--extra">
              <div id="partnered-pre-pop--current-partner" class="form-group margin-above--large">
                <legend class="legend-label">Is this your current partner?</legend>
                <div class="table">
                  <div class="tr">
                    <div class="td"><b>Partner name</b></div>
                    <div class="td">Jan Citizen</div>
                  </div>
                  <div class="tr">
                    <div class="td"><b>Date of birth</b></div>
                    <div class="td">12/04/1985</div>
                  </div>
                </div>
                <div class="radio-toggle margin-above">
                  <label class="on label-left" for="partnered-pre-pop--current-partner--yes">
                    <input id="partnered-pre-pop--current-partner--yes" type="radio" name="partnered-pre-pop--current-partner--question">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="partnered-pre-pop--current-partner--no">
                    <input id="partnered-pre-pop--current-partner--no" type="radio" name="partnered-pre-pop--current-partner--question">
                    <span>No</span>
                  </label>
                </div>
              </div>
              <div id="partnered-pre-pop--options" class="margin-above--extra" style="display: none">
                <div class="ledger-rule"></div>
                <div class="">
                  <h3>Please review the following details and update if necessary</h3>
                </div>
                <div id="partnered-pre-pop--relationship-status" class="form-group margin-above--large" style="display: block;">
                  <label class="uikit-text-input__label" for="drop-down">Relationship status</label>
                  <select id="ppp-relationship" class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option>-- Select one --</option>
                    <option selected="selected">Married</option>
                    <option>De facto</option>
                  </select>
                </div>
                <div class="form-group margin-above--large" id="ppp-married-date" style="display: none;">
                  <fieldset>
                    <label class="uikit-text-input__label">Date of marriage
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </fieldset>
                </div>
                <div class="form-group margin-above--large" id="sp-start-pbs">
                  <legend class="legend-label ">Is your partner currently receiving, or applying for, any Centrelink payments?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left" for="ppp--centrelink-yes">
                      <input id="ppp--centrelink-yes" type="radio" name="ppp--centrelink">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="ppp--centrelink-no">
                      <input id="ppp--centrelink-no" type="radio" name="ppp--centrelink">
                      <span>No</span>
                    </label>
                  </div>
                  <div class="form-group margin-above--large" id="ppp--crn" style="display:none;">
                    <label class="uikit-text-input__label" for="tags">What is your partner's Customer Reference Number (CRN)?</label>
                    <input class="uikit-text-input" name="tags" id="tags" type="text" value="" style="max-width: 22em;">
                  </div>
                </div>
              </div>
              <div id="partnered-no-longer" class="margin-above--extra" style="display: none">
                <div class="ledger-rule"></div>
                <div class="form-group" id="date-marriage">
                  <fieldset>
                    <label class="uikit-text-input__label">When did this relationship end?
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="enlistStartDay" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="enlistStartMonth" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="enlistStartYear" maxlength="4" required aria-required="true" aria-label="4 digit year">
                  </fieldset>
                </div>
              </div>
            </div>
            <div id="ppp--save-and-next" class="margin-above" style="display: none">
              <p>Choose <b>save and next</b> to continue.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="single-pre-pop" style="display: none;">
        <div class="row">
          <form id="myForm">
            <div class="col-md-offset-2 col-md-8">
              <div class="margin-above--extra margin-below--extra">
                <div id="single-pre-pop--current-status" class="form-group margin-above--large">
                  <legend class="legend-label">Is this your CURRENT relationship status?</legend>
                  <div class="table">
                    <div class="tr">
                      <div class="td"><b>Relationship status</b></div>
                      <div class="td">Divorced</div>
                    </div>
                  </div>
                  <div class="radio-toggle margin-above">
                    <label class="on label-left" for="single-pre-pop--current-status--yes">
                      <input id="single-pre-pop--current-status--yes" type="radio" value="yes" name="single-pre-pop--current-status--question">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="single-pre-pop--current-status--no">
                      <input id="single-pre-pop--current-status--no" type="radio" value="no" name="single-pre-pop--current-status--question">
                      <span>No</span>
                    </label>
                  </div>
                </div>
              </div>
              <div id="spp--save-and-next" class="margin-above" style="display: none">
                <p>Choose <b>save and next</b> to continue.</p>
              </div>
            </div>
          </form>
        </div>
        <% include ../../partials/claims-cancel-modal.ejs %>
      </div> <!-- container end -->
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/sp-progress-b'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth/claim'">Save and exit</button>
              <!-- <button class="uikit-btn btnNext" onclick="window.location.href='/sp-dependant'">Save and next</button> -->
              <button class="uikit-btn btnNext" onclick="checkSaveAndNext()">Save and next</button>
            </div>
          </div>
        </div>
      </div>
  </main>
  <% include ../../partials/footer.ejs %>
    <script>
      $(Document).ready(function () {

        hideAll();

        window.checkSaveAndNext = function () {

          myNav = "/sp-dependant";
          radioTest = $("#myForm input[type='radio']:checked").val();

          if ($("#myForm input[type='radio']:checked").val() == "no") {
            myNav = "cleanskin";
          }
          if ($("#partnered-no-longer").is(":visible")) {
            myNav = "cleanskin";
          }

          if (myNav == "cleanskin") {
            showScenario("cleanskin")
          } else {
            window.location.href = '/auth/claim/sp-dependant'
          }

        }

        /* scenarios */

        $(document).keypress(function (e) {
          switch (e.which) {
            case 51: //partnered pre-pop
              showScenario("partnered-pre-pop");
              break;
            case 52: // siungle pre-pop
              showScenario("single-pre-pop");
              break;
            case 53: // siungle pre-pop
              showScenario("cleanskin");
              break;
            default:
          }
        });

        function showScenario(scenario) {
          $("#cleanskin").hide();
          $("#single-pre-pop").hide();
          $("#partnered-pre-pop").hide();
          if (scenario == "partnered-pre-pop") {
            $("#partnered-pre-pop").show();
            $("#partnered-pre-pop--options").hide();
            $("#ppp--crn").hide();
          } else if (scenario == "single-pre-pop") {
            $("#single-pre-pop").show();
            // console.log("single-pre-pop")
          } else {
            $("#cleanskin").show();
            // console.log("cleanskin")
          }
        }

        /* partnered pre pop */

        $("#partnered-pre-pop--current-partner--yes").click(function () {
          $("#partnered-pre-pop--options").show("fast");
          $("#partnered-no-longer").hide("fast");
        });
        $("#partnered-pre-pop--current-partner--no").click(function () {
          $("#partnered-pre-pop--options").hide("fast");
          $("#partnered-no-longer").show("fast");
        });

        $("#ppp--centrelink-yes").click(function () {
          $("#ppp--crn").show("fast");
        });
        $("#ppp--centrelink-no").click(function () {
          $("#ppp--crn").hide("fast");
        });

        $("#ppp-relationship").change(function () {
          if ($('#ppp-relationship :selected').val() == "Married") {
            $("#ppp-married-date").show();
          } else {
            $("#ppp-married-date").hide();
          }
        });


        /* single pre pop */

        $("#single-pre-pop--current-status--yes").click(function () {
          $("#spp--save-and-next").show("fast");
          console.log("gfgfdgfd")
        });
        $("#single-pre-pop--current-status--no").click(function () {
          $("#spp--save-and-next").show("fast");
        });

        /* cleanskin */

        $("#single").click(function () {
          hideAll();
          sessionStorage.setItem('partnerStatus', 'none');
          $("#save-and-next").show("fast");
        });

        $("#divorced").click(function () {
          hideAll();
          sessionStorage.setItem('partnerStatus', 'none');
          $("#save-and-next").show("fast");
        });

        $("#widowed").click(function () {
          hideAll();
          sessionStorage.setItem('partnerStatus', 'none');
          $("#save-and-next").show("fast");
        });

        $("#separated").click(function () {
          hideAll();
          sessionStorage.setItem('partnerStatus', 'none');
          $("#date-separation").show("fast");
        });

        $("#married").click(function () {
          hideAll();
          sessionStorage.setItem('partnerStatus', 'partnered');
          $("#date-marriage").show("fast");
          $("#partner-details").show("fast");
        });

        $("#defacto").click(function () {
          hideAll();
          sessionStorage.setItem('partnerStatus', 'partnered');
          $("#date-living-together").show("fast");
          $("#partner-details").show("fast");
        });

        /* partnered */

        var centrelink_selected;
        $("#cs-centrelink").change(function () {
          centrelink_selected = [];
          $('#cs-centrelink input:checked').each(function () {
            centrelink_selected.push($(this).attr('name'));
          });
          if (centrelink_selected.length > 0) {
            $("#cs-crn").show();
          } else {
            if (cs_cshc != "yes") {
              $("#cs-crn").hide();
            }
          }
        });

        var cs_cshc;
        $('input[name=cs-cshc]').change(function () {
          cs_cshc = $('input[name=cs-cshc]:checked').val();
          if (cs_cshc == "yes") {
            $("#cs-crn").show();
          } else {
            if (centrelink_selected.length == 0) {
              $("#cs-crn").hide();
            }
          }
        });

        function hidePartner() {
          sessionStorage.setItem('partnerApply', 'false')
          $("#sp-res-veteranTitle").hide();
          $("#sp-res-partnerDetails").hide();
          $("#intro-copy-no-partner").show();
        }

        function hideAll() {
          $("#date-marriage").hide();
          $("#date-living-together").hide();
          $("#other-ps").hide();
          // $("#date-not-together").hide();
          // $("#deceased-partner").hide();
          $("#date-separation").hide();
          $("#partner-details").hide();
          // $("#partner-details-other").hide();
          // $("#partners-home-address").hide();
          // $("#partner-payment-type").hide();
          // $("#partner-cshc-details").hide();
          // $("#divorced-date").hide();
          // $("#sp-partner-formerName").hide();
          // $("#partner-details").hide();
          // $("#partners-postal-address").hide();
          // $("#sp-partner-applying").hide();
          // $("#partner-cshc-details").hide();
          // $("#partner-centrelink-details").hide();
          // $("#partner-payment-type").hide();
          $("#crn").hide();
          $("#save-and-next").hide();
        }
      });

      //other
      $('#other').click(function () {
        if ($(this).is(':checked')) {
          $("#other-ps").show("fast");
        } else {
          $("#other-ps").hide();
        }
      }); 
    </script>
    </body>

</html>