<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Review and submit | MyService</title>
<% include ../../../partials/head.ejs %>
  <style>
    .hide-fields>div {
      display: none;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>

  <main>
    <div class="container" id="main-content">
      <!-- <div id="progressbar">
              <div id="percentage"></div>
            </div> -->
      <h1>Review and submit</h1>
      <table class="cover-detail">
        <caption>Student details
          <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/claim1'">Change</button>
        </caption>

        <thead>
          <tr>
            <th>Are you married, in a registered or de facto relationship?</th>
            <td>No</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>What is the veteran's relationship to you?</th>
            <td>Parent</td>
          </tr>
          <tr>
            <th>DVA number</th>
            <td>122345678</td>
          </tr>
          <tr>
            <th>PMKeyS</th>
            <td>122345678</td>
          </tr>
          <tr>
            <th>First name</th>
            <td>Stuart</td>
          </tr>
          <tr>
            <th>Last name</th>
            <td>Smith</td>
          </tr>
          <tr>
            <th>Date of birth</th>
            <td>29/08/1965</td>
          </tr>
        </tbody>
      </table>

      <table class="cover-detail">
        <caption>Study details
          <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/claim3'">Change</button>
        </caption>
        <tr>
          <th>What type of education will you undertake this year?</th>
          <td>Secondary</td>
        </tr>
        <tr>
          <th>Where will you be studying?</th>
          <td>Gosford High School</td>
        </tr>
        <tr>
          <th>Expected date of completion</th>
          <td>15/12/2019</td>
        </tr>
      </table>

      <table class="cover-detail">
        <caption>Living arrangements
          <button class="uikit-btn uikit-btn--tertiary floated small floated--always" onclick="window.location.href = '/auth/claim/claim4'">Change</button>
        </caption>
        <thead>
          <tr>
            <th>Where will you be living this year?</th>
            <td>At home</td>
          </tr>
        </thead>

      </table>

      <table class="cover-detail">
        <caption>Financial details
          <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/claim5-5'">Change</button>
        </caption>
        <tr>
          <th>Are you currently receiving any payment from Centrelink?</th>
          <td>No</td>
        </tr>
        <tr>
          <th>Tax file number</th>
          <td>123456789</td>
        </tr>
        <tr>
          <th>Would you like to have your education allowance taxed?</th>
          <td>No</td>
        </tr>

        <tr>
          <th>Account name</th>
          <td>Kate Smith</td>
        </tr>
        <tr>
          <th>BSB</th>
          <td>123-456</td>
        </tr>
        <tr>
          <th>Account number</th>
          <td>1234567809</td>
        </tr>
        <tr id="documentsUploaded-TFD">
          <th>Tax File Number declaration form</th>
          <td>C:\\documents\\TFN_declaration_form_N3092.pdf</td>
        </tr>
      </table>

      <p>By clicking
        <strong>submit claim</strong> you confirm this information is correct.</p>
      <div class="pagination pagination--ss-reverse-order">

        <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/studentclaim6'">Submit claim</button>
        </div>
      </div>
      <% include ../../../partials/claims-cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../partials/footer.ejs %>
  <script src="/docs/js/students.js"></script>


  <script>
    // Progress percentage
    // document.getElementById("percentage").style.width = "87.5%";
    $(document).ready(function () {
      $("#btnAddNominee").click(function () {
        $(".nominee-details-container").show("fast");
        $("#btnAddNominee").hide();
        $("#btnCancelNominee").show("fast");
        $("#nominee-name").focus();
      });
      $("#btnCancelNominee").click(function () {
        $(".nominee-details-container").hide("fast");
        $("#btnCancelNominee").hide();
        $("#btnAddNominee").show();
      });
      $(".nominee-save").click(function () {
        $(".nominee-details").hide();
        $(".toast-saved").show("fast");
        $(".nominee-intro").hide("fast");
      });
      $(".message-close").click(function () {
        $(".nominee-details-container").hide("fast");
      });
      // Modify Document Uploads that is normally pushed to the right to sit at bottom on content as view-only
      $('.pt-showIfDocumentUploadShoppingCart.col-sm-5').removeClass('col-sm-5').addClass('col-sm-12');
      $('.pt-showIfDocumentUploadShoppingCart.col-sm-12').removeClass('display-none');
      $('.pt-showIfDocumentUploadShoppingCart.col-sm-12').removeAttr("style")
      $('.pt-showIfDocumentUploadShoppingCart.col-sm-12').show();

      $('h2.heading-highlight:contains("Document uploads")').text('Documents uploaded');

      let age = localStorage.getItem('studentAge');
      let tfn = localStorage.getItem('tfn');
      console.debug('in studentclaim5 - age: ', age);
      if (tfn && age && age >= 18) {
        $("#documentsUploaded-TFD").show();
      } else {
        $("#documentsUploaded-TFD").hide();
      }
    });
  </script>

</body>

</html>