<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <%- include(partials+"components/layout/head") %>
  <style>
    .hide-fields>div {
      display: none;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>

  <main>
    <div class="container container--8-column" id="main-content">

      <h1 id="question_pageheaderLiving">
      </h1>
      <div class="row">

        <fieldset class="hide-fields grids col-sm-7">

          <h3>
            <span id="question_id22"></span>
          </h3>
          <div class="addressAustralia pt-flow--veteran pt-flow--student pt-flow--claimant">
            <% include ../../../partials/address-residential.ejs %>
          </div>

          <h3 class="margin-above">
            <span id="question_id22a"></span>
          </h3>
          <p>
            <label class="uikit-control-input">
              <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked>
              <span class="uikit-control-input__text">Same as residential address</span>
            </label>
          </p>

          <div class="pt-showIfAdditionalAddress">
            <% include ../../../partials/address-postal.ejs %>
          </div>

          <!-- 24 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfLivingAway">
            <fieldset>
              <legend class="legend-label" id="question_id24">
              </legend>

              <div class="row">
                <div class="col-sm-4">
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="studentLivingArrangement" value="boarding">
                      <span class="uikit-control-input__text">Boarding / lodging</span>
                    </label>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="studentLivingArrangement" value="renting">
                      <span class="uikit-control-input__text">Renting</span>
                    </label>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="studentLivingArrangement" value="other">
                      <span class="uikit-control-input__text">Other</span>
                    </label>
                  </p>
                </div>
              </div>
            </fieldset>
          </div>


          <!-- 24 a 1 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRenting">
            <fieldset>
              <legend class="legend-label" id="question_id24a1"></legend>

              <input class="uikit-text-input dd" type="number" name="beganLivingNewRentalAddress-dd" id="beganLivingNewRentalAddress-dd" maxlength="2" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="number" name="beganLivingNewRentalAddress-mm" id="beganLivingNewRentalAddress-mm" maxlength="2" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="number" name="beganLivingNewRentalAddress-yyyy" id="beganLivingNewRentalAddress-yyyy" maxlength="4"
                aria-label="4 digit year">
            </fieldset>
          </div>

          <!-- 24 a 8 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfRenting">
            <fieldset>
              <legend class="legend-label" for="" id="question_id24a8"></legend>
              <div class="radio-toggle">
                <label class="on label-left">
                  <input id="yes" type="radio" name="sharingResidence" value="yes">
                  <span>Yes</span>
                </label>
                <label class="off label-right">
                  <input id="no" type="radio" name="sharingResidence" value="no">
                  <span>No</span>
                </label>
              </div>
            </fieldset>
          </div>

          <!-- 24 a 7 -->
          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-rentPayed">
            <label class="uikit-text-input__label" for="rentPayed" id="question_id24a7"></label>
            <span class="input-support-text">$</span>
            <input class="uikit-text-input input-small" id="rentPayed" name="rentPayed" type="number" value="">
          </div>


          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfBoarding">
            <fieldset>
              <legend class="legend-label" id="question_id24a9"></legend>

              <input class="uikit-text-input dd" type="number" name="beganLivingNewBoardAddress-dd" id="beganLivingNewRentalAddress-dd" maxlength="2" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="number" name="beganLivingNewBoardAddress-mm" id="beganLivingNewRentalAddress-mm" maxlength="2" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="number" name="beganLivingNewBoardAddress-yyyy" id="beganLivingNewRentalAddress-yyyy" maxlength="4"
                aria-label="4 digit year">
            </fieldset>
          </div>


          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-boardPaid">
            <label class="uikit-text-input__label" for="boardPaid" id="question_id24a9a"></label>
            <span class="input-support-text">$</span>
            <input class="uikit-text-input input-small" id="boardPaid" name="boardPaid" type="number" value="">
          </div>

          <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfOther">
            <label class="uikit-text-input__label" for="boardPaid" id="question_id24a9b"></label>
            <textarea id="otherSituation" name="otherSituation" rows="5"></textarea>
          </div>
        </fieldset>
      </div>

      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary " onclick="javascript:history.back()">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='#open-modal' ">Cancel claim</button>
        <div class="floated ">
          <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/auth' ">Save and exit</button>
          <button class="uikit-btn btnNext " onclick="window.location.href= '/auth/claim/studentclaim3' ">Save and next</button>
        </div>
      </div>
      <% include ../../../partials/claims-cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../partials/footer.ejs %>
  <script src="/docs/js/students.js"></script>




</body>

</html>
