<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Review and submit | MyService</title>
<% include ../../../partials/head.ejs %>
  <style>
    .hide-fields>div {
      display: none;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>

  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="claim-end">

            <div class="margin-above--large submitted-animation">
              <img src="../../../docs/images/ico-submitted-large.svg" alt="Success tick icon">
            </div>

            <h1 class="cantered-item margin-above--mid" id="question_pageheaderFinal">
            </h1>

            <h3 class="cantered-item">Claim ID is 12345678</h3>

            <hr class="orange-divider">

            <div class="uikit-page-alerts uikit-page-alerts--error">
              <p>Due to a system error your documents did not submit. Please
                <a href="/auth/claim/updateClaimInProgress">upload and submit these documents again</a>. We apologise for the inconvenience.</p>
            </div>

            <div class="margin-below--extra">
              <div id="question_message19">
                <!-- <h3>Your application is being assessed. </h3>
                        
                                      <p>You will receive an outcome by
                                        <span class="pt-bussnessDaysOutcome"></span>.
                                      </p>
                                      <p> If you do not hear from us within 14 days you can call 133 254.
                                      </p>
                                      <p> You will be notified of your application outcome by mail and a MyGov notification.</p> -->
              </div>
            </div>


            <div class="uikit-page-alerts uikit-page-alerts--alert pt-showIfNoStudentTFN">
              <h3 id="question_id50"></h3>
              <ul>
                <li>
                  <span id="question_id50a">
                  </span>
                </li>
              </ul>
            </div>

            <div class="pagination">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/studentpreeligibility'">Start another claim</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">See your claims</button>
              <button class="uikit-btn floated" onclick="window.location.href = '/auth/claim/updateClaimInProgress'">Upload documents again</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <% include ../../../partials/footer.ejs %>
  <script src="/docs/js/students.js"></script>


  <script>
    // Progress percentage
    // document.getElementById("percentage").style.width = "100%";
  </script>

</body>

</html>