<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
  <link href="/docs/css/main.css" rel="stylesheet">


  <style>
    .hide-fields>div {
      display: none;
    }

  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>

  <main>
    <div class="container container--8-column" id="main-content">
      <!-- <div id="progressbar">
              <div id="percentage"></div>
            </div> -->
      <h1 id="question_pageheaderStart"></h1>

      <div class="row">
        <form action="" id="pt-form">
          <fieldset class="hide-fields grids col-sm-12">
            <!-- 1 -->
            <!-- student / clamant flow -->

            <div class="form-group pt-flow--student pt-flow--claimant">
              <legend class="legend-label">Select an option to get started</legend>
              <div class="radio-tile--group">
                <label class="radio-tile">
                  <input id="confirmStudentOrClaimant-student" class="sr" type="radio" name="confirmStudentOrClaimant" value="student">
                  <span>
                    <img src="../../../../docs/images/ico-user-nonserving.svg" alt="non-serving icon"> I'm a student
                  </span>
                </label>

                <label class="radio-tile">
                  <input id="confirmStudentOrClaimant-guardian" class="sr" type="radio" name="confirmStudentOrClaimant" value="guardian">
                  <span>
                    <img src="../../../../docs/images/ico-user-nonserving.svg" alt="non-serving icon"> I'm a parent / guardian of a student
                  </span>
                </label>
              </div>
            </div>

            <!-- veteran flow -->
            <div class="form-group pt-flow--claimant pt-student-dob">
              <h2 id="question_pageheader0"></h2>
            </div>

            <div class="form-group pt-flow--veteran pt-flow--claimant pt-student-dob">
              <label class="uikit-text-input__label" for="date" id="question_id4"></label>
              <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" aria-label="4 digit year">
            </div>

            <div class="form-group uikit-page-alerts uikit-page-alerts--error pt-flow--veteran pt-flow--claimant pt-showIfStudentCantClaim" id="question_message1">
            </div>

            <div class="form-group uikit-page-alerts uikit-page-alerts--error pt-flow--veteran pt-flow--claimant pt-showIfStudentShouldClaimThemselves" id="question_message2">
            </div>

            <div class="form-group uikit-page-alerts uikit-page-alerts--error pt-flow--veteran pt-flow--claimant pt-showIfStudentUnder0" id="question_message3">
            </div>

            <div class="form-group uikit-page-alerts uikit-page-alerts--warning pt-flow--student pt-studentOver25" id="question_messageeligibilityOver25">
            </div>

            <div class="form-group uikit-page-alerts uikit-page-alerts--error pt-flow--student pt-studentTooyoung" id="question_messageeligibilityUnder16">
            </div>

            <!-- Veteran flow, veteran relationship to student -->
            <div class="form-group pt-flow--student pt-flow--claimant pt-VeteranRelationshipToStudent margin-above margin-below">
              <label class="uikit-text-input__label display-inline" for="veteranrelationshipToStudent" id="question_id5StudentToMeTheVet"></label>
              <select class="uikit-text-input input-auto display-inline" name="veteranrelationshipToStudent" id="veteranrelationshipToStudent" type="text" value="">
                <option selected>-- Select relationship --</option>
                <option value="child">child</option>
                <option value="step-child">step-child</option>
                <option value="foster-child">foster child</option>
                <option value="adoptive-child">adopted child</option>
                <option value="grandchild">grandchild</option>
                <option value="other">other</option>
              </select>
            </div>

            <!-- 6 -->
            <div class="form-group pt-flow--veteran pt-flow--claimant pt-flow--student pt-claimantShowIfStudentOver16 pt-studentFullTime">
              <fieldset>
                <legend class="legend-label" id="question_id6"></legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="engagedInFullTimeEmployment-yes" type="radio" name="engagedInFullTimeEmployment" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input id="engagedInFullTimeEmployment-no" type="radio" name="engagedInFullTimeEmployment" value="no">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>

            <div class="form-group uikit-page-alerts uikit-page-alerts--error pt-flow--claimant pt-showIfStudentFullTimeAndMRCA" id="question_message4">

            </div>

            <div class="form-group pt-flow--claimant pt-showIfEngagedInFullTimeEmployment">
              <h2 class="form-group pt-flow--claimant margin-above" id="question_pageheader0a"></h2>
            </div>

            <!-- Veteran and Claimant flows, veteran relationship to student -->
            <div class="form-group pt-flow--student pt-flow--claimant pt-StudentRelationshipToVeteran margin-above--extra margin-below">
              <label class="uikit-text-input__label display-inline" for="relationshipToStudent" id="question_id5"></label>
              <select class="uikit-text-input input-auto display-inline" name="relationshipToStudent" id="relationshipToStudent" type="text" value="">
                <option selected>-- Select relationship --</option>
                <option value="parent">parent</option>
                <option value="step-parent">step-parent</option>
                <option value="foster-parent">foster parent</option>
                <option value="adoptive-parent">adoptive parent</option>
                <option value="grandparent">grandparent</option>
                <option value="guardian">guardian</option>
                <option value="other">other</option>
              </select>
            </div>

            <div class="form-group pt-flow--student pt-flow--claimant pt-showIfRelationshipValid">
              <fieldset>
                <legend class="legend-label" id="question_id33a">
                </legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="studentDependantOnVeteran-yes" type="radio" name="studentDependantOnVeteran" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input id="studentDependantOnVeteran-no" type="radio" name="studentDependantOnVeteran" value="no">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>



            <div class="form-group pt-flow--student pt-flow--claimant pt-showIfStudentDependantOnVeteran">
              <fieldset>
                <legend class="legend-label" id="question_id33b">
                </legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="veteranSignificantlyInjured-yes" type="radio" name="veteranSignificantlyInjured" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-middle">
                    <input id="veteranSignificantlyInjured-no" type="radio" name="veteranSignificantlyInjured" value="no">
                    <span>No</span>
                  </label>
                  <label class="off label-right">
                    <input id="veteranSignificantlyInjured-unsure" type="radio" name="veteranSignificantlyInjured" value="yes">
                    <span>Unsure</span>
                  </label>
                </div>
              </fieldset>
            </div>


            <div class="form-group uikit-page-alerts uikit-page-alerts--error pt-flow--claimant pt-showIfStudentNotDependant" id="question_message5">
            </div>

            <div class="form-group pt-flow--claimant pt-aboutYou">
              <h2 id="question_pageheader0b"></h2>
            </div>


            <!-- Claimant flow, student relationship to claimant -->
            <div class="form-group pt-flow--student pt-flow--claimant pt-StudentRelationshipToClaimant margin-above margin-below">
              <label class="uikit-text-input__label display-inline" for="yourrelationshipToStudent" id="question_id5StudentToMeTheClaimant"></label>
              <select class="uikit-text-input input-auto display-inline" name="yourrelationshipToStudent" id="yourrelationshipToStudent" type="text" value="">
                <option selected>-- Select relationship --</option>
                <option value="child">child</option>
                <option value="step-child">step-child</option>
                <option value="foster-child">foster child</option>
                <option value="adopted child">adopted child</option>
                <option value="grandchild">grandchild</option>
                <option value="other">other</option>
              </select>
            </div>


            <!-- FTB question -->
            <div class="form-group pt-flow--veteran pt-flow--claimant pt-showIfStudentUnder18">
              <fieldset>
                <legend class="legend-label" id="question_id26"></legend>
                <div class="radio-toggle">
                  <label class="on label-left ">
                    <input type="radio" name="fTBYou" value="yes" aria-label="Yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right ">
                    <input type="radio" name="fTBYou" value="no" aria-label="No ">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>

            <div class="form-group uikit-page-alerts uikit-page-alerts--warning pt-flow--veteran pt-flow--claimant pt-showFTBIsBest" id="question_message6">

            </div>

            <!-- Someone else FTB question -->
            <div class="form-group pt-flow--veteran pt-flow--claimant pt-showIfSomeoneElseFTB">
              <fieldset>
                <legend class="legend-label" id="question_id26b"> </legend>
                <div class="radio-toggle">
                  <label class="on label-left ">
                    <input type="radio" name="fTBSomeoneElse" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right ">
                    <input type="radio" name="fTBSomeoneElse" value="no">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>

            <div class="form-group pt-flow--veteran pt-flow--student pt-flow--claimant pt-showIfCentrelinkCustomer">
              <label class="uikit-text-input__label" for="centrelinkCRN" id="question_id26a"></label>
              <input class="uikit-text-input input-half" name="centrelinkCRN" id="centrelinkCRN" type="text" value="">
            </div>

            <div class="uikit-page-alerts uikit-page-alerts--error form-group pt-flow--veteran pt-flow--claimant pt-showIfNoFTB" id="question_message7"></div>


            <!-- 6 -->
            <div class="form-group pt-flow--veteran pt-showIfMRCA pt-vetStudentEngagedInFullTimeEmployment">
              <fieldset>
                <legend class="legend-label" id="question_id6a">
                </legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="engagedInFullTimeEmployment-yes" type="radio" name="engagedInFullTimeEmployment" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input id="engagedInFullTimeEmployment-no" type="radio" name="engagedInFullTimeEmployment" value="no">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>

            <div class="form-group uikit-page-alerts uikit-page-alerts--error pt-flow--veteran  pt-vetShowIfStudentFullTimeAndMRCA" id="question_message8">

            </div>

            <div class="form-group pt-final-toggle" id="question_message14"></div>
        </form>
      </div>


      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary" onclick="javascript:history.back()">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='#open-modal'">Cancel claim</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/auth'">Save and exit</button>
          <button class="uikit-btn btnNext" onclick="window.location.href= '/auth/claim/studentclaim1'">Save and next</button>
        </div>
      </div>

      <% include ../../../partials/claims-cancel-modal.ejs %>

    </div>

  </main>

  <% include ../../../partials/footer.ejs %>
  <script src="/docs/js/students.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
    // Progress percentage
    // document.getElementById("percentage").style.width = "20%";
  </script>


</body>

</html>
