<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Student Claim</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-claims.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>

  <main>
    <div class="container" id="main-content">

      <h1>
        <span class="heading">Education allowance for Kim</span>
      </h1>
      <h2>We still need some documents from you to process your claim</h2>
      <p>Please upload and submit the documents below.</p>
      <p>Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.</p>

      <!-- Actions -->
      <fieldset>
        <table class="table-responsive table-responsive--no-border">
          <tr class="pt-proofOfRelationshipClaimantStudent accordion accordion--open ">
            <td class="file-status file-status--required">
              <span class="sr">Required</span>
            </td>
            <td>
              <span>
                <b>Proof of your relationship to Milton</b>
              </span>
              <span class=" accordion-title__details">For example, birth certificate or adoption order.</span>
            </td>
            <td class="right">
              <div class="file-upload">
                <input type="file" class="file-upload__input" id="file-1">
                <label class="file-upload__label" for="file-1">
                  <span class="file-upload__document">
                    <a class="file-upload__file-name file-upload__file-name--uploaded"></a>
                  </span>
                  <span class="file-upload__button">
                    <span class="uikit-btn small">Upload</span>
                  </span>
                </label>
              </div>
            </td>
            <td>
              <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                <span class="sr">Toggle accordion</span>
              </a>
            </td>
          </tr>
          <tr class="pt-proofOfEnrolment accordion accordion--open">
            <td class="file-status file-status--required">
              <span class="sr">
                Required
              </span>
            </td>
            <td>
              <span>
                <b> Proof of
                  <span class="studentNameFirstApostrophed"></span> enrolment</b>
              </span>
              <span class=" accordion-title__details">For example, school report or institution letter.</span>
            </td>
            <td class="right">
              <div class="file-upload">
                <input type="file" class="file-upload__input" id="file-4">
                <label class="file-upload__label" for="file-4">
                  <span class="file-upload__document">
                    <a class="file-upload__file-name file-upload__file-name--uploaded">
                      <!-- document name will go in here -->
                    </a>
                  </span>
                  <span class="file-upload__button">
                    <span class="uikit-btn small">Upload</span>
                  </span>
                </label>
              </div>
            </td>
            <td>
              <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                <span class="sr">Toggle accordion</span>
              </a>
            </td>
          </tr>
        </table>
      </fieldset>
      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#warning'">Back to home</button>
        <div class="floated">
          <button id="submit" disabled class="uikit-btn btnNext">Submit documents</button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="warning" class="modal-window">
      <div>
        <a href="#modal-close" title="Close" class="modal-close">Close</a>
        <h2>Your documents are still not submitted</h2>
        <p>Do you want to stay on this page and submit your uploaded documents?</p>
        <div class="modal-buttons">
          <button class="uikit-btn" onclick="window.location.href = '#modal-close'">Stay on this page</button>
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Leave page</button>
        </div>
      </div>
    </div>
  </main>

  <% include ../../../partials/footer.ejs %>

  <script>
    var STORAGE_PROPERTY = 'updateClaimInProgress'
    var STATUS_REQUIRED = 'required'
    var STATUS_UPLOADED = 'uploaded'
    var STATUS_SUBMITTED = 'submitted'
    var STATUS_COMPLETE = 'complete'
    var DEFAULT_SETTINGS = {
      actions: [{
        className: 'pt-proofOfRelationshipClaimantStudent',
        fileName: '',
        status: 'required',
      }, {
        className: 'pt-proofOfEnrolment',
        fileName: '',
        status: 'required',
      }]
    }

    var storage = localStorage.getItem(STORAGE_PROPERTY)
    if (storage) {
      settings = JSON.parse(storage)
      if (settings.actions.every(pAction => pAction.status === STATUS_SUBMITTED || pAction.status ===
          STATUS_COMPLETE)) {
        localStorage.setItem(STORAGE_PROPERTY, JSON.stringify(DEFAULT_SETTINGS))
      } else {
        settings.actions.forEach(pAction => {
          if (pAction.status === STATUS_SUBMITTED) {
            pAction.status = STATUS_COMPLETE
          }
        })
        localStorage.setItem(STORAGE_PROPERTY, JSON.stringify(settings))
      }
    } else {
      localStorage.setItem(STORAGE_PROPERTY, JSON.stringify(DEFAULT_SETTINGS))
    }

    document.getElementById('submit').addEventListener('click', () => {
      var settings = JSON.parse(localStorage.getItem(STORAGE_PROPERTY))

      settings.actions.forEach(pAction => {
        if (pAction.status === STATUS_UPLOADED) {
          pAction.status = STATUS_SUBMITTED
        }
      })

      var someRequired = settings.actions.some(pAction => pAction.status === STATUS_REQUIRED)

      if (!someRequired) {
        settings.actions.forEach(pAction => pAction.status = STATUS_COMPLETE)
      }

      localStorage.setItem(STORAGE_PROPERTY, JSON.stringify(settings))

      window.location.href = someRequired ? '/auth' : '/updateClaimInProgressSubmitting'
    })

    function onChangeHandler(pClassName, pEvent) {
      var settings = JSON.parse(localStorage.getItem(STORAGE_PROPERTY))

      var action = settings.actions.find(pAction => pAction.className === pClassName)

      action.fileName = pEvent.target.value.split('\\').pop()
      action.status = STATUS_UPLOADED
      localStorage.setItem(STORAGE_PROPERTY, JSON.stringify(settings))
      updateStatus()
      updateSubmit()
    }

    function updateStatus() {
      var settings = JSON.parse(localStorage.getItem(STORAGE_PROPERTY))

      settings.actions.forEach(pAction => {
        var element = document.querySelector(`.${pAction.className}`)

        if (pAction.status === STATUS_COMPLETE) {
          element.classList.add('display-none')
        } else {
          var statusElement = element.querySelector('.file-status')
          var srElement = element.querySelector('.sr')
          var fileNameElement = element.querySelector('.file-upload__file-name')
          var uikitButton = element.querySelector('.uikit-btn')

          statusElement.className = `file-status file-status--${pAction.status}`
          srElement.innerHTML = pAction.status
          fileNameElement.className = 'file-upload__file-name'
          fileNameElement.innerHTML = pAction.fileName
          uikitButton.className = 'uikit-btn small'

          if (pAction.status === STATUS_REQUIRED) {
            uikitButton.innerHTML = 'Upload'
            srElement.innerHTML = 'Required'
          } else { // STATUS_UPLOADED
            fileNameElement.classList.add('file-upload__file-name--uploaded')
            srElement.innerHTML = 'Uploaded'
            uikitButton.innerHTML = 'Remove'
            uikitButton.classList.add('uikit-btn--tertiary')
          }
        }

        element.querySelector('input').onchange = function (pEvent) {
          onChangeHandler(pAction.className, pEvent)
        }
      })
    }

    function updateSubmit() {
      var settings = JSON.parse(localStorage.getItem(STORAGE_PROPERTY))

      var uploads = settings.actions.some(pAction => {
        return pAction.status === 'uploaded'
      })

      document.getElementById('submit').disabled = !uploads
    }

    updateStatus()
    updateSubmit()
  </script>


  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>

</html>