<%- include(components+"styleguide/styleguide-header", {
  heading: "Icons",
  claim: "Style Guide"
}) %>
  <p>Myservice utilises <a href="https://fontawesome.com/icons?d=gallery">Font Awesome icons</a> to provide designers and developers with an up-to-date list of accesible icons.<p>
  <p>Previously, MyService has curated a unique list of icons specific to the DVA brand. These icons have been deprecated however listed below for reference.</p>
  <hr>
  <h2>Status icons</h2>
  <p>Status icons are smaller icons. They are the only icons that use additional colour to compliment design and textual
    context for conveying meaning. Status icons are used for indicating claim status and in
    <a href="/styleguide/toast">toast messages</a>.</p>
  </p>
  <div class="example-box">
    <div class="row">
      <div class="col-sm-3">
        <p class="status-icon status-incomplete"> Incomplete</p>
      </div>
      <div class="col-sm-9">
        <pre>
						<code class="language-markup">
							<script type="text/plain">
								<p class="status-icon status-incomplete"> Incomplete</p>
							</script>
						</code>
					</pre>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <p class="status-icon status-approved"> Approved</p>
      </div>
      <div class="col-sm-9">
        <pre>
						<code class="language-markup">
							<script type="text/plain">
								<p class="status-icon status-approved"> Approved</p>
							</script>
						</code>
					</pre>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <p class="status-icon status-submitted">Submitted</p>
      </div>
      <div class="col-sm-9">
        <pre>
						<code class="language-markup">
							<script type="text/plain">
									<p class="status-icon status-submitted">Submitted</p>
								</script>
						</code>
					</pre>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <p class="status-icon status-rejected">Rejected</p>
      </div>
      <div class="col-sm-9">
        <pre>
						<code class="language-markup">
							<script type="text/plain">
								<p class="status-icon status-rejected">Rejected</p>
							</script>
						</code>
					</pre>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <p class="status-icon status-withdrawn">Withdrawn</p>
      </div>
      <div class="col-sm-9">
        <pre>
						<code class="language-markup">
							<script type="text/plain">
								<p class="status-icon status-withdrawn">Withdrawn</p>
							</script>
						</code>
					</pre>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-3">
        <p class="status-icon status-in-progress">In progress</p>
      </div>
      <div class="col-sm-9">
        <pre>
						<code class="language-markup">
							<script type="text/plain">
								<p class="status-icon status-in-progress">In progress</p>
							</script>
						</code>
					</pre>
      </div>
    </div>
  </div>
  <hr>

  <h2>Registration icons</h2>
  <p></p>

  <div class="example-box">
    <table class="table table-centred">
      <caption>Registration icon variations</caption>
      <tbody>
        <tr>
          <td>
            <h2>
              <img src="/docs/images/ico-user-serving.svg" alt="">
            </h2>
            <p>ico-user-serving.svg</p>
          </td>
          <td>
            <h2>
              <img src="/docs/images/ico-user-formerserving.svg" alt="">
            </h2>
            <p>ico-user-formerserving.svg</p>
          </td>
          <td>
            <h2>
              <img src="/docs/images/ico-user-nonserving.svg" alt="">
            </h2>
            <p>ico-user-nonserving.svg</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<%- include(partials+"components/styleguide/styleguide-footer") %>