<%- include(components+"styleguide/styleguide-header", {
  heading: "Uploads",
  claim: "Style Guide"
}) %>

  <%- include(partials+"components/file-uploads") %>
  <h2>Uploads table</h2>
  <div class="example-box">
    <div class="upload-list">
      <table class="document-uploads">
        <tbody>
          <tr>
            <th>Document title</th>
            <th class="centred">Actions</th>
          </tr>
          <tr>
            <td>
              <a href="#">My-Diagnosis.pdf (3.5 MB PDF)</a>
            </td>
            <td class="centred">
              <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-removefile-modal'">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="uikit-btn btnUpload">Upload a document</button>
      <h2>Example 9 - uploads table v2</h2>
      <table class="table-responsive table-responsive--no-border">
        <tbody>
          <tr class="pt-proofOfRelationshipClaimantStudent accordion accordion--open ">
            <td class="file-status file-status--required">
              <span class="sr">Required</span>
            </td>
            <td>
              <span>
                <b>Proof of your relationship to Milton</b>
              </span>
              <span class=" accordion-title__details">For example, birth certificate or adoption order.</span>
            </td>
            <td class="right">
              <div class="file-upload">
                <input type="file" class="file-upload__input" id="file-1">
                <label class="file-upload__label" for="file-1">
                  <span class="file-upload__document">
                    <a class="file-upload__file-name"></a>
                  </span>
                  <span class="file-upload__button">
                    <span class="uikit-btn small">Upload</span>
                  </span>
                </label>
              </div>
            </td>
            <td>
              <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                <span class="sr">Toggle accordion</span>
              </a>
            </td>
          </tr>
          <tr class="pt-proofOfEnrolment accordion accordion--open">
            <td class="file-status file-status--required">
              <span class="sr">Required</span>
            </td>
            <td>
              <span>
                <b> Proof of
                  <span class="studentNameFirstApostrophed"></span> enrolment</b>
              </span>
              <span class=" accordion-title__details">For example, school report or institution letter.</span>
            </td>
            <td class="right">
              <div class="file-upload">
                <input type="file" class="file-upload__input" id="file-4">
                <label class="file-upload__label" for="file-4">
                  <span class="file-upload__document">
                    <a class="file-upload__file-name"></a>
                  </span>
                  <span class="file-upload__button">
                    <span class="uikit-btn small">Upload</span>
                  </span>
                </label>
              </div>
            </td>
            <td>
              <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                <span class="sr">Toggle accordion</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="upload-list">
                <table class="document-uploads">
                  <tbody>
                    <tr>
                      <th>Document title</th>
                      <th class="centred">Actions</th>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">My-Diagnosis.pdf (3.5 MB PDF)</a>
                      </td>
                      <td class="centred">
                        <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-removefile-modal'">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button class="uikit-btn btnUpload">Upload a document</button>
                <h2>Example 9 - uploads table v2</h2>
                <table class="table-responsive table-responsive--no-border">
                  <tbody>
                    <tr class="pt-proofOfRelationshipClaimantStudent accordion accordion--open ">
                      <td class="file-status file-status--required">
                        <span class="sr">Required</span>
                      </td>
                      <td>
                        <span>
                          <b>Proof of your relationship to Milton</b>
                        </span>
                        <span class=" accordion-title__details">For example, birth certificate or adoption order.</span>
                      </td>
                      <td class="right">
                        <div class="file-upload">
                          <input type="file" class="file-upload__input" id="file-1">
                          <label class="file-upload__label" for="file-1">
                            <span class="file-upload__document">
                              <a class="file-upload__file-name"></a>
                            </span>
                            <span class="file-upload__button">
                              <span class="uikit-btn small">Upload</span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                          <span class="sr">Toggle accordion</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="pt-proofOfEnrolment accordion accordion--open">
                      <td class="file-status file-status--required">
                        <span class="sr">Required</span>
                      </td>
                      <td>
                        <span>
                          <b> Proof of
                            <span class="studentNameFirstApostrophed"></span> enrolment</b>
                        </span>
                        <span class=" accordion-title__details">For example, school report or institution letter.</span>
                      </td>
                      <td class="right">
                        <div class="file-upload">
                          <input type="file" class="file-upload__input" id="file-4">
                          <label class="file-upload__label" for="file-4">
                            <span class="file-upload__document">
                              <a class="file-upload__file-name"></a>
                            </span>
                            <span class="file-upload__button">
                              <span class="uikit-btn small">Upload</span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
                          <span class="sr">Toggle accordion</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <hr>

<%- include(partials+"components/styleguide/styleguide-footer") %>