<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#content">Skip to main content</a></nav>
  <% include ../partials/header-version.ejs %>
  <% include ../partials/header-system-message.ejs %>
  <% include ../partials/header-unauthenticated.ejs %>
  <main>

    <section class="hero-main">
      <div class="container">
        <h1>Get covered by DVA</h1>
        <p>DVA is simplifying the way it does business with clients. We need current and former members who enlisted after <strong>30 June 2004</strong> to help us test a new claims process.</p>
      </div>
    </section>

    <div class="container">
      <h2>Who can use the trial</h2>
      <p>For now, only those who enlisted in the ADF after 30 June 2004 can use MyService. In the future we will be opening the trial to a wider group, feedback is welcome.</p>

      <div class="row">
        <div class="col-sm-8">
          <section>
            <h2>How it works</h2>
            <ol>
              <li>
                <p><strong>Register with MyService</strong></p>
                <p>If you have already registered, simply log in. New registration can take 2-3 business days.</p>
              </li>
              <li>
                <p><strong>Request cover</strong></p>
                <p>Have your medical diagnosis ready to upload. Download a <a href="#">diagnosis form</a> for your medical provider here.</p>
              </li>
              <li>
                <p><strong>Submit your request</strong></p>
                <p>If we need more information, we will let you know.</p>
              </li>
            </ol>
          </section>
        </div>
        <div class="col-sm-4">
          <section class="uikit-callout" aria-label="What you need">
            <h2>What you need</h2>
            <ul>
              <li class="ico-privacy">Your PMKeyS number</li>
              <li class="ico-calendar">Date of enlistment</li>
              <li class="ico-payment">Either your current driver's licence or Medicare card</li>
              <li class="ico-file">A medical diagnosis and any supporting documents</li>
            </ul>
          </section>
        </div>

      </div>

      <div class="pagination">
        <button class="uikit-btn" onclick="window.location.href = '/register-step1'">Register</button> or <button class="uikit-btn uikit-btn--tertiary">Log in</button>
      </div>

    </div>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>