<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Register | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../partials/header-version.ejs %>
  <% include ../partials/header-register.ejs %>
  <main>

    <div class="container" id="main-content">
      <h1>Register</h1>
      <p>To access MyService we need you to prove your identity. The <a href="http://www.dva.gov.au/site-information/privacy">privacy and security</a> of your information is important to us.</p>
      <div class="row">
        <div class="col-sm-8">
          <fieldset>
            <legend>Personal details</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="highest-rank">Your highest rank</label>
              <input class="uikit-text-input input-half" name="highest-rank" id="highest-rank" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="title">Title <span class="hint">(optional)</span></label>
              <input class="uikit-text-input input-half" name="title" id="title" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label uikit-control-input__radio" for="correspondence">Refer to me by</label>
                <label class="uikit-control-input uikit-control-input--full">
                  <input class="uikit-control-input__input" type="radio" name="correspondence" selected>
                  <span class="uikit-control-input__text">Rank</span>
                </label>
                <br />
                <label class="uikit-control-input uikit-control-input--full uikit-control-input__radio">
                  <input class="uikit-control-input__input" type="radio" name="correspondence" disabled>
                  <span class="uikit-control-input__text">Title</span>
                </label>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="first-name">First name</label>
              <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="middle-name">Middle name <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="middle-name" id="middle-name" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="last-name">Last name</label>
              <input class="uikit-text-input" name="last-name" id="last-name" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="dd">Date of birth <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="dd" id="dd" maxlength="2"> /
              <input class="uikit-text-input mm" type="text" name="mm" id="mm" maxlength="2"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy" id="yyyy" maxlength="4">
            </div>
          </fieldset>
          <fieldset>
            <legend>Contact details</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="email">Email address</label>
              <input class="uikit-text-input" name="email" id="email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="confirm-email">Confirm email address</label>
              <input class="uikit-text-input" name="confirm-email" id="confirm-email" type="email" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Mobile phone number <span class="hint">(optional)</span></label>
              <input class="uikit-text-input" name="mobile" id="mobile" type="phone" value="">
            </div>
          </fieldset>
          <fieldset>
            <legend>Proof of identity</legend>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Are you an existing DVA client?</label>
              <div class="radio-toggle">
                <label class="on label-left" for="yes"><input id="yes" type="radio" name="exising"><span>Yes</span></label>
                <label class="off label-right" for="no"><input id="no" type="radio" name="exising"><span>No</span></label>
              </div>
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">PMKeys number</span></label>
              <input class="uikit-text-input input-half" name="pmkeys" id="pmkeys" type="text" value="">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="enlistment-dd">Date of enlistment <span class="hint">(DD / MM / YYYY)</span></label>
              <input class="uikit-text-input dd" type="text" name="enlistment-dd" id="enlistment-dd" maxlength="2"> /
              <input class="uikit-text-input mm" type="text" name="enlistment-mm" id="enlistment-mm" maxlength="2"> /
              <input class="uikit-text-input yyyy" type="text" name="enlistment-yyyy" id="enlistment-yyyy" maxlength="4">
            </div>
            <div class="form-group">
              <label class="uikit-text-input__label" for="mobile">Register using</label>
              <div class="radio-toggle">
                <label class="on label-left" for="drivers"><input id="drivers" type="radio" name="id"><span>Drivers licence</span></label>
                <label class="off label-right" for="medicare"><input id="medicare" type="radio" name="id"><span>Medicare card</span></label>
              </div>
            </div>
            <div class="drivers-licence" style="display: none">
              <div class="form-group">
                <label class="uikit-text-input__label" for="licence-state">Driver licence State or Territory of issue</span></label>
                <input class="uikit-text-input input-half" name="licence-state" id="licence-state" type="text" value="">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="licence-number">Driver licence number</span></label>
                <input class="uikit-text-input input-half" name="licence-number" id="licence-number" type="text" value="">
              </div>
            </div>
          </fieldset>

          <div class="pagination">
            <p>
              <label class="uikit-control-input uikit-control-input--full">
                <input class="uikit-control-input__input" type="checkbox" name="acknowledge">
                <span class="uikit-control-input__text"> I agree that my provided information is checked with the issuer or Official Record Holder, and stored by DVA. I also agree to the <a href="#TermsAndUseScreen">Terms and Use for MyService</a></span>
              </label>
            </p>
            <button class="uikit-btn">Register</button> &nbsp;<a href="/">Cancel</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="uikit-callout">
            <h2>To be eligible you must:</h2>
            <ul>
              <li>Have enlisted after 30 June 2004</li>
              <li>Been a permanent member of the Australian Defence Force</li>
              <li>Need either a valid driver licence or Medicare card</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>