<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body id="page-top">
      <% include ../partials/navbar.ejs %>

      <section class="newsfeed" id="news">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-md-offset-6">
              <h1 id="newsHeading">Transfer Between Military and Civilian Life</h1>
              <p>
                The Prime Minister's Veterans' Employment Program demonstrates the importance the Government
                places on raising awareness with employers, both private and public sector, of the value
                and unique experience of our veterans.
              </p>
            </div>
          </div>
        </div>
      </section>

    	<div class="subheader">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
    		      <h2 class="section-heading">About</h2>
            </div>
          </div>
        </div>
    	</div>
		

		

    <div class="container">
	<div class="row">
  			<div class="col-md-3 col-md-offset-1" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec0">Industry Advisory Committee</a></li>
                  <li><a href="#sec1">The Prime Minister's Veterans' Employment Annual Awards</a></li>
                  <li>
                    <a href="#sec2">Ex-Service Organisation Industry Partnership Register</a>
                  </li>
                  <li><a href="#sec3">Department of Defence and Department of Veterans' Affairs Initiatives</a></li>
                  <li><a href="#sec4">Australian Public Service (APS) Initiatives</a></li>
				  <li><a href="#sec5">Department of Employment</a></li>
					<li><a href="#sec6">Useful Links</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-8" id="mainCol">
              
              	<br>
              
              	<h3 id="sec0">Industry Advisory Committee on Veterans’ Employment</h3>
                <hr>
				<p>The <a href="/iac">Industry Advisory Committee</a> on Veterans’ Employment will develop
				and provide advice on practical measures to embed veterans’ employment
				strategies into the recruitment practices of Australian business. The Committee
				will play a role in the broader promotion of the skills and professional attributes
				that veterans have to offer employers. Advisory Committee members will be
				known as “Veteran Employment Ambassadors”.
				Interested firms are encouraged to apply to be members of the Advisory
				Committee. The Government will assist to set up the Advisory Committee
				which will transition to become an industry led committee. The first meeting
				will occur in the first half of 2017 and will be chaired by the Minister for
				Veterans’ Affairs and Defence Personnel.
				Companies can register their interest by emailing
				veteransemployment@dva.gov.au</p>
              	
				
              
              	<h3 id="sec1">The Prime Minister’s Veterans’ Employment Annual Awards</h3>
				<hr>
              
				<p>The Prime Minister’s Veterans’ Employment Annual Awards will recognise the
				achievements of small, medium and large companies in creating employment
				opportunities for veterans. The criteria for the awards will be developed in
				consultation with the Industry Advisory Committee.</p>


              	
              
              	<h3 id="sec2">Ex-Service Organisation Industry Partnership Register</h3>
              	<p>
				<hr>
              
				Ex-service organisations are invited to register their interest in partnering with
				industry on projects to promote the employment of veterans. Industry will be
				able to access this information when they are seeking a partner to assist in the
				creation of employment opportunities for veterans, including in regional and
				remote areas of the country.
				Ex-service organisations can register their interest by emailing
				ESOindustryregister@dva.gov.au
              	</p>
				              
              	
              
              	<h3 id="sec3">Department of Defence and Department of Veterans’ Affairs initiatives</h3>
				<hr>
              
				<p>• Improvements to the transition process for separating members
				of the Australian Defence Force (ADF) that will include ensuring all
				individuals leave Defence with separation documentation, such as
				their training records, and an individual transition plan.</p>
				<p>• Tailored transition coaching services for all separating members.</p>
				<p>• Reinstating surveys of former ADF personnel post-separation to assess the
				effectiveness of ADF transition programs and inform future initiatives.</p>
				<p>• Working with civilian authorities to align military qualifications with civilian
				qualifications.</p>
				<p>• Improvements to vocational rehabilitation services for veterans with an
				ADF-related injury or illness.</p>
				
				
				
              
              	<h3 id="sec4">Australian Public Service (APS) initiatives</h3>
				<hr>
				<p>• Launch of the new APSJobs website in 2017 will include specific information
				for veterans seeking employment in the APS.</p>
				<p>• Development of a tool that aligns ADF ranks to APS classifications.</p>
				<p>• Introduction of a toolkit that outlines information for veterans on working in
				the APS.</p>
				
				
				
				              
              	<h3 id="sec5">Department of Employment</h3>
				<hr>
				<p>• Creation of an information page for veterans on the Government’s jobactive
				website.</p>
				<p>• Creation of an optional ‘defence force experience desirable’ flag for vacancies
				listed on the jobactive website that will enable job seekers to search for
				vacancies for which former ADF members would be well suited and then to
				apply directly to the employer.</p>
				<p>• Development of a stronger partnership with the Department of Defence
				to further enhance the Career Transition Assistance Scheme for separating
				ADF members, including employment planning advice and labour market
				information.</p>
              
              
              
              	<hr>

            
        <h3 id="sec6">Useful Links</h3>

	                  <div class="col-md-12">
                  
                      <div class="row">
										<div class="col-md-6">			
									  <a href="/resources#veteran" class="card-link">
										<div class="card">
										  <h4><i class="fa fa-user"></i>Veteran</h4>
										  <h5>Information for Veterans</h5>
										</div>
									  </a>
										</div>

										<div class="col-md-6">	
									  <a href="/resources#employer" class="card-link">
										<div class="card">
										  <h4><i class="fa fa-briefcase"></i>Employer</h4>
										  <h5>Information for Employers</h5>
										</div>
									  </a>
										</div>

                      </div>
                  </div>			
              	
      		</div> 
  	</div>
</div>
  
  <script src=js/sidebar.js></script>
    <% include ../partials/footer.ejs %>
  </body>
</html>
