<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Nom Rep - Client - Before you start | MyService</title>
  <% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
    <% include ../../../../partials/header-nom-rep.ejs %>
      <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">

          <!-- Page heading -->
          <h1 class="ss-align--center">
            <span class="heading">Before you get started</span>
          </h1>
        </div>

        <div class="margin-above--large container">
          <p class="text-fullwidth ss-align--center">Confirm your contact details are correct.
            <br>This will ensure we can contact you about your&nbsp;application.</p>

          <!-- <p class="text-fullwidth ss-align--center">You can update your contact details in
            <a href="/profile-contact">My profile</a>
          </p> -->

          <div class="container margin-below--extra">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

                <div class="profile-table">
                  <div class="row profile-row">
                    <div class="col-sm-12 description-fields">
                      <div class="row">
                        <div class="col-sm-6 col-md-5 title-field">Name</div>
                        <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                          <span id="email-span"><span class="pt-current-client-nameFirst"></span> <span class="pt-current-client-nameLast"></span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row profile-row">
                    <div class="col-sm-12 description-fields">
                      <div class="row">
                        <div class="col-sm-6 col-md-5 title-field">Home phone number</div>
                        <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                          <span id="email-span">61 2345 5678</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row profile-row">
                    <div class="col-sm-12 description-fields">
                      <div class="row">
                        <div class="col-sm-6 col-md-5 title-field">Mobile phone number</div>
                        <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                          <span id="email-span">0412 345 678</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row profile-row">
                    <div class="col-sm-12 description-fields">
                      <div class="row">
                        <div class="col-sm-6 col-md-5 title-field">Email address</div>
                        <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                          <span id="email-span">richard.charlton@gmail.com</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 margin-above--extra">
                <div class="pagination ss-align--center">
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/profile-contact'">Update my details</button>
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/rep-details'">My details are correct</button>
                </div>
              </div>
            </div>
          </div>

      </main>

      <% include ../../../../partials/footer.ejs %>


        <script>
        </script>


</body>

</html>
