<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Manage Rep: Nom Rep | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <!-- Progress bar -->

      </div>
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">Manage Representation</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <!-- Page content -->
          <div class="margin-above--extra margin-below--extra">
            <!-- summary cards -->
            <div id="manageRep">
              <div class="review__content--item boxed row" id="summary-1">
                <div class="review__content--label col-sm-10">
                  <h3 class="margin-above--none margin-below--mid">Alice Thompson</h3>
                  <legend class="margin-below--none legend-label">Role type: <span class="hint"> Act on behalf </span></legend>
                  <legend class="margin-below--none legend-label">Online access: <span class="hint"> Yes </span></legend>
                  <!-- <legend class="margin-below--none legend-label">Receiving correspondence: <span class="hint"> Yes </span></legend>
                                <legend class="margin-below--none legend-label">Receiving payment: <span class="hint"> No</span></legend> -->
                  <legend class="margin-below--none legend-label">Representation date: <span class="hint"> 01 / 01 / 2000 to indefinite</span></legend>

                </div>
                <div class="col-sm-2">
                  <button class="uikit-btn uikit-btn--tertiary" id="nr-editBtn" onclick="window.location.href = '/auth/profile/nomrep/edit-rep'">&nbsp; Edit &nbsp;</button>
                  <button class="uikit-btn uikit-btn--tertiary margin-above--mid" onclick="window.location.href = '#open-example-modal'">Cease</button>
                </div>
              </div>
            </div>

            <div id="manageRepNone" style="display:none;">
              <div class="review__content--item boxed row" id="summary-1">
                <div class="review__content--label col-sm-10">
                  <h3 class="margin-above--none margin-below--mid">No reps for you</h3>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
            </div>

            <div class="form-group margin-above--large">
            </div>

            <div id="open-example-modal" class="modal-window">
              <div>
                <a href="#modal-close" title="Close" class="modal-close">Close</a>
                <h5> </h5>
                <h2>Alice Thompson will no longer be able to act on your behalf with DVA.</h2>
                <p>Are you sure you want to cease this arrangement?</p>
                <div class="modal-buttons">
                  <!-- <button class="uikit-btn" onclick="window.location.href = '#modal-close'" id="deleteFile">Delete file</button> -->
                  <button class="uikit-btn" onclick="window.location.href = '/auth/profile/nomrep/'" id="">Yes, cease representation</button>
                  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#modal-close'">Cancel</button>
                </div>
              </div>
            </div>
            <!-- end of dependent child details -->
          </div><!-- end of page content -->
        </div>

        <!-- bottom page navigation -->
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="pagination ss-align--center">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/profile/nomrep/'">Back to representation</button>
            </div>
          </div>
        </div><!-- bottom page navigation end -->

      </div><!-- form-group end -->
    </div> <!-- container end -->
  </main>
  <% include ../../../../partials/footer.ejs %>
  <script>
    $('#deleteFile').click(function () {
      $('#manageRep').hide();
      $('#manageRepNone').show("fast");
    });
  </script>
</body>

</html>