<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Claim for travel expenses | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../global/partials/header-topbar-new.ejs %>


  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Claim for travel expenses</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

          <div class="margin-above--extra margin-below--extra">

            <div class="form-group">
              <h2>Add trip info</h2>
              <hr>
              <p>NOTE: the different date/time fields are there for discussion</p>
                <label class="uikit-text-input__label" for="date">Date
              		<span class="hint">(DD / MM / YYYY)</span>
              	</label>
                	<input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" aria-required="true" aria-label="2 digit day"> /
                	<input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" aria-required="true" aria-label="2 digit month"> /
                	<input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" aria-required="true" aria-label="4 digit year">

                  <label class="uikit-text-input__label" for="Input field">Time</label>
                    <input class="uikit-text-input input-half" name="Input field" id="Input field" type="time" value="" aria-required="true">

                  <label class="uikit-text-input__label" for="Input field">Date and time</label>
                    <input class="uikit-text-input input-half" name="Input field" id="Input field" type="datetime-local" value="" aria-required="true">
                  <hr>

                  <label class="uikit-text-input__label" for="drop-down">Which health provider did you attend?
                		<br />
                		<span class="hint display-block">Provider type</span>
                	</label>
                	<select class="uikit-text-input input-half" id="providerType" name="drop-down">
                		<option selected>-- Select an item --</option>
                		<option>Psychiatrist</option>
                		<option>Psychologist</option>
                		<option>General practitioner</option>
                		<option>Podiatrist</option>
                    <option>Radiologist / x-ray</option>
                    <option>Cardiologist</option>
                    <option>Ophthalmologist</option>
                    <option>Orthopaedic surgeon</option>
                    <option>Other</option>
                	</select>
                <label class="uikit-text-input__label" for="Input field">Name</label>
                  <input class="uikit-text-input input-half" name="Input field" id="providerName" type="text" value="" aria-required="true">
                <label class="uikit-text-input__label" for="Input field">Phone</label>
                  <input class="uikit-text-input input-half" name="Input field" id="providerPhone" type="text" value="" aria-required="true">
                <label class="uikit-text-input__label" for="Input field">Suburb</label>
                  <input class="uikit-text-input input-half" name="Input field" id="providerSuburb" type="text" value="" aria-required="true">
                <label class="uikit-text-input__label" for="drop-down">State</label>
                  <select class="uikit-text-input input-half" id="providerState" name="drop-down">
                    <option selected>-- Select a state --</option>
                    <option>ACT</option>
                    <option>NSW</option>
                    <option>NT</option>
                    <option>QLD</option>
                    <option>SA</option>
                    <option>TAS</option>
                    <option>VIC</option>
                    <option>WA</option>
                  </select>
                <label class="uikit-text-input__label" for="drop-down">What is this trip for?</label>
                  <select class="uikit-text-input input-half" id="tripUsedFor" name="drop-down">
                    <option selected>-- Select --</option>
                    <option>Hospital admission</option>
                    <option>Hospital discharge</option>
                    <option>Disability claim</option>
                    <option>Income support claim</option>
                    <option>Other</option>
                  </select>
                <label class="uikit-text-input__label" for="Input field">What were you treated for?</label>
                  <input class="uikit-text-input input-half" name="Input field" id="treatedFor" type="text" value="" aria-required="true">
                <hr>
                <p><strong>Note:</strong> To receive maximum benefits, travel should be to the closest practical provider.</p>
                <hr>
                <label class="uikit-text-input__label" for="drop-down">What are you claiming?</label>
                <label class="uikit-text-input__label" for="Input field">Private vehicle</label>
                  <span class="hint">&nbsp;&nbsp; </span><input class="uikit-text-input input-half" name="Input field" id="privateVehicle" type="text" value="" aria-required="true"> <span class="hint">kms</span>
                  <label class="uikit-text-input__label" for="Input field">Public transport</label>
                    <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="publicTransport" type="text" value="" aria-required="true">
                    <label class="uikit-text-input__label" for="Input field">Taxi</label>
                      <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="taxi" type="text" value="" aria-required="true">
                      <label class="uikit-text-input__label" for="Input field">Community</label>
                        <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="community" type="text" value="" aria-required="true">
                        <label class="uikit-text-input__label" for="Input field">Air</label>
                          <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="air" type="text" value="" aria-required="true">
                          <label class="uikit-text-input__label" for="Input field">Parking fees</label>
                            <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="parkingFees" type="text" value="" aria-required="true">

                            <label class="uikit-text-input__label" for="Input field">Road tolls</label>
                              <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="roadTolls" type="text" value="" aria-required="true">
                    <hr>
                <label class="uikit-text-input__label" for="toggle-buttons">Did DVA arrange/pay for this travel (e.g. booked car with driver, air travel or ambulance)?</label>
                  <div class="radio-toggle">
              		<label class="on label-left" for="yesArrange">
              			<input id="yesArrange" type="radio" name="toggle-buttons-arrange" value="Yes">
              			<span>Yes</span>
              		</label>
              		<label class="off label-right" for="noArrange">
              			<input id="noArrange" type="radio" name="toggle-buttons-arrange" value="No">
              			<span>No</span>
              		</label>
              	</div>
                <hr>
                <label class="uikit-text-input__label" for="toggle-buttons">Did you require accommodation?</label>
                  <div class="radio-toggle">
              		<label class="on label-left" for="yesAccommodation">
              			<input id="yesAccommodation" type="radio" name="toggle-buttons-accommodation" value="Yes">
              			<span>Yes</span>
              		</label>
              		<label class="off label-right" for="noAccommodation">
              			<input id="noAccommodation" type="radio" name="toggle-buttons-accommodation" value="No">
              			<span>No</span>
              		</label>
              	</div>
                <div style="display:none;" class="form-group" id="accommodationType">
                <label class="uikit-text-input__label" for="radio-buttons">Accommodation type</label>
                <p class="uiToolKitCheckBox margin-above">
                  <label class="uikit-control-input">
                    <input id="same-solicitor" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Commercial</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="new-solicitor" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Private</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input id="new-solicitor" class="uikit-control-input__input" type="radio" name="radio-ex">
                    <span class="uikit-control-input__text">Subsidised</span>
                  </label>
                </p>
                <label class="uikit-text-input__label" for="Input field">How many nights?</label>
                  <input class="uikit-text-input input-half" name="Input field" id="roadTolls" type="text" value="" aria-required="true">
                  <label class="uikit-text-input__label" for="Input field">Amount paid:</label>
                    <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="roadTolls" type="text" value="" aria-required="true">
              </div>

                <label class="uikit-text-input__label" for="toggle-buttons">Did you travel with an attendant?</label>
                  <div id="attendant" class="radio-toggle">
              		<label class="on label-left" for="yesAttendant">
              			<input id="yesAttendant" type="radio" name="toggle-buttons-attendant" value="Yes">
              			<span>Yes</span>
              		</label>
              		<label class="off label-right" for="noAttendant">
              			<input id="noAttendant" type="radio" name="toggle-buttons-attendant" value="No">
              			<span>No</span>
              		</label>
              	</div>
                <div id="seperateRoom" style="display:none;" class="form-group">
                <label class="uikit-text-input__label" for="toggle-buttons">Did you pay for a seperate room when travelling with your medically required attendant?</label>
                  <div id="attendant" class="radio-toggle">
              		<label class="on label-left" for="yesSeperateRoom">
              			<input id="yesSeperateRoom" type="radio" name="toggle-buttons-seperate" value="Yes">
              			<span>Yes</span>
              		</label>
              		<label class="off label-right" for="noSeperateRoom">
              			<input id="noSeperateRoom" type="radio" name="toggle-buttons-seperate" value="No">
              			<span>No</span>
              		</label>
              	</div>
              </div>
                <hr>
                <section class="mys-file-uploads">
	<!-- <div class="mys-file-uploads__items">
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 111 AAA .png</a>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 222 AAA .png</a>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
	</div> -->
	<div class="mys-file-uploads__uploads-actions">
		<button id="saveAndAdd" class="uikit-btn small uikit-btn--tertiary">Save and add trip</button>
	</div>
</section>
<hr class="hr-compact">


            <div class="container simple-accordion simple-accordion--closed margin-below">
              <div class="row simple-accordion__trigger">
                <div class="col-sm-12">
                  <h2 class="simple-accordion__heading margin-above--none margin-below--none">
                    <a class="toggle-arrow">
                      <b>see claims</b>
                    </a>
                  </h2>
                </div>
              </div>
              <div class="row simple-accordion__body margin-below--extra">

                <div class="review__wrapper ongoing-only employed">
                              <div class="review__header">
                                <div class="review__header--label">
                                  <h2>Check your claims</h2>
                                </div>
                                <div class="review__header--button"></div>
                              </div>
                              <div class="review__content">
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Provider type</div>
                                  <div id="providerTypeValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Provider name</div>
                                  <div id="providerNameValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Provider phone</div>
                                  <div id="providerPhoneValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Provider suburb</div>
                                  <div id="providerSuburbValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Provider state</div>
                                  <div id="providerStateValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">What is this trip for?</div>
                                  <div id="tripUsedForValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">What were you treated for</div>
                                  <div id="treatedForValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Private vehicle</div>
                                  <div id="privateVehicleValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Public transport</div>
                                  <div id="publicTransportValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Taxi</div>
                                  <div id="taxiValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Community</div>
                                  <div id="communityValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Air</div>
                                  <div id="airValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Parking fees</div>
                                  <div id="parkingFeesValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Road tolls</div>
                                  <div id="roadTollsValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Did DVA arrange it</div>
                                  <div id="arrangeValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Did you require accommodation</div>
                                  <div id="accommodationValue" class="review__content--data col-xs-7"></div>
                                </div>
                                <div class="review__content--item row">
                                  <div class="review__content--label col-xs-5">Did you travel with an attendant</div>
                                  <div id="attendantValue" class="review__content--data col-xs-7"></div>
                                </div>
                              </div>
                            </div>

              </div>
            </div>
            <!-- <input type="text" id="txt_name" class="amount">
            <button id="clickMe">Click me</button>
            <legend class="legend-label" id="txtName" name="Name"></legend> -->
            </div>
          </div>

          <div class="pagination pagination--ss-reverse-order">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/incap-progress'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth?user=INCAPuser-incomplete'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>

        </div>
      </div>
    </div>


  </main>

  <% include ../../../global/partials/footer.ejs %>


  <script>
  $("#saveAndAdd").click(function(){
    addTrip();
  });

function addTrip() {
  var providerType = $("#providerType").val();
  var providerName = $("#providerName").val();
  var providerPhone = $("#providerPhone").val();
  var providerSuburb = $("#providerSuburb").val();
  var providerState = $("#providerState").val();
  var tripUsedFor = $("#tripUsedFor").val();
  var privateVehicle = $("#privateVehicle").val();
  var publicTransport = $("#publicTransport").val();
  var taxi = $("#taxi").val();
  var community = $("#community").val();
  var air = $("#air").val();
  var parkingFees = $("#parkingFees").val();
  var roadTolls = $("#roadTolls").val();
  var arrange = $('input[name=toggle-buttons-arrange]:checked').val();
  var accommodation = $('input[name=toggle-buttons-accommodation]:checked').val();
  var attendant = $('input[name=toggle-buttons-attendant]:checked').val();

  $("#providerTypeValue").html(providerType);
  $("#providerNameValue").html(providerName);
  $("#providerPhoneValue").html(providerPhone);
  $("#providerSuburbValue").html(providerSuburb);
  $("#providerStateValue").html(providerState);
  $("#tripUsedForValue").html(tripUsedFor);
  $("#privateVehicleValue").html(privateVehicle);
  $("#publicTransportValue").html(publicTransport);
  $("#taxiValue").html(taxi);
  $("#communityValue").html(community);
  $("#airValue").html(air);
  $("#parkingFeesValue").html(parkingFees);
  $("#roadTollsValue").html(roadTolls);
  $("#arrangeValue").html(arrange);
  $("#accommodationValue").html(accommodation);
  $("#attendantValue").html(attendant);


  // var value = $(".providerType").val();
  //   $("#providerTypeValue").html(value);
};
$(".au-accordion").slideToggle("slow");

$(".toggle-arrow").click(function () {
  $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
});

$("#yesAccommodation").click(function () {
  $("#accommodationType").show("fast");
});
$("#noAccommodation").click(function(){
  $("#accommodationType").hide();
});
$("#yesAttendant").click(function(){
  $("#seperateRoom").show("fast");
});
$("#noAttendant").click(function(){
  $("#seperateRoom").hide();
});
  </script>

</body>

</html>
