<%- include(templates+"header", {
  heading: "Submit your claim",
  claim: "Travel expenses"
}) %>



          <%- include(partials+"components/form-partials/textarea", {
            label: "Include any comments you wish to have considered in relation to your claim",
            hint: "(optional)"
          }); %> 

     

      <%#- include(forms+"pagination", {
        pagination: [
        {
          text: "Previous",
          link: "/auth/expenses/travel-list",
        },
        {
            text: "Delete claim",
            link: "#open-delete-claim-modal"
          },
          {
            text: "Save and exit",
            id: "save-exit-button",
            link: "/auth/claim?state=claim-saved-success",
            modifiers: ["floated"]
          },
          {
            text: "Submit",
            id: "save-next-button",
            link: "/auth/expenses/submitted",
            modifiers: ["primary", "floated"]
          }
        ]
      }) %>


      <div class="pagination" id="pagination857">
        <p id="declaration" class="margin-below--large" style="display: block;" hidden="">By clicking <strong>submit claim</strong> you confirm this information is truthful and accurate.</p>
        <div>
          <a href="/auth/expenses/travel-list" class="uikit-btn uikit-btn--tertiary">Previous</a>
          <a href="#open-delete-claim-modal" class="uikit-btn uikit-btn--tertiary">Delete claim</a>
          
          <div class="floated">
            <a href="/auth/claim?state=claim-saved-success" class="uikit-btn uikit-btn--tertiary">Save and exit</a>
            <a href="/auth/expenses/submitted" id="submit" class="uikit-btn">Submit claim</a>
          </div>
        </div>
      </div>


    </div>


  <%- include(templates+"footer") %>
  <%- include("delete-claim-modal") %>

