<div id="state-switcher">
  <h3>State switcher</h3>

  <%#- include(partials+"components/form-partials/radio", {
    label: "Past transactions",
    boxes: [
      "None",
      "Travel",
      "Medical",
      "All"
    ],
    id: "past-transactions"
  }); %>
  <%- include(partials+"components/form-partials/radio", {
    label: "Past transactions",
    boxes: [
      "None",
      "All"
    ],
    id: "past-transactions"
  }); %>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Draft claims"
    ],
    id: "draft-claims",
    customClass: "margin-below--none"
  }); %>

  <%#- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Notification submitted successfully"
    ],
    id: "notify-success",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  var pastTransactions;

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $("#past-transactions-2").prop("checked", true);
    $('input[name=past-transactions]').change(function () {
      state = $(this).val();
      stateSwitcher();
    });

  $('#notify-success-1').change(function() {
    updateNotify();  
  });

  function updateNotify() {
    var myStatus = $("#notify-success-1").is(":checked");
    if ( myStatus ) {
        $("#success-container").show();
    } else {
      $("#success-container").hide();
    }
  }  

  $('#draft-claims-1').change(function() {
    updateDraft();  
  });

  function updateDraft() {
    var myStatus = $("#draft-claims-1").is(":checked");
    if ( myStatus ) {
        $("#draft-container").show();
        $(".travel-draft").show();
    } else {
      $(".travel-draft").hide();
      $("#draft-container").hide();

    }
  }  

  });

</script>