<%- include(templates+"header", {
    heading: "Review and submit",
    claim: "Travel expense claim",
    type: "default",
    modifiers: ["noClaimInTitle"]
  }) %>

<%- include(components+"review-submit", {
      claim_title: "Travel expense claim",
      claim_id: "dfgdfg",
      categories: [
      {
            title: "Claim summary",
            data: [
            {
                  q: "Date submitted",
                  a: "2 September 2020"
                },
                {
                  q: "Claim ID",
                  a: "33567885"
                },
                  {
                    q: "Total amount claimed",
                    a: "$833.63"
                  },
                  {
                    q: "Total amount claimed (kms)",
                    a: "268 kms"
                  },
                  {
                    q: "Total amount claimed (accommodation)",
                    a: "2 nights"
                  },
                  {
                    q: "Additional information",
                    a: "Total meal costs $56.78"
                  },
                  {
                    q: "Include any comments you wish to have considered in relation to your claim",
                    a: ""
                  }
                  
                 
            ]
          },
        {
          title: "Appointment",
          data: [
          {
            q: "Appointment date",
            a: "21 August 2020"
          },
          {
            q: "Appointment time",
            a: "2:45 pm"
          },
                {
                  q: "Provider",
                  a: "Dr Al Appleton<BR/>334 Heath Rd<BR/>Melrose place<BR/>NSW 2045"
                },
                
                {
                  q: "Purpose of trip",
                  a: "Treatment"
                },
                {
                  q: "Condition being treated",
                  a: "Osteoarthritis"
                },
                "Expenses",
                {
                  q: "Private vehicle - kms",
                  a: "268 kms"
                },
                {
                  q: "Tolls",
                  a: "$15.64"
                },
                {
                  q: "Parking fees",
                  a: "$28.34"
                }
          ]
        },
        {
          title: "Appointment",
          data: [
          {
            q: "Appointment date",
            a: "26 August 2020"
          },
          {
            q: "Appointment time",
            a: "10:00 am"
          },
                {
                  q: "Provider",
                  a: "Dr Genevieve Shey<BR/>Mapletree practice<BR/>L2 145 Trent St<BR/>Salsbury<BR/>VIC 3033"
                },
               
                {
                  q: "Purpose of trip",
                  a: "Treatment"
                },
                {
                  q: "Condition being treated",
                  a: "Lumbar spondylosis"
                },
                "Expenses",
                {
                  q: "Air",
                  a: "$576.45"
                },
                {
                  q: "Accommodation",
                  a: "2 nights<BR/>With attendant<BR/>Separate rooms"
                }
          ]
        }
  
      ]
    }) %>

        <div class="margin-below--extra margin-above--extra">
          <p>By clicking <strong>submit claim</strong> I confirm the above information is truthful and accurate.</p>
        </div>

    <%- include(forms+"pagination", {
      pagination: [
      {
        text: "Previous",
        link: "/auth/expenses/comments",
      },
      {
          text: "Delete claim",
          link: "#open-delete-claim-modal"
        },
        {
          text: "Save and exit",
          id: "save-exit-button",
          link: "/auth/claim?state=claim-saved-success",
          modifiers: ["floated"]
        },
        {
          text: "Submit",
          id: "save-next-button",
          link: "/auth/expenses/submitted",
          modifiers: ["primary", "floated"]
        }
      ]
    }) %>


<%- include(templates+"footer") %>