<div id="state-switcher">
  <h3>State switcher</h3>

  <%- include(partials+"components/form-partials/radio", {
    label: "Primary condition ACT",
    boxes: [
      "VEA",
      "MRCA/DRCA"
    ],
    id: "act"
  }); %>

  <%- include(partials+"components/form-partials/radio", {
    label: "Gold card holder?",
    boxes: [
      "No",
      "Yes - VEA or MRCA",
      "Yes - multi-act"
    ],
    id: "gold-card"
  }); %>

  <%- include(partials+"components/form-partials/checkbox", {
    boxes: [
      "Not first expense"
    ],
    id: "first-expense",
    customClass: "margin-below--none"
  }); %>

</div>

<script>

  var act = "vea";

  $(document).ready(function () {
    $(document).keypress(function (e) {
      switch (e.which) {
        case 96: //tilda
          $('#state-switcher').toggle();
          break;
        default:
      }
    });

    $("#act-1").prop("checked", true);
    $("#gold-card-1").prop("checked", true);

    $('input[name=act]').change(function () {
      act = $(this).val();
      stateSwitcher();
    });

    $('input[name=gold-card]').change(function () {
      myVal = $(this).val();
      $("#condition-container").hide();
      switch ( myVal ) {
        case "no":
          $("#condition-container").show();
          break;
        case "yesveaormrca":
          break;
        case "yesmultiact":
        $("#condition-container").show();
          break;
        default:
          break;
      }
    });

    $('#first-expense-1').change(function () {
      updateFirstExpense();
    });

    function updateFirstExpense() {
      var myStatus = $("#first-expense-1").is(":checked");
      if (myStatus) {
        $("#use-previous-container").show();
        $(".first-expense").hide();
      } else {
        $("#use-previous-container").hide();
        $(".first-expense").show();
      }
    }

  });

</script>