<% var links = 
[
  { text: "Form Partials", link: "index"},
  { text: "FAQs", link: "faqs"},
]; 
%>
<div class="col-sm-3">
  <nav id="nav" class="local-nav" aria-label="category navigation" aria-hidden="false">
    <ul id="sidenav">
      <%- links.map((link, i) => `<li><a href="${link.link}">${link.text}</a></li>`).join(''); %>
    </ul>
  </nav>
</div>


<script>
  $(document).ready(function () {
    var url = window.location;
    var element = $('ul#sidenav a').filter(function () {
      return this.href == url || url.href.indexOf(this.href) == 0;
    }).parent().addClass('is-active');
    if (element.is('li')) {
      element.addClass('is-active').parent().parent('li').addClass('is-active')
    }
  });
</script>
