    
      </div>
    </div>
  </main>

  <footer class="uikit-footer uikit-footer--gradient" role="contentinfo">
    <div class="container" style="margin-bottom:50px;">
      <%#- include(partials+"components/go-to-top") %>
      <div class="row">
        <a href="http://www.dva.gov.au/" style="border-bottom:0px;">
          <img src="/docs/images/logo-dva-black.svg" alt="Department of Veterans' Affairs logo" width="300" align="left">
        </a>
        <section class="uikit-footer__end">
          <ul class="uikit-link-list uikit-link-list--inline floated">
            <li>
              <a href="https://myservice-disco.herokuapp.com/" rel="external">See the prototype</a>
            </li>
            <li>
              <a href="https://github.com/AusDVA/myservice-prototype" rel="external">Find us on GitHub</a>
            </li>
            <li>
              <a href="http://www.dva.gov.au/" rel="external">
                <strong>Department of Veterans' Affairs</strong>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
    $(".accordion").on("click", ".accordion-button", function () {
      if ($(this).hasClass("rotate-90")) {
        $(this).removeClass("rotate-90");
      } else {
        $(this).addClass("rotate-90");
      }

      $(this).parent().find(".accordion-content").toggle();
    });
  </script>
</body>


</html>