<footer class="uikit-footer uikit-footer--gradient" role="contentinfo">
	<div class="container">
		<% include go-to-top.ejs %>
		<div class="row">
			<section class="uikit-footer__end">
				<div class="row">
					<div class="col-sm-4">
						<img src="docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo">
					</div>
					<div class="col-sm-8">
						<ul class="uikit-link-list uikit-link-list--inline">
							<li><a class="external-link" href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a></li>
							<li><a class="external-link" href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a></li>
							<li><a class="external-link" href="http://www.dva.gov.au/site-information/copyright">Copyright</a></li>
							<li><a href="/terms-and-conditions">Terms of use</a></li>
							<li><a class="external-link" href="http://www.dva.gov.au/"><strong>Department of Veterans' Affairs</strong></a></li>
							<li class="mobile-only"><a href="javascript:void(0);">Feedback</a></li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</div>
</footer>

<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script src="/docs/js/zingtouch.min.js"></script>
<script src="/docs/js/main.js"></script>
<script>

	// Swap text on top panel accordion button
	var open = false;
	$( ".uikit-accordion__title" ).click(function() {
		open = !open;
		if (open){
			$( ".accordion-toppanel-btn" ).text("Close");
		}
		else {
			$( ".accordion-toppanel-btn" ).text("24hr counselling and support services");
		}

		$(".uikit-accordion").toggleClass("accordion-open");
		$(".uikit-accordion").toggleClass("accordion-closed");
	});


	// Mobile navigation menu
	var toggle = document.querySelector('.toggle');
	var menu = document.querySelector('.menu');
	var menuItems = document.querySelectorAll('.menu li a');

	if (toggle != null) {
		toggle.addEventListener('click', function(){
		  if (menu.classList.contains('is-active')) {
		  	toggle.classList.remove('menu-closed');
		    this.setAttribute('aria-expanded', 'false');
		    menu.classList.remove('is-active');
		  } else {
			  toggle.classList.add('menu-closed');
		    menu.classList.add('is-active');
		    this.setAttribute('aria-expanded', 'true');
		    //menuItems[0].focus();
		  }
		});
	}

	// Close any toast messages
  $( ".message-close" ).click(function() {
    $(".container-toast").hide("fast");
  });

	// Needed for the "Back to Top" functionality
	$(window).scroll(function() {
		if ($(this).scrollTop() >= 50) {        		// If page is scrolled more than 50px
			$('#return-to-top').addClass('visible');    // Fade in the arrow
		} else {
			$('#return-to-top').removeClass('visible'); // Else fade out the arrow
		}
	});

	$('#return-to-top').click(function() {				// When arrow is clicked
		$('body,html').animate({
			scrollTop : 0                       				// Scroll to top of body
		}, 500);
		// hack to reset focus to top of page
		document.body.setAttribute('tabindex','0');
		document.body.focus();
		document.body.removeAttribute('tabindex');
	});
</script>
