<footer class="uikit-footer uikit-footer--gradient" role="contentinfo">			
	<div class="container">
	<!-- Counselling in footer
		<div class="row">
			<div class="col-xs-12"><h3>24hr confidential counselling and support</h3></div>
		</div>
		<div class="row support-box">
			<div class="col-xs-12 col-sm-6 col-md-3"><a href="http://www.vvcs.gov.au/"><img src="../../docs/images/logo-vvcs.png"><span class="external-link">Veterans and Veterans Families Counselling Service</span></a><br><strong>1800&nbsp;011&nbsp;046</strong></div>
			<div class="col-xs-12 col-sm-6 col-md-3"><a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp"><img src="../../docs/images/logo-defence.png"><span class="external-link">ADF Mental Health All Hours Support Line</span></a><br><strong>1800&nbsp;628&nbsp;036</strong></div>
			<div class="col-xs-12 col-sm-6 col-md-3"><a href="https://www.lifeline.org.au/"><img src="../../docs/images/logo-lifeline.png"><span class="external-link">Lifeline</span></a><br><strong>13&nbsp;11&nbsp;14</strong></div>
			<div class="col-xs-12 col-sm-6 col-md-3"><a href="https://www.1800respect.org.au"><img src="../../docs/images/logo-1800respect.png"><span class="external-link">National Sexual Assault, Domestic and Family Violence Counselling Service</span></a><br><strong>1800&nbsp;737&nbsp;732</strong></div>
		</div>
		-->
		<div class="row">
			<!-- Counselling in footer
			<hr>
			-->
			<section class="uikit-footer__end">
				<ul class="uikit-link-list uikit-link-list--inline">
					<li><a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a></li>
					<li><a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a></li>
					<li><a href="http://www.dva.gov.au/site-information/copyright">Copyright</a></li>
					<li><a href="/terms-and-conditions">Terms of use</a></li>
				</ul>
				<ul class="uikit-link-list floated">
					<li><a href="http://www.dva.gov.au/"><span class="external-link"><strong>Department of Veterans' Affairs</strong></span></a></li>
				</ul>
			</section>
		</div>
	</div>
</footer>
<script src="/src/sass/@gov.au/animate/lib/js/module.js"></script>
<script src="/src/sass/@gov.au/accordion/lib/js/jquery.js"></script>
<script src="/src/sass/@gov.au/accordion/lib/js/module.js"></script>
<script>
// Swap text on top panel accordion button
$( ".accordion-toppanel-btn" ).click(function() {
	$( ".accordion-toppanel-btn--text" ).toggle("fast");
	$( ".accordion-toppanel-btn--close" ).toggle("fast");
});
</script>