<footer class="uikit-footer" role="contentinfo">
    <div class="container">
      <section class="uikit-footer__end">
        <div class="row">
          <div class="col-sm-8">
            <ul>
              <li><a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a></li>
              <li><a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a></li>
              <li><a href="http://www.dva.gov.au/site-information/copyright">Copyright</a></li>
              <li><a href="https://ausdva.github.io/myservice-alpha/sprint-06/index.html#TermsAndUseScreen">Terms and use</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <p class="floated"><a href="http://www.dva.gov.au/">Department of Veterans' Affairs</a></p>
          </div>
        </div>
      </section>
    </div>
  </footer>