<footer class="uikit-footer uikit-footer--gradient" role="contentinfo">
    <div class="container">
      <section class="uikit-footer__end">

            <ul class="uikit-link-list uikit-link-list--inline">
              <li><a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a></li>
              <li><a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a></li>
              <li><a href="http://www.dva.gov.au/site-information/copyright">Copyright</a></li>
              <li><a href="/terms-and-conditions">Terms and use</a></li>
            </ul>

           <ul class="uikit-link-list uikit-link-list--inline floated">
           <li><a href="http://www.dva.gov.au/"><span class="external-link"><strong>Department of Veterans' Affairs</strong></span></a></li>
		   </ul>

      </section>
    </div>
  </footer>