<footer class="uikit-footer uikit-footer--gradient" role="contentinfo">			
	<div class="container">
		<div class="row">
			<section class="uikit-footer__end">
				<ul class="uikit-link-list uikit-link-list--inline">
					<li><a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a></li>
					<li><a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a></li>
					<li><a href="http://www.dva.gov.au/site-information/copyright">Copyright</a></li>
					<li><a href="/terms-and-conditions">Terms of use</a></li>
				</ul>
				<ul class="uikit-link-list floated">
					<li><a href="http://www.dva.gov.au/"><span class="external-link"><strong>Department of Veterans' Affairs</strong></span></a></li>
				</ul>
			</section>
		</div>
	</div>
</footer>
<script src="/src/sass/@gov.au/animate/lib/js/module.js"></script>
<script src="/src/sass/@gov.au/accordion/lib/js/jquery.js"></script>
<script src="/src/sass/@gov.au/accordion/lib/js/module.js"></script>
<script>
// Swap text on top panel accordion button
$( ".accordion-toppanel-btn" ).click(function() {
	$( ".accordion-toppanel-btn--text" ).toggle("fast");
	$( ".accordion-toppanel-btn--close" ).toggle("fast");
});
</script>