<footer class="uikit-footer" role="contentinfo">
	<div class="container ">
		<div class="row">
			<div class="col-xs-12"><h3>24hr confidential counselling and support</h3></div>
		</div>
		<div class="row support-box">
			<div class="col-xs-12 col-sm-6 col-md-3"><img src="../../docs/images/logo-vvcs.png"><strong>1800&nbsp;011&nbsp;046</strong><br><a href="http://www.vvcs.gov.au/">Veterans and Veterans Families Counselling Service</a></div>
			<div class="col-xs-12 col-sm-6 col-md-3"><img src="../../docs/images/logo-defence.png"><strong>1800&nbsp;628&nbsp;036</strong><br><a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">ADF Mental Health All Hours Support Line</a></div>
			<div class="col-xs-12 col-sm-6 col-md-3"><img src="../../docs/images/logo-lifeline.png"><strong>13&nbsp;11&nbsp;14</strong><br><a href="https://www.lifeline.org.au/">Lifeline</a></div>
			<div class="col-xs-12 col-sm-6 col-md-3"><img src="../../docs/images/logo-1800respect.png"><strong>1800&nbsp;737&nbsp;732</strong><br><a href="https://www.1800respect.org.au">National Sexual Assault, Domestic and Family Violence Counselling Service</a></div>
		</div>
		<div class="row">
			<hr>
			<section class="uikit-footer__end">
				<ul class="uikit-link-list uikit-link-list--inline">
					<li><a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a></li>
					<li><a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a></li>
					<li><a href="http://www.dva.gov.au/site-information/copyright">Copyright</a></li>
					<li><a href="/terms-and-conditions">Terms of use</a></li>
				</ul>
				<ul class="uikit-link-list floated">
					<li><a href="http://www.dva.gov.au/"><span class="external-link"><strong>Department of Veterans' Affairs</strong></span></a></li>
				</ul>
			</section>
		</div>
	</div>
</footer>