<label class="uikit-text-input__label" id="question_gender">
  Gender</label>
<div class="radio-toggle">
  <label class="on label-left" for="gender-male">
    <input id="gender-male" name="gender" type="radio">
    <span>Male</span>
  </label>
  <label class="off label-right" for="gender-female">
    <input id="gender-female" name="gender" type="radio">
    <span>Female</span>
  </label>
</div>
<div class="tooltip-container">
  <div class="tooltip hidden" aria-labelledby="tooltip__content1" role="alertdialog" id="tooltip1" aria-describedby="dialogtext"
    aria-hidden="true">
    <div class="tooltip__body">
      <a class="modal-close" href="#" id="closebtn1">Close</a>
      <div class="tooltip__content" id="tooltip__content1">Currently, our system only allows us to record the student's gender as male or female. If they don't identify as either,
        you can discuss this with a DVA staff member on 1800 555 254.
      </div>
    </div>
  </div>
  <span>
    <a href="#closebtn" class="tooltip__trigger" name="tooltip1" id="tooltip-associate1" title="More information" style="border-bottom: none;">
      <span class="tooltip__trigger-icon"></span>
      <span class="tooltip__trigger-marker hidden"></span>
    </a>
  </span>
</div>