<header class="uikit-header">
  <div class="container">
    <!-- <a class="nounderline" href="/auth">
      <img class="logo-myservice" src="../../../docs/images/myservice-chevrons.svg" alt="Auth link - MyService beta - logo" />
    </a> -->
    <button class="toggle" aria-expanded="false">Menu</button>
    <ul class="menu">
      <li>
        <a class="new-menu-item-styling <% if (!!locals.main_nav_active && locals.main_nav_active === 'home') { %>nav-active<% } %> st7" href="index-claims">Home</a>
      </li>
      <li>
        <a class="new-menu-item-styling  <% if (!!locals.main_nav_active && locals.main_nav_active === 'profile') { %>nav-active<% } %> st7" href="/profile">About
          Me</a>
      </li>
      <li>
        <a class="new-menu-item-styling  <% if (!!locals.main_nav_active && locals.main_nav_active === 'claims') { %>nav-active<% } %> st7" href="claims">Claims</a>
      </li>
      <li>
        <a class="new-menu-item-styling  <% if (!!locals.main_nav_active && locals.main_nav_active === 'healthcard') { %>nav-active<% } %> st7" href="/healthcard-home">Cards</a>
      </li>
      <li>
        <a class="new-menu-item-styling  <% if (!!locals.main_nav_active && locals.main_nav_active === 'travel') { %>nav-active<% } %> st7" href="/travel-home">Payments</a>
      </li>
      <li>
        <a class="new-menu-item-styling  <% if (!!locals.main_nav_active && locals.main_nav_active === 'travel') { %>nav-active<% } %> st7" href="/travel-home">Transport</a>
      </li>

    </ul>
  </div>
</header>