<header class="uikit-header landing-page">
	<div class="container">
		<h1 class="sr">MyService <sup>Beta</sup></h1>
		<img src="docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" />
		<img class="logo-myservice" src="../../../docs/images/logo-myservice-reversed.svg" alt="MyService logo" />
	</div>
</header>