<header class="uikit-header">
  <div class="container">
    <a class="nounderline" href="/auth">
      <img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="Auth link - MyService beta - logo" />
    </a>
    <button class="toggle" aria-expanded="false">Menu</button>
    <ul class="menu">
      <li>
        <a class="nav-icon <% if (!!locals.main_nav_active && locals.main_nav_active === 'home' ) { %>nav-active<% } %>" href="index-claims"><span class="fal fa-home fa-nav-icon"></span><BR />Home</a>
      </li>
      <li>
        <a class="nav-icon <% if (!!locals.main_nav_active && locals.main_nav_active === 'claims' ) { %>nav-active<% } %>" href="claims"><span class="fal fa-file-edit fa-nav-icon"></span><BR />Claims</a>
      </li>
      <li>
        <a style="padding: 1em .85em 0 .85em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active==='home' ) { %>nav-active
          <% } %>" href="payments"><span class="fal fa-calendar-check"></span><BR />Payments</a>
      </li>
      <li>
        <a style="padding: 1em .85em 0 .85em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active==='home' ) { %>nav-active
          <% } %>" href="healthcard-home"><span class="fal fa-money-check" style="font-size: 2em; color: #ffffff; vertical-align: -9%;"></span><BR />Cards</a>
      </li>
      <li>
        <a style="padding: 1em .85em 0 .85em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active==='home' ) { %>nav-active
          <% } %>" href="travel-home"><span class="fal fa-car-side" style="font-size: 2em; color: #ffffff; vertical-align: -10%;"></span><BR />Transport</a>
      </li>
      <li>
        <a style="padding: 1em .75em 0 .75em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active==='home' ) { %>nav-active
          <% } %>" href="profile"><span class="fal fa-user-circle" style="font-size: 2em; color: #ffffff; vertical-align: -8%;"></span><BR />My profile</a>
      </li>
      <li>
        <a style="padding: 1em .75em 0 .75em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active==='home' ) { %>nav-active
          <% } %>" href="#open-myaccount-modal"><span class="fal fa-exchange" style="font-size: 2em; color: #ffffff; vertical-align: -5%;"></span><BR />MyAccount</a>
      </li>
    </ul>
  </div>
</header>