<header class="uikit-header">
	<div class="container">
		<h1><a href="index-claims">MyService<sup class="beta large">Beta</sup></a></h1>
		<button class="toggle" aria-expanded="false">Menu</button>
		<ul class="menu">
			<li><a class="header-home" href="index-claims">Home</a></li>
			<li><a class="header-profile nav-active" href="/profile">My profile</a></li>
		</ul>
	</div>
</header>