<header class="uikit-header landing-page">
	<div class="container">
		<img src="docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" style="border-right:0px" />
	</div>
</header>