<header class="uikit-header">
    <div class="container">
        <a class="nounderline" href="/auth">
      <img class="logo-myservice" src="../../../docs/images/logo-myservice-chevron-only.svg" alt="Auth link - MyService beta - logo" />
    </a>
        <button class="toggle" aria-expanded="false">Menu</button>
        <ul class="menu">
            <li>
                <a style="padding: 1em .85em 0 .85em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active === 'home') { %>nav-active<% } %>" href="index-claims"><icon class="fal fa-home" style="font-size: 2em; color: #ffffff; vertical-align: -10%;"></icon><BR/>Home</a>
            </li>
            <li>
                <a style="padding: 1em .85em 0 .85em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active === 'home') { %>nav-active<% } %>" href="claims"><icon class="fal fa-file-edit" style="font-size: 2em; color: #ffffff; vertical-align: -3%;"></icon><BR/>Claims</a>
            </li>
            <li>
                <a style="padding: 1em .85em 0 .85em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active === 'home') { %>nav-active<% } %>" href="healthcard-home"><icon class="fal fa-money-check" style="font-size: 2em; color: #ffffff; vertical-align: -9%;"></icon><BR/>Card</a>
            </li>
            <li>
                <a style="padding: 1em .85em 0 .85em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active === 'home') { %>nav-active<% } %>" href="travel-home"><icon class="fal fa-car-side" style="font-size: 2em; color: #ffffff; vertical-align: -10%;"></icon><BR/>Transport</a>
            </li>
            <li>
               <a style="padding: 1em .75em 0 .75em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active === 'home') { %>nav-active<% } %>" href="profile"><icon class="fal fa-user-circle" style="font-size: 2em; color: #ffffff; vertical-align: -8%;"></icon><BR/>My profile</a>
            </li>
            <li>
               <a style="padding: 1em .75em 0 .75em !important; margin: 0; line-height: 1.7em;" <% if (!!locals.main_nav_active && locals.main_nav_active === 'home') { %>nav-active<% } %>" href="#open-myaccount-modal"><icon class="fal fa-exchange" style="font-size: 2em; color: #ffffff; vertical-align: -5%;"></icon><BR/>MyAccount</a>
            </li>
        </ul>
    </div>
</header>