<div class="accordion-toppanel--wrapper">
  <div class="container">
    <section class="uikit-accordion accordion-closed">
      <div aria-hidden="true" class="uikit-accordion__body" id="accordion1">
        <div class="uikit-accordion__body-wrapper accordion-toppanel-body">
          <div class="row support-box">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="http://www.vvcs.gov.au/" target="_blank"><img src="build/images/logo-vvcs-reversed.png"><span class="external-link">Veterans and Veterans Families Counselling Service</span></a><br>
              <strong>1800&nbsp;011&nbsp;046</strong>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp" target="_blank"><img src="build/images/logo-defence-reversed.png"><span class="external-link">ADF Mental Health All Hours Support Line</span></a><br>
              <strong>1800&nbsp;628&nbsp;036</strong>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="https://www.lifeline.org.au/" target="_blank"><img src="build/images/logo-lifeline-reversed.png"><span class="external-link">Lifeline</span></a><br>
              <strong>13&nbsp;11&nbsp;14</strong>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <a href="https://www.1800respect.org.au" target="_blank"><img src="build/images/logo-1800respect-reversed.png"><span class="external-link">National Sexual Assault, Domestic and Family Violence Counselling Service</span></a><br>
              <strong>1800&nbsp;737&nbsp;732</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="trial-message">
        <!-- react-text: 34 -->This is a trial. Please provide <!-- /react-text --><a href="javascript:void(0);">feedback</a>
      </div>
      <div class="topbar-controls">
        <a aria-controls="accordion1" aria-expanded="false" aria-selected="false" class="uikit-accordion__title js-uikit-accordion accordion-toppanel-btn" href="javascript:void(0);" role="tab">24hr counselling and support services</a><a class="logout" href="javascript:void(0);">Log in</a>
      </div>
    </section>
  </div>
</div>