<header class="uikit-header landing-page">
	<div class="container">
		<img src="docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo" />
		<h1>MyService<sup class="beta large">Beta</sup></h1>
	</div>
</header>