<div class="accordion-toppanel--wrapper">
	<div class="container">
	<section class="uikit-accordion accordion-toppanel">
	
		<div class="uikit-accordion__body uikit-accordion--closed" id="accordion-closed" aria-hidden="true">
			<div class="uikit-accordion__body-wrapper accordion-toppanel-body">
				<div class="row support-box">
					<div class="col-xs-12 col-sm-6 col-md-3"><a href="http://www.vvcs.gov.au/"><img src="../../docs/images/logo-vvcs.png"><span class="external-link">Veterans and Veterans Families Counselling Service</span></a><br><strong>1800&nbsp;011&nbsp;046</strong></div>
					<div class="col-xs-12 col-sm-6 col-md-3"><a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp"><img src="../../docs/images/logo-defence.png"><span class="external-link">ADF Mental Health All Hours Support Line</span></a><br><strong>1800&nbsp;628&nbsp;036</strong></div>
					<div class="col-xs-12 col-sm-6 col-md-3"><a href="https://www.lifeline.org.au/"><img src="../../docs/images/logo-lifeline.png"><span class="external-link">Lifeline</span></a><br><strong>13&nbsp;11&nbsp;14</strong></div>
					<div class="col-xs-12 col-sm-6 col-md-3"><a href="https://www.1800respect.org.au"><img src="../../docs/images/logo-1800respect.png"><span class="external-link">National Sexual Assault, Domestic and Family Violence Counselling Service</span></a><br><strong>1800&nbsp;737&nbsp;732</strong></div>
				</div>
			</div>
		</div>
		
		<a href="#accordion-closed" class="uikit-accordion__title uikit-accordion--closed js-uikit-accordion accordion-toppanel-btn" aria-controls="accordion-closed" aria-expanded="false" aria-selected="false" role="tab" onclick="return UIKIT.accordion.Toggle( this )">24hr counselling and support services</a>
		
	</section>
	</div>
</div>


