<!-- <div class="accordion-toppanel--wrapper">
  <div class="container">
    <section class="uikit-accordion accordion-closed">
      <div class="trial-message">
        <a href="javascript:void(0);">feedback</a>
      </div>
      <div class="topbar-controls">
        <a aria-controls="accordion" aria-expanded="false" aria-selected="false" class="uikit-accordion__title js-uikit-accordion accordion-toppanel-btn" href="javascript:void(0);" role="tab">

          <span class="screen-text-above-zero">
            24hr support services
          </span>
          <span class="screen-text-above-xs">
            24hr counselling and support services
          </span>
        </a>
        <a class="login-mygov" href="https://my.gov.au/mygov#/">

          <span class="sr">myGov</span>
        </a>
        <a class="logout" href="/">
          <span class="logout__text">Log out</span>

        </a>
      </div>
      <div aria-hidden="true" class="uikit-accordion__body" id="accordion">
        <div class="uikit-accordion__body-wrapper accordion-toppanel-body">


          <div class="mys-support-services">
            <div class="mys-support-services__service">
              <h3 class="screen-text-above-zero">24hr counselling and support services</h3>
              <a href="http://www.vvcs.gov.au/" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-vvcs-reversed.png">
                <span class="external-link external-link-white">Open Arms – Veterans and Families Counselling</span>
              </a>
              <br>
              <a href="tel:1800011046">
                <strong>1800&nbsp;011&nbsp;046</strong>
              </a>
              <br>
              <a href="https://www.facebook.com/VVCSsupport/" target="_blank">
                <img src="/docs/images/ico-facebook-white.svg" style="height:15px;padding-right:0.6em;padding-top:4px" align="left">Find us on Facebook</a>
              <br>
            </div>
            <div class="mys-support-services__service">
              <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-defence-reversed.png">
                <span class="external-link external-link-white">ADF Mental Health All Hours Support Line</span>
              </a>
              <br>
              <a href="tel:1800628036">
                <strong>1800&nbsp;628&nbsp;036</strong>
              </a>
            </div>
            <div class="mys-support-services__service">
              <a href="https://www.lifeline.org.au/" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-lifeline-reversed.png">
                <span class="external-link external-link-white">Lifeline</span>
              </a>
              <br>
              <a href="tel:131114">
                <strong>13&nbsp;11&nbsp;14</strong>
              </a>
            </div>
            <div class="mys-support-services__service">
              <a href="https://www.1800respect.org.au" target="_blank">
                <img class="mys-support-services__logo" src="/docs/images/logo-1800respect-reversed.png">
                <span class="external-link external-link-white">National Sexual Assault, Domestic and Family Violence Counselling Service</span>
              </a>
              <br>
              <a href="tel:1800737732">
                <strong>1800&nbsp;737&nbsp;732</strong>
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div> -->

<!-- <div class="authenticated-home section-feature section-feature--bg padding-above--extra padding-below--extra"> -->
<div class="authenticated-home padding-above--extra padding-below--extra">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-7">
          <h2>Recent activity</h2>

          <table class="table-claims table-responsive margin-below--none">
            <tbody><tr>
              <td>
                <p class="status-icon status-approved">Your application for a Veteran Card was approved <span><em>– 12 Dec 2018</em>
                  </span>
                </p>
              </td>

            </tr>
            <tr>
              <td>
                <p class="status-icon status-approved">
                  Your claim for Mental health treatment (NLHC) was approved <span><em>– 12 Dec 2018</em></span>
                </p>
              </td>

            </tr>
            <tr>
              <td>
                <p class="status-icon status-submitted">
                  Your Initial Liability claim for <b>Lumbar Spondylosis</b> was submitted <span><em>– 27 April 2018</em></span>
                </p>
              </td>

            </tr>
          </tbody></table>

          <button class="uikit-btn uikit-btn--tertiary small margin-above margin-below--large">See my claims</button>

        </div> -->
      <!-- <div class="col-md-5 widget-mini">
          <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-12">
                <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
                  <div class="row">
                    <div class="col-xs-2 col-sm-3 col-md-2">
                      <img src="../../../docs/images/ico-transport-blue.svg" class="margin-above--mid">
                    </div>
                    <div class="col-xs-10 col-sm-9 col-md-10">
                      <h2>Transport</h2>
                      <button class="uikit-btn uikit-btn--tertiary small margin-below--large">Seek reimbursement</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-12 widget-mini--stacked">
                <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
                  <div class="row">
                    <div class="col-xs-2 col-sm-3 col-md-2">
                      <img src="../../../docs/images/ico-payment-blue.svg" class="margin-above--mid">
                    </div>
                    <div class="col-xs-10 col-sm-9 col-md-10">
                      <h2>Payments</h2>
                      <p class="margin-below--mid">Your next payment amount of <b>$638.64</b> will be paid on Tuesday 22
                        January, 2019</p>
                      <button class="uikit-btn uikit-btn--tertiary small margin-below">Manage my payments</button>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>  -->

    </div>
  </div>
</div>