<div id="help-button" class="btn-panel-help" style="display: none;"><a href="#" class="uikit-btn uikit-btn--help panel-btn">Help</a></div>
<div id="help-panel" class="panel from-right" style="display: none;">
  <div id="help-panel-header" class="panel-header">
    <h2>Help</h2>
    <a href="#" class="panel-close">Close</a>
  </div>
  <div id="help-panel-container" class="panel-container">
    <div id="help-panel-content" class="panel-content">
      <form>
        <h2><span class="font-weight-heavy">We can help you with your claim or other&nbsp;DVA&nbsp;questions</span></h2>

        <h3>Give us a call <span class="hint display-block">Monday to Friday, 9am to 5pm AEDST.<br>Phone us: <a href="tel:0262894724">(02) 62894724</a></span></h3>

        <h3>Send us an email <span class="hint display-block">We will endeavour to reply to your email within one working day.<br>Email us: <a href="mailto:myservicesupport@dva.gov.au">myservicesupport@dva.gov.au</a></span></h3>

        <div class="strike">
          <span class="strike__text">or</span>
        </div>

        <h3>Request a call back <span class="hint display-block">All fields are required unless marked (optional)</span></h3>
        <div class="form-group unauthenticated">
          <label uikit-text-input__label>Name</label>
          <input type="text" class="uikit-text-input" value>
        </div>
        <div class="form-group unauthenticated">
          <label uikit-text-input__label>DVA file number <span class="hint display-block">(optional)</span></label>
          <input type="text" class="uikit-text-input" value>
        </div>
        <div class="form-group">
          <label uikit-text-input__label>Phone number
            <span class="hint display-block">Include your area code (for example, '03' for Victoria)</span></label>
          <input type="phone" class="uikit-text-input" value>
        </div>
        <div class="form-group">
          <label class="uikit-text-input__label">Tell us about your enquiry <span class="hint">(optional)</span></label>
          <textarea rows="5"></textarea>
        </div>
        <button class="uikit-btn small send">Send</button>
      </form>

    </div>
  </div>
</div>

<div id="help-submitted" class="toast-container" style="display: none;">
  <button class="uikit-btn toast" role="alert" type="button">
    <div class="toast__type toast__type--success">
      <span class="sr">Success</span>
    </div>
    <div class="toast__message">
      <p>Thank you for submitting your enquiry. A DVA staff member will call you back within 2 business days.</p>
    </div>
  </button>
</div>

<script>
  var authDataAttr = document.documentElement.dataset.auth;
  var authenticated = authDataAttr && authDataAttr === 'false' ? false : true;

  function showPanel(pEvent) {
    event.preventDefault();
    panel.classList.add('is-visible');
  }

  function hidePanel(pEvent) {
    event.preventDefault();

    var target = pEvent.target;
    if (target === panel || target === close) {
      panel.classList.remove('is-visible');
    }
  }

  var panel = document.getElementById('help-panel');
  panel.addEventListener('click', hidePanel);

  var trigger = document.getElementById('help-button');
  trigger.addEventListener('click', showPanel);

  var close = panel.getElementsByClassName('panel-close')[0];
  var send = panel.getElementsByClassName('send')[0];
  var unauthenticated = panel.getElementsByClassName('unauthenticated');

  send.addEventListener('mouseup', function (pEvent) {
    setTimeout(function () {
      panel.classList.remove('is-visible');

      var toastClone = toast.cloneNode(true);
      toastClone.removeAttribute('id');

      toastClone.addEventListener('click', function () {
        toastClone.parentElement.removeChild(toastClone);
      })

      setTimeout(function () {
        body.insertBefore(toastClone, body.firstElementChild);
      }, 1000);
    }, 300);
  })

  var toast = document.getElementById('help-submitted');
  var body = document.getElementsByTagName('body')[0];

  body.insertBefore(panel, body.firstElementChild);
  body.insertBefore(trigger, body.firstElementChild);

  toast.parentElement.removeChild(toast);

  panel.style.display = '';
  trigger.style.display = '';
  toast.style.display = '';
  if (authenticated) {
    Array.prototype.forEach.call(unauthenticated, function (pElement) {
      pElement.style.display = 'none';
    })
  }
</script>