<ul class="menu">
	<li><a class="nav-home nav-active" href="auth">Home</a></li>
	<li><a class="nav-claims" href="claims">Claims</a></li>
	<li><a class="nav-health-card" href="health-card">Health card</a></li>
	<li><a class="nav-contact" href="contact">Support and contact</a></li>
	<li><a class="nav-profile" href="profile">Profile</a>
</ul>
