<ul class="menu">
	<li><a class="nav-home" href="auth">Home</a></li>
	<li><a class="nav-claims nav-active" href="claims">Claims</a></li>
	<li><a class="nav-health-card" href="health-card">Health card</a></li>
	<li><a class="nav-contact" href="contact">Support and contact</a></li>
	<li class="has-children"><a class="nav-profile" href="profile">Profile</a>
		<!--ul>
			<li><a href="profile">Personal details</a></li>
			<li><a href="profile-contact">Contact details</a></li>
			<li><a href="profile-account">Account settings</a></li>
			<li><a href="profile-history">Service history</a></li>
			<li><a href="profile-assets">Income and assets</a></li>
		</ul-->
	</li>
</ul>
