<div class="addressAustralia ">
  <div class="form-group">
    <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
    <select class="uikit-text-input input-half countryPostal" name="addressCountry">
      <option value="Australia" selected>Australia</option>
      <option value="NZ">New Zealand</option>
    </select>
  </div>
  <div class="form-group">
    <div class="field">
      <label class="uikit-text-input__label" for="residentialAddr.addressPrefix">
        Building name or address prefix
        <span class="hint">(optional)
        </span>
      </label>
      <input type="text" id="residentialAddr.addressPrefix" name="residentialAddr.addressPrefix" class="uikit-text-input" aria-required="false"
        maxlength="38" value="">
    </div>
  </div>
  <div class="form-group">
    <label class="uikit-text-input__label" for="addressLine1">Address line 1</label>
    <input class="uikit-text-input" id="addressLine1" name="addressLine1" type="text" value="">
  </div>
  <div class="form-group">
    <label class="uikit-text-input__label" for="addressLine2">Address line 2
      <span class="hint">(optional)</span>
    </label>
    <input class="uikit-text-input" id="addressLine2" name="addressLine2" type="text" value="">
  </div>
  <div class="form-group row">
    <div class="col-sm-4 col-xs-12">
      <label class="uikit-text-input__label" for="addressTown">Suburb or town</label>
      <input class="uikit-text-input" id="addressTown" name="addressTown" type="text" value="">
    </div>
    <div class="col-sm-4 col-xs-12">
      <label class="uikit-text-input__label" for="addressPostcode">Postcode
      </label>
      <input class="uikit-text-input input-small yyyy" id="addressPostcode" maxlength="4" name="addressPostcode" type="text" value="">
    </div>
  </div>

  <div class="form-group addressInAusPostal">
    <label class="uikit-text-input__label" for="addressState">State or territory</label>
    <select class="uikit-text-input input-half" id="addressState" name="addressState">
      <option> -- Select state or territory -- </option>
      <option> Australian Capital Territory </option>
      <option> New South Wales </option>
      <option> Northern Territory </option>
      <option> Queensland </option>
      <option> South Australia </option>
      <option> Tasmania </option>
      <option> Victoria </option>
      <option> Western Australia </option>
    </select>
  </div>
</div>



<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
  $(".countryPostal").change(function () {
    if ($('.countryPostal :selected').val() == "Australia") {
      $(".addressInAusPostal").show();
    } else {
      $(".addressInAusPostal").hide();
    }
  });

  $(".countryResidential").change(function () {
    if ($('.countryResidential :selected').val() == "Australia") {
      $(".addressInAusRes").show();
    } else {
      $(".addressInAusRes").hide();

    }
  });


</script>