<div class="provisional-state">
  <div class="container provisional-state-container">
    <div class="provisional-state-item"><img class="provisional-state__icon" src="../../docs/images/ico-padlock.svg"></div>
    <div class="">
      <h3>You're account is not quite ready.
        <span class="hint display-block">The things we already know about you have not been linked to this new account yet.</span></h3>
    </div>
  </div>
</div>