<div class="form-group">
  <label class="uikit-control-input">
    <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked>
    <span class="uikit-control-input__text">Same as postal address</span>
  </label>
</div>

<div class="pt-showIfAdditionalAddress">
  <div class="form-group">
    <label class="uikit-text-input__label" for="postalAddr.country">Country</label>
    <select class="uikit-text-input input-half countryResidential" name="addressCountry">
      <option value="Australia" selected>Australia</option>
      <option value="NZ">New Zealand</option>
    </select>
  </div>

  <div class="addressAustralia">
    <div class="form-group">
      <div class="field">
        <label class="uikit-text-input__label" for="residentialAddr.addressPrefix">
          Building name or address prefix
          <span class="hint">(optional)
          </span>
        </label>
        <input type="text" id="residentialAddr.addressPrefix" name="residentialAddr.addressPrefix" class="uikit-text-input" aria-required="false"
          maxlength="38" value="">
      </div>
    </div>
    <div class="form-group">
      <label class="uikit-text-input__label" for="postalAddressLine1">Address line 1</label>
      <input class="uikit-text-input" id="postalAddressLine1" name="postalAddressLine1" type="text" value="">
    </div>
    <div class="form-group">
      <label class="uikit-text-input__label" for="postalAddressLine2">Address line 2
        <span class="hint">(optional)</span>
      </label>
      <input class="uikit-text-input" id="postalAddressLine2" name="postalAddressLine2" type="text" value="">
    </div>
    <div class="form-group row">
      <div class="col-sm-4 col-xs-12">
        <label class="uikit-text-input__label" for="addressTown">Suburb or town</label>
        <input class="uikit-text-input " id="addressTown" name="addressTown" type="text" value="">
      </div>
      <div class="col-sm-4 col-xs-12">
        <label class="uikit-text-input__label" for="addressPostcode">Postcode</label>
        <input class="uikit-text-input input-small yyyy" id="addressPostcode" maxlength="4" name="addressPostcode" type="text" value="">
      </div>
    </div>
    <div class="form-group addressInAusRes">
      <label class="uikit-text-input__label" for="postalAddressState">State or territory</label>
      <select class="uikit-text-input input-half" id="postalAddressState" name="postalAddressState">
        <option> -- Select state or territory -- </option>
        <option> Australian Capital Territory </option>
        <option> New South Wales </option>
        <option> Northern Territory </option>
        <option> Queensland </option>
        <option> South Australia </option>
        <option> Tasmania </option>
        <option> Victoria </option>
        <option> Western Australia </option>
      </select>
      </select>
    </div>
  </div>
</div>

<script src="/docs/js/jquery-3.2.1.min.js"></script>
<script>
  $(".countryPostal").change(function () {
    if ($('.countryPostal :selected').val() == "Australia") {
      $(".addressInAusPostal").show();
    } else {
      $(".addressInAusPostal").hide();
    }
  });

  $(".countryResidential").change(function () {
    if ($('.countryResidential :selected').val() == "Australia") {
      $(".addressInAusRes").show();
    } else {
      $(".addressInAusRes").hide();
    }
  });

  $(".pt-showIfAdditionalAddress").hide();

  $('input[name=sameAsPostal]').change(function () {
    if ($(this).is(':checked')) {
      $(".pt-showIfAdditionalAddress").hide();
    } else {
      $(".pt-showIfAdditionalAddress").show();
    }
  });

</script>