<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Create new password | MyService</title>
  <% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../../../partials/header-topbar-register.ejs %>
  <% include ../../../partials/header-register.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>

    <div class="container" id="main-content">
      <% include ../../../partials/forgot-password-step3.ejs %>
    </div>
  </main>
  <% include ../../../partials/footer.ejs %>
</body>

</html>