<!DOCTYPE html>
<html class="js" lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>MyAccount | Department of Veterans' Affairs</title>
	<link href="docs/css/myaccount.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid">
	<noscript>
		<p role="alert">This website needs JavaScript to work properly.</p>
	</noscript>
	<header class="header">
		<div class="header__container container">
			<img src="docs/images/logo-dva.svg" alt="Department of Veterans' Affairs" width="300">
			<div class="uikit-skip-link">
				<a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
			</div>

		</div>
		<nav class="navigation">&nbsp;</nav>
	</header>
	<main class="container">
		<h1>My Account</h1>
		<h2>Our online services are moving</h2>
		<h3>Existing users</h3>
		<p>If you're an existing MyAccount user, you must
			<a href="#">login to MyAccount using myGov</a>.</p>
		<p>Direct user login is no longer available</p>
		<p>
			<button class="uikit-btn">Login to MyAccount using
				<img src="docs/images/mygov-logo.svg" alt="myGov">
			</button>
		</p>
		<p>
			<a href="#">Create a myGov account</a>
		</p>
		<hr>
		<h3>New users</h3>
		<p>Register for a new DVA account using MyService</p>
		<div>
			<button class="uikit-btn">Register new account using MyService</button>
		</div>
		<hr>
		<h2>Nominated representatives</h2>
		<h3>Existing representatives</h3>
		<p>If you already have online access, login here</p>
		<p>If you have an activation code follow these steps:</p>
		<ol>
			<li>Sign in or create a myGov account.</li>
			<li>Use your activation acount to link you DVA account to myGov.</li>
			<li>Access your DVA account through your myGov account.</li>
		</ol>
		<h3>New representatives</h3>
		<p>To become a new nominated representative or to apply for someone to be your representative, complete an online application.</p>
	</main>
</body>

</html>