<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>MyAccount | Department of Veterans' Affairs</title>
  <link href="/docs/css/myaccount.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <header class="header">
    <div class="header__container">
      <a href="/auth" class="dock-item" data-long-press-delay="5000">Press and hold me for 5s</a>
      <a class="nounderline" href="https://www.dva.gov.au/">
        <img src="/docs/images/logo-dva.svg" alt="Department of Veterans' Affairs" width="280">
      </a>
      <div class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
      </div>
    </div>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="https://www.dva.gov.au/benefits-and-payments" class="navigation__link">Benefits and payments</a>
        </li>
        <li class="navigation__item">
          <a href="https://www.dva.gov.au/health-and-wellbeing" class="navigation__link">Health and wellbeing</a>
        </li>
        <li class="navigation__item">
          <a href="https://www.dva.gov.au/consultation-and-grants" class="navigation__link">Consultation and grants</a>
        </li>
        <li class="navigation__item">
          <a href="https://www.dva.gov.au/providers" class="navigation__link">Providers</a>
        </li>
        <li class="navigation__item">
          <a href="https://www.dva.gov.au/commemorations-memorials-and-war-graves" class="navigation__link">Commemorations, memorials and war&nbsp;graves</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container margin-above--extra margin-below--extra">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
          <div>
            <img class="myaccount-logo" src="/docs/images/myaccount-logo.svg" alt="MyAccount - logo">
          </div>
          <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
            <h3>Planned outage</h3>
            <p>On
              <strong>9 June 2018</strong> we're performing system upgrades to MyService. This will occur between 20:00 Sydney time 9 June
              2018 and 08:00 Sydney time 10 June 2018.</p>
          </div>
          <h2>Our online services are moving</h2>
          <div class="grid">
            <div class="grid__left grid__top-left">
              <h3>Existing users</h3>
              <p>If you're an existing MyAccount user, you must
                <a href="https://my.gov.au/">login to MyAccount using myGov</a>. Direct user login is no longer available.</p>
            </div>
            <div class="grid__left grid__bottom-left">
              <p>
                <button class="uikit-btn myaccount-btn" onclick="window.location = 'https://my.gov.au/'">Login to MyAccount using
                  <img class="myaccount-btn__mygov" src="/docs/images/mygov-logo.svg" alt="myGov">
                </button>
              </p>
              <p>
                <a href="https://my.gov.au/EnrolService/enrolService.htm?_flowId=mgv2-enrolment-mg-flow&_flowExecutionKey=e1s1">Create a myGov account</a>
              </p>
            </div>
            <div class="grid__middle grid__divider">
              <div class="divider">
                <div class="divider__label">or</div>
              </div>
            </div>
            <div class="grid__right gird__top-right">
              <h3>New users</h3>
              <p>Register for a new DVA account using MyService</p>
            </div>
            <div class="grid__right grid__bottom-right">
              <button class="uikit-btn uikit-btn--tertiary myaccount-btn" onclick="window.location = 'https://www.dva.gov.au/myservice/#/'">Register new account using
                <span class="no-break">
                  <img class="uikit-btn__middle-image" src="/docs/images/ico-myservice-chevron.svg" alt=""> MyServiece</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tint">
      <div class="container padding-above--extra padding-below--extra">
        <div class="row">
          <div class="col-lg-offset-1 col-lg-10">
            <div>
              <h2>Nominated representatives</h2>
              <h3>Existing representatives</h3>
              <p>If you already have online access,
                <a href="https://my.gov.au/">login here</a>
              </p>
              <p>If you have an activation code follow these steps:</p>
              <ol>
                <li>Sign in or create a
                  <a href="https://my.gov.au/">myGov account</a>.</li>
                <li>Use your activation account to link you DVA account to myGov.</li>
                <li>Access your DVA account through your myGov account.</li>
              </ol>
              <h3>New representatives</h3>
              <p>To become a new nominated representative or to apply for someone to be your representative,
                <a href="https://myaccount.dva.gov.au/myaccountnar/narexternal/externalRequest.html">complete an online application</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <nav class="container">
      <ul class="list list--horizontal">
        <li class="list__item">
          <a class="list__link" href="http://www.dva.gov.au/site-information/copyright">Copyright</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="http://www.dva.gov.au/site-information/privacy">Privacy</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="http://www.dva.gov.au/contact/feedback">Feedback</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="http://www.dva.gov.au/site-help/links-other-web-sites">Links</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="http://www.dva.gov.au">Home</a>
        </li>
      </ul>
    </nav>
  </footer>
  <script>
    function wrapper(pElements) {
      var elements = Array.prototype.slice.call(pElements);
      var wrapper = document.createElement('div');
      wrapper.className = 'grid__flex'
      elements[0].parentElement.insertBefore(wrapper, elements[0]);
      for (var i = 0; i < elements.length; i++) {
        wrapper.appendChild(elements[i]);
      }
    }

    var bodyElement = document.getElementsByTagName('body')[0];
    var testElement = document.createElement('div');

    testElement.style.display = 'grid';
    if (testElement.style.display === 'grid') {
      bodyElement.className += ' cssgrid';
    } else {
      bodyElement.className += ' no-cssgrid';

      wrapper(document.getElementsByClassName('grid__left'));
      wrapper(document.getElementsByClassName('grid__right'));
    }

    testElement.style.display = 'flex';

  </script>
</body>

</html>
