<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Add claim: Veteran Card | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">The Covenant explained</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="margin-above--extra">
            <h2>The Australian Defence Veterans’ Covenant</h2>
            <p>
              <ul>
                <li>Recognition and support for veterans and their families to better
                  connect and integrate into their local community after service;
                </li>
                <li>Increasing community awareness of veterans service and also their families sacrifices
                  in order to serve and protect our nation; and
                </li>
                <li>Encouraging veteran recognition for veterans and their families, creating responsibility and fair treatment by the whole community.
              </ul>
            </p>
            <div class="hr" style="border-top: 1px solid #d4d4d4 !important; clear: both; margin: 0; padding-top: 2em; text-align: left;"></div>
            <ul style="list-style: none;">
              <li><img src="/docs/images/ico-vet-oath.png" style="width:42px;height: auto;float: left;">
                <p style="
                  float: left;
                  margin-left: 28px;
              "><strong>Covenant oath</strong></p>
                <p style="
                  float: left;
                  margin-left: 70px;
                  margin-top: -25px;
              ">Recognising the valuable contribution that members
                  of the Australian Defence Force
                  (ADF) and their families make today, and
                  have made in the past for our country.</p>
                <p></p>
              </li>
              <li><img src="/docs/images/ico-vet-pins.png" style="width:42px;height: auto;float: left;">
                <p style="
                float: left;
                margin-left: 28px;
            "><strong>Veteran or Reservist Lapel Pin</strong></p>
                <p style="
                float: left;
                margin-left: 70px;
                margin-top: -25px;
            ">The Lapel Pin allows the wider community to acknowledge your ADF service regardless of whether you served in
                  the Navy, Army, or Air Force.</p>
                <p></p>
              </li>
              <li><img src="/docs/images/ico-vet-card.png" style="width:42px;height: auto;float: left;">
                <p style="
                            float: left;
                            margin-left: 28px;
                        "><strong>Veteran Card</strong></p>
                <p style="
                            float: left;
                            margin-left: 70px;
                            margin-top: -25px;
                        ">Use your Veteran Card to access special offers, support or concessions from businesses and organisations.

                </p>
                <ul style="clear:both; margin-left: 70px;">
                  <li>If you're eligible for the veteran supplement and you choose to supply us with your bank details, we'll send you a letter with confirmation of payment.</li>
                  <li>Access free mental health treatment under our Non-Liability Health Care (NLHC) arrangements.
                </ul>
              </li>
            </ul>
          </div>

          <div class="pagination pagination--ss-reverse-order" style="margin-top: 3rem!important">
            <button class="uikit-btn uikit-btn--tertiary" id="btnPrev">Cancel</button>
            <div class="floated">
              <button class="uikit-btn btnNext" id="btnNext">Okay, I've got it</button>
            </div>
          </div>

        </div>

      </div>
    </div>


    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

  <script>
    $(Document).ready(function () {
      $("#btnNext").click(function () {
        window.location.href = "/auth/claim/review-and-submit-card"
      });
      $("#btnPrev").click(function () {
        window.location.href = "/auth/claim/vet_card_holder"
      });
    });
  </script>
</body>

</html>