<%- include(templates+"header", {
  title: "Required documents - MyService", 
  heading: "Required documents"
}) %>

    <div class="container container--8-column">

      <div class="margin-above--extra margin-below--extra">

        <p><b>As the student is turning 18 we require documents to prove the student's identity.</b></p>
       
        

        <!-- <p>If you have a category A or category B document that shows your current residential address you may provide:</p>
        <ul>
          <li>1 x category A, plus</li>
          <li>2 x category B</li>
        </ul>
        <p>If you do not have a category A or category B document that shows your current residential address provide:</p>
        <ul>
            <li>1 x category A, plus</li>
            <li>2 x category B, plus</li>
            <li>1 x category C</li>
        </ul> -->

        <h2 class="margin-above">What we need <span class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum file size is
            50MB.</span></h2>
        
        <div class="mys-file-uploads__items">
          <div id="doc-medical" class="mys-file-uploads__item-border">
            <div class="mys-file-uploads__item mys-file-uploads__item--required">
              <div class="mys-file-uploads__l-status">
                <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                  <div class="mys-file-uploads__status-icon"></div>
                  <div class="mys-file-uploads__status-sr">Success</div>
                </div>
              </div>
              <div class="mys-file-uploads__info">
                <div class="mys-file-uploads__info-item">
                  <div class="mys-file-uploads__value">
                    <div><Strong>Category A</strong></div>
                    <div>For example: Passport, birth certificate.
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__item-actions">
                <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
              </div>
            </div>
          </div>
        </div>
        <div class="mys-file-uploads__items">
          <div id="doc-medical" class="mys-file-uploads__item-border">
            <div class="mys-file-uploads__item mys-file-uploads__item--required">
              <div class="mys-file-uploads__l-status">
                <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                  <div class="mys-file-uploads__status-icon"></div>
                  <div class="mys-file-uploads__status-sr">Success</div>
                </div>
              </div>
              <div class="mys-file-uploads__info">
                <div class="mys-file-uploads__info-item">
                  <div class="mys-file-uploads__value">
                    <div><Strong>Category B </strong>(document 1)</div>
                    <div>For example: Driver's license, Medicare card, credit or bank account card, DVA health card.
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__item-actions">
                <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
              </div>
            </div>
          </div>
        </div>
        <div class="mys-file-uploads__items">
          <div id="doc-medical" class="mys-file-uploads__item-border">
            <div class="mys-file-uploads__item mys-file-uploads__item--required">
              <div class="mys-file-uploads__l-status">
                <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                  <div class="mys-file-uploads__status-icon"></div>
                  <div class="mys-file-uploads__status-sr">Success</div>
                </div>
              </div>
              <div class="mys-file-uploads__info">
                <div class="mys-file-uploads__info-item">
                  <div class="mys-file-uploads__value">
                    <div><Strong>Category B</strong> (document 2)</div>
                      <div>For example: Driver's license, Medicare card, credit or bank account card, DVA health card.
                      </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__item-actions">
                <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
              </div>
            </div>
          </div>
        </div>
        <div class="mys-file-uploads__items">
          <div id="doc-medical" class="mys-file-uploads__item-border">
            <div class="mys-file-uploads__item mys-file-uploads__item--required">
              <div class="mys-file-uploads__l-status">
                <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                  <div class="mys-file-uploads__status-icon"></div>
                  <div class="mys-file-uploads__status-sr">Success</div>
                </div>
              </div>
              <div class="mys-file-uploads__info">
                <div class="mys-file-uploads__info-item">
                  <div class="mys-file-uploads__value">
                    <div><Strong>Category C</strong> (optional - only required if A or B does not show current residential address) </div>
                    <div>For example: Utilities notice, rent details, proof of address.
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__item-actions">
                <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
              </div>
            </div>
          </div>
        </div>

        <p class="margin-above--extra">Find out more about the <a href="https://www.dva.gov.au/factsheet-dva06-proof-identity-requirements">categories of documents</a> you can provide.</p>

      </div>

      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" id="cancel" onclick="window.location.href = '#open-modal'">Exit task</button>
        <div class="floated">
          <button class="uikit-btn btnNext" id="btnNext">Next</button>
        </div>
      </div>
    </div> <!-- container end -->
    <%- include(partials+"content/modals/tasks-cancel-modal") %>
    </div>

  </main>
  
  <%- include(partials+"components/layout/footer") %>

  <script>
    $(document).ready(function () {
      $("#btnNext").click(function () {
        window.location.href = "/auth/tasks/18th-birthday-review/18th-birthday-review-03a"
      });

      $("#btnPrev").click(function () {
        window.location.href = "/auth/tasks/18th-birthday-review/18th-birthday-review-01"
      });
    });
  </script>

</body>

<%- include("18th-birthday-review-state-switcher.ejs") %>

</html>
