<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Service history - about your claim | MyService</title>
  <% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <!-- Page heading -->
      <h1 class="margin-above--none ss-align--center">
        <span class="heading">About your claim</span>
      </h1>
    </div>
    <div class="container">
      <div class="row margin-above--large">
        <div class="col-md-offset-2 col-md-8">
          <h3>Enter details of the conflict you were involved in</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 ">
          <div class="margin-above--medium margin-below--extra">
            <div class="form-group">
              <label class="uikit-text-input__label" for="drop-down">Conflict</label>
              <input type="reset" style="display:none">
              <select class="uikit-text-input input-half" id="region-select" name="drop-down">
                <option selected="selected">-- Select region --</option>
                <option>Afghanistan</option>
                <option>East Timor/Timor-Leste</option>
                <option>Rwanda</option>
                <option>Iraq</option>
                <option>Iraq and Western Asia</option>
                <option>Sierra Leone</option>
                <option>Vietnam</option>
                <option>Western Asia, Souhern Asia, Central Asia, Northern Africa and Eatern Africa</option>
                <option>The Land Area, Territorial Waters and Superjacent Airspace of Iraq and Syria</option>
              </select>
            </div>
            <div class="form-group margin-above--large" id="operations" style="display: none">
                    <div class="uikit-text-input__label-wrapper--inline-block"><label class="uikit-text-input__label" for="drop-down">Operation name<span class="hint"> (If known)</span></label>
                    </div>
                    <div>
                      <input type="reset" style="display:none">
                      <select style="" class="uikit-text-input input-half" id="select-operation-afghanistan" name="drop-down" onchange="typeSelected()">
                        <option selected="selected">-- Select an operation --</option>
                        <option>Operation Ariki</option>
                        <option>Operation Athena</option>
                        <option>Operation Enduring Freedom</option>
                        <option>Operation Herrick</option>
                        <option>Operation Highroad</option>
                        <option>International Security Assist</option>
                        <option>Operation Palate</option>
                        <option>Operation Palate II</option>
                        <option>Operation Slipper</option>
                      </select>
                      <select style="display:none;" class="uikit-text-input input-half" id="select-operation-east-timor" name="drop-down" onchange="typeSelected()">
                        <option selected="selected">-- Select an operation --</option>
                        <option>Operation Citadel</option>
                        <option>Operation Faber (Unamet)</option>
                        <option>Operation Stabilise</option>
                        <option>Operation Tanager</option>
                        <option>Operation Warden</option>
                      </select>
                    </div>
                  </div>
            <div class="form-group margin-above--large">
              <label class="uikit-text-input__label" for="date">Start date
                <span class="hint">(dd / mm / yyyy)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required="" aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required="" aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required="" aria-required="true" aria-label="4 digit year">
            </div>
            <div class="form-group margin-above--large">
              <label class="uikit-text-input__label" for="date">End date
                <span class="hint">(dd / mm / yyyy)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required="" aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required="" aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required="" aria-required="true" aria-label="4 digit year">
            </div>
            <div class="form-group margin-above--large">
                <label class="uikit-text-input__label" for="textArea">Describe the role, responsibilities and duties you performed as part of this conflict?</label>
                    <textarea id="textArea" name="textArea" rows="7"></textarea>
                </div>
            <div class="form-group" id="former_name_question">
              <label class="uikit-text-input__label" for="toggle-buttons">Do you have any former names?</label>
              <div class="radio-toggle">
                <label class="on label-left" for="former_yes">
                  <input id="former_yes" type="radio" name="toggle-buttons">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="former_no">
                  <input id="former_no" type="radio" name="toggle-buttons">
                  <span>No</span>
                </label>
              </div>
            </div>
            <div id="former_name" style="display: none;">
              <table class="mys-table table-responsive border-all border-top__thick--blue">
                <tbody>
                  <tr>
                    <th style="border-left:1px solid #cccccc;">
                      <label class="uikit-text-input__label" for="date">Given name</label>
                    </th>
                    <th></th>
                    <th>
                      <label class="uikit-text-input__label" for="date">Surname</label>
                    </th>
                    <th style="border-right:1px solid #cccccc;"></th>
                  </tr>
                  <tr id="date-template">
                    <td>
                      <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                    </td>
                    <td></td>
                    <td>
                      <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                    </td>
                    <td>
                      <button id="removeDateRow" class="uikit-btn uikit-btn--tertiary small">Remove</button>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                  <tr class="padding-above--none">
                    <td colspan="4" class="padding-above--none ss-align">
                      <button id="add-another-name" onclick="cloneMe()" class="icon-link-button">
                        <span class="icon far fa-plus-circle"></span>
                        <span class="link">Add another name</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="save-and-next" class="margin-above" style="display: none">
              <p>Choose <b>save and next</b> to continue.</p>
            </div>
          </div>
          <!-- col-md-12 end -->
          <div class="pagination">
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel claim</button>
            <div class="floated">
              <button id="save-and-exit-button" class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth'">Save and exit</button>
              <button id="save-and-next-button" class="uikit-btn btnNext" onclick="window.location.href = '/auth/claim/qualifying_service/civilian-qs-2'">Save and next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% include ../../../../partials/claims-cancel-modal.ejs %>
  <% include ../../../../partials/footer.ejs %>
</body>
<script>
 $(Document).ready(function () {

    if (sessionStorage.getItem('commonwealth-allied') != 'yes') {
      $("#type-of-service").show("fast");
    } else {
      $("#type-of-service").hide();
    }

    /* Clicks on 'add service' button */
    $("#add-service").click(function () {
      hideAll();
      $("#footer-buttons-mask").show();
      $("#myFormSP").trigger("reset");
      $("#service-period-add").html("Save");
      $("#service-period-card").show("fast");
      $("#deleteButtonSP").hide();
    });

    /* Clicks save */
    var firstServicePeriodAdded = false;
    $("#service-period-add").click(function () {
      hideAll();
      firstServicePeriodAdded = true;
      $("#client-list").show();
      $("#add-operation").show();
      $("#add-service-period-footer").show();
      $("#service-period-summary").show("fast");
      if (addingSecondSP) {
        $("#service-period-summary-2").show("fast");
        $("#add-operation-2").show("fast");
        $("#ops").show();
        $("#client-list").show();
      }
      $("html, body").animate({
          scrollTop: $("#main-content").offset().top
        },
        1000
      );
    });

    /* Clicks cancel */
    $("#service-period-cancel").click(function () {
      hideAll();
      if (addingSecondSP) {
        $("#ops").show();
        $("#client-list").show();
        $("#add-operation").show();
        $("#add-service-period-footer").show();
        $("#service-period-summary").show("fast");
      } else {
        $("#add-service").show();
        $("#message").show();
      }
      $("html, body").animate({
          scrollTop: $("#main-content").offset().top
        },
        1000
      );
    });

    /* Clicks edit on SP summary */
    $("#edit-service-period").click(function () {
      hideAll();
      $("#service-period-add").html("Update");
      $("#service-period-card").show("fast");
      $("#deleteButtonSP").show();
      $("html, body").animate({
          scrollTop: $("#main-content").offset().top
        },
        1000
      );
    });

    /* Clicks on 'add operation' button */
    $("#add-operation").click(function () {
      hideAll();
      $("#operation-add").html("Save");
      $("#myFormOP").trigger("reset");
      $("#footer-buttons-mask").show();
      $("#operation-card").show("fast");
      $("#deleteButtonOP").hide();
    });

    /* Clicks 'add' in operation card */
    var firstSummaryAdded = false;
    $('#operation-add').click(function () {
      hideAll();
      $("#client-list").show();
      $("#ops").show();
      $("#add-service-period-footer").show();
      $("#service-period-summary").show("fast");
      $("#add-operation").show();
      $('html, body').animate({
        scrollTop: $("#main-content").offset().top
      }, 1000);
      if (firstSummaryAdded) {
        $('#op-summary').clone(true, true).appendTo('#ops');
      } else {
        $('#op-summary-1').show();
      }
      firstSummaryAdded = true;
    });

    /* Clicks 'cancel' in operation card */
    $('#operation-cancel').click(function () {
      hideAll();
      $("#client-list").show();
      $("#ops").show();
      $("#add-service-period-footer").show();
      $("#service-period-summary").show("fast");
      $("#add-operation").show();
      $("#add-service-period-footer").show();
      $("#timeline-1").show();
      $('html, body').animate({
        scrollTop: $("#main-content").offset().top
      }, 1000);
    });

    /* Clicks edit on OP summary */
    $(".op-edit").click(function () {
      hideAll();
      $("#deleteButtonOP").show();
      $("#operation-add").html("Update");
      $("#footer-buttons-mask").show();
      $("#operation-card").show("fast");
      $("html, body").animate({
          scrollTop: $("#main-content").offset().top
        },
        1000
      );
    });

    /* Clicks on 'add another service period' */
    var addingSecondSP = false;
    $('#add-another-service-period').click(function () {
      hideAll();
      addingSecondSP = true;
      $("#deleteButtonSP").hide();
      $("#footer-buttons-mask").show();
      $("#myFormSP").trigger("reset");
      $("#service-period-add").html("Add");
      $("#service-period-card").show("fast");
      $('html, body').animate({
        scrollTop: $("#main-content").offset().top
      }, 1000);
    });

    /* Selects conflict/region in open card */
    $("#region-select").change(function () {
      mySelection = $('#region-select :selected').val();
      hideOperationLists();
      switch (mySelection) {
        case "Afghanistan":
          $("#select-operation-afghanistan").show();
          $("#operations").show();
          break;
        case "East Timor/Timor-Leste":
          $("#select-operation-east-timor").show();
          $("#operations").show();
          break;
        case "vietnam":
          $("#operations").hide();
          break;
        default:
          $("#operations").hide();
      }
    });

    function hideOperationLists() {
      $("#select-operation-afghanistan").hide();
      $("#select-operation-east-timor").hide();
    }

    function hideAll() {
      $("#client-list").hide();
      $("#timeline-1").hide();
      $("#footer-buttons-mask").hide();
      $("#ops").hide();
      $("#add-service").hide();
      $("#service-period-card").hide();
      $("#message").hide();
      $("#service-period-summary").hide();
      $("#add-operation").hide();
      $("#add-service-period-footer").hide();
      $("#operation-card").hide();
      $("#alert-no-service").hide();
      $("#alert-no-ops").hide();
    }

    window.checkSaveAndNext = function () {
      if (!firstServicePeriodAdded) {
        $("#alert-no-service").show("fast");
        $("body,html").animate({
            scrollTop: 0 // set to half way down the screen
          },
          700
        );
        return;
      }
      if (!firstSummaryAdded) {
        $("#alert-no-ops").show("fast");
        $("body,html").animate({
            scrollTop: 0 // set to half way down the screen
          },
          700
        );
        return;
      }

      myNav = "/auth/claim/qualifying_service/qs-3";
      if (sessionStorage.getItem('commonwealth-allied') == 'yes') myNav = "/auth/claim/qualifying_service/qs-2a";
      // myNav = "#open-ops-modal"
      window.location.href = myNav;
    }
  });

  function typeSelected(event) {
    var field = document.getElementById("operation-other");
    var select = document.getElementById("operation-name");
    var selectedString = select.options[select.selectedIndex].value;
    if (selectedString == "Other") {
      field.style.display = 'block';
    } else {
      field.style.display = 'none';
    }
  }


</script>

<body>

</html>
