<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Documents: Qualifying Service | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
    <% include ../../../../partials/header-nom-rep.ejs %>
      <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
          <div class="container margin-above--none">
            <h1 class="margin-above--none ss-align--center">
              <span class="heading">Required documents</span>
            </h1>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">
              <div class="margin-above--extra margin-below--extra">
                <h3>We need some documents from you to process your claim <span class="hint display-block">Accepted file types include pdf, jpeg and png. Maximum file size is 50MB.
                  </span></h3>
                <h2 class="margin-above">What we need</h2>
                <div class="mys-file-uploads__items">
                  <!-- Marriage certificate -->
                  <div id="doc-medical" class="mys-file-uploads__item-border">
                    <div class="mys-file-uploads__item mys-file-uploads__item--required">
                      <div class="mys-file-uploads__l-status">
                        <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                          <div class="mys-file-uploads__status-icon"></div>
                          <div class="mys-file-uploads__status-sr">Success</div>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info">
                        <div class="mys-file-uploads__info-item">
                          <div class="mys-file-uploads__value">
                            <div><Strong>Proof of name change</strong></div>
                            <div>For example, deed poll, or marriage certificate
                              <div class="tooltip">
                                <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                                  <div class="tooltip__label tooltip__label--icon-only">
                                    <a>Why do I need to provide this?</a>
                                  </div>
                                  <div class="tooltip__tab"></div>
                                </div>
                                <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                                  <div class="tooltip__message">this will help process…</div>
                                  <div class="tooltip__close" role="button" tabindex="0">Close</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mys-file-uploads__item-actions">
                        <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                      </div>
                    </div>
                  </div>
                  <!-- Accommodation Bond or Accommodation Charge Agreement -->
                </div>
                <div class="uikit-page-alerts uikit-page-alerts--warning margin-above--large margin-below--extra">
                  <p class="ss-align">You can provide the required documents after submitting your claim but they will be required before your claim can be determined.
                  </p>
                </div>
              </div>
            </div>
            <div class="pagination pagination--ss-reverse-order">
              <button class="uikit-btn uikit-btn--tertiary btnPrev" id="btnPrev">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
              </div>
            </div>
          </div> <!-- col-md-12 end -->
        </div> <!-- row end -->
        <% include ../../../../partials/claims-cancel-modal.ejs %>
      </main>
      <% include ../../../../partials/footer.ejs %>
        <script>
          $(Document).ready(function () {
            $("#btnNext").click(function () {
              window.location.href = "/auth/claim/qualifying_service/qs-4"
            });

            var myPrevious = "/auth/claim/qualifying_service/qs-2";
            if (sessionStorage.getItem('commonwealth-allied') == 'yes') {
              myPrevious = "/auth/claim/qualifying_service/qs-2a";
            }
            $("#btnPrev").click(function () {
              window.location.href = myPrevious
            });
          });
        </script>
</body>

</html>