<div id="state-switcher">
  <h3>Qualifying Service State Switcher</h3>
  <%- include(forms+"checkbox", {
    label: "Commonwealth Allied",
    boxes: ["Yes"],
    id: "sw-commonwealth-allied"
  }) %>
</div>

<script>
  $(document).keypress(function (e) {
    switch (e.which) {
      case 96: //tilda
        $('#state-switcher').toggle();
        break;
      default:
    }
  });

  $(document).ready(function () {
    if (sessionStorage.getItem("commonwealth-allied") === "yes") {
      $("#sw-commonwealth-allied-1").prop("checked", true)
    } else if (sessionStorage.getItem("commonwealth-allied") === null) {
      sessionStorage.setItem("commonwealth-allied", "no")
    }

    $("#sw-commonwealth-allied-container").on("change", "input", function() {
      if ($(this).prop("checked")) {
        sessionStorage.setItem("commonwealth-allied", "yes")
      } else {
        sessionStorage.setItem("commonwealth-allied", "no")
      }
    })

    var commonwealthAllied = sessionStorage.getItem("commonwealth-allied");

    if (typeof stateSwitcher === "function") stateSwitcher();

    $("#state-switcher").on("change", "input", function() {
      var commonwealthAllied = sessionStorage.getItem("commonwealth-allied");
      if (typeof stateSwitcher === "function") stateSwitcher();
    });
  })

</script>
