<%- include(forms+"modal", {
  id: "bcwd-cancel",
  title: "This will delete your transport booking.",
  text: `<p>are you sure you want to delete this booking?</p>`,
  buttons: [
    {
      modifiers: ["primary"],
      link: "/auth",
      text: "Delete booking"
    },
    {
      link: "#close-modal",
      text: "Cancel"
    }
  ]
}) %>