<%- include(forms+"modal", {
  id: "claim-cancel-modal",
  title: "This will delete the claim permanently.",
  text: `<p>Are you sure you want to delete this claim?</p>`,
  buttons: [
    {
      modifiers: ["primary"],
      link: "/auth",
      text: "Delete claim"
    },
    {
      link: "#close-modal",
      text: "Cancel"
    }
  ]
}) %>