<%- include(forms+"modal", {
  id: "registration-cancel-modal",
  title: "This will cancel your registration.",
  text: `<p>Are you sure you want to cancel?</p>`,
  buttons: [
    {
      modifiers: ["primary"],
      link: "/",
      text: "Cancel registration"
    },
    {
      link: "#close-modal",
      text: "Continue registration"
    }
  ]
}) %>