<%- include(templates+"header", {
    claim: "Support Assessment",
    heading: "Review and submit"
  }) %>

<%- include(components+"review-submit", {
    claim_title: "Support Assessment",
    categories: [
      {
        title: "Mobility",
        edit_url: "/auth/claim/support-assessment-a/sa-02",
        data: [
          {
            q: "Is your ability to move around when undertaking your usual activities affected?",
            a: "Yes, a lot"
          },
          {
            q: "Do you need the assistance of an aid to help you get around?",
            a: "Yes, a lot"
          },
          {
            q: "Do you require assistance to travel?",
            a: "Yes, a lot"
          },
          {
            q: "Do your conditions restrict you to your home?",
            a: "Yes, a lot"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: "Need help around the house and traveling"
          }
        ]
      },
      {
        title: "Recreational activities",
        edit_url: "/auth/claim/support-assessment-a/sa-03",
        data: [
          {
            q: "Have you given up any recreational activities?",
            a: "Yes, a little"
          },
          {
            q: "Have you reduced your involvement in any recreational activities?",
            a: "Yes, a little"
          },
          {
            q: "Are there activities you planned to undertake but now cannot?",
            a: "No"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: " "
          }
        ]
      },
      {
        title: "Personal relationships",
        edit_url: "/auth/claim/support-assessment-a/sa-04",
        data: [
          {
            q: "Is your social life affected?",
            a: "Yes, a lot"
          },
          {
            q: "Are your daily interactions with people affected?",
            a: "Yes, a lot"
          },
          {
            q: "Is your ability to form or maintain intimate relationships affected?",
            a: "Yes, a lot"
          },
          {
            q: "Do you require assistance with personal care?",
            a: "Yes, a lot"
          },
          {
            q: "Has your connection to the community been affected?",
            a: "Yes, a lot"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: " "
          }
        ]
      },
      {
        title: "Domestic activities",
        edit_url: "/auth/claim/support-assessment-a/sa-05",
        data: [
          {
            q: "Does it take longer for you to complete your domestic activities?",
            a: "Yes, a lot"
          },
          {
            q: "Do you need help with domestic activities?",
            a: "Yes, a lot"
          },
          {
            q: "Have you had to stop performing any domestic activities?",
            a: "Yes, a lot"
          },
          {
            q: "Have your immediate family taken over any domestic activities you normally undertook?",
            a: "Yes, a lot"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: " "
          }
        ]
      },
      {
        title: "Employment",
        edit_url: "/auth/claim/support-assessment-a/sa-06",
        data: [
          {
            q: "Are you employed?",
            a: "No"
          },
          {
            q: "Have your conditions affected your ability to work?",
            a: "Yes"
          },
          {
            q: "Have you had any retraining to help you gain or retain employment?",
            a: "No"
          },
          {
            q: "Have you lost a job (excluding any medical discharge from the ADF) because of your conditions?",
            a: "Yes"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: " "
          }
        ]
      },
      {
        title: "Treatments",
        edit_url: "/auth/claim/support-assessment-a/sa-07",
        data: [
          {
            q: "Have your undertaken any treatment from your conditions?",
            a: "No"
          },
          {
            q: "Tell us in your own words any other impacts of your condition that have not been already covered.",
            a: " "
          }
        ]
      },
      
    ]
  }) %>

<button class="uikit-btn" onclick="sendEmail()">
    test email
</button>



<%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/support-assessment-a/sa-07",
        text: "Previous"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/support-assessment-a/sa-09",
        text: "Submit",
        id: "btnNext",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<script src="https://smtpjs.com/v3/smtp.js">
</script>

<script>

    data = `
    <html>

<head>
    <title>MyService Support Assessment</title>
    <style type="text/css">
        body {
            padding-left: 30px;
            padding-right: 30px;
            line-height: 1.2em;
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 0px;
        }

        .segment {
            page-break-inside: avoid;
            margin-bottom: 25px;
        }

        .page-break {
            page-break-before: always;
        }

        .right {
            text-align: right;
        }

        .italic {
            font-style: italic;
        }

        .center {
            text-align: center;
        }

        table {
            font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
            font-size: 11px;
            width: 100%;
        }

        .unboxed-table {
            padding: 15px;
        }

        .boxed-table {
            border: 0.4px solid #666666;
            border-spacing: 0px;
            border-collapse: collapse;
        }

        .boxed-table td,
        .boxed-table th {
            border: 0.4px solid #666666;
            padding: 6px;
        }

        .date-format-spec {
            font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
            font-size: 8.6px;
            padding: 0;
            margin-top: -0.75em;
            position: relative;
            color: #888888;
            font-style: italic;
        }

        .shade {
            background-color: #e7e7e7;
        }

        .successShade {
            background-color: #c7ecb0;
            padding-left: 2em;
            padding-top: 2em;
            padding-bottom: 2em;
        }

        .warningShade {
            background-color: #eddf63;
            padding-left: 2em;
            padding-top: 2em;
            padding-bottom: 2em;
        }

        .heavy-shade {
            background-color: #c7c7c7;
        }

        .naClaim {
            background-color: #f1f2f6;
            color: #444444;
        }

        .reviewClaim {
            background-color: #fff5c6;
        }

        .acceptClaim {
            background-color: #c8edb1;
        }

        /* .service-arm {
            border-left: 3px solid black;
        } */

        .blue {
            color: #0C57A4;
            /*some shade of blue*/
        }

        @font-face {
            src: url(file:///C:/Windows/Fonts/L_10646.TTF);
            -fs-pdf-font-embed: embed;
            -fs-pdf-font-encoding: Identity-H;
        }

        .unicode {
            font-family: "Lucida Sans Unicode", Arial, sans-serif;
        }

        tr,
        td {
            word-wrap: break-word;
            word-break: break-all;
        }

        .no-wrap {
            word-wrap: normal;
            word-break: normal;
        }

        .newspaper p {
            text-align: justify;
            overflow-wrap: normal;
            word-break: normal;
        }

        .newspaper,
        .first-col {
            padding-right: 2em;
        }

        .newspaper,
        .second-col {
            padding-left: 2em;
        }

        .needs-table {
            padding-top: 1em;
        }

        .needs-table tr {
            margin-bottom: 2em;
        }

        .no-border {
            border-style: none;
            background-color: transparent;
        }

        .no-border td {
            border-style: none;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td width="200"><img src="/docs/images/myservice-logo-blue.svg" height="40" /></td>
            <td colspan="2" class="no-wrap">
                <h1 style="text-align: center;">Support Assessment</h1>
            </td>
            <td class="right"><img src="/docs/images/logo-dva-black.svg" height="40" /></td>
        </tr>
        <tr>
            <td colspan="4" class="italic center">This is an automatically generated document from MyService BETA.
                Please contact generalenquiries@dva.gov.au if assistance is required.</td>
        </tr>
        <tr>
            <td colspan="4" class="successShade"><img src="/docs/images/icon-tick.png" width="15"
                    alt="POI tick icon" />&#160;&#160;<strong>Proof of identity has been provided and verified through
                    MyService</strong></td>
        </tr>
    </table>

    <div style="margin-top: 25px;" class="ui segment">
        <table>
            <tr>
                <td>
                    <h2>Mobility</h2>
                </td>
                <td class="right">Received date: <span>YYYY-MM-DD</span>
                </td>
            </tr>
        </table>
        <table class="boxed-table">
            <tr>
                <td class="shade" width="200">Is your ability to move around when undertaking your usual activities
                    affected?</td>
                <td>${sessionStorage.getItem("mobility-deta")}</td>
            </tr>
            <tr>
                <td class="shade">Middle name:</td>
                <td>veteran.middleName</td>
            </tr>
            <tr>
                <td class="shade">Given name:</td>
                <td>veteran.givenNames</td>
            </tr>
            <tr>
                <td class="shade">Highest rank achieved:</td>
                <td>veteran.highestRank</td>
            </tr>
            <tr>
                <td class="shade">Title:</td>
                <td>veteran.title</td>
            </tr>
            <tr>
                <td class="shade">DOB:</td>
                <td>veteran.dob</td>
            </tr>
            <tr>
                <td class="shade">Email:</td>
                <td>veteran.email</td>
            </tr>
            <tr>
                <td class="shade">Phone:</td>
                <td>
                    Home Phone: displayHomePhone
                    <br />
                    Mobile Phone: displayMobilePhone
                    <br />
                </td>
            </tr>
            <tr>
                <td class="shade">Postal address:</td>
                <td>
                    veteran.postalAddr.addressPrefix
                    <br />
                    veteran.postalAddr.addressLine1
                    <br />
                    veteran.postalAddr.addressLine2
                    <br />
                    veteran.postalAddr.town
                    <br />
                    veteran.postalAddr.country
                </td>
            </tr>
            <tr>
                <td class="shade">Residential address:</td>
                <td>
                    veteran.residentialAddr.addressPrefix
                    <br />
                    veteran.residentialAddr.addressLine1
                    <br />
                    veteran.residentialAddr.addressLine2
                    <br />
                    veteran.residentialAddr.town
                    <br />
                    veteran.residentialAddr.country
                </td>
            </tr>
            <tr>
                <td class="shade">Relationship status:</td>
                <td>veteran.relationship</td>
            </tr>
            <tr>
                <td class="shade">Signature:</td>
                <td>Online claim electronic authorisation obtained</td>
            </tr>
            <tr>
                <td class="shade">Representation:</td>
                <td>No</td>
            </tr>
        </table>
        <br />
    </div>
    <div class="ui">
        <div class="segment">
            <table>
                <tr>
                    <td>
                        <h2>Service details</h2>
                    </td>
                </tr>
            </table>
            <table class="boxed-table">
                <tr>
                    <td class="shade" width="200">PMKeyS:</td>
                    <td>veteran.pmkeys</td>
                </tr>
                <tr>
                    <td class="shade">Enlistment date:</td>
                    <td>veteran.enlistmentDate</td>
                </tr>
            </table>
        </div>
        <br />
        <div>
            <div class="service-arm">
                <table class="boxed-table segment">
                    <tr>
                        <td class="shade" width="200">Branch of service:</td>
                        <td>service.service</td>
                    </tr>
                    <tr>
                        <td class="shade">Service type:</td>
                        <td>service.serviceType</td>
                    </tr>
                    <tr>
                        <td class="shade">Start date:</td>
                        <td>service.startDate</td>
                    </tr>
                    <tr>
                        <td class="shade">End date:</td>
                        <td>service.endDate</td>
                    </tr>
                </table>
                <br />
                <table class="boxed-table segment">
                    <tr>
                        <th class="heavy-shade" colspan="3">Operations history</th>
                    </tr>
                    <tr>
                        <th class="shade" width="200">Name of operational service</th>
                        <th class="shade">Start date</th>
                        <th class="shade">End date</th>
                    </tr>
                    <tr>
                        <td>op.description</td>
                        <td>op.startDate</td>
                        <td>op.endDate</td>
                    </tr>
                </table>
                <br />
                <table class="boxed-table segment">
                    <tr>
                        <th class="heavy-shade" colspan="3">Separation history</th>
                    </tr>
                    <tr>
                        <th class="shade" width="200">Date of separation</th>
                        <th class="shade">Reason for separation</th>
                        <th class="shade">Action</th>
                    </tr>
                    <tr>
                        <td>esd.date</td>
                        <td>esd.reason</td>
                        <td>esd.action</td>
                    </tr>
                </table>
            </div>
            <br />
        </div>
    </div>

    <div class="ui segment">
        <table>
            <tr>
                <td>
                    <h2>Worsened conditions</h2>
                </td>
            </tr>
        </table>
        <table class="boxed-table">
            <tr>
                <td class="shade" width="200">The conditions that have become worse since your last assessment:</td>
                <td>
                    <ul>
                        <li>
                            <p>cond.name</p>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="ui segment">
        <table>
            <tr>
                <td>
                    <h2>Medical Details</h2>
                </td>
            </tr>
        </table>
        <table class="boxed-table">
            <tr>
                <td class="shade" width="200">general practitioner</td>
                <td>afiClaim.gpInfo.practiceName<br />afiClaim.gpInfo.suburb<br />afiClaim.gpInfo.phoneNumber
                </td>
            </tr>
            <tr>
                <td class="shade" width="200">otherDoctorsInfo.doctorsName</td>
                <td>otherDoctorsInfo.practiceName<br />otherDoctorsInfo.suburb<br />otherDoctorsInfo.phoneNumber
                </td>
            </tr>
        </table>
    </div>

    <div class="ui segment">
        <table>
            <tr>
                <td>
                    <h2>Employment</h2>
                </td>
            </tr>
        </table>

        <table class="boxed-table">
            <tr>
                <td class="shade" width="200">Employed:</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td class="shade" width="200">Name of current employer:</td>
                <td>afiClaim.nameOfEmployer</td>
            </tr>
            <tr>
                <td class="shade" width="200">Average hours worked per week hours per week:</td>
                <td>afiClaim.averageHoursPerWeek</td>
            </tr>
            <tr>
                <td class="shade" width="200">Did you stop work because of your condition?:</td>
                <td>No</td>
            </tr>
            <tr>
                <td class="shade" width="200">Approximately when did you stop working?:</td>
                <td>afiClaim.approximateStopWorkDate</td>
            </tr>
        </table>
    </div>

    <div class="ui segment newspaper page-break">
        <hr />
        <table>
            <tr>
                <td>
                    <h2>Consent to release information</h2>
                </td>
            </tr>
            <tr>
                <td valign="top" align="left">
                    <p>I consent to the release of medical, clinical or other information to the Department by any
                        medical practitioner, hospital, clinic, insurance company, Centrelink, the Department of Defence
                        or other organisation, in relation to this claim or its review.</p>
                    <p>Any claim lodged via MyService is bound by the terms and conditions for use including
                        authorisation of release and sharing of information relevant to the claimed condition. The
                        client does not need to provide a signature on any documentation once registration has completed
                        as this includes a Proof of Identity verification.</p>
                    <p>The authority to obtain information relevant to your claim is contained in the provisions of the
                        <em>Military Rehabilitation and Compensation Act 2004 (MRCA)</em>, <em>Veterans' Entitlements
                            Act 1986 (VEA)</em> and the <em>Safety, Rehabilitation and Compensation (Defence-related
                            Claims) Act 1988 (DRCA)</em>.</p>
                    <p>I authorise the Department to consider my claim under one or more of the Acts above. I understand
                        the information sought on the claim form is required to assess my eligibility for compensation
                        under all Acts (VEA, DRCA and MRCA) that may be applicable to the injury or disease which I am
                        now claiming.</p>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>
    `;
    function sendEmail() {
        Email.send({
            Host: "smtp.gmail.com",
            Username: "myservice.prototype@gmail.com",
            Password: "Myserviceoh.012",
            To: 'myservice.prototype@gmail.com',
            From: "myservice.prototype@gmail.com ",
            Subject: "Support Assessment - A",
            Body: data
        }).then(
            message => alert(message)
        );
    }
</script>

<% - include(forms + "modals/claim-cancel") %>
<% - include(templates + "footer") %>