<%- include(templates+"header", {
    claim: "Support assessment",
    heading: "Submitted",
    modifiers: ["noHeading"]
  }) %>

<%- include(forms+"submitting", {
      type: "submitted",
      submitting_text: "We're submitting your Support Assessment claim.",
      submitted_text: `Your Support assessment has been <b>submitted</b>`,
      supporting_text: `
        <ul class="next-steps">
            <li>We will contact you within 14 days to discuss your claim.</li>
            <li>If you are in a financial hardship or require urgent treatment please call DVA on 1800 555 254.</li>
        </ul>
        `
    }) %>

<%- include(forms+"pagination", {
      pagination: [
        {
          text: "Back to home",
          link: "/auth/"
        }
      ]
    }) %>

<%- include(templates+"footer") %>