<%- include(templates+"header", {
    claim: "Support Assessment",
    heading: "Support Assessment"
  }) %>

<p>We will ask you some questions about how your conditions impact your life, physically and psychologically in the
  following areas.
</p>

<ul>
  <li>Mobility</li>
  <li>Recreational activities</li>
  <li>Personal</li>
  <li>Social relationships</li>
  <li>Domestic activities</li>
  <li>Employment</li>
</ul>

<p>Tell us everything you find difficult or impossible to do, even if it’s not every day and explain why.</p>

<p>You can update the assessment at any point if you circumstances change.</p>

<p>Choose <b>next</b> to continue</p>

<%- include(forms+"pagination", {
      pagination: [
        {
          text: "Cancel",
          link: "#claim-cancel-modal"
        },
        {
          text: "Next",
          id: "btnNext",
          link: "/auth/claim/support-assessment-a/sa-02",
          modifiers: ["primary", "floated"]
        }
      ]
    }) %>
<%- include(forms+"modals/claim-cancel") %>
<%- include(templates+"footer") %>