<%- include(templates+"header", {
    claim: "Support Assessment",
    heading: "Review and submit"
  }) %>

<%- include(components+"review-submit", {
    claim_title: "Support Assessment",
    categories: [
      {
        title: "Mobility",
        edit_url: "/auth/claim/support-assessment-a/sa-02",
        data: [
          {
            q: "Is your ability to move around when undertaking your usual activities affected?",
            a: "Yes, a lot"
          },
          {
            q: "Do you need the assistance of an aid to help you get around?",
            a: "Yes, a lot"
          },
          {
            q: "Do you require assistance to travel?",
            a: "Yes, a lot"
          },
          {
            q: "Do your conditions restrict you to your home?",
            a: "Yes, a lot"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: "Need help around the house and traveling"
          }
        ]
      },
      {
        title: "Recreational activities",
        edit_url: "/auth/claim/support-assessment-a/sa-03",
        data: [
          {
            q: "Have you given up any recreational activities?",
            a: "Yes, a little"
          },
          {
            q: "Have you reduced your involvement in any recreational activities?",
            a: "Yes, a little"
          },
          {
            q: "Are there activities you planned to undertake but now cannot?",
            a: "No"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: " "
          }
        ]
      },
      {
        title: "Personal relationships",
        edit_url: "/auth/claim/support-assessment-a/sa-04",
        data: [
          {
            q: "Is your social life affected?",
            a: "Yes, a lot"
          },
          {
            q: "Are your daily interactions with people affected?",
            a: "Yes, a lot"
          },
          {
            q: "Is your ability to form or maintain intimate relationships affected?",
            a: "Yes, a lot"
          },
          {
            q: "Do you require assistance with personal care?",
            a: "Yes, a lot"
          },
          {
            q: "Has your connection to the community been affected?",
            a: "Yes, a lot"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: " "
          }
        ]
      },
      {
        title: "Domestic activities",
        edit_url: "/auth/claim/support-assessment-a/sa-05",
        data: [
          {
            q: "Does it take longer for you to complete your domestic activities?",
            a: "Yes, a lot"
          },
          {
            q: "Do you need help with domestic activities?",
            a: "Yes, a lot"
          },
          {
            q: "Have you had to stop performing any domestic activities?",
            a: "Yes, a lot"
          },
          {
            q: "Have your immediate family taken over any domestic activities you normally undertook?",
            a: "Yes, a lot"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: " "
          }
        ]
      },
      {
        title: "Employment",
        edit_url: "/auth/claim/support-assessment-a/sa-06",
        data: [
          {
            q: "Are you employed?",
            a: "No"
          },
          {
            q: "Have your conditions affected your ability to work?",
            a: "Yes"
          },
          {
            q: "Have you had any retraining to help you gain or retain employment?",
            a: "No"
          },
          {
            q: "Have you lost a job (excluding any medical discharge from the ADF) because of your conditions?",
            a: "Yes"
          },
          {
            q: "The more detail you provide the more we can understand how we may be able to support you.",
            a: " "
          }
        ]
      },
      {
        title: "Treatments",
        edit_url: "/auth/claim/support-assessment-a/sa-07",
        data: [
          {
            q: "Have your undertaken any treatment from your conditions?",
            a: "No"
          },
          {
            q: "Tell us in your own words any other impacts of your condition that have not been already covered.",
            a: " "
          }
        ]
      },
      
    ]
  }) %>



<%- include(forms+"pagination", {
    pagination: [
      {
        link: "/auth/claim/support-assessment-a/sa-07",
        text: "Previous"
      },
      {
        link: "/auth/claim",
        text: "Save and exit",
        modifiers: ["floated"]
      },
      {
        link: "/auth/claim/support-assessment-a/sa-09",
        text: "Submit",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<script src="https://smtpjs.com/v3/smtp.js">
</script>

<button onclick="sendEmail()">Emailing</button>

<script>


    //Token generated hides user credentials
    //I've created an email account to send emails from the prototype
    //Contact me if you require the password.
    function sendEmail() {
        Email.send({
            Host: "smtp.gmail.com",
            Username: "myservice.prototype@gmail.com",
            Password: "Myserviceoh.012",
            To: 'myservice.prototype@gmail.com',
            From: "myservice.prototype@gmail.com ",
            Subject: "Support Assessment - A",
            Body: "And this is the body"
        }).then(
            message => alert(message)
        );
    }
</script>

<% - include(forms + "modals/claim-cancel") %>
<% - include(templates + "footer") %>