<div id="open-myaccount-modal" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">Close</a>
    <h2>This will take you to MyAccount</h2>
    <p>Are you sure you want to leave MyService?
      <br>You can go back at any time by selecting 'MyService' from the menu.</p>
    <img class="margin-below--none" src="/docs/images/myaccount-myservice-switch.png" alt="Switch to MyAccount - logo">
    <div class="modal-buttons">
      <button class="uikit-btn" onclick="window.location.href = '/auth/onboarding'">Go to MyAccount</button>
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
    </div>
  </div>
</div>