<div id="open-needsmodal" class="modal-window">
	<div>
		<a href="#modal-close" title="Close" class="modal-close">Close</a>
		<h2>This will delete your needs assessment.</h2>
		<p>Are you sure you want to delete your assessment and lose the information you have entered?</p>
		<div class="modal-buttons">
			<button class="uikit-btn" onclick="window.location.href = '/auth'">Delete assessment</button>
			<button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Return to assessment</button>
			
		</div>
	</div>
</div>
