<div id="open-modal" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">Close</a>
    <h2>Are you sure you want to cancel this task?</h2>
    <p>Your progress will not be saved.</p>
    <p>You will need to complete this task by the due date.</p>
    <div class="modal-buttons">
      <button class="uikit-btn" onclick="window.location.href = '/auth'">Cancel task</button>
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>

    </div>
  </div>
</div>
