<div id="open-modal" class="modal-window">
  <div>
    <a href="#modal-close" title="Close" class="modal-close">Close</a>
    <h2>Complete task later?</h2>
    <p>Your progress will not be saved.</p>
    <div class="modal-buttons">
      <button class="uikit-btn" onclick="window.location.href = '/auth'">Complete later</button>
      <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#close-modal'">Cancel</button>
    </div>
  </div>
</div>
