<div id="state-switcher">
  <h3>State switcher</h3>
  <%- include(partials+"components/form-partials/radio", {
      id: "edu-assist-state-switcher",
      boxes: [
        {
          text: "Student over 21"
        },
        {
          text: "Student over 16"
        },
        {
          text: "Student under 16",
          modifiers: ["checked"]
        },
        {
          text: "Parent/Guardian"
        },
        {
          text: "Veteran"
        },
      ]
    }) %>
</div>

<script>
  $(document).keypress(function (e) {
    switch (e.which) {
      case 96: //tilda
        $('#state-switcher').toggle();
        break;
      default:
    }
  });

  $(document).ready(function () {
    var mySelection = $('input[name=edu-assist-state-switcher]:checked').parent().find("span").text().trim();
    initFlow();
    $("#state-switcher").on("change", "input[type=radio]", function () {
      initFlow();
    });

    // Veteran logic
    $('#about-the-veteran-drop').change(function () {
      let drop = document.getElementById("about-the-veteran-drop");
      let selectedOption = drop.options[drop.selectedIndex].value;
      console.log(selectedOption);
      if (selectedOption === "parent") {
        $('#parent-selected-message').show();
      } else {
        $('#parent-selected-message').hide();
      }
      if (selectedOption === "stepparent") {
        $('#step-parent-selected-message-option-container').show();
        $('#about-you-heading').hide();
        $("#student-dropdown2-container").hide();
        $("#maybe-not-eligible").hide();
      } else {
        $('#step-parent-selected-message-option-container').hide();
      }
    })

    $('#full-time-employment-parent-container label').click(function () {
      let toggleInput1 = this.childNodes[3].innerHTML;
      if (toggleInput1 === "No") {
        $("#parent-selected-message").hide();
        $('#about-the-veteran-drop option').prop('selected', function () {
          return this.defaultSelected;
        });
        $("#about-the-veteran-drop-container").show();
        $("#about-veteran-header").hide();
      }
      else {
        $("#shared-care-arrangement2-container").show();
        $("#about-the-veteran-drop-container").show();
        $("#about-veteran-header").show();
      }
    });

    $('.parent-selected-message-option label').click(function () {
      let toggleInput2 = this.childNodes[3].innerHTML;
      console.log('working');
      var mySelection = $('input[name=edu-assist-state-switcher]:checked').parent().find("span").text().trim();
      if (mySelection === "Veteran" || "Parent/Guardian") {
        if (toggleInput2 === "Yes" || toggleInput2 === "Unsure") {
          $("#about-you-heading").show();
          $("#student-dropdown2-container").show();
          $("#family-tax-benefit-container").show();
          $("#maybe-not-eligible").hide();
        } else {
          $("#about-you-heading").hide();
          $("#student-dropdown2-container").hide();
          $("#family-tax-benefit-container").hide();
          $("#maybe-not-eligible").show();
        }
      }
      if (mySelection === "Student over 21") {
        if (toggleInput2 === "Yes" || toggleInput2 === "Unsure") {
          $("#family-tax-benefit-container").hide();
        }
      }
      if (mySelection === "Student over 16") {
        if (toggleInput2 === "Yes" || toggleInput2 === "Unsure") {
          $("#maybe-not-eligible").hide();
          $("#save-and-next-message").show();
          $("#student-dropdown2-container").hide();
          $("#about-you-heading").hide();
          $("#family-tax-benefit-container").hide();
        }
        if (toggleInput2 === "No") {
          $("#save-and-next-message").hide();
          $("#maybe-not-eligible").show();
          $("#student-dropdown2-container").hide();
          $("#about-you-heading").hide();
          $("#family-tax-benefit-container").hide();
        }

      }


    });

    $('#family-tax-benefit-container label').click(function () {
      let toggleInput3 = this.childNodes[3].innerHTML;
      if (toggleInput3 === "Yes") {
        $(".family-tax-benefit-yes").show();
        if (mySelection === "Veteran") {
          $("#full-time-employment-parent-container").show();
        }
      } else {
        $(".family-tax-benefit-yes").hide();
      }
    })

    $('#shared-care-arrangement2-container label').click(function () {
      let toggleInput4 = this.childNodes[3].innerHTML;
      console.log(toggleInput4);
      if (toggleInput4 === "Yes") {
        $("#percentage-of-care2-container").show();
        $("#about-other-parent-guardian > div").show();
      } else {
        $("#percentage-of-care2-container").hide();
        $("#about-other-parent-guardian > div").hide();
      }
    });

    // Student logic

    $("#full-time-employment-student-container label").click(function () {
      let toggleInput5 = this.childNodes[3].innerHTML;
      if (toggleInput5 === "Yes") {
        $(".parent-guardian-alert").show();
        $("#parent-guardian-benefit-container").show();
      } else {
        $(".parent-guardian-alert").hide();
        $("#parent-guardian-benefit-container").hide();
        $("#parent-guardian-benefit-container").show();
      }
    })

    $('#parent-guardian-benefit-container label').click(function () {
      let toggleInput6 = this.childNodes[3].innerHTML;
      if (toggleInput6 === "Yes") {
        $('#please-provide-details-message').show();
        $('.student-parent-details').show();
      } else {
        $('#please-provide-details-message').hide();
        $('.student-parent-details').hide();
      }
    })

    $('#about-the-veteran-drop-student').change(function () {
      let drop = document.getElementById("about-the-veteran-drop-student");
      let selectedOption = drop.options[drop.selectedIndex].value;
      console.log(selectedOption);
      selectedOption === "parent" ? $('#parent-selected-message').show() : $('#parent-selected-message').hide();
      selectedOption === "stepparent" ? $('#step-parent-selected-message-option-container').show() : $('#step-parent-selected-message-option-container').hide();
    })

    $('#step-parent-selected-message-option-container label').change(function () {
      let toggleInput7 = this.childNodes[3].innerHTML;
      if (toggleInput7 === "Yes") {
        console.log(this);
        $("#maybe-not-eligible").hide();
        $("#parent-selected-message").show();
      } else {
        $("#save-and-next-message").hide();
        $("#parent-selected-message").hide();
        $("#maybe-not-eligible").show();
      }
    })


    // Parent/Guardian logic

  });

  function veteranFlow() {
    $(".parent-veterean").hide();
    $(".student").hide();
    $(".veteran").hide();
    $("#veteran-notification").show();
    $("#students-dob-container").show();
    $(".phone-number").hide();
    $(".email-address").hide();

    $('#percentage-of-care').keyup(function () {
      $('.other-parent').show();
    });
  };

  function hideAll() {
    $(".phone-number").hide();
    $(".email-address").hide();
    $(".parent-veteran").hide();
    $(".student").hide();
    $("#about-student-heading").hide();
    $(".veteran").hide();
    $(".parent-guardian-alert").hide();
    $(".parent-guardian").hide();
    $(".uikit-page-alerts").hide();
    $("#student-or-parent-radio-container").hide();
    $("edu-student-alert-u16").hide();
    $(".parent-guardian-alert").hide();
    $(".student-parent-details").hide();
    $(".hidden-field").hide();
  }

  function resetInputs() {
    document.getElementById("student-or-parent-radio-2").checked = false;
    document.getElementById("student-or-parent-radio-1").checked = false;
    $("label[for='student-or-parent-radio-2']").removeClass("cursor-disabled");
  }

  function parentGuardianFlow() {
    $(".parent-guardian-start").show();
    $("#student-or-parent-radio-container input").click(function () {
      $("#students-dob-container").show();
    });
  }

  function studentU16Flow() {
    $("label[for='student-or-parent-radio-2']").addClass("cursor-disabled");
    $(".parent-guardian-start").show();
    $("#student-or-parent-radio-1").click(function () {
      $("#edu-student-alert-u16").show();
    });
  }

  function studentFlow() {
    $("#student-or-parent-radio-container").show();
    $("label[for='student-or-parent-radio-2']").addClass("cursor-disabled");
    $("#student-or-parent-radio-1").click(function () {
      $("#edu-student-alert-u16").hide();
      $("#about-the-veteran-drop-container").hide();
      $("#shared-care-arrangement-container").hide();
      $("#edu-student-alert").show();
      $("#full-time-employment-student-container").show();
      $("#parent-guardian-benefit-container").show();
    });
  }

  function studentOver21Flow() {
    $("#student-or-parent-radio-container").show();
    $("#student-or-parent-radio-2").click(function () {
      $("#students-dob-container").show();
    });
  }

  var mySelection;
  function initFlow() {
    mySelection = $('input[name=edu-assist-state-switcher]:checked').parent().find("span").text().trim();
    console.log(mySelection);
    switch (mySelection) {
      case "Student over 21":
        resetInputs();
        hideAll();
        studentOver21Flow();
        break;
      case "Student over 16":
        resetInputs();
        hideAll();
        studentFlow();
        break;
      case "Student under 16":
        resetInputs();
        hideAll();
        studentU16Flow();
        break;
      case "Parent/Guardian":
        hideAll();
        resetInputs();
        parentGuardianFlow();
        break;
      case "Veteran":
        hideAll();
        veteranFlow();
        break;
      default:
      // code block
    }
  }


  //date field display logic dependant on each flow
  var year, month, day, dob, currentAge;
  $("#students-dob-container input").keyup(function () {
    //get the year month and day after each input change
    year = $("#students-dob-yyyy").val();
    month = $("#students-dob-mm").val();
    day = $("#students-dob-mm").val();

    //calculate dob if inputs are filled in and parse to executable format
    year.length >= 4 && month && day ? dob = year + "/" + month + "/" + day : dob = null;
    dob ? currentAge = getAge(dob) : currentAge = null;

    //check if the user older than 25
    if (dob !== null) {
      currentAge > 25 ? $("#over25-notification").show() : $("#over25-notification").hide();
      if (currentAge >= 18 && currentAge < 25) {
        $("#family-tax-benefit-container").hide();
        $("#over18-notification").show()
      } else {
        $("#over18-notification").hide();
      }
      if (currentAge <= 4) {
        $("#about-veteran-header").hide();
        $("#about-the-veteran-drop-container").hide();
        $("#shared-care-arrangement2-container").hide();
        $("#percentage-of-care2-container").hide();
        $("#family-tax-benefit-container").hide();
        $("#student-dropdown-container").hide();
        $("#under4-notification").show();
      } else {
        $("#under4-notification").hide();
      }

      if (mySelection == "Veteran") {
        if (currentAge > 4 && currentAge < 18) {
          $("#student-dropdown-container").show();
          $("#shared-care-arrangement2-container").show();
        }
        if (currentAge < 18) {

        }

        if (currentAge >= 18) {
          $("#family-tax-benefit-container").hide();
          $("#student-dropdown-container").hide();
          $("#shared-care-arrangement2-container").hide();
        }

        if (currentAge >= 16 && currentAge < 18) {
          $("#family-tax-benefit-container").show();
          $("shared-care-arrangement-container").show();
        } else {
          $("#family-tax-benefit-container").hide();
        }
      }
      if (mySelection === "Parent/Guardian" || mySelection === "Student over 21") {
        currentAge > 4 && currentAge < 18 ? $("#full-time-employment-parent-container").show() : $("#full-time-employment-parent-container").hide();
        currentAge >= 18 ? $("#over18-notification").show() : $("#over18-notification").hide();
        if (currentAge < 16 && mySelection === "Parent/Guardian" || mySelection === "Student over 21") {
          $("#full-time-employment-parent-container").hide();
          $("#about-veteran-header").show();
          $("#about-the-veteran-drop-container").show();
          $("#shared-care-arrangement2-container").show();
        }
      }
      if (mySelection === "Student over 21") {
        console.log(currentAge);
        if (currentAge >= 16 && currentAge <= 18) {
          $("#about-veteran-header").hide();
          $("#about-the-veteran-drop-container").hide();
          $("#shared-care-arrangement2-container").hide();
        }
      }

    }
  });

  function getAge(dateString) {
    var today = new Date();
    console.log(today);
    var birthDate = new Date(dateString);
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
      age--;
    }
    return age;
  }
</script>
