<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-authenticated") %>
  <main>
    <section>
      <div class="section-feature">
        <div id="main-content" class="container">
          <h1 class="margin-below--small margin-above--small">
            <span class="heading">Transport</span>
          </h1>
        </div>
      </div>

      <div class="ss-align--center section-feature margin-above--none" id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="medium-text">
                You may be eligible for Transport Services. To make a booking or seek reimbursement
                <a href="/auth/travel#open-myaccount-modal">switch to your MyAccount</a>.
              </p>
            </div>

          </div>
        </div>

      </div>
    </section>

  </main>

  <%- include(partials+"footer") %>

</body>

</html>