<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim for travel expenses | MyService</title>
  <link href="/docs/css/main.css" rel="stylesheet">
  <style>
    .clear {
      clear: both;
    }
  </style>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Claim for travel expenses</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

          <div class="margin-above--extra margin-below--extra">

            <div class="form-group">
              <h2>Add trip info</h2>
              <hr>
              <p>NOTE: the different date/time fields are there for discussion</p>
              <label class="uikit-text-input__label" for="date">Date
                <span class="hint">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" aria-required="true" aria-label="4 digit year">

              <label class="uikit-text-input__label" for="Input field">Time</label>
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="time" value="" aria-required="true">

              <label class="uikit-text-input__label" for="Input field">Date and time</label>
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="datetime-local" value="" aria-required="true">
              <hr>


              <hr>

              <section class="mys-file-uploads">



              </section>
              <hr class="hr-compact">

              <div class="cool-test">
                <div class="container simple-accordion simple-accordion--closed margin-below">
                  <div class="row simple-accordion__trigger">
                    <div class="col-sm-12">
                      <h2 class="simple-accordion__heading margin-above--none margin-below--none">
                        <a class="toggle-arrow">
                          <b>see claims</b>
                        </a>
                      </h2>
                    </div>
                  </div>

                  <div class="row simple-accordion__body margin-below--extra">

                    <label class="uikit-text-input__label" for="drop-down">Which health provider did you attend?
                      <br />
                      <span class="hint display-block">Provider type</span>
                    </label>
                    <select class="uikit-text-input input-half" id="providerType" name="drop-down">
                      <option selected>-- Select an item --</option>
                      <option>Psychiatrist</option>
                      <option>Psychologist</option>
                      <option>General practitioner</option>
                      <option>Podiatrist</option>
                      <option>Radiologist / x-ray</option>
                      <option>Cardiologist</option>
                      <option>Ophthalmologist</option>
                      <option>Orthopaedic surgeon</option>
                      <option>Other</option>
                    </select>
                    <label class="uikit-text-input__label" for="Input field">Name</label>
                    <input class="uikit-text-input input-half" name="Input field" id="providerName" type="text" value="" aria-required="true">
                    <label class="uikit-text-input__label" for="Input field">Phone</label>
                    <input class="uikit-text-input input-half" name="Input field" id="providerPhone" type="text" value="" aria-required="true">
                    <label class="uikit-text-input__label" for="Input field">Suburb</label>
                    <input class="uikit-text-input input-half" name="Input field" id="providerSuburb" type="text" value="" aria-required="true">
                    <label class="uikit-text-input__label" for="drop-down">State</label>
                    <select class="uikit-text-input input-half" id="providerState" name="drop-down">
                      <option selected>-- Select a state --</option>
                      <option>ACT</option>
                      <option>NSW</option>
                      <option>NT</option>
                      <option>QLD</option>
                      <option>SA</option>
                      <option>TAS</option>
                      <option>VIC</option>
                      <option>WA</option>
                    </select>
                    <label class="uikit-text-input__label" for="drop-down">What is this trip for?</label>
                    <select class="uikit-text-input input-half" id="tripUsedFor" name="drop-down">
                      <option selected>-- Select --</option>
                      <option>Hospital admission</option>
                      <option>Hospital discharge</option>
                      <option>Disability claim</option>
                      <option>Income support claim</option>
                      <option>Other</option>
                    </select>
                    <label class="uikit-text-input__label" for="Input field">What were you treated for?</label>
                    <input class="uikit-text-input input-half" name="Input field" id="treatedFor" type="text" value="" aria-required="true">
                    <hr>
                    <p><strong>Note:</strong> To receive maximum benefits, travel should be to the closest practical provider.</p>
                    <hr>
                    <label class="uikit-text-input__label" for="drop-down">What are you claiming?</label>
                    <label class="uikit-text-input__label" for="Input field">Private vehicle</label>
                    <span class="hint">&nbsp;&nbsp; </span><input class="uikit-text-input input-half" name="Input field" id="privateVehicle" type="text" value=""
                      aria-required="true"> <span class="hint">kms</span>
                    <label class="uikit-text-input__label" for="Input field">Public transport</label>
                    <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="publicTransport" type="text" value="" aria-required="true">
                    <label class="uikit-text-input__label" for="Input field">Taxi</label>
                    <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="taxi" type="text" value="" aria-required="true">
                    <label class="uikit-text-input__label" for="Input field">Community</label>
                    <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="community" type="text" value="" aria-required="true">
                    <label class="uikit-text-input__label" for="Input field">Air</label>
                    <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="air" type="text" value="" aria-required="true">
                    <label class="uikit-text-input__label" for="Input field">Parking fees</label>
                    <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="parkingFees" type="text" value="" aria-required="true">

                    <label class="uikit-text-input__label" for="Input field">Road tolls</label>
                    <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="roadTolls" type="text" value="" aria-required="true">
                    <hr>
                    <label class="uikit-text-input__label" for="toggle-buttons">Did DVA arrange/pay for this travel (e.g. booked car with driver, air travel or ambulance)?</label>
                    <div class="radio-toggle">
                      <label class="on label-left" for="yesArrange">
                        <input id="yesArrange" type="radio" name="toggle-buttons-arrange" value="Yes">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="noArrange">
                        <input id="noArrange" type="radio" name="toggle-buttons-arrange" value="No">
                        <span>No</span>
                      </label>
                    </div>
                    <hr>
                    <label class="uikit-text-input__label" for="toggle-buttons">Did you require accommodation?</label>
                    <div class="radio-toggle">
                      <label class="on label-left" for="yesAccommodation">
                        <input id="yesAccommodation" type="radio" name="toggle-buttons-accommodation" value="Yes">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="noAccommodation">
                        <input id="noAccommodation" type="radio" name="toggle-buttons-accommodation" value="No">
                        <span>No</span>
                      </label>
                    </div>
                    <label class="uikit-text-input__label" for="toggle-buttons">Did you travel with an attendant?</label>
                    <div id="attendant" class="radio-toggle">
                      <label class="on label-left" for="yesAttendant">
                        <input id="yesAttendant" type="radio" name="toggle-buttons-attendant" value="Yes">
                        <span>Yes</span>
                      </label>
                      <label class="off label-right" for="noAttendant">
                        <input id="noAttendant" type="radio" name="toggle-buttons-attendant" value="No">
                        <span>No</span>
                      </label>
                    </div>
                    <hr>
                  </div>

                </div>


              </div>
              <div class="results"></div>
            </div>
          </div>

          <div class="pagination pagination--ss-reverse-order">
            <div class="mys-file-uploads__uploads-actions">
              <button id="saveAndAdd" class="uikit-btn small uikit-btn--tertiary">Save and add trip</button>
            </div>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/incap-progress'">Previous</button>
            <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
            <div class="floated">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth?user=INCAPuser-incomplete'">Save and exit</button>
              <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
            </div>
          </div>

        </div>
      </div>
    </div>


  </main>

  <% include ../../../partials/footer.ejs %>

  <script>
    $("#saveAndAdd").click(function () {
      addTrip();
      // var x = $(".cool-test").serializeArray();
      // $.each(x, function(i, field){
      //   $("#results").append(field.value + " " + "<br>");
      //   $("#results:last").addClass("clear");
      //   // $("#results").clone().appendTo('.simple-accordion__body');
      // });

      var el = $('.cool-test').clone();
      el.removeClass('cool-test');
      el.appendTo('.results');
    });

    // $(".results").addlass('.clear');

    function addTrip() {
      var providerType = $("#providerType").val();
      var providerName = $("#providerName").val();
      var providerPhone = $("#providerPhone").val();
      var providerSuburb = $("#providerSuburb").val();
      var providerState = $("#providerState").val();
      var tripUsedFor = $("#tripUsedFor").val();
      var privateVehicle = $("#privateVehicle").val();
      var publicTransport = $("#publicTransport").val();
      var taxi = $("#taxi").val();
      var community = $("#community").val();
      var air = $("#air").val();
      var parkingFees = $("#parkingFees").val();
      var roadTolls = $("#roadTolls").val();
      var arrange = $('input[name=toggle-buttons-arrange]:checked').val();
      var accommodation = $('input[name=toggle-buttons-accommodation]:checked').val();
      var attendant = $('input[name=toggle-buttons-attendant]:checked').val();

      $("#providerTypeValue").html(providerType);
      $("#providerNameValue").html(providerName);
      $("#providerPhoneValue").html(providerPhone);
      $("#providerSuburbValue").html(providerSuburb);
      $("#providerStateValue").html(providerState);
      $("#tripUsedForValue").html(tripUsedFor);
      $("#privateVehicleValue").html(privateVehicle);
      $("#publicTransportValue").html(publicTransport);
      $("#taxiValue").html(taxi);
      $("#communityValue").html(community);
      $("#airValue").html(air);
      $("#parkingFeesValue").html(parkingFees);
      $("#roadTollsValue").html(roadTolls);
      $("#arrangeValue").html(arrange);
      $("#accommodationValue").html(accommodation);
      $("#attendantValue").html(attendant);

      // var value = $(".providerType").val();
      //   $("#providerTypeValue").html(value);
    };
    $(".au-accordion").slideToggle("slow");

    $(".toggle-arrow").click(function () {
      $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
    });
  </script>

</body>

</html>