<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Claim for travel expenses | MyService</title>
<%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
  <%- include(partials+"header-nom-rep") %>
  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Claim for travel expenses</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="form-group">
        <h2>Add trip info</h2>
        <hr>
        <p>NOTE: the different date/time fields are there for discussion</p>
        <label class="uikit-text-input__label" for="date">Date
          <span class="hint">(DD / MM / YYYY)</span>
        </label>
        <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" aria-required="true" aria-label="2 digit day"> /
        <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" aria-required="true" aria-label="2 digit month"> /
        <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" aria-required="true" aria-label="4 digit year">

        <label class="uikit-text-input__label" for="Input field">Time</label>
        <input class="old-travel-date uikit-text-input input-half" name="Input field" id="Input field" type="time" value="" aria-required="true">

        <label class="uikit-text-input__label" for="Input field">Date and time</label>
        <input class="old-travel-date uikit-text-input input-half" name="Input field" id="Input field" type="datetime-local" value="" aria-required="true">
        <hr>

        <label class="uikit-text-input__label" for="drop-down">Which health provider did you attend?
          <br />
          <span class="hint display-block">Provider type</span>
        </label>
        <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
          <option selected>-- Select an item --</option>
          <option>Psychiatrist</option>
          <option>Psychologist</option>
          <option>General practitioner</option>
          <option>Podiatrist</option>
          <option>Radiologist / x-ray</option>
          <option>Cardiologist</option>
          <option>Ophthalmologist</option>
          <option>Orthopaedic surgeon</option>
          <option>Other</option>
        </select>
        <label class="uikit-text-input__label" for="Input field">Name</label>
        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <label class="uikit-text-input__label" for="Input field">Phone</label>
        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <label class="uikit-text-input__label" for="Input field">Suburb</label>
        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <label class="uikit-text-input__label" for="drop-down">State</label>
        <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
          <option selected>-- Select a state --</option>
          <option>ACT</option>
          <option>NSW</option>
          <option>NT</option>
          <option>QLD</option>
          <option>SA</option>
          <option>TAS</option>
          <option>VIC</option>
          <option>WA</option>
        </select>
        <label class="uikit-text-input__label" for="drop-down">What is this trip for?</label>
        <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
          <option selected>-- Select --</option>
          <option>Hospital admission</option>
          <option>Hospital discharge</option>
          <option>Disability claim</option>
          <option>Income support claim</option>
          <option>Other</option>
        </select>
        <label class="uikit-text-input__label" for="Input field">What were you treated for?</label>
        <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <hr>
        <p><strong>Note:</strong> To receive maximum benefits, travel should be to the closest practical provider.</p>
        <hr>
        <label class="uikit-text-input__label" for="drop-down">What are you claiming?</label>
        <label class="uikit-text-input__label" for="Input field">Private vehicle</label>
        <span class="hint">&nbsp;&nbsp; </span><input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true"> <span
          class="hint">kms</span>
        <label class="uikit-text-input__label" for="Input field">Public transport</label>
        <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <label class="uikit-text-input__label" for="Input field">Taxi</label>
        <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <label class="uikit-text-input__label" for="Input field">Community</label>
        <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <label class="uikit-text-input__label" for="Input field">Air</label>
        <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <label class="uikit-text-input__label" for="Input field">Parking fees</label>
        <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <label class="uikit-text-input__label" for="Input field">Road tolls</label>
        <span class="hint">$ </span><input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" aria-required="true">
        <hr>
        <label class="uikit-text-input__label" for="toggle-buttons">Did DVA arrange/pay for this travel (e.g. booked car with driver, air travel or ambulance)?</label>
        <div class="radio-toggle">
          <label class="on label-left" for="yes">
            <input id="yes" type="radio" name="toggle-buttons">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="no">
            <input id="no" type="radio" name="toggle-buttons">
            <span>No</span>
          </label>
        </div>
        <hr>
        <label class="uikit-text-input__label" for="toggle-buttons">Did you require accommodation?</label>
        <div class="radio-toggle">
          <label class="on label-left" for="yes">
            <input id="yes" type="radio" name="toggle-buttons">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="no">
            <input id="no" type="radio" name="toggle-buttons">
            <span>No</span>
          </label>
        </div>
        <label class="uikit-text-input__label" for="toggle-buttons">Did you travel with an attendant?</label>
        <div class="radio-toggle">
          <label class="on label-left" for="yes">
            <input id="yes" type="radio" name="toggle-buttons">
            <span>Yes</span>
          </label>
          <label class="off label-right" for="no">
            <input id="no" type="radio" name="toggle-buttons">
            <span>No</span>
          </label>
        </div>
      </div>


      <div class="pagination pagination--ss-reverse-order">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/incap-progress'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth?user=INCAPuser-incomplete'">Save and exit</button>
          <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = ''">Save and next</button>
        </div>
      </div>

    </div>
    </div>
    </div>


  </main>

  <%- include(partials+"footer") %>


  <script>
    //   function myFunction() {
    //     $( "#te-review" ).on( "click", function () {
    //   location.replace("https://www.w3schools.com")
    // });
    // }

    var teReviewClicked = false;
    var teAcceptedClicked = false;

    $('#te-review').click(function () {
      teReviewClicked = true;
    });

    $('#te-accepted').click(function () {
      teAcceptedClicked = true;
    });

    $('#btnNext').click(function () {
      if (teAcceptedClicked) {
        window.location.href = '/travel-expense2';
      } else if (teReviewClicked) {
        window.location.href = 'travel-expense3';
      }
    });

    $("#yesAccommodation").click(function () {
      $("#accommodationType").show("fast");
    });
    $("#noAccommodation").click(function () {
      $("#accommodationType").hide();
    });
    $("#yesAttendant").click(function () {
      $("#seperateRoom").show("fast");
    });
    $("#noAttendant").click(function () {
      $("#seperateRoom").hide();
    });
    $("#te-accepted").click(function () {
      $(".travel-expense-form-group").show("fast");
      $("#info-review").hide();
    });
    $("#te-review").click(function () {
      $(".travel-expense-form-group").show("fast");
      $("#info-review").show("fast");
    });
  </script>

</body>

</html>