<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Style Guide | Accordion | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Accordion</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Accordion</h1>
          <h2>Accordion</h2>
          <div class="uikit-page-alerts" role="alert">
            <p>Due to a conflict in the scripts in the style guide, the accordion must be double clicked to open, but will work with one click on other pages.</p>
          </div>
          <div class="example-box">
            <section class="au-accordion">
              <button aria-controls="accordion-send-message" aria-expanded="true" class="au-accordion__title js-au-accordion au-accordion--closed"
                onclick="return AU.accordion.Toggle( this )"><i class="fas fa-bell"></i> Title of accordion</button>
              <div class="au-accordion__body au-accordion--closed" id="accordion-send-message" style="">
                <div class="au-accordion__body-wrapper">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio laudantium odit, nulla facere, tempora qui cum consequatur ullam excepturi amet a
                    placeat aliquam ab error pariatur at corrupti dignissimos.</p>

                  <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolar</li>
                    <li>Sit</li>
                    <li>Amet</li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="code-toolbar">
              <pre class="language-markup">
              <code class="language-markup">
                <script type="text/plain">
                  <section class="au-accordion">
                    <button aria-controls="accordion-title" aria-expanded="true" class="au-accordion__title js-au-accordion au-accordion--closed" onclick="return AU.accordion.Toggle( this )"><i class="far fa-envelope"></i> Title of accordion</button>
                    <div class="au-accordion__body au-accordion--closed" id="accordion-title" style="">
                      <div class="au-accordion__body-wrapper">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio laudantium odit, nulla facere, tempora qui cum consequatur ullam excepturi amet a placeat aliquam ab error pariatur at corrupti dignissimos.</p>
                        <ul>
                          <li>Lorem</li>
                          <li>Ipsum</li>
                          <li>Dolar</li>
                          <li>Sit</li>
                          <li>Amet</li>
                        </ul>
                      </div>
                    </div>
                  </section>
                </script>
              </code>
            </pre>
            </div>
          </div>
          <hr>
          <h2>Accordion v2</h2>
          <div class="example-box">
            <div class="claims-accordion simple-accordion margin-below simple-accordion--open">
              <div class="simple-accordion__trigger">
                <div>
                  <h2 class="simple-accordion__heading margin-above--none margin-below--none">
                    <a class="toggle-arrow">
                      <b>Get the entitlements you deserve</b>
                    </a>
                  </h2>
                </div>
              </div>
              <div class="row simple-accordion__body margin-below--extra">
                <div class="col-sm-6 dividing-line">
                  <h2 class="simple-accordion__heading">Claim now for service-related
                    <br>
                    <b>injuries or illness</b>
                  </h2>
                  <p>Access treatment and support if you have an injury or condition resulting from your service.</p>
                  <button class="uikit-btn" onclick="window.location.href='/claim1'">Get started</button>
                </div>

                <div class="col-sm-5">

                  <h2 class="simple-accordion__heading">Claim now for
                    <br>
                    <b>education assistance</b>
                  </h2>
                  <p>Get help with the cost of education for you or your family.</p>
                  <button class="uikit-btn" onclick="window.location.href='/auth/claim/studentpreeligibility?flow=veteranFlow'">Make a claim</button>

                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="claims-accordion simple-accordion margin-below simple-accordion--open">
                          <div class="simple-accordion__trigger">
                            <div>
                              <h2 class="simple-accordion__heading margin-above--none margin-below--none">
                                <a class="toggle-arrow">
                                  <b>Get the entitlements you deserve</b>
                                </a>
                              </h2>
                            </div>
                          </div>
                          <div class="row simple-accordion__body margin-below--extra">
                            <div class="col-sm-6 dividing-line">
                              <h2 class="simple-accordion__heading">Claim now for service-related
                                <br>
                                <b>injuries or illness</b>
                              </h2>
                              <p>Access treatment and support if you have an injury or condition resulting from your service.</p>
                              <button class="uikit-btn" onclick="window.location.href='/claim1'">Get started</button>
                            </div>
            
                            <div class="col-sm-5">
            
                              <h2 class="simple-accordion__heading">Claim now for
                                <br>
                                <b>education assistance</b>
                              </h2>
                              <p>Get help with the cost of education for you or your family.</p>
                              <button class="uikit-btn" onclick="window.location.href='/auth/claim/studentpreeligibility?flow=veteranFlow'">Make a claim</button>
            
                            </div>
                          </div>
                        </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/claim/claims-existingnlhc.ejs">here</a>.</p>
          <hr>
          <h2>Accordion v3</h2>
          <div class="example-box">
            <div class="accordion">
              <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Conditions listed</button>
              <div class="accordion-content" hidden="">
                <p class="accordion-content__sub-heading">The following conditions are listed on this card:</p>
                <div class="health-card__conditions-list margin-below--mid">

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Malaria (aggravation (DRCA))</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">15 October 1981</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Chicken box (aggravation (DRCA))</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">23 May 1982</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Paraplegia, unspecified, chronic</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">01 January 2006</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Reactive arthritis</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">16 December 2017</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Spastic hemiplegia</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">01 July 2005</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Soft tissue sarcoma</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">01 January 2002</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Cut, stab, abrasion and laceration</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">15 December 2017</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Tuberculosis</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">01 October 2017</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Tuberculosis</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">01 October 2017</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Tuberculosis</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">01 October 2017</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Benign intercranial hypertension (aggravation)</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">23 October 1990</span>

                    </div>
                  </div>

                  <div class="health-card__condition">
                    <i class="far fa-check-circle health-card__condition-icon"></i>
                    <div class="health-card__condition-info">
                      <span class="health-card__condition-name">Night blindness (aggravation)</span><br>
                      <span class="health-card__condition-status">Approved</span>

                      <span class="health-card__condition-date">26 January 1991</span>

                    </div>
                  </div>

                </div>
                <p>Last updated on 06 August 2079. If incorrect try logging in again later or contact us.</p>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="accordion">
                          <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i>Accordion Label</button>
                          <div class="accordion-content" hidden="">
                            <p class="accordion-content__sub-heading"></p>
                          </div>
                        </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>An example of this component can be found <a href="/auth/cards/index.ejs">here</a>.</p>
          <hr>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>
<script>
  //toggle accordion v2
  $(".toggle-arrow").click(function () {
    $(".simple-accordion").toggleClass('simple-accordion--open simple-accordion--closed');
  });
</script>

</html>
