<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Style Guide | Accordion | MyService</title>
  <% include ../../partials/styleguide-styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <% include ../../partials/styleguide-header.ejs %>

  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Accordion</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Accordion</h1>
          <section class="au-accordion">
            <button class="au-accordion__title js-au-accordion" aria-controls="accordion-default" aria-expanded="true" onclick="return AU.accordion.Toggle( this )">
              Accordion title
            </button>

            <div class="au-accordion__body" id="accordion-default">
              <div class="au-accordion__body-wrapper">
                Here <a href="#url">is</a> some accordion content
              </div>
            </div>
          </section>
          <hr>

        </div>
        <% include ../../partials/styleguide-sidenav.ejs %>
      </div>
    </div>
  </main>
  <% include ../../partials/styleguide-footer.ejs %>
</body>


<script>

</script>

</html>