<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Style Guide | Accordion | MyService</title>
  <%- include(partials+"styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"styleguide-header") %>

  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Accordion</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Accordion</h1>
          <h2>Accordion</h2>
          <div class="uikit-page-alerts" role="alert">
            <p>Due to a conflict in the scripts in the style guide, the accordion must be double clicked to open, but will work with one click on other pages.</p>
          </div>
          <div class="example-box">
            <section class="au-accordion">
              <button aria-controls="accordion-send-message" aria-expanded="true" class="au-accordion__title js-au-accordion au-accordion--closed" onclick="return AU.accordion.Toggle( this )"><i class="fas fa-bell"></i> Title of accordion</button>
              <div class="au-accordion__body au-accordion--closed" id="accordion-send-message" style="">
                <div class="au-accordion__body-wrapper">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio laudantium odit, nulla facere, tempora qui cum consequatur ullam excepturi amet a placeat aliquam ab error pariatur at corrupti dignissimos.</p>

                  <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolar</li>
                    <li>Sit</li>
                    <li>Amet</li>
                  </ul>
                </div>
              </div>
            </section>
          <div class="code-toolbar">
            <pre class="language-markup">
              <code class="language-markup">
                <script type="text/plain">
                  <section class="au-accordion">
                    <button aria-controls="accordion-title" aria-expanded="true" class="au-accordion__title js-au-accordion au-accordion--closed" onclick="return AU.accordion.Toggle( this )"><i class="far fa-envelope"></i> Title of accordion</button>
                    <div class="au-accordion__body au-accordion--closed" id="accordion-title" style="">
                      <div class="au-accordion__body-wrapper">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio laudantium odit, nulla facere, tempora qui cum consequatur ullam excepturi amet a placeat aliquam ab error pariatur at corrupti dignissimos.</p>
                        <ul>
                          <li>Lorem</li>
                          <li>Ipsum</li>
                          <li>Dolar</li>
                          <li>Sit</li>
                          <li>Amet</li>
                        </ul>
                      </div>
                    </div>
                  </section>
                </script>
              </code>
            </pre>
          </div>
        </div>
      </div>
      <%- include(partials+"styleguide-sidenav") %>
    </div>
  </div>
</main>
<%- include(partials+"styleguide-footer") %>
</body>

</html>