<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Address Block | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Address Block</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>Address Block</h1>
          <p>The address block displays a summary of the users previously entered address information in a torn receipt format.</p>

          <div class="example-box">
            <div class="address-block">
              <div class="address-block__content">
                <p class="address-block__line"><span class="pt-current-user-name-full">Alex Kirby</span></p>
                <p class="address-block__line">Unit 3/41 Constitution Ave</p>
                <p class="address-block__line">Jamison Appartments</p>
                <p class="address-block__line">
                  <span class="city">Canberra</span>
                  <span class="state">ACT</span>
                  <span class="post-code">2612</span>
                </p>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="address-block">
                        <div class="address-block__content">
                          <p class="address-block__line"><span class="pt-current-user-name-full">Alex Kirby</span></p>
                          <p class="address-block__line">Unit 3/41 Constitution Ave</p>
                          <p class="address-block__line">Jamison Appartments</p>
                          <p class="address-block__line">
                            <span class="city">Canberra</span>
                            <span class="state">ACT</span>
                            <span class="post-code">2612</span>
                          </p>
                        </div>
                      </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/">here</a>.</p>
          <hr>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
