<%- include(components+"styleguide/styleguide-header", {
  heading: "Address Block",
  claim: "Style Guide"
}) %>

  <p>The address block displays a summary of the users previously entered address information in a torn receipt format.</p>

  <div class="example-box">
    <div class="address-block">
      <div class="address-block__content">
        <p class="address-block__line"><span class="pt-current-user-name-full">Alex Kirby</span></p>
        <p class="address-block__line">Unit 3/41 Constitution Ave</p>
        <p class="address-block__line">Jamison Appartments</p>
        <p class="address-block__line">
          <span class="city">Canberra</span>
          <span class="state">ACT</span>
          <span class="post-code">2612</span>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="address-block">
                <div class="address-block__content">
                  <p class="address-block__line"><span class="pt-current-user-name-full">Alex Kirby</span></p>
                  <p class="address-block__line">Unit 3/41 Constitution Ave</p>
                  <p class="address-block__line">Jamison Appartments</p>
                  <p class="address-block__line">
                    <span class="city">Canberra</span>
                    <span class="state">ACT</span>
                    <span class="post-code">2612</span>
                  </p>
                </div>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>

  <p>An example of this component can be found <a href="/auth/">here</a>.</p>
  <hr>

<%- include(partials+"components/styleguide/styleguide-footer") %>