<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Banners | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Banners</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>Banners</h1>
          <p>Banners displays important messages to users that they must read. banners is displayed in different colour variants depending on the message and is
            always attached to the top navigation bar. banners can also be accompanied by a different icon.</p>
          <div class="example-box">
            <div class="provisional-state">
              <div class="provisional-state-container">
                <div class="provisional-state-item"><img class="provisional-state__icon" src="/docs/images/ico-padlock.svg"></div>
                <div class="">
                  <h3>Your account is not quite ready.
                    <span class="hint display-block">You can still make a claim while we complete your profile setup.</span></h3>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                    <code class="language-markup">
                      <script type="text/plain">
                        <div class="provisional-state">
                            <div class="provisional-state-container">
                              <div class="provisional-state-item"><img class="provisional-state__icon" src="/docs/images/ico-padlock.svg"></div>
                              <div class="">
                                <h3>Your account is not quite ready.
                                  <span class="hint display-block">You can still make a claim while we complete your profile setup.</span></h3>
                              </div>
                            </div>
                          </div>
                      </script>
                    </code>
                  </pre>
            </div>
          </div>
          <p>An example of this component can be found <a href="/auth/claim/veterancard/healthcard-provisional.ejs">here</a>.</p>
          <hr>

        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
