<%- include(components+"styleguide/styleguide-header", {
  heading: "Buttons and links",
  claim: "Style Guide"
}) %>
  <p>MyService uses button styles for actions in forms, dialogs, and more.</p>
  <h2>Buttons</h2>
  <div class="example-box">
    <button class="uikit-btn">Primary</button>
    <button class="uikit-btn uikit-btn--tertiary">Secondary</button>
    <button class="uikit-btn uikit-btn--borderless">Borderless</button>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              // Provides visual weight and identifies the primary action in a set of buttons
              <button class="uikit-btn">Primary</button>

              // Secondary, outline button
              <button class="uikit-btn uikit-btn--tertiary">Secondary</button>

              // Deemphasizes a button by making it look like a link
              <button class="uikit-btn uikit-btn--borderless">Borderless</button>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/qualifying-service/qs-2">here</a>.</p>
  <hr>
  <h2>Button variations</h2>
  <h3>Small buttons</h3>
  <p>Add
    <font color="red">.small</font> for smaller sized buttons.</p>
  <div class="example-box">
    <button class="uikit-btn small">Small size</button>
    <button class="uikit-btn uikit-btn--tertiary small">Small size</button>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
        <code class="language-markup">
          <script type="text/plain">
            <button class="uikit-btn small">Small size</button>
            <button class="uikit-btn uikit-btn--tertiary small">Small size</button>
          </script>
        </code>
      </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/qualifying-service/qs-3">here</a>.</p>
  <hr>
  <h3>Right aligned</h3>
  <div class="example-box">
    <div class="cf">
      <button class="uikit-btn floated">Right aligned</button>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <button class="uikit-btn floated">Right aligned</button>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/studentclaim6">here</a>.</p>
  <hr>

  <h3>Disabled/locked state</h3>
  <p>Make buttons look inactive by adding the disabled attribute to any
    <font color="red">&#60;button&#62;</font> element.</p>
  <div class="example-box">
    <button class="uikit-btn" disabled>Disabled</button>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <button class="uikit-btn" disabled>Disabled</button>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/profile/">here</a>.</p>
  <hr>
  <h2>Links</h2>
  <h3>External links</h3>
  <div class="example-box">
    <p>This is a sentence that includes a
      <a href="#">link to an internal source</a> and a
      <a href="#" rel="external">link to an external source</a>. Styling for external links includes an icon that appends the link text.</p>
    <h3>You can also have an
      <a href="#" rel="external">external link</a> in a heading.</h3>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <p>This is a sentence that includes a
                <a href="#">link to an internal source</a> and a
                <a href="#" rel="external">link to an external source</a>. 
                Styling for external links includes an icon that appends the link text.
              </p>
              <h3>You can also have an
                <a href="#" rel="external">external link</a> in a heading.
              </h3>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/unauth/registration/register-6">here</a>.</p>
  <hr>
  <h3>Inline link lists</h3>
  <p> Inline link lists can be achieved by adding a --inline modifier to uikit-link-lists i.e. uikit-link-list--inline
  </p>
  <p>For more link list options, see the
    <a href="https://uikit.service.gov.au/packages/link-list/tests/site/" rel="external">UI-Kit link-list styles</a>
  </p>
  <div class="example-box">
    <ul class="uikit-link-list uikit-link-list--inline">
      <li>
        <a href="#">Link 1</a>
      </li>
      <li>
        <a href="#">Link 2</a>
      </li>
      <li>
        <a href="#">Link 3</a>
      </li>
    </ul>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <ul class="uikit-link-list uikit-link-list--inline">
                <li>
                  <a href="#">Link 1</a>
                </li>
                <li>
                  <a href="#">Link 2</a>
                </li>
                <li>
                  <a href="#">Link 3</a>
                </li>
              </ul>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/">here</a>.</p>
  <hr>
  <h2>Button with an icon</h2>
  <!-- <p>Medium is good for 3 card rows at full width</p> -->

  <div class="example-box">
    <div class="card card--medium card--simple">
      <a href="#">
        <span class="fal fa-icon-nr fa-user-plus "></span>
        <h3 class="card__title">
          <span>Represent me</span>
        </h3>
      </a>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="card card--medium card--simple">
                <a href="#">
                  <span class="fal fa-icon-nr fa-user-plus "></span>
                  <h3 class="card__title">
                    <span>Represent me</span>
                  </h3>
                </a>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/profile/nomrep">here</a>.</p>
  <hr>

<%- include(partials+"components/styleguide/styleguide-footer") %>