<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Buttons and links | MyService</title>
  <%- include ../../partials/styleguide-styles-and-scripts.ejs %>

</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include ../../partials/styleguide-header.ejs %>
  </%->
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-sm-9">
          <h1>Buttons and links</h1>
          <div class="breakout">
            <p>MyService uses button styles for actions in forms, dialogs, and more.</p>
          </div>
          <h2>Buttons</h2>
          <p>MyService utilises four predefined button styles, each serving its own semantic purpose.</p>
          <div class="example-box">
            <button class="uikit-btn">Primary</button>
            <button class="uikit-btn uikit-btn--tertiary">Tertiary</button>
            <button class="uikit-btn uikit-btn--secondary">Secondary</button>
            <button class="uikit-btn uikit-btn--borderless">Link</button>
            <pre>
              <code class="language-markup">
                <script type="text/plain">
                  // Provides visual weight and identifies the primary action in a set of buttons
                  <button class="uikit-btn">Primary</button>

                  // Tertiary, outline button
                  <button class="uikit-btn uikit-btn--tertiary">Tertiary</button>

                  // Indicates a successful or positive action
                  <button class="uikit-btn uikit-btn--secondary">Secondary</button>

                  // Deemphasizes a button by making it look like a link
                  <button class="uikit-btn uikit-btn--borderless">Link</button>
                </script>
              </code>
            </pre>
          </div>
          <h2>Button variations</h2>
          <h3>Small buttons</h3>
          <p>Add
            <font color="red">.small</font> for smaller sized buttons.</p>
          <div class="example-box">
            <button class="uikit-btn small">Small size</button>
            <button class="uikit-btn uikit-btn--tertiary small">Small size</button>
            <pre>
              <code class="language-markup">
                <script type="text/plain">
                    <button class="uikit-btn small">Small size</button>
                    <button class="uikit-btn uikit-btn--tertiary small">Small size</button>
                  </script> </code>
            </pre>
          </div>
          <h3>Block level buttons</h3>
          <p>Create buttons that span the full width of a parent by adding
            <font color="red">.uikit-btn--block.</font>
          </p>
          <div class="example-box">
            <button class="uikit-btn uikit-btn--block">Block level button</button>
            <button class="uikit-btn uikit-btn--tertiary uikit-btn--block">Block level button</button>
            <pre>
              <code class="language-markup">
                <script type="text/plain">
                    <button class="uikit-btn uikit-btn--block">Block level button</button>
                    <button class="uikit-btn uikit-btn--tertiary uikit-btn--block">Block level button</button>
                  </script> </code>
            </pre>
          </div>
          <h3>Right aligned</h3>
          <div class="example-box">
            <div class="cf">
              <button class="uikit-btn floated">Right aligned</button>
            </div>
            <pre>
              <code class="language-markup">
                <script type="text/plain">
                      <button class="uikit-btn floated">Right aligned</button>
                    </script> </code>
            </pre>
          </div>
          <h3>Disabled state</h3>
          <p>Make buttons look inactive by adding the disabled attribute to any
            <font color="red">&#60;button&#62;</font> element.</p>
          <div class="example-box">
            <button class="uikit-btn" disabled>Disabled</button>
            <pre>
              <code class="language-markup">
                <script type="text/plain">
                    <button class="uikit-btn" disabled>Disabled</button>
                  </script> </code>
            </pre>
          </div>
          <h2>Button tags</h2>
          <p>The .uikit-btn classes can be used with the &#60;button&#62;, &#60;a&#62; or &#60;input&#62; elements (visual discrepencies
            may occur across browsers).</p>
          <p>When using button classes on &#60;a&#62; elements that are used to trigger in-page functionality (like collapsing
            content), these links should be given a role="button" to appropriately convey their purpose to assistive technologies
            such as screen readers.</p>
          <div class="example-box">
            <a class="uikit-btn" href="#" role="button">Link</a>
            <button class="uikit-btn" type="submit">Button</button>
            <input class="uikit-btn" type="button" value="Input">
            <input class="uikit-btn" type="submit" value="Submit">
            <input class="uikit-btn" type="reset" value="Reset">
            <pre>
              <code class="language-markup">
                <script type="text/plain">
                    <a class="uikit-btn" href="#" role="button">Link</a>
                    <button class="uikit-btn" type="submit">Button</button>
                    <input class="uikit-btn" type="button" value="Input">
                    <input class="uikit-btn" type="submit" value="Submit">
                    <input class="uikit-btn" type="reset" value="Reset">
                  </script> </code>
            </pre>
          </div>
          <h2>Links</h2>
          <h3>External links</h3>
          <p>Whilst internal links are demonstrated using the default
            <font color="red">&#60;a&#62;</font> element,
            <b>external</b> links should include the
            <font color="red">rel="external"</font> markup to indicate the link will navigate to an external source.</p>
          <div class="example-box">
            <p>This is a sentence that includes a
              <a href="#">link to an internal source</a> and a
              <a href="#" rel="external">link to an external source</a>. Styling for external links includes an icon that appends the link text.</p>
            <h3>You can also have an
              <a href="#" rel="external">external link</a> in a heading.</h3>
            <pre>
              <code class="language-markup">
                <script type="text/plain">
                      <p>This is a sentence that includes a
                        <a href="#">link to an internal source</a> and a
                        <a href="#" rel="external">link to an external source</a>. 
                        Styling for external links includes an icon that appends the link text.
                      </p>
                      <h3>You can also have an
                        <a href="#" rel="external">external link</a> in a heading.
                      </h3>
                    </script> </code>
            </pre>
          </div>
          <h3>Inline link lists</h3>
          <p> Inline link lists can be achieved by adding a --inline modifier to uikit-link-lists i.e. uikit-link-list--inline
          </p>
          <div class="example-box">
            <ul class="uikit-link-list uikit-link-list--inline">
              <li>
                <a href="#">Link 1</a>
              </li>
              <li>
                <a href="#">Link 2</a>
              </li>
              <li>
                <a href="#">Link 3</a>
              </li>
            </ul>
            <pre>
              <code class="language-markup">
                <script type="text/plain">
                    <ul class="uikit-link-list uikit-link-list--inline">
                      <li>
                        <a href="#">Link 1</a>
                      </li>
                      <li>
                        <a href="#">Link 2</a>
                      </li>
                      <li>
                        <a href="#">Link 3</a>
                      </li>
                    </ul>
                  </script>
              </code>
            </pre>
          </div>
          <p>For more link list options, see the
            <a href="https://uikit.service.gov.au/packages/link-list/tests/site/" rel="external">UI-Kit link-list styles</a>
          </p>
        </div>
        <%- include ../../partials/styleguide-sidenav.ejs %>
        </%->
      </div>
    </div>
  </main>
  <%- include ../../partials/styleguide-footer.ejs %>
  </%->

</body>

</html>