<%- include(components+"styleguide/styleguide-header", {
  heading: "Callouts",
  claim: "Style Guide"
}) %>

  <p>Callouts provide helpful alerts to users as they are filling out a claim. This is the basic version of a callout with no variant.</p>
  <div class="example-box">
    <div class="uikit-page-alerts" role="alert">
      <p>Message body informaion. </p>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="uikit-page-alerts" role="alert">
                <p>Message body informaion. </p>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/mental-health-2">here</a>.</p>
  <hr>
  <h2>Callout | Information variant</h2>
  <div class="example-box">


    <div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
      <h3 class="uikit-display-1">Accessibility reading</h3>
      <ol>
        <li>The
          <a href="https://www.legislation.gov.au/Latest/C2016C00763">Disability Discrimination Act (1992)</a>
        </li>
        <li>The
          <a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/">Web Content Accessibility Guidelines 2 (
            <abbr>WCAG</abbr>)</a>
        </li>
      </ol>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
                <h3 class="uikit-display-1">Accessibility reading</h3>
                <ol>
                  <li>The
                    <a href="https://www.legislation.gov.au/Latest/C2016C00763">Disability Discrimination Act (1992)</a>
                  </li>
                  <li>The
                    <a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/">Web Content Accessibility Guidelines 2 (
                      <abbr>WCAG</abbr>)</a>
                  </li>
                </ol>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/dhoas/sar4">here</a>.</p>
  <hr>
  <h2>Callout | Success variant</h2>
  <div class="example-box">
    <div class="uikit-page-alerts uikit-page-alerts--success" role="alert">
      <p>Your immunisation appointment for
        <mark>August 7, 2017</mark> has been confirmed.</p>
      <h3>What will happen next</h3>
      <ul>
        <li>
          You’ll receive an email to
          <strong>foo@bar.com</strong> with the appointment details for your reference.
          <br>
          <small>This is your current
            <a href="#">primary contact email address</a>.</small>
        </li>
        <li>
          2 days before your appointment we’ll send you a reminder via text message to
          <strong>0404 123 456</strong>.
          <br>
          <small>This is your current
            <a href="#">primary contact phone number</a>.</small>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="uikit-page-alerts uikit-page-alerts--success" role="alert">
                <p>Your immunisation appointment for
                  <mark>August 7, 2017</mark> has been confirmed.</p>
                <h3>What will happen next</h3>
                <ul>
                  <li>
                    You’ll receive an email to
                    <strong>foo@bar.com</strong> with the appointment details for your reference.
                    <br>
                    <small>This is your current
                      <a href="#">primary contact email address</a>.</small>
                  </li>
                  <li>
                    2 days before your appointment we’ll send you a reminder via text message to
                    <strong>0404 123 456</strong>.
                    <br>
                    <small>This is your current
                      <a href="#">primary contact phone number</a>.</small>
                  </li>
                </ul>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/veterancard/veteran-card-review-submit">here</a>.</p>
  <hr>
  <h2>Callout | Warning variant</h2>
  <div class="example-box">


    <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
      <h3>Protect yourself against phone scams</h3>
      <p>The
        <dfn>
          <abbr title="Australian Tax Office">ATO</abbr>
        </dfn> is warning the public to be aware of a phone scam that is again circulating where fraudsters are intimidating
        people into paying a fake tax debt over the phone.</p>
      <p>
        <strong>We will never contact you in person over the phone to make a payment</strong>.</p>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
                <h3>Protect yourself against phone scams</h3>
                <p>The
                  <dfn>
                    <abbr title="Australian Tax Office">ATO</abbr>
                  </dfn> is warning the public to be aware of a phone scam that is again circulating where fraudsters are intimidating
                  people into paying a fake tax debt over the phone.</p>
                <p>
                  <strong>We will never contact you in person over the phone to make a payment</strong>.</p>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/dhoas/asc4">here</a>.</p>
  <hr>
  <h2>Callout | Error variant</h2>
  <div class="example-box">
    <div class="uikit-page-alerts uikit-page-alerts--error" role="alert">
      <span class="uikit-display-1">There were 3 errors found in the information you submitted</span>
      <ol>
        <li>
          <a href="#">Please enter a valid licence number
            <span class="uikit-page-alerts__sronly">- Error 1 of 3</span>
          </a>
        </li>
        <li>
          <a href="#">Please enter a valid email address
            <span class="uikit-page-alerts__sronly">- Error 2 of 3</span>
          </a>
        </li>
        <li>
          <a href="#">First name is required
            <span class="uikit-page-alerts__sronly">- Error 3 of 3</span>
          </a>
        </li>
      </ol>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="uikit-page-alerts uikit-page-alerts--error" role="alert">
                <span class="uikit-display-1">There were 3 errors found in the information you submitted</span>
                <ol>
                  <li>
                    <a href="#">Please enter a valid licence number
                      <span class="uikit-page-alerts__sronly">- Error 1 of 3</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Please enter a valid email address
                      <span class="uikit-page-alerts__sronly">- Error 2 of 3</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">First name is required
                      <span class="uikit-page-alerts__sronly">- Error 3 of 3</span>
                    </a>
                  </li>
                </ol>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/dhoas/sar3">here</a>.</p>
  <hr>

  <%- include(partials+"components/styleguide/styleguide-footer") %>