<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Style Guide | Callouts | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Callouts</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Callouts</h1>
          <p>Callouts feature a grey box with no border. Callouts provide a unique visual que for important information.</p>
          <div class="breakout">
            <p>Information goes here.</p>
          </div>

          <hr>
          <h1>Callout with orange border and alert</h1>
          <p>There is also a callout variation with an orange border and alert icon.</p>
          <div class="example-box">
            <div class="tip--wrapper tip-warning">
              <h3>Do you need to update your contact details?</h3>
              <p>Home phone number:
                <b>(03) 6123 4567</b>
              </p>
              <p>Mobile phone number:
                <b>0412 345 678</b>
              </p>
              <p>Email:
                <b>user@emailaccount.com</b>
              </p>
              <button class="uikit-btn small uikit-btn--tertiary">Update my contact details</button>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                      <code class="language-markup">
                        <script type="text/plain">
                          <div class="tip--wrapper tip-warning">
                              <h3>Do you need to update your contact details?</h3>
                              <p>Home phone number:
                                <b>(03) 6123 4567</b>
                              </p>
                              <p>Mobile phone number:
                                <b>0412 345 678</b>
                              </p>
                              <p>Email:
                                <b>user@emailaccount.com</b>
                              </p>
                              <button class="uikit-btn small uikit-btn--tertiary">Update my contact details</button>
                            </div>
                        </script>
                      </code>
                    </pre>
            </div>
          </div>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
