<!DOCTYPE html>
<html class="js" lang="en">

<head>

	<title>Style Guide | Callouts | MyService</title>
	<% include ../../partials/styleguide-styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

	<% include ../../partials/styleguide-header.ejs %>

		<main>
			<div class="container" id="main-content">
				<nav class="uikit-breadcrumbs" aria-label="breadcrumb">
					<ul class="uikit-link-list uikit-link-list--inline">
						<li>
							<a href="/styleguide">Home</a>
						</li>
						<li>Callouts</li>
					</ul>
				</nav>

				<div class="row">
					<div class="col-sm-9">
						<h1>Callouts</h1>
						<div class="breakout">
							<p>Information goes here.</p>
						</div>

						<hr>

					</div>
					<% include ../../partials/styleguide-sidenav.ejs %>
				</div>
			</div>
		</main>
		<% include ../../partials/styleguide-footer.ejs %>
</body>

</html>