<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Cards | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>

</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>
  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="#styleguide">Home</a>
          </li>
          <li>Cards</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Cards</h1>
          <div class="breakout">
            <p>MyService uses a card patern for landing and other pages</p>
          </div>

          <h2>Default card with a medium modifier</h2>
          <p>Medium is good for 3 card rows at full width</p>

          <div class="example-box">

            <div class="card card--medium">
              <a href="#">
                <figure>
                  <img class="card__image" src="/docs/images/ico-db-profile.svg" alt="">
                </figure>
                <h2 class="card__title">
                  <span>Review your profile</span>
                </h2>
              </a>
              <p class="card__supporting-text">Keep your profile up to date so we can help you.</p>
            </div>

            <pre>
                <code class="language-markup">
                  <script type="text/plain">
                    <div class="card card--medium">
                      <a href="#">
                        <figure>
                          <img class="card__image" src="/docs/images/ico-db-profile.svg" alt="">
                        </figure>
                        <h2 class="card__title">
                          <span>Review your profile</span>
                        </h2>
                      </a>
                      <p class="card__supporting-text">Keep your profile up to date so we can help you.</p>
                    </div>
                  </script>
                </code>
              </pre>

          </div>



          <h2>Card with simple state</h2>
          <!-- <p>Medium is good for 3 card rows at full width</p> -->

          <div class="example-box">

            <div class="card card--medium card--simple">
              <a href="#">
                <span class="fal fa-icon-nr fa-user-plus "></span>
                <h3 class="card__title">
                  <span>Represent me</span>
                </h3>
              </a>
            </div>

            <pre>
                <code class="language-markup">
                  <script type="text/plain">
                    <div class="card card--medium card--simple">
                      <a href="#">
                        <span class="fal fa-icon-nr fa-user-plus "></span>
                        <h3 class="card__title">
                          <span>Represent me</span>
                        </h3>
                      </a>
                    </div>
                  </script>
                </code>
              </pre>

          </div>


          <h2>Horizontal Card</h2>
          <p>With 3 or 5 flex items</p>
          <p>Also, card--action-required and card--amended and flex-item--icon-only modifiers</p>

          <div class="example-box">
            <div class="horizontal-card-section">
              <div class="card card--horizontal card--action-required flex-container ">

                <div class="flex-item">
                  <p> <strong> Authorisation request</strong></p>
                  <p>24 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Dave Jones</strong></p>
                  <p>(Received Payments on behalf)</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#"></a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Open</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container ">
                <div class="flex-item">
                  <p> <strong> Submitted</strong></p>
                  <p>18 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Joe Smith</strong></p>
                  <p>Receiving payments blaa blaa</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Withdraw</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container">
                <div class="flex-item">
                  <p> <strong> Submitted</strong></p>
                  <p>18 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Joe Smith</strong></p>
                  <p>Receiving payments blaa blaa</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Withdraw</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container">
                <div class="flex-item">
                  <p> <strong> Submitted</strong></p>
                  <p>18 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Joe Smith</strong></p>
                  <p>Receiving payments blaa blaa</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Withdraw</a></p>
                </div>
              </div>

              <div class="card card--horizontal  card--amended flex-container">
                <div class="flex-item">
                  <p> <strong> Ceased</strong></p>
                  <p>15 November 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Representative</strong></p>
                  <p>(Enquiring on behalf)</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Re-instate</a></p>
                </div>
              </div>
            </div>

            <br><br>

            <div class="horizontal-card-section">
              <div class="card card--horizontal flex-container ">
                <div class="flex-item flex-item--icon-only">
                  <span class="fal fa-icon-nr fa-user"></span>
                </div>
                <div class="flex-item flex-item--large">
                  <p> <strong> Some guys</strong></p>
                </div>

                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Manage</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container ">
                <div class="flex-item flex-item--icon-only">
                  <span class="fal fa-icon-nr fa-user"></span>
                </div>
                <div class="flex-item flex-item--large">
                  <p> <strong> Some other guy</strong></p>
                </div>

                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Manage</a></p>
                </div>
              </div>
            </div>





            <pre>
                <code class="language-markup">
                  <script type="text/plain">
                    <div class="horizontal-card-section">
                        <div class="card card--horizontal card--action-required flex-container ">
          
                          <div class="flex-item">
                            <p> <strong> Authorisation request</strong></p>
                            <p>24 March 2018</p>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p><strong>Dave Jones</strong></p>
                            <p>(Received Payments on behalf)</p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#"></a></p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#">Open</a></p>
                          </div>
                        </div>
          
                        <div class="card card--horizontal flex-container ">
                          <div class="flex-item">
                            <p> <strong> Submitted</strong></p>
                            <p>18 March 2018</p>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p><strong>Joe Smith</strong></p>
                            <p>Receiving payments blaa blaa</p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#">View</a></p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#">Withdraw</a></p>
                          </div>
                        </div>
          
                        <div class="card card--horizontal flex-container ">
                          <div class="flex-item">
                            <p> <strong> Submitted</strong></p>
                            <p>18 March 2018</p>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p><strong>Joe Smith</strong></p>
                            <p>Receiving payments blaa blaa</p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#">View</a></p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#">Withdraw</a></p>
                          </div>
                        </div>
          
                        <div class="card card--horizontal flex-container">
                          <div class="flex-item">
                            <p> <strong> Submitted</strong></p>
                            <p>18 March 2018</p>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p><strong>Joe Smith</strong></p>
                            <p>Receiving payments blaa blaa</p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#">View</a></p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#">Withdraw</a></p>
                          </div>
                        </div>
          
                        <div class="card card--horizontal  card--amended flex-container ">
                          <div class="flex-item">
                            <p> <strong> Ceased</strong></p>
                            <p>15 November 2018</p>
                          </div>
                          <div class="flex-item flex-item--large">
                            <p><strong>Representative</strong></p>
                            <p>(Enquiring on behalf)</p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#">View</a></p>
                          </div>
                          <div class="flex-item flex-item--right-align">
                            <p><a href="#">Re-instate</a></p>
                          </div>
                        </div>
          
                        <br><br>
          
                        <div class="horizontal-card-section">
                          <div class="card card--horizontal flex-container ">
                            <div class="flex-item flex-item--icon-only">
                              <span class="fal fa-icon-nr fa-user"></span>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p> <strong> Some guys</strong></p>
                            </div>
          
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Manage</a></p>
                            </div>
                          </div>
                          <div class="card card--horizontal flex-container ">
                            <div class="flex-item flex-item--icon-only">
                              <span class="fal fa-icon-nr fa-user"></span>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p> <strong> Some other guy</strong></p>
                            </div>          
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Manage</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </script>
                </code>
              </pre>

          </div>

        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>

  <%- include(partials+"components/styleguide/styleguide-footer") %>

</body>

</html>
