<%- include(components+"styleguide/styleguide-header", {
  heading: "Cards",
  claim: "Style Guide"
}) %>

  <h2>Navigation Card</h2>
  <p>The navigation card is featured on the home page. The claim card acts as the first entry point for a user to a new claim.</p>
  <div class="example-box">
    <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
      <a class="card-container" href="/auth/claim/claim1">
        <h2 class="card__title">
          <span class="font-weight-heavy">Initial Liability</span>
        </h2>
        <p class="card__supporting-text text-fullwidth">
          Your first step towards treatment and support for a service-related injury&nbsp;or&nbsp;condition.
        </p>
        <div class="card__button">
          <button class="uikit-btn uikit-btn--tertiary small">
            Get started
          </button>
        </div>
      </a>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="flex-item flex-item--centred card card--claims card--claims-col-3 hover-element" id="nlhc-access">
                  <a class="card-container" href="/auth/claim/claim1">
                    <h2 class="card__title">
                      <span class="font-weight-heavy">Initial Liability</span>
                    </h2>
                    <p class="card__supporting-text text-fullwidth">
                      Your first step towards treatment and support for a service-related injury&nbsp;or&nbsp;condition.
                    </p>
                    <div class="card__button">
                      <button class="uikit-btn uikit-btn--tertiary small">
                        Get started
                      </button>
                    </div>
                  </a>
                </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>An example of this component can be found <a href="/auth/">here</a>.</p>
  <hr>

  <%- include(partials+"components/styleguide/styleguide-footer") %>