<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Colours | MyService</title>
  <%- include(partials+"styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"styleguide-header") %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Colours</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Colours</h1>
          <div class="breakout">
            <p>Colours in MyService can be managed using a handful of pre-defined variables.</p>
          </div>

          <h2>The core palette</h2>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="color-card">
                <div class="color-sample color-blue">&nbsp;</div>
                <p>
                  <b>Ocean blue</b>
                  <br>#1057A7</p>
              </div>

              <p>
                <i>Ocean blue</i> is the primary colour used across a wide variety of components.</p>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="color-card">
                <div class="color-sample color-blue-dark">&nbsp;</div>
                <p>
                  <b>Navy</b>
                  <br>#093d77</p>
              </div>

              <p>
                <i>Navy</i> is often used to compliment
                <i>Ocean blue</i> in hover states.</p>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="color-card">
                <div class="color-sample color-green">&nbsp;</div>
                <p>
                  <b>Fern</b>
                  <br>#00AB4D</p>
              </div>

              <p>
                <i>Fern</i> is used sparingly to indicate success or prioritise a 'call to action'.</p>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="color-card">
                <div class="color-sample color-blue-light">&nbsp;</div>
                <p>
                  <b>Sky Blue</b>
                  <br>#53cbe2</p>
              </div>

              <p>
                <i>Sky Blue</i> is used in hover state for links and in card design to indicate a submitted claim.</p>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="color-card">
                <div class="color-sample color-grey-dark">&nbsp;</div>
                <p>
                  <b>Charcoal</b>
                  <br>#666666</p>
              </div>

              <p>
                <i>Charcoal</i> is used across MyService in icons, typography and to highlight content.</p>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="color-card">
                <div class="color-sample color-grey-light">&nbsp;</div>
                <p>
                  <b>Smoke</b>
                  <br>#eeeeee</p>
              </div>

              <p>
                <i>Smoke</i> is primarily used as a background color for important content.</p>
            </div>
          </div>

          <hr>

          <h2>The secondary palette</h2>
          <p>The following colours are used sparingly across MyService:</p>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="color-card">
                <div class="color-sample color-red">&nbsp;</div>
                <p>
                  <b>Alert Red</b>
                  <br>#cc0000</p>
              </div>

              <p>
                <i>Alert Red</i> is used in validation messaging. It draws the user to a specific area of the page that needs immediate
                attention.
              </p>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="color-card">
                <div class="color-sample color-orange">&nbsp;</div>
                <p>
                  <b>Mustard</b>
                  <br>#FF9600</p>
              </div>

              <p>
                <i>Mustard</i> is used within the card design to indicate incompleted claims.</p>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="color-card">
                <div class="color-sample color-lightgreen">&nbsp;</div>
                <p>
                  <b>Light green</b>
                  <br>#91C84C</p>
              </div>

              <p>
                <i>Light green</i> is not actively used in MyService at this stage.</p>
            </div>

          </div>

          <hr>

        </div>
        <%- include(partials+"styleguide-sidenav") %>

        <p>
          <i>Mustard</i> is used within the card design to indicate incompleted claims.
          <br>
          <i>Mustard</i> is also used to alert the user to calls to action, see the
          <a href="/styleguide/icons#notifications">notifications</a> section in Icons for example of use.</p>
      </div>
    </div>
  </main>
  <%- include(partials+"styleguide-footer") %>
</body>

</html>