<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Helper classes | MyService</title>
  <% include ../../partials/styleguide-styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <% include ../../partials/styleguide-header.ejs %>

  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Toast messages</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Currency box</h1>
          <div class="breakout">
            <p>Currency box provides a simple box to display currency</p>
          </div>

          <h2>Purpose</h2>
          <p>Currency boxes are ideal for situations when displaying dollar amounts</p>

          <div class="d-container"></div>
          <div class="toast-container"></div>

          <h2>All Options</h2>
          <div class="example-box">
            <div class="currency-box currency-box--top margin-below--extra">
              <p>Minimum amount : <strong>$432.50 </strong> <br>
                Maximum amount : <strong>$1250.50</strong></p>
              </div>

              <pre>
                <code class="language-markup">
                  <script type="text/html">
                    <div class="currency-box currency-box--top margin-below--extra">
                      <p>Minimum amount : <strong>$432.50 </strong> <br>
                        Maximum amount : <strong>$1250.50</strong></p>
                      </div>
                    </script>
                  </code>
                </pre>

              </div>
              <h2>Dollar sign in front of text box</h2>
              <div class="example-box">
                <label class="uikit-text-input__label" for="Input field">Other gross fortnightly income (optional) </label>
                <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
                <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="form-group">
                        <label class="uikit-text-input__label" for="Input field">Other gross fortnightly income (optional) </label>
                        <span class="sign-dollar">&#36;</span> <input class="uikit-text-input input-small" name="Input field" id="Input field" type="text" value="0.00" required aria-required="true">
                      </div>
                    </script>
                  </code>
                </pre>
              </div>
            </div>
            <% include ../../partials/styleguide-sidenav.ejs %>
          </div>
        </div>
      </main>
      <% include ../../partials/styleguide-footer.ejs %>
    </body>

    </html>