<%- include(components+"styleguide/styleguide-header", {
  heading: "Deprecated",
  claim: "Style Guide"
}) %>

  <p>Deprecated components should no longer be used when designing new pages within MyService.</p>
  <hr>
  <h2>Callout with orange border and alert</h2>
  <div class="example-box">
    <div class="tip--wrapper tip-warning">
      <h3>Do you need to update your contact details?</h3>
      <p>Home phone number:
        <b>(03) 6123 4567</b>
      </p>
      <p>Mobile phone number:
        <b>0412 345 678</b>
      </p>
      <p>Email:
        <b>user@emailaccount.com</b>
      </p>
      <button class="uikit-btn small uikit-btn--tertiary">Update my contact details</button>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
              <code class="language-markup">
                <script type="text/plain">
                  <div class="tip--wrapper tip-warning">
                      <h3>Do you need to update your contact details?</h3>
                      <p>Home phone number:
                        <b>(03) 6123 4567</b>
                      </p>
                      <p>Mobile phone number:
                        <b>0412 345 678</b>
                      </p>
                      <p>Email:
                        <b>user@emailaccount.com</b>
                      </p>
                      <button class="uikit-btn small uikit-btn--tertiary">Update my contact details</button>
                    </div>
                </script>
              </code>
            </pre>
    </div>
  </div>
  <hr>
  <h2>Address Block</h2>
  <div class="example-box">
    <div class="address-block">
      <div class="address-block__content">
        <p class="address-block__line"><span class="pt-current-user-name-full">Alex Kirby</span></p>
        <p class="address-block__line">Unit 3/41 Constitution Ave</p>
        <p class="address-block__line">Jamison Appartments</p>
        <p class="address-block__line">
          <span class="city">Canberra</span>
          <span class="state">ACT</span>
          <span class="post-code">2612</span>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="address-block">
                <div class="address-block__content">
                  <p class="address-block__line"><span class="pt-current-user-name-full">Alex Kirby</span></p>
                  <p class="address-block__line">Unit 3/41 Constitution Ave</p>
                  <p class="address-block__line">Jamison Appartments</p>
                  <p class="address-block__line">
                    <span class="city">Canberra</span>
                    <span class="state">ACT</span>
                    <span class="post-code">2612</span>
                  </p>
                </div>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <hr>
  <hr>
  <h2>Accordion v2</h2>
  <div class="example-box">
    <div class="claims-accordion simple-accordion margin-below simple-accordion--open">
      <div class="simple-accordion__trigger">
        <div>
          <h2 class="simple-accordion__heading margin-above--none margin-below--none">
            <a class="toggle-arrow">
              <b>Get the entitlements you deserve</b>
            </a>
          </h2>
        </div>
      </div>
      <div class="row simple-accordion__body margin-below--extra">
        <div class="col-sm-6 dividing-line">
          <h2 class="simple-accordion__heading">Claim now for service-related
            <br>
            <b>injuries or illness</b>
          </h2>
          <p>Access treatment and support if you have an injury or condition resulting from your service.</p>
          <button class="uikit-btn" onclick="window.location.href='/claim1'">Get started</button>
        </div>

        <div class="col-sm-5">

          <h2 class="simple-accordion__heading">Claim now for
            <br>
            <b>education assistance</b>
          </h2>
          <p>Get help with the cost of education for you or your family.</p>
          <button class="uikit-btn" onclick="window.location.href='/auth/claim/studentpreeligibility?flow=veteranFlow'">Make a claim</button>

        </div>
      </div>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="claims-accordion simple-accordion margin-below simple-accordion--open">
                  <div class="simple-accordion__trigger">
                    <div>
                      <h2 class="simple-accordion__heading margin-above--none margin-below--none">
                        <a class="toggle-arrow">
                          <b>Get the entitlements you deserve</b>
                        </a>
                      </h2>
                    </div>
                  </div>
                  <div class="row simple-accordion__body margin-below--extra">
                    <div class="col-sm-6 dividing-line">
                      <h2 class="simple-accordion__heading">Claim now for service-related
                        <br>
                        <b>injuries or illness</b>
                      </h2>
                      <p>Access treatment and support if you have an injury or condition resulting from your service.</p>
                      <button class="uikit-btn" onclick="window.location.href='/claim1'">Get started</button>
                    </div>
    
                    <div class="col-sm-5">
    
                      <h2 class="simple-accordion__heading">Claim now for
                        <br>
                        <b>education assistance</b>
                      </h2>
                      <p>Get help with the cost of education for you or your family.</p>
                      <button class="uikit-btn" onclick="window.location.href='/auth/claim/studentpreeligibility?flow=veteranFlow'">Make a claim</button>
    
                    </div>
                  </div>
                </div>
            </script>
          </code>
        </pre>
    </div>
  </div>

  <p>An example of this component can be found <a href="/auth/claim/claims-existingnlhc.ejs">here</a>.</p>
  <hr>
  <h2>Default card with a medium modifier</h2>
  <div class="example-box">

    <div class="card card--medium">
      <a href="#">
        <figure>
          <img class="card__image" src="/docs/images/ico-db-profile.svg" alt="">
        </figure>
        <h2 class="card__title">
          <span>Review your profile</span>
        </h2>
      </a>
      <p class="card__supporting-text">Keep your profile up to date so we can help you.</p>
    </div>
  </div>
  <hr>
  <h2>Horizontal card + header & icon</h2>
  <div class="example-box">
    <div class="boxed row margin-above" style="padding:1em;">
      <div class="review__content--label col-sm-10">
        <h3 class="margin-above--none margin-below--mid">
          <icon class="fal fa-user" style="font-size: 1.3em; vertical-align: -15%;"></icon>
          &nbsp;&nbsp;Lanah Kirby
        </h3>
        <div class="key-value">
          <div class="key">Relationship:</div>
          <div class="value">Spouse</div>
        </div>
        <div class="key-value margin-above">
          <div class="key">Date of birth:</div>
          <div class="value">15 February 1986</div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h2>Default tables</h2>
  <div class="example-box">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>ID Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Mary</td>
          <td>Jones</td>
          <td>62843</td>
        </tr>
        <tr>
          <th>2</th>
          <td>John</td>
          <td>Smith</td>
          <td>37225</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Frank</td>
          <td>Watson</td>
          <td>84775</td>
        </tr>
      </tbody>
    </table>

  </div>
  <hr>
  <h2>Responsive tables</h2>
  <div class="example-box">
    <table class="table-responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Mary</td>
          <td>Jones</td>
          <td>62843</td>
        </tr>
        <tr>
          <th>2</th>
          <td>John</td>
          <td>Smith</td>
          <td>
            <a href="#">Corpuscallosum!SciencedreamofthemindcorpuscallosumHypatia!</a>
          </td>
        </tr>
        <tr>
          <th>3</th>
          <td>Frank</td>
          <td>Watson</td>
          <td>Corpus callosum! Science dream of the mind's eye, corpus callosum Hypatia! Billions upon billions prime number.
            Another world Sea of Tranquility light years Jean-Francois Champollion. Another world a still more glorious dawn
            awaits trillion birth Euclid, encyclopaedia galactica birth muse about as a patch of light! Tunguska event. Flatland
            cosmic ocean Tunguska event network of wormholes and billions upon billions upon billions upon billions upon billions
            upon billions upon billions!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <h2>Review and Submit Table</h2>
  <div class="example-box">
    <table class="cover-detail">
      <tbody>
        <tr>
          <th>Dr Nick Riviera (general practitioner)</th>
          <td>Springfield Hospital
            <br> Springfield
            <br> 02 6123 4567
          </td>
        </tr>
        <tr>
          <th>Dr Jamie Lee</th>
          <td>Ryde Medical Centre
            <br> North Ryde
            <br> 02 9807 1230
          </td>
        </tr>
        <tr>
          <th>Dr Marta Machalevski</th>
          <td>St Vincent’s Hospital
            <br> Potts Point
            <br> 02 9487 9111</td>
        </tr>
        <tr>
          <th>Christina San Lucas</th>
          <td>Gosford Hospital
            <br> Gosford
            <br> 02 9487 9385</td>

        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <h2>Payments Table</h2>
  <div class="example-box">
    <table class="table-claims table-responsive">
      <thead>
        <tr>
          <th class="widget-activity">Payment activity</th>
          <th class="widget-actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p class="status-icon status-submitted">
              <legend class="legend-label" for="radio-buttons">$380.80 - Service pension</legend>
              <legend class="legend-label" for="radio-buttons">Processed<span class="hint"> - 13 May 2018</span></legend>

            </p>
          </td>
          <td class="widget-actions">
            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/afi/claimdetail'">View</button>
            <!-- <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Withdraw</button> -->
          </td>
        </tr>

        <tr>
          <td>
            <p class="status-icon status-submitted">
              <legend class="legend-label" for="radio-buttons">$760.32 - Lump sum payment</legend>
              <legend class="legend-label" for="radio-buttons">Processed<span class="hint"> - 25 April 2018</span></legend>
            </p>
          </td>
          <td class="widget-actions">
            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewDhoasDetail'">View</button>
          </td>
        </tr>
        <tr>
          <td>
            <p class="status-icon status-approved">
              <legend class="legend-label" for="radio-buttons">$500 - Lump sum advance request</legend>
              <legend class="legend-label" for="radio-buttons">Approved <span class="hint"> - 10 January 2018</span></legend>
            </p>
          </td>
          <td class="widget-actions">
            <!-- so i have the href location later <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button> -->
            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/lsa/view'">View</button>
          </td>
        </tr>

        <tr>
          <td>
            <p class="status-icon status-submitted">
              <legend class="legend-label" for="radio-buttons">$340.32 - Service pension</legend>
              <legend class="legend-label" for="radio-buttons">Processed<span class="hint"> - 25 April 2018</span></legend>
            </p>
          </td>
          <td class="widget-actions">
            <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewDhoasDetail'">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>

<%- include(partials+"components/styleguide/styleguide-footer") %>