<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Display Toggles | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Display Toggles</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>Toggling form elements</h1>
          <div class="breakout">
            <p>Display Toggles use existing components such as buttons and checkboxes to hide or display input fields and text within claims.</p>
          </div>
          <h2>Checkbox toggle</h2>
          <p>The checkbox toggle will hide or display content depending on whether a checkbox has been selected or not. This component is commonly used in places when addresses or
            other data will be repeated.</p>
          <div class="example-box">
            <div class="form-group">
              <label class="uikit-control-input">
                <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked="">
                <span class="uikit-control-input__text">Same as postal address</span>
              </label>
            </div>
            <div class="pt-showIfAdditionalAddress" style="">
              <div class="form-group">
                <label class="uikit-text-input__label" for="residentialAddressCountry">Country</label>
                <select class="uikit-text-input input-half residentialCountry" name="residentialAddressCountry">
                  <option value="Australia" selected="">Australia</option>
                  <option value="NZ">New Zealand</option>
                </select>
              </div>

              <div class="addressAustralia">
                <div class="form-group">
                  <div class="field">
                    <label class="uikit-text-input__label" for="residentialAddressPrefix">
                      Building name or address prefix
                      <span class="hint">(optional)
                      </span>
                    </label>
                    <input type="text" id="residentialAddressPrefix" name="residentialAddressPrefix" class="uikit-text-input" aria-required="false" maxlength="38" value="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddressLine1">Address line 1</label>
                  <input class="uikit-text-input" id="residentialAddressLine1" name="residentialAddressLine1" type="text" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddressLine2">Address line 2
                    <span class="hint">(optional)</span>
                  </label>
                  <input class="uikit-text-input" id="residentialAddressLine2" name="residentialAddressLine2" type="text" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddressTown">Suburb or town</label>
                  <input class="uikit-text-input " id="residentialAddressTown" name="residentialAddressTown" type="text" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddressPostcode">Postcode</label>
                  <input class="uikit-text-input input-small yyyy" id="residentialAddressPostcode" maxlength="4" name="residentialAddressPostcode" type="text" value="">
                </div>

                <div class="form-group addressInAusRes">
                  <label class="uikit-text-input__label" for="residentialAddressState">State or territory</label>
                  <select class="uikit-text-input input-half" id="residentialAddressState" name="residentialAddressState">
                    <option> -- Select state or territory -- </option>
                    <option> Australian Capital Territory </option>
                    <option> New South Wales </option>
                    <option> Northern Territory </option>
                    <option> Queensland </option>
                    <option> South Australia </option>
                    <option> Tasmania </option>
                    <option> Victoria </option>
                    <option> Western Australia </option>
                  </select>

                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="example-box">
                          <div class="form-group">
                            <label class="uikit-control-input">
                              <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked="">
                              <span class="uikit-control-input__text">Same as postal address</span>
                            </label>
                          </div>
                          <div class="pt-showIfAdditionalAddress" style="">
                            <div class="form-group">
                              <label class="uikit-text-input__label" for="residentialAddressCountry">Country</label>
                              <select class="uikit-text-input input-half residentialCountry" name="residentialAddressCountry">
                                <option value="Australia" selected="">Australia</option>
                                <option value="NZ">New Zealand</option>
                              </select>
                            </div>
              
                            <div class="addressAustralia">
                              <div class="form-group">
                                <div class="field">
                                  <label class="uikit-text-input__label" for="residentialAddressPrefix">
                                    Building name or address prefix
                                    <span class="hint">(optional)
                                    </span>
                                  </label>
                                  <input type="text" id="residentialAddressPrefix" name="residentialAddressPrefix" class="uikit-text-input" aria-required="false" maxlength="38" value="">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="uikit-text-input__label" for="residentialAddressLine1">Address line 1</label>
                                <input class="uikit-text-input" id="residentialAddressLine1" name="residentialAddressLine1" type="text" value="">
                              </div>
                              <div class="form-group">
                                <label class="uikit-text-input__label" for="residentialAddressLine2">Address line 2
                                  <span class="hint">(optional)</span>
                                </label>
                                <input class="uikit-text-input" id="residentialAddressLine2" name="residentialAddressLine2" type="text" value="">
                              </div>
                              <div class="form-group">
                                <label class="uikit-text-input__label" for="residentialAddressTown">Suburb or town</label>
                                <input class="uikit-text-input " id="residentialAddressTown" name="residentialAddressTown" type="text" value="">
                              </div>
                              <div class="form-group">
                                <label class="uikit-text-input__label" for="residentialAddressPostcode">Postcode</label>
                                <input class="uikit-text-input input-small yyyy" id="residentialAddressPostcode" maxlength="4" name="residentialAddressPostcode" type="text" value="">
                              </div>
              
                              <div class="form-group addressInAusRes">
                                <label class="uikit-text-input__label" for="residentialAddressState">State or territory</label>
                                <select class="uikit-text-input input-half" id="residentialAddressState" name="residentialAddressState">
                                  <option> -- Select state or territory -- </option>
                                  <option> Australian Capital Territory </option>
                                  <option> New South Wales </option>
                                  <option> Northern Territory </option>
                                  <option> Queensland </option>
                                  <option> South Australia </option>
                                  <option> Tasmania </option>
                                  <option> Victoria </option>
                                  <option> Western Australia </option>
                                </select>
                              </div>
                            </div>
                          </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/unauth/registration/register-7.ejs">here</a>.</p>
          <hr>
          <h2>Radio Tiles</h2>
          <p>Radio Tiles are generally used to hide/show an entire page of form fields. Pages will start in a state with just radio tiles displayed and upon selecting a radio tile
            the relevant form fields will be displayed.</p>
          <div class="example-box">
            <form class="pt-submit-form">
              <input type="hidden" name="id" id="repId" value="413e7b07-538f-2581-cd07-2a2eb46f448b">
              <div class="radio-tile--group margin-above--large">
                <label class="radio-tile">
                  <input id="addNewPerson" class="sr" type="radio" name="repType" value="person">
                  <span>
                    <i class="radio_tile__icon fal fa-user fa-3x" style="padding: 15px 0 15px 0;"></i>
                    <br>Add person
                  </span>

                </label>
                <label class="radio-tile">
                  <input id="addNewOrg" class="sr" type="radio" name="repType" value="organisation">
                  <span>
                    <i class="radio_tile__icon fal fa-users fa-3x" style="padding: 15px 0 15px 0;"></i>
                    <br>Add organisation
                  </span>

                </label>


              </div>
              <div id="newPerson" style="display:none;">
                <div class="form-group margin-above--mid">
                  <h2>Provide information regarding the representative</h2>
                  <div id="title-group" class="form-group">
                    <label class="uikit-text-input__label" for="title">Title
                      <br>
                      <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
                    </label>
                    <select class="uikit-text-input input-half" id="title" name="title">
                      <option value="" default="">-- Select title --</option>
                      <option value="Miss">Miss</option>
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Ms">Ms</option>
                      <option value="Dr">Dr</option>

                    </select>
                  </div>

                  <div class="form-group">
                    <label class="uikit-text-input__label" for="nameFirst">Given name <span class="hint">(first name)</span></label>
                    <input class="uikit-text-input input-half" name="nameFirst" id="nameFirst" type="text" value="">
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="nameLast">Surname <span class="hint">(last name)</span></label>
                    <input class="uikit-text-input input-half" name="nameLast" id="nameLast" type="text" value="">
                  </div>
                  <div id="pt-gender-fieldsx" class="form-group">






                    <div class="form-group" id="genderOne">
                      <fieldset>
                        <div class="uikit-text-input__label-wrapper--inline-block">
                          <legend class="legend-label"></legend>
                        </div>
                        <div class="tooltip">
                          <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message" aria-expanded="false">
                            <div class="tooltip__label tooltip__label--icon-only">
                              <a>Help</a>
                            </div>
                            <div class="tooltip__tab"></div>
                          </div>
                          <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1" aria-hidden="true">
                            <div class="tooltip__message">Currently, our system only allows us to record gender as male or female. If neither option is correct inform DVA after
                              your claim is processed.</div>
                            <div class="tooltip__close" role="button" tabindex="0">Close</div>
                          </div>
                        </div>
                        <div class="radio-toggle">
                          <label class="on label-left" for="genderOne-male">
                            <input id="genderOne-male" type="radio" name="genderOne" value="male">
                            <span>Male</span>
                          </label>
                          <label class="off label-right" for="genderOne-female">
                            <input id="genderOne-female" type="radio" name="genderOne" value="female">
                            <span>Female</span>
                          </label>
                        </div>
                      </fieldset>
                    </div>


                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="date">Date of birth
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="number" name="dob-dd" id="dob-dd" maxlength="2" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="number" name="dob-mm" id="dob-mm" maxlength="2" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="number" name="dob-yyyy" id="dob-yyyy" maxlength="4" aria-label="4 digit year">
                  </div>

                  <div id="title-group" class="form-group">
                    <label class="uikit-text-input__label" for="relationshipType">Relationship to you
                      <br>
                      <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
                    </label>
                    <select class="uikit-text-input input-half" id="relationshipType" name="relationshipType">
                      <option value="" default="">-- Select relationship --</option>
                      <option value="Carer">Carer </option>
                      <option value="Child">Child </option>
                      <option value="De-facto">De facto </option>
                      <option value="Friend">Friend </option>
                      <option value="Grandchild">Grandchild </option>
                      <option value="Grandparent">Grandparent </option>
                      <option value="Guardian">Guardian </option>
                      <option value="Niece-nephew">Niece/nephew </option>
                      <option value="Parent">Parent </option>
                      <option value="Sibling">Sibling </option>
                      <option value="Spouse">Spouse </option>
                      <option value="Uncle-aunt">Uncle/aunt </option>
                      <option value="Other">Other </option>


                    </select>
                  </div>

                  <div class="form-group" id="fileNumbergroup">
                    <label class="uikit-text-input__label" for="dVAClientNumber">Your representative's DVA client number <span class="hint">(if known)</span></label>
                    <div class="margin-below--mid">If they have one, we recommend you provide it here.</div>
                    <input class="uikit-text-input input-half" name="dVAClientNumber" id="dVAClientNumber" type="text" value="">
                  </div>

                </div>
              </div>

              <div id="newOrg" style="display: none;">
                <div class="form-group pt-showIfEnrolled">
                  <p>
                    <span style="display:none;" id="studyingCourseSpinner">
                      <img style="float: right; margin: 0px 15px 15px 0px;" src="/docs/images/BrokenCircleSpinner.gif" width="20px">
                    </span>
                    <label class="uikit-text-input__label" for="orgABN" id="question_id16a">Organisation ABN</label>
                    <input class="uikit-text-input" name="orgABN" id="orgABN" type="text" value="">

                  </p>

                </div>

                <div class="form-group pt-showIfEnrolled">
                  <label class="uikit-text-input__label" for="orgName" id="question_id16a">Organisation name</label>
                  <input class="uikit-text-input ui-autocomplete-input" name="orgName" id="orgName" type="text" value="" autocomplete="off">
                </div>

                <div class="form-group margin-above--large">
                  <h2>Contact person</h2>
                  <div id="title-group" class="form-group">
                    <label class="uikit-text-input__label" for="contactTitle">Title
                      <br>
                      <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
                    </label>
                    <select class="uikit-text-input input-half" id="contactTitle" name="contactTitle">
                      <option value="" default="">-- Select title --</option>
                      <option value="Miss">Miss</option>
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Ms">Ms</option>
                      <option value="Dr">Dr</option>

                    </select>
                  </div>

                  <div class="form-group pt-showIfEnrolled">
                    <label class="uikit-text-input__label" for="contactFirstName">Given name <span class="hint">(first name)</span></label>
                    <input class="uikit-text-input" name="contactFirstName" id="contactFirstName" type="text" value="">
                  </div>
                  <div class="form-group pt-showIfEnrolled">
                    <label class="uikit-text-input__label" for="contactLastName">Surname <span class="hint">(last name)</span></label>
                    <input class="uikit-text-input" name="contactLastName" id="contactLastName" type="text" value="">
                  </div>
                  <div id="pt-gender-fieldscc" class="form-group">





                    <div class="form-group" id="genderTwo">
                      <fieldset>
                        <div class="uikit-text-input__label-wrapper--inline-block">
                          <legend class="legend-label"></legend>
                        </div>
                        <div class="tooltip">
                          <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message" aria-expanded="false">
                            <div class="tooltip__label tooltip__label--icon-only">
                              <a>Help</a>
                            </div>
                            <div class="tooltip__tab"></div>
                          </div>
                          <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1" aria-hidden="true">
                            <div class="tooltip__message">Currently, our system only allows us to record gender as male or female. If neither option is correct inform DVA after
                              your claim is processed.</div>
                            <div class="tooltip__close" role="button" tabindex="0">Close</div>
                          </div>
                        </div>
                        <div class="radio-toggle">
                          <label class="on label-left" for="genderTwo-male">
                            <input id="genderTwo-male" type="radio" name="genderTwo" value="male">
                            <span>Male</span>
                          </label>
                          <label class="off label-right" for="genderTwo-female">
                            <input id="genderTwo-female" type="radio" name="genderTwo" value="female">
                            <span>Female</span>
                          </label>
                        </div>
                      </fieldset>
                    </div>

                  </div>
                  <div class="form-group pt-showIfEnrolled">
                    <label class="uikit-text-input__label" for="contactPhone" id="question_id16a">Phone number</label>
                    <input class="uikit-text-input" name="contactPhone" id="contactPhone" type="text" value="">
                  </div>
                  <div class="form-group pt-showIfEnrolled">
                    <label class="uikit-text-input__label" for="contactEmail" id="question_id16a">Email <span class="hint">(optional)</span></label>
                    <input class="uikit-text-input" name="contactEmail" id="contactEmail" type="text" value="">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="radio-tile--group margin-above--large">
                          <label class="radio-tile">
                            <input id="addNewPerson" class="sr" type="radio" name="repType" value="person">
                            <span>
                              <i class="radio_tile__icon fal fa-user fa-3x" style="padding: 15px 0 15px 0;"></i>
                              <br>Add person
                            </span>
                          </label>
                          <label class="radio-tile">
                            <input id="addNewOrg" class="sr" type="radio" name="repType" value="organisation">
                            <span>
                              <i class="radio_tile__icon fal fa-users fa-3x" style="padding: 15px 0 15px 0;"></i>
                              <br>Add organisation
                            </span>
                          </label>
                        </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>An example of this component can be found <a href="/auth/profile/nomrep/form-rep-1.ejs">here</a>.</p>
          <hr>
          <h2>Button toggles</h2>
          <p>Button toggles are one of the most commonly used patterns within forms to hide and show additional fields.</p>
          <div class="example-box">
            <div class="form-group">
              <fieldset>
                <legend>
                  <label class="uikit-text-input__label" for="employed">Are you employed?</label>
                </legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="employed-yes" type="radio" name="employed" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input id="employed-no" type="radio" name="employed" value="no">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>
            <div class="form-group" id="employment-details" style="display: none;">

              <div class="form-group">
                <label class="uikit-text-input__label" for="employer-name">Name of current employer
                </label>
                <input class="uikit-text-input" name="employer-name" id="gp-name" type="text" value="" required="" aria-required="true">
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="hours-worked">Average hours worked per week
                </label>
                <input class="uikit-text-input yyyy" type="number" name="hours-worked" id="hours-worked" maxlength="3" aria-label="3 digit hours">&nbsp; hours per week
              </div>
            </div>
          </div>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>
<script>

  //checkbox toggles
  $(".countryPostal").change(function () {
    if ($('.countryPostal :selected').val() == "Australia") {
      $(".addressInAusPostal").show();
    } else {
      $(".addressInAusPostal").hide();
    }
  });

  $(".residentialCountry").change(function () {
    if ($('.residentialCountry :selected').val() == "Australia") {
      $(".addressInAusRes").show();
    } else {
      $(".addressInAusRes").hide();
    }
  });

  $(".pt-showIfAdditionalAddress").hide();

  $('input[name=sameAsPostal]').change(function () {
    if ($(this).is(':checked')) {
      $(".pt-showIfAdditionalAddress").hide();
    } else {
      $(".pt-showIfAdditionalAddress").show();
    }
  });

  //radio tile toggles
  $('#addNewPerson').click(function () {
    $('#newPerson').show("fast");
    $('#newOrg').hide();
  });
  $('#addNewOrg').click(function () {
    $('#newOrg').show("fast");
    $('#newPerson').hide();
  });

  //standard button toggles
  $("#employed-yes").click(function () {
    $("#employment-details").show();
    $("#ceaseworkfromcondition").hide();
    $("#unemployed").hide();
    $("#save-and-next").hide();
  });
  $("#employed-no").click(function () {
    // $("#save-and-next").show();
    // $("#unemployed").show();
    $("#ceaseworkfromcondition").show();
    $("#employment-details").hide();
  });


</script>

</html>
