<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Forms | MyService</title>
  <% include ../../partials/styleguide-styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <% include ../../partials/styleguide-header.ejs %>




  <main>

    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Forms</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Forms</h1>
          <div class="breakout">
            <p>Form components include input fields, drop-down lists, select lists, radio buttons, checkboxes and more. MyService
              expands on the default UI-Kit form elements to create visually appealing and easy to use controls.</p>
          </div>

          <h2>Form controls</h2>
          <p>The example form below demonstrates common HTML form elements that receive updated styles with additional classes.
            Bootstrap utilises the HTML5 doctype, so all inputs
            <b>must have a
              <font color="red">type</font> attribute</b>.</p>

          <div class="example-box">

            <div class="form-group">
              <label class="uikit-text-input__label" for="Input field">Input field label</label>
              <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="toggle-buttons">'Yes' or 'No' toggle buttons</label>
              <div class="radio-toggle">
                <label class="on label-left" for="yes">
                  <input id="yes" type="radio" name="toggle-buttons">
                  <span>Yes</span>
                </label>
                <label class="off label-right" for="no">
                  <input id="no" type="radio" name="toggle-buttons">
                  <span>No</span>
                </label>
              </div>
            </div>

            <div class="form-group" id="yes-content" style="display:none;">
              <h4>Yes button activated</h4>
              <p>This content will display when the 'Yes' toggle button is activated.</p>
            </div>

            <div class="form-group" id="no-content" style="display:none;">
              <h4>No button activated</h4>
              <p>This content will display when the 'No' toggle button is activated.</p>
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="date">Date fields
                <span class="hint">(DD / MM / YYYY)</span>
              </label>
              <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
              <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
              <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="drop-down">Drop-down
                <br />
                <span class="hint display-block">Select an item from the list.</span>
              </label>
              <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                <option>-- Select an item --</option>
                <option>Item 1</option>
                <option>Item 2</option>
                <option selected>Item 3</option>
                <option>Item 4</option>
              </select>
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="sop">Checkbox
                <span class="hint display-block">Select all that apply.</span>
              </label>
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                  <span class="uikit-control-input__text">Item 1</span>
                </label>
              </div>
              <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                  <span class="uikit-control-input__text">Item 2</span>
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="radio-buttons">Radio buttons</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">Item 1</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="radio" name="radio-ex">
                  <span class="uikit-control-input__text">Item 1</span>
                </label>
              </p>
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="textArea">Text box</label>
              <textarea id="textArea" name="textArea" rows="5"></textarea>
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="date">Date or Checkbox
                <span class="hint">(dd / mm / yyyy)</span>
              </label>
              <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required="" aria-required="true" aria-label="2 digit day">
              /
              <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required="" aria-required="true" aria-label="2 digit month">
              /
              <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required="" aria-required="true" aria-label="4 digit year">
              &nbsp;&nbsp;&nbsp;&nbsp;OR&nbsp;&nbsp;&nbsp;&nbsp;<label class="uikit-control-input">
                <input class="uikit-control-input__input" type="checkbox" name="" id="">
                <span class="uikit-control-input__text">Still serving</span>
              </label>
            </div>

            <fieldset>
              <div class="form-group">
                <label class="uikit-text-input__label" for="password">Password Input</label>
                <input class="uikit-text-input" name="password" id="password" type="password" value="">
                <button class="uikit-btn uikit-btn--tertiary show-password">Show</button>
              </div>
            </fieldset>
            <div class="form-group">
              <label class="uikit-text-input__label" for="postalAddressPostcode">Number input (for BSB and postcode)</label>
              <input class="uikit-text-input input-small yyyy" id="postalAddressPostcode" maxlength="4" name="postalAddressPostcode" type="text">
            </div>

            <div class="form-group">
              <label class="uikit-text-input__label" for="phoneHome">Phone number
                <span class="hint">(optional)</span>
                <span class="hint display-block">Please include your area code (for example, '03' for Victoria)</span>
                <select type="phone" class="uikit-text-input uikit-text-input--select-inline" name="countryCode-home" id="countryCode-home">
                  <option data-countrycode="AU" value="61">Australia (+61)</option>
                  <optgroup label="Other countries">
                    <option data-countrycode="DZ" value="213">Algeria (+213)</option>
                    <option data-countrycode="AD" value="376">Andorra (+376)</option>
                    <option data-countrycode="AO" value="244">Angola (+244)</option>
                    <option data-countrycode="AI" value="1264">Anguilla (+1264)</option>
                    <option data-countrycode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
                    <option data-countrycode="AR" value="54">Argentina (+54)</option>
                    <option data-countrycode="AM" value="374">Armenia (+374)</option>
                    <option data-countrycode="AW" value="297">Aruba (+297)</option>
                    <option data-countrycode="AT" value="43">Austria (+43)</option>
                    <option data-countrycode="AZ" value="994">Azerbaijan (+994)</option>
                    <option data-countrycode="BS" value="1242">Bahamas (+1242)</option>
                    <option data-countrycode="BH" value="973">Bahrain (+973)</option>
                    <option data-countrycode="BD" value="880">Bangladesh (+880)</option>
                    <option data-countrycode="BB" value="1246">Barbados (+1246)</option>
                    <option data-countrycode="BY" value="375">Belarus (+375)</option>
                    <option data-countrycode="BE" value="32">Belgium (+32)</option>
                    <option data-countrycode="BZ" value="501">Belize (+501)</option>
                    <option data-countrycode="BJ" value="229">Benin (+229)</option>
                    <option data-countrycode="BM" value="1441">Bermuda (+1441)</option>
                    <option data-countrycode="BT" value="975">Bhutan (+975)</option>
                    <option data-countrycode="BO" value="591">Bolivia (+591)</option>
                    <option data-countrycode="BA" value="387">Bosnia Herzegovina (+387)</option>
                    <option data-countrycode="BW" value="267">Botswana (+267)</option>
                    <option data-countrycode="BR" value="55">Brazil (+55)</option>
                    <option data-countrycode="BN" value="673">Brunei (+673)</option>
                    <option data-countrycode="BG" value="359">Bulgaria (+359)</option>
                    <option data-countrycode="BF" value="226">Burkina Faso (+226)</option>
                    <option data-countrycode="BI" value="257">Burundi (+257)</option>
                    <option data-countrycode="KH" value="855">Cambodia (+855)</option>
                    <option data-countrycode="CM" value="237">Cameroon (+237)</option>
                    <option data-countrycode="CA" value="1">Canada (+1)</option>
                    <option data-countrycode="CV" value="238">Cape Verde Islands (+238)</option>
                    <option data-countrycode="KY" value="1345">Cayman Islands (+1345)</option>
                    <option data-countrycode="CF" value="236">Central African Republic (+236)</option>
                    <option data-countrycode="CL" value="56">Chile (+56)</option>
                    <option data-countrycode="CN" value="86">China (+86)</option>
                    <option data-countrycode="CO" value="57">Colombia (+57)</option>
                    <option data-countrycode="KM" value="269">Comoros (+269)</option>
                    <option data-countrycode="CG" value="242">Congo (+242)</option>
                    <option data-countrycode="CK" value="682">Cook Islands (+682)</option>
                    <option data-countrycode="CR" value="506">Costa Rica (+506)</option>
                    <option data-countrycode="HR" value="385">Croatia (+385)</option>
                    <option data-countrycode="CU" value="53">Cuba (+53)</option>
                    <option data-countrycode="CY" value="90392">Cyprus North (+90392)</option>
                    <option data-countrycode="CY" value="357">Cyprus South (+357)</option>
                    <option data-countrycode="CZ" value="42">Czech Republic (+42)</option>
                    <option data-countrycode="DK" value="45">Denmark (+45)</option>
                    <option data-countrycode="DJ" value="253">Djibouti (+253)</option>
                    <option data-countrycode="DM" value="1809">Dominica (+1809)</option>
                    <option data-countrycode="DO" value="1809">Dominican Republic (+1809)</option>
                    <option data-countrycode="EC" value="593">Ecuador (+593)</option>
                    <option data-countrycode="EG" value="20">Egypt (+20)</option>
                    <option data-countrycode="SV" value="503">El Salvador (+503)</option>
                    <option data-countrycode="GQ" value="240">Equatorial Guinea (+240)</option>
                    <option data-countrycode="ER" value="291">Eritrea (+291)</option>
                    <option data-countrycode="EE" value="372">Estonia (+372)</option>
                    <option data-countrycode="ET" value="251">Ethiopia (+251)</option>
                    <option data-countrycode="FK" value="500">Falkland Islands (+500)</option>
                    <option data-countrycode="FO" value="298">Faroe Islands (+298)</option>
                    <option data-countrycode="FJ" value="679">Fiji (+679)</option>
                    <option data-countrycode="FI" value="358">Finland (+358)</option>
                    <option data-countrycode="FR" value="33">France (+33)</option>
                    <option data-countrycode="GF" value="594">French Guiana (+594)</option>
                    <option data-countrycode="PF" value="689">French Polynesia (+689)</option>
                    <option data-countrycode="GA" value="241">Gabon (+241)</option>
                    <option data-countrycode="GM" value="220">Gambia (+220)</option>
                    <option data-countrycode="GE" value="7880">Georgia (+7880)</option>
                    <option data-countrycode="DE" value="49">Germany (+49)</option>
                    <option data-countrycode="GH" value="233">Ghana (+233)</option>
                    <option data-countrycode="GI" value="350">Gibraltar (+350)</option>
                    <option data-countrycode="GR" value="30">Greece (+30)</option>
                    <option data-countrycode="GL" value="299">Greenland (+299)</option>
                    <option data-countrycode="GD" value="1473">Grenada (+1473)</option>
                    <option data-countrycode="GP" value="590">Guadeloupe (+590)</option>
                    <option data-countrycode="GU" value="671">Guam (+671)</option>
                    <option data-countrycode="GT" value="502">Guatemala (+502)</option>
                    <option data-countrycode="GN" value="224">Guinea (+224)</option>
                    <option data-countrycode="GW" value="245">Guinea - Bissau (+245)</option>
                    <option data-countrycode="GY" value="592">Guyana (+592)</option>
                    <option data-countrycode="HT" value="509">Haiti (+509)</option>
                    <option data-countrycode="HN" value="504">Honduras (+504)</option>
                    <option data-countrycode="HK" value="852">Hong Kong (+852)</option>
                    <option data-countrycode="HU" value="36">Hungary (+36)</option>
                    <option data-countrycode="IS" value="354">Iceland (+354)</option>
                    <option data-countrycode="IN" value="91">India (+91)</option>
                    <option data-countrycode="ID" value="62">Indonesia (+62)</option>
                    <option data-countrycode="IR" value="98">Iran (+98)</option>
                    <option data-countrycode="IQ" value="964">Iraq (+964)</option>
                    <option data-countrycode="IE" value="353">Ireland (+353)</option>
                    <option data-countrycode="IL" value="972">Israel (+972)</option>
                    <option data-countrycode="IT" value="39">Italy (+39)</option>
                    <option data-countrycode="JM" value="1876">Jamaica (+1876)</option>
                    <option data-countrycode="JP" value="81">Japan (+81)</option>
                    <option data-countrycode="JO" value="962">Jordan (+962)</option>
                    <option data-countrycode="KZ" value="7">Kazakhstan (+7)</option>
                    <option data-countrycode="KE" value="254">Kenya (+254)</option>
                    <option data-countrycode="KI" value="686">Kiribati (+686)</option>
                    <option data-countrycode="KP" value="850">Korea North (+850)</option>
                    <option data-countrycode="KR" value="82">Korea South (+82)</option>
                    <option data-countrycode="KW" value="965">Kuwait (+965)</option>
                    <option data-countrycode="KG" value="996">Kyrgyzstan (+996)</option>
                    <option data-countrycode="LA" value="856">Laos (+856)</option>
                    <option data-countrycode="LV" value="371">Latvia (+371)</option>
                    <option data-countrycode="LB" value="961">Lebanon (+961)</option>
                    <option data-countrycode="LS" value="266">Lesotho (+266)</option>
                    <option data-countrycode="LR" value="231">Liberia (+231)</option>
                    <option data-countrycode="LY" value="218">Libya (+218)</option>
                    <option data-countrycode="LI" value="417">Liechtenstein (+417)</option>
                    <option data-countrycode="LT" value="370">Lithuania (+370)</option>
                    <option data-countrycode="LU" value="352">Luxembourg (+352)</option>
                    <option data-countrycode="MO" value="853">Macao (+853)</option>
                    <option data-countrycode="MK" value="389">Macedonia (+389)</option>
                    <option data-countrycode="MG" value="261">Madagascar (+261)</option>
                    <option data-countrycode="MW" value="265">Malawi (+265)</option>
                    <option data-countrycode="MY" value="60">Malaysia (+60)</option>
                    <option data-countrycode="MV" value="960">Maldives (+960)</option>
                    <option data-countrycode="ML" value="223">Mali (+223)</option>
                    <option data-countrycode="MT" value="356">Malta (+356)</option>
                    <option data-countrycode="MH" value="692">Marshall Islands (+692)</option>
                    <option data-countrycode="MQ" value="596">Martinique (+596)</option>
                    <option data-countrycode="MR" value="222">Mauritania (+222)</option>
                    <option data-countrycode="YT" value="269">Mayotte (+269)</option>
                    <option data-countrycode="MX" value="52">Mexico (+52)</option>
                    <option data-countrycode="FM" value="691">Micronesia (+691)</option>
                    <option data-countrycode="MD" value="373">Moldova (+373)</option>
                    <option data-countrycode="MC" value="377">Monaco (+377)</option>
                    <option data-countrycode="MN" value="976">Mongolia (+976)</option>
                    <option data-countrycode="MS" value="1664">Montserrat (+1664)</option>
                    <option data-countrycode="MA" value="212">Morocco (+212)</option>
                    <option data-countrycode="MZ" value="258">Mozambique (+258)</option>
                    <option data-countrycode="MN" value="95">Myanmar (+95)</option>
                    <option data-countrycode="NA" value="264">Namibia (+264)</option>
                    <option data-countrycode="NR" value="674">Nauru (+674)</option>
                    <option data-countrycode="NP" value="977">Nepal (+977)</option>
                    <option data-countrycode="NL" value="31">Netherlands (+31)</option>
                    <option data-countrycode="NC" value="687">New Caledonia (+687)</option>
                    <option data-countrycode="NZ" value="64">New Zealand (+64)</option>
                    <option data-countrycode="NI" value="505">Nicaragua (+505)</option>
                    <option data-countrycode="NE" value="227">Niger (+227)</option>
                    <option data-countrycode="NG" value="234">Nigeria (+234)</option>
                    <option data-countrycode="NU" value="683">Niue (+683)</option>
                    <option data-countrycode="NF" value="672">Norfolk Islands (+672)</option>
                    <option data-countrycode="NP" value="670">Northern Marianas (+670)</option>
                    <option data-countrycode="NO" value="47">Norway (+47)</option>
                    <option data-countrycode="OM" value="968">Oman (+968)</option>
                    <option data-countrycode="PW" value="680">Palau (+680)</option>
                    <option data-countrycode="PA" value="507">Panama (+507)</option>
                    <option data-countrycode="PG" value="675">Papua New Guinea (+675)</option>
                    <option data-countrycode="PY" value="595">Paraguay (+595)</option>
                    <option data-countrycode="PE" value="51">Peru (+51)</option>
                    <option data-countrycode="PH" value="63">Philippines (+63)</option>
                    <option data-countrycode="PL" value="48">Poland (+48)</option>
                    <option data-countrycode="PT" value="351">Portugal (+351)</option>
                    <option data-countrycode="PR" value="1787">Puerto Rico (+1787)</option>
                    <option data-countrycode="QA" value="974">Qatar (+974)</option>
                    <option data-countrycode="RE" value="262">Reunion (+262)</option>
                    <option data-countrycode="RO" value="40">Romania (+40)</option>
                    <option data-countrycode="RU" value="7">Russia (+7)</option>
                    <option data-countrycode="RW" value="250">Rwanda (+250)</option>
                    <option data-countrycode="SM" value="378">San Marino (+378)</option>
                    <option data-countrycode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
                    <option data-countrycode="SA" value="966">Saudi Arabia (+966)</option>
                    <option data-countrycode="SN" value="221">Senegal (+221)</option>
                    <option data-countrycode="CS" value="381">Serbia (+381)</option>
                    <option data-countrycode="SC" value="248">Seychelles (+248)</option>
                    <option data-countrycode="SL" value="232">Sierra Leone (+232)</option>
                    <option data-countrycode="SG" value="65">Singapore (+65)</option>
                    <option data-countrycode="SK" value="421">Slovak Republic (+421)</option>
                    <option data-countrycode="SI" value="386">Slovenia (+386)</option>
                    <option data-countrycode="SB" value="677">Solomon Islands (+677)</option>
                    <option data-countrycode="SO" value="252">Somalia (+252)</option>
                    <option data-countrycode="ZA" value="27">South Africa (+27)</option>
                    <option data-countrycode="ES" value="34">Spain (+34)</option>
                    <option data-countrycode="LK" value="94">Sri Lanka (+94)</option>
                    <option data-countrycode="SH" value="290">St. Helena (+290)</option>
                    <option data-countrycode="KN" value="1869">St. Kitts (+1869)</option>
                    <option data-countrycode="SC" value="1758">St. Lucia (+1758)</option>
                    <option data-countrycode="SD" value="249">Sudan (+249)</option>
                    <option data-countrycode="SR" value="597">Suriname (+597)</option>
                    <option data-countrycode="SZ" value="268">Swaziland (+268)</option>
                    <option data-countrycode="SE" value="46">Sweden (+46)</option>
                    <option data-countrycode="CH" value="41">Switzerland (+41)</option>
                    <option data-countrycode="SI" value="963">Syria (+963)</option>
                    <option data-countrycode="TW" value="886">Taiwan (+886)</option>
                    <option data-countrycode="TJ" value="7">Tajikstan (+7)</option>
                    <option data-countrycode="TH" value="66">Thailand (+66)</option>
                    <option data-countrycode="TG" value="228">Togo (+228)</option>
                    <option data-countrycode="TO" value="676">Tonga (+676)</option>
                    <option data-countrycode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
                    <option data-countrycode="TN" value="216">Tunisia (+216)</option>
                    <option data-countrycode="TR" value="90">Turkey (+90)</option>
                    <option data-countrycode="TM" value="7">Turkmenistan (+7)</option>
                    <option data-countrycode="TM" value="993">Turkmenistan (+993)</option>
                    <option data-countrycode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
                    <option data-countrycode="TV" value="688">Tuvalu (+688)</option>
                    <option data-countrycode="UG" value="256">Uganda (+256)</option>
                    <option data-countrycode="GB" value="44">UK (+44)</option>
                    <option data-countrycode="UA" value="380">Ukraine (+380)</option>
                    <option data-countrycode="AE" value="971">United Arab Emirates (+971)</option>
                    <option data-countrycode="UY" value="598">Uruguay (+598)</option>
                    <option data-countrycode="US" value="1">USA (+1)</option>
                    <option data-countrycode="UZ" value="7">Uzbekistan (+7)</option>
                    <option data-countrycode="VU" value="678">Vanuatu (+678)</option>
                    <option data-countrycode="VA" value="379">Vatican City (+379)</option>
                    <option data-countrycode="VE" value="58">Venezuela (+58)</option>
                    <option data-countrycode="VN" value="84">Vietnam (+84)</option>
                    <option data-countrycode="VG" value="84">Virgin Islands - British (+1284)</option>
                    <option data-countrycode="VI" value="84">Virgin Islands - US (+1340)</option>
                    <option data-countrycode="WF" value="681">Wallis &amp; Futuna (+681)</option>
                    <option data-countrycode="YE" value="969">Yemen (North)(+969)</option>
                    <option data-countrycode="YE" value="967">Yemen (South)(+967)</option>
                    <option data-countrycode="ZM" value="260">Zambia (+260)</option>
                    <option data-countrycode="ZW" value="263">Zimbabwe (+263)</option>
                  </optgroup>

                </select>
                <input class="uikit-text-input input-half" name="phoneHome" id="phoneHome" type="phone" value="">
              </label>
            </div>

            <div class="pagination">
              <button class="uikit-btn">Submit</button>
              <button class="uikit-btn uikit-btn--borderless">Cancel</button>
            </div>

            <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="form-group">
                       <label class="uikit-text-input__label" for="Input field">Input field label</label>
                       <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                     </div>
                     
                     <div class="form-group">
                       <label class="uikit-text-input__label" for="toggle-buttons">'Yes' or 'No' toggle buttons</label>
                       <div class="radio-toggle">
                        <label class="on label-left" for="yes">
                         <input id="yes" type="radio" name="toggle-buttons">
                         <span>Yes</span>
                       </label>
                       <label class="off label-right" for="no">
                         <input id="no" type="radio" name="toggle-buttons">
                         <span>No</span>
                       </label>
                     </div>
                   </div>
                   
                   <div class="form-group" id="yes-content" style="display:none;">
                     <h4>Yes button activated</h4>
                     <p>This content will display when the 'Yes' toggle button is activated.</p>
                   </div>
                   
                   <div class="form-group" id="no-content" style="display:none;">
                     <h4>No button activated</h4>
                     <p>This content will display when the 'No' toggle button is activated.</p>
                   </div>
                   
                   <div class="form-group">
                     <label class="uikit-text-input__label" for="date">Date fields
                      <span class="hint">(DD / MM / YYYY)</span>
                    </label>
                    <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true"
                    aria-label="4 digit year">
                  </div>
                  
                  <div class="form-group">
                   <label class="uikit-text-input__label" for="drop-down">Drop-down
                    <br />
                    <span class="hint display-block">Select an item from the list.</span>
                  </label>
                  <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option>-- Select an item --</option>
                    <option>Item 1</option>
                    <option>Item 2</option>
                    <option selected>Item 3</option>
                    <option>Item 4</option>
                  </select>
                </div>
                
                <div class="form-group">
                 <label class="uikit-text-input__label" for="sop">Checkbox
                  <span class="hint display-block">Select all that apply.</span>
                </label>
                <div class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                   <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                   <span class="uikit-control-input__text">Item 1</span>
                 </label>
               </div>
               <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                 <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                 <span class="uikit-control-input__text">Item 2</span>
               </label>
             </div>
           </div>
           
           <div class="form-group">
             <label class="uikit-text-input__label" for="radio-buttons">Radio buttons</label>
             <p class="uiToolKitCheckBox">
              <label class="uikit-control-input">
               <input class="uikit-control-input__input" type="radio" name="radio-ex">
               <span class="uikit-control-input__text">Item 1</span>
             </label>
           </p>
           <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
             <input class="uikit-control-input__input" type="radio" name="radio-ex">
             <span class="uikit-control-input__text">Item 1</span>
           </label>
         </p>
       </div>
       
       <div class="form-group">
         <label class="uikit-text-input__label" for="textArea">Text box</label>
         <textarea id="textArea" name="textArea" rows="5"></textarea>
       </div>
       
       <div class="pagination">
         <button class="uikit-btn">Submit</button>
         <button class="uikit-btn uikit-btn--borderless">Cancel</button>
       </div>
     </script>
   </code>
 </pre>

          </div>


          <hr>


          <h2>Radio groups</h2>

          <p>There are three radio button styles. </p>


          <h3>Standard form yes/no radios</h3>
          <div class="example-box">

            <label class="uikit-text-input__label" for="toggle-buttons-1">'Yes' or 'No' toggle buttons</label>
            <div class="radio-toggle">
              <label class="on label-left">
                <input id="yes-1" type="radio" name="toggle-buttons-1">
                <span>Yes</span>
              </label>
              <label class="off label-right">
                <input id="no-1" type="radio" name="toggle-buttons-1">
                <span>No</span>
              </label>
            </div>

            <pre>
    <code class="language-markup">
      <script type="text/plain">
        <label class="uikit-text-input__label"
        for="toggle-buttons-1">'Yes' or 'No' toggle buttons</label>
        <div class="radio-toggle">
         <label class="on label-left">
          <input id="yes-1"
          type="radio"
          name="toggle-buttons-1">
          <span>Yes</span>
        </label>
        <label class="off label-right">
          <input id="no-1"
          type="radio"
          name="toggle-buttons-1">
          <span>No</span>
        </label>
      </div>
    </script>
  </code>
</pre>

          </div>


          <h3>Three state radios</h3>
          <p>Available in 2,3 and 4 flex columns</p>
          <div class="example-box">
            <div class="mys-radio-group mys-radio-group--cols-2">
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="group-0" value="no">
                <span class="mys-radio__box">No</span>
              </label>
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="group-0" value="yes-a-little">
                <span class="mys-radio__box">Yes, a little</span>
            </div>
            <div class="mys-radio-group mys-radio-group--cols-3">
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="group-1" value="no">
                <span class="mys-radio__box">No</span>
              </label>
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="group-1" value="yes-a-little">
                <span class="mys-radio__box">Yes, a little</span>
              </label>
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="group-1" value="yes-a-lot">
                <span class="mys-radio__box">Yes, a lot</span>
              </label>
            </div>

            <div class="mys-radio-group mys-radio-group--cols-4">
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="group-2" value="no">
                <span class="mys-radio__box">No</span>
              </label>
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="group-2" value="yes-a-little">
                <span class="mys-radio__box">Yes, a little</span>
              </label>
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="group-2" value="yes-a-lot">
                <span class="mys-radio__box">Yes, a lot</span>
              </label>
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="group-2" value="not-sure">
                <span class="mys-radio__box">Not sure</span>
              </label>
            </div>


            <pre>
      <code class="language-markup">
        <script type="text/plain">
          <div class="mys-radio-group mys-radio-group--cols-2">
            <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-0"
             value="no">
             <span class="mys-radio__box">No</span>
           </label>
           <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-0"
             value="yes-a-little">
             <span class="mys-radio__box">Yes, a little</span>
           </div>
           <div class="mys-radio-group mys-radio-group--cols-3">
            <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-1"
             value="no">
             <span class="mys-radio__box">No</span>
           </label>
           <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-1"
             value="yes-a-little">
             <span class="mys-radio__box">Yes, a little</span>
           </label>
           <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-1"
             value="yes-a-lot">
             <span class="mys-radio__box">Yes, a lot</span>
           </label>
         </div>
         
         <div class="mys-radio-group mys-radio-group--cols-4">
          <label class="mys-radio">
           <input class="mys-radio__control"
           type="radio"
           name="group-2"
           value="no">
           <span class="mys-radio__box">No</span>
         </label>
         <label class="mys-radio">
           <input class="mys-radio__control"
           type="radio"
           name="group-2"
           value="yes-a-little">
           <span class="mys-radio__box">Yes, a little</span>
         </label>
         <label class="mys-radio">
           <input class="mys-radio__control"
           type="radio"
           name="group-2"
           value="yes-a-lot">
           <span class="mys-radio__box">Yes, a lot</span>
         </label>
         <label class="mys-radio">
           <input class="mys-radio__control"
           type="radio"
           name="group-2"
           value="not-sure">
           <span class="mys-radio__box">Not sure</span>
         </label>
       </div>
     </script>
   </code>
 </pre>


          </div>

          <h3>Large radios with images</h3>
          <p>Placed at the beginning of claim flows to guide paths. These buttons can be used to hide/show form elements.</p>
          <div class="example-box">
            <div class="mys-radio-group mys-radio-group--cols-2">
              <label class="mys-radio">
                <input id="lsq-pathway-tellstory" class="mys-radio__control" type="radio" name="home" value="no">
                <span class="mys-radio__box mys-radio__box--large">
                  <img class="mys-radio__icon" src="/docs/images/ico-message.svg">
                  <span>Radio describing text 1 </span>
                </span>
              </label>
              <label class="mys-radio">
                <input class="mys-radio__control" type="radio" name="home" value="yes-a-little">
                <span class="mys-radio__box mys-radio__box--large">
                  <img class="mys-radio__icon" src="/docs/images/ico-folder.svg">
                  <span>Radio describing text 1</span>
                </span>
              </label>
            </div>

            <pre>
    <code class="language-markup">
      <script type="text/plain">
        <div class="mys-radio-group mys-radio-group--cols-2">
          <label class="mys-radio">
           <input id="lsq-pathway-tellstory"
           class="mys-radio__control"
           type="radio"
           name="home"
           value="no">
           <span class="mys-radio__box mys-radio__box--large">
            <img class="mys-radio__icon"
            src="../../../../docs/images/ico-message.svg">
            <span>Radio describing text 1 </span>
          </span>
        </label>
        <label class="mys-radio">
         <input class="mys-radio__control"
         type="radio"
         name="home"
         value="yes-a-little">
         <span class="mys-radio__box mys-radio__box--large">
          <img class="mys-radio__icon"
          src="../../../../docs/images/ico-folder.svg">
          <span>Radio describing text 1</span>
        </span>
      </label>
    </div>
  </script>
</code>
</pre>
          </div>

          <h3>Large radios with font awesome icons</h3>
          <p>Normally placed at the beginning of flows to guide paths</p>
          <div class="example-box">
            <div class="mys-radio-group">
              <label class="mys-radio">
                <input id="pensionType-invalidity" class="mys-radio__control" type="radio" name="pensionType" value="invaliditiy">
                <span class="mys-radio__box mys-radio__box--large">
                  <div class="radio_tile__icon fal fa-user fa-3x"></div>
                  <div class="margin-above">Invalidity service pension</div>
                </span>
              </label>
              <label class="mys-radio">
                <input id="pensionType-age" class="mys-radio__control" type="radio" name="pensionType" value="age">
                <span class="mys-radio__box mys-radio__box--large">
                  <div class="radio_tile__icon fal fa-user fa-3x"></div>
                  <div class="margin-above">Age service pension</div>
                </span>
              </label>
            </div>

            <pre>
  <code class="language-markup">
    <script type="text/plain">
     <div class="mys-radio-group">
      <label class="mys-radio">
        <input id="pensionType-invalidity" class="mys-radio__control" type="radio" name="pensionType" value="invaliditiy">
        <span class="mys-radio__box mys-radio__box--large">
          <div class="radio_tile__icon fal fa-user fa-3x"></div>
          <div class="margin-above">Invalidity service pension</div>
        </span>
      </label>
      <label class="mys-radio">
        <input id="pensionType-age" class="mys-radio__control" type="radio" name="pensionType" value="age">
        <span class="mys-radio__box mys-radio__box--large">
          <div class="radio_tile__icon fal fa-user fa-3x"></div>
          <div class="margin-above">Age service pension</div>
        </span>
      </label>
    </div>
  </script>
</code>
</pre>
          </div>


          <hr>

          <h2>Form layouts</h2>
          <p>MyService applies
            <font color="red">display: block</font> to almost all form controls, so forms will by default stack vertically.</p>

          <hr>

          <h2>Form groups</h2>
          <p>The
            <font color="red">.form-group</font> class gives structure to forms. Its only purpose is to provide
            <font color="red">margin-bottom</font> around a label and control pairing.</p>

          <hr>

          <h2>Hint and field supporting text</h2>
          <div class="example-box">
            <div class="form-group">
              <fieldset>
                <legend class="legend-label">How much would you like to withhold per fortnight for tax?
                  <span class="hint display-block"> For information about payments go to the
                    <a href='https://www.dva.gov.au/factsheet-mrc04-compensation-payment-rates' target='_blank' rel="external">DVA website</a>
                  </span>
                </legend>
                <span class="input-support-text">$</span>
                <input class="uikit-text-input input-small yyyy" name="howMuchTax" id="howMuchTax" type="number">
                <span class="input-support-text input-support-text--middle">or</span>
                <input class="uikit-text-input input-small yyyy" name="howMuchTax" id="howMuchTax" type="number">
                <span class="input-support-text">%</span>
              </fieldset>
            </div>

            <pre>
        <code class="language-markup">
          <script type="text/plain">
            <div class="form-group">
             <fieldset>
              <legend class="legend-label">How much would you like to withhold per fortnight for tax?
               <span class="hint display-block"> For information about payments go to the
                <a href='https://www.dva.gov.au/factsheet-mrc04-compensation-payment-rates' target='_blank' rel="external">DVA website</a>
              </span>
            </legend>
            <span class="input-support-text">$</span>
            <input class="uikit-text-input input-small yyyy" name="howMuchTax" id="howMuchTax" type="number">
            <span class="input-support-text input-support-text--middle">or</span>
            <input class="uikit-text-input input-small yyyy" name="howMuchTax" id="howMuchTax" type="number">
            <span class="input-support-text">%</span>
          </fieldset>
        </div>
      </script>
    </code>
  </pre>
          </div>


          <hr>

          <h2>Validation</h2>
          <h3>Top of page errors</h3>
          <p>Is triggered after submitting a form if any field validation fails</p>
          <div class="example-box">
            <div class="has-error has-error-server breakout">
              <div>
                <h2>
                  <a class="heading-error" name="heading-error">The following fields need fixing:</a>
                </h2>
                <ul>
                  <li>
                    <a href="javascript:void(0)">Your PMKeyS number</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">Your DVA client number</a>
                  </li>
                </ul>
              </div>
            </div>

            <pre>
    <code class="language-markup">
      <script type="text/plain">
        <div class="has-error has-error-server breakout">
         <div>
          <h2>
           <a class="heading-error" name="heading-error">The following fields need fixing:</a>
         </h2>
         <ul>
           <li>
            <a href="javascript:void(0)">Your PMKeyS number</a>
          </li>
          <li>
            <a href="javascript:void(0)">Your DVA client number</a>
          </li>
        </ul>
      </div>
    </div>
  </script>
</code>
</pre>
          </div>


          <h3>Inline errors</h3>
          <p>Is triggered on focus out of fields where validation has failed</p>
          <div class="example-box">
            <div class="field has-error">
              <label class="uikit-text-input__label">
                Your PMKeyS number
                <span class="input-error-message">Your PMKeyS number must have exactly 7 digit(s)</span>
              </label>
              <input class="uikit-text-input input-half ng-invalid ng-dirty ng-touched" type="text">
            </div>
            <pre>
    <code class="language-markup">
      <script type="text/plain">
       <div class="field has-error">
        <label class="uikit-text-input__label">
         Your PMKeyS number
         <span class="input-error-message">Your PMKeyS number must have exactly 7 digit(s)</span>
       </label>
       <input class="uikit-text-input input-half ng-invalid ng-dirty ng-touched" type="text">
     </div>
   </script>
 </code>
</pre>
          </div>
          <hr>
          <h1>Multiple Names</h1>
          <p>The multiple names component is utilised when a user must enter in more than one name within a form.</p>
          <div class="example-box">
            <table class="mys-table table-responsive border-all border-top__thick--blue">
              <tbody>
                <tr>
                  <th class="border-left__thin--white">
                    <label class="uikit-text-input__label" for="date">Given name (first name)</label>
                  </th>
                  <th>
                    <label class="uikit-text-input__label" for="date">Surname (last name)</label>
                  </th>
                  <th class="border-right__thin--white"></th>
                </tr>
                <tr id="date-template">
                  <td>
                    <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                  </td>
                  <td>
                    <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                  </td>
                  <td>
                    <button id="removeDateRow" class="uikit-btn uikit-btn--tertiary small">Remove</button>
                  </td>
                </tr>
                <tr class="padding-above--none">
                  <td colspan="4" class="padding-above--none ss-align">
                    <button id="add-another-name" onclick="cloneMe()" class="icon-link-button">
                      <span class="icon far fa-plus-circle"></span>
                      <span class="link">Add another name</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <table class="mys-table table-responsive border-all border-top__thick--blue">
                          <tbody>
        
                            <tr>
                              <th class="border-left__thin--white">
                                <label class="uikit-text-input__label" for="date">Given name (first name)</label>
                              </th>
                              <th>
                                <label class="uikit-text-input__label" for="date">Surname (last name)</label>
                              </th>
                              <th class="border-right__thin--white"></th>
                            </tr>
        
                            <tr id="date-template">
                              <td>
                                <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                              </td>
                              <td>
                                <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                              </td>
                              <td>
                                <button id="removeDateRow" class="uikit-btn uikit-btn--tertiary small">Remove</button>
                              </td>
                            </tr>
        
                            <tr class="padding-above--none">
                              <td colspan="4" class="padding-above--none ss-align">
                                <button id="add-another-name" onclick="cloneMe()" class="icon-link-button">
                                  <span class="icon far fa-plus-circle"></span>
                                  <span class="link">Add another name</span>
                                </button>
                              </td>
                            </tr>
        
                          </tbody>
                        </table>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/claim/qualifying_service/qs-1.ejs">here</a>.</p>
          <hr>
          <h1>Toggling form elements</h1>
          <div class="breakout">
            <p>Display Toggles use existing components such as buttons and checkboxes to hide or display input fields and text within claims.</p>
          </div>
          <h2>Checkbox toggle</h2>
          <p>The checkbox toggle will hide or display content depending on whether a checkbox has been selected or not. This component is commonly used in places when addresses or
            other data will be repeated.</p>
          <div class="example-box">
            <div class="form-group">
              <label class="uikit-control-input">
                <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked="">
                <span class="uikit-control-input__text">Same as postal address</span>
              </label>
            </div>
            <div class="pt-showIfAdditionalAddress" style="">
              <div class="form-group">
                <label class="uikit-text-input__label" for="residentialAddressCountry">Country</label>
                <select class="uikit-text-input input-half residentialCountry" name="residentialAddressCountry">
                  <option value="Australia" selected="">Australia</option>
                  <option value="NZ">New Zealand</option>
                </select>
              </div>

              <div class="addressAustralia">
                <div class="form-group">
                  <div class="field">
                    <label class="uikit-text-input__label" for="residentialAddressPrefix">
                      Building name or address prefix
                      <span class="hint">(optional)
                      </span>
                    </label>
                    <input type="text" id="residentialAddressPrefix" name="residentialAddressPrefix" class="uikit-text-input" aria-required="false" maxlength="38" value="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddressLine1">Address line 1</label>
                  <input class="uikit-text-input" id="residentialAddressLine1" name="residentialAddressLine1" type="text" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddressLine2">Address line 2
                    <span class="hint">(optional)</span>
                  </label>
                  <input class="uikit-text-input" id="residentialAddressLine2" name="residentialAddressLine2" type="text" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddressTown">Suburb or town</label>
                  <input class="uikit-text-input " id="residentialAddressTown" name="residentialAddressTown" type="text" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label" for="residentialAddressPostcode">Postcode</label>
                  <input class="uikit-text-input input-small yyyy" id="residentialAddressPostcode" maxlength="4" name="residentialAddressPostcode" type="text" value="">
                </div>

                <div class="form-group addressInAusRes">
                  <label class="uikit-text-input__label" for="residentialAddressState">State or territory</label>
                  <select class="uikit-text-input input-half" id="residentialAddressState" name="residentialAddressState">
                    <option> -- Select state or territory -- </option>
                    <option> Australian Capital Territory </option>
                    <option> New South Wales </option>
                    <option> Northern Territory </option>
                    <option> Queensland </option>
                    <option> South Australia </option>
                    <option> Tasmania </option>
                    <option> Victoria </option>
                    <option> Western Australia </option>
                  </select>

                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="example-box">
                          <div class="form-group">
                            <label class="uikit-control-input">
                              <input class="uikit-control-input__input sameAsPostal" type="checkbox" name="sameAsPostal" value="" checked="">
                              <span class="uikit-control-input__text">Same as postal address</span>
                            </label>
                          </div>
                          <div class="pt-showIfAdditionalAddress" style="">
                            <div class="form-group">
                              <label class="uikit-text-input__label" for="residentialAddressCountry">Country</label>
                              <select class="uikit-text-input input-half residentialCountry" name="residentialAddressCountry">
                                <option value="Australia" selected="">Australia</option>
                                <option value="NZ">New Zealand</option>
                              </select>
                            </div>
              
                            <div class="addressAustralia">
                              <div class="form-group">
                                <div class="field">
                                  <label class="uikit-text-input__label" for="residentialAddressPrefix">
                                    Building name or address prefix
                                    <span class="hint">(optional)
                                    </span>
                                  </label>
                                  <input type="text" id="residentialAddressPrefix" name="residentialAddressPrefix" class="uikit-text-input" aria-required="false" maxlength="38" value="">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="uikit-text-input__label" for="residentialAddressLine1">Address line 1</label>
                                <input class="uikit-text-input" id="residentialAddressLine1" name="residentialAddressLine1" type="text" value="">
                              </div>
                              <div class="form-group">
                                <label class="uikit-text-input__label" for="residentialAddressLine2">Address line 2
                                  <span class="hint">(optional)</span>
                                </label>
                                <input class="uikit-text-input" id="residentialAddressLine2" name="residentialAddressLine2" type="text" value="">
                              </div>
                              <div class="form-group">
                                <label class="uikit-text-input__label" for="residentialAddressTown">Suburb or town</label>
                                <input class="uikit-text-input " id="residentialAddressTown" name="residentialAddressTown" type="text" value="">
                              </div>
                              <div class="form-group">
                                <label class="uikit-text-input__label" for="residentialAddressPostcode">Postcode</label>
                                <input class="uikit-text-input input-small yyyy" id="residentialAddressPostcode" maxlength="4" name="residentialAddressPostcode" type="text" value="">
                              </div>
              
                              <div class="form-group addressInAusRes">
                                <label class="uikit-text-input__label" for="residentialAddressState">State or territory</label>
                                <select class="uikit-text-input input-half" id="residentialAddressState" name="residentialAddressState">
                                  <option> -- Select state or territory -- </option>
                                  <option> Australian Capital Territory </option>
                                  <option> New South Wales </option>
                                  <option> Northern Territory </option>
                                  <option> Queensland </option>
                                  <option> South Australia </option>
                                  <option> Tasmania </option>
                                  <option> Victoria </option>
                                  <option> Western Australia </option>
                                </select>
                              </div>
                            </div>
                          </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/unauth/registration/register-7.ejs">here</a>.</p>
          <hr>
          <h2>Radio Tiles</h2>
          <p>Radio Tiles are generally used to hide/show an entire page of form fields. Pages will start in a state with just radio tiles displayed and upon selecting a radio tile
            the relevant form fields will be displayed.</p>
          <div class="example-box">
            <form class="pt-submit-form">
              <input type="hidden" name="id" id="repId" value="413e7b07-538f-2581-cd07-2a2eb46f448b">
              <div class="radio-tile--group margin-above--large">
                <label class="radio-tile">
                  <input id="addNewPerson" class="sr" type="radio" name="repType" value="person">
                  <span>
                    <i class="radio_tile__icon fal fa-user fa-3x" style="padding: 15px 0 15px 0;"></i>
                    <br>Add person
                  </span>

                </label>
                <label class="radio-tile">
                  <input id="addNewOrg" class="sr" type="radio" name="repType" value="organisation">
                  <span>
                    <i class="radio_tile__icon fal fa-users fa-3x" style="padding: 15px 0 15px 0;"></i>
                    <br>Add organisation
                  </span>

                </label>


              </div>
              <div id="newPerson" style="display:none;">
                <div class="form-group margin-above--mid">
                  <h2>Provide information regarding the representative</h2>
                  <div id="title-group" class="form-group">
                    <label class="uikit-text-input__label" for="title">Title
                      <br>
                      <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
                    </label>
                    <select class="uikit-text-input input-half" id="title" name="title">
                      <option value="" default="">-- Select title --</option>
                      <option value="Miss">Miss</option>
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Ms">Ms</option>
                      <option value="Dr">Dr</option>

                    </select>
                  </div>

                  <div class="form-group">
                    <label class="uikit-text-input__label" for="nameFirst">Given name <span class="hint">(first name)</span></label>
                    <input class="uikit-text-input input-half" name="nameFirst" id="nameFirst" type="text" value="">
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="nameLast">Surname <span class="hint">(last name)</span></label>
                    <input class="uikit-text-input input-half" name="nameLast" id="nameLast" type="text" value="">
                  </div>
                  <div id="pt-gender-fieldsx" class="form-group">






                    <div class="form-group" id="genderOne">
                      <fieldset>
                        <div class="uikit-text-input__label-wrapper--inline-block">
                          <legend class="legend-label"></legend>
                        </div>
                        <div class="tooltip">
                          <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message" aria-expanded="false">
                            <div class="tooltip__label tooltip__label--icon-only">
                              <a>Help</a>
                            </div>
                            <div class="tooltip__tab"></div>
                          </div>
                          <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1" aria-hidden="true">
                            <div class="tooltip__message">Currently, our system only allows us to record gender as male or female. If neither option is correct inform DVA after
                              your claim is processed.</div>
                            <div class="tooltip__close" role="button" tabindex="0">Close</div>
                          </div>
                        </div>
                        <div class="radio-toggle">
                          <label class="on label-left" for="genderOne-male">
                            <input id="genderOne-male" type="radio" name="genderOne" value="male">
                            <span>Male</span>
                          </label>
                          <label class="off label-right" for="genderOne-female">
                            <input id="genderOne-female" type="radio" name="genderOne" value="female">
                            <span>Female</span>
                          </label>
                        </div>
                      </fieldset>
                    </div>


                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="date">Date of birth
                      <span class="hint">(dd / mm / yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="number" name="dob-dd" id="dob-dd" maxlength="2" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="number" name="dob-mm" id="dob-mm" maxlength="2" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="number" name="dob-yyyy" id="dob-yyyy" maxlength="4" aria-label="4 digit year">
                  </div>

                  <div id="title-group" class="form-group">
                    <label class="uikit-text-input__label" for="relationshipType">Relationship to you
                      <br>
                      <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
                    </label>
                    <select class="uikit-text-input input-half" id="relationshipType" name="relationshipType">
                      <option value="" default="">-- Select relationship --</option>
                      <option value="Carer">Carer </option>
                      <option value="Child">Child </option>
                      <option value="De-facto">De facto </option>
                      <option value="Friend">Friend </option>
                      <option value="Grandchild">Grandchild </option>
                      <option value="Grandparent">Grandparent </option>
                      <option value="Guardian">Guardian </option>
                      <option value="Niece-nephew">Niece/nephew </option>
                      <option value="Parent">Parent </option>
                      <option value="Sibling">Sibling </option>
                      <option value="Spouse">Spouse </option>
                      <option value="Uncle-aunt">Uncle/aunt </option>
                      <option value="Other">Other </option>


                    </select>
                  </div>

                  <div class="form-group" id="fileNumbergroup">
                    <label class="uikit-text-input__label" for="dVAClientNumber">Your representative's DVA client number <span class="hint">(if known)</span></label>
                    <div class="margin-below--mid">If they have one, we recommend you provide it here.</div>
                    <input class="uikit-text-input input-half" name="dVAClientNumber" id="dVAClientNumber" type="text" value="">
                  </div>

                </div>
              </div>

              <div id="newOrg" style="display: none;">
                <div class="form-group pt-showIfEnrolled">
                  <p>
                    <span style="display:none;" id="studyingCourseSpinner">
                      <img style="float: right; margin: 0px 15px 15px 0px;" src="/docs/images/BrokenCircleSpinner.gif" width="20px">
                    </span>
                    <label class="uikit-text-input__label" for="orgABN" id="question_id16a">Organisation ABN</label>
                    <input class="uikit-text-input" name="orgABN" id="orgABN" type="text" value="">

                  </p>

                </div>

                <div class="form-group pt-showIfEnrolled">
                  <label class="uikit-text-input__label" for="orgName" id="question_id16a">Organisation name</label>
                  <input class="uikit-text-input ui-autocomplete-input" name="orgName" id="orgName" type="text" value="" autocomplete="off">
                </div>

                <div class="form-group margin-above--large">
                  <h2>Contact person</h2>
                  <div id="title-group" class="form-group">
                    <label class="uikit-text-input__label" for="contactTitle">Title
                      <br>
                      <span id="title-group--optional" class="hint" style="display:none;"> Used for correspondence (optional)</span>
                    </label>
                    <select class="uikit-text-input input-half" id="contactTitle" name="contactTitle">
                      <option value="" default="">-- Select title --</option>
                      <option value="Miss">Miss</option>
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Ms">Ms</option>
                      <option value="Dr">Dr</option>

                    </select>
                  </div>

                  <div class="form-group pt-showIfEnrolled">
                    <label class="uikit-text-input__label" for="contactFirstName">Given name <span class="hint">(first name)</span></label>
                    <input class="uikit-text-input" name="contactFirstName" id="contactFirstName" type="text" value="">
                  </div>
                  <div class="form-group pt-showIfEnrolled">
                    <label class="uikit-text-input__label" for="contactLastName">Surname <span class="hint">(last name)</span></label>
                    <input class="uikit-text-input" name="contactLastName" id="contactLastName" type="text" value="">
                  </div>
                  <div id="pt-gender-fieldscc" class="form-group">





                    <div class="form-group" id="genderTwo">
                      <fieldset>
                        <div class="uikit-text-input__label-wrapper--inline-block">
                          <legend class="legend-label"></legend>
                        </div>
                        <div class="tooltip">
                          <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="message" aria-expanded="false">
                            <div class="tooltip__label tooltip__label--icon-only">
                              <a>Help</a>
                            </div>
                            <div class="tooltip__tab"></div>
                          </div>
                          <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1" aria-hidden="true">
                            <div class="tooltip__message">Currently, our system only allows us to record gender as male or female. If neither option is correct inform DVA after
                              your claim is processed.</div>
                            <div class="tooltip__close" role="button" tabindex="0">Close</div>
                          </div>
                        </div>
                        <div class="radio-toggle">
                          <label class="on label-left" for="genderTwo-male">
                            <input id="genderTwo-male" type="radio" name="genderTwo" value="male">
                            <span>Male</span>
                          </label>
                          <label class="off label-right" for="genderTwo-female">
                            <input id="genderTwo-female" type="radio" name="genderTwo" value="female">
                            <span>Female</span>
                          </label>
                        </div>
                      </fieldset>
                    </div>

                  </div>
                  <div class="form-group pt-showIfEnrolled">
                    <label class="uikit-text-input__label" for="contactPhone" id="question_id16a">Phone number</label>
                    <input class="uikit-text-input" name="contactPhone" id="contactPhone" type="text" value="">
                  </div>
                  <div class="form-group pt-showIfEnrolled">
                    <label class="uikit-text-input__label" for="contactEmail" id="question_id16a">Email <span class="hint">(optional)</span></label>
                    <input class="uikit-text-input" name="contactEmail" id="contactEmail" type="text" value="">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="radio-tile--group margin-above--large">
                          <label class="radio-tile">
                            <input id="addNewPerson" class="sr" type="radio" name="repType" value="person">
                            <span>
                              <i class="radio_tile__icon fal fa-user fa-3x" style="padding: 15px 0 15px 0;"></i>
                              <br>Add person
                            </span>
                          </label>
                          <label class="radio-tile">
                            <input id="addNewOrg" class="sr" type="radio" name="repType" value="organisation">
                            <span>
                              <i class="radio_tile__icon fal fa-users fa-3x" style="padding: 15px 0 15px 0;"></i>
                              <br>Add organisation
                            </span>
                          </label>
                        </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>An example of this component can be found <a href="/auth/profile/nomrep/form-rep-1.ejs">here</a>.</p>
          <hr>
          <h2>Button toggles</h2>
          <p>Button toggles are one of the most commonly used patterns within forms to hide and show additional fields.</p>
          <div class="example-box">
            <div class="form-group">
              <fieldset>
                <legend>
                  <label class="uikit-text-input__label" for="employed">Are you employed?</label>
                </legend>
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="employed-yes" type="radio" name="employed" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input id="employed-no" type="radio" name="employed" value="no">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>
            <div class="form-group" id="employment-details" style="display: none;">

              <div class="form-group">
                <label class="uikit-text-input__label" for="employer-name">Name of current employer
                </label>
                <input class="uikit-text-input" name="employer-name" id="gp-name" type="text" value="" required="" aria-required="true">
              </div>

              <div class="form-group">
                <label class="uikit-text-input__label" for="hours-worked">Average hours worked per week
                </label>
                <input class="uikit-text-input yyyy" type="number" name="hours-worked" id="hours-worked" maxlength="3" aria-label="3 digit hours">&nbsp; hours per week
              </div>
            </div>
          </div>




          <hr>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>

  <%- include(partials+"components/styleguide/styleguide-footer") %>

  <script>
    // Show and hide content when 'Yes' toggle button is clicked
    $("#yes").click(function () {
      $("#no-content").hide();
      $("#yes-content").show("fast");
    });

    var fewSeconds = 2;

    var btn = $(".save-dd-button, .cancel-dd-button");
    btn.prop('disabled', true);
    $('.waiting-animation').show();
    setTimeout(function () {
      btn.prop('disabled', false);
      // re-enable other edit fields
      $('.edit-text-button, .edit-home-button').prop('disabled', false);
      $(".dd-editable-div").hide();
      $(".save-dd-button").hide();
      $(".edit-dd-button").show();
      $(".dd-uneditable-div").show();
      $('.waiting-animation').hide();
    }, fewSeconds * 1000);


    // When the cancel field is clicked for title
    $(".cancel-dd-button").click(function () {
      $(".dd-editable-div").hide();
      $(".save-dd-button").hide();
      $(".edit-dd-button").show();
      $(".dd-uneditable-div").show();
      // re-enable other edit fields
      $('.edit-text-button, .edit-home-button').prop('disabled', false);
    });

    // When the edit field is clicked for title
    $(".edit-text-button").click(function () {
      $(".text-editable-div").show();
      $(".save-text-button").show();
      $(".edit-text-button").hide();
      $(".text-uneditable-div").hide();
      // disable other edit fields
      $('.edit-dd-button, .edit-home-button').prop('disabled', true);
    });

    // When the save field is clicked for title
    $(".save-text-button").click(function () {

      var btn = $(".save-text-button, .cancel-text-button");
      btn.prop('disabled', true);
      $('.waiting-animation').show();
      setTimeout(function () {
        btn.prop('disabled', false);
        // re-enable other edit fields
        $('.edit-dd-button, .edit-home-button').prop('disabled', false);
        $(".text-editable-div").hide();
        $(".save-text-button").hide();
        $(".edit-text-button").show();
        $(".text-uneditable-div").show();
        $('.waiting-animation').hide();
      }, fewSeconds * 1000);
    });

    // When the cancel field is clicked for title
    $(".cancel-text-button").click(function () {
      $(".text-editable-div").hide();
      $(".save-text-button").hide();
      $(".edit-text-button").show();
      $(".text-uneditable-div").show();
      // re-enable other edit fields
      $('.edit-dd-button, .edit-home-button').prop('disabled', false);
    });

    // When the edit field is clicked for title
    $(".edit-home-button").click(function () {
      $(".home-editable-div").show();
      $(".save-home-button").show();
      $(".edit-home-button").hide();
      $(".home-uneditable-div").hide();
      // disable other edit fields
      $('.edit-dd-button, .edit-text-button').prop('disabled', true);
    });

    // When the save field is clicked for title
    $(".save-home-button").click(function () {

      var btn = $(".save-home-button, .cancel-home-button");
      btn.prop('disabled', true);
      $('.waiting-animation').show();
      setTimeout(function () {
        btn.prop('disabled', false);
        // re-enable other edit fields
        $('.edit-dd-button, .edit-text-button').prop('disabled', false);
        $(".home-editable-div").hide();
        $(".save-home-button").hide();
        $(".edit-home-button").show();
        $(".home-uneditable-div").show();
        $('.waiting-animation').hide();
      }, fewSeconds * 1000);
    });

    // When the cancel field is clicked for title
    $(".cancel-home-button").click(function () {
      $(".home-editable-div").hide();
      $(".save-home-button").hide();
      $(".edit-home-button").show();
      $(".home-uneditable-div").show();
      // re-enable other edit fields
      $('.edit-dd-button, .edit-text-button').prop('disabled', false);
    });

    //checkbox toggles
    $(".countryPostal").change(function () {
      if ($('.countryPostal :selected').val() == "Australia") {
        $(".addressInAusPostal").show();
      } else {
        $(".addressInAusPostal").hide();
      }
    });

    $(".residentialCountry").change(function () {
      if ($('.residentialCountry :selected').val() == "Australia") {
        $(".addressInAusRes").show();
      } else {
        $(".addressInAusRes").hide();
      }
    });

    $(".pt-showIfAdditionalAddress").hide();

    $('input[name=sameAsPostal]').change(function () {
      if ($(this).is(':checked')) {
        $(".pt-showIfAdditionalAddress").hide();
      } else {
        $(".pt-showIfAdditionalAddress").show();
      }
    });

    //radio tile toggles
    $('#addNewPerson').click(function () {
      $('#newPerson').show("fast");
      $('#newOrg').hide();
    });
    $('#addNewOrg').click(function () {
      $('#newOrg').show("fast");
      $('#newPerson').hide();
    });

    //standard button toggles
    $("#employed-yes").click(function () {
      $("#employment-details").show();
      $("#ceaseworkfromcondition").hide();
      $("#unemployed").hide();
      $("#save-and-next").hide();
    });
    $("#employed-no").click(function () {
      // $("#save-and-next").show();
      // $("#unemployed").show();
      $("#ceaseworkfromcondition").show();
      $("#employment-details").hide();
    });
  </script>

</body>

</html>
