<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Forms | MyService</title>
  <% include ../../partials/styleguide-styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <% include ../../partials/styleguide-header.ejs %>




  <main>

    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Forms</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Forms</h1>
          <div class="breakout">
            <p>Form components include input fields, drop-down lists, select lists, radio buttons, checkboxes and more. MyService
            expands on the default UI-Kit form elements to create visually appealing and easy to use controls.</p>
          </div>

          <h2>Form controls</h2>
          <p>The example form below demonstrates common HTML form elements that receive updated styles with additional classes.
            Bootstrap utilises the HTML5 doctype, so all inputs
            <b>must have a
              <font color="red">type</font> attribute</b>.</p>

              <div class="example-box">

                <div class="form-group">
                  <label class="uikit-text-input__label" for="Input field">Input field label</label>
                  <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="toggle-buttons">'Yes' or 'No' toggle buttons</label>
                  <div class="radio-toggle">
                    <label class="on label-left" for="yes">
                      <input id="yes" type="radio" name="toggle-buttons">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="no">
                      <input id="no" type="radio" name="toggle-buttons">
                      <span>No</span>
                    </label>
                  </div>
                </div>

                <div class="form-group" id="yes-content" style="display:none;">
                  <h4>Yes button activated</h4>
                  <p>This content will display when the 'Yes' toggle button is activated.</p>
                </div>

                <div class="form-group" id="no-content" style="display:none;">
                  <h4>No button activated</h4>
                  <p>This content will display when the 'No' toggle button is activated.</p>
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="date">Date fields
                    <span class="hint">(DD / MM / YYYY)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="drop-down">Drop-down
                    <br />
                    <span class="hint display-block">Select an item from the list.</span>
                  </label>
                  <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option>-- Select an item --</option>
                    <option>Item 1</option>
                    <option>Item 2</option>
                    <option selected>Item 3</option>
                    <option>Item 4</option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="sop">Checkbox
                    <span class="hint display-block">Select all that apply.</span>
                  </label>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                      <span class="uikit-control-input__text">Item 1</span>
                    </label>
                  </div>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                      <span class="uikit-control-input__text">Item 2</span>
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="radio-buttons">Radio buttons</label>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Item 1</span>
                    </label>
                  </p>
                  <p class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="radio" name="radio-ex">
                      <span class="uikit-control-input__text">Item 1</span>
                    </label>
                  </p>
                </div>

                <div class="form-group">
                  <label class="uikit-text-input__label" for="textArea">Text box</label>
                  <textarea id="textArea" name="textArea" rows="5"></textarea>
                </div>

                <div class="pagination">
                  <button class="uikit-btn">Submit</button>
                  <button class="uikit-btn uikit-btn--borderless">Cancel</button>
                </div>

                <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="form-group">
                       <label class="uikit-text-input__label" for="Input field">Input field label</label>
                       <input class="uikit-text-input input-half" name="Input field" id="Input field" type="text" value="" required aria-required="true">
                     </div>
                     
                     <div class="form-group">
                       <label class="uikit-text-input__label" for="toggle-buttons">'Yes' or 'No' toggle buttons</label>
                       <div class="radio-toggle">
                        <label class="on label-left" for="yes">
                         <input id="yes" type="radio" name="toggle-buttons">
                         <span>Yes</span>
                       </label>
                       <label class="off label-right" for="no">
                         <input id="no" type="radio" name="toggle-buttons">
                         <span>No</span>
                       </label>
                     </div>
                   </div>
                   
                   <div class="form-group" id="yes-content" style="display:none;">
                     <h4>Yes button activated</h4>
                     <p>This content will display when the 'Yes' toggle button is activated.</p>
                   </div>
                   
                   <div class="form-group" id="no-content" style="display:none;">
                     <h4>No button activated</h4>
                     <p>This content will display when the 'No' toggle button is activated.</p>
                   </div>
                   
                   <div class="form-group">
                     <label class="uikit-text-input__label" for="date">Date fields
                      <span class="hint">(DD / MM / YYYY)</span>
                    </label>
                    <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true"
                    aria-label="4 digit year">
                  </div>
                  
                  <div class="form-group">
                   <label class="uikit-text-input__label" for="drop-down">Drop-down
                    <br />
                    <span class="hint display-block">Select an item from the list.</span>
                  </label>
                  <select class="uikit-text-input input-half" id="drop-down" name="drop-down">
                    <option>-- Select an item --</option>
                    <option>Item 1</option>
                    <option>Item 2</option>
                    <option selected>Item 3</option>
                    <option>Item 4</option>
                  </select>
                </div>
                
                <div class="form-group">
                 <label class="uikit-text-input__label" for="sop">Checkbox
                  <span class="hint display-block">Select all that apply.</span>
                </label>
                <div class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                   <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                   <span class="uikit-control-input__text">Item 1</span>
                 </label>
               </div>
               <div class="uiToolKitCheckBox">
                <label class="uikit-control-input">
                 <input class="uikit-control-input__input" type="checkbox" id="checkbox2" name="checkbox">
                 <span class="uikit-control-input__text">Item 2</span>
               </label>
             </div>
           </div>
           
           <div class="form-group">
             <label class="uikit-text-input__label" for="radio-buttons">Radio buttons</label>
             <p class="uiToolKitCheckBox">
              <label class="uikit-control-input">
               <input class="uikit-control-input__input" type="radio" name="radio-ex">
               <span class="uikit-control-input__text">Item 1</span>
             </label>
           </p>
           <p class="uiToolKitCheckBox">
            <label class="uikit-control-input">
             <input class="uikit-control-input__input" type="radio" name="radio-ex">
             <span class="uikit-control-input__text">Item 1</span>
           </label>
         </p>
       </div>
       
       <div class="form-group">
         <label class="uikit-text-input__label" for="textArea">Text box</label>
         <textarea id="textArea" name="textArea" rows="5"></textarea>
       </div>
       
       <div class="pagination">
         <button class="uikit-btn">Submit</button>
         <button class="uikit-btn uikit-btn--borderless">Cancel</button>
       </div>
     </script>
   </code>
 </pre>

</div>


<hr>


<h2>Radio groups</h2>

<p>There are three radio button styles. </p>


<h3>Standard form yes/no radios</h3>
<div class="example-box">

  <label class="uikit-text-input__label" for="toggle-buttons-1">'Yes' or 'No' toggle buttons</label>
  <div class="radio-toggle">
    <label class="on label-left">
      <input id="yes-1" type="radio" name="toggle-buttons-1">
      <span>Yes</span>
    </label>
    <label class="off label-right">
      <input id="no-1" type="radio" name="toggle-buttons-1">
      <span>No</span>
    </label>
  </div>

  <pre>
    <code class="language-markup">
      <script type="text/plain">
        <label class="uikit-text-input__label"
        for="toggle-buttons-1">'Yes' or 'No' toggle buttons</label>
        <div class="radio-toggle">
         <label class="on label-left">
          <input id="yes-1"
          type="radio"
          name="toggle-buttons-1">
          <span>Yes</span>
        </label>
        <label class="off label-right">
          <input id="no-1"
          type="radio"
          name="toggle-buttons-1">
          <span>No</span>
        </label>
      </div>
    </script>
  </code>
</pre>

</div>


<h3>Three state radios</h3>
<p>Available in 2,3 and 4 flex columns</p>
<div class="example-box">
  <div class="mys-radio-group mys-radio-group--cols-2">
    <label class="mys-radio">
      <input class="mys-radio__control" type="radio" name="group-0" value="no">
      <span class="mys-radio__box">No</span>
    </label>
    <label class="mys-radio">
      <input class="mys-radio__control" type="radio" name="group-0" value="yes-a-little">
      <span class="mys-radio__box">Yes, a little</span>
    </div>
    <div class="mys-radio-group mys-radio-group--cols-3">
      <label class="mys-radio">
        <input class="mys-radio__control" type="radio" name="group-1" value="no">
        <span class="mys-radio__box">No</span>
      </label>
      <label class="mys-radio">
        <input class="mys-radio__control" type="radio" name="group-1" value="yes-a-little">
        <span class="mys-radio__box">Yes, a little</span>
      </label>
      <label class="mys-radio">
        <input class="mys-radio__control" type="radio" name="group-1" value="yes-a-lot">
        <span class="mys-radio__box">Yes, a lot</span>
      </label>
    </div>

    <div class="mys-radio-group mys-radio-group--cols-4">
      <label class="mys-radio">
        <input class="mys-radio__control" type="radio" name="group-2" value="no">
        <span class="mys-radio__box">No</span>
      </label>
      <label class="mys-radio">
        <input class="mys-radio__control" type="radio" name="group-2" value="yes-a-little">
        <span class="mys-radio__box">Yes, a little</span>
      </label>
      <label class="mys-radio">
        <input class="mys-radio__control" type="radio" name="group-2" value="yes-a-lot">
        <span class="mys-radio__box">Yes, a lot</span>
      </label>
      <label class="mys-radio">
        <input class="mys-radio__control" type="radio" name="group-2" value="not-sure">
        <span class="mys-radio__box">Not sure</span>
      </label>
    </div>


    <pre>
      <code class="language-markup">
        <script type="text/plain">
          <div class="mys-radio-group mys-radio-group--cols-2">
            <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-0"
             value="no">
             <span class="mys-radio__box">No</span>
           </label>
           <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-0"
             value="yes-a-little">
             <span class="mys-radio__box">Yes, a little</span>
           </div>
           <div class="mys-radio-group mys-radio-group--cols-3">
            <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-1"
             value="no">
             <span class="mys-radio__box">No</span>
           </label>
           <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-1"
             value="yes-a-little">
             <span class="mys-radio__box">Yes, a little</span>
           </label>
           <label class="mys-radio">
             <input class="mys-radio__control"
             type="radio"
             name="group-1"
             value="yes-a-lot">
             <span class="mys-radio__box">Yes, a lot</span>
           </label>
         </div>
         
         <div class="mys-radio-group mys-radio-group--cols-4">
          <label class="mys-radio">
           <input class="mys-radio__control"
           type="radio"
           name="group-2"
           value="no">
           <span class="mys-radio__box">No</span>
         </label>
         <label class="mys-radio">
           <input class="mys-radio__control"
           type="radio"
           name="group-2"
           value="yes-a-little">
           <span class="mys-radio__box">Yes, a little</span>
         </label>
         <label class="mys-radio">
           <input class="mys-radio__control"
           type="radio"
           name="group-2"
           value="yes-a-lot">
           <span class="mys-radio__box">Yes, a lot</span>
         </label>
         <label class="mys-radio">
           <input class="mys-radio__control"
           type="radio"
           name="group-2"
           value="not-sure">
           <span class="mys-radio__box">Not sure</span>
         </label>
       </div>
     </script>
   </code>
 </pre>


</div>

<h3>Large radios with images</h3>
<p>Normally placed at the beginning of flows to guide paths</p>
<div class="example-box">
  <div class="mys-radio-group mys-radio-group--cols-2">
    <label class="mys-radio">
      <input id="lsq-pathway-tellstory" class="mys-radio__control" type="radio" name="home" value="no">
      <span class="mys-radio__box mys-radio__box--large">
        <img class="mys-radio__icon" src="../../../../docs/images/ico-message.svg">
        <span>Radio describing text 1 </span>
      </span>
    </label>
    <label class="mys-radio">
      <input class="mys-radio__control" type="radio" name="home" value="yes-a-little">
      <span class="mys-radio__box mys-radio__box--large">
        <img class="mys-radio__icon" src="../../../../docs/images/ico-folder.svg">
        <span>Radio describing text 1</span>
      </span>
    </label>
  </div>

  <pre>
    <code class="language-markup">
      <script type="text/plain">
        <div class="mys-radio-group mys-radio-group--cols-2">
          <label class="mys-radio">
           <input id="lsq-pathway-tellstory"
           class="mys-radio__control"
           type="radio"
           name="home"
           value="no">
           <span class="mys-radio__box mys-radio__box--large">
            <img class="mys-radio__icon"
            src="../../../../docs/images/ico-message.svg">
            <span>Radio describing text 1 </span>
          </span>
        </label>
        <label class="mys-radio">
         <input class="mys-radio__control"
         type="radio"
         name="home"
         value="yes-a-little">
         <span class="mys-radio__box mys-radio__box--large">
          <img class="mys-radio__icon"
          src="../../../../docs/images/ico-folder.svg">
          <span>Radio describing text 1</span>
        </span>
      </label>
    </div>
  </script>
</code>
</pre>
</div>

<h3>Large radios with font awesome icons</h3>
<p>Normally placed at the beginning of flows to guide paths</p>
<div class="example-box">
 <div class="mys-radio-group">
  <label class="mys-radio">
    <input id="pensionType-invalidity" class="mys-radio__control" type="radio" name="pensionType" value="invaliditiy">
    <span class="mys-radio__box mys-radio__box--large">
      <div class="radio_tile__icon fal fa-user fa-3x"></div>
      <div class="margin-above">Invalidity service pension</div>
    </span>
  </label>
  <label class="mys-radio">
    <input id="pensionType-age" class="mys-radio__control" type="radio" name="pensionType" value="age">
    <span class="mys-radio__box mys-radio__box--large">
      <div class="radio_tile__icon fal fa-user fa-3x"></div>
      <div class="margin-above">Age service pension</div>
    </span>
  </label>
</div>

<pre>
  <code class="language-markup">
    <script type="text/plain">
     <div class="mys-radio-group">
      <label class="mys-radio">
        <input id="pensionType-invalidity" class="mys-radio__control" type="radio" name="pensionType" value="invaliditiy">
        <span class="mys-radio__box mys-radio__box--large">
          <div class="radio_tile__icon fal fa-user fa-3x"></div>
          <div class="margin-above">Invalidity service pension</div>
        </span>
      </label>
      <label class="mys-radio">
        <input id="pensionType-age" class="mys-radio__control" type="radio" name="pensionType" value="age">
        <span class="mys-radio__box mys-radio__box--large">
          <div class="radio_tile__icon fal fa-user fa-3x"></div>
          <div class="margin-above">Age service pension</div>
        </span>
      </label>
    </div>
  </script>
</code>
</pre>
</div>


<hr>

<h2>Form layouts</h2>
<p>MyService applies
  <font color="red">display: block</font> to almost all form controls, so forms will by default stack vertically.</p>

  <hr>

  <h2>Form groups</h2>
  <p>The
    <font color="red">.form-group</font> class gives structure to forms. Its only purpose is to provide
    <font color="red">margin-bottom</font> around a label and control pairing.</p>

    <hr>

    <h2>Hint and field supporting text</h2>
    <div class="example-box">
      <div class="form-group">
        <fieldset>
          <legend class="legend-label">How much would you like to withhold per fortnight for tax?
            <span class="hint display-block"> For information about payments go to the
              <a href='https://www.dva.gov.au/factsheet-mrc04-compensation-payment-rates' target='_blank' rel="external">DVA website</a>
            </span>
          </legend>
          <span class="input-support-text">$</span>
          <input class="uikit-text-input input-small yyyy" name="howMuchTax" id="howMuchTax" type="number">
          <span class="input-support-text input-support-text--middle">or</span>
          <input class="uikit-text-input input-small yyyy" name="howMuchTax" id="howMuchTax" type="number">
          <span class="input-support-text">%</span>
        </fieldset>
      </div>

      <pre>
        <code class="language-markup">
          <script type="text/plain">
            <div class="form-group">
             <fieldset>
              <legend class="legend-label">How much would you like to withhold per fortnight for tax?
               <span class="hint display-block"> For information about payments go to the
                <a href='https://www.dva.gov.au/factsheet-mrc04-compensation-payment-rates' target='_blank' rel="external">DVA website</a>
              </span>
            </legend>
            <span class="input-support-text">$</span>
            <input class="uikit-text-input input-small yyyy" name="howMuchTax" id="howMuchTax" type="number">
            <span class="input-support-text input-support-text--middle">or</span>
            <input class="uikit-text-input input-small yyyy" name="howMuchTax" id="howMuchTax" type="number">
            <span class="input-support-text">%</span>
          </fieldset>
        </div>
      </script>
    </code>
  </pre>
</div>


<hr>

<h2>Validation</h2>
<h3>Top of page errors</h3>
<p>Is triggered after submitting a form if any field validation fails</p>
<div class="example-box">
  <div class="has-error has-error-server breakout">
    <div>
      <h2>
        <a class="heading-error" name="heading-error">The following fields need fixing:</a>
      </h2>
      <ul>
        <li>
          <a href="javascript:void(0)">Your PMKeyS number</a>
        </li>
        <li>
          <a href="javascript:void(0)">Your DVA client number</a>
        </li>
      </ul>
    </div>
  </div>

  <pre>
    <code class="language-markup">
      <script type="text/plain">
        <div class="has-error has-error-server breakout">
         <div>
          <h2>
           <a class="heading-error" name="heading-error">The following fields need fixing:</a>
         </h2>
         <ul>
           <li>
            <a href="javascript:void(0)">Your PMKeyS number</a>
          </li>
          <li>
            <a href="javascript:void(0)">Your DVA client number</a>
          </li>
        </ul>
      </div>
    </div>
  </script>
</code>
</pre>
</div>


<h3>Inline errors</h3>
<p>Is triggered on focus out of fields where validation has failed</p>
<div class="example-box">
  <div class="field has-error">
    <label class="uikit-text-input__label">
      Your PMKeyS number
      <span class="input-error-message">Your PMKeyS number must have exactly 7 digit(s)</span>
    </label>
    <input class="uikit-text-input input-half ng-invalid ng-dirty ng-touched" type="text">
  </div>
  <pre>
    <code class="language-markup">
      <script type="text/plain">
       <div class="field has-error">
        <label class="uikit-text-input__label">
         Your PMKeyS number
         <span class="input-error-message">Your PMKeyS number must have exactly 7 digit(s)</span>
       </label>
       <input class="uikit-text-input input-half ng-invalid ng-dirty ng-touched" type="text">
     </div>
   </script>
 </code>
</pre>
</div>
<hr>





</div>
<% include ../../partials/styleguide-sidenav.ejs %>
</div>
</div>
</main>

<% include ../../partials/styleguide-footer.ejs %>

<script>
    // Show and hide content when 'Yes' toggle button is clicked
    $("#yes").click(function () {
      $("#no-content").hide();
      $("#yes-content").show("fast");
    });

    var fewSeconds = 2;

    var btn = $(".save-dd-button, .cancel-dd-button");
    btn.prop('disabled', true);
    $('.waiting-animation').show();
    setTimeout(function () {
      btn.prop('disabled', false);
      // re-enable other edit fields
      $('.edit-text-button, .edit-home-button').prop('disabled', false);
      $(".dd-editable-div").hide();
      $(".save-dd-button").hide();
      $(".edit-dd-button").show();
      $(".dd-uneditable-div").show();
      $('.waiting-animation').hide();
    }, fewSeconds * 1000);


    // When the cancel field is clicked for title
    $(".cancel-dd-button").click(function () {
      $(".dd-editable-div").hide();
      $(".save-dd-button").hide();
      $(".edit-dd-button").show();
      $(".dd-uneditable-div").show();
      // re-enable other edit fields
      $('.edit-text-button, .edit-home-button').prop('disabled', false);
    });

    // When the edit field is clicked for title
    $(".edit-text-button").click(function () {
      $(".text-editable-div").show();
      $(".save-text-button").show();
      $(".edit-text-button").hide();
      $(".text-uneditable-div").hide();
      // disable other edit fields
      $('.edit-dd-button, .edit-home-button').prop('disabled', true);
    });

    // When the save field is clicked for title
    $(".save-text-button").click(function () {

      var btn = $(".save-text-button, .cancel-text-button");
      btn.prop('disabled', true);
      $('.waiting-animation').show();
      setTimeout(function () {
        btn.prop('disabled', false);
        // re-enable other edit fields
        $('.edit-dd-button, .edit-home-button').prop('disabled', false);
        $(".text-editable-div").hide();
        $(".save-text-button").hide();
        $(".edit-text-button").show();
        $(".text-uneditable-div").show();
        $('.waiting-animation').hide();
      }, fewSeconds * 1000);
    });

    // When the cancel field is clicked for title
    $(".cancel-text-button").click(function () {
      $(".text-editable-div").hide();
      $(".save-text-button").hide();
      $(".edit-text-button").show();
      $(".text-uneditable-div").show();
      // re-enable other edit fields
      $('.edit-dd-button, .edit-home-button').prop('disabled', false);
    });

    // When the edit field is clicked for title
    $(".edit-home-button").click(function () {
      $(".home-editable-div").show();
      $(".save-home-button").show();
      $(".edit-home-button").hide();
      $(".home-uneditable-div").hide();
      // disable other edit fields
      $('.edit-dd-button, .edit-text-button').prop('disabled', true);
    });

    // When the save field is clicked for title
    $(".save-home-button").click(function () {

      var btn = $(".save-home-button, .cancel-home-button");
      btn.prop('disabled', true);
      $('.waiting-animation').show();
      setTimeout(function () {
        btn.prop('disabled', false);
        // re-enable other edit fields
        $('.edit-dd-button, .edit-text-button').prop('disabled', false);
        $(".home-editable-div").hide();
        $(".save-home-button").hide();
        $(".edit-home-button").show();
        $(".home-uneditable-div").show();
        $('.waiting-animation').hide();
      }, fewSeconds * 1000);
    });

    // When the cancel field is clicked for title
    $(".cancel-home-button").click(function () {
      $(".home-editable-div").hide();
      $(".save-home-button").hide();
      $(".edit-home-button").show();
      $(".home-uneditable-div").show();
      // re-enable other edit fields
      $('.edit-dd-button, .edit-text-button').prop('disabled', false);
    });
  </script>

</body>

</html>