<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Headings | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Headings</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>Headings</h1>
          <h2>Heading with icon</h2>
          <p>The heading with icon features a standard h1 element with a prefixed Font Awesome icon.</p>
          <div class="example-box">
            <h1><img src="/docs/images/ico-email-waiting.svg" alt="Email waiting icon"> Please check your email</h1>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <h1><img src="/docs/images/ico-email-waiting.svg" alt="Email waiting icon"> Please check your email</h1>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/">here</a>.</p>
          <hr>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
