<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Icons and images | MyService</title>
  <% include ../../partials/styleguide-styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <% include ../../partials/styleguide-header.ejs %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Icons and images</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Icons and images</h1>
          <div class="breakout">
            <p>The MyService iconography style aligns with the Department of Veteran's Affairs personality and echoes other Australian
              Government service brands. Icons are in the
              <a href="https://en.wikipedia.org/wiki/Flat_design" target="_blank" rel="external">flat design style</a>, meaning they use minimal stylistic elements.</p>
          </div>

          <h2>Icon features</h2>

          <div class="row">
            <div class="col-xs-4">
              <h4 class="heading-underline">Consistent line weight</h4>
              <img class="sg-icon-example" src="../../../docs/images/styleguide/sg-ico-line-weight.svg" alt="Icon example of consistent line weight">
            </div>
            <div class="col-xs-4">
              <h4 class="heading-underline">Geometric shapes</h4>
              <img class="sg-icon-example" src="../../../docs/images/styleguide/sg-ico-geometric.svg" alt="Icon example of gemoetric shapes">
            </div>
            <div class="col-xs-4">
              <h4 class="heading-underline">Rounded corners</h4>
              <img class="sg-icon-example" src="../../../docs/images/styleguide/sg-ico-rounded.svg" alt="Icon example of rounded corners">
            </div>
          </div>

          <hr>

          <h2>Icon colours</h2>
          <p>An icon's default colour should be
            <font color="red">$grey</font> when used to add a visual element to content, and
            <font color="red">$blue</font> when used in a link. Icons can break from the default colour pattern but should never break from the
            MyService colour palette.</p>

          <div class="row">
            <div class="col-xs-4">
              <h4 class="heading-underline">Default</h4>
              <img class="sg-icon-example sg-icon--small" src="../../../docs/images/styleguide/sg-ico-color-default.svg" alt="Icon example of default colour">
            </div>
            <div class="col-xs-4">
              <h4 class="heading-underline">Default link</h4>
              <img class="sg-icon-example sg-icon--small" src="../../../docs/images/styleguide/sg-ico-color-link.svg" alt="Icon example of default link colour">
            </div>
            <div class="col-xs-4">
              <h4 class="heading-underline">Customised</h4>
              <img class="sg-icon-example sg-icon--small" src="../../../docs/images/styleguide/sg-ico-color-custom.svg" alt="Icon example of custom colour">
            </div>
          </div>

          <hr>

          <h2>Large icons</h2>
          <p>Icons can be used in large format to convey infographical information. An example is the 1, 2, 3 step feature on the
            unauthenticated home page.</p>

          <div class="example-box">
            <div class="row">
              <div class="col-xs-4">
                <img src="/docs/images/howitworks-01.png" alt="Step 1" class="howitworks-img">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
												<img src="/docs/images/howitworks-01.png" alt="Step 1" class="howitworks-img">
											</script>
										</code>
									</pre>
              </div>
              <div class="col-xs-4">
                <img src="/docs/images/howitworks-02.png" alt="Step 2" class="howitworks-img">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
												<img src="/docs/images/howitworks-02.png" alt="Step 2" class="howitworks-img">
											</script>
										</code>
									</pre>
              </div>
              <div class="col-xs-4">
                <img src="/docs/images/howitworks-03.png" alt="Step 3" class="howitworks-img">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
												<img src="/docs/images/howitworks-03.png" alt="Step 3" class="howitworks-img">
											</script>
										</code>
									</pre>
              </div>
            </div>
          </div>

          <hr>




          <hr>

          <h2>Status icons</h2>
          <p>Status icons are smaller icons. They are the only icons that use additional colour to compliment design and textual
            context for conveying meaning. Status icons are used for indicating claim status and in
            <a href="/styleguide/toast">toast messages</a>.</p>
          </p>
          <caption>Status icon variations</caption>
          <div class="example-box">
            <div class="row">
              <div class="col-sm-3">
                <p class="status-icon status-incomplete"> Incomplete</p>
              </div>
              <div class="col-sm-9">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
												<p class="status-icon status-incomplete"> Incomplete</p>
											</script>
										</code>
									</pre>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p class="status-icon status-approved"> Approved</p>
              </div>
              <div class="col-sm-9">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
												<p class="status-icon status-approved"> Approved</p>
											</script>
										</code>
									</pre>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p class="status-icon status-submitted">Submitted</p>
              </div>
              <div class="col-sm-9">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
													<p class="status-icon status-submitted">Submitted</p>
												</script>
										</code>
									</pre>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <p class="status-icon status-rejected">Rejected</p>
              </div>
              <div class="col-sm-9">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
												<p class="status-icon status-rejected">Rejected</p>
											</script>
										</code>
									</pre>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <p class="status-icon status-withdrawn">Withdrawn</p>
              </div>
              <div class="col-sm-9">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
												<p class="status-icon status-withdrawn">Withdrawn</p>
											</script>
										</code>
									</pre>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-3">
                <p class="status-icon status-in-progress">In progress</p>
              </div>
              <div class="col-sm-9">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
												<p class="status-icon status-in-progress">In progress</p>
											</script>
										</code>
									</pre>
              </div>
            </div>
          </div>




          <h2>Heading icons</h2>
          <p>Icons used alongside text in a heading can help convey a key message. For example, a green tick icon in a heading that
            reads 'You have submitted your claim' will assist the user in understanding they have just completed a process. Headings,
            <font color="red">&#60;h1&#62;</font> and
            <font color="red">&#60;h2&#62;</font>, are available for use with icons.</p>
          </p>
          <p>Coded with the --large modifier. </p>
          <caption>Heading icon example</caption>

          <div class="example-box">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="status-icon status-icon--large status-in-progress page-header">
                  In progress</h2>
              </div>
              <div class="col-sm-8">
                <pre>
										<code class="language-markup">
											<script type="text/plain">
												<h2 class="status-icon status-icon--large status-in-progress page-header">
														In progress</h2>
											</script>
										</code>
									</pre>
              </div>
            </div>
          </div>

          <hr>

          <h2>Dashboard icons</h2>
          <p></p>

          <div class="example-box">
            <table class="table table-centred">
              <caption>Dashboard icon variations</caption>
              <tbody>
                <tr>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-db-treatment.svg" alt="">
                    </h2>
                    <p>ico-db-treatment.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-db-profile.svg" alt="">
                    </h2>
                    <p>ico-db-profile.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-db-needs.svg" alt="">
                    </h2>
                    <p>ico-db-needs.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-db-card.svg" alt="">
                    </h2>
                    <p>ico-db-cards.svg</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr>

          <h2>Registration icons</h2>
          <p></p>

          <div class="example-box">
            <table class="table table-centred">
              <caption>Registration icon variations</caption>
              <tbody>
                <tr>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-user-serving.svg" alt="">
                    </h2>
                    <p>ico-user-serving.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-user-formerserving.svg" alt="">
                    </h2>
                    <p>ico-user-formerserving.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-user-nonserving.svg" alt="">
                    </h2>
                    <p>ico-user-nonserving.svg</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr>

          <h2>All icons</h2>
          <p>All icons being used in MyService are listed below. Some of these icons are displayed in a larger size when used inside
            headings or container divs.</p>
          </p>
          <div class="example-box">
            <table class="table table-centred">
              <caption>All icons</caption>
              <tbody>
                <tr>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-error.svg" alt="Error">
                    </h2>
                    <p>ico-error.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-external-blue.svg" alt="External link">
                    </h2>
                    <p>ico-external-blue.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-close-black.svg" alt="Close">
                    </h2>
                    <p>ico-close-black.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-help-blue.svg" alt="Help">
                    </h2>
                    <p>ico-help-blue.svg</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-home-blue.svg" alt="Home">
                    </h2>
                    <p>ico-home-blue.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-phone-blue.svg" alt="Phone">
                    </h2>
                    <p>ico-phone-blue.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-email-blue.svg" alt="Email">
                    </h2>
                    <p>ico-email-blue.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-mental-health-blue.svg" alt="Mental health">
                    </h2>
                    <p>ico-mental-health-blue.svg</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-trash.svg" alt="Trash">
                    </h2>
                    <p>ico-trash.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-edit.svg" alt="Edit">
                    </h2>
                    <p>ico-edit.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-card.svg" alt="Card">
                    </h2>
                    <p>ico-card.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-claims.svg" alt="Claims">
                    </h2>
                    <p>ico-claims.svg</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-tip-blue.svg" alt="Tip">
                    </h2>
                    <p>ico-tip-blue.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-needs.svg" alt="Needs">
                    </h2>
                    <p>ico-needs.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-profile-blue.svg" alt="Profile">
                    </h2>
                    <p>ico-profile-blue.svg</p>
                  </td>
                  <td>
                    <h2>
                      <img src="../../../docs/images/ico-signout-blue.svg" alt="Sign out">
                    </h2>
                    <p>ico-signout-blue.svg</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr>

          <h2>Images</h2>

          <h3>Positioning</h3>

          <div class="example-box">
            <div class="row">
              <div class="col-sm-12">
                <img src="../../../docs/images/styleguide/sg-img-placeholder.gif" class="float-image-left">
                <p>Using the class
                  <font color="red">.float-image-left</font> on an
                  <font color="red">&lt;img&gt;</font> tag will align an image to the left of the proceeding element.</p>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <pre>
											<code class="language-markup">
												<script type="text/plain">
													<img src="../../../docs/images/styleguide/sg-img-placeholder.gif" class="float-image-left">
													<p>Using the class
														<font color="red">.float-image-left</font> on an
														<font color="red">&lt;img&gt;</font> tag will align an image to the left of the proceeding element.</p>
												</script>
											</code>
										</pre>
                </div>
              </div>
            </div>

          </div>

        </div>
        <% include ../../partials/styleguide-sidenav.ejs %>
      </div>
    </div>
  </main>
  <% include ../../partials/styleguide-footer.ejs %>
</body>

</html>