<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid landing-page uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <main class="styleguide__page-wrapper">
    <%- include(partials+"components/go-to-top") %>
    <div class="styleguide-draft">This style guide is a draft. It is currently being prepared for DVA endorsement.</div>

    <section class="hero-main styleguide-hero">
      <div class="container" id="main-content">
        <img src="/docs/images/styleguide/sg-myservice-brandmark-beta.svg" width="280" alt="Department of Veterans' Affairs, MyService Beta logo">
        <h1>Style Guide</h1>
        <p>A guide to help teams from Department of Veterans' Affairs design content for MyService.</p>
        <button class="uikit-btn" onclick="window.location.href = '/styleguide/getting-started'">Get started</button>
      </div>
    </section>


    <div class="container">
      <div class="row feature-section">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-4 col-lg-3">
          <img src="/docs/images/styleguide/sg-uikit-relationship.svg" class="feature-image">
        </div>
        <div class="col-sm-6 col-lg-7">
          <h2>Scope of this guide</h2>
          <p>MyService uses the Australian Government
            <a href="https://uikit.service.gov.au" rel="external" target="_blank">UI-Kit CSS framework (version 2)</a>.</p>
          <p>This guide documents the adjustments and additions made exclusively for MyService and should be referenced in partnership
            with the most recent UI-Kit guides. For documentation on UI-Kit, refer to the
            <a href="https://guides.service.gov.au/design-guide/" rel="external" target="_blank">DTA Guides</a> or see the
            <a href="https://github.com/govau/uikit" rel="external" target="_blank">UI-Kit code on GitHub</a>.</p>
          <a class="uikit-btn uikit-btn--tertiary small" href="/styleguide/uikit">See the MyService style guide</a>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-10 guide-updates">
          <h2>Recent activity</h2>
          <table>
            <tr>
              <th>Changes</th>
              <th>Date</th>
            </tr>
            <tr>
              <td>Updated the components list to be consistent with MyService.</td>
              <td>30 July 2019</td>
            </tr>
            <tr>
              <td>Currency box added</td>
              <td>5 Dec 2018</td>
            </tr>
            <tr>
              <td>Icon page updated and library of icons included.</td>
              <td>16 Jan 2018</td>
            </tr>
            <tr>
              <td>SASS structure updated.</td>
              <td>12 Jan 2018</td>
            </tr>
            <tr>
              <td>Modals added.</td>
              <td>7 Dec 2017</td>
            </tr>
            <tr>
              <td>Toast messages added.</td>
              <td>6 Dec 2017</td>
            </tr>
            <tr>
              <td>Style Guide launched!</td>
              <td>5 Oct 2017</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
