<%- include(components+"styleguide/styleguide-header", {
  heading: "Layout",
  claim: "Style Guide"
}) %>

  <p>Layout components create a consistent structural appearance across pages, devices and applications. These components form the basic structure of each page.</p>

  <hr>
  <h2>Support services panel</h2>
  <div class="example-box">
    <table>
      <tr>
        <td>
          <div class="accordion-toppanel--wrapper">
            <div class="container">
              <section class="uikit-accordion accordion-closed">
                <div class="uikit-accordion__body" id="accordion-closed" aria-hidden="true">
                  <div class="uikit-accordion__body-wrapper">
                    <div class="row support-box">
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <a href="http://www.vvcs.gov.au/">
                          <img src="/docs/images/logo-vvcs.png">
                          <span class="external-link">Open Arms – Veterans and Families Counselling</span>
                        </a>
                        <br>
                        <strong>1800&nbsp;011&nbsp;046</strong>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">
                          <img src="/docs/images/logo-defence.png">
                          <span class="external-link">ADF Mental Health All Hours Support Line</span>
                        </a>
                        <br>
                        <strong>1800&nbsp;628&nbsp;036</strong>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <a href="https://www.lifeline.org.au/">
                          <img src="/docs/images/logo-lifeline.png">
                          <span class="external-link">Lifeline</span>
                        </a>
                        <br>
                        <strong>13&nbsp;11&nbsp;14</strong>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <a href="https://www.1800respect.org.au">
                          <img src="/docs/images/logo-1800respect.png">
                          <span class="external-link">National Sexual Assault, Domestic and Family Violence Counselling Service</span>
                        </a>
                        <br>
                        <strong>1800&nbsp;737&nbsp;732</strong>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="trial-message">
                  This is a trial. Please provide<a href="javascript:void(0);">feedback</a>
                </div>


                <a href="#accordion-closed" class="uikit-accordion__title js-uikit-accordion" aria-controls="accordion-closed" aria-expanded="false" aria-selected="false"
                  role="tab" onclick="">
                  <span class="accordion-toppanel-btn--text">
                    <span class="sr">24hr </span>counselling and support
                    <span class="sr"> services</span>
                  </span>
                </a>
                <a class="logout" href="/">Log out</a>

              </section>
            </div>
          </div>

        </td>
      </tr>
    </table>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <table>
                <tr>
                  <td>
                    <div class="accordion-toppanel--wrapper">
                      <div class="container">
                        <section class="uikit-accordion accordion-closed">
                          <div class="uikit-accordion__body" id="accordion-closed" aria-hidden="true">
                            <div class="uikit-accordion__body-wrapper">
                              <div class="row support-box">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                  <a href="http://www.vvcs.gov.au/">
                                    <img src="/docs/images/logo-vvcs.png">
                                    <span class="external-link">Open Arms – Veterans and Families Counselling</span>
                                  </a>
                                  <br>
                                  <strong>1800&nbsp;011&nbsp;046</strong>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                  <a href="http://www.defence.gov.au/Health/DMH/AllHoursSupportLine.asp">
                                    <img src="/docs/images/logo-defence.png">
                                    <span class="external-link">ADF Mental Health All Hours Support Line</span>
                                  </a>
                                  <br>
                                  <strong>1800&nbsp;628&nbsp;036</strong>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                  <a href="https://www.lifeline.org.au/">
                                    <img src="/docs/images/logo-lifeline.png">
                                    <span class="external-link">Lifeline</span>
                                  </a>
                                  <br>
                                  <strong>13&nbsp;11&nbsp;14</strong>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                  <a href="https://www.1800respect.org.au">
                                    <img src="/docs/images/logo-1800respect.png">
                                    <span class="external-link">National Sexual Assault, Domestic and Family Violence Counselling Service</span>
                                  </a>
                                  <br>
                                  <strong>1800&nbsp;737&nbsp;732</strong>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="trial-message">
                            This is a trial. Please provide<a href="javascript:void(0);">feedback</a>
                          </div>
  
  
                          <a href="#accordion-closed" class="uikit-accordion__title js-uikit-accordion" aria-controls="accordion-closed" aria-expanded="false" aria-selected="false"
                            role="tab" onclick="">
                            <span class="accordion-toppanel-btn--text">
                              <span class="sr">24hr </span>counselling and support
                              <span class="sr"> services</span>
                            </span>
                          </a>
                          <a class="logout" href="/">Log out</a>
  
                        </section>
                      </div>
                    </div>
  
                  </td>
                </tr>
              </table>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of support services panel go <a href="/unauth/registration/register-6">here</a>.</p>
  <hr>
  <h2>Reduced header</h2>
  <a name="default-header"></a>
  <p>This header style is used for pages that sit within a process flow (eg. making a claim for initial liability).</p>
  <div class="example-box">
    <a name="reduced-header"></a>
    <header class="uikit-header reduced-header">
      <div class="container">
        <img class="logo-myservice" src="/docs/images/logo-myservice.svg" alt="MyService logo" />
      </div>
    </header>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <header class="uikit-header reduced-header">
                <div class="container">
                  <img class="logo-myservice" src="/docs/images/logo-myservice.svg" alt="MyService logo" />
               </div>
             </header>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of the reduced header go <a href="/auth/claim/health-card0">here</a>.</p>
  <hr>

  <!-- Header menu component -->
  <h2>Main navigation</h2>
  <p>The main navigation is a list item containing an icon accompanied by text. <br> At $uikit-media-md (992px) the menu changes to a togglable mobile menu.</p>
  <div class="example-box menu__styleguide-wrapper">
    <header class="uikit-header">
      <div>
        <button class="toggle" aria-expanded="false">Menu</button>
        <ul class="menu">
          <li class="menu__item " id="home">
            <a href="/auth" class="menu__item-link nav-active">
              <div class="fal fa-home fa-2x fa-fw"></div>
              <div class="menu__item-name">Home</div>
            </a>
          </li>
          <li class="menu__item " id="tasks">
            <a href="/auth/tasks" class="menu__item-link">
              <div class="fal fa-tasks fa-2x fa-fw"></div>
              <div class="tasks-badge">3</div>
              <div class="menu__item-name">Tasks</div>
            </a>
          </li>
          <li class="menu__item " id="claim">
            <a href="/auth/claim" class="menu__item-link">
              <div class="fal fa-list-alt fa-2x fa-fw"></div>
              <div class="menu__item-name">Claims</div>
            </a>
          </li>
          <li class="menu__item " id="payments">
            <a href="/auth/payments" class="menu__item-link">
              <div class="fal fa-calendar-check fa-2x fa-fw"></div>
              <div class="menu__item-name">Payments</div>
            </a>
          </li>
          <li class="menu__item " id="healthcard">
            <a href="/auth/healthcard" class="menu__item-link">
              <div class="fal fa-credit-card-blank fa-2x fa-fw"></div>
              <div class="menu__item-name">Cards</div>
            </a>
          </li>
          <li class="menu__item " id="travel">
            <a href="/auth/travel" class="menu__item-link">
              <div class="fal fa-car-alt fa-2x fa-fw"></div>
              <div class="menu__item-name">Transport</div>
            </a>
          </li>
          <li class="menu__item " id="profile">
            <a href="/auth/profile" class="menu__item-link">
              <div class="fal fa-user-circle fa-2x fa-fw"></div>
              <div class="menu__item-name">Profile</div>
            </a>
          </li>
          <li class="menu__item menu__item--external" id="myaccount">
            <a href="#open-myaccount-modal" class="menu__item-link">
              <div class="fal fa-exchange fa-2x fa-fw"></div>
              <div class="menu__item-name">My Account</div>
            </a>
          </li>
        </ul>
      </div>
    </header>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
            <code class="language-markup">
              <script type="text/plain">
                <header class="uikit-header">
                  <div>
                    <button class="toggle" aria-expanded="false">Menu</button>
                    <ul class="menu">
                      <li class="menu__item " id="home">
                        <a href="/auth" class="menu__item-link nav-active">
                          <div class="fal fa-home fa-2x fa-fw"></div>
                          <div class="menu__item-name">Home</div>
                        </a>
                      </li>
                      <li class="menu__item " id="tasks">
                        <a href="/auth/tasks" class="menu__item-link">
                          <div class="fal fa-tasks fa-2x fa-fw"></div>
                          <div class="tasks-badge">3</div>
                          <div class="menu__item-name">Tasks</div>
                        </a>
                      </li>
                      <li class="menu__item " id="claim">
                        <a href="/auth/claim" class="menu__item-link">
                          <div class="fal fa-list-alt fa-2x fa-fw"></div>
                          <div class="menu__item-name">Claims</div>
                        </a>
                      </li>
                      <li class="menu__item " id="payments">
                        <a href="/auth/payments" class="menu__item-link">
                          <div class="fal fa-calendar-check fa-2x fa-fw"></div>
                          <div class="menu__item-name">Payments</div>
                        </a>
                      </li>
                      <li class="menu__item " id="healthcard">
                        <a href="/auth/healthcard" class="menu__item-link">
                          <div class="fal fa-credit-card-blank fa-2x fa-fw"></div>
                          <div class="menu__item-name">Cards</div>
                        </a>
                      </li>
                      <li class="menu__item " id="travel">
                        <a href="/auth/travel" class="menu__item-link">
                          <div class="fal fa-car-alt fa-2x fa-fw"></div>
                          <div class="menu__item-name">Transport</div>
                        </a>
                      </li>
                      <li class="menu__item " id="profile">
                        <a href="/auth/profile" class="menu__item-link">
                          <div class="fal fa-user-circle fa-2x fa-fw"></div>
                          <div class="menu__item-name">Profile</div>
                        </a>
                      </li>
                      <li class="menu__item menu__item--external" id="myaccount">
                        <a href="#open-myaccount-modal" class="menu__item-link">
                          <div class="fal fa-exchange fa-2x fa-fw"></div>
                          <div class="menu__item-name">My Account</div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </header>
              </script>
            </code>
          </pre>
    </div>
  </div>

  <p>To see an example of the main navigation go <a href="/auth/">here</a>.</p>
  <script type="text/javascript">
    var toggle = document.querySelector('.toggle');
    var menu = document.querySelector('.menu');
    document.querySelector('.toggle').addEventListener("click", function () {
      toggle.classList.toggle('menu-closed');
      menu.classList.toggle('is-active');
    });
  </script>

  <!-- Header menu component ends -->
  <hr>
  <h2>Page title</h2>
  <p>The page title component is placed at the top of the page taking up the entire screen width and clearly describes what page the user has arrived on.</p>
  <div class="example-box">
    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Review and Submit</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
                <div class="margin-above--none">
                  <h1 class="margin-above--none ss-align--center">
                    <span class="heading">Review and Submit</span>
                  </h1>
                </div>
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/claim/qualifying-service/qs-1">here</a>.</p>
  <hr>
  <!-- Side menu component starts -->
  <h2>Side navigation</h2>
  <p>The side navigation component is utilised for secondary navigation within pages.</p>
  <div class="example-box row">
    <div class="col-md-3">
      <ul class="secondary-navigation">
        <li class="secondary-navigation__item ">
          <a class="secondary-navigation__link" href="/auth/profile">Personal details</a>
        </li>
        <li class="secondary-navigation__item">
          <a class="secondary-navigation__link" href="/auth/profile/contact">Contact details</a>
        </li>
        <li class="secondary-navigation__item">
          <a class="secondary-navigation__link" href="/auth/profile/history">Service history</a>
        </li>
        <li class="secondary-navigation__item">
          <a class="secondary-navigation__link" href="/auth/profile/relationships">Relationships</a>
        </li>
        <li class="secondary-navigation__item">
          <a class="secondary-navigation__link" href="/auth/profile/payment">Bank details</a>
        </li>
        <li class="secondary-navigation__item">
          <a class="secondary-navigation__link" href="/auth/profile/nomrep">Representation</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="row">
                  <div class="col-md-3">
                    <ul class="secondary-navigation">
                      <li class="secondary-navigation__item ">
                        <a class="secondary-navigation__link" href="/auth/profile">Personal details</a>
                      </li>
                      <li class="secondary-navigation__item">
                        <a class="secondary-navigation__link" href="/auth/profile/contact">Contact details</a>
                      </li>
                      <li class="secondary-navigation__item">
                        <a class="secondary-navigation__link" href="/auth/profile/history">Service history</a>
                      </li>
                      <li class="secondary-navigation__item">
                        <a class="secondary-navigation__link" href="/auth/profile/relationships">Relationships</a>
                      </li>
                      <li class="secondary-navigation__item">
                        <a class="secondary-navigation__link" href="/auth/profile/payment">Bank details</a>
                      </li>
                      <li class="secondary-navigation__item">
                        <a class="secondary-navigation__link" href="/auth/profile/nomrep">Representation</a>
                      </li>
                    </ul>
                  </div>
            </script>
          </code>
        </pre>
    </div>
  </div>

  <p>To see an example of the side navigation component in use go <a href="/auth/profile">here</a>.</p>
  <!-- Side menu component ends -->
  <hr>
  <!-- Side menu component starts -->
  <h2>Help Panel</h2>
  <div class="example-box" style="position: relative; min-height: 100px;">
    <div id="help-button" class="btn-panel-help help-button--styleguide-position "><a class="uikit-btn uikit-btn--help panel-btn">Help</a></div>
    <div id="help-panel-container" class="panel-container">
      <div id="help-panel-content" class="panel-content">
        <form>
          <h2><span class="font-weight-heavy">Get help with your claim or other&nbsp;DVA&nbsp;questions</span></h2>
          <!-- <h3>Call us <span class="hint display-block">Monday to Friday, 9am to 5pm AEDST.<br>Phone: <a href="tel:1800555254">1800 555 254</a></span></h3> -->
          <blockquote class="block-quote">
            <!-- <h3>Call us on 1800 555 254</h3> -->
            <span class="block-quote__icon">
              <i class="far fa-phone"></i>
            </span>
            <span>
              <h3 class="block-quote__header">Call us on 1800 555 254</h3>
              Monday to Friday, 8am to 5pm AEDST.
            </span>
          </blockquote>
          <section class="au-accordion">
            <button class="au-accordion__title au-accordion--closed js-au-accordion" aria-controls="accordion-send-message" aria-expanded="true"
              onclick="return AU.accordion.Toggle( this )">
              <i class="far fa-envelope"></i> Send a message
            </button>
            <div class="au-accordion__body au-accordion--closed" id="accordion-send-message">
              <div class="au-accordion__body-wrapper">
                <p>For a general enquiry, send us a message. A DVA staff member will reply to your enquiry by email within 5 business days.</p>
                <div class="form-group unauthenticated" style="display: none;">
                  <label class="uikit-text-input__label">Full name</label>
                  <input type="text" class="uikit-text-input" value="">
                </div>
                <div class="form-group unauthenticated" style="display: none;">
                  <label class="uikit-text-input__label">DVA file number <span class="hint">(optional)</span></label>
                  <input type="text" class="uikit-text-input" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label">Email address</label>
                  <input type="text" class="uikit-text-input" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label">Tell us about your enquiry</label>
                  <textarea rows="5"></textarea>
                </div>
                <div class="form-group form-group--right-aligned">
                  <button class="uikit-btn small send">Send</button>
                </div>
              </div>
            </div>
          </section>
          <section class="au-accordion">
            <button class="au-accordion__title au-accordion--closed js-au-accordion" aria-controls="accordion-request-callback" aria-expanded="true"
              onclick="return AU.accordion.Toggle( this )">
              <i class="far fa-phone-plus"></i> Request a call back
            </button>
            <div class="au-accordion__body au-accordion--closed" id="accordion-request-callback">
              <div class="au-accordion__body-wrapper">
                <p> Provide your details below, A DVA staff member will call you back within 2 business days.
                </p>
                <div class="form-group unauthenticated" style="display: none;">
                  <label class="uikit-text-input__label">Full name</label>
                  <input type="text" class="uikit-text-input" value="">
                </div>
                <div class="form-group unauthenticated" style="display: none;">
                  <label class="uikit-text-input__label">DVA file number</label>
                  <input type="text" class="uikit-text-input" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label">Phone number
                    <span class="hint display-block">Include your area code (for example, '03' for Victoria)</span></label>
                  <input type="phone" class="uikit-text-input" value="">
                </div>
                <div class="form-group">
                  <label class="uikit-text-input__label">Tell us briefly about your enquiry <span class="hint">(optional)</span></label>
                  <textarea rows="5"></textarea>
                </div>
                <div class="form-group form-group--right-aligned">
                  <button class="uikit-btn small send">Send</button>
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <div id="help-panel" class="panel from-right" style="">
        <div id="help-panel-header" class="panel-header" style="right: 0px;">
          <h2>Help</h2>
          <a class="panel-close">Close</a>
        </div>
        <div id="help-panel-container" class="panel-container" style="right: 0px;">
          <div id="help-panel-content" class="panel-content">
            <form>
              <h2><span class="font-weight-heavy">Get help with your claim or other&nbsp;DVA&nbsp;questions</span></h2>

              <!-- <h3>Call us <span class="hint display-block">Monday to Friday, 9am to 5pm AEDST.<br>Phone: <a href="tel:1800555254">1800 555 254</a></span></h3> -->

              <blockquote class="block-quote">
                <!-- <h3>Call us on 1800 555 254</h3> -->
                <span class="block-quote__icon">
                  <i class="far fa-phone"></i>
                </span>
                <span>
                  <h3 class="block-quote__header">Call us on 1800 555 254</h3>
                  Monday to Friday, 8am to 5pm AEDST.
                </span>
              </blockquote>

              <section class="au-accordion">
                <button class="au-accordion__title js-au-accordion au-accordion--open" aria-controls="accordion-send-message" aria-expanded="true"
                  onclick="return AU.accordion.Toggle( this )">
                  <i class="far fa-envelope"></i> Send a message
                </button>
                <div class="au-accordion__body au-accordion--open" id="accordion-send-message">
                  <div class="au-accordion__body-wrapper">
                    <p>For a general enquiry, send us a message. A DVA staff member will reply to your enquiry by email within 5 business days.</p>
                    <div class="form-group unauthenticated" style="display: none;">
                      <label class="uikit-text-input__label">Full name</label>
                      <input type="text" class="uikit-text-input" value="">
                    </div>
                    <div class="form-group unauthenticated" style="display: none;">
                      <label class="uikit-text-input__label">DVA file number <span class="hint">(optional)</span></label>
                      <input type="text" class="uikit-text-input" value="">
                    </div>
                    <div class="form-group">
                      <label class="uikit-text-input__label">Email address</label>
                      <input type="text" class="uikit-text-input" value="">
                    </div>
                    <div class="form-group">
                      <label class="uikit-text-input__label">Tell us about your enquiry</label>
                      <textarea rows="5"></textarea>
                    </div>
                    <div class="form-group form-group--right-aligned">
                      <button class="uikit-btn small send">Send</button>
                    </div>
                  </div>
                </div>
              </section>
              <section class="au-accordion">
                <button class="au-accordion__title js-au-accordion au-accordion--open" aria-controls="accordion-request-callback" aria-expanded="true"
                  onclick="return AU.accordion.Toggle( this )">
                  <i class="far fa-phone-plus"></i> Request a call back
                </button>
                <div class="au-accordion__body au-accordion--open" id="accordion-request-callback" style="">
                  <div class="au-accordion__body-wrapper">
                    <p> Provide your details below, A DVA staff member will call you back within 2 business days.
                    </p>
                    <div class="form-group unauthenticated" style="display: none;">
                      <label class="uikit-text-input__label">Full name</label>
                      <input type="text" class="uikit-text-input" value="">
                    </div>
                    <div class="form-group unauthenticated" style="display: none;">
                      <label class="uikit-text-input__label">DVA file number</label>
                      <input type="text" class="uikit-text-input" value="">
                    </div>
                    <div class="form-group">
                      <label class="uikit-text-input__label">Phone number
                        <span class="hint display-block">Include your area code (for example, '03' for Victoria)</span></label>
                      <input type="phone" class="uikit-text-input" value="">
                    </div>
                    <div class="form-group">
                      <label class="uikit-text-input__label">Tell us briefly about your enquiry <span class="hint">(optional)</span></label>
                      <textarea rows="5"></textarea>
                    </div>
                    <div class="form-group form-group--right-aligned">
                      <button class="uikit-btn small send">Send</button>
                    </div>
                  </div>
                </div>
              </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>To see an example of the help component in use go <a href="/auth/profile">here</a>.</p>
  <hr>
  <h2>Flow pagination</h2>

  <div class="example-box">
    <%- include(partials+"components/pagination") %>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <%%- include(partials+"components/pagination") %%>
            </script>
          </code>
        </pre>
    </div>
  </div>

  <p>An example of this component can be found <a href="/auth/claim/claims-make">here</a>.</p>
  <hr>
  <h2>Footer</h2>

  <div class="example-box">
    <footer class="uikit-footer uikit-footer--gradient" role="contentinfo">
      <div class="container">
        <div class="row">
          <section class="uikit-footer__end">
            <div class="row">
              <div class="col-sm-4">
                <img src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo">
              </div>
              <div class="col-sm-9">
                <ul class="uikit-link-list uikit-link-list--inline">
                  <li>
                    <a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a>
                  </li>
                  <li>
                    <a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a>
                  </li>
                  <li>
                    <a href="http://www.dva.gov.au/site-information/copyright">Copyright</a>
                  </li>
                  <li>
                    <a href="/unauth/terms-and-conditions">Terms of use</a>
                  </li>
                  <li>
                    <a href="http://www.dva.gov.au/" rel="external">
                      <strong>Department of Veterans' Affairs</strong>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </footer>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <footer class="uikit-footer uikit-footer--gradient" role="contentinfo">
                <div class="container">
                  <div class="row">
                    <section class="uikit-footer__end">
                      <div class="row">
                        <div class="col-sm-4">
                          <img src="/docs/images/logo-dva-black.svg" alt="Department of Veteran's Affairs logo">
                        </div>
                        <div class="col-sm-9">
                          <ul class="uikit-link-list uikit-link-list--inline">
                            <li>
                              <a href="http://www.dva.gov.au/site-information/disclaimer">Disclaimer</a>
                            </li>
                            <li>
                              <a href="http://www.dva.gov.au/site-information/privacy">Privacy and security</a>
                            </li>
                            <li>
                              <a href="http://www.dva.gov.au/site-information/copyright">Copyright</a>
                            </li>
                            <li>
                              <a href="/unauth/terms-and-conditions">Terms of use</a>
                            </li>
                            <li>
                              <a href="http://www.dva.gov.au/" rel="external">
                                <strong>Department of Veterans' Affairs</strong>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </footer>
            </script>
          </code>
        </pre>
    </div>
  </div>

  <p>To see an example of the footer component go <a href="/auth/">here</a>.</p>

 <%- include(partials+"components/layout/panel-login") %>
  <script>
    // Mobile navigation menu
    var toggle = document.querySelector('.toggle');
    var menu = document.querySelector('.menu');
    var menuItems = document.querySelectorAll('.menu li a');

    // alert('footer');


    if (toggle != null) {
      toggle.addEventListener('click', function () {
        if (menu.classList.contains('is-active')) {
          toggle.classList.remove('menu-closed');
          this.setAttribute('aria-expanded', 'false');
          menu.classList.remove('is-active');
        } else {
          toggle.classList.add('menu-closed');
          menu.classList.add('is-active');
          this.setAttribute('aria-expanded', 'true');
          //menuItems[0].focus();
        }
      });
    }

    // Close any toast messages
    $(".message-close").click(function () {
      $(".container-toast").hide("fast");
    });

    // Needed for the "Back to Top" functionality
    $(window).scroll(function () {
      if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
        $('#return-to-top').addClass('visible'); // Fade in the arrow
      } else {
        $('#return-to-top').removeClass('visible'); // Else fade out the arrow
      }
    });

    $('#return-to-top').click(function () { // When arrow is clicked
      $('body,html').animate({
        scrollTop: 0 // Scroll to top of body
      }, 500);
      // hack to reset focus to top of page
      document.body.setAttribute('tabindex', '0');
      document.body.focus();
      document.body.removeAttribute('tabindex');
    });

  </script>

<%- include(partials+"components/styleguide/styleguide-footer") %>