<!DOCTYPE html>
<html class="js" lang="en">

<head>

	<title>Style Guide | Layout | MyService</title>
	<%- include(partials+"styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

	<%- include(partials+"styleguide-header") %>

		<main>
			<div class="container" id="main-content">

				<nav class="uikit-breadcrumbs" aria-label="breadcrumb">
					<ul class="uikit-link-list uikit-link-list--inline">
						<li>
							<a href="/styleguide">Home</a>
						</li>
						<li>Layout</li>
					</ul>
				</nav>

				<div class="row">
					<div class="col-sm-9">
						<h1>Layout</h1>
						<div class="breakout">
							<p>MyService is developed to be mobile first. Layouts in MyService are built using UI-Kit's powerful 12-column grid system.
								The look and feel is then fine-tuned using media queries, based on a set of 4 breakpoints. This combination results
								in a consistent user experience across all devices.</p>
						</div>

						<h2>Grid system</h2>
						<p>The UI-Kit grid system is based on a 12 column layout and uses a series of containers, rows, and columns to layout
							and align content. The following table shows how the MyService grid system works across multiple devices.</p>
						<table class="table">
							<thead>
								<tr>
									<td></td>
									<td>
										<h4>Extra small</h4>
									</td>
									<td>
										<h4>Small</h4>
									</td>
									<td>
										<h4>Medium</h4>
									</td>
									<td>
										<h4>Large</h4>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<b>Max container width</b>
									</td>
									<td>576px</td>
									<td>768px</td>
									<td>992px</td>
									<td>1200px</td>
								</tr>
								<tr>
									<td>
										<b>Class prefix</b>
									</td>
									<td>col-xs-</td>
									<td>col-sm-</td>
									<td>col-md-</td>
									<td>col-lg-</td>
								</tr>
							</tbody>
						</table>

						<p>To see how the grid comes together, see the
							<a href="https://uikit.service.gov.au/packages/grid-12/tests/site/" rel="external" target="_blank">UI-Kit grid-12 example page</a>.</p>

						<hr>

						<h2>Responsive breakpoints
							<span class="display-block">A mobile-first approach</span>
						</h2>
						<p>MyService is developed to be mobile first. It uses a handful of media queries from UI-Kit to create sensible breakpoints
							for layouts and interfaces. These breakpoints are based on minimum viewport widths and allow elements to scale up
							as the viewport changes.</p>

						<p>MyService uses four media query ranges for optimising layouts and styling content:</p>

						<div class="example-box">
							<code>
								// Small handheld (mobile phones, 480px and up)
								<br> @media only screen and (max-width: $small-handheld) { ... }
								<br>
								<br> // Medium handheld ('plus' size mobile phones, 650px and up)
								<br> @media only screen and (max-width: $medium-handheld) { ... }
								<br>
								<br> // Large handheld (small tablets, 768px and up)
								<br> @media only screen and (max-width: $large-handheld) { ... }
								<br>
								<br> // Medium tablet (large tablets, ipads, 960px and up)
								<br> @media only screen and (max-width: $medium-tablet) { ... }
								<br>
							</code>
						</div>

						<hr>

					</div>
					<%- include(partials+"styleguide-sidenav") %>
				</div>
			</div>
		</main>
		<%- include(partials+"styleguide-footer") %>
</body>

</html>