<!DOCTYPE html>
<html class="js" lang="en">

<head>

	<title>Style Guide | Layout | MyService</title>
	<%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

	<%- include(partials+"components/styleguide/styleguide-header") %>

		<main>
			<div class="container" id="main-content">

				<nav class="uikit-breadcrumbs" aria-label="breadcrumb">
					<ul class="uikit-link-list uikit-link-list--inline">
						<li>
							<a href="/styleguide">Home</a>
						</li>
						<li>Layout</li>
					</ul>
				</nav>

				<div class="row">
					<div class="col-sm-9">
						<h1>Layout</h1>
						<div class="breakout">
							<p>Layout components help users identify the pages they are currently on and assist with quickly navigating through information on the page.
              </p>
						</div>

						<h2>Page title</h2>
						<p>The page title component is placed at the top of the page taking up the entire screen width and clearly describes what page the user has arrived on.</p>
            <div class="example-box">
            					<div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
            <div class="margin-above--none">
              <h1 class="margin-above--none ss-align--center">
                <span class="heading">Review and Submit</span>
              </h1>
            </div>
            </div>
            </div>
	
           <p>An example of this component can be found <a href="/auth/claim/vet_card_holder/review-and-submit.ejs">here</a>.</p>
						<hr>
					</div>
					<%- include(partials+"components/styleguide/styleguide-sidenav") %>
				</div>
			</div>
		</main>
		<%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>