<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Loading | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Loading</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>Loading</h1>
          <h2>Full Screen Loading</h2>
          <p>This loading indicator is utilised when the content within page is not displayed while loading.</p>
          <div class="example-box">
            <div class="mys-page-preloader">
              <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation">
            </div>
          </div>
          <p>An example of this component can be found <a href="/auth/">here</a>.</p>
          <hr>
          <h2>Content Loading</h2>
          <p>This loading indicator is utilised when the page is loaded however new content is being fetched.</p>
          <div class="example-box">
            <div class="widget-tile widget-profile widget-tile--mobile-hide widget-tile--blue-light widget-tile--half-width widget-tile--loading" id="widget-profile"
              style="display: block;">
              <a href="/auth/profile">
                <div class="widget-tile__title">
                  <span class="widget-tile__title-text">Profile</span>
                  <span class="widget-tile__title-icon fa fa-angle-right"></span>
                </div>
                <div class="widget-tile__content profile-content">
                  <span class="fa fa-edit pt-fa-edit--size"></span>
                  <span class="profile-content__message">
                    <span class="tablet-message">Make sure your profile is up to date</span><span class="tablet-hide" style="display: none;">, so we can help you better</span>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <p>An example of this component can be found <a href="/auth/">here</a>.</p>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
