<%- include(components+"styleguide/styleguide-header", {
  heading: "Loading",
  claim: "Style Guide"
}) %>

  <h2>Full Screen Loading</h2>
  <p>This loading indicator is utilised when the content within page is not displayed while loading.</p>
  <div class="example-box">
    <div class="mys-page-preloader">
      <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation">
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="mys-page-preloader">
                <img src="/docs/images/waiting-gray-fat.svg" alt="loading animation">
              </div>
            </script>
          </code>
        </pre>
    </div>
  </div>

  <p>An example of this component can be found <a href="/auth/">here</a>.</p>
  <hr>
      <h2>Widget Loading</h2>
  <p>While content within a dashboard widget is being retrieved the widget will display a content loading state.</p>
  <div class="example-box">
    <div class="flex-container">
      <div class="widget-tile widget-profile widget-tile--mobile-hide widget-tile--blue-light widget-tile--half-width widget-tile--loading" id="widget-profile"
        style="display: block;">
        <a href="/auth/profile">
          <div class="widget-tile__title">
            <span class="widget-tile__title-text">Profile</span>
            <span class="widget-tile__title-icon fa fa-angle-right"></span>
          </div>
          <div class="widget-tile__content profile-content">
            <span class="fa fa-edit pt-fa-edit--size"></span>
            <span class="profile-content__message">
              <span class="tablet-message">Make sure your profile is up to date</span><span class="tablet-hide" style="display: none;">, so we can help you better</span>
            </span>
          </div>
        </a>
      </div>
      <div class="widget-tile widget-profile widget-tile--mobile-hide widget-tile--blue-light widget-tile--half-width widget-tile--loading" id="widget-profile"
        style="display: block;">
        <a href="/auth/profile">
          <div class="widget-tile__title">
            <span class="widget-tile__title-text">Profile</span>
            <span class="widget-tile__title-icon fa fa-angle-right"></span>
          </div>
          <div class="widget-tile__content profile-content">
            <span class="fa fa-edit pt-fa-edit--size"></span>
            <span class="profile-content__message">
              <span class="tablet-message">Make sure your profile is up to date</span><span class="tablet-hide" style="display: none;">, so we can help you better</span>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="widget-tile widget-profile widget-tile--mobile-hide widget-tile--blue-light widget-tile--half-width widget-tile--loading" id="widget-profile"
              style="display: block;">
              <a href="/auth/profile">
                <div class="widget-tile__title">
                  <span class="widget-tile__title-text">Profile</span>
                  <span class="widget-tile__title-icon fa fa-angle-right"></span>
                </div>
                <div class="widget-tile__content profile-content">
                  <span class="fa fa-edit pt-fa-edit--size"></span>
                  <span class="profile-content__message">
                    <span class="tablet-message">Make sure your profile is up to date</span><span class="tablet-hide" style="display: none;">, so we can help you better</span>
                  </span>
                </div>
              </a>
            </div>
            </script>
          </code>
        </pre>
    </div>
  </div>

  <p>An example of this component can be found <a href="/auth/">here</a>.</p>

<%- include(partials+"components/styleguide/styleguide-footer") %>