<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Multiple Names | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Multiple Names</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>Multiple Names</h1>
          <p>The multiple names component is utilised when a user must enter in more than one name within a form.</p>
          <div class="example-box">
            <table class="mys-table table-responsive border-all border-top__thick--blue">
              <tbody>
                <tr>
                  <th class="border-left__thin--white">
                    <label class="uikit-text-input__label" for="date">Given name (first name)</label>
                  </th>
                  <th>
                    <label class="uikit-text-input__label" for="date">Surname (last name)</label>
                  </th>
                  <th class="border-right__thin--white"></th>
                </tr>
                <tr id="date-template">
                  <td>
                    <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                  </td>
                  <td>
                    <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                  </td>
                  <td>
                    <button id="removeDateRow" class="uikit-btn uikit-btn--tertiary small">Remove</button>
                  </td>
                </tr>
                <tr class="padding-above--none">
                  <td colspan="4" class="padding-above--none ss-align">
                    <button id="add-another-name" onclick="cloneMe()" class="icon-link-button">
                      <span class="icon far fa-plus-circle"></span>
                      <span class="link">Add another name</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <table class="mys-table table-responsive border-all border-top__thick--blue">
                          <tbody>
        
                            <tr>
                              <th class="border-left__thin--white">
                                <label class="uikit-text-input__label" for="date">Given name (first name)</label>
                              </th>
                              <th>
                                <label class="uikit-text-input__label" for="date">Surname (last name)</label>
                              </th>
                              <th class="border-right__thin--white"></th>
                            </tr>
        
                            <tr id="date-template">
                              <td>
                                <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                              </td>
                              <td>
                                <input class="uikit-text-input" name="first-name" id="first-name" type="text" value="" required="" aria-required="true">
                              </td>
                              <td>
                                <button id="removeDateRow" class="uikit-btn uikit-btn--tertiary small">Remove</button>
                              </td>
                            </tr>
        
                            <tr class="padding-above--none">
                              <td colspan="4" class="padding-above--none ss-align">
                                <button id="add-another-name" onclick="cloneMe()" class="icon-link-button">
                                  <span class="icon far fa-plus-circle"></span>
                                  <span class="link">Add another name</span>
                                </button>
                              </td>
                            </tr>
        
                          </tbody>
                        </table>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/claim/qualifying_service/qs-1.ejs">here</a>.</p>
          <hr>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
