<form hidden action="/styleguide/new_forms_preview" method="POST" id="form_preview_form">
  <input type="text" id="form_preview" name="form_preview">
</form>
<% if (typeof form_preview != "undefined") { %>
  <%- include(partials+"components/form_partials", JSON.parse(form_preview)) %>
<% } %>