<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | New Form Partials | MyService</title>
  <% include ../../partials/styleguide-styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <% include ../../partials/styleguide-header.ejs %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Accordion</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>New Form Partials</h1>
          <h2>Introduction</h2>
          <p>Through the introduction of the new form partials format, it gives you the ability to create forms in a simpler manner and gives you the ability to introduce dynamic content without using any javascript, therefore speeding up the form building process.</p>
          <div class="example-box">
            <p>The below code is how to include a basic form.</p>
            <pre>
              <code class="language-markup">
                <script type="text/plain">
                  <%% include(partials+"form_partials.ejs", {
  "forms": [
    {
      "type": "TYPE_OF_FORM",
      "config": {
        "label": "Label for form",
        "hint": "This is a hint",
        "id": "Optionally specifiy an ID"
      }
    }
  ]
}); %%>;
                </script>
              </code>
            </pre>
          </div>
          <h2>Types of forms & options</h2>
          <h3>Types of forms:</h3>
          <ul>
            <li>Select</li>
            <li>Text</li>
            <li>Text Area</li>
            <li>Date</li>
            <li>Yes/No (With element toggle)</li>
            <li>Checkbox</li>
            <li>Radio</li>
            <li>Pagination</li>
          </ul>
        </div>
        <% include ../../partials/styleguide-sidenav.ejs %>
      </div>
    </div>
  </main>
  <% include ../../partials/styleguide-footer.ejs %>
</body>

</html>