<!DOCTYPE html>
<html class="js" lang="en">

<head>

	<title>Style Guide | Cards | MyService</title>
	<% include ../../partials/styleguide-styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

	<% include ../../partials/styleguide-header.ejs %>

		<main>
			<div class="container" id="main-content">
				<nav class="uikit-breadcrumbs" aria-label="breadcrumb">
					<ul class="uikit-link-list uikit-link-list--inline">
						<li>
							<a href="/styleguide">Home</a>
						</li>
						<li>Notifications</li>
					</ul>
				</nav>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<h1>Notifications</h1>

						<div class="row">
							<div class="col-sm-12">
								<h2>no variant</h2>
								<div class="example-box">
									<div class="uikit-page-alerts" role="alert">
										<p>Message body informaion. </p>
									</div>
									<pre>
										<code class="language-markup">
											<script type="text/plain">
												<div class="uikit-page-alerts" role="alert">
													<p>Message body informaion. </p>
												</div>
											</script>
										</code>
									</pre>
								</div>
							</div>
						</div>




						<div class="row">
							<div class="col-sm-12">

								<h2>
									<code>--info</code> variant
								</h2>
								<div class="example-box">


									<div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
										<h3 class="uikit-display-1">Accessibility reading</h3>
										<ol>
											<li>The
												<a href="https://www.legislation.gov.au/Latest/C2016C00763">Disability Discrimination Act (1992)</a>
											</li>
											<li>The
												<a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/">Web Content Accessibility Guidelines 2 (
													<abbr>WCAG</abbr>)</a>
											</li>
										</ol>
									</div>

									<pre>
										<code class="language-markup">
											<script type="text/plain">
												<div class="uikit-page-alerts uikit-page-alerts--info" role="alert">
													<h3 class="uikit-display-1">Accessibility reading</h3>
													<ol>
														<li>The
															<a href="https://www.legislation.gov.au/Latest/C2016C00763">Disability Discrimination Act (1992)</a>
														</li>
														<li>The
															<a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/">Web Content Accessibility Guidelines 2 (
																<abbr>WCAG</abbr>)</a>
														</li>
													</ol>
												</div>
											</script>
										</code>
									</pre>

								</div>



							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<h2>
									<code>--success</code> variant</h2>

								<div class="example-box">



									<div class="uikit-page-alerts uikit-page-alerts--success" role="alert">
										<p>Your immunisation appointment for
											<mark>August 7, 2017</mark> has been confirmed.</p>
										<h3>What will happen next</h3>
										<ul>
											<li>
												You’ll receive an email to
												<strong>foo@bar.com</strong> with the appointment details for your reference.
												<br>
												<small>This is your current
													<a href="#">primary contact email address</a>.</small>
											</li>
											<li>
												2 days before your appointment we’ll send you a reminder via text message to
												<strong>0404 123 456</strong>.
												<br>
												<small>This is your current
													<a href="#">primary contact phone number</a>.</small>
											</li>
										</ul>
									</div>

									<pre>
										<code class="language-markup">
											<script type="text/plain">
												<div class="uikit-page-alerts uikit-page-alerts--success" role="alert">
													<p>Your immunisation appointment for
														<mark>August 7, 2017</mark> has been confirmed.</p>
													<h3>What will happen next</h3>
													<ul>
														<li>
															You’ll receive an email to
															<strong>foo@bar.com</strong> with the appointment details for your reference.
															<br>
															<small>This is your current
																<a href="#">primary contact email address</a>.</small>
														</li>
														<li>
															2 days before your appointment we’ll send you a reminder via text message to
															<strong>0404 123 456</strong>.
															<br>
															<small>This is your current
																<a href="#">primary contact phone number</a>.</small>
														</li>
													</ul>
												</div>
											</script>
										</code>
									</pre>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-sm-12">
								<h2>
									<code>--warning</code> variant</h2>
								<div class="example-box">


									<div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
										<h3>Protect yourself against phone scams</h3>
										<p>The
											<dfn>
												<abbr title="Australian Tax Office">ATO</abbr>
											</dfn> is warning the public to be aware of a phone scam that is again circulating where fraudsters are intimidating
											people into paying a fake tax debt over the phone.</p>
										<p>
											<strong>We will never contact you in person over the phone to make a payment</strong>.</p>
									</div>

									<pre>
										<code class="language-markup">
											<script type="text/plain">
												<div class="uikit-page-alerts uikit-page-alerts--warning" role="alert">
													<h3>Protect yourself against phone scams</h3>
													<p>The
														<dfn>
															<abbr title="Australian Tax Office">ATO</abbr>
														</dfn> is warning the public to be aware of a phone scam that is again circulating where fraudsters are intimidating
														people into paying a fake tax debt over the phone.</p>
													<p>
														<strong>We will never contact you in person over the phone to make a payment</strong>.</p>
												</div>
											</script>
										</code>
									</pre>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<h2>
									<code>--error</code> variant
								</h2>

								<div class="example-box">
									<div class="uikit-page-alerts uikit-page-alerts--error" role="alert">
										<span class="uikit-display-1">There were 3 errors found in the information you submitted</span>
										<ol>
											<li>
												<a href="#">Please enter a valid licence number
													<span class="uikit-page-alerts__sronly">- Error 1 of 3</span>
												</a>
											</li>
											<li>
												<a href="#">Please enter a valid email address
													<span class="uikit-page-alerts__sronly">- Error 2 of 3</span>
												</a>
											</li>
											<li>
												<a href="#">First name is required
													<span class="uikit-page-alerts__sronly">- Error 3 of 3</span>
												</a>
											</li>
										</ol>
									</div>
									<pre>
										<code class="language-markup">
											<script type="text/plain">
												<div class="uikit-page-alerts uikit-page-alerts--error" role="alert">
													<span class="uikit-display-1">There were 3 errors found in the information you submitted</span>
													<ol>
														<li>
															<a href="#">Please enter a valid licence number
																<span class="uikit-page-alerts__sronly">- Error 1 of 3</span>
															</a>
														</li>
														<li>
															<a href="#">Please enter a valid email address
																<span class="uikit-page-alerts__sronly">- Error 2 of 3</span>
															</a>
														</li>
														<li>
															<a href="#">First name is required
																<span class="uikit-page-alerts__sronly">- Error 3 of 3</span>
															</a>
														</li>
													</ol>
												</div>
											</script>
										</code>
									</pre>
								</div>
							</div>
						</div>


					</div>
					<% include ../../partials/styleguide-sidenav.ejs %>

				</div>

		</main>

		<% include ../../partials/styleguide-footer.ejs %>
</body>

</html>