<%- include(components+"styleguide/styleguide-header", {
  heading: "Pagination",
  claim: "Style Guide"
}) %>

  <h2>Pagination for navigating large amounts of data</h2>
  <p>Pagination is used for navigating large amounts of data.
    This specific example starts out with the below markup in the page and generates it dynamically on page load.</p>
  <div class="example-box">
    <div class="row payments-page">
      <div class="pagination" id="pagination">
      </div>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <code class="language-markup">
                <script type="text/html">
                  <div class="row payments-page">
                    <div class="pagination" id="pagination">
                    </div>
                  </div>
                  <script type="text/javascript">
                    var currentPageNo; // uses this to choose which pages to show

                    // if 'currentPageNo' in sessionStorage is empty, currentPageNo to 1 otherwise use value in sessionStorage
                    if (sessionStorage.getItem('currentPageNo') == null) {
                      sessionStorage.setItem('currentPageNo', "1");
                      currentPageNo = parseInt(sessionStorage.getItem('currentPageNo'));
                    } else {
                      currentPageNo = parseInt(sessionStorage.getItem('currentPageNo'));
                    }

                    // generates pagination links
                    function generatePagination() {
                      $('#pagination').html("");
                      if (currentPageNo <= 4) {
                        $("#pagination").append(`<a href="#${currentPageNo - 1}">&laquo;</a>`);
                        for (var i = 1; i <= 7; i++) {
                          if (i == currentPageNo) {
                            $("#pagination").append(`<a class="active" href="#${i}">${i}</a>`)
                          } else {
                            $("#pagination").append(`<a href="#${i}">${i}</a>`)
                          }
                        }
                        $("#pagination").append(`<a href="#${currentPageNo + 1}">&raquo;</a>`);

                      } else if (currentPageNo > 4) {
                        $("#pagination").append(`<a href="#${currentPageNo - 1}">&laquo;</a>`);
                        for (var i = currentPageNo - 3; i <= currentPageNo + 3; i++) {
                          if (i == currentPageNo) {
                            $("#pagination").append(`<a class="active" href="#${i}">${i}</a>`)
                          } else {
                            $("#pagination").append(`<a href="#${i}">${i}</a>`)
                          }
                        }

                        $("#pagination").append(`<a href="#${currentPageNo + 1}">&raquo;</a>`);
                      }
                    }

                    $(document).ready(function () {
                      generatePagination(); // needed to initially generate pagination
                    });

                    // whenever a link in pagination is clicked, reassign currentPageNo and regenerate pagination
                    $("#pagination").on("click", 'a', function () {
                      sessionStorage.setItem('currentPageNo', parseInt($(this).attr("href").replace("#", "")));
                      currentPageNo = parseInt(sessionStorage.getItem('currentPageNo'));
                      generatePagination();
                      // if you need to get new content for a table, do it here (for example see http://localhost:5000/auth/profile/nomrep/transaction-log at the loadData() function)
                    });
                  </script>
                </script>
              </code>
            </script>
          </code>
        </pre>
    </div>
  </div>
  <p>To see an example of this component go <a href="/auth/payments">here</a>.</p>

  <script>

    var currentPageNo; // uses this to choose which pages to show

    // if 'currentPageNo' in sessionStorage is empty, currentPageNo to 1 otherwise use value in sessionStorage
    if (sessionStorage.getItem('currentPageNo') == null) {
      sessionStorage.setItem('currentPageNo', "1");
      currentPageNo = parseInt(sessionStorage.getItem('currentPageNo'));
    } else {
      currentPageNo = parseInt(sessionStorage.getItem('currentPageNo'));
    }

    // generates pagination links
    function generatePagination() {
      $('#pagination').html("");
      if (currentPageNo <= 4) {
        $("#pagination").append(`<a href="#${currentPageNo - 1}">&laquo;</a>`);
        for (var i = 1; i <= 7; i++) {
          if (i == currentPageNo) {
            $("#pagination").append(`<a class="active" href="#${i}">${i}</a>`)
          } else {
            $("#pagination").append(`<a href="#${i}">${i}</a>`)
          }
        }
        $("#pagination").append(`<a href="#${currentPageNo + 1}">&raquo;</a>`);

      } else if (currentPageNo > 4) {
        $("#pagination").append(`<a href="#${currentPageNo - 1}">&laquo;</a>`);
        for (var i = currentPageNo - 3; i <= currentPageNo + 3; i++) {
          if (i == currentPageNo) {
            $("#pagination").append(`<a class="active" href="#${i}">${i}</a>`)
          } else {
            $("#pagination").append(`<a href="#${i}">${i}</a>`)
          }
        }

        $("#pagination").append(`<a href="#${currentPageNo + 1}">&raquo;</a>`);
      }
    }

    $(document).ready(function () {
      generatePagination(); // needed to initially generate pagination
    });

    // whenever a link in pagination is clicked, reassign currentPageNo and regenerate pagination
    $("#pagination").on("click", 'a', function () {
      sessionStorage.setItem('currentPageNo', parseInt($(this).attr("href").replace("#", "")));
      currentPageNo = parseInt(sessionStorage.getItem('currentPageNo'));
      generatePagination();
    });
  </script>

  <hr>

  <h2>Flow pagination</h2>

  <div class="example-box">
    <%- include(forms+"pagination", {
      pagination: [
        {
          text: "Previous",
          link: "#"
        },
        {
          text: "Cancel claim",
          link: "/auth/claim"
        },
        {
          text: "Save and exit",
          link: "/auth/claim",
          modifiers: ["floated"]
        },
        {
          text: "Save and next",
          link: "#",
          modifiers: ["floated", "primary"]
        }
      ]  
    }) %>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
        <code class="language-ejs">
          <%%- include(forms+"pagination", {
            pagination: [
              {
                text: "Previous",
                link: "#"
              },
              {
                text: "Cancel claim",
                link: "/auth/claim"
              },
              {
                text: "Save and exit",
                link: "/auth/claim",
                modifiers: ["floated"]
              },
              {
                text: "Save and next",
                link: "#",
                modifiers: ["floated", "primary"]
              }
            ]  
          }) %%>
        </code>
      </pre>
    </div>
  </div>

<%- include(partials+"components/styleguide/styleguide-footer") %>