<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Style Guide | Pagination | MyService</title>
  <%- include(partials+"styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"styleguide-header") %>

  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Progress Bars</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Progress Bars</h1>
          <h2>Multiple Page Form</h2>
          <p>Progerss bars can be helpful to give clients an idea of how much of a form they have completed. Especially useful with multi page forms.</p>
          <div class="example-box">
            <div class="container">
              <div class="row">
                <div class="col-xs-2 col-sm-12">
                  <nav>
                    <ul class="progress-container">
                      <li class="progress-step progress-step--done">
                        <a href="#">
                          <span class="progress-step__icon"></span>
                          <p class="progress-step-label">Getting started</p>
                        </a>
                      </li>

                      <li class="progress-step progress-step--active">
                        <a href="#">
                          <span class="progress-step__icon"></span>
                          <p class="progress-step-label">Personal relationships</p>
                        </a>
                      </li>

                      <li class="progress-step ">
                        <a href="#">
                          <span class="progress-step__icon"></span>
                          <p class="progress-step-label">Mobility
                          </p>
                        </a>
                      </li>

                      <li class="progress-step">
                        <span class="progress-step__icon"></span>
                        <p class="progress-step-label">Employment
                        </p>
                      </li>

                      <li class="progress-step">
                        <span class="progress-step__icon"></span>
                        <p class="progress-step-label">Domestic activities
                        </p>
                      </li>
                    </ul>
                  </nav>

                </div>
              </div>
            </div>
            <h3>HTML</h3>
            <div class="code-toolbar">
              <pre class="language-markup">
                <code class="language-markup">
                  <script type="text/html">
                    <div class="container">
                      <div class="row">
                        <div class="col-xs-2 col-sm-12">
                          <nav>
                            <ul class="progress-container">
                              <li class="progress-step progress-step--done">
                                <a href="#">
                                  <span class="progress-step__icon"></span>
                                  <p class="progress-step-label">Getting started</p>
                                </a>
                              </li>

                              <li class="progress-step progress-step--active">
                                <a href="#">
                                  <span class="progress-step__icon"></span>
                                  <p class="progress-step-label">Personal relationships</p>
                                </a>
                              </li>

                              <li class="progress-step ">
                                <a href="#">
                                  <span class="progress-step__icon"></span>
                                  <p class="progress-step-label">Mobility
                                  </p>
                                </a>
                              </li>

                              <li class="progress-step">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Employment
                                </p>
                              </li>

                              <li class="progress-step">
                                <span class="progress-step__icon"></span>
                                <p class="progress-step-label">Domestic activities
                                </p>
                              </li>
                            </ul>
                          </nav>

                        </div>
                      </div>
                    </div>
                  </script>
                </code>
              </pre>
            </div>
          </div>
        </div>
        <%- include(partials+"styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"styleguide-footer") %>
  <script>

    var currentPageNo; // uses this to choose which pages to show

    // if 'currentPageNo' in sessionStorage is empty, currentPageNo to 1 otherwise use value in sessionStorage
    if (sessionStorage.getItem('currentPageNo') == null) {
      sessionStorage.setItem('currentPageNo', "1");
      currentPageNo = parseInt(sessionStorage.getItem('currentPageNo'));
    } else {
      currentPageNo = parseInt(sessionStorage.getItem('currentPageNo'));
    }

    // generates pagination links
    function generatePagination() {
      $('#pagination').html("");
      if (currentPageNo <= 4) {
        $("#pagination").append(`<a href="#${currentPageNo-1}">&laquo;</a>`);
        for (var i = 1; i <= 7; i++) {
          if (i == currentPageNo) {
            $("#pagination").append(`<a class="active" href="#${i}">${i}</a>`)
          } else {
            $("#pagination").append(`<a href="#${i}">${i}</a>`)
          }
        }
        $("#pagination").append(`<a href="#${currentPageNo+1}">&raquo;</a>`);

      } else if (currentPageNo > 4) {
        $("#pagination").append(`<a href="#${currentPageNo-1}">&laquo;</a>`);
        for (var i = currentPageNo - 3; i <= currentPageNo + 3; i++) {
          if (i == currentPageNo) {
            $("#pagination").append(`<a class="active" href="#${i}">${i}</a>`)
          } else {
            $("#pagination").append(`<a href="#${i}">${i}</a>`)
          }
        }

        $("#pagination").append(`<a href="#${currentPageNo+1}">&raquo;</a>`);
      }
    }

    $(document).ready(function () {
      generatePagination(); // needed to initially generate pagination
    });

    // whenever a link in pagination is clicked, reassign currentPageNo and regenerate pagination
    $("#pagination").on("click", 'a', function() {
      sessionStorage.setItem('currentPageNo', parseInt($(this).attr("href").replace("#", "")));
      currentPageNo = parseInt(sessionStorage.getItem('currentPageNo'));
      generatePagination();
    });
  </script>
</body>

</html>