<%- include(components+"styleguide/styleguide-header", {
  heading: "Review & Submit",
  claim: "Style Guide"
}) %>
              
  <div class="example-box">
    <%- include(components+"review-submit", {
      claim_title: "Qualifying service",
      modifiers: ["claimDetails"],
      categories: [
        {
          title: "Service",
          edit_url: "/auth/claim/qualifying_service/qs-1",
          data: [
            {
              q: "Type of claim",
              a: "Australian Defence Force"
            },
            {
              q: "Former names",
              a: `<ul>
                    <li>Joseph Smith</li>
                    <li>Jo Smith</li>
                  </ul>`
            },
            {
              q: "Partner name",
              a: "Mrs Joe Bloggs"
            }
          ]
        },
        {
          title: "Service History",
          edit_url: "/auth/claim/qualifying_service/qs-2",
          data: [
            "Service",
            {
              q: "Service number",
              a: "123 456 789 K"
            },
            {
              q: "Type of service",
              a: "Permanent"
            },
            {
              q: "Date of enlistment",
              a: "21 / 09 / 1945"
            },
            {
              q: "Date of discharge",
              a: "21 / 06 / 1949"
            },
            {
              q: "Branch of service",
              a: "Navy"
            },
            "Operation",
            {
              q: "Conflict name",
              a: "Afghanistan"
            },
            {
              q: "Operation name",
              a: "Op Slipper"
            },
            {
              q: "Start date",
              a: "21 / 09 / 1945"
            },
            {
              q: "End date",
              a: "21 / 06 / 1949"
            }
          ]
        }
      ]
    }) %>

  </div>

  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
        <code class="language-json">
          <script type="text/json">
            <%%- include(components+"review-submit", {
              claim_title: "Qualifying service",
              modifiers: ["claimDetails"],
              categories: [
                {
                  title: "Service",
                  edit_url: "/auth/claim/qualifying_service/qs-1",
                  data: [
                    {
                      q: "Type of claim",
                      a: "Australian Defence Force"
                    },
                    {
                      q: "Former names",
                      a: `<ul>
                            <li>Joseph Smith</li>
                            <li>Jo Smith</li>
                          </ul>`
                    },
                    {
                      q: "Partner name",
                      a: "Mrs Joe Bloggs"
                    }
                  ]
                },
                {
                  title: "Service History",
                  edit_url: "/auth/claim/qualifying_service/qs-2",
                  data: [
                    "Service",
                    {
                      q: "Service number",
                      a: "123 456 789 K"
                    },
                    {
                      q: "Type of service",
                      a: "Permanent"
                    },
                    {
                      q: "Date of enlistment",
                      a: "21 / 09 / 1945"
                    },
                    {
                      q: "Date of discharge",
                      a: "21 / 06 / 1949"
                    },
                    {
                      q: "Branch of service",
                      a: "Navy"
                    },
                    "Operation",
                    {
                      q: "Conflict name",
                      a: "Afghanistan"
                    },
                    {
                      q: "Operation name",
                      a: "Op Slipper"
                    },
                    {
                      q: "Start date",
                      a: "21 / 09 / 1945"
                    },
                    {
                      q: "End date",
                      a: "21 / 06 / 1949"
                    }
                  ]
                }
              ]
            }) %%>
          </script>
        </code>
      </pre>
    </div>
  </div>
  <p>An example of this component can be found <a href="http://localhost:5000/auth/claim/dhoas/asc7">here</a>.</p>
  
<%- include(partials+"components/styleguide/styleguide-footer") %>