<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Tables | MyService</title>
  <%- include(partials+"styleguide-styles-and-scripts") %>
  </%->
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"styleguide-header") %>
  </%->
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-sm-9">
          <h1> Tables</h1>
          <div class="breakout">
            <p> Tables are a great way to present content on a page. A table consists of one or more rows; each row consists of one
              or more cells. Tables
              <b>are not</b> intended to be used for general layouts. The
              <a href="/styleguide/layout">12-column grid system</a> should be utilised in these cases.</p>
            </div>
            <h2>Default tables</h2>
            <p>Table styling has been applied to the base element. No classes need be applied.</p>
            <div class="example-box">
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Mary</td>
                    <td>Jones</td>
                    <td>62843</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>37225</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Frank</td>
                    <td>Watson</td>
                    <td>84775</td>
                  </tr>
                </tbody>
              </table>
              <pre>
               <code class="language-markup">
                <script type="text/plain">
                  <table>
                   <thead>
                    <tr>
                     <th>#</th>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th>ID Number</th>
                   </tr>
                 </thead>
                 <tbody>
                  <tr>
                   <th>1</th>
                   <td>Mary</td>
                   <td>Jones</td>
                   <td>62843</td>
                 </tr>
                 <tr>
                   <th>2</th>
                   <td>John</td>
                   <td>Smith</td>
                   <td>37225</td>
                 </tr>
                 <tr>
                   <th>3</th>
                   <td>Frank</td>
                   <td>Watson</td>
                   <td>84775</td>
                 </tr>
               </tbody>
             </table>
           </script>
         </code>
       </pre>
     </div>
     <!-- <hr> -->
     <h2>Responsive tables</h2>
     <p>Create responsive tables by adding
      <font color="red">.table-responsive</font> to any
      <font color="red">&lt;table&gt;</font> to make them stack horizontally on small devices (under 768px). When viewing on anything larger
    than 768px wide, you will not see any difference in these tables.</p>
    <p>If
      <font color="red">&lt;th&gt;</font> is used within
      <font color="red">&lt;tbody&gt;</font> and within
      <font color="red">&lt;tr&gt;</font>, it will remain as a table cell.
            <!-- The data of the
            <font color="red">&lt;th&gt;</font>'s within
            <font color="red">&lt;thead&gt;</font>
            will be appended to the beginning of the relevant 
            <font color="red">&lt;td&gt;</font>.</p>-->
            <div class="example-box">
              <table class="table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Mary</td>
                    <td>Jones</td>
                    <td>62843</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>
                      <a href="#">Corpuscallosum!SciencedreamofthemindcorpuscallosumHypatia!</a>
                    </td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Frank</td>
                    <td>Watson</td>
                    <td>Corpus callosum! Science dream of the mind's eye, corpus callosum Hypatia! Billions upon billions prime number.
                      Another world Sea of Tranquility light years Jean-Francois Champollion. Another world a still more glorious dawn
                      awaits trillion birth Euclid, encyclopaedia galactica birth muse about as a patch of light! Tunguska event. Flatland
                      cosmic ocean Tunguska event network of wormholes and billions upon billions upon billions upon billions upon billions
                    upon billions upon billions!</td>
                  </tr>
                </tbody>
              </table>
              <pre>
                <code class="language-markup">
                 <script type="text/plain">
                   <table class="table-responsive">
                    <thead>
                     <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>ID Number</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr>
                    <th>1</th>
                    <td>Mary</td>
                    <td>Jones</td>
                    <td>62843</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>37225</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Frank</td>
                    <td>Watson</td>
                    <td>84775</td>
                  </tr>
                </tbody>
              </table>
            </script>
          </code>
        </pre>
      </div>
      <h2>Additional styling </h2>
      <p>The
        <font color="red">.feature-set</font> block can be combined with
        <font color="red">.table-responsive</font> for additional styling.</p>
        <table class="table-responsive feature-set">
          <thead>
            <tr>
              <th>Things you can do
              </th>
              <th class="ss-align--center">MyService</th>
              <th class="ss-align--center">MyAccount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="feature-set__sub-heading">
              <td colspan="3">
                <b>New Features</b>
              </td>
            </tr>
            <tr>
              <td>Apply for the Australian Defence Veterans' Covenant</td>
              <td class="feature-set__yes feature-set__yes--green">
                <span class="sr">MyService</span>
              </td>
              <td class="feature-set__no"></td>
            </tr>
            <tr>
              <td>Claim for incapacity payments</td>
              <td class="feature-set__yes feature-set__yes--green">
                <span class="sr">MyService</span>
              </td>
              <td class="feature-set__no"></td>
            </tr>
            <tr>
              <td>Computer based decision making for claims</td>
              <td class="feature-set__no">
                <span class="sr">MyService</span>
              </td>
              <td class="feature-set__yes"></td>
            </tr>
          </tbody>
        </table>
        <pre>
         <code class="language-markup">
          <script type="text/html">
            <table class="table-responsive feature-set">
              <thead>
                <tr>
                  <th>Things you can do
                  </th>
                  <th class="ss-align--center">MyService</th>
                  <th class="ss-align--center">MyAccount</th>
                </tr>
              </thead>
              <tbody>
                <tr class="feature-set__sub-heading">
                  <td colspan="3">
                    <b>New Features</b>
                  </td>
                </tr>
                <tr>
                  <td>Apply for the Australian Defence Veterans' Covenant</td>
                  <td class="feature-set__yes feature-set__yes--green">
                    <span class="sr">MyService</span>
                  </td>
                  <td class="feature-set__no"></td>
                </tr>
                <tr>
                  <td>Claim for incapacity payments</td>
                  <td class="feature-set__yes feature-set__yes--green">
                    <span class="sr">MyService</span>
                  </td>
                  <td class="feature-set__no"></td>
                </tr>
                <tr>
                  <td>Computer based decision making for claims</td>
                  <td class="feature-set__no">
                    <span class="sr">MyService</span>
                  </td>
                  <td class="feature-set__yes"></td>
                </tr>
              </tbody>
            </table>
          </script>
        </code>
      </pre>
      <h2>Table filtering</h2>
      <p>Filter the table based on what's in the box (live)</p>
      <div class="example-box">
        <div class="form-group">
          <input id="filter-box" class="uikit-text-input input-half" name="filter" type="text" placeholder="Filter table" aria-required="false">
        </div>
        <table id="filter-table" class="table-responsive">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>ID Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Mary</td>
              <td>Jones</td>
              <td>62843</td>
            </tr>
            <tr>
              <th>2</th>
              <td>John</td>
              <td>Smith</td>
              <td>37225</td>
            </tr>
            <tr>
              <th>3</th>
              <td>Frank</td>
              <td>Watson</td>
              <td>84775</td>
            </tr>
          </tbody>
        </table>
        <h3>HTML</h3>
        <pre>
          <code class="language-markup">
            <script type="text/html">
              <div class="form-group">
                <input id="filter-box" class="uikit-text-input input-half" name="filter" type="text" placeholder="Filter table" aria-required="false">
              </div>
              <table id="filter-table" class="table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Mary</td>
                    <td>Jones</td>
                    <td>62843</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>37225</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Frank</td>
                    <td>Watson</td>
                    <td>84775</td>
                  </tr>
                </tbody>
              </table>
            </script>
          </code>
        </pre>
        <h3>JavaScript (jQuery)</h3>
        <pre class="language-js">
          <code class="language-js">
            <script type="text/javascript">
              $("#filter").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#transLog tbody tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            </script>
          </code>
        </pre>
      </div>
    </div>
    <%- include(partials+"styleguide-sidenav") %>
    </%->
  </div>
</div>
</main>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<%- include(partials+"styleguide-footer") %>
</%->
</body>
<script>
  $("#filter-box").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#filter-table tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
</script>

</html>