<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Style Guide | Tables | MyService</title>
  <%- include ../../partials/styleguide-styles-and-scripts.ejs %>
  </%->
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include ../../partials/styleguide-header.ejs %>
  </%->

  <main>
    <div class="container" id="main-content">

      <div class="row">
        <div class="col-sm-9">

          <h1> Tables</h1>
          <div class="breakout">
            <p> Tables are a great way to present content on a page. A table consists of one or more rows; each row consists of one
              or more cells. Tables
              <b>are not</b> intended to be used for general layouts. The
              <a href="/styleguide/layout">12-column grid system</a> should be utilised in these cases.</p>
          </div>

          <h2>Default tables</h2>

          <p>Table styling has been applied to the base element. No classes need be applied.</p>

          <div class="example-box">

            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>ID Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Mary</td>
                  <td>Jones</td>
                  <td>62843</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>John</td>
                  <td>Smith</td>
                  <td>37225</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td>Frank</td>
                  <td>Watson</td>
                  <td>84775</td>
                </tr>
              </tbody>
            </table>


            <pre>
							<code class="language-markup">
								<script type="text/plain">
								<table>
									<thead>
										<tr>
											<th>#</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>ID Number</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1</th>
											<td>Mary</td>
											<td>Jones</td>
											<td>62843</td>
										</tr>
										<tr>
											<th>2</th>
											<td>John</td>
											<td>Smith</td>
											<td>37225</td>
										</tr>
										<tr>
											<th>3</th>
											<td>Frank</td>
											<td>Watson</td>
											<td>84775</td>
										</tr>
									</tbody>
								</table>
								</script>
							</code>
						</pre>

          </div>

          <!-- <hr> -->

          <h2>Responsive tables</h2>
          <p>Create responsive tables by adding
            <font color="red">.table-responsive</font> to any
            <font color="red">&lt;table&gt;</font> to make them stack horizontally on small devices (under 768px). When viewing on anything larger
            than 768px wide, you will not see any difference in these tables.</p>
          <p>If
            <font color="red">&lt;th&gt;</font> is used within
            <font color="red">&lt;tbody&gt;</font> and within
            <font color="red">&lt;tr&gt;</font>, it will remain as a table cell.


            <!-- The data of the
						<font color="red">&lt;th&gt;</font>'s within
						<font color="red">&lt;thead&gt;</font>
						will be appended to the beginning of the relevant 
						<font color="red">&lt;td&gt;</font>.</p>-->


            <div class="example-box">

              <table class="table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Mary</td>
                    <td>Jones</td>
                    <td>62843</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>
                      <a href="#">Corpuscallosum!SciencedreamofthemindcorpuscallosumHypatia!</a>
                    </td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Frank</td>
                    <td>Watson</td>
                    <td>Corpus callosum! Science dream of the mind's eye, corpus callosum Hypatia! Billions upon billions prime number.
                      Another world Sea of Tranquility light years Jean-Francois Champollion. Another world a still more glorious dawn
                      awaits trillion birth Euclid, encyclopaedia galactica birth muse about as a patch of light! Tunguska event. Flatland
                      cosmic ocean Tunguska event network of wormholes and billions upon billions upon billions upon billions upon billions
                      upon billions upon billions!</td>
                  </tr>
                </tbody>
              </table>

              <pre>
								<code class="language-markup">
									<script type="text/plain">
									<table class="table-responsive">
										<thead>
											<tr>
												<th>#</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>ID Number</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>1</th>
												<td>Mary</td>
												<td>Jones</td>
												<td>62843</td>
											</tr>
											<tr>
												<th>2</th>
												<td>John</td>
												<td>Smith</td>
												<td>37225</td>
											</tr>
											<tr>
												<th>3</th>
												<td>Frank</td>
												<td>Watson</td>
												<td>84775</td>
											</tr>
										</tbody>
									</table>
									</script>
								</code>
							</pre>

            </div>

            <h2>Additional styling </h2>
            <p>The
              <font color="red">.feature-set</font> block can be combined with
              <font color="red">.table-responsive</font> for additional styling.</p>

            <table class="table-responsive feature-set">
              <thead>
                <tr>
                  <th>Things you can do
                  </th>
                  <th class="ss-align--center">MyService</th>
                  <th class="ss-align--center">MyAccount</th>
                </tr>
              </thead>
              <tbody>
                <tr class="feature-set__sub-heading">
                  <td colspan=3>
                    <b>Claims</b>
                  </td>
                </tr>
                <tr>
                  <td>Access free mental health treatment</td>
                  <td class="feature-set__yes feature-set__yes--green">
                    <a href="/auth ">
                      <span class="sr">MyService</span>
                    </a>
                  </td>
                  <td class="feature-set__no"></td>
                </tr>
                <tr>
                  <td>Claim for your injury or illness</td>
                  <td class="feature-set__no"></td>
                  <td class="feature-set__yes feature-set__yes">
                    <a href="/auth ">
                      <span class="sr">MyAccount</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <pre>
							<code class="language-markup">
								<script type="text/plain">
								<table class="table-responsive feature-set">
									<thead>
										<tr>
											<th>Things you can do
											</th>
											<th class="ss-align--center">MyService</th>
											<th class="ss-align--center">MyAccount</th>
										</tr>
									</thead>
									<tbody>
										<tr class="feature-set__sub-heading">
											<td colspan=3>
												<b>Claims</b>
											</td>
										</tr>
										<tr>
											<td>Access free mental health treatment</td>
											<td class="feature-set__yes feature-set__yes--green">
												<a href="/auth ">
													<span class="sr">MyService</span>
												</a>
											</td>
											<td class="feature-set__no"></td>
										</tr>
										<tr>
											<td>Claim for your injury or illness</td>
											<td class="feature-set__no"></td>
											<td class="feature-set__yes feature-set__yes">
												<a href="/auth ">
													<span class="sr">MyAccount</span>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
								</script>
							</code>
						</pre>

        </div>
        <%- include ../../partials/styleguide-sidenav.ejs %>
        </%->
      </div>
    </div>
  </main>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <%- include ../../partials/styleguide-footer.ejs %>
  </%->
</body>

</html>