<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Tables | MyService</title>
  <%- include ../../partials/styleguide-styles-and-scripts.ejs %>
  </%->
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include ../../partials/styleguide-header.ejs %>
  </%->
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-sm-9">
          <h1> Tables</h1>
          <hr>
          <h2>Features Table </h2>
          <p>The
            <font color="red">.feature-set</font> block can be combined with
            <font color="red">.table-responsive</font> for additional styling.</p>
          <table class="table-responsive feature-set">
            <thead>
              <tr>
                <th>Things you can do
                </th>
                <th class="ss-align--center">MyService</th>
                <th class="ss-align--center">MyAccount</th>
              </tr>
            </thead>
            <tbody>
              <tr class="feature-set__sub-heading">
                <td colspan="3">
                  <b>New Features</b>
                </td>
              </tr>
              <tr>
                <td>Apply for the Australian Defence Veterans' Covenant</td>
                <td class="feature-set__yes feature-set__yes--green">
                  <span class="sr">MyService</span>
                </td>
                <td class="feature-set__no"></td>
              </tr>
              <tr>
                <td>Claim for incapacity payments</td>
                <td class="feature-set__yes feature-set__yes--green">
                  <span class="sr">MyService</span>
                </td>
                <td class="feature-set__no"></td>
              </tr>
              <tr>
                <td>Computer based decision making for claims</td>
                <td class="feature-set__no">
                  <span class="sr">MyService</span>
                </td>
                <td class="feature-set__yes"></td>
              </tr>
            </tbody>
          </table>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
            <code class="language-markup">
              <script type="text/plain">
                <table class="table-responsive feature-set">
                  <thead>
                    <tr>
                      <th>Things you can do
                      </th>
                      <th class="ss-align--center">MyService</th>
                      <th class="ss-align--center">MyAccount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="feature-set__sub-heading">
                      <td colspan="3">
                        <b>New Features</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Apply for the Australian Defence Veterans' Covenant</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Claim for incapacity payments</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Computer based decision making for claims</td>
                      <td class="feature-set__no">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__yes"></td>
                    </tr>
                  </tbody>
                </table>
              </script>
            </code>
          </pre>
            </div>
            <p>To see an example of this component go <a href="/auth/onboarding">here</a>.</p>
            <hr>
          </div>

          <h2>Table filtering</h2>
          <p>Filter the table based on what's in the box (live)</p>
          <div class="example-box">
            <div class="form-group">
              <input id="filter-box" class="uikit-text-input input-half" name="filter" type="text" placeholder="Filter table" aria-required="false">
            </div>
            <table id="filter-table" class="table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>ID Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Mary</td>
                  <td>Jones</td>
                  <td>62843</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>John</td>
                  <td>Smith</td>
                  <td>37225</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td>Frank</td>
                  <td>Watson</td>
                  <td>84775</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="form-group">
                        <input id="filter-box" class="uikit-text-input input-half" name="filter" type="text" placeholder="Filter table" aria-required="false">
                      </div>
                      <table id="filter-table" class="table-responsive">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>ID Number</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>1</th>
                            <td>Mary</td>
                            <td>Jones</td>
                            <td>62843</td>
                          </tr>
                          <tr>
                            <th>2</th>
                            <td>John</td>
                            <td>Smith</td>
                            <td>37225</td>
                          </tr>
                          <tr>
                            <th>3</th>
                            <td>Frank</td>
                            <td>Watson</td>
                            <td>84775</td>
                          </tr>
                        </tbody>
                      </table>
                      
                      //jQuery for table filtering
                        $("#filter").on("keyup", function () {
                          var value = $(this).val().toLowerCase();
                          $("#transLog tbody tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                          });
                        });
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of this component go <a href="/auth/claim/service_pension/sp-dependant">here</a>.</p>
          <hr>
          <h2>Uploads Table</h2>
          <div class="example-box">
            <table class="table-responsive">
              <tbody>
                <tr>
                  <th>
                    <h2 class="margin-below--none margin-above--none">Other treating practitioners
                      <span class="hint">(optional)</span>
                    </h2>
                    <span class="hint">Includes audiologists, psychiatrists, etc.</span>
                  </th>
                </tr>
                <tr>
                  <td class="col-xs-12 border-top">
                    <div class="form-group">
                      <div class="col-sm-8 col-xs-7 description-fields">
                        <div class="row">
                          <div class="col-sm-4 title-field">Dr steven</div>
                          <div class="col-sm-8">
                            Belconnen Medical Centre, Belconnen
                            <br>
                            <em>02 9800 1234</em>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2 col-xs-5 padding-below">
                        <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">
                          Edit
                        </button>
                      </div>
                      <div class="col-sm-2 col-xs-5 padding-below">
                        <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small floated">
                          Remove
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="border-top col-xs-12">
                    <div class="col-sm-10 col-xs-7 padding-below">
                    </div>
                    <div class="col-sm-2 col-xs-5  padding-below">
                      <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Add</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <table class="table-responsive">
                        <tbody>
                          <tr>
                            <th>
                              <h2 class="margin-below--none margin-above--none">Other treating practitioners
                                <span class="hint">(optional)</span>
                              </h2>
                              <span class="hint">Includes audiologists, psychiatrists, etc.</span>
                            </th>
                          </tr>
                          <tr>
                            <td class="col-xs-12 border-top">
                              <div class="form-group">
                                <div class="col-sm-8 col-xs-7 description-fields">
                                  <div class="row">
                                    <div class="col-sm-4 title-field">Dr steven</div>
                                    <div class="col-sm-8">
                                      Belconnen Medical Centre, Belconnen
                                      <br>
                                      <em>02 9800 1234</em>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-2 col-xs-5 padding-below">
                                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">
                                    Edit
                                  </button>
                                </div>
                                <div class="col-sm-2 col-xs-5 padding-below">
                                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small floated">
                                    Remove
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="border-top col-xs-12">
                              <div class="col-sm-10 col-xs-7 padding-below">
                              </div>
                              <div class="col-sm-2 col-xs-5  padding-below">
                                <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Add</button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of this component go <a href="/auth/claim/qualifying_service/qs-1">here</a>.</p>
          <hr>
          <h2>Transaction log</h2>
          <div class="example-box">
            <table id="transLog-pagination" class="table">
              <thead>
                <tr>
                  <th>Date / Time</th>
                  <th>Made by</th>
                  <th>Details</th>
                  <th>Application ID</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>07/25/21
                    23:34:00</td>
                  <td>Maribel Collins</td>
                  <td>Change Password</td>
                  <td>3462399</td>
                </tr>
                <tr>
                  <td>07/25/32
                    19:38:00</td>
                  <td>Inez Carter</td>
                  <td>Lodged Claim</td>
                  <td>7523774</td>
                </tr>
                <tr>
                  <td>05/24/34
                    17:22:00</td>
                  <td>Forrest Slaughter</td>
                  <td>Change Mobile Number</td>
                  <td>4736613</td>
                </tr>
                <tr>
                  <td>12/02/36
                    05:15:00</td>
                  <td>Gabriel Farrell</td>
                  <td>Change Mobile Number</td>
                  <td>9838486</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <table id="transLog-pagination" class="table">
                        <thead>
                          <tr>
                            <th>Date / Time</th>
                            <th>Made by</th>
                            <th>Details</th>
                            <th>Application ID</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>07/25/21
                              23:34:00</td>
                            <td>Maribel Collins</td>
                            <td>Change Password</td>
                            <td>3462399</td>
                          </tr>
                          <tr>
                            <td>07/25/32
                              19:38:00</td>
                            <td>Inez Carter</td>
                            <td>Lodged Claim</td>
                            <td>7523774</td>
                          </tr>
                          <tr>
                            <td>05/24/34
                              17:22:00</td>
                            <td>Forrest Slaughter</td>
                            <td>Change Mobile Number</td>
                            <td>4736613</td>
                          </tr>
                          <tr>
                            <td>12/02/36
                              05:15:00</td>
                            <td>Gabriel Farrell</td>
                            <td>Change Mobile Number</td>
                            <td>9838486</td>
                          </tr>
                        </tbody>
                      </table>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of this component go <a href="/auth/profile/nomrep/transaction-log">here</a>.</p>
          <hr>
          <h2>Profile Table</h2>
          <div class="example-box">
            <div class="profile-table" role="list">
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Title</div>
                    <div class="col-sm-8 uneditable title-uneditable-div">
                      <span id="title-span">Not specified</span>
                    </div>
                    <div class="col-sm-8 editable title-editable-div" style="display:none;">
                      <label class="uikit-text-input__label" for="title">Title</label>
                      <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                        <option>-- Select title --</option>
                        <option selected="">Not specified</option>
                        <option>Commissioner</option>
                        <option>Dame</option>
                        <option>Emeritus Professor</option>
                        <option>Honourable Mr Justice</option>
                        <option>Matron</option>
                        <option>Miss</option>
                        <option>Monsignor</option>
                        <option>Mr</option>
                        <option>Mr Justice</option>
                        <option>Mrs</option>
                        <option>Ms</option>
                        <option>Reverend Mr</option>
                        <option>Right Reverend Monsignor</option>
                      </select>

                      <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                      <button class="uikit-btn small save-title-button">Save</button>
                      <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                    </div>
                  </div>
                  <!-- </div> -->
                  <div class="col-sm-8 editable title-editable-div" style="display:none;">
                    <label class="uikit-text-input__label" for="title">Title</label>
                    <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                      <option>-- Select title --</option>
                      <option selected="">Not specified</option>
                      <option>Commissioner</option>
                      <option>Dame</option>
                      <option>Emeritus Professor</option>
                      <option>Honourable Mr Justice</option>
                      <option>Matron</option>
                      <option>Miss</option>
                      <option>Monsignor</option>
                      <option>Mr</option>
                      <option>Mr Justice</option>
                      <option>Mrs</option>
                      <option>Ms</option>
                      <option>Reverend Mr</option>
                      <option>Right Reverend Monsignor</option>
                    </select>

                    <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                    <button class="uikit-btn small save-title-button">Save</button>
                    <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                  </div>
                </div>
                <!-- </div> -->
                <div class="col-sm-3 col-xs-5 change-button">
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-title-button">Change</button>
                </div>
              </div>
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Name</div>
                    <div class="col-sm-8 uneditable">
                      <span><span class="pt-current-user-name-full">Alex Kirby</span></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">

                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                </div>
              </div>

              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">File number</div>
                    <div class="col-sm-8 uneditable">
                      <span><span class="pt-current-user-file-number">Not provided</span></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">

                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="profile-table" role="list">
                          <div class="row profile-row" role="listitem">
                            <div class="col-sm-9 col-xs-7 description-fields">
                              <div class="row">
                                <div class="col-sm-4 title-field">Title</div>
                                <div class="col-sm-8 uneditable title-uneditable-div">
                                  <span id="title-span">Not specified</span>
                                </div>
                                <div class="col-sm-8 editable title-editable-div" style="display:none;">
                                  <label class="uikit-text-input__label" for="title">Title</label>
                                  <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                                    <option>-- Select title --</option>
                                    <option selected="">Not specified</option>
                                    <option>Commissioner</option>
                                    <option>Dame</option>
                                    <option>Emeritus Professor</option>
                                    <option>Honourable Mr Justice</option>
                                    <option>Matron</option>
                                    <option>Miss</option>
                                    <option>Monsignor</option>
                                    <option>Mr</option>
                                    <option>Mr Justice</option>
                                    <option>Mrs</option>
                                    <option>Ms</option>
                                    <option>Reverend Mr</option>
                                    <option>Right Reverend Monsignor</option>
                                  </select>
            
                                  <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                                  <button class="uikit-btn small save-title-button">Save</button>
                                  <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                                </div>
                              </div>
                              <!-- </div> -->
                              <div class="col-sm-8 editable title-editable-div" style="display:none;">
                                <label class="uikit-text-input__label" for="title">Title</label>
                                <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                                  <option>-- Select title --</option>
                                  <option selected="">Not specified</option>
                                  <option>Commissioner</option>
                                  <option>Dame</option>
                                  <option>Emeritus Professor</option>
                                  <option>Honourable Mr Justice</option>
                                  <option>Matron</option>
                                  <option>Miss</option>
                                  <option>Monsignor</option>
                                  <option>Mr</option>
                                  <option>Mr Justice</option>
                                  <option>Mrs</option>
                                  <option>Ms</option>
                                  <option>Reverend Mr</option>
                                  <option>Right Reverend Monsignor</option>
                                </select>
            
                                <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                                <button class="uikit-btn small save-title-button">Save</button>
                                <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                              </div>
                            </div>
                            <!-- </div> -->
                            <div class="col-sm-3 col-xs-5 change-button">
                              <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-title-button">Change</button>
                            </div>
                          </div>
                          <div class="row profile-row" role="listitem">
                            <div class="col-sm-9 col-xs-7 description-fields">
                              <div class="row">
                                <div class="col-sm-4 title-field">Name</div>
                                <div class="col-sm-8 uneditable">
                                  <span><span class="pt-current-user-name-full">Alex Kirby</span></span>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3 col-xs-5 change-button">
            
                              <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                            </div>
                          </div>
            
                          <div class="row profile-row" role="listitem">
                            <div class="col-sm-9 col-xs-7 description-fields">
                              <div class="row">
                                <div class="col-sm-4 title-field">File number</div>
                                <div class="col-sm-8 uneditable">
                                  <span><span class="pt-current-user-file-number">Not provided</span></span>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3 col-xs-5 change-button">
            
                              <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                            </div>
                          </div>
                        </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of this component go <a href="/auth/profile">here</a>.</p>
          <hr>
          <h2>Receipt</h2>
          <p>The receipt table is shown at the end of an application. The receipt features a header with a claim ID and submitted date followed by an application/claim
            summary divided by HR's.</p>
          <p>Receipts are centered on a page with an additional page heading.</p>
          <div class="example-box">
            <div class="flex-item flex-item--centred receipt">
              <div class="receipt__heading ">

                <h4 class="right floated margin-below--none margin-above--none padding-below--none ss-align ms-align--right">
                  <b>Claim Id: 123456789</b>
                </h4>

                <h3 class="margin-above--none ss-align">
                  Submitted on 17 Oct 2017
                </h3>

              </div>
              <div class="receipt__content">

                <h2>Free mental health treatment</h2>

                <p>Approved under our
                  <a href="#auth" rel="external" target="_blank">non-liability health care</a> arrangements.</p>

                <hr>

                <h3>Veterans supplement</h3>

                <p>You may be entitled to the
                  <a href="https://www.dva.gov.au/factsheet-is18-veterans-supplement" rel="external" target="_blank">veterans suppliment</a>. If eligible, we will deposit this
                  fortnightly payment into your nominated
                  bank account.
                </p>

                <h4 class="claim-summary__label margin-below--mid">Bank details</h4>

                <p>
                  <b><span class="pt-current-user-name-full">Alex Kirby</span>'s AU
                    <br>Commonwealth Bank account
                    <br>Account number: xxxx xxxx
                    <br>BSB: xxx - xxx</b>
                </p>

              </div>

              <div class="pagination">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to home</button>
                <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
              </div>
            </div>

          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                    <code class="language-markup">
                      <script type="text/plain">
                        <div class="flex-item flex-item--centred receipt">
                            <div class="receipt__heading ">
              
                              <h4 class="right floated margin-below--none margin-above--none padding-below--none ss-align ms-align--right">
                                <b>Claim Id: 123456789</b>
                              </h4>
              
                              <h3 class="margin-above--none ss-align">
                                Submitted on 17 Oct 2017
                              </h3>
              
                            </div>
                            <div class="receipt__content">
              
                              <h2>Free mental health treatment</h2>
              
                              <p>Approved under our
                                <a href="#auth" rel="external" target="_blank">non-liability health care</a> arrangements.</p>
              
                              <hr>
              
                              <h3>Veterans supplement</h3>
              
                              <p>You may be entitled to the
                                <a href="https://www.dva.gov.au/factsheet-is18-veterans-supplement" rel="external" target="_blank">veterans suppliment</a>. If eligible, we will deposit this
                                fortnightly payment into your nominated
                                bank account.
                              </p>
              
                              <h4 class="claim-summary__label margin-below--mid">Bank details</h4>
              
                              <p>
                                <b><span class="pt-current-user-name-full">Alex Kirby</span>'s AU
                                  <br>Commonwealth Bank account
                                  <br>Account number: xxxx xxxx
                                  <br>BSB: xxx - xxx</b>
                              </p>
              
                            </div>
              
                            <div class="pagination">
                              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Back to home</button>
                              <button class="uikit-btn floated uikit-btn--tertiary">Print</button>
                            </div>
                          </div>
                      </script>
                    </code>
                  </pre>
            </div>
          </div>
          <p>An example of this component can be found <a href="/auth/profile/nomrep/view-rep.ejs">here</a>.</p>
          <hr>
          <h2>Table row | Alternative </h2>
          <div class="example-box">
            <div class="horizontal-card-section">
              <div class="card card--horizontal card--action-required flex-container ">

                <div class="flex-item">
                  <p> <strong> Authorisation request</strong></p>
                  <p>24 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Dave Jones</strong></p>
                  <p>(Received Payments on behalf)</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#"></a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Open</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container ">
                <div class="flex-item">
                  <p> <strong> Submitted</strong></p>
                  <p>18 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Joe Smith</strong></p>
                  <p>Receiving payments blaa blaa</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Withdraw</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container">
                <div class="flex-item">
                  <p> <strong> Submitted</strong></p>
                  <p>18 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Joe Smith</strong></p>
                  <p>Receiving payments blaa blaa</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Withdraw</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container">
                <div class="flex-item">
                  <p> <strong> Submitted</strong></p>
                  <p>18 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Joe Smith</strong></p>
                  <p>Receiving payments blaa blaa</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Withdraw</a></p>
                </div>
              </div>

              <div class="card card--horizontal  card--amended flex-container">
                <div class="flex-item">
                  <p> <strong> Ceased</strong></p>
                  <p>15 November 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Representative</strong></p>
                  <p>(Enquiring on behalf)</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Re-instate</a></p>
                </div>
              </div>
            </div>

          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                    <code class="language-markup">
                      <script type="text/plain">
                        <div class="horizontal-card-section">
                          <div class="card card--horizontal card--action-required flex-container ">
            
                            <div class="flex-item">
                              <p> <strong> Authorisation request</strong></p>
                              <p>24 March 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Dave Jones</strong></p>
                              <p>(Received Payments on behalf)</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#"></a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Open</a></p>
                            </div>
                          </div>
            
                          <div class="card card--horizontal flex-container ">
                            <div class="flex-item">
                              <p> <strong> Submitted</strong></p>
                              <p>18 March 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Joe Smith</strong></p>
                              <p>Receiving payments blaa blaa</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">View</a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Withdraw</a></p>
                            </div>
                          </div>
            
                          <div class="card card--horizontal flex-container ">
                            <div class="flex-item">
                              <p> <strong> Submitted</strong></p>
                              <p>18 March 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Joe Smith</strong></p>
                              <p>Receiving payments blaa blaa</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">View</a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Withdraw</a></p>
                            </div>
                          </div>
            
                          <div class="card card--horizontal flex-container">
                            <div class="flex-item">
                              <p> <strong> Submitted</strong></p>
                              <p>18 March 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Joe Smith</strong></p>
                              <p>Receiving payments blaa blaa</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">View</a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Withdraw</a></p>
                            </div>
                          </div>
            
                          <div class="card card--horizontal  card--amended flex-container ">
                            <div class="flex-item">
                              <p> <strong> Ceased</strong></p>
                              <p>15 November 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Representative</strong></p>
                              <p>(Enquiring on behalf)</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">View</a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Re-instate</a></p>
                            </div>
                          </div>
            
                          <br><br>
            
                          <div class="horizontal-card-section">
                            <div class="card card--horizontal flex-container ">
                              <div class="flex-item flex-item--icon-only">
                                <span class="fal fa-icon-nr fa-user"></span>
                              </div>
                              <div class="flex-item flex-item--large">
                                <p> <strong> Some guys</strong></p>
                              </div>
            
                              <div class="flex-item flex-item--right-align">
                                <p><a href="#">Manage</a></p>
                              </div>
                            </div>
                            <div class="card card--horizontal flex-container ">
                              <div class="flex-item flex-item--icon-only">
                                <span class="fal fa-icon-nr fa-user"></span>
                              </div>
                              <div class="flex-item flex-item--large">
                                <p> <strong> Some other guy</strong></p>
                              </div>          
                              <div class="flex-item flex-item--right-align">
                                <p><a href="#">Manage</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </script>
                    </code>
                  </pre>
            </div>
          </div>
          <p>To see an example of this component go <a href="/auth/claim">here</a>.</p>
          <hr>
          <h2>Table row | Tasks</h2>
          <p>The Horizontal card has a unique state for tasks.</p>
          <div class="example-box">
            <section class="tasks-list">
              <div class="task">
                <div class="task__description">
                  <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
                  <div class="task__link-wrapper">
                    <a href="/auth/tasks/task-edu-assistance-details" class="task__link">Upload documents</a>
                    <div class="task__date">Active since 18 Sept 2019</div>
                  </div>
                </div>
                <div class="task__reference">Uploading documents will help us to complete your education assistance application.</div>
              </div>
            </section>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                    <code class="language-markup">
                      <script type="text/plain">
                        <section class="tasks-list">
                            <div class="task">
                              <div class="task__description">
                                <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
                                <div class="task__link-wrapper">
                                  <a href="/auth/tasks/task-edu-assistance-details" class="task__link">Upload documents</a>
                                  <div class="task__date">Active since 18 Sept 2019</div>
                                </div>
                              </div>
                              <div class="task__reference">Uploading documents will help us to complete your education assistance application.</div>
                            </div>
                          </section>
                      </script>
                    </code>
                  </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/tasks/">here</a>.</p>
          <hr>
          <h2>Borderless table</h2>
          <div class="example-box">
            <div class="borderless-table">
              <div class="borderless-table__row">
                <div class="borderless-table__title">
                  <b>Selected condition</b>
                </div>
                <div class="borderless-table__value">
                  Depression
                </div>
              </div>
              <div class="borderless-table__row">
                <div class="borderless-table__title">
                  <b>Date of onset</b>
                </div>
                <div class="borderless-table__value">
                  21/05/2014
                </div>
              </div>
              <div class="borderless-table__row">
                <div class="borderless-table__title">
                  <b>Covered under</b>
                </div>
                <div class="borderless-table__value">
                  MRCA
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                      <code class="language-markup">
                        <script type="text/plain">
                          <div class="borderless-table">
                            <div class="borderless-table__row">
                              <div class="borderless-table__title">
                                <b>Selected condition</b>
                              </div>
                              <div class="borderless-table__value">
                                Depression
                              </div>
                            </div>
                            <div class="borderless-table__row">
                              <div class="borderless-table__title">
                                <b>Date of onset</b>
                              </div>
                              <div class="borderless-table__value">
                                21/05/2014
                              </div>
                            </div>
                            <div class="borderless-table__row">
                              <div class="borderless-table__title">
                                <b>Covered under</b>
                              </div>
                              <div class="borderless-table__value">
                                MRCA
                              </div>
                            </div>
                          </div>
                        </script>
                      </code>
                    </pre>
            </div>
          </div>
          <p>An example of this component can be found <a href="/auth/claim/incap/b-1">here</a>.</p>
          <hr>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
        </%->
      </div>
    </div>
  </main>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
  </%->
</body>
<script>
  $("#filter-box").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#filter-table tbody tr").filter(function () {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
</script>

</html>
