<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Tables | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
  </%->
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  </%->
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-sm-9">
          <h1> Tables</h1>
          <hr>
<h2>Table row | Tasks</h2>
          <p>The Horizontal card has a unique state for tasks.</p>
          <div class="example-box">
            <section class="tasks-list">
              <div class="task">
                <div class="task__description">
                  <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
                  <div class="task__link-wrapper">
                    <a href="/auth/tasks/task-edu-assistance-details" class="task__link">Upload documents</a>
                    <div class="task__date">Active since 18 Sept 2019</div>
                  </div>
                </div>
                <div class="task__reference">Uploading documents will help us to complete your education assistance application.</div>
              </div>
            </section>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                    <code class="language-markup">
                      <script type="text/plain">
                        <section class="tasks-list">
                            <div class="task">
                              <div class="task__description">
                                <div class="task__icon"><i class="far fa-arrow-alt-circle-right"></i></div>
                                <div class="task__link-wrapper">
                                  <a href="/auth/tasks/task-edu-assistance-details" class="task__link">Upload documents</a>
                                  <div class="task__date">Active since 18 Sept 2019</div>
                                </div>
                              </div>
                              <div class="task__reference">Uploading documents will help us to complete your education assistance application.</div>
                            </div>
                          </section>
                      </script>
                    </code>
                  </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/tasks/">here</a>.</p>
          <hr>
          <h2>Profile Table</h2>
          <div class="example-box">
            <div class="profile-table" role="list">
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Title</div>
                    <div class="col-sm-8 uneditable title-uneditable-div">
                      <span id="title-span">Not specified</span>
                    </div>
                    <div class="col-sm-8 editable title-editable-div" style="display:none;">
                      <label class="uikit-text-input__label" for="title">Title</label>
                      <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                        <option>-- Select title --</option>
                        <option selected="">Not specified</option>
                        <option>Commissioner</option>
                        <option>Dame</option>
                        <option>Emeritus Professor</option>
                        <option>Honourable Mr Justice</option>
                        <option>Matron</option>
                        <option>Miss</option>
                        <option>Monsignor</option>
                        <option>Mr</option>
                        <option>Mr Justice</option>
                        <option>Mrs</option>
                        <option>Ms</option>
                        <option>Reverend Mr</option>
                        <option>Right Reverend Monsignor</option>
                      </select>

                      <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                      <button class="uikit-btn small save-title-button">Save</button>
                      <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                    </div>
                  </div>
                  <!-- </div> -->
                  <div class="col-sm-8 editable title-editable-div" style="display:none;">
                    <label class="uikit-text-input__label" for="title">Title</label>
                    <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                      <option>-- Select title --</option>
                      <option selected="">Not specified</option>
                      <option>Commissioner</option>
                      <option>Dame</option>
                      <option>Emeritus Professor</option>
                      <option>Honourable Mr Justice</option>
                      <option>Matron</option>
                      <option>Miss</option>
                      <option>Monsignor</option>
                      <option>Mr</option>
                      <option>Mr Justice</option>
                      <option>Mrs</option>
                      <option>Ms</option>
                      <option>Reverend Mr</option>
                      <option>Right Reverend Monsignor</option>
                    </select>

                    <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                    <button class="uikit-btn small save-title-button">Save</button>
                    <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                  </div>
                </div>
                <!-- </div> -->
                <div class="col-sm-3 col-xs-5 change-button">
                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-title-button">Change</button>
                </div>
              </div>
              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">Name</div>
                    <div class="col-sm-8 uneditable">
                      <span><span class="pt-current-user-name-full">Alex Kirby</span></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">

                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                </div>
              </div>

              <div class="row profile-row" role="listitem">
                <div class="col-sm-9 col-xs-7 description-fields">
                  <div class="row">
                    <div class="col-sm-4 title-field">File number</div>
                    <div class="col-sm-8 uneditable">
                      <span><span class="pt-current-user-file-number">Not provided</span></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-5 change-button">

                  <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="profile-table" role="list">
                          <div class="row profile-row" role="listitem">
                            <div class="col-sm-9 col-xs-7 description-fields">
                              <div class="row">
                                <div class="col-sm-4 title-field">Title</div>
                                <div class="col-sm-8 uneditable title-uneditable-div">
                                  <span id="title-span">Not specified</span>
                                </div>
                                <div class="col-sm-8 editable title-editable-div" style="display:none;">
                                  <label class="uikit-text-input__label" for="title">Title</label>
                                  <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                                    <option>-- Select title --</option>
                                    <option selected="">Not specified</option>
                                    <option>Commissioner</option>
                                    <option>Dame</option>
                                    <option>Emeritus Professor</option>
                                    <option>Honourable Mr Justice</option>
                                    <option>Matron</option>
                                    <option>Miss</option>
                                    <option>Monsignor</option>
                                    <option>Mr</option>
                                    <option>Mr Justice</option>
                                    <option>Mrs</option>
                                    <option>Ms</option>
                                    <option>Reverend Mr</option>
                                    <option>Right Reverend Monsignor</option>
                                  </select>
            
                                  <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                                  <button class="uikit-btn small save-title-button">Save</button>
                                  <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                                </div>
                              </div>
                              <!-- </div> -->
                              <div class="col-sm-8 editable title-editable-div" style="display:none;">
                                <label class="uikit-text-input__label" for="title">Title</label>
                                <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                                  <option>-- Select title --</option>
                                  <option selected="">Not specified</option>
                                  <option>Commissioner</option>
                                  <option>Dame</option>
                                  <option>Emeritus Professor</option>
                                  <option>Honourable Mr Justice</option>
                                  <option>Matron</option>
                                  <option>Miss</option>
                                  <option>Monsignor</option>
                                  <option>Mr</option>
                                  <option>Mr Justice</option>
                                  <option>Mrs</option>
                                  <option>Ms</option>
                                  <option>Reverend Mr</option>
                                  <option>Right Reverend Monsignor</option>
                                </select>
            
                                <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                                <button class="uikit-btn small save-title-button">Save</button>
                                <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                              </div>
                            </div>
                            <!-- </div> -->
                            <div class="col-sm-3 col-xs-5 change-button">
                              <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-title-button">Change</button>
                            </div>
                          </div>
                          <div class="row profile-row" role="listitem">
                            <div class="col-sm-9 col-xs-7 description-fields">
                              <div class="row">
                                <div class="col-sm-4 title-field">Name</div>
                                <div class="col-sm-8 uneditable">
                                  <span><span class="pt-current-user-name-full">Alex Kirby</span></span>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3 col-xs-5 change-button">
            
                              <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                            </div>
                          </div>
            
                          <div class="row profile-row" role="listitem">
                            <div class="col-sm-9 col-xs-7 description-fields">
                              <div class="row">
                                <div class="col-sm-4 title-field">File number</div>
                                <div class="col-sm-8 uneditable">
                                  <span><span class="pt-current-user-file-number">Not provided</span></span>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3 col-xs-5 change-button">
            
                              <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                            </div>
                          </div>
                        </div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>
          <p>To see an example of this component go <a href="/auth/profile">here</a>.</p>
          <hr>
          <h2>Table row | Alternative </h2>
          <div class="example-box">
            <div class="horizontal-card-section">
              <div class="card card--horizontal card--action-required flex-container ">

                <div class="flex-item">
                  <p> <strong> Authorisation request</strong></p>
                  <p>24 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Dave Jones</strong></p>
                  <p>(Received Payments on behalf)</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#"></a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Open</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container ">
                <div class="flex-item">
                  <p> <strong> Submitted</strong></p>
                  <p>18 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Joe Smith</strong></p>
                  <p>Receiving payments blaa blaa</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Withdraw</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container">
                <div class="flex-item">
                  <p> <strong> Submitted</strong></p>
                  <p>18 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Joe Smith</strong></p>
                  <p>Receiving payments blaa blaa</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Withdraw</a></p>
                </div>
              </div>

              <div class="card card--horizontal flex-container">
                <div class="flex-item">
                  <p> <strong> Submitted</strong></p>
                  <p>18 March 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Joe Smith</strong></p>
                  <p>Receiving payments blaa blaa</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Withdraw</a></p>
                </div>
              </div>

              <div class="card card--horizontal  card--amended flex-container">
                <div class="flex-item">
                  <p> <strong> Ceased</strong></p>
                  <p>15 November 2018</p>
                </div>
                <div class="flex-item flex-item--large">
                  <p><strong>Representative</strong></p>
                  <p>(Enquiring on behalf)</p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">View</a></p>
                </div>
                <div class="flex-item flex-item--right-align">
                  <p><a href="#">Re-instate</a></p>
                </div>
              </div>
            </div>

          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                    <code class="language-markup">
                      <script type="text/plain">
                        <div class="horizontal-card-section">
                          <div class="card card--horizontal card--action-required flex-container ">
            
                            <div class="flex-item">
                              <p> <strong> Authorisation request</strong></p>
                              <p>24 March 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Dave Jones</strong></p>
                              <p>(Received Payments on behalf)</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#"></a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Open</a></p>
                            </div>
                          </div>
            
                          <div class="card card--horizontal flex-container ">
                            <div class="flex-item">
                              <p> <strong> Submitted</strong></p>
                              <p>18 March 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Joe Smith</strong></p>
                              <p>Receiving payments blaa blaa</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">View</a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Withdraw</a></p>
                            </div>
                          </div>
            
                          <div class="card card--horizontal flex-container ">
                            <div class="flex-item">
                              <p> <strong> Submitted</strong></p>
                              <p>18 March 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Joe Smith</strong></p>
                              <p>Receiving payments blaa blaa</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">View</a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Withdraw</a></p>
                            </div>
                          </div>
            
                          <div class="card card--horizontal flex-container">
                            <div class="flex-item">
                              <p> <strong> Submitted</strong></p>
                              <p>18 March 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Joe Smith</strong></p>
                              <p>Receiving payments blaa blaa</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">View</a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Withdraw</a></p>
                            </div>
                          </div>
            
                          <div class="card card--horizontal  card--amended flex-container ">
                            <div class="flex-item">
                              <p> <strong> Ceased</strong></p>
                              <p>15 November 2018</p>
                            </div>
                            <div class="flex-item flex-item--large">
                              <p><strong>Representative</strong></p>
                              <p>(Enquiring on behalf)</p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">View</a></p>
                            </div>
                            <div class="flex-item flex-item--right-align">
                              <p><a href="#">Re-instate</a></p>
                            </div>
                          </div>
            
                          <br><br>
            
                          <div class="horizontal-card-section">
                            <div class="card card--horizontal flex-container ">
                              <div class="flex-item flex-item--icon-only">
                                <span class="fal fa-icon-nr fa-user"></span>
                              </div>
                              <div class="flex-item flex-item--large">
                                <p> <strong> Some guys</strong></p>
                              </div>
            
                              <div class="flex-item flex-item--right-align">
                                <p><a href="#">Manage</a></p>
                              </div>
                            </div>
                            <div class="card card--horizontal flex-container ">
                              <div class="flex-item flex-item--icon-only">
                                <span class="fal fa-icon-nr fa-user"></span>
                              </div>
                              <div class="flex-item flex-item--large">
                                <p> <strong> Some other guy</strong></p>
                              </div>          
                              <div class="flex-item flex-item--right-align">
                                <p><a href="#">Manage</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </script>
                    </code>
                  </pre>
            </div>
          </div>
          <p>To see an example of this component go <a href="/auth/claim">here</a>.</p>
          <hr>
           <h2>Features Table </h2>
          <p>The
            <font color="red">.feature-set</font> block can be combined with
            <font color="red">.table-responsive</font> for additional styling.</p>
          <table class="table-responsive feature-set">
            <thead>
              <tr>
                <th>Things you can do
                </th>
                <th class="ss-align--center">MyService</th>
                <th class="ss-align--center">MyAccount</th>
              </tr>
            </thead>
            <tbody>
              <tr class="feature-set__sub-heading">
                <td colspan="3">
                  <b>New Features</b>
                </td>
              </tr>
              <tr>
                <td>Apply for the Australian Defence Veterans' Covenant</td>
                <td class="feature-set__yes feature-set__yes--green">
                  <span class="sr">MyService</span>
                </td>
                <td class="feature-set__no"></td>
              </tr>
              <tr>
                <td>Claim for incapacity payments</td>
                <td class="feature-set__yes feature-set__yes--green">
                  <span class="sr">MyService</span>
                </td>
                <td class="feature-set__no"></td>
              </tr>
              <tr>
                <td>Computer based decision making for claims</td>
                <td class="feature-set__no">
                  <span class="sr">MyService</span>
                </td>
                <td class="feature-set__yes"></td>
              </tr>
            </tbody>
          </table>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
            <code class="language-markup">
              <script type="text/plain">
                <table class="table-responsive feature-set">
                  <thead>
                    <tr>
                      <th>Things you can do
                      </th>
                      <th class="ss-align--center">MyService</th>
                      <th class="ss-align--center">MyAccount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="feature-set__sub-heading">
                      <td colspan="3">
                        <b>New Features</b>
                      </td>
                    </tr>
                    <tr>
                      <td>Apply for the Australian Defence Veterans' Covenant</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Claim for incapacity payments</td>
                      <td class="feature-set__yes feature-set__yes--green">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__no"></td>
                    </tr>
                    <tr>
                      <td>Computer based decision making for claims</td>
                      <td class="feature-set__no">
                        <span class="sr">MyService</span>
                      </td>
                      <td class="feature-set__yes"></td>
                    </tr>
                  </tbody>
                </table>
              </script>
            </code>
          </pre>
            </div>
            <p>To see an example of this component go <a href="/auth/onboarding">here</a>.</p>
            <hr>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/tasks/">here</a>.</p>
          <hr>
          <h2>Borderless table</h2>
          <div class="example-box">
            <div class="borderless-table">
              <div class="borderless-table__row">
                <div class="borderless-table__title">
                  <b>Selected condition</b>
                </div>
                <div class="borderless-table__value">
                  Depression
                </div>
              </div>
              <div class="borderless-table__row">
                <div class="borderless-table__title">
                  <b>Date of onset</b>
                </div>
                <div class="borderless-table__value">
                  21/05/2014
                </div>
              </div>
              <div class="borderless-table__row">
                <div class="borderless-table__title">
                  <b>Covered under</b>
                </div>
                <div class="borderless-table__value">
                  MRCA
                </div>
              </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                      <code class="language-markup">
                        <script type="text/plain">
                          <div class="borderless-table">
                            <div class="borderless-table__row">
                              <div class="borderless-table__title">
                                <b>Selected condition</b>
                              </div>
                              <div class="borderless-table__value">
                                Depression
                              </div>
                            </div>
                            <div class="borderless-table__row">
                              <div class="borderless-table__title">
                                <b>Date of onset</b>
                              </div>
                              <div class="borderless-table__value">
                                21/05/2014
                              </div>
                            </div>
                            <div class="borderless-table__row">
                              <div class="borderless-table__title">
                                <b>Covered under</b>
                              </div>
                              <div class="borderless-table__value">
                                MRCA
                              </div>
                            </div>
                          </div>
                        </script>
                      </code>
                    </pre>
            </div>
          </div>
          <p>An example of this component can be found <a href="/auth/claim/incap/b-1">here</a>.</p>
          <hr>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
        </%->
      </div>
    </div>
  </main>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
  </%->
</body>
<script>
  $("#filter-box").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#filter-table tbody tr").filter(function () {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
</script>

</html>
