<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Tables | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
  </%->
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  </%->
  <main>
    <div class="container" id="main-content">
      <div class="row">
        <div class="col-sm-9">
          <h1> Tables</h1>
          <div class="breakout">
            <p> Tables are a great way to present content on a page. A table consists of one or more rows; each row consists of one
              or more cells. Tables
              <b>are not</b> intended to be used for general layouts. The
              <a href="/styleguide/layout">12-column grid system</a> should be utilised in these cases.</p>
          </div>
          <h2>Default tables</h2>
          <p>Table styling has been applied to the base element. No classes need be applied.</p>
          <div class="example-box">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>ID Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Mary</td>
                  <td>Jones</td>
                  <td>62843</td>
                </tr>
                <tr>
                  <th>2</th>
                  <td>John</td>
                  <td>Smith</td>
                  <td>37225</td>
                </tr>
                <tr>
                  <th>3</th>
                  <td>Frank</td>
                  <td>Watson</td>
                  <td>84775</td>
                </tr>
              </tbody>
            </table>
            <pre>
               <code class="language-markup">
                <script type="text/plain">
                  <table>
                   <thead>
                    <tr>
                     <th>#</th>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th>ID Number</th>
                   </tr>
                 </thead>
                 <tbody>
                  <tr>
                   <th>1</th>
                   <td>Mary</td>
                   <td>Jones</td>
                   <td>62843</td>
                 </tr>
                 <tr>
                   <th>2</th>
                   <td>John</td>
                   <td>Smith</td>
                   <td>37225</td>
                 </tr>
                 <tr>
                   <th>3</th>
                   <td>Frank</td>
                   <td>Watson</td>
                   <td>84775</td>
                 </tr>
               </tbody>
             </table>
           </script>
         </code>
       </pre>
          </div>
          <!-- <hr> -->
          <h2>Responsive tables</h2>
          <p>Create responsive tables by adding
            <font color="red">.table-responsive</font> to any
            <font color="red">&lt;table&gt;</font> to make them stack horizontally on small devices (under 768px). When viewing on anything larger
            than 768px wide, you will not see any difference in these tables.</p>
          <p>If
            <font color="red">&lt;th&gt;</font> is used within
            <font color="red">&lt;tbody&gt;</font> and within
            <font color="red">&lt;tr&gt;</font>, it will remain as a table cell.
            <!-- The data of the
            <font color="red">&lt;th&gt;</font>'s within
            <font color="red">&lt;thead&gt;</font>
            will be appended to the beginning of the relevant 
            <font color="red">&lt;td&gt;</font>.</p>-->
            <div class="example-box">
              <table class="table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Mary</td>
                    <td>Jones</td>
                    <td>62843</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>
                      <a href="#">Corpuscallosum!SciencedreamofthemindcorpuscallosumHypatia!</a>
                    </td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Frank</td>
                    <td>Watson</td>
                    <td>Corpus callosum! Science dream of the mind's eye, corpus callosum Hypatia! Billions upon billions prime number.
                      Another world Sea of Tranquility light years Jean-Francois Champollion. Another world a still more glorious dawn
                      awaits trillion birth Euclid, encyclopaedia galactica birth muse about as a patch of light! Tunguska event. Flatland
                      cosmic ocean Tunguska event network of wormholes and billions upon billions upon billions upon billions upon billions
                      upon billions upon billions!</td>
                  </tr>
                </tbody>
              </table>
              <pre>
                <code class="language-markup">
                 <script type="text/plain">
                   <table class="table-responsive">
                    <thead>
                     <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>ID Number</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr>
                    <th>1</th>
                    <td>Mary</td>
                    <td>Jones</td>
                    <td>62843</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>37225</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Frank</td>
                    <td>Watson</td>
                    <td>84775</td>
                  </tr>
                </tbody>
              </table>
            </script>
          </code>
        </pre>
            </div>
            <h2>Additional styling </h2>
            <p>The
              <font color="red">.feature-set</font> block can be combined with
              <font color="red">.table-responsive</font> for additional styling.</p>
            <table class="table-responsive feature-set">
              <thead>
                <tr>
                  <th>Things you can do
                  </th>
                  <th class="ss-align--center">MyService</th>
                  <th class="ss-align--center">MyAccount</th>
                </tr>
              </thead>
              <tbody>
                <tr class="feature-set__sub-heading">
                  <td colspan="3">
                    <b>New Features</b>
                  </td>
                </tr>
                <tr>
                  <td>Apply for the Australian Defence Veterans' Covenant</td>
                  <td class="feature-set__yes feature-set__yes--green">
                    <span class="sr">MyService</span>
                  </td>
                  <td class="feature-set__no"></td>
                </tr>
                <tr>
                  <td>Claim for incapacity payments</td>
                  <td class="feature-set__yes feature-set__yes--green">
                    <span class="sr">MyService</span>
                  </td>
                  <td class="feature-set__no"></td>
                </tr>
                <tr>
                  <td>Computer based decision making for claims</td>
                  <td class="feature-set__no">
                    <span class="sr">MyService</span>
                  </td>
                  <td class="feature-set__yes"></td>
                </tr>
              </tbody>
            </table>
            <pre>
         <code class="language-markup">
          <script type="text/html">
            <table class="table-responsive feature-set">
              <thead>
                <tr>
                  <th>Things you can do
                  </th>
                  <th class="ss-align--center">MyService</th>
                  <th class="ss-align--center">MyAccount</th>
                </tr>
              </thead>
              <tbody>
                <tr class="feature-set__sub-heading">
                  <td colspan="3">
                    <b>New Features</b>
                  </td>
                </tr>
                <tr>
                  <td>Apply for the Australian Defence Veterans' Covenant</td>
                  <td class="feature-set__yes feature-set__yes--green">
                    <span class="sr">MyService</span>
                  </td>
                  <td class="feature-set__no"></td>
                </tr>
                <tr>
                  <td>Claim for incapacity payments</td>
                  <td class="feature-set__yes feature-set__yes--green">
                    <span class="sr">MyService</span>
                  </td>
                  <td class="feature-set__no"></td>
                </tr>
                <tr>
                  <td>Computer based decision making for claims</td>
                  <td class="feature-set__no">
                    <span class="sr">MyService</span>
                  </td>
                  <td class="feature-set__yes"></td>
                </tr>
              </tbody>
            </table>
          </script>
        </code>
      </pre>
            <h2>Table filtering</h2>
            <p>Filter the table based on what's in the box (live)</p>
            <div class="example-box">
              <div class="form-group">
                <input id="filter-box" class="uikit-text-input input-half" name="filter" type="text" placeholder="Filter table" aria-required="false">
              </div>
              <table id="filter-table" class="table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Mary</td>
                    <td>Jones</td>
                    <td>62843</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>37225</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Frank</td>
                    <td>Watson</td>
                    <td>84775</td>
                  </tr>
                </tbody>
              </table>
              <h3>HTML</h3>
              <pre>
          <code class="language-markup">
            <script type="text/html">
              <div class="form-group">
                <input id="filter-box" class="uikit-text-input input-half" name="filter" type="text" placeholder="Filter table" aria-required="false">
              </div>
              <table id="filter-table" class="table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>ID Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Mary</td>
                    <td>Jones</td>
                    <td>62843</td>
                  </tr>
                  <tr>
                    <th>2</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>37225</td>
                  </tr>
                  <tr>
                    <th>3</th>
                    <td>Frank</td>
                    <td>Watson</td>
                    <td>84775</td>
                  </tr>
                </tbody>
              </table>
            </script>
          </code>
        </pre>
              <h3>JavaScript (jQuery)</h3>
              <pre class="language-js">
          <code class="language-js">
            <script type="text/javascript">
              $("#filter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#transLog tbody tr").filter(function () {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            </script>
          </code>
        </pre>
            </div>
            <hr>
            <h2>Uploads Table</h2>
            <div class="example-box">
              <table class="table-responsive">
                <tbody>
                  <tr>
                    <th>
                      <h2 class="margin-below--none margin-above--none">Other treating practitioners
                        <span class="hint">(optional)</span>
                      </h2>
                      <span class="hint">Includes audiologists, psychiatrists, etc.</span>
                    </th>
                  </tr>
                  <tr>
                    <td class="col-xs-12 border-top">
                      <div class="form-group">
                        <div class="col-sm-8 col-xs-7 description-fields">
                          <div class="row">
                            <div class="col-sm-4 title-field">Dr steven</div>
                            <div class="col-sm-8">
                              Belconnen Medical Centre, Belconnen
                              <br>
                              <em>02 9800 1234</em>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-2 col-xs-5 padding-below">
                          <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">
                            Edit
                          </button>
                        </div>
                        <div class="col-sm-2 col-xs-5 padding-below">
                          <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small floated">
                            Remove
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="border-top col-xs-12">
                      <div class="col-sm-10 col-xs-7 padding-below">
                      </div>
                      <div class="col-sm-2 col-xs-5  padding-below">
                        <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small">Add</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <h2>Review and Submit Table</h2>
            <div class="example-boox">
              <table class="cover-detail">
                <tbody>
                  <tr>
                    <th>Dr Nick Riviera (general practitioner)</th>
                    <td>Springfield Hospital
                      <br> Springfield
                      <br> 02 6123 4567
                    </td>
                  </tr>
                  <tr>
                    <th>Dr Jamie Lee</th>
                    <td>Ryde Medical Centre
                      <br> North Ryde
                      <br> 02 9807 1230
                    </td>
                  </tr>
                  <tr>
                    <th>Dr Marta Machalevski</th>
                    <td>St Vincent’s Hospital
                      <br> Potts Point
                      <br> 02 9487 9111</td>
                  </tr>
                  <tr>
                    <th>Christina San Lucas</th>
                    <td>Gosford Hospital
                      <br> Gosford
                      <br> 02 9487 9385</td>

                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <h2>Representation History Table</h2>
            <div class="example-box">
              <table id="transLog-pagination" class="table">
                <thead>
                  <tr>
                    <th>Date / Time</th>
                    <th>Made by</th>
                    <th>Details</th>
                    <th>Application ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>07/25/21
                      23:34:00</td>
                    <td>Maribel Collins</td>
                    <td>Change Password</td>
                    <td>3462399</td>
                  </tr>
                  <tr>
                    <td>07/25/32
                      19:38:00</td>
                    <td>Inez Carter</td>
                    <td>Lodged Claim</td>
                    <td>7523774</td>
                  </tr>
                  <tr>
                    <td>05/24/34
                      17:22:00</td>
                    <td>Forrest Slaughter</td>
                    <td>Change Mobile Number</td>
                    <td>4736613</td>
                  </tr>
                  <tr>
                    <td>12/02/36
                      05:15:00</td>
                    <td>Gabriel Farrell</td>
                    <td>Change Mobile Number</td>
                    <td>9838486</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <h2>Profile Table</h2>
            <div class="example-box">
              <div class="profile-table" role="list">
                <div class="row profile-row" role="listitem">
                  <div class="col-sm-9 col-xs-7 description-fields">
                    <div class="row">
                      <div class="col-sm-4 title-field">Title</div>
                      <div class="col-sm-8 uneditable title-uneditable-div">
                        <span id="title-span">Not specified</span>
                      </div>
                      <div class="col-sm-8 editable title-editable-div" style="display:none;">
                        <label class="uikit-text-input__label" for="title">Title</label>
                        <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                          <option>-- Select title --</option>
                          <option selected="">Not specified</option>
                          <option>Commissioner</option>
                          <option>Dame</option>
                          <option>Emeritus Professor</option>
                          <option>Honourable Mr Justice</option>
                          <option>Matron</option>
                          <option>Miss</option>
                          <option>Monsignor</option>
                          <option>Mr</option>
                          <option>Mr Justice</option>
                          <option>Mrs</option>
                          <option>Ms</option>
                          <option>Reverend Mr</option>
                          <option>Right Reverend Monsignor</option>
                        </select>

                        <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                        <button class="uikit-btn small save-title-button">Save</button>
                        <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                      </div>
                    </div>
                    <!-- </div> -->
                    <div class="col-sm-8 editable title-editable-div" style="display:none;">
                      <label class="uikit-text-input__label" for="title">Title</label>
                      <select class="uikit-text-input input-half" name="title" id="title" type="text" value="">
                        <option>-- Select title --</option>
                        <option selected="">Not specified</option>
                        <option>Commissioner</option>
                        <option>Dame</option>
                        <option>Emeritus Professor</option>
                        <option>Honourable Mr Justice</option>
                        <option>Matron</option>
                        <option>Miss</option>
                        <option>Monsignor</option>
                        <option>Mr</option>
                        <option>Mr Justice</option>
                        <option>Mrs</option>
                        <option>Ms</option>
                        <option>Reverend Mr</option>
                        <option>Right Reverend Monsignor</option>
                      </select>

                      <button class="uikit-btn uikit-btn--tertiary small cancel-title-button">Cancel</button>
                      <button class="uikit-btn small save-title-button">Save</button>
                      <div class="waiting-animation ico-waiting-inline" style="display:none;"></div>
                    </div>
                  </div>
                  <!-- </div> -->
                  <div class="col-sm-3 col-xs-5 change-button">
                    <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small edit-title-button">Change</button>
                  </div>
                </div>
                <div class="row profile-row" role="listitem">
                  <div class="col-sm-9 col-xs-7 description-fields">
                    <div class="row">
                      <div class="col-sm-4 title-field">Name</div>
                      <div class="col-sm-8 uneditable">
                        <span><span class="pt-current-user-name-full">Alex Kirby</span></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-5 change-button">

                    <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                  </div>
                </div>

                <div class="row profile-row" role="listitem">
                  <div class="col-sm-9 col-xs-7 description-fields">
                    <div class="row">
                      <div class="col-sm-4 title-field">File number</div>
                      <div class="col-sm-8 uneditable">
                        <span><span class="pt-current-user-file-number">Not provided</span></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 col-xs-5 change-button">

                    <button class="uikit-btn uikit-btn--block uikit-btn--tertiary small" disabled="">Locked</button>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <h2>Payments Table</h2>
            <div class="example-box">
              <table class="table-claims table-responsive">
                <thead>
                  <tr>
                    <th class="widget-activity">Payment activity</th>
                    <th class="widget-actions">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p class="status-icon status-submitted">
                        <legend class="legend-label" for="radio-buttons">$380.80 - Service pension</legend>
                        <legend class="legend-label" for="radio-buttons">Processed<span class="hint"> - 13 May 2018</span></legend>

                      </p>
                    </td>
                    <td class="widget-actions">
                      <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/afi/claimdetail'">View</button>
                      <!-- <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '#open-deleteclaimmodal'">Withdraw</button> -->
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p class="status-icon status-submitted">
                        <legend class="legend-label" for="radio-buttons">$760.32 - Lump sum payment</legend>
                        <legend class="legend-label" for="radio-buttons">Processed<span class="hint"> - 25 April 2018</span></legend>
                      </p>
                    </td>
                    <td class="widget-actions">
                      <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewDhoasDetail'">View</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="status-icon status-approved">
                        <legend class="legend-label" for="radio-buttons">$500 - Lump sum advance request</legend>
                        <legend class="legend-label" for="radio-buttons">Approved <span class="hint"> - 10 January 2018</span></legend>
                      </p>
                    </td>
                    <td class="widget-actions">
                      <!-- so i have the href location later <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button> -->
                      <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/lsa/view'">View</button>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p class="status-icon status-submitted">
                        <legend class="legend-label" for="radio-buttons">$340.32 - Service pension</legend>
                        <legend class="legend-label" for="radio-buttons">Processed<span class="hint"> - 25 April 2018</span></legend>
                      </p>
                    </td>
                    <td class="widget-actions">
                      <button class="uikit-btn small uikit-btn--tertiary" onclick="window.location.href = 'viewDhoasDetail'">View</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
        </%->
      </div>
    </div>
  </main>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
  </%->
</body>
<script>
  $("#filter-box").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#filter-table tbody tr").filter(function () {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
</script>

</html>
