<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Tiles | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <%- include(partials+"components/styleguide/styleguide-header") %>
  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Tiles</li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-sm-9">
          <h1>Tiles</h1>
          <div class="breakout">
            <p>Tiles are a simplistic version of the card component. A tile generally displayed an icon and a small amount of text. When a tile contains too much content it should
              instead be a card component.</p>
          </div>
          <h2>Radio Tiles</h2>
          <p>Radio Tiles are used to hide and show an entire page of form fields.</p>
          <div class="example-box">
            <div class="form-group" id="pension_type">
              <legend class="legend-label">What are you applying for?</legend>
              <div class="radio-tile--group">
                <label class="radio-tile"> <input id="invalidity_service_pension" class="mys-radio__control" type="radio" name="pension_type"
                    value="invalidity_service_pension"><span class="mys-radio__box mys-radio__box--large">
                    <div class="radio_tile__icon fal fa-user fa-3x"></div>
                    <div class="margin-above"> Invalidity service pension </div>
                  </span> </label>
                <label class="radio-tile"> <input id="age_service_pension" class="mys-radio__control" type="radio" name="pension_type" value="age_service_pension"><span
                    class="mys-radio__box mys-radio__box--large">
                    <div class="radio_tile__icon fal fa-user fa-3x"></div>
                    <div class="margin-above"> Age service pension </div>
                  </span> </label> </div>
            </div>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <div class="form-group" id="pension_type">
                          <legend class="legend-label">What are you applying for?</legend>
                        <div class="radio-tile--group">
                            <label class="radio-tile"> <input id="invalidity_service_pension" class="mys-radio__control" type="radio" name="pension_type" value="invalidity_service_pension"><span class="mys-radio__box mys-radio__box--large"> <div class="radio_tile__icon fal fa-user fa-3x"></div> <div class="margin-above"> Invalidity service pension </div> </span> </label> 
                            <label class="radio-tile"> <input id="age_service_pension" class="mys-radio__control" type="radio" name="pension_type" value="age_service_pension"><span class="mys-radio__box mys-radio__box--large"> <div class="radio_tile__icon fal fa-user fa-3x"></div> <div class="margin-above"> Age service pension </div> </span> </label> </div></div>
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <p>An example of this component can be found <a href="/auth/">here</a>.</p>
          <hr>
          <h2>Horizontal Radio Tiles</h2>
          <p>Horizontal radio tiles are a component that assists in breaking claims down into sections (Part A, Part B, etc...). The horizontal radio tile consists of two states,
            active and inactive.</p>
          <div class="example-box">
            <div class="claim-progress-category">

              <!-- Part A -->
              <div class="claim-progress-category__item claim-progress-category--active">
                <a class="claim-progress-category__link claim-progress-category__link--active" href="/auth/claim/sp-start">
                  <div class="claim-progress-category__wrapper">
                    <div class="claim-progress-category__status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--active">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Active</div>
                      </div>
                    </div>

                    <div class="claim-progress-category__label">
                      <h3 class="claim-progress-category__heading">Part A - Getting started</h3>
                      <p class="claim-progress-category__description">Tell us about your claim.</p>
                    </div>
                  </div>
                </a>
              </div>

              <!-- Part B -->
              <div class="claim-progress-category__item claim-progress-category--disabled">
                <div class="claim-progress-category__wrapper">
                  <div class="claim-progress-category__status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Not yet available</div>
                    </div>
                  </div>
                  <div class="claim-progress-category__label">
                    <h3 class="claim-progress-category__heading">Part B - Claim details</h3>
                    <p class="claim-progress-category__description">Tell us more about your circumstances.</p>
                  </div>
                </div>
              </div>

              <!-- Part C -->
              <div class="claim-progress-category__item claim-progress-category--disabled">
                <div class="claim-progress-category__wrapper">
                  <div class="claim-progress-category__status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Not yet available</div>
                    </div>
                  </div>
                  <div class="claim-progress-category__label">
                    <h3 class="claim-progress-category__heading">Part C - Income &amp; assets</h3>
                    <p class="claim-progress-category__description">Tell us about your income and assets.</p>
                  </div>
                </div>
              </div>

              <!-- Part D -->
              <div class="claim-progress-category__item claim-progress-category--disabled">
                <div class="claim-progress-category__wrapper">
                  <div class="claim-progress-category__status">
                    <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                      <div class="mys-file-uploads__status-icon"></div>
                      <div class="mys-file-uploads__status-sr">Not yet available</div>
                    </div>
                  </div>
                  <div class="claim-progress-category__label">
                    <h3 class="claim-progress-category__heading">Part D - Required documents</h3>
                    <p class="claim-progress-category__description">Upload supporting documents for your claim.</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="accordion">
              <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
              <div class="accordion-content" style="display: none;">
                <pre>
                    <code class="language-markup">
                      <script type="text/plain">
                        <div class="claim-progress-category">

                            <!-- Part A -->
                            <div class="claim-progress-category__item claim-progress-category--active">
                              <a class="claim-progress-category__link claim-progress-category__link--active" href="/auth/claim/sp-start">
                                <div class="claim-progress-category__wrapper">
                                  <div class="claim-progress-category__status">
                                    <div class="mys-file-uploads__status mys-file-uploads__status--active">
                                      <div class="mys-file-uploads__status-icon"></div>
                                      <div class="mys-file-uploads__status-sr">Active</div>
                                    </div>
                                  </div>
                
                                  <div class="claim-progress-category__label">
                                    <h3 class="claim-progress-category__heading">Part A - Getting started</h3>
                                    <p class="claim-progress-category__description">Tell us about your claim.</p>
                                  </div>
                                </div>
                              </a>
                            </div>
                
                            <!-- Part B -->
                            <div class="claim-progress-category__item claim-progress-category--disabled">
                              <div class="claim-progress-category__wrapper">
                                <div class="claim-progress-category__status">
                                  <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                                    <div class="mys-file-uploads__status-icon"></div>
                                    <div class="mys-file-uploads__status-sr">Not yet available</div>
                                  </div>
                                </div>
                                <div class="claim-progress-category__label">
                                  <h3 class="claim-progress-category__heading">Part B - Claim details</h3>
                                  <p class="claim-progress-category__description">Tell us more about your circumstances.</p>
                                </div>
                              </div>
                            </div>
                
                            <!-- Part C -->
                            <div class="claim-progress-category__item claim-progress-category--disabled">
                              <div class="claim-progress-category__wrapper">
                                <div class="claim-progress-category__status">
                                  <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                                    <div class="mys-file-uploads__status-icon"></div>
                                    <div class="mys-file-uploads__status-sr">Not yet available</div>
                                  </div>
                                </div>
                                <div class="claim-progress-category__label">
                                  <h3 class="claim-progress-category__heading">Part C - Income &amp; assets</h3>
                                  <p class="claim-progress-category__description">Tell us about your income and assets.</p>
                                </div>
                              </div>
                            </div>
                
                            <!-- Part D -->
                            <div class="claim-progress-category__item claim-progress-category--disabled">
                              <div class="claim-progress-category__wrapper">
                                <div class="claim-progress-category__status">
                                  <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                                    <div class="mys-file-uploads__status-icon"></div>
                                    <div class="mys-file-uploads__status-sr">Not yet available</div>
                                  </div>
                                </div>
                                <div class="claim-progress-category__label">
                                  <h3 class="claim-progress-category__heading">Part D - Required documents</h3>
                                  <p class="claim-progress-category__description">Upload supporting documents for your claim.</p>
                                </div>
                              </div>
                            </div>
                
                          </div>
                      </script>
                    </code>
                  </pre>
              </div>
              <p>An example of this component can be found <a href="/auth/claim/service_pension/sp-progress.ejs">here</a>.</p>
            </div>

          </div>
        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
