<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Helper classes | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

  <main>
    <div class="container" id="main-content">
      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Toast messages</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Toast messages</h1>
          <p>Toast messages provide simple feedback about an operation in a small popup.</p>
          <h2>Purpose</h2>
          <p>Toast messages are ideal for situations when you just want to give the user a heads-up. They are a great way for you
            to confirm that that thing the user was doing really did happen.</p>

          <p>Toast messages
            <strong>do not</strong> require a user response. If user response to a status message is required, consider instead using
            a
            <a href="/styleguide/modals">modal</a> or a
            <a href="/styleguide/notifications">notification</a>.
          </p>
          <p>Here is an example of a toast message being triggered by a button</p>
          <button class="uikit-btn call-toast" role="alert" type="button">Trigger Toast Success</button>

          <!-- not sure what this d-container class is for -->
          <div class="d-container"></div>
          <div class="toast-container"></div>

          <h2>All Options</h2>

          <div class="example-box">

            <button class="uikit-btn toast" role="alert" type="button">
              <div class="toast__type toast__type--success">
                <span class="sr">Success</span>
              </div>
              <div class="toast__message">
                <p>Success message goes here.</p>
              </div>
            </button>

            <br>

            <button class="uikit-btn toast" role="alert" type="button">
              <div class="toast__type toast__type--information">
                <span class="sr">Information</span>
              </div>
              <div class="toast__message">
                <p role="alert">Information message goes here.</p>
              </div>
            </button>

            <br>

            <button class="uikit-btn toast" role="alert" type="button">
              <div class="toast__type toast__type--alert">
                <span class="sr">Alert</span>
              </div>
              <div class="toast__message">
                <p role="alert">Alert message goes here.</p>
              </div>
            </button>

            <br>

            <button class="uikit-btn toast" role="alert" type="button">
              <div class="toast__type toast__type--error">
                <span class="sr">Error</span>
              </div>
              <div class="toast__message">
                <p role="alert">Error message goes here.</p>
              </div>
            </button>
            <br>
          </div>
          <div class="accordion">
            <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
            <div class="accordion-content" style="display: none;">
              <pre>
                  <code class="language-markup">
                    <script type="text/plain">
                      <!-- Toast -->
                      <button class="uikit-btn toast" role="alert" type="button">
                        <div class="toast__type toast__type--success">
                          <span class="sr">Success</span>
                        </div>
                        <div class="toast__message">
                          <p>Success message goes here.</p>
                        </div>
                      </button>
  
                      <!-- Toast container; 1 per page -->
                      <div class="toast-container"></div>
  
  
                      <!-- Modifiers by type -->
                      <div class="toast__type toast__type--alert"></div>
                      <div class="toast__type toast__type--error"></div>
                      <div class="toast__type toast__type--information"></div>
                      <div class="toast__type toast__type--success"></div>
    
  
                    </script>
                  </code>
                </pre>
            </div>
          </div>

          <hr>


          <h2>Placement</h2>

          <p>Toast messages only fill the amount of space required for the message and the current activity remains visible and
            interactive. Toast messages display above all over elements on screen.</p>

          <p>Toast messages should appear in the top right of the page on medium to large screens and transition to a full-width
            bar at the top of the page on mobile devices.</p>

          <!-- <div class="row" style="padding-top:30px;">
							<div class="col-xs-8 col-md-6">
								<img src="/docs/images/styleguide/sg-toast-screen.png" style="border:1px solid #dddddd;">
								<p>
									<i>Above: Toast display on medium to large screens.</i>
								</p>
							</div>
							<div class="col-xs-5 col-sm-5 col-md-3">
								<img src="/docs/images/styleguide/sg-toast-mobile.png" style="border:1px solid #dddddd;">
								<p>
									<i>Above: Toast display on mobile devices.</i>
								</p>
							</div>
						</div> -->

        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>
  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>
