<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | Typography | MyService</title>
  <% include ../../partials/styleguide-styles-and-scripts.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <% include ../../partials/styleguide-header.ejs %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>Typography</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>Typography</h1>
          <div class="breakout">
            <p>Typography describes the fonts, heading size relationships, line and character spacing and styling of specific HTML
              textual elements.</p>
          </div>

          <h2>Fonts</h2>
          <p>
            <b>OpenSans</b> is the font used.</p>
          <p>OpenSans is a system font. During research, the DTA met many Australians living in rural and remote areas with limited
            internet access. Using system fonts makes the load times faster, allowing users to access content and make transactions
            more efficiently.</p>

          <hr>

          <h2>Headings</h2>
          <p>MyService uses the DTA's default
            <a href="https://uikit.service.gov.au/packages/headings/tests/site/" rel="external" target="_blank">UI-Kit heading styles</a> with some additional overrides. All HTML
            headings,
            <font color="red">&#60;h1&#62;</font> through
            <font color="red">&#60;h6&#62;</font>, are available.</p>

          <div class="example-box">
            <h6>HEADING EXAMPLES</h6>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <h1>h1 heading</h1>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>h2 heading</h2>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>h3 heading</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>h4 heading</h4>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>h5 heading</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6>h6 heading</h6>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <h4>Secondary heading text</h4>
          <p>The
            <font color="red">&#60;span&#62;</font> tag can be used for
            <font color="red">&#60;h1&#62;</font> and
            <font color="red">&#60;h2&#62;</font> for displaying additional heading content with less visual importance.</p>

          <div class="example-box">
            <h6>SECONDARY HEADING CONTENT</h6>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <h1>h1 heading
                      <span>Additional heading content - inline</span>
                    </h1>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>h2 heading
                      <span class="display-block">Additional heading content - new line</span>
                    </h2>
                  </td>
                </tr>
                <tr>
                  <td class="example-code">
                    <code>&#60;h1&#62;h1 heading &#60;span&#62;Additional heading content - inline&#60;/span&#62;&#60;/h1&#62;</code>
                    <br>
                    <code>&#60;h2&#62;h2 heading&#60;span class="display-block"&#62;Additional heading content - inline&#60;/span&#62;&#60;/h2&#62;</code>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr>

          <h2>Body</h2>
          <p>MyService uses the DTA's default
            <a href="https://uikit.service.gov.au/packages/body/tests/site/" rel="external" target="_blank">UI-Kit body styles</a>. This is applied to the
            <font color="red">&#60;body&#62;</font>,
            <font color="red">&#60;p&#62;</font>,
            <font color="red">&#60;ol&#62;</font>, and
            <font color="red">&#60;ul&#62;</font> tags.</p>


          <div class="example-box">
            <h6>PARAGRAPH EXAMPLE</h6>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <p>This is an example of paragraph text. Note that when the paragraph reaches a certain width on the page, it wraps
                      to a new line. This is set by UI-Kit using the max-width parameter.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <h4>Full-width text override</h4>
          <p>Applying the class
            <font color="red">.text-fullwidth</font> will override the default paragraph wrapping. This feature should be used sparingly and with
            your users' needs in mind. Max-width on paragraph elements is set by UI-Kit to optimise readability, creating a consistent
            and easy to use interface.</p>

          <div class="example-box">
            <h6>EXAMPLE</h6>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <p class="text-fullwidth">This is an example of paragraph text with the text-fullwidth class applied. In this case, the text will no longer
                      wrap to a new line at a set point.</p>
                  </td>
                </tr>
                <tr>
                  <td class="example-code">
                    <p>
                      <code>&#60;p class="text-fullwidth"&#62;This is an example of paragraph text with the text-fullwidth class applied.
                        In this case, the text will no longer wrap to a new line at a set point.&#60;/p&#62;</code>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <% include ../../partials/styleguide-sidenav.ejs %>
      </div>
    </div>
  </main>
  <% include ../../partials/styleguide-footer.ejs %>
</body>

</html>