<%- include(components+"styleguide/styleguide-header", {
  heading: "Typography",
  claim: "Style Guide"
}) %>

  <p>Typography describes the fonts, heading size relationships, line and character spacing and styling of specific HTML
    textual elements.</p>

  <h2>Fonts</h2>
  <p class="line-through">
    <b>OpenSans</b> is the font used.</p>
  <p class="line-through">OpenSans is a system font. During research, the DTA met many Australians living in rural and remote areas with limited
    internet access. Using system fonts makes the load times faster, allowing users to access content and make transactions
    more efficiently.</p>

  <hr>

  <h2>Headings</h2>
  <p>MyService uses the DTA's default
    <a href="https://uikit.service.gov.au/packages/headings/tests/site/" rel="external" target="_blank">UI-Kit heading styles</a> with some additional overrides. All HTML
    headings,
    <font color="red">&#60;h1&#62;</font> through
    <font color="red">&#60;h6&#62;</font>, are available.</p>

  <div class="example-box">
    <h6>HEADING EXAMPLES</h6>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <h1>h1 heading</h1>
          </td>
        </tr>
        <tr>
          <td>
            <h2>h2 heading</h2>
          </td>
        </tr>
        <tr>
          <td>
            <h3>h3 heading</h3>
          </td>
        </tr>
        <tr>
          <td>
            <h4>h4 heading</h4>
          </td>
        </tr>
        <tr>
          <td>
            <h5>h5 heading</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h6>h6 heading</h6>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>An example of this component can be found <a href="/unauth/registration/register-6">here</a>.</p>
  <hr>
  <h2>Body</h2>
  <p>MyService uses the DTA's default
    <a href="https://uikit.service.gov.au/packages/body/tests/site/" rel="external" target="_blank">UI-Kit body styles</a>. This is applied to the
    <font color="red">&#60;body&#62;</font>,
    <font color="red">&#60;p&#62;</font>,
    <font color="red">&#60;ol&#62;</font>, and
    <font color="red">&#60;ul&#62;</font> tags.</p>
  <div class="example-box">
    <p>This is an example of paragraph text. Note that when the paragraph reaches a certain width on the page, it wraps
      to a new line. This is set by UI-Kit using the max-width parameter.</p>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <p>This is an example of paragraph text. Note that when the paragraph reaches a certain width on the page, it wraps
                to a new line. This is set by UI-Kit using the max-width parameter.</p>
            </script>
          </code>
        </pre>
    </div>
    <hr>
  </div>

<%- include(partials+"components/styleguide/styleguide-footer") %>
