<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Style Guide | GOV.AU UI-Kit | MyService</title>
  <%- include(partials+"components/styleguide/styleguide-styles-and-scripts") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">

  <%- include(partials+"components/styleguide/styleguide-header") %>

  <main>
    <div class="container" id="main-content">

      <nav class="uikit-breadcrumbs" aria-label="breadcrumb">
        <ul class="uikit-link-list uikit-link-list--inline">
          <li>
            <a href="/styleguide">Home</a>
          </li>
          <li>GOV.AU UI-Kit</li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-9">
          <h1>GOV.AU UI-Kit</h1>
          <div class="breakout">
            <p>MyService uses the Australian Government
              <a href="https://uikit.service.gov.au" rel="external" target="_blank">UI-Kit (version 2)</a>, a lean CSS framework for building accessible, standardised GOV.AU
              projects. It is currently
              in early draft release and open for public contribution.</p>
          </div>

          <hr>

          <h2>Documentation</h2>

          <p>GOV.AU UI-Kit is managed by the Digital Transformation Authority (DTA). You can view the current
            <a href="https://uikit.service.gov.au/" target="_blank" rel="external">documentation for GOV.AU UI-Kit here</a>. The DTA are currently creating a new version which will
            make it easier to
            get started with the design system.</p>

          <a href="https://uikit.service.gov.au/" class="uikit-btn uikit-btn--tertiary" rel="external">View the documentation</a>

          <hr>

          <h2>Modules</h2>

          <div class="row">
            <div class="col-md-8">
              <p>GOV.AU UI-Kit 2.0 is made up of a collection of 'modules'. Modules contain all the CSS required to style a specific
                set of components. Modules can be used independant from one another, so you can pick and choose which modules you
                need for your Government service.</p>
              <p>There are 24 available modules:</p>
              <ul class="uikit-modules">
                <li>@gov.au/core
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/accordion
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/animate
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/body
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/breadcrumbs
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/buttons
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/callout
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/control-input
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/cta-link
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/direction-links
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/footer
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/grid-12
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/header
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/headings
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/inpage-nav
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/keyword-list
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/link-list
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/page-alerts
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/progress-indicator
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/responsive-media
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/select
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/skip-link
                  <span>&#10003; Used by MyService</span>
                </li>
                <li>@gov.au/tags
                  <span>
                    <font color="red">&#x2717; Not used by MyService</font>
                  </span>
                </li>
                <li>@gov.au/text-inputs
                  <span>&#10003; Used by MyService</span>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <img src="/docs/images/styleguide/sg-uikit-modules.svg" class="uikit-responsive-media-img feature-image feature-image--modules"
                alt="GOV.AU UI-Kit 2.0 Modules icon">
            </div>
          </div>

          <hr>

          <h2>UI-Kit browser support</h2>
          <p>The following tables outline browser support for UI-Kit.</p>
          <p>Source:
            <a href="https://github.com/AusDTO/gov-au-ui-kit" rel="external">https://github.com/AusDTO/gov-au-ui-kit</a> (refer BROWSER-SUPPORT.md)</p>
          <h4>Mobile browsers</h4>
          <table class="table-responsive">
            <thead>
              <tr>
                <th>Browser</th>
                <th>Platforms</th>
                <th>Minimum version</th>
                <th>Advanced support status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Chrome</td>
                <td>Android, iOS</td>
                <td>21</td>
                <td>Tested (Android only)</td>
              </tr>
              <tr>
                <td>Firefox</td>
                <td>Android, iOS</td>
                <td>28</td>
                <td>Untested</td>
              </tr>
              <tr>
                <td>Safari</td>
                <td>iOS</td>
                <td>3.2</td>
                <td>Untested</td>
              </tr>
              <tr>
                <td>Android browser</td>
                <td>Android</td>
                <td>2.1</td>
                <td>Untested</td>
              </tr>
              <tr>
                <td>IE</td>
                <td>Windows Mobile</td>
                <td>10</td>
                <td>Untested</td>
              </tr>
            </tbody>
          </table>

          <h4>Desktop browsers</h4>
          <table class="table-responsive">
            <thead>
              <tr>
                <th>Browser</th>
                <th>Platforms</th>
                <th>Advanced support status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Chrome</td>
                <td>Windows, OS X</td>
                <td>Tested </td>
              </tr>
              <tr>
                <td>Firefox</td>
                <td>Windows, OS X</td>
                <td>Tested</td>
              </tr>
              <tr>
                <td>Safari</td>
                <td>OS X</td>
                <td>Tested</td>
              </tr>
              <tr>
                <td>Opera</td>
                <td>Windows, OS X</td>
                <td>Untested</td>
              </tr>
              <tr>
                <td>Yandex</td>
                <td>Windows, OS X</td>
                <td>Untested</td>
              </tr>
              <tr>
                <td>Edge</td>
                <td>Windows</td>
                <td>Tested</td>
              </tr>
              <tr>
                <td>IE 10 and newer</td>
                <td>Windows</td>
                <td>Tested</td>
              </tr>
              <tr>
                <td>IE 9 and older</td>
                <td>Windows</td>
                <td>Tested - functional support only</td>
              </tr>
            </tbody>
          </table>
          <p>All browsers listed are latest stable release, except Internet Explorer.</p>

          <p>The kit uses a conditional styling mixin for specific versions of IE. This has been used by MyService when extending
            the kit.</p>

          <hr>


        </div>
        <%- include(partials+"components/styleguide/styleguide-sidenav") %>
      </div>
    </div>

  </main>
  <%- include(partials+"components/styleguide/styleguide-footer") %>
</body>

</html>