<%- include(components+"styleguide/styleguide-header", {
  heading: "Widgets",
  claim: "Style Guide"
}) %>

  <h2>Dashboard Widget</h2>
  <p>The dashboard widget displays a summary of important information for users on the home page. The widgets each feature a unique colour.</p>
  <div class="example-box">
    <div class="flex-container widgets-container">
      <div class="widget-tile widget-tile__tasks widget-tile--half-width" id="widget-tasks" style="">
        <div class="widget-tile__title">
          <span class="widget-tile__title-text">Tasks</span>
          <span class="widget-tile__title-icon fa fa-angle-right"></span>
        </div>
        <div class="widget-tile__content widget-tile__content--tasks">
          <div class="widget-tile__stats margin-below--none">
            <span id="task_text" class="widget-number widget-number--red">3</span>
            <span id="tasks-text">Tasks <span class="handheld-hide">to complete</span></span>
          </div>
        </div>
      </div>
      <div class="widget-tile widget-tile--blue widget-tile--half-width" id="widget-claims" style="display: block;">
        <a href="/auth/claim">
          <div class="widget-tile__title">
            <span class="widget-tile__title-text">Claims</span>
            <span class="widget-tile__title-icon fa fa-angle-right"></span>
          </div>
          <div class="widget-tile__content claims-tile">
            <span id="claims-incomplete" class="widget-tile__stats" style="display: flex;"><span class="widget-number"
                id="text-reflect-incomplete">1</span>Incomplete</span>
            <span id="claims-submitted" class="widget-tile__stats" style="display: flex;"><span class="widget-number" id="text-reflect-submitted">3</span>Submitted</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="accordion">
    <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
    <div class="accordion-content" style="display: none;">
      <pre>
          <code class="language-markup">
            <script type="text/plain">
              <div class="widget-tile__title">
                <span class="widget-tile__title-text">Tasks</span>
                <span class="widget-tile__title-icon fa fa-angle-right"></span>
              </div>
              <div class="widget-tile__content widget-tile__content--tasks">
                <div class="widget-tile__stats margin-below--none">
                  <span id="task_text" class="widget-number widget-number--red">3</span>
                  <span id="tasks-text">Tasks <span class="handheld-hide">to complete</span></span>
                </div>
              </div>
            </div>
            </script>
          </code>
        </pre>
    </div>
  </div>

  <p>An example of this component can be found <a href="/auth/">here</a>.</p>
  <hr>
  
<%- include(partials+"components/styleguide/styleguide-footer") %>