<div class="upload-list">
  <table class="table-responsive table-responsive--no-border">
    <tbody>
      <tr class="pt-proofOfRelationshipClaimantStudent accordion accordion--open ">
        <td class="file-status file-status--required">
          <span class="sr">Required</span>
        </td>
        <td>
          <span>
            <b>Your proof of relationship to the veteran</b>
          </span>
          <span class=" accordion-title__details">For example, birth certificate, adoption order or family court order.</span>
        </td>
        <td class="right">
          <div class="file-upload">
            <input type="file" class="file-upload__input" id="file-1">
            <label class="file-upload__label" for="file-1">
              <span class="file-upload__document">
                <a class="file-upload__file-name"></a>
              </span>
              <span class="file-upload__button">
                <span class="uikit-btn small">Upload</span>
              </span>
            </label>
          </div>
        </td>
        <td>
          <a href="javascript:void(0);" class="accordion__trigger accordion__trigger--open">
            <span class="sr">Toggle accordion</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="hint">If you are unable to attach the required documents at this time, you may still submit your claim. The remaining documents can be attached to this claim on
    the Claims page as soon as they are available.</p>
</div>
