<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Home | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../global/partials/header-topbar.ejs %>
        <% include ../../global/partials/header-authenticated--healthcard.ejs %>
            <main>
                <section>
                    <div class="container" id="main-content">
                        <p style="color: #cc0000; background-color: #fff6c3; border-radius: 4px; padding: 1em; display: inline;">
                            <strong>Users with PMKeys, a submitted NLHC claim but no approved IL claims</strong> will see this page.
                            <a href="/healthcard-none">Previous</a> |
                            <a href="/healthcard-home">Next</a> &nbsp;
                        </p>
                        <% include ../../global/partials/breadcrumb-healthcard.ejs %>
                    </div>
                    <div class="section-feature">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1>Your DVA Health card </h1>
                                    <p>Your DVA Health card (White card) is now being prepared. Your card covers the cost of
                                        treatment for any mental health condition.</p>
                                    <div class="tip--wrapper tip-warning tip--white">
                                        <p>If you need
                                            <b>immediate treatment</b>, call us on
                                            <a href="tel:1800123456">1800 123 456</a> or keep your receipts and
                                            <a href="https://www.dva.gov.au/dvaforms/Documents/D1181.pdf" rel="external" target="_blank">request reimbursement from DVA</a>
                                            </b>

                                        </p>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div id="whitecard" class="healthcard-container margin-above margin-above--extra">
                                        <img src="../../../docs/images/health-card-pending.png" style="width:22em;">
                                        <div id="card-number">
                                            <span class="card-text">&nbsp;</span>
                                        </div>
                                        <div id="card-name">
                                            <span class="card-text">&nbsp;</span>
                                        </div>
                                        <div id="card-date">
                                            <span class="card-text">12 / 22</span>
                                        </div>
                                        <div id="card-pending">
                                            <span class="card-text--red">Your Health card is on its way</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>


                <div class="container">
                    <br>
                    <br>
                    <section class="widget">
                        <div class="widget-header">
                            <h2>
                                <img src="../../../docs/images/ico-card.svg" alt=""> Accepted conditions</h2>
                        </div>
                        <div class="row widget-content widget--justclaims">
                            <div class="col-md-12">
                                <table class="table-claims">

                                    <tr>
                                        <td>
                                            <p class="status-icon status-approved">
                                                Mental Health Treatment (NLHC)
                                                <br />
                                                <span>Approved

                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- container -->

                <% include ../../auth/partials/healthcard-howtouse.ejs %>


            </main>
            <% include ../../auth/partials/modal-deleteclaim.ejs %>
                <% include ../../global/partials/footer.ejs %>


</body>

</html>