<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Home | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../global/partials/header-topbar.ejs %>
        <% include ../../global/partials/header-authenticated--healthcard.ejs %>
            <main>
                <section>
                    <div class="section-feature margin-above margin-above--none" id="main-content">
                        <div class="container margin-above margin-below">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1>Your DVA Health card </h1>
                                    <p>You can use your DVA Health card (White card) to access health services for your accepted
                                        conditions.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div id="whitecard" class="healthcard-container">
                                        <img src="../../../docs/images/health-card.png" style="width:22em;">
                                        <div id="card-number">
                                            <span class="card-text">VX000000</span>
                                        </div>
                                        <div id="card-name">
                                            <span class="card-text">ROBERT JOHNSON</span>
                                        </div>
                                        <div id="card-date">
                                            <span class="card-text">12 / 22</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">
                    <br>
                    <section class="widget">
                        <div class="widget-header">
                            <h2>
                                <img src="../../../docs/images/ico-card.svg" alt=""> Accepted conditions</h2>
                        </div>
                        <div class="row widget-content widget--justclaims">
                            <div class="col-md-12">
                                <table class="table-claims">

                                    <tr>
                                        <td>
                                            <p class="status-icon status-approved">
                                                Lumbar Spondylosis
                                                <br />
                                                <span>Approved
                                                    <em>&ndash; 06 Feb 2018</em>
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="status-icon status-approved">
                                                Mental Health Treatment (NLHC)
                                                <br />
                                                <span>Approved

                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- container -->

                <div class="container">
                    <p>
                        <i> The above details were last updated on 23 February 2018. If incorrect, please try logging in again
                            later or contact us.</i>
                    </p>
                </div>

                <% include ../../auth/partials/healthcard-howtouse.ejs %>
                    <div class="container">
                        <p style="color: #cc0000;" class="floated">
                            <strong>Users with PMKeys, a UIN and a White card</strong> will see this page.
                            <a href="/healthcard-gold">Next</a>
                        </p>
                    </div>


            </main>
            <% include ../../auth/partials/modal-deleteclaim.ejs %>
                <% include ../../global/partials/footer.ejs %>


</body>

</html>