<!DOCTYPE html>
<html class="js" lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Home | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
	<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
	<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
	<% include ../../global/partials/header-topbar.ejs %>
	<% include ../../global/partials/header-authenticated--healthcard.ejs %>
	<main>
			<section>
            <div class="container" id="main-content">
                <% include ../../global/partials/breadcrumb-healthcard.ejs %>
            </div>
            <div class="section-feature">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Your DVA Health card </h1>
                            <p>You can use your DVA Health card (White card) to access health services for the following accepted conditions:</p>
                        </div>
                        <div class="col-md-6" id="healthcard-container">
                            <img src="../../../docs/images/health-card.png" style="width:22em;">
                            <div id="card-number"><span class="card-text">1234 5678 9012 3456</span></div>
                            <div id="card-name"><span class="card-text">MARY SMITH</span></div>
                            <div id="card-date"><span class="card-text">12 / 22</span></div>
                        </div>
                    </div>
                </div>
            </div>



			  <!-- <div class="container" id="main-content">
                <% include ../../global/partials/breadcrumb-healthcard.ejs %>
                <h2>Your DVA Health card (White card)</h2>
                <p>You can use your DVA Health card to access health services for the following accepted conditions:</p>
                <div id="healthcard-container"><img src="../../../docs/images/health-card.png" style="width:22em;">
                    <div id="card-number"><span class="card-text">1234 5678 9012 3456</span></div>
                    <div id="card-name"><span class="card-text">MARY SMITH</span></div>
                    <div id="card-date"><span class="card-text">12 / 22</span></div>
                </div>

            </div> -->
            </section>	
            	 
            <div class="authenticated-home">
                <div class="container">	
                <section class="widget">    
                    <div class="widget-header">  
                    <h2><img src="../../../docs/images/ico-card.svg" alt=""> Accepted conditions</h2>
                    </div>
                    <div class="row widget-content widget--justclaims">
                    <div class="col-md-12">
                        <table class="table-claims">

                        <tr>
                            <td>
                            <p class="status-icon status-approved">
                                Lumbar Spondylosis<br />
                                <span>Approved <em>&ndash; 06 Feb 2018</em></span>
                            </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <p class="status-icon status-approved">
                                Mental Health Treatment (NLHC)<br />
                                <span>Approved <em>&ndash; 06 Dec 2017</em></span>
                            </p>
                            </td>
                        </tr>
                        </table>
                        
                        <button class="uikit-btn widget-btn" onclick="window.location.href = '/index-claims'">See all claims</button>
                    </div>
                    </div>
                </section>
                </div><!-- container --> 
            

                <div class="section-feature">
                    <div class="container">
                        <h2>How to use your Health card</h2>
                        <div class="row">
                            <div class="col-sm-4 healthcard-steps">
                                <div><img src="../../../docs/images/healthcard-step1.png"></div>
                                <p class="description">Check with your health care provider that they accept the DVA Health card.</p></div>
                            <div class="col-sm-4 healthcard-steps">
                                <div><img src="../../../docs/images/healthcard-step2.png"></div>
                                <p class="description">Show your Health card when you receive medical treatment for your condition.</p>
                                <p>You can also use <a href="../../../docs/images/healthcard-example-letter.png" target="_blank" rel="external">the letter</a> you received from us if your card has not arrived yet.</p>
                            </div>
                            <div class="col-sm-4 healthcard-steps">
                                <div><img src="../../../docs/images/healthcard-step3.png"></div>
                                <p class="description">You don’t have to pay for treatment if it relates to any of your approved conditions.</p>
                            </div>
                        </div>
                        <div class="tip--wrapper" style="margin:2em 0 2em 0;">
                            If you are billed by your health care provider, <b>do not</b> pay the account and tell DVA immediately on 133 254 (or 1800 555 254 in regional areas). If you've already paid for treatment you can <a href="https://www.dva.gov.au/dvaforms/Documents/D1181.pdf" rel="external" target="_blank">make an application for reimbursement</a>.
                        </div>
                    </div>
                </div>
            </div>

	</main>
	<% include ../../auth/partials/modal-deleteclaim.ejs %>
	<% include ../../global/partials/footer.ejs %>
	

</body>
</html>