<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar.ejs %>
    <% include ../../global/partials/header-authenticated.ejs %>
      <main>
        <section>
          <div class="section-feature section-feature--bg margin-above--none" id="main-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="margin-below--small">
                    <span class="heading">Health card</span>
                  </h1>
                  <h2>You can use your DVA Health card (Gold card) to access health services within Australia.</h2>
                </div>

                <div class="col-md-6 margin-above">
                  <div id="whitecard" class="healthcard-container">
                    <img src="../../../docs/images/health-card-gold.png" style="width:22em;">
                    <div id="card-number">
                      <span class="card-text">VX000000</span>
                    </div>
                    <div id="card-name">
                      <span class="card-text">ROBERT JOHNSON</span>
                    </div>
                    <div id="card-date">
                      <span class="card-text">12 / 22</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="card-name">
            <span class="card-text">ROBERT JOHNSON</span>
          </div>
          <div id="card-date">
            <span class="card-text">12 / 22</span>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
        </section>

        <% include ../../auth/partials/healthcard-howtouse.ejs %>
          <div class="container">
            <p style="color: #cc0000;" class="floated">
              <strong>Users with PMKeys, a UIN and a Gold card</strong> will see this page.
              <a href="/healthcard-home">Previous</a> |
              <a href="/healthcard-gold-tpi">Next</a>
            </p>
          </div>

      </main>
      <% include ../../auth/partials/modal-deleteclaim.ejs %>
        <% include ../../global/partials/footer.ejs %>


</body>

</html>