<!DOCTYPE html>
<html class="js" lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Home | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
	<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
	<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
	<% include ../../global/partials/header-topbar.ejs %>
	<% include ../../global/partials/header-authenticated--healthcard.ejs %>
	<main>
		<div >
			<section>
			  <div class="container" id="main-content">
                <% include ../../global/partials/breadcrumb-healthcard.ejs %>
                <h2>Your DVA Health card (White card)</h2>
                <p>You can use your DVA Health card to access health services for the following accepted conditions:</p>
                <div id="healthcard-container"><img src="../../../docs/images/health-card.png" style="width:22em;">
                    <div id="card-number"><span class="card-text">1234 5678 9012 3456</span></div>
                    <div id="card-name"><span class="card-text">MARY SMITH</span></div>
                    <div id="card-date"><span class="card-text">12 / 22</span></div>
                </div>

            </div>
            </section>	
            	 
            <div class="authenticated-home">
                <div class="container">	
                <section class="widget">    
                    <div class="widget-header">  
                    <h2><img src="../../../docs/images/ico-card.svg" alt=""> Accepted conditions</h2>
                    </div>
                    <div class="row widget-content widget--justclaims">
                    <div class="col-md-12">
                        <table class="table-claims">
                        <tr>
                            <th class="activity">Most recent claims</th>
                            <th class="actions">Actions</th>
                        </tr>
                        <tr>
                            <td>
                            <p class="status-icon status-approved">
                                Lumbar Spondylosis<br />
                                <span>Approved <em>&ndash; 06 Feb 2018</em></span>
                            </p>
                            </td>
                            <td class="actions"><button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button></td>
                        </tr>
                        <tr>
                            <td>
                            <p class="status-icon status-approved">
                                Mental Health Treatment (NLHC)<br />
                                <span>Approved <em>&ndash; 06 Dec 2017</em></span>
                            </p>
                            </td>
                            <td class="actions"><button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = 'viewNLHCClaimDetail'">View</button></td>
                        </tr>
                        </table>
                        
                        <button class="uikit-btn widget-btn" onclick="window.location.href = 'claim1'">Add claim</button>
                        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/index-claims'">See all claims</button>
                    </div>
                    </div>
                    </div>
                </section>
                </div><!-- container --> 

                </section>
        
		</div>
	</main>
	<% include ../../auth/partials/modal-deleteclaim.ejs %>
	<% include ../../global/partials/footer.ejs %>
	

</body>
</html>