<!DOCTYPE html>
<html class="js" lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width" name="viewport">
	<title>Health card | MyService</title>
	<link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid uikit-refactor">
	<noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
	<nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
	<% include ../../global/partials/header-topbar.ejs %>
	<% include ../../global/partials/header-authenticated.ejs %>
	<main>	
		<div class="container" id="main-content">
			<h1>Health Card</h1>
			
			<div class="row">
				<div class="col-sm-6">

					<h2>Your DVA Health card (White card)</h2>

					<p>You can use your DVA Health card to access health services for the following accepted conditions:</p>
					<ul class="boxed-list-items">
						<li><b>Lumbar spondylosis</b></li>
						<li><b>Sprained ankle</b></li>
					</ul>
					<button class="uikit-btn uikit-btn--secondary small" onclick="window.location.href = '/health-card1'">Add mental health treatment to my card</button>
				</div>
				<div class="col-sm-6" style="text-align:center;">
					<div class="health-card">
					<img src="../../docs/images/health-card.png" width="350">
					<h2>NSM 928</h2>
					</div>
					<div style="padding-bottom:10px;"><i>Above: an example DVA Health card (White card)</i></div>
				</div>
			</div>
		</div>
		<div class="scroll-down bounce"><a href="#section2"><img src="../../../docs/images/ico-scroll-down.png"></a></div>
    	<% include ../../global/partials/scroll-down.ejs %>
    	<div id="section2" style="background-color:#f4f4f4; padding:30px 0 60px 0; margin:20px 0 20px 0;">
			<div class="container">
				<h2>How to use your Health card</h2>
				<div class="row">
					<div class="col-sm-4 healthcard-steps">
						<div class="image"><img src="../../../docs/images/healthcard-step1.png"></div>
						<p class="description">Check with your health care provider that they accept the DVA Health card.</p></div>
					<div class="col-sm-4 healthcard-steps">
						<div class="image"><img src="../../../docs/images/healthcard-step2.png"></div>
						<p class="description">Show your Health card when you receive medical treatment for your condition.</p>
						<p>You can also use <a href="../../docs/images/healthcard-example-letter.png" target="_blank" rel="external">the letter</a> you received from us if your card has not arrived yet.</p>
					</div>
					<div class="col-sm-4 healthcard-steps">
						<div class="image"><img src="../../../docs/images/healthcard-step3.png"></div>
						<p class="description">You don’t have to pay for treatment if it relates to any of your approved conditions.</p>
					</div>
				</div>
				<div class="tip--wrapper" style="margin:2em 0 2em 0;">
					If you are billed by your health care provider, <b>do not</b> pay the account and tell DVA immediately on 133 254 (or 1800 555 254 in regional areas). If you've already paid for treatment you can <a href="https://www.dva.gov.au/dvaforms/Documents/D1181.pdf" rel="external" target="_blank">make an application for reimbursement</a>.
				</div>
				<div class="scroll-down bounce"><a href="#section3"><img src="../../../docs/images/ico-scroll-down.png"></a></div>
			</div>
    	</div>
    	
	</main>
   
	<% include ../../global/partials/footer.ejs %>

</body>
</html>