<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Home | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../global/partials/header-topbar.ejs %>
        <% include ../../global/partials/header-authenticated--healthcard.ejs %>
            <main>
                <section>
                    <div class="section-feature section-feature--bg margin-above--none" id="main-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="margin-below--mid">
                                        <span class="heading">Health card</span>
                                    </h1>
                                    <div class="tip--wrapper tip-warning tip--white">
                                        <p>
                                            <b>Our records show you do not have a Health card.</b>
                                            <br>You will be sent a Health card if your claim for initial liability is accepted.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <p style="color: #cc0000;" class="floated">
                            <strong>Users with PMKeys, a UIN (the result of a submitted IL claim) but no Health card</strong> will
                            see this page.
                            <a href="/healthcard-gold-Tpi">Previous</a> |
                            <a href="/healthcard-nlhc">Next</a>
                        </p>
                    </div>

                </section>

                </div>
                </div>

            </main>

            <% include ../../global/partials/footer.ejs %>


</body>

</html>