<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Home | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
  <link href="docs/css/fontawesome/css/all.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../global/partials/header-topbar.ejs %>
  <% include ../../global/partials/header-authenticated.ejs %>
<% include ../../global/partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="section-feature margin-above--none" id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="margin-below--small ss-align">
                <span class="heading">Veteran Card</span>
              </h1>
              <p class="medium-text margin-above">You can use your Gold Card to access health services within Australia.
              </p>
            </div>
            <div class="col-md-6 margin-above">
              <div id="whitecard" class="healthcard-container">
                <img class="white-card-image" src="../../../docs/images/health-card-gold.png">
                <div id="card-number">
                  <span class="card-text">VX000000</span>
                </div>
                <div id="card-name">
                  <span class="card-text">ROBERT JOHNSON</span>
                </div>
                <div id="card-date">
                  <span class="card-text">12 / 22</span>
                </div>
                <!-- <div class="cantered-item">
                      <a id="replace-card" href="healthcard-replacement">Request a replacement card</a>
                    </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <div class="container margin-above--extra margin-below--extra">

      <% include ../partials/healthcard-howtouse.ejs %>

    </div>



  </main>
  <% include ../../auth/partials/modal-deleteclaim.ejs %>
  <% include ../../global/partials/footer.ejs %>


</body>

</html>