<!DOCTYPE html>
<html class="js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <title>Home | MyService</title>
    <link href="docs/css/main.css" rel="stylesheet">
</head>

<body class="uikit-body uikit-grid uikit-refactor">
    <noscript>
        <p role="alert">This website needs JavaScript to work properly.</p>
    </noscript>
    <nav class="uikit-skip-link">
        <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
    </nav>
    <% include ../../global/partials/header-topbar.ejs %>
        <% include ../../global/partials/header-authenticated--healthcard.ejs %>
            <main>
                <section>
                    <div class="container" id="main-content">
                        <p style="color: #cc0000; background-color: #fff6c3; border-radius: 4px; padding: 1em; display: inline;">
                            <strong>Users with PMKeys, a UIN and a Gold card</strong> will see this page.
                            <a href="/healthcard-home">Previous</a> |
                            <a href="/healthcard-gold-tpi">Next</a>
                        </p>
                        <% include ../../global/partials/breadcrumb-healthcard.ejs %>
                    </div>
                    <div class="section-feature">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1>Your DVA Health card </h1>
                                    <p>You can use your DVA Health card (Gold card) to access health services within Australia.</p>
                                </div>

                                <!--
                        ** Show/Hide the appropriate card using:
                        **
                        ** .healthcard-container#whitecard
                        ** .healthcard-container#goldcard
                        **
                        -->

                                <div class="col-md-6">

                                    <!-- Gold Card -->
                                    <div id="whitecard" class="healthcard-container">
                                        <img src="../../../docs/images/health-card-gold.png" style="width:22em;">
                                        <div id="card-number">
                                            <span class="card-text">VX000000</span>
                                        </div>
                                        <div id="card-name">
                                            <span class="card-text">ROBERT JOHNSON</span>
                                        </div>
                                        <div id="card-date">
                                            <span class="card-text">12 / 22</span>
                                        </div>
                                    </div>
                                    <!-- //Gold Card -->
                                </div>

                            </div>
                        </div>
                    </div>


                </section>

                <% include ../../auth/partials/healthcard-howtouse.ejs %>

            </main>
            <% include ../../auth/partials/modal-deleteclaim.ejs %>
                <% include ../../global/partials/footer.ejs %>


</body>

</html>