<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
<% include ../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../partials/header-topbar.ejs %>
  <% include ../../../partials/header-authenticated.ejs %>
  <% include ../../../partials/header-nom-rep.ejs %>
  <main>
    <section>
      <div class="section-feature margin-above--none" id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="margin-below--small ss-align">
                <span class="heading">Veteran Card</span>
              </h1>
              <p class="medium-text margin-above">Making it easier to recognise and respect the unique contribution you have made to Australia.
              </p>
            </div>
            <div class="col-md-6 margin-above">
              <div id="whitecard" class="healthcard-container">
                <img class="white-card-image" src="../../../docs/images/health-card.png">
                <div id="card-number">
                  <span class="card-text">VX000000</span>
                </div>
                <div id="card-name">
                  <span class="card-text"><span class="pt-current-user-name-full"></span></span>
                </div>
                <div id="card-date">
                  <span class="card-text">12 / 22</span>
                </div>
                <!-- <div class="cantered-item">
                  <a id="replace-card" href="healthcard-replacement">Request a replacement card</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


    <div class="container margin-above--extra margin-below--extra">
      <h2>
        <span class="font-weight-heavy">What's on your card</span>
      </h2>
      <p>You can access free treatment for any conditions listed on your DVA Veteran Card.<br>The following accepted conditions are listed on your card:</p>

      <section class="widget margin-below--extra">
        <div class="row widget-content widget--justclaims">
          <div class="col-md-12">
            <table class="table-claims">
              <!-- <tr>
                <td>
                  <p class="status-icon status-approved">
                    Lumbar Spondylosis
                    <br />
                    <span>Approved
                      <em>&ndash; 06 Feb 2018</em>
                    </span>
                  </p>
                </td>
              </tr> -->
              <tr>
                <td>
                  <p class="status-icon status-approved">
                    Mental Health Treatment (NLHC)
                    <br />
                    <span>Approved

                    </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="status-icon status-approved">
                    Hearing loss
                    <br />
                    <span>Approved

                    </span>
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <% include ../../../partials/auth-healthcard-howtouse.ejs %>

    </div>

  </main>
  <% include ../../../partials/auth-modal-deleteclaim.ejs %>
  <% include ../../../partials/footer.ejs %>

  <script>
    var queryString = location.search.substr(1);
    var settings = {}
    queryString.split('&').forEach(function (pItem) {
      var item = pItem.split('=');

      settings[item[0]] = item.length > 1 ? decodeURIComponent(item[1]) : true;
    })

    if (settings['max-requests']) {
      document.getElementById('replace-card').href = 'healthcard-replacement-fail'
    }
  </script>
</body>

</html>