<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Accounts: Nom Rep | MyService</title>
  <%- include(partials+"head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"header-topbar") %>
    <%- include(partials+"header-nom-rep") %>
      <main>
        <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
          <!-- Page heading -->
          <h1 class="margin-above--none ss-align--center">
            <span class="heading">Welcome to DVA online, Robert</span>
          </h1>
        </div>
        <div class="nr-accounts">
          <div class="container">
            <h2>Who's account would you like to access?</h2>
            <div class="form-group">
              <div class="margin-above--large">
                <div class="account-one">
                  <label class="radio-tile">
                    <div class="row">
                      <div class="col-md-1">
                        <input id="enquire" class="sr" type="radio" name="la-top" value="sp-la-a">
                        <span>
                          <icon class="radio_tile__icon fal fa-user fa-3x" style="padding: 0 1em 0 0;"></icon>
                      </div>
                      <div class="col-md-9">
                        <h2>Robert Smith <span class="hint">(you)</span></h2><br />
                        <span class="hint"><em>&nbsp;</em></span>
                      </div>
                      <div class="col-md-2">
                        <icon class="radio_tile__icon far fa-angle-right fa-3x" style="padding: 0 1em 0 0;"></icon>
                      </div>
                      </span>
                  </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="margin-above--mid">
                <div class="account-one">
                  <label class="radio-tile">
                    <div class="row">
                      <div class="col-md-1">
                        <input id="enquire" class="sr" type="radio" name="la-top" value="sp-la-a">
                        <span>
                          <icon class="radio_tile__icon fal fa-user fa-3x" style="padding: 0 1em 0 0;"></icon>
                      </div>
                      <div class="col-md-9">
                        <h2>Luke Smith <span class="hint">(father)</span></h2><br />
                        <span class="hint"><em>You may act on behalf</em></span>
                      </div>
                      <div class="col-md-2">
                        <icon class="radio_tile__icon far fa-angle-right fa-3x" style="padding: 0 1em 0 0;"></icon>
                      </div>
                      </span>
                  </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="margin-above--mid">
                <div class="account-one">
                  <label class="radio-tile">
                    <div class="row">
                      <div class="col-md-1">
                        <input id="enquire" class="sr" type="radio" name="la-top" value="sp-la-a">
                        <span>
                          <icon class="radio_tile__icon fal fa-user fa-3x" style="padding: 0 1em 0 0;"></icon>
                      </div>
                      <div class="col-md-9">
                        <h2><span class="pt-current-client-nameFirst"></span> <span class="pt-current-client-nameLast"></span> <span class="hint">(friend)</span></h2><br />
                        <span class="hint"><em>You may enquire</em></span>
                      </div>
                      <div class="col-md-2">
                        <icon class="radio_tile__icon far fa-angle-right fa-3x" style="padding: 0 1em 0 0;"></icon>
                      </div>
                      </span>
                  </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include(partials+"footer") %>

        <script>

        </script>

</body>

</html>
