<div class="card-v2__wrapper">
  <div class="card-v2">
    <div class="card-v2__content">
      <a href="#" class="card-v2__title">Initial Liability</a>
      <div class="card-v2__description">Your first step towards treatment and support for a service-related injury or
        condition.
      </div>
    </div>
    <div class="card-v2__icon"><i class="fas fa-chevron-right"></i></div>
  </div>
</div>