<% var id, title, text, link; %>

<div tabindex="0" id="<%- id ? id : "" %>" onclick="window.location='<%- link %>'" class="card-v2__wrapper">
  <h3 class="mys h3 card-v2__title"><%- title ? title : "" %></h3>
  <div class="card-v2__description"><%- text ? text : "" %></div>
  <div class="card-v2__icon"><i class="fas fa-chevron-right"></i></div>
</div>