<div class="card-v2">
  <a class="card-v2__content">
    <h2 class="card-v2__title"><span class="card-v2__link">Initial Liability<span></h2>
    <div class="card-v2__description">Your first step towards treatment and support for a service-related injury or
      condition.
    </div>
    <div class="card-v2__icon"><i class="fas fa-chevron-right"></i></div>
  </a>
</div>