<% var id, title, message %>

<div class="dashboard-callout" id="<%- id ? id : "" %>">
    <div class="dashboard-callout__header">
        <h3 class="dashboard-callout__heading"><%- title ? title : "Callout heading" %></h3>
        <div class="dashboard-callout__close" id="close-message"><i class="fal fa-times-circle fa-lg"></i>
        </div>
    </div>
    <div class="dashboard-callout__text">
        <%- message ? message : "Callout message text here" %>
    </div>
</div>