<% 
    var title, text, link, number, highlight, id;
    highlight ? highlight = highlight : highlight = false; 
%>

<div id="<%- id ? id : " " %>" class="dashboard-widget <%- highlight ? "dashboard-widget--pink" : " "%>">
    <a href="<%- link ? link : " " %>">
        <div class="dashboard-widget__top-border"></div>
        <div class="dashboard-widget__header">
            <h2 class="dashboard-widget__title">
               Track claims
            </h2>
        </div>
        <div>
            <div class="dashboard-widget__content">
                <!-- <div >
                    <span class="dashboard-widget__number">2</span>
                    <span class="dashboard-widget__text">incomplete</span>
                </div> -->
                <!-- <div class="break-column"></span> -->
                <!-- <div > -->
                    <span class="dashboard-widget__number">12</span>
                    <span class="dashboard-widget__text">submitted</span>
                <!-- </div> -->
            </div>
        </div>
    </a>
</div>