<h2>Example 1 - no files uploaded</h2>

<section class="mys-file-uploads">
	<div class="mys-file-uploads__items">
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item mys-file-uploads__item--message">
				<div class="mys-file-uploads__message">No documents uploaded</div>
				<div>
					<button class="uikit-btn uikit-btn--tertiary">Upload document</button>
				</div>
			</div>
		</div>
	</div>
	<div class="mys-file-uploads__uploads-actions">
		<!-- <button class="uikit-btn small uikit-btn--tertiary">Add another</button> -->
	</div>
</section>

<h2>Example 2 - file name only</h2>

<section class="mys-file-uploads">
	<div class="mys-file-uploads__items">
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 111 AAA .png</a>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 222 AAA .png</a>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
	</div>
	<div class="mys-file-uploads__uploads-actions">
		<button class="uikit-btn small uikit-btn--tertiary">Add another</button>
	</div>
</section>

<h2>Example 3 - fixed types</h2>

<section class="mys-file-uploads">
	<div class="mys-file-uploads__items">
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 111 AAA .png</a>
						</div>
					</div>
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<div>
								<strong>Proof of residence</strong>
							</div>
							<div>For example, school report or institution letter.</div>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 222 AAA .png</a>
						</div>
					</div>
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<div>
								<strong>Part-time study reason</strong>
							</div>
							<div>For example, school report or institution letter.</div>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item mys-file-uploads__item--required">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--pending">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<div>
								<strong>Proof of relationship</strong>
							</div>
							<div>For example, birth certificate or adoption order.</div>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
				</div>
			</div>
		</div>
	</div>
	<div class="mys-file-uploads__uploads-actions">
		<!-- <button class="uikit-btn small uikit-btn--tertiary">Add another</button> -->
	</div>
</section>

<h2>Example 4 - user defined types</h2>

<section class="mys-file-uploads">
	<div class="mys-file-uploads__items">
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 111 AAA .png</a>
						</div>
					</div>
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<select class="uikit-text-input input-half">
								<option value="">-- Select type --</option>
								<option value="" selected>Proof of residence</option>
								<option value="">Part-time study reason</option>
								<option value="">Proof of relationship</option>
							</select>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 222 AAA .png</a>
						</div>
					</div>
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<select class="uikit-text-input input-half">
								<option value="">-- Select type --</option>
								<option value="">Proof of residence</option>
								<option value="" selected>Part-time study reason</option>
								<option value="">Proof of relationship</option>
							</select>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 333 AAA.png</a>
						</div>
					</div>
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<select class="uikit-text-input input-half">
								<option value="">-- Select type --</option>
								<option value="">Proof of residence</option>
								<option value="">Part-time study reason</option>
								<option value="" selected>Proof of relationship</option>
							</select>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
	</div>
	<div class="mys-file-uploads__uploads-actions">
		<button class="uikit-btn small">Add another</button>
	</div>
</section>

<h2>Example 5 - mixed types</h2>

<section class="mys-file-uploads">
	<div class="mys-file-uploads__items">
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 111 AAA .png</a>
						</div>
					</div>
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<div>
								<strong>Proof of residence</strong>
							</div>
							<div>For example, school report or institution letter.</div>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 222 AAA .png</a>
						</div>
					</div>
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<div>
								<strong>Part-time study reason</strong>
							</div>
							<div>For example, school report or institution letter.</div>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item mys-file-uploads__item--required">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--pending">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<div>
								<strong>Proof of relationship</strong>
							</div>
							<div>For example, birth certificate or adoption order.</div>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 222 AAA .png</a>
						</div>
					</div>
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<select class="uikit-text-input input-half">
								<option value="">-- Select type --</option>
								<option value="">Proof of residence</option>
								<option value="" selected>Part-time study reason</option>
								<option value="">Proof of relationship</option>
							</select>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--pending">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<select class="uikit-text-input input-half">
								<option value="">-- Select type --</option>
								<option value="">Proof of residence</option>
								<option value="">Part-time study reason</option>
								<option value="">Proof of relationship</option>
							</select>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
				</div>
			</div>
		</div>
	</div>
	<div class="mys-file-uploads__uploads-actions">
		<!-- <button class="uikit-btn small uikit-btn--tertiary">Add another</button> -->
	</div>
</section>


<h2>Example 6 - type validation error</h2>

<section class="mys-file-uploads">
	<div class="mys-file-uploads__items">
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--success">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<a href="#" class="">My document 111 AAA.png</a>
						</div>
					</div>
					<div class="mys-file-uploads__info-item has-error">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<p class="input-error-message">Select a document type</p>
							<select class="uikit-text-input input-half">
								<option value="">-- Select type --</option>
								<option value="">Proof of residence</option>
								<option value="">Part-time study reason</option>
								<option value="">Proof of relationship</option>
							</select>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
	</div>
	<div class="mys-file-uploads__uploads-actions">
		<button class="uikit-btn small">Add another</button>
	</div>
</section>

<h2>Example 7 - file validation error</h2>

<section class="mys-file-uploads">
	<div class="mys-file-uploads__items">
		<div class="mys-file-uploads__item-border">
			<div class="mys-file-uploads__item">
				<div class="mys-file-uploads__l-status">
					<div class="mys-file-uploads__status mys-file-uploads__status--error">
						<div class="mys-file-uploads__status-icon"></div>
						<div class="mys-file-uploads__status-sr">Success</div>
					</div>
				</div>
				<div class="mys-file-uploads__info">
					<div class="mys-file-uploads__info-item has-error">
						<label class="mys-file-uploads__label">File name</label>
						<div class="mys-file-uploads__value">
							<p class="input-error-message">File exceeds maximum size of 10MB</p>
						</div>
					</div>
					<div class="mys-file-uploads__info-item">
						<div class="mys-file-uploads__label">Document type</div>
						<div class="mys-file-uploads__value">
							<select class="uikit-text-input input-half">
								<option value="">-- Select type --</option>
								<option value="">Proof of residence</option>
								<option value="">Part-time study reason</option>
								<option value="">Proof of relationship</option>
							</select>
						</div>
					</div>
				</div>
				<div class="mys-file-uploads__item-actions">
					<button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
				</div>
			</div>
		</div>
	</div>
	<div class="mys-file-uploads__uploads-actions">
		<button class="uikit-btn small">Add another</button>
	</div>
</section>