<h2>No files uploaded</h2>

<div class="example-box">
  <section class="mys-file-uploads">
    <div class="mys-file-uploads__items">
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item mys-file-uploads__item--message">
          <div class="mys-file-uploads__message">No documents uploaded</div>
          <div>
            <button class="uikit-btn uikit-btn--tertiary">Upload document</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mys-file-uploads__uploads-actions">
      <!-- <button class="uikit-btn small uikit-btn--tertiary">Add another</button> -->
    </div>
  </section>
</div>
<div class="accordion">
  <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
  <div class="accordion-content" style="display: none;">
    <pre>
        <code class="language-markup">
          <script type="text/plain">
            <section class="mys-file-uploads">
              <div class="mys-file-uploads__items">
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item mys-file-uploads__item--message">
                    <div class="mys-file-uploads__message">No documents uploaded</div>
                    <div>
                      <button class="uikit-btn uikit-btn--tertiary">Upload document</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__uploads-actions">
                <!-- <button class="uikit-btn small uikit-btn--tertiary">Add another</button> -->
              </div>
            </section>
          </script>
        </code>
      </pre>
  </div>
</div>
<p>To see an example of this component go <a href="">here</a>.</p>
<hr>
<h2>File name only</h2>
<div class="example-box">
  <section class="mys-file-uploads">
    <div class="mys-file-uploads__items">
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 111 AAA .png</a>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 222 AAA .png</a>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mys-file-uploads__uploads-actions">
      <button class="uikit-btn small uikit-btn--tertiary">Add another</button>
    </div>
  </section>
</div>

<div class="accordion">
  <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
  <div class="accordion-content" style="display: none;">
    <pre>
        <code class="language-markup">
          <script type="text/plain">
            <section class="mys-file-uploads">
              <div class="mys-file-uploads__items">
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <a href="#" class="">My document 111 AAA .png</a>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <a href="#" class="">My document 222 AAA .png</a>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__uploads-actions">
                <button class="uikit-btn small uikit-btn--tertiary">Add another</button>
              </div>
            </section>
          </script>
        </code>
      </pre>
  </div>
</div>
<p>To see an example of this component go <a href="/auth/">here</a>.</p>
<hr>

<h2>Fixed types</h2>

<div class="example-box">
  <section class="mys-file-uploads">
    <div class="mys-file-uploads__items">
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 111 AAA .png</a>
              </div>
            </div>
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <div>
                  <strong>Proof of residence</strong>
                </div>
                <div>For example, school report or institution letter.</div>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 222 AAA .png</a>
              </div>
            </div>
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <div>
                  <strong>Part-time study reason</strong>
                </div>
                <div>For example, school report or institution letter.</div>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item mys-file-uploads__item--required">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--pending">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <div>
                  <strong>Proof of relationship</strong>
                </div>
                <div>For example, birth certificate or adoption order.</div>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mys-file-uploads__uploads-actions">
      <!-- <button class="uikit-btn small uikit-btn--tertiary">Add another</button> -->
    </div>
  </section>
</div>

<div class="accordion">
  <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
  <div class="accordion-content" style="display: none;">
    <pre>
        <code class="language-markup">
          <script type="text/plain">

          </script>
        </code>
      </pre>
  </div>
</div>

<p>To see an example of this component go <a href="/auth/">here</a>.</p>
<hr>

<h2>User defined types</h2>
<div class="example-box">
  <section class="mys-file-uploads">
    <div class="mys-file-uploads__items">
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 111 AAA .png</a>
              </div>
            </div>
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <select class="uikit-text-input input-half">
                  <option value="">-- Select type --</option>
                  <option value="" selected>Proof of residence</option>
                  <option value="">Part-time study reason</option>
                  <option value="">Proof of relationship</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 222 AAA .png</a>
              </div>
            </div>
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <select class="uikit-text-input input-half">
                  <option value="">-- Select type --</option>
                  <option value="">Proof of residence</option>
                  <option value="" selected>Part-time study reason</option>
                  <option value="">Proof of relationship</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 333 AAA.png</a>
              </div>
            </div>
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <select class="uikit-text-input input-half">
                  <option value="">-- Select type --</option>
                  <option value="">Proof of residence</option>
                  <option value="">Part-time study reason</option>
                  <option value="" selected>Proof of relationship</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mys-file-uploads__uploads-actions">
      <button class="uikit-btn small">Add another</button>
    </div>
  </section>
</div>

<div class="accordion">
  <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
  <div class="accordion-content" style="display: none;">
    <pre>
        <code class="language-markup">
          <script type="text/plain">
            <section class="mys-file-uploads">
              <div class="mys-file-uploads__items">
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <a href="#" class="">My document 111 AAA .png</a>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <select class="uikit-text-input input-half">
                            <option value="">-- Select type --</option>
                            <option value="" selected>Proof of residence</option>
                            <option value="">Part-time study reason</option>
                            <option value="">Proof of relationship</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <a href="#" class="">My document 222 AAA .png</a>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <select class="uikit-text-input input-half">
                            <option value="">-- Select type --</option>
                            <option value="">Proof of residence</option>
                            <option value="" selected>Part-time study reason</option>
                            <option value="">Proof of relationship</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <a href="#" class="">My document 333 AAA.png</a>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <select class="uikit-text-input input-half">
                            <option value="">-- Select type --</option>
                            <option value="">Proof of residence</option>
                            <option value="">Part-time study reason</option>
                            <option value="" selected>Proof of relationship</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__uploads-actions">
                <button class="uikit-btn small">Add another</button>
              </div>
            </section>
          </script>
        </code>
      </pre>
  </div>
</div>
<p>To see an example of this component go <a href="'auth/'">here</a>.</p>
<hr>
<h2>Mixed types</h2>
<div class="example-box">
  <section class="mys-file-uploads">
    <div class="mys-file-uploads__items">
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 111 AAA .png</a>
              </div>
            </div>
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <div>
                  <strong>Proof of residence</strong>
                </div>
                <div>For example, school report or institution letter.</div>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 222 AAA .png</a>
              </div>
            </div>
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <div>
                  <strong>Part-time study reason</strong>
                </div>
                <div>For example, school report or institution letter.</div>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item mys-file-uploads__item--required">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--pending">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <div>
                  <strong>Proof of relationship</strong>
                </div>
                <div>For example, birth certificate or adoption order.</div>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
          </div>
        </div>
      </div>
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 222 AAA .png</a>
              </div>
            </div>
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <select class="uikit-text-input input-half">
                  <option value="">-- Select type --</option>
                  <option value="">Proof of residence</option>
                  <option value="" selected>Part-time study reason</option>
                  <option value="">Proof of relationship</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--pending">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <select class="uikit-text-input input-half">
                  <option value="">-- Select type --</option>
                  <option value="">Proof of residence</option>
                  <option value="">Part-time study reason</option>
                  <option value="">Proof of relationship</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mys-file-uploads__uploads-actions">
      <!-- <button class="uikit-btn small uikit-btn--tertiary">Add another</button> -->
    </div>
  </section>
</div>
<div class="accordion">
  <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
  <div class="accordion-content" style="display: none;">
    <pre>
        <code class="language-markup">
          <script type="text/plain">
            <section class="mys-file-uploads">
              <div class="mys-file-uploads__items">
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <a href="#" class="">My document 111 AAA .png</a>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <div>
                            <strong>Proof of residence</strong>
                          </div>
                          <div>For example, school report or institution letter.</div>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <a href="#" class="">My document 222 AAA .png</a>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <div>
                            <strong>Part-time study reason</strong>
                          </div>
                          <div>For example, school report or institution letter.</div>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item mys-file-uploads__item--required">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <div>
                            <strong>Proof of relationship</strong>
                          </div>
                          <div>For example, birth certificate or adoption order.</div>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <a href="#" class="">My document 222 AAA .png</a>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <select class="uikit-text-input input-half">
                            <option value="">-- Select type --</option>
                            <option value="">Proof of residence</option>
                            <option value="" selected>Part-time study reason</option>
                            <option value="">Proof of relationship</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--pending">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <select class="uikit-text-input input-half">
                            <option value="">-- Select type --</option>
                            <option value="">Proof of residence</option>
                            <option value="">Part-time study reason</option>
                            <option value="">Proof of relationship</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small">Upload</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__uploads-actions">
                <!-- <button class="uikit-btn small uikit-btn--tertiary">Add another</button> -->
              </div>
            </section>
          </script>
        </code>
      </pre>
  </div>
</div>
<p>To see an example of this component go <a href="/auth/">here</a>.</p>
<hr>


<h2>Type validation error</h2>
<div class="example-box">
  <section class="mys-file-uploads">
    <div class="mys-file-uploads__items">
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--success">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <a href="#" class="">My document 111 AAA.png</a>
              </div>
            </div>
            <div class="mys-file-uploads__info-item has-error">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <p class="input-error-message">Select a document type</p>
                <select class="uikit-text-input input-half">
                  <option value="">-- Select type --</option>
                  <option value="">Proof of residence</option>
                  <option value="">Part-time study reason</option>
                  <option value="">Proof of relationship</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mys-file-uploads__uploads-actions">
      <button class="uikit-btn small">Add another</button>
    </div>
  </section>
</div>
<div class="accordion">
  <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
  <div class="accordion-content" style="display: none;">
    <pre>
        <code class="language-markup">
          <script type="text/plain">
            <section class="mys-file-uploads">
              <div class="mys-file-uploads__items">
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--success">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <a href="#" class="">My document 111 AAA.png</a>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info-item has-error">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <p class="input-error-message">Select a document type</p>
                          <select class="uikit-text-input input-half">
                            <option value="">-- Select type --</option>
                            <option value="">Proof of residence</option>
                            <option value="">Part-time study reason</option>
                            <option value="">Proof of relationship</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__uploads-actions">
                <button class="uikit-btn small">Add another</button>
              </div>
            </section>
          </script>
        </code>
      </pre>
  </div>
</div>
<p>To see an example of this component go <a href="/auth/">here</a>.</p>
<hr>

<h2>File validation error</h2>
<div class="example-box">
  <section class="mys-file-uploads">
    <div class="mys-file-uploads__items">
      <div class="mys-file-uploads__item-border">
        <div class="mys-file-uploads__item">
          <div class="mys-file-uploads__l-status">
            <div class="mys-file-uploads__status mys-file-uploads__status--error">
              <div class="mys-file-uploads__status-icon"></div>
              <div class="mys-file-uploads__status-sr">Success</div>
            </div>
          </div>
          <div class="mys-file-uploads__info">
            <div class="mys-file-uploads__info-item has-error">
              <label class="mys-file-uploads__label">File name</label>
              <div class="mys-file-uploads__value">
                <p class="input-error-message">File exceeds maximum size of 10MB</p>
              </div>
            </div>
            <div class="mys-file-uploads__info-item">
              <div class="mys-file-uploads__label">Document type</div>
              <div class="mys-file-uploads__value">
                <select class="uikit-text-input input-half">
                  <option value="">-- Select type --</option>
                  <option value="">Proof of residence</option>
                  <option value="">Part-time study reason</option>
                  <option value="">Proof of relationship</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mys-file-uploads__item-actions">
            <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mys-file-uploads__uploads-actions">
      <button class="uikit-btn small">Add another</button>
    </div>
  </section>
</div>
<div class="accordion">
  <button class="style-less-button accordion-button health-card__label--big"><i class="transition fas fa-chevron-right"></i> Code example</button>
  <div class="accordion-content" style="display: none;">
    <pre>
        <code class="language-markup">
          <script type="text/plain">
            <section class="mys-file-uploads">
              <div class="mys-file-uploads__items">
                <div class="mys-file-uploads__item-border">
                  <div class="mys-file-uploads__item">
                    <div class="mys-file-uploads__l-status">
                      <div class="mys-file-uploads__status mys-file-uploads__status--error">
                        <div class="mys-file-uploads__status-icon"></div>
                        <div class="mys-file-uploads__status-sr">Success</div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__info">
                      <div class="mys-file-uploads__info-item has-error">
                        <label class="mys-file-uploads__label">File name</label>
                        <div class="mys-file-uploads__value">
                          <p class="input-error-message">File exceeds maximum size of 10MB</p>
                        </div>
                      </div>
                      <div class="mys-file-uploads__info-item">
                        <div class="mys-file-uploads__label">Document type</div>
                        <div class="mys-file-uploads__value">
                          <select class="uikit-text-input input-half">
                            <option value="">-- Select type --</option>
                            <option value="">Proof of residence</option>
                            <option value="">Part-time study reason</option>
                            <option value="">Proof of relationship</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="mys-file-uploads__item-actions">
                      <button class="mys-file-uploads__item-button uikit-btn small uikit-btn--tertiary">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mys-file-uploads__uploads-actions">
                <button class="uikit-btn small">Add another</button>
              </div>
            </section>
          </script>
        </code>
      </pre>
  </div>
</div>
<p>To see an example of this component go <a href="/auth/">here</a>.</p>
<hr>
