<% 
  var text, customClass;

  text ? text = text : text = "please add tooltip text to the partial.";
%>

<div class="tooltip <%- customClass ? customClass : ''%>">
    <div id="tt-label" class="tooltip__control" tabindex="0" role="button" aria-describedby="message"
        aria-expanded="false">
        <div class="tooltip__label tooltip__label--icon-only">
            Help
        </div>
        <div class="tooltip__tab"></div>
    </div>
    <div id="tt-message" class="tooltip__content" aria-labelledby="tt-label" role="region" tabindex="-1"
        aria-hidden="true">
        <div class="tooltip__message"><%- text %></div>
        <div class="tooltip__close" role="button" tabindex="0">Close</div>
    </div>
</div>