<div class="pt-choose-user">
  <h3>You are currently using the prototype as <span class="pt-current-user-name-first"></span></h3>

  <div class="pt-current-user-name-picture cantered-item "></div>
  <div id="userContainerId">



  </div>

  <h3></h3>
  <div class="form-group">
    <label class="uikit-text-input__label" for="user-drop-down">Who do you want to be?
    </label>
    <select class="uikit-text-input input-half" id="user-drop-down" name="user-drop-down">

    </select>
  </div>
</div>
