<div class="pt-choose-user">
  <h3>You are currently using the prototype as</h3>

  <div id="userContainerId">

    asdf

  </div>

  <h3></h3>
  <div class="form-group">
    <label class="uikit-text-input__label" for="user-drop-down">Who do you want to be?
    </label>
    <select class="uikit-text-input input-half" id="user-drop-down" name="user-drop-down">
      <option>-- Select an item --</option>

    </select>
  </div>
</div>
