<div class="pt-persona-switcher">


  <h3>You are currently using the prototype as <span class="pt-current-user-name-first"></span></h3>

  <div class="pt-current-user-name-picture cantered-item "></div>
  <div id="userContainerId">

  </div>

  <h3></h3>
  <div class="form-group">
    <label class="uikit-text-input__label" for="user-drop-down">Who do you want to be?
    </label>
    <select class="uikit-text-input input-half" id="user-drop-down" name="user-drop-down">

    </select>
  </div>


  <%# 
  <br><br><br>

  <div class="tab-wrap">

    <input type="radio" name="tabs" id="tab1" checked>
    <div class="tab-label-content" id="tab1-content">
      <label for="tab1">asdfasdf</label>
      <div class="tab-content">asdfasdf
      </div>
    </div>

    <input type="radio" name="tabs" id="tab2">
    <div class="tab-label-content" id="tab2-content">
      <label for="tab2">Tab 2</label>
      <div class="tab-content">BOOOOOOO
      </div>
    </div>

  </div> %>

</div>
