<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-mygov") %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
          <div class="row margin-below ss-align--center">
            <h1 class="margin-below--none" style="font-size: 30px; padding: 0 100px 0 100px;">You will need an activation code to link your DVA account to MyGov</h1>
          </div>
        </div>
      </div>

      <section id="linking-code-content" style="margin-bottom: 35px;">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
            <div class="mys-mygov-content--frame">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                  <h2 style="display: inline-block; margin-right: 15px;">If you do not have an activation code</h2><button class="uikit-btn uikit-btn--tertiary"
                    onclick="location.href='/unauth/registration'">Register now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="linking-code-content">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
            <div class="mys-mygov-content--frame">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">

                  <h2>Link your DVA account</h2>
                  <div class="form-group margin-above">
                    <label class="uikit-text-input__label" for="linking-code">Activation code</label>
                    <input class="uikit-text-input input-half" name="linking-code" type="text" value="">
                  </div>
                  <div class="form-group margin-below--extra">
                    <label class="uikit-text-input__label" for="date">Date of birth
                      <span class="hint">(dd/mm/yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" aria-label="4 digit year">
                  </div>
                  <button class="uikit-btn uikit-btn--tertiary" onclick="location.href='mygov-linked'">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </main>

  <%- include(partials+"components/layout/footer-mygov") %>

  <script>
    $(document).ready(function ($) {

      return;

      $('input[name="mygov-linked"]').prop('checked', false);

      $(".show-password").click(function () {

        var passwordField = $(this).closest('.form-group').find('input');
        if ($(passwordField).attr("type") == "password") {
          $(passwordField).attr("type", "text");
          $(this).text('Hide');

        } else {
          $(passwordField).attr("type", "password");
          $(this).val('Show');
          $(this).text('Show');
        }
      });

      function hide($element) {
        $element.removeClass('transition-content--open');
        $element.attr('aria-hidden', 'true');
      }

      function show($element) {
        $element.addClass('transition-content--open');
        $element.attr('aria-hidden', 'false');
      }

      function initialState() {
        restAll();
        show($('#initial-intro'));
        show($('#initial-buttons'));
      }

      function restAll() {
        hide($('.transition-content--open'));
        $('.uikit-text-input').val('');
      }

      $("#myaccount-username").keyup(function () {
        if (this.value.indexOf('@') > -1) {
          $(this).closest(".field").addClass("has-error");
        } else {
          $(this).closest(".field").removeClass("has-error");
        }
      });


      $("#myservice-btn").click(function () {
        restAll();
        show($("#myservice-content"));
      });

      $("#myaccount-btn").click(function () {
        restAll();
        show($("#myaccount-content"));
      });

      $("#linking-code").click(function () {
        restAll();
        show($("#linking-code-content"));
      });

      $("#mys-linking-code").click(function () {
        restAll();
        show($("#linking-code-content"));
      });

      $("#mys-email-sent").click(function () {
        restAll();
        show($("#email-sent-alert"));
        show($("#initial-buttons"));
      });

      $('.pt-myaccount-forgot').click(function (e) {
        e.preventDefault();
        restAll();
        show($("#myaccount-linking-code-content"));
        show($("#linking-code-content"));
      });

      $('.pt-myservice-forgot').click(function (e) {
        e.preventDefault();
        restAll();
        show($("#myservice-forgot-password-content"));
        show($("#mys-forgot-password"));
      });

      $(".pt-cancel-btn").click(function () {
        initialState();
      });

    });

  </script>

</body>

</html>
