<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-mygov") %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
          <div class="row margin-below ss-align--center">
            <h1 class="margin-below--none">Link your DVA account to&nbsp;myGov</h1>
            <!-- <h2 class="margin-above--none">If you don't have an account with DVA you can register for one now.</h2> -->
          </div>
        </div>
      </div>

      <section id="email-sent-alert" class="transition-content" aria-hidden="true">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
            <div class="uikit-page-alerts uikit-page-alerts--success margin-above--none margin-below--large">
              <p>An email has been sent with your activation code.</p>
            </div>
          </div>
        </div>
      </section>

      <section id="initial-intro" class="transition-content transition-content--open" aria-hidden="false">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
            <h2 class="margin-above--none margin-below ss-align--center">If you are an existing user, sign in with either account to link to myGov.</h2>
          </div>
        </div>
      </section>

      <section id="initial-buttons" class="transition-content transition-content--open" aria-hidden="false">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 col-lg-offset-2 col-lg-8">
            <div class="row">
              <div class="col-lg-offset-3 col-lg-6">
                <a id="myservice-btn" role="button" tabindex="0" class="uikit-btn uikit-btn--block margin-below">Link your
                  <img class="uikit-btn__middle-image" src="/docs/images/ico-myservice-chevron.svg"> MyService</a>
                <a id="myaccount-btn" role="button" tabindex="0" class="uikit-btn uikit-btn--block ">Link your MyAccount</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
            <div class="strike">
              <span class="strike__text">or</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 col-lg-offset-2 col-lg-8">
            <div class="row">
              <div class="col-lg-offset-3 col-lg-6">
                <a href="/unauth/registration" id="new-account-btn" class="uikit-btn uikit-btn--tertiary uikit-btn--block margin-below" target="_blank">
                  <img class="uikit-btn__middle-image" src="/docs/images/ico-myservice-chevron.svg" alt=""> &nbsp;Register new account</a>
                <a id="linking-code" href="#" class="uikit-btn uikit-btn--tertiary uikit-btn--block">I have an activation code</a>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- end initial buttons -->

      <section id="myservice-content" class="transition-content" aria-hidden="true">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="mys-mygov-content--frame">
              <div class="row margin-above">
                <div class="col-sm-offset-2 col-sm-8">
                  <div class="ss-align--center">
                    <img class="margin-above" src="/docs/images/logo-myservice-onboarding.svg" alt="MyService beta - logo" title="MyService" height="60">
                    <hr class="margin-above--small padding-above--none">
                  </div>
                  <h2>Enter your existing MyService login details</h2>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="myservice-username">Email</label>
                    <input class="uikit-text-input" name="myservice-username" id="myservice-username" type="email" value="">
                  </div>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="myservice-password">Password</label>
                    <div class="password-group">
                      <input class="uikit-text-input" name="myservice-password" id="myservice-password" type="password" value="">
                      <button class="showPassword anchor show-password">Show</button>
                    </div>
                    <br />
                    <a href="" class="pt-myservice-forgot">Forgot password</a>
                  </div>

                  <div class="strike">
                    <span class="strike__text">or</span>
                  </div>

                  <div id="mys-linking-code" class="row margin-below--extra">
                    <div class="col-lg-offset-2 col-lg-8">
                      <a href="#" class="uikit-btn uikit-btn--tertiary uikit-btn--block">Enter your activation code</a>
                    </div>
                  </div>

                  <div class="pagination ss-align--center">
                    <button class="uikit-btn uikit-btn--tertiary pt-cancel-btn" onclick="">Cancel</button>
                    <button class="uikit-btn pt-myservice-next" onclick="location.href='mygov-linked'">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="mys-forgot-password" class="transition-content" aria-hidden="true">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="mys-mygov-content--frame">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">

                  <section id="myservice-forgot-password-content" class="transition-content" aria-hidden="true">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="uikit-page-alerts uikit-page-alerts--email">
                          <h2 class="uikit-display-1">Forgot password</h2>
                          <p>Enter the email address you used to create your MyService account and we will send you an activation code.
                          </p>
                        </div>
                      </div>
                    </div>
                  </section>

                  <div class="form-group margin-below--extra">
                    <label class="uikit-text-input__label" for="mys-forgot-email">Your email address</label>
                    <input class="uikit-text-input" name="mys-forgot-email" type="email" value="">
                  </div>
                  <div class="pagination ss-align--center">
                    <button class="uikit-btn uikit-btn--tertiary pt-cancel-btn">Cancel</button>
                    <button id="mys-email-sent" class="uikit-btn pt-myservice-next">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section id="myaccount-content" class="transition-content" aria-hidden="true">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="mys-mygov-content--frame">
              <div class="row margin-above">
                <div class="col-sm-offset-2 col-sm-8">
                  <div class="ss-align--center">
                    <img class="margin-above" src="/docs/images/myaccount-logo.svg" height="60" alt="MyAccount logo" title="MyAccount">
                    <hr class="margin-above--small padding-above--none">
                  </div>
                  <h2>Enter your existing MyAccount login details</h2>
                  <div class="form-group">
                    <label class="uikit-text-input__label" for="myaccount-username">Username
                      <span class="input-error-message">Enter your username rather than your email address</span>
                    </label>
                    <input class="uikit-text-input" name="myaccount-username" id="myaccount-username" type="email" value="">
                    <div>
                      <a href="" class="pt-myaccount-forgot">Forgot username</a>
                    </div>
                  </div>
                  <div class="form-group margin-below--extra">
                    <label class="uikit-text-input__label" for="myaccount-password">Password</label>
                    <div class="password-group">
                      <input class="uikit-text-input" name="myaccount-password" id="myaccount-password" type="password" value="">
                      <button class="showPassword anchor show-password">Show</button>
                    </div>
                    <div>
                      <a href="" class="pt-myaccount-forgot">Forgot password</a>
                    </div>
                  </div>
                  <div class="pagination ss-align--center">
                    <button class="uikit-btn uikit-btn--tertiary pt-cancel-btn" onclick="">Cancel</button>
                    <button class="uikit-btn pt-myservice-next" onclick="location.href='mygov-linked'">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section id="linking-code-content" class="transition-content" aria-hidden="true">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
            <div class="mys-mygov-content--frame">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">

                  <section id="myaccount-linking-code-content" class="transition-content" aria-hidden="true">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="uikit-page-alerts uikit-page-alerts--phone">
                          <h2 class="uikit-display-1">Forgot username or password</h2>
                          <p>Call
                            <a href="tel:1800-555-254">1800 555 254</a> during business hours (8am&nbsp;to&nbsp;5pm) and we'll give you an activation&nbsp;code.</p>
                        </div>
                      </div>
                    </div>
                  </section>

                  <h2>Enter your activation details</h2>
                  <div class="form-group margin-above">
                    <label class="uikit-text-input__label" for="linking-code">Activation code</label>
                    <input class="uikit-text-input input-half" name="linking-code" type="text" value="">
                  </div>
                  <div class="form-group margin-below--extra">
                    <label class="uikit-text-input__label" for="date">Date of birth
                      <span class="hint">(dd/mm/yyyy)</span>
                    </label>
                    <input class="uikit-text-input dd" type="number" name="dd-date" id="dd-date" maxlength="2" aria-label="2 digit day"> /
                    <input class="uikit-text-input mm" type="number" name="mm-date" id="mm-date" maxlength="2" aria-label="2 digit month"> /
                    <input class="uikit-text-input yyyy" type="number" name="yyyy-date" id="yyyy-date" maxlength="4" aria-label="4 digit year">
                  </div>
                  <div class="pagination ss-align--center">
                    <button class="uikit-btn uikit-btn--tertiary pt-cancel-btn" onclick="">Cancel</button>
                    <button class="uikit-btn pt-linking-code-next" onclick="location.href='mygov-linked'">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </main>

  <%- include(partials+"components/layout/footer-mygov") %>

  <script>
    $(document).ready(function ($) {

      $('input[name="mygov-linked"]').prop('checked', false);

      $(".show-password").click(function () {

        var passwordField = $(this).closest('.form-group').find('input');
        if ($(passwordField).attr("type") == "password") {
          $(passwordField).attr("type", "text");
          $(this).text('Hide');

        } else {
          $(passwordField).attr("type", "password");
          $(this).val('Show');
          $(this).text('Show');
        }
      });

      function hide($element) {
        $element.removeClass('transition-content--open');
        $element.attr('aria-hidden', 'true');
      }

      function show($element) {
        $element.addClass('transition-content--open');
        $element.attr('aria-hidden', 'false');
      }

      function initialState() {
        restAll();
        show($('#initial-intro'));
        show($('#initial-buttons'));
      }

      function restAll() {
        hide($('.transition-content--open'));
        $('.uikit-text-input').val('');
      }

      $("#myaccount-username").keyup(function () {
        if (this.value.indexOf('@') > -1) {
          $(this).closest(".field").addClass("has-error");
        } else {
          $(this).closest(".field").removeClass("has-error");
        }
      });


      $("#myservice-btn").click(function () {
        restAll();
        show($("#myservice-content"));
      });

      $("#myaccount-btn").click(function () {
        restAll();
        show($("#myaccount-content"));
      });

      $("#linking-code").click(function () {
        restAll();
        show($("#linking-code-content"));
      });

      $("#mys-linking-code").click(function () {
        restAll();
        show($("#linking-code-content"));
      });

      $("#mys-email-sent").click(function () {
        restAll();
        show($("#email-sent-alert"));
        show($("#initial-buttons"));
      });

      $('.pt-myaccount-forgot').click(function (e) {
        e.preventDefault();
        restAll();
        show($("#myaccount-linking-code-content"));
        show($("#linking-code-content"));
      });

      $('.pt-myservice-forgot').click(function (e) {
        e.preventDefault();
        restAll();
        show($("#myservice-forgot-password-content"));
        show($("#mys-forgot-password"));
      });

      $(".pt-cancel-btn").click(function () {
        initialState();
      });

    });

  </script>

</body>

</html>
