<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Home | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>

  <%- include(partials+"components/layout/header-mygov") %>
  <main>
    <section>
      <div class="container">
        <div class="row margin-below margin-above--extra">
          <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
            < <a href="/">
              Back</a>
              <h2 class="margin-below--none">
                <b>Sign in with myGov</b>
              </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
            <div class="form-group margin-below">
              <label class="uikit-text-input__label" for="mygov-username">Username or email
              </label>
              <input class="uikit-text-input" name="mygov-username" id="mygov-username" type="email" value="">
              <br />
              <a href="/unauth/user-testing-stop">Forgot username</a>
            </div>
            <div class="form-group margin-below">
              <label class="uikit-text-input__label" for="mygov-password">Password
                <span class="hint display-block">
                  <font color="#777777">Do not show others your password</font>
                </span>
              </label>
              <div class="password-group">
               <input class="uikit-text-input mygov-password__input" name="mygov-password" id="mygov-password" type="password" value="">
              <button class="showPassword anchor">Show</button>
              </div>
              <br />
              <a href="/unauth/user-testing-stop">Forgot password</a>
            </div>
          </div>
        </div>

        <div class="row margin-above">
          <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
            <a href="/auth/mygov/mygov-linking" id="myaccount-btn" class="uikit-btn uikit-btn--block ">Sign in</a>
          </div>
        </div>

        <div id="existing-new-divider" class="row">
          <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
            <div class="strike margin-above--mid margin-below--mid">
              <span class="strike__text">or</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
            <a href="/unauth/user-testing-mygov-reg" id="new-account-btn" class="uikit-btn uikit-btn--tertiary uikit-btn--block">Create a new account</a>
          </div>
        </div>




      </div>

    </section>
  </main>

  <%- include(partials+"components/layout/footer-mygov") %>

</body>

</html>