<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>DHOAS Application for a subsidy certificate | MyService</title>
  <% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>

  <% include ../../../../partials/header-nom-rep.ejs %>
  <main id="main-content">

    <div class="container-fluid">
      <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
        <div class="container margin-above--none">
          <h1 class="margin-above--none ss-align--center">
            <span class="heading">Application for Subsidy Certificate</span>
          </h1>
        </div>
      </div>
    </div>

    <!-- -->
    <!-- -->
    <!-- -->

    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 ">

          <div class="margin-above--extra">
            <%# <div id="message"> %>
            <h2 class="margin-below--none">Before you get started</h2>
            <p>
              This is required to help us assess whether you have the required
              qualifying service.
            </p>
            <%# </div> %>
          </div>
          <div id="client-list">
            <!-- SP summary card -->
            <div id="service-period-summary" class="sp-summary plain-text-info" style="display: none;">
              <div class="row">
                <div class="review__content--label col-sm-10">
                  <h2>Navy</h2>
                  <p class="margin-below--none">Permanent</p>
                  <p class="margin-below--none margin-above--mid">12/11/1998 — 14/01/2015</p>
                </div>
                <div class="col-sm-2" style="margin: 0; text-align: right;"><button id="edit-service-period"
                    class="uikit-btn uikit-btn--tertiary small reversed">&nbsp;Edit&nbsp;</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- col-md-12 end -->
      </div>
      <!-- row end -->
      <!-- container end -->
    </div>

    <!-- -->
    <!-- -->
    <!-- -->

    <div class="container margin-below--extra">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">

          <div class="profile-table">
            <div class="row profile-row">
              <div class="col-sm-12 description-fields">
                <div class="row">
                  <div class="col-sm-6 col-md-5 title-field">Name</div>
                  <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                    <span id="email-span"><span class="pt-current-user-name-full"></span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row profile-row">
              <div class="col-sm-12 description-fields">
                <div class="row">
                  <div class="col-sm-6 col-md-5 title-field">Home phone number</div>
                  <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                    <span id="email-span">61 2345 5678</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row profile-row">
              <div class="col-sm-12 description-fields">
                <div class="row">
                  <div class="col-sm-6 col-md-5 title-field">Mobile phone number</div>
                  <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                    <span id="email-span">0412 345 678</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row profile-row">
              <div class="col-sm-12 description-fields">
                <div class="row">
                  <div class="col-sm-6 col-md-5 title-field">Email address</div>
                  <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                    <span id="email-span">rjohnson@email.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="profile-table">
            <div class="row">
              <h4>Additional contact details</h4>
              <span class="hint">If you have additional contact details, please provide them here to assist us with contacting you about your application.</span>
              <div class="margin-below"></div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="work_phone">Work phone number <span class="hint">(optional)</span></label>
                <input class="uikit-text-input input-half" name="work_phone" id="work_phone" type="text" value="" required="" aria-required="false">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="alternate_email">Alternate email address <span class="hint">(optional)</span></label>
                <input class="uikit-text-input input-half" name="alternate_email" id="alternate_email" type="text" value="" required="" aria-required="false">
              </div>
              <div class="form-group">
                <label class="uikit-text-input__label" for="preferred_contact_number">Preferred Contact Number
                  <br />
                </label>
                <select aria-required="true" required class="uikit-text-input input-half" id="preferred_contact_number" name="preferred_contact_number">
                  <option>Select preferred number</option>
                  <option>Home</option>
                  <option>Mobile</option>
                </select>
              </div>
            </div>
          </div>
          <!-- <div class="ss-align--center display-block padding-above padding-below">
                    <div class="display-inline-block">Name</div>
                    <div class="display-inline-block"><span class="pt-current-user-name-full"></span></div>
                  </div> -->

<%- include("../../../../partials/form_partials.ejs", {"forms": [    {
      "type": "pagination",
      "config": {
        "normal": [
          {
            "link": "/auth/claim/",
            "primary": false,
            "text": "Cancel",
            "disabled": false
          }
        ],
        "floated": [
          {
            "link": "/auth/claim/dhoas/asc1",
            "text": "Save and next",
            "primary": true,
            "disabled": false
          }
        ]
      }
    }]}) %>
        </div>
      </div>

    </div>



    <% include ../../../../partials/claims-cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../../partials/footer.ejs %>


  <script>
    // Progress percentage
    $("#percentage").css("width", "5%");
    $("#percentage_value").val("5%");

    $("#work_phone").on("change", function () {
      if ($("#work_phone").val() != "") {
        $("#preferred_contact_number").append("<option>Work</option>");
      } else {
        $("#preferred_contact_number option").last().remove();
      }
    });

  </script>

</body>

</html>
