<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Application for a DHOAS Subsidy Certificate | MyService</title>
  <% include ../../../../partials/head.ejs %>

  <style>
    .pt-subsidised_loan_yes {
      display: none;
    }

  </style>

</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-claims.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Application for Subsidy Certificate</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <div class="margin-above--large margin-below--extra">
              <div id="progressbar">
                <div id="percentage">
                  <p id="percentage_value">5% complete</p>
                </div>
              </div>
              <p style="padding-top:0.4em;">5% complete</p>
            </div>
            <div class="form-group margin-above" id="purpose">
              <h2>Get started by telling us about your home loan and current residence</h2>
              <label class="uikit-text-input__label" for="radio-buttons">What is the purpose of this loan?</label>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op1">
                  <input class="uikit-control-input__input" type="radio" name="radio-purpose">
                  <span class="uikit-control-input__text">Purchasing a new home</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op2">
                  <input class="uikit-control-input__input" type="radio" name="radio-purpose">
                  <span class="uikit-control-input__text">Purchasing land and/or constructing a home</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op3">
                  <input class="uikit-control-input__input" type="radio" name="radio-purpose">
                  <span class="uikit-control-input__text">Enlarging, repairing, renovating, or creating a permanent improvement to a home</span>
                </label>
              </p>
              <p class="uiToolKitCheckBox">
                <label class="uikit-control-input" id="op4">
                  <input class="uikit-control-input__input" type="radio" name="radio-purpose" value="refinance">
                  <span class="uikit-control-input__text">Refinancing an existing home loan that was used for one or more of the above purposes</span>
                </label>
              </p>
            </div>

            <div class="form-group form-group--secondary" id="refinance-reason">
              <label class="uikit-text-input__label" for="why-refinance">Please detail why you are refinancing your existing home loan, including any non DHOAS purposes</label>
              <textarea id="why-refinance" name="why-refinance" rows="3" value=""></textarea>
            </div>

            <div class="margin-below--large form-group">
              <div id="occupancy">
                <label class="uikit-text-input__label margin-above--large" for="radio-buttons">Where do you currently live?</label>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                    <span class="uikit-control-input__text">Service residence</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                    <span class="uikit-control-input__text">Rental accommodation property</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                    <span class="uikit-control-input__text">On base accommodation</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="radio-occupy">
                    <span class="uikit-control-input__text">Own home</span>
                  </label>
                </p>
                <p class="uiToolKitCheckBox">
                  <label class="uikit-control-input">
                    <input class="uikit-control-input__input" type="radio" name="radio-occupy" value="other">
                    <span class="uikit-control-input__text">Other</span>
                  </label>
                </p>
              </div>

              <div class="form-group form-group--secondary" id="specify">
                <label class="uikit-text-input__label" for="specify-occupancy">Please specify
                </label>
                <input class="uikit-text-input" name="specify-occupancy" id="specify-occupancy" type="text" value="" required="" aria-required="true">
              </div>
            </div>

            <div class="form-group" id="subsidy">
              <fieldset>
                <div class="form-group" id="subsidised_loan">
                  <label class="uikit-text-input__label" for="toggle-buttons">Have you ever had a defence subsidised loan?

                  </label>
                  <div class="radio-toggle margin-below">
                    <label class="on label-left" for="subsidised_loan_yes">
                      <input id="subsidised_loan_yes" type="radio" name="toggle-buttons">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right" for="subsidised_loan_no">
                      <input id="subsidised_loan_no" type="radio" name="toggle-buttons">
                      <span>No</span>
                    </label>
                  </div>



                  <div class="pt-subsidised_loan_yes">
                    <label class="uikit-text-input__label"> Select all that apply</label>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="subsidy-dsh" class="uikit-control-input__input" type="checkbox" name="subsidy">
                        <span class="uikit-control-input__text">Defence Service Home Loan Scheme (DSH)</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="subsidy-dhos" class="uikit-control-input__input" type="checkbox" name="subsidy">
                        <span class="uikit-control-input__text">Defence Home Owner Scheme (DHOS)</span>
                      </label>
                    </p>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="subsidy-dhoas" class="uikit-control-input__input" type="checkbox" name="subsidy">
                        <span class="uikit-control-input__text">Defence Home Ownership Assistance Scheme (DHOAS)</span>
                      </label>
                    </p>
                    <div class="form-group form-group--secondary" id="why-lodge" style="display:none;">
                      <label class="uikit-text-input__label" for="why-lodge">Why are you lodging an additional application for DHOAS?
                      </label>
                      <input class="uikit-text-input" name="why-lodge" id="another-dhoas-reason" type="text" value="" required="" aria-required="true">
                    </div>
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input id="subsidy-no" class="uikit-control-input__input" type="checkbox" name="none">
                        <span class="uikit-control-input__text">None of the above</span>
                      </label>
                    </p>
                  </div>
                </div>
            </div>
            </fieldset>
            <%- include("../../../../partials/form_partials.ejs", {"forms": [    {
                "type": "pagination",
                "config": {
                  "normal": [
                    {
                      "link": "/auth/claim/",
                      "primary": false,
                      "text": "Previous",
                      "disabled": false
                    },
                    {
                      "link": "/auth/claim/",
                      "primary": false,
                      "text": "Cancel application",
                      "disabled": false
                    }
                  ],
                  "floated": [
                    {
                      "link": "/auth/claim/",
                      "text": "Save and exit",
                      "primary": false,
                      "disabled": false
                    },
                    {
                      "link": "/auth/claim/dhoas/asc2",
                      "text": "Save and next",
                      "primary": true,
                      "disabled": false
                    }
                  ]
                }
              }]}) %>

            <% include ../../../../partials/claims-cancel-modal.ejs %>
          </div>

  </main>

  <% include ../../../../partials/footer.ejs %>


  <script>
    $("")

    // Progress percentage
    document.getElementById("percentage").style.width = "20%";
    document.getElementById("percentage_value").textContent = "20%";

    $("#refinance-reason").hide();
    $("#specify").hide();
    $("#why-lodge").hide();

    $("#purpose label").click(function () {
      if ($(this).children('input').val() == "refinance") {
        $("#refinance-reason").show();
      } else {
        $("#refinance-reason").hide();
        $("#why-refinance").val("");
      }
    });



    $("#occupancy label").click(function () {
      if ($(this).children('input').val() == "other") {
        $("#specify").show();
      } else {
        $("#specify").hide();
        $("#specify-occupancy").val("");
      }
    });

    $("#subsidy-dhoas").click(function () {
      $("#why-lodge").toggle();
    });

    $("#subsidy-no").on("change", function () {
      if ($("#subsidy-no").prop("checked") == true) {
        $("#subsidy-dhoas").prop("disabled", true);
        $("#subsidy-dsh").prop("disabled", true);
        $("#subsidy-dhos").prop("disabled", true);
        $("#subsidy-dhoas").prop("checked", false);
        $("#subsidy-dsh").prop("checked", false);
        $("#subsidy-dhos").prop("checked", false);
        $("#why-lodge").css("display", "none");
      } else {
        $("#subsidy-dhoas").prop("disabled", false);
        $("#subsidy-dsh").prop("disabled", false);
        $("#subsidy-dhos").prop("disabled", false);
      }
    });


    $("#subsidised_loan_yes").click(function () {

      $(".pt-subsidised_loan_yes").show();

    });

    $("#subsidised_loan_no").click(function () {

      $(".pt-subsidised_loan_yes").hide();

    });

  </script>


</body>

</html>
