<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>DHOAS Application for a subsidy certificate | MyService</title>
  <% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>

  <% include ../../../../partials/header-nom-rep.ejs %>

  <main>
    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Co-owner/borrower details</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <div class="margin-above--large ">
              <div id="progressbar">
                <div id="percentage">
                  <p id="percentage_value">5% complete</p>
                </div>
              </div>
              <p style="padding-top:0.4em;">5% complete</p>

            </div>

                  <div class="uikit-page-alerts" role="alert">
                      <p>A
                        <b>co-owner</b> is someone who shares ownership of the property. Their name will be on the property title deed.</p>
                      <p>A
                        <b>co-borrower</b> is someone you plan to sign the loan with. Their name will appear on the mortgage documents.</p>
                    </div>

            <div class="form-group" id="co-ownerQuestion">
              <fieldset>

                <div class="uikit-text-input__label-wrapper--inline-block">
                  <legend class="uikit-text-input__label legend-label" id="question_gender">Will there be a co-owner/borrower of the property?</legend>
                </div>
<!--                 <div class="tooltip">
                  <div id="gender-tt-label" class="tooltip__control" tabindex="0" role="button" aria-controls="gender-tt-message" aria-expanded="false">
                    <div class="tooltip__label tooltip__label--icon-only">
                      <a>co-owner</a>
                    </div>
                    <div class="tooltip__tab"></div>
                  </div>
                  <div id="gender-tt-message" class="tooltip__content" aria-labelledby="gender-tt-label" role="region" tabindex="-1" aria-hidden="true">
                    <div class="tooltip__message">

                      <p class="">A
                        <b>co-owner</b> is someone who shares ownership of the property. Their name will be on the property title deed.</p>
                      <p>A
                        <b>co-borrower</b> is someone you plan to sign the loan with. Their name will appear on the mortgage documents.</p>

                      <div class="tooltip__close" role="button" tabindex="0">Close</div>
                    </div>
                  </div>
                </div> -->
                <div class="radio-toggle">
                  <label class="on label-left">
                    <input id="coOwner-yes" type="radio" name="co-owner" value="yes">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right">
                    <input id="coOwner-no" type="radio" name="co-owner" value="no">
                    <span>No</span>
                  </label>
                </div>
              </fieldset>
            </div>

            <div id="coOwner__no" class="margin-above" hidden>
              <p>Choose
                <b>save and next</b> to continue.</p>
            </div>

            <div id="coOwnerDetails" hidden>

                <h2 class="margin-below">
                  <span class="font-weight-heavy">Contact details of co-owner/borrower</span>
                </h2>



              <!-- Co-owner/borrower contact details -->

              <!-- PRE POPULATE FORM -->
              <%# <div class="form-group" id="prepopulate" style="display: none;">
                  <label class="uikit-text-input__label" for="prepopulate-list">Pre populate co-owner/borrower's details
                    <br>
                    <span class="hint display-block">Used previously saved details to pre populate parts of the form</span>
                  </label>
                  <select class="uikit-text-input input-half" id="prepopulate-list" name="prepopulate-list">
                    <option>Pre populate form...</option>
                  </select>
                </div> %>
              <!-- -->


              <div id="contactdetails">

                <%- include("../../../../partials/form_partials.ejs", {
                  "forms": [
                    {
                      "type": "text",
                      "config": {
                        "label": "Title/Rank"
                      }
                    }
                  ]
                }); %>

                <div class="form-group" id="PartnerGivenName">
                  <label class="uikit-text-input__label" for="GivenName">Given name
                    <span class="hint">(first name)</span>
                  </label>
                  <input class="uikit-text-input input-half" name="GivenName" id="GivenName" type="text" value="" required aria-required="true">
                </div>

                <div class="form-group" id="PartnerOtherGivenName">
                  <label class="uikit-text-input__label" for="OtherGivenName">Middle name
                    <span class="hint">(optional)</span>
                  </label>
                  <input class="uikit-text-input input-half" name="OtherGivenName" id="OtherGivenName" type="text" value="" required aria-required="true">
                </div>

                <div class="form-group" id="PartnerFamilyName">
                  <label class="uikit-text-input__label" for="FamilyName">Surname
                    <span class="hint">(last name)</span>
                  </label>
                  <input class="uikit-text-input input-half" name="FamilyName" id="FamilyName" type="text" value="" required aria-required="true">
                </div>
                <%- include("../../../../partials/form_partials.ejs", {
                      "forms": [
                        {
                          "type": "y_n_toggle",
                          "config": {
                            "label": "Has this co-owner/borrower ever used or been known by any other names?",
                            "yes_toggle": "#previous-names"
                          }
                        }
                      ]
                    }); %>

                <div id="previous-names" hidden>                
                  <%- include("../../../../partials/form_partials.ejs", {
                    "forms": [
                      {
                        "type": "text",
                        "config": {
                          "label": "Please enter all previous, separated by commas"
                        }
                      }
                    ]
                  }); %>
                </div>

                <div class="form-group" id="PartnerDOB">
                  <label class="uikit-text-input__label" for="date">Date of birth
                    <span class="hint">(dd / mm / yyyy)</span>
                  </label>
                  <input class="uikit-text-input dd" type="text" name="dd-date" id="dd-date" maxlength="2" required aria-required="true" aria-label="2 digit day"> /
                  <input class="uikit-text-input mm" type="text" name="mm-date" id="mm-date" maxlength="2" required aria-required="true" aria-label="2 digit month"> /
                  <input class="uikit-text-input yyyy" type="text" name="yyyy-date" id="yyyy-date" maxlength="4" required aria-required="true" aria-label="4 digit year">
                </div>


                <div class="form-group" id="PartnerEmail">
                  <label class="uikit-text-input__label" for="Email">Email
                    <span class="hint onlyifconsent">(if known)</span>
                  </label>
                  <input class="uikit-text-input input-half" name="Email" id="Email" type="text" value="" required aria-required="true">
                </div>

                <div class="form-group" id="PartnerContactNumber">
                  <label class="uikit-text-input__label" for="ContactNumber">Contact phone number
                    <span class="hint onlyifconsent">(if known)</span>
                  </label>
                  <input class="uikit-text-input input-half" name="ContactNumber" id="ContactNumber" type="text" value="" required aria-required="true">
                </div>
              </div>







              <fieldset>
                <legend>Relationship to co-owner/borrower</legend>
                <div class="form-group" id="relationship">
                  <label class="uikit-text-input__label" for="sop">What is your relationship to this person?
                    <p>
                      <br>
                      <span class="hint display-block">Select all that apply</span>
                    </p>
                  </label>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="partner" name="checkbox">
                      <span class="uikit-control-input__text">Partner (co-owner and/or co-borrower)</span>
                    </label>
                  </div>
                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="non-partnerCo-owner" name="checkbox" value="nonpartner-coowner">
                      <span class="uikit-control-input__text">Non-partner co-owner</span>
                    </label>
                  </div>

                  <div id="InterestInProp">
                    <fieldset class="form-group form-group--secondary">
                      <span class="input-support-text">
                        <span class="hint">My non-partner co-owner has</span>
                      </span>
                      <input class="uikit-text-input input-small yyyy" name="InterestInProp" id="InterestAmt" type="number">
                      <span class="input-support-text">%
                        <span class="hint">Interest in the property</span>
                      </span>
                    </fieldset>
                  </div>

                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="non-partnerCo-borrower" name="checkbox" value="nonpartner-coborrower">
                      <span class="uikit-control-input__text">Non-partner co-borrower</span>
                    </label>
                  </div>

                  <div id="InterestInProperty">
                    <fieldset class="form-group form-group--secondary">
                      <span class="input-support-text">
                        <span class="hint">My non-partner co-borrower has</span>
                      </span>
                      <input class="uikit-text-input input-small yyyy" name="InterestInProperty" id="InterestAmount" type="number">
                      <span class="input-support-text">%
                        <span class="hint">Interest in the property</span>
                      </span>
                    </fieldset>
                  </div>

                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="guarantor" name="checkbox">
                      <span class="uikit-control-input__text">Guarantor on loan</span>
                    </label>
                  </div>

                  <div class="uiToolKitCheckBox">
                    <label class="uikit-control-input">
                      <input class="uikit-control-input__input" type="checkbox" id="non-partnerPointofcontact" name="checkbox">
                      <span class="uikit-control-input__text">Non-partner point of contact</span>
                      </span>
                    </label>
                  </div>
                </div>
              </fieldset>


              <div class="form-group" id="also-applying">
                <label class="uikit-text-input__label margin-above--large" for="radio-buttons">Is this person also applying for a DHOAS Subsidy Certificate?</label>
                <div class="row">

                  <div class="col-sm-3">
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="studentLivingArrangement" value="yes-this">
                        <span class="uikit-control-input__text">Yes, to use on this property</span>
                      </label>
                    </p>
                  </div>
                  <div class="col-sm-4">
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="studentLivingArrangement" value="yes-another">
                        <span class="uikit-control-input__text">Yes, to use on another property</span>
                      </label>
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <p class="uiToolKitCheckBox">
                      <label class="uikit-control-input">
                        <input class="uikit-control-input__input" type="radio" name="studentLivingArrangement" value="no">
                        <span class="uikit-control-input__text">No</span>
                      </label>
                    </p>
                  </div>
                </div>
              </div>


              <%# <div class="form-group" id="anotherCoOwner">
                <fieldset>
                  <legend class="legend-label">Is there another co-owner/borrower of the property?</legend>
                  <div class="radio-toggle">
                    <label class="on label-left">
                      <input id="anotherCoOwner-yes" type="radio" name="anotherCoOwner" value="anotherCoOwner-yes">
                      <span>Yes</span>
                    </label>
                    <label class="off label-right">
                      <input id="anotherCoOwner-no" type="radio" name="anotherCoOwner" value="anotherCoOwner-no">
                      <span>No</span>
                    </label>
                  </div>
                </fieldset>
              </div> %>


              <div class="form-group">
                <%# <legend class="legend-label margin-below" for="agreement">Consent
                  <span class="hint">(optional)</span>
                </legend> %>
                <div id="consent">
                  <%# <p class="text-fullwidth">
                    <label class="uikit-control-input">
                      <input id="agreementOne" class="uikit-control-input__input agreement" type="checkbox" name="agreement">
                      <span class="uikit-control-input__text">I agree that DVA can discuss my application with this co-owner/borrower.</span>
                    </label>
                  </p>
                  <p class="text-fullwidth">
                    <label class="uikit-control-input">
                      <input id="agreementTwo" class="uikit-control-input__input agreement" type="checkbox" name="agreement">
                      <span class="uikit-control-input__text">I agree this co-owner/borrower can make decisions about my DHOAS entitlement on my&nbsp;behalf.</span>
                    </label>
                  </p> %>


                  <%
                  locals.el = {};
                  locals.el.question = 'I agree that DVA can discuss my application with this co-owner/borrower.';
                  %>
                  <% include ../../../../partials/forms/radio--yes-no.ejs %>

                  <%
                  locals.el = {};
                  locals.el.question = 'I agree this co-owner/borrower can make decisions about my DHOAS entitlement on my behalf.';
                  %>
                  <% include ../../../../partials/forms/radio--yes-no.ejs %>
                </div>
              </div>


              <%
                  locals.el = {};
                  locals.el.question = 'Is there another co-owner/borrower of the property?';
                  locals.el.optionalID = 'anotherCoOwner';
                  %>
              <% include ../../../../partials/forms/radio--yes-no.ejs %>

              <div id="no-coowner" class="margin-above" style="display:none;">
                <p>Choose
                  <b>save and next</b> to continue.</p>
              </div>
            </div>

            <div class="pagination margin-above--large">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/dhoas1 ' ">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='#open-modal ' ">Cancel application</button>
              <div class="floated ">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href='/claims ' ">Save and exit</button>
                <button class="uikit-btn btnNext" id="btnNext">Save and next</button>
              </div>
            </div>

            <% include ../../../../partials/claims-cancel-modal.ejs %>
          </div>

  </main>

  <% include ../../../../partials/footer.ejs %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "40%";
    document.getElementById("percentage_value").innerText = "40%";


    // Javascript Rules


    $("#coOwnerDetails").hide();
    $("#InterestInProp").hide();
    $("#InterestInProperty").hide();

    $("#coOwner-no").click(function () {
      $("#coOwner__no").show();
    });
    $("#coOwner-yes").click(function () {
      $("#coOwner__no").hide();
    });

    $("#co-ownerQuestion label").click(function () {
      if ($(this).children('input').val() == "no") {
        $("#coOwnerDetails").hide();
      } else {
        $("#coOwnerDetails").show();
      }
    });

    $("#non-partnerCo-owner").click(function () {
      if ($(this).prop('checked')) {
        $("#InterestInProp").show();
      } else {
        $("#InterestInProp").hide();
      }
    });

    $(document).ready(function () {
      var checkboxes = $("input[name='agreement']"),
        actions = $(".onlyifconsent");
      checkboxes.click(function () {
        if (!checkboxes.is(":checked")) {
          actions.hide();
        } else if (checkboxes.not(":checked")) {
          actions.show();
        } else {
          actions.hide();
        }
      });
    });

    $("#anotherCoOwner-yes").click(function () {
      $("#no-coowner").show();
    });

    $("#anotherCoOwner-no").click(function () {
      $("#no-coowner").show();
    });

    // $("#non-partnerCo-borrower").click(function () {
    //   if ($(this).prop('checked')) {
    //     $("#InterestInProperty").show();
    //   } else {
    //     $("#InterestInProperty").hide();
    //   }
    // });

    document.getElementById('non-partnerCo-borrower').onclick = function (event) {
      debugger
      if (event.target.checked) {
        document.getElementById('InterestInProperty').style.display = ''
      } else {
        document.getElementById('InterestInProperty').style.display = 'none'
      }
    }



    var buttonon = true;
    $("#btnNext").click(function () {
      if ($("#anotherCoOwner-yes")[0].checked) {
        $(".on > input").each(function () {
          if (!$(this)[0].checked) {
            buttonon = false;
          }
        })
        if (buttonon) {
          window.location.href = "/auth/claim/dhoas/asc2b";
          return
        }
      }
      window.location.href = "/auth/claim/dhoas/asc3";
    });

    $.ajax({
      url: '/docs/data/rank.json',
      async: false,
      dataType: 'json'
    }).done(function (data) {

      console.log('Content data back');

      var amrSet = [];
      var armArmy = [];
      var armNavy = [];
      var armAirforce = [];

      $.each(data.arm, function (index, element) {
        if (element.army) {
          armArmy = element.army;
        }
        if (element.navy) {
          armNavy = element.navy;
        }
        if (element.airforce) {
          armAirforce = element.airforce;
        }
        console.log(armArmy);
      });

      $select = $('#highest-rank');

      $('input[type=radio][name=arm]').change(function () {
        // alert(this.value);
        $select.empty();
        if (this.value === 'army') {
          amrSet = armArmy;
        }
        if (this.value === 'navy') {
          amrSet = armNavy;
        }
        if (this.value === 'airforce') {
          amrSet = armAirforce;
        }

        $.each(amrSet, function (key, value) {
          $select.append('<option value=' + key + '>' + value + '</option>');
        });

      });

      $("#highest-rank").change(function () {
        // if (500 < windowsize && windowsize < 600) {

        if (22 < this.value && this.value < 30) {
          console.log(this);
          // console.log($(this.text()));

          console.log($("#highest-rank option:selected").text());
          // $("#highest-rank option:selected").text();
          var content = $("#highest-rank option:selected").text();;


          $("#rank-info-chosen").html(content);

          $("#rank-info").show();
        } else {
          $("#rank-info").hide();
        }
      });
    });

    var relationships = {};

    $(document).ready(function () {
      $.ajax({
        url: '/docs/data/user.json',
        async: false,
        dataType: 'json'
      }).done(function (data) {
        let person = JSON.parse(localStorage.person)._id;
        $.each(data["person"], function (a, b) {
          if (data["person"][a]["_id"] == person) {
            if (Object.keys(data["person"][a]["_id"]).length > 0) {
              $("#prepopulate").css("display", "block");
              $.each(data["person"][a]["relationships"], function (i, q) {
                relationships = data["person"][a]["relationships"];
                $("#prepopulate-list").append(`<option>${q.name}</option>`);
              });
            }
          }
        })
      });
    });

    $("#prepopulate-list").on("change", function () {
      $.each(relationships, function (i, q) {
        if (q["name"] == $("#prepopulate-list :selected").val()) {
          console.log(q["name"]);
          $("#GivenName").val(q["name"].split(" ")[0]);
          $("#FamilyName").val(q["name"].split(" ")[1]);
        }
      });
    });

    $("#gs-serving").on("click", function () {
      $("#rank").html("Co-owner/borrower's current branch of service");
      $("#service-details").show();
    });
    $("#gs-served").on("click", function () {
      $("#rank").html("Co-owner/borrower's most recent branch of service");
      $("#service-details").show();
    });
    $("#gs-neverserved").on("click", function () {
      $("#service-details").hide();
    });

  </script>
</body>

</html>
