<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>DHOAS Application for a subsidy certificate | MyService</title>
  <% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>

  <main id="main-content">

    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Lump sum payment option</span>
        </h1>
      </div>
    </div>
    
    <div class="container">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <h2>??????????????????????????????/</h2>

      <p>Your entitlements will be paid monthly. You can choose to convert all or part of these payments into a single lump sum payment.</p>

      <div id="lumpSum" class="form-group">
        <fieldset>
          <legend class="legend-label">Would you like to receive your entitlement as a lump sum?
            <span class="hint display-block"></span>
          </legend>
          <div class="radio-toggle">
            <label class="on label-left" for="lumpSum-yes">
              <input id="lumpSum-yes" type="radio" name="lumpsum" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="lumpSum-no">
              <input id="lumpSum-no" type="radio" name="lumpsum" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>
      </div>

      <div id="lumpSum__no" class="margin-above" style="display:none;">
        <div class="uikit-page-alerts" role="alert">
          <h4>Important things to know</h4>
          <ul>
            <li>If you want a lump sum for this DHOAS Subsidy Certificate, you need to apply for it now. You won’t be able to apply at a later date. </li>
            <li>We will assess your eligibility for a lump sum at the start of your DHOAS payment after your property’s home loan has settled and been drawn down.</li>
            <li>If this DHOAS Subsidy Certificate expires, and you are required to request a new certificate after the home is purchased or completed, you will not be eligible for a lump sum. </li>
          </ul>

        </div>

        <p>Choose
          <b>save and next</b> to continue.</p>
        </div>



        <div id="lumpSum-eligibility" style="display:none;">

          <div class="uikit-page-alerts" role="alert">
            <h4>Important things to know</h4>
            <p>If this DHOAS Subsidy Certificate expires, and you are required to request a new certificate after the home is purchased or completed, you will not be eligible for a lump sum.</p>

          </div>

          <!-- Land ownership -->

          <div class="form-group">
            <!-- Eligibility question 1 -->

            <fieldset>
              <legend>Check your eligibility for a lump sum payment</legend>
              <div class="form-group">
                <label class="uikit-text-input__label" for="landOwnership">While serving in the ADF have you, or you and your partner, previously owned a 50% or greater stake in a home, either to live in or for an investment?</label>
                <div class="radio-toggle" id="landOwnership">
                  <label class="on label-left" for="landOwnership-yes">
                    <input id="landOwnership-yes" type="radio" name="landOwnership">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="landOwnership-no">
                    <input id="landOwnership-no" type="radio" name="landOwnership">
                    <span>No</span>
                  </label>
                </div>
              </div>
              <div class="form-group" id="continueService">
                <label class="uikit-text-input__label" for="continueService">Do you expect to leave the ADF within 12 months of your subsidy payment being authorised?</label>
                <div class="radio-toggle">
                  <label class="on label-left" for="continueService-yes">
                    <input id="continueService-yes" type="radio" name="continueService">
                    <span>Yes</span>
                  </label>
                  <label class="off label-right" for="continueService-no">
                    <input id="continueService-no" type="radio" name="continueService">
                    <span>No</span>
                  </label>
                </div>
              </div>
            </fieldset>

<!-- 
    WORDING FOR ID "eligable__yes" 
    TO BE ADVISED BY DHOAS/SIMON
  -->
  <div id="eligible__yes" class="uikit-page-alerts uikit-page-alerts--success margin-below--none" style="display:none;">You are eligible to request a lump sum payment.</div>
<!-- 
    WORDING FOR ID "eligable__no" 
    TO BE ADVISED BY DHOAS/SIMON
  -->
  <div id="eligible__no" class="uikit-page-alerts uikit-page-alerts--warning margin-below--extra" style="display:none;">You are not eligible to request a lump sum payment.
  </div>

</div>

<!-- Lump sum amount -->

<div id="lumpSum-amount" class="form-group" style="display:none;">

  <div class="uikit-page-alerts uikit-page-alerts--info margin-above--none margin-below--extra">
    <h4>Important things to know</h4>

    <p>The maximum lump sum amount cannot exceed 48 months of payments.</p>
    <p>Your monthly DHOAS payments may cease if you transfer to the Reserves and have less than 12 months of entitlement remaining after your lump sum payment is received.
    </p>
    <p>You can find out more about DHOAS lump sum payments on the
      <a href="http://dhoas.gov.au/8.-lump-sum.html" rel="external" target="_blank">DHOAS website</a></p>

    </div>



    <div class="form-group" id="purpose">
      <label class="uikit-text-input__label" for="radio-buttons">How much of your entitlement do you want to receive as a lump sum?
        <span class="hint display-block">You can choose how many months of your entitlement you would like to convert into a single lump sum payment.</span>
      </label>
      <p class="uiToolKitCheckBox">
        <label class="uikit-control-input" id="op2">
          <input class="uikit-control-input__input" type="radio" id="maximum" name="months">
          <span class="uikit-control-input__text">request the maximum amount</span>
        </label>
      </p>
      <p class="uiToolKitCheckBox">
        <label class="uikit-control-input" id="op1">
          <input class="uikit-control-input__input" type="radio" id="monthlychoice" name="months">
          <span class="uikit-control-input__text">request a specific number of months</span>
        </label>
      </p>

      <div id="monthlyamount">
        <fieldset class="form-group form-group--secondary">
          <span class="input-support-text">
            <span class="hint">I would like to convert&nbsp;&nbsp;</span>
          </span>
          <input class="uikit-text-input input-small mm" name="InterestInProperty" id="monthlyfigure" type="number">
          <span class="input-support-text">&nbsp;
            <span class="hint">months into a lump sum payment.</span>
          </span>
        </fieldset>
      </div>
    </div>

        <!-- <div class="display-inline-block margin-below">
                <input class="uikit-text-input input-small yyyy" name="months" id="months" type="number"> months, or &nbsp;&nbsp;</div>
              <div class="display-inline-block uiToolKitCheckBox">
                <label class="uikit-control-input">
                  <input class="uikit-control-input__input" type="checkbox" id="checkbox1" name="checkbox">
                  <span class="uikit-control-input__text">Maximum amount</span>
                </label>
              </div> -->

              <div class="margin-below--large">
                <h4>You must agree with the following before your lump sum payment request can be submitted</h4>
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <label class="uikit-control-input">
                        <input id="agreementOne" class="uikit-control-input__input agreement" type="checkbox" name="agreement"></label>
<!-- 
    WORDING FOR BELOW SPAN STARTING 
    WITH "I acknowledge" TO BE
    ADVISED BY DHOAS/SIMON
  -->
  <span class="uikit-control-input__text">I acknowledge that the Scheme Administrator or the Department of Defence may recover an amount equal to my lump sum
    subsidy
    payment if I cease to be a member of the ADF within 12 months after payment is authorised.
    <span class="display-block margin-above">I also agree that my eligibility for the lump sum payment will be reassessed at payment commencement&nbsp;time.</span>
  </span>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="pagination margin-above--extra">
  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/dhoas/asc3'">Previous</button>
  <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
  <div class="floated">
    <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
    <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/asc5'">Save and next</button>
  </div>
</div>

<% include ../../../../partials/claims-cancel-modal.ejs %>
</div>

</main>

<% include ../../../../partials/footer.ejs %>


<script>
    // Progress percentage
    document.getElementById("percentage").style.width = "80%";
    document.getElementById("percentage_value").textContent = "80%";

    var landValue;
    var continueValue;

    $("#lumpSum-no").click(function () {
      $("#lumpSum__no").show();
      $("#lumpSum-eligibility").hide();
    });
    $("#lumpSum-yes").click(function () {
      $("#lumpSum__no").hide();
      $("#lumpSum-eligibility").show();
    });

    $('#landOwnership').click(function () {
      if (radiosChecked()) {
        if (showEligibility()) {
          $("#eligible__yes").show();
          $("#lumpSum-amount").show();
          $("#eligible__no").hide();
        } else {
          $("#eligible__no").show();
          $("#lumpSum-amount").hide();
          $("#eligible__yes").hide();
        }
      }
    });
    $('#continueService').click(function () {
      if (radiosChecked()) {
        if (showEligibility()) {
          $("#eligible__yes").show();
          $("#lumpSum-amount").show();
          $("#eligible__no").hide();
        } else {
          $("#eligible__no").show();
          $("#lumpSum-amount").hide();
          $("#eligible__yes").hide();
        }
      }
    });

    $('#continueService-yes').click(function () {
      continueValue = true
    });
    $('#continueService-no').click(function () {
      continueValue = false
    });
    $('#landOwnership-yes').click(function () {
      landValue = true
    });
    $('#landOwnership-no').click(function () {
      landValue = false
    });




    function radiosChecked() {
      var landChecked = false;
      $('#landOwnership').find('input').each(function () {
        if (this.checked) {
          landChecked = true;
        }
      })
      var continueChecked = false;
      $('#continueService').find('input').each(function () {
        if (this.checked) {
          continueChecked = true
        }
      })
      if (landChecked && continueChecked) {
        return true
      } else {
        return false
      }
    }

    function showEligibility() {
      if (this.landValue && this.continueValue) {
        return true;
      } else {
        return false;
      }
    }


    var buttonon = true;

    $("#next").click(function () {

      if ($("#reservist")[0].checked) {
        $(".off > input").each(function () {
          if (!$(this)[0].checked) {
            buttonon = false;
          }
        })
        if (buttonon) {
          window.location.href = "/auth/claim/health-card-blocker";
          return
        }
      }
      window.location.href = "/auth/claim/health-card1";
    });

    $("#monthlyamount").hide();
    $("#monthlychoice").click(function () {
      // debugger
      if ($(this).prop('checked')) {
        $("#monthlyamount").show();
      } else {
        $("#monthlyamount").hide();
      }
    });
    $("#maximum").click(function () {
      // debugger
      if ($(this).prop('checked')) {
        $("#monthlyamount").hide();
      }
    });
  </script>

</body>

</html>