<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>DHOAS Application for a subsidy certificate | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>

  <main id="main-content">

    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Staying in the ADF</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>

      </div>
      <div id="factor" class="form-group">
        <fieldset>
          <legend class="legend-label">Is access to the DHOAS subsidy a key factor in you choosing to remain in the ADF?
          </legend>
          <div class="radio-toggle">
            <label class="on label-left" for="factor-yes">
              <input id="factor-yes" type="radio" name="factor" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="factor-no">
              <input id="factor-no" type="radio" name="factor" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>
      </div>

      <div id="influence" class="form-group">
        <fieldset>
          <legend class="legend-label">Will DHOAS influence your decision to remain in the ADF in the future?
          </legend>
          <div class="radio-toggle">
            <label class="on label-left" for="influence-yes">
              <input id="influence-yes" type="radio" name="influence" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="influence-no">
              <input id="influence-no" type="radio" name="influence" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>
      </div>

      <h4>Defence Service Homes Insurance Scheme</h4>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <label class="uikit-control-input">
              <input id="agreementOne" class="uikit-control-input__input agreement" type="checkbox" name="agreement">
              <span class="uikit-control-input__text">
                I do not wish to be contacted by the Defence Service Homes Insurance Scheme

                </ul>
              </span>
            </label>
          </div>
        </div>
      </div>

      <div class="pagination margin-above--extra">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/dhoas/asc4'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/asc-review'">Save and review</button>
        </div>
      </div>

      <% include ../../../../partials/claims-cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../../partials/footer.ejs %>

  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "80%";
    document.getElementById("percentage_value").textContent = "80%";

    var landValue;
    var continueValue;

    $("#lumpSum-no").click(function () {
      $("#lumpSum__no").show();
      $("#lumpSum-eligibility").hide();
    });
    $("#lumpSum-yes").click(function () {
      $("#lumpSum__no").hide();
      $("#lumpSum-eligibility").show();
    });

    $('#landOwnership').click(function () {
      if (radiosChecked()) {
        if (showEligibility()) {
          $("#eligible__yes").show();
          $("#lumpSum-amount").show();
          $("#eligible__no").hide();
        } else {
          $("#eligible__no").show();
          $("#lumpSum-amount").hide();
          $("#eligible__yes").hide();
        }
      }
    });
    $('#continueService').click(function () {
      if (radiosChecked()) {
        if (showEligibility()) {
          $("#eligible__yes").show();
          $("#lumpSum-amount").show();
          $("#eligible__no").hide();
        } else {
          $("#eligible__no").show();
          $("#lumpSum-amount").hide();
          $("#eligible__yes").hide();
        }
      }
    });

    $('#continueService-yes').click(function () {
      continueValue = true
    });
    $('#continueService-no').click(function () {
      continueValue = false
    });
    $('#landOwnership-yes').click(function () {
      landValue = true
    });
    $('#landOwnership-no').click(function () {
      landValue = false
    });




    function radiosChecked() {
      var landChecked = false;
      $('#landOwnership').find('input').each(function () {
        if (this.checked) {
          landChecked = true;
        }
      })
      var continueChecked = false;
      $('#continueService').find('input').each(function () {
        if (this.checked) {
          continueChecked = true
        }
      })
      if (landChecked && continueChecked) {
        return true
      } else {
        return false
      }
    }

    function showEligibility() {
      if (this.landValue && this.continueValue) {
        return true;
      } else {
        return false;
      }
    }


    var buttonon = true;

    $("#next").click(function () {

      if ($("#reservist")[0].checked) {
        $(".off > input").each(function () {
          if (!$(this)[0].checked) {
            buttonon = false;
          }
        })
        if (buttonon) {
          window.location.href = "/auth/claim/health-card-blocker";
          return
        }
      }
      window.location.href = "/auth/claim/health-card1";
    });

    $("#monthlyamount").hide();
    $("#monthlychoice").click(function () {
      // debugger
      if ($(this).prop('checked')) {
        $("#monthlyamount").show();
      } else {
        $("#monthlyamount").hide();
      }
    });
    $("#maximum").click(function () {
      // debugger
      if ($(this).prop('checked')) {
        $("#monthlyamount").hide();
      }
    });
  </script>

</body>

</html>