<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>DHOAS Application for a subsidy certificate | MyService</title>
<% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>

  <main id="main-content">

    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Staying in the ADF</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <div id="factor" class="form-group margin-above--extra">
        <fieldset>
          <legend class="legend-label">Is access to the DHOAS subsidy a key factor in you choosing to remain in the ADF?
          </legend>
          <div class="radio-toggle">
            <label class="on label-left" for="factor-yes">
              <input id="factor-yes" type="radio" name="factor" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="factor-no">
              <input id="factor-no" type="radio" name="factor" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>
      </div>

      <div id="influence" class="form-group">
        <fieldset>
          <legend class="legend-label">Will DHOAS influence your decision to remain in the ADF in the future?
          </legend>
          <div class="radio-toggle">
            <label class="on label-left" for="influence-yes">
              <input id="influence-yes" type="radio" name="influence" value="yes">
              <span>Yes</span>
            </label>
            <label class="off label-right" for="influence-no">
              <input id="influence-no" type="radio" name="influence" value="no">
              <span>No</span>
            </label>
          </div>
        </fieldset>
      </div>

      <h4>Defence Service Homes Insurance Scheme</h4>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <label class="uikit-control-input">
              <input id="agreementOne" class="uikit-control-input__input agreement" type="checkbox" name="agreement">
              <span class="uikit-control-input__text">
                I do not wish to be contacted by the Defence Service Homes Insurance Scheme

                </ul>
              </span>
            </label>
          </div>
        </div>
      </div>

      <div class="pagination margin-above--extra">
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim/dhoas/asc4'">Previous</button>
        <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
        <div class="floated">
          <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
          <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/asc6'">Save and next</button>
        </div>
      </div>
    </div>

      <% include ../../../../partials/claims-cancel-modal.ejs %>
    </div>

  </main>

  <% include ../../../../partials/footer.ejs %>

  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "80%";
    document.getElementById("percentage_value").textContent = "80%";
  </script>

</body>

</html>