<%- include(templates+"header", {
  title: "Application for a DHOAS Subsidy Certificate", 
  heading: "Declaration"
}) %>

  <div class="declaration">
    <%- include(forms+"checkbox", {
      label: "",
      modifiers: ["noMargin"],
      boxes: [
        "I agree to all of the following:"
      ]
    }) %>

    <ul class="declaration__list">
      <li>that I must give notice of relevant changes in my personal details or circumstances</li>
      <li>that I will not give false or misleading information as it is a serious offence and may be prosecuted under section 137 of the Criminal Code Act 1995</li>
      <li>that I understand any overpayment of subsidy may be recovered from the home loan, or from the sale of the home securing the loan</li>
      <li>to the disclosure and use of personal information as notified in the <a href="/auth/claim/dhoas/asc-terms-and-conditions">DHOAS Privacy notification and consent</a>.</li>
    </ul>
  </div>


  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/dhoas/asc5"
      },
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and review",
        link: "/auth/claim/dhoas/asc7",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>