<%- include(templates+"header", {
  claim: "DHOAS Subsidy Certificate",
  heading: "Review and submit"
}) %>

  <%- include(components+"review-submit", {
    claim_title: "Application for a DHOAS Subsidy Certificate",
    categories: [
      {
        title: "Home loan details",
        edit_url: "/auth/claim/dhoas/asc1",
        data: [
          {
            q: "Purpose of loan",
            a: "Purchase a new home"
          },
          {
            q: "Current occupancy",
            a: "On base accomodation"
          },
          {
            q: "Have you ever had a Defence subsidised loan?",
            a: "No"
          }
        ]
      },
      {
        title: "Co-owner/borrower details",
        edit_url: "/auth/claim/dhoas/asc2",
        data: [
          {
            q: "Will there be a co-owner/borrower of the property?",
            a: "Yes"
          },
          "Mr John Trevor Smith",
          {
            q: "Has this co-owner/borrower ever used or been known by any other names?",
            a: `<ul>
                  <li>Joe Bloggs</li>
                  <li>Borris Smith</li>
                </ul>`
          },
          {
            q: "Date of birth",
            a: "07 / 09 / 1989"
          },
          {
            q: "Email",
            a: "john.smith@gmail.com"
          },
          {
            q: "Contact phone number",
            a: "0412 345 678"
          },
          {
            q: "Relationship to co-owner/borrower",
            a: "Partner (co-owner and/or co-borrower)"
          },
          {
            q: "Is this person also applying for a DHOAS Subsidy Certificate?",
            a: "Yes, to use on this property"
          },
          {
            q: "I agree that DVA can discuss my application with this co-owner/borrower",
            a: "Yes"
          },
          {
            q: "I agree this co-owner/borrower can make decisions about my DHOAS entitlement on my behalf",
            a: "Yes"
          },
          {
            q: "I agree that DVA can discuss my application with this co-owner/borrower",
            a: "Yes"
          }
        ]
      },
      {
        title: "Service history",
        edit_url: "/auth/claim/dhoas/asc3",
        data: [
          {
            q: "Did you have any period of leave without pay?",
            a: `Yes
                <ul>
                  <li>10/02/2016 - 12/03/2016</li>
                  <li>16/01/2017 - 22/01/2018</li>
                </ul>`
          }
        ]
      },
      {
        title: "Lump sum request",
        edit_url: "/auth/claim/dhoasc/asc4",
        data: [
          {
            q: "Would you like to you check your eligibility for a lump sum payment?",
            a: "Yes"
          },
          {
            q: "Do you expect to leave the ADF within 12 months of your subsidy payment being authorised?",
            a: "No"
          },
          {
            q: "While serving in the ADF have you, or you and your co-owner/borrower, previously owned a 50% or greater stake in a home, either to live in or for an investment?",
            a: "No"
          },
          {
            q: "Would you like to request a lump sum payment?",
            a: "Yes"
          },
          {
            q: "How much of your total entitlement would you like to request as a lump sum?",
            a: "I would like to request the maximum amount available"
          },
          {
            q: `I acknowledge and agree with the following statements:
            <ol>
              <li>I acknowledge that the Scheme Administrator or the Department of Defence may recover an amount equal to my lump sum subsidy payment if I cease to be a member of the ADF within 12 months after payment is authorised.</li>
              <li>I also agree that my eligibility for the lump sum payment will be reassessed at payment commencement time.</li>
            </ol>`,
            a: "Yes"
          }
        ]
      },
      {
        title: "Staying in the ADF",
        edit_url: "/auth/claim/dhoas/asc5",
        data: [
          {
            q: "Is access to the DHOAS subsidy a key factor in you choosing to remain in the ADF?",
            a: "Yes"
          },
          {
            q: "Will DHOAS influence your decision to remain in the ADF in the future?",
            a: "No"
          },
          {
            q: "Defence Service Homes Insurance Scheme may contact me",
            a: "Yes"
          }
        ]
      }
    ]
  }) %>
  
          
  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/dhoas/asc6"
      },
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Submit application",
        link: "/auth/claim/dhoas/asc8",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>