<%- include(templates+"header", {
  claim: "DHOAS Subsidy Certificate",
  heading: "Submitted",
  modifiers: ["noHeading"]
}) %>

  <%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your application for a DHOAS Subsidy Certificate",
    submitted_text: `Your application for a DHOAS Subsidy Certificate has been <b>submitted</b>`,
    supporting_text: `<h2><b>What's next?</b></h2>
      <ul class="next-steps">
        <li>Your application for a DHOAS Subsidy Certificate will be processed within five business days.</li>
        <li>For more information about this scheme, visit the <a href="http://www.dhoas.gov.au" rel="external">DHOAS website</a>.</li>
      </ul>
    `
  }) %> 

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Back to home",
        link: "/auth"
      },
      {
        text: "See your claims",
        link: "/auth/claim"
      }
    ]
  }) %>

<%- include(templates+"footer") %>