<%- include(templates+"header", {
  claim: "DHOAS / SARF",
  heading: "Landing page",
  modifiers: ["noHeading", "noClaimInTitle"]
}) %>

  <h1>Defence Home Ownership Assistance Scheme</h1>
  <p>DHOAS provides eligible current and former serving members of the Permanent Force and the Reserves with a subsidy on the interest of their home loans.</p>

  <div class="tile-container margin-below--extra" style="margin-left: -10px;">
    <%- include(components+"tile", {
      tiles: [
        {
          title: "Application for a Subsidy Certificate",
          subtext: "Apply for subsidy certificate to assist with the interest of your home loan.",
          link: "/auth/claim/dhoas/asc1",
          icon: {
            icon: "fa-file-alt",
            size: "fa-3x",
            color: "#1057a7"
          }
        },
        {
          title: "Subsidy authorisation request form",
          subtext: "Authorise subsidy certificate to receive your subsidy payments.",
          link: "/auth/claim/dhoas/sar1",
          icon: {
            icon: "fa-file-signature",
            size: "fa-3x",
            color: "#1057a7"
          }
        }
      ]
    }) %>
  </div>

<%- include(templates+"footer") %>