<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Subsidy authoriation request | MyService</title>
  <% include ../../../../partials/head.ejs %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <% include ../../../../partials/header-topbar.ejs %>
  <% include ../../../../partials/header-nom-rep.ejs %>
  <main id="main-content">

    <div class="container">


      <h1 class="ss-align--center margin-above">
        <span class="heading">Before you get started</span>
      </h1>

      <p class="text-fullwidth ss-align--center">Confirm your contact details are correct.
        <br>This will ensure we can contact you about your&nbsp;request.<br><br>
        If these details are not correct, please <a href="auth/profile/contact">click here</a> to update.
      </p>

      <!-- <p class="text-fullwidth ss-align--center">You can update your contact details in
              <a href="/auth/profile-contact">My profile</a>
            </p> -->

            <div class="container margin-below--extra">
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

                  <div class="profile-table">
                    <div class="row profile-row">
                      <div class="col-sm-12 description-fields">
                        <div class="row">
                          <div class="col-sm-6 col-md-5 title-field">Name</div>
                          <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                            <span id="email-span"><span class="pt-current-user-name-full"></span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row profile-row">
                      <div class="col-sm-12 description-fields">
                        <div class="row">
                          <div class="col-sm-6 col-md-5 title-field">Home phone number</div>
                          <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                            <span id="email-span">61 2345 5678</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row profile-row">
                      <div class="col-sm-12 description-fields">
                        <div class="row">
                          <div class="col-sm-6 col-md-5 title-field">Mobile phone number</div>
                          <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                            <span id="email-span">0412 345 678</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row profile-row">
                      <div class="col-sm-12 description-fields">
                        <div class="row">
                          <div class="col-sm-6 col-md-5 title-field">Email address</div>
                          <div class="col-sm-6 col-md-7 uneditable email-uneditable-div">
                            <span id="email-span">rjohnson@email.com</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>
                      <span class="heading heading--spacer"></span>
                    </p>
                    <div class="row">
                     <h4>Additional contact details</h4>
                     <span class="hint">If you have additional contact details, please provide them here to assist us with contacting you about your application.</span>
                     <div class="margin-below"></div>
                     <div class="form-group">
                      <label class="uikit-text-input__label" for="work_phone">Work phone number <span class="hint">(optional)</span></label>
                      <input class="uikit-text-input input-half" name="work_phone" id="work_phone" type="text" value="" required="" aria-required="false">
                    </div>
                    <div class="form-group">
                      <label class="uikit-text-input__label" for="alternate_email">Alternate email address <span class="hint">(optional)</span></label>
                      <input class="uikit-text-input input-half" name="alternate_email" id="alternate_email" type="text" value="" required="" aria-required="false">
                    </div>
                    <div class="form-group">
                      <label class="uikit-text-input__label" for="fax_number">Fax number <span class="hint">(optional)</span></label>
                      <input class="uikit-text-input input-half" name="fax_number" id="fax_number" type="text" value="" required="" aria-required="false">
                    </div>
                     <p>
                      <span class="heading heading--spacer"></span>
                    </p>
                    <div class="form-group">
                      <label class="uikit-text-input__label" for="preferred_contact_number">Preferred Contact Number
                       <br />
                       <span class="hint display-block">Select preferred contact number</span>
                     </label>
                    <select aria-required="true" required class="uikit-text-input input-half" id="preferred_contact_number" name="preferred_contact_number">
                     <option>Preferred contact number</option>
                     <option>Home</option>
                     <option>Mobile</option>
                   </select>
                 </div>
               </div>
             </div>
            <!-- <div class="ss-align--center display-block padding-above padding-below">
                    <div class="display-inline-block">Name</div>
                    <div class="display-inline-block"><span class="pt-current-user-name-full"></span></div>
                  </div> -->

                </div>
              </div>
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 margin-above--extra">
                  <div class="pagination margin-above--extra">
                    <div class="floated">
                      <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/sar1'">Save and next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <% include ../../../../partials/claims-cancel-modal.ejs %>
          </div>

        </main>

        <% include ../../../../partials/footer.ejs %>


        <script>
    // Progress percentage
    $("#percentage").css("width", "5%");
    $("#percentage_value").val("5%");

    $("#work_phone").on("change", function() {
      if($("#work_phone").val() != "") {
        $("#preferred_contact_number").append("<option>Work</option>");
      } else {
        $("#preferred_contact_number option").last().remove();
      }
    });
  </script>

</body>

</html>