<%- include(templates+"header", {
  title: "Subsidy authorisation request | Declaration",
  heading: "Declaration"
}) %>

  <div class="declaration">
    <%- include(forms+"checkbox", {
      boxes: [
        "I agree to the following:"
      ],
      modifiers: ["noMargin"]
    }) %>
    <ol class="declaration__list">

      <li>I will advise DVA either on a "D9155 Notification of change in circumstances" form, or via email or phone, within a reasonable time
        from my becoming aware of
        any of the following:
        <ul>
          <li>A reasonably significant change to my loan agreement;</li>
          <li>A change that affects the way my service credit or tier level is worked out, including a change in my service status;</li>
          <li>Where there is a reasonably significant change to the house or a permanent improvement on the property detailed;</li>
          <li>Where I am undertaking building work, when I complete that building work;</li>
          <li>Where there is a change in my or my partner's ownership of the property detailed;</li>
          <li>Where my partner and I own the subsidised property detailed, and the partnership is dissolved;</li>
          <li>If I move out of my home within 12 months of subsidy commencing;</li>
          <li>If the house and/or land (excluding the common property associated with a strata or similar title property) starts being used,
            to a reasonably significant
            extent, for the purpose of carrying out a business, trade or profession.<BR /><BR />
            <strong>Note:</strong> Failure to advise any of the above may result in your subsidy being stopped.</li>

        </ul>
      </li>
      <li>Giving false information is a serious offence and may be prosecuted under section 137 of the Criminal Code Act 1995. I declare that
        the information given in
        this form and any other attached document is complete and correct.</li>
      <li>I consent to the disclosure and use of personal information as notified in the Privacy Notification and Consent section of the
        application for Subsidy
        Certificate form.</li>
      <li>I will advise if any of the above declarations made in anticipation are not subsequently confirmed during the home purchase and
        loan processes.</li>
    </ol>
  </div>
 
   <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/dhoas/sar4"
      },
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Save and review",
        link: "/auth/claim/dhoas/sar6",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>
