<%- include(templates+"header", {
  claim: "Subsidy authorisation request",
  heading: "Declaration"
}) %>

  <%- include(components+"review-submit", {
    claim_title: "Subsidy authorisation request",
    modifiers: ["marginAbove", "marginBelow"],
    categories: [
      {
        title: "Property and loan details",
        edit_url: "/auth/claim/dhoas/sar1",
        data: [
          {
            q: "Address of mortgaged and subsidised property:",
            a: "42 Wallaby Way, Sydney, 2600, NSW"
          },
          {
            q: "Is your postal address different to the subsidised property address?",
            a: `Yes
                <ul>
                  <li>Using PO Box</li>
                </ul>`
          },
          {
            q: "Do you want your correspondence address updated to this property address from the date you will begin occupancy?",
            a: "No"
          }
        ]
      },
      {
        title: "Property details",
        edit_url: "/auth/claim/dhoas/sar2",
        data: [
          {
            q: "I declare that I am using this home loan solely to:",
            a: "Purchase a new home"
          },
          {
            q: "I declare that:",
            a: "I own/will own a 100% interest in the property"
          },
          "Loan account details",
          {
            q: "Account name",
            a: "Joe S Bloggs"
          },
          {
            q: "BSB",
            a: "195 911"
          },
          {
            q: "Account number",
            a: "195 591 591"
          }
        ]
      },
      {
        title: "Occupancy",
        edit_url: "/auth/claim/dhoas/sar3",
        data: [
          {
            q: "I declare that:",
            a: "I (or I and my dependent/s) will be occupying the property"
          },
          {
            q: "My DHOAS loan settlement/expected settlement date on the property is:",
            a: "19 / 05 / 2019"
          },
          {
            q: "I understand that I (or my dependant/s) must occupy the subsidised property for 12 months from the commencement of subsidy payments.",
            a: "Yes"
          },
          {
            q: "Do you currently hold a posting order which will prevent you from meeting the 12 month occupancy requirement?",
            a: "No"
          },
          {
            q: "Will the land or any building on the land be used for the purpose of carrying on a business, trade or profession?",
            a: "No"
          }
        ]
      },
      {
        title: "Lump sum request",
        edit_url: "/auth/claim/dhoasc/sar4",
        data: [
          {
            q: "Have you requested the lump sum on your current Subsidy Certificate?",
            a: "No"
          },
          {
            q: "Would you like to you check your eligibility for a lump sum payment?",
            a: "Yes"
          },
          {
            q: "Do you expect to leave the ADF within 12 months of your subsidy payment being authorised?",
            a: "No"
          },
          {
            q: "While serving in the ADF have you, or you and your co-owner/borrower, previously owned a 50% or greater stake in a home, either to live in or for an investment?",
            a: "No"
          },
          {
            q: "Would you like to request a lump sum payment?",
            a: "Yes"
          },
          {
            q: "How much of your total entitlement would you like to request as a lump sum?",
            a: "I would like to request the maximum amount available"
          },
          {
            q: `I acknowledge and agree with the following statements:
            <ol>
              <li>I acknowledge that the Scheme Administrator or the Department of Defence may recover an amount equal to my lump sum subsidy payment if I cease to be a member of the ADF within 12 months after payment is authorised.</li>
              <li>I also agree that my eligibility for the lump sum payment will be reassessed at payment commencement time.</li>
            </ol>`,
            a: "Yes"
          }
        ]
      },
      {
        title: "Declaration",
        edit_url: "/auth/claim/dhoas/sar5",
        data: [
          {
            q: "I agree to the declaration",
            a: "Yes"
          }
        ]
      }

    ]
  }) %>

   <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/dhoas/sar4"
      },
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Submit application",
        link: "/auth/claim/dhoas/sar7",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>
