<%- include(templates+"header", {
  title: "Subsidy authorisation request",
  heading: "Declaration"
}) %>

          <table class="cover-detail margin-above">
            <caption class="padding-below">Property and loan details
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar1'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>Address of mortgaged and subsidised property:</th>
                <td>
                  41 Evergreen Street, Sydney 2600, NSW
                </td>
              </tr>
              <tr>
                <th>Is your postal address different to the subsidised property address?</th>
                <td>
                  Yes
                  <p style="margin-left: 1em;">Using PO box</p>
                </td>
              </tr>
              <tr>
                <th>Do you want your correspondence address updated to this property address from the date you will begin occupancy?</th>
                <td>No</td>
              </tr>
            </tbody>
          </table>


          <table class="cover-detail margin-above">
            <caption class="padding-below">Loan settlement date
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar1'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>My DHOAS loan settlement/expected settlement date on the property is: </th>
                <td>
                  05/05/1999
                </td>
              </tr>
              <tr>
                <th>Loan account details</th>
                <td>
                  <ul>
                    <li>Account name: Joe S Bloggs</li>
                    <li>BSB: 195 911</li>
                    <li>Account number: 195 591 591</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="cover-detail margin-above">
            <caption class="padding-below">Declaration of interest in the property
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar2'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>In relation to this property I declare that:</th>
                <td>
                  The remaining interest is owned/will be owned by another person/s
                  <ul>
                    <li>Frank Sinatra, Brother</li>
                    <li>John Smith, Father</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="cover-detail margin-above">
            <caption class="padding-below">Use of loan
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar2'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>I declare that I am using the home loan subject to this application solely for:</th>
                <td>
                  Purchase a new home
                </td>
              </tr>
            </tbody>
          </table>

          <table class="cover-detail margin-above">
            <caption class="padding-below">Occupancy of the property
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar3'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>Occupancy requirement: </th>
                <td>
                  I (or I and my dependent/s) currently occupy the property as of 19/05/1999
                </td>
              </tr>
              <tr>
                <th>I declare that: </th>
                <td>
                  I understand that I (or my dependant/s) must occupy the subsidised property for 12 months from the commencement of subsidy payments for this application for
                  Subsidy
                  Certificate.
                </td>
              </tr>
              <tr>
                <th>I declare that: </th>
                <td>
                  I will be carrying on a business, trade or profession on the land or any building on the land of the following nature:<br>
                  <p style="margin-left: 1em;">A reason to have a business on the property</p>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="cover-detail margin-above">
            <caption class="padding-below">Posting order
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar4'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>Do you currently hold a posting order which will prevent you from meeting the 12 month occupancy requirement?</th>
                <td>
                  Yes
                  <p style="margin-left: 1em;">A reason for a posting order</p>
                </td>
              </tr>
          </table>

          <table class="cover-detail margin-above">
            <caption class="padding-below">Lump sum
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar4'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>Have you requested the lump sum on your current Subsidy Certificate?</th>
                <td>
                  No
                </td>
              </tr>
              <tr>
                <th>Do you want to make an application for a lump sum now?</th>
                <td>
                  Yes
                </td>
              </tr>
              <tr>
                <th>Lump sum eligibility:</th>
                <td>
                  Eligible
                </td>
              </tr>
              <tr>
                <th>How much of your entitlement do you want to receive as a lump sum?</th>
                <td>
                  I would like to convert 5 months into a lump sum payment.
                </td>
              </tr>
              <tr>
                <th>You must agree with the following before your lump sum payment request can be submitted</th>
                <td>
                  Agree
                </td>
              </tr>
          </table>

          <table class="cover-detail margin-above">
            <caption class="padding-below">Declaration
              <button class="uikit-btn uikit-btn--tertiary floated small" onclick="window.location.href = '/auth/claim/dhoas/sar5'">Change</button>
            </caption>
            <tbody>
              <tr>
                <th>I agree to the declaration:</th>
                <td>
                  Yes
                </td>
              </tr>
          </table>

   <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Previous",
        link: "/auth/claim/dhoas/sar4"
      },
      {
        text: "Cancel application",
        link: "#open-modal"
      },
      {
        text: "Save and exit",
        link: "/auth/claim",
        modifiers: ["floated"]
      },
      {
        text: "Submit application",
        link: "/auth/claim/dhoas/sar7",
        modifiers: ["floated", "primary"]
      }
    ]
  }) %>

<%- include(templates+"footer") %>
