<%- include(templates+"header", {
  title: "Submitted | Subsidy authorisation request"
}) %>

  <div class="claim-end">
    <div class="pt-claim-type--normal">
      <div class="margin-above ie-success-animation">
        <img src="/docs/images/ico-tick-green-outline.svg" alt="Success tick icon">
      </div>
      <div class="margin-above submitted-animation">
        <%- include(partials+"components/animations/submitted") %>
      </div>
      <div class="cantered-item transition-content transition-content--open pt-claim-animation-start">
        <h1>We're submitting your application for a Subsidy Authorisation Request</h1>
      </div>
    </div>
    <div class="transition-content pt-claim-animation-end margin-below--extra">
      <div class="pt-claim-type--normal">
        <h1 class="cantered-item">Your application for a Subsidy Authorisation Request has been
          <span class="font-weight-heavy"> submitted</span>
        </h1>
      </div>
      <hr class="orange-divider">
      <div class="container">
        <h3>You will receive an outcome by email within 5 business days.</h3>
        <p class="margin-below--none">If you do not hear from us within this time you can contact us on
          <a href="tel:1300434627">1300 434 627</a>.</p>
        <br>
        <p>For more information about this scheme, visit the
          <a href="http://www.dhoas.gov.au" rel="external">DHOAS website</a>.
        </p>
      </div>
    </div>
  </div>

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Update profile",
        link: "/auth/profile"
      },
      {
        text: "See your claims",
        link: "/auth/claim"
      }
    ]
  }) %>

  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

  </script>

<%- include(templates+"footer") %>