<%- include(templates+"header", {
  claim: "Subsidy authorisation request",
  heading: "Submitted",
  modifiers: "noHeading"
}) %>

  <%- include(forms+"submitting", {
    type: "submitted",
    submitting_text: "We're submitting your application for a Subsidy Authorisation Request",
    submitted_text: `Your application for a Subsidy Authorisation Request has been <b>submitted</b>`,
    supporting_text: `<h3><b>You will receive an outcome by email within 5 business days.</b></h3>

    <p class="margin-below--none">If you do not hear from us within this time you can contact us on <a href="tel:1300434627">1300 434 627</a>.</p>
    <p>For more information about this scheme, visit the <a href="http://www.dhoas.gov.au" rel="external">DHOAS website</a>.</p>
    `
  }) %> 

  <%- include(forms+"pagination", {
    pagination: [
      {
        text: "Update profile",
        link: "/auth/profile"
      },
      {
        text: "See your claims",
        link: "/auth/claim"
      }
    ]
  }) %>

  <script>
    var timeDelay = 3000;
    setTimeout(
      function () {
        $(".pt-claim-animation-start").toggleClass("transition-content--open");
        $(".pt-claim-animation-end").toggleClass("transition-content--open");
      }, timeDelay);

  </script>

<%- include(templates+"footer") %>